[2021-08-30 08:19] thisisbillall commented on #7736
@mariobehling  please assign me this !

[2021-08-30 08:20] thisisbillall commented on #7736
I am working on it recently join @fossasia

[2021-08-30 13:02] progmatic-99 commented on #7735
In the event-wizard, instead of `Slides` I get this:
![ss_1630328343](https://user-images.githubusercontent.com/42090582/131342957-e79ede6e-29d3-45de-bdaf-5bf98a987732.png)

In the `session edit section`, when  I change `Test Slide` to `required`:
![ss_1630328282](https://user-images.githubusercontent.com/42090582/131343071-b3e6991f-6736-4778-8dd7-11bd6e2d54d5.png)

[2021-08-30 23:47] rolandturner commented on #7041
A popup would be a reasonable example of a special page, certainly. The important ideas are:
- Intoducing a person in public with a name that was chosen without their awareness is an astonishingly bad idea, particularly when they're speaking at a conference.
- Dumping them into the existing profile page without explanation would not be helpful.
- The inserted interaction should be stripped to the

[2021-08-31 00:52] AbhishekJamhoriya commented on #7735
@mariobehling can i work on this issue.

[2021-08-31 00:53] AbhishekJamhoriya commented on #7727
@mariobehling can i work on this issue.

[2021-08-31 13:43] #7727 closed

[2021-09-01 20:00] progmatic-99 commented on #7041
Possible duplicate of #7593

[2021-09-01 22:09] mariobehling opened #7751 "Cannot add Vimeo or Youtube Videos to Rooms"
Adding Vimeo or Youtube to Video rooms is currently giving an error message. Please help to resolve this.

Test with adding any Vimeo or Youtube video e.g. https://vimeo.com/591377241

![Screenshot from 2021-09-02 00-04-44](https://user-images.githubusercontent.com/1583873/131751638-2203de68-6e89-446f-85f7-16e777ef0b07.png)

[2021-09-02 06:21] #7736 closed

[2021-09-02 06:44] #7751 closed

[2021-09-02 13:56] mariobehling commented on #7735
Please join the weekly meeting to discuss this.

[2021-09-02 14:43] progmatic-99 opened #7753 "View button should not appear on Create Group Page"
**Describe the bug**

View button should not be there when user is creating  a group.
![ss_1630593620](https://user-images.githubusercontent.com/42090582/131864575-4d73e7d9-56f4-4499-8db2-75d2ed995e96.png)

[2021-09-03 13:48] mariobehling opened #7757 "In Postcodes starting with Zero the Zero gets deleted"
In some countries postcodes start with zero. These leading zeros get deleted at a number of places where we store postcodes.

Please ensure the leading zero in postcodes does not get deleted, e.g. at the following places:
* Tax info
* Ticket order address info
* Invoices

![unnamed (1)](https://user-images.githubusercontent.com/1583873/132015725-eb2da8a8-2a03-48a7-a69c-3fb007651927.png)

[2021-09-03 13:57] mariobehling opened #7758 "Add option "Purchase on invoice" to Offline Purchase Methods"
Similar to the payment method "Pay by Cheque" please implement the option "Purchase on invoice". Add the option in the same way as pay by Cheque and add it to the following areas:
* wizard step 1 in the area payment options
* if option is chosen provide it in the order payment methods of tickets
* show the payment methods on the order summary pages
* show the payment methods on the invoice PDFs
*

[2021-09-03 14:11] #7753 closed

[2021-09-04 18:45] mariobehling commented on #7664
Clicking a tab when a user is on the followers page is still not possible.

[2021-09-05 07:38] mariobehling commented on #7735
This is related to two PRs where this was changed recently by @ranjitkshah: 1. https://github.com/fossasia/open-event-server/pull/8081 2: https://github.com/fossasia/open-event-frontend/pull/7596

[2021-09-06 09:57] mariobehling opened #7761 "Groups: Thumbnail images and groups page header images are too big"
The thumbnail images and groups page header images are huge. They are not downscaled like other images, e.g. on the front page. Images here are in the original size that people upload them, e.g. if anyone uploads a 6MB image that image will appear. In other areas of the system we use the thumbnail version of images. This should be used here as well and the top image should also be a downscaled ima

[2021-09-06 19:16] #7677 closed

[2021-09-09 03:34] Subhradeep10 opened #7769 "No Hover Animation is there"
**Is your feature request related to a problem? Please describe.**
The front-end just look like a static website,that's why thought of creating something interesting.

**Describe the solution you'd like**
I will create hover animation

**Describe alternatives you've considered**
Will create transition of the images

**Additional context**

[2021-09-09 17:13] toth2000 commented on #7761
Can I work on this issue?

[2021-09-09 17:14] toth2000 commented on #7758
I would like to work on this issue.

[2021-09-09 18:23] progmatic-99 commented on #7735
As the migration in this [PR](https://github.com/fossasia/open-event-server/pull/8081) wasn't done properly or the `slides_url` was not removed, as it still appears in a lot of places in the backend. Due to that `Slides` is appearing `Test Slide` in **sessions-speakers form**, so we have two solutions:-
+ Redo the migrations and remove slides_url from everywhere in the code, which can introduce  a

[2021-09-09 19:19] pc-beast commented on #7761
@toth please do not spam on issues. You can claim the issue and start working on the issue. If you do not follow up with updates on the issue others I claim it then. Claim one issue at a time.

[2021-09-10 18:03] pc-beast commented on #7769
Not needed. @mariobehling

[2021-09-11 08:24] mariobehling opened #7775 "Adding Jitsi Video not possible"
Currently when the user tries to add a Jitsi room there is an error message and the room cannot be added.

![Screenshot from 2021-09-11 10-23-22](https://user-images.githubusercontent.com/1583873/132941607-9791d51f-b03b-4b94-8b42-b04e9d06a486.png)

[2021-09-11 23:51] daretobedifferent18 commented on #7775
@mariobehling I have checked this and was unable to produce this error, pls could you confirm this bug still present.

[2021-09-12 20:40] mariobehling commented on #7664
Still cannot access tabs when the user is on the teams tab.

[2021-09-13 08:41] mariobehling commented on #7775
It is correct. It is working again. Strange. Wonder why this error appeared.

[2021-09-13 08:41] #7775 closed

[2021-09-13 08:41] #7769 closed

[2021-09-13 08:53] mariobehling opened #7778 "Fix and Improve Registration Box Design"
1. Get rid of brackets. They even show up when there is no description
![Screenshot from 2021-09-13 10-39-00](https://user-images.githubusercontent.com/1583873/133053831-6ecb3d79-257a-41a3-b045-7fea10307a95.png)

2. Improve the design and make it more similar to the below screenshot.
![Screenshot from 2021-08-25 15-17-25](https://user-images.githubusercontent.com/1583873/130799111-552d8bea-4689-4d

[2021-09-13 09:05] mariobehling opened #7779 "Empty error box appears during registration process"
When ordering a ticket using the registration option an empty red error box appears during the order process on the bottom right. It appears even if there is no error.

![Screenshot from 2021-09-13 11-03-35](https://user-images.githubusercontent.com/1583873/133056130-c4592c09-4d5e-4eef-8e5a-3cbe7fa48281.png)

[2021-09-13 14:05] daretobedifferent18 commented on #7779
working on it

[2021-09-13 15:53] mariobehling opened #7780 "Attendee Checkin drop down not working"
The attendee checkin dropdown is not working, in particular when there is only one event day there is no menu choice.

![Screenshot from 2021-09-13 17-48-31](https://user-images.githubusercontent.com/1583873/133116167-4d72789c-d382-4d27-85ab-813db0a0c4d0.png)

This is related to the PRs https://github.com/fossasia/open-event-server/pull/8056 and https://github.com/fossasia/open-event-frontend/pull

[2021-09-13 15:58] daretobedifferent18 commented on #7779
@mariobehling this is coming because the box that should have been printed is e.response.errors[0].detail but when this error is thrown e.response is null which is the reason this box appears to be empty.
![Screenshot from 2021-09-13 21-06-55](https://user-images.githubusercontent.com/71120226/133117185-3b6fdd84-28f7-41af-ba7a-5666795c53a6.png)

[2021-09-13 16:13] daretobedifferent18 commented on #7778
working on it

[2021-09-13 18:25] adarsh-technocrat commented on #7780
Hey @mariobehling  can I work on this issue :)

[2021-09-13 21:55] daretobedifferent18 commented on #7758
working on it

[2021-09-14 05:47] mariobehling opened #7788 "Create a "Group Widget" on the right side bar of events"
For events that are part of a group create a widget with the following:
1. Row: Logo of group, name of group
2. Row: a blue button "Follow" and Number of followers
* There could be a gray line around the widget area or some other UI element to make it separate
* If the user has already followed that group instead of "Follow Group" show "Following"-
Example button

![Screenshot from 2021-09-14 07-2

[2021-09-14 06:04] mariobehling opened #7789 "Groups Team Page shows Team Members of other Groups"
The groups page of one group shows the team members of other groups too. Refreshing the page suddenly does not show team members of other groups anymore.

Link structure https://eventyay.com/groups/ - ID - /team

![Screenshot from 2021-09-14 08-02-33](https://user-images.githubusercontent.com/1583873/133203527-b1ff23d9-fe09-42a9-ac55-016026e92292.png)

This should also be taken care of on the side

[2021-09-14 12:14] #7664 closed

[2021-09-14 13:50] aman-singh7 commented on #7788
working on it.

[2021-09-14 14:06] iamdevvalecha commented on #7758
on it.

[2021-09-15 05:50] rolandturner commented on #7041
I'd suggest that #7593 is a dup of this ticket :-) But, sure, it's the same concern, and the newer ticket is more prescriptive.

[2021-09-15 16:49] khareyash05 opened #7795 "make navbar sticky"
Making the navbar sticky would allow easy accesibility to any page at any time
We can make the navbar a slightly more translucent when a person scrollls downs the website

[2021-09-16 04:47] tanay123456789 commented on #7795
working on it

[2021-09-16 06:22] pc-beast commented on #7795
Not Needed.

[2021-09-16 12:18] tanay123456789 commented on #7795
why??

[2021-09-16 13:09] khareyash05 commented on #7795
@tanay123456789 I have made the issue for myself so kindly stop working

[2021-09-16 13:54] #7779 closed

[2021-09-17 05:07] #7795 closed

[2021-09-17 09:54] mariobehling opened #7799 "Registration: Tax for paid tickets wrong"
Creating paid registrations works well, but if the organizer adds tax the tax shows up as 0.00. This feature works for the tickets though. Please fix this and move the tax information below the price (same as it works for tickets).

![Screenshot from 2021-09-17 11-42-02](https://user-images.githubusercontent.com/1583873/133763966-f7fb54a7-a941-42ab-b52e-5347f7331bfc.png)
![Screenshot from 2021-09-

[2021-09-17 10:30] daretobedifferent18 commented on #7788
working on it

[2021-09-17 16:42] AnkitaSinghIE commented on #7799
Can I go with that issue??

[2021-09-18 05:47] pc-beast commented on #7780
@adarsh-technocrat what is update on the issue?

[2021-09-18 15:23] #7799 closed

[2021-09-19 10:39] iamdevvalecha commented on #7780
on it.

[2021-09-19 17:29] #7778 closed

[2021-09-19 18:03] mariobehling opened #7806 "Prevent Ticket Types and Registrations with Orders from Deletion"
Ticket types and registrations can currently be deleted even if they have orders. Please prevent them from deletion and implement the following:
If an organizer tries to delete a ticket or registration from deletion show an error pop up: "This ticket or registration type already has orders. Therefore it cannot be deleted. Please hide this type instead by using the hide option under the settings sy

[2021-09-19 18:05] mariobehling commented on #7593
This issue is lower priority compared to others and we already have two PRs that we can follow up on.

[2021-09-19 18:20] mariobehling commented on #7687
Seems to be working in my tests. Therefore closing it for now. Need to keep testing though in case it just appears in some circumstances.

[2021-09-19 18:20] #7687 closed

[2021-09-19 18:22] mariobehling commented on #7789
Duplicate of https://github.com/fossasia/open-event-frontend/issues/7669

[2021-09-19 18:22] #7789 closed

[2021-09-19 18:39] mariobehling opened #7809 "Registrations: Move tax info below price"
The tax is currently not below the actual price. Please move it there. Show it similarly to how it is displayed for ticket buyers (here we are looking at registrations).

![Screenshot from 2021-09-19 20-35-47](https://user-images.githubusercontent.com/1583873/133938960-13bd3c23-add1-41bf-a202-90ea665567ba.png)
![Screenshot from 2021-09-19 19-52-04](https://user-images.githubusercontent.com/1583873

[2021-09-19 18:50] mariobehling opened #7810 "Changing tax from "included" to "on top" for ticketed events not updated"
If a tax fee is changed from "Include tax" to "Add tax as a separate fee on top of the price" the actual event ticket page and price is not updated.

This problem only seems to appear for ticketed events (not for registration events)

Compare https://test.eventyay.com/e/554ef820

![Screenshot from 2021-09-19 20-49-02](https://user-images.githubusercontent.com/1583873/133939273-3cea96b8-d4b8-4ba1-b

[2021-09-19 18:55] mariobehling opened #7811 "For events with tax included show actual tax in the tax column"
For events with tax included show actual tax in the tax column instead of "The price is inclusive of all taxes.".

![Screenshot from 2021-09-19 20-43-16](https://user-images.githubusercontent.com/1583873/133939431-77945a4a-41a9-4fee-8d34-e1d6d00f7fa4.png)

It should show
![Screenshot from 2021-09-19 20-53-58](https://user-images.githubusercontent.com/1583873/133939438-4bfc55b4-33dd-411b-921f-d70bf

[2021-09-19 19:02] mariobehling opened #7812 "On order pages show Subtotal and Tax line"
On order pages the order summary does not show subtotal and tax in the summary line. Please copy the exact solution from the ticket section on the event page and show the Subtotal and Tax line as well.

**The order page looks like that**

![Screenshot from 2021-09-19 20-58-54](https://user-images.githubusercontent.com/1583873/133939596-f13908d9-8a38-4f8d-9c18-ee072fbf1cbc.png)

**The event page wi

[2021-09-19 19:06] #7811 closed

[2021-09-19 19:08] mariobehling opened #7813 "Orders page: Delete "Tax" column and show tax info below ticket price"
The tickets section on the event page has a clear way of showing the tax per ticket. Show it in the same way on the orders page.

On the orders page delete "Tax" column and show tax info below ticket price same as on the ticket section of the event page.

**Currently**
![Screenshot from 2021-09-19 21-05-37](https://user-images.githubusercontent.com/1583873/133939793-0568574c-acb8-47b5-a2a3-cf75675

[2021-09-19 20:21] mariobehling opened #7814 "Change text of Subtotal, included and Grand Total"
On the ticket section and on the orders page place change the text as shown in the red ink in the below screenshot.

![Screenshot from 2021-09-19 22-16-01](https://user-images.githubusercontent.com/1583873/133941856-62233fed-0fa0-499d-a8cc-e55361c2f7d3.png)

[2021-09-19 20:43] mariobehling opened #7815 "Ticket Section: Donation ticket does not show tax"
When entering an amount for a donation ticket or registration the tax (included, or on top) is not updated. Expected: When the user chooses the number of donation tickets or the registration update the tax amount.

![Screenshot from 2021-09-19 22-40-53](https://user-images.githubusercontent.com/1583873/133942445-0b07a872-901a-4391-902b-e178d1c71c51.png)

[2021-09-19 20:47] mariobehling opened #7816 "Box to enter amount for donation registration missing"
When the organizer chooses the option "donation" for a registration the user will not see a box to enter an amount. Please show a box same as for "donation tickets" for the "donation registration".

**Currently there is no box to enter an amount**
![Screenshot from 2021-09-19 22-39-15](https://user-images.githubusercontent.com/1583873/133942481-f2a4a3aa-3b02-4a18-9a62-ef697665c9ef.png)

**It shoul

[2021-09-19 20:49] mariobehling opened #7817 "Change color of "Order" button on registration events to the standard blue"
The order now button on registration events has an usual color. Please change it to the blue color which is used on other buttons.

Compare https://test.eventyay.com/e/a27e679d
![Screenshot from 2021-09-19 22-48-46](https://user-images.githubusercontent.com/1583873/133942615-6b15baf5-c1f0-4659-bba7-6a7cd34abebf.png)

[2021-09-19 23:35] daretobedifferent18 commented on #7816
working

[2021-09-20 01:44] #7817 closed

[2021-09-20 05:13] daretobedifferent18 commented on #7806
working on it

[2021-09-20 08:55] #7816 closed

[2021-09-20 08:57] #7813 closed

[2021-09-20 08:57] #7812 closed

[2021-09-20 09:04] mariobehling opened #7822 "Do not show Deleted Registration types on event page"
The registration box on the event page currently shows empty boxes for the deleted registration types. Only show boxes of active types.

![Screenshot from 2021-09-20 11-01-58](https://user-images.githubusercontent.com/1583873/133978648-f652085a-9173-4ac0-ad89-a610b5c00dbf.png)

[2021-09-20 09:44] pc-beast commented on #7822
Working on it

[2021-09-20 15:53] maze-runnar commented on #7788
@daretobedifferent18 are you still on it, or working on another issue?

[2021-09-20 16:35] maze-runnar commented on #7788
@mariobehling is this ok -
![Screenshot from 2021-09-20 22-04-05](https://user-images.githubusercontent.com/56407566/134039955-e239039b-a693-4b4c-ab82-53c6fdb56ae6.png)
![Screenshot from 2021-09-20 22-04-09](https://user-images.githubusercontent.com/56407566/134039960-f69ca7bc-8d7b-4238-968d-b448b390716b.png)

[2021-09-20 16:51] pc-beast commented on #7822
Couldn't reproduce. I think I am missing something here.
#### Before:
![Screenshot from 2021-09-20 22-10-41](https://user-images.githubusercontent.com/56963647/134042040-43602a7b-6c2f-4994-89e3-f14b98f4bf8f.jpg)

#### After:
![image](https://user-images.githubusercontent.com/56963647/134041747-33f7547b-35ab-454a-8b58-7079f99f2f67.png)

[2021-09-20 17:03] pc-beast opened #7824 "Tax is not showing in price"
**Describe the bug**

Tax info for the price is not showing up while we buy tickets even after adding tax info in the event.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create new event
2. Add Paid ticket
3. Add tax info
![image](https://user-images.githubusercontent.com/56963647/134043383-ddad63de-24ba-411e-b8a2-d0c87f2102e6.png)
4. Publish the event and go to event page.
5. See error.

[2021-09-20 18:54] daretobedifferent18 commented on #7788
Yes @maze-runnar I am working, took time to setup server project.

[2021-09-21 01:33] maze-runnar commented on #7788
ok @daretobedifferent18 , just waiting for @mariobehling to confirm if this design is ok or not.

[2021-09-21 02:12] #7809 closed

[2021-09-21 02:12] #7814 closed

[2021-09-21 02:12] #7815 closed

[2021-09-21 02:35] #7735 closed

[2021-09-21 03:06] maze-runnar commented on #7780
@mariobehling this issue should be in past events, the event created before PR https://github.com/fossasia/open-event-frontend/pull/7623 was merged?

[2021-09-21 05:38] #7806 closed

[2021-09-21 11:21] #7716 closed

[2021-09-21 14:37] pc-beast opened #7835 "Tax is not being calculated properly while ordering tickets"
**Describe the bug**
If we buy paid tickets of more than one type, the tax on orders page shows 0.00 for all tickets. There is probably some calculation issue in tax system.

![Screenshot from 2021-09-21 19-35-25](https://user-images.githubusercontent.com/56963647/134191387-669d99c2-3542-42b7-ad24-418a7dd8507a.jpg)

[2021-09-21 18:24] #7822 closed

[2021-09-22 04:12] daretobedifferent18 commented on #7835
working on it

[2021-09-22 05:17] daretobedifferent18 commented on #7835
working on it

[2021-09-22 11:52] daretobedifferent18 commented on #7824
working on it

[2021-09-22 16:42] maze-runnar commented on #7810
I debugged the issue. the problem comes only when we create a tax for first time after event creation, and edit it for first time. From second time and onwards editing tax works perfectly. https://github.com/fossasia/open-event-frontend/issues/4385

[2021-09-22 17:54] daretobedifferent18 commented on #7824
working on it

[2021-09-23 03:38] mariobehling commented on #7835
Not yet solved. Compare to https://test.eventyay.com/e/554ef820

[2021-09-23 05:46] daretobedifferent18 commented on #7835
@mariobehling This porblem is not showing on localsystem.
I think there is some problem in new changes been merges not properly deplying or maybe not deployed to
https://eventyay.com/

bcz the changes made in PR #3820 is also not showing (below ScreenShot).
![Screenshot from 2021-09-23 11-12-11](https://user-images.githubusercontent.com/71120226/134459583-75f5d42b-796d-4840-ad21-daf93d17cda8.png)

[2021-09-23 13:57] mariobehling commented on #7835
Still missing the currencies, e.g. USD, Euro, INR in the tax area, but the calculation works!

![Screenshot from 2021-09-23 15-55-51](https://user-images.githubusercontent.com/1583873/134520506-581075c2-b3a1-4ebb-a93c-a3649b359545.png)

[2021-09-23 15:20] mariobehling commented on #7780
It seems like this is working on new events. Therefore closing it.

[2021-09-23 15:20] #7780 closed

[2021-09-23 15:54] mariobehling commented on #7757
This error still persists specifically in the "Company Information" widget on the right-hand side of orders.

Compare event https://eventyay.com/e/e02cbf16

![Screenshot from 2021-09-23 17-50-44](https://user-images.githubusercontent.com/1583873/134541319-00ce059b-e84a-4413-bb9b-edcb0321c933.png)

[2021-09-23 15:56] mariobehling commented on #7757
Ok, found the problem. The zero got deleted before and if the user fills it in manually now again it will work.

[2021-09-23 15:56] #7757 closed

[2021-09-24 04:24] mariobehling opened #7850 "Admin Groups Page does not show Group Name"
The table on the admin groups page does not display the name of groups. Please help to fix this.

The linke https://eventyay.com/admin/groups/live is only accessible for admins. You need to set up the system and access the respective area on your own setup in order to see this issue.

![Screenshot from 2021-09-24 06-22-12](https://user-images.githubusercontent.com/1583873/134617896-b4cd23b1-2ace-4

[2021-09-24 04:31] mariobehling opened #7851 "Groups admin page: Public URL fields display link to private edit URL"
The public URL field shows and links to the private URLs to edit the events of a group. Expected: Link to the public group URL.

Compare https://eventyay.com/admin/groups/live (This page is only accessible for admins. In order to view this page please set up the system on your local machine and access the respective slug there)
![Screenshot from 2021-09-24 06-28-57](https://user-images.githubuserc

[2021-09-24 04:53] mariobehling opened #7852 "Public Groups Page: Contact Organizer button not working"
The contact organizer button in public groups pages is not working. Nothing happens when clicking it.

Compare https://eventyay.com/g/47
![Screenshot from 2021-09-24 06-52-00](https://user-images.githubusercontent.com/1583873/134620162-198e3f96-cd17-4e77-b6d7-8ce5b2b8fdfa.png)

[2021-09-24 05:20] progmatic-99 commented on #7852
This is working for me.

![ss_1632460804](https://user-images.githubusercontent.com/42090582/134622359-1822aa51-268c-4d56-b30a-052c3a02da16.png)

[2021-09-24 05:32] pc-beast commented on #7850
Working on it

[2021-09-24 05:38] daretobedifferent18 commented on #7824
@pc-beast @mariobehling this is working fine for me

[2021-09-24 05:40] daretobedifferent18 commented on #7851
Looking into it

[2021-09-24 08:09] progmatic-99 opened #7855 "Change API_HOST"
API_HOST should be set to https://test-api.eventyay.com by default in .env.example file

[2021-09-24 10:24] progmatic-99 commented on #7810
@maze-runnar So, this should be closed, or we should implement a workaround??

[2021-09-24 12:32] mariobehling commented on #7852
I am getting lots of errors and I am not able to use the contact button in both Chromium and Firefox.

![Screenshot from 2021-09-24 14-32-08](https://user-images.githubusercontent.com/1583873/134674745-1a1d4666-6c4c-432a-a2ff-1da653f778ce.png)

[2021-09-24 12:33] mariobehling commented on #7852
[code]

[2021-09-24 12:55] #7851 closed

[2021-09-24 12:56] #7835 closed

[2021-09-24 13:19] progmatic-99 commented on #7852
clear the browser cache and delete history, then try. Maybe it will work.

[2021-09-24 13:33] maze-runnar commented on #7810
I am working on its solution, but not sure will work or not.

[2021-09-24 15:39] #7855 closed

[2021-09-24 15:41] maze-runnar commented on #7852
working for me too -
![Screenshot from 2021-09-24 21-11-06](https://user-images.githubusercontent.com/56407566/134702995-04a79d49-5ec6-487a-95e7-562b2d5ca16c.png)

[2021-09-24 16:58] pc-beast commented on #7852
Works for me too

[2021-09-25 07:18] #7676 closed

[2021-09-25 07:23] hpdang opened #7860 "Direct Link to a Session does not work without log-in"
**Describe the bug**
When I shared the direct link to the public https://eventyay.com/e/75ac7f83/session/7236
It showed 404 errors for those who did not log in.

![Screenshot from 2021-09-25 09-19-44](https://user-images.githubusercontent.com/1658742/134762814-becab4bd-9489-43b7-9212-a6d0765b830d.png)

**To Reproduce**
Steps to reproduce the behaviour:
1. Do not log-in
2. Go to 'https://eventyay.c

[2021-09-25 07:59] #7788 closed

[2021-09-25 08:01] #7691 closed

[2021-09-25 08:15] mariobehling commented on #7852
Ok, deleting cache worked for this one, but still finding similar issues with follow button. Will test more and report it. Thanks.

[2021-09-25 08:15] #7852 closed

[2021-09-25 08:20] #7850 closed

[2021-09-25 09:18] mariobehling opened #7861 "Organizer Ticket Overview Page: Missing Currency for Sales"
On the organizer ticket overview page the sales number is missing the currency. If the sales are 0.00 there should be no currency. If there are sales, then there should be a currency.

![Screenshot from 2021-09-25 10-56-02](https://user-images.githubusercontent.com/1583873/134766411-81f471fb-0219-438f-aa62-d8f96ba94121.png)

[2021-09-25 09:31] maze-runnar commented on #7860
looking into it

[2021-09-25 09:39] mariobehling opened #7862 "Standardize group follow/unfollow button"
Please change the group follow/unfollow button on group pages to match the design of the button on event pages. Merge the two buttons on the group page into one as on the event pages.

Currently

![Screenshot from 2021-09-25 11-37-13](https://user-images.githubusercontent.com/1583873/134766886-234ac27d-c651-4c74-9598-d469622375ea.png)

Expected

![Screenshot from 2021-09-25 11-36-33](https://user-

[2021-09-25 11:19] progmatic-99 commented on #7862
on it.

[2021-09-25 11:20] #7860 closed

[2021-09-25 21:36] #7861 closed

[2021-09-26 15:20] maze-runnar commented on #7824
@daretobedifferent18 please try with a new event, and  add tax at the time of event creation, then again delete/add. try such edge case, and see where it fails.

[2021-09-27 11:29] progmatic-99 opened #7865 "Add info about gitpod in README"
Install using gitpod

[2021-09-28 11:00] mariobehling opened #7870 "Registration: Pre-Select if there is only one option"
If there is only one registration option please pre-select this registration option.

![Screenshot from 2021-09-28 12-59-00](https://user-images.githubusercontent.com/1583873/135074922-f2261479-fec9-4d9f-9ad0-ab097e9e2b7c.png)

[2021-09-28 13:10] pc-beast commented on #7870
working on it

[2021-09-28 14:00] pc-beast commented on #7758
![image](https://user-images.githubusercontent.com/56963647/135101577-3104b3aa-f049-4196-ad35-bc33956a79ad.png)
Swap cheque with poi
![image](https://user-images.githubusercontent.com/56963647/135101628-fd89f967-3953-4b38-b58e-a454b62575ad.png)
here too
add Purchase on invoice instead of invoice

[2021-09-28 14:43] iamdevvalecha commented on #7758
@pc-beast sure!

[2021-09-28 14:57] pc-beast opened #7871 "Tax doesn't not gets updated while using the discount code functionality"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event with a tax and discount code
2. Go to the event page and enter the discount code and apply. See that it doesn't get updated in the price section

![Screenshot from 2021-09-28 19-36-13](https://user-images.githubusercontent.com/56963647/135111587-18d7405c-153c-4eb4-ab4f-e02ce59e8c46.jpg)
3. Now order the tick

[2021-09-29 03:12] maze-runnar commented on #7669
@mariobehling @pc-beast can you please test this once more, it should be resolved. (I have tested it, working fine)

[2021-09-29 11:18] pc-beast commented on #7669
Works fine for me too

[2021-09-29 13:38] maze-runnar commented on #2944
on it

[2021-09-30 01:54] #7669 closed

[2021-09-30 02:02] maze-runnar commented on #7761
@progmatic-99 you are on it, right?

[2021-09-30 02:21] #7870 closed

[2021-09-30 05:13] progmatic-99 commented on #7761
@maze-runnar As soon as I complete issues on the server, I will get back to this.

[2021-09-30 09:07] #7862 closed

[2021-09-30 14:08] pc-beast commented on #7871
![image](https://user-images.githubusercontent.com/56963647/135470910-3879e6b4-7351-4551-8389-67655c7cdedc.png)
remove discount columns and correct the tax. Show strikethrough price with correct price.

[2021-09-30 14:09] pc-beast commented on #7871
Also in Order Invoice pdf as same way on web

[2021-09-30 16:20] pc-beast opened #7874 "Not able to add video rooms other than bbb"

[2021-10-01 10:27] #7874 closed

[2021-10-01 16:06] Aman-Godara commented on #6552
Can anyone mention the requirements for this issue? like **JS**, **reactjs** etc.
I am planning to take part in **codeheat** and that's how I came here. Thanks

[2021-10-02 14:54] pc-beast commented on #7758
@iamdevvalecha update?

[2021-10-02 15:19] iamdevvalecha commented on #7758
work in progress

[2021-10-02 15:20] iamdevvalecha commented on #7758
![Screenshot from 2021-10-02 20-48-09](https://user-images.githubusercontent.com/71969867/135722664-8ddfaaa0-d432-4dc8-b8e8-4d541798f428.png)

[2021-10-03 16:48] #7758 closed

[2021-10-04 15:48] #7865 closed

[2021-10-04 16:27] mariobehling commented on #7616
Not encountering this bug currently. Therefore closing this.

[2021-10-04 16:27] #7616 closed

[2021-10-04 17:30] mariobehling opened #7882 "Create Event Wizard Step 1: Show all available tax info if filled in"
If the organizer fills in tax information, please show all available info. Currently only Tax name and ID and percentage are shown in the info box of the event wizard step 1.

![Screenshot from 2021-10-04 19-27-31](https://user-images.githubusercontent.com/1583873/135897014-934ae6e0-4edd-4f57-afe4-a9869411b084.png)

[2021-10-04 17:34] mariobehling opened #7883 "Order "Company Information" box shows "Organisation" instead of "Name""
The order company information box shows the "Name" instead of "Organisation" in the left column of the box. Please correct this and show "Organisation" in all company boxes in the order process and final order page.

![Screenshot from 2021-10-04 19-11-04](https://user-images.githubusercontent.com/1583873/135897534-40eb9cfe-27c4-4d26-9938-15902c0d2985.png)

[2021-10-04 20:49] akshitarora921 commented on #7883
Hi, Can I work on this?

[2021-10-05 05:15] progmatic-99 commented on #7882
Working on this.

[2021-10-05 05:16] progmatic-99 commented on #7883
Yes @akshitarora921, please make a PR.

[2021-10-05 16:10] swapnalshahil commented on #7883
Will you please help me to reach the issue? I mean which part?

[2021-10-05 16:21] iamdevvalecha commented on #7883
@swapnalshahil use ember inspector.

[2021-10-05 18:25] akshitarora921 commented on #7883
@iamdevvalecha  Do we need to change the variable name from registeredCompany to organization in `company-info.hbs`?

[2021-10-05 22:35] #7594 closed

[2021-10-05 22:50] #7883 closed

[2021-10-06 17:10] mariobehling opened #7893 "Video: Add recording column into video tables"
![Screenshot from 2021-10-06 19-02-31](https://user-images.githubusercontent.com/1583873/136251209-23dea034-421c-4224-bacc-0ebd2c17b7e8.png)

* Move Blue, Green and Red video room button directly below room name and try to reduce the width of the first column a bit
* Reduce the width of the column "Additional Info" a bit
* Create an additional column "Recordings"
* In the column "Recordings" show

[2021-10-09 00:52] iamdevvalecha commented on #7893
on it.

[2021-10-09 03:49] #7871 closed

[2021-10-09 05:35] Tanish-Panwar commented on #7041
@rolandturner  can I work with this issue

[2021-10-09 05:55] progmatic-99 commented on #7041
@maze-runnar, I think this is solved ??

[2021-10-09 09:54] mariobehling opened #7902 "Provide option to set language preference in the account profile"
Currently the language of the UI is based on the browser or the choice of the user made on the bottom right. Please provide an option to choose the language based on the user preference on the "Account" page.
1. Add the option to set the language below "Phone" on the account page at https://eventyay.com/account/profile
2. Set language preference in user account
3. Ensure invoices of tickets and ev

[2021-10-09 14:49] iamdevvalecha commented on #7893
@mariobehling @maze-runnar bbb key is require i think?

[2021-10-09 17:51] #7810 closed

[2021-10-09 20:31] mariobehling opened #7903 "Subtotal of orders showing 0 instead of price of registration orders"
The subtotal of orders shows 0 instead of the price of registration orders. Expected: It should show the price of an order or a registration.

Compare: Try with a supporter registration here https://test.eventyay.com/e/a86f2bbb

![Screenshot from 2021-10-09 22-26-44](https://user-images.githubusercontent.com/1583873/136673036-61a9956a-c590-441c-a33a-47f3aadd1f22.png)

[2021-10-09 20:34] mariobehling commented on #7903
Seems the issue only appears with registrations, but not with ticket orders.

[2021-10-09 20:47] mariobehling opened #7904 "Make speakers in sessions sortable by dragging them to different positions"
If there are several speakers in a session they show up in random order. Please provide an option to drag speakers to a different position in the session editor and show them on the public session page (and other places where the info is displayed) in the chosen order.

Compare here the session editor with a list of speakers. Please make it sortable by dragging the names to different positions.
![

[2021-10-09 21:09] mariobehling opened #7905 "Show attendee information of attendee form on the order overview page"
The order overview page of attendees does not show all the information that attendees fill into custom forms. Please add a box "Attendee Form" on the attendee overview order page and show all the information attendees fill in.

![Screenshot from 2021-10-09 23-06-51](https://user-images.githubusercontent.com/1583873/136673827-9d520f4c-3030-41a8-9432-37546cf09c2a.png)

[2021-10-09 21:12] mariobehling opened #7906 "Make the ticket holder information editable"
Ticket holders might have filled in wrong information and if they want to correct it there is no possibility in the system. Please add an "Edit" link to the attendee order overview page on the "Ticket Holder" info box and link it to the attendee page. It should be possible for ticket holders to edit their information.

![Screenshot from 2021-10-09 23-06-51](https://user-images.githubusercontent.co

[2021-10-10 02:44] maze-runnar commented on #7902
for translation reference: https://github.com/fossasia/open-event-server/pull/7416/files

but it's not working for pdf

[2021-10-10 03:51] iamdevvalecha commented on #7905
on it.

[2021-10-10 04:56] maze-runnar commented on #7903
@mariobehling working on my local with registration type also
![Screenshot from 2021-10-10 10-25-36](https://user-images.githubusercontent.com/56407566/136682840-d31417da-9059-4111-8237-6753cb90ac33.png)

[2021-10-10 05:02] maze-runnar commented on #7903
And I updated the branch and it got broke -
![Screenshot from 2021-10-10 10-31-16](https://user-images.githubusercontent.com/56407566/136682953-445802f8-7b95-4d2b-b184-4ca0cdac3d21.png)

@pc-beast please check, it may be due to your PR

[2021-10-10 05:09] maze-runnar commented on #7903
update the branch, it will stop working. problem is in https://github.com/fossasia/open-event-frontend/issues/7881, I think

[2021-10-10 05:15] pc-beast commented on #7903
Working on it

[2021-10-10 05:34] maze-runnar commented on #7905
@iamdevvalecha please create a draft PR of your work, so that if you need any help, I can do it there.

[2021-10-10 05:45] #7903 closed

[2021-10-10 12:03] spy-1234 commented on #7824
Hey, I want to take the issue.

[2021-10-10 12:32] mariobehling opened #7911 "Implement discount code functionality for registration orders"
Paid registration orders do not yet have the option to use discount codes. Please implement this option in the same way as it works for tickets.

1. Implement the link as below.
![Screenshot from 2021-10-10 14-29-58](https://user-images.githubusercontent.com/1583873/136695794-f18f7795-86a6-4d38-9e90-d5e7d309287f.png)

2. Provide a field to add a discount code
![Screenshot from 2021-10-10 14-30-18]

[2021-10-10 12:34] #7824 closed

[2021-10-10 12:44] #7902 closed

[2021-10-10 23:18] iamdevvalecha commented on #7905
@maze-runnar i need more information about this issue i will ask my doubts in tomorrow meeting then will send the pr.

[2021-10-11 01:28] maze-runnar commented on #7911
@pc-beast if you don't have issues, can you please pick this up. as you have recently work on discount codes.

[2021-10-11 05:58] salmanansari14 commented on #7906
I wanna work on issue

[2021-10-11 09:26] mariobehling opened #7912 "Menu Link not working if Registration is activated instead of Tickets"
When we use the registration box instead of the "ticket box" the heading is different and the link on the left-side menu "Tickets" does not direct the user to the registration box.

Please ensure the tickets link works.

![Screenshot from 2021-10-11 11-22-17](https://user-images.githubusercontent.com/1583873/136766572-13016382-ce9c-4d81-ab91-6edc6f3d5833.png)

[2021-10-12 07:36] #7912 closed

[2021-10-12 14:48] manikantanynala97 opened #7919 "Hide and Unhide Password Bug"
DESCRIPTION - >
Hey the Hide and Unhide Icon in the Password section is in the Opposite Order for Unhide Icon it is not showing the password and for the Hide Icon it is Showing the Password which is completely Opposite

HOW TO FIX THE BUG ->
1) For Unhide Icon show the Password
2) For Hide Icon Donot show the Password

![Screenshot (360)](https://user-images.githubusercontent.com/90610801/13697869

[2021-10-12 20:03] progmatic-99 commented on #7919
Working fine for me.

[2021-10-13 07:39] sejalrai23 commented on #7919
I want to work on this . pleases assign me this issue

[2021-10-13 11:21] mariobehling opened #7924 "Front page categories direct to empty "explore" page"
Front page categories direct to empty "explore" page instead of explore/events?category..
In the past we only had one search page, but we added the groups search later on. The front page still directs to the previous explore page. Please fix the category links to use the correct slugs. Compare for example below:

Current: https://eventyay.com/explore?category=Science%20%26%20Technology
Expected: h

[2021-10-13 11:33] progmatic-99 commented on #7919
@maze-runnar We can close this, ig.

[2021-10-13 11:34] #7919 closed

[2021-10-13 11:39] progmatic-99 commented on #7893
making a PR

[2021-10-13 13:07] mariobehling opened #7928 "User cannot order tickets when starting with ticket order before log in or registration"
If a user starts the ticket order process a window usually appears to log them in or to let them register. Once the user has finished logging in the order page appears. BUT: There is a black overlay that prevents the user from progressing.

Steps to reproduce. Compare https://eventyay.com/e/c5cce3ed

1. Order page
![Screenshot from 2021-10-13 15-04-25](https://user-images.githubusercontent.com/158

[2021-10-13 15:57] maze-runnar commented on #7928
I have found the reason for this, creating a PR soon with solution.

[2021-10-13 21:43] #7928 closed

[2021-10-14 07:10] mariobehling commented on #6396
This area does not appear translatable. It should be possible to translate this text. Therefore reopening it.

[2021-10-14 07:29] mariobehling opened #7937 "Make all areas translatable"
Make all areas translatable. Checking the page throughout the system shows that many areas are not translated. Please ensure Weblate syncs the areas that are not translated and enable translators to localize the system. If Weblate shows up 100% translated, but areas are not really translated something is wrong. Compare https://hosted.weblate.org/projects/open-event/frontend/de/

- [ ] Wizard step

[2021-10-17 02:36] maze-runnar commented on #6997
this issue is already fixed : https://github.com/fossasia/open-event-frontend/pull/7734

[2021-10-17 02:36] #6997 closed

[2021-10-17 11:49] maze-runnar commented on #7906
on it.

[2021-10-19 10:07] sukso96100 opened #8951 "Feature request: Automatic attendee check-in for virtual(online) event"
**Is your feature request related to a problem? Please describe.**

Hello, I organized a virtual event using eventyay number of weeks ago. I could see some statics about registration on dashboard and attendee details of course. But after the event, I couldn't find any data about attendees who actually checked-in for the virtual event. There were manual check-in feature of course, But we didn't use

[2021-10-19 11:39] mariobehling opened #7957 "Fix and enhance tax and invoice information in wizard step 1 and invoice PDF"
1. Always display button "Add tax and invoice information" no matter if it is a paid event or free event.
![Screenshot from 2021-10-19 13-38-32](https://user-images.githubusercontent.com/1583873/137901922-4ba6ed29-d351-416b-9964-d21a7996fa45.png)
2. Change "Add tax information" to "Add invoice and tax information"
3. Below "Registered Organisation" add fields for
  * Phone
  * Email
![Screenshot f

[2021-10-19 14:09] iamdevvalecha commented on #7957
on it.

[2021-10-20 03:45] iamdevvalecha commented on #7957
# the best way to show add tax info button is like this :- same for both ticket and registration.
![Screenshot from 2021-10-20 08-11-56](https://user-images.githubusercontent.com/71969867/138024487-fee52425-fd8b-4d74-8264-f4cf9c502ddc.png)
@mariobehling

[2021-10-20 05:17] mariobehling commented on #7882
It seems in the end the merged PR did not fully solve this issue. It was displayed on the production site, but issue is still there. Therefore reopening it.

![Screenshot from 2021-10-20 07-12-31](https://user-images.githubusercontent.com/1583873/138032457-209be3f7-5e84-4f54-8816-4ba3827a9282.png)

[2021-10-21 12:26] mariobehling commented on #7882
@progmatic-99 Ok, thanks for clarifying. I understand, but the data should be visible no matter if the user has chosen send invoice or not. Could you solve this in a follow up PR, please? Whatever the user fills in (even if the user only fills in part of the info) it should be visible here. Thanks.

[2021-10-21 14:04] mariobehling opened #7966 "bump ember-l10n from 4.3.1 to 5.1.0"
Please bump ember-l10n from 4.3.1 to 5.1.0

[2021-10-26 16:01] codedsun opened #7984 "Show test/live key of Stripe under Payments section"
**Describe the bug**
Show test/live key of Stripe under Payments section depending on the environment being used, if  local/test.eventyay.com is used - show the test keys else show live keys. Currently, the live keys are shown in both environments.

![image](https://user-images.githubusercontent.com/20026440/138917046-95341f00-10b2-4291-b783-d2b2897145d0.png)

[2021-10-26 16:15] mariobehling opened #7985 "Standardize Height of Groups Cards on Front Page"
The group cards on the front page do not have the same height. The description of groups should be only two lines. If the description is longer it should get automatically shortened and ending with "...".

So, the groups cards should be the same height as the event cards.

Compare: https://test.eventyay.com/

![Screenshot from 2021-10-26 18-09-44](https://user-images.githubusercontent.com/1583873/

[2021-10-29 09:12] mariobehling opened #8004 "Final Order Page: Issue with date missing timezone and onsite heading"
On the final order page there are two issues:
1. The date of the event is missing the timezone (a. on the top below the event heading, b. on the right side box)
![Screenshot from 2021-10-29 11-44-32](https://user-images.githubusercontent.com/1583873/139413896-a5ac50d3-75ca-43aa-b0d1-c0855d38438a.png)

2. The heading for "Onsite Instructions" is too big. It should be the same as above items.
![Scre

[2021-10-29 11:50] mariobehling opened #8005 "Groups: Thumbnails are not showing up"
Thumbnails of groups and events in groups are not showing up anywhere, e.g. on frontpage, search page, my groups list page, group info pages etc.
* https://eventyay.com/my-groups/list
* https://eventyay.com/
* https://eventyay.com/my-groups/following
* https://eventyay.com/explore/groups
* https://eventyay.com/g/101

![Screenshot from 2021-10-29 13-49-08](https://user-images.githubusercontent.com/

[2021-10-29 12:08] mariobehling opened #8006 "Anonymous user cannot access public group pages"
Expected would be that anonymous users can access public group pages, but this is currently not possible and results in a server error.

Compare, e.g. https://eventyay.com/g/40

![Screenshot from 2021-10-29 14-05-04](https://user-images.githubusercontent.com/1583873/139431744-a72d5268-88cd-40bd-8219-bb15a6adc117.png)

[2021-10-29 12:30] mariobehling opened #8007 "Groups: Only one group can be promoted to front page and overview pages display group events multiple times"
Only one group can be promoted to front page and overview pages (of events) display groups multiple times. They also do not show the event images.

![Screenshot from 2021-10-29 13-48-18](https://user-images.githubusercontent.com/1583873/139434569-6beab384-d8a8-488e-b6ec-96d86ce23219.png)

Compare https://eventyay.com/g/101

![Screenshot from 2021-10-29 14-29-41](https://user-images.githubuserconte

[2021-10-30 01:56] maze-runnar commented on #8007
these are not groups, these are events that are part of that event

[2021-10-30 01:59] maze-runnar commented on #8007
![Screenshot from 2021-10-30 07-28-51](https://user-images.githubusercontent.com/56407566/139516508-4f361109-f4d9-4b27-bb4a-54ba46e69aa6.png)

[2021-10-31 07:22] #8006 closed

[2021-10-31 07:24] #7985 closed

[2021-10-31 07:24] #8004 closed

[2021-11-01 02:42] #6250 closed

[2021-11-01 14:13] #7681 closed

[2021-11-01 17:16] mariobehling commented on #8007
As you can see in the above link this is exactly what is encountered on the live site.
1. Only one groups gets promoted.
2. Events do not show up with image on the groups page. Compare https://eventyay.com/g/101

[2021-11-01 17:16] mariobehling commented on #8007
You need to login to view the groups page.

[2021-11-02 01:27] maze-runnar commented on #8007
I don't why promoting only one group is happening on live site, because on test-eventyay, it is working correctly. so behaviour should be same.

[2021-11-02 19:35] ath34-tech commented on #4897
hey, can you share link of payment stuff code files, I am unable to find them , I want to take a look at them.
Thank you!

[2021-11-03 10:58] #7937 closed

[2021-11-03 13:31] mariobehling opened #8021 "Sales admin page of eventyay not accessible"
The sales admin page of eventyay gives an error message and is not accessible.

Compare https://eventyay.com/admin/sales/live

![Screenshot from 2021-11-03 14-30-37](https://user-images.githubusercontent.com/1583873/140069204-02b1b973-3e51-4df1-8bfe-ac8825209f7e.png)

https://test.eventyay.com/admin/sales/live

[2021-11-04 12:10] maze-runnar commented on #8021
![Screenshot from 2021-11-04 17-40-12](https://user-images.githubusercontent.com/56407566/140311167-20e6c6a0-ec55-4adb-86d8-47e9b4d7f093.png)

[2021-11-04 12:48] mariobehling commented on #7904
The implementation uses the wrong database table.

[2021-11-04 12:50] mariobehling commented on #7904
In the UI we have a column "position". This is for the position of speakers, e.g. CEO. Now these positions are deleted and show numbers depending on how speakers are sorted within a session.

![Screenshot from 2021-11-04 13-45-52](https://user-images.githubusercontent.com/1583873/140316101-dac07c1e-7741-4e88-9ebe-8e4fc73a2afd.png)

[2021-11-04 14:24] mariobehling opened #8029 "Event logo cut off in events with long title or address"
When an event has a long title or address the information can result in an additional line. In this case the logo moves to the top of the information and this results in logos getting cut off  on some public pages, e.g. speaker pages compare https://eventyay.com/e/0db87d3b/speakers .

Expected is that that the logo stays on the left and the text stays visible as well.

![Screenshot from 2021-11-04

[2021-11-04 17:14] #6396 closed

[2021-11-05 10:21] mariobehling commented on #7673
Thank you. Still need to follow up about a few sentences.

Incomplete sentences
* The room password field can be used to communicate a password which is necessary to access online video rooms for example for external video services such a Zoom, Teams and Webex. The need for a password entry depends on the configuration of your video channel. The integrated Big Blue Button video solution in
* to al

[2021-11-06 01:44] mariobehling opened #8039 "Make speaker area mobile ready"
On event pages make speakers mobile friendly.

Compare https://eventyay.com/e/0db87d3b

![Screenshot_20211106_024137_com android chrome](https://user-images.githubusercontent.com/1583873/140593714-b7083718-84b8-4f31-b7aa-261dd72c61ab.jpg)

[2021-11-06 02:03] maze-runnar commented on #8039
![Screenshot_20211106-073208_Chrome](https://user-images.githubusercontent.com/56407566/140594161-ce2a6e4a-1470-48c4-8367-4cc0e9c8cf04.jpg)

[2021-11-06 19:06] #7904 closed

[2021-11-06 19:43] mariobehling commented on #7673
More incomplete sentences
* Refunds to be processed by the organizer through payment provider. Refund payments to attendees cannot be made on the
* platform. Please go to your payment provider, make a refund and mark the ticket as refunded in the
* Your message was sent to the organizers of this
* Call for Speakers will softly closed on

[2021-11-06 19:43] mariobehling commented on #7673
Correct is "Call for Speakers will softly close on.."

[2021-11-06 19:50] mariobehling opened #8042 "Docker build failing"
Please fix the docker hub build error.

https://github.com/fossasia/open-event-frontend/runs/4127341131?check_suite_focus=true

`Error: buildx failed with: error: failed to solve: process "/bin/sh -c apk add git python-dev make g++ gettext" did not complete successfully: exit code: 1`

[2021-11-06 21:53] mariobehling commented on #8039
@SundaramDubey Seems like you are testing the speaker page itself while this issue is about featured speakers on the start page as per linked shared.

[2021-11-06 21:58] mariobehling opened #8044 "Make organizer appear capital and translatable"
When inviting team members to an event the role is named as "organizer". Expected would be "Organizer" with a capital "O". This also is not translatable.

![Screenshot from 2021-11-06 22-51-04](https://user-images.githubusercontent.com/1583873/140624975-39e8470d-529f-4940-b79e-3567adbdf10d.png)

[2021-11-07 07:45] Buddhad commented on #8044
**I would like to work on this issue please `Assign` me.**

[2021-11-07 16:52] #8039 closed

[2021-11-07 18:24] Ruchip16 commented on #8029
Hey @mariobehling  I would like to work on this issue

[2021-11-08 01:26] #8044 closed

[2021-11-08 05:35] codedsun commented on #8029
@Ruchip16 - You can start working

[2021-11-08 09:34] mariobehling commented on #7673
Incomplete sentence
* Die Funktionsintegration befindet sich noch in der Alpha-Phase und derzeit "
"ist Ihr Profil auf der

[2021-11-08 17:42] therohit777 commented on #7028
Hey , wanna work on this issue please assign it to me

[2021-11-08 17:44] therohit777 commented on #7028
ok

[2021-11-09 09:31] mariobehling opened #8055 "Sessions: Old speaker disappears from schedule when new speaker is added"
When a new speaker is added to a session the old speaker does not always show up in the scheduler. The old speaker still shows up on the list of speakers on the organizer area, but not on the scheduler itself.

One new speaker here
![Screenshot from 2021-11-09 10-29-56](https://user-images.githubusercontent.com/1583873/140898659-63383a90-81a1-4976-817a-16a0fe31df40.png)

Two speakers in the organi

[2021-11-09 09:33] mariobehling commented on #8055
If I delete and re-add the speaker then the last added speaker shows up. Compare https://eventyay.com/e/0db87d3b/session/7402

[2021-11-09 09:41] #8042 closed

[2021-11-09 14:26] mariobehling commented on #7906
Reopening as dropdown is not yet editable.

[2021-11-09 14:37] #7673 closed

[2021-11-10 05:14] Ruchip16 commented on #8029
Yes @codedsun I am working

[2021-11-10 06:13] pc-beast commented on #8055
Fixed in #8045 @mariobehling

[2021-11-10 10:15] mariobehling opened #8060 "Redirect Stripe Back Button to Ticket Pending Page"
On the Stripe payment page there is a "Back" button. This button currently brings the ticket buyer to an "Expired" ticket page. Please change this and bring the user back to a page "Pending" and enable the user to see the information and repeat the buying process.

[2021-11-10 10:21] codedsun commented on #8060
@mariobehling This is not possible as discussion with @pc-beast

[2021-11-10 10:42] mariobehling commented on #8055
Seems to work on test server. Therefore closing it. Thank you!

[2021-11-10 10:42] #8055 closed

[2021-11-10 15:25] mariobehling commented on #7906
I have tested the first PR in more detail now. Unfortunately the process is not yet ready for users.

After an order is made the user can still change data, but there is no way to save it. It lacks a save button. Also changes are not reflected on the ticket. Expected would be a button "Edit Attendee Information" and "Save". Fields should only become editable after the user has pressed "Edit". This

[2021-11-10 22:45] mariobehling opened #8066 "Organizer video tab shows errors if there are video rooms using Vimeo"
Organizer video tab shows errors if there are video rooms using Vimeo.

![Screenshot from 2021-11-10 23-44-19](https://user-images.githubusercontent.com/1583873/141205891-371c9945-1294-450b-8b35-3904f41c6af3.png)
![Screenshot from 2021-11-10 23-43-45](https://user-images.githubusercontent.com/1583873/141205894-141314cb-58cb-4525-9a1a-f48c2b77f522.png)

[2021-11-11 04:15] pc-beast commented on #8066
Working on it

[2021-11-11 11:23] mariobehling opened #8067 "Fix translations and improve wording"
Please make the following areas translatable or correct the info.
1. On orders page change Payee Information -> Payment Information
![Screenshot from 2021-11-10 11-49-27](https://user-images.githubusercontent.com/1583873/141289376-c345aac8-b8b3-4e7b-80cc-3b9ae37c1c70.png)
2. On Tickets page https://test.eventyay.com/my-tickets/upcoming/completed make "placed" translatable
3. When buying onsite tic

[2021-11-11 11:35] mariobehling opened #8068 "Move Payment Choice to the Checkout Page for Orders"
Users currently choose the payment option on the second step of orders. Please move this choice to the checkout page (step 3). Show the payment options above the "Pay Now" button.

Step 2
![Screenshot from 2021-11-11 12-32-13](https://user-images.githubusercontent.com/1583873/141291421-83a5bfa7-f570-4ce7-bebc-c01a5dfe98d1.png)

Step 3 Checkout Page
![Screenshot from 2021-11-11 12-32-39](https://us

[2021-11-11 17:22] codedsun commented on #8066
This is a server issue so moving to server repo

[2021-11-11 18:56] mariobehling opened #8070 "Groups: Add follow button for not logged in users and option to log in"
Users who are not logged in should see a kind of "inactive" follow button on groups pages similar to the front page "whitened" follow button.

When the user tries to click on the button they should receive a pop up with the following text:
"You need to be logged in to follow this group. Login / Cancel"

Compare https://eventyay.com/g/40

Group page with right-side area missing "Following" button.

[2021-11-11 19:54] mariobehling opened #8071 "Registration: Only show "Enter Promotional Code" when there are paid tickets"
Currently if there are only free registrations there is nevertheless the option to enter a promotional code. But, registrations are already free. So, no need to for promotional codes. The promotional code option should only show up if there are paid registrations available.

![Screenshot from 2021-11-11 20-52-06](https://user-images.githubusercontent.com/1583873/141360319-52c69502-ac1c-43bf-88d0-6

[2021-11-12 06:17] pc-beast opened #8077 "Only one groups shows up on explore page"
**Describe the bug**
Only one group shows up on explore groups page of eventyay when the user is not login. Additionally that shows buttons for editing groups settings. Expected is to work in the same way when the user is logged in.

![image](https://user-images.githubusercontent.com/56963647/141419575-3b0c10fe-0719-4653-baad-c603efd54b1f.png)

[2021-11-12 10:12] #8077 closed

[2021-11-12 14:37] #8067 closed

[2021-11-12 16:27] trngapp commented on #8071
I am looking into this bug , but in localhost there is no event , so how can I test the changes I make, Do I have create events by myself for testing .

[2021-11-13 07:47] pc-beast commented on #8071
Yes.

[2021-11-13 13:00] ShwetKhatri2001 commented on #8070
I would like to work on this issue

[2021-11-13 14:05] trngapp commented on #8071
@pc-beast I have done the registration in localhost and then when the verification mail comes to gmail and I click on the link it shows error , and also as I am unable to verify I could not able to create an event in my localhost , please help ..

[2021-11-13 17:52] mariobehling opened #8080 "Make missing strings translatable"
- On event dashboard: Team roles
- On team page of events: Team roles
- On discount and access code page: The table headings and content
- On event invoice overview showing status, e.g. "Resolved" (compare https://eventyay.com/account/billing/invoices/all)
- On event invoice details pages showing status (invoices linked from the overview page)
- On Create Event wizard step 1: Event type, topic, su

[2021-11-13 18:10] #7957 closed

[2021-11-13 21:13] trngapp commented on #8071
@mariobehling Please assign this task to me ....I am interested . Thanks

[2021-11-14 04:19] pc-beast commented on #8071
Try changing hostname to ```http://localhost:4200``` in verification link.

[2021-11-14 08:50] progmatic-99 commented on #8080
working on it

[2021-11-14 14:04] progmatic-99 commented on #8070
Go ahead, make a PR @ShwetKhatri2001

[2021-11-14 14:27] mariobehling commented on #8080
Reopening as the following has not yet been solved

- On event dashboard: Team roles
- On team page of events: Team roles
- On event invoice overview showing status, e.g. "Resolved" (compare https://eventyay.com/account/billing/invoices/all)
- On event invoice details pages showing status (invoices linked from the overview page)
- On Create Event wizard step 1: Event type, topic, subtopic
- One Cr

[2021-11-15 18:44] NIKU-SINGH commented on #8068
Hey, I would like to work on this issue

[2021-11-15 22:37] mariobehling opened #8091 "Groups: Following not possible on event page"
It is not possible to follow the Codeheat group. Nothing happens and the console shows errors as below.

Compare https://eventyay.com/e/d932620a

![Screenshot from 2021-11-15 23-34-24](https://user-images.githubusercontent.com/1583873/141863709-32914ec9-12a0-4245-8841-e50cd0d2b16a.png)

(anonymous) @ state-machine.js:86
(anonymous) @ state-machine.js:86
a @ state-machine.js:86
e.error @ state-mach

[2021-11-16 14:08] progmatic-99 commented on #8080
![Screenshot 2021-11-16 at 17-30-06 Team tax-update-fix Veranstaltungen eventyay](https://user-images.githubusercontent.com/42090582/142000327-d56e0180-5c27-429b-aebf-f0aa70feca02.png)

[2021-11-16 21:13] mehulmathur16 commented on #8005
Hi Mario,
I want to work on this issue. Can you tell what image we want to have instead of group?

[2021-11-17 08:31] mariobehling commented on #8080
Thank you. Remaining:
- On Create Event wizard step 1: Event type, topic, subtopic
- One Create Event wizard step 1: Timezone names of continents and cities

[2021-11-17 08:42] mariobehling opened #8099 "Improve Spelling und Punctuation Quality"
Please fix the following issues

Spelling und Punctuation Issues
- Please select atleast 1 ticket. -> Please select at least 1 ticket.
- This column shows the original link of the video. We do not recommend to share this link as users can access it without logging into {{appName}} -> This column shows the original link of the video. We do not recommend to share this link as users can access it wit

[2021-11-17 09:35] mariobehling commented on #8099
Please also change url -> URL

[2021-11-17 09:36] mariobehling commented on #8099
twitter -> Twitter

[2021-11-17 09:36] mariobehling commented on #8099
facebook -> Facebook

[2021-11-17 09:37] mariobehling commented on #8099
instagram -> Instagram

[2021-11-17 09:42] mariobehling commented on #8099
somewhere there are still two strings lacking context with only one word
- and
- others

![Screenshot from 2021-11-17 10-41-47](https://user-images.githubusercontent.com/1583873/142176248-d04786e6-e4ab-4066-952d-d262d1f8f0fa.png)

[2021-11-17 10:14] mariobehling opened #8103 "Enhance punctuation and fix spelling"
Please improve the punctuation and spelling as follows.

Add a full stop at the end of the following:

- Invite resent successfully
- Role deleted successfully
- Role deleted successfully
- Your video channel has been saved
- Please enter a valid contact link
- Your exhibitor has been saved
- Your group has been saved
- Your group settings have been saved
- Here is your ticket
- Please enter your

[2021-11-17 10:36] #8099 closed

[2021-11-17 13:38] #8103 closed

[2021-11-17 14:16] mariobehling commented on #7893
This implementation does not work yet as expected. Therefore opening it. Issue is:
1. Start and end time are always showing 12.00 / 0.00 no matter what is the correct time.
2. Length always shows "a few seconds"

Compare https://eventyay.com/events/c5cce3ed/video/all (only accessible for admins)

![Screenshot from 2021-11-17 15-14-00](https://user-images.githubusercontent.com/1583873/142217092-54b

[2021-11-17 14:57] mariobehling opened #8107 "Improve sentences in user interaction"
Please change the sentences as follows:
- Your billing details has been updated. -> Your billing details have been updated.
- zip -> ZIP
   - except when it is related to "zip file". In that case it should be "Zip file".
- An unexpected error occurred. -> Sorry, an unexpected error has occurred. Our developers will fix this.
- Starting time should be lesser than the ending time! -> The start time

[2021-11-17 17:32] mariobehling commented on #8107
After the last translation changes, on the final order pages there is an issue with the "ticket name". It does not get filled in automatically anymore.

Could you also solve this here?

![Screenshot from 2021-11-17 18-31-34](https://user-images.githubusercontent.com/1583873/142251963-208983a3-ff89-4763-a2fc-6eaab8619672.png)

[2021-11-17 17:37] mariobehling commented on #8107
Ok, after testing with another ticket, it looks like the above comment is not related to the translations, but to data not loading reliably. I wonder what is the cause.

[2021-11-18 05:51] pc-beast opened #8113 "Follower count on event page only gets updated after refresh"
**Describe the bug**
On event page there is a button to follow the group if the event is from a group event. If we hit the follow group button the follower count remains the same and text on the button also remains same. Expected is that the text on button should change to "Unfollow Group" and follower count must change.

**Screenshots**

![image](https://user-images.githubusercontent.com/56963647

[2021-11-18 06:04] progmatic-99 commented on #8107
@mariobehling ember-data maybe??

[2021-11-18 10:49] Nitin443 commented on #8113
I want to Contribute on this issue. Please assign me this issue. Thank you

[2021-11-18 10:51] Nitin443 commented on #8113
I' m working on this issue.

[2021-11-18 12:56] subhamgcon commented on #8068
Hey, anyone working on this issue?

[2021-11-18 13:19] trngapp commented on #8071
@pc-beast Yes It worked but after creating event it is not showing up on the landing page , though its showing up in the list of events I created ?

[2021-11-18 13:23] codedsun commented on #8068
@subhamgcon You can work

[2021-11-18 14:04] Ruchip16 commented on #8029
![image](https://user-images.githubusercontent.com/72685035/142429888-2e846ea8-e162-46ff-85f3-be3ac86f8083.png)
@mariobehling this is how it looks now I would make a PR for the same

[2021-11-18 14:14] subhamgcon commented on #8068
Okay, Thank you!

[2021-11-18 14:23] KedarisettiSreeVamsi commented on #8071
@trngapp It seems that if the events are featured then only they appear on the landing page but I don't know how to make them featured events

[2021-11-18 18:54] Riya5915 commented on #8021
Is this a pending issue, or it's resolved?

[2021-11-19 00:14] maze-runnar commented on #8021
We are not able to figure out reason why it's happening.

[2021-11-19 12:51] #8107 closed

[2021-11-19 14:56] mariobehling opened #8117 "Order page shows local time of an event of ticket buyer but timezone info of the event"
The order pages of ticket buyers show the local time of the ticket buyer, but they show the timezone of the event, e.g. "Asia/Kolkata".

Expected is: Show the timezone of the event and also display the timezone e.g. (IST). Just show it in the same way as it is shown as the actual event page.

**Below shows the current CET time, but it also shows "Asia".**
![Screenshot from 2021-11-19 15-53-10](htt

[2021-11-19 16:56] codedsun opened #8120 "Upgrade node js version of the frontend project"
**Is your feature request related to a problem? Please describe.**
Upgrade node js version of the frontend project

**Describe the solution you'd like**

- [ ] Check that dependencies don't break and are available for the latest version of the node js.

**Expected Outcome**
Make the full system working.

[2021-11-20 11:22] #7893 closed

[2021-11-20 20:44] #8070 closed

[2021-11-21 08:00] ayushporwal1234 commented on #8068
can  i work on this project

[2021-11-21 19:25] ayushporwal1234 commented on #8113
can i work on this issuse

[2021-11-21 20:29] ayushporwal1234 commented on #7906
@mariobehling sir please assigned me!! I will start my journey so this is very helpful for me. Thank you!!

[2021-11-21 20:32] ayushporwal1234 commented on #7906
I am working on this.

[2021-11-21 21:38] #8117 closed

[2021-11-22 06:45] Prakhar-Agarwal-byte commented on #7984
I am working on this issue

[2021-11-22 06:48] Prakhar-Agarwal-byte commented on #7966
I am working on this issue

[2021-11-22 06:51] codedsun commented on #7966
@Prakhar-Agarwal-byte - Please take only one issue at a time

[2021-11-22 12:28] progmatic-99 commented on #8080
Timezone couldn't be translated:
https://stackoverflow.com/questions/41591377/moment-js-timezone-language-localization

[2021-11-22 15:32] codedsun commented on #8068
It can't be moved as we create order on the click of Proceed to checkout. Need to discuss further, Also what to do in case of cheque,  invoice, onsite @mariobehling

[2021-11-22 20:04] ayushporwal1234 commented on #7906
@mariobehling this issue is open right now

[2021-11-23 08:40] mariobehling opened #8131 "Error when accessing group pages"
Accessing group pages causes errors, e.g. test here https://test.eventyay.com/g/3

![Screenshot from 2021-11-23 09-38-48](https://user-images.githubusercontent.com/1583873/142992743-053f1134-833c-47d4-b208-b33cfbf82c11.png)
![Screenshot from 2021-11-23 09-39-37](https://user-images.githubusercontent.com/1583873/142992748-43683b24-b739-49d8-8e83-52c6fe5bc31a.png)

[2021-11-23 12:54] codedsun commented on #8021
![image](https://user-images.githubusercontent.com/20026440/143027519-f991391f-e119-43b0-a8db-6333a5d9785c.png)

The issue is that we are getting 502 using postman @SundaramDubey @pc-beast @progmatic-99 Any ideas on what could be the issue here?

[2021-11-24 12:11] mariobehling opened #8133 "Attendee does not see ticket under "my tickets" if another user bought the ticket"
If one user (ticket buyer) buys a ticket for another user (attendee) the order should show up for both people under "my tickets". Only one thing should not show for the "attendee" which is "Cancel Order".

The attendee should then also have access to the online event.

![Screenshot from 2021-11-24 13-10-43](https://user-images.githubusercontent.com/1583873/143236045-6084648f-3fc5-49ce-b86b-b059312

[2021-11-25 05:13] pc-beast opened #8135 "Not able to follow some groups on group public page"
We are not able to follow some groups with follow button on the group public page.
Compare: https://eventyay.com/g/101

![image](https://user-images.githubusercontent.com/56963647/143383534-22d02a89-777c-4120-a591-d54a6cef61e5.png)

![image](https://user-images.githubusercontent.com/56963647/143383488-5f6ff478-6616-476b-8861-287c228a7284.png)

[2021-11-25 13:11] subhamgcon commented on #8135
Hey I tried to compare this bug but its working me.

[2021-11-25 14:38] mariobehling commented on #8135
@subhamgcon Yes, this is the confusing thing. Sometimes works and sometimes not for some accounts. We discuss these kind of details also in our regular meetings on Tuesdays and Thursdays. Would be great if you join. You get the latest info on the meetings in our Gitter channel https://gitter.im/fossasia/open-event-frontend Thank you.

[2021-11-25 14:57] codedsun opened #8137 "Orders Pages show wrong total amount of order"
**Describe the bug**
Buy a paid ticket and on the orders page sometimes the order amount is shown as 0. Please debug

**Screenshots**

![image](https://user-images.githubusercontent.com/20026440/143463300-5fcde091-5b47-4010-b766-6f5a25fddb63.png)

[2021-11-25 15:42] #8091 closed

[2021-11-25 16:00] subhamgcon commented on #8137
Is this bug only appears after buying the ticket?

[2021-11-25 16:01] subhamgcon commented on #8135
Thank you, I will definitely join from the next meeting!

[2021-11-25 18:03] 1rn19cs003 commented on #5158
hey developer can you assign me this task !

[2021-11-27 07:42] pc-beast commented on #8007
After #8126 Promoted Groups are now visible on the front page, but event images are still not showing up sometimes.

[2021-11-28 08:07] kirtisingh3008 commented on #7036
This issue is yet on fixed can i work on it.

[2021-11-29 12:13] khushbooag4 commented on #8137
Is anyone working on this issue. I want to work

[2021-11-29 12:14] khushbooag4 commented on #8120
Can I work on this issue

[2021-11-29 18:23] #8005 closed

[2021-11-29 18:23] #8007 closed

[2021-11-29 18:25] #8071 closed

[2021-11-30 03:16] Parna2000 commented on #8029
Hey @mariobehling I would like to work on this issue

[2021-11-30 03:50] Parna2000 commented on #7906
I am working on this issue @mariobehling

[2021-11-30 04:04] pc-beast commented on #8137
Go ahead

[2021-11-30 05:12] Ruchip16 commented on #8029
@Parna2000 I am glad that you are interested in contributing to Fossasia but I am working on this issue and have already changed the files locally hence would suggest you to work on some other open or unassigned issue, thanks

[2021-11-30 06:51] pc-beast commented on #8029
@Ruchip16 please raise a PR for it. It's been a long time since you claimed the issue.

[2021-12-01 09:31] ayushporwal1234 commented on #8137
Can I fix it?

[2021-12-01 12:42] #8131 closed

[2021-12-01 13:16] Ruchip16 commented on #8029
yes @pc-beast I would do it within tmr my end sem exams were going on hence I did not get time to do so but I would do it now

[2021-12-01 17:01] codedsun commented on #8137
@ayushporwal1234 Go ahead

[2021-12-02 14:46] JIVIN0902 commented on #7984
Working On it.

[2021-12-04 12:58] Ruchip16 commented on #8120
Hey @codedsun @mariobehling can I work on this issue as I have already trying to do it locally so if everything goes fine I would make a PR for the same

[2021-12-04 16:52] codedsun commented on #8120
Yes! @Ruchip16 go on

[2021-12-06 12:21] saquib678 commented on #5717
Can I contribute to this issue?

[2021-12-07 07:46] codedsun commented on #5717
@saquib678 This has already been taken

[2021-12-07 11:48] Mani7061338807 commented on #8133
can i work on this?

[2021-12-07 12:39] codedsun commented on #8133
@Mani7061338807 Yes

[2021-12-07 12:43] Mani7061338807 commented on #8133
Ok thanks

[2021-12-07 13:03] mariobehling opened #8179 "Calendar entries with HTML tags in text in Thunderbird, Kopano, MacOS, Outlook"
Adding an event to a calendar only looks ok in Google calendar. Other calendars display HTML tags in the text. I assume there is a HTML header or body tag getting filtered possibly? Please identify and solve the problem. You can use Thunderbird to test this.

Test on https://eventyay.com/e/c5fc6d42 or https://eventyay.com/e/94edc3cb

![Screenshot from 2021-12-07 14-02-37](https://user-images.githu

[2021-12-07 15:47] Mani7061338807 commented on #8133
hello sir, i have required a small help, i am unable to run this app in my local system. how can i do this?

[2021-12-07 16:04] mariobehling commented on #8068
After merging I get:

TypeError: Cannot read properties of undefined (reading 'message')

![Screenshot from 2021-12-07 17-02-56](https://user-images.githubusercontent.com/1583873/145063881-4023cbd0-52b8-4855-9de0-c071d3d15c40.png)

[2021-12-07 16:06] mariobehling commented on #8068
state-machine.js:86 TypeError: Cannot read properties of undefined (reading 'message')
    at l.<anonymous> (pending.js:287)
    at c (polyfill.js:6473)
    at Generator._invoke (polyfill.js:6702)
    at Generator.e.<computed> [as next] (polyfill.js:6525)
    at d (pending.js:13)
    at a (pending.js:15)

[2021-12-07 17:12] pc-beast opened #8166 "Choosing "Stripe" as a payment option results in "TypeError: Cannot read properties of undefined (reading 'message')""
Choosing "Stripe" as a payment option results in "TypeError: Cannot read properties of undefined (reading 'message')"

_Originally posted by @mariobehling in https://github.com/fossasia/open-event-frontend/issues/8136#issuecomment-988064239_

[2021-12-07 19:55] mariobehling opened #8168 "Stripe or Paypal not working with Registration events"
We have the option for ticketed events or registration events. If we choose Stripe or Paypal as a payment option for registration events it does not work.

Error message is: /data/attributes/payment-mode: insufficient data to verify stripe payment

![Screenshot from 2021-12-07 20-53-05](https://user-images.githubusercontent.com/1583873/145096936-3c0c75b5-5c15-41a2-9371-ca96358c7ce8.png)

[2021-12-08 07:00] iamrahulrnair commented on #8168
may i work on this ?

[2021-12-08 07:56] codedsun commented on #8168
@pc-beast What's the error here?

[2021-12-08 07:57] codedsun commented on #8168
@iamrahulrnair It's not a beginner friendly issue

[2021-12-08 18:32] pc-beast opened #8176 "Allow users to change payment methods stripe."
In the current system, the stripe redirects to the checkout page when we click the 'Pay Now' Button. There is no option to come back and change the payment method if the user doesn't want to continue with the stripe. Please make it possible.

[2021-12-08 18:40] #8166 closed

[2021-12-08 19:03] mariobehling opened #8178 "Cannot add Stripe due to Missing url param: "client_id""
On the test system it is not possible to add Stripe to an event due to error "Missing url param: "client_id". (Looked for: property named "clientId".. Please try again."

This error appeared previously. Please compare issue and PRs here https://github.com/fossasia/open-event-frontend/issues/3523

![Screenshot from 2021-12-07 20-54-46](https://user-images.githubusercontent.com/1583873/145268187-db8

[2021-12-08 19:08] mariobehling commented on #8060
Duplicate of https://github.com/fossasia/open-event-frontend/issues/8176

[2021-12-08 19:08] #8060 closed

[2021-12-08 19:09] mariobehling commented on #8113
This is working as expected currently as our current architecture would make it difficult otherwise. Therefore closing this for now.

[2021-12-08 19:09] #8113 closed

[2021-12-09 10:57] pc-beast commented on #8168
Woks for me after #8167. Please test @progmatic-99 @codedsun

[2021-12-09 12:46] progmatic-99 commented on #8168
It's working for me too @mariobehling

[2021-12-11 14:27] savaliyabhargav commented on #7036
can I work on it

[2021-12-12 10:29] #8179 closed

[2021-12-12 10:56] #8176 closed

[2021-12-16 22:58] mariobehling opened #8201 "Video and Audio Form Element in Session not Visible"
The video form element in sessions is not showing up if it is activated later in the wizard.

Compare https://eventyay.com/events/c5cce3ed/session/7309/edit (This link is only accessible for admins)

![Screenshot from 2021-12-16 23-56-03](https://user-images.githubusercontent.com/1583873/146461189-49f4aef0-315b-4706-957e-3bc2fd8c0634.png)

[2021-12-17 09:23] shlokjjw commented on #3699
Is this issue still open?

[2021-12-18 11:13] ratika-12 commented on #8120
@codedsun Hey  I am working on this. please assign me :)

[2021-12-18 11:31] ratika-12 commented on #8120
hey @codedsun I am working on this issue.

[2021-12-19 14:19] iswarmondal commented on #6181
Hay is the backend written with nodeJS? Then I can take this issue.

[2021-12-21 16:02] DawnArchi01 commented on #5079
@mariobehling
Can you assign me with the task ?

[2021-12-21 17:52] #8168 closed

[2021-12-22 07:29] progmatic-99 opened #8214 "Card details not appearing correctly after paying using card through stripe"
Payment details are not shown correctly when paying through stripe using card, as shown below
Reference PR: [Payment Intent](https://github.com/fossasia/open-event-server/pull/8428)
![Screenshot 2021-12-21 at 16-06-58 Completed Order - dfb0cd22-3bf7-4ed5-adb6-da93229d1fa1 Orders Open Event](https://user-images.githubusercontent.com/42090582/147052890-1d67cbc9-de60-45d2-bf7f-2b2e0996e7e7.png)

[2021-12-23 15:52] #8201 closed

[2021-12-23 16:02] #8080 closed

[2021-12-24 14:33] progmatic-99 commented on #8068
This is solved.

[2021-12-24 14:34] #8068 closed

[2021-12-27 12:23] DawnArchi01 commented on #8214
Is this ticket open yet ?

[2021-12-27 15:13] pc-beast commented on #8214
Yes, this is open but there is already an open PR for this.

[2021-12-27 17:51] progmatic-99 commented on #7761
On test server, the group image resizing manager command is working but the celery task for that, is still not registered.

![ss_1640613951](https://user-images.githubusercontent.com/42090582/147495782-91f2a7d5-bc8c-468f-9ead-30ee720592eb.png)

[2021-12-29 11:46] #8214 closed

[2021-12-30 09:32] shrutijha16 commented on #8137
can i work on this issue ? @codedsun

[2021-12-31 14:57] pc-beast opened #8223 "Not able to add Fossasia Summit to Fossasia group event"
Fossasia Summit doesn't appear in the list of upcoming events of the new owner after transferring the ownership. Because of this we are not able to add this event to Fossasia groups events.

[2022-01-01 16:18] kkg2001 commented on #8137
I want to work on this issue

[2022-01-02 13:44] devika-harshan commented on #8137
Can I work on this issue

[2022-01-04 17:19] 4kashyadav opened #8236 "Enhance Styling of Language Button in the Footer!!"
1.**What I want to do!**
I want to make the language list button more attractive!

2.**How it is looking now (When you hover over it)**

![Screenshot (3)](https://user-images.githubusercontent.com/78416508/148098109-6592ef6f-0714-4795-a8ce-91df4831414a.png)

3.**How it will look after my enhancement (When you hover over it)**

![Screenshot (4)](https://user-images.githubusercontent.com/78416508/14

[2022-01-06 14:03] niccokunzmann opened #8239 "Cannot add speaker details on smartphone"
**Describe the bug**

When I edit the Speaker Details on my phone, the page reloads when I add a photo of me.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://eventyay.com/e/6b901f56/cfs/new-speaker
2. fill every text in
3. click on the photo upload
4. other App opens
5. choose photo
6. See page reloading, all Details lost

**Expected behaviour**

I would like the contents of t

[2022-01-06 18:34] reachaadrika commented on #7906
@mariobehling @maze-runnar @pc-beast Since there is no PR on this issue,  can I take this up?

[2022-01-07 03:25] maze-runnar commented on #7906
Yes, no need to ask. If no one else working just start working and ask if stuck

[2022-01-07 09:31] mariobehling commented on #6593
This issue has not been solved entirely. The following info is missing from the session email:

Speaker: {speaker_name}
Email: {speaker_email}
Bio: {speaker_bio}

[2022-01-07 09:54] mariobehling commented on #8236
Not needed.

[2022-01-07 09:54] #8236 closed

[2022-01-07 09:57] #8223 closed

[2022-01-07 10:12] mariobehling commented on #6460
This has been solved.

[2022-01-07 10:12] #6460 closed

[2022-01-07 10:26] #3609 closed

[2022-01-07 10:27] #4593 closed

[2022-01-07 10:31] mariobehling commented on #8120
We will not tackle this and rather work on the next version of the project. Therefore closing it.

[2022-01-07 10:31] #8120 closed

[2022-01-07 13:19] Anosh21 commented on #8029
Hello @mariobehling  is anyone working on this ?

[2022-01-07 14:24] mariobehling opened #8245 "Adding a second speaker not possible when creating a session"
When a speaker tries to add a second speaker while creating a session, it does not work. Adding a speaker is currently only possible after a session is saved and then edited again. Please propose a solution. Preferably it should be possible right from the beginning, alternatively an error message should appear "You need to save the session first, before you can invite another speaker.".

![Screens

[2022-01-07 16:42] mariobehling opened #8246 "Prevent organizer from saving event with paid tickets if no payment method has been added"
Currently a user can add a paid ticket and save and publish an event even if not payment method (Paypal, Stripe etc.) has been added. Expected: It should not be possible to save and publish an event with paid tickets if no payment method has been created.

![Screenshot from 2022-01-07 17-40-01](https://user-images.githubusercontent.com/1583873/148576669-3ee1beb7-904d-417d-a8d2-3349c1477a38.png)

[2022-01-07 18:33] mariobehling opened #8247 "Show complete attendee information on final order step before payment"
On the final oder step before payment there is a box "Attendee Information". Currently this box only shows the name and email of the ticket holder. Expected is: If there are more details collected (phone, address etc.) this box should show all the info collected.

![Screenshot from 2022-01-07 19-31-37](https://user-images.githubusercontent.com/1583873/148590412-3ed6dcba-cd5b-4a68-a650-236ab435a353

[2022-01-07 18:38] mariobehling opened #8248 "Provide more payment gateways for Stripe payments"
Stripe currently only provides credit card payment options. Please activate other payment options available.

![Screenshot from 2022-01-07 19-36-22](https://user-images.githubusercontent.com/1583873/148590896-2fb7bd4e-8f04-4c20-bf77-5cbde6246a2b.png)

[2022-01-07 19:46] #5717 closed

[2022-01-08 09:19] progmatic-99 commented on #8029
@Anosh21 Go ahead, make a PR

[2022-01-08 09:20] Manmeet0504 commented on #8137
I want to work on this issue !

[2022-01-08 11:25] mariobehling opened #8250 "Fix indentation and link sessions to speakers and vice versa"
On the pages where organizers can view submissions or speakers there is a field "Sessions" or "Speakers" respectively. The indentation is wrong. Please fix this. Also expected would be that the sessions (or speakers) link to the sessions view page (or speakers page) within the organizer area.

![Screenshot from 2022-01-08 12-22-21](https://user-images.githubusercontent.com/1583873/148642349-fb26b0

[2022-01-08 16:03] Neeteshking21 commented on #8250
Please assign it to me.

[2022-01-09 04:16] ashwini-m-hub commented on #8250
can I work on this

[2022-01-09 08:54] Manmeet0504 commented on #8247
I am working on this issue !

[2022-01-09 11:56] schezfaz commented on #8246
hi, could I take this issue up?

[2022-01-09 16:35] pc-beast commented on #8246
Yes please go ahead.

[2022-01-10 05:11] progmatic-99 commented on #8250
@ashwini-m-hub Go ahead, make a PR

[2022-01-11 08:59] huskhi commented on #8245
I would like to work on this issue.

[2022-01-12 13:41] #8029 closed

[2022-01-12 14:00] progmatic-99 commented on #8245
@huskhi Go ahead, make a PR

[2022-01-12 14:58] pc-beast opened #8259 "Events Fetched in group edit area are not sorted correctly"
Some of the past events show up in the upcoming events area and vice versa

[2022-01-15 17:37] Pulkit3234 commented on #8247
Working on this issue.

[2022-01-16 07:27] Saty248 commented on #8239
i think it is working fine...
![Screenshot 2022-01-16 125625](https://user-images.githubusercontent.com/68778874/149651206-b88f4776-6073-4781-a6d8-5d60710b352c.png)

[2022-01-16 07:28] Saty248 commented on #8239
@niccokunzmann

[2022-01-17 17:33] mariobehling commented on #8250
The session pages that can be viewed by the organizers link to the "private speakers CfS" page (e.g. https://eventyay.com/e/6b901f56/cfs/speaker/5983). They should be linking to the speakers pages that can be viewed by the organizer (e.g. https://eventyay.com/events/6b901f56/speaker/5983)

[2022-01-18 06:40] progmatic-99 commented on #8250
@mariobehling The links of speakers on the session's page link to `https://eventyay.com/events/6b901f56/speaker/5983`
@pc-beast Can you also check ??

[2022-01-19 12:55] progmatic-99 commented on #8250
Working fine after merging dev into master.

[2022-01-19 12:55] #8250 closed

[2022-01-19 12:55] #8259 closed

[2022-01-21 06:29] #8239 closed

[2022-01-22 00:05] hpdang opened #8289 "Exhibition Creation Form: optional field can't be empty"
**Describe the bug**
While creating an exhibitor, I can't leave the field "Contact Email" empty even though this field is optional (not required)

**To Reproduce**
1. Go to https://eventyay.com/events/6b901f56/exhibitors/create
2. Complete all the required field and leave the Contact Email field empty.
3. See error "Contact Email invalid"

**Laptop (please complete the following information):**
-

[2022-01-22 07:15] progmatic-99 commented on #8289
working on this

[2022-01-23 06:24] Krish-bhardwaj commented on #3837
I am interested to fix this issue. I request you to allow me to fix it. can you assign me this issue

[2022-01-23 17:25] mariobehling opened #8293 "Integrate Chatmosphere as a Video Option"
1. Please add the option "Chatmosphere" as a video room option in the event video area.

![Screenshot from 2022-01-23 18-10-59](https://user-images.githubusercontent.com/1583873/150690218-cbdf2fce-f0d7-4044-a4fc-2e336586a816.png)

2. In the video room area add an option to set a background image for the Chatmosphere screen.

3. Use the following URL structure to generate rooms in the chatmosphere

[2022-01-23 18:05] mariobehling opened #8294 "Change chat view on all pages to match the video page views"
If event chats are enabled they are are currently moved in to the right on video room pages.

1. Please implement it in the same way on all other pages that are accessible from the left side panel of events.
2. If the users clicks "Chat" on the left side panel itself also open it on the right-hand side as a side panel.
3. Also show the chat icon on the bottom right to activate the event wide chat

[2022-01-23 20:00] mariobehling opened #8296 "FOSSASIA Summit event page shows "9" in donation ticket field"
The donation ticket field shows a "9" in the FOSSASIA Summit. Expected: It should show the minimum donation ticket payment set by the organizer.

Compare https://eventyay.com/e/6b901f56

![Screenshot from 2022-01-23 20-54-51](https://user-images.githubusercontent.com/1583873/150695905-28eff0ea-b158-44c1-8dcf-8803ac9c4bf6.png)

[2022-01-23 21:35] somendrakr commented on #8296
hey can i work on this issue?

[2022-01-24 08:29] pc-beast commented on #8296
on it

[2022-01-24 15:16] #8289 closed

[2022-01-25 09:16] pratik0oo7 commented on #8296
i want work on this.

[2022-01-25 09:40] Priiyaa commented on #8294
Hi !
I would like to work on it! Can you please guide me through it a little?

[2022-01-25 11:54] pc-beast commented on #8247
Make links render with ```a``` tag.

[2022-01-25 16:24] progmatic-99 commented on #8294
@pc-beast

[2022-01-26 06:43] hpdang opened #8313 "User verification: User did not receive a verification email"
It looks like the system did not send a verification email to a user who signed up with email address that content a dot "." e.g. xx.xxxx@gmail.com. The user then used another email, then she received a verification email

When I tried to resend a verification email from the admin panel, an error appeared. The error applied for all unverified emails. There are a lot of unverified user the last few

[2022-01-26 08:34] pc-beast commented on #8294
@Priiyaa please go ahead

[2022-01-27 00:04] vian9 commented on #8294
Hey, I wanna work on this issue.

[2022-01-27 05:28] progmatic-99 commented on #8294
@vian9 Make a PR

[2022-01-27 05:33] pratik0oo7 commented on #8247
Working on this issue.

[2022-01-27 05:36] pratik0oo7 commented on #8137
I want to work on this issue !

[2022-01-27 08:57] progmatic-99 commented on #8313
Not able to reproduce the error in the admin panel.

[2022-01-27 11:58] #7966 closed

[2022-01-28 04:47] v0nser commented on #7906
Hey! I wanna work on this issue.

[2022-02-01 13:51] #8247 closed

[2022-02-01 17:33] #8246 closed

[2022-02-01 18:31] mariobehling commented on #8313
Seems to work fine at the moment. Therefore closing it.

[2022-02-01 18:31] #8313 closed

[2022-02-02 05:22] #8296 closed

[2022-02-03 06:16] #7906 closed

[2022-02-03 06:47] VaibhavArora19 commented on #8137
I want to work on this issue!!

[2022-02-03 13:56] mariobehling opened #8334 "Add Libre Work Adventure"
Please integrate Libre Work Adventure as video option. A place where the project has been deployed is https://2d.freiland-potsdam.de. Please add the system into an iframe similar to Jitsi and BBB.

For the first iteration you can add the deployment at Freiland to get it working. Later on we can deploy our own version.

[2022-02-04 14:49] #5260 closed

[2022-02-08 14:29] #8294 closed

[2022-02-14 22:09] Ash-KODES commented on #7385
Can you please breif me more so that i can work on this issue?

[2022-02-17 11:49] #8334 closed

[2022-02-17 12:55] vian9 commented on #8248
Hey I wanna try this issue

[2022-02-19 11:05] #7718 closed

[2022-02-22 19:09] Ash-KODES opened #8386 "Feature request regarding eventyay website"
We can add a hyperlink at the footer so that people can know about Late Areeb Jamal and what he did for the community.
![Screenshot (8)](https://user-images.githubusercontent.com/84193017/155201733-2822c0ec-a929-4e25-bcda-cdea2859bb68.png)

And there is very good blog by fossasia which we can link https://blog.fossasia.org/areeb-jamal-forever-in-our-hearts-and-our-memory/
Can I work on  this?
@mar

[2022-02-23 22:42] Ash-KODES opened #8390 "Attendee app googleplay link broken"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'footers attendee app link'
2. Click on 'attendee app'
3. See error

**Expected behaviour**

Want to contribute for this issue? YES

[2022-02-25 19:19] #8386 closed

[2022-02-25 19:48] #8390 closed

[2022-03-02 10:33] 0xBahamoot opened #8406 "Wrong donation amount at Order Summary"
**Describe the bug**
The service charge the correct donation amount but the amount at Order Summary show 0

**Expected behaviour**
- Show the correct donation amount

**Screenshots**
![Screen Shot 2022-03-02 at 5 28 43 PM](https://user-images.githubusercontent.com/42596389/156344918-f7446538-d258-4f95-ab7b-273b4f0d5572.png)

**Desktop (please complete the following information):**
 - OS: macOS 12

[2022-03-02 14:18] Sankalpkokse commented on #8406
hey @0xBahamoot  I would love to work on this bug.
if no one is assigned on this issue should I proceed.

[2022-03-03 07:12] progmatic-99 commented on #8406
@Sankalpkokse Go ahead, make a PR!

[2022-03-08 03:31] pruthvihosmani commented on #8021
Is this issue resolved??

[2022-03-08 06:12] progmatic-99 opened #8411 "Join Live Event button asks for logging in even though I am already logged in"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://eventyay.com/e/6527cc1f' and click on `Join Live Event`
2. It shows a modal for logging even though I am already logged in

**Thing to note here:-** There are no tickets for this event.

![Screenshot 2022-03-08 at 11-39-34 Codeheat Coding Contest Ask Me Anything eventyay](https://user-images.githubuserconten

[2022-03-08 06:12] progmatic-99 commented on #8411
cc: @mariobehling @pc-beast

[2022-03-08 11:57] pc-beast commented on #8411
Need to change the error message for events with no tickets.

[2022-03-08 13:02] progmatic-99 commented on #8411
The end date for registration tickets for this event was of 2021. I changed that, now this is resolved.

[2022-03-08 13:02] #8411 closed

[2022-03-10 11:48] mariobehling commented on #8406
This usually happens when you reload the page. There is an issue with ember that could cause this. Happy to see anyone solving this PR. You do not need to ask if you can work on it.

[2022-03-10 11:50] mariobehling opened #8418 "Some events with speakers and schedule show never-ending loading icon"
Some events with speakers and schedule show never-ending loading icon on left side panel.

Compare https://eventyay.com/e/4bf41cc4?side_panel=true

![Screenshot from 2022-03-10 12-49-58](https://user-images.githubusercontent.com/1583873/157656145-07c5f0f9-2bb3-4eed-8eea-329b21fa7777.png)

[2022-03-10 19:39] mariobehling opened #8419 "Downloading Orders and Attendees as CSV or PDF not working"
When trying to download orders or attendees CSV or PDF the user is directed to a URL starting with "localhost" and download fails.

Compare https://eventyay.com/events/d36c125f/tickets/orders/completed

![Screenshot from 2022-03-10 15-43-12](https://user-images.githubusercontent.com/1583873/157741644-be6dde07-a8fe-4ca8-9600-837e6616e746.png)

Compare http://localhost/static/media/exports/2796/pdf/

[2022-03-11 18:06] RahafTahayneh commented on #8419
Hi, I would like to work on this issue, can you please assign it to me!

[2022-03-12 03:30] saurabh15april commented on #8419
@mariobehling it seems to be working -

https://user-images.githubusercontent.com/59115657/158002068-71d5db2c-f3b4-4a09-9fad-45d3c87c4028.mp4

[2022-03-12 09:22] #8419 closed

[2022-03-12 09:26] mariobehling opened #8420 "Ownership Transfers do not send emails and resending results in error"
When I transfer to another owner the new owner does not receive a confirmation email. If I try to transfer again I receive the info "Role Invite has already been sent for this email."

![Screenshot from 2022-03-12 10-20-48](https://user-images.githubusercontent.com/1583873/158012297-99c600a8-0486-4077-b23d-5b0808212849.png)

[2022-03-12 09:38] mariobehling opened #8421 "Rooms without a schedule entry do not show up on sidepanel"
We have the option to not add a room that shows up on the side panel. The idea is that some rooms do not have a defined schedule, e.g. discussion rooms. Then we also hide the room from the schedule itself. However, it still shows up on the sidepanel. There is a condition to make this work. The condition is to publish a schedule even if the schedule is empty.

This is currently not working. Instead

[2022-03-12 09:59] hpdang opened #8422 "Duplicate Speaker Images on Speaker Page"
Go here https://eventyay.com/e/6b901f56/speakers

Some speaker images appear twice

![Screenshot from 2022-03-12 10-57-19](https://user-images.githubusercontent.com/1658742/158013469-4cc8277c-78f9-4244-89b2-88af6d56a4ea.png)

[2022-03-12 10:10] hpdang commented on #8422
The problem disappeared after reordering speaker positions, close for now

[2022-03-12 10:10] #8422 closed

[2022-03-12 10:28] progmatic-99 opened #8423 "Not able to create order for free tickets"
1. Create an event with free tickets and publish it
2. Create an order and see the error

**Error in console:**
`Error while calculating order amount
Object { status: 422, ok: false, statusText: "Unprocessable Entity", headers: {…}, url: "https://api.eventyay.com/v1/orders/calculate-amount?", response: {…}, errorMessage: "Unprocessable Entity" }
​
errorMessage: "Unprocessable Entity"
​
headers: Ob

[2022-03-12 10:44] progmatic-99 commented on #8421
Related to #8418
Hence, closing this.

[2022-03-12 12:47] mariobehling commented on #8421
This is a different issue. It is not showing the rooms on the sidepanel + the loading icon. Therefore this is possibly different to the issue you are referring to @progmatic-99

[2022-03-12 13:24] mariobehling opened #8424 "Not possible to open chat window on top of BBB room"
Compare https://eventyay.com/e/6b901f56/video/fossasia-summit-2022/577?side_panel=true

![Screenshot from 2022-03-12 14-13-59](https://user-images.githubusercontent.com/1583873/158019593-0d5d867f-fdab-4dff-8214-0285f0597d6e.png)

[2022-03-13 07:26] mariobehling commented on #8293
Please add Chatmosphere in the iframe.

[2022-03-13 07:31] progmatic-99 commented on #8421
@mariobehling because the loading icon is not being removed from there, that is why other rooms are not showing.

[2022-03-13 07:41] mariobehling commented on #8406
We covered this here already https://github.com/fossasia/open-event-frontend/issues/8137

[2022-03-13 07:41] #8406 closed

[2022-03-13 09:41] progmatic-99 commented on #8424
What is the issue here? What behaviour do you want? Can you elaborate?

[2022-03-13 09:42] progmatic-99 commented on #8421
@mariobehling Have you enabled the event chat for  this event??

[2022-03-13 09:42] progmatic-99 commented on #8418
@mariobehling Have you enabled the event chat for  this event??

[2022-03-13 11:47] progmatic-99 commented on #8423
this is because of this PR https://github.com/fossasia/open-event-server/pull/8519

[2022-03-14 00:52] mariobehling commented on #8424
Click on "Chat" in the side panel or the chat icon on the bottom right. In my browser (Chromium) the chat does not open.

[2022-03-14 00:55] mariobehling opened #8426 "Video rooms on side panel do not follow defined list order of rooms"
On the wizard we have an order for video rooms defined. Currently the list on the side panel no longer follows this order.

1. The wizard shows this order
![Screenshot from 2022-03-14 01-50-21](https://user-images.githubusercontent.com/1583873/158087618-ac2188d9-b324-4492-a4fb-bab7a36453ca.png)

2. The sidepanel does not show the same order which is expected.
![Screenshot from 2022-03-14 01-50-41]

[2022-03-14 07:49] progmatic-99 commented on #8424
@mariobehling You have not enabled the event chat for this event. Try with enabling the event chat.

[2022-03-14 17:02] mariobehling opened #8427 "ICS calendar Timezone ID is set to "Country" instead of "Continent/Country""
The registration confirmation generated icalendar TZID is set to "Singapore" instead of "Asia/Singapore" and triggers error on mail client.

[2022-03-15 11:27] mariobehling commented on #8424
This comment does not make sense. The menu item "Chat" and the chat icon are visible on the screenshot. Chat is enabled, but if there is a BBB room active, it does not work.

[2022-03-16 05:05] #8418 closed

[2022-03-16 12:03] #8293 closed

[2022-03-16 13:23] mariobehling commented on #8421
Thanks. Seems to be working now.

[2022-03-16 16:28] mariobehling commented on #8421
After merging it to Master it still does not work on the production system. Compare here https://eventyay.com/e/6b901f56?side_panel=true

Though loading icon is not there anymore, but rooms do not show up.

[2022-03-16 16:30] mariobehling commented on #8421
Rooms are missing.

![Uploading Screenshot from 2022-03-16 17-30-38.png…]()

[2022-03-16 16:38] #8424 closed

[2022-03-16 16:46] mariobehling commented on #8421
Ok, current work around is to publish the schedule. That is good enough for now.

[2022-03-16 16:46] #8421 closed

[2022-03-17 06:44] pc-beast commented on #8420
Works fine for me. @progmatic-99 can you test once?

[2022-03-17 10:32] #8426 closed

[2022-03-17 13:35] mariobehling opened #8438 "Chat icon visible even if user has not joined event"
The chat icon of an event is visible even a user has not joined an event. Expected: Only user who have a ticket and who have joined an event (through the blue join event button) should see the chat icon. This means only when the sidepanel is activated should the chat be available.

![Screenshot from 2022-03-17 14-33-35](https://user-images.githubusercontent.com/1583873/158819944-223b2cfd-43b8-4290

[2022-03-18 05:18] SiddheshKukade commented on #8438
I am logged in But not regisgtered or joined this event

[2022-03-18 05:20] SiddheshKukade commented on #8438
![image](https://user-images.githubusercontent.com/65951872/158942105-461597ec-1f15-441a-9194-a96787204f97.png)
I am also logged but not registered but I can't  see any chat button....

[2022-03-18 05:21] SiddheshKukade commented on #8427
Please at least provide the steps to reproduce the bug

[2022-03-18 05:56] mariobehling commented on #8427
Get calendar ics by clicking on the option on the right side panel of an event e.g. https://eventyay.com/e/6b901f56

![Screenshot from 2022-03-18 06-55-29](https://user-images.githubusercontent.com/1583873/158945717-044f7bab-4786-494c-b8bc-d6f86a3ca275.png)

[2022-03-18 06:53] mariobehling commented on #8427
Here is a report on the Telegram user channel

🖼 hi guys. i was trying to replicate this problem the last week or so in thunderbird. it seems 2 b complaining abt the time zone format. Unfortunately error console is an add on product for thunderbird & i'm planning on reinstalling this partition some time soon so don't wish 2 install anything new.
hi guys. i was trying to replicate this problem the

[2022-03-20 21:44] #8427 closed

[2022-03-22 16:05] mariobehling opened #8451 "Server errors and difficulties loggin in"
When I try to accept an event invite I get a server error and I am not able to login.

[2022-03-22 16:05] mariobehling opened #8452 "Server errors and difficulties loggin in"
When I try to accept an event invite I get a server error and I am not able to login.

[2022-03-22 16:19] progmatic-99 commented on #8452
Same as #8451
Hence, closing.

[2022-03-22 16:19] #8452 closed

[2022-03-22 16:26] mariobehling commented on #8452
[code]

[2022-03-22 16:27] mariobehling commented on #8451
[code]

[2022-03-25 09:01] mariobehling commented on #8451
not appearing anymore

[2022-03-25 09:02] mariobehling opened #8457 "Error Message on accessing events"
After not using the app for some time and loggin in again there is an error message.

![Screenshot from 2022-03-25 10-00-35](https://user-images.githubusercontent.com/1583873/160089504-7e323510-c112-47cd-90e2-d4b6f7343e98.png)

Failed to load resource: the server responded with a status of 404 ()
api.eventyay.com/v1/events/2764/event-copyright:1          Failed to load resource: the server respond

[2022-03-28 10:30] #8438 closed

[2022-03-28 16:51] #8451 closed

[2022-03-29 07:31] progmatic-99 commented on #8457
Not able to reproduce this.

[2022-03-29 14:02] mariobehling opened #8465 "Add Public Stream URL"
On wizard step 1 below “online” and text “You can add video meeting rooms or streams after you created a draft of the event.” add a form field for a Youtube or Vimeo URL.

If the user adds a link here embed the video above the event description on the main event page.

Event wizard
![Screenshot from 2022-03-29 16-01-25](https://user-images.githubusercontent.com/1583873/160628904-a79b58cc-099a-4921

[2022-04-01 14:27] mariobehling commented on #8465
Getting errors on test site, compare https://test.eventyay.com/e/a86f2bbb

![Screenshot from 2022-04-01 16-27-08](https://user-images.githubusercontent.com/1583873/161283568-8b002856-4a31-4153-969a-29949b056e33.png)

The service worker navigation preload request was cancelled before 'preloadResponse' settled. If you intend to use 'preloadResponse', use waitUntil() or respondWith() to wait for the

[2022-04-01 14:31] mariobehling commented on #8465
The last change also has the effect to create big white spaces on a number of pages, e.g. start page and wizard pages. It also results in lines getting cut off from the event tiles on the left hand side on the start page.

![Screenshot from 2022-04-01 16-28-48](https://user-images.githubusercontent.com/1583873/161284265-095aa1f0-8324-4eb3-a453-29d9e8772bec.png)
![Screenshot from 2022-04-01 16-28-1

[2022-04-01 14:37] mariobehling commented on #8465
Ok, I got the issue with the embed. It is necessary to use the embed link, e.g. https://www.youtube.com/embed/dzn8ncyx-NA instead of https://www.youtube.com/watch?v=dzn8ncyx-NA. However, in other places on the system and on other systems users can simply copy the Youtube URL and get that working immediately. So, it would be best if it would work in the same way here as well.

[2022-04-01 14:38] mariobehling commented on #8465
Please position the video above the description text.

![Screenshot from 2022-04-01 16-37-57](https://user-images.githubusercontent.com/1583873/161285547-21e0b07c-30e4-4fa8-9495-d29050416f3b.png)

[2022-04-01 14:55] mariobehling commented on #8465
I also see a spacing added above event header images. Well, please check all these details in a follow-up PR.

[2022-04-01 16:30] mariobehling opened #8473 "Provide option to autoplay and loop videos on public event pages"
We now have the option to add streams into public pages. Please add the option to autoplay and loop these streams.

![Screenshot from 2022-04-01 18-27-42](https://user-images.githubusercontent.com/1583873/161304394-2fb7d969-4ac9-41ea-816e-73c2d0e710d0.png)

Compare video tab where this option is already available for Youtube and Vimeo streams.

![Screenshot from 2022-04-01 18-30-53](https://user-i

[2022-04-03 10:05] mariobehling commented on #8465
Last PR resulted in unexpected error on the front page.

![Screenshot from 2022-04-03 12-04-44](https://user-images.githubusercontent.com/1583873/161422332-e478e67d-9130-49a5-b87d-70be4af9a2fb.png)

[2022-04-03 10:12] mariobehling commented on #8465
Also, I am no longer able to login. Giving error message too.

[2022-04-03 11:48] pc-beast commented on #8465
Not because of this PR. Its from server.

[2022-04-03 15:32] mariobehling commented on #8465
ok, thanks.

Please also add some spacing between the bottom of the video and the description text.

![Screenshot from 2022-04-03 17-31-40](https://user-images.githubusercontent.com/1583873/161435575-cb87ce6b-ef6b-4ae0-82ea-da19846753e9.png)

[2022-04-04 19:27] #8465 closed

[2022-04-04 19:29] mariobehling opened #8479 "The Calendar Links in the description area are not working as the first word of the description is added into the link"
The Google Calendar links in the description area are not working as the first word of the description is added into the link. Please add a space after the link to the session in order to make the links work as expected.

Compare https://calendar.google.com/calendar/render?cid=webcal://api.eventyay.com/v1/events/6b901f56.ics?include_sessions

 ![Screenshot from 2022-04-04 21-26-07](https://user-im

[2022-04-04 19:55] mariobehling commented on #8473
It is neither working with https://www.youtube.com/watch?v=dzn8ncyx-NA nor with https://www.youtube.com/embed/dzn8ncyx-NA on the test event at https://test.eventyay.com/e/a86f2bbb Therefore reopening it.

[2022-04-04 19:55] #8457 closed

[2022-04-04 19:56] mariobehling commented on #8473
![Screenshot from 2022-04-04 21-56-10](https://user-images.githubusercontent.com/1583873/161621767-510c87d1-f7d7-4c66-aa82-ebf36d804c44.png)

[2022-04-05 06:27] pc-beast commented on #8473
Just need to enter video-id now ```dzn8ncyx-NA``` in this case. Changed it in settings, it's working now.
https://test.eventyay.com/e/a86f2bbb

[2022-04-05 21:11] mariobehling commented on #8473
Autoplay does not work for me yet.

[2022-04-07 11:03] progmatic-99 opened #8489 "Remove hardcoded calendar links for google calendar"
In https://github.com/fossasia/open-event-frontend/blob/a9076de175e4bb7c962598956cfef58611dc7997/app/components/public/add-to-calender.ts#L101, the calendar link is hardcoded for **production site**.

_Expected_:-
Links should be according to the host/environment.

[2022-04-07 17:42] progmatic-99 commented on #8473
After this https://github.com/fossasia/open-event-frontend/pull/8487, it's working fine.
@mariobehling

[2022-04-07 22:31] mariobehling opened #8496 "Tickets do not show up at upcoming or past events"
I got a ticket for the FOSSASIA Summit on the second day. The ticket does not show up on the ticket area https://eventyay.com/my-tickets/upcoming/open

![Screenshot from 2022-04-08 00-30-25](https://user-images.githubusercontent.com/1583873/162330242-75aaea29-15d2-4131-b54d-bd78e57b2971.png)

[2022-04-10 12:28] progmatic-99 commented on #8496
Did you complete the order? If yes, then it should be under the Completed Orders ??
@mariobehling

[2022-04-12 06:28] mariobehling commented on #8496
It is not on any tab. Order it completed.

[2022-04-12 06:55] progmatic-99 opened #8505 "Change the node version for gitpod"

[2022-04-12 07:08] progmatic-99 opened #8507 "Community registration details not present on order completion page"
1. Bought ticket of this event https://eventyay.com/e/6527cc1f
2. On the order completion page, **registration type** & **quantity** were not there.

![Screenshot 2022-04-12 at 12-35-19 Completed Order - a1a77b79-f125-4cf8-8321-4d6f7fab76a1 Orders eventyay](https://user-images.githubusercontent.com/42090582/162901286-25778feb-15c0-4da0-a1b4-2a6f2ecef6a3.png)

[2022-04-13 07:46] #8507 closed

[2022-04-13 12:16] #8505 closed

[2022-04-14 09:01] #8489 closed

[2022-04-14 09:03] mariobehling opened #8517 "Improve text and options for online video in the wizard step 1"
Please improve this as follows:
* Change Public Stream VideoId to "Public Stream Video-ID"
* Move Autoplay/Loop into one line/row
* Please also implement this for Vimeo

![Screenshot from 2022-04-14 11-02-40](https://user-images.githubusercontent.com/1583873/163351924-739456ae-eb6f-46ce-9b93-6e246a455205.png)

[2022-04-14 11:53] #8473 closed

[2022-04-14 11:59] #8479 closed

[2022-04-16 03:54] mariobehling opened #8523 "Add mute and hide cam options for everyone at start"
Add the following options to the Jitsi video option
* Mute everyone on start
* Hide cam for everyone on start
* Mute reaction sounds for everyone on start

References
* https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-iframe/
* https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-iframe/#muteeveryone

![Screenshot from 2022-04-16 05-51-05](https://user-images.githubusercontent.com/15

[2022-04-22 05:18] mariobehling commented on #8523
The buttons show up correctly, but selecting mute and hide does not get saved. The options are immediately unselected.

![Screenshot from 2022-04-22 13-17-41](https://user-images.githubusercontent.com/1583873/164608111-22e32073-9fe8-4892-9347-22e63201ff61.png)

[2022-04-22 16:35] mariobehling opened #8535 "Order form: Show agreement tick boxes only once"
If a user gets several tickets of an event the agreement tick boxes (photo agreement, terms etc.) show up several times.

Make the three agreement tick box options appear only one time no matter how many tickets the user gets.

The tick boxes should appear on the bottom of the order form below all tickets.

![Screenshot from 2022-04-23 00-34-05](https://user-images.githubusercontent.com/1583873/16

[2022-04-22 16:43] mariobehling opened #8536 "Ticket order form for multiple tickets: Enable user to only enter information once"
For events that have several tickets, e.g. exhibition ticket, workshop ticket, social event ticket etc. a user has that gets several tickets needs to enter their credentials several times. Please add a tick box "Same as ticket 1", "Same as ticket 2" etc. if the event has several tickets.

Add the box below the line "Ticket Holder 2", "Ticket Holder 3" etc.

![Screenshot from 2022-04-23 00-42-21](h

[2022-04-22 19:37] Anup0099 commented on #8536
I would like to work on this issue. Please assign this issue to me. @mariobehling

[2022-04-22 19:39] Anup0099 commented on #8536
I am working on this issue.

[2022-04-24 06:48] progmatic-99 commented on #8535
What if some of the attendees for which the user is buying tickets, wants different permissions for the agreement boxes??

[2022-04-24 15:24] mariobehling commented on #8535
Ok, let me check how eventbrite is doing it.

[2022-04-26 06:31] #8517 closed

[2022-04-26 09:43] #8523 closed

[2022-04-29 09:44] mariobehling opened #8552 "Rename "Invoice" to "Order Confirmation""
Please change "Invoice" to "Order Confirmation" on frontend and backend.

[2022-05-01 11:30] shivam-sharma7 commented on #8552
where i can find this code section i mean which folder

[2022-05-04 01:19] #8552 closed

[2022-05-05 10:59] #8535 closed

[2022-05-05 20:17] durgesh077 commented on #3634
@iamareebjamal  I want to work on this . Please assign this project to me .

[2022-05-07 04:34] Manishgupta200 commented on #7385
ths issue resolved..? if not then i'm interested to solve this issue so please assign it to me

[2022-05-07 04:42] Manishgupta200 commented on #7984
Please assign it to me.. i would work on it

[2022-05-07 04:59] Manishgupta200 commented on #7385
Yes i'm working on it

[2022-05-09 05:48] mariobehling opened #8560 "For ticket invoices make tax ID optional"
Tax ID for invoices of ticket buyers is currently required. Please make this tax ID optional

<img width="593" alt="image-20220504150415-1" src="https://user-images.githubusercontent.com/1583873/167347998-f818b2c9-72a9-4c68-890f-d9712e03553e.png">

[2022-05-10 01:49] #8560 closed

[2022-05-14 20:54] rana-shoaib commented on #8536
can I work on this issue?

[2022-05-27 12:01] shazm12 commented on #8248
Hey can i try to work on this issue?

[2022-06-10 16:52] Harshchourasiya commented on #8496
Hello, I'm a new member of the community. When I'm studying the codebase I came across an issue:- when you cancel an order it's not visible in the canceled order tab. I think this issue and the cancel issue are from the same root.
**I am working on this problem**

[2022-06-19 16:02] palakshivlani-11 commented on #8021
Can I pick this issue.

[2022-06-23 07:33] Harshchourasiya commented on #8496
I find the problem but As I'm a beginner in open source I'm not able to solve this problem on my own I'm looking for a guide although I can hard code this problem buts its not worth in the big project. This problem is coming from its Backend API.
Problem in Detail:-
So The problem is that when user cancel the order the order is deleted from the order API from which the data is coming from, because

[2022-07-13 22:54] fosa-ij commented on #8496
@Harshchourasiya are you still working on this issue, I'd like to jump on it

[2022-07-14 04:36] mayurstwt commented on #8496
qdwqewdq

[2022-07-29 09:33] HarshitMongodb commented on #8420
Same, I am trying to transfer and the new owner is not receiving any emails.

[2022-07-30 18:28] chiragjindal123 commented on #8536
I will do that for you. assign it to me @mariobehling

[2022-08-09 11:31] sanjayk0508 opened #8618 "Pls HELP me out"
I cloned the repo in my local IDE, I'm trying to run the commands in my terminal so that i can run the website in my local host.
I'm quite new to open source & i wanted to contribute in Frontend of the website.
Please guide me in what all commands should be passed in the terminal(step by step) to run the website(i read the Installation and Running/Development doc, i couldn't understand it - so i'm

[2022-09-01 03:00] CleoPatra2772 commented on #8618
Once you forked the project, you should create a branch of own to work on, then just work on it regularly like you do with every project.
Once finished, git push to your branch.
I'm also fairly new to this as well, you can always go on youtube for tutorials. Follow it step by step.

[2022-09-11 21:48] Gauravmauryaios commented on #8496
i want to work on this project.

[2022-09-14 11:55] dhimanAbhi commented on #8618
@CleoPatra2772 , I am new here too. Can you clarify my 2 doubts -
   1. If i want to solve any issue, does it require for any mentor to assign me that issue or can i individually solve it and make
    PR?
   2. To contrbute, is it necessary to solve only issue or can I randomly make any good change to code after forking and make a
       PR?

[2022-09-15 17:45] KhushAhuja commented on #8137
I am working on this.

[2022-09-18 07:47] Zack-Dx opened #8631 "Grammar Errors (Readme.md)"

[2022-09-18 07:48] #8631 closed

[2022-09-19 13:55] fosa-ij commented on #8496
okay go ahead

[2022-10-02 09:19] AnujSsStw commented on #8618
@sanjayk0508 for running the app in local env follow this
- `yarn`
- `cp .env.example .env`
- `yarn l10n:generate`

Running:
- `yarn start`
- Visit your app at [http://localhost:4200](http://localhost:4200).

and @dhimanAbhi
- 1. if you want to solve any issue you can ask any maintainer to assign it to you or just ask them.
- 2. you can suggest changes first and can have a discussion around that i

[2022-10-11 11:25] mariobehling opened #8637 "Time format mixed up"
The time format is sometimes following EU continental format mixed up with other formats in the same line, e.g. 16.30 - 4.50.

![Screenshot from 2022-10-11 13-23-35](https://user-images.githubusercontent.com/1583873/195077783-4512f5a6-e710-4415-a68e-8fdc2650d9f4.png)

[2022-10-12 13:31] subhradwip01 commented on #8637
I would like to work on that problem

[2022-10-13 20:29] developer-diganta opened #8638 "Improve accessibility score of website"
![image](https://user-images.githubusercontent.com/65999534/195703993-b39d802a-81f6-41ff-8f41-26f99d11f1cf.png)
Currently, the accessibility score is 67. It can be improved. If the issue seems relevant, can I work on it?

[2022-11-06 17:59] jatinmark commented on #8638
can you assign me this i want to work on this issue .

[2022-11-14 10:50] Shubham185y commented on #8638
I am Working on this issue as no one else is working on it.

[2022-11-14 14:47] jatinmark commented on #8638
Ok

[2022-11-14 21:27] Shubham185y commented on #8638
i am not working on this issue you can continue working on it

[2022-11-15 04:09] Santoshkumbhkar1 commented on #8637
i want to work on this problem

[2022-11-16 14:40] JaguarsCodehub commented on #8021
If no one is working on this ? Can I help in this issue.

[2022-11-17 14:40] Prathamm-sahu commented on #8637
/Assign

[2022-11-21 13:29] developer-diganta commented on #8638
@jatinmark if you want any suggestion would love to help!

[2022-11-28 08:56] rolandturner opened #8648 "Support prevent of event pages in Mastodon, Facebook, Twitter, LinkedIn, etc."
**Is your feature request related to a problem? Please describe.**
When I share an EventYay event page to social media to encourage sign-ups, the social media site doesn't present a title, image, and description extracted from the page metadata, because there isn't any there.

**Describe the solution you'd like**
I'd like the metadata for event pages in EventYay to automatically include the releva

[2022-11-28 17:13] mariobehling opened #8649 "Stripe payment not possible for some user accounts"
Test on event: https://eventyay.com/e/7cfe0771

![Screenshot from 2022-11-28 18-07-03](https://user-images.githubusercontent.com/1583873/204339731-8f3c7f97-5570-4e40-87e4-a88ec2c9ba27.png)

![photo_6064338559340492040_y](https://user-images.githubusercontent.com/1583873/204339856-78c3fa0b-0597-4314-9004-21fe4c5783f2.jpg)

Browser Console shows:

`Object { isAdapterError: true, stack: "n@https://ev