[2019-01-21 19:11] #1816 closed

[2019-01-21 19:13] #1893 closed

[2019-01-21 19:33] CosmicCoder96 commented on #1822
Added.

[2019-01-21 19:33] #1822 closed

[2019-01-21 19:36] CosmicCoder96 commented on #1805
@mariobehling
![image](https://user-images.githubusercontent.com/17252805/51495257-b48fe400-1df6-11e9-8845-ea3fb9a607e0.png)
On legacy, the blog link was named as 'support' : ref: https://legacy.eventyay.com
We can rename the support link to blog on the frontend, else will have to add an additional field on the server.

[2019-01-21 19:39] CosmicCoder96 commented on #1926
@cweitat Thanks for reporting.
Actually, the 404s are not for the images, but for microlocations of unscheduled sessions, and the uneven sized images you see, are not because of image themselves being disproportionate but due to the fact thay they were not optimized. It becomes a 40 MB+ Download if a user visits the page, hence they were in process of loadinng at the time of screenshot. This optim

[2019-01-21 19:39] #1926 closed

[2019-01-21 20:02] CosmicCoder96 opened #1933 "Implement default global search in ember tables across open event frontend"
Using the `ilike` filter attribute of flask-rest-JSON API, a basic server-side search can be implemented.

[2019-01-21 20:41] #1933 closed

[2019-01-21 20:42] CosmicCoder96 commented on #1887
Fixed in #1934

[2019-01-21 20:42] #1887 closed

[2019-01-21 20:42] CosmicCoder96 commented on #1855
Fixed in #1934

[2019-01-21 20:42] #1855 closed

[2019-01-21 22:52] mariobehling opened #1936 "Events Dashboard: Show Speakers Total, Pending, Accepted, Rejected"
In the list of speakers on the events dashboards (https://eventyay.com/events/live), please show speakers in the table:
* Total
* Accepted
* Confirmed
* Pending
* Rejected

![screenshot from 2019-01-21 23-52-27](https://user-images.githubusercontent.com/1583873/51502739-aaaab880-1dd7-11e9-8990-defbc6a39dc5.png)

[2019-01-22 02:00] CosmicCoder96 commented on #1863
This should be fixed now, unscheduled sessions should have `starts-at` and `ends-at` values as null. Was a legacy data issue, DB has been appropriately refactored. Please reopen if it repeats for any other event.

[2019-01-22 02:00] #1863 closed

[2019-01-22 02:14] CosmicCoder96 commented on #1825
Fixed now.

[2019-01-22 02:14] #1825 closed

[2019-01-22 04:55] Haider8 opened #1938 "Create event: No success message or page is shown upon publishing"
**Describe the bug**
There is no way for the user to know if he/she has successfully created an event.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create event page' .
2. Click on 'Publish' after filling out the details.
3. See the bug

**Expected behavior**
There should be some message or the page upon successfully publishing the event. It can also redirect the user on the newly c

[2019-01-22 06:51] CosmicCoder96 commented on #1938
@Haider8 Pop up appears. Flow is as expected.

[2019-01-22 06:51] #1938 closed

[2019-01-22 08:06] mariobehling opened #1939 "Billing Information: Add fields and change order of fields"
Change it to the following order and add fields as shown below:

* Name or Company -> make this one required
* Tax Number -> make this one optional
* Street Address
* City
* State/Province -> this one optional
* Zip Code
* Select country -> move country to bottom

![screenshot from 2019-01-22 09-07-04](https://user-images.githubusercontent.com/1583873/51520852-1c5d2380-1e25-11e9-81ec-bb0984de087b.

[2019-01-22 08:52] CosmicCoder96 opened #1940 "Implement lazy loading for events on home page"
As of now, all the future events are displayed on the home page. This is highly unscalable, and also even if the number of events requested from the server is reduced there is no way to paginate across them.

**Loading all the events on the index route leads to excessive network requests**, which increase the boot time of the app.

[2019-01-22 09:22] shreyanshdwivedi commented on #1939
I'll like to work on it

[2019-01-22 09:31] mariobehling opened #1942 "Organizers Speakers Tabs: Show State of Sessions in front"
Please add a badge directly in front of the sessions in the speakers tab on e.g. https://eventyay.com/events/3689bc98/speakers/accepted

![screenshot from 2019-01-22 10-30-26](https://user-images.githubusercontent.com/1583873/51525562-e45bdd80-1e30-11e9-9f8f-4e5dedc2034d.png)

[2019-01-22 09:35] #1940 closed

[2019-01-22 10:28] mariobehling opened #1943 "Sessions are not showing up under "My Sessions""
Expected is: That sessions show up with an info about the state (pending, rejected, accepted etc.) under the "My Sessions Tab".

![screenshot from 2019-01-22 11-24-19](https://user-images.githubusercontent.com/1583873/51529334-c2665900-1e38-11e9-9262-5fe963f03ffd.png)

Even though a session exists, currently it does not show up on the tab for upcoming events.

![screenshot from 2019-01-22 11-26-49

[2019-01-22 10:44] mariobehling opened #1944 "Cannot save profile as valid Facebook and Linkedin URLs are not accepted"
Most versions of Facebook and Linkedin URLs are not accepted in the speakers form.

![screenshot from 2019-01-22 11-43-01](https://user-images.githubusercontent.com/1583873/51530371-14a87980-1e3b-11e9-867c-1b3e5898493c.png)

[2019-01-22 11:57] creyente1897 commented on #1944
@mariobehling can i work on it.

[2019-01-22 14:24] amanjain25 commented on #1923
@mariobehling could you please tell what does this revision mean here? Is it the number of times event has been edited or something else?

[2019-01-22 16:23] Anupam-dagar commented on #1943
@mariobehling I would like to work on it.

[2019-01-22 16:48] sk9331657 commented on #1936
@mariobehling  Working on it.

[2019-01-22 21:14] shreyanshdwivedi commented on #1861
I'll work on it

[2019-01-22 22:14] shubham3211 commented on #1818
@ms10398 are you working on this issue ?
 Can I claim it.

[2019-01-23 02:34] #1807 closed

[2019-01-23 03:41] sk9331657 commented on #1942
@mariobehling  Claiming this.

[2019-01-23 05:18] CosmicCoder96 opened #1947 "Modify Docker image to run fastboot server in production environment"
Current deployment does not make use of ember fast boot, the site should load through a fastboot sever.

[2019-01-23 10:10] mariobehling opened #1950 "Session Detail Page: Event Menu Bar (Overview, Tickets, Sessions, Speakers etc.) is missing"
The event menu bar is missing above the session detail page.

![screenshot from 2019-01-23 11-09-31](https://user-images.githubusercontent.com/1583873/51599275-7f22ed80-1eff-11e9-9a7f-8aabe5fdf574.png)

[2019-01-23 11:29] khansultan1 opened #1951 "Speaker > Speaker session showing invalid date"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Session'
2. Click on 'Any speaker'
3. Scroll down to 'Speaker description'
4. See error

**Expected behavior**

**Screenshots**

![issue](https://user-images.githubusercontent.com/6906715/51603570-2881d780-1f30-11e9-9fad-bb419eb034df.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Win

[2019-01-23 13:22] uds5501 opened #1953 "Side bar ticket link auto scroll is buggy"
**Describe the bug**

Clicking on `Tickets` link of any event seems to be scrolling down by a fixed length without actually scrolling to the `Tickets` information tab. I think the link should take the user to the ticket component instead of scrolling down.

**To Reproduce**
Steps to reproduce the behavior:
1. Chose any event with tickets enabled in the Browse Events
2. Scroll down a little (as muc

[2019-01-23 15:23] mariobehling commented on #1923
Yes.

[2019-01-23 15:48] uds5501 commented on #1951
@mariobehling this issue seems related to #1912

[2019-01-23 15:59] #1951 closed

[2019-01-23 16:27] mariobehling commented on #1943
Unfortunately now the "Past Sessions" also disappeared.

![screenshot from 2019-01-23 16-58-25](https://user-images.githubusercontent.com/1583873/51621117-1a35ba80-1f34-11e9-82be-23879bbbd620.png)

[2019-01-23 16:43] mariobehling opened #1955 "Email: New Session Proposal does not provide correct link"
The proposal email does not provide correct link, e.g. it is: https://eventyay.com/events/598/sessions/5201

![screenshot from 2019-01-23 17-43-00](https://user-images.githubusercontent.com/1583873/51622223-700b6200-1f36-11e9-9d5f-a5fc76c63c16.png)

[2019-01-23 16:53] mariobehling opened #1956 "Session Edit: Option to Add More Speakers Missing"
The edit speakers area does not have a way to add or remove additional speakers for organizers. (e.g. https://eventyay.com/events/3689bc98/sessions/edit/5116)

![screenshot from 2019-01-23 17-52-20](https://user-images.githubusercontent.com/1583873/51622836-bf05c700-1f37-11e9-9970-82338b53fe54.png)

[2019-01-23 19:43] shreyanshdwivedi commented on #1796
I'm working on this

[2019-01-23 20:56] uds5501 opened #1959 "Sessions in an event showing Rejected and Pending sessions"
**Describe the bug**

Clicking on Sessions tab of any **event** is showing the sessions which have been rejected or are pending for confirmation by the Organizer. In practice, the link should only show the sessions which have been confirmed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any event
2. Click on Sessions
3. Correlate given sessions with the one which are actually confirme

[2019-01-23 20:57] uds5501 commented on #1959
I am currently working on improving the filters

[2019-01-23 21:04] uds5501 commented on #1959
I am working on this.

[2019-01-24 06:00] khansultan1 commented on #1912
anyone looking into it or should I go ahead?

[2019-01-24 06:40] ritikamotwani commented on #1373
Fixed by: https://github.com/fossasia/open-event-frontend/pull/1929

[2019-01-24 06:40] #1373 closed

[2019-01-24 06:46] ritikamotwani commented on #1204
Fixed : https://github.com/fossasia/open-event-frontend/pull/1929

[2019-01-24 06:46] #1204 closed

[2019-01-24 06:46] #1944 closed

[2019-01-24 06:47] uds5501 commented on #1912
@khansultan1 I am working on it

[2019-01-24 07:22] ritikamotwani commented on #1942
I would like to work on this.

[2019-01-24 14:26] uds5501 commented on #1959
@mariobehling Kindly see if this is a bug or an intended feature. If it is the former, I think you'd like to check the PR

[2019-01-24 16:09] ms10398 commented on #1818
You can go ahead @shubham3211

[2019-01-24 18:01] mohitm15 commented on #1939
I 'll like to take this issue

[2019-01-24 18:14] #1888 closed

[2019-01-24 18:56] mariobehling commented on #1829
Instead of showing the timezone e.g. +08 the frontend should show the actual timezone e.g. SGT.

![screenshot from 2019-01-24 19-56-00](https://user-images.githubusercontent.com/1583873/51701618-2132fa80-2012-11e9-91d1-be0a68cd0146.png)

[2019-01-24 18:58] mariobehling commented on #1829
The time and date of the event on the public page must be identical with the time and date in the wizard. This is not the case, e.g. check FOSSASIA Summit.

![screenshot from 2019-01-24 19-57-32](https://user-images.githubusercontent.com/1583873/51701765-73741b80-2012-11e9-8ad0-d1843ad93771.png)

[2019-01-24 19:39] CosmicCoder96 commented on #1956
Functionality added in #1963

[2019-01-24 19:39] #1956 closed

[2019-01-24 19:48] CosmicCoder96 commented on #1889
functionality added in #1963

[2019-01-24 19:48] #1889 closed

[2019-01-24 19:53] #1882 closed

[2019-01-24 20:54] mariobehling opened #1968 "Ticket PDF: Security Issue, can be accessed by anyone"
The ticket PDF for events can be accessed by anyone who can find out the link, e.g. see https://api.eventyay.com/static/media/attendees/tickets/pdf/6ae42516-0a03-4436-b2a6-8a60f6a2b16d/QkJ0VHpPUX/ae067598-2896-4579-b4d9-8d5fa8a34e01.pdf

[2019-01-24 21:05] mariobehling opened #1969 "Redirect user to event page with discount code after login, if user has originally entered it as a not logged in user"
When the user enters a link to an event page with a discount and then is requested to login, the user should be directed back to that event page including with the discount after login. This is currently not the case.

[2019-01-24 21:17] uds5501 commented on #1943
@mariobehling I can positively confirm that this issue is also a part of #1912.
I shall submit a PR soon (in WIP condition) to explain the situation.

[2019-01-25 02:40] ritikamotwani commented on #1173
@mohitm15 sure, go ahead

[2019-01-25 05:52] #1942 closed

[2019-01-25 06:11] CosmicCoder96 commented on #1901
@mariobehling
Please enter countries using this if missing, legacy data probably used a different version of google maps API.
![image](https://user-images.githubusercontent.com/17252805/51728393-124c5680-20ab-11e9-9151-d347841237a0.png)

I fixed it for the fossasia summit.

[2019-01-25 06:11] #1901 closed

[2019-01-25 08:24] apoorvkhare07 opened #1972 "docker-compose.yml file missing from the repository"
According to the installation doc [using docker](https://github.com/fossasia/open-event-frontend/blob/development/docs/installation/docker.md) we need to run the command `docker-compose up`.
But sine their doesn't exist any docker-compose.yml file it gives the following error:
[code]

[2019-01-25 08:49] apoorvkhare07 commented on #1969
Hey @mariobehling, is this issue still up for taking ?

[2019-01-25 09:01] kushthedude commented on #1173
Can i work on this issue?
@ritikamotwani @srv-twry

[2019-01-25 10:45] #1927 closed

[2019-01-25 10:48] #1972 closed

[2019-01-25 10:50] CosmicCoder96 commented on #1969
Fixed in #1970

[2019-01-25 10:50] #1969 closed

[2019-01-25 13:49] shreyanshdwivedi commented on #1939
@mohitm15 I've already opened a PR for this. You can try some other issue :)

[2019-01-25 15:07] uds5501 commented on #1953
@kushthedude go ahead

[2019-01-25 17:29] shubham3211 opened #1974 "Password become visible if it is wrong the first time"
**Describe the bug**
If the user type wrong password and he enter the password second time it become visible.

**Expected behavior**
The password should not be visible.

**Screenshots**
![error](https://user-images.githubusercontent.com/19900978/51762058-b0184380-20f4-11e9-9bbb-df5999ff5d4b.gif)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, sa

[2019-01-25 18:57] harsh-jindal commented on #1950
@mariobehling I'm claiming this

[2019-01-25 19:39] #1959 closed

[2019-01-25 19:41] #1883 closed

[2019-01-25 19:46] CosmicCoder96 commented on #1912
fixed in #1971

[2019-01-25 19:46] #1912 closed

[2019-01-25 20:52] uds5501 commented on #1808
Can't triage, Kindly elaborate the steps to recreate the bug
@mariobehling
![image](https://user-images.githubusercontent.com/21087061/51772120-380c4680-2111-11e9-899e-caad6c0fd35e.png)

[2019-01-25 22:47] uds5501 opened #1975 "Ordering a ticket gives ember-data error"
**Describe the bug**

When trying to order tickets for an event, the proceed to checkout buttons returns an ember-data error

**To Reproduce**
Steps to reproduce the behavior:
1. Order any ticket
2. Fill out form
3. Proceed to checkout
4. See error

**Expected behavior**

It should've simply bypassed the error

**GIF**

![ticketerror](https://user-images.githubusercontent.com/21087061/51776997-48c

[2019-01-25 22:54] uds5501 commented on #1923
@amanjain25 if you are not working on it, can I have a look?

[2019-01-26 07:55] harsh-jindal commented on #1860
@sk9331657 Can I work on this issue?

[2019-01-26 09:49] mariobehling opened #1978 "My Tickets: Clicking on Ticket Image results in Moving to Top instead of Ticket Page"
Clicking on the image of a ticket should direct a user to the ticket page itself (just like other areas of that ticket field).

Compare: https://eventyay.com/my-tickets/upcoming

![screenshot from 2019-01-26 10-45-49](https://user-images.githubusercontent.com/1583873/51785429-f2bf3780-2157-11e9-8fa9-02762acd5548.png)

[2019-01-26 09:50] mariobehling opened #1979 "My Tickets: Only show "completed" and "placed" tickets"
The my tickets page shows "Expired Orders". These should not be shown here.

![screenshot from 2019-01-26 10-49-47](https://user-images.githubusercontent.com/1583873/51785451-3619a600-2158-11e9-869a-9b8c03698f71.png)

[2019-01-26 09:52] mariobehling opened #1980 "My Tickets: Tickets of Past Events Not showing up"
Past events are missing on "my tickets" page.

Compare: https://eventyay.com/my-tickets/past

![screenshot from 2019-01-26 10-51-13](https://user-images.githubusercontent.com/1583873/51785464-69f4cb80-2158-11e9-9f8a-4fd8df010657.png)

[2019-01-26 10:54] uds5501 commented on #1979
@mariobehling  Claiming this

[2019-01-26 11:47] uds5501 commented on #1978
@mariobehling Looking into it

[2019-01-26 14:02] harsh-jindal commented on #1860
@sk9331657 Im working on this.

[2019-01-26 18:27] mariobehling opened #1982 "Users who placed a ticket, but not finalized the process are shown the ticket payment page at the start page"
If a users starts the process to buy a ticket but then does not finalize buying it, the start page suddenly shows the "placed" order on the main page, e.g. https://eventyay.com.

![screenshot from 2019-01-26 19-24-48](https://user-images.githubusercontent.com/1583873/51791257-71d85e00-21a0-11e9-8a31-584e4c1a39c0.png)

[2019-01-26 18:31] mariobehling commented on #1982
Actually the bug exists on most pages. Suddenly the form appears on all kinds of pages.

![screenshot from 2019-01-26 19-30-35](https://user-images.githubusercontent.com/1583873/51791287-00e57600-21a1-11e9-9552-b70909201a09.png)

[2019-01-26 19:30] sk9331657 commented on #1907
@sakshee-19  Can I work on this ??

[2019-01-26 20:57] uds5501 opened #1985 "Non Accepted sessions showing in event scheduler"
**Describe the bug**

If an organiser begins to start scheduling his unscheduled sessions, he/she can see "pending" and "rejected" sessions showing up in unscheduled sessions as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Manage events
2. Chose your event
3. Go to scheduler
4. See error

**Expected behavior**

Only accepted sessions should've been listed in the Unscheduled se

[2019-01-26 21:12] uds5501 commented on #1925
@amanjain25 are you working on this?

[2019-01-26 21:18] mariobehling opened #1986 "Not possible to check-in attendees"
The checkin attendee functionality is not working, e.g. here https://eventyay.com/events/3689bc98/tickets/attendees/completed

![screenshot from 2019-01-26 22-16-28](https://user-images.githubusercontent.com/1583873/51792905-46616d80-21b8-11e9-8b58-11919471220d.png)

[2019-01-26 21:20] mariobehling opened #1987 "Completed Ticket Page shows original ticket price instead of actual paid ticket price, e.g. when using a discount code"
The Completed Ticket Page shows original ticket price instead of actual paid ticket price, e.g. when using a discount code.

Compare: https://eventyay.com/events/3689bc98/tickets/attendees/completed

![screenshot from 2019-01-26 22-19-53](https://user-images.githubusercontent.com/1583873/51792922-a0623300-21b8-11e9-9487-4ce79ebad180.png)

[2019-01-26 21:25] mariobehling opened #1988 "Do Not Require New User to Confirm Email to buy a ticket"
When new users get a ticket, do not require to verify the account. Expected behavior: Users go to ticket page (e.g. discount ticket page), they are signing up and after the sign up process are redirected to the ticket page (e.g. discount ticket page). There should not be a requirement to confirm the account by email.

(Of course it would be better the user is just automatically signed up when they

[2019-01-26 22:52] akshaygupta533 commented on #1987
I would like to work on this.

[2019-01-27 05:17] mariobehling opened #1991 "Public Event Page: If user chooses "All rights reserved" broken image shows up"
Public Event Page: If user chooses "All rights reserved" broken image shows up on the public page.

![screenshot from 2019-01-27 06-16-05](https://user-images.githubusercontent.com/1583873/51796923-2606d280-21fb-11e9-89c8-c6b851ceec70.png)

[2019-01-27 05:29] mariobehling opened #1992 "Take out or speed up JS effects on menu"
Opening the user submenu is slower than on version 1. There is an effect, that is slightly slower. Please take out the effect or reduce the opening time as much as possible. We want the submenu to open as fast as possible.

![screenshot from 2019-01-27 06-27-27](https://user-images.githubusercontent.com/1583873/51797000-d1fced80-21fc-11e9-9c58-86d183fbd6ed.png)

[2019-01-27 05:31] sk9331657 commented on #1992
@mariobehling  Claiming this.

[2019-01-27 05:37] mariobehling opened #1993 "Event Dashboard: Improve view of events"
The new event dashboard needs some improvements (https://next.eventyay.com/events/live). Make it look more similar to the version 1 please e.g.:
* Align on top
* Make tickets and its info in one row.
* Distribute columns more efficiently

![screenshot from 2019-01-27 06-34-57](https://user-images.githubusercontent.com/1583873/51797085-eab9d300-21fd-11e9-9f17-0cf1b6941a7f.png)

[2019-01-27 05:40] mariobehling opened #1994 "Frontend: Implement Ticketing Process as in Eventyay Version 1"
In Eventyay V1 and Eventbrite users can get tickets without logging in. If they already enter their email and pay through a registered way (e.g. credit card, paypal), they don't have to login. New users will automatically receive an email after they buy a ticket. In that email is the account information. Existing users will have their ticket automatically added to their account even if they did no

[2019-01-27 06:25] imrrahul opened #1995 "node_modules appears empty, you may need to run `yarn install`"
**Describe the bug**
I have a query regarding the installation of fossasia event -frontend installation in local machine , I am getting an error whenever i run the command  "ember serve"
that node_modules appears empty, you may need to run `yarn install`. Please help.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: ubuntu 18.04
 - Browser chrome

**Additional cont

[2019-01-27 06:33] cweitat opened #1996 "Update of Address in Terms page"
**Describe the bug**
Currently the address is outdated on the terms page.
[code]
**Expected behavior**
To update to the address as stated at bottom of  https://fossasia.org/

[2019-01-27 07:10] uds5501 commented on #1991
@mariobehling Claiming this

[2019-01-27 08:00] CosmicCoder96 commented on #1995
It's already mentioned in the installation docs.

[2019-01-27 08:00] #1995 closed

[2019-01-27 08:04] sk9331657 commented on #1968
@mariobehling What should be the workflow ?? As this ticket is reserved for you , What can other users do with this ticket??

[2019-01-27 08:09] #1975 closed

[2019-01-27 08:12] #1979 closed

[2019-01-27 08:13] #1978 closed

[2019-01-27 08:16] sk9331657 opened #1998 "Location Name Not defined"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://127.0.0.1:4200/orders/0651459b-bc63-4fc2-a37e-e79d9dcbd22f/new'
![screenshot from 2019-01-27 13-45-14](https://user-images.githubusercontent.com/17084322/51798526-e01d2f00-2239-11e9-984f-9341394aae5f.png)

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [

[2019-01-27 08:16] #1868 closed

[2019-01-27 08:19] #1998 closed

[2019-01-27 10:04] #1974 closed

[2019-01-27 10:17] #1899 closed

[2019-01-27 10:21] imrrahul opened #1999 "FetchError: request to http://127.0.0.1:5000/v1/settings failed, reason: connect ECONNREFUSED 127.0.0.1:5000"
**Describe the bug**
On using the command `ember serve`  in the project directory and ember is running at http://localhost:4200/ but I have got the following error on the browser on running the project.

`FetchError: request to http://127.0.0.1:5000/v1/settings failed, reason: connect ECONNREFUSED 127.0.0.1:5000
    at ClientRequest.<anonymous> (/home/rahul/Desktop/FOSSASIA/open-event-frontend/nod

[2019-01-27 11:42] CosmicCoder96 commented on #1999
Have you set up the server and are you able to access it at localhost:5000 ? This error indicates the frontend is not able to access the server, please ask for further guidance on gitter channels, thank you !

[2019-01-27 11:42] #1999 closed

[2019-01-27 14:14] harsh-jindal commented on #1950
Someone else can take this up

[2019-01-27 15:16] CosmicCoder96 commented on #1994
Corresponding server issue: https://github.com/fossasia/open-event-server/issues/5546

[2019-01-27 15:18] creyente1897 commented on #1996
@cweitat claiming this

[2019-01-27 15:31] creyente1897 commented on #1996
@cweitat claiming this

[2019-01-27 16:05] #1992 closed

[2019-01-27 16:41] CosmicCoder96 opened #2000 "Phase 1: Order flow: Make frontend ready for accepting non registered users as buyers"
- Modify the pop up asking non-logged in users to log in or sign up, to instead ask for an email.
- Functionality to handle pre-registered users who are simply not logged in will be handled in a separate issue. (#2001)
- Enable order now button for unverified users.
- Generate a random password, and along with the entered user create a new user on the server.
- Fetch user id from the server, and a

[2019-01-27 17:06] CosmicCoder96 opened #2001 "Phase 2: Order flow: Handle users who are already registered but are not logged in."
To be discussed after Phase 1 (#2000)  is complete.

- As per the development in Phase -1, the user is asked to enter his email address.
- If the user enters the email address of an existing user, notify the user, that the email address already exists and he must sign in to continue.
- Handle the logging in of the existing user.
- Also, provide a forgot password link, in case the user does not rem

[2019-01-27 17:07] CosmicCoder96 opened #2002 "Phase 3: Order flow: Implement a captcha based verification to secure the frontend when a non-verified user is trying to create an order."
Implement ember-g-captcha based verification.

Parent issue #1994

[2019-01-27 17:08] CosmicCoder96 commented on #1994
Will be handled in three phases:
- Phase 1: Make frontend ready for accepting non-registered users as buyers (#2000)
- Phase 2: Handle users who are already registered but are not logged in. (#2001)
- Phase 3: Implement a captcha based verification to secure the frontend when a non-verified user is trying to create an order. (#2002)

[2019-01-27 17:09] shreyanshdwivedi commented on #2000
Please let me know, if I can help you with this. It will be a ood learning opportunity :)

[2019-01-27 17:10] CosmicCoder96 commented on #1988
Will not be required after #1994 is resolved.

[2019-01-27 17:10] #1988 closed

[2019-01-27 17:20] CosmicCoder96 commented on #1925
@uds5501 Read marshmallow docs: https://flask-marshmallow.readthedocs.io/en/latest/
Also, familiarise yourself with the concept of migration files, browse through other pull requests on the server which required changes on the database itself.

[2019-01-27 18:58] CosmicCoder96 commented on #2000
@shreyanshdwivedi Sure :), this requires a lot of testing, definitely their will be bugs you can follow up on.

[2019-01-27 19:05] #2000 closed

[2019-01-28 06:51] ritikamotwani commented on #1861
I am working on this.

[2019-01-28 06:53] #1950 closed

[2019-01-28 07:21] harsh-jindal commented on #1993
@CosmicCoder96 I'm claiming this

[2019-01-28 07:49] ritikamotwani opened #2006 "Change the colours of the labels 'Confirmed' and 'Accepted' (Sessions) in the app"
**Describe the bug**
![image](https://user-images.githubusercontent.com/22127980/51821423-2ab4af00-22ff-11e9-81bd-ff7b60047a08.png)

The label for Confirmed should be green and for Accepted should be yellow, as in v1.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the tables for sessions or speaker

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Browser: Chr

[2019-01-28 08:07] #1861 closed

[2019-01-28 11:48] sk9331657 commented on #1907
@geekyd  Can I work on this??

[2019-01-28 12:10] #2006 closed

[2019-01-28 13:03] uds5501 commented on #1923
@mariobehling The deployed version of eventyay does not have this error. Kindly close this issue.
![image](https://user-images.githubusercontent.com/21087061/51838027-2900e080-232b-11e9-96fd-08d571e64c7e.png)

[2019-01-28 13:31] shubham3211 commented on #1980
I am working on this issue.

[2019-01-28 13:49] mariobehling opened #2008 "Organizer Session Page: "Send With Email" - provide preview pop before sending"
The option to send an update to the speaker (accepted, rejected) sends an email directly to the speaker without the organizer having an option to review the email that gets send. Please provide an option to edit the system email before sending.

[2019-01-28 14:20] #1991 closed

[2019-01-28 14:41] uds5501 commented on #1943
@mariobehling I believe the sessions would only show up once they have been scheduled by the organiser (Observed this behaviour while triaging #1912 ), because once the session has been scheduled by the organiser, only then it gets `startsAt` and `endsAt` attributes in it, otherwise during session creation, the model design forces it to be initialised as `null` .

I guess this should indeed be the

[2019-01-28 14:49] CosmicCoder96 commented on #1943
@uds5501 It's a valid issue, albeit it's a bit complicated, the server fails to relate session to you when you are a co-speaker of the session, it gets listed in only the creator's my sessions tab.
And no, all sessions whether pending or rejected should show up in the my sessions tab.

[2019-01-28 15:23] jaynilshah commented on #1993
Can I work on this @CosmicCoder96
Are you working on this @harsh-jindal ?

[2019-01-28 15:54] harsh-jindal commented on #1993
Yes @jaynilshah Im almost done with it.Will be making a PR soon.

[2019-01-28 15:55] jaynilshah commented on #1985
@mariobehling @uds5501  working on it

[2019-01-28 16:23] jaynilshah commented on #1985
@uds5501 Should the confirmed  and accepted unsheduled sessions both be shown or just the accepted ones?

[2019-01-28 16:25] harsh-jindal commented on #1936
@ritikamotwani Can I work on this?

[2019-01-28 18:49] harsh-jindal commented on #1987
@akshaygupta533 Are you working on this?

[2019-01-28 19:46] shubham3211 commented on #1980
@mariobehling past events tickets are visible on Past Events.

[2019-01-28 19:52] shubham3211 opened #2012 "Deleted events tickets are visible on my-tickets/upcoming"
**Describe the bug**
Deleted events tickets are visible on my-tickets/upcoming

**Expected behavior**
Deleted events tickets should be visible  on my-tickets/past

**Screenshots**
![deletedevents](https://user-images.githubusercontent.com/19900978/51862273-47cf9900-2364-11e9-931f-e3457a9adffc.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome,

[2019-01-28 20:07] uds5501 commented on #1953
@CosmicCoder96 I think a similar issue has already been reported in this repository, Please see #275
I think this issue should be closed in favour of the earlier one due to the amount of discussion already done on it.

[2019-01-29 00:45] shubham3211 commented on #1798
I am working on this issue.

[2019-01-29 03:15] #1798 closed

[2019-01-29 05:07] rajshah9914 commented on #1928
@mariobehling I guess this issue is resolved, didn't face any troubles for adding sessions on my local machine..

[2019-01-29 05:14] sakshee-19 commented on #1907
@geekyd @sk9331657 Sorry for the troubles, but I am stuck at one point. @sk9331657 you can take it.

[2019-01-29 05:53] rajshah9914 commented on #1996
@cweitat , progress?? I would like to contribute to this issue and send a PR soon..

[2019-01-29 06:11] cweitat commented on #1996
@creyente1897 are you done? else @rajshah9914 will do this

[2019-01-29 06:55] rajshah9914 commented on #1996
Do I need to change address at all locations, like on home page, terms and conditions , privacy policies and so..and I also would like to ask that these features only open on the hosted site, but not on the local host. No footer in the local host that is present on the actual site.
![localhost](https://user-images.githubusercontent.com/34474021/51889830-9579ef00-23c0-11e9-8efa-9775ca84893d.png)
![

[2019-01-29 07:15] rajshah9914 commented on #1968
@mariobehling , working on this..

[2019-01-29 07:57] mariobehling commented on #2012
Deleted event tickets should not be visible by the user anymore as they are - deleted.

[2019-01-29 08:32] sk9331657 commented on #1968
@rajshah9914  I am already working on this.

[2019-01-29 10:16] mariobehling opened #2016 "Provide attendee checkin for each conference day on events with several days"
Events like the FOSSASIA Summit take place over several days. Please provide a checkin for each day.

This is related to https://github.com/fossasia/open-event-frontend/issues/1986

![screenshot from 2019-01-26 22-16-28](https://user-images.githubusercontent.com/1583873/51792905-46616d80-21b8-11e9-8b58-11919471220d.png)

[2019-01-29 11:32] #1985 closed

[2019-01-29 12:46] rajshah9914 commented on #1968
@sk9331657 Okay, go ahead, but please let us know before you start work by claiming the issue. That would prevent any clashes and save everyone's time. Thanks.

[2019-01-29 13:14] harsh-jindal opened #2018 "Fix bug in Discount code when status is inactive"
**Describe the bug**
Fix bug in Discount code when status is inactive. The deactivate button still remains intact.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Discount codes
2. Click on deactivate in actions
3. See bug

**Expected behavior**
Fix bug in Discount code when status is inactive. The deactivate button should change to check button and show activate.
**Screenshots**
![scre

[2019-01-29 13:27] harsh-jindal opened #2020 "Fix Bug in access code when Access code is inactive"
**Describe the bug**
Fix Bug in access code when Access code is inactive. When the access code is inactive we still get a deactivate option in the actions.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Access codes'
2. Click on 'Deactivate'
4. See bug

**Expected behavior**
When the access code is inactive we should get an activate option in the actions.

**Additional context**

I'm

[2019-01-29 13:56] harsh-jindal opened #2021 "Speaker with confirmed session does not show up in Accepted speakers table"
**Describe the bug**
Speaker with confirmed session does not show up in Accepted speakers table.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Speakers'
2. Click on 'Accepted'
3. See error

**Expected behavior**

Speaker with confirmed session should show up in Accepted speakers table or we can have a separate tab for "Confirmed Speakers".
**Screenshots**

![screenshot 2019-01-29 at

[2019-01-29 13:57] harsh-jindal commented on #2021
@CosmicCoder96 Shall I put them in Accepted Speakers or Create a new tab for "Confirmed Speakers".

[2019-01-29 14:19] akshaygupta533 commented on #1987
Completely forgot about this. You can take it up if you want.

[2019-01-29 17:18] uds5501 commented on #1796
@shreyanshdwivedi Are you working on this?

[2019-01-29 17:21] shreyanshdwivedi commented on #1796
@uds5501 yep. Sorry for the delay. Was caught up with some work
Will submit a PR soon

[2019-01-29 17:22] uds5501 commented on #1796
@shreyanshdwivedi Alright sure!

[2019-01-29 17:32] uds5501 commented on #1797
@sk9331657 if you are not working on this can i give it a try?

[2019-01-29 17:52] creyente1897 opened #2022 "Event sub-topic showing character reference on the create event page."
**Describe the bug**
Event sub-topic showing &amp; which is a character reference for Startups & Small Business on the create event page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Event Page'
2. Scroll down to 'Event Topic'
3. Click on 'Business & Professional'
4. Scroll down to 'Event Sub-topic'
5. Click on 'Startups & Small Business'
6. See error

**Expected behavior**

[2019-01-29 18:01] pranav1698 commented on #2022
@creyente1897 issue is valid, you can start working on it

[2019-01-29 18:05] creyente1897 commented on #2022
@pranav1698 Sir this issue is open for anyone who wants to work on it

[2019-01-29 18:18] rajshah9914 commented on #2022
I would like to work on this..

[2019-01-29 18:24] creyente1897 commented on #2022
@rajshah9914 Go ahead

[2019-01-29 18:56] rajshah9914 commented on #2022
The code changes are possible in server side .. I have made the changes , now how should I submit PR here on frontend side if changes are present on open-event server code..@creyente1897 , @pranav1698 , can you guide me at this point....

[2019-01-29 19:00] pranav1698 commented on #2022
Well, if you are getting the results for the required changes, you can open a PR here
Mentors and other contributions will review and give their comments

[2019-01-29 19:12] uds5501 opened #2023 "Additional session dropdown fields displaying no options"
**Describe the bug**

Any extra field asked for a new session results in a `No results found` given that the field type is drop-down.
**To Reproduce**
Steps to reproduce the behavior:
1. Add any drop-down type field in customize registration form
2. Now go to Create Session from event management
3. Scroll down to the new drop-down field
4. See error

**Expected behavior**

Any new drop-down should

[2019-01-29 19:17] rajshah9914 commented on #2022
Ok, Thanks @pranav1698 ..

[2019-01-29 20:08] uds5501 opened #2024 "Event ticket sales showing wrong currency"
**Describe the bug**

The Total Sales in Tickets tab is always in US $ even though the currency set is different (INR in my case)
**To Reproduce**
Steps to reproduce the behavior:
1. Setup ticketing in currency other than USD
2. Complete an order or two
3. Go to event/<id>/tickets in overview
4. See error

**Expected behavior**

The overall sales should be shown in correct currency

**Screenshots*

[2019-01-30 02:06] shubham3211 opened #2025 "New speaker added when user edit a session"
**Describe the bug**
New speaker added when user edit a session

**Screenshots**
![speakers](https://user-images.githubusercontent.com/19900978/51953259-ba726e80-2461-11e9-8e89-ac3b28b3f280.gif)

**Additional context**
I am working on it.

[2019-01-30 02:50] shubham3211 opened #2026 "Html tags appear if text is bold in submit biography"
**Describe the bug**
Html tags appear if text is bold in submit biography

**To Reproduce**
Steps to reproduce the behavior:
1. Go to call for speakers
2. Click on add speaker
3. Write something in bold in submit biography
4. See error

**Screenshots**
![speaker](https://user-images.githubusercontent.com/19900978/51954853-ca8d4c80-2467-11e9-8063-872193f31549.png)

**Desktop (please complete the fo

[2019-01-30 02:53] shubham3211 opened #2027 "Speaker image not appearing in session"
**Describe the bug**
Speaker image not appearing in session

**Expected behavior**
Speaker image should in session

**Screenshots**
![speakerpic](https://user-images.githubusercontent.com/19900978/51955028-5bfcbe80-2468-11e9-887b-f9c28854cb16.png)
![speakerpic1](https://user-images.githubusercontent.com/19900978/51955037-615a0900-2468-11e9-8f64-e22f095ed466.png)

**Desktop (please complete the fol

[2019-01-30 06:55] manisaiprasad opened #2029 "Facebook login better implementation"
**Is your feature request related to a problem? Please describe.**

while you are not logged in it shows "You are not logged in: You are not logged in. Please log in and try again. " it must be irritating for somebody
**Describe the solution you'd like**
My solution to this is to implement the facebook login in an effective manner so that if a user isn't logged in they should to redirected to Face

[2019-01-30 15:13] #2001 closed

[2019-01-30 15:15] #2012 closed

[2019-01-30 15:15] #1986 closed

[2019-01-30 15:27] CosmicCoder96 opened #2032 "Orders flow: Reset password route should invalidate existing session"
In the past, the reset-password route was used for the sole purpose of resetting the password, in case the user had forgotten it. That implied, the user is not logged in. However, now it is also used as a verification measure in case the user registered his account while placing an order. `UnauthenticatedRouteMixin` does not permit the user to access the route.

Solution:
Remove the `Unauthenticat

[2019-01-30 19:31] harsh-jindal opened #2035 "Fix bug in ticket summary in overview"
**Describe the bug**

Fix bug in ticket summary in overview. In overview in the ticket summary the tickets amount and order is wrong. It shows the total of confirmed, pending and expired tickets.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Overview'
3. Scroll down to 'Tickets Summary'
4. See error

**Expected behavior**

In overview in the ticket summary the tickets amount should b

[2019-01-30 19:43] harsh-jindal opened #2036 "Fix bug in image in events sponsors in overview"
**Describe the bug**
When you save a sponsor without logo no default logo is shown.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Overview'
3. Scroll down to 'Event sponsors'
4. See error

**Expected behavior**

When you save a sponsor without logo a default logo should be shown.
**Screenshots**

![screenshot 2019-01-31 at 1 07 09 am](https://user-images.githubusercontent.com/3101310

[2019-01-30 19:57] harsh-jindal opened #2037 "Cancelled orders do not show up under Cancelled tab in Orders tab of tickets"
**Describe the bug**

Cancelled orders do not show up under Cancelled tab in Orders tab of tickets
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Tickets'
2. Click on 'Orders'
3. Scroll down to 'Cancelled Orders'
4. See error

**Expected behavior**

Cancelled orders should show up under Cancelled tab in Orders tab of tickets
**Screenshots**

**Additional context**

I'm working on this

[2019-01-31 03:31] #1993 closed

[2019-01-31 05:12] Anupam-dagar commented on #2036
@harsh-jindal I would like to work on it.

[2019-01-31 05:30] harsh-jindal commented on #2036
@Anupam-dagar I'm working on this.

[2019-01-31 06:48] #2025 closed

[2019-01-31 06:48] #2036 closed

[2019-01-31 06:49] #2035 closed

[2019-01-31 06:49] #2020 closed

[2019-01-31 08:03] harsh-jindal commented on #1987
@Anupam-dagar You can take up this issue.

[2019-01-31 09:39] CosmicCoder96 opened #2047 "Report feedback on new orders flow for non registered users"
Phase 1, 2 of restructuring the orders flow which allows non logged in users to place an order is now complete, please report any feedback and bugs related to that in this thread.

Test link: https://next.eventyay.com

Parent issue #1994

The discussions on Phase 1 and Phase 2 can be found at #2000, #2001

[2019-01-31 09:40] uds5501 commented on #2037
Can I have a look @harsh-jindal ?

[2019-01-31 09:41] CosmicCoder96 commented on #2047
Please refrain from opening new issues related to order flow, and discuss them in this thread first.

Also, if you run out e-mails while testing emails, for convenience you can get unlimited email inboxes at https://temp-mail.org/

[2019-01-31 09:45] uds5501 opened #2048 "Add Order section of tickets not parsing correct currency"
**Describe the bug**

The add order of the ticket section is not parsing the correct currency in which the event has been set up

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a event with currency setup other than USD
2. Click on Add Order
3. See error

**Expected behavior**

They should parse the currency correctly. In this case, the currency symbol must have been INR

**Screenshots

[2019-01-31 10:14] harsh-jindal commented on #2037
@uds5501 I'm working on it.

[2019-01-31 10:27] harsh-jindal opened #2049 "Add vertical scroll to response in Export"
**Describe the bug**

No vertical scroll to response in Export. The page becomes unnecessarily very long.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Export'
3. Scroll down to 'Response'
4. See error

**Expected behavior**

Add vertical scroll to response in Export
**Screenshots**

![screenshot 2019-01-31 at 3 56 18 pm](https://user-images.githubusercontent.com/31013104/52048207-d1

[2019-01-31 10:53] uds5501 commented on #2047
@CosmicCoder96 One query, does the new workflow involve automatic registration of a new user upon buying ticket anonymously?

[2019-01-31 11:42] #2021 closed

[2019-01-31 11:42] #2037 closed

[2019-01-31 12:09] uds5501 opened #2053 "Event sessions not showing confirmed sessions"
**Describe the bug**

The Sessions tab in an event is not showing the `confirmed` status events.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any event
2. Click on Sessions'
3. See error

**Expected behavior**

Currently `accepted` state sessions are been showed in the Sessions tab, it should be changed to show `confirmed` events instead

**Screenshots**

![accepted](https://user-im

[2019-01-31 12:14] Puranjay25 opened #2054 "Verification Email not sent"
**Describe the bug**

When  a new user is registered a verification email is not being send.

**Expected behavior**

A verification email should be sent to the email id.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhon

[2019-01-31 12:21] Puranjay25 commented on #2053
I am new to this repo. Can you help me out with one issue.
I am not getting the list of events . Rather it's showing that "Ther are no upcoming events".
So where can I see the events like "It's complicated" one

[2019-01-31 12:21] Puranjay25 commented on #2053
@uds5501

[2019-01-31 12:23] uds5501 commented on #2053
@Puranjay25 I guess you should try and look out for another issue because this one has already a PR which means it has been worked upon.

Besides, for your query, you can get the list of events in "Manage Events" section and browse through the tabs to see your event (if you have created one)

Or you can go to the admin/events and see the events there

[2019-01-31 12:30] Puranjay25 commented on #2053
How to reach to admin page? Means how to access that?

[2019-01-31 12:37] shubham3211 opened #2057 "Side menu not working properly"
**Describe the bug**
Side menu is overlapping  with the footer

**Expected behavior**
Side menu should not overlapping  with the footer

**Screenshots**
![side-menu](https://user-images.githubusercontent.com/19900978/52054553-f18c7100-2582-11e9-8489-ea04d7ff214b.gif)

**Additional context**
I am working on the issue.

[2019-01-31 12:47] jaynilshah commented on #2048
modifying it
@uds5501

[2019-01-31 12:47] shubham3211 opened #2058 "In create session if required field is not filled, then scroll to that field"
**Describe the bug**
In create session if  track is not filled, then there is no scroll

**Screenshots**
![track](https://user-images.githubusercontent.com/19900978/52055032-411f6c80-2584-11e9-894c-19a7355d67ef.gif)

**Additional context**
I am working on this issue.

[2019-01-31 13:44] uds5501 opened #2059 "Accepted speakers being shown in events instead of confirmed ones"
**Describe the bug**

Currently only `accepted` status speakers are being shown in event public page, it should instead show confirmed speakers

**To Reproduce**
Steps to reproduce the behavior:
1. Go to event
2. Click on speakers
3. See error

**Expected behavior**

`confirmed` speakers should be shown instead
**Screenshots**

Actual speaker status
![spearkerstatus](https://user-images.githubuser

[2019-01-31 14:05] creyente1897 commented on #2022
@rajshah9914  have you made the pr

[2019-01-31 14:36] harsh-jindal opened #2061 "Display Available tickets and Total tickets separately in Ticket Summary"
**Describe the bug**

Currently Available tickets is shown as total tickets.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Overview'
3. Scroll down to 'Ticket Summary'
4. See error

**Expected behavior**

Available tickets should be total - sold tickets and total tickets should be displayed separately.
**Screenshots**

![screenshot 2019-01-31 at 8 02 22 pm](https://user-images.github

[2019-01-31 15:39] #2053 closed

[2019-01-31 15:39] #2048 closed

[2019-01-31 15:39] rajshah9914 commented on #2022
@creyente1897 Not yet, but about to make one..

[2019-01-31 15:39] #2059 closed

[2019-01-31 15:40] #2049 closed

[2019-01-31 15:42] CosmicCoder96 commented on #2054
If you set up the server locally, then you need to use your own SMTP server settings for sending out the e-mail.
The mailing works on the production deployment at https://next.eventyay.com

[2019-01-31 15:42] #2054 closed

[2019-01-31 15:44] CosmicCoder96 opened #2063 "Fix Sorting in tables across the app"
Currently, the sorting functionality is broken.

[2019-01-31 16:07] Puranjay25 commented on #2058
@shubham3211  I am new to this repo. In localhost I am not able to view these event details as the "browse events" section is not showing any events in my localhost.
Can you help me with this?

[2019-01-31 16:36] #2063 closed

[2019-01-31 16:48] shubham3211 commented on #2058
@Puranjay25  I have created the event locally.

[2019-01-31 16:52] #1783 closed

[2019-01-31 16:53] CosmicCoder96 commented on #1885
Moved to https://github.com/fossasia/open-event-server/issues/5567

[2019-01-31 16:53] #1885 closed

[2019-01-31 17:37] uds5501 commented on #1936
@harsh-jindal Can I please take over this issue if you are not investing your time in this?

[2019-01-31 17:37] CosmicCoder96 commented on #1782
It's already present.
![image](https://user-images.githubusercontent.com/17252805/52073217-f7ee0d80-25c1-11e9-9b66-792ece4eb62d.png)

[2019-01-31 17:37] #1782 closed

[2019-01-31 17:48] harsh-jindal commented on #1936
@uds5501 You can go ahead with this.

[2019-01-31 17:56] #2061 closed

[2019-01-31 18:13] harsh-jindal opened #2068 "Notify user when link is copied in Access code and Discount Code"
**Describe the bug**

Currently when we click on Copy in Access code and discount code we do not see any notification on whether the link is copied or not.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Tickets'
2. Click on 'Access Code or Discount Code'
3. Click on 'Edit->Copy'
4. See error

**Expected behavior**

Notify user when link is copied in Access code and Discount Code
**Scr

[2019-01-31 18:17] harsh-jindal opened #2069 "Add copy button to link under "Access event information via REST API""
**Describe the bug**

Currently the user has to manually copy the link under Add copy button to link under  "Access event information via REST API" .
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Export'
3. Scroll down to 'You can make a GET request to the following endpoint to access the selected information'
4. See error

**Expected behavior**

Add copy button to link under  "Acces

[2019-01-31 19:47] Anupam-dagar opened #2070 "Email not shown when buying multiple tickets."
**Describe the bug**

When multiple tickets are bought, only one of them shows the email used to buy the ticket.

**To Reproduce**
Steps to reproduce the behavior:
1. Buy more than 1 ticket.
2. Go to tickets of the event.
3. See the missing email in the ticket.

**Expected behavior**

It should show the email of the user who booked the ticket.
**Screenshots**

![all - attendees - tickets - test -

[2019-01-31 20:01] shreyanshdwivedi commented on #1796
@mariobehling this issue is not reproducible on my local.
I have expired order but it is not showing on event dashboard
![screenshot_2019-02-01 all orders tickets apk19 events open event](https://user-images.githubusercontent.com/25428397/52081789-1e5f7900-25c1-11e9-8e18-1f5601cfaeeb.png)
![screenshot_2019-02-01 apk19 events open event](https://user-images.githubusercontent.com/25428397/52081794-2

[2019-01-31 20:17] shreyanshdwivedi commented on #2070
@Anupam-dagar I'm unable to reproduce it
![screenshot_2019-02-01 all attendees tickets apk19 events open event](https://user-images.githubusercontent.com/25428397/52082649-61bae700-25c3-11e9-91a0-f44d5bdef62e.png)

[2019-01-31 20:24] shreyanshdwivedi commented on #2070
@Anupam-dagar I'm unable to reproduce it. Can someone else please verify this?
![screenshot_2019-02-01 all attendees tickets apk19 events open event 1](https://user-images.githubusercontent.com/25428397/52082879-f887a380-25c3-11e9-9357-1d8a61af40d4.png)

[2019-01-31 20:34] uds5501 opened #2071 "Admin/Messages showing unsanitized text"
**Describe the bug**

The Messages Tab in Admin Panel is showing unparsed html texts.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin
2. Click on Messages
3. See error

**Expected behavior**

The Messages should be sanitized texts, i.e. parsed texts
**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/52083460-7c8e5b00-25c5-11e9-8138-7be079b0a5f8.png)

**D

[2019-01-31 21:02] shubham3211 opened #2072 "Session not visible"
**Describe the bug**
Sessions are not visible

**Expected behavior**
Sessions should be visible

**Screenshots**
![session-visible](https://user-images.githubusercontent.com/19900978/52085065-82863b00-25c9-11e9-9c6f-b028c7f57996.png)

**Additional context**
I am working on this issue

[2019-01-31 21:06] #2072 closed

[2019-01-31 21:08] mrsaicharan1 opened #2073 "Sales tab in Admin panel showing wrong tickets info"
**Describe the bug**
Sales tab shows dummy tickets info in admin panel.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin panel'
2. Click on 'Sales tab'
3. See error

**Additional context**
Working on this issue

[2019-01-31 21:14] shubham3211 opened #2074 "Date not visible properly"
**Describe the bug**
Date not visible properly

**Expected behavior**
Date should be visible properly

**Screenshots**
![date](https://user-images.githubusercontent.com/19900978/52085721-30deb000-25cb-11e9-877e-8ca9deaa5204.png)

**Additional context**
I am working on it

[2019-02-01 01:58] #1987 closed

[2019-02-01 02:49] CosmicCoder96 commented on #1943
Fixed in https://github.com/fossasia/open-event-server/pull/5568

[2019-02-01 02:49] #1943 closed

[2019-02-01 02:56] ritikamotwani commented on #2023
I am working on this issue.

[2019-02-01 03:31] CosmicCoder96 commented on #690
Resolved in #890

[2019-02-01 03:31] #690 closed

[2019-02-01 03:47] CosmicCoder96 commented on #1324
Filter bars are functional now. #1934

[2019-02-01 03:47] #1324 closed

[2019-02-01 03:49] CosmicCoder96 commented on #1370
Scheduler was implemented in https://github.com/fossasia/open-event-frontend/pull/1692

[2019-02-01 03:49] #1370 closed

[2019-02-01 03:51] CosmicCoder96 commented on #1751
Order creations seems stable so far in the test run. Can be reopened later if issues are encountered.

[2019-02-01 03:51] #1751 closed

[2019-02-01 03:56] #2057 closed

[2019-02-01 03:57] CosmicCoder96 commented on #1982
@mariobehling Seems like a browser bug, maybe too many redirects in a short span while testing, can't reproduce it.

[2019-02-01 03:57] #1982 closed

[2019-02-01 05:08] Anupam-dagar opened #2077 "Not able to set event start time"
**Describe the bug**

When creating a new event and filling up start time, the time doesn't set properly. For example a time of 09:35 is not being set instead 00:35 is getting set.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to event creation page
2. set start time to hours and minutes
3. you will see hours get reset

**Expected behavior**

The time should be set properly
**Screenshots

[2019-02-01 05:14] Anupam-dagar opened #2078 "Make date and time in generated look better"
**Describe the bug**

The current date time written in thee ticket pdf is not easy to understand, dividing the date and time in from and start will result in more understandable pdf of ticket.
**Screenshots**

![3ab13ae4-a422-4224-b5f3-6a32a1ac17d7-pdf 01-02-2019 10-37-10](https://user-images.githubusercontent.com/21174572/52103971-4e813900-260e-11e9-8c93-e5b79b20deb4.png)

**Desktop (please compl

[2019-02-01 06:06] Anupam-dagar commented on #2078
@CosmicCoder96 I opened https://github.com/fossasia/open-event-server/pull/5573 in open-event-server as a submit for this. I think this issue should be transferred in open-event-server. Should I open a new issue in server and close this or will you transfer this issue?

[2019-02-01 08:17] Anupam-dagar commented on #2008
I would like to work on this issue.

[2019-02-01 08:35] shreyanshdwivedi commented on #1907
I'm taking this up. Will submit a PR soon :)

[2019-02-01 11:31] kushthedude commented on #2077
@Anupam-dagar Can i work on this?

[2019-02-01 11:37] Anupam-dagar commented on #2077
@kushthedude sure

[2019-02-01 15:54] #1907 closed

[2019-02-01 16:22] uds5501 opened #2082 "No Tax Information being shown on public tickets"
**Describe the bug**

Even after setting up tax information for an event, we can't see it being shown up on the event's ticket page or anywhere later in ticket process.

**To Reproduce**
Steps to reproduce the behavior:
1. Set taxes in an event
2. Go to event page
3. Scroll down to Tickets
4. See error

**Expected behavior**

A separate Tax Information must be shown which shows the tax rate and re

[2019-02-01 17:04] uds5501 commented on #2073
@mrsaicharan1 I guess it's a part of the issue #696 , this issue should probably be closed in favour of that one? @CosmicCoder96

[2019-02-01 18:33] shreyanshdwivedi commented on #1923
The revision info is indeed hardcoded. I can reproduce this issue locally. But is revision info supported by server? If not, I would like to take up this issue.

[2019-02-01 18:42] shreyanshdwivedi commented on #1860
@harsh-jindal any update? I would like to take this up

[2019-02-01 19:41] uds5501 opened #2084 "Invalid date showing in Tickets"
**Describe the bug**

All the dates on the Ticket Card of Tickets/Upcoming Events are showing Invalid Date

**To Reproduce**
Steps to reproduce the behavior:
1. Book any ticket
2. Go to MyTickets
3. See error

**Expected behavior**

I believe the footer of the ticket card must be formatted in the following way:

`{currency_symbol}{price}/Free order#____ {Date}`

**Screenshots**

![image](https://u

[2019-02-01 19:44] harsh-jindal commented on #1860
@shreyanshdwivedi You can take this up.

[2019-02-02 04:10] #2070 closed

[2019-02-02 04:14] #2071 closed

[2019-02-02 04:17] uds5501 commented on #2084
@CosmicCoder96 @mariobehling I had a query regarding this invalid date, do we need to show the ticket completion date or the event's start date ?

[2019-02-02 10:10] harsh-jindal opened #2087 "Reload pending , confirmed, rejected and accepted tabs when an action is applied"
**Describe the bug**

Currently these tabs do not reload on change of action.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sessions'
2. Click on 'Confirmed and change to rejected'
4. See error

**Expected behavior**

These tabs should reload on change of action.
**Screenshots**

![screenshot 2019-02-02 at 3 40 05 pm](https://user-images.githubusercontent.com/31013104/52162951-d8a9ca

[2019-02-02 17:34] #1728 closed

[2019-02-02 17:34] #1702 closed

[2019-02-02 17:34] #1695 closed

[2019-02-02 17:36] #1775 closed

[2019-02-02 21:17] harsh-jindal opened #2092 "Change icon in pagination in Admin panel"
**Describe the bug**

Currently the icon used for next page and last page or vice-versa is same.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin'
2. Click on 'Messages'
3. Scroll down to 'Pagination'
4. See error

**Expected behavior**

For next page there should be single arrow and for last page there should a double arrow.
**Screenshots**

![screenshot 2019-02-03 at 2 44 49 am]

[2019-02-02 23:54] CosmicCoder96 opened #2094 "Recreate and fix user event role invitation acceptance flow"
Currently, there is no route to handle the role-invitations.

- The proposed after comparison with open event legacy is as follows:

- Event organizer/co-organizer sends an invitation for a user event role to a user.

-  The server generates a link, PR (https://github.com/fossasia/open-event-server/pull/5578) on the server, recreates the link and defines custom invite links on the server, to allow

[2019-02-03 00:01] CosmicCoder96 commented on #1900
parent issue #2094

[2019-02-03 00:02] CosmicCoder96 commented on #1898
Parent issue: #2094

[2019-02-03 00:11] #2094 closed

[2019-02-03 00:12] CosmicCoder96 commented on #1898
fixed in ##2095

[2019-02-03 00:12] #1898 closed

[2019-02-03 00:12] CosmicCoder96 commented on #1900
Fixed in #2095

[2019-02-03 00:12] #1900 closed

[2019-02-03 00:35] CosmicCoder96 commented on #1173
A sub-issue of https://github.com/fossasia/open-event-frontend/issues/1860

[2019-02-03 00:35] #1173 closed

[2019-02-03 09:07] Puranjay25 opened #2097 "Setting NOT saved"
**Describe the bug**

When enabling tickets for event creation in admin/modules, settings are not being saved. It rather shows an error "An unexpected error has occured. Settings not saved"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'admin/modules'
2. Click on 'Ticketing'
3. Click on 'Save'
4. See error

**Screenshots**
![screenshot from 2019-02-03 14-35-42](https://user-images.git

[2019-02-03 09:54] uds5501 opened #2098 "Ticketing section not shown in edit-event form"
**Describe the bug**

The ticketing section is not shown in edit-events form even though the Ticketing module has been enabled in the system

**To Reproduce**
Steps to reproduce the behavior:
1. Go to editing of any event
2. Scroll down to Organiser Information Tab (just above where ticketing should be)
4. See error

**Expected behavior**

Ticket options should be there when module is activated

*

[2019-02-03 10:02] uds5501 commented on #2097
@Puranjay25 I can't replicate this error. It's working perfectly in my system

[2019-02-03 12:18] Puranjay25 commented on #2097
@uds5501
So for me what might be the issue?

[2019-02-03 18:41] niranjan94 commented on #2097
@Puranjay25 could be something on your side. Have you setup the server correctly ? (Closing this issue for now)

[2019-02-03 18:41] #2097 closed

[2019-02-03 18:44] Puranjay25 commented on #2097
@niranjan94 yes, I did

[2019-02-03 19:04] uds5501 commented on #2084
@niranjan94 Had a quick doubt
If we modify the order model in ember and remove the attribute `'readOnly : True'` and then add in `controllers/orders/new.js` the following lines `order.set('completedAt', moment())`.

Shouldn't that automatically connect our completed_at from server model to our frontend model?
I could use some guidance in this integration

[2019-02-03 19:50] uds5501 opened #2101 "Wrong currency being shown in Discount Code creation"
**Describe the bug**

The discount code currency is being used as $(US) as default when adding a discount code. This should not be the case when the currency set up is something other than USD.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Add Discount Coupon option
2. See error

**Expected behavior**

The currency should be setup as specified in the event's payment options

**Screen

[2019-02-03 23:42] mohitm15 commented on #2074
I Want  to work on this Issue

[2019-02-03 23:51] shubham3211 commented on #2074
@mohitm15 go ahead , the date and time should appear in one line.

[2019-02-04 10:48] Anupam-dagar commented on #2082
I would like to take up this issue

[2019-02-04 11:03] Anupam-dagar opened #2103 "Cannot save the event details on editing."
**Describe the bug**

On editing the details of the event, saving details is not working. None of the `Forward`, `Draft` and `Publish` buttons are working. There are console errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to edit details of event
2. Click on publish, forward or save draft button
3. Nothing happens

**Expected behavior**

The event should get saved.
**Screenshots**

[2019-02-04 11:21] Anupam-dagar commented on #2074
I would like to work on this issue.

[2019-02-04 11:47] uds5501 commented on #2082
@Anupam-dagar Sure, go ahead

[2019-02-04 12:06] uds5501 commented on #2103
@Anupam-dagar Can I have a look at this?

[2019-02-04 12:07] Anupam-dagar commented on #2103
@uds5501 sure

[2019-02-04 15:53] #2023 closed

[2019-02-04 16:38] CosmicCoder96 commented on #1980
Fixed, was a legacy data format issue.

[2019-02-04 16:38] #1980 closed

[2019-02-04 17:59] harsh-jindal opened #2107 "Reload active and inactive tabs in Access and Discount codes when it is changed"
**Describe the bug**

Currently as we change the the access or discount code from active to inactive the component doesn't reload which is a bug.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Access or Discount code
2. Click on Active and inactivate code
4. See error

**Expected behavior**

Reload active and inactive tabs in Access and Discount codes when it is changed
**Screenshots**

[2019-02-04 18:05] harsh-jindal opened #2108 "Notify user when link is copied under Call for speakers and Share event"
**Describe the bug**

Currently as the link is copied the user is not notified.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create event'
2. Click on 'Sessions and Speakers'
3. Scroll down to 'Call for speakers'
4. See error

**Expected behavior**

Notify user when link is copied under Call for speakers and share event.
**Screenshots**

![screenshot 2019-02-04 at 11 31 38 pm](https

[2019-02-04 18:17] #2098 closed

[2019-02-04 18:37] creyente1897 commented on #2022
@rajshah9914 can you please make a pr soon or else someone else can do this.

[2019-02-04 18:50] CosmicCoder96 commented on #2084
Ticket Completion.

[2019-02-04 19:04] Anupam-dagar opened #2110 "Session time for not scheduled session is not null."
**Describe the bug**

Currently a session has a start time of `12:00 am` and date being the confirmation date. This happens even before the session is scheduled. Set the session start time to null until it's scheduled.

**To Reproduce**
Steps to reproduce the behavior:
1. Submit a session.
2. Confirm the sessions.
3. Go to all session of the event.
4. See the session time being set.

**Expected be

[2019-02-04 19:06] #2103 closed

[2019-02-04 20:05] uds5501 opened #2111 "Completed Order attendees not really checking in"
**Describe the bug**

When trying to check-in an attendee, it toggles the option correctly but upon refreshing, the state of `check in` returns to the initial i.e. `False` .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to View Attendees of any event
2. Click on Check In status
3. Refresh the page
4. See error

**Expected behavior**

Once the Actions are toggled, the state of `check-in`

[2019-02-04 20:21] uds5501 opened #2112 "All Users in Admin/Users not functioning properly"
**Describe the bug**

All Users in Admin/Users not functioning properly. It should be giving all the users registered on the system instead of the current user only.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin/Users
2. Click on All Users
3. See error

**Expected behavior**

Currently there are two users in my system, it should be giving me data of both the users not just the

[2019-02-04 20:53] uds5501 commented on #2111
Error Logs :
![screenshot from 2019-02-05 02-16-58](https://user-images.githubusercontent.com/21087061/52236448-eae85b80-28ec-11e9-94e9-0fe3e489e90d.png)

@CosmicCoder96 Should this be a server-error instead due to the failure of PATCH request?

[2019-02-04 23:16] Akhelesh opened #2113 "api/auth.py: Implement the OAuth login using the requests-oauthlib library"
**Describe the bug**
The current implementation of the auth.py module uses requests library to make calls to the API vendors. The project already has the requests-oauthlib dependency which is rarely used but is a better solution. This will help keep the code consistent among the different vendor requests.

**Expected Behaviour**
Use requests-oauthlib instead of requests library

**Additional conte

[2019-02-05 07:59] #2074 closed

[2019-02-05 07:59] #2101 closed

[2019-02-05 08:13] rajshah9914 commented on #2022
@creyente1897 , sorry for delays, but my code runs and shows unexpected error due to which I am not able to move ahead.. Even I am not able to login into my account there..if you can help, that would be great..
![screenshot from 2019-02-05 13-39-22](https://user-images.githubusercontent.com/34474021/52260334-bc4d9d80-294b-11e9-9cab-ec43892ab7fc.png)
This all happened after I fetched and merged my

[2019-02-05 10:32] CosmicCoder96 commented on #1483
fixed in #2091

[2019-02-05 10:32] #1483 closed

[2019-02-05 17:06] creyente1897 commented on #2022
@rajshah9914 can you tell me the changes that you did.

[2019-02-05 22:56] shubham3211 opened #2114 "Speakers details should be available in the form of popup"
**Describe the solution you'd like**
The Speakers details should be available in the form of popup

![speaker11](https://user-images.githubusercontent.com/19900978/52309843-5dc60500-29c7-11e9-9fbd-f30b30566cd3.png)

**Additional context**
I am working on this issue.

[2019-02-05 22:59] shubham3211 opened #2115 "Twitter, linkedin links should be available on speaker image on hover."
**Describe the solution you'd like**
Twitter, linkedin links should be available on speaker image on hover.
![speaker11](https://user-images.githubusercontent.com/19900978/52309958-b8f7f780-29c7-11e9-8269-c6cf50e4c831.png)

**Additional context**
I am working on this issue.

[2019-02-05 23:07] shubham3211 opened #2116 "name of social media should not be there icons are sufficient"
**Describe the bug**
name of social media should not be there icons are sufficient

**Screenshots**
![social-error](https://user-images.githubusercontent.com/19900978/52310254-ce215600-29c8-11e9-9b68-feaace10f7d0.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following informa

[2019-02-05 23:10] shubham3211 opened #2117 "Name of speaker should be available on top of popup box"
**Describe the solution you'd like**
Name of speaker should be available on top of popup box

**Describe alternatives you've considered**
![speaker05](https://user-images.githubusercontent.com/19900978/52310402-4851da80-29c9-11e9-848c-40fb1052e35a.png)

![speaker11](https://user-images.githubusercontent.com/19900978/52310413-543d9c80-29c9-11e9-9090-c091ad28e154.png)

**Additional context**
I am wo

[2019-02-05 23:13] shubham3211 opened #2118 "Links coming out of speaker popup box"
**Describe the bug**
Links coming out of speaker popup box

**Expected behavior**
Links should not come out of popup box.

**Screenshots**
![linkout](https://user-images.githubusercontent.com/19900978/52310540-be564180-29c9-11e9-968d-f56a9659d514.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (ple

[2019-02-06 00:12] #2116 closed

[2019-02-06 00:13] shubham3211 opened #2120 "name of social media icons should not be displayed , icons are sufficient"
**Describe the bug**
name of social media icons should not be displayed , icons are sufficient

**Screenshots**
![social-speaker](https://user-images.githubusercontent.com/19900978/52312840-2446c700-29d2-11e9-823a-3aa4c15148f4.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the fol

[2019-02-06 03:01] CosmicCoder96 commented on #2117
Not required.

[2019-02-06 03:01] #2117 closed

[2019-02-06 03:02] CosmicCoder96 commented on #2115
not required for now.

[2019-02-06 03:02] #2115 closed

[2019-02-06 03:03] CosmicCoder96 commented on #2114
not needed for now.

[2019-02-06 03:03] #2114 closed

[2019-02-06 03:49] #2111 closed

[2019-02-06 06:46] uds5501 commented on #2120
Claiming this issue

[2019-02-06 06:54] shubham3211 commented on #2120
@uds5501 I am working on this issue.

[2019-02-06 07:54] #2107 closed

[2019-02-06 07:54] #2120 closed

[2019-02-06 07:55] #1814 closed

[2019-02-06 08:17] shreyanshdwivedi commented on #2108
@harsh-jindal I think you should extend thiss issue and notify user when event sharing link is copied too!
![screenshot_2019-02-06 open event](https://user-images.githubusercontent.com/25428397/52328475-cc31b400-2a15-11e9-9871-d1f98d0b09c6.png)

[2019-02-06 08:28] shreyanshdwivedi opened #2127 "The location search in explore route is changed to undefined when enter is pressed"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/explore'
2. Enter location in 'Enter Location' search bar
3. Press Enter
4. See error

**Expected behavior**

The location bar should store value searched

**Screenshots**

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/25428397/52328930-529ac580-2a17-11e9-9d35-82fb1d18f595.gif)

**Desktop (plea

[2019-02-06 08:33] shreyanshdwivedi commented on #1936
@uds5501 I would like to work on it. Are you still working on it?

[2019-02-06 08:34] CosmicCoder96 commented on #2084
An invalid date is shown only for orders who are not yet completed.

[2019-02-06 08:39] uds5501 commented on #1936
@shreyanshdwivedi Sure, go ahead

[2019-02-06 08:59] ritikamotwani commented on #2127
That's because you have not substituted a google maps API key in your .env file, reopen if it also exists on next.eventyay.com
![image](https://user-images.githubusercontent.com/22127980/52330472-87108080-2a1b-11e9-9bd3-ad3bfb40f12d.png)

[2019-02-06 08:59] #2127 closed

[2019-02-06 09:06] CosmicCoder96 commented on #2108
@harsh-jindal yes, please don't open separate issues for each copy button.

[2019-02-06 09:32] #2084 closed

[2019-02-06 10:57] harsh-jindal commented on #2108
@CosmicCoder96 @shreyanshdwivedi  Will make the changes for all "copy" button in this issue.

[2019-02-06 11:16] #2112 closed

[2019-02-06 12:43] ritikamotwani opened #2132 "Improve UI of the attendee check in button"
**Describe the bug**

The check in button in the attendees table splits into two lines currently.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /events/{event_identifier}/tickets/attendees/all
2. See the button in the column Actions.

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Browser: Mozilla

**Additional context**
Would like to work on this.

[2019-02-06 15:46] #2132 closed

[2019-02-06 16:30] Hudda commented on #1423
@sk9331657 I have implemented the google signin feature in backened and a opened a PR for the same if you are not working on this, can I opened PR here as I have implemented the frontend part too.

[2019-02-06 17:36] uds5501 opened #2134 "Inactive Users being shown in Active sections of Admin/Users"
**Describe the bug**

Currently Inactive Users  are being shown in Active sections of Admin/Users
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin/Users
2. Click on Active
3. See error

**Expected behavior**

It should not show the Inactive User over here

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/52361188-ac28e180-2a63-11e9-8f52-ca26e94d7f30.png)

[2019-02-06 19:32] uds5501 opened #2136 "CFS showing up even after removing sessions-and-speakers from Event"
**Describe the bug**

Call for speaker event card is showing up on index page even after disabling sessions and speakers in the event

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any cfs enabled event
2. Disable the sessions section
3. Go to index
4. See error

**Expected behavior**

When disabling sessions-and-speakers , the cfs should also be removed from the index page

**Screens

[2019-02-06 20:40] #2136 closed

[2019-02-06 22:02] #2134 closed

[2019-02-06 22:11] CosmicCoder96 opened #2138 "Admin Users route is extremely slow"
Due to highly unoptimized handling of user event roles, the admin/users route takes a significant amount of time.

[2019-02-07 02:32] #2138 closed

[2019-02-07 03:03] mrsaicharan1 opened #2140 "Twitter OAuth front end implementation"
**Is your feature request related to a problem? Please describe.**
The Twitter login implementation has been done by Flask-Dance on the backend. Now, it needs to be linked to the frontend through an ember link/button.

**Describe the solution you'd like**
The expected implementation should be like this:
1. *Login with Twitter* button should  redirect the user to the twitter Oauth login page. `/twi

[2019-02-07 05:39] shreyanshdwivedi commented on #2140
Working on it :)

[2019-02-07 06:33] #1939 closed

[2019-02-07 08:06] YogeshSharma0201 opened #2141 "Pagination for Admin sales"
**Is your feature request related to a problem? Please describe.**
Presently Pagination is not implemented for Admin Sales section.

**Describe the solution you'd like**
Implement Pagination similar to other admin sections.

I'm working on it.

[2019-02-07 10:04] uds5501 opened #2142 "Can't Submit a session via cfs"
**Describe the bug**

I cannot submit a session via cfs by a user who has **not** created the event
**To Reproduce**
Steps to reproduce the behavior:
1. Go to CFS of an event which user has not created
2. Click on the add session proposal
3. Fill the details and hit submit
4. See error

**Expected behavior**

It should not be happening, the session should've been accepted

**Screenshots**

![ezgif

[2019-02-07 12:09] shubham3211 opened #2143 "Date should not be visible if it is invalid"
**Describe the bug**
Date should not be visible if it is invalid

**Screenshots**
![dateerror](https://user-images.githubusercontent.com/19900978/52410750-5efa4d80-2aff-11e9-8b0b-16d822c6a134.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Device: [

[2019-02-07 15:51] uds5501 commented on #2140
@shreyanshdwivedi @CosmicCoder96 @mrsaicharan1  For Github OAuth we will need a client_id and client_secret credential columns in admin/settings if we are to implement the Github Login feature. Shall I open an issue for the same in this repo?

[2019-02-07 15:53] mrsaicharan1 commented on #2140
Sure go ahead.

[2019-02-07 17:01] shubham3211 opened #2145 "Sessions not visible"
**Describe the bug**
Sessions not visible

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Session should be visible

**Screenshots**
![session1](https://user-images.githubusercontent.com/19900978/52428488-10ad7480-2b28-11e9-80a1-6783fb96c77b.png)

**Desktop (please complete the following information):

[2019-02-07 17:30] shubham3211 commented on #1818
I am working on this.

[2019-02-07 17:43] shubham3211 opened #2148 "Html tags visible in session abstract"
**Describe the bug**
Html tags visible in session abstract

**Expected behavior**
Html tags should be visible in session abstract

**Screenshots**
![sessionhtml](https://user-images.githubusercontent.com/19900978/52431269-eb236980-2b2d-11e9-8bf7-d2d2162c1a5c.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Sma

[2019-02-07 17:46] shubham3211 opened #2149 "Edit speakers not visible properly"
**Describe the bug**
Edit speakers should be visible properly.

**Expected behavior**
Edit speakers should be visible properly and next line should be from the left, the buttons are overlaping

**Screenshots**
![edit-speaker](https://user-images.githubusercontent.com/19900978/52431477-52411e00-2b2e-11e9-8d36-0c67b3b05639.png)

**Additional context**
I am working on this issue.

[2019-02-07 17:58] shubham3211 opened #2150 "Users not visible"
**Describe the bug**
Users not visible

**Expected behavior**
users should be visible

**Screenshots**
![users](https://user-images.githubusercontent.com/19900978/52432245-fc6d7580-2b2f-11e9-98e3-c75c6770635f.png)

**Additional context**
I am working on this issue.

[2019-02-07 17:59] shubham3211 opened #2151 "Sales page not visible"
**Describe the bug**
Sales page not visible

**Expected behavior**
Sales page should be visible

**Screenshots**
![salespage](https://user-images.githubusercontent.com/19900978/52432346-38083f80-2b30-11e9-807e-fa5d2785393d.png)

**Additional context**
I am working on this issue.

[2019-02-07 18:40] uds5501 commented on #2150
@shubham3211 Can't replicate this issue

[2019-02-07 18:41] #2150 closed

[2019-02-07 20:25] uds5501 opened #2153 "Adding Github Token section in Admin/Settings | System"
**Is your feature request related to a problem? Please describe.**

No, it's regarding the implementation of additional login implementations. To implement Github OAuth, we need to let the client to provide Github client id and secret.

**Describe the solution you'd like**

I would simply like addition of Github Tokens field to the System in Admin/Settings
Something like this
![image](https://user

[2019-02-07 20:31] shubham3211 opened #2154 "Deleted events tickets are visible"
**Describe the bug**
Deleted events tickets are visible

**Expected behavior**
Deleted events tickets should not be visible

**Screenshots**
![deletedtickets](https://user-images.githubusercontent.com/19900978/52443601-25036880-2b4c-11e9-86eb-4983091cb00a.png)

**Additional context**
I am working on this.

[2019-02-07 20:40] shubham3211 opened #2156 "Routes not working in user tickets"
**Describe the bug**
Upcoming Events and past events showing same events.

**Screenshots**
![peek 2019-02-08 02-05](https://user-images.githubusercontent.com/19900978/52441449-9b04d100-2b46-11e9-8b4b-5100792115f6.gif)

**Additional context**
I am working on this issue.

[2019-02-07 20:42] uds5501 commented on #2156
![ezgif com-video-to-gif 4](https://user-images.githubusercontent.com/21087061/52441575-0353b280-2b47-11e9-990b-7c03c73893a2.gif)
The Routes Work fine

[2019-02-07 20:48] uds5501 opened #2157 "Deleted events should not have an action bar of 'deleted' and status of 'published'"
**Describe the bug**

Currently the deleted events contain `Delete` action in the action bar and still have the state of `published` in Admin/Events | All Events

**Expected behavior**

The delete bar should not be there in such cases and the state maybe changed to `deleted` instead

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/52441835-bfad7880-2b47-11e9-8796-5bf55

[2019-02-07 20:53] uds5501 commented on #2151
@shubham3211 This looks more like a server side error, besides i think issues regarding admin sales should be left for now due to ongoing integration by @YogeshSharma0201
![screenshot from 2019-02-07 03-13-41](https://user-images.githubusercontent.com/21087061/52442077-4b270980-2b48-11e9-91c9-eb03c64580f8.png)

[2019-02-07 20:54] uds5501 commented on #2154
@shubham3211 Why should they not be visible though? They signify completed transactions by a customer. If the event has been deleted, that doesn't signify that the transaction was not made for that particular ticket

[2019-02-07 20:59] shubham3211 opened #2158 "Users not getting deleted"
**Describe the bug**
Users not getting deleted

**Expected behavior**

**Screenshots**
![userdelete](https://user-images.githubusercontent.com/19900978/52442524-5cbce100-2b49-11e9-9c3d-1ddc5ce649b2.gif)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Dev

[2019-02-07 21:20] shubham3211 commented on #2154
@uds5501 @mariobehling said that Deleted event tickets should not be visible by the user anymore as they are - deleted.
 https://github.com/fossasia/open-event-frontend/issues/2012

[2019-02-07 21:22] uds5501 commented on #2154
@shubham3211 I think he was referring to "Deleted Event Ticket" not "Deleted Event's Ticket"
Could use some clarification here @mariobehling

[2019-02-07 21:28] shubham3211 commented on #2154
@uds5501 can you elaborate , "Deleted Event Ticket" not "Deleted Event's Ticket"

[2019-02-07 21:49] uds5501 opened #2160 "Admin Dashboard showing incorrect information"
**Describe the bug**

Admin dashboard is showing no 'Confirmed' Session and The number of published / draft events displayed are wrong (it is including the deleted events in the count too)

**Expected behavior**

The admin dashboard should be presenting correct information

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/52445122-40707280-2b50-11e9-95f2-a58068666543.pn

[2019-02-08 01:58] #2148 closed

[2019-02-08 02:08] ritikamotwani commented on #2160
@uds5501 the admin statistics end point directly gives the values for the number of different types of events and sessions. If it is incorrect open an issue in the server for it. Further the number of confirmed sessions aren't shown in v1 so leave it for now.

[2019-02-08 02:08] #2160 closed

[2019-02-08 04:02] CosmicCoder96 commented on #2156
why do you have a saved events tab in your my tickets route? That tab was removed atleast a 100 commits before? Is your branch in sync?

[2019-02-08 04:03] CosmicCoder96 commented on #2154
Correct.

[2019-02-08 04:03] #2154 closed

[2019-02-08 04:17] CosmicCoder96 commented on #2142
Your user is not verified, see the top. Open a different issue, to disable the button if the user is not verified.

[2019-02-08 06:21] shubham3211 commented on #2156
@CosmicCoder96  it is updated.

[2019-02-08 06:36] #2157 closed

[2019-02-08 07:00] #2145 closed

[2019-02-08 16:14] imrrahul opened #2163 "No option for Singup/ SignIn using Google accounts"
**Is your feature request related to a problem? Please describe.**
Sometimes it is very problematic for someone to enter all login/signup credentials and very irritating for people like me , but if there is some button like singup/sign in using Google accounts , Then it will be very easy for users to login or signup.But Open event lacks this feature.
**Describe the solution you'd like**
I would ad

[2019-02-08 17:04] imrrahul opened #2164 "No events are showing"
**Describe the bug**
Events are not coming , it shows '404 not found' and Oops, the page you are
looking for does not
exist

**Expected behavior**
It should show the available page which contains list of events
**Screenshots**
![screenshot from 2019-02-08 22-30-42](https://user-images.githubusercontent.com/37583853/52493482-93e6cd00-2bf1-11e9-8751-aff16a53938d.png)

**Additional context**
I would

[2019-02-08 17:11] imrrahul opened #2165 "Hindi language option is not working"
**Describe the bug**
On selecting the user interface language of the site as hindi , then the whole content of the site is not coming up in hindi ,i.e., it is still showing texts in english.
**Expected behavior**
it should show all texts in hindi if hindi as interface/site language is selected.
**Screenshots**
![screenshot from 2019-02-08 22-37-12](https://user-images.githubusercontent.com/3758385

[2019-02-08 17:30] jaynilshah opened #2166 "Scroll Problem"
**Describe the bug**

Clicking on any option twice scrolls the page to the bottom
**To Reproduce**
Steps to reproduce the behavior:
1. Click on any event
2. Click on the tickets/getting-here option twice.

![screencast from friday 08 february 2019 10_43_34 ist](https://user-images.githubusercontent.com/36128751/52494737-ba5a3780-2bf4-11e9-8c06-f4499aab6c0f.gif)

**Expected behavior**

It should st

[2019-02-08 19:52] uds5501 commented on #2163
@imrrahul Google OAuth is being currently integrated in the backend

[2019-02-08 19:56] uds5501 commented on #2166
@jaynilshah already described in #275 please close this.

[2019-02-09 00:31] #2166 closed

[2019-02-09 04:22] CosmicCoder96 commented on #2156
@shubham3211

![image](https://user-images.githubusercontent.com/17252805/52516391-3db37180-2c65-11e9-84b6-8cbcf1370f21.png)

![image](https://user-images.githubusercontent.com/17252805/52516390-368c6380-2c65-11e9-864d-cc4e613f1d87.png)

Quite clearly, it is **not**. How do you not see the difference in the number of tabs in the route when I explicitly pointed it out.

[2019-02-09 04:22] #2156 closed

[2019-02-09 04:23] CosmicCoder96 commented on #2165
You need to run `node scripts/l10n.js generate` to generate translation JSON files, it works on the production deployment at next.eventyay.com

[2019-02-09 04:23] #2165 closed

[2019-02-09 04:24] CosmicCoder96 commented on #2164
That URL is invalid, how did you end up on it?

[2019-02-09 04:24] #2163 closed

[2019-02-09 04:24] #2151 closed

[2019-02-09 08:43] uds5501 opened #2168 "Maximum Ticket Limits not being used"
**Describe the bug**

The admin panel offers a feature of setting maximum ticket price in Admin/Settings | Ticket Fees section, at this moment it is not really being used to check whether the set value of ticket price is below the maximum bar or not.

**To Reproduce**
Steps to reproduce the behavior:
- Follow the GIF

**Expected behavior**

If the set value of ticket is above the maximum set value

[2019-02-09 11:12] uds5501 opened #2169 "More than one fee settings can be saved for a payment country - payment currency combination"
**Describe the bug**

Referring to the title, at the moment more than one setting can be saved for a particular Payment Currency - Payment Country combination in Admin/Settings | Ticket Fees tab which should not be the case.

**To Reproduce**
Steps to reproduce the behavior:
Please follow the GIF

**Expected behavior**

A payment Currency-Country combination should be unique for a model. 2 Maximum

[2019-02-09 11:14] uds5501 commented on #2164
@CosmicCoder96 It's given right there in the footer :
![image](https://user-images.githubusercontent.com/21087061/52519980-dc51c980-2c89-11e9-9c0c-40bf7777251f.png)
Also, for the matter, none of them are working

[2019-02-09 14:04] YogeshSharma0201 commented on #1864
Working on this.

[2019-02-09 16:16] imrrahul commented on #2165
@CosmicCoder96 thanks for the information

[2019-02-09 16:21] imrrahul commented on #2164
@CosmicCoder96 It is there given in the footer as siad by @uds5501  and it is also not working on https://next.eventyay.com

[2019-02-09 16:23] imrrahul commented on #2163
@uds5501 can we add this in frontend part for user convenience?

[2019-02-09 16:30] alphamuth opened #2171 "Map is not working"
**Describe the bug**
Map is not working as it is very important for user to confirm the location by seeing the map above the search bar that this is the location they are searching for, but on searching the name of location nothing happens with map.It remains as it is.

**Expected behavior**
It should show the searched location on map just above the search bar.

**Screenshots**
![screenshot from 2

[2019-02-09 16:40] uds5501 commented on #2163
@imrrahul Best practice would be collaborating with the server implementer. If he/she agrees to hand over the frontend integration, then surely go ahead.

[2019-02-09 18:20] shreyanshdwivedi commented on #2140
Waiting for https://github.com/fossasia/open-event-server/pull/5580 to get merged.

[2019-02-09 18:46] shreyanshdwivedi opened #2172 "Clicking on tags in event-card in /explore doesn't filter the events"
**Describe the bug**

In `/explore` route, the events aren't filtered when clicked on `event-type` in `event-card`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/explore`
2. Click on `event-type` in `event-card`
3. See error

**Expected behavior**

The events should filter as in the live version

**Screenshots**

![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com

[2019-02-09 20:59] shubham3211 opened #2173 "Add restore functionality to deleted users."
**Describe the bug**
Remove delete button if the user is already deleted

**To Reproduce**
Go to http://localhost:4200/admin/users/deleted

**Screenshot**
![deleteduser](https://user-images.githubusercontent.com/19900978/52526183-28792a00-2cdb-11e9-9b72-a22c3314cef2.png)

**Expected behavior**
Delete button should not be there if the user is already deleted

**Additional context**
I am working on

[2019-02-09 21:29] uds5501 opened #2174 "Adding Inactive Users Tab"
**Is your feature request related to a problem? Please describe.**

Currently, there is no way to access Inactive Users data in the system, this tab addition can help fix that

**Describe the solution you'd like**

A simple addition of A Tab : inactive users should be suffice
![image](https://user-images.githubusercontent.com/21087061/52526515-9d4e6300-2cdf-11e9-9b3c-41614d748b61.png)

**Describe

[2019-02-09 22:12] uds5501 opened #2176 "Private CFS are being listed in the index page"
**Describe the bug**

The private CFS are being listed in the index page of open event which should not be the case

**To Reproduce**
Please follow the GIF

**Expected behavior**

The private Call For Speaker tab should not be present  in the index page

**Screenshots**

![ezgif com-video-to-gif 7](https://user-images.githubusercontent.com/21087061/52526887-9cb8cb00-2ce5-11e9-8627-2878cdc77fe3.gif

[2019-02-10 00:22] #2176 closed

[2019-02-10 00:24] #1864 closed

[2019-02-10 00:24] #1865 closed

[2019-02-10 00:26] #2174 closed

[2019-02-10 00:27] #2143 closed

[2019-02-10 00:31] #2118 closed

[2019-02-10 00:40] CosmicCoder96 commented on #2168
That's not ticket price in admin settings, it's ticket fee. That eventyay may charge from organizer in the future.

[2019-02-10 00:40] #2168 closed

[2019-02-10 05:35] Anupam-dagar opened #2179 ""An unexpected error has occurred" on successful login."
**Describe the bug**

When the user logs in by providing the credentials, no redirect to home page happens and the url stays `http://localhost:4200/login` due to which error occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'login page'
2. Enter credentials and log in.
3. An unexpected error occurs

**Expected behavior**

The user should be redirected to home page.
**Screenshots*

[2019-02-10 08:12] CosmicCoder96 commented on #2179
@Anupam-dagar can you share the exact error message from the dev console? Can't reproduce it.

[2019-02-10 08:24] uds5501 commented on #1867
Looking into it

[2019-02-10 08:57] Anupam-dagar commented on #2179
The error seems to be related to CORS. I have an extension enabled for it but still its there.
![screenshot from 2019-02-10 14-10-32](https://user-images.githubusercontent.com/21174572/52531725-dfa78c80-2d3f-11e9-879f-a30aef4862bf.png)

[2019-02-10 09:03] uds5501 commented on #2179
@Anupam-dagar what kind of user were you trying to login with? The Admin / A new registered one?

[2019-02-10 09:05] Anupam-dagar commented on #2179
It's the admin user.

On Sun, 10 Feb 2019, 14:33 Uddeshya Singh <notifications@github.com wrote:

[2019-02-10 09:16] CosmicCoder96 commented on #2179
It looks like a server error. What’s the stack trace there ?

On Sun, 10 Feb 2019 at 5:05 PM, Anupam Dagar <notifications@github.com>
wrote:

[2019-02-10 10:40] Anupam-dagar commented on #2179
@CosmicCoder96 Below is the stack trace on the server. so it says the orders.company doesn't exist.
[code]

[2019-02-10 10:42] Anupam-dagar commented on #2179
@CosmicCoder96 looks like I didn't migrated the db on the server after rebasing. Doing it fixed it. Closing the issue.

[2019-02-10 10:42] #2179 closed

[2019-02-10 14:36] shreyanshdwivedi opened #2184 "Add Twitter, GitHub and Instagram as applications in settings"
**Is your feature request related to a problem? Please describe.**

As Twitter, GitHub and Instagram OAuth is being integrated, it is expected to have these applications to connect, in settings.

**Describe the solution you'd like**

Adding Twitter, Github and Instagram to `/settings/applications/` just like facebook

**Additional context**

Working on it

[2019-02-11 01:08] mohitm15 commented on #1996
@creyente1897 I would like to take this issue??

[2019-02-11 01:22] mohitm15 commented on #1996
@creyente1897  need to change with this one attached in this picture?? http://server.myspace-shack.com/d23/d23236b0-44ed-4401-b31b-c0d491b5cff8.png  .
:blush: Just wanted to conform..

[2019-02-11 01:36] mohitm15 commented on #1996
Also it will be more helpful to specify the terms page elaborately??

[2019-02-11 02:00] mohitm15 commented on #1996
I had inspected the bug but unable to find the HTML file of term on the repository.

[2019-02-11 02:53] CosmicCoder96 commented on #1996
@mohitm15 It's just data entry in the admin section. However this issue is not relevant right now, because nextgen is not live yet, administrators will enter it when it is, hence the issue has been labeled later, I will be claiming it to prevent further confusion.

[2019-02-11 02:55] mohitm15 commented on #1996
@mohitm15 Actually I am new to open source...and didn't find any good first issue? It will be good if you suggest to me :grey_exclamation:

[2019-02-11 02:56] CosmicCoder96 commented on #1996
@mohitm15 https://github.com/fossasia/open-event-frontend/labels/bug

[2019-02-11 02:59] mohitm15 commented on #1996
@CosmicCoder96 Okay I will find and thank you :smile:

[2019-02-11 20:11] shreyanshdwivedi commented on #2184
Waiting for https://github.com/fossasia/open-event-server/pull/5600 and https://github.com/fossasia/open-event-server/pull/5590 to get merged

[2019-02-12 10:11] shreyanshdwivedi commented on #2077
Working on this

[2019-02-12 10:29] shreyanshdwivedi commented on #2022
As this issue is inactive for a week, I am working on it :)

[2019-02-12 10:53] shreyanshdwivedi commented on #2082
@Anupam-dagar are you working on this? If you are busy somewhere else, I would like to take this up

[2019-02-12 11:03] Anupam-dagar commented on #2082
Yes I am working on this. I'll submit a PR in an hour.

On Tue, 12 Feb 2019, 16:23 Shreyansh Dwivedi <notifications@github.com
wrote:

[2019-02-12 11:42] Anupam-dagar commented on #2058
@shubham3211 for me, a loader appears which keeps on loading with a error message "oops something went wrong"

[2019-02-12 14:42] uds5501 opened #2187 "Ticket sold in event-management table including expired orders"
**Describe the bug**

In the event management table, the number of expired order tickets are also being shown

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Manage Events'
2. Exceed the amount of tickets bought by using My event/Tickets/Add Order
3. Go back to Manage Events Table
4. See error

**Expected behavior**

Only the tickets which are confirmed should be shown there

**Screen

[2019-02-12 17:36] shreyanshdwivedi commented on #2047
@CosmicCoder96 I noticed that the buyer's info is not being saved. Even the purchase time of event is not being rendered on frontend. If this is a bug, I will like to solve this
![screenshot_2019-02-12 all orders tickets apk19 events open event 1](https://user-images.githubusercontent.com/25428397/52655671-b858e700-2f1a-11e9-8bcc-a76818d734a7.png)

[2019-02-12 17:46] uds5501 commented on #2047
@shreyanshdwivedi True, the completion-time is not being saved at all. (the database is not storing it at least) Please see if the order schema has included it.

[2019-02-12 17:50] shreyanshdwivedi commented on #2047
The `order` schema has these fields. I'll open an issue and start working on this
[code]

[2019-02-12 17:54] uds5501 commented on #2047
@shreyanshdwivedi I've had a word regarding this with @CosmicCoder96 before. Can you try completing a payment via PayPal maybe?

[2019-02-12 17:59] shreyanshdwivedi commented on #2047
Are you already working on this? Actually implementing payment part will require a lot of time and my mid sem exams are near, so it'll be difficult for me to invest time in it :sweat_smile:

[2019-02-12 18:08] shreyanshdwivedi opened #2189 "Buyer info and purchase timestamp not being saved for orders"
**Describe the bug**

When ticket is ordered, the buyer's info and purchase timestamp is not being saved for orders

**To Reproduce**
Steps to reproduce the behavior:
1. Purchase a ticket
2. Go to `events/<identifier>/tickets/orders/all`
3. Click on `Orders`
4. See error

**Expected behavior**

The buyer's name and order date should be saved

**Screenshots**

![screenshot_2019-02-12 all orders tic

[2019-02-13 02:55] CosmicCoder96 commented on #2189
@uds5501 Can you link the duplicate issue which you opened and explain the discussion we had regarding setting up paypal?

[2019-02-13 02:55] #2189 closed

[2019-02-13 02:55] #2187 closed

[2019-02-13 05:44] uds5501 commented on #2189
The earlier created issue : #2084
The discussion and yet to be triaged fix : #2128

[2019-02-13 06:30] CosmicCoder96 opened #2191 "Implement Event Revisions"
Each time an event is updated, it's past values are stored as revisions on the backend.
The number of revisions ~are~ should be accessible at the event dashboard.
![image](https://user-images.githubusercontent.com/17252805/52691372-9fdce100-2f9b-11e9-89dd-5cbfed34ddd9.png)

Upon clicking them, a popup appears which allows browsing of event at various stages.

![image](https://user-images.githubuse

[2019-02-13 06:30] CosmicCoder96 opened #2192 "Create UI for events revision dialog"
![image](https://user-images.githubusercontent.com/17252805/52691192-0281ad00-2f9b-11e9-806c-b9ac4c6f904a.png)

It should be a modal, as on legacy which should open up on clicking.
**This issue's scope is just the UI of the modal.**

Parent issue #2191

[2019-02-13 06:37] ritikamotwani commented on #2192
I would like to work on this.

[2019-02-13 09:06] ritikamotwani commented on #2164
I am working o this.

[2019-02-13 11:59] uds5501 commented on #2191
@CosmicCoder96 How are we planning to store the version data?

[2019-02-13 15:12] #2164 closed

[2019-02-13 22:48] uds5501 opened #2194 "Discount Codes' time frame not being considered while applying it"
**Describe the bug**

ATM, any discount code's validity time frame is not being considered while applying it. In short, if my discount code is valid from 24 Feb to 2 March '19, I can still manage to apply it on 14 Feb.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a discount code with a time frame
2. Go to the tickets
3. Apply Promocode
4. See error

**Expected behavior**

Any out of

[2019-02-14 05:01] mrsaicharan1 opened #2195 "Unregistered users should be given an appropriate error during login"
**Describe the bug**
When we try to login with an unregistered email, it throws an error saying that the credentials are incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Login'
2. Put in a new email address and password
3. See error

**Expected behavior**

It should throw an error saying that there is no user registered like that.

[2019-02-14 09:14] uds5501 commented on #2195
@mrsaicharan1 Is it up for grabs or are you working on this?

[2019-02-14 09:33] mrsaicharan1 commented on #2195
I'm working on this :)

On Thu, 14 Feb 2019 at 2:44 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-02-14 20:18] uds5501 opened #2197 "Editing discount code not possible"
**Describe the bug**

The edit discount code page is not loading properly

**Expected behavior**

It should load normally like the create discount page

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/52815087-baaa7500-30c3-11e9-9f98-c8c2b50250c5.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu
 - Browser [e.g. chrome, safari] Chr

[2019-02-14 20:23] uds5501 commented on #2197
Error Trace :
![screenshot from 2019-02-15 01-49-23](https://user-images.githubusercontent.com/21087061/52815232-27257400-30c4-11e9-9ca2-61e1d4ee3d67.png)

[2019-02-15 05:13] neel1998 commented on #2197
I world like to contribute...But i am new to open source....Can someone guide ?

[2019-02-15 06:11] #2197 closed

[2019-02-15 06:11] CosmicCoder96 commented on #2197
It was caused by your PR #2102

[2019-02-15 06:13] CosmicCoder96 commented on #2194
Can you also open an issue on the server for this, the server should deny it too.

[2019-02-15 06:22] uds5501 commented on #2194
@CosmicCoder96 Doing so

[2019-02-15 06:32] uds5501 commented on #2194
Closing this in favor of fossasia/open-event-server#5611

[2019-02-15 06:32] #2194 closed

[2019-02-15 14:14] jaynilshah commented on #1829
@mariobehling  @CosmicCoder96
The problem seems with the moment library
![screenshot from 2019-02-15 19-29-38](https://user-images.githubusercontent.com/36128751/52861910-dd876880-3159-11e9-9aed-91cbbada26fe.png)
Also Singapore appears twice in the dropdown list.
Can some temporary function be created to solve this until moment library is updated?
![screenshot from 2019-02-15 19-29-55](https://use

[2019-02-15 20:18] fliptrail commented on #2171
@imrrahul Are you still on it or can I take over?

[2019-02-16 10:55] imrrahul commented on #2171
@fliptrail yes I am working on it ....

[2019-02-17 14:13] uds5501 opened #2200 "User Register minimum pass length updated to 8"
**Describe the bug**

Following the changes in API, the frontend should show an error whenever a user registers with a password of length < 8

**Expected behavior**

The front-end should display appropriate pop-up error whenever the password length is less than 8

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] All
 - Browser [e.g. chrome, safari] All
 - Version [e.g. 22

[2019-02-17 17:12] uds5501 commented on #2200
@niranjan94 @CosmicCoder96
Please review

[2019-02-17 18:53] shreyanshdwivedi commented on #2047
@CosmicCoder96  When someone orders a ticket and keeps `Enable Billing` unchecked it shouldn't display on the `Completed Order` page

![screenshot_2019-02-18 completed order -9ef780d3-b26d-4b16-bbf0-af5d71eaada8 orders open event](https://user-images.githubusercontent.com/25428397/52917592-5bdb3a80-3313-11e9-914f-4517033b60ea.png)

`Billing Info` must be hidden in this case. I think this involves

[2019-02-17 19:01] uds5501 commented on #2047
@shreyanshdwivedi if we could use the backend in this, that'd be a great help. Even I need this enable billing information in the redesigning of the order pages.
ATM, it is just a component property, which I can't manipulate from another form. It would be lovely if it were a more accessible attribute.

[2019-02-17 19:08] shreyanshdwivedi commented on #2047
Ah, I found out the comment in which @CosmicCoder96 already mentioned this issue. https://github.com/fossasia/open-event-frontend/pull/2182#pullrequestreview-201943077

@CosmicCoder96 can I proceed by adding `isBillingEnabled` to the backend?

[2019-02-17 19:30] Anupam-dagar opened #2203 "Not able to enable "Donations" in admin settings."
**Describe the bug**

When trying to enable `Donations` present in `modules` of `admin` settings, `An unexpected error has occurred. Settings not saved.` error occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/admin/modules/`
2. Enable `Donations`
3. Click on `save`
4. See error

**Expected behavior**

Donations should be enabled.

**Screenshots**

![ezgif com-video-to-gif 1](h

[2019-02-18 02:38] #2022 closed

[2019-02-18 02:39] #2200 closed

[2019-02-18 06:27] ritikamotwani commented on #2173
I would like to work on this.

[2019-02-18 06:50] Anupam-dagar opened #2204 "Show a default image when sponsor logo isn't uploaded by the user."
**Describe the bug**

Currently if the sponsor logo isn't provided by the user then the broken image sign appears. A default image should be displayed in that case. Another alternative is too make the logo field in sponsor a required field.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sponsors while editing an event.
2. Add a sponsor without adding its logo.
3. Visit the event page

[2019-02-18 06:50] Anupam-dagar commented on #2204
@CosmicCoder96 I guess making the logo image field required field will be much better solution for this one.

[2019-02-18 07:29] Anupam-dagar commented on #2142
@CosmicCoder96 this is happening with me even for a verified user. Also a loader comes up on the form which doesn't go away unless refreshed.

[2019-02-18 07:31] shubham3211 commented on #2173
@ritikamotwani go ahead.

[2019-02-18 13:38] uds5501 opened #2205 "New User's event order form non costumizable"
**Describe the bug**

Currently, the order form is not showing any costumizability whenever we follow the path of
- First Logout of the session
- Click on Create Event
- Register a new user
- Make a dummy event and publish it with tickets
- Go to Event | Tickets  | Order Form

**Expected behavior**

The Order form options should be shown normally

**Screenshots**

![image](https://user-images.gith

[2019-02-18 13:40] uds5501 commented on #2205
In addition to that, this is the behaviour being shown whenever creating a new order.
![image](https://user-images.githubusercontent.com/21087061/52954674-c9897400-33b0-11e9-8243-a4c34fd5a780.png)

[2019-02-18 13:43] uds5501 commented on #2203
@Anupam-dagar This is a server side error, and is related to `PATCH` request failure. @mrsaicharan1 has already opened an issue regarding the same in the server repository (see fossasia/open-event-server#5618 )

[2019-02-18 17:20] Anupam-dagar commented on #2203
Thanks for the information @uds5501 :+1:

[2019-02-18 17:20] #2203 closed

[2019-02-18 18:30] shreyanshdwivedi opened #2206 "Completed Order: Billing info is visible even when the Enable Billing checkbox is unchecked"
**Describe the bug**

When someone orders a ticket and keeps `Enable Billing` unchecked it shouldn't display on the `Completed Order` page. `Billing Info` must be hidden in this case
An attribute `isBillingEnabled` is added to the orders object here - https://github.com/fossasia/open-event-server/pull/5620

**To Reproduce**
Steps to reproduce the behavior:
1. Order a ticket with `Enabled Billing`

[2019-02-19 06:44] uds5501 commented on #2205
It's actually a server error (refer to the given stack trace)

[code]

[2019-02-19 11:49] Anupam-dagar opened #2209 "Manage events page not responsive."
**Describe the bug**

The table present in manage events is not responsive
**To Reproduce**
Steps to reproduce the behavior:
1. Go to `events/live`
2. Switch to responsive mode in browser.
3. See error

**Expected behavior**

The table should be responsive so that mobile users can also see it clearly.
**Screenshots**

![screenshot from 2019-02-19 17-16-24](https://user-images.githubusercontent.com

[2019-02-20 09:11] JaiParakh commented on #2171
@imrrahul can i solve this or u are still on it?

[2019-02-20 12:36] CosmicCoder96 commented on #2142
can you check the console to find out what the error might be?

[2019-02-20 12:45] Anupam-dagar commented on #2142
I would like to work on this issue

On Wed, 20 Feb 2019, 18:06 Abhinav Khare <notifications@github.com wrote:

[2019-02-20 13:02] Anupam-dagar commented on #2142
@CosmicCoder96 sure I'll take a look at the console once.

[2019-02-20 16:44] imrrahul commented on #2171
Go ahead!!

[2019-02-20 17:57] uds5501 commented on #2073
@CosmicCoder96 @mrsaicharan1
It doesn't show any dummy data anymore
![image](https://user-images.githubusercontent.com/21087061/53113197-05fed080-3567-11e9-8d64-09ec8d8aed48.png)

[2019-02-20 17:59] mrsaicharan1 commented on #2073
In which PR was it solved again?

On Wed, 20 Feb 2019 at 11:27 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-02-20 18:00] uds5501 commented on #2073
@mrsaicharan1 Probably one of the recent integrations by @YogeshSharma0201

[2019-02-20 18:36] uds5501 opened #2211 "private events are being listed on index"
**Describe the bug**

currently, the private events are being listed on the index page which should not be the case

**To Reproduce**
Steps to reproduce the behavior:
1. Create a private event
2. Publish it
3. Go to index page
4. See error

**Expected behavior**

Only public events should be shown

**Screenshots**

![being shown](https://user-images.githubusercontent.com/21087061/53115525-71976c80

[2019-02-20 18:43] uds5501 opened #2212 "every user is organizer for every event"
**Describe the bug**

Please refer to the screen shot given below

**Expected behavior**

Only the events whom the user is actually an organiser should be displayed

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/53115919-5bd67700-356d-11e9-9181-adbf6bf4eddf.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu
 - Browser [e.g. chrome

[2019-02-20 20:16] uds5501 commented on #2212
@iamareebjamal I think the problem lies in the fact that currently `organizer_events` relationship is having no validation checks as to whether the user is actually an organiser or not.

https://github.com/fossasia/open-event-server/blob/b7ffa627f94ccae389939e47840d605e610da257/app/api/schema/users.py#L151-L157

[code]
How should I proceed to make sure that the Relationship actually checks whether

[2019-02-21 00:40] greenkeeper[bot] opened #2214 "An in-range update of broccoli-persistent-filter is breaking the build 🚨"
## The devDependency [broccoli-persistent-filter](https://github.com/stefanpenner/broccoli-persistent-filter) was updated from `2.2.0` to `2.2.1`.

🚨 [View failing branch](https://github.com/fossasia/open-event-frontend/compare/development...fossasia:greenkeeper%2Fbroccoli-persistent-filter-2.2.1).

This version is **covered** by your **current version range** and after updating it in your project

[2019-02-21 02:53] #2211 closed

[2019-02-21 03:11] #2214 closed

[2019-02-21 13:24] uds5501 commented on #1936
@shreyanshdwivedi I think I have some time and a way to solve this, shall I give it another try if you have not invested much time in it?

[2019-02-21 16:05] divyam-goel opened #2215 "Create account gives unclear message for invalid email"
**Describe the bug**
While creating account if we enter an invalid email address then the message returned is: An unexpected error occurred. A more helpful message should be shown which helps user understand his/her mistake.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.../register'
2. Enter any invalid email address and hit Register
3. See error

**Expected behavior**
A more helpf

[2019-02-22 04:53] uds5501 opened #2216 "login to deleted users successful"
**Describe the bug**

I can easily login in any deleted user which should not be the case

**To Reproduce**
Steps to reproduce the behavior:
1. delete a user
2. try logging in it
3. See error

**Expected behavior**

it should throw an error whenever we try to login in any deleted user.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu 16.04
 - Brow

[2019-02-22 04:54] uds5501 opened #2217 "deleting Inactive Users assigning them roles automatically"
**Describe the bug**

Deleting Inactive Users assigning them roles automatically, please see the GIF for clarity

**Expected behavior**

No such roles should be assigned to any deleted user

**GIF**

![ezgif com-video-to-gif 5](https://user-images.githubusercontent.com/21087061/53220697-e57c6680-368b-11e9-9c07-1afb9d2450ff.gif)

**Desktop (please complete the following information):**
 - OS: [e.g.

[2019-02-22 04:56] uds5501 commented on #2216
An example for the same :

![ezgif com-video-to-gif 6](https://user-images.githubusercontent.com/21087061/53220762-33916a00-368c-11e9-9820-acb86b41bc8b.gif)

[2019-02-22 08:33] jaynilshah opened #2218 "Singapore appears twice in timezone"
**Describe the bug**

Singapore appears twice in timezone while creating event

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Create Event
2. Timezone

**Expected behavior**

Only once Singapore should appear

**Screenshots**

![screenshot from 2019-02-22 13-45-27](https://user-images.githubusercontent.com/36128751/53229522-6fd3c300-36aa-11e9-8d82-1cd1720198f9.png)

**Desktop (please

[2019-02-22 16:45] Anupam-dagar opened #2220 "Search in manage events page doesn't work."
**Describe the bug**

The search on manage events page doesn't work.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to `events/live`
2. Use the search bar.
3. See the behaviour

**Expected behavior**

The search bar should work.
**Screenshots**

![screenshot from 2019-02-22 22-13-03](https://user-images.githubusercontent.com/21174572/53257064-48531980-36ef-11e9-9542-6d442ee43710.png)

**A

[2019-02-22 16:58] Anupam-dagar opened #2221 "Can't add speakers details without website and twitter fields filled up."
**Describe the bug**

User can't add the speaker details without filling up website and twitter link even when it is optional field.
**To Reproduce**
Steps to reproduce the behavior:
1. Make twitter and website field optional.
2. Try submitting speaker details without filling up website and twitter field.
3. Click save.
4. See the error.

**Expected behavior**

User should be allowed to submit spe

[2019-02-22 17:02] Anupam-dagar commented on #2142
@CosmicCoder96  I confirmed the error, it's `PATCH` request error with the status code `403` for `Forbidden` request.
![screenshot from 2019-02-22 22-31-02](https://user-images.githubusercontent.com/21174572/53258061-b3055480-36f1-11e9-92cb-b3001122b752.png)

[2019-02-22 18:48] uds5501 commented on #1808
I am working on this issue

[2019-02-22 20:02] harsh-jindal opened #2222 "Fix Bugs in Edit Basic Details"
**Describe the bug**
1.Organiser name is not required if Add Organiser details is checked. This allows the user to save organiser description without organiser name.
2.Max number of tickets that can be purchased can be assigned a value 0 in ticketing section.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Overview'
2. Click on 'Basic Details'
3. Scroll down to 'Add organiser info and

[2019-02-22 20:53] harsh-jindal opened #2223 "Parse correct currency in tickets overview"
**Describe the bug**
Currency in tickets overview is not parsed correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Overview'
3. Scroll down to 'Tickets'
4. See error

**Expected behavior**

Parse correct currency in tickets overview
**Screenshots**

![screenshot 2019-02-23 at 2 22 54 am](https://user-images.githubusercontent.com/31013104/53270531-fbcd0580-3711-11e9-95f5-4b2bb98

[2019-02-22 20:56] harsh-jindal opened #2224 "Add Currency symbol in items total of Add Order section"
**Describe the bug**

NO Currency symbol in items total of Add Order section
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Tickets'
2. Click on 'Add order'
4. See error

**Expected behavior**

Currency symbol in items total of Add Order section
**Screenshots**

![screenshot 2019-02-23 at 2 25 38 am](https://user-images.githubusercontent.com/31013104/53270661-56fef800-3712-11e9-964e-9

[2019-02-23 04:28] #1808 closed

[2019-02-23 05:41] #2205 closed

[2019-02-23 12:50] uds5501 opened #2229 "admin/reports | notifications showing no name"
**Describe the bug**

Currently, in `For` section of Notifications in Reports section the name is not being shown for the users with no name and hence causing confusion

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin/Reports
2. Click on Notification Tab
3. See error

**Expected behavior**

If there is no name provided, it should show `No Name provided` and always show the email o

[2019-02-23 14:22] uds5501 opened #2231 "deleted event sale stats are being counted in Ticket Summary"
**Describe the bug**

Looking at Admin|sales by Events Ticket summary statistics, it is takingthe deleted events ticket sales into account which shouldn't be done

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin/Sales
2. Click on By Event
3. See error

**Expected behavior**

Only non deleted event stats should be taken into account

**Screenshots**

![image](https://user-images.gi

[2019-02-23 14:23] uds5501 commented on #2231
@CosmicCoder96 Could you please clarify if this is intended or not i.e. counting deleted event stats in `sales` column

[2019-02-24 01:44] #2216 closed

[2019-02-24 01:53] CosmicCoder96 commented on #2218
It's a standard list from the moment library, we don't want to manipulate or filter it.

[2019-02-24 01:53] #2218 closed

[2019-02-24 01:54] #1867 closed

[2019-02-24 01:58] CosmicCoder96 commented on #2231
I believe sales are sales, they should be there in the admin dashboard, even if the organizer decides to delete the event.

[2019-02-24 01:58] #2231 closed

[2019-02-24 04:38] jaynilshah commented on #2218
@CosmicCoder96 Both the Singapore shows the same timezone of SGT and that too +08 instead of SGT.
View this too #1829

[2019-02-24 06:16] uds5501 commented on #2231
@CosmicCoder96 Alright, understood

[2019-02-24 09:51] thanostx opened #2232 "Footer section recommendations"
**Is your feature request related to a problem? Please describe.**

No. There are mostly enhancements.

**Describe the solution you'd like**

Some of the content on footer is hardcoded on the templates and doesn't provide any context in a on-premise deployment. My proposals are:

1. Use `settings.appName` variable to replace "eventyay" text.
https://github.com/fossasia/open-event-frontend/blob/dev

[2019-02-24 09:52] shreyanshdwivedi commented on #2232
@thanostx can I work on this?

[2019-02-24 11:58] thanostx commented on #2232
@shreyanshdwivedi I'm not sure if I'm "authorized" to give you an approval.
But if you ask me, I didn't start working on it, so please feel free to take it.

I assume maintainers will have the last call if this enhancement worth a merge.

[2019-02-25 08:41] #2229 closed

[2019-02-25 18:08] Haider8 commented on #2209
@Anupam-dagar Can i try to fix this issue now

[2019-02-25 18:31] Anupam-dagar commented on #2209
Hey, I am in middle of fixing it. My exams came up. Please check another
issue, I would like to complete this one.

On Mon, 25 Feb 2019, 23:38 Haider Ali, <notifications@github.com> wrote:

[2019-02-26 00:43] kushthedude commented on #2215
I would like to take this issue. @divyam-goel

[2019-02-26 07:02] divyam-goel commented on #2215
Yeah, sure. Go ahead :)

[2019-02-26 07:52] #2222 closed

[2019-02-26 07:53] CosmicCoder96 commented on #2232
@thanostx Thanks for reporting this issue :)
@Anupam-dagar Please proceed.

[2019-02-26 07:57] shreyanshdwivedi commented on #2232
@CosmicCoder96 I guess u wanted to tag me 😅

[2019-02-26 08:23] CosmicCoder96 commented on #2232
yeah, sorry @shreyanshdwivedi go ahead :smile:

[2019-02-26 09:06] #2149 closed

[2019-02-27 23:53] kushthedude opened #2237 "Map API not working in create event and show event section."
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Event'
2. Click on 'Location'
3. Scroll down to 'Location characteristics'
4. Open JavaScript Console.
4. See error on the webpage and error description on console.

**Expected behaviour**
A clear pinpoint of location should be shown properly on the map in the right blank space

**Screenshots**
![](https://im.

[2019-02-27 23:56] kushthedude commented on #2237
@CosmicCoder96 Please review this issue.

[2019-02-28 00:01] kushthedude commented on #2184
@CosmicCoder96 @shreyanshdwivedi Can we consider LinkedIn Oauth as LinkedIn is the most authentic platform presently ?

[2019-02-28 02:44] #2209 closed

[2019-02-28 02:48] CosmicCoder96 commented on #2237
While following the steps for local installation, https://github.com/fossasia/open-event-frontend/blob/development/docs/installation/local.md#steps
.env.example is copied into .env
.env file has a placeholder variable for api key for google maps, it needs to be passed in order for the map to function.

[2019-02-28 02:48] #2237 closed

[2019-02-28 02:49] kushthedude commented on #2237
Thanks @CosmicCoder96

[2019-02-28 11:49] thanostx opened #2238 "Fields for username and password in mail settings could be optional"
**Is your feature request related to a problem? Please describe.**

At the moment frontend requires both username and password fields when setting up an email host. This is not always the case and varies among different deployments and mail server configurations.

One example is GNOME Open Event instance, https://events.gnome.org, where the underlying mail server doesn't require AUTH from the clie

[2019-03-01 04:43] shreyanshdwivedi commented on #2238
@thanostx if you are not working on this, I would like to work on it

[2019-03-01 07:56] uds5501 commented on #2221
@Anupam-dagar If you have not invested much time in it, shall I give it a try?

[2019-03-01 07:56] thanostx commented on #2238
No work from my side.

Feel free to take this.

[2019-03-01 08:03] Anupam-dagar commented on #2221
Sure

On Fri, 1 Mar 2019, 13:26 Uddeshya Singh, <notifications@github.com> wrote:

[2019-03-01 08:59] uds5501 commented on #2221
@Anupam-dagar I followed the GIF by a new user and the event creator and yet I cannot recreate this issue. Could you please point out anything important which should be kept in mind while recreating it?

[2019-03-01 10:15] greenkeeper[bot] opened #2239 "An in-range update of ember-cli is breaking the build 🚨"
## The devDependency [ember-cli](https://github.com/ember-cli/ember-cli) was updated from `3.8.0` to `3.8.1`.

🚨 [View failing branch](https://github.com/fossasia/open-event-frontend/compare/development...fossasia:greenkeeper%2Fember-cli-3.8.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-cli is a devDependency o

[2019-03-01 10:34] uds5501 opened #2240 "indicate required fields in session-speaker-step"
**Describe the bug**

ATM, there is no indication whether `micro location` field is required or not in the session-speaker-step of the wizard while it is a `nullable=False` field in the server and hence creating confusion over occurrence of `Field may not be null error`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Session-Speaker step
2. Try to save settings without microlocations
3

[2019-03-01 12:02] shubham3211 commented on #2173
@ritikamotwani If you have not invested much time on this issue, can I work on it.

[2019-03-01 16:27] Anupam-dagar commented on #2221
@uds5501 I used the default settings but the steps were done using admin user.

[2019-03-01 16:58] uds5501 commented on #2221
@Anupam-dagar Sorry but can't recreate this issue that way either. Try updating your server and see if it still persists

[2019-03-01 17:32] greenkeeper[bot] opened #2242 "An in-range update of object-to-formdata is breaking the build 🚨"
## The devDependency [object-to-formdata](https://github.com/therealparmesh/object-to-formdata) was updated from `1.6.3` to `1.6.4`.

🚨 [View failing branch](https://github.com/fossasia/open-event-frontend/compare/development...fossasia:greenkeeper%2Fobject-to-formdata-1.6.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-03-02 04:10] Anupam-dagar commented on #2238
Hey @shreyanshdwivedi, if you are not working on it then I would like to work on it, I got the fix for it in the codebase.

[2019-03-02 04:11] shreyanshdwivedi commented on #2238
@Anupam-dagar yeah sure. Please proceed. I'm a bit busy in a hackathon :+1:

[2019-03-02 04:12] Anupam-dagar commented on #2238
@shreyanshdwivedi Thanks :smile: All the best for your hackathon. :tada:

[2019-03-02 07:36] Parth910 commented on #2232
@shreyanshdwivedi, if you are not working on it then I would like to work on it. Are you working on this?

[2019-03-02 07:57] shreyanshdwivedi commented on #2232
@Parth910 I've already made changes on my local. Fixing a few things. I'll open a PR soon

[2019-03-02 08:37] kushthedude opened #2244 "Make 'Enter Location' Dropdown instead of textbox."
**Is your feature request related to a problem? Please describe.**

On the index page,Enter location menu is a textbox.
My idea is if we make a dropdown of countries.

**Describe the solution you'd like**

Make a dropdown of countries instead of textbox where we need to type the name.

**Additional context**

<img width="1440" alt="screenshot 2019-03-02 at 2 01 03 pm" src="https://user-images.gith

[2019-03-02 08:38] kushthedude commented on #2244
@CosmicCoder96 Can you please review this enhancement?

[2019-03-02 09:27] Anupam-dagar commented on #2215
@kushthedude since there was no WIP PR opened, I took a look at this issue and opened a PR for the same.

[2019-03-02 09:43] Anupam-dagar opened #2246 "Change default frontend url in the Mail Settings."
**Describe the bug**

The current frontend url in mail settings default to `eventyay.com`, it will be better to default it to hostname of the current hosted instance.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/admin/settings`
2. Scroll down to mail settings
3. See error

**Expected behavior**

It should default to current hostname.
**Screenshots**

![screenshot from 2019-03-02 1

[2019-03-02 09:51] kushthedude commented on #2215
@Anupam-dagar No problem was a bit busy due to college fest

[2019-03-02 11:06] Anupam-dagar commented on #2244
@kushthedude there is already an autocomplete for that field. You need to setup google maps api key.

[2019-03-02 11:07] Anupam-dagar commented on #2192
@ritikamotwani can I work on this issue?

[2019-03-02 11:15] kushthedude commented on #2244
Oops closing the issue.

[2019-03-02 11:15] #2244 closed

[2019-03-02 11:26] kushthedude opened #2247 "Unresponsive search bar on HomePage"
**Describe the bug**

When we shrink the screen size other filter attributes of the bar disappears but 'Clear Filter' button is still there.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://127.0.0.1:4200/'
2. Try to change the size of browser window
3. See error

**Expected behavior**

-When the screen size gets small,The clear filter button should also get disables.
-Add Other

[2019-03-02 11:27] kushthedude commented on #2247
@CosmicCoder96 If this is a valid issue,I would like to proceed.

[2019-03-02 15:14] kushthedude commented on #2172
@shreyanshdwivedi Did your PR solve this issue?

[2019-03-02 15:16] shreyanshdwivedi commented on #2172
@kushthedude yep, it works fine for me. Though the mentors suggested few changes on PR and I was unable to incorporate them. Waiting for their reply. Let me tag them once more

[2019-03-02 15:18] kushthedude commented on #2172
@shreyanshdwivedi Cool.

[2019-03-02 17:10] kushthedude opened #2248 "Add TimeZone in 'Create an Event' on GMT basis"
**Is your feature request related to a problem? Please describe.**
-When you create an event , TimeZones of different country are on alphabatical basis.
-It would be better if they are based on GMT,As every individual could search for particular timezone.
-Rather than searching for which city or his country has been included in the dropdown.

**Describe the solution you'd like**
-TimeZones should

[2019-03-02 17:10] kushthedude commented on #2248
@Anupam-dagar ,
Can you please let me know if this is a valid enhancement or not.

[2019-03-02 17:51] Anupam-dagar commented on #2248
CC: @CosmicCoder96

[2019-03-02 17:53] kushthedude commented on #2248
Oops😅, my mistake.

[2019-03-02 22:28] greenkeeper[bot] opened #2249 "An in-range update of ember-drag-drop is breaking the build 🚨"
## The devDependency [ember-drag-drop](https://github.com/mharris717/ember-drag-drop) was updated from `0.6.2` to `0.6.3`.

🚨 [View failing branch](https://github.com/fossasia/open-event-frontend/compare/development...fossasia:greenkeeper%2Fember-drag-drop-0.6.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-drag-

[2019-03-03 00:55] greenkeeper[bot] opened #2250 "An in-range update of broccoli-persistent-filter is breaking the build 🚨"
## The devDependency [broccoli-persistent-filter](https://github.com/stefanpenner/broccoli-persistent-filter) was updated from `2.2.1` to `2.2.2`.

🚨 [View failing branch](https://github.com/fossasia/open-event-frontend/compare/development...fossasia:greenkeeper%2Fbroccoli-persistent-filter-2.2.2).

This version is **covered** by your **current version range** and after updating it in your project

[2019-03-03 05:51] kushthedude commented on #1829
@CosmicCoder96 Is this issue still open?

[2019-03-03 06:01] kushthedude commented on #1818
@shubham3211 Are you still on it?

[2019-03-03 06:10] shubham3211 commented on #1818
@kushthedude go ahead :+1:

[2019-03-03 06:17] kushthedude commented on #1818
Can you please tell me how to reproduce the error as i am unable to do it. @shubham3211
<img width="963" alt="screenshot 2019-03-03 at 11 45 52 am" src="https://user-images.githubusercontent.com/44091822/53691733-16564d00-3daa-11e9-8f7e-707dfb6f1a38.png">

[2019-03-03 07:47] kushthedude commented on #2246
@Anupam-dagar Can i claim this if you have not done significant amount of work for this issue ?

[2019-03-03 07:48] Anupam-dagar commented on #2246
@kushthedude I am in middle of fixing it. Please claim other issue.

[2019-03-03 08:36] kushthedude commented on #2246
Sure no problem

On Sun, Mar 3, 2019 at 1:18 PM Anupam Dagar <notifications@github.com>
wrote:

[2019-03-03 13:06] kushthedude commented on #2077
@shreyanshdwivedi Can i reclaim it?

[2019-03-03 13:37] shreyanshdwivedi commented on #2077
@kushthedude sure. Go ahead

[2019-03-03 18:58] Haider8 commented on #1902
@CosmicCoder96 I would like to work on this issue

[2019-03-03 19:17] Haider8 commented on #1902
I cannot reproduce this issue, can you please tell if it still exists

[2019-03-03 19:20] Haider8 commented on #1803
@CosmicCoder96 i can't find the storage settings in admin panel, can you please confirm this issue if it is still valid

[2019-03-04 02:18] CosmicCoder96 commented on #2247
This behavior was intentional afaik, also not a priority right now.

[2019-03-04 02:18] #2247 closed

[2019-03-04 02:19] CosmicCoder96 commented on #2248
yeah go ahead.

[2019-03-04 02:34] #2204 closed

[2019-03-04 02:36] #2249 closed

[2019-03-04 02:36] #2250 closed

[2019-03-04 03:08] shubham3211 opened #2252 "Remove saved events column from user tickets page"
**Describe the bug**
Saved events column is there on  user tickets page.

**To Reproduce**
Follow the gif
![savedevents](https://user-images.githubusercontent.com/19900978/53708251-9e932b80-3e58-11e9-8702-5548008aef61.gif)

**Expected behavior**
Saved events column should not be there on  user tickets page.

**Additional context**
I am working on this.

[2019-03-04 04:00] kushthedude commented on #2247
Cool , no problem

On Mon, 4 Mar 2019 at 7:48 AM, Abhinav Khare <notifications@github.com>
wrote:

[2019-03-04 07:20] kushthedude commented on #1818
@shubham3211 ??

[2019-03-04 08:12] shubham3211 commented on #1818
I think the issue has been resolved.

[2019-03-04 08:41] kushthedude commented on #1818
@CosmicCoder96 Can you close the issue as we are not able to reproduce it.

[2019-03-04 08:55] #2240 closed

[2019-03-04 08:55] #2238 closed

[2019-03-04 09:00] kushthedude commented on #2223
@CosmicCoder96 Is this issue still open as the PR referenced to it has been closed without getting merger?

[2019-03-04 09:04] #1818 closed

[2019-03-04 09:06] CosmicCoder96 commented on #2223
check the comments on the PR.

[2019-03-04 09:29] uds5501 opened #2253 "Implement sales amount standardisation"
**Is your feature request related to a problem? Please describe.**

In admin/sales section one can see every entry in the tables to have a default currency of 'US' dollar and when the event has a currency of something other than USD, it is simply using the amount without converting it into an appropriate equivalent of USD
examples :
![image](https://user-images.githubusercontent.com/21087061/53723

[2019-03-04 10:15] kushthedude commented on #2253
@uds5501 ,Isn't the issue #2225 and #2223 related to the same?

[2019-03-04 10:17] kushthedude commented on #2220
@Anupam-dagar Can you please tell exact steps to reproduce as on my machine the search bar is working correctly?

[2019-03-04 10:18] uds5501 commented on #2253
@kushthedude No. not at all. they are about currency parsing. I am talking about the fact that `INR 50` != `USD 50`.

[2019-03-04 10:19] kushthedude commented on #2253
@uds5501 Sorry for my misunderstanding 😄

[2019-03-04 10:25] kushthedude commented on #2246
@Anupam-dagar , Shouldn't this issue be moved to server side?

[2019-03-04 11:47] Anupam-dagar commented on #2246
@CosmicCoder96 is following the feasible approach:
1. Change default value of the frontend url field on the server to blank string.
2. in the frontend if the value is blank we fill it with the hostname value else the user can fill its own value.

[2019-03-04 13:36] Anupam-dagar opened #2254 "Implement search event by name in explore events."
**Is your feature request related to a problem? Please describe.**

Currently there is no option to search an event by name in event explorer at `/explore`, a user may require to search events by its name.

*Describe the solution you'd like**

Implement a search bar to search events by name.

## Screenshot
![screenshot from 2019-03-04 19-03-40](https://user-images.githubusercontent.com/21174572/53

[2019-03-04 19:42] #2027 closed

[2019-03-04 20:21] kushthedude commented on #2002
@CosmicCoder96 Can i make a try on this?

[2019-03-05 13:50] kushthedude commented on #2232
@shreyanshdwivedi Since there is no WIP Pr opened , Can i proceed with this?

[2019-03-06 04:32] shubham3211 opened #2257 "Tickets of a user are not visible properly"
**Describe the bug**
Tickets of upcoming and past events is not visible.
**To Reproduce**
Follow the gif.
![eventticket1](https://user-images.githubusercontent.com/19900978/53924528-6bdc7380-40a2-11e9-8e50-0f7248d84e5c.gif)

**Expected behavior**
Upcoming events and past events should show different results.

**Additional context**
I am working on it.

[2019-03-06 06:33] kushthedude opened #2259 "Deleted events stays in cache until refreshed"
**Describe the bug**

-Whenever you delete an event,A tooltip appears showing event is deleted.
-Event stays in cache until the page is refreshed.
**To Reproduce**
Steps to reproduce the behavior:

1.)Go to '/Events/Live'
2.)Try to delete an event.
3.)Refresh the page .
4.)See error

**Expected behavior**

When a event is deleted , The page should be refreshed to remove the event from the list.
**

[2019-03-06 13:37] uds5501 opened #2262 "bug : only scheduled sessions being shown in my-sessions"
**Describe the bug**

At the moment, only published events are being shown in my-sessions making it impossible for an user to access his/her other sessions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to My-sessions
2. See error
![image](https://user-images.githubusercontent.com/21087061/53884511-b974c400-4041-11e9-92fb-ccfa5e35640e.png)

**Expected behavior**

I am planning to add a

[2019-03-06 19:28] #2252 closed

[2019-03-07 01:43] shubham3211 opened #2265 "Date not visible properly on tickets/attendees , tickets/orders page"
**Describe the bug**
Date not visible properly on tickets/attendees , tickets/orders page

**Expected behavior**
If date is invalid it should not be visible

**Screenshots**
![attendedate](https://user-images.githubusercontent.com/19900978/53926126-5702de80-40a8-11e9-966c-c1e82461f2ac.png)
![ordersata](https://user-images.githubusercontent.com/19900978/53926136-5ec28300-40a8-11e9-8bbf-d5c641738ec4

[2019-03-07 02:34] CosmicCoder96 commented on #2265
not a date issue per se happens only on local environment because no actual payment is made, else works fine.

[2019-03-07 02:34] #2265 closed

[2019-03-07 07:39] #2192 closed

[2019-03-07 08:02] CosmicCoder96 commented on #2262
okay what is _published_ sessions? Sessions are either accepted or rejected and can only be submitted to an event which is published?

[2019-03-07 08:03] #2257 closed

[2019-03-07 08:10] uds5501 commented on #2262
@CosmicCoder96 My bad, published was a wrong choice of word. I meant to talk about *Scheduled* sessions (The ones which have been scheduled by the organizer)

[2019-03-07 08:11] CosmicCoder96 commented on #2262
@uds5501 okay, please go ahead to fix that then.

[2019-03-07 08:14] uds5501 commented on #2262
@CosmicCoder96 Okay, I shall re-open a PR within a few minutes

[2019-03-07 09:31] kushthedude commented on #2171
@JaiParakh Can i overtake?

[2019-03-07 11:38] Anupam-dagar opened #2267 "Improve the UI for Submit Proposal Modal."
**Describe the bug**

Currently if a user has submitted more than 1 session than the sessions are shown as such without any list and are too close to the buttons. It will be better if we can use an ordered list for the sessions of the user and some margin from the buttons.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an open `call for speakers`
2. Submit more than 1 session via subm

[2019-03-07 11:41] Anupam-dagar commented on #2267
@CosmicCoder96 I propose that maybe we shouldn't show `existing sessions` in case when there are no sessions submitted by the user by which we can reduce the modal size. Also we can shift the `edit speakers` and `add session details` button infront `submit proposal` text.

[2019-03-07 12:58] prateekj117 opened #2268 "API Integration of Instagram O-Auth"
The feature is implemented on the server side, integrating the OAuth on frontend side would help in proper testing of the feature.

**Additional context**
Working on it.

[2019-03-07 13:47] shubham3211 opened #2270 "User events are not visible"
**Describe the bug**
User events are not visible

**To Reproduce**
![userevents](https://user-images.githubusercontent.com/19900978/53960876-5cdedb00-410d-11e9-8524-164721ccab74.gif)

**Expected behavior**
The events should be visible

**Additional context**
I am working on it

[2019-03-07 13:49] shubham3211 commented on #2270
Can someone tell if this is a valid issue ? Even if the events are visible live, draft, past won't work as there is no filter https://github.com/fossasia/open-event-frontend/blob/development/app/routes/admin/users/view/events/list.js

[2019-03-07 14:24] JaiParakh commented on #2171
Yeah, go ahead.

[2019-03-08 08:52] Anupam-dagar opened #2275 "Add spacing between buttons and tickets in create event page."
**Describe the bug**

Currently the buttons are sticked with tickets box, the UI will be better if we can add a little space after the ticket box.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/create`
2. Scroll down to `tickets`
3. See error

**Expected behavior**

There should be a space after tickets box and buttons.
**Screenshots**

![screenshot from 2019-03-08 14-21-29](https:/

[2019-03-08 09:40] CosmicCoder96 commented on #2275
Was a design choice, see discussion here:
https://github.com/fossasia/open-event-frontend/pull/756

[2019-03-08 09:40] #2275 closed

[2019-03-09 18:20] Haider8 commented on #2108
@harsh-jindal can i try to fix this issue now ?

[2019-03-09 19:07] YogeshSharma0201 opened #2278 "Add an edit button in /events route"
**Is your feature request related to a problem? Please describe.**
There should be an 'edit' button alongside 'delete' button

![Screenshot_20190310_003713](https://user-images.githubusercontent.com/21025052/54076043-ac1f3a00-42cc-11e9-94f6-8047676b9bb9.png)

[2019-03-09 19:37] YogeshSharma0201 opened #2279 "Deleting event tickets gives error."
**Describe the bug**
When a user deletes a ticket while editing event, deletedRecord() is used to delete a record but .save() is not called immediately, then when event is saved or publised, event data is saved which tries to set maxOrder  of the tickets. Which leads to this error:

![Screenshot_20190310_010249](https://user-images.githubusercontent.com/21025052/54076349-ceb35200-42d0-11e9-94f1-08

[2019-03-10 09:32] prateekj117 opened #2281 "CSP violation error while using API hosted on heroku"
**Additional context**
Working on it.

[2019-03-10 11:13] Parth910 opened #2282 "No need of button(for mobile) "clear filters" because there is no filters in Mobile view"
**Screenshots**
![bug](https://user-images.githubusercontent.com/31615065/54084182-97d25000-4353-11e9-9952-82314f572ee9.png)

**Additional context**
I am working on this.

[2019-03-10 12:22] kushthedude commented on #2282
@Parth910 this is same as #2247  and its not the priority take some high priority issue right now

[2019-03-10 12:37] Parth910 commented on #2282
ok

[2019-03-10 12:37] #2282 closed

[2019-03-10 12:38] kushthedude commented on #2282
You can close the issue

On Sun, 10 Mar 2019 at 6:07 PM, Parth Patel <notifications@github.com>
wrote:

[2019-03-10 16:20] souka1 opened #2284 "Translating the website to french doesn't work"
**Describe the bug**
translating the website to french doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to bottom of the page
2. Click on "english"  button
3. choose french
4. the page wouldn't be translated to french

[2019-03-10 16:49] #2281 closed

[2019-03-10 16:54] CosmicCoder96 commented on #2284
Please see discussion here : https://github.com/fossasia/open-event-frontend/issues/2165

[2019-03-10 16:54] #2284 closed

[2019-03-10 16:55] CosmicCoder96 commented on #2278
There is already an events overview tab available on this page, using which any step of the edit wizard can be reached. Not required.

[2019-03-10 16:55] #2278 closed

[2019-03-10 16:57] CosmicCoder96 commented on #2270
Yes, go ahead and add them.

[2019-03-10 17:29] souka1 commented on #2284
it doesn't work even when it's in the production mode.

[2019-03-10 22:43] uds5501 opened #2285 "Continuous loading of action button in notifications"
**Describe the bug**

The notification's action button is continuously loading when being invited as a co-organiser which shouldn't happen.

**Expected behavior**

It should result in a simple button which routes to acceptance page.

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/54092568-946eb100-43b3-11e9-9861-16623aa80a11.png)

**Desktop (please complete the follow

[2019-03-10 23:05] uds5501 opened #2286 ""With Email" option hidden for first sessions"
**Describe the bug**

The "With Email" option is hiding under the table (it's the best way I can describe it, seriously)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Event/Sessions
2. Click on Accept option of first session
3. See error

**Expected behavior**

It should not hide but instead overlap the search-bar

**Screenshots**

![image](https://user-images.githubusercontent.com/2

[2019-03-10 23:09] uds5501 opened #2287 "Super Admin is unverified user"
**Describe the bug**

Admin/Users shows the super admin to be unverified

**Expected behavior**

It should simply be verified!

![image](https://user-images.githubusercontent.com/21087061/54092850-4eb3e780-43b7-11e9-968d-d94040fe563b.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu 16.04 LTS
 - Browser [e.g. chrome, safari] Chrome

**Additional context**

Loo

[2019-03-11 07:51] #2262 closed

[2019-03-11 07:52] #2279 closed

[2019-03-11 07:52] #2267 closed

[2019-03-11 08:08] CosmicCoder96 commented on #2259
@uds5501 can you reproduce this issue?

[2019-03-11 08:15] kushthedude commented on #2232
@shreyanshdwivedi ??

[2019-03-11 08:16] uds5501 commented on #2259
@CosmicCoder96 Nope, it's working fine for me

[2019-03-11 08:18] kushthedude commented on #2259
No issues i will close it and will see into my machine for error.

[2019-03-11 08:18] #2259 closed

[2019-03-11 08:19] uds5501 commented on #2285
@CosmicCoder96 I had a little doubt here and was hoping that you could guide me, In the notification/all.hbs, if I try to print `notification.notificationActions` it's giving me `<DS.PromiseManyArray:ember1262>` of which, i can't access any attribute.
Any idea how to tackle this?

[2019-03-11 08:19] kushthedude commented on #2286
Working on it

[2019-03-11 08:45] uds5501 commented on #2285
@CosmicCoder96 I tried to remove the asynchronous behaviour of loading of model at the `notification/all` route but that didn't help either

[2019-03-11 11:45] Anupam-dagar opened #2288 "Inconsistent time in scheduler."
**Describe the bug**

Inconsistency in time shown in scheduler.
The time of session to be scheduled shows the time in 12 hrs format (without AM or PM) while the time for schedule is listed in 24 hrs format.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `events/<event_num>/scheduler`
2. Add a session to scheduler.
3. See error

**Expected behavior**

Both times should be consistent in

[2019-03-11 11:46] Anupam-dagar commented on #2288
@CosmicCoder96 I wasn't able to publish the schedule also, the following error was shown as a notification
`Error: Error: Ember Data Request PATCH http://127.0.0.1:5000/v1/events/92063d3b returned a 404 Payload (Empty Content-Type) [object Object]`

[2019-03-11 14:27] uds5501 opened #2290 "Admin/Users | Sessions not listing unscheduled sessions"
**Describe the bug**

Similar to #2262 , the upcoming sessions should list the unscheduled sessions too

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin/Users
2. Click on Sessions of any user
3. See error

**Expected behavior**

The upcoming sessions tabs should be showing the unscheduled sessions too.

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/5

[2019-03-12 02:35] #2270 closed

[2019-03-12 13:04] uds5501 commented on #2246
@Anupam-dagar If there is no default frontend url , the email function would break. Also, changing it to `localhost:4200` is not possible because the field validators won't allow it.

[2019-03-12 18:30] uds5501 commented on #1829
@CosmicCoder96 @mariobehling this should not be a valid issue because looking into `momen-js/timezone` code, this is a correct abbreviation.

https://github.com/moment/moment-timezone/blob/d0bcdcad01acece5df6988603e8cec146d78bd12/data/packed/2018g.json#L223-L228

[2019-03-12 18:44] kushthedude commented on #1829
@uds5501 but what if we make change to moment.js for our requirements

[2019-03-12 18:46] uds5501 commented on #1829
@kushthedude read this

https://github.com/fossasia/open-event-frontend/issues/2218#issuecomment-466725575

[2019-03-12 18:54] uds5501 opened #2293 "View action linking sessions to edit route"
**Describe the bug**

View action on manage-event link is showing edit session dialogue instead of the view dialogue
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Manage Events
2. Click on View Button
3. See error

**Expected behavior**

It should show the session details instead of this behaviour

**Screenshots**

![ezgif com-video-to-gif (8)](https://user-images.githubusercontent.co

[2019-03-13 09:00] uds5501 commented on #2220
@Anupam-dagar Since this issue had not been worked on for more than 2 weeks now, can I please takeover?

[2019-03-13 14:50] harsh-jindal commented on #2248
@kushthedude Can I work on it?

[2019-03-13 16:13] kushthedude commented on #2248
@harsh-jindal i have already solved the issue there is some build error i will open WIP after my midsem

[2019-03-14 02:56] prateekj117 opened #2296 "Credentials were incorrect error message"
**Is your feature request related to a problem? Please describe.**
Error message always shows credentials were incorrect no matter how many times the user enters an incorrect password.

**Describe the solution you'd like**
If the user enters an incorrect password multiple times, "Forget your password" should get highlighted.

**Additional context**
Working on it.

[2019-03-14 02:59] prateekj117 opened #2297 "Error message when clicking verification link"
**Describe the bug**
When a user clicks the verification link, error message highlights for a couple of seconds when the page loads and success message overrides it after the loading completes, which can be confusing.

**Expected behavior**
The message displayed should be correct the first time.

**Additional context**
Working on it

[2019-03-14 03:05] prateekj117 opened #2298 "Facebook Login doesn't work"
**Describe the bug**
Facebook is implemented using Torii which is not integrating properly with the backend.

**Expected behavior**
Integrate Facebook login with frontend properly and delete the repeated functionalities.

**Additional context**
Working on it.

[2019-03-14 03:34] iamareebjamal commented on #2195
No, it's by design. We should not make it easy for hackers by letting them know about the database and make their brute force attack efficient.

[2019-03-14 03:34] iamareebjamal commented on #2195
Read OWASP guidelines on how to display authentication errors

[2019-03-14 03:37] #2195 closed

[2019-03-14 21:15] Haider8 opened #2299 "Remove Google + from 'Share this event' dialog"
**Describe the bug**

Google plus is shutting down in April 2019 and it is no longer available.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Index --> Upcoming events'
2. Click on 'Share event icon' at the bottom of the event card.
3. Then click on 'google plus icon' to share event
4. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/43299408/54391891-3d

[2019-03-15 11:37] harsh-jindal opened #2301 "Fix bug in start and end date in session and speakers"
**Describe the bug**

Currently a user can choose the start/end date to be before the current date.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Event'
2. Click on 'Session & Speakers'
3. Scroll down to 'Call for speakers'
4. See error

**Expected behavior**

User should not be able to select the start/end date before the current date.
**Screenshots**

![Screenshot 2019-03-15

[2019-03-15 11:47] harsh-jindal opened #2302 "Event Type,Event Topic,Event subtopic, License cannot be made null once set"
**Describe the bug**

Event Type,Event Topic,Event subtopic, License cannot be made null once set
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Basic Details'
3. Scroll down to 'Event topic'
4. See error

**Expected behavior**

There should be an option "none" which sets these fields to null.
**Screenshots**

![Screenshot 2019-03-15 at 6 43 09 PM](https://user-images.githubuserconten

[2019-03-15 13:40] Haider8 opened #2303 "'Confirm delete' button overlaps with the form on User Profile"
**Describe the bug**

On some screens (around tablet size) 'confirm delete' button on the user profile form overlaps with the form which should not happen

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'user profile page'
2. Set the width around the size of tablet
3. See error

**Screenshots**

![button-overlaps](https://user-images.githubusercontent.com/43299408/54435046-9a6ae600-475

[2019-03-16 08:35] uds5501 commented on #2299
@Haider8 It's working perfectly fine for me
![image](https://user-images.githubusercontent.com/21087061/54472783-86c28c80-47f4-11e9-86fa-b97d5e1909db.png)

[2019-03-16 09:09] Haider8 commented on #2299
@uds5501 Yes because you already have an account there. But since google plus will shut down on April 2, i don't think it is needed in 'share event'. What are your thoughts ?

[2019-03-16 09:13] uds5501 commented on #2299
@Haider8 In that case, do remove this option :)

[2019-03-16 09:21] uds5501 opened #2305 "No provision for organiser to restore session or speaker"
**Is your feature request related to a problem? Please describe.**

No. It's simply a feature request to enable restoration of session and speakers on both admin and organiser levels. Besides, an organizer should also be able to see his deleted sessions and speakers but there is no such tab for the same.

**Describe the solution you'd like**

I would like to implement it similar to event restorati

[2019-03-16 09:24] Haider8 opened #2311 "Cookie policy link on the landing page is broken"
**Describe the bug**

The cookie policy link (http://next.cookie-policy.eventyay.com) is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'landing page'.
2. Click on 'click here' link on the message shown at the top.
3. See error.

**Screenshots**
![cookie-policy-link](https://user-images.githubusercontent.com/43299408/54473266-5b8f6b80-47fb-11e9-9e88-e38a7e6587ee.png)
![broken-

[2019-03-16 09:46] ritikamotwani commented on #2305
No, this feature is not required. As per version1, the admin can restore only the users and events.

[2019-03-16 09:46] #2305 closed

[2019-03-16 11:07] uds5501 opened #2306 "Delete Session button opens delete event modal"
**Describe the bug**

Clicking on deleting a user's session open's delete event modal

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your session/edit
2. Click on Delete session
3. See error
![Screenshot from 2019-03-16 16-29-15](https://user-images.githubusercontent.com/21087061/54474302-52a59680-4809-11e9-87e4-f2feb661dbca.png)

**Expected behavior**

It should open a 'delete sessio

[2019-03-16 11:14] uds5501 commented on #2306
My bad. it was indeed delete event option for the organizer

[2019-03-18 02:24] #2220 closed

[2019-03-18 02:30] #2299 closed

[2019-03-18 02:32] #2290 closed

[2019-03-18 02:35] CosmicCoder96 commented on #2293
yeah this was more or less intentional. why would an event organizer see a session under my sessions if some third user created it?

[2019-03-18 02:35] #2293 closed

[2019-03-18 02:42] prateekj117 opened #2312 "Warning to verify Email"
**Describe the bug**
There should be a global warning after a user registers, if not global, there should be a message in the login form which comes after registering to verify the Email Id. For now, the email verification warning only shows in the user's profile. As unverified Users are not allowed to create an event, I think it should be global.

**Additional context**
Working on it.

[2019-03-18 02:43] prateekj117 commented on #2312
@CosmicCoder96 Your views on this?

[2019-03-18 03:51] vsvipul commented on #1774
@shreyanshdwivedi i would like to work on this if you are not anymore. May I?

[2019-03-18 09:25] Aakash-DD opened #2314 "when screen is reduced to mobile or tablet size"
**Describe the bug**

when screen width is decreased then top div (image) disappears

**Expected behaviour**

when screen width is decreased then top div (image) should not disappear

**Original behaviour**
![Screenshot from 2019-03-18 14-50-20](https://user-images.githubusercontent.com/33255535/54520002-ad67fb00-498d-11e9-9d23-8db0650751b8.png)

**Screenshots of issue**

![Screenshot from 2019-03

[2019-03-18 10:49] mohitm15 commented on #2303
I would like to take this issue
@Haider8

[2019-03-18 13:08] uds5501 commented on #2314
@Aakash-DD this is not an issue, this is deliberate . Kindly close this issue .

[2019-03-18 13:45] kushthedude commented on #2314
@Aakash-DD This issue is an enhancement which is not a priority now and has been deliberately done as stated by @uds5501 .

[2019-03-18 13:46] kushthedude commented on #2312
Global warning would look ugly on the webpage but still let the mentors decide.

[2019-03-18 13:51] prateekj117 commented on #2312
@kushthedude I think it's needed as unverified users are not allowed to create an event. Rather than telling them after entering one page of information, they should have a warning already.

[2019-03-18 14:52] shreyanshdwivedi commented on #2224
@harsh-jindal if you are not workin on this, I'll take it up.

[2019-03-18 16:52] shreyanshdwivedi commented on #1774
@vsvipul if you are able to fix it on your local and all the tests passes, feel free to open a PR.I'll close mine

[2019-03-18 17:47] shreyanshdwivedi opened #2316 "Discrepancies in Admin Sales"
**Describe the bug**

Currently there are a lot of bugs -
 - `By Event`, `Discounted Events` and `Fees` can have `paymentCurrency` of the events. Currently its hard-coded to `US $`.
 - In above mentioned tabs, `Total` doesn't make any sense as different events can have different currencies.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin'
2. Click on 'Sales'
3. See error

**Expe

[2019-03-18 18:27] shreyanshdwivedi opened #2318 "Admin Sales: Ticket Count in Fee Summary is wrong"
**Describe the bug**

Currently, the number of `Tickets` shown in `Fees` is wrong. It shows the amount of sales made by `Completed`, `Pending` and `Expired` tickets.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin'
2. Click on 'Sales'
3. Scroll down to 'Fees'
4. See error

**Expected behavior**

The column should have number of tickets sold.

**Screenshots**

![Screenshot_2019-0

[2019-03-18 18:28] shreyanshdwivedi commented on #2318
@CosmicCoder96 can you please check if this issue is relevant or not.
If `Tickets` is meant to show this info only, it should be renamed to `Ticket Sales`

[2019-03-18 18:52] shreyanshdwivedi commented on #2108
@harsh-jindal any update?

[2019-03-18 19:08] Haider8 commented on #2108
@shreyanshdwivedi can i work on this now?

[2019-03-19 02:12] harsh-jindal commented on #2108
@shreyanshdwivedi @Haider8 The issue is to add delay property for popup on click which is not possible in semantic ui. Other than that issue is fixed. I have already made a PR for it.

[2019-03-19 02:15] harsh-jindal commented on #2224
@shreyanshdwivedi You can take this up.

[2019-03-19 02:44] CosmicCoder96 commented on #2316
@shreyanshdwivedi great catch. Remove the totals row from the frontend for now (only comment it) and open an issue on the server.

[2019-03-19 02:47] harsh-jindal opened #2319 "Fix Bug in Admin Event Date and Status"
**Describe the bug**

Currently there are two separate columns for start date and end date. Also there is no badge in status.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin'
2. Click on 'Event'
4. See error

**Expected behavior**

Start and End Date should be clubbed under Date. We could have green, red and yellow badges for live, deleted and draft.
**Screenshots**

![Screenshot

[2019-03-19 02:57] ritikamotwani commented on #2319
@harsh-jindal , how is this a bug? It's an intended feature, which would help to sort events on the basis of start dates as well as the end dates.

[2019-03-19 02:57] #2319 closed

[2019-03-19 03:00] ritikamotwani commented on #2314
@Aakash-DD , this is not an issue.

[2019-03-19 03:00] #2314 closed

[2019-03-19 03:02] harsh-jindal commented on #2319
@ritikamotwani I was thinking on making it similar to how it is in Manage events.

[2019-03-19 03:03] ritikamotwani commented on #2306
@uds5501 , that is the delete event button. It's not for the session. Why would there be a button to delete the session while you're editing it.
The delete session button is the the sessions table.

[2019-03-19 03:03] #2306 closed

[2019-03-19 03:08] #2242 closed

[2019-03-19 03:08] #2215 closed

[2019-03-19 03:12] ritikamotwani commented on #2319
@harsh-jindal , no it shouldn't be like manage events.
Please check version1

[2019-03-19 03:17] harsh-jindal commented on #2319
@ritikamotwani Okay.

[2019-03-19 03:25] ritikamotwani commented on #2254
@Anupam-dagar , the search event by name is not required in the explore route(Check v1).
But you can work on implementing the search bar for events https://github.com/fossasia/open-event-frontend/issues/1322
![image](https://user-images.githubusercontent.com/22127980/54578172-a8608580-4a39-11e9-97bd-8c96f148c31e.png)

[2019-03-19 03:25] #2254 closed

[2019-03-19 03:50] ritikamotwani commented on #2286
Can't reproduce the issue.
![image](https://user-images.githubusercontent.com/22127980/54579148-21ada780-4a3d-11e9-9f92-56e3b3569bd7.png)

[2019-03-19 03:50] #2286 closed

[2019-03-19 04:28] harsh-jindal opened #2320 "Fix UI bug in filter by in Orders and attendees under Tickets Section"
**Describe the bug**

Currently on clicking on filter by date causes the filter by discount to be misaligned.The class compact used causes this bug.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Tickets'
2. Click on 'Orders/Attendees'
4. See error

**Expected behavior**

Fix UI bug in filter by in Orders and attendees under Tickets Section
**Screenshots**

![Screenshot 2019-03-19 at

[2019-03-19 04:32] harsh-jindal opened #2321 "Align System Images as two per row"
**Describe the bug**

Currently system images are aligned as one per row.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin'
2. Click on 'Content'
3. Scroll down to 'System Images'
4. See error

**Expected behavior**

Align System Images as two per row
**Screenshots**

![Screenshot 2019-03-19 at 11 29 13 AM](https://user-images.githubusercontent.com/31013104/54580419-916e6300-4a3a-

[2019-03-19 05:08] harsh-jindal opened #2322 "Align Amount and Percent in Enter Discount on the same line"
**Describe the bug**

Currently Amount and Percent in Enter Discount are on different line and clicking on one of it we get an input filed below it. It looks odd not having an input field under percent.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Tickets'
2. Click on 'Discount Code'
3. Scroll down to 'Amount/Percent in Enter Discount'
4. See error

**Expected behavior**

Amount and

[2019-03-19 09:36] shreyanshdwivedi commented on #2248
@kushthedude any update?

[2019-03-19 10:03] kushthedude commented on #2248
@shreyanshdwivedi I am encountering an error in exporting the package see if you could help,I made changes in date-time dictionary.
<img width="857" alt="image" src="https://user-images.githubusercontent.com/44091822/54597149-10c05e80-4a5c-11e9-933c-316f9f7b1ccf.png">
The 9th line is giving some error in console and due to it the frontend is not opening.

[2019-03-19 10:05] kushthedude commented on #2232
Working on it.

[2019-03-19 10:39] ritikamotwani commented on #2322
Not required

[2019-03-19 10:39] #2322 closed

[2019-03-19 10:47] Anupam-dagar opened #2327 "Add edit option in event view page."
**Is your feature request related to a problem? Please describe.**

Currently if an admin views the event, there is no option to edit the event from there, admin needs to go back to events list and click edit from there.
**Describe the solution you'd like**

Add edit button in view events page.
**Describe alternatives you've considered**

**Additional context**

I am working on this issue.

[2019-03-19 10:47] Anupam-dagar opened #2328 "Add edit option in event view page."
**Is your feature request related to a problem? Please describe.**

Currently if an admin views the event, there is no option to edit the event from there, admin needs to go back to events list and click edit from there.
**Describe the solution you'd like**

Add edit button in view events page.
**Describe alternatives you've considered**

![Screenshot from 2019-03-19 16-15-13](https://user-images.

[2019-03-19 11:57] ritikamotwani commented on #2328
@Anupam-dagar it's an event overview page. Clicking on basic events will take you to the event edit page.

[2019-03-19 11:57] #2328 closed

[2019-03-19 13:34] shreyanshdwivedi opened #2329 "Manage Events : Access code URL in tickets section is not a link"
**Describe the bug**

Currently, the `Access Code URL` column in `Access Codes` of `Tickets` section in `Manage Events` is not a link. It is simply a text

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Manage Events` and select a event
2. Click on `Tickets`
3. Scroll down to `Access Codes`
4. See error in `Access Code URL` column

**Expected behavior**

The `Access Code URL` must be

[2019-03-19 14:40] #2327 closed

[2019-03-19 16:12] uds5501 opened #2331 "None of Activity Logs filter is working"
**Describe the bug**

The Global Filter in System Logs in Admin/Reports isn't working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin/Reports
2. Search Anything in Global Filter
3. See error

**Expected behavior**

It should filter properly

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/54622469-a3c6bc00-4a8f-11e9-84be-35663cf40277.png)

**Desktop

[2019-03-19 16:17] uds5501 opened #2332 "Clear Filter not working on location filters"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Explore
2. Use any location
3. See error

**Expected behavior**

Location filter should also have a clear filter option

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/54623009-af66b280-4a90-11e9-8b58-3a35a81efca4.png)

**Desktop (please complete the following information):**
 - OS: [e.g.

[2019-03-19 17:20] shreyanshdwivedi commented on #1923
@CosmicCoder96 I think, for now we should comment out `No. of revisions` till we get backend ready to implement it. Your thoughts?

[2019-03-19 18:32] shreyanshdwivedi opened #2334 "External Event URL not incorporated properly"
**Describe the bug**

 - Currently the `External Event URL` on the main page of event i.e. `public`, is having wrong link. It should have external link but it has same link as that of the public page
 - Also, the `General Info` of event is not having `Exteral event URL`. It only has `Social Media Links`.

**Expected behavior**

The link should be appropriate

**Screenshots**

_General Info_
![Scre

[2019-03-19 23:09] shubham3211 opened #2337 "Null should not be visible if sponsor type is not provided"
**Describe the bug**
Null is written if sponsor type is not provided

**Screenshots**
![sponsor](https://user-images.githubusercontent.com/19900978/54647861-2b312100-4aca-11e9-86ce-b8562afa1f74.png)

**Additional context**
I am working on it

[2019-03-20 06:01] shubham3211 opened #2339 "Speaker row not present"
**Describe the bug**
Speaker row is not present

**Screenshots**
![speakerRow](https://user-images.githubusercontent.com/19900978/54662280-8f240b80-4b03-11e9-8c29-be1faf67e470.png)

**Additional context**
I am working on this issue.

[2019-03-20 08:05] shubham3211 opened #2341 "Number of confirmed sessions not listed"
**Describe the bug**
Number of confirmed sessions not listed

**Expected behavior**
Number of confirmed sessions should be listed

**Screenshots**
![s](https://user-images.githubusercontent.com/19900978/54668464-f5fdf080-4b14-11e9-8eb0-8114a215daaa.png)

**Additional context**
I am working on this issue

[2019-03-20 08:18] ritikamotwani commented on #2341
Not required.
![image](https://user-images.githubusercontent.com/22127980/54669229-d58d6080-4b2b-11e9-8f0c-00abd6b7915c.png)

[2019-03-20 08:18] #2341 closed

[2019-03-20 08:51] shreyanshdwivedi opened #2342 "Manage Events: Discrepancies in Speakers table"
**Describe the bug**

 - Sorting in not disabled for `speakers-logo`
 - If `Phone Number` is not present, `null` should be removed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Manage Events`
2. Click on `Speakers`
3. Scroll down to the table
4. See error

**Expected behavior**

 - Sorting should be disabled on `Speakers Logo`
 - If mobile is not present, `null` should be removed

*

[2019-03-20 08:51] vinaysomawat opened #2343 "Social links are missing in footer section."
**Describe the bug**
Social links are missing in the footer section on the main page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Main page'
2. Click on nothing
3. Scroll down to 'footer'
4. See error

**Expected behavior**
Social links should be present in footer section.

**Screenshots**
![Screenshot from 2019-03-20 13-47-28](https://user-images.githubusercontent.com/30196269/54

[2019-03-20 09:08] CosmicCoder96 commented on #2343
They need to be configured in admin settings.

[2019-03-20 09:08] #2343 closed

[2019-03-20 09:13] #2332 closed

[2019-03-20 09:15] #2329 closed

[2019-03-20 09:18] #2320 closed

[2019-03-20 09:24] CosmicCoder96 commented on #2312
we'll iterate on this later on. It is already displayed on relevant pages, where there is a need for the user to be verified.

[2019-03-20 09:27] prateekj117 commented on #2312
@CosmicCoder96 It's not displayed on Create Event Page.

[2019-03-20 09:37] #2321 closed

[2019-03-20 10:21] Haider8 opened #2345 "No validation on phone number in contact info"
**Describe the bug**

There is no validation on phone number, user can enter number of any length and alphabets in the input.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings' in the user dropdown.
2. Click on 'Contact Info' tab.
3. Enter phone number of any length and also alphabets.
4. See error.

**Expected behavior**

It shouldn't accept the invalid inputs from the user.

*

[2019-03-20 10:24] Anupam-dagar opened #2346 "Add bottom margin to event tags in event card"
**Describe the bug**

The tags in event cards shown on homepage are quite close to the bottom boundary of the card. It will be better to add a bottom margin.
Also in the responsive mode, the tags go out of cards.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/'
2. See error

**Expected behavior**

There should be some gap between tags and bottom boundary of card
**Screenshots**

![Sc

[2019-03-20 10:56] iamareebjamal commented on #2312
Simply disable the form and display "You need to verify the email before you can create the event". It'd be very annoying and unintuitive to go and fill all the information to get a message later that your email is unverified and losing all progress.

[2019-03-20 10:57] shreyanshdwivedi opened #2349 "My-Session: Incorrect start timestamp"
**Describe the bug**

Currently, the start timestamp for any scheduled session is incorrect.
Also, if the session is not scheduled, it shows `From Invalid date to Invalid date`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `My-Sessions`
2. Click on one of the proposal
3. See error

**Expected behavior**

 - For accepted session, the timestamp should be correct.
 - For session which i

[2019-03-20 11:04] #2339 closed

[2019-03-20 11:53] #2349 closed

[2019-03-20 11:54] #2342 closed

[2019-03-20 11:55] #2334 closed

[2019-03-20 11:56] #2331 closed

[2019-03-20 12:08] mohitm15 commented on #2346
Wants to take this issue
@Anupam-dagar

[2019-03-20 12:12] Anupam-dagar commented on #2346
@mohitm15 I already opnened a PR

[2019-03-20 12:29] mohitm15 commented on #2346
@Anupam-dagar that's nice

[2019-03-20 12:39] mohitm15 commented on #2346
@Anupam-dagar But this is not showing in my laptop .... even after checking the responsiveness. I attached a screen shot too.

when screen is resized
![Screenshot from 2019-03-20 18-08-52](https://user-images.githubusercontent.com/35539313/54684758-353f3800-4b3b-11e9-87fc-f8ab2e9e85b0.png)

[2019-03-20 12:59] #2316 closed

[2019-03-20 15:10] uds5501 commented on #2346
@Anupam-dagar @mohitm15
Reproduce-able in Iphone5/SE and custom 888x888 config
![image](https://user-images.githubusercontent.com/21087061/54695634-54949000-4b50-11e9-8f12-a76147472ec5.png)

[2019-03-20 15:24] CosmicCoder96 commented on #2318
@shreyanshdwivedi naming is fine, and fee should appear only for completed Orders, tickets corresponding to them should be shown.

[2019-03-20 15:26] #2206 closed

[2019-03-20 15:29] CosmicCoder96 commented on #2311
fixed now.

[2019-03-20 15:29] #2311 closed

[2019-03-20 16:15] shreyanshdwivedi commented on #2318
@CosmicCoder96 `Revenue` column already has amount of `Completed Order`.

[2019-03-20 16:18] CosmicCoder96 commented on #2246
we will rather handle it on the server, FE just reads from there.

[2019-03-20 16:18] #2246 closed

[2019-03-20 16:23] #345 closed

[2019-03-20 19:22] shubham3211 opened #2351 "Confirmed sessions are not visible on events scheduler page"
**Describe the bug**
 Accepted sessions are visible in scheduler.

**Expected behavior**
 Confirmed sessions should be visible.

**Screenshots**
![eventScheduler](https://user-images.githubusercontent.com/19900978/54712947-8539f100-4b73-11e9-9812-5cc952a79cde.png)

![overviewScheduler](https://user-images.githubusercontent.com/19900978/54712966-8ec35900-4b73-11e9-8bae-8d456723348b.png)

**Addition

[2019-03-20 19:32] Anupam-dagar opened #2352 "Add a toggle icon for show/hide password in login form."
**Describe the bug**

Currently when show/hide password button is clicked, the icon doesn't changes. It will be a better UX if we add an eye icon with slash to show `hide password` and non slash to show `show password`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/login'
2. Click on 'show/hide password'
3. See error

**Expected behavior**

The icon should change to eye with slash

[2019-03-20 19:57] shubham3211 opened #2355 "Rejected sessions are visible on public schedule page"
**Describe the bug**
Rejected sessions are visible on public schedule page

**Expected behavior**
Rejected sessions should not be visible on public schedule page

**Screenshots**
![sessionRe](https://user-images.githubusercontent.com/19900978/54715008-625e0b80-4b78-11e9-8e09-c9a61d535f34.png)

![sessionShown](https://user-images.githubusercontent.com/19900978/54715034-6be77380-4b78-11e9-85c3-2991d

[2019-03-21 02:55] #2355 closed

[2019-03-21 02:56] #2351 closed

[2019-03-21 02:56] #2352 closed

[2019-03-21 09:06] shreyanshdwivedi opened #2357 "Social media link colors are not properly applied"
**Describe the bug**

Currently, social media links in `public` route is not applicable due to incorrect scss code.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/event/<identifier>`
2. Click on `Featured Speaker`
3. See error

**Expected behavior**

The social media links must be applied

**Screenshots**

_Featured Speakers_
![Screenshot_2019-03-21 APK19 Open Event](https://user-im

[2019-03-21 11:03] shreyanshdwivedi opened #2359 "Accepted session not visible in sessions tab of pulic route"
**Describe the bug**

Currently, `accepted` sessions are not visible in `Sessions` tab of `public` route e.g. on `/e/<event id>/sessions/s/all`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Events Public` page
2. Click on `Sessions`
3. See error

**Expected behavior**

`Accepted` sessions must be visible too

**Screenshots**

![Screenshot_2019-03-21 Sessions APK19 Open Event](https

[2019-03-21 12:20] shreyanshdwivedi opened #2361 "Duplicate speaker images in session-item"
**Describe the bug**

Currently, for one speaker, images occur two times in `session-item` on `public` route

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Event Public` page
2. Click on `Sessions`
3. Click on `accepted` or `confirmed` session item.
4. See error

**Expected behavior**

If one speaker is present, image must appear only once.

**Screenshots**

![Screenshot_2019-03-21 S

[2019-03-21 12:38] shreyanshdwivedi commented on #2361
@CosmicCoder96 can you please review if this issue is valid for enhancement. I want to make changes like this -
![Screenshot_2019-03-21 Sessions APK19 Open Event(3)](https://user-images.githubusercontent.com/25428397/54752469-44d68380-4c04-11e9-925f-cec4f9c01781.png)

[2019-03-21 12:40] shubham3211 commented on #2361
@shreyanshdwivedi I don't think it is an error.
http://sched.eventyay.com/FOSSASIASummit/schedule.html

[2019-03-21 12:46] shreyanshdwivedi commented on #2361
@shubham3211 please refer to the image attached in the description. Also, the link you provided hides speaker image in the `session-item` when it is expanded. In this way, the `session-item` only contains one image of a single speaker.
![Screenshot_2019-03-21 FOSSASIA Summit](https://user-images.githubusercontent.com/25428397/54752785-4b192f80-4c05-11e9-974d-7bbfbebf549e.png)

[2019-03-21 12:48] shubham3211 commented on #2361
I think it should be done in this way, when the user click on the session the image on the top should disappear and image should be above speaker description.

[2019-03-21 12:57] shreyanshdwivedi commented on #2361
I think it is nice suggestion. @CosmicCoder96 thoughts?

[2019-03-21 14:13] Anupam-dagar opened #2362 "Pressing enter in select location of create event leads to submission of form."
**Describe the bug**

When selecting a location from dropdown shown in create event page by pressing enter, the form gets submitted instead of location getting selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create event
2. Click on location
3. enter location, select from dropdown by pressing enter
4. See error

**Expected behavior**

form shouldn't get submitted. Location mu

[2019-03-21 15:47] kushthedude commented on #2248
@CosmicCoder96 Any fix?

[2019-03-21 15:56] kushthedude commented on #2232
@shreyanshdwivedi Can you please tell what the enhancement number second wants to state?

[2019-03-21 16:03] shreyanshdwivedi commented on #2232
@kushthedude `Nearby Events` don't show dynamic list of events. It is hard coded. This needs to be fixed

[2019-03-22 02:12] #2359 closed

[2019-03-22 02:13] #2357 closed

[2019-03-22 02:25] #2303 closed

[2019-03-22 04:51] CosmicCoder96 commented on #2361
@shreyanshdwivedi go ahead with this approach.

[2019-03-22 06:22] Haider8 opened #2363 "Share event close button lying outside the card"
**Describe the bug**

On large screens, close button for share event card lies outside the share event card.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Upcoming Events' on the landing page.
2. Click on 'Share event' icon on the bottom of event card.
3. See error

**Expected behavior**

Close button should always lie inside the card, just like on some smaller screens.
![expected-b

[2019-03-22 08:00] ritikamotwani commented on #2363
This is a design choice for every modal, not a bug.

[2019-03-22 08:00] #2363 closed

[2019-03-22 08:27] Haider8 commented on #2363
@ritikamotwani it doesn't look good in my opinion :)
![Screenshot_2019-03-22_13-56-10](https://user-images.githubusercontent.com/43299408/54809801-58d4c080-4caa-11e9-878f-a89c3d35d97b.png)

Here also, it is lying inside the card

[2019-03-22 08:52] #2361 closed

[2019-03-22 14:28] uds5501 opened #2365 "minor typo in event types"
**Describe the bug**

The event type hashtag in the event card has wrong spelling : Startups "Amp" Small Business

**Expected behavior**

The typo should be fixed

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/54829626-d1ed0b80-4cdc-11e9-97b9-ece031a1c791.png)

**Additional context**

Open for any beginner!

[2019-03-22 16:02] Haider8 commented on #2365
@uds5501 okay, i will fix this

[2019-03-22 16:11] uds5501 commented on #2365
@Haider8 Go ahead!

[2019-03-22 16:56] Haider8 commented on #2365
@uds5501  Since special characters like ```!, $, &``` etc.  will not work in hashtags, the ```&``` symbol in ```Startups & Small Business``` have been escaped automatically to ```Amp```. The fix that i can think of is to remove the ```&``` and make it ```And```. What are your thoughts.

[2019-03-22 16:57] uds5501 commented on #2365
@Haider8 No, don't remove the `Amp`, maybe try using sanitize helper instead?

[2019-03-22 17:01] Haider8 commented on #2365
@uds5501 No, i was talking about ```&``` symbol.

[2019-03-22 17:01] kushthedude commented on #2312
@prateekj117 Can i take this issue if you have not done significant progress in this?

[2019-03-22 17:03] prateekj117 commented on #2312
@kushthedude No, working on it.

[2019-03-22 17:05] uds5501 commented on #2365
@Haider8 Alright, I see your point. We can't use special characters in hashtags. In that case, see if you can substitute the `&` as `And` for the hashtag particularly.
@CosmicCoder96 could use some insights if this method is worth following

[2019-03-22 17:19] uds5501 commented on #2288
@Anupam-dagar I can perfectly Publish and Unpublish the schedule without any error
and as for the time inconsistency, I think it's more of a `full-calendar's` discrepancy which can't be solve with our hooks.

Notice the pointed discrepancy in their official documented examples too.
![image](https://user-images.githubusercontent.com/21087061/54841136-9fe7a380-4cf4-11e9-87cd-d6cfadc738e1.png)

@Cosm

[2019-03-22 18:43] kushthedude commented on #2365
@uds5501 A simple 'And' at the place of 'Amp' Should be enough?

[2019-03-22 18:52] kushthedude commented on #2077
Working on it.

[2019-03-22 19:25] kushthedude opened #2366 "Event end time error"
**Describe the bug**

Not able to set end time prior to start time

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'http://127.0.0.1:4200/create'
2. Set a start time and date
3. Change the end date.
4. Try to set end time before start time.
5. See error

**Expected behavior**

User should be able to set end time as per his flexibility.

**Screenshots**

<img width="1316" alt="Screensh

[2019-03-22 20:29] kushthedude commented on #2346
@Anupam-dagar isn't it duplicate of #279

[2019-03-22 20:30] kushthedude commented on #2346
I think this should be enhancement of PR #236

[2019-03-23 02:54] uds5501 commented on #2346
@kushthedude since #279 has been closed by the owner himself and the issue still persists so no, this isn't a duplicate

[2019-03-23 03:11] uds5501 commented on #2366
@kushthedude  It's more of a subissue under #2077 .
The calendar is malfunctioning big time, but as far as your issue is concerned, according to the documentation of `ember-semantic-ui-calendar`'s date-range (which is being used in start and end date) , we can only set an end date AFTER the start date while in the time-range, the end time can be set after the start time only.
In short, these time

[2019-03-23 05:41] kushthedude commented on #2366
@uds5501 i think i got a fix for #2077 which will make the calendar time work for now .

[2019-03-23 05:43] kushthedude commented on #2346
I think a PR has been merged for a issue of overflow of text in event card

On Sat, 23 Mar 2019 at 8:24 AM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-03-23 05:48] uds5501 commented on #2346
@kushthedude the merge was not for the overflow of the hashtags, which the current issue points out

[2019-03-23 05:49] kushthedude commented on #2346
Cool😁

On Sat, 23 Mar 2019 at 11:18 AM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-03-23 05:50] uds5501 commented on #2366
@kushthedude push the PR soon then

[2019-03-23 06:24] punkstar25 commented on #2362
@Anupam-dagar , can you tell me what all  technology used in this project so that i can learn those technology if i don't know  and start contributing to this project..
i am new to open source,plz guide me about how i start contributing

[2019-03-23 06:38] uds5501 opened #2367 "set cfs default start date to today for development ease"
**Is your feature request related to a problem? Please describe.**

No, I would like to set the default start date of a CFS form to Today for development preferences and I believe that It'd be great if an organiser has an option to set CFS date from form creation date itself instead of the event's starting time.

**Describe the solution you'd like**

Just set the default start-date to today's date

[2019-03-23 06:38] uds5501 commented on #2367
What are your views in it @ritikamotwani @CosmicCoder96

[2019-03-23 07:15] kushthedude commented on #2366
@uds5501 i will push the PR asa soon as i reach my college

[2019-03-23 11:19] mariobehling commented on #2140
Priority low: Delay

[2019-03-23 11:19] #2140 closed

[2019-03-23 11:21] mariobehling commented on #2268
Priority low: Delay

[2019-03-23 11:21] #2268 closed

[2019-03-23 12:13] shreyanshdwivedi commented on #2318
@uds5501 @mariobehling @CosmicCoder96 I think this issue needs following implementation. `Tickets` needs to be renamed to `Ticket Sales` and have values of sales of `Completed Orders`. `Fees` column has % of service charge. And `Revenue` must contain -
[code]
Please provide your input so that I can fix it.

[2019-03-23 12:45] uds5501 commented on #2318
@shreyanshdwivedi After looking into it after a while, actually the `Revenue` currently being used is in perspective of the organizer and I am not sure if we would like to change that.

Currently it addresses the equation:
[code]
If we do want to let it stay like this, we need to keep in mind that Current Ticket Fees also has a "Maximum Fees" attached to a Country-Currency combination which is not

[2019-03-23 12:50] uds5501 opened #2368 "Filter not working in Admin/messages"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin/Messages
2. Use Global Search Filter
3. See error

**Expected behavior**

It should work normally

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu 16.04 LTS
 - Browser [e.g. chrome, safari] Chrome

**Additional context**

Working on it

[2019-03-23 12:51] shreyanshdwivedi commented on #2318
@uds5501 I agree. Revenue column should apply second formula. And then, I think `Ticket Sales` column must have the amount of sales from Completed orders only.
I'll open a PR for the same.

[2019-03-23 12:56] #2368 closed

[2019-03-23 14:03] Haider8 commented on #2365
@uds5501 I think there is a need to change in server also. Can you please confirm?

[2019-03-23 18:11] CosmicCoder96 commented on #2365
fixed in https://github.com/fossasia/open-event-server/pull/5709

[2019-03-23 18:11] #2365 closed

[2019-03-23 18:15] CosmicCoder96 commented on #2367
No, the organizers may unintentionally end up opening the CFS, when they are not ready to open the CFS.

[2019-03-23 18:15] #2367 closed

[2019-03-23 18:18] #2337 closed

[2019-03-23 18:21] #1936 closed

[2019-03-23 18:44] Haider8 opened #2370 "Login page does not redirects back to create event for guest user"
**Describe the bug**

When the guest user (not logged in) tries to create event, he/she is taken to the login page, but after that, the user is not redirected back to the create event page upon successful login.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create event' page when not logged in.
2. Fill the login form with correct credentials.
3. See error

**Expected behavior**

Us

[2019-03-23 19:51] #1774 closed

[2019-03-24 06:29] shubham3211 opened #2372 "There should be a option to display only confirmed session"
**Describe the solution you'd like**
There should be a option to display only confirmed session

![csess](https://user-images.githubusercontent.com/19900978/54875861-4f736180-4e2c-11e9-81ed-6e5d85f99c5a.png)

**Additional context**

[2019-03-24 06:31] ritikamotwani commented on #2372
Please check version1.

[2019-03-24 06:31] #2372 closed

[2019-03-24 10:26] #2285 closed

[2019-03-24 16:05] kushthedude commented on #2362
@punkstar25 Ember.js for the frontend

[2019-03-24 16:24] #2298 closed

[2019-03-24 17:42] Haider8 commented on #2370
@uds5501 @ritikamotwani The redirects are already implemented, but it only works if we manually enter the url in the address bar. Else create event url is not stored as the previous route and redirect does not work then, like if we click 'Create Event' in the nav-bar. I need some advice on this please.

[2019-03-24 18:04] uds5501 commented on #2370
@Haider8 can you kindly point to the file where this redirection has been specified?

[2019-03-24 18:24] Haider8 commented on #2370
@uds5501 ```app/routes/application.js```, you can also see ```app/routes/create.js``` if required :)

[2019-03-24 18:32] uds5501 commented on #2370
@Haider8 This `previousRouteName` doesn't work in this case because the user was obviously, never directed to `\create` and the last route he/she visited was indeed `\` .

[2019-03-24 18:37] Haider8 commented on #2370
@uds5501 Yes, so how can we redirect the user to ```/create```. I mean what can be the potential fix here. I have tried to put anchor tags for the create event page. But that didn't work.

[2019-03-24 18:38] uds5501 commented on #2370
@Haider8 That won't help, your previous URL still remains `\`, this should require application level handling. I am reading through and will let you know if I find something

[2019-03-24 18:40] Haider8 commented on #2370
@uds5501 Okay, please do let me know.

[2019-03-24 19:23] Haider8 opened #2373 "No need of 'Coming Soon' for elastic search in the Admin settings tab"
**Describe the bug**

Elastic search feature is implemented and therefore 'Coming Soon' is not required.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as the Admin.
2. Click on 'Admin' in the user dropdown (nav-bar).
3. Go to 'Settings' tab.
4. See error.

**Screenshots**

![elastic-search](https://user-images.githubusercontent.com/43299408/54884528-2ee0f100-4e98-11e9-8011-6f7ee77e08

[2019-03-24 19:56] CosmicCoder96 commented on #2370
@Haider8 It's happening because `authenticatedRouteMixin` aborts the transition of the route to create. However, the conditions which define `previousRouteName` are inside the `.then()` block of the transition. Ergo, they are executed only when the transition completes successfully.  If you replicate those conditions, inside a `catch()` block as well, and in principle catch the aborted Transition

[2019-03-24 20:12] #2373 closed

[2019-03-24 20:53] Haider8 commented on #2370
@CosmicCoder96 Thank you :), meanwhile i will try to send PR as per your suggestion.

[2019-03-25 07:11] mohitm15 commented on #2224
@harsh-jindal Do we need to create a new event for that???
   Because I am getting currency symbols in previously made events??
![Screenshot from 2019-03-25 12-40-04](https://user-images.githubusercontent.com/35539313/54900987-31286700-4efb-11e9-8812-3ac4397eadd3.png)

Attached is the screenshot

[2019-03-25 07:36] mohitm15 commented on #2224
@shreyanshdwivedi how can I review this issue ??

[2019-03-25 07:41] shreyanshdwivedi commented on #2223
@kushthedude it has been more than 20 days since you are working on this issue. Please let others know if you are not able to solve this so that someone else can take it forward

[2019-03-25 07:43] shreyanshdwivedi commented on #2224
@mohitm15 this issue is duplicate of https://github.com/fossasia/open-event-frontend/issues/2223 and someone else is working on it.
@harsh-jindal please close this issue

[2019-03-25 08:26] mohitm15 commented on #2224
@shreyanshdwivedi that's what I am talking about

[2019-03-25 08:40] kushthedude commented on #2223
@shreyanshdwivedi I will try to check test one last time if i dont come up with some solution by today , i will let you know 👍

[2019-03-25 13:34] mohitm15 commented on #2224
I think this issue needs to be resolved than that of #2223 .

[2019-03-25 13:37] #2224 closed

[2019-03-25 14:16] uds5501 opened #2380 "Speaker Count not loading properly"
**Describe the bug**

The serialises for event-statistics-general have not been updated to fit the snake_cased form of `speakers` attribute.

**To Reproduce**
Steps to reproduce the behavior:
1. Make an event
2. Go to manage events
3. See error

**Expected behavior**

It should load up the statistic correctly

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu
 - Bro

[2019-03-25 15:13] prateekj117 commented on #2002
@CosmicCoder96 I would like to work on it.

[2019-03-25 15:14] kushthedude commented on #2002
@prateekj117 i am already in queue😅

[2019-03-25 15:23] Haider8 opened #2382 "Move 'Found in' to newline in Admin's settings under Images tab"
**Describe the bug**

'Found in' should come in newline for cleaner and consistent look, like in other sections of image sizes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin' section.
2. Click on 'Settings' tab.
3. Go to 'Images' tab.
4. See error.

**Expected behavior**

'Found in' should come in newline.

**Screenshots**

![found-in-newline](https://user-images.githubusercon

[2019-03-25 15:50] Haider8 opened #2384 "Wrong standard size of available area in 'Logo Size' section"
**Describe the bug**

Wrong standard size of available area is shown in the 'Logo Size' section in Admin's image settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin' section.
2. Click on 'Settings' tab.
3. Go to 'Images' tab.
3. Scroll down to 'Logo Size (Event Wizard)' section.
4. See error.

**Expected behavior**

Should have shown standard size as seen in the input fiel

[2019-03-25 16:12] kushthedude opened #2386 "Unresponsive UI under tickets section"
**Describe the bug**

When the screen size is <767px  , The UI of tickets section fails and user interface fails.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Event Overview'
2. Click on 'Tickets'
3. Resize the screen
4. See error

**Expected behaviour**

UI should not fail and should be responsive for enhanced user experience.

**Screenshots**

<img width="796" alt="Screenshot

[2019-03-25 16:12] kushthedude commented on #2386
@uds5501 Can you check it out

[2019-03-25 18:11] uds5501 opened #2388 "Add Speaker distribution in Event.view General Info"
**Describe the Feature**

I would like to add a speaker-state distribution in the overview part of an event
This would be modelled along the lines of number of sessions.

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/54943508-711d3780-4f57-11e9-9111-634621c42c63.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu
 - Browser [e.g. c

[2019-03-25 19:57] uds5501 opened #2390 "every user is organizer for every event"
**Describe the bug**

Please refer to the screen shot given below

**Expected behavior**

Only the events whom the user is actually an organiser should be displayed

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/53115919-5bd67700-356d-11e9-9181-adbf6bf4eddf.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu
 - Browser [e.g. chrome

[2019-03-26 08:07] kushthedude commented on #2390
@uds5501 Wanted to know if the server is providing correct relation than Is it hardcoded for every user?

[2019-03-26 11:45] thanostx commented on #2142
I can reproduce this bug too with a verified and non-verified user. Sessions get submitted and the admin can view and edit them, but the user is unaware of what's happening on the server.

I'm wondering if this is a front-end issue, as from the API you need at least "co-organizer" permissions to create and update a session, http://dev.eventyay.com/api/v1/#sessions-sessions-collection-post, but tha

[2019-03-26 12:08] thanostx commented on #2232
Just for future reference, the second request duplicates this issue here https://github.com/fossasia/open-event-frontend/issues/1823

[2019-03-26 12:51] uds5501 commented on #2390
@kushthedude the server side relationships are working fine. as I have already mentioned above :)

[2019-03-26 13:32] Anupam-dagar opened #2392 "Add shortcut key info in tooltips of buttons of rich text editor."
**Describe the bug**

Currently the tooltip of buttons present in rich text editor shows only about the Button i.e if it is a Bold button then tooltip is `Bold`. All the editors such as google docs editor and other services has shortcut key also written in the tooltip so that user may know about the shortcut key of that button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create eve

[2019-03-26 13:34] kushthedude commented on #2232
No issue

On Tue, 26 Mar 2019 at 5:38 PM, Tom Tryfonidis <notifications@github.com>
wrote:

[2019-03-26 14:01] prateekj117 opened #2394 "UI issue in buttons on creating event"
**Expected behavior**
I think buttons should stack according to size of display screen.

**Screenshots**
![Screenshot from 2019-03-26 19-26-36](https://user-images.githubusercontent.com/31065687/55003065-a7ad8d80-4ffd-11e9-9eb5-e341eb6fe647.png)

**Additional context**
Working on it.

[2019-03-26 14:09] mohitm15 commented on #2394
@prateekj117 should i take this issue?

[2019-03-26 14:10] prateekj117 commented on #2394
@mohitm15 Working on it.

[2019-03-26 14:50] mohitm15 opened #2395 "Google Sign-in is not integrated"
![imageedit__6708216153](https://user-images.githubusercontent.com/35539313/55006771-4b9a3780-5004-11e9-8c72-eb1652a0046a.gif)

[2019-03-26 14:52] Haider8 commented on #2390
@uds5501 Can i work on this issue ?

[2019-03-26 15:52] thanostx opened #2396 "Redirect page after the login/signup on Call for speakers"
**Edit** - See #2370 for relevant discussion
- @iamareebjamal

**Describe the bug**

When an unauthenticated/unregistered user login/register to submit a session, he/she gets redirected to the homepage instead of the event that he/she was.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'An event with open Call for Speakers section'
2. Click on 'Submit Proposal'
3. Login or Signup usin