[2020-11-07 06:36] mariobehling opened #5516 "Update notification messages for verifying account and show "full access" notification on frontpage"
Please change notification messages as follows and change functionality as follows:
![Screenshot from 2020-11-07 07-18-51](https://user-images.githubusercontent.com/1583873/98433685-85309100-20c9-11eb-8eac-f411cf5e4bbe.png)

* [x] "Account unverified" notification
  - original notification
Your account is unverified. Please verify it by clicking on the confirmation link that has been emailed to yo

[2020-11-07 06:39] sachinchauhan2889 commented on #5516
I am working on this

[2020-11-07 09:28] iamareebjamal commented on #5116
@mariobehling I have almost completed the new implementation of link input and while finalizing, I understood the issue again and realized that first option cannot be changed because it is not a social link.

So, there are 2 different things:
1. Event Site/External URL - This is static and cannot have more than 1 site. And cannot be removed, but can be set to empty/null
2. Social Media Links - The

[2020-11-07 10:00] #5435 closed

[2020-11-07 10:18] mariobehling commented on #5116
@iamareebjamal The request of organizers for this feature is as follows:

1. They want to have a freely editable "Field Name" (e.g. Website, Event Website, Company Name or whatever and the link)
2. They want to have an option to add Social Links (can we have a choice of more social networks that we did not cover before as well please)

In a perfect world we could handle this in the same way that G

[2020-11-07 10:29] iamareebjamal commented on #5116
1. We can have this if we just remove the field for event site/external even URL and just treat custom links as the source of truth for any website or social media. We had external event URL for specifically redirecting users to the site if they had ticketing somewhere else. Now that we don't have the option of making ticketing optional, we can just show the links form without event site field. Th

[2020-11-07 10:54] mariobehling commented on #5116
Yes, just proceed as you described, please. I don't see we need external event URL anymore (at least not here).

So, two separate sections a) Custom Links and b) Social Links seem fine.

[2020-11-07 11:50] iamareebjamal commented on #5116
Great

[2020-11-07 13:05] mariobehling commented on #5509
@iamareebjamal Actually, do we need that screenshot at all? This will share data with any service that is connected. Also when we deploy to Heroku. The button should probably be substituted. Our goal: Only load the absolute necessary.

[2020-11-07 13:19] Subham142 commented on #5516
@sachinchauhan2889  I'll be more than happy to take on this  bug if you choose to abandon it ,till then please carry on your work

[2020-11-07 13:25] sachinchauhan2889 commented on #5516
@Subham142 let me try this issue. If i will unable  to solve this, i will definitely leave this and forward this issue to you.

[2020-11-07 14:54] anjali1102 commented on #5511
Is this issue resolved?

[2020-11-07 14:55] anjali1102 commented on #5509
Is this issue being claimed? Can I claim it now

[2020-11-07 15:01] anjali1102 commented on #5475
Is this issue beginner friendly?

[2020-11-07 15:10] anjali1102 commented on #1519
Can I claim this issue? If no one working on it?

[2020-11-07 15:11] sachinchauhan2889 commented on #5511
@anjali1102 i have opened a PR. I am working on this.

[2020-11-07 15:18] anjali1102 commented on #5051
Claiming this issue

[2020-11-07 15:50] Raunaksingh100 commented on #5509
@anjali1102 i already fixed and create a pr for this plz find some other issue

[2020-11-07 19:10] namanjain007 commented on #5455
@iamareebjamal  the algorithm to compute the level of a sponser has to depend on the cost invested . If in future , another sponser comes with some arbitrary cost , then level should be according to already present . So I think ratios of cost(i)/sum could be taken right ?

[2020-11-07 20:57] iamareebjamal commented on #5455
It's not that complicated. Just show smaller icons for sponsors with lower levels. No need for a formula or a research paper

[2020-11-07 21:11] iamareebjamal commented on #5509
If we don't show the screenshot, people will probably not click on it or realize that it is a video.

That is only true for services like google/facebook who put tracking cookies on sites and track them across pages. A site cannot access data from other site, just the cookies they have put and that is true for even a link. So, for example, if we put a link to the site, and a user clicks on it, the

[2020-11-07 21:19] iamareebjamal commented on #1519
Yes

[2020-11-07 21:19] iamareebjamal commented on #5475
No

[2020-11-07 21:22] #5511 closed

[2020-11-07 21:28] #5341 closed

[2020-11-07 23:34] mariobehling commented on #5509
Ok, agree. Let's not get rid of an image here. Substituting an image with a local image seems like a good intermediary solution to me, so we do not have to depend on GitHub to make things anonymous for us in the future.

Embedding an image means services receive the IP address and other info of a user. This is different to a link where a user clicks actively. Right now we use Github. We dont know

[2020-11-08 00:44] #5509 closed

[2020-11-08 03:54] Saumyachitransh01 commented on #5490
What should I use
1. "ddd" or "dddd" for days of week
2. For time :- "h:mm A" or "hh:mm A"
3. For date :- "MMMM DD YYYY" or "DD MMMM YYYY" or "MMMM Do YYYY"
For across the platform

[2020-11-08 03:58] Siddhant-K-code commented on #5490
I think,
For Date: DD MM YYYY
 and
For Time: hh: mm

Would be the Best

On Sun, 8 Nov 2020, 9:24 am Saumya Chitransh, <notifications@github.com>
wrote:

[2020-11-08 04:25] Saumyachitransh01 commented on #5490
DD MM or DD MMMM, Bcoz it's MMMM all over the platform so it'll all get changed that's why I think MMMM would be better

[2020-11-08 04:49] Siddhant-K-code commented on #5490
Yes, DD MMMM YYYY Would be correct.

[2020-11-08 05:28] anjali1102 commented on #1519
thanks

[2020-11-08 06:14] krishna9304 commented on #5516
Can i work on this issue?

[2020-11-08 06:25] Raunaksingh100 commented on #5516
There is already pr for this plz find some other issues

[2020-11-08 06:26] namanjain007 opened #5523 "Profile Family Name"
Account profile page has an option to fill family name as a non-empty field. This should be an optional  field i think /.

[2020-11-08 06:27] #5523 closed

[2020-11-08 06:37] maze-runnar commented on #5176
![captured (3)](https://user-images.githubusercontent.com/56407566/98458856-ee440180-21ba-11eb-9dfe-9d11efbc5264.gif)

[2020-11-08 06:43] maze-runnar commented on #5176
on clicking on the order link and then going back shows `initializing`. One solution for this is that open `orders/f5c16a44-8692-441f-9bb4-602cc2a41e18/view` in new tab. @iamareebjamal ?

[2020-11-08 06:47] iamareebjamal commented on #5176
That's not a solution, that's a workaround. Why is it even happening is the question. Is it problem in our our logic, ember-has-many-query, ember-table, ember-data or ember itself

[2020-11-08 06:51] maze-runnar commented on #5176
ok, trying to find

[2020-11-08 06:54] iamareebjamal commented on #5176
One way of finding is logging the model we are returning. Does it contain initializing orders second time? If so, it is not a problem in ember or ember-table but in ember-data or  ember-has-many-query

[2020-11-08 07:03] namanjain007 commented on #4222
![Screenshot from 2020-11-08 12-31-09](https://user-images.githubusercontent.com/31573807/98459188-50523600-21be-11eb-967d-94337c41a482.png)
In Components/widgets/forms/image-upload.js
why is this callback function not handeling the error ?

[2020-11-08 07:19] namanjain007 commented on #5444
Actually after ordering a ticket from unregistered account just asks for email and not password.
![Screenshot from 2020-11-08 12-43-42](https://user-images.githubusercontent.com/31573807/98459402-885a7880-21c0-11eb-9173-a9b5d1f5bc3d.png)
![Screenshot from 2020-11-08 12-44-08](https://user-images.githubusercontent.com/31573807/98459404-8d1f2c80-21c0-11eb-9b6d-ed5bb99458b3.png)
User gets logged in d

[2020-11-08 07:23] iamareebjamal commented on #5444
You seem to be a dozen commit behind development

[2020-11-08 07:24] Gautam-Arora24 commented on #5416
Working on this issue

[2020-11-08 07:47] namanjain007 commented on #5444
okay thanks.

[2020-11-08 08:01] maze-runnar commented on #5176
Yes it does in second time -

![Screenshot from 2020-11-08 13-29-54](https://user-images.githubusercontent.com/56407566/98460037-9ad7b080-21c6-11eb-890e-63cd2a32a6a9.png)

[2020-11-08 08:11] Gautam-Arora24 opened #5526 "Team Page : Empty email fields"
**Bug**
Whenever an organiser tries to add people with empty input fields, the frontend shows the empty fields after submission.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Events Section
2. Create an Event
3.  Go to teams section
4. Add people with empty fields
5) See the bug

**Expected behaviour**
When an owner tries to add another organizer without providing an email it should

[2020-11-08 08:13] iamareebjamal commented on #5176
It's most likely an error in ember-has-many-query. We need to find out an alternative because it does not work on Ember Data 3.16+ as well

[2020-11-08 08:15] maze-runnar commented on #5176
it is also giving a warning, what it means-
`You requested a record of type 'order' with id '14645' but the adapter returned a payload with primary data having an id of 'b1459a24-f5eb-43c6-8151-9acb6d928cae'. Use 'store.findRecord()' when the requested id is the same as the one returned by the adapter. In other cases use 'store.queryRecord()' instead.`

[2020-11-08 08:17] iamareebjamal commented on #5176
Yes, but that warning is of order detail page, not list page

[2020-11-08 08:17] maze-runnar commented on #5176
ok

[2020-11-08 08:21] maze-runnar commented on #5176
So what needs to be done for now with this issue? Would it be solve with alternate of ember-has-many-query or opening in new tab for now?

[2020-11-08 08:22] namanjain007 opened #5527 "package.json node version"
node engine could be >= 12.x instead of =12.x.

[2020-11-08 10:28] mariobehling commented on #5526
What do you mean with empty fields? Please give an example. An email with an empty field?

[2020-11-08 11:04] #5527 closed

[2020-11-08 11:11] Gautam-Arora24 commented on #5526
What I mean with empty field is when a user tries to add people in the Team section without providing the details, instead of not submitting the form the frontend is showing the above image

[2020-11-08 11:12] Gautam-Arora24 commented on #5526
Empty field here just means that clicking Add People button without providing the details

[2020-11-08 11:57] namanjain007 commented on #5444
Yes, the verification link after redirection does not logs out .

[2020-11-08 12:14] iamareebjamal commented on #5444
Unless it has been 24 hours since previous login, the user should be logged out.

@mariobehling Can you please recheck, it seems to be working fine

[2020-11-08 12:19] mariobehling commented on #5526
Ok, I updated the expected behavior.

[2020-11-08 12:55] sachinchauhan2889 commented on #5526
working on this.

[2020-11-08 13:02] aravind-korada commented on #5526
@mariobehling if the issue fixed?
I am not able to reproduce this.

[2020-11-08 15:32] codedsun commented on #5455
@iamareebjamal - What should be the size of image level wise?

[2020-11-09 02:33] iamareebjamal commented on #5455
@mariobehling Previously (v1), level was proportional to the size of sponsor. Bigger level -> bigger sponsor. But now it is being used in an opposite manner. Level 1 means bigger and Level 5 means smaller. So I'm going with current logic because even the display order is this way in the current site

[2020-11-09 02:56] #5455 closed

[2020-11-09 05:19] sentry-fossasia[bot] opened #5534 "SyntaxError: Unexpected token '<'"
Sentry Issue: [EVENTYAY-FRONTEND-4T](https://sentry.fossasia.org/organizations/eventyay/issues/170/?referrer=github_integration)

[code]

[2020-11-09 05:20] #5534 closed

[2020-11-09 07:33] codedsun commented on #5072
Taking this up!

[2020-11-09 08:59] Soumi150 commented on #5526
Working on this.

[2020-11-09 09:22] iamareebjamal commented on #5479
We can store this in local storage instead of DB. It'll be much easier

[2020-11-09 09:45] sachinchauhan2889 commented on #5131
Working on this

[2020-11-09 10:16] Raunaksingh100 commented on #5131
@mariobehling can you tell why is no codeheat label for this ?

[2020-11-09 10:48] mariobehling opened #5537 "Wizard Step 3: Attendee Custom Question moving to different position"
The attendee custom question is moving to a different position when the organizer revisits the wizard step 3. Expected: It should stay at the end of the list.

![Screenshot from 2020-11-09 11-46-45](https://user-images.githubusercontent.com/1583873/98532024-6d037200-2281-11eb-91ed-eaf41b30daa0.png)

[2020-11-09 14:52] sachinchauhan2889 commented on #5516
@iamareebjamal @mariobehling sir, my PR solves first two points. Can you please explain 3rd point.
- Are you want full access message on front index page.
Or
-  you want front page template in place of white space at verify route.

[2020-11-09 16:00] Draco9421 commented on #5526
I couldn't reproduce this bug.

[2020-11-09 16:30] mariobehling opened #5539 "Admin Pages: Enable admin to ultimately delete events"
In the event database there are a number of events that cannot be edited as migrations might not have worked well. Some of these events clutter up some tables as their data is inconsistent, e.g. on the sales page an event schedule in 2107.

Please enable admins to delete these events on the page https://eventyay.com/admin/events/deleted. In the action buttons list add a delete button to ultimately

[2020-11-09 17:03] mariobehling opened #5542 "Admin Pages: Change "Member Since" to date"
The column "member since" shows x days ago instead of a date. Please change the column to show a date on https://eventyay.com/admin/users/

![Screenshot from 2020-11-09 18-01-41](https://user-images.githubusercontent.com/1583873/98572347-d0a79280-22b5-11eb-8d59-91dcd7e7224d.png)

[2020-11-09 17:09] codedsun commented on #5542
Taking this up!

[2020-11-09 21:11] iamareebjamal commented on #4902
For backend, this is only possible if we define breaks as special sessions, as otherwise it won't be possible to mix session and breaks in API and UI.

So, we will define breaks as sessions with type break. So each break will be a new session with type `break`

[2020-11-09 21:29] mariobehling opened #5546 "Wizard Step 4: Sponsorship UI Feature Upgrade"
The sponsorship form needs a feature upgrade to cater for business users. Please see below pointers how this can work.

There should be two areas of the form:
1. Sponsorship Level
Here the organizers can define sponsorship levels (previously called types) like Platinum, Gold etc.
2. Sponsors and Partners
Here the specific sponsors are added into a level, that was created in step 1 above.
3. Previe

[2020-11-09 21:34] iamareebjamal commented on #5546
This will improve the UI and option in the wizard, but still not solve this issue - https://github.com/fossasia/open-event-frontend/pull/5532#issuecomment-724259354

Secondly, we'll have to discuss where we'll store the column information such that the database changes are not backward incompatible

[2020-11-09 21:41] mariobehling opened #5547 "Wizard Step 4: Implement an Image Size Control Slider for Sponsorship Image"
We need a control to adapt the image size as logos often come in different sizes and even if they have the same width in pixels they appear sometimes smaller or bigger to the user. Therefore we need to give the user more control over the display image size.

A way to achieve this is a slider to make an image smaller of bigger.

Please implement a slider similar to below above the image on the spon

[2020-11-09 21:44] mariobehling commented on #5546
Correct, this is why I just opened a separate issue https://github.com/fossasia/open-event-frontend/issues/5547. But it also give the user already more control here if we have the preview area as you suggested.

[2020-11-09 21:47] mariobehling commented on #5546
Regarding backward compatibility - if this is too much to take care of just find a simple solution and we go into the paid events and fix it in the form manually.

[2020-11-09 21:59] iamareebjamal commented on #5546
I'm afraid there is no simple solution and the only way this can be achieved is to store the column size with each sponsor like the type and level is being stored. Then it creates a conf;ict if 2 sponsors are in same level/type but have different columns. I was going to go with it already if level and type were synced 1:1, so we could extract it easily but that's not the case and thus same problem

[2020-11-09 22:00] mariobehling opened #5548 "Organizer: Attendee and Order Overview fix search"
The search on the organizer and attendee forms do not show results properly, e.g. First, Last name and email are not showing the relevant results.

Please ensure the search shows relevant results.

![Screenshot from 2020-11-09 22-58-37](https://user-images.githubusercontent.com/1583873/98601428-54c24000-22df-11eb-8efc-5ad0b27d1505.png)

[2020-11-09 22:01] iamareebjamal commented on #5547
This will be implementable but organizers will only be able to see the resized image in preview once they upload it, not while they are resizing

[2020-11-10 04:29] Soumi150 commented on #5548
Taking this up.

[2020-11-10 05:39] maverick0701 commented on #5547
For clarity, I am asking the slider needs to increase and decrease the size of the image

[2020-11-10 05:56] iamareebjamal commented on #5547
Yes

[2020-11-10 07:00] Saumyachitransh01 opened #5551 "Improper Alignment of Order Now alert box"
**Describe the bug**

Proper Alignment of alert box

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Eventyay platform' and make sure you're not logged in.
2. Click on any featured event
3. Scroll down and place order
4. See error: Inappropriate alignment of alert box

**Expected behaviour**

The contents of the alert box should be properly aligned and presentable.
**Screenshots**

![

[2020-11-10 07:14] #5116 closed

[2020-11-10 09:36] mariobehling opened #5555 "Event Export: Zip export download link not working"
After generating a zip file the download on the website is not working. The user receives an automated email with a download link, which is working. However, on the website itself there is an empty error message box and nothing happens.

Reproduce:
1. Create an event with details
2. Go to "Export" and export an event
3. Click Download button.

![Screenshot from 2020-11-10 10-32-40](https://user-im

[2020-11-10 10:05] mariobehling commented on #5551
Thanks! Please also:
* [ ] Reduce the size of the box
* [ ] Increase spacing of squeezed text (gray and black text is very close without any spacing)

[2020-11-10 10:07] sachinchauhan2889 commented on #5551
working on this

[2020-11-10 11:41] #5548 closed

[2020-11-10 13:00] mariobehling opened #5559 "Order Page: Remove empty spaces"
The order page has empty spaces (similar to the previous implementation of the dashboard). Please get rid of empty spaces.

![Screenshot from 2020-11-10 13-53-11](https://user-images.githubusercontent.com/1583873/98677265-14090c00-235d-11eb-89a2-1a085ee204eb.png)

[2020-11-10 13:06] Soumi150 commented on #5559
working on this.

[2020-11-10 13:30] mariobehling opened #5560 "Tab "Email" Implement Organizer Message and Email/Ticket PDF as Feature "Customize your order confirmation""
We need a way to allow organizers to share a message with ticket buyers right at the end of the order process, in the ticket email send to ticket buyers and in the ticket PDF. Custom Emails should be configurable through a tab on the Dashboard menu of events. Therefore please implement:

1. A tab "Custom Emails" on the organizer top menu of events behind the item "Tickets"
![Screenshot from 2020-1

[2020-11-10 13:43] #5551 closed

[2020-11-10 18:29] mariobehling opened #5563 "Mobile View: Footer use same width as above tiles"
The footer on the mobile view should have the same spacing to the left and right as the above area - with the tiles.

![Screenshot_20201110_192659_com android chrome](https://user-images.githubusercontent.com/1583873/98715854-fbafe600-238a-11eb-846e-e094f1a739b9.jpg)

[2020-11-10 18:36] mariobehling opened #5564 "Mobile View Top Menu: Move Burger Menu and Substitute Create Event with Login"
Please do the following changes for the mobile view:
* Move burger menu to top right
* Instead of "Create Event" show "Login" if user is not logged in

![Screenshot_20201110_193452_com android chrome](https://user-images.githubusercontent.com/1583873/98716518-fd2dde00-238b-11eb-9e1c-1d9c1aa1e389.jpg)

[2020-11-10 18:52] mariobehling opened #5566 "Mobile View: Order Page Issues"
The mobile view order page has a few issues. Please fix them:
* Event Information box is missing
* Order summary table should also be a table in mobile view as well
* Buttons "Tickets" and "Invoice should have some spacing in between and some more spacing to the text

![Screenshot from 2020-11-10 19-50-59](https://user-images.githubusercontent.com/1583873/98718083-3ebf8880-238e-11eb-86b0-98723ae53

[2020-11-10 19:35] Raunaksingh100 commented on #5564
Working on this issue

[2020-11-10 19:37] Raunaksingh100 commented on #5563
Working on this issue

[2020-11-10 19:45] Raunaksingh100 commented on #5563
I am working on this issue.

[2020-11-10 23:45] sachinchauhan2889 commented on #5564
working on this

[2020-11-11 03:32] #5559 closed

[2020-11-11 03:37] iamareebjamal opened #5570 "Replace link-input with link-field and social-link-field"
Replace all link-input component calls with link-field and social-link-field and then remove the component and all segmented link shenanigans from the project

[2020-11-11 03:38] sachinchauhan2889 commented on #5566
@iamareebjamal @mariobehling issue solved in #5561 . You can close this issue

[2020-11-11 04:01] sachinchauhan2889 commented on #5570
working on this.

[2020-11-11 04:03] #5566 closed

[2020-11-11 04:20] sentry-fossasia[bot] opened #5571 "EncodeError: Object of type User is not JSON serializable"
Sentry Issue: [EVENTYAY-SERVER-P](https://sentry.fossasia.org/organizations/eventyay/issues/225/?referrer=github_integration)

[code]

[2020-11-11 07:14] maze-runnar commented on #5537
on it

[2020-11-11 07:44] iamareebjamal commented on #5476
Deployed dev branch. Should work now

[2020-11-11 07:44] #5476 closed

[2020-11-11 08:12] #5564 closed

[2020-11-11 09:22] maze-runnar commented on #5537
@iamareebjamal  I think it is rearranging on server?

[2020-11-11 09:22] iamareebjamal commented on #5537
Frontend should sort it and always display custom fields on bottom

[2020-11-11 09:23] maze-runnar commented on #5537
ok

[2020-11-11 09:38] mariobehling opened #5572 "Improve Site Speed: Preload key requests"
According to the Google Page Speed test https://developers.google.com/speed/pagespeed/insights/?url=eventyay.com preloading key requests could improve the speed by 6 seconds. Please improve the speed by implementing the recommended changes as outlined in this article https://web.dev/uses-rel-preload/.

![Screenshot from 2020-11-11 10-36-43](https://user-images.githubusercontent.com/1583873/9879498

[2020-11-11 09:42] mariobehling opened #5573 "Improve Site Speed: Remove unused JavaScript"
According to the Google Page Speed test https://developers.google.com/speed/pagespeed/insights/?url=eventyay.com removing unused JavaScript could improve the site speed by over 3 seconds. Please improve the speed by implementing the recommended changes as outlined in this article https://web.dev/unused-javascript/.

![Screenshot from 2020-11-11 10-40-27](https://user-images.githubusercontent.com/1

[2020-11-11 09:47] mariobehling opened #5574 "Improve Speed: Eliminate render-blocking resources"
According to the Google Page Speed test https://developers.google.com/speed/pagespeed/insights/?url=eventyay.com eliminating render-blocking resources oould improve the speed by 2 seconds. Please improve the speed by implementing the recommended changes as outlined in this article https://web.dev/render-blocking-resources/.

![Screenshot from 2020-11-11 10-45-14](https://user-images.githubusercont

[2020-11-11 09:50] mariobehling opened #5575 "Improve Speed: Remove unused CSS"
According to the Google Page Speed test https://developers.google.com/speed/pagespeed/insights/?url=eventyay.com removing unused CSS could improve the speed by 2 seconds. Please improve the speed by implementing the recommended changes as outlined in this article https://web.dev/unused-css-rules.

![Screenshot from 2020-11-11 10-49-55](https://user-images.githubusercontent.com/1583873/98796437-a96

[2020-11-11 09:56] iamareebjamal commented on #5575
Unfortunately that can't be done with ember. Ember bundles the entire application in a single JS file. So someone loading just a frontend page with a single line of JS or CSS will receive JS and CSS of every page and component. That can't be solved until we move to embroider (next generation ember bundler) which I try every month and is not ready yet, I tried just this morning.

[2020-11-11 09:56] Raunaksingh100 commented on #5575
#  I am working on this issue plz don't make pr for this

[2020-11-11 09:57] mariobehling opened #5577 "Improve Site Speed: Minify CSS"
According to the Google Page Speed test https://developers.google.com/speed/pagespeed/insights/?url=eventyay.com minifying CSS could improve the speed by 1.2 seconds. Please improve the speed by implementing the recommended changes as outlined in this article https://web.dev/unminified-css/

![Screenshot from 2020-11-11 10-54-40](https://user-images.githubusercontent.com/1583873/98797212-943a7a80-

[2020-11-11 10:01] iamareebjamal commented on #5574
Same problem as #5575. And even worse part is that we have an SPA, so everything is loaded through JS, so we have little control over deferring the render blocking resources.
If we could use rollup or webpack (like in React or Vue), it would have been somewhat doable, but still not as flexible as a handwritten server side rendered page. But we can't even do the webpack thing, cause ember...

[2020-11-11 10:02] iamareebjamal commented on #5573
Same problem as #5575

[2020-11-11 10:04] iamareebjamal commented on #5577
That's probably wrong metric because our css is already minified but I'll check why is it showing it as unminified.

[2020-11-11 10:07] mariobehling opened #5578 "Call for Speakers: Event Showing Up on Frontpage even though CfS is deactivated"
An event is listed in the section "Call for Speakers" on the front page even though the CfS of that event is deactivated. However, the event has speakers and sessions.

![Screenshot from 2020-11-11 11-05-06](https://user-images.githubusercontent.com/1583873/98798307-08c1e900-240e-11eb-93f8-83a49422b7c0.png)

[2020-11-11 10:09] iamareebjamal commented on #5572
Same problem as #5575
Secondly preload works good for prerendered and pregenerated (server side rendered pages) because browser - can see the resources and download them while rest of the stuff is loading. Because our page is rendered using JS, the resources needed to be loaded on a page is dynamic and cannot be preloaded. Even if there was a way to add preload tags when the javascript runs, it wi

[2020-11-11 10:12] #5072 closed

[2020-11-11 10:12] mariobehling opened #5579 "Improve Site Speed: Reduce number of events on front page"
The frontpage has a nice number of events. Unfortunately the front page is still relatively slow. Therefore please reduce the number of events shown on the front page as follows:

- Featured Events: 6
- Upcoming Events: 12
- Call for Speakers: 6

Ensure to show a link "More events" at the end of a section if there are more events available in the category.

[2020-11-11 10:14] sachinchauhan2889 commented on #5579
Working on this

[2020-11-11 10:14] jasssingh2345 commented on #5131
I will fixed last points of this issue @mariobehling @iamareebjamal can you add the codeheat label for this

This is my first codeheat label issue

[2020-11-11 11:39] mariobehling commented on #5579
Please check: There are differences loading the mobile and the desktop versions as well. Especially the mobile version has a lot of ways to be improved.

[2020-11-11 11:40] mariobehling commented on #5577
Ok, I see - this seems to be about the mobile page.

[2020-11-11 12:14] Saumyachitransh01 commented on #5570
There's only 1 file consisting of link-input.

![Screenshot from 2020-11-11 17-39-39](https://user-images.githubusercontent.com/55341933/98810390-2f4f4680-2445-11eb-819b-57068b549ddc.png)

So only this needs to be changed?

[2020-11-11 12:23] snitin315 commented on #5570
Nope, its a test.

[2020-11-11 12:23] snitin315 commented on #5570
See https://github.com/fossasia/open-event-frontend/search?q=LinkInput

[2020-11-11 12:28] maze-runnar commented on #5578
on it

[2020-11-11 12:37] iamareebjamal commented on #5574
And also, we have a JS rendered site, so there is no render to be blocked anyway. It's just a blank page. This is also only applicable generally for sites which are rendered on servers like https://www.newsgallery.com/

[2020-11-11 12:39] #5563 closed

[2020-11-11 12:48] Saumyachitransh01 commented on #5570
Okay thanks

[2020-11-11 12:54] progmatic-99 opened #5580 "Link installation steps for server in frontend using docker-compose"
In the installation steps using, link steps for installing open-event-server using docker-compose

[2020-11-11 12:56] #5580 closed

[2020-11-11 13:23] iamareebjamal commented on #5577
We don't bundle mobile and desktop CSS differently so that shouldn't be the case. The CSS is minified, maybe it's misreporting about sourcemaps which I have removed, but nothing else to be done

[2020-11-11 13:30] mariobehling commented on #5476
ok, thanks. Process works now, but sites do not get build due to error. Already opened another issue.

[2020-11-11 13:31] #5537 closed

[2020-11-11 13:31] #5577 closed

[2020-11-11 15:24] daretobedifferent18 commented on #5526
I am working on this issue

[2020-11-11 21:51] #5542 closed

[2020-11-12 02:09] maze-runnar commented on #5110
@iamareebjamal is it not to show an event on start page if an event does not have a public ticket?

[2020-11-12 02:33] iamareebjamal commented on #5110
Yes

[2020-11-12 06:25] Raunaksingh100 commented on #5572
i am working on this issue

[2020-11-12 06:33] #5578 closed

[2020-11-12 06:46] Raunaksingh100 commented on #5575
@iamareebjamal @mariobehling i found this files for unused css
![123](https://user-images.githubusercontent.com/65535360/98905120-e220b280-24e0-11eb-9543-92af7b15d4b4.PNG)

[2020-11-12 07:20] Raunaksingh100 commented on #5572
i am working on this

[2020-11-12 10:17] cggvuhh commented on #5579
@sachinchauhan2889 are you working on this issue ??

[2020-11-12 11:53] #5526 closed

[2020-11-12 12:40] daretobedifferent18 commented on #5449
I am working on this issue.

[2020-11-12 13:07] daretobedifferent18 commented on #5449
@mariobehling @iamareebjamal I have a question. What if there are only one type of tickets for an event and eventOrganizer have manually selected that minOrder for that event is for e.g. '3' then I think per-selecting '3' tickets instead of 1 would be better.
So what I conclude is that if there are only type of tickets then instaed of pre-selecting '1' we should select minOrder.
What do you say on

[2020-11-12 13:08] iamareebjamal commented on #5449
Correct

[2020-11-12 13:16] mariobehling commented on #4993
For the box "Mixed Events", "Online" and "Location" you can define a menu item "Setting" and make it similar to the areas like `> Date`.

When the user clicks "Location" there should be a box to enter a location and filter the location according to the location entered, e.g. Singapore (similar to the custom date option functionality).

![Screenshot from 2020-11-12 14-12-33](https://user-images.git

[2020-11-12 13:18] maze-runnar commented on #5110
@iamareebjamal  it means that if the sales time of the ticket is passed it should not show on the start page?

[2020-11-12 13:23] iamareebjamal commented on #5110
Yes

[2020-11-12 13:25] mariobehling opened #5590 "Orders/Tickets: Show different time to local event time"
Generated tickets do not show the correct local time. Maybe they show GMT or it is unclear what time they show.

Download tickets through: https://eventyay.com/events/1f720482/tickets/orders/completed

![Screenshot from 2020-11-12 14-24-26](https://user-images.githubusercontent.com/1583873/98945490-dd64fa00-24f2-11eb-8d5b-508c7bc7f457.png)

Correct would be 1:30 PM to 5:00 PM
https://eventyay.com/

[2020-11-12 13:38] mariobehling commented on #5590
If possible show the timezone e.g. CET and make the date format in the way like Thursday, 19 Nov. 2020.

[2020-11-12 13:56] iamareebjamal commented on #5590
@mariobehling We're using this format `March 19, 2020 06:30 AM` on server everywhere

[2020-11-12 14:03] mariobehling commented on #5590
@iamareebjamal also good. Thank you!

[2020-11-12 14:15] #5590 closed

[2020-11-12 14:54] maze-runnar commented on #5110
what it exactly means?

[2020-11-12 15:13] sachinchauhan2889 commented on #5579
@cggvuhh yes

[2020-11-12 15:29] iamareebjamal commented on #5110
If there are 10 tickets and all of them are sold

[2020-11-13 03:24] #4222 closed

[2020-11-13 08:09] Draco9421 commented on #5555
I am working on this.

[2020-11-13 08:50] maze-runnar commented on #5263
![captured (1)](https://user-images.githubusercontent.com/56407566/99048191-3ef09b80-25bb-11eb-935b-a5804234bf52.gif)

[2020-11-13 09:00] maze-runnar commented on #5263
@iamareebjamal it is connected successfully in testing mode.  here is the working https://youtu.be/9p5QeGejs98, and it's working fine.

[2020-11-13 09:03] iamareebjamal commented on #5263
Yes, it does not happen always

[2020-11-13 11:15] mariobehling opened #5602 "Attendee Custom Form: No error message on some fields and changed order on live form"
The attendee form has a few issues:
1. If a user does not enter required information some form fields do not show the red required field, e.g. Company, but also check all other fields, please.
![Screenshot from 2020-11-13 12-11-17](https://user-images.githubusercontent.com/1583873/99066628-8e2dd080-25a9-11eb-9896-8e1c05e61638.png)
2. The order of standard fields and custom form fields is changed,

[2020-11-13 11:26] sachinchauhan2889 commented on #5602
Working on this

[2020-11-13 12:24] mariobehling opened #5603 "Order Pages: Get rid of unsed spaces between boxes in templates of the order process"
The order process has a number of templates that show spaces that are not fulfilling any needs between the boxes. Please take out those spaces in particular below the order summary. Check all pages in the order process and ensure the space do not appear anymore.

![Screenshot from 2020-11-13 13-21-35](https://user-images.githubusercontent.com/1583873/99071941-62afe380-25b3-11eb-839e-fe82c8453882.p

[2020-11-13 12:27] mariobehling opened #5604 "Country List in Forms show historic countries that do not exist today"
Please update the country list used in forms to only show countries that exist today.

Part of the issue is, that you research the list of countries that exist today or find a library that is up to date.

![Screenshot from 2020-11-13 13-25-13](https://user-images.githubusercontent.com/1583873/99072172-ccc88880-25b3-11eb-876a-457d42321fd3.png)

[2020-11-13 12:29] sachinchauhan2889 commented on #5603
Working on this. Please don't send pr

[2020-11-13 12:40] Draco9421 commented on #5555
@mariobehling It is always giving "Event export failed" error whenever I click on the start buttton. Can you help me to pass through it.

[2020-11-13 13:03] sachinchauhan2889 commented on #5604
working on this

[2020-11-13 13:05] Saumyachitransh01 commented on #5602
Working on this

[2020-11-13 13:58] mariobehling opened #5608 "Order Forms: Acknowledgement text and button not suitable"
Order only contains free tickets:
* Text: Change text: By clicking "Pay Now", I acknowledge that I have read and that I agree with all the terms of services and privacy policy of Open Event. -> By clicking "Order Now", I acknowledge that I have read and that I agree with the [terms of services](https://eventyay.com/terms) and [privacy policy](https://eventyay.com/privacy-policy) on this website.
*

[2020-11-13 14:01] sachinchauhan2889 commented on #5608
Taking this up

[2020-11-13 14:09] iamareebjamal commented on #5604
None

[2020-11-13 14:10] #5602 closed

[2020-11-13 14:18] mariobehling opened #5609 "Translations: Make all areas translatable"
It seems some areas in the system are not translatable yet. Please make all areas translatable. Below a list of areas I identified as currently not translatable:

* All Tables
   * Dashboard
   * Speakers
   * Sessions and session filters
   * Session columns: Accepted and other statuses
   * Admin sections

* Wizard:
   * Location/Online
   * Dropdown event types etc.
   * Custom Attendee Form fi

[2020-11-13 14:42] Afzal-Ind commented on #5608
@mariobehling Hi, could you take me through this link? Thanks.

[2020-11-13 14:48] sachinchauhan2889 commented on #5608
@Afzal-Ind i am already working on this

[2020-11-13 15:09] Afzal-Ind commented on #5608
@sachinchauhan2889 Hi, I can see your comment. Keep it up. BTW no one is assigned yet. @iamareebjamal Hi, Could you help me get into this code? Thanks.

[2020-11-13 15:10] iamareebjamal commented on #5608
We don't assign external contributors

[2020-11-13 15:13] Afzal-Ind commented on #5608
Fine Sir, I got you. But could you provide me with the link?

[2020-11-13 16:04] Saumyachitransh01 commented on #5608
I'm taking this. @sachinchauhan2889 you're commenting on every issue consequently. So please submit your PR and leave the rest to the mentors.

[2020-11-13 16:40] #5572 closed

[2020-11-13 21:13] mariobehling opened #5614 "Order Page and Ticket PDF Download: Show Location, Online Event, Mixed Event or To be Announced info correctly"
On the order page there is currently only an "At" info for location based events.
![Screenshot from 2020-11-13 22-02-15](https://user-images.githubusercontent.com/1583873/99121555-e3df9880-25fc-11eb-9693-bf960ddfb6c1.png)

Also on the ticket PDF the info is only available for location events or "none" is shown.
![Screenshot from 2020-11-13 22-09-46](https://user-images.githubusercontent.com/158387

[2020-11-13 21:30] mariobehling opened #5615 "Order Checkout Page: Move Paypal and "Pay Now" button below first right hand side box and expand"
The Paypal and Pay Now (Stripe) button are below the left hand box.

Please change the location and design as follows:
1. Move the buttons below the first right hand box to the same location where the "Ticket Download" and "Invoice Download" are positioned on the completed order page.
2. Make the buttons to the same width as the box and increase the height a bit (but make it somewhat fit into the

[2020-11-13 21:36] mariobehling opened #5616 "Order Page and Completed Order Page: Change "Go to event""
Event payment page and completed order page have a link "Go to event". Please change it as follows:

1. On event payment page, do not show "Go to event" anymore and delete the area where the links wha located. Basically, do not show an empty space there.

2. On the completed order page enhance it as follows:
    * add a website icon in front of text
    * Change "Go to event" to "Go to event page"

[2020-11-13 21:45] MeghalBisht commented on #5615
I'm working on it, allow me a day to revert. Thanks

[2020-11-13 22:56] daretobedifferent18 commented on #5616
I am working on this issue

[2020-11-13 23:32] sachinchauhan2889 commented on #5614
Working on this

[2020-11-14 00:55] #5603 closed

[2020-11-14 00:56] iamareebjamal commented on #5614
Server Issue

[2020-11-14 01:02] #4615 closed

[2020-11-14 01:03] #5449 closed

[2020-11-14 01:11] iamareebjamal opened #5619 "Replace momentjs by dayjs"
Moment JS has stopped being maintained and is huge in comparison to alternatives (70 KB vs 2 KB). Even though date-fns would be a good choice considering it is tree shakable, but dayjs uses same API as moment and is just 2 KB so it will be easier to migrate to. It also uses modern browser data for timezone and such which makes it obsolete to bundle that data with JS, and most of our users use mode

[2020-11-14 05:14] codedsun commented on #5619
Taking this up!

[2020-11-14 05:42] iamareebjamal commented on #5619
This is a huge task. Let other codeheat people take this up. There are many issues in server and you are more comfortable in server as well, whereas no codeheat participant is. So, it'd be better to take up server issues for now

[2020-11-14 06:44] Soumi150 commented on #5619
I am working on this.

[2020-11-14 07:23] iamareebjamal opened #5622 "Investigate why application.hbs is not rendered while loading"
Ember Routes have `model` hook which blocks rendering while it resolves. This gives ember apps the classic blank look the users stare at waiting while the API calls are happening. `application.hbs` is the main skeleton of an ember app which is shown first and `loading.hbs` is shown inside when the route is being loaded.

So, this is the order of things displaying and loading:

[code]

If there is

[2020-11-14 08:00] #5615 closed

[2020-11-14 08:51] mariobehling opened #5623 "Complete Order Page: Implement Per Ticket Download"
The complete order page currently shows a button "Download Tickets" for all tickets in an order. This is useful for many cases. However it might be difficult if e.g. a company representative gets tickets for a number of people and then wants to send them their specific ticket or if we want to share rights to access (permissions to) a specific ticket to another account in future.

Therefore please

[2020-11-14 08:57] iamareebjamal commented on #5623
Blocked on https://github.com/fossasia/open-event-server/issues/7397

[2020-11-14 09:23] mariobehling commented on #5623
**To be tested:**
* When resolving resolving this issue, please check if the attendee information for different tickets and attendees shows up correctly here in the box "Ticket Holder's Information".

[2020-11-14 11:47] mariobehling opened #5624 "Order Page and Complete Order Page: Choose better icon for "Ticket Buyer Information""
The ticket buyer information uses the same icon as the ticket holder's information. Please find and implement a better suited different icon, maybe something related to money or payment?

![Screenshot from 2020-11-13 22-29-04](https://user-images.githubusercontent.com/1583873/99123014-acbeb680-25ff-11eb-9309-2a0ec6b010ee.png)

[2020-11-14 12:04] MeghalBisht commented on #5624
Taking this up, will update by today

[2020-11-14 22:34] mariobehling opened #5629 "Order Process Pages: Choose better icon for "Acknowledgement""
The icon for acknowledgement is the same as for ticket holder. Please find a better icon for acknowledgement in the order process form sepcifically.

![Screenshot_20201114-181302](https://user-images.githubusercontent.com/72552281/99147286-cadef200-26a5-11eb-9476-78dc1a932c50.png)
 Add this icon on order form also.

[2020-11-15 01:04] Raunaksingh100 commented on #5629
#  I am working on this plz don't make pr for this

[2020-11-15 03:21] mariobehling opened #5631 "Organizer Ticket Sales Overview: Fix Sales Calculation"
The calculation of the sales on past events is wrong. The numbers do not add up correctly and the sales have many number after the dot.

Even though events are old I assume that the calculation needs to be fixed as the same error could appear on new events.

Please compare (access for admins only) https://eventyay.com/events/3689bc98/tickets

![Screenshot from 2020-11-15 04-17-31](https://user-ima

[2020-11-15 03:23] mariobehling opened #5632 "Completed Order Page: Change Invoice Icon"
Please use the linked icon for the Invoice button on the completed order page: https://fontawesome.com/icons/file-invoice?style=solid

![Screenshot from 2020-11-13 22-29-04](https://user-images.githubusercontent.com/1583873/99162119-423e7100-26fa-11eb-89b3-65a6bb0f1296.png)

[2020-11-15 03:33] Gautam-Arora24 commented on #5632
Working on this

[2020-11-15 03:36] iamareebjamal commented on #5631
We need to fix the formatting but the amount is correct

[code]

[2020-11-15 07:58] Raunaksingh100 commented on #5632
@Gautam-Arora24 are you working on this if not can i fixed this issue.

[2020-11-15 09:12] mariobehling opened #5633 "Spam User: Not able to delete the account"
Sometimes some accounts make the effort to go through the entire process and create a spam entry, but it currently fails to delete these accounts right after an event was deleted.

Steps to take:
1. Delete an event that is associated with an event.
2. The event is moved to "Deleted Events" (but probably still associated with that account email)"
3. Try to delete the spam user, e.g. bakerwagon@gmai

[2020-11-15 09:23] mariobehling commented on #5342
This issue is still there just as before. Sessions still show up in https://eventyay.com/my-sessions/upcoming
Reproduce:
* Create an event
* Add sessions and speakers without email to your account and set them to accepted
* Go to https://eventyay.com/my-sessions/upcoming

Part of this issue is that these sessions are associated with the email of the event owner, if the owner does not add an email.

[2020-11-15 09:30] Gautam-Arora24 commented on #5632
@Raunaksingh100 I am working on this

[2020-11-15 10:19] mariobehling opened #5635 "Footer "Connect with us": Add icon and option for Weblate"
Please add another option to add a link to Weblate to the Footer.

The link we want to use is https://hosted.weblate.org/engage/open-event/, but it should be configurable just like the other options in this footer area.

![Screenshot from 2020-11-15 11-17-07](https://user-images.githubusercontent.com/1583873/99182286-628b2180-2734-11eb-83a5-e84430febe46.png)

[2020-11-15 10:21] sachinchauhan2889 commented on #5635
Taking this up

[2020-11-15 10:28] mariobehling opened #5636 "Ticket Invoice: Implement better design and add missing information"
The ticket invoice is very basic and can be improved a lot. We already have an invoice for event owners. Therefore:
* Reuse the event owner template and implement it for ticket buyers.
* Ensure to test this with the full information, e.g. in Wizard step 1 organizers have the option to enter company and tax information. Show this information on the ticket invoice

[2020-11-15 10:28] snitin315 commented on #5635
@sachinchauhan2889 for reference you can check https://github.com/fossasia/open-event-frontend/pull/4974 & https://github.com/fossasia/open-event-server/pull/7243

[2020-11-15 11:41] akshatsood2249 opened #5640 "Joining the Organisation"
I visited the homepage, it says you have to contribute to projects in order to join FOSS-ASIA. But recently I got to know about four to five people who are a member of FOSS-ASIA but have no prior activity before joining, is this via any sort of event or what? can someone please explain to me

[2020-11-15 11:45] iamareebjamal commented on #5633
I don't think the event should be disassociated with the account because then it'll be impossible to know which user it was associated with. The failure to delete user is probably a logical error. If the event associated with the account has been deleted, it should be possible to delete it

[2020-11-15 11:51] iamareebjamal commented on #5640
Please use chat channel for questions, issue section is solely for code related bugs and feature discussion https://gitter.im/fossasia/open-event-frontend

[2020-11-15 11:51] #5640 closed

[2020-11-15 12:02] #5629 closed

[2020-11-15 12:18] daretobedifferent18 commented on #5623
I am working on this.

[2020-11-15 12:19] #5616 closed

[2020-11-15 12:30] sachinchauhan2889 commented on #5635
@snitin315 thank you so much for references.

[2020-11-15 13:13] daretobedifferent18 commented on #5636
I am working on this issue.

[2020-11-15 13:17] #5633 closed

[2020-11-15 13:22] mariobehling opened #5642 "Frontpage Tags not directing to filtered search page"
Frontpage tags are currently not directing to any filtered search result.

![Screenshot from 2020-11-15 14-22-28](https://user-images.githubusercontent.com/1583873/99186073-03d2a180-274e-11eb-8cf0-76e315b500fa.png)

[2020-11-15 13:50] #5614 closed

[2020-11-15 14:30] mariobehling opened #5643 "Attendee Export: CSV/PDF does not include all the questions set on the attendee form (Wizard step 3)"
We have the option to add questions to the attendee form in the wizard step 3. Currently this information is only shown on the personal ticket order page.

We need this information to be available on the Export File of the CSV and PDF.

Compare to the Techcul event and export from the attendee page: https://eventyay.com/e/ae73f280

![Screenshot from 2020-11-15 15-29-35](https://user-images.githubu

[2020-11-15 14:37] iamareebjamal commented on #5643
Duplicate of #4615?

I just exported the CSV and PDF and it has both the questions
![image](https://user-images.githubusercontent.com/3874064/99187718-3eecc900-277e-11eb-9c38-54d42e5e3822.png)

[2020-11-15 14:39] mariobehling commented on #5643
@hpdang Did you try again? Please check.

[2020-11-15 14:49] hpdang commented on #5643
Works, closed the ticket now

[2020-11-15 15:53] cggvuhh opened #5645 "change the billing information icon which save as ticket icon"
**Describe the bug**
change the icon of the billing information which is similar to ticket icon see in the screenshot for the better understanding.

**Screenshots**
![before](https://user-images.githubusercontent.com/68186540/99189762-d1926580-2788-11eb-9bfe-b06ccf582412.PNG)

[2020-11-15 15:53] Raunaksingh100 commented on #5645
i am working on this

[2020-11-15 16:00] mariobehling opened #5647 "Pricing Page: Make it translatable"
Make the pricing page part of the system and translatable. Compare: https://eventyay.com/pricing

![Screenshot from 2020-11-15 17-00-01](https://user-images.githubusercontent.com/1583873/99189927-050ec900-2764-11eb-93da-a442e24ec76d.png)

[2020-11-15 17:23] #5632 closed

[2020-11-15 18:32] Gautam-Arora24 commented on #5642
Where should these tags redirect a user?

[2020-11-15 19:47] #5645 closed

[2020-11-15 21:10] daretobedifferent18 commented on #5014
I am working on this issue.

[2020-11-15 23:11] daretobedifferent18 commented on #5438
I am working on this

[2020-11-16 01:21] aryamanprince commented on #5277
Can i work on it if no one is working?
I think it would be handy to use regular expressions to compare email entered with valid email address and hence we can validate email addresses.

[2020-11-16 02:03] maze-runnar commented on #5263
@iamareebjamal when trying to connect stripe as an `organizer`, it giving `{"errors": [{"status": 404, "source": {"parameter": "event_id"}, "title": "Object not found", "detail": "StripeAuthorization: 3 not found"}], "jsonapi": {"version": "1.0"}}` .

[2020-11-16 02:14] iamareebjamal commented on #5277
Go ahead

[2020-11-16 02:17] iamareebjamal commented on #5642
Issue Title: Frontpage Tags not directing **to filtered search page**
Issue Body: Frontpage tags are currently not directing to **any filtered search result**.

[2020-11-16 02:47] maze-runnar commented on #5263
Now another case, if the event is not published, there is no error in connection of stripe by organizer too.

[2020-11-16 02:53] maze-runnar commented on #5263
IF an owner has published an event, and then an organizer tries to edit stripe then it is giving an error. But if again organizer unpublish the event and then edit the stripe connection it is working correctly and then he can publish the event. And after the organizer has published the event he can edit the stripe connection in the published state too without any error.

[2020-11-16 03:39] maze-runnar commented on #4996
@iamareebjamal what remaining in this issue?

[2020-11-16 04:09] aryamanprince commented on #5277
![Screenshot from 2020-11-16 09-32-13](https://user-images.githubusercontent.com/57310026/99211930-9aa36a80-27ef-11eb-8aa7-ec811cc9ad3d.png)

you want a check at this location?
if you could tell me working directory it will be highly helpful..

[2020-11-16 04:41] mariobehling opened #5654 "Wizard Step 1: Standardize spacing between sections"
There are different section on the wizard. The spacing is different between each section of the wizard and currently some sections are squeezed together very much. Please standardize the spacing between form topic sections in the wizard, e.g. date/time and description below etc. Ensure sections have some spacing in between.

![Screenshot from 2020-11-16 05-37-55](https://user-images.githubusercont

[2020-11-16 05:02] Raunaksingh100 commented on #5654
I am working on this issue plz don't make pr for this thanks.

[2020-11-16 06:05] iamareebjamal opened #5655 "Class based forms trigger submit action twice"
Any component of type
[code]
triggers action `submit` twice on button click which makes the frontend save a form twice and produce errors.

Both the triggers have slightly different stack traces and the old non-class based components only get triggered once with the first stack trace

[code]

[code]

[2020-11-16 10:30] madhur1846 commented on #5642
@mariobehling sir i am new to open source can you tell me more about this issue? (describe)

[2020-11-16 10:42] sachinchauhan2889 commented on #5636
@mariobehling sir, do you mean
- event owner invoice by this https://github.com/fossasia/open-event-server/blob/49d8f4da213708338654a780d1abb23981c56318/app/templates/pdf/event_invoice.html
- ticket invoice by this https://github.com/fossasia/open-event-server/blob/49d8f4da213708338654a780d1abb23981c56318/app/templates/pdf/order_invoice.html

[2020-11-16 12:19] maze-runnar commented on #5263
@iamareebjamal is all the above consequence related to server and permissions?

[2020-11-16 12:23] maze-runnar commented on #5444
@mariobehling can you please confirm here?

[2020-11-16 12:28] iamareebjamal commented on #5263
No, both server and frontend

[2020-11-16 12:28] #5444 closed

[2020-11-16 12:28] iamareebjamal commented on #5444
Will reopen when confirmed

[2020-11-16 19:52] RajSrinivasJena commented on #5647
@mariobehling can I work on this ?

[2020-11-16 19:56] RajSrinivasJena commented on #5619
Can I Work on it ?

[2020-11-17 03:47] Soumi150 commented on #5619
@RajSrinivasJena  I am already working on it.

[2020-11-17 05:18] mariobehling opened #5666 "Mobile Event Page: Logo, Date, title not fully visible"
Please implement a better handling of intro data on the top area on mobile pages.
![Screenshot_20201117_061533_com android chrome](https://user-images.githubusercontent.com/1583873/99349623-badd3300-289c-11eb-8354-ead551e4aaaf.jpg)

[2020-11-17 06:16] maze-runnar commented on #5263
After editing event one time events, moved from organizer to owner section.
![scrnli_11_17_2020_11-46-05 AM](https://user-images.githubusercontent.com/56407566/99353441-81232100-28ca-11eb-833d-d725b5ef5741.png)
![scrnli_11_17_2020_11-44-31 AM](https://user-images.githubusercontent.com/56407566/99353443-83857b00-28ca-11eb-84df-795d522be6d7.png)

[2020-11-17 06:20] purnima143 commented on #5666
@mariobehling  May I work on this?

[2020-11-17 06:29] Raunaksingh100 commented on #5666
Go ahead!!

[2020-11-17 09:04] mariobehling opened #5667 "Order Success Page shows 0 Tickets in Overview"
Some ticket order pages show 0 tickets, but ticket download and invoice work.

Compare: https://eventyay.com/orders/2522eba2-9af2-4315-9a7f-d49da114491d/view

![Screenshot from 2020-11-17 10-04-07](https://user-images.githubusercontent.com/1583873/99369062-40241000-28bc-11eb-9c4a-90bfe44022f7.png)

[2020-11-17 09:07] iamareebjamal commented on #5667
![image](https://user-images.githubusercontent.com/3874064/99369437-6f4d7800-28e2-11eb-9b59-93d0547f7c6d.png)

Duplicate of #4613

[2020-11-17 09:10] mariobehling commented on #5667
The error seems to appear since this merge https://github.com/fossasia/open-event-frontend/pull/5591

[2020-11-17 09:11] mariobehling commented on #5667
Please also check https://eventyay.com/events/1f720482/tickets/orders/completed

[2020-11-17 09:12] mariobehling commented on #5667
The pre-selected field on the order form also appears like an inactive field in the drop-down menu.

![Screenshot from 2020-11-17 10-11-33](https://user-images.githubusercontent.com/1583873/99369948-5aaab900-28bd-11eb-883f-ee218d6b8c16.png)

[2020-11-17 09:13] mariobehling commented on #5667
0 tickets ordered.

![Screenshot from 2020-11-17 10-13-07](https://user-images.githubusercontent.com/1583873/99370086-8463e000-28bd-11eb-8ae1-5f93b4f37a63.png)

[2020-11-17 09:14] iamareebjamal commented on #5667
No that is the same error as #4613 and existed before merging of #5591

#5591 doesn't touch any order related file

[2020-11-17 09:15] mariobehling commented on #5667
ok, so first time happened on Nov. 14 it seems.

[2020-11-17 09:16] iamareebjamal commented on #5667
![image](https://user-images.githubusercontent.com/3874064/99370307-880a5d80-28e3-11eb-83f7-9e6df4cbc793.png)

Same as #4613, only happens when you go back and forth the table and detail view

[2020-11-17 09:17] mariobehling commented on #5667
Ok, this bug appears on several different pages now. Quite bad.

[2020-11-17 09:18] iamareebjamal commented on #5667
#4613 and #5176 are same family of issues but this issue is same as #4613 because both issues mention order page and 0 tickets bought.

[2020-11-17 09:25] mariobehling opened #5668 "Organizer Orders Overview Page showing Given Name instead of Full Name, Also shows date 2 times on table"
Please change the order page as follows:
* In the first column show full name instead of given name only
* take out the date and time in the first column (we already have it in the second column)

![Screenshot from 2020-11-17 10-21-33](https://user-images.githubusercontent.com/1583873/99371420-2afcb080-28bf-11eb-99cf-8f3b5c9abc9a.png)

[2020-11-17 09:33] mariobehling opened #5669 "Organizers Attendees Overview Page: Adjust first column and move date"
Please change the organizer attendees overview page as follows:
* from the first column take out the emails "by someemail@gmailliosomething.com"
* move "Date and Time" from first column to its own column
* create a column for "Date and Time" between ticket name and ticket price
* take out the xx days ago

![Screenshot from 2020-11-17 10-33-44](https://user-images.githubusercontent.com/1583873/9937

[2020-11-17 09:49] #5014 closed

[2020-11-17 10:28] sachinchauhan2889 commented on #5669
taking this up

[2020-11-17 11:12] #5010 closed

[2020-11-17 11:19] sachinchauhan2889 commented on #5668
taking this up

[2020-11-17 11:58] Gumanpratapsingh commented on #5456
I am trying it.

[2020-11-17 14:16] mariobehling opened #5675 "Wizard Step 1: Match color of activated "Event Types" boxes to other boxes"
The event types boxes have a black color line when they are activated, while other boxes have a blue color.

Please match the event types boxes colors and style with the other boxes. While the timezone box has a blue line around the entire form area, the event types box only has a black line around the top area. Please change this.

Compare timezone
![Screenshot from 2020-11-17 15-12-28](https://u

[2020-11-17 14:27] Alok-Singh-ops commented on #5675
i wanna work on this issue. Please assgin this to me and since i am new to repo guide me

[2020-11-17 14:38] iamareebjamal commented on #5675
We don't assign issues and we don't have the bandwidth to guide individual contributors.

[2020-11-17 14:41] iamareebjamal commented on #5675
Copying message from pull request for contributors:

"That's a different component from semantic UI component because semantic UI component does not work with items with & in them. We'll have issues like #4546 if we revert to semantic UI dropdown"

[2020-11-17 14:43] daretobedifferent18 commented on #5675
I am working on this

[2020-11-17 14:56] daretobedifferent18 commented on #5675
@mariobehling we can't change it, we have limited options with which we can manipulate in PowerSelect Component.
every border in PowerSelect is linked with each other so changing any one will lead to change in border of entire component

[2020-11-17 18:01] imrajat7 commented on #5573
@mariobehling @iamareebjamal can i work on it ?

[2020-11-17 18:02] iamareebjamal commented on #5573
You can try

[2020-11-17 20:12] RahulBansal123 commented on #5277
can i work on this?

[2020-11-17 22:02] RahulBansal123 opened #5682 "Broken Link"
Broken Link in fastboot/initializer/ajax.

Please assign it to me.

[2020-11-18 02:07] aryamanprince commented on #5277
i am currently working on it

[2020-11-18 02:09] #5669 closed

[2020-11-18 02:17] #5668 closed

[2020-11-18 02:58] #5675 closed

[2020-11-18 07:40] RahulBansal123 commented on #5642
can i work on this?

[2020-11-18 07:57] #5101 closed

[2020-11-18 07:57] #5299 closed

[2020-11-18 08:29] madhur1846 commented on #5642
Working on it

[2020-11-18 09:00] maze-runnar commented on #5667
is this happening because of `ember-data-has-many-query` as @iamareebjamal once told me in an issue?

[2020-11-18 09:01] iamareebjamal commented on #5667
Yes, the one I linked above

[2020-11-18 12:01] RahulBansal123 commented on #5277
any updates?

[2020-11-18 12:22] #5655 closed

[2020-11-18 12:38] maze-runnar commented on #5667
If it is that bad then Until `ember-data-has-many-query` alternative is not found, for resolving this issue opening page in a new tab for the order is a good workaround, only for opening order details on a new page.

[2020-11-18 13:02] iamareebjamal commented on #5667
That won't fix other issues related to it. We need to create our version of query method

[2020-11-18 13:02] #5604 closed

[2020-11-18 13:03] maze-runnar commented on #5667
ok

[2020-11-18 15:14] daretobedifferent18 commented on #5277
I am working on it.

[2020-11-18 15:29] maze-runnar commented on #5667
https://github.com/emberjs/ember.js/issues/15256
[code]

`itemsCategoryA: Ember.computed.filterBy('items', 'category', 'a'),`

is it can be a way here?

[2020-11-18 15:55] Saumyachitransh01 commented on #5560
Working on this

[2020-11-18 16:21] aryamanprince commented on #5277
what is this attitude @daretobedifferent18 when i mentioned i was working how can you take up an issue? really disgusting.

[2020-11-18 16:23] #5631 closed

[2020-11-18 16:27] iamareebjamal commented on #5667
No, we need a way to be able to query related items with custom query parameters

[2020-11-18 17:28] #4001 closed

[2020-11-18 17:33] #5462 closed

[2020-11-18 19:37] raj-singh-coder commented on #5666
@mariobehling can I work on this issue to resolve it?

[2020-11-19 05:57] Saumyachitransh01 commented on #5624
If this isn't resolved yet. Can I submit my PR now?

[2020-11-19 07:58] MeghalBisht commented on #5624
PR is still open for this issue, waiting for response from the moderators

[2020-11-19 09:33] #5654 closed

[2020-11-19 09:59] Saumyachitransh01 opened #5692 "Registration deadline not working"
**Describe the bug**

Registration deadline not working
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to eventyay.com
2. Click on any event and place order
3. After 15 minutes of registration process, the clock shows 59:59

**Expected behaviour**
It should show an alert message that order is cancelled
**Screenshots**

![Screenshot from 2020-11-19 12-43-20](https://user-images.githubuser

[2020-11-19 10:10] #5624 closed

[2020-11-19 11:35] cggvuhh opened #5693 "Payment method icon need to change which is same as Ticket icon"
**Describe the bug**
The payment method icons need to change which is similar to ticket icon see in the screenshot for the better understanding

**Screenshots**
![1](https://user-images.githubusercontent.com/68186540/99661233-8e3a3e80-2a89-11eb-93a3-fa21f8f2672b.PNG)

[2020-11-19 11:36] Raunaksingh100 commented on #5693
i am working on this issue can you provide

[2020-11-19 11:57] sachinchauhan2889 commented on #5692
Taking it up

[2020-11-19 12:01] daretobedifferent18 commented on #5692
I am already working on this bro pls can you take another one

[2020-11-19 13:14] Saumyachitransh01 commented on #5560
Does it require altering open-event-server too?

[2020-11-19 14:02] #4596 closed

[2020-11-19 14:13] iamareebjamal commented on #5560
Yes

[2020-11-19 14:25] #5692 closed

[2020-11-19 15:52] #5277 closed

[2020-11-19 16:39] iamareebjamal commented on #5307
@mariobehling There are 2 possible solutions:

1. Expand the table from below so the dropdown doesn't get cut
2. Instead of dropdown, a modal popup is shown

[2020-11-19 18:56] daretobedifferent18 commented on #5560
I am working on it

[2020-11-19 23:22] daretobedifferent18 commented on #5570
I am working on it

[2020-11-19 23:46] mariobehling commented on #5307
@iamareebjamal I think a pop up is too big of a thing. I saw the screenshot above of @abhpd which looked good, but if that has other issues just extending seems fine, do you think?

![image](https://user-images.githubusercontent.com/34980034/96361829-b8c17080-1146-11eb-87d7-ecb7f0162665.png)

[2020-11-20 03:00] iamareebjamal commented on #5307
- That'll overflow the table contents, so let's go with table expansion

[2020-11-20 03:40] #5438 closed

[2020-11-20 12:38] #3511 closed

[2020-11-20 12:41] #4849 closed

[2020-11-20 13:36] #5635 closed

[2020-11-20 14:46] mariobehling opened #5699 "Wizard Step 5: Session Types appear like time instead of duration"
In Wizard Step 5 the session tyes appear like time instead of duration. Please change this as follows:
* Change "Session Types" to -> "Session Types (duration, max. duration 24 hours)"
* The dropdown menu shows duration like times, e.g.. 23:00, it there a clearer way to show that this is about duration and not time of the day?

![Screenshot from 2020-11-20 15-39-23](https://user-images.githubuserc

[2020-11-20 16:27] MeghalBisht commented on #5699
Looking into this!

[2020-11-20 17:03] sachinchauhan2889 commented on #5609
taking it up

[2020-11-20 17:26] #5693 closed

[2020-11-20 18:29] daretobedifferent18 commented on #4117
I am working on it

[2020-11-20 18:39] Srijita007 commented on #5642
I want to work on this. Can i work on this issue?

[2020-11-20 20:39] daretobedifferent18 commented on #4820
@snitin315 I am not able see this problem at all

[2020-11-21 05:35] mariobehling opened #5705 "Footer: Expand area below last footer line"
To make scrolling down and accessing the language switcher more comfortable, please expand the area below the last text and button line.

Try out maybe 30-40 px and see how it looks and feels.

![Screenshot from 2020-11-21 06-33-08](https://user-images.githubusercontent.com/1583873/99868556-c2b21580-2bc3-11eb-9197-a13cd203c2e7.png)

[2020-11-21 05:39] Raunaksingh100 commented on #5705
I am working on this issue

[2020-11-21 05:41] PratishShrivastava commented on #5539
Can I work on this issue. @mariobehling

[2020-11-21 05:58] Raunaksingh100 commented on #5539
Go ahead!!

[2020-11-21 06:34] iamareebjamal commented on #5609
Great job @sachinchauhan2889 We also need to list possible `t-var` values in the component where it is used so it gets extracted in messages.pot

So, let's say that session.state is used in t-var, so in one component, whichever is more prominent, we will list all possible values of session.state, like

`{{t 'Accepted}}` etc

So when we extract messages.pot, it is listed there and can be translated

[2020-11-21 08:40] MeghalBisht commented on #5699
Can we change the dropdown to 2 inputs (type number) where the user can enter hours and mins himself. (as shown in the image below) as currently to choose 24 hours timing the user has to choose 00:00 which is not very clear.

![2020-11-21 (2)](https://user-images.githubusercontent.com/61330148/99871748-fbbdaa80-2c02-11eb-8b20-c61c22568599.png)

[2020-11-21 13:42] daretobedifferent18 commented on #5570
I am working on this

[2020-11-21 13:42] daretobedifferent18 commented on #5570
I am working on this

[2020-11-21 14:11] #5175 closed

[2020-11-22 00:29] daretobedifferent18 commented on #5416
I am working on it

[2020-11-22 03:38] #5647 closed

[2020-11-22 05:26] codergiri12 commented on #5573
hello @iamareebjamal  I am new to this can you plz explain me what exactly to do in this issue ??

[2020-11-22 05:45] Raunaksingh100 commented on #5573
Read the issue description.

[2020-11-22 10:11] mariobehling opened #5712 "Event Dashboard: Sponsors box - number not correct"
The sponsors box on the event dashboard shows by default the number 10, but actually even if 10 is displayed it show 11. Expected: Whatever number to display is chosen, the number of sponsors should show up correctly in the box.

![Screenshot from 2020-11-22 11-08-09](https://user-images.githubusercontent.com/1583873/99900960-64646000-2cb3-11eb-919f-1cbb8ba47a7e.png)

[2020-11-22 10:20] anjali1102 commented on #5712
@mariobehling  taking up this issue

[2020-11-22 20:10] #5608 closed

[2020-11-22 21:53] daretobedifferent18 commented on #5042
This issue will be solved after #5709

[2020-11-22 22:02] mariobehling opened #5717 "Payment Gateways: Implement Sepa Direct using Stripe"
Stripe offers the Sepa Direct debit feature as described here https://stripe.com/docs/payments/sepa-debit. Singapore is eligible to use this feature. Please implement it a) for ticket buyers and b) for invoicing of organizers.

[2020-11-22 22:14] daretobedifferent18 commented on #4605
I am working on it

[2020-11-23 02:39] hitesh9116 commented on #1519
can work on this issue. This will be my first contribution to open source.

[2020-11-23 02:41] hitesh9116 commented on #1519
Can I work on this issue. This is my first time on an open source platform.

[2020-11-23 09:59] mariobehling opened #5721 "Top Menu: Log out menu icon disappears in other languages"
The logout icon disappears in other languages if the word is longer in some languages and depending on the resolution. Please ensure the icon shows up as normal even if the word is longer.

Question: How and where does the design needs to be changed to ensure this does not happen at other places?

![Screenshot from 2020-11-23 10-56-46](https://user-images.githubusercontent.com/1583873/99949158-e07

[2020-11-23 10:53] sachinchauhan2889 commented on #5721
taking it

[2020-11-23 15:01] haritiwari4 commented on #5721
I want to work on this. ... please assign it to me ...
I am going to work on it

[2020-11-23 18:13] daretobedifferent18 commented on #5623
I am working on this now

[2020-11-24 06:11] aryamanprince commented on #5721
I have sent a pr if this works fine please review.

[2020-11-24 07:01] daretobedifferent18 commented on #4117
I am working on this.

[2020-11-24 09:12] #5712 closed

[2020-11-24 09:13] #5123 closed

[2020-11-24 09:13] iamareebjamal commented on #5123
The problem has been fixed completely now

[2020-11-24 11:28] maze-runnar opened #5741 "Wizard step 5: time-picker not showing in mobile view"
![scrnli_11_24_2020_8-51-21 AM](https://user-images.githubusercontent.com/56407566/100088493-3418ef00-2e76-11eb-963d-1506943bc97f.png)

[2020-11-24 14:45] nikolaytoplev commented on #5307
I am going on table expansion.

[2020-11-24 15:36] sachinchauhan2889 commented on #5636
@iamareebjamal sir.

[2020-11-24 16:02] iamareebjamal commented on #5636
Yes

[2020-11-24 16:09] #5721 closed

[2020-11-24 16:38] #5741 closed

[2020-11-24 17:09] aryamanprince commented on #5547
taking up this issue if no one is working

[2020-11-24 18:20] Srijita007 commented on #1519
Is this issue still open? Can I work on it if no one is already working on this?

[2020-11-25 03:57] daretobedifferent18 commented on #5491
I am working on this

[2020-11-25 08:38] mariobehling opened #5749 "Timezone Display shows numbers instead of timezone name"
Some events display the timezone while others display e.g. (+08). Please change the implementation in a way that it always displays timezones correctly in all areas including on:
* Frontpage
* Events Dashboard
* Specific event dashboard
* Public event pages
* Admin pages

![Screenshot from 2020-11-25 09-30-27](https://user-images.githubusercontent.com/1583873/100202598-d16d3500-2f01-11eb-945e-2e80

[2020-11-25 09:53] #5705 closed

[2020-11-25 10:25] daretobedifferent18 commented on #4820
This seems to be fixed.

[2020-11-25 10:32] #4820 closed

[2020-11-25 10:41] mariobehling opened #5750 "Discount Codes: Simplify Form"
Please simplify the discount of events as follows:

- Pre-fill "Number of discounted tickets" with "10"
- Change "Valid from" to "Discount valid from"
- Change "Expires on" to "Discount expires on"
- Show time in the same line with dates
- Show timezone of the event in the same way as in the wizard
- Take out "Show more options" switch and always show below option
- Take out "Status" and always ma

[2020-11-25 10:52] #5342 closed

[2020-11-25 10:58] mariobehling commented on #4697
This has been mostly solved and we can follow up on other areas later. Thank you!

[2020-11-25 10:58] #4697 closed

[2020-11-25 11:07] mariobehling commented on #4818
Part of this have been solved. I will open a more specific issue on other changes required.

[2020-11-25 11:07] #4818 closed

[2020-11-25 11:54] swaaz commented on #5575
@Raunaksingh100 @mariobehling Is this till open? because I am interested to work

[2020-11-25 12:04] daretobedifferent18 commented on #5750
I am working on it.

[2020-11-25 12:05] Raunaksingh100 commented on #5575
Go ahead !!

[2020-11-25 15:07] mariobehling opened #5754 "Search Page: Reduce width of left side menu"
Please reduce the width of the left side menu on the search/explore page to match the left side menu of event pages.

Compare
![Screenshot from 2020-11-25 16-02-21](https://user-images.githubusercontent.com/1583873/100245178-0b592e00-2f38-11eb-8b9a-0cac7bf6784a.png)

![Screenshot from 2020-11-25 16-05-51](https://user-images.githubusercontent.com/1583873/100245232-1ad87700-2f38-11eb-8eda-75bee9a2c

[2020-11-25 15:15] sachinchauhan2889 commented on #5754
Taking it up

[2020-11-25 15:20] #4164 closed

[2020-11-25 15:32] sachinchauhan2889 commented on #5749
taking it

[2020-11-25 15:33] mariobehling opened #5756 "Search Page: Add search filter "Images" to the left side menu and enable Image and Logo by default"
Please add filters for logo and image into the left side bar of the search page as follows:
* Add filter option "Images"
* Add filters "Image" and "Logo" as filter options (enabled means the search only shows outputs of events with images and logos)
* Enable "Image" and "Logo" by default

Also
* Additionally change the filter "Event Call for Speakers" to "Call for Speakers"

![Screenshot from 2020

[2020-11-25 15:56] #5754 closed

[2020-11-25 16:11] MeghalBisht commented on #5756
taking this up

[2020-11-25 18:07] #4882 closed

[2020-11-25 19:28] mariobehling opened #5759 "Discount Code: Take out feature "Set min/max quantity to purchase per order""
Looking at other event ticketing systems the feature "Set min/max quantity to purchase per order" does not seem to be available. We needed the feature in the past, but there are also other ways to get this kind of functionality as an organizer.

In order to simplify discount codes therefore, please take out this functionality from the form and allow users to order an unlimited number of discount t

[2020-11-25 19:38] mariobehling opened #5760 "Schedule: Implement "Add to calendar" for a complete schedule"
We already have the feature "Add to calendar" for the event times. Please also implement "Add to calendar" for events that have a dedicated schedule with sessions.

If the event has sessions with a schedule show two buttons instead of one in the "Add to Calendar" area on the right hand side:
1. On the left show a button with a calendar icon and "Event" (which is using the current implementation) a

[2020-11-25 19:46] mariobehling opened #5761 "Implement Feature "Synced Calendars""
The calendar feature is currently working like an export calendar. This cannot be updated in case dates and times change. Therefore please implement the feature "synced calendars". Also keep the export option for the calendar as ics.

Only implement this feature after issue https://github.com/fossasia/open-event-frontend/issues/5760 has been resolved.

Compare how this feature is handled for examp

[2020-11-25 19:49] iamareebjamal commented on #5760
For implementers:

Without sessions (current): https://api.eventyay.com/v1/events/3689bc98.ics
With sessions: https://api.eventyay.com/v1/events/3689bc98.ics?include_sessions

[2020-11-25 19:51] JohnWesleyK commented on #5759
I'd like to work on this

[2020-11-25 19:54] mariobehling opened #5762 "Schedule: Show date and time in left column"
Please change the schedule view as follows:
* Show Date and time in a column on the left
   * Compare to website generator pages (ensure left column text is aligned with right column text)
   * Also compare to sched.com schedules e.g. https://ocs2020.sched.com/

When changing this feature please ensure that the design is consistent, e.g. pictures of speakers and names of speakers should be aligned

[2020-11-25 20:04] iamareebjamal commented on #5761
Eg: https://calendar.google.com/calendar/u/0/r?cid=http://api.eventyay.com/v1/events/3689bc98.ics?include_sessions

[2020-11-25 20:08] mariobehling opened #5763 "Schedule: Implement Feature "My Schedule""
Please implement the feature "my schedule". Add the option to tick a session and by ticking it adding it to a my schedule filter or page. A my schedule page could be a subpage of the schedule page e.g. https://eventyay.com/e/8fa7fd14/schedule and with a my schedule at https://eventyay.com/e/8fa7fd14/schedule/my/.

Please add a white form area that the user can tick and by ticking it the user add t

[2020-11-25 20:17] mariobehling opened #5764 "Schedule: On my schedule page provide the option to share personal schedule with other attendees and show profile pic (or anonymous icon) in public schedule"
It is nice to know who else attends a session. Currently we cannot see who else signs up and plans to attend a session. Therefore we can implement a feature to allow people to share this information.

Please implement the following:
1. After implementing a my sessions page add a button, e.g. a drop-down button, to the my schedule page on the upper area with the following options:
   1. Show my ses

[2020-11-25 20:25] nikolaytoplev opened #5765 "Creating session is not working just after session is deleted"
**Describe the bug**

If you click "Create Session" button just after deleting any session, you will get error page.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to session listing tab
![image](https://user-images.githubusercontent.com/71332959/100277664-ddf79900-2fa6-11eb-85b5-cfb7979284b6.png)

2. Click delete button on any session and confirm deleting
3. Click "Create Session" but

[2020-11-25 20:43] nikolaytoplev commented on #5307
I implemented table expansion.

[2020-11-25 21:01] daretobedifferent18 commented on #5759
I can work on this with the same PR #5758

[2020-11-25 21:04] iamareebjamal commented on #5759
Yes, please go ahead

[2020-11-25 21:08] daretobedifferent18 commented on #5759
@iamareebjamal here I think it should also be always less then-No of the discount tickets provided?

[2020-11-25 21:42] MeghalBisht commented on #5756
Just wanted to confirm, we want to filter as shown in the image below?
![2020-11-26](https://user-images.githubusercontent.com/61330148/100284248-ec3cb980-2f94-11eb-9416-456dc4aef095.png)

[2020-11-25 22:32] mariobehling opened #5768 "Wizard Step 5: Page often does not load forms below top area"
The wizard step 5 often has problems loading content below the first section. It loads the top area and then loads the footer. All forms in-between do not show up.

This happens possibly when Internet connection is not very fast or if there are a number of sessions and rooms added. Hard-refreshing the page solves the problem, but even if the user refreshes the system it sometimes only loads the to

[2020-11-25 22:35] hpdang commented on #5768
I experienced similar issue. And when I clicked on the "+" sign to add a new track, room, or session, it took a long time before the new field appeared and sometimes it didn't appear until I clicked the Save button. For some reasons it ran very slowly in the back

[2020-11-25 22:54] mariobehling commented on #5756
@MeghalBisht Yes, correct. Thank you!

[2020-11-25 23:40] mariobehling opened #5769 "Video: Implement an "Event Video Room" for events without lots of sessions"
In our project we often focus on complex events with a lot of sessions. However there are also many events that only have one session and one room. Currently those events have to fill in a lot of details before they can use our new video feature. How can we make it easier for an event that does not have a lot of sessions?

My idea is we add a default "Event Video Room" in wizard step 1. This video

[2020-11-25 23:44] daretobedifferent18 commented on #5765
@mariobehling it working fine with me, I have checked on both local updated branch and event on official https://open-event-frontend.now.sh/, no error is giving, Pls let me know

[2020-11-26 00:06] daretobedifferent18 commented on #5762
I am working on it.

[2020-11-26 06:12] iamareebjamal commented on #5769
For 3rd point, showing it in the list will be difficult as it is not linked to a microlocation, we can show it as a special item on top of the list

[2020-11-26 06:15] iamareebjamal commented on #5768
The issue is there since last release as well, so not related to new changes. The reason is that the forms on this page are very complex (calendar and wysihtml) and ember renders them synchronously, so till each and every component is initialized and all callbacks are settled, only then it is visible to the user, so it can take 4-5 seconds. I searched a lot but couldn't find any way of deferring r

[2020-11-26 08:20] mariobehling opened #5770 "Video Room: Create a suitable shareable URL"
We need a URL for video rooms that we can add to emails to attendees as well as into the calendar for sessions. An URL that includes the room name and the "video" instead of "stream" would seem more suitable here.

Therefore please change the URL structure for video rooms as in the following example:
https://eventyay.com/e/d55cc647/stream/22 ->` https://eventyay.com/e/[eventID]/[video-name]/video/

[2020-11-26 09:29] mariobehling commented on #5769
Yes, sounds good. Thanks.

[2020-11-26 09:35] mariobehling commented on #5768
In that case I wonder if we need to split the form. However, from the logic things somehow belong together I think.

[2020-11-26 09:39] iamareebjamal commented on #5768
I think just delaying rendering of stuff for 500-600 ms will work

[2020-11-26 11:19] #5570 closed

[2020-11-26 11:23] daretobedifferent18 commented on #5042
@iamareebjamal pls close this issue, no more an issue

[2020-11-26 11:32] mariobehling commented on #5768
ok

[2020-11-26 11:47] mariobehling opened #5773 "Schedule: Add Date above sessions of the same date"
As you can see in the below screenshot the website generator has a heading above sessions of one date. Please implement the same in the eventyay version.

Add dates above sessions in the "by time" view. Do not show it when sessions are sorted by title.

![Screenshot from 2020-11-25 20-53-14](https://user-images.githubusercontent.com/1583873/100275464-42433a00-2f60-11eb-89f7-0bdc1f9e4918.png)

[2020-11-26 11:47] #5042 closed

[2020-11-26 11:53] nikolaytoplev commented on #5765
@daretobedifferent18 Did you follow the steps described in report correctly?
I am still getting the same errors on https://open-event-frontend.now.sh/.
![image](https://user-images.githubusercontent.com/71332959/100347890-73d40800-3029-11eb-8c42-caa7814572ec.png)

[2020-11-26 11:56] mariobehling opened #5774 "Schedule: Not needed comma if no position filled in by speaker"
On the schedule a comma and space show up even though they are not required. This happens if the speaker has not filled in a position. Expected no comma and space should show up if the speaker has not filled in a position. Equally if the speaker has not filled in a company no comma and space should show up.

Compare https://eventyay.com/e/3dbaaa50/schedule

![Screenshot from 2020-11-26 12-51-11](h

[2020-11-26 12:01] Gautam-Arora24 commented on #5774
Working on this

[2020-11-26 12:34] daretobedifferent18 commented on #5765
Yes I tried again with proper steps and I am getting no error.

[2020-11-26 13:22] aryancse123 commented on #5774
Working on this bug

[2020-11-26 17:47] shivambhai commented on #1519
can i work on this issue its my first time to open source , please give me a chance

[2020-11-26 23:34] mariobehling opened #5779 "Wizard Step 1: Deleting Webinar URL results in error "not valid URL""
It seems it is not possible to delete a webinar or live stream URL. When an organizer tries to delete it and hits "Save" an error message "Not a valid URL" shows up.

Expected: It should be possible to delete these URLS as the field is not required.

Compare https://eventyay.com/events/fa96ae2c/edit/basic-details

![Screenshot from 2020-11-27 00-31-25](https://user-images.githubusercontent.com/158

[2020-11-27 05:47] daretobedifferent18 commented on #5749
I am working on it.

[2020-11-27 08:38] sachinchauhan2889 commented on #5636
Taking it

[2020-11-27 08:41] mariobehling opened #5780 "Organizers Orders Dashboard: Show 0.00 instead of 0 for Sales"
Sales in orders should show 0.00 instead of 0 if the income of sales has been zero.

![Screenshot from 2020-11-27 09-38-57](https://user-images.githubusercontent.com/1583873/100428706-98b19500-3094-11eb-8a72-b04f4f1459ea.png)

[2020-11-27 08:47] MeghalBisht commented on #5780
working on it

[2020-11-27 10:47] daretobedifferent18 commented on #5780
Go ahead

[2020-11-27 11:16] mariobehling opened #5781 "Organizer Orders Overview: Paid Donation Tickets show up as zero"
Paid donation tickets do not show up on the orders overview page. The calculation of tickets sales works correctly. However the donation tickets show 0 in the table.

Compare https://eventyay.com/events/3dbaaa50/tickets

![Screenshot from 2020-11-27 12-14-13](https://user-images.githubusercontent.com/1583873/100443610-51360380-30aa-11eb-820d-7135e9fb0c7f.png)

[2020-11-27 11:32] sachinchauhan2889 commented on #5781
looking into this

[2020-11-27 11:36] daretobedifferent18 commented on #5773
I am working on it

[2020-11-27 12:59] maze-runnar commented on #5779
looking into it

[2020-11-27 14:05] #5762 closed

[2020-11-27 15:19] mariobehling opened #5783 "Public Schedule: Move session description display to "expanded area""
The session description currently shows up already in the default view. Please move the description to the expanded area as in the website generator.

Compare https://eventyay.com/e/1f720482/schedule
![Screenshot from 2020-11-27 16-18-48](https://user-images.githubusercontent.com/1583873/100463530-48562980-30cc-11eb-8cb2-f25992265dc3.png)

Compare Website Generator
![Screenshot from 2020-11-27 16-

[2020-11-27 15:54] hitesh9116 commented on #1519
@iamareebjamal  please reply

[2020-11-27 16:32] #5781 closed

[2020-11-27 16:39] sachinchauhan2889 commented on #5783
Taking it up

[2020-11-27 17:04] mariobehling opened #5785 "Public Schedule Page: Make Social Links into Icons and Moce Date/Time, Social Icons and Links to Top Right Menu"
Date/time, social links and web links are currently below the tracks and session filters, which is not perfect. Also design can be made more clearer. Please change this as follows:
1. Move date/time, social links, web links to top right side area (but not the twitter box itself) on schedule pages
2. Change social links into square boxes similar to sched (compare https://ocs2020.sched.com/). Also e

[2020-11-27 17:12] mariobehling commented on #5490
Please also standardize time on front page:
* Use long format on front page boxes

![Screenshot from 2020-11-27 18-11-27](https://user-images.githubusercontent.com/1583873/100472214-1947b400-30dc-11eb-9536-7f0e196ad556.png)

[2020-11-27 17:17] mariobehling commented on #5490
Also check the event dashboards and use the long format here, please.

![Screenshot from 2020-11-27 18-16-49](https://user-images.githubusercontent.com/1583873/100472588-cf130280-30dc-11eb-82e0-5ec005ddc9ff.png)

[2020-11-27 17:30] mariobehling opened #5786 "Event Dashboard: Change "Apps" to "Website Generator" and other improvements"
Currently the Android app is not functional. Therefore we should not feature it on the event dashboard. We can also enhance the area and the dashboard with a few smaller changes as follows:
* Change box heading "Event sponsors" to "Sponsors"
* Change box heading "Apps" to "Website Generator"
* Add the following text: You would like to have a dedicated event website with all details, sponsors listi

[2020-11-27 18:08] mariobehling opened #5787 "Public Schedule: Enhance Session Tile Area"
The session tile has some issues and some items look a bit out of place, especially when there are several speakers. Therefore please make the following changes:

- Move track above "microlocation" on the right-hand side of the session info
- In front of track use a track icon
- Reduce the indent of the right-hand side area a bit to show longer text without line break
- Align speaker image and spe

[2020-11-27 18:24] mariobehling opened #5788 "My Schedule Page: Show two areas a) My Speaker Sessions b) My Schedule"
On the my schedule page there should be two areas. Please implement them as follows:
1. My Speaker Sessions
2. My Schedule

Style-wise please use the existing styles of session tiles.

Below an example of "My Speaker Sessions"

![Screenshot from 2020-11-27 19-22-41](https://user-images.githubusercontent.com/1583873/100476472-f5896b80-30e5-11eb-82ab-bfced5168905.png)

Below is an example of "My Sch

[2020-11-27 18:33] mariobehling opened #5789 "My Schedule Page: Show Personal Profile"
How to show the personal profiles and what options do we need?

1. Please show the personal profile of attendees on the my schedule page.
2. The personal profile is stored here https://eventyay.com/account/profile. Please add a switch on this page to show or not to show the profile publicly.
![Screenshot from 2020-11-27 19-31-03](https://user-images.githubusercontent.com/1583873/100476952-42ba0d00

[2020-11-27 18:37] sansyrox opened #5790 "Unable to do a successful yarn install"
**Describe the bug**
When I do a yarn install, I am getting the following error. `paypal checkout` library is giving an error log.

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1.  Clone the repo
2. `yarn install`
**Expected behaviour**
Yarn install should work

**Desktop (please complete the following information):**
 - OS: OSX
 - Browser Chrome
 - Version [e.g. 22]

[2020-11-27 18:50] iamareebjamal commented on #5790
Please use gitter channel for questions. You have missed a step in the setup process, see the video. And this is not yarn install step, it is yarn start

[2020-11-27 18:50] #5790 closed

[2020-11-27 19:28] #5750 closed

[2020-11-27 19:29] daretobedifferent18 commented on #5759
@iamareebjamal Pls close this issue.

[2020-11-27 19:34] iamareebjamal commented on #5789
All the speaker profiles linked to a user?

[2020-11-27 19:36] iamareebjamal commented on #5788
What's the difference? Is `My Speaker Sessions` sessions of the logged in users? And `My schedule` the sessions which the user set as favourites?

[2020-11-27 19:38] iamareebjamal commented on #5759
Fixed in #5758

[2020-11-27 19:38] #5759 closed

[2020-11-27 19:41] mariobehling commented on #5789
I thought they usually would be linked to the speaker submitting a session. Exception is if the speaker profile is added by an organizer.

[2020-11-27 19:43] mariobehling commented on #5788
My speaker sessions are the sessions in that event that the user is giving him/herself.
My schedule shows all sessions that the user has chosen to attend (but does not give a talk his/herself).

[2020-11-27 19:44] daretobedifferent18 commented on #5787
working on it.

[2020-11-27 19:48] iamareebjamal commented on #5789
Yes, was just clarifying that you meant to show all the speaker profiles submitted by the user

[2020-11-27 19:48] sachinchauhan2889 commented on #5785
taking it up

[2020-11-27 19:50] #5783 closed

[2020-11-27 20:01] #5491 closed

[2020-11-27 20:06] mariobehling opened #5793 "Team box and page: Show "organizer" with first letter in capital"
The "organizer" role is not starting with a capital in contrast to the Owner role. Please standardize this and show "Organizer" with a capital too on the event dashboard team box and teams page.

![Screenshot from 2020-11-27 21-02-03](https://user-images.githubusercontent.com/1583873/100481408-5029c400-30f4-11eb-8164-837cf4d5e446.png)
![Screenshot from 2020-11-27 21-01-37](https://user-images.gith

[2020-11-27 20:07] mariobehling opened #5794 "Teams Permission Page: Make all areas translatable"
Seems like the teams permission page of events is not fully translatable yet.

![Screenshot from 2020-11-27 21-02-49](https://user-images.githubusercontent.com/1583873/100481476-75b6cd80-30f4-11eb-8c24-e7e8df4c49bb.png)

[2020-11-27 20:07] iamareebjamal opened #5795 "Change general-date helper timezone argument"
Current general date helper takes timezone as a positional argument, which was chosen to ensure devs pass event timezone always because they didn't in moment format and it displayed wrong time.

But as it is being used in other places where event timezone does not make much sense, like in event sales or order time, it requires empty string to be passed as timezone, which is ugly and unnecessary as

[2020-11-27 20:12] iamareebjamal opened #5796 "Change general-date helper format argument"
Most of the formats passed to general-date are now standardized. There is no need to pass big repeated formats, it there are 3-4 of those. So, format argument should accept certain keywords and resolve them to formats, like `{{general-date date 'dd MM YYYY HH:mm (z)'}}` should be treated same as ``{{general-date date 'date-time-long'}}``

This will also make changing specific formats easier in fut

[2020-11-27 20:18] iamareebjamal commented on #5793
It's actually opposite, all roles are lowercase in database, only `Owner` is with capital `O`. God knows why? As roles are keywords, they should not be capitalized. Frontend should map the keyword with display name and show that instead.

So, please create a migration in database to change `Owner` to `owner` and change for new role creations as well. And then display proper names in frontend by ma

[2020-11-27 20:21] #5456 closed

[2020-11-27 20:24] MeghalBisht commented on #5794
working on this

[2020-11-27 20:24] #5780 closed

[2020-11-27 20:28] mariobehling opened #5797 "Public Schedule: Enhance Speaker Display"
The speaker display is a bit mixed up. Please change the speaker display as follows, also ensure it works on mobile views:

See current display.

![Screenshot from 2020-11-27 21-21-07](https://user-images.githubusercontent.com/1583873/100482308-4e153480-30f7-11eb-8489-da67a0eef1bc.png)

Change to a display like the following. Also test it with several speakers.

![Screenshot from 2020-11-27 21-21-

[2020-11-27 23:25] daretobedifferent18 commented on #5795
working on it.

[2020-11-27 23:43] mariobehling opened #5800 "Frontpage: Implement a lightweight caching enabled Slideshow with suitable images"
The frontpage currently does not convey all of the abilities of the system. Specifically we need to show more what awesome features there are. Therefore please implement a lightweight slideshow on the front page with three slides.

- A specific challenge of this task is to find good images that we can use here.
- All screens should be consistent in their design and style. Below there are some exam

[2020-11-28 00:10] mariobehling opened #5801 "Organizer Orders Page: Instead of showing currency with Sales($) show it with the number"
1. If there are sales show the currency with the number e.g. $ 1453.88 on the tickets/orders overview page of events instead of putting it next to "Sales".
2. Also in the table, we do not need to have the currency in the table heading. Instead add the currency in front of the number. Take out currency from "Total Sales". Add the currency into the table below.

![Screenshot from 2020-11-28 01-08-19

[2020-11-28 00:19] mariobehling opened #5802 "Search: Allow search of "Past" events and add the option "Past" into the filters"
The search only seems to allow searching future events. Please add the option "Past" as a filter.

![Screenshot from 2020-11-28 01-18-13](https://user-images.githubusercontent.com/1583873/100489922-b8d66800-3117-11eb-8015-352f86899e45.png)

[2020-11-28 01:14] #5795 closed

[2020-11-28 03:57] daretobedifferent18 commented on #5796
Working on it

[2020-11-28 04:21] daretobedifferent18 commented on #5801
working on it.

[2020-11-28 04:22] Vishuanttal1 commented on #5802
Hey please i wanna work on this feature. please assign this to me and as i'm new so please guide me through

[2020-11-28 04:46] Vishuanttal1 commented on #5797
Hey i can do it please assign to me and i'm new to repo please guide me through

[2020-11-28 04:50] daretobedifferent18 commented on #5802
Go ahead :+1:

[2020-11-28 04:58] daretobedifferent18 commented on #5796
working on it

[2020-11-28 08:00] #5770 closed

[2020-11-28 08:07] #5801 closed

[2020-11-28 08:08] mariobehling opened #5807 "Implement formatting localized currency correctly in different languages"
Currencies are formatted differently in different countries and languages. Some background information is here for example https://polaris.shopify.com/foundations/formatting-localized-currency

For a user that does not pay attention in German e.g. 12.50 EUR could mean 1250 Euro as twelve Euro and fifty Cents is written as 12,50 EUR in German and French.

Is there a suitable library that we could u

[2020-11-28 08:11] iamareebjamal commented on #5797
We don't have the bandwidth to guide individual contributors, and we don't assign issues to external contributors

[2020-11-28 08:16] iamareebjamal commented on #5807
`(1234.56).toLocaleString("de", {style: "currency", currency: "EUR", minimumFractionDigits: 2})`
"1.234,56 €"

(1234.56).toLocaleString("en-US", {style: "currency", currency: "EUR", minimumFractionDigits: 2})
"€1,234.56"

[2020-11-28 08:21] mariobehling opened #5808 "Language Dropdown Menu: Sort according to locale and increase height"
The language menu has a confusing sorting order, e.g. Hindi is on the top even though it would be sorted under H in Latin alphabets or further down when sorting according to characters.

Please sort languages according to locales. More background info is here https://u.uniface.info/docs/0907/uniface/proc/lists/localBasedSorting.htm

Also increase the height of the dropdown a bit to make it easier

[2020-11-28 09:25] #5786 closed

[2020-11-28 09:34] iamareebjamal commented on #5808
That's Bangla, not Hindi. Hindi is below French in correct position. We have used Wikipedia sorting order as requested by you previously https://www.wikipedia.org

/

[2020-11-28 09:50] purnima143 commented on #5800
I wanna work on this issue

[2020-11-28 09:59] #5623 closed

[2020-11-28 10:17] maze-runnar commented on #5768
looking into it

[2020-11-28 11:16] iamareebjamal commented on #5307
The current solution works. But the logic is too complicated. Reopening in hope of a codeheat participant finding a better solution

[2020-11-28 11:16] mariobehling commented on #4817
Has been fixed in the meantime.

[2020-11-28 11:16] #4817 closed

[2020-11-28 11:17] mariobehling commented on #5131
Mostly fixed. Thanks!

[2020-11-28 11:17] #5131 closed

[2020-11-28 11:25] mariobehling opened #5810 "Enhance Location and Map Feature by Switching to OSM and Mapbox"
Maps are shown using Google Maps currently. As we are trying to get away from Google as a proprietary map tool that collects data of our users we need OpenStreetMap and Mapbox as alternatives. Please implement these services and switch to OpenStreetMaps or MapBox depending on the key provided at runtime.

The following flow is implemented and should work after the map has been changed:
A) For the

[2020-11-28 11:25] mariobehling commented on #591
Closing this issue in favor of new issues.

[2020-11-28 11:25] #591 closed

[2020-11-28 11:27] mariobehling commented on #3564
Closing this in favor of more detailed new issues.

[2020-11-28 11:27] #3564 closed

[2020-11-28 11:48] mariobehling commented on #4652
Closing this in favor of a new issue with a more concise description.

[2020-11-28 11:48] #4652 closed

[2020-11-28 11:55] maze-runnar commented on #5768
the problem is happening due to `TypeError: Cannot read property 'announcement' of null`. Sometimes
`Uncaught Error Class : Ember Data Request GET http://127.0.0.1:5000/v1/events/2/speakers-call returned a 404` happens then the below and the CFS part doesn't loads. Other times the problem is not there.
![Screenshot from 2020-11-28 17-24-57](https://user-images.githubusercontent.com/56407566/100514

[2020-11-28 11:59] mariobehling opened #5811 "Implement Organizer Contact Form and Process"
Currently if the organizers don't publish their contact in the event listing, the attendees won't be able to contact them even after they purchase the ticket and get the confirmation email. Hence, we need an organizer contact form.

**How should this work?**

There should be a link in the confirmation email where attendees can reach out to organizers via a contact form. Organizers should then get

[2020-11-28 12:03] iamareebjamal commented on #5811
More info: #4652

[2020-11-28 12:04] iamareebjamal commented on #5810
More info: #591 and #3564

[2020-11-28 12:08] mariobehling commented on #5808
Ok, I was confused, cause Bahasa Indonesia is somewhere in the middle. So, it seems it is sorted according to "I" like Indonesia. Wikipedia also changed their way in the meantime and does not seem to be as consistent as before anymore. So, I am wondering if there is a more standard way.

[2020-11-28 12:09] iamareebjamal commented on #5810
For now, we will implement switching according to environment variables in frontend because it is easier to implement than to do in settings and this is how it is currently done for Google Maps. Also, it is needed at build time of the frontend app to inject in config. Later, we can make it switchable through server by exploring a solution

[2020-11-28 12:09] maze-runnar commented on #5768
I put a condition over that section like` {{#if this.data.speakersCall}}` and now the whole page is loading in every situation, every time , but when previously the whole below section disappered ,now renders correctly, but without cfs section -
![Screenshot from 2020-11-28 17-37-05](https://user-images.githubusercontent.com/56407566/100515251-b0763f80-31a0-11eb-97a0-12e53ae7dbee.png)

[2020-11-28 12:18] maze-runnar commented on #5768
const speakersCallPromise = this.getOrCreate(data.event, 'speakersCall', 'speakers-call');

the problem is in getOrCreate because, it is used with cfs and copyright only and both two shows same error -
Copyroght too `Ember Data Request GET http://127.0.0.1:5000/v1/events/2/event-copyright returned a 404↵`

![Screenshot from 2020-11-28 17-47-37](https://user-images.githubusercontent.com/56407566/10

[2020-11-28 16:12] daretobedifferent18 commented on #5807
working on it

[2020-11-28 16:21] daretobedifferent18 commented on #5807
@iamareebjamal we can also use Intl.NumberFormat
[code]
Pls let me know by which approach I should go

[2020-11-28 16:53] iamareebjamal commented on #5807
It's the same thing, go with anyone which has more browser support

[2020-11-28 19:00] Draco9421 commented on #4884
I am working on it

[2020-11-28 19:58] sentry-fossasia[bot] opened #5814 "TypeError: Cannot read property 'place' of undefined"
Sentry Issue: [EVENTYAY-FRONTEND-AT](https://sentry.fossasia.org/organizations/eventyay/issues/376/?referrer=github_integration)

[code]

11k errors

[2020-11-28 20:16] #5814 closed

[2020-11-29 00:03] mariobehling opened #5817 "Public Schedule: Expanded session info - add position and organization, hide top profile icon and details on top when expanded"
Some information is repeated in expanded sessions. The website generator hides some info on expanding sessions. Please implement something similar on the frontend. Compare http://2019.fossasia.org/event/schedule.html

Make changes as follows:
* When session is expanded hide profile image, name, designation and org on the top area
* Leave session info on top area as is
* On the expanded area show p

[2020-11-29 00:17] mariobehling opened #5818 "Public Schedule: Show "Download Slides/Link to Slides" button instead of link on expanded session"
The expanded session currently shows a link to slides if they have been added. Please change the feature as follows:
1. If the speaker uploaded slides show a button "Download Slides". Also include an icon in the download button.
2. If the speaker has only linked to the slides show a button "Link to Slides". Also include a link icon as part of the button.

Compare https://eventyay.com/e/8fa7fd14/sc

[2020-11-29 05:35] daretobedifferent18 commented on #5817
working on it

[2020-11-29 05:35] daretobedifferent18 commented on #5818
working on it

[2020-11-29 08:48] daretobedifferent18 commented on #5818
@mariobehling actually this link is been added in short Abstract and not in Slide url

[2020-11-29 09:21] mariobehling opened #5820 "Speakers Form/Public Schedule: Implement option to add several files for slides"
The speakers form currently has the option to upload or link one slide. Organizer feedback is that speakers in some events have several files to share. Therefore please implement the option to add or link several files and provide a field to indicate some details about the file or link.

Implement this as follows:
* Show a field to add a "Name" and field to add a link or upload a file in the speak

[2020-11-29 10:01] mariobehling opened #5822 "Public Schedule: Implement search feature"
The public schedule does not have a search feature yet. Please add a search box to the right of the sort by menu item. Implement a search feature using pattern matching. Search across name, title, description, track, room, company, position.

![Screenshot from 2020-11-29 10-54-49](https://user-images.githubusercontent.com/1583873/100538817-3c847780-3232-11eb-8514-7337dff6451c.png)

[2020-11-29 10:42] maze-runnar commented on #5822
on it

[2020-11-29 10:56] mariobehling commented on #5818
@daretobedifferent18 You are right, but this session has both a) the link in the description and b) the slide itself. There is a button on the session page itself. See here https://eventyay.com/e/8fa7fd14/session/6341

This button needs to be shown on the overview sessions page as well and moved to a more prominent place. I think a good position would be on top as in the below screenshot.

![Scree

[2020-11-29 11:21] daretobedifferent18 commented on #5818
Ok I got it.

[2020-11-29 11:57] nlok5923 commented on #5793
@mariobehling please can i work on it.

[2020-11-29 12:56] mariobehling opened #5824 "Public Schedule Social Links: Create a CSS icon for Event Site"
As a follow up to PR https://github.com/fossasia/open-event-frontend/pull/5812 the event site link is the only link without an icon.

Please create an icon using CSS.

An example icon is below:

![bitmap](https://user-images.githubusercontent.com/1583873/100542535-c3dde500-324a-11eb-8a80-0f38b6292353.png)

It should be positioned with those other icons.
![](https://user-images.githubusercontent.co

[2020-11-29 13:47] iamareebjamal commented on #5793
Go ahead, just claim an issue and start working on it. If no one is working on it currently, you can always work on it without asking

[2020-11-29 18:24] palakshivlani-11 commented on #5824
I wanna take up this issue.

[2020-11-29 20:52] mariobehling opened #5825 "Schedule: Page disappeared from left side menu and join video link disappeared"
The schedule was working earlier nicely, but now it disappeared from the left side menu. The page is still there, but here the join video links disappeared.

Compare https://eventyay.com/e/ae73f280/schedule

![Screenshot from 2020-11-29 21-50-05](https://user-images.githubusercontent.com/1583873/100553247-248e1180-328d-11eb-88d9-bce56fed3753.png)

[code]

[2020-11-29 20:58] mariobehling opened #5826 "Public Schedule: Clicking on a filter moves the page"
Clicking on any filter on the public schedule move the page up. This is contrary to how this works on other services. Filtering items should simply apply the filter, but it should not move the page. Compare https://eventyay.com/e/ae73f280/schedule

![Screenshot from 2020-11-29 21-56-27](https://user-images.githubusercontent.com/1583873/100553365-f826c500-328d-11eb-9807-2a65294bc609.png)

[2020-11-29 20:59] hpdang opened #5827 "Sponsor logos disappear"
I added 24 logos into [techcul eventyay page](https://eventyay.com/events/ae73f280). It showed 24 logos in the sponsor section of the overview page, but when I clicked Edit, it only showed 15 logos in the edit page and 15 logos on the main eventyay page. Please compare below

**1. Sponsor section in the Overview tab**

- 24 logos
- Compare https://eventyay.com/events/ae73f280

**2. Edit sponsor pa

[2020-11-29 21:04] mariobehling commented on #5826
[code]

[2020-11-30 03:03] daretobedifferent18 commented on #5827
working on it

[2020-11-30 07:10] iamareebjamal commented on #5825
Working here

![image](https://user-images.githubusercontent.com/3874064/100578933-3f9e6700-3309-11eb-8d77-1caf8e2f7ffe.png)

[2020-11-30 07:11] iamareebjamal commented on #5825
To see Join Video, user must be logged in

[2020-11-30 07:33] #5827 closed

[2020-11-30 07:42] #5817 closed

[2020-11-30 07:42] #5774 closed

[2020-11-30 07:42] #5818 closed

[2020-11-30 07:43] sentry-fossasia[bot] opened #5831 "TypeError: a.replaceAll is not a function"
Sentry Issue: [EVENTYAY-FRONTEND-HC](https://sentry.fossasia.org/organizations/eventyay/issues/590/?referrer=github_integration)

[code]

In general date, format is assigned to a type which does not have a replaceAll function and is throwing error

[2020-11-30 09:45] mariobehling opened #5832 "Attendee Form: Implement "Short Answer" and "Paragraph""
Currently the attendee form has an option "text" as field option. Please separate this functionality into two options:
* Short Answer which should show a online field to enter information
* Paragraph which should show a text box to enter information in several lines (similar to Google Forms)

![Screenshot from 2020-11-30 10-41-11](https://user-images.githubusercontent.com/1583873/100593780-1675da8

[2020-11-30 09:47] mariobehling opened #5833 "Attendee Form: Implement a Checkboxes"
Currently the attendee form is missing the option "Checkboxes" for custom questions. Please implement it.

![Screenshot from 2020-11-30 10-41-11](https://user-images.githubusercontent.com/1583873/100593975-618fed80-32f9-11eb-8827-a1bc9e345803.png)

[2020-11-30 10:20] sentry-fossasia[bot] opened #5834 "TypeError: (e || z).addClass is not a function"
Sentry Issue: [EVENTYAY-FRONTEND-G0](https://sentry.fossasia.org/organizations/eventyay/issues/545/?referrer=github_integration)

[code]

[2020-11-30 10:30] #5834 closed

[2020-11-30 13:54] akash2408 commented on #5833
iam doing it

[2020-11-30 15:26] davedevelopers commented on #5833
I would like to add this feature.

[2020-11-30 15:28] davedevelopers commented on #5832
I want to add this feature

[2020-11-30 16:52] SARTHAK1SINGH commented on #5832
I would like to work on this issue.

[2020-11-30 16:56] SARTHAK1SINGH commented on #5832
I am working on it.

[2020-11-30 20:26] AdityaArunSharma commented on #5808
@mariobehling is this still open? Can it be assigned to me?

[2020-11-30 20:39] AdityaArunSharma commented on #5824
@mariobehling is this issue open? Can i take it?

[2020-11-30 21:02] hpdang opened #5841 "Speaker Edit Form: Organizer is unable to edit speaker info"
Log in as organizer to edit speaker info, an error message appeared.

**To Reproduce**
1. Go to 'https://eventyay.com/events/ae73f280/speakers/4998/edit'
2. Add position data
3. Click save
4. See error > bottom right

![Screenshot from 2020-11-30 21-57-14](https://user-images.githubusercontent.com/1658742/100664275-aba7bc00-3357-11eb-80ec-b9ab389cf70a.png)

[2020-11-30 21:49] iamareebjamal commented on #5833
You created a PR already which solved nothing. Then you closed it.

[2020-11-30 21:50] #5808 closed

[2020-11-30 21:50] iamareebjamal commented on #5824
Take one issue at a time

[2020-11-30 22:03] mariobehling opened #5842 "Virtual Events: Provide sidebar menu that slides in with links to different video rooms"
How could we enable participants to switch rooms directly at a virtual event? Other services offer direct link in a sidebar to other rooms or video channel overviews. We can do something similar.

The idea is to implement a sidebar on the left of the screen. On the sidebar please display a list of rooms of the event. If an event runs over several days possibly show the rooms that are active on tha

[2020-12-01 03:07] maze-runnar commented on #5841
will be fixed by https://github.com/fossasia/open-event-server/pull/7469

[2020-12-01 10:15] Abhijay007 commented on #5824
can you please tell me what is the name of that font mentioned in the above logo?

[2020-12-01 10:30] Abhijay007 commented on #5824
@iamareebjamal Sir, I made this logo and have its CSS code as well
![event](https://user-images.githubusercontent.com/64387054/100728479-9b422080-33ed-11eb-8a4a-e4b7190189cd.PNG)

but I don't know how to insert it in eventyay existing code base because I don't have that much idea of ember js
So, can I make a PR with the coded file?

[2020-12-01 11:08] davedevelopers commented on #5826
I want to fix this bug.

[2020-12-01 11:20] mariobehling opened #5844 "Event Dashboard: Reduce max height of sponsor logos to 40px"
Max with and height of sponsor logos is 80px at the moment. Please reduce max height of a sponsor logo to 40px to make the usage of space on the dashboard more efficient.

Please take care not to scale a logo out of proportion.

![Screenshot from 2020-12-01 12-17-00](https://user-images.githubusercontent.com/1583873/100734191-8eaecf80-33cf-11eb-98b1-dd1c2a91b39b.png)

[2020-12-01 17:08] parmeshwar1807 commented on #5844
can I take up this issue?

[2020-12-01 17:43] mariobehling commented on #5844
Yes, go ahead.

[2020-12-01 19:33] mariobehling opened #5850 "One-click event sign up"
For free events platforms such as meetup have a nice feature which could be described as one-click signup. When a user receives an email for a new event they can simply click on "Sign up" or "Yes". Then they are directed to the sign up page and simply click "Confirm" and they are registered.

Please implement this as follows:
* In ticket options add "Registration" as an additional option (apart fr

[2020-12-01 19:47] mariobehling opened #5851 "Preselect "Ticket holder" same as "Ticket Buyer"
Always preselect "Ticket holder is the same as ticket buyer." by default, but keep functionality as is. So, the ticket buyer can untick the box if they want.

![Screenshot from 2020-12-01 20-43-03](https://user-images.githubusercontent.com/1583873/100788997-259e7a80-3416-11eb-93ee-2ea1c5cbe372.png)

[2020-12-01 19:59] mariobehling opened #5852 "Order Success Page: Change "Download Tickets" to "All Tickets" and use download icon"
On the order success page we have two buttons a) Download Ticket and b) "Download Tickets". This issue is about the button "Download Tickets". Please change the button to "All Tickets" and use a download icon for this specific button.

![Screenshot from 2020-12-01 20-57-25](https://user-images.githubusercontent.com/1583873/100790469-246e4d00-3418-11eb-89ed-24ea9afc4016.png)

[2020-12-01 20:06] Raunaksingh100 commented on #5852
I am working on this issue plz don't make pr for this
THANKS

[2020-12-01 20:07] ksraj123 commented on #5844
This is how the event dashboard looks to me, can't find the tabular paginated sponsor's section anywhere as in the image you shared. Also, the dimensions for the images for me is 250px by 250px. I am development branch.

Did the image you shared meant to show what this should look like?

<img width="1759" alt="Screenshot 2020-12-02 at 1 31 54 AM" src="https://user-images.githubusercontent.com/3902

[2020-12-01 20:15] mariobehling opened #5853 "Attendee form questions have different order on wizard and live page"
The attendee form during the order that attendees have to fill should have the some order of questions as the list of attendees on the wizard. See in the below example how the company is in between the custom questions for example.

![Screenshot from 2020-12-01 21-12-26](https://user-images.githubusercontent.com/1583873/100791996-49fc5600-341a-11eb-9667-68cb88b3ffb8.png)

![Screenshot from 2020-12

[2020-12-01 20:17] mariobehling opened #5854 "Speaker and Attendee Forms: Change "Company" field to "Organisation""
In the Speaker and Attendee Forms please change "Company" field to "Organisation". Please ensure this shows up in the same way:
* on the wizard
* on the public speaker form
* on the attendee form during the order process

[2020-12-01 20:23] sachinchauhan2889 commented on #5844
this is not event dashboard.

for event dashboard
creat a event then
click on __manage events__ in drop down at right top of front page.
then click on event dashboard button.

url will be localhost:4200/events/:event_id

[2020-12-01 20:27] mariobehling opened #5855 "Wizard Step 2: Adding and removing field again results in "field may not be null""
On wizard Step 2 adding a social media or extra link field and then removing again during the same edit results in "field may not be null".

Expected: As the field is not required and it was already removed the error should not appear.

Compare https://eventyay.com/events/ae73f280/edit/other-details

![Screenshot from 2020-12-01 21-25-23](https://user-images.githubusercontent.com/1583873/100793111

[2020-12-01 20:34] MeghalBisht commented on #5854
Company field or Organization field?
![2020-12-02](https://user-images.githubusercontent.com/61330148/100793645-7c21ae00-3442-11eb-9a93-bee352e459d2.png)

[2020-12-01 20:39] ksraj123 commented on #5852
@Raunaksingh100 Sorry, did not see your comment, opened a PR for this. Feel free to close my PR if this is already solved. Thanks

[2020-12-01 20:48] mariobehling commented on #5854
Good find! Please change fields in attendee and speaker form to be the same. I think in that case "Organisation" looks good too.
Thanks!

[2020-12-01 20:50] mariobehling opened #5857 "Make Access Form similar to Discount Form"
The discount form was simplified recently. Please simplify the access form in the same way.

Compare discount form
![Screenshot from 2020-12-01 21-33-12](https://user-images.githubusercontent.com/1583873/100795318-27b90700-341f-11eb-98d2-0ec64bbcd659.png)

[2020-12-01 21:18] MeghalBisht commented on #5851
working on this

[2020-12-01 22:58] HashirGJ8842 commented on #5857
I would like to be assigned this issue!

[2020-12-02 03:27] Raunaksingh100 commented on #5852
I am working on this issue plz don't make pr for this.

[2020-12-02 03:49] gunjan543 commented on #5857
I would like to work on this issue

[2020-12-02 03:50] gunjan543 commented on #5857
I would like to work on this issue

[2020-12-02 04:03] gunjan543 commented on #5793
I want to work on this

[2020-12-02 04:33] maze-runnar commented on #5855
`{"data":{"attributes":{"name":null,"link":"https://hope.com","identifier":"4ade3dd0-3457-11eb-aa16-3be112e11808"},"relationships":{"event":{"data":{"type":"event","id":"1835"}}},"type":"social-link"}}`

when website is selected in dropdown by default, then name is null, that's why it is showing field may not be null.

[2020-12-02 05:36] mariobehling commented on #5857
Hello, we are not assigning outside contributors, but you can work together on the issue and create a PR that would count for both in a contest like Codeheat. Thank you for your interest!

[2020-12-02 08:06] hpdang commented on #5841
@maze-runnar any update on this one?

[2020-12-02 08:23] maze-runnar commented on #5841
there is only one thing remaining in pr that is because of that change is not working as expected, so @iamareebjamal is testing it.

[2020-12-02 11:26] #5855 closed

[2020-12-02 11:52] #5779 closed

[2020-12-02 13:05] sayak2k1maruti commented on #5857
Sir, I hope I have solved this issue . So I just made a pull request. This is my very first pull request in this repository. Please review and accept it.

[2020-12-02 13:09] mariobehling opened #5863 "Expired Order Page: "Go to event" link missing on right hand side box"
On expired order page the "Go to event" link is missing on right hand side box.

Please add this part of the box.

![Screenshot from 2020-12-02 14-07-21](https://user-images.githubusercontent.com/1583873/100876603-e456ab00-34a7-11eb-9f5f-ee0d40e1831e.png)

[2020-12-02 13:18] MeghalBisht commented on #5863
working on this

[2020-12-02 14:06] #5768 closed

[2020-12-02 14:25] mariobehling opened #5864 "Virtual Events: Matching Event and System Roles with Video Roles in Big Blue Button"
Video Rooms in Big Blue Button have different roles. Please create corresponding roles in open event and match them BBB as follows:

**BBB -> eventyay**
- Attendee -> Attendee
- Presenter -> Speaker (Question how to handle multiple speakers?)
- Moderator -> Moderator can be set in system and then we need a way to assign specific moderators to a room (and later to a specific session)
- Moderator ->

[2020-12-02 14:50] mariobehling opened #5865 "Virtual Events: Configure BBB room default behavior"
We need to control how virtual rooms are set up by default and offer some configuration options for organizers. Organizer should be able to control the room settings from the "Video" tab. Please implement the setting as below

Provide the option for organizers to configure the rooms
* Mute users when they join - by default users are muted
* Allow any user to start this meeting - by default off (on

[2020-12-02 15:19] maze-runnar commented on #5825
@mariobehling

[2020-12-02 15:27] mariobehling opened #5867 "Virtual Events: Explore option to add live streaming to BBB"
The standard BBB way does not provide livestreaming for Big Blue Button. There is a community plugin, that might be helpful here https://github.com/aau-zid/BigBlueButton-liveStreaming. Evaluate and propose options to live stream BBB events.

[2020-12-02 15:32] iamareebjamal commented on #5825
The Join Video issue was related to caching. I have tightened the bounds of caching more strictly, so it should not happen again. Please reopen if it does

[2020-12-02 15:32] #5825 closed

[2020-12-02 15:33] iamareebjamal commented on #5865
This can only be done in BBB, I imagine?

[2020-12-02 15:42] #5852 closed

[2020-12-02 16:37] mariobehling commented on #5865
Correct, there is a room setting.

![Screenshot from 2020-12-02 15-30-54](https://user-images.githubusercontent.com/1583873/100902337-14607700-34c5-11eb-9a7b-58f89e0b9f11.png)

[2020-12-02 16:40] mariobehling commented on #5865
Some of these things are available also with the integration of BBB, e.g. in Moodle:
https://docs.moodle.org/310/en/BigBlueButtonBN

[2020-12-02 17:13] #5863 closed

[2020-12-02 17:19] mariobehling commented on #5865
Some more links that could be relevant:
* https://pypi.org/project/bigbluebutton/
* https://github.com/alexsanderp/scalelite-flask-api

[2020-12-02 19:03] #5785 closed

[2020-12-02 19:03] #5824 closed

[2020-12-02 20:25] sachinchauhan2889 opened #5871 "Add 'Withdrawn' and 'canceled' tab in view Speakers page."
**Describe the bug**

Currently 'withdrawn' and 'canceled' tab is not present in view speakers page.

**To Reproduce**
Steps to reproduce the behaviour:

Create an event first.
1. Go to 'manage events'
2. Click on 'event dashboard'
3. Got to speakers tab.
4. See error

**Expected behaviour**

Add 'Withdrawn' and 'canceled' tab in view Speakers page.

**Screenshots**

![now](https://user-images.git

[2020-12-02 21:00] sachinchauhan2889 commented on #4993
taking this up

[2020-12-02 21:40] sentry-fossasia[bot] opened #5873 "TypeError: Cannot read property 'email' of null"
Sentry Issue: [EVENTYAY-FRONTEND-J7](https://sentry.fossasia.org/organizations/eventyay/issues/618/?referrer=github_integration)

[code]

[2020-12-02 21:42] iamareebjamal commented on #5873
Started in #5859

[2020-12-02 21:44] #5873 closed

[2020-12-02 21:52] sentry-fossasia[bot] opened #5875 "TypeError: Cannot read property 'findBy' of undefined"
Sentry Issue: [EVENTYAY-FRONTEND-CD](https://sentry.fossasia.org/organizations/eventyay/issues/427/?referrer=github_integration)

[code]

[2020-12-02 21:52] iamareebjamal commented on #5875
Started in #5775

[2020-12-02 22:03] #5875 closed

[2020-12-02 22:08] mariobehling opened #5877 "Public Event Page: Event Site listed twice and Wizard does not list Event Site"
The public event page here https://eventyay.com/e/3dbaaa50 lists "Event Site" two times, but in the wizard of the event it is unclear where "Event Site" is listed. It only shows one of the links. Both areas "Social Media" and "Extra Links" show the option "Website".

Probably for the moment "Event Site" should be listed within "Social Links" as it has a dropdown menu.

![Screenshot from 2020-12-02

[2020-12-02 22:43] iamareebjamal commented on #5877
That's because we removed event site from the wizard. Because that's a separate field than custom links dicided to only show custom links. And this event must have been created before we removed this from wizard. Should we hide the event site from public pages as well?

[2020-12-02 23:18] #5826 closed

[2020-12-03 00:05] #5822 closed

[2020-12-03 04:42] gunjan543 commented on #5844
I wanted to work on this issue , and while going through the code I realised logo images have height 250 and not 80, please guide me if I am wrong.

[2020-12-03 04:47] mariobehling commented on #5877
Ok, so the question is, where does "Event Site" show up in the wizard now? It seems the implementation is not fully logic yet. Maybe we should have something like:
1. Social Links with dropdown menu (currently this part also shows "Website")
2. Web Links with dropdown menu (to have some predefined links like Event Site, Website, Blog)
3. Extra Links with text field (anything that does not fit into

[2020-12-03 05:11] mariobehling commented on #5699
I am not sure, if this slows down the user if we have two fields. Could we change the format instead from e.g. 03:45 to 3.45 using a full stop and no leading 0 here?

[2020-12-03 05:24] maze-runnar commented on #5853
looking into it

[2020-12-03 05:28] mariobehling commented on #5877
On live site, we now have a button "Event Site", but on the wizard there is no way to add an "Event Site" entry anymore. Also compare here https://eventyay.com/events/ae73f280/edit/other-details

[2020-12-03 06:52] daretobedifferent18 commented on #5873
@iamareebjamal so the error is only on order-form component?

[2020-12-03 06:54] palakshivlani-11 commented on #5877
I wanna take up this issue

[2020-12-03 07:16] hpdang commented on #5841
This worked for me now. Thanks @maze-runnar @iamareebjamal :+1:

[2020-12-03 07:16] #5841 closed

[2020-12-03 07:20] hpdang opened #5881 "Removed event organizer still receives email when participants sign up"
**Describe the bug**
As describe on the tittle. I was added as an organizer of one event for testing, then the owner removed my organizer access. I could not access the organizing page anymore. However I still received email every time when someone bought a ticket for that event.

**To Reproduce**
Test event I mentioned https://eventyay.com/e/3dbaaa50

**Expected behaviour**
Removed organizer shou

[2020-12-03 07:40] iamareebjamal commented on #5873
I have fixed it already

[2020-12-03 07:42] iamareebjamal commented on #5881
Root issue: https://github.com/fossasia/open-event-server/issues/7235

[2020-12-03 07:45] iamareebjamal commented on #5844
Logo images can have any height and width

[2020-12-03 07:46] iamareebjamal commented on #5877
Yes, because we discussed and decided to remove event site from wizard

[2020-12-03 07:54] iamareebjamal commented on #5877
https://github.com/fossasia/open-event-frontend/issues/5116#issuecomment-723430646

[2020-12-03 08:45] hpdang opened #5883 "Organizer is unable to Add/Create a Speaker"
**Describe the bug**
This bug is related to an organizer feature. When the event organizer added a new speaker and saved. The page froze, kept loading.

**To Reproduce**
1. Go to 'speaker create form' https://eventyay.com/events/ae73f280/speakers/create
2. Enter the details
3. Save
4. See error

![Screenshot from 2020-12-03 09-32-42](https://user-images.githubusercontent.com/1658742/100985135-e377

[2020-12-03 09:01] hpdang opened #5884 "Removed speaker still appears in the session summary"
**Describe the bug**
This bug is related to an organizer feature. When organizer removed a speaker from a session, and even deleted this speakers in the system. The speaker name still appeared in the 'Sessions' tab

**To Reproduce**
1. Go to 'Edit Session' https://eventyay.com/events/ae73f280/sessions/6531/edit
2. Remove one speak 'Hangying Li'
3. Go to 'Sessions' tab https://eventyay.com/events/a

[2020-12-03 09:09] #5796 closed

[2020-12-03 09:09] #5831 closed

[2020-12-03 09:12] iamareebjamal commented on #5883
Speaker with email 'example@gmail.com' already exists in this event

The form should show the error from the API and unfreeze the form

[2020-12-03 09:14] hpdang commented on #5643
Data is still missing in one required field. When I download attendees csv for this event https://eventyay.com/events/ae73f280, Job Title column is completely empty even though it is one of required field in the ticket form. See below:

![Screenshot from 2020-12-03 10-08-58](https://user-images.githubusercontent.com/1658742/100988724-508ce980-3550-11eb-8ecb-081c3a505691.png)

[2020-12-03 10:07] #5643 closed

[2020-12-03 10:36] hpdang commented on #5883
Areeb, if I chose Email is on required, the same thing happened, kept loading, then froze

![Screenshot from 2020-12-03 11-35-06](https://user-images.githubusercontent.com/1658742/100998325-a74bf080-355b-11eb-8083-e762a8e40fee.png)

[2020-12-03 10:56] ksraj123 commented on #5884
Looking into this.

[2020-12-03 10:57] mariobehling opened #5886 "Event Dashboard: Date end time of an event is wrong (showing start time)"
The date end time of an event actually shows the start time on the event dashboard.

![Screenshot from 2020-12-03 11-56-13](https://user-images.githubusercontent.com/1583873/101000818-ab2d4200-355e-11eb-97a0-3f48a18c034e.png)

[2020-12-03 11:22] hpdang commented on #5884
@iamareebjamal it does not seem to appear anymore on my side. @ksraj123 did you see find something

[2020-12-03 11:36] gunjan543 commented on #5844
![Screenshot from 2020-12-03 09-42-18](https://user-images.githubusercontent.com/52042648/101012988-a336c780-3589-11eb-9d2f-09cdf0860ee7.png)
I wanted to ask that in this code snippet from oven-event frontend project , there is 250px height and width , and in the issue it is specified 80px,so am I proceeding in wrong direction?

[2020-12-03 11:41] gunjan543 commented on #5832
I want to work on this issue

[2020-12-03 11:54] iamareebjamal commented on #5844
Issue is about organizer section, not public event page

[2020-12-03 12:10] iamareebjamal commented on #5883
Yes, reproduced

[2020-12-03 12:11] SARTHAK1SINGH commented on #5886
I am working on this issue.

[2020-12-03 14:09] #5886 closed

[2020-12-03 15:13] gunjan543 commented on #5844
okay! Thankyou for helping me out

[2020-12-03 15:47] mariobehling opened #5893 "Public Schedule Mobile View: Move date and filters up"
Event date and filters are not accessible as they are on the bottom on the mobile View. Please move them to the top and display tracks and rooms next to each other.

![Screenshot_20201203_163827_com android chrome](https://user-images.githubusercontent.com/1583873/101052599-1db21800-3587-11eb-9959-ecac703baa78.jpg)

[2020-12-03 15:57] MeghalBisht commented on #5893
working on it

[2020-12-03 18:37] sentry-fossasia[bot] opened #5895 "AttributeError: 'NoneType' object has no attribute 'state'"
Sentry Issue: [EVENTYAY-SERVER-N](https://sentry.fossasia.org/organizations/eventyay/issues/216/?referrer=github_integration)

[code]

[2020-12-04 05:10] palakshivlani-11 commented on #3202
I want to take up this issue.

[2020-12-04 06:07] SARTHAK1SINGH commented on #5844
I would like to work on this issue.

[2020-12-04 06:29] hpdang commented on #5884
I close it as it is not there anymore

[2020-12-04 06:29] #5884 closed

[2020-12-04 06:37] #5787 closed

[2020-12-04 07:05] daretobedifferent18 commented on #5807
@iamareebjamal what I found is using navigator.language but it always give en-US to get locale from browser

[2020-12-04 07:19] mariobehling opened #5899 "Public Schedule Mobile View: change in page menu"
The in-page menu has a burger menu that is the same as the top burger menu. It should be different.

Please implement a kind of drop-down button with an icon for each menu item and a down arrow. Take inspiration from GitHub as in below screenshot, e.g. see the button "development". In contrast to Github make the menu into a dropdown menu instead of a pop-up menu.

![Screenshot_20201204_081234_com

[2020-12-04 07:57] MeghalBisht commented on #5899
working on this

[2020-12-04 08:55] daretobedifferent18 commented on #5642
working on it

[2020-12-04 09:30] mariobehling opened #5901 "Public Speakers Page and Featured Speakers Design Issue and Comma"
The speakers page and the featured speakers area on event start pages show the speakers name and below info with too much spacing. It seems like the style is also used somewhere else and when it is changed somewhere the text is also displayed differently here. Also other previous issues are back, e.g. there is a comma on another line.

Please fix the following on the speakers area on the event pag

[2020-12-04 09:48] mariobehling opened #5902 "Session Page: On Reload "Join Video" button disappears"
On specific session pages the "join video" button disappears when the user reloads the page (tested on Chromium). Compare https://eventyay.com/e/ae73f280/session/6508

[2020-12-04 10:38] MeghalBisht commented on #5899
@mariobehling is this the expected result?

![2020-12-04 (3)](https://user-images.githubusercontent.com/61330148/101153823-e86efe00-364a-11eb-960b-f71c0ea03fad.png)

[2020-12-04 10:52] iamareebjamal commented on #5902
Confirmed. VideoStream is not being loaded on individual session page

[2020-12-04 11:01] iamareebjamal commented on #5807
If you change your browser settings, it will change

[2020-12-04 11:04] #5797 closed

[2020-12-04 11:06] iamareebjamal commented on #5807
You can also check `Intl.NumberFormat().resolvedOptions().locale`

[2020-12-04 11:11] daretobedifferent18 commented on #5901
working on it

[2020-12-04 16:03] MeghalBisht opened #5907 "Overlapping issue in Speaker and Session Pages"
**Describe the bug**

In Session and Speakers page, the links(canceled, withdrawn etc) are disabled due to the overlapping div tag as shown in the image below.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'manage events'
2. Click on 'event dashboard'
3. Got to speakers/sessions tab.
4. Reduce the viewport width and try to click the links

**Expected behaviour**

Overlapping of tags

[2020-12-04 16:45] mariobehling opened #5908 "Public Event Pages: Reduce empty space on right sidebar between date area and tracks if no links are specified"
If there are no social or other weblinks specified there is an empty space between the two side bar widgets that is larger than it should be. Please reduce the white space between the widgets.

![Screenshot from 2020-12-04 17-29-54](https://user-images.githubusercontent.com/1583873/101190315-7c939200-3658-11eb-933e-0ca71d865652.png)

[2020-12-04 17:43] mariobehling opened #5909 "Video: Enable Rich text and links in "Additional Information""
Event organizers would like to add rich text and links into the area "Additional Information". Please enable rich text in that field in the video tab and show this accordingly on the schedule.

![Screenshot from 2020-12-04 18-40-47](https://user-images.githubusercontent.com/1583873/101196006-80c3ad80-3660-11eb-9bae-d0f69866d136.png)

[2020-12-04 17:43] yukti72 commented on #5908
I am a beginner here and i would love to contribute to fixing with bug. Hope its fine with you.

[2020-12-04 17:51] yukti72 commented on #5908
I expect a little help in finding the location in fixing this out. Please could provide me with help?

[2020-12-05 04:59] khushi935 commented on #5909
I would like to work on this issue .Can you suggest me ways to get started ?

[2020-12-05 05:25] daretobedifferent18 commented on #5902
@mariobehling Also Join Video link is not taking to stream url on specific session page

[2020-12-05 07:24] mariobehling commented on #5899
@MeghalBisht The dropdown should get expanded by the icon on the right hand side.

![101153823-e86efe00-364a-11eb-960b-f71c0ea03fad](https://user-images.githubusercontent.com/1583873/101236482-df753f80-36d1-11eb-9791-bf5dec64426a.png)

So, if the user is on the page "info", then show info. If the user wants to go to ticket, scroll to Tickets and collapse the menu.

![101153823-e86efe00-364a-11eb-9

[2020-12-05 07:32] mahir29 commented on #5854
I'll give this a shot. It would be a first PR for me, so I'll first familiarize myself with the general code!

[2020-12-05 07:36] mariobehling opened #5913 "Public Schedule: Line break before "Join Video" reducing button size"
Some session headings, specifically in non Latin alphabets reduce the "Join Video" button in the schedule.

Compare https://eventyay.com/e/cf877702/schedule

![Screenshot from 2020-12-05 08-33-15](https://user-images.githubusercontent.com/1583873/101236871-cb7f0d00-36d4-11eb-96a4-17b829abc6d3.png)

[2020-12-05 07:41] mariobehling opened #5914 "Ticket: If an event has only free and donation tickets do not show "promotional code" and other details"
Please change the public ticket info as follows:
1. If an event has only free and donation tickets do not show "promotional code". (Also reduce the spacing between "Total" and "Order now" then)
2. If an event has only free tickets and no other tickets do not show the credit card icons neither.
3. Also ensure this works on mobile views.

![Screenshot from 2020-12-05 08-38-48](https://user-images.gi

[2020-12-05 07:47] mariobehling opened #5915 "Tickets: fix mobile ticket view"
![Screenshot_20201205_084459_com android chrome](https://user-images.githubusercontent.com/1583873/101237084-61fffe00-36d6-11eb-8752-0090b996938a.jpg)

[2020-12-05 08:20] daretobedifferent18 commented on #5914
working on it

[2020-12-05 08:21] daretobedifferent18 commented on #5915
@mariobehling can u pls tell m what to improve?

[2020-12-05 08:27] mariobehling opened #5917 "Mobile schedule: Fix details and standardize "Join Video" button"
Please enhance the following:
- [ ] Reduce space below speaker
- [x] Standardize "Join Video" button, keep icon on the left (experiment to make it look good and display it in the same way in all sessions)
- [x] Always align "Join Video" button to the top right in all sessions (as you can see in below screenshot it moved down a bit)

![Screenshot_20201204_230621_com android chrome](https://user-ima

[2020-12-05 08:30] mariobehling commented on #5915
Match left and right side. In the example screenshot it would be:

- Type -> Free Ticket
- Price -> Free
- Quantity -> 1 (dropdown)
- Subtotal -> Free

[2020-12-05 08:43] mariobehling opened #5919 "Mobile schedule: Fix menu"
**Current State:**
![Screenshot_20201204_230526_com android chrome](https://user-images.githubusercontent.com/1583873/101238106-2b2de600-36de-11eb-8637-7c46f38eadb4.jpg)

Please change it as follows:
**1. Version with not expanded search**
   1. Move the menu as follows
   2. Reduce the space to the schedule (also ensure there is not too much space if there are tracks)

![101238106-2b2de600-36de-1

[2020-12-05 08:52] usama-t commented on #5915
I would like to work on that.

[2020-12-05 08:56] ksraj123 commented on #5913
I can't see the join now button in any of the sessions. Am I on the right page? Please share suggestions. Thanks

<img width="1755" alt="Screenshot 2020-12-05 at 2 25 18 PM" src="https://user-images.githubusercontent.com/39027928/101238368-c25a6400-3705-11eb-92f1-6606ab89f7d8.png">

[2020-12-05 10:41] iamareebjamal commented on #5917
It's not hardcoded I believe, it's the session type

[2020-12-05 10:49] iamareebjamal commented on #5913
You need to buy a ticket to see the button

[2020-12-05 10:51] #4993 closed

[2020-12-05 10:52] #5883 closed

[2020-12-05 12:34] mariobehling opened #5921 "Search: Fix and Enhance filter options"
The filters are not consistent, e.g. it is currently not possible to choose all location types at the same time even though this is the default search behavior. Therefore please make the filter display and search functionality consistent and allow searching of past events as well.

Please change the filters as follows and make the below options the standard search setting:
- Rename "Event Location

[2020-12-05 12:37] mariobehling commented on #4993
@sachinchauhan2889 Thank you for the improvements. The search filters are still inconsistent and it should also be possible to tick all options for online, location, and mixed events in this filter (if the user wants to search across all setting types which is the default search as well). I opened an issue here with more details. Would be great if you continue on this https://github.com/fossasia/o

[2020-12-05 12:46] #5913 closed

[2020-12-05 12:49] iamareebjamal commented on #5921
@mariobehling Online + Location is already = Mixed, so it'll make it complicated  to allow selecting all options and there will be no better user experience because Mixed already handles the above case

[2020-12-05 12:53] mariobehling commented on #5921
@mariobehling Well, this definition is different to the definition I had in mind: There is a case where the user is specifically looking for an event that is run as an in-person event as well as an online event. This is in contrast to an event that is run as a location based event. And it is different to an event that is run as a pure online event.

[2020-12-05 12:54] iamareebjamal commented on #5921
OK, yes, I understand now :+1:

[2020-12-05 13:16] #5666 closed

[2020-12-05 13:19] #5871 closed

[2020-12-05 13:23] SiddheshShinde-tech commented on #5919
I m working on this :)

[2020-12-05 15:29] #5901 closed

[2020-12-05 18:06] maze-runnar commented on #5765
@iamareebjamal I am not getting any error too. It's working fine.

[2020-12-05 18:11] daretobedifferent18 commented on #5773
working on it

[2020-12-05 18:11] #5765 closed

[2020-12-05 18:19] SiddheshShinde-tech commented on #5919
![Screenshot (268)](https://user-images.githubusercontent.com/62283380/101260226-61a64800-3754-11eb-89ea-504d24c4d7f6.png)

Schedule button not present in the Menu, therefore unable to work.
Please look into it.

[2020-12-05 18:27] iamareebjamal commented on #5919
You need to publish the schedule

[2020-12-05 18:34] mariobehling commented on #5844
https://github.com/fossasia/open-event-frontend/pull/5898#issuecomment-739323550

[2020-12-05 19:01] SiddheshShinde-tech commented on #5919
@iamareebjamal I didn't get it. Can you please elaborate it in detail ?

[2020-12-05 19:08] sachinchauhan2889 commented on #5802
taking this up

[2020-12-05 19:09] iamareebjamal commented on #5919
Please get to know the system before trying to solve the issue

[2020-12-05 19:30] SiddheshShinde-tech commented on #5919
@iamareebjamal I went through the readme file of the project and installed it accordingly, but the project is different on my local server than that of the actual website. It would be very helpful if you can guide me for the same ....

On my local server

![Screenshot (270)](https://user-images.githubusercontent.com/62283380/101261547-3a547880-375e-11eb-92fd-bfc65167ce96.png)

On https://open-even

[2020-12-05 19:31] iamareebjamal commented on #5919
Change API_HOST in .env to https://api.eventyay.com

[2020-12-06 00:04] mariobehling commented on #5917
Yes, I got confused, because they use the track "Presentations" instead of a theme track. I took it out.

[2020-12-06 00:09] mariobehling opened #5926 "Front Page: Add info about Online event and fix/enhance date/time"
The front page nicely displays locations of events. At the same place there should be
* the info "Online Event" if the event is not location based and
* "Online Event and at [address here]" if it is a mixed event

Furthermore the tile needs to be enhanced in regards to the date to
* show long date type for the event
* show both start and end time of event (as many events go over several days now)

[2020-12-06 00:32] #5844 closed

[2020-12-06 00:57] mariobehling opened #5927 "Front Page: Move Search Function to Top Bar"
Please move the search feature to the top bar and substitute "Browse Events" with "Search Events". Implement it as follows:
* Implement the search in the place of "Browse Events"
* Use a similar style and show "Search Events"
* Expand the search box similar to GitHub when the user enters something
* Delete the main search bar below the header
* Show the top search bar on the same pages as Browse E

[2020-12-06 01:18] mariobehling opened #5928 "Chore: Use API test server for test frontend deployment"
In our documentation it is written:

However as a matter of fact the frontend uses the API of the actual eventyay service. Please direct the frontend to use the API on Heroku as mentioned in the documentation.

[2020-12-06 01:32] mariobehling opened #5929 "Substitute Travis Badge with Github Actions Badge"
Please exchange the Travis badge with a Github Actions badge. Use the development branch for the display. More details here https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/adding-a-workflow-status-badge

[2020-12-06 02:09] iamareebjamal commented on #5928
We use it for PR deployment which is useful with production API. https://fossasia.github.io/open-event-frontend/ is using dev API server and can be mentioned in the docs

[2020-12-06 02:38] Yougendernith commented on #5927
I'll work on this issue

[2020-12-06 03:37] mariobehling commented on #5928
What are the limits of https://fossasia.github.io/open-event-frontend/ ? It seems some things like search and changing languages do not work.

[2020-12-06 04:57] nlok5923 commented on #5929
@mariobehling sir i am working on it.

[2020-12-06 06:19] SARTHAK1SINGH commented on #5915
I am working on it.

[2020-12-06 06:20] MeghalBisht commented on #5926
working on this

[2020-12-06 08:00] daretobedifferent18 commented on #5807
@iamareebjamal
I have tried with this, it is also giving en-US so I have a question, changing browser setting may result in diff result but then if I implement this approach then do user also have to change their browserLanguage setting or it will work fine for them?

[2020-12-06 08:14] iamareebjamal commented on #5807
Yes, it depends on browser language. Use this approach - Use detected locale using resolved options, if it is en-US, then map l10n detected locale to valid locale like de to de-DE

[2020-12-06 08:25] #5929 closed

[2020-12-06 09:19] MeghalBisht commented on #5802
I have a PR opened for this, can you see it once?

[2020-12-06 12:39] ssdn-867 opened #5934 "Logo is overlapping with the navbar in custom view"
Real Behavior

In the mobile view logo is getting overlapped with the navbar

Expected Behavior
Logo should not overlap with navbar

Steps to reproduce it

Open the website and view it in 500X883 screen dimension

Screenshot of Issue

![image](https://user-images.githubusercontent.com/66898317/101280272-340ddd00-37ee-11eb-9a92-9f465ac29af2.png)

[2020-12-06 13:35] arhamathar commented on #5934
Assign this to me.

[2020-12-06 16:27] RasshiBhatia commented on #5934
Plz assign me .

[2020-12-06 17:59] palakshivlani-11 commented on #5927
I want to work on this issue.

[2020-12-06 18:02] parmeshwar1807 commented on #5909
I want to take up this issue.

[2020-12-06 21:51] inayahassan23 commented on #5914
i am working on this how to make a pull request?? @daretobedifferent18  @mariobehling plzz tell

[2020-12-06 22:33] mariobehling opened #5939 "Schedule and After-Event Video: Add video button to schedule"
For live video event rooms there is a button on the event schedule "Join Video".
* This button should disappear after an event, but organizers can add a video of the event (already available in the session form options)
* If there is a video after the event available, please add a button "Watch Video" with a video icon in the same place.
* Link to the specific session page - directly to the area o

[2020-12-07 01:50] mariobehling opened #5940 "Implement Dashboard Box "Sessions and Speakers""
The event dashboard does not have a dedicated box for sessions and speakers. Please implement a box.

In the box show info about
* number of speakers and include overview of pending, accepted etc. (all states)
* sessions and include an overview of pending, accepted etc. (all states)
* tracks, microlocations/rooms and session types
* when Call for speaker starts and ends

![Screenshot from 2020-12-

[2020-12-07 03:49] nlok5923 opened #5941 "Cursor changed to indexer while hover on choose language button as well as social icon do not appear."
**Describe the bug**
 While hovering on language selector button cursor changed to indexer.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to footer
2. hover on language selector
3. See error

**Expected behaviour**
Cursor should get changed to hand pointer
**Screenshots**

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser Brave
 - Version

**Smartphone

[2020-12-07 04:00] mariobehling opened #5942 "Ticket Cancellations: Propose and Implement Cancellations by Users"
Currently there is no way for a user to cancel a ticket. Research how this is implemented on other platforms and propose and implement this feature.

[2020-12-07 04:09] mariobehling opened #5943 "Virtual Events: Implement Call Statistics"
What stats can we get from calls? Interesting stats are who, how many and when people joined a session. The first step of implementing this feature would be to check Jitsi and BBB for available stats and to show them in the system.

[2020-12-07 05:52] Tushar11Raj commented on #5927
@mariobehling I would like to work on this issue. Please assign.

[2020-12-07 12:29] #4605 closed

[2020-12-07 13:39] hpdang commented on #4237
Can we simplify this date sorting? One click latest order goes on the topic and vice versa. Currently we have to click twice in order to get to the latest order? @mariobehling @iamareebjamal

[2020-12-07 13:51] hpdang opened #5948 "Organizer: Attendee Overview - Sorting is not possible"
This is related to an organizer feature. In the Attendee overview page, organizer is not able to perform any sorting like date, ticket name, ticket price. Please implement sorting for **Date**, **Ticket Name** and **Ticket Price**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to ['Attendee Over page](https://eventyay.com/events/ae73f280/tickets/attendees/completed?search=)'
2. Click on

[2020-12-07 13:53] hpdang commented on #5948
@mariobehling @iamareebjamal does it make sense to sort 3 entries: Date, Ticket Name and Ticket Price?

[2020-12-07 14:38] palakshivlani-11 commented on #5940
I would like to take up this issue.

[2020-12-07 16:37] daretobedifferent18 opened #5950 "Unnecessary Senetary logger on browser Web developer console"
**Describe the bug**

Getting Senetary loggers on console pannel

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://eventyay.com
2. Open Web Developer console.
3. See the error

**Expected behavior**

Unnecessary console.log shouldn't be there.
Also, some data is also getting rendered which shouldn't be like id etc.

**Screenshots**

![Screenshot from 2020-12-07 22-00-43](https://

[2020-12-07 16:48] iamareebjamal commented on #5950
It's Sentry, not Sanitary. And it's not unnecessary

[2020-12-07 16:48] #5950 closed

[2020-12-07 17:25] mariobehling opened #5951 "Fonts: Change light gray font to dark gray across app"
There are a number of places with light gray color. This is often difficult to see, especially if it is not bold. However, there is no point of making more and more text bold.

Please change light gray color to a dark gray that is easier to read.

[2020-12-07 17:30] nlok5923 commented on #5951
Working on it sir.

[2020-12-07 17:30] iamareebjamal commented on #3699
Settings and other stuff is now cached using a manual cache, but it is cumbersome to maintain and doesn't work on all stuff like events, so please use conditional workbox cache for any request with public=true and cache=true. Use stale while revalidate

Cache HTML, CSS and JS with common recipes as well

[2020-12-07 17:35] daretobedifferent18 opened #5952 "Not showing complete speaker list"
**Describe the bug**

Not showing a complete list of Speakers

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://eventyay.com/e/ae73f280/speakers
2. Click on 'Injee Kim' Speaker
3. Now click on 'Mentor Feedback Hour: Culture, Design and Education Topics'
4. See error

This bug is removed after reloading the page

Actual | Expected
--------- | ---------
![Screenshot from 2020-12-0

[2020-12-07 20:13] kenkirito commented on #5907
please assign me

[2020-12-08 01:14] jaiswalrobin commented on #5951
Please assign it to me

[2020-12-08 06:47] palakshivlani-11 commented on #5952
I would like to take up this issue

[2020-12-08 09:16] spy-1234 commented on #5951
Sir, I want to working on the issue.

[2020-12-08 13:27] kenkirito commented on #5941
working on it

[2020-12-08 13:32] mariobehling opened #5961 "Virtual Event Fees and Ticketing: Implement Video Charges"
As the video feature gets implemented the question is how to charge. There are different options including an upgrade package, but there are pros and cons for each option. So for now we want to keep it simple. Below you see a table with how charges should be made in the Early Access Plan.

For events that use our video setups users should pay 2 USD/ticket. For users who use the integration with an

[2020-12-08 14:00] #5642 closed

[2020-12-08 14:14] mariobehling opened #5962 "Virtual Events: Organizer Video Room tab long URLs overlapping column"
On the video room tab long URLs are overlapping the next column. Please show a URL and if it is too long add "...".

![Screenshot from 2020-12-08 15-12-35](https://user-images.githubusercontent.com/1583873/101494703-f5039700-3967-11eb-8b6b-fc3e046db2e2.png)

[2020-12-08 14:39] sachinchauhan2889 opened #5963 "Speakers Page: User able to add speakers with all empty fields."
**Describe the bug**

When organizer come back to speakers list without saving speaker, that unsaved speaker is shown in list of speakers.
it get disappear when user refresh page.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an event
2. Go to  event dashboard.
2. Click on speakers tab.
3. click on add speaker tab.
4. leave form empty.
5. click on speakers tab again(form must be em

[2020-12-08 16:00] #5756 closed

[2020-12-08 17:10] #4994 closed

[2020-12-08 20:07] #5749 closed

[2020-12-08 21:46] #5769 closed

[2020-12-09 00:54] mariobehling opened #5966 "Public Event Sidebar Dates Scrumbled"
There is an issue with the date/time of the event in the sidebar. It has an unidentifiable time and date.

Compare https://eventyay.com/e/d55cc647
![Screenshot from 2020-12-09 01-52-37](https://user-images.githubusercontent.com/1583873/101559412-5efc5a80-39c1-11eb-8d4c-f4088032f58d.png)

[2020-12-09 02:10] hpdang opened #5967 "Schedule: Time stamp error"
**Describe the bug**
This is related to an organizer feature. While scheduling sessions, organizer was unable to adjust the duration of the the last session and it also showed the wrong timing. In the example below, the event ends at 22:30, the last session shows 23:15.

![Screenshot from 2020-12-09 02-53-03](https://user-images.githubusercontent.com/1658742/101564351-4729d400-39cb-11eb-8528-26ecf

[2020-12-09 03:44] maze-runnar commented on #5966
looking into it

[2020-12-09 05:43] #5966 closed

[2020-12-09 05:46] iamareebjamal commented on #5967
@daretobedifferent18 Please check

[2020-12-09 06:14] #5941 closed

[2020-12-09 06:26] Utkarshn10 commented on #5927
Working on this!!

[2020-12-09 06:49] maze-runnar commented on #4237
@hpdang we can do it like, latest orders will on the top when first it loads and then sorting work in usual way?

[2020-12-09 06:52] Vivek-R-Pawar commented on #5927
I'll work on this!

[2020-12-09 07:00] iamareebjamal commented on #4237
Yes

[2020-12-09 10:37] #4237 closed

[2020-12-09 11:55] takshch commented on #5962
@mariobehling Can i get this issue? Is anyone is working on this?

[2020-12-09 11:59] takshch commented on #5952
@mariobehling Please assign this issue to me.

[2020-12-09 14:06] daretobedifferent18 commented on #5307
@iamareebjamal I think the issue is not yet resolved.
This is what I am getting same behavious as was before PR was merged
![Screenshot from 2020-12-09 19-35-13](https://user-images.githubusercontent.com/71120226/101639830-c95eda80-3a55-11eb-8199-cfe79d9bbe56.png)

[2020-12-09 14:08] daretobedifferent18 commented on #5967
@iamareebjamal @hpdang What I get from checking it is the issue is with timeformat that is showing 24 hr clock on left side and 12 hr clock on sessions. Isn't ?

[2020-12-09 14:17] iamareebjamal commented on #5967
Yes, it should be 24hr here

[2020-12-09 14:18] iamareebjamal commented on #5967
Main issue is wrong time display and inability to adjust the timing

[2020-12-09 14:19] iamareebjamal commented on #5307
I had to revert the PR because it was caausing other issues

[2020-12-09 15:14] yukti72 opened #5972 "npm ERR! A complete log of this run can be found in"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'git bash'
2. Click on 'npm start'
3. Scroll down
4. See error

**Expected behaviour**

I have looked over many ways to resolve this but the issue keeps on persisting.

**Screenshots**

<img width="960" alt="Annotation 2020-12-09 203901" src="https://user-images.githubusercontent.com/64638327/101647731-15624d00-3a5f-

[2020-12-09 15:16] iamareebjamal commented on #5972
The docs don't mention `npm start` anywhere

[2020-12-09 16:12] hpdang commented on #5967
Yes, the core is the wrong time display. This event ends at 22:30 but it shows 11:15 in the last session. And I didn't manage to adjust this session to 20 min which means it should end at 22:30.

[2020-12-09 16:25] #5972 closed

[2020-12-09 16:31] kenkirito commented on #5967
can i work on this issue

[2020-12-09 17:13] yukti72 commented on #5951
Is this issue still open?

[2020-12-09 22:45] iamareebjamal opened #5977 "Search: Make date filters inclusive"
Currently, date filters are exlusive and can be selected one at a time. We need to make them inclusive

[2020-12-10 03:05] kenkirito commented on #5942
working on it

[2020-12-10 03:14] kenkirito commented on #5963
working on it

[2020-12-10 08:10] Jyotsna1006 commented on #5977
CAN I HANDLE THIS ISSUE?

[2020-12-10 08:38] takshch commented on #5952
@iamareebjamal Can you please assign this issue to me as no one is assigned to this issue till now.

[2020-12-10 09:56] takshch commented on #5952
I am working on this issue after checking that no one else is working.

[2020-12-10 12:52] #5926 closed

[2020-12-10 13:01] #4884 closed

[2020-12-10 14:11] #4958 closed

[2020-12-10 16:41] mariobehling opened #5982 "Event Dashboard not loading all events reliably"
The dashboard listing all events does not show events when the user clicks around the system elsewhere and the returns. Difficult to reproduce it but then suddenly it disappears again.

![Screenshot from 2020-12-10 17-39-37](https://user-images.githubusercontent.com/1583873/101801646-dd1a4780-3b0e-11eb-9924-10ab9be00b5a.png)

[2020-12-10 16:48] iamareebjamal commented on #5982
Root cause same as #5176

[2020-12-10 16:56] iamareebjamal commented on #5176
@maze-runnar Please read https://emberigniter.com/adding-query-parameters-hasmany-relationship/

[2020-12-10 16:59] mariobehling opened #5983 "Virtual Events: Organizer Video Page - Move add room button and enhance design"
We now have the new feature of event rooms. For the organizer it is a bit difficult to grasp what is the difference between the two tables on the video tab for organizers. Therefore please enhance the area:
* Change the upper table color to distinguish it to the second table
* Move the "Add Room" button to the right of the search bar
* Move "show xx entries" a bit closer to the second table. Curre

[2020-12-10 17:36] #5914 closed

[2020-12-10 21:00] inayahassan23 commented on #5793
i would like to work

[2020-12-10 23:34] daretobedifferent18 commented on #5983
Taking this up

[2020-12-11 03:54] Jyotsna1006 commented on #5977
-adust the endpoint.
-make the  use of datediff( ).
-or by default setdate( ) function returns inclusive day,date,month,years all inclusive only.

[2020-12-11 04:01] Jyotsna1006 opened #5996 "Getting Page not found error when i generate the link after putting my web page ready"
**link not found 404 error**
<!-- not able to host my web page using github --

**Desktop
 - OS: [windows]
 - Browser [chrome]
check my page @Jyotsna1006

[2020-12-11 07:31] palakshivlani-11 commented on #5977
can i take up this issue?

[2020-12-11 07:34] btapash commented on #5952
I am working on this issue!

[2020-12-11 07:36] takshch commented on #5952
I am already working on this issue from yesterday. Please take another issue.

[2020-12-11 07:39] btapash commented on #5952
Okay!

[2020-12-11 10:54] #4584 closed

[2020-12-11 10:58] iamareebjamal commented on #5996
Probably the first issue I saw where the issue body is smaller than the title. You conveniently ignored the issue template which asks you to fill in reproduction steps. I don't understand the issue

[2020-12-11 10:59] #5853 closed

[2020-12-11 11:09] rghvmaheshwari commented on #5983
Hey! can I work on this issue

[2020-12-11 11:22] #5996 closed

[2020-12-11 16:17] takshch commented on #5952
I tried to generate or produce the issue but everything goes expected there is nothing which is unexpected.
@mariobehling Please take a look at this issue and close this issue.

[2020-12-11 16:21] btapash commented on #5952
No, it is showing unexpected result. After refreshing the page the result
come as expected.

On Fri, Dec 11, 2020, 9:48 PM Taksh Chanana <notifications@github.com>
wrote:

[2020-12-11 17:37] #5983 closed

[2020-12-11 19:22] #5802 closed

[2020-12-11 19:24] iamareebjamal opened #6003 "Vertical event card UI distorted"
![image](https://user-images.githubusercontent.com/3874064/101945987-93b42000-3c14-11eb-8008-73d57957bf9e.png)

[2020-12-11 19:26] iamareebjamal commented on #6003
@MeghalBisht Please take a look

[2020-12-11 19:34] MeghalBisht commented on #6003
This happened because of the height changes done in #5933. I will correct this

[2020-12-11 20:08] mariobehling opened #6005 "Virtual Events: Further enhance design and in page details of organizer video tab page"
Please change the organizer video tab details as follows:

**Tables**

* Match the width of both tables to the width of the box "This feature is still in alpha stage"

**Table Headings**

* Rename Video Room -> Video Source URL
* Rename Link -> Join Video
* Rename heading "Pin" to "Room Password" on both tables
* Rename heading "Pin" to "Room Password" on the specific session video page
* Ensure t

[2020-12-11 23:41] mariobehling commented on #5962
Closing this in favor of https://github.com/fossasia/open-event-frontend/issues/6005

[2020-12-11 23:41] #5962 closed

[2020-12-12 08:25] takshch commented on #5952
@btapash Can you please connect with me. I failed to produce the issue.

[2020-12-12 08:59] 19vanshikadhiman commented on #5800
I want to work on this issue.....

[2020-12-12 11:03] mariobehling opened #6010 "Virtual Events: Before an event has started automatically redirect users from video rooms streaming page after a short testing time"
After users got a ticket for a virtual event they already see the link "Join Event". So, all users can immediately use the video link. This could be good for testing, but it can also drain our resources for video that we provide. What options are there to control the access to the virtual event rooms? What is a good option?

I could imagine the following: Before an event has started the user sees

[2020-12-12 11:15] progmatic-99 commented on #5833
Can you explain the issue a bit more?

[2020-12-12 11:56] aman-jaglan commented on #5919
i m working on this

[2020-12-12 13:38] mariobehling opened #6011 "Organizer Menu Bar: Simplify Settings and merge Export Page Areas"
We already have a lot of features, but some features are not so regularly used and can move a bit to the back. This includes the "Export" feature, which also needs to be tested more in detail.

To simplify this please **merge the Export and Settings page** as follows:
* On the settings page implement a left side menu similar to the menu on the tickets tab with
   * **Export** - Simply move the con

[2020-12-12 15:05] Afzal-Ind commented on #6011
Working on this...

[2020-12-12 17:45] iamareebjamal commented on #6010
This can work on Jitsi but not on Big Blue Button. Because we direct to BBB and lose control to close connection or do anything else

[2020-12-12 20:10] daretobedifferent18 commented on #6005
@iamareebjamal Pls could you add codeheat label

[2020-12-12 20:39] #6003 closed

[2020-12-12 20:51] sachinchauhan2889 opened #6015 "Export Page: Error while fetching export JSON from server"
**Describe the bug**

At export page of event dashboard, export JSON fetching always fails.

**To Reproduce**
Steps to reproduce the behaviour:
1.create event.
2. Go to event Dashboard.
3  press export tab.
4. See error

**Expected behaviour**

export JSON fetching should not fail.

**Screenshots**

![export error](https://user-images.githubusercontent.com/72552281/101994605-a2203b80-3ce9-11eb-935

[2020-12-12 21:45] Creatoon commented on #6015
@sachinchauhan2889 I think the reason for this error is: the event is not created or published yet means the JSON file is not yet saved in the database, if you will publish the event, then it will fetch the JSON file.

[2020-12-12 21:49] sachinchauhan2889 commented on #6015
Great, i got it. You are right.

[2020-12-12 21:49] #6015 closed

[2020-12-13 00:54] #5110 closed

[2020-12-13 01:00] #5051 closed

[2020-12-13 04:19] Afzal-Ind commented on #6011
Unable to resolve this. Someone else can take up this.

[2020-12-13 06:48] aman-jaglan commented on #5963
i m working on this

[2020-12-13 08:39] abhpd commented on #5307
@iamareebjamal @mariobehling I might have a better solution, can you assign it to me?  Thank you.

[2020-12-13 08:41] maze-runnar commented on #5307
submit a PR

[2020-12-13 11:38] mariobehling opened #6017 "Search Page: Further enhance design"
Please enhance the design of the search page as shown in the screenshot below. Change the following:
* Move search bar to middle top menu bar
* Take out heading "Events" above search results
* Take out search box from left hand side menu bar
* rename Location Type to Setting

compare https://eventyay.com/explore
![Screenshot from 2020-12-13 12-25-56](https://user-images.githubusercontent.com/15838

[2020-12-13 12:22] #6005 closed

[2020-12-13 12:52] nlok5923 commented on #6017
Working on it sir.

[2020-12-13 17:46] nlok5923 commented on #6017
@mariobehling sir do I need to move the search box of side bar into the middle of navbar. Or it should be above event cards.

[2020-12-13 20:14] Afzal-Ind commented on #6017
Need collaboration! I want to work on this.

[2020-12-13 20:57] toHarsh commented on #6017
I can work on this, also with @nlok5923 if needed!

[2020-12-13 23:23] #5490 closed

[2020-12-14 06:52] abishekvashok commented on #6011
Claiming this up

[2020-12-14 07:00] Afzal-Ind commented on #6011
Yes almost resolved after trying over and over again. Please see the screenshot.

[2020-12-14 07:19] maze-runnar commented on #5143
@iamareebjamal can we create separate fields for each on server side?  I have been trying several methods but it's not working.

[2020-12-14 07:28] iamareebjamal commented on #5143
It is possible but will complicate search and other stuff needlessly and break compatibility. Will discuss in meeting later. Right now, focus on integrating OSM and Mapbox so this might not even be needed

[2020-12-14 07:29] maze-runnar commented on #5143
ok

[2020-12-14 07:43] Afzal-Ind commented on #6011
@mariobehling plz review it.

[2020-12-14 08:56] Afzal-Ind commented on #6017
@toHarsh @nlok5923 Our next jo is to **Move search bar to middle top menu bar** and **Take out search box from left hand side menu bar**. You can reply here if you want to try else I will try. Plz see this screenshot.
![c4](https://user-images.githubusercontent.com/11625672/102060567-5c15c580-3e18-11eb-8a45-eaf3ffb14d38.JPG)

[2020-12-14 09:11] Parthkhandelwal0 commented on #5948
currently working on this

[2020-12-14 09:30] Parthkhandelwal0 commented on #5948
hey @hpdang! the link you posted isn't working is there something i am missing?

[2020-12-14 09:51] mariobehling opened #6021 "Wizard Step 1: Event Start Date Limit not needed"
In the wizard step 1 there is a start date limit, that the start of the event has to be before the current date. But, actually there are use cases where the event should start before the current date, e.g. when the user wants to change the end date of an event after it has started. Then the user will receive the error message "event start date should be before current date".

Considering this use

[2020-12-14 10:26] MeghalBisht commented on #5948
@Parthkhandelwal0 You need to create an event to access the attendee page

[2020-12-14 10:28] maze-runnar commented on #5810
I am not understanding it.

[2020-12-14 10:50] Harshit564 commented on #6017
@Afzal-Ind I am trying the search bar part

[2020-12-14 11:17] Afzal-Ind commented on #6017
Nice, you can also try. But remember to add my changes on your end and then make changes the left ones as per the suggestion. Thanks.

[2020-12-14 11:28] Harshit564 commented on #6017
Okay will do that

[2020-12-14 13:12] akash2408 commented on #6021
iam doing it

[2020-12-14 14:11] Afzal-Ind commented on #5416
Hi, @mariobehling in order to resend an invitation, how can we add this feature? I think this should be produced by the server's side first. Any hint. Thanks.

[2020-12-14 15:10] daretobedifferent18 commented on #6017
@mariobehling  This issues can be solved after #6007 in a better way

[2020-12-14 15:27] toHarsh commented on #6017
sure...i'll do it!

[2020-12-14 15:28] toHarsh commented on #6017
i removed the search bar from left hand side menu bar.

[2020-12-14 15:34] Afzal-Ind commented on #6017
Sorry it's been already solved. You are late to reply. Look for another issues now.

[2020-12-14 17:09] iamareebjamal commented on #5810
First, just implement OSM

[2020-12-14 17:11] #5555 closed

[2020-12-14 17:12] maze-runnar commented on #5810
ok

[2020-12-14 17:12] #6021 closed

[2020-12-14 17:28] abishekvashok commented on #6011
Cool

[2020-12-14 17:32] SingingApple opened #6027 "New Event form - Next button not working"
**Describe the bug**
When trying to create a new event, as soon as the editing addition info page arrives; the next button stops to work and an error _Not a valid URL_ appears.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Create Event -> Basic Details -> Addition Info'
2. Click on 'Next'
3. Scroll down to 'bottom'
4. See error

**Expected behaviour**
Upon clicking on "next" it sho

[2020-12-14 17:41] MeghalBisht commented on #6027
Probably in the "Links and social media" you did not enter a valid URL and instead entered a random string

[2020-12-14 18:18] Harshit564 commented on #6027
It's working fine for me

[2020-12-14 18:27] SingingApple commented on #6027
@MeghalBisht yes, it was a thing with Link and Social media. It wasn't highlighting the field so I was unable to identify the mistake.

[2020-12-14 18:27] #6027 closed

[2020-12-14 18:52] #5940 closed

[2020-12-14 18:56] #5927 closed

[2020-12-14 19:18] toHarsh commented on #6017
okay no worries!

[2020-12-14 20:08] mharshita commented on #5832
Working on this...

[2020-12-14 21:13] takshch commented on #5952
I am not working on this issue as i am unable to produce the same issue.
If anyone wants to work on this issue, then take this issue and go ahead.
@btapash

[2020-12-15 07:51] Manav1 commented on #6017
Can I work on the issue?

[2020-12-15 09:20] mariobehling opened #6033 "Event Dashboard: Only show Sessions and Speakers Box if options are active"
If sessions and speakers data is not activated and filled in the "Sessions and Speakers" box should not be there on the event dashboard.

![Screenshot from 2020-12-15 10-10-02](https://user-images.githubusercontent.com/1583873/102195600-13651780-3ebf-11eb-81a0-d7ea818f5476.png)

[2020-12-15 09:48] mariobehling opened #6034 "Frontpage Search/Event Category: Search term should not get added to event categories"
There are event categories/tags available on the bottom of each event card. If the user has done a search on the system before, the search term is always added as "filter". Tags on event categories should always link to the same standard page and they should not have a filter added.

![Screenshot from 2020-12-15 10-43-12](https://user-images.githubusercontent.com/1583873/102198676-f599b180-3ec2-11

[2020-12-15 10:45] imbhavesh28 commented on #6034
Can, I solve this issue @mariobehling?

[2020-12-15 11:18] imbhavesh28 commented on #6034
@mariobehling Do, I need to add a filter to this website?

[2020-12-15 11:25] imbhavesh28 commented on #6033
Sir @mariobehling, Can you explain in another way? I didn't get the issue!

[2020-12-15 11:40] Afzal-Ind commented on #6033
@imbhavesh28 see the PR, already created. Look for another issue.

[2020-12-15 11:58] sachinchauhan2889 commented on #6034
looking into this

[2020-12-15 12:12] imbhavesh28 commented on #6033
Okay, @Afzal-Ind. Thank's for reminding me!

[2020-12-15 12:50] Afzal-Ind commented on #6034
Hi! Can I change here`<a href="#" role="button" {{action 'clearFilter' 'category'}}><i class="icon close"></i></a>` into '{{action 'clearFilter' 'category'}}'? Thanks.

[2020-12-15 13:35] nlok5923 opened #6036 "Search bar in navbar hides create event button in mobile view port."
**Describe the bug**

Search bar hides the create event button in mobile view port it has been test in size 411 x 731

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to landing page
2. Change view port to mobile size approx( 411 x 731)
3. Click on search bar to elongate it

**Expected behaviour**

Search bar should not hides create event button
**Screenshots**

![Screenshot (15)](https:/

[2020-12-15 15:13] vennelakoilada362 commented on #5939
i want to work on this issue, please assign it to me and guide me

[2020-12-15 15:16] vennelakoilada362 commented on #5850
i want to work on this issue, please assign it to me
i want to contribute in the issue and guide me

[2020-12-15 17:31] #6033 closed

[2020-12-15 17:37] nlok5923 commented on #6036
@mariobehling sir please review this pull request.

[2020-12-15 21:37] ranjitkshah commented on #5833
@mariobehling Is the checkbox looks good below or any changes in its position?
![image](https://user-images.githubusercontent.com/61561415/102275639-b9f6fa00-3f4b-11eb-9174-5d33d0238e72.png)

[2020-12-16 07:04] progmatic-99 commented on #5833
That's not what this issue wants.
Also, I am working on this issue. If I will not be able to solve this, you can take it up.

[2020-12-16 09:20] mharshita commented on #5915
Working on this

[2020-12-16 10:39] SARTHAK1SINGH commented on #5915
Already working on it.

[2020-12-16 11:08] Draco9421 commented on #2436
i am working on this.

[2020-12-16 11:17] Draco9421 commented on #5760
i am working on it

[2020-12-16 12:04] ranjitkshah opened #6046 "delete option not working in attendee form"
**Describe the bug**
   Delete option not working in custom fields of attendee form after saving it reappears see the below video for more refrence

**To Reproduce**
Steps to reproduce the behavior:
1. create an event
2. turn on the attendee form
3. add custom field save it
4. now delete that field after refreshing it reappears

**Expected behavior**
it should be deleted

**video**
https://www.loo

[2020-12-16 14:25] daretobedifferent18 commented on #6046
working on it

[2020-12-16 15:40] maze-runnar commented on #6046
@daretobedifferent18 , here is a think -I think it's a pattern in wizard steps.
When user delete a ticket and refresh then ticket are not deleted.
in 2nd step when user delete link ,and refresh link is not deleted.
So until user doesn't hit save it should not complete delete process.

[2020-12-16 17:24] #6036 closed

[2020-12-16 17:27] SushantAA commented on #4622
I want to work on this issue

[2020-12-16 17:31] #5963 closed

[2020-12-16 18:02] #6034 closed

[2020-12-16 18:06] maze-runnar commented on #6046
@iamareebjamal is it really an issues?

[2020-12-16 18:19] #6046 closed

[2020-12-16 18:35] Radhika14soni commented on #5951
Is this issue still open?

[2020-12-16 18:37] MohitPatni0731 commented on #5952
can I take this issue

[2020-12-16 18:47] SushantAA commented on #4622
pls someone assign me

[2020-12-16 18:58] iamdevvalecha commented on #4622
@SushantAA just start working on it {https://github.com/fossasia/open-event-frontend/milestone/45}

[2020-12-17 03:09] mariobehling opened #6056 "Virtual Events: Adjust URLs on Video Tab Overview Page"
The video overview page has two columns with links. Please change these columns as follows:

1. Video Source URL: Unlinkify the URL. Reason: We do not really want to direct the user (organizer) to another website or easily enable them to share the source URL by copying the link. We just want to inform them here which service they are using. If they really want to get the entire link they can visit

[2020-12-17 08:42] indexoutofboundsexceptionn opened #6057 "Roles section overlaps with the Ticket section"
**Describe the bug**
In the users event section there are few columns named as name, date, roles, tickets and etc. If the email addresses mentioned under the roles section are long they will overlap with the tickets section.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Combo box near the singed in users email address'
2. Click on 'Manage Events'
3. See error

**Expected behavior

[2020-12-17 11:58] daretobedifferent18 commented on #6056
working on it

[2020-12-17 14:09] AamirAlam commented on #6057
Hello, I would like to work on it

[2020-12-17 15:12] mariobehling opened #6059 "Virtual Events: Propose and Implement Access Control and Moderator Roles for Jitsi on Open Event"
The standard use case of many Jitsi installations is that only certain authenticated users can start a conference. Once started everyone then can join the conference without further authentication, This is a possible option to use on eventyay. However we definitely need access control for users, e.g. ticket holders, joining a session as well.

How to implement this? Please direct to relevant docum

[2020-12-17 16:37] mariobehling opened #6061 "Virtual Events: Implement a Video Operations Center for Event Organizers"
Some events already have a video operations center, that they use to share videos of virtual events on YouTube. This was successfully run at DebConf 2020 and the CCC will do the same this year. A Github repository with required components is available here: https://github.com/voc

Please research, propose and and implement a VOC for organizers in the system using these components.

[2020-12-17 17:17] Ak-panchal commented on #5934
plz, assign me.

[2020-12-17 17:18] mariobehling opened #6062 "Virtual Events Video Tab: Add helper information on page"
Please add helper information on the video tab page to guide users as follows. On the table heading and on the video edit page:
* Microlocations add an (i) icon. When the user scrolls over it show the info "You need to add rooms into the wizard first before they show up here."
* Video Source URL add an (i) icon. When the user scrolls over it show the info "This column shows the original link of th

[2020-12-17 17:35] Afzal-Ind commented on #6062
Working on this.

[2020-12-17 17:50] mariobehling opened #6063 "Video Rooms Edit Page: Room Information and alternative field in BBB integration"
There used to be a room name drop down field on the video room edit page. This drop down field disappeared.
* Instead of getting rid of this area entirely the field should still show the name of the room currently being edited.

Furthermore in the Big Blue Button option of the page there should be a field with information in the area Video Source URL. Please show this as follows:
* Instead of "Vid

[2020-12-17 18:01] mariobehling commented on #6062
Thanks. Please add the info 1. directly on the video tab overview page and 2. on the video create/edit page.

[2020-12-17 18:11] Afzal-Ind commented on #5416
Hi @mariobehling . Currently working here. Could you tell me which action allows to re-invite the organizer? Any hint.

[2020-12-17 18:20] Afzal-Ind commented on #6062
Please add a screen shot here to have a vivid info. Thanks

[2020-12-17 18:28] Optider commented on #5934
Assign me.

[2020-12-17 20:38] Creatoon commented on #6057
working on it.

[2020-12-17 22:19] iamareebjamal commented on #6063
Currently, we were matching the video name to microlocation name/event name. If we allow it to be editable, we won't be able to do that now. So, for example, if someone creates a video for Main Hall, the default name would be Main Hall, but if the user switches to Exhibition, we won't be able to change the room name to the new one because of potential information loss. Is this expected?

[2020-12-17 22:20] iamareebjamal commented on #6062
Please explore the features first

[2020-12-17 22:40] mariobehling commented on #6063
Well, I think we need to talk this through as I do not know all the different options to change room and stream names, but in any case the user should visually see here which room they are assigning an "online video room/channel" to. There does not need to be an option to change the room that is matched to a specific video stream here. We do not need a drop down menu of different rooms, but users

[2020-12-17 22:51] iamareebjamal commented on #6063
It is already present for microlocation video room
![image](https://user-images.githubusercontent.com/3874064/102553174-74236880-40e8-11eb-81ec-522ab4c771a6.png)

The above screenshot is most likely of event video room

[2020-12-17 23:51] #5893 closed

[2020-12-18 04:56] nlok5923 commented on #6062
looking into this.

[2020-12-18 05:03] Afzal-Ind commented on #6062
Hi, I'm working here.

[2020-12-18 05:07] nlok5923 commented on #6062
Sorry, @Afzal-Ind i created a pr didn't see that you are working here.

[2020-12-18 05:18] SushantAA commented on #4622
@mariobehling  can u pls give me an idea of which file to refer. <br>
because I am getting confused to understand the workflow.

[2020-12-18 05:23] Afzal-Ind commented on #6062
It's not good thing for our community. I already mentioned above.

[2020-12-18 05:42] ssdn-867 commented on #5934
@RasshiBhatia @Ak-panchal @Optider sorry for replying late.You all can submit a pull request and also I am not a maintainer of this project.If that request solves the issue than that will get merge by the maintainer.

[2020-12-18 05:53] Optider commented on #5934
I am working on it.

[2020-12-18 07:24] mariobehling commented on #6063
Ahh ok, then it only remains to be added to "Event Video Room".

[2020-12-18 10:07] mariobehling opened #6068 "Video Room Edit Form: Show Room without dropdown or Event Video Room, Show video source option for BBB"
On the specific video room edit online form please change as follows:
* Room name drop down field on the video room edit page of **microlocations**: Do not offer the option of a room drop-down. Instead only show the current room that is being edited.
* Room name drop down field on the video room edit page of **event video room**: Show the field "Event Video Room" in the same place
* Furthermore in

[2020-12-18 10:08] mariobehling commented on #6063
Ok, thanks for clarifying. I am closing this issue here in favor of https://github.com/fossasia/open-event-frontend/issues/6068

[2020-12-18 10:08] #6063 closed

[2020-12-18 10:19] mharshita commented on #6068
Working on it

[2020-12-18 10:36] Afzal-Ind commented on #6068
Could I collaborate here to try to fix**event video room** and **BBB**? Thanks.

[2020-12-18 10:49] MeghalBisht commented on #5908
@iamareebjamal  Please close this, issue solved in #5896
![2020-12-18](https://user-images.githubusercontent.com/61330148/102606383-ab2b6580-414c-11eb-8563-770674672f60.png)

[2020-12-18 10:49] MeghalBisht commented on #5908
@iamareebjamal  Please close this, issue solved in #5896
![2020-12-18](https://user-images.githubusercontent.com/61330148/102606496-d44bf600-414c-11eb-8d9e-b5804e94e9a2.png)

[2020-12-18 10:53] Afzal-Ind commented on #6068
Hi, @iamareebjamal, do we need add another field  **Event Video Room**? If yes, what contents should be placed in that field? Thanks.

[2020-12-18 10:58] iamareebjamal commented on #6068
No

[2020-12-18 11:09] Afzal-Ind commented on #6068
So, I think we have to add **event video room** field in the place of Room name drop down field? Isn't that?

[2020-12-18 11:37] #5908 closed

[2020-12-18 13:05] mariobehling opened #6070 "Wizard Step 1: Change between location, online etc. moves to top of page"
When an organizer creates an event and clicks on the different options like location, online, mixed etc. the page moves to the top. Expected: The page should not move at all.

![Screenshot from 2020-12-18 14-03-35](https://user-images.githubusercontent.com/1583873/102617818-0acc4580-413a-11eb-8fd8-7e899ed4b75e.png)

[2020-12-18 13:38] MeghalBisht commented on #6070
working on it

[2020-12-18 15:35] Afzal-Ind commented on #6068
Can't make it BBB integration now. Someone else can work on this.

[2020-12-18 16:15] mharshita commented on #6068
Already working on this

[2020-12-18 18:51] #6070 closed

[2020-12-18 20:13] SushantAA commented on #5794
In  the PR it has no Reviewers :upside_down_face:

[2020-12-18 21:29] #5794 closed

[2020-12-18 21:48] iamareebjamal commented on #5807
Follow up in remaining places

[2020-12-18 22:36] mariobehling opened #6080 "Public Events Page Sidebar Link Widget: Show Extra Links in boxes"
The sidebar widget for social links already has nice boxes with icons. Please change the extra links (defined in wizard step 2) to display the text in a square box as well, e.g. Blog to show up with text "Blog" in a square box.

Also propose a way how a text area should be displayed that is too long, e.g. shortened with dots... or make the font smaller? What is the best option?

![Screenshot from

[2020-12-19 00:24] nlok5923 commented on #6080
Working on it sir.

[2020-12-19 06:15] maze-runnar commented on #5100
looking into this

[2020-12-19 10:12] maze-runnar commented on #5100
@iamareebjamal I have added a isPublic field in custom form. Is there a way to use that on session page?

[2020-12-19 10:13] mariobehling commented on #5469
As discussed it is out of scope.

[2020-12-19 10:13] #5469 closed

[2020-12-19 10:19] mariobehling commented on #4886
Mostly solved. Closing this in lieu of a dedicated access control issue that I will open.

[2020-12-19 10:19] #4886 closed

[2020-12-19 10:33] mariobehling opened #6085 "Virtual Events: Implement Access Control based on Ticket Type"
Please implement access control for rooms based on ticket type, e.g. workshop ticket holders could access a workshop room additionally compared to community ticket holders.

[2020-12-19 10:39] mariobehling opened #6086 "Captcha: Substitute Gcaptcha with Hcaptcha and implement it for sign ups, repetitive login attempts and password reset"
In order to secure the system and block hacking attempts please implement hcaptcha:
- [x] for sign ups
- [ ] if a user gets the login wrong more than 2 times
- [x] when the user requests a password reset

Please also ensure the captcha works smoothly if users sign up during a ticket order process.

Show the info about the captcha configuration in the respective admin area.

[2020-12-19 11:02] maze-runnar commented on #6086
on it

[2020-12-19 11:06] mariobehling commented on #5409
It is possible, but what is the best way to implement this? Please provide examples and screenshot of other systems.

[2020-12-19 14:06] FlashV998 commented on #5952
@daretobedifferent18 can't able to reproduce the behaviour, can you please tell whether this bug is resolved or not yet,because on the given link there's no error shown.

[2020-12-19 17:16] iamareebjamal commented on #5100
If you've added it in model, then you need to modify the API as such that only public custom form fields are returned when requested from non organiser user

[2020-12-19 17:17] maze-runnar commented on #5100
but how to return that custom-form in sessions?

[2020-12-19 18:35] iamareebjamal commented on #5100
Will think of it, first implement model changes and migration in server

[2020-12-19 19:58] mariobehling commented on #5915
Also compare how others have implemented a mobile sales page, e.g. Eventbrite
![Screenshot_20201219_205445_com android chrome](https://user-images.githubusercontent.com/1583873/102698314-bbbb0900-423c-11eb-90e4-86f1d67fc230.jpg)

[2020-12-19 22:23] Creatoon opened #6090 "The welcome email should contain "Login ID" not just "Login"."
**Describe the bug**
Welcome email is missing "ID" word after "login"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://eventyay.com/
2. Register
3. Check the welcome email , After this line "Your account has been created on Open Event. Congratulations!"
4. "Your Login is"

**Expected behavior**
"Your Login Id is"

**Screenshots**
![Screenshot_2020-12-20 (1) assacdscdscdscascdscd

[2020-12-19 22:24] Creatoon commented on #6090
@mariobehling if this is really an error , Should i fix this?

[2020-12-19 23:01] #6090 closed

[2020-12-19 23:45] #5773 closed

[2020-12-20 00:02] mariobehling opened #6092 "Public Schedule: Only show days with sessions scheduled"
For events that take place over several days please only show days that have sessions scheduled. Please take care that the scheduler used to put the sessions into the day used by the organizer is not changed.

e.g. compare https://eventyay.com/e/ae73f280/schedule

![Screenshot from 2020-12-20 00-58-38](https://user-images.githubusercontent.com/1583873/102702089-00f03280-425f-11eb-8b3e-fac1c196e8d2

[2020-12-20 00:32] nlok5923 commented on #6092
Working on it sir.

[2020-12-20 03:49] Afzal-Ind commented on #6092
Could I collaborate here to try to fix?

[2020-12-20 05:00] Afzal-Ind commented on #6092
@nlok5923

[2020-12-20 05:01] nlok5923 commented on #6092
Sure @Afzal-Ind

[2020-12-20 07:36] Afzal-Ind commented on #6092
Hi, I think we need to change this code by adding if statement `  get allDates() {
    const arr = [];
    const difference = (this.model.event.endsAt).diff(this.model.event.startsAt, 'days');
    for (let i = 0; i <= Math.abs(difference); i++) {
      arr.push(moment.tz(this.model.event.startsAt, this.timezone).add(i, 'days').toISOString());
    }
    return arr;`
Did u try this? Thanks.

[2020-12-20 12:39] sneha281 commented on #6092
Can I fix this @Afzal-Ind

[2020-12-20 12:42] sneha281 commented on #6080
Can I do this @nlok5923

[2020-12-20 12:43] sneha281 commented on #6068
Can I fix this @mariobehling ?Thanks.

[2020-12-20 12:45] nlok5923 commented on #6080
Hi @sneha281 there's already a pr for this issue you may search another one.

[2020-12-20 14:03] Afzal-Ind commented on #6092
Anyone can try this since we're also working on it.

[2020-12-20 15:11] Draco9421 commented on #6092
I am working on this one.

[2020-12-21 02:06] #6068 closed

[2020-12-21 07:51] missmahi55 commented on #5915
@mariobehling please assign me

[2020-12-21 09:10] #5416 closed

[2020-12-21 13:40] aditya1abhinav commented on #5982
@mariobehling assign me for this issue.

[2020-12-21 13:41] aditya1abhinav commented on #5982
I will work in this issue.

[2020-12-21 13:41] aditya1abhinav commented on #5982
on*

[2020-12-21 13:54] aditya1abhinav commented on #5967
I am working on this project!

[2020-12-21 13:55] aditya1abhinav commented on #5982
I am working on this project!

[2020-12-21 18:21] sachinchauhan2889 opened #6103 "Schedule page: Sessions which are not during event duration are shown"
**Describe the bug**

we create an event and schedule sessions for it. Suppose we have some sessions at last day. now we reduce the duration of event. Suppose we reduce it by one day. The sessions which are present at last date is still shown in schedule page of public event page. Even we can't change the schedule of that sessions from scheduler as scheduler is not showing that last day.

**To Rep

[2020-12-21 18:38] sachinchauhan2889 opened #6104 "Admin Reports Page: mails table show wrong time."
**Describe the bug**

whenever we send mails, we can check our reports in admin section.
But when we send any kind mail and go to reports section in admin page, mails table show wrong time.
we check activity table, it shows correct time. Just after sending mail, we check activity table it show "few second ago" as time.
But mails tab shows wrong time, instead of showing "few seconds ago" it shows "

[2020-12-21 18:46] SushantAA commented on #4622
this bug is open, I think it will take time for me to learn certain things and then implement them

[2020-12-21 20:07] mariobehling commented on #5100
It seems the point number 2 is not yet taken care. If you need some insights why the current implementation is a problem, maybe we schedule a call.

[2020-12-21 22:20] iamareebjamal commented on #5100
Yes, I forgot to reopen after merging the PRs. The issue is only 1/3 complete

[2020-12-21 22:48] #6011 closed

[2020-12-21 23:01] #5967 closed

[2020-12-22 03:12] nlok5923 commented on #6104
Working on it.

[2020-12-22 04:23] Soumi150 commented on #6104
Working on this.

[2020-12-22 04:23] iamareebjamal opened #6106 "Implement structured data search types for SEO optimization"
https://developers.google.com/search/docs/data-types/event

https://developers.google.com/search/docs/guides/generate-structured-data-with-javascript

[2020-12-22 08:36] #6086 closed

[2020-12-22 09:22] #3493 closed

[2020-12-22 09:36] mariobehling opened #6110 "Teams: Editing of Team Members Email should not be possible"
The editing of email addresses of existing team members should not be possible on the teams page. When an organizer changes an email it also gets saved even if the organizer clicks "Cancel".

![Screenshot from 2020-12-22 10-33-02](https://user-images.githubusercontent.com/1583873/102873466-7582c700-4441-11eb-87a3-585e2ef168e7.png)

[2020-12-22 09:41] mariobehling commented on #6106
Thanks! Very important.

[2020-12-22 09:47] Soumi150 commented on #6110
Working on this.

[2020-12-22 15:10] Afzal-Ind commented on #6110
Could I collaborate here? working.

[2020-12-22 15:41] himanshujaidka commented on #6106
I am working

[2020-12-22 15:56] mariobehling opened #6111 "Organizer Attendee Overview Page: Implement Sorting with Latest Orders On Top of Table"
The sorting of attendees on the attendee page is unclear. Please show the latest orders on top of the table by default.

Also ensure that ticket name sorting icon is on the same line as the text in the table heading.

![Screenshot from 2020-12-22 16-55-02](https://user-images.githubusercontent.com/1583873/102907532-78e47580-4476-11eb-8f0c-e63da06d0163.png)

[2020-12-22 15:57] mariobehling commented on #5948
Date and Time sorting unfortunately does not work as expected. Sorting is not correct here. Therefore reopening it.
![Screenshot from 2020-12-22 16-54-29](https://user-images.githubusercontent.com/1583873/102907702-b8ab5d00-4476-11eb-8b4b-abf651cb256a.png)

[2020-12-22 16:11] Soumi150 commented on #6110
@Afzal-Ind you can take this up.

[2020-12-22 17:23] mharshita commented on #6111
Working on it

[2020-12-22 18:58] Afzal-Ind commented on #6110
@mariobehling Should I remove edit option for existing team members? Thanks.

[2020-12-22 18:58] Afzal-Ind commented on #6110
@iamareebjamal @mariobehling when I refresh the page, it undoes the changes.

[2020-12-22 22:11] iamareebjamal commented on #5948
@mariobehling Can you please share the event link? I cannot reproduce

[2020-12-22 22:16] #5793 closed

[2020-12-22 22:22] #5899 closed

[2020-12-22 22:31] iamareebjamal commented on #5104
solved

[2020-12-22 22:31] #5104 closed

[2020-12-22 22:43] #5939 closed

[2020-12-22 23:05] mariobehling opened #6113 "Search: Do not show "Private Events" in search results and do not list publicly on search engines"
Testing the search shows that events that are defined as "Private Events" in wizard step 2 show up in search results of the site here https://eventyay.com/explore and on public search engines.

![Screenshot from 2020-12-22 23-59-36](https://user-images.githubusercontent.com/1583873/102941172-507a6c80-44b2-11eb-875c-2bb50a654ff0.png)

But: Events that are set to "Private Event" should not be showin

[2020-12-23 00:36] Creatoon commented on #6057
@mariobehling @iamareebjamal please review PR #6078 , and tell me if there is any mistake,  so that I can improve it.

[2020-12-23 02:24] Creatoon commented on #6106
Working on this.

[2020-12-23 05:25] #6057 closed

[2020-12-23 05:32] AamirAlam commented on #5842
Can I work on it?

[2020-12-23 05:38] shreyash-web commented on #6113
can i work on this issue

[2020-12-23 06:04] Creatoon opened #6117 "Starting and Ending time of the event is same."
**Describe the bug**
I am able to create events with same starting and ending time, which should not happen because users can do spam by creating events.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://eventyay.com/
2. Create Event by keeping starting and ending time same.
4. You will be able to create event and that's the error.

**Expected behaviour**
The ending time should b

[2020-12-23 06:17] iamareebjamal commented on #5842
Already in works

[2020-12-23 06:57] rithgan commented on #5619
Can i work on this if no is assigned yet?

[2020-12-23 07:02] rithgan commented on #5307
Are you still working on it?

[2020-12-23 08:41] mariobehling commented on #5951
A number of areas are still light gray, e.g.:
* my tickets
* my sessions
* headings in invoices

![Screenshot from 2020-12-23 09-38-19](https://user-images.githubusercontent.com/1583873/102977106-d1615480-4502-11eb-97b2-f1d08e8928ad.png)
![Screenshot from 2020-12-23 09-37-24](https://user-images.githubusercontent.com/1583873/102977116-d4f4db80-4502-11eb-86df-f1b6b36f0ec0.png)
![Screenshot from 202