[2021-02-17 05:15] #6736 closed

[2021-02-17 09:27] #4613 closed

[2021-02-17 09:27] #5667 closed

[2021-02-17 11:23] sakshi-1604 commented on #6737
Working on it

[2021-02-17 20:39] sachinchauhan2889 commented on #6722
looking into this

[2021-02-17 21:11] hpdang opened #6747 "Display wrong timezone"
Organizer chose **GMT+9** as the timezone for this event https://eventyay.com/events/75ac7f83

Public page shows **(-09)** https://eventyay.com/e/75ac7f83

The CFS also shows timezone as **(-09)**
![Screenshot from 2021-02-17 21-33-05](https://user-images.githubusercontent.com/1658742/108268506-e528e000-716c-11eb-94c9-27de02746b74.png)

[2021-02-17 23:19] mariobehling opened #6749 "Organizer Exhibitors Overview Table: Increase "Description" column width and clear html tags"
Please change the organizer exhibitors overview table as follows:
1. Decrease the width of the columns "State" and "Logo" and increase column "Description".
2. Do not show HTML code in overview table in description column.

![Screenshot from 2021-02-18 00-18-51](https://user-images.githubusercontent.com/1583873/108280782-f8dd4200-717e-11eb-96a5-d56bce69c70d.png)

[2021-02-18 04:22] #6649 closed

[2021-02-18 04:24] #5788 closed

[2021-02-18 09:27] OmkarPh commented on #6747
May I try to look into this

[2021-02-18 10:02] mariobehling opened #6752 "Public Schedule: Add dropdown filter for session type"
The public schedule view would benefit if users could choose session types, e.g. some users might be looking for workshops in a schedule. Therefore below the "Rooms" filter please provide a dropdown list with a tickbox for session types. So, the idea is that a user could tick the different workshop session types that are available at an event.

![Screenshot from 2021-02-18 10-58-17](https://user-i

[2021-02-18 10:10] iamareebjamal commented on #6747
Caused by https://github.com/moment/moment-timezone/issues/167

[2021-02-18 10:11] mariobehling opened #6753 "Public Speakers Page: Add search box to search for a speaker name"
Please add a search box "search speakers" on top of the public speakers list of events and search speaker names.

![Screenshot from 2021-02-18 11-06-23](https://user-images.githubusercontent.com/1583873/108341121-a2e9b800-71d9-11eb-8c4f-f4d12e527bc2.png)

[2021-02-18 10:16] iamareebjamal commented on #6747
This answer shows that it is expected outcome because of how the standard is defined. Thus, if someone wants +9 as offset, they should use a proper timezone of that country or Etc/GMT-9

https://stackoverflow.com/questions/23640227/how-does-gmt-ids-work-in-java-timezone/23643847#23643847

[2021-02-18 10:16] #6747 closed

[2021-02-18 11:36] 17sushmita commented on #6753
looking into this

[2021-02-18 14:02] srishty-07 commented on #6753
Hi. I'd Like to work on this issue.

[2021-02-18 17:04] preeti13456 commented on #6595
Working on it. Can you please tell me where to do the required changes?

[2021-02-18 21:06] mariobehling opened #6760 "Mobile Event Pages: Spacing and icon for event pages"
Please improve the following issues of mobile  pages.

1. The right hand side of the speaker and exhibitor page on mobile view is larger than the left side.
2. An icon for exhibitor pages is missing on the mobile drop-down menu.

![Screenshot_20210218_215037_com android chrome](https://user-images.githubusercontent.com/1583873/108421369-6350b980-7235-11eb-9c35-61463b436ef2.jpg)
![Screenshot_202102

[2021-02-18 21:17] mariobehling opened #6761 "Mobile schedule page: schedule cut off"
The schedule info is partly cut off on mobile pages. Please center the mobile schedule info and ensure it is visible.

![Screenshot_20210218_221326_com android chrome](https://user-images.githubusercontent.com/1583873/108422501-ecb4bb80-7236-11eb-97c9-2071cc855390.jpg)

[2021-02-18 21:29] mariobehling opened #6764 "Public Event Page: Right hand side"
On the right hand side of public event pages all widgets below the join event button are slightly indented. Make all widgets areas the same width as the blue join event button.

![Screenshot_20210218_222254_com android chrome](https://user-images.githubusercontent.com/1583873/108423888-bc6e1c80-7238-11eb-8a03-5173e972faa9.jpg)

[2021-02-18 23:01] mariobehling opened #6766 "Session Calendar for Virtual Events: Add link to online room in location field"
In the session calendar for online events add the link to the online video room into the location field, e.g. "Workshop Room https://eventyay.com/e/fa96ae2c/video/fossasia-summit-2021/186"

![Screenshot from 2021-02-18 23-57-51](https://user-images.githubusercontent.com/1583873/108432979-897e5580-7245-11eb-8013-a47fa658bd29.png)

[2021-02-18 23:12] mariobehling opened #6767 "Exhibitors Pages Images very large"
The exhibitors page images on the overview page and the exhibitor page itself are very large. Expected is that they are scaled down according to the size required. For example the Mace image on the FOSSASIA page is 7 MB!

Please scale the images automatically after upload by the user to a sufficient size for the specific area.

Compare https://eventyay.com/e/fa96ae2c/exhibition

![Screenshot from

[2021-02-19 00:56] iamareebjamal commented on #6766
Then it'll be visible to even those who do not have event tickets

[2021-02-19 03:53] mariobehling commented on #6766
No, then people who are not logged in will see this message.

![Screenshot from 2021-02-19 04-52-39](https://user-images.githubusercontent.com/1583873/108455340-58fee180-726e-11eb-8dda-54713d9270c6.png)

We already implemented that.

[2021-02-19 05:48] tamanna-verma commented on #6753
Hi , I would like to work on it

[2021-02-19 11:36] Naman-1234 commented on #6764
Working on it.

[2021-02-19 11:45] hpdang opened #6768 "Exhibitor Page in the Organizer view: Search feature broke the service"
When an organizer used the search box in the exhibitor page, it broke the service, see error message below

Go here https://eventyay.com/events/fa96ae2c/exhibitors/list

### Enter something in the search box
![Screenshot from 2021-02-19 12-42-21](https://user-images.githubusercontent.com/1658742/108521410-fc321400-72cb-11eb-849d-cf15fb09c4f5.png)

### Error message

![Screenshot from 2021-02-19 12

[2021-02-19 14:28] Naman-1234 commented on #6768
@hpdang  Have u created this event first, Because I have been through this error as you don't have access to other events. You have to create event first.

[2021-02-19 15:06] hpdang commented on #6768
@Naman-1234 this is an organizer bug, only organizer can access the exhibitor page. I updated the issue, hope it is a bit easier to understand now.

[2021-02-19 16:11] #6768 closed

[2021-02-19 16:31] mariobehling opened #6770 "My Sessions Page: Not showing sessions created by organizer"
If a session is created by an organizer with an email of a new speaker and then the speaker logs in the speaker is able to access the new session through the CfS page, but the speaker is not able to access the new session through the "My Sessions" page. The my sessions page of the speaker does not show the session.

Instead these sessions show up on the my sessions page of the organizer.

Compare

[2021-02-19 17:04] #6770 closed

[2021-02-19 20:31] #6722 closed

[2021-02-20 07:04] sakshi-1604 commented on #6764
Are this changes okay?
![2021-02-20 (9)](https://user-images.githubusercontent.com/65847879/108586952-4d4b1200-7377-11eb-8cb7-c1ed2bba5c32.png)
![2021-02-20 (11)](https://user-images.githubusercontent.com/65847879/108587148-03166080-7378-11eb-8e01-3c5fba784b1c.png)

[2021-02-20 08:38] sakshi-1604 commented on #6764
Are this changes okay?
![2021-02-20 (9)](https://user-images.githubusercontent.com/65847879/108589574-f3e9df80-7384-11eb-94b6-8d9981a1843c.png)
![2021-02-20 (11)](https://user-images.githubusercontent.com/65847879/108589594-0ebc5400-7385-11eb-8923-72a352b89a6d.png)

[2021-02-20 08:50] Naman-1234 commented on #6764
@sakshi-1604  I have already linked PR associated with this issue, So you can find another issue.

[2021-02-20 08:57] sakshi-1604 commented on #6764
@Naman-1234 ok

[2021-02-20 09:03] mariobehling opened #6773 "Speaker/Session CSV/PDF Export should adhere to filters"
The export options in the speakers and organizers do not adhere to the filters, e.g. exported speakers on the "Accepted" tag should only include accepted speakers or sessions in the export.

![Screenshot from 2021-02-20 10-00-56](https://user-images.githubusercontent.com/1583873/108590272-d572ec80-7362-11eb-9f28-3afe3dbeea8e.png)

[2021-02-20 10:03] sakshi-1604 commented on #6767
working on it .

[2021-02-20 10:11] mariobehling opened #6774 "Public Schedule: Not yet scheduled speakers show up with "invalid date""
Not yet scheduled speakers should show up with the date "Not yet scheduled" instead of "invalid date".

Compare https://eventyay.com/e/fa96ae2c/schedule?search=daimler

![Screenshot from 2021-02-20 11-10-04](https://user-images.githubusercontent.com/1583873/108592080-613d4680-736c-11eb-81fb-080cd49edf24.png)

[2021-02-20 11:25] sakshi-1604 commented on #6774
working on it

[2021-02-20 12:26] Sayantani-sunshine commented on #6752
Hello.Can you kindly tell me what exactly do I have to do?
I am a first timer.And I am interested to contribute in open source.

[2021-02-20 13:01] maze-runnar commented on #6767
on it

[2021-02-20 13:24] #6774 closed

[2021-02-20 16:43] mariobehling opened #6780 "User cannot join video event in Firefox Icognito and Chromium Standard more"
Message in browser as follows:
1. Chromium: video.eventyay.com refused to connect. 88.0.4324.150 (Official Build) for Linux Mint (64-bit)
2. Firefox as below. Link to "More info" in Firefox https://support.mozilla.org/en-US/kb/xframe-neterror-page?as=u&utm_source=inproduct
FX version 85.0.1 (64-bit)

![eventyay_fossasia](https://user-images.githubusercontent.com/1583873/108602512-919fd780-73a2-11e

[2021-02-20 17:37] maayami commented on #6773
working on it.

[2021-02-20 17:41] iamareebjamal commented on #6780
Cannot reproduce on Chromium or Firefox

[2021-02-20 18:16] #6760 closed

[2021-02-20 19:29] #6780 closed

[2021-02-20 19:38] hpdang opened #6781 "Ticket and Invoice Confirmation Email: Formatting Error in Organizer Message in the email"
**Describe the bug**
After I bought a ticket on https://eventyay.com/e/fa96ae2c, I received two emails with the following titles:
1. Your tickets for FOSSASIA Summit 2021 (O1613847310-17553)
2. Your order invoice and tickets for FOSSASIA Summit 2021 (O1613847310-17553)

There is an organizer message at the end of both emails. The message has some formatting errors. Please see below:

![Screenshot

[2021-02-20 20:57] sachinchauhan2889 commented on #6766
looking into this

[2021-02-20 22:00] MeghalBisht commented on #6752
Multiple session types can be ticked at once?

[2021-02-20 22:02] iamareebjamal commented on #6752
No

[2021-02-20 22:07] MeghalBisht commented on #6752
OK so can the dropdown & checkbox be omitted as LinkTo component can be directly used to query just like room & track?

[2021-02-20 22:17] iamareebjamal commented on #6752
By checkbox, it means that active session type filter should have a check sign on it in the dropdown

[2021-02-21 08:56] Aanandgupta commented on #6761
Working on it

[2021-02-21 09:46] iamvedant commented on #6761
Can you please tell exactly where is this happening. I am unable to find this page.

[2021-02-21 12:21] Sayantani-sunshine commented on #6749
Hello...Is this issue open?

[2021-02-21 12:24] Sayantani-sunshine commented on #6174
Hello...Is this issue open?

[2021-02-21 12:30] Sayantani-sunshine commented on #6737
Is the issue open?

[2021-02-21 12:42] scvthorsten opened #6783 "Access Forbidden Message"
it seems eventyay has a short session timeout.  when performing an update e.g. speaker / session after 5 minutes of waiting time results in an error "Oops something went wrong. Please try again" in the browser.

XHR6614	Other6614	 2 requests      800 B transferred     190 B resources
{,…}
errors: [{status: 403, source: {pointer: "/relationships/microlocation"}, title: "Access Forbidden",…}]
jsonap

[2021-02-21 13:12] hpdang commented on #4899
https://icon-library.com/icon/clear-filter-icon-4.html

[2021-02-21 18:16] Aanandgupta opened #6786 "Frontend check fails"
**Describe the bug**

while we are logging in or signing up if we don't pass all front end checks we get err msg and red-bordered boxes but let's say we passed all check after the button is enabled we put wrong credentials we don't see red-bordered boxes and err msgs
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'signup'
2. Click on 'put valid credentials'
3. After btn is enable put w

[2021-02-21 18:30] Aanandgupta opened #6787 "captcha check not available some time creating a blockage"
**Describe the bug**

Some time while signing up captcha is not available so signup button is not active any how same goes for reset pasword
![Screenshot (152)](https://user-images.githubusercontent.com/71023799/108634707-da3dba80-74a0-11eb-9eac-e146cd2fb48c.png)

[2021-02-21 18:56] mariobehling opened #6788 "Virtual Events: Add autoplay option to vimeo and youtube"
For virtual events using Vimeo or Youtube video it would be good to have an autoplay option on video editing page as documented here https://vimeo.zendesk.com/hc/en-us/articles/115004485728-Autoplaying-and-looping-embedded-videos.

![Screenshot from 2021-02-21 19-55-17](https://user-images.githubusercontent.com/1583873/108635250-c8e3b680-747e-11eb-8999-10474922c014.png)

[2021-02-21 19:08] mariobehling commented on #6787
Does page refresh solve it for you?

[2021-02-21 19:27] Aanandgupta commented on #6787
Yes refreshing the page solves it but I think it would be better if we don't need to do that

[2021-02-21 20:19] ranjitkshah commented on #6788
@iamareebjamal should i add a column for this? or any other options from frontend

[2021-02-21 20:25] #6694 closed

[2021-02-22 01:07] #6767 closed

[2021-02-22 01:52] maze-runnar commented on #6787
looking into it

[2021-02-22 02:58] maze-runnar commented on #6786
you will get error msg, once move out of input box.
![Screenshot from 2021-02-22 08-27-27](https://user-images.githubusercontent.com/56407566/108651528-f7e24280-74e7-11eb-9cf0-209afd17f9bc.png)

[2021-02-22 03:07] Aanandgupta commented on #6786
Hii @maze-runnar  yes I notice that its working this way

[2021-02-22 03:46] SuryanshShahi commented on #6595
Hi , I would like to work on this issue, but i'm unable to find that "index.html" file can you please help me out reaching to it.

[2021-02-22 05:11] maze-runnar commented on #6783
can you please provide specific link or any screenshot.

[2021-02-22 05:12] maze-runnar commented on #6786
this is not an issue then I guess.

[2021-02-22 05:12] #6786 closed

[2021-02-22 06:39] maze-runnar commented on #6788
@ranjitkshah it can be something like(don't know if it's ok) - when a user select autoplay option, then set url to something like`https://www.youtube.com/watch?v=77RmU8QcM4k&autoplay=1` otherwise ``https://www.youtube.com/watch?v=77RmU8QcM4k&autoplay=0`` and then split url to get ID and autoplay option.

@iamareebjamal is it ok?

[2021-02-22 07:36] iamareebjamal commented on #6788
No, URL will remain same, use extras column to store this info

[2021-02-22 13:37] MageshSundarG commented on #6713
Assign to me

[2021-02-22 14:23] takshch commented on #6106
This issue requires ember-mirage for mocking the server for the testing purpose.
Ember-mirage needs to be configured for the every existing tests. Ember-mirage configuration for existing tests is separate issue or feature which is need to done first for adding tests for this issue of structured data.
So, PR of this issue does not have tests as this issue has dependency on the feature or issue of '

[2021-02-22 17:17] mariobehling opened #6792 "Virtual Exhibition: Add a "< previous | next >" option into the right sidebar of individual exhibitor pages"
Virtual exhibition pages just appear very static. How can we improve the experience nevertheless a bit and provide the user an experience to click through the exhibition easily? One idea is to have a previous / next option. Therefore please implement:
* add previous / next buttons or text fields into the side bar of individual exhibitor pages below "Add to Calendar"
* follow the order of exhibitor

[2021-02-22 18:30] #6713 closed

[2021-02-22 19:29] Aiswarika commented on #6792
Can  I work on this issue?

[2021-02-22 23:50] mariobehling commented on #6792
Yes, please go ahead and make a PR in the upcoming days if you want to claim this issue.

[2021-02-22 23:51] mariobehling opened #6800 "Public Event Page: Change order of left side menu"
The left side menu has a lot of menu items now. Please change the order as follows to ensure the most important links are on the top:
- Info
- Tickets
- Schedule
- Speakers
- Sponsors
- Exhibition
- Organizer
- Call for Speakers
- Getting here
- Code of Conduct

[2021-02-23 04:15] rolandturner opened #6803 "Unclear symbols on event listings: circle and forward-arrow"
Steps to reproduce the behaviour:
1. Go to https://eventyay.com/e/fa96ae2c/schedule?search=roland
2. Wonder what circle and forward-arrow icons near the top right do
2. Click on circle. Nothing happens apart from a tick appearing.
3. Click on forward arrow. No forwarding action is initiated.

**Expected behaviour**
The circle should instead be a button labelled "Add to My Schedule" (or "Remove fro

[2021-02-23 09:37] mariobehling commented on #6803
Thanks.

Please change as follows:
1. For the circle on scroll over show a tool tip "Add to My Schedule" or if it is added already "Remove from My Schedule"
2. For the link icon. @rolandturner The right arrow is also often used as a link icon among two other regularly used icons. A question is what is the best icon to symbolize an internal link with more information. We were using the chain link i

[2021-02-23 10:21] ameybhavsar24 commented on #6803
Hi @mariobehling. Can you please assign it to me?

[2021-02-23 11:02] ameybhavsar24 commented on #6803
Okay. I'm working on this issue.

[2021-02-23 13:34] rolandturner commented on #6803
I don't ever recall seeing this. The arrow currently in use is one that I can only ever recall seeing used to mean "forward this".

I'd suggest that there's little value in assigning a special symbol for an internal link. I take the point on chain also being used for share (although 3 boxes joined with 2 lines is perhaps more typical for that?). Another option for a link is the "arrow out of a squ

[2021-02-24 05:01] mariobehling opened #6812 "Public Schedule: Add full screen option to Calendar View"
The calendar view is often very condensed. Please add a full screen view to the calendar view of schedules. Add an icon on the top right next to the timezone dropdown.

![Screenshot from 2021-02-24 05-59-17](https://user-images.githubusercontent.com/1583873/108949994-b9729200-7665-11eb-89a1-1b91c3d5fdf6.png)

[2021-02-24 05:16] mariobehling opened #6813 "Profile Image: If user has no profile image use Gravatar"
Many users already have Gravatar. Please use a gravatar if the user has no profile image to display on attendee lists and other places.

[2021-02-24 05:23] mariobehling opened #6814 "Schedule: Add number badge and sort by popularity"
As attendees now have the possibility to add a session to their schedule please show a badge with the number of attendees to the right of the tick icon and enable sort by popularity on the dropdown menu.

![Screenshot from 2021-02-24 06-19-40](https://user-images.githubusercontent.com/1583873/108951627-9c8b8e00-7668-11eb-826c-15c0d4a585f9.png)

[2021-02-24 09:27] #6322 closed

[2021-02-24 09:31] #6764 closed

[2021-02-24 10:16] mariobehling opened #6816 "Wizard: Cannot progress without adding form fields in "switched off" sponsor step "Field may not be null""
When a user creates an event in the wizard and moves forward to the sponsor step, the user cannot progress without adding form fields in the "switched off" sponsor step. Error: "Field may not be null".

Expected: It should not be necessary to enter any sponsor.

![Screenshot from 2021-02-24 11-13-57](https://user-images.githubusercontent.com/1583873/108985720-a675b700-7691-11eb-85c8-59e30459b7f7.p

[2021-02-24 13:38] mariobehling opened #6818 "Schedule: Selecting/Unselecting sessions for "My Schedule" no longer possible"
Selecting sessions for My Schedule is not possible. Nothing happens when clicking it.

Compare https://eventyay.com/e/fa96ae2c/schedule

![Screenshot from 2021-02-24 14-37-07](https://user-images.githubusercontent.com/1583873/109008690-eba7e200-76ad-11eb-8adc-e5e1ff05a545.png)

[2021-02-24 14:16] mariobehling opened #6819 "Improve "Join Event" button experience for users without a ticket"
Users are getting confused when they click "Join Event" and they receive an error pop up. They do not read it carefully. They think they already signed up for the event, even though they only signed up for the platform. Therefore please change the feature as follows:

* Change top right "Join Event" button to "Join Live Event"
* If the user does not have a ticket there is a pop up. Please change t

[2021-02-24 19:59] mariobehling opened #6821 "Public Schedule: Add clear all filters icon next to sort order and change minus icon to clear filter icon"
Our clear filter icon is confusing for people. Users overwhelmingly report they do not understand that the minus icon is a clear filter icon. Secondly we do not have one place to clear all filters everywhere. Therefore please change the public schedule page as follows:
1. Add a clear filter icon that is similar as below next to the sorting option. This clear filter option should clear all filters

[2021-02-25 00:29] mishari opened #6823 "Unexpected Error when joining a session"
**Describe the bug**
When joining a session, I get the error "Oops, the page you were trying to access has caused an error. ."

**To Reproduce**
Go to https://eventyay.com/e/fa96ae2c/session/6707
click on "Join Event"

**Screenshots**

<img width="873" alt="image" src="https://user-images.githubusercontent.com/503018/109084862-286dea80-773b-11eb-9158-6077c518e8b8.png">

**Desktop (please complete

[2021-02-25 02:37] maze-runnar commented on #6818
on it.

[2021-02-25 07:35] hpdang commented on #6818
Adding a screenshot also from my side that shows this error

![Screenshot from 2021-02-24 14-28-29](https://user-images.githubusercontent.com/1658742/109118950-4f7cea00-7744-11eb-9e1a-ea64ba61c8a9.png)

[2021-02-25 11:03] rohank2502 commented on #6788
Hey !! Is this Issue Open Still Now I will like to work on it.

[2021-02-25 11:06] rohank2502 commented on #6812
Hey !! Rohan, Here I am new to this community. I will like to work on this issue under your guidance !!

[2021-02-25 11:25] mariobehling opened #6826 "Virtual Events: Change sidepanel from buttons to text with icons"
The sidepanel UI for virtual events is not clear for users. People do not understand that the boxes are video rooms. We can follow other existing solutions more closely.

Please change the side panel as follows:
* Instead of buttons show the sidepanel items as a list with icons on the left and the menu item next to it similar to the screenshot below
* Order the menu points as follows
   - Schedule

[2021-02-25 11:41] hpdang commented on #6821
@sachinchauhan2889 I'm thinking if it is possible to use two icons:

1) Normal Filter (without the X): when there is no active filter

2) Clear Filter: when filter(s) is selected

[2021-02-25 14:26] #6821 closed

[2021-02-25 14:28] #6818 closed

[2021-02-25 15:22] Yousufkhan1 commented on #6813
if u want i can?

[2021-02-25 15:50] mariobehling opened #6830 "Exhibitors Pages: Slides usually only become visible after reload of the page"
On the exhibitors pages there is an issue that slides only load after a reload of the exhibitors page, whereas all other areas open right away. Expected: Slides should always works right away too.

Compare https://eventyay.com/e/fa96ae2c/exhibition

![Screenshot from 2021-02-25 16-47-50](https://user-images.githubusercontent.com/1583873/109178769-7e697f00-7789-11eb-8930-45fcf5ef0998.png)

[2021-02-25 16:00] iamareebjamal commented on #6830
That's Google's iframe problem, we can't do much about it. We can't know programmatically if it has failed to load and Google rate limits it randomly

[2021-02-25 17:21] sachinchauhan2889 commented on #6821
Yes it can be easily implemented. Should i create PR for this?

[2021-02-25 17:38] iamareebjamal commented on #6821
Yes

[2021-02-25 22:23] gyanprakash0221 commented on #6552
I want to work on this issue, could you please assign it to me .. Thankyou

[2021-02-25 22:25] gyanprakash0221 commented on #6552
I am working on this issue can you please assign this to me

[2021-02-25 23:17] mariobehling opened #6833 "Account Profile Image no longer visible"
Profile image no longer visible on account page for admin even though it is still visible on event pages that use the same image.

I remember this problem existed in the middle of last year for some time too and I think it was a permissions issue.

The issue happens for about 5 days.

![Screenshot from 2021-02-26 00-14-31](https://user-images.githubusercontent.com/1583873/109232068-ef2f8c00-77c7-1

[2021-02-26 06:48] mariobehling commented on #6830
Ok, I did not pay enough attention. So, we have two issues actually. 1. It does not load reliably. 2. We are back at using more Google services apart from Youtube where this was expected. Let's come back to this after the FOSSASIA Summit and discuss what alternatives are there.

[2021-02-26 11:07] mehakkkk commented on #6595
Hello, I have been through the code and I am willing to work on the issue

[2021-02-26 13:56] hpdang commented on #6830
If this can't be fixed for the summit, can we move the slides into the bottom of the page instead having it right now in the middle?

[2021-02-27 09:16] maze-runnar commented on #6826
is this ok?
![Screenshot from 2021-02-27 14-45-17](https://user-images.githubusercontent.com/56407566/109383133-7258fb00-790a-11eb-9f29-c870aa5edab0.png)

[2021-02-27 13:19] mariobehling opened #6852 "Public Schedule: Date filters text not in middle, get rid of empty space"
1. After the filter was implemented a few days ago the height of the buttons changed and the text is no longer in the middle on the second line of filters.
![Screenshot from 2021-02-27 14-20-36](https://user-images.githubusercontent.com/1583873/109388381-ff01ba00-7906-11eb-87b6-4166c09d13ad.png)

2. There is also an issue with the spacing in some resolutions. Basically we want the dropdown etc. to

[2021-02-27 13:46] Naman-1234 commented on #6852
Does this look okay sir?
![Screenshot (1032)](https://user-images.githubusercontent.com/63748249/109388939-16a16880-7930-11eb-975c-027f58905659.png)

[2021-02-27 15:00] #6816 closed

[2021-02-27 15:35] iamdevvalecha commented on #6812
started working on it

[2021-02-27 16:37] prateekj117 commented on #6814
@iamareebjamal Taking this up.

[2021-02-27 16:48] anjali1102 commented on #6833
Taking up this issue

[2021-02-27 16:57] mariobehling commented on #6852
No

[2021-02-27 17:03] Naman-1234 commented on #6852
Sir can you please elaborate a little more about  this issue, Like what are the additional changes required along with the changes done in screenshot?

[2021-02-27 18:38] #6752 closed

[2021-02-27 20:50] Naman-1234 commented on #6852
@MeghalBisht  Mam, I was working on it as I was constantly in touch with the maintainer, So shouldn't you wait for some time. i even half solved that issue and was asking Mr. Mario Behling Sir what more changes he wants. So Mam close your Pr and let me work on this one. What do you think about this Sir @mariobehling  Sir.

[2021-02-27 22:25] mariobehling opened #6855 "Publice Event Page: Reduce size of social icon boxes"
The social icon boxes were in a good size as they fit into the width well in a number of resolutions. After we increased the font base font size the icon boxes are now bigger as well. Please keep the font size but reduce the icon boxes to the size of before.

Compare
![Screenshot from 2021-02-27 21-04-32](https://user-images.githubusercontent.com/1583873/109402074-0c449600-7953-11eb-91a9-e1e0de600

[2021-02-27 22:32] Naman-1234 commented on #6855
Working on this one.

[2021-02-27 22:32] mariobehling commented on #6852
@Naman-1234 Please finish existing PRs before taking up new issues. It would also be good if you could join the regular meetings of that Areeb announces on the chat channel. We are trying to align the work on different issues in a collaborative way and we will be able to avoid overlap. Basically it is difficult to define a hard rule here. Meghal made a PR first and there was not a PR from you yet.

[2021-02-27 22:36] Naman-1234 commented on #6852
Ok sir, No problem. Actually, I took this issue because I thought that work in other Pr is finished and Only needs reviewing.  Thanks for the help.

[2021-02-28 02:55] rolandturner opened #6857 "Privacy failure: adding to "My Schedule" improperly discloses personal data"
**Describe the bug**
When someone adds a session to "my schedule" they are recording personal data that they've neither been informed will be published, nor would they reasonably expect it to be published.

**To Reproduce**
Steps to reproduce the behaviour:
1. Click the circle on any session
2. Your face now appears as an attendee when others look at the same session

**Expected behaviour**
Your c

[2021-02-28 03:08] rolandturner commented on #6857
Comment from Marion in the Speaker chat:

This points to an obvious solution: account privacy flags should **all** default to on, and should be turned on for existing accounts.

Automatically leaking stuff is behaviour so abusive that even Facebook has stopped doing it. We need to not start.

[2021-02-28 03:54] rohank2502 commented on #6812
Ok thanks

[2021-02-28 10:06] hpdang opened #6858 "Public Schedule: All filters disappear on the schedule page"
All filters on the right hand side disappeared when I viewed this public schedule page https://eventyay.com/e/fa96ae2c/schedule

![Screenshot from 2021-02-28 11-05-17](https://user-images.githubusercontent.com/1658742/109414780-02537f00-79b5-11eb-8b68-0038b2564848.png)

* Machine
Ubuntu 18.04
Chrome

[2021-02-28 10:54] MeghalBisht opened #6859 "Video Edit Page: Renaming room via wizard does not rename the room in video edit page"
**Describe the bug**

 Renaming room via wizard does not rename the room in video edit page

**To Reproduce**
Steps to reproduce the behaviour:
1. Create event
2. Add video rooms
3. Edit room name via wizard
3. Go to video tab
4. Click edit
5. Old video room name appears

**Expected behaviour**
The room should be renamed to the new name

**Screenshots**
Expected name - Microlocation Name Please
Sh

[2021-02-28 11:00] #6852 closed

[2021-02-28 12:55] #6858 closed

[2021-02-28 14:58] TD-17 commented on #6855
Can you assign me this one ? @mariobehling

[2021-02-28 15:57] Kushal997-das opened #6862 "Joining request."
How i can join this `fossasia` organazation?

[2021-02-28 16:00] iamareebjamal commented on #6862
This is an issues board, not a question forum. Use gitter

[2021-02-28 16:00] #6862 closed

[2021-02-28 16:06] Kushal997-das commented on #6862
I know but i'm unable to that's why i created issue here could you please tell me how may i join this ? Or send me any specific link  @iamareebjamal

[2021-02-28 17:46] mariobehling commented on #6595
Expected would be and arrow up button that scrolls the page to the top. Please compare for example to https://2019.fossasia.org/

![Screenshot from 2021-02-28 18-44-30](https://user-images.githubusercontent.com/1583873/109428011-4bc3be80-79f5-11eb-8eb3-bdac045fd210.png)

[2021-02-28 18:00] mariobehling commented on #801
Reopening this as it is not working currently.

[2021-02-28 18:18] mariobehling commented on #6214
I do not understand the issue. The toggle is there are intended. If the toggle is not working as expected or gives an error please report the issue accordingly. As I do not see what is the issue here I am closing this.

[2021-02-28 18:18] #6214 closed

[2021-02-28 18:27] #6859 closed

[2021-02-28 19:42] mariobehling commented on #6826
Please stick to the previous color profile, keep icons on the left and ensure video rooms are not too small font.

[2021-02-28 20:17] #6301 closed

[2021-02-28 20:17] #6800 closed

[2021-02-28 20:20] mariobehling commented on #6206
As the implementation of sponsors has changed we will need this feature handled in a different way. I will open an issue about this later.

[2021-02-28 20:20] #6206 closed

[2021-02-28 20:20] #6199 closed

[2021-02-28 20:23] mariobehling commented on #6284
Closing this issue as such design questions should be part of a larger issue that tackles the larger design question here.

[2021-02-28 20:23] #6284 closed

[2021-02-28 20:31] #6187 closed

[2021-02-28 20:32] #5764 closed

[2021-02-28 20:34] #5238 closed

[2021-02-28 20:34] #5201 closed

[2021-02-28 20:35] #5143 closed

[2021-02-28 20:37] #4807 closed

[2021-02-28 20:38] #4174 closed

[2021-02-28 21:02] mariobehling opened #6864 "Exhibition: add option "Add Related Session""
On the exhibitors page show a section "Related Sessions" above the "Tweets" section. Implement it as follows:
* In this area show sessions of the exhibitor. Add a heading "Exhibitor Sessions" on top of the section.
* Only show this section if in the exhibitor form a session has been added.
* In the exhibitors form provide a dropdown option to "Add a related exhibitor session".
* Also provide an op

[2021-02-28 22:32] #6788 closed

[2021-03-01 11:20] helenvarley commented on #6484
hi, i don't know if this is the right place to ask, but i'm evaluating ticketing systems at the moment & need something that supoprts multiple languages. i couldn't find it in the FAQs for Eventyay, so am wondering if this is something that is still in development? thanks.

[2021-03-01 11:40] SwapnilSoni1999 commented on #6781
Probably some parsing issue

[2021-03-01 16:04] mariobehling opened #6865 "Virtual Event: Renaming event video room does not rename video room on sidepanel"
The issue is similar to https://github.com/fossasia/open-event-frontend/issues/6859. The video room seems to be created on the server with an initial name. If it is changed it does not change everywhere. Should we maybe rethink this and use a room ID in order to not confuse the video room "microlocation" and the server video room name? It seems like devs are confused about it.

![Screenshot from 2

[2021-03-01 17:03] mariobehling opened #6866 "Virtual Events: Enhance video room config overview page and add helper text"
Currently it is not possible to add virtual rooms that do not get listed in the calendar/schedule. A schedule should not list all the social, discussion, and support rooms though.

We already have the option for event video rooms. We can expand this option and include more "unlisted" rooms here that do not show up in the schedule. Therefore please implement the following:

**Event Video Rooms**
*

[2021-03-01 17:13] mariobehling opened #6867 "Virtual Event Sidepanel: Third video room with youtube link not showing up"
Adding an additional video room with a youtube link the video room does not show up. Accessing the video room from the organizer page shows up, but then the video does not autoplay.

Compare https://eventyay.com/events/fa96ae2c/video/all

![Screenshot from 2021-03-01 18-09-29](https://user-images.githubusercontent.com/1583873/109532689-a7578000-7ab9-11eb-908b-d795f821bf86.png)

Compare https://eve

[2021-03-01 18:56] #6812 closed

[2021-03-01 18:58] mariobehling opened #6870 "Public Speaker Page/Schedule: Website links of speaker missing"
The website links of speakers are missing even though the link has been set to public. Please add a globe link icon to:
* Speakers page
* Schedule expansion area
* Session page

Compare https://eventyay.com/e/fa96ae2c/speakers
![Screenshot from 2021-03-01 19-55-00](https://user-images.githubusercontent.com/1583873/109544757-3bc8df00-7ac8-11eb-87c9-48e044e35095.png)

Compare https://eventyay.com/e/

[2021-03-01 19:00] #5789 closed

[2021-03-01 19:02] #6857 closed

[2021-03-01 19:07] iamareebjamal commented on #6867
We're only showing those microlocations which have some accepted/confirmed sessions

[2021-03-01 19:24] mariobehling commented on #6867
Ok, understand. Then this is related to https://github.com/fossasia/open-event-frontend/issues/6866

We realized that we need discussion and support rooms without a schedule. We could add "discussion" over the entire day into the schedule, but adding more rooms results in a huge calendar schedule then. It would not make sense then.

![Screenshot from 2021-03-01 20-23-40](https://user-images.github

[2021-03-01 19:27] maze-runnar commented on #6826
![Screenshot from 2021-03-02 00-57-32](https://user-images.githubusercontent.com/56407566/109548161-4d26e100-7af2-11eb-8e7b-b14dfb861ad3.png)

[2021-03-01 19:30] mariobehling commented on #6867
However, the point about the video autoplaying is valid. I cannot get it to autoplay. The button in the form is switched off always after I save it as switched on.

![Screenshot from 2021-03-01 20-29-31](https://user-images.githubusercontent.com/1583873/109548471-f955d100-7acc-11eb-80bc-77f5790f6ac0.png)

[2021-03-01 19:50] iamareebjamal commented on #6867
Seems it was created before autoplay switcher feature and thus couldn't be saved with extra JSON, fixed now after switching video channel to jitsi and then back to YouTube

[2021-03-01 22:27] mariobehling commented on #6867
Just created it a few hours ago, but it is working now. Thank you. Will continue to observe the feature.

[2021-03-01 22:27] #6867 closed

[2021-03-01 22:38] mariobehling opened #6882 "Virtual Event: YouTube and Vimeo provide option for looping a video"
Currently a video that is displayed only runs one time. There are many use cases where we want the video to run in a loop. Similarly to the autostart for Youtube and Vimeo please implement the option for the organizer to "loop" a video.

The documentation for **vimeo** is here https://vimeo.zendesk.com/hc/en-us/articles/115004485728-Autoplaying-and-looping-embedded-videos

The the documentation of

[2021-03-01 22:40] mariobehling opened #6883 "Virtual Events: Implement modest branding for youtube"
There is an option for modest branding of Youtube. Please implement this option and use it always.

This parameter lets you use a YouTube player that does not show a YouTube logo. Set the parameter value to 1 to prevent the YouTube logo from displaying in the control bar. Note that a small YouTube text label will still display in the upper-right corner of a paused video when the user's mouse point

[2021-03-01 23:30] #6870 closed

[2021-03-02 08:14] mariobehling opened #6885 "New Registration: Suddenly shows error and example.com"
When registering a new account the email field suddenly shows an example.com email address and error message. It seems like the account was registered nevertheless.

![Screenshot from 2021-03-02 09-12-09](https://user-images.githubusercontent.com/1583873/109618220-90f00980-7b37-11eb-9bc9-50c39e2e09fe.png)

[2021-03-02 08:16] mariobehling commented on #6885
Additionally the account is set to verified without verification apparently.

[2021-03-02 08:21] mariobehling commented on #6885
I was using an incognito browser window.

[2021-03-02 12:57] mariobehling commented on #6885
It could be a permissions conflict, because the speaker was already added into the system as a speaker with the same email. However, the speaker did not have a registration in the system. So, when the speaker registered with the email a) the system said "the email already exists in the system" and b) the system said "The email is not yet registered". So, it displayed an error and "example@example.

[2021-03-02 12:58] mariobehling commented on #6885
And even after the speaker registers these speakers are not able to login to the event and participate in the virtual event sessions.

[2021-03-02 13:01] maltman23 opened #6888 "Couldn't edit My Session on 19-Feb-2021 (but works fine today, 2-Mar-2021)"
**Describe the bug**
On 19-Feb-2021, while logged into my account on Eventyay for FOSSASIA Summit 2021, I couldn't edit My Session (Learn to Solder with ArduTouch music synthesizer kit and make music, sound, and noise!).  When I tried I got an error message:  "Oops, something went wrong".
Today, 2-Mar-2021, it works fine:  I could make edits to My Session without a problem.

**To Reproduce**
Steps

[2021-03-02 13:18] mariobehling commented on #6888
Thanks we are investigating. It might have been related to another issue on the server backend that we just fixed.

[2021-03-02 13:27] iamdevvalecha commented on #6813
starting this issue.

[2021-03-02 14:13] iamareebjamal commented on #6888
Was fixed in https://github.com/fossasia/open-event-server/pull/7761, https://github.com/fossasia/open-event-server/pull/7750, https://github.com/fossasia/open-event-frontend/pull/6727

[2021-03-02 14:17] #6753 closed

[2021-03-02 14:46] mariobehling commented on #6888
Thanks @iamareebjamal for fixing it!
Thanks @maltman23 for reporting and confirming the issue. Overall the systems is getting more stable but there are always glitches. We appreciate reports about any issue. Cheers!

[2021-03-02 14:46] #6888 closed

[2021-03-02 15:10] maltman23 commented on #6888
Glad to be of assistance.  Cool that you fixed it before I even reported it.  :)

Cheers,
Mitch

________________________________
From: Mario Behling <notifications@github.com>
Sent: Tuesday, March 2, 2021 06:46
To: fossasia/open-event-frontend <open-event-frontend@noreply.github.com>
Cc: Mitch Altman <maltman23@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [fossasia/open-event-f

[2021-03-02 17:06] #6883 closed

[2021-03-02 17:38] sahil-pal commented on #6885
@mariobehling please give the opportunity to resolve this bug, I can perform the work asap

[2021-03-02 21:57] iamareebjamal opened #6892 "Make email in order form uneditable"
Email is disabled in order form if user email is set, however, if you autofill in chrome, it is still overridden and when user tries to submit the order, it saves user's email as the one in form, which may result in an error.

1. If user email exists, the form field should be disabled and uneditable
2. Even if it somehow gets filled, it should not be saved as user's email if user's email already e

[2021-03-02 22:00] mariobehling opened #6893 "Ticket Order: Unverified Account not able to order paid ticket"
It was defined at one point that even unverified accounts should always be able to get paid tickets (but for free tickets we had diverging ideas). Independently from how free tickets are handled unverified accounts should always accept paid tickets. This is not the case if the user stops the order process and tries to order again at a later time. In that case the system requires the user to verify

[2021-03-02 22:06] mariobehling commented on #6892
It seems like this issue resulted in an error message "Oops something went wrong" when the user clicked check out. Depending on how this gets solved a proper error message would be suitable and the user should be warned about the error right in the order step instead of being able to proceed.

[2021-03-02 22:18] #6892 closed

[2021-03-03 10:30] #6629 closed

[2021-03-03 12:27] hpdang opened #6898 "Display example@example.com as my profile email"
I logged in to my account after clicking around for a bit, my profile switched to example@example.com as my profile display. I don't know what happened.

![Screenshot from 2021-03-03 13-19-43](https://user-images.githubusercontent.com/1658742/109805720-1650e800-7c24-11eb-9676-4278e594cf6d.png)

[2021-03-03 14:20] iamareebjamal commented on #6898
Duplicate of #6885

[2021-03-03 14:20] #6898 closed

[2021-03-03 14:21] #6819 closed

[2021-03-03 15:50] ankitashaw514 commented on #6833
Can i work on this?

[2021-03-03 16:17] ankitashaw514 commented on #6737
can i work on this?

[2021-03-03 19:21] mariobehling commented on #6882
Please also implement the option in the form to switch it on/off similarly to autoplay.

![Screenshot from 2021-03-03 20-21-05](https://user-images.githubusercontent.com/1583873/109860131-1077f880-7c5e-11eb-83dc-c2daf558f11c.png)

[2021-03-03 19:27] MeghalBisht commented on #6882
Done already #6899

[2021-03-03 20:34] #6882 closed

[2021-03-03 20:55] #6885 closed

[2021-03-03 22:03] #6823 closed

[2021-03-03 22:49] mariobehling opened #6902 "Account Profile Image shows broken image"
The account profile image shows a broken image, e.g. on the Hong Phucs and Mario's account. And, it does not show up anymore on the top right account profile icon.

Compare https://eventyay.com/account/profile

![Screenshot from 2021-03-03 23-10-10](https://user-images.githubusercontent.com/1583873/109882983-044e6400-7c7b-11eb-9f35-1bf8bb5ca5bd.png)

[2021-03-03 22:53] mariobehling opened #6903 "Virtual Event: Do not show email address"
If a user did not fill in their profile name on BigBlugButton it will show their email address as a name. Users do not want their email address to be displayed. A good alternative would be to do what Google is doing for anonymous logins to documents - to display a fantasy name for each user.

[2021-03-03 23:06] iamareebjamal commented on #6902
Don't know how it changed to nonexistent image, but I have now set the avatar and original image URL to the image present in the system

[2021-03-03 23:14] iamareebjamal commented on #6833
Duplicate of #6902

[2021-03-03 23:14] #6833 closed

[2021-03-04 00:00] mariobehling commented on #6902
Perfect. This solves the issue. Thanks.

[2021-03-04 09:50] AbhiSahane0 commented on #6864
Can I do this project plzz.

[2021-03-04 09:59] Sinha-09 commented on #6855
May I work on it??

[2021-03-04 10:05] Naman-1234 commented on #6855
@Sinha-09  My Pr is already open on this issue and is under review. So Please Find another issue.

[2021-03-04 13:14] #6814 closed

[2021-03-04 13:31] mariobehling opened #6904 "Public Speakers Page: Session links missing"
On the public speakers page if the user clicks on a speaker they will see the profile. Below the profile the sessions should be listed. They are missing on the speakers page (even though some are initially shown, but as soon as the user scrolls down they disappear).

On the event start page there is a section "Feature Speakers". Here the sessions are listed as expected. On the speakers page it sho

[2021-03-04 13:56] tanay123456789 commented on #6904
I will work on this issue.

[2021-03-04 16:36] #6345 closed

[2021-03-04 18:15] mariobehling commented on #6711
The first PR now did not solve the issue entirely as there is a scroll bar even if there are no sessions in the list.

![Screenshot from 2021-03-04 19-15-24](https://user-images.githubusercontent.com/1583873/110009928-fc93cb80-7d1d-11eb-8828-0d73a4192ef3.png)

[2021-03-04 18:19] #6737 closed

[2021-03-04 19:42] #6903 closed

[2021-03-04 20:12] iamdevvalecha opened #6908 "MY TICKETS: the order id and address of event part merges and conflict."
**Describe the bug**
the order id and address of event part merges and conflict.

Steps to reproduce the behaviour:
1. Go to eventyay.com
2. Click on eventyay.com/my-tickets/upcoming/completed
See error

**Screenshots**
![Screenshot from 2021-03-05 01-31-55](https://user-images.githubusercontent.com/71969867/110023274-fec44d00-7d52-11eb-91e8-7299841bbbb5.png)
![Screenshot from 2021-03-05 01-31-55]

[2021-03-04 20:13] iamdevvalecha commented on #6908
@iamareebjamal @mariobehling

[2021-03-05 03:58] Naman-1234 commented on #6711
Working on that.

[2021-03-05 06:44] sachinchauhan2889 opened #6913 "Video-room page: Error while creating event video room."
**Describe the bug**

When user try to create video-room or edit existing video-room, after form submitting when page re-direct to video-room list, video-room is not shown there. we need to refresh page to see video-room.
(issue discussed in meeting.)

Screenshot from meeting notes:
![1](https://user-images.githubusercontent.com/72552281/110074574-70c68180-7da7-11eb-8812-1f6108b3e45a.png)

**To Re

[2021-03-05 06:50] sachinchauhan2889 opened #6914 "Microlocation Video-room: Error when user exit without submit video-room creation form."
**Describe the bug**

When user exit without submitting video-room form, error thrown in console.

**Screenshots**

![1](https://user-images.githubusercontent.com/72552281/110077956-0a446200-7dad-11eb-86c9-0dd999f67d38.png)
![2](https://user-images.githubusercontent.com/72552281/110077966-0ca6bc00-7dad-11eb-9fa3-2de8c75dc7c5.png)

https://user-images.githubusercontent.com/72552281/110077981-103a43

[2021-03-05 07:17] Naman-1234 commented on #6711
@mariobehling, @maze-runnar   Sir, sorry to disturb you, But could you please tell me how can I add unscheduled sessions in my event. In this way, I will be able to perform the tests before submitting a PR.

[2021-03-05 07:29] ranjitkshah commented on #6908
#6154

[2021-03-05 08:02] afzal442 commented on #6908
@iamdevvalecha It happened due to recent changes done in the font size.

[2021-03-05 08:16] iamdevvalecha commented on #6908
okay

[2021-03-05 09:44] AbhiSahane0 commented on #6908
Can I do This sir plzz

[2021-03-05 10:02] anirudhsai20 opened #6916 "README.md file enhancement"
The README.md file can be enhanced adding a list of all its contributors. Also a better description about this project is required.

[2021-03-05 10:03] anirudhsai20 commented on #6916
Please assign this issue to me.

[2021-03-05 10:29] mariobehling opened #6917 "Public Event Page: Improve ticket box"
The ticket box columns look ok, but the text in the firs description column breaks without filling in the entire width of the column.

Please ensure there is not a large wide space in the first ticket column and expand the text closer to the second column.

Compare https://eventyay.com/e/fa96ae2c
![Screenshot from 2021-03-05 11-27-01](https://user-images.githubusercontent.com/1583873/110103239-fd7

[2021-03-05 11:37] mariobehling commented on #6916
Out of focus at the moment.

[2021-03-05 11:37] #6916 closed

[2021-03-05 11:41] mariobehling opened #6918 "Public Schedule: On clicking schedule in sidebar menu show schedule without filters"
When a user uses a filter, visits other event pages and then comes back to the schedule by clicking on the left hand sidebar schedule item the user will see the schedule with the previous filter.

Expected is that there should be schedule without a filter or search result displayed.

compare https://eventyay.com/e/fa96ae2c/schedule

![Screenshot from 2021-03-05 12-40-28](https://user-images.github

[2021-03-05 13:20] #6917 closed

[2021-03-05 13:21] #6918 closed

[2021-03-05 13:22] #6904 closed

[2021-03-05 13:23] #6914 closed

[2021-03-06 00:57] iamareebjamal commented on #6473
To delete all unused discount codes in an event, send a `DELETE` request to `{{server}}/v1/events/{{id}}/discount-codes/delete-unused`

[2021-03-06 06:11] hpdang opened #6924 "Event Organizer Feature: Add additional Data into the Sessions CSV file"
Event organizer can currently download all sessions as a CSV file. Please add two more columns into the existing CSV File
- Speaker Email (Next To Session Speaker Column)
- Schedule of the session (Date/Time)

[2021-03-06 06:26] hpdang opened #6925 "Cookies Error? Unable to access Eventyay.com from a browser that previously logged in"
**Describe the bug**
Unable to access Eventyay.com from a browser that previously logged in. It just showed a white page. After remove Eventyay.com from Cookies list of Chrome. It worked again.

![Screenshot from 2021-03-05 19-12-31](https://user-images.githubusercontent.com/1658742/110197506-411d8500-7e4c-11eb-8bd3-e851f339b980.png)

**Desktop (please complete the following information):**
- Ubun

[2021-03-06 06:32] hpdang opened #6926 "Organizer Function: View Orders tab shows all buyer contacts as example@example.com"
**Describe the bug**
In the View Orders tab, it showed all buyer contacts as example@example.com

**To Reproduce**
1. Organizer Log In
2. Go to 'https://eventyay.com/events/fa96ae2c/tickets/orders/completed'

![Screenshot from 2021-03-05 11-27-33](https://user-images.githubusercontent.com/1658742/110197768-1cc2a800-7e4e-11eb-8b63-73431e8a90d4.png)

[2021-03-06 07:28] mariobehling opened #6927 "Schedule: Using the popularity sort feature sessions appearing twice"
In the schedule using the popularity sort feature sometimes sessions appear twice.

Compare https://eventyay.com/e/fa96ae2c/schedule?sessionType=Lightning%20talk%205min&sort=-favourite-count

![Screenshot from 2021-03-06 08-26-39](https://user-images.githubusercontent.com/1583873/110198885-e557f980-7e55-11eb-8bfb-4eed76ae1d8e.png)

[2021-03-06 10:49] meprogemur commented on #6460
I'm working on this.

[2021-03-06 10:54] meprogemur commented on #6460
@mariobehling I'm unable to see the cookie policy page, can you help?
<img width="746" alt="foss" src="https://user-images.githubusercontent.com/59791758/110204322-6506b800-7e98-11eb-87d5-51429bfe1dc7.png">

[2021-03-06 11:07] Naman-1234 commented on #6711
@iamareebjamal  and @mariobehling, Sir I am leaving this issue Reason being If I solve this issue As I did before then that navbar will come and you have , I also tried some other approaches like giving height to the unscheduled-session box both in px and '%', but that solutions are distorting other portions in mobile view.

[2021-03-06 13:41] iamareebjamal commented on #6711
I recommend taking up another issue. There are 100s of them. This is neither high priority, nor we have the bandwidth or time to have a detailed discussion on this. Please move on

[2021-03-06 14:54] #6924 closed

[2021-03-06 15:20] hpdang commented on #6924
Has the change been deployed @iamareebjamal? Haven't changed yet for me

[2021-03-06 15:22] iamareebjamal commented on #6924
Not deployed yet. Will be Live in 15 minutes

[2021-03-06 18:40] mariobehling commented on #6902
Happening again since a few hours ago.

[2021-03-06 23:15] mariobehling opened #6930 "Schedule: Make several filters active on click and activate filter on one click and deactivate the filter when user presses it again"
Currently the user can only filter one date, track or room at the same time.

1. Please allow the user to choose several dates, tracks or rooms.
2. When the user clicks on a tracks, rooms, or date filter the filter gets activated and stay activated, but the user should be able to select an additional date, track or room at the same time.
3. And it should work the other way around: When the user cl

[2021-03-07 09:58] mariobehling opened #6932 "Schedule: Make track, session room and date clickable and direct respected filter"
On the public schedule on the session area please make the track, session room and date clickable and direct the user to the respective filter for the item.
![Screenshot from 2021-03-07 08-32-54](https://user-images.githubusercontent.com/1583873/110236025-ea8b7600-7f33-11eb-8a24-273a31735c2e.png)

[2021-03-07 10:39] mariobehling opened #6933 "Exhibition: Increase logo size"
The logo size is way too small on exhibition pages. Please increase the logo, e.g. similar to the sponsor logo sizes on the event front page.

Compare https://eventyay.com/e/fa96ae2c/exhibition/36

![Screenshot from 2021-03-07 11-37-31](https://user-images.githubusercontent.com/1583873/110236990-a4391580-7f39-11eb-892d-3b9c10e9d5f6.png)

[2021-03-07 11:07] Naman-1234 commented on #6933
Working on it.

[2021-03-07 14:04] mariobehling opened #6935 "Schedule: Show heading "Session Types" on top of filter"
There is no heading for "Session Types" if no session type filter is selected. Please always show the heading as below even if no session types are selected.

![Screenshot from 2021-03-07 15-01-15](https://user-images.githubusercontent.com/1583873/110242426-5aaaf380-7f56-11eb-95df-c10ad58df9cf.png)

[2021-03-07 20:56] MeghalBisht commented on #6932
working on this.

[2021-03-08 05:20] mishari opened #6943 "Problem typing in dialogue box"
When creating an event, type in the description box, when the spacebar is pressed, the cursor jumps to the beginning of the line.

Bug present on Firefox 86.0, not Chrome, not Safari

[2021-03-08 06:51] #6935 closed

[2021-03-08 07:04] HimanshunVIDIA commented on #6943
I want to fix the issue so please assign me this project

[2021-03-08 07:07] HimanshunVIDIA commented on #6943
i am working on this issue

[2021-03-08 07:13] mariobehling opened #6944 "Schedule: Date not showing for popularity sorting"
When the popularity sorting feature was introduced a few days ago the date of a sessions was shown on the lef-hand side and if two or more sessions were within the same date it was grouped. The date has disappeared.

[2021-03-08 07:46] iamareebjamal commented on #6944
Yes, we cannot support grouping by date unless sessions are sorted by date. It was a bug that sessions were being grouped by date when sorted by popularity and since has been fixed. It is impossible to group sessions by date when sorted by anything other than date, else, they were not shown correctly and sessions with popularity 5 were being shown above popularity 10 because their date was before

[2021-03-08 07:46] #6944 closed

[2021-03-08 08:09] #6926 closed

[2021-03-08 09:13] #6766 closed

[2021-03-08 09:43] maze-runnar commented on #6927
I think this has nothing to do with sort by popularity. It can appear with any sort.

[2021-03-08 10:55] mariobehling opened #6946 "Exhibition: Change position exhibition video and add heading above contact"
Please make the following improvements to the exhibitor page:

1. The exhibitor video feature works nicely but people have to scroll down before they can see the button.
* Therefore please change the button right below the top image and add a kind of gray bar right below the image as shown below.
* Rename "Join Exhibitor Video" -> "Join Exhibitor Video Room"
* Please ensure this area only shows up

[2021-03-08 11:42] mariobehling opened #6947 "User/attendee image shows up as broken"
The image of one of the users/speakers is broken. Expected would be either the user has a working image or the user shows up with an anonymous image. Compare https://eventyay.com/e/fa96ae2c/session/6613

![Screenshot from 2021-03-08 12-40-19](https://user-images.githubusercontent.com/1583873/110316894-a8cdfe80-800b-11eb-9fc6-07cfc3e306fe.png)

[2021-03-08 12:52] hpdang opened #6948 "Public Schedule: Add a pop-up message to the central Filter"
Please add a pop-up message "**Clear All Filters**" in the filter above the schedule similar to what we have above the Track Filter. See below:

![Screenshot from 2021-03-08 13-48-46](https://user-images.githubusercontent.com/1658742/110323881-83de8900-8015-11eb-9f2f-137e4797d75a.png)

[2021-03-08 13:32] rkpawar0995 commented on #6947
I think the expected image is not in current place or path must be change. check src/ %path%/

[2021-03-08 13:51] tanay123456789 commented on #6813
working on this issue

[2021-03-08 15:41] maze-runnar commented on #6946
on this

[2021-03-08 15:42] mariobehling opened #6950 "Some links are not getting linkified"
Usually links a linkified. However, http://foo.onion links are not getting linkified. See https://eventyay.com/e/fa96ae2c/session/6707 for example.

[2021-03-08 15:59] iamareebjamal commented on #6947
They have used API to set a facebook photo as their profile picture and it has expired `https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/1506069_10206682139874099_3032200382883718790_n.jpg?oh=952c478a40cd035bc3c1014be1f4d7e4&oe=5A9341BF`

[2021-03-08 16:01] iamareebjamal commented on #6947
I've reset it now

[2021-03-08 16:01] #6947 closed

[2021-03-08 16:05] #6948 closed

[2021-03-08 17:07] hpdang commented on #6948
Looks great thank you guys :+1:

[2021-03-08 18:04] maze-runnar commented on #6950
figuring out why it's not working.

[2021-03-08 18:17] #6864 closed

[2021-03-09 06:54] #6826 closed

[2021-03-09 09:51] mariobehling opened #6959 "Session Forms: Provide dropdown field for levels"
Please change the functionality of the session form "Level" field as follows:
* Change field into a dropdown field with the options: Beginner, Intermediate, Advanced, Expert

On the schedule page add a widget "Level" as follow:
* Show a heading "Level" if any session in the event has a level
* Similarly to "Rooms" show filter options of the levels. Only show a level if a session in a specific leve

[2021-03-09 10:22] mariobehling commented on #6946
Just like all other areas the "Get in touch" heading should only show up if there is actually a button "contact" or "email". Reopening this issue as it is not implemented in that way.

![Screenshot from 2021-03-09 11-21-01](https://user-images.githubusercontent.com/1583873/110456320-b8ac1800-80c9-11eb-98b0-965d8819f0bd.png)

[2021-03-09 14:12] vijay938 commented on #6959
I want to work on this issue

[2021-03-09 15:12] mariobehling opened #6962 "Exhibitors Page: Email and Contact button not in one line and heading not standardized"
If an exhibitor has both email and contact button they are not longer in a line. The space above "Get in touch" is different to other headings. Please standardize the space here.

Compare https://eventyay.com/e/fa96ae2c/exhibition/56
![Screenshot from 2021-03-09 16-10-08](https://user-images.githubusercontent.com/1583873/110492135-3552ec80-80f2-11eb-9e61-383e5d89e40e.png)

[2021-03-09 15:15] mariobehling opened #6963 "Forms of Exhibitor's, Social Media Links of Events, Social Media in Speakers and Session Form: Add option for Mastadon"
In the wizard step 2 there are social links options. Also exhibitors, speakers, and session forms have options for social media links. Please add "Mastadon" as an option in those forms and add the Mastadon icon to the public pages of those forms, e.g. on the exhibitor's page.

![Screenshot from 2021-03-09 16-10-08](https://user-images.githubusercontent.com/1583873/110492657-af837100-80f2-11eb-98e3

[2021-03-09 15:57] afzal442 commented on #6962
looking into it

[2021-03-09 16:25] #6946 closed

[2021-03-09 16:44] afzal442 commented on #6962
![c2](https://user-images.githubusercontent.com/11625672/110506105-d064ba00-8124-11eb-9c05-7681e105dfd9.JPG)

[2021-03-09 19:43] #6792 closed

[2021-03-09 20:26] afzal442 opened #6968 "Wizard: Remove button has no confirmation feature 'Yes/No' options to delete"
**Is your feature request related to a problem? Please describe.**

There is no confirmation pop-up after an organizer deletes a sponsor.
**Describe the solution you'd like**

There should be a confirmation message before deleting

**Additional context**

Screenshot
![c3](https://user-images.githubusercontent.com/11625672/110533194-bd151700-8143-11eb-8592-53939522bc1a.JPG)

Link: https://eventyay.

[2021-03-09 20:31] dhruvin1831 commented on #6534
@mariobehling The sidebar is now working fine. I test the issues raised in pr #6623.

![Screenshot 2021-03-10 015838](https://user-images.githubusercontent.com/70140023/110533956-8ab7e980-8144-11eb-944c-d47596e95a9f.jpg)

[2021-03-09 22:48] kapilchauhan8102 commented on #6908
I'm working on this.

[2021-03-10 07:19] #6908 closed

[2021-03-10 09:21] mariobehling opened #6975 "Virtual Events Side panel menu items moving upwards in smaller windows"
If the browser window is shorter the side panel in virtual events moves menu items upwards that overlap above items. Expected is that the items stay as expected and that video rooms create an internal scroll bar as in the previous implementation.

![Screenshot from 2021-03-10 10-16-34](https://user-images.githubusercontent.com/1583873/110606193-39324d80-818a-11eb-932a-7206f450b11f.png)

[2021-03-10 09:41] #6962 closed

[2021-03-10 09:54] #6932 closed

[2021-03-10 10:44] maze-runnar commented on #6950
It's working in event-descritpion ("description": "<a href=\"https://alpha.onion\" rel=\"nofollow\" target=\"_blank\">https://alpha.onion</a>")section, but not working in session-secion. And it's the request payload which is going as `comments:"https://alpha.com"`.

[2021-03-10 11:49] sachinchauhan2889 commented on #6975
looking into this

[2021-03-10 11:51] Varad-VK commented on #6968
I wanna work on this issue. Please assign this to me and since i am new to this repo so please guide me through.

[2021-03-10 11:57] Varad-VK commented on #6963
I wanna work on this issue. Please assign this to me and since i am new to this repo so please guide me through.

[2021-03-10 12:43] maze-runnar commented on #6950
in the session section -
[code]

[2021-03-10 13:06] iamdevvalecha commented on #6908
@kapilchauhan8102 thanks.

[2021-03-10 21:56] #6950 closed

[2021-03-10 23:37] #6208 closed

[2021-03-11 02:50] rolandturner opened #6979 "Minor layout problem in My Tickets page: ticket links badly aligned"
**Describe the bug**
When viewing My Tickets, the ticket links are badly aligned

**To Reproduce**
1. Order multiple tickets for upcoming events.
1. Go to https://eventyay.com/my-tickets/upcoming/completed
1. Ticket links (e.g. " Free order #...") are too close to the location line above, or even overlaid on it.
1. Zoom out to 90% (Firefox: Ctrl+mouse-wheel-down)
1. Layout improves

**Expected beh

[2021-03-11 08:09] #6975 closed

[2021-03-11 09:10] mariobehling opened #6983 "Ticket Order Email: HTML converted to text and links not displayed properly"
The after event ticket email does not display web links and other html code properly in the ticket emails.

It shows:
`Thank you for signing up for the FOSSASIA Summit 2021 on <a href="http://eventyay.com" rel="nofollow" target="_blank">eventyay.com</a>. `

![Screenshot from 2021-03-11 10-07-45](https://user-images.githubusercontent.com/1583873/110763188-e45a0a00-8251-11eb-8677-750e01596492.png)

[2021-03-11 09:14] mariobehling opened #6984 "Ticket Order Email: Includes Session ics instead of Event ics"
The calendar ics in the ticket email is the session ics instead of the event ics.

Please change this.

[2021-03-11 13:48] mariobehling opened #6985 "Virtual Event Chat: Accessing page when not logged in shows error"
Accessing the virtual event link as anonymous users, e.g. here https://eventyay.com/e/fa96ae2c/chat?side_panel=true, shows an error page "An unexpected error has occurred.".

Expected is to show the standard pop up message "You need to be logged in...." similar to other areas of the online event.

Please implement this similarly to other online event pages.

![Screenshot from 2021-03-11 14-45-18](

[2021-03-11 17:19] MeghalBisht commented on #6865
fixed #6964

[2021-03-11 18:11] mariobehling opened #6989 "Public Schedule Calendar View still showing hidden rooms"
On the public schedule calendar view hidden rooms still appear. Please change it similarly to the scheduler or the organizer.

Compare https://eventyay.com/e/fa96ae2c/calendar

![Screenshot from 2021-03-11 19-09-49](https://user-images.githubusercontent.com/1583873/110834162-7f2c0600-829d-11eb-9277-aa70012e8d7f.png)

[2021-03-11 18:18] sachinchauhan2889 commented on #6983
looking into this.

[2021-03-11 20:40] #6989 closed

[2021-03-11 20:55] #6865 closed

[2021-03-12 04:30] #6985 closed

[2021-03-12 20:32] #6983 closed

[2021-03-12 21:05] #6984 closed

[2021-03-13 13:55] jj5 opened #6997 "Blank/empty sessions in the schedule with random times"
**Describe the bug**

When I open the Schedule for the FOSSASIA Summit 2021 I see blank/empty sessions at unordered/random times. (See screenshot for example.)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://eventyay.com/e/fa96ae2c/schedule

**Expected behaviour**

Sessions should not be empty/blank and session times should be listed chronologically.

**Screenshots**

![Screen

[2021-03-13 16:05] kapilchauhan8102 commented on #6963
I am working on this...

[2021-03-13 18:51] #6933 closed

[2021-03-13 22:43] mariobehling opened #6999 "Organizer Video Tab Edit Form Changes Video Choice Even Though User Chooses "Cancel""
In the organizer video room edit form when the user clicks on other video options a pop up message appears. If the user clicks cancel to this message the system will just work in the same way as if the user clicks ok. Expected is that the previous setup remains.

![Screenshot from 2021-03-13 23-40-38](https://user-images.githubusercontent.com/1583873/111051765-d674d680-8455-11eb-80c2-be6c538f284e.

[2021-03-14 01:32] mariobehling opened #7000 "Session and Exhibitor Form: Simplify Slide Form Element"
In the past we had decided to offer an option to either upload slides or link them from somewhere else. It turns out that this makes things more complicated. We cannot validate slides and link locations of slides might change.

Therefore change the slide form areas in the session form and the exhibitor form to only provide the option to upload slides.
Also change the following:
* Do not show the A

[2021-03-14 08:30] afzal442 opened #7001 "Need proper alignment in event's card"
**Describe the bug**

There is no proper alignment in event's card
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to eventyay.com
2. Click on the search bar
3. Type any event name
4. See error

**Expected behaviour**

Need proper alignmrnt
**Screenshots**

Desktop View:
![c5](https://user-images.githubusercontent.com/11625672/111062205-86d1f180-84cd-11eb-9386-fe4e8b8ce42e.JPG)

Mobile Vi

[2021-03-15 14:47] Signior-X commented on #7001
Can I work on this?

[2021-03-15 14:50] #801 closed

[2021-03-16 05:30] g4rry420 opened #7008 "transition for mobile screen menu"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Currently, the mobile screen menu doesn't have any transition, it just pops up. It will be nice if it comes up as a slider from the left side.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

Before Solution:

[

https://user-images.githubusercontent.com/61521805

[2021-03-16 05:31] g4rry420 commented on #7008
Can I work on this issue ?

[2021-03-16 10:46] mariobehling opened #7009 "Speaker Session Form: Increase file limit to 30 MB"
File limit for slides and videos are currently 10 MB. Please increase it to 30 MB

![Screenshot from 2021-03-16 11-44-19](https://user-images.githubusercontent.com/1583873/111296754-21a50a00-864d-11eb-84ad-a0ac1d7b1059.png)

[2021-03-16 11:28] kapilchauhan8102 commented on #7009
I'm working on it.

[2021-03-16 18:55] kapilchauhan8102 opened #7011 "Social Link Fields: Overlapping of name and url boxes in wizard 2."
**Describe the bug**

Overlapping of name and url boxes in wizard 2.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to create event wizard 2.
2. Click on add social media link.
3. See error

**Expected behaviour**

 They should not overlap.

**Screenshots**

![1](https://user-images.githubusercontent.com/80362650/111364337-1ab2e180-86b7-11eb-93a8-329726206586.png)

[2021-03-16 18:55] kapilchauhan8102 commented on #7011
working.

[2021-03-17 02:11] Bhargav644 commented on #7011
hello sir i want to work on it and i must fix this but i am beginner to git and github .please Help!!

[2021-03-17 02:19] Bhargav644 commented on #7001
hello sir i can fix this out for desktop but i am beginner in github  from where  i can  get code for this on which i can work for it  please help.

[2021-03-17 04:01] #7009 closed

[2021-03-17 05:08] afzal442 commented on #7001
Thanks @Bhargav644. Did u get a chance to look at Web development using emberjs at fossaasia workshop or follow guides for that? Have a look. Then let me know if u need any help.

[2021-03-17 14:50] joeytwiddle commented on #4866
I think we can improve this by simply changing the `{300}` to `{900}` on this page (in two places):

https://github.com/fossasia/open-event-frontend/blob/development/app/templates/public/sessions.hbs

Currently it waits until the user is near the bottom of the list to start loading more entries.

With a higher number, it will start loading new entries in the background, while the user is still rea

[2021-03-17 14:55] iamareebjamal commented on #4866
We tried in the past but didn't notice considerable difference. But doesn't hurt to try again

[2021-03-17 18:43] mariobehling opened #7015 "Organizer creates session, which is then not associated with speaker account in my sessions tab"
When an organizer adds a session and then an existing user with the same email does not see the associated, e.g. here https://eventyay.com/events/fa96ae2c/speaker/5443.

The speaker does not see the email. Though actually it is a big strange too, that if an organizer could just add a session to another account without the other account accepting it.

How should this really work in the best way?

F

[2021-03-17 18:52] mariobehling opened #7016 "Link redirect of current day results in user forward to wrong filtered page"
We now have the feature that the user is directed automatically to the session of the current day if the date is within the event date. However if a user has a direct link, e.g. to https://eventyay.com/e/fa96ae2c/schedule?search=nick, then the use is instead directed to https://eventyay.com/e/fa96ae2c/schedule?date=2021-03-17&search=nick. This gets the user to the wrong page.

[2021-03-17 20:58] sachinchauhan2889 commented on #7016
@mariobehling  sir i am looking into this.

Can you please tell me desired functionality.

we want current day schedule when event is running. I having doubt, when we need to show current day schedule.

1. Do we want current day schedule when someone visit [https://eventyay.com/e/fa96ae2c/schedule](url)  directly??

                                           OR

2. we want current day schedule onl

[2021-03-18 07:16] afzal442 commented on #7001
@iamareebjamal sir, could you add a label as a `bug` onto this?

[2021-03-18 08:39] serverwentdown commented on #3353
Bump. The lack of refresh tokens causes presenters and viewers to get logged out immediately after the token expires, interrupting their session.

[2021-03-18 11:52] vartikaSaxena commented on #7016
Hey, @mariobehling I find this issue interesting, can I work on it?

[2021-03-19 03:13] joeytwiddle opened #7028 "All pages should have OG metadata, for social sharing"
When people share links in social media, some of them are very plain, and do not become an attractive card with an image.

For example in Telegram (and WhatsApp), there is no image, just a boring blue text link:

![Screenshot_20210319_043855](https://user-images.githubusercontent.com/911799/111694601-0b759480-886d-11eb-826e-d78d648bec2c.png)

**What I wish for:** When sharing on social media, ther

[2021-03-19 03:33] joeytwiddle commented on #7011
@Bhargav644 When you are looking for help, you should ask a precise question. :-)

https://docs.github.com/en/github/getting-started-with-github/fork-a-repo

[2021-03-19 09:04] iamareebjamal commented on #7028
Related https://github.com/fossasia/open-event-frontend/issues/6106

[2021-03-20 01:45] mishari opened #7034 "Sessions entry clipped in Firefox for Android"
When I go through the list of sessions in firefox for android, it's clipped on the right, scrolling is locked so I can't see the full information. I need to enable "request desktop site" in order to see the full entry".

[2021-03-20 04:53] mishari opened #7035 "Calendar link in calendar not working properly"
In the description, "Join using link:  https://eventyay.com/e/fa96ae2c/video/Main Hall/187"

The space is treated as a break, clipping the link at Main"

"Main Hall" should be HTTP encoded to Main%20Hall

[2021-03-20 08:03] serverwentdown opened #7036 "Add a volunteers tab in the sidebar"
From the perspective of a potential volunteer, I'd like to know how to volunteer to help out at the event. Additionally, I'd also like to get accredited for volunteering when I do.

My proposal is to add a "Volunteer" page in the event page that shows how to volunteer for the event, the various roles available to help out with, and a sign up page. When the volunteer signups are closed, there could

[2021-03-21 03:43] joeytwiddle opened #7038 "Let users join the video stream without buying tickets?"
Some events are free to attend, but I'm worried some people don't join the stream because they are scared off by the need to sign up and "buy tickets".

For example, if I share the stream link with friends, they will see this screen.

Could we get more viewers without it?

<img width="400" src="https://user-images.githubusercontent.com/911799/111892762-37de0c00-8a39-11eb-94ca-e8b2a32eae72.png" />

[2021-03-21 05:23] iamareebjamal commented on #7038
It may be possible for them to join without buying ticket but not possible to join without creating an account. Because for both Jitsi and BigBlurButton, we need to create a user for them to join the meeting. We cannot control bigbluebutton chat

[2021-03-21 10:03] joeytwiddle commented on #7038
I see, thanks. I know developers need to balance the desire for a feature with the difficulty of achieving it!

Perhaps instead we could try to mitigate (reduce) the issue. For example we could change:

to

(I see the text in [this file](https://github.com/fossasia/open-event-frontend/blob/022c5abc2984a3a39520381b8ced2750c4b189fc/app/templates/public.hbs#L166) but it has also been translated to ma

[2021-03-22 02:52] pranav1311 commented on #7016
Hey @mariobehling  i understand that the issue is that user is getting not particular date page and instead all , i can contribute and solve this issue , how can i submit proposal ?

[2021-03-22 04:32] g4rry420 commented on #5037
Can I work on this issue ?

[2021-03-22 06:19] rohit-raje-786 commented on #7028
@joeytwiddle I test the link https://eventyay.com/e/fa96ae2c/schedule on https://cards-dev.twitter.com/validator but it is displaying this-
![image](https://user-images.githubusercontent.com/61861303/111948081-99b77800-8b04-11eb-867c-6a859650edf2.png)

[2021-03-22 06:22] tillea commented on #7038
Hi,
I guess the original request came from me on FOSSASIA speakers channel on telegram (since I was not aware of this Github repository).  My point is, that I'd be happy with *any* direct single click access without registration.  I was told that there is also a youtube stream.  I think a button "View stream on youtube" would serve my request as well.
Kind regards, Andreas.

[2021-03-22 06:28] tillea opened #7040 "Please enable persistent sessions"
**Is your feature request related to a problem? Please describe.**
I joined FOSSASIA summit 2021 and realised that I need to login every single day.  After each fresh login I had to navigate to the place I want to view (be it my own registered events, the chat, the video stream whatever) since I was always landing on the general Eventyay landing page

**Describe the solution you'd like**
Services

[2021-03-22 06:30] iamareebjamal commented on #7040
Dupllicate of #3353

[2021-03-22 06:30] #7040 closed

[2021-03-22 07:09] rohit-raje-786 commented on #7028
@joeytwiddle  Can i work on this issue?

[2021-03-22 07:10] rolandturner opened #7041 "Invite users with no profile name to provide one immediately upon login"
**Is your feature request related to a problem? Please describe.**
A repeated problem during FOSSASIA 2021 was speakers who somehow didn't have their name in their Eventyay profile appearing in BBB with a humorous but unwanted pseudonym ("Diligent Bandicoot"), having to ask how to fix this, relying on someone to tell them to click on https://eventyay.com/account/profile (or worse, giving them step

[2021-03-22 07:52] rolandturner opened #7042 "Slow/unreliable BBB room entry procedure; echo test should take no more than 2.5s to start"
**Describe the bug**
A repeated problem at FOSSASIA 2021 was that room entry was slow or outright failed.

In particular both Harish and I had trouble entering BBB for our scheduled sessions:
- In my case I was already in, but someone decided to restart BBB 4 minutes before the start of the session. Fortunately the session being a panel meant a lengthy introduction, so when I was finally successfu

[2021-03-22 08:06] iamareebjamal commented on #7042
Unfortunately, all that is part of BigBlueButton, as we don't have any idea of when the echo test or thumbs up/down button is loaded, because it is loaded in an iframe as BBB URL. So, we can't alert it on sentry.

Hiding echo test by default and only showing it on unmuting is also something which can only be configured on BBB server or by modifying its code

[2021-03-22 14:31] mariobehling opened #7044 "Chat: Feature is currently implemented across event and without switch off option"
We now have chat available for events, however, all events have the same chat and there is no option in the organizer menu "Chat" where organizers can access a page to switch chat on/off.

1. Please ensure each event has their own channel that is independent from other events. People in one event should not be able to access the chat from another event.
2. Please also implement a chat menu item an

[2021-03-22 15:15] mariobehling commented on #7042
This issue is reported and open on the BBB tracker here https://github.com/bigbluebutton/bigbluebutton/issues/8824

Therefore closing it on this tracker.

[2021-03-22 15:15] #7042 closed

[2021-03-22 17:25] mariobehling commented on #7038
It will take us a bit to think this through, because every event is unique and the current pop up message was the most generic one. We are not using the platform only for the FOSSASIA Summit. There are also meetups, company workshops, open and closed registration events. So, each use case needs another message. Also integration-wise, while we will be supporting vimeo, youtube etc. more our vision

[2021-03-22 17:41] tillea commented on #7038
On Mon, Mar 22, 2021 at 10:26:03AM -0700, Mario Behling wrote:

I perfectly agree with peertube (as we used for DebConf).  So no matter what streaming platform you use or whatever you implement:  I think my idea became clear that users want a simple one click solution for those events that are free by definition.
Kind regards, Andreas.

PS: This "we support other events" brings me back to issue #7

[2021-03-23 07:29] rolandturner commented on #7038
I'd suggest that there is nothing about this request that has anything to do with proprietary platforms. The side bar code already knows how to deal with a variety of services which both require identity information (BBB, Jitsi) and don't (YouTube), and it's the latter which require the **least** specific integration.

While some event organisers — particularly those not entirely sharing F/OSS val

[2021-03-23 18:58] kapilchauhan8102 opened #7049 "Event-share-modal : Copy button is align improperly."
**Share button is improperly aligned **

Steps to reproduce the behaviour:
1. Go to any 'event card .'
2. Click on 'share button.'
3. See error.

**Expected behaviour**
Alignment should be properly align.

**Screenshots**
![share](https://user-images.githubusercontent.com/80362650/112202447-67f2fe00-8c37-11eb-9713-5e2b54073121.png)

[2021-03-23 18:58] kapilchauhan8102 commented on #7049
working.

[2021-03-24 07:03] joeytwiddle commented on #7028
@rohit-raje-786 It's not really my decision, but I have no objections. :smile:

Some things to consider:

- How can we write it so that a page can opt-in to showing a better image in future, if it has one?

- Perhaps we can add the code to [`head.hbs`](https://github.com/fossasia/open-event-frontend/blob/development/app/templates/head.hbs) and use `this.model.openGraphImage` if it is available.

[2021-03-24 09:23] mariobehling opened #7054 "Virtual Events: Custom option switches to BBB"
When setting up video rooms the custom option switches to autogenerated BBB rooms. This happened several times when a user created an external BBB room on video.eventyay.com directly and then added this video room as a custom option.

[2021-03-24 10:31] #6930 closed

[2021-03-24 10:32] #6963 closed

[2021-03-25 05:14] g4rry420 commented on #6717
Can I work on this issue ?

[2021-03-25 10:17] #7049 closed

[2021-03-26 12:47] kaiwalyakoparkar commented on #7001
@afzal442 I would like to work on this issue

[2021-03-26 20:38] g4rry420 opened #7064 "User can create group without any event"
**Describe the bug**
Currently, A user can create a group without adding any event into it. I think, this is not expected behaviour of the groups. User should atleast add one event into the group.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Groups'
2. Click on 'Create Group'
3. Then enter a group name but don't add any event.
4. Click 'save'.

**Expected behaviour**
User should o

[2021-03-27 07:41] iamareebjamal commented on #7064
Not needed

[2021-03-27 07:41] #7064 closed

[2021-03-27 13:05] maze-runnar commented on #7016
Couldn't find the exact way, but popping the filter would work like -
[code]

[2021-03-28 03:55] g4rry420 opened #7072 "Description input and After Order Message input cursor error"
**Describe the bug**
This is a weird bug occurring in [https://eventyay.com/create](https://eventyay.com/create) page. When a user clicks on **description** box and types the first word and uses the spacebar then the cursor position automatically comes to first position. This same error can also be seen in **After Order Message** box. This error is only related to Firefox Browser.

**To Reproduce*

[2021-03-28 06:01] tanay123456789 commented on #6813
work done.

[2021-03-28 15:24] takshch commented on #6106
My exams are completed. So, i again started working on this issue.

[2021-03-30 15:16] maze-runnar commented on #6902
not happening, reopen if happen again.

[2021-03-30 15:16] #6902 closed

[2021-03-31 02:36] maze-runnar commented on #7072
dupicate https://github.com/fossasia/open-event-frontend/issues/6943

[2021-03-31 14:43] rajpratyush commented on #6346
i am working on this

[2021-04-02 02:42] maze-runnar commented on #4866
It is faster using `@triggerOffset={{1000}}.`

[2021-04-02 07:28] iamareebjamal commented on #6408
@maze-runnar Check the PR for missing steps

[2021-04-02 07:29] iamareebjamal commented on #7015
@maze-runnar Try to reproduce

[2021-04-02 11:24] maze-runnar commented on #6927
When loading 6 sessions per page, the repeated sessions are different -
![Screenshot from 2021-04-02 15-02-01](https://user-images.githubusercontent.com/56407566/113406667-82607080-93c9-11eb-9e1e-afaf035f4540.png)
![Screenshot from 2021-04-02 15-02-00](https://user-images.githubusercontent.com/56407566/113406670-842a3400-93c9-11eb-9a28-f36c390086b2.png)

when loading 10 sessions per page the repea

[2021-04-02 12:13] #6927 closed

[2021-04-02 13:39] kaiwalyakoparkar commented on #7054
Hey, I would like to work on this issue could you please tell me how can I contribute

[2021-04-02 14:57] maze-runnar commented on #7015
If I am getting issue correctly, it is working fine. I have added a speaker with email `dubeysundaram057@gmail.com` when loggedin as different user. Then logged in as `dubeysundaram057@gmail.com` and seen that session in mysession section.
![Screenshot from 2021-04-02 20-25-00](https://user-images.githubusercontent.com/56407566/113426901-bb144000-93f1-11eb-981a-0308097af60f.png)
![Screenshot from

[2021-04-02 16:15] iamareebjamal commented on #7054
First reproduce the issue

[2021-04-03 12:40] Dikshapurswani commented on #6959
@mariobehling I would like to work on the issue. Shall I proceed?

[2021-04-03 16:10] afzal442 commented on #7001
Hey @adilshehzad786. Here it is. U cud work on this since this is a design and responsive kind of issue. Also make sure nobody is working now so u can take up this. This will be warm-up 4 u to get involved in this project.

[2021-04-03 16:11] afzal442 commented on #6959
@adilshehzad786

[2021-04-03 16:33] adilshehzad786 commented on #6959
Thanks, @afzal442 for this opportunity.

[2021-04-03 16:34] adilshehzad786 commented on #7001
Sure , Let me work on it !

[2021-04-03 16:43] afzal442 commented on #6959
Adil, also make sure nobody is working on it!

[2021-04-04 03:43] g4rry420 commented on #6436
[code]
This error is because of this code in the backend in the `api/events.py` in `EventDetail` class. I am not sure why this is written. If somebody else can reflect on this about why is this code written ?

[2021-04-04 12:42] techpkd123 commented on #6959
Can i work upon this issue @afzal442 ?

[2021-04-04 17:18] adilshehzad786 commented on #6959
Yeah i am exploring this task and also starting my working on it .

[2021-04-05 07:35] rolandturner commented on #7041
Yes, certainly. I am merely proposing an improvement as someone who served as moderator and support person during an event that used Eventyay. I am neither working to implement it myself, nor planning to, so am very happy for any interested person to pick it up!

[2021-04-05 17:58] takshch commented on #6106
I stopped working on this issue because in few weeks, FossAsia is going to change its tech stack.
Thanks.

[2021-04-05 18:21] sachinchauhan2889 opened #7098 "Schedule Page: error at schedule page"
**Describe the bug**

When user have all non-scheduled sessions and schedule is published then we get error when we try to reach schedule page.

https://user-images.githubusercontent.com/72552281/113609742-d5585300-9669-11eb-96ba-31e9fb812f99.mp4

![1](https://user-images.githubusercontent.com/72552281/113609587-99bd8900-9669-11eb-8bf9-4d2ca568d557.png)

[2021-04-06 13:05] #6787 closed

[2021-04-06 13:07] #7098 closed

[2021-04-07 08:38] adilshehzad786 commented on #6959
@techpkd123 Yes, you can if you have expertise with NodeJS

[2021-04-07 14:37] iamareebjamal commented on #6959
No node JS experience is required to wor in this project

[2021-04-08 10:43] mariobehling opened #7107 "Dashboard: Turn on/off event chat needs additional info to make status clearer"
The event chat toggle is converted https://eventyay.com/events/d08b85ad/chat on shows off and off shows on.

Please add a sentence on the page to make it more clear as follows:
a) Chat is currently enabled for this event. Users can access a chat channel for this event.
b) Chat is currently not enabled for this event. Users cannot access chat for this event.

![Screenshot from 2021-04-08 12-39-54](

[2021-04-08 10:45] mariobehling commented on #7107
Sorry for the confusion. It is actually working. I think the UI confused me.

Therefore please do add this.

a) Chat is currently enabled for this event. Users can access a chat channel for this event.
b) Chat is currently not enabled for this event. Users cannot access chat for this event.

[2021-04-08 13:01] #7107 closed

[2021-04-08 22:23] #7044 closed

[2021-04-08 22:28] #5256 closed

[2021-04-09 04:27] aaryan078 commented on #1519
i am working on this issue

[2021-04-09 04:34] aaryan078 commented on #6855
Working on this one.

[2021-04-10 22:12] #6408 closed

[2021-04-12 04:48] darshanhande11 commented on #6979
@rolandturner I would like to work on this issue. Please guide me as I am new to open source.

[2021-04-12 05:18] Prince-yohannan commented on #7016
hello sir can i work in it

[2021-04-12 05:22] Prince-yohannan commented on #6999
sir i want to work in it

[2021-04-12 09:25] sambit-sankalp commented on #6595
Working on this issue

[2021-04-12 12:29] rolandturner commented on #6979
@darshanhande11 You're welcome to work on it but I should point out that my involvement is limited to observing and reporting the problem. Presumably you'll need to first reproduce the problem, then work out how to resolve it.

[2021-04-12 13:19] mariobehling opened #7119 "Cannot add custom video"
When trying to add a custom video option I receive either "Missing Field" or "Field may not be null.". There are only two required fields, but even if I fill in all fields the error appears.

![Screenshot from 2021-04-12 15-16-56](https://user-images.githubusercontent.com/1583873/114400554-610a3c00-9ba2-11eb-8dc3-caa57a677f26.png)

[2021-04-12 13:59] #7119 closed

[2021-04-12 17:06] maze-runnar commented on #6707
it's working as expected, as far I have chacked.

[2021-04-12 17:06] #6707 closed

[2021-04-13 07:10] hpdang opened #7129 "Attendee/Speaker Form: Adjust gender question to be more inclusive"
We have a Gender question in both Attendee form and Call for speakers. Could you please add the following options into that form:

Gender
- [ ] Female
- [ ] Male
- [ ] Diverse / Non-binary
- [ ] Other
- [ ] Prefer not to share

[2021-04-13 13:18] darshanhande11 commented on #6979
@rolandturner Sir, would you please point me to the location of the file for the above webpage inside this repository.

[2021-04-13 13:28] iamareebjamal commented on #6979
@darshanhande11 You have to find that yourself. We don't have the bandwidth to solve the issue for others. Quite simply, if we had time to give you instructions on how to solve the bug, which file and line to fix and what to change, we would have done it ourselves. That would save us more time than transmitting instructions to others on what to do

[2021-04-13 13:36] darshanhande11 commented on #6979
@iamareebjamal Sir, I agree. I'll try to do my best : )

[2021-04-14 01:52] rolandturner commented on #6979
@darshanhande11 My involvement in Open Event is limited to observing and reporting problems in and potential new features for actual use. That is, I'm a **user** of Open Event (e.g. at the FOSSASIA Summit), not a developer of it. I've never seen the source code.

I am a developer, but of other things.

FOSSASIA definitely welcomes new contributors, although it sounds as though you're looking for m

[2021-04-14 05:11] tanay123456789 commented on #7129
working on this issue.

[2021-04-15 04:46] kapilchauhan8102 opened #7136 "Session & Speaker form : Private link Copy button is align improperly."
**Describe the bug**
Copy button in private link is align improperly in session & speaker form.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Event wizard 4'
2. Click on 'Session & speaker form'
3. Scroll down to Private link
4. See error

**Expected behaviour**
Copy button align properly in private link.

**Screenshots**
![12](https://user-images.githubusercontent.com/80362650/114

[2021-04-15 04:46] kapilchauhan8102 commented on #7136
working

[2021-04-15 14:40] MeghalBisht opened #7138 "Join Live Event button shows 'Login or Buy Tickets' even if tickets are purchased/ user is owner of event"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'event page'
2. Click on 'Join Live Event'

**Expected behaviour**
side panel should be opened

**Screenshots**
![Screenshot from 2021-04-15 20-08-40](https://user-images.githubusercontent.com/61330148/114887898-72637a80-9e26-11eb-8752-937bb9581830.png)

[2021-04-16 10:44] hpdang commented on #7129
@tanay123456789 any updates on this?

[2021-04-16 11:46] kapilchauhan8102 opened #7141 "Improper room password column width in Event Video Room."
**Describe the bug**
 Improper room password column width in Event Video Room.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Event wizard 4'
2. Click on 'Video'
3. Scroll down to 'Event Video Room'
4. See error

**Screenshots**
![1](https://user-images.githubusercontent.com/80362650/115008032-44367700-9ec8-11eb-9f87-4e8a0550ed28.png)

**Expected behaviour**
Proper room password col

[2021-04-16 11:46] kapilchauhan8102 commented on #7141
working

[2021-04-16 14:25] #7054 closed

[2021-04-16 17:19] iamdevvalecha commented on #7129
@hpdang done.

[2021-04-16 17:44] #7138 closed

[2021-04-16 19:11] #7129 closed

[2021-04-16 22:12] iamdevvalecha commented on #6959
i am starting working on this issue.please don't make any pr.

[2021-04-17 13:35] hpdang commented on #7129
Thank you :)

[2021-04-17 14:23] kapilchauhan8102 opened #7150 "Add button is align improperly in Attendee and Session & Speaker Forms."
**Describe the bug**
Add button is align improperly in attendee and session & speaker forms.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Event wizard 4'
2. Click on 'Attendee Form'
3. Scroll down to 'Add Custom Form Field'
4. See error
5. Same for Session & speaker form.

**Expected behaviour**
Add button align properly.

**Screenshots**

**In attendee form**

![1](https://user-i

[2021-04-17 14:24] kapilchauhan8102 commented on #7150
working

[2021-04-18 09:50] spy-1234 commented on #7000
I can solve this issue. So, please give a chance.

[2021-04-18 09:54] spy-1234 commented on #6999
Sir I want to work on this issue

[2021-04-18 20:18] yasharth291 opened #7152 "Hindi translation is not working on the website"
**Describe the bug**
when clicking on the Hindi translation for the website just reloads to the English version

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to home page
2. Scroll down
3. change language to Hindi
4. See an error

**Expected behavior**
The page should change itself to Hindi translation

[2021-04-18 20:19] #7152 closed

[2021-04-19 17:27] maze-runnar commented on #6632
not able to reproduce any such issue on firefox.

[2021-04-19 17:27] #6632 closed

[2021-04-20 06:59] kapilchauhan8102 commented on #7000
i am already working on it. please see another issue.

[2021-04-20 07:11] kapilchauhan8102 commented on #6959
if anyone is not working on this issue, i am start working on it.

[2021-04-20 19:20] sachinchauhan2889 opened #7153 "Edit Video Page: When there is only one recording, recording is not shown."
**Describe the bug**

When there is only one BBB recording, then it is not shown in table and there is an error in console.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'video edit page of any BBB video'
2. See error

**Expected behaviour**

it should show recording.

**Screenshots**

![1](https://user-images.githubusercontent.com/72552281/115452042-8ef31e80-a23b-11eb-9251-366e1b92

[2021-04-21 03:37] pc-beast opened #7155 "Password input box width greater than login card"
**Describe the bug**

Width of password input box is greater than the whole login card between 995px to 1200 px

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://eventyay.com/login'
2. Change you window width to anywhere in between 995px to 1200px
3. See error

**Expected behaviour**

Both email and password input boxes should have the same width.

**Screenshots**

![Screenshot

[2021-04-21 07:21] anshdhinhgra47 commented on #7155
Could I work on this issue ?

[2021-04-21 17:54] rajatgupta24 opened #7156 "Improper alignment of event card"
**Describe the bug**

The event card is having improper alignment as the size of the image is larger than the card.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://eventyay.com/explore?category=Science%26 Technology'
2. Scroll down to 'events list'
3. See an error

**Expected behavior**

The image of the card should be the same size as that of the card.

**Screenshots**

![ima

[2021-04-21 17:56] rajatgupta24 commented on #7156
Hey @mariobehling, @iamareebjamal, @CosmicCoder96, can I start working on it?

[2021-04-22 14:08] #7015 closed

[2021-04-22 15:12] Bhagya195 commented on #1519
Can I work on this issue to get experience it's my first time working on open source??

[2021-04-22 18:52] mariobehling opened #7161 "Stripe Connection Error "Account Cannot Connect to Itself""
When trying to connect Stripe to one of our own events I am getting "Account cannot connect to itself". I assume it is because we also use Stripe to pay to the platform.

What options do we have? Is that the reason or how to handle this?

![Screenshot from 2021-04-22 20-49-52](https://user-images.githubusercontent.com/1583873/115770138-971e9b80-a3ac-11eb-9247-6f460796a187.png)

[2021-04-22 18:55] iamareebjamal commented on #7161
You need to create another stripe account (personal or otherwise) and connect that instead.

[2021-04-26 16:48] #7161 closed

[2021-04-26 16:57] #4866 closed

[2021-04-26 16:59] #6209 closed

[2021-04-26 17:00] #6338 closed

[2021-04-26 17:01] #6367 closed

[2021-04-26 17:01] #6534 closed

[2021-04-26 17:22] #6106 closed

[2021-04-26 18:42] supzi-del commented on #7155
Can I work on this?

[2021-04-27 07:35] mariobehling opened #7181 "Groups: Event owners are not able to add events to their groups"
Event owners are not able to add or edit their groups. The user group “capeITEvents” is not able add events to the group. It shows an error "Event Owner Access Required", but the user is the actual owner.

[2021-04-27 10:23] sachinchauhan2889 commented on #7181
i tried. not able to reproduce the issue.

Not getting any error if user is owner of event. user able to add his owned events.

Only Getting error("event owner access is required") when user is only organiser of event.

[2021-04-27 12:34] mariobehling opened #7183 "Rename Admin "video-channels" to "Video""
Please simplify the tab "video-channels" to be "Video" in the admin section of the platform.

[2021-04-27 15:58] mariobehling opened #7184 "Event Calendar: Show event link if event is online event in "Location Field""
When I add an event calendar the “Location Field” should show the link to the event instead of “Online Event”

[2021-04-27 16:00] maze-runnar commented on #5263
@MeghalBisht please test this if it's still happening.

[2021-04-27 18:36] kapilchauhan8102 commented on #7183
working on this.

[2021-04-27 22:44] #6412 closed

[2021-04-27 22:44] #6370 closed

[2021-04-27 22:49] mariobehling commented on #6594
We will work on design in the next version more in detail. Therefore closing it.

[2021-04-27 22:49] #6594 closed

[2021-04-27 23:05] #5928 closed

[2021-04-27 23:07] #5699 closed

[2021-04-27 23:19] #5539 closed

[2021-04-27 23:20] #5516 closed

[2021-04-27 23:20] #5851 closed

[2021-04-27 23:22] #5573 closed

[2021-04-27 23:22] #5574 closed

[2021-04-27 23:22] #5575 closed

[2021-04-27 23:22] #5579 closed

[2021-04-27 23:23] #5475 closed

[2021-04-27 23:25] #6473 closed

[2021-04-27 23:27] #5761 closed

[2021-04-27 23:28] #5102 closed

[2021-04-27 23:31] #4702 closed

[2021-04-27 23:32] #4663 closed

[2021-04-27 23:32] #4626 closed

[2021-04-27 23:33] #4511 closed

[2021-04-29 14:14] Creatoon opened #7202 "Honoring Areeb Jamal Sir, It's Not An Issue"
The Website Should Have A tagline in the footer "Made By Areeb With Heart "

RIP Areeb Sir, No One Can Replace You.

[2021-04-30 05:39] himanshujaidka commented on #7202
very shocking :(

[2021-04-30 07:12] tanay123456789 commented on #7183
work completed

[2021-04-30 07:20] tanay123456789 commented on #7183
work done

[2021-04-30 07:51] tanay123456789 commented on #7183
There was something wrong with my previous PR that's why I closed that one and created a new one

[2021-04-30 16:11] iamdevvalecha commented on #7202
![Screenshot from 2021-04-30 21-39-36](https://user-images.githubusercontent.com/71969867/116723115-c52f5b80-a9fc-11eb-9c7a-2516b00e7b5b.png)

[2021-04-30 22:51] Creatoon commented on #7202
@iamdevvalecha place that line on the next line
And align it center and also use heart sticker
"Made By Areeb Jamal With ❤"

[2021-05-02 07:58] faisalkhandholpur commented on #7181
I can handle this issue . Please assign this issue to me.

[2021-05-02 20:32] abhaysinghs772 commented on #7156
hey @rajatgupta24 , I am beginner and I want to work on this issue.
can I work on this issue

[2021-05-02 20:34] abhaysinghs772 commented on #7155
hey @pc-beast  I am a beginner and want to work on this issue.
can I work on this issue.

[2021-05-04 04:39] faisalkhandholpur commented on #7184
Sir please assign this issue to me , i can handle it.

[2021-05-04 04:44] faisalkhandholpur commented on #7184
Sir I'm not external contributors , i have also  faisalkhandholpur

[2021-05-04 04:49] faisalkhandholpur commented on #7156
I am new on fossasia, and i wanna this issue please you assign me.

[2021-05-04 04:49] faisalkhandholpur commented on #7183
Please assign this issue

[2021-05-04 04:54] faisalkhandholpur commented on #7150
I wanna this issue

[2021-05-04 08:16] tanay123456789 commented on #7183
@faisalkhandholpur my PR is open for that as i had fixed that issue already. Find other issue

[2021-05-04 08:29] sans2801 commented on #7156
Hello @rajatgupta24, I'd like to know if the issue is still open

[2021-05-04 09:17] sans2801 commented on #7156
@rajatgupta24 @mariobehling
![image](https://user-images.githubusercontent.com/56474333/116983141-5c3f3080-ace7-11eb-9405-ed9d2ddfaafc.png)
I've worked this out, does this solve the issue

[2021-05-04 14:23] #7181 closed

[2021-05-04 15:02] rajatgupta24 commented on #7156
Hey @sans2801, go ahead create a PR :smiley:

[2021-05-04 16:03] sans2801 commented on #7156
Thank you @rajatgupta24 😃

[2021-05-04 17:41] tanay123456789 commented on #7028
working on this issue.

[2021-05-05 02:09] tanay123456789 commented on #7184
@faisalkhandholpur that's a bot saying to you not sir

[2021-05-05 02:10] tanay123456789 commented on #7184
@faisalkhandholpur if you work on it then write about that you are working on this issue and after you solve that issue then open a PR for the same

[2021-05-05 04:00] sans2801 commented on #7155
Hello @pc-beast I'd like to know if the issue is still open

[2021-05-05 05:23] pc-beast commented on #7155
Yes the issue is open, and anyone can work on it.

[2021-05-05 13:13] mariobehling opened #7229 "User Cannot Change "Owner" of Event"
Users who try to change the owner of an event receive the following error:

[2021-05-05 13:16] mariobehling opened #7230 "Exhibitors Page results in 505"
Exhibitors pages do not work currently. Compare to https://eventyay.com/e/fa96ae2c/exhibition

![Screenshot from 2021-05-05 15-16-00](https://user-images.githubusercontent.com/1583873/117146747-d1c50280-adb4-11eb-86b6-4ffe9840a78e.png)

[2021-05-05 14:23] MeghalBisht commented on #7229
This is happening when
A sent an invite to B - Works
Invitation is in pending state as B has not accepted
A sends invitation again to B - Fails as invite is already sent

[2021-05-05 15:47] sans2801 commented on #7230
Hello sir, I would like to know whether this is an issue on the flask server side

[2021-05-06 09:14] HarryHuy commented on #6460
@meprogemur Are you using local server with your self-created admin account?

[2021-05-06 13:55] #7229 closed

[2021-05-06 15:07] iamdevvalecha commented on #7183
@tanay123456789 are you still working on this.

[2021-05-06 15:59] MeghalBisht commented on #7008
Not needed

[2021-05-06 15:59] #7008 closed

[2021-05-06 16:00] MeghalBisht commented on #7001
Duplicate of ##7156

[2021-05-06 16:25] iamdevvalecha commented on #6803
UNABLE TO REPRODUCE THIS ISSUE.

[2021-05-06 17:32] iamdevvalecha commented on #7155
unable to reproduce

[2021-05-06 17:35] pc-beast commented on #7155
issue is still there...read steps carefully

[2021-05-06 18:27] iamdevvalecha commented on #6803
unable to reproduce this issue.

[2021-05-07 02:22] tanay123456789 commented on #7183
@iamdevvalecha  yes

[2021-05-07 07:43] sans2801 commented on #7155
Yes sir @pc-beast, working on it

[2021-05-07 15:06] mariobehling opened #7242 "Order not possible due to unexpected error"
The ordre of tickets on this event is not possible https://eventyay.com/e/6743ef60

![Screenshot from 2021-05-07 17-04-28](https://user-images.githubusercontent.com/1583873/117469791-65820480-af56-11eb-9f3d-11f621395aef.png)

[2021-05-07 15:46] #6190 closed

[2021-05-07 22:09] abhaysinghs772 opened #7250 "Verification Email is sent to SPAM"
**Describe the bug**

Verification email is sent to Spam while signing up for the first time or as a new user

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://eventyay.com/login
2. register as a new user
3. See error

**Expected behaviour**
verification email should be sent into Inbox rather then into Spam

**Screenshots**

**Desktop (please complete the following information):

[2021-05-08 06:52] mariobehling commented on #7250
This is out of scope. Email providers need to improve their spam filters.

[2021-05-08 06:52] #7250 closed

[2021-05-08 09:09] iamdevvalecha commented on #7242
![Screenshot from 2021-05-08 13-55-01](https://user-images.githubusercontent.com/71969867/117533578-32e61380-b00b-11eb-939b-a0bb1a52eef0.png)

[2021-05-10 06:23] mariobehling commented on #7184
The previous merged PR has some unwanted side effects. We need to test the PR with the updated server component first. Therefore I reverted the previous PR.

![Screenshot from 2021-05-10 08-15-00](https://user-images.githubusercontent.com/1583873/117614682-f4666b00-b168-11eb-852f-c511924f0c4b.png)

[2021-05-12 06:28] AnshMishra2001 commented on #7041
May I take this issue up ?

[2021-05-12 06:30] AnshMishra2001 commented on #7041
@rolandturner

[2021-05-12 07:19] rolandturner commented on #7041
No objection.

[2021-05-12 17:19] Amit-Morade commented on #7242
Can I work on this issue?

[2021-05-12 17:25] iamdevvalecha commented on #7242
@Amit-Morade yes it's open.

[2021-05-13 16:00] #7183 closed

[2021-05-14 11:27] #7184 closed

[2021-05-14 12:02] #2493 closed

[2021-05-14 12:03] #3128 closed

[2021-05-14 12:03] #6968 closed

[2021-05-14 12:05] #3524 closed

[2021-05-14 12:05] mariobehling commented on #3555
We will not have these issues on the next version. Therefore closing it.

[2021-05-14 12:05] #3555 closed

[2021-05-14 12:06] mariobehling commented on #3684
We will take care of this in the next version of the project.

[2021-05-14 12:06] #3684 closed

[2021-05-14 12:07] mariobehling commented on #3797
Resolved mostly in different PRs.

[2021-05-14 12:07] #3797 closed

[2021-05-14 12:08] mariobehling commented on #4024
Will not be an issue in next version of project. Therefore closing it.

[2021-05-14 12:08] #4024 closed

[2021-05-14 12:09] mariobehling commented on #4064
Infinity loader feature is still under heavy development. We need to take care to write tests when we change the feature always. Therefore closing it.

[2021-05-14 12:09] #4064 closed

[2021-05-14 12:10] mariobehling commented on #4070
Typescript support has been added and we will expand on this.

[2021-05-14 12:10] #4070 closed

[2021-05-14 12:39] #4685 closed

[2021-05-14 12:40] #4800 closed

[2021-05-14 12:42] #4950 closed

[2021-05-14 12:43] #5059 closed

[2021-05-14 12:44] #5132 closed

[2021-05-14 12:46] mariobehling commented on #5176
The remaining part of this issue is related to ember JS. Therefore I am closing it.

[2021-05-14 12:46] #5176 closed

[2021-05-14 12:47] mariobehling commented on #5207
Closing it as it results in an error message anyways.

[2021-05-14 12:47] #5207 closed

[2021-05-14 12:47] #5209 closed

[2021-05-14 12:49] mariobehling commented on #5263
Not happening at the moment. Therefore closing it.

[2021-05-14 12:49] #5263 closed

[2021-05-14 12:49] mariobehling commented on #5307
Closing it as it will not be an issue in the next version.

[2021-05-14 12:49] #5307 closed

[2021-05-14 12:52] #5453 closed

[2021-05-14 12:54] mariobehling commented on #5560
The full feature is currently out of scope. Therefore closing it.

[2021-05-14 12:54] #5560 closed

[2021-05-14 12:54] #5609 closed

[2021-05-14 13:06] #5864 closed

[2021-05-14 13:08] #5865 closed

[2021-05-14 13:46] #6165 closed

[2021-05-14 14:16] #5909 closed

[2021-05-14 14:23] mariobehling commented on #5921
I am closing this issue as the search has already been improved substantially and additional changes seem out of scope currently.

[2021-05-14 14:23] #5921 closed

[2021-05-14 14:23] #5961 closed

[2021-05-14 14:24] mariobehling commented on #5943
We will come back to this later. Therefore closing this for now.

[2021-05-14 14:24] #5943 closed

[2021-05-14 14:26] mariobehling commented on #5948
Working now as expected.

[2021-05-14 14:26] #5948 closed

[2021-05-14 14:28] mariobehling commented on #6010
Closing this for now. We need to find a solution to this later.

[2021-05-14 14:28] #6010 closed

[2021-05-14 14:29] #6017 closed

[2021-05-14 14:30] #6059 closed

[2021-05-14 14:31] mariobehling commented on #6085
Out of scope right now.

[2021-05-14 14:31] #6085 closed

[2021-05-14 14:34] mariobehling commented on #6103
I think this case is too complicated to be solved codewise. We could show an error or warning message, but then there are a lot of places where we could show an error message. The basic solution would be that an organizer temporarily changes the event dates and reschedules those sessions. We need to outline this issue in the user documentation. Therefore I am closing this. This is an error created

[2021-05-14 14:34] #6103 closed

[2021-05-14 14:37] #6119 closed

[2021-05-14 14:44] mariobehling commented on #6346
This has been solved in the meantime. Therefore closing it.

[2021-05-14 14:44] #6346 closed

[2021-05-14 14:47] mariobehling commented on #6436
@g4rry420 Thank you for the comment. We are now looking into details. Cheers!

[2021-05-14 14:50] mariobehling commented on #6484
I am closing this issue as it is currently out of scope.

[2021-05-14 14:50] #6484 closed

[2021-05-14 14:53] mariobehling commented on #6543
Cannot reproduce it and we will be moving to ReactJS within a reasonable timeframe. Therefore I think this is out of scope for the current dev plan and I am closing it.

[2021-05-14 14:53] #6543 closed

[2021-05-14 14:54] mariobehling commented on #6595
We will implement this in the next version of the platform. Therefore I am closing it here for now.

[2021-05-14 14:54] #6595 closed

[2021-05-14 14:55] Anmollenka commented on #6543
@mariobehling  Should we not solve issues related to this repo as we are moving to ReactJS?

[2021-05-14 14:56] mariobehling commented on #6711
I am closing this as we can take it up in the next version of the platform.

[2021-05-14 14:56] #6711 closed

[2021-05-14 15:03] mariobehling commented on #6761
Please test it on this page on a mobile https://eventyay.com/e/fa96ae2c/schedule

[2021-05-14 15:06] mariobehling commented on #6781
This is related to the html code that organizers can enter and which is displayed on the order area. This text should also be converted to html in the emails.

[2021-05-14 15:08] mariobehling commented on #6783
This is related to the server setup and we will add this to our list of issues regarding the server configuration. Thank you!

[2021-05-14 15:08] #6783 closed

[2021-05-14 15:15] MeghalBisht commented on #6543
You can look at the opened issues. We will maintain ember site for a good amount of time.

[2021-05-14 15:29] mariobehling commented on #6925
Yes, this is an update and cookie issue. Right now this is the solution to solve.

[2021-05-14 15:29] #6925 closed

[2021-05-14 15:35] Anmollenka commented on #6761
Working on this.

[2021-05-14 15:48] mariobehling commented on #7230
Same issue happens on organizer view https://eventyay.com/events/fa96ae2c/exhibitors.

[2021-05-14 23:53] iamdevvalecha opened #7280 "Setup: get authenticated via google/github/facebook account."
Get directly access to https://eventyay.com/ using google/github/facebook account.
![Screenshot from 2021-05-15 05-22-33](https://user-images.githubusercontent.com/71969867/118341696-ade48800-b53d-11eb-81d8-f96555139bc6.png)

[2021-05-15 00:06] iamdevvalecha commented on #7280
@mariobehling @sachinchauhan2889 @MeghalBisht
As we are about to shift the project into reactJs did we need this feature?
As we currently use jwt auth in server side.

[2021-05-15 10:57] PadminiRai commented on #7036
Can i work on it ?

[2021-05-15 11:18] iamdevvalecha commented on #7036
@PadminiRai yes it's open! just raise the pr.

[2021-05-15 23:56] #7150 closed

[2021-05-16 00:22] #7136 closed

[2021-05-16 00:33] #7141 closed

[2021-05-16 07:53] naman153 commented on #7242
Is anyone working on the issue or i can work on this issue?

[2021-05-16 13:48] iamdevvalecha opened #7282 "Popup: show popup ui message in overview page of copy and share icon."
**Describe the bug**
in overview page copy and share icon should show popup ui message.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'eventay.com/mange events/overview page of your event '
2. hower on 'copy and share icon'
3. See error

**Expected behaviour**
should show poupup message.

[2021-05-16 14:04] iamdevvalecha commented on #7282
The popup:-

![Screenshot from 2021-05-16 19-32-32](https://user-images.githubusercontent.com/71969867/118400038-9b716800-b67d-11eb-9cd6-f6cd34cc0178.png)

[2021-05-16 14:19] MeghalBisht commented on #7282
Which page?
Also which copy & share icon?

[2021-05-16 16:18] maze-runnar commented on #7282
he is talking about url-box.

[2021-05-16 16:39] MeghalBisht commented on #7282
Correct. That is obvious. Therefore closing.

[2021-05-16 16:39] #7282 closed

[2021-05-16 22:15] iamdevvalecha commented on #7282
okay thanks!

[2021-05-17 05:47] klsingh016 commented on #7280
@maze-runnar can i work on this

[2021-05-17 05:48] klsingh016 commented on #7242
Can I work on this issue?

[2021-05-17 05:48] klsingh016 commented on #7202
@Creatoon i can do

[2021-05-17 05:50] klsingh016 commented on #7230
@mariobehling @MeghalBisht work her?

[2021-05-17 08:37] Creatoon commented on #7202
@klsingh016 you can see, there is already an pr attached

[2021-05-18 03:57] maze-runnar commented on #1519
@ranjitkshah please check where else` sendAction` is used and do the required. we need to close this.

[2021-05-18 07:51] ambivert-sam commented on #6855
Can I work on this issue?

[2021-05-18 07:53] ambivert-sam commented on #7155
Would love to work on this issue, will you please assign it to me?

[2021-05-18 08:03] iamdevvalecha commented on #7155
@ambivert-sam their is already a pr.

[2021-05-18 08:21] iamdevvalecha opened #7292 "Payment Gateway: Implement Amazon Pay as it's Used World Wide"
https://developer.amazon.com/docs/amazon-pay/intro.html
Intregate amazon pay in eventyay website so, that it gets more easier to buy tickets as it's used world wide.

[2021-05-18 10:22] klsingh016 commented on #7202
ok

[2021-05-18 10:30] suyash-patil opened #7293 "Subtotal not updating after changing price for supporter ticket"
**Describe the bug**
Subtotal of the Supporter Ticket not updating on changing the price. Instead one has to change quantity to 0 and then again to 1 so that it gets updated.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://eventyay.com
2. Go to any event.
3. Scroll down to Tickets section.
4. Set supporter ticket quantity to 1.
5. Change the Price.
6. See the bug.

**Expected

[2021-05-18 11:14] iamdevvalecha commented on #7293
@suyash-patil what do you mean by?
5.change the price?

[2021-05-18 11:39] suyash-patil commented on #7293
![image](https://user-images.githubusercontent.com/66873825/118644674-ae11ab80-b7fb-11eb-8f8a-6c4807aaf3e4.png)

@iamdevvalecha If user changes the price of the ticket (by clicking the up/down arrow or manually) then the subtotal not gets updated.

[2021-05-18 12:18] iamdevvalecha commented on #7293
@suyash-patil i am wondering how a user can change price of the ticket 😕 ???

[2021-05-18 12:33] suyash-patil commented on #7293
@iamdevvalecha Yes, the supporter price can be changed.

[2021-05-18 12:36] iamdevvalecha commented on #7293
yes! thank you.

[2021-05-18 16:01] maze-runnar commented on #7242
on it.

[2021-05-18 17:02] iamdevvalecha opened #7295 "Video: Integrate Google meet as video channels."
Google Meet In Currently Not Implemented. In Eventyay website. please  implemented this feature.
https://developers.google.com/admin-sdk/reports/v1/appendix/usage/customer/meet

[2021-05-18 17:11] iamdevvalecha commented on #6913
@sachinchauhan2889 on it.

[2021-05-18 17:56] iamdevvalecha commented on #6913
@sachinchauhan2889 @mariobehling unable to reproduce this error locally.
https://user-images.githubusercontent.com/71969867/118700498-5d687580-b830-11eb-942f-14184a10c8aa.mp4

[2021-05-18 18:03] suyash-patil commented on #7293
https://user-images.githubusercontent.com/66873825/118701375-45ddbc80-b831-11eb-97f9-599a2ba9e8e1.mp4

Here is the reproduction of the bug.

[2021-05-18 18:06] iamdevvalecha commented on #7293
@mariobehling @SundaramDubey

[2021-05-18 18:22] klsingh016 commented on #7292
can i work on this ?

[2021-05-18 18:23] klsingh016 commented on #7280
can i on work ?

[2021-05-18 18:24] klsingh016 commented on #6436
can i work on ?

[2021-05-18 18:28] iamdevvalecha commented on #7292
please @klsingh016 stop spaming on every issue. it's a request. i told u in morning if u really wanna work please find the issue u know how to solve. otherwise it will create mess everywhere. i came to know @MeghalBisht di also told not to spam. please stop.
thank you!

[2021-05-18 18:37] mimidotsuser commented on #7293
seems  like the calculation trigger function is only called when keyup event is fired

 https://github.com/fossasia/open-event-frontend/blob/65c328b592e1edef23fc7ae9d99af37623e64a4c/app/templates/components/public/ticket-list.hbs#L47

[2021-05-18 18:43] iamdevvalecha commented on #7293
@mimidotsuser please send pr.

[2021-05-19 03:00] maze-runnar commented on #7230
@sachinchauhan2889 @MeghalBisht
`{"data": {"type": "exhibitor", "attributes": {"banner-url": "https://api.eventyay.com/static/media/exhibitors/1/large/NW1EbGpHVi/432c952e-79ab-4a01-bf2c-3ca704681452.jpg", "contact-email": null, "social-links": null, "slides-url": "https://api.eventyay.com/static/media/events/temp/f4b8ca2b-a053-4a67-875c-93cd0b8f1c82/bnhRSnBSQn/23c02f1b-1dca-4228-a0ba-b8afd3b21fa1.

[2021-05-19 03:01] maze-runnar commented on #7230
please check this on production server.

[2021-05-19 03:14] maze-runnar commented on #7230
`contact-email` is missing from here too, which is causing error -
`{"banner_url": "https://api.eventyay.com/static/media/exhibitors/11/large/R3lkdUtwTS/faa36342-f2d9-46e3-b66f-8bf73a362c0f.jpg", "social_links": [{"link": "https://www.theglassroom.org", "is_custom": false, "name": "website"}, {"link": "https://twitter.com/Info_Activism", "is_custom": false, "name": "twitter"}, {"link": "https://fa

[2021-05-19 04:48] klsingh016 commented on #7292
oookkkayy ji

[2021-05-19 05:36] iamdevvalecha commented on #6803
on it.

[2021-05-19 06:16] DantrazTrev commented on #6943
@HimanshunVIDIA are you still working on this?

[2021-05-19 06:25] iamdevvalecha commented on #6943
@DantrazTrev i don't think so , you can start working.

[2021-05-19 07:41] iamdevvalecha commented on #6803
![Screenshot from 2021-05-19 13-08-12](https://user-images.githubusercontent.com/71969867/118774651-b1f90880-b8a3-11eb-8fc5-7ced7b3ae907.png)
![Screenshot from 2021-05-19 13-08-49](https://user-images.githubusercontent.com/71969867/118774660-b4f3f900-b8a3-11eb-8954-317d549da1ff.png)
![Screenshot from 2021-05-19 13-09-31](https://user-images.githubusercontent.com/71969867/118774679-b8878000-b8a3-11

[2021-05-19 07:44] iamdevvalecha commented on #6803
@rolandturner instead of share link icon we can also have more details button or either we can use angle-down icon which creates
more sense.

[2021-05-19 08:50] iamdevvalecha opened #7299 "Session: increment/decrement fav count on adding a session to schedule"
Error while adding session to my schedule.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'eventyay.com'
2. Click on 'any event with some schedule'
3. Click on circle icon to add session to my schedule
4. See error

**Expected behaviour**
it should be updated automatically without any refresh.

**Screenshots/Screen-Record**

https://user-images.githubusercontent.com/71969867/11878396

[2021-05-19 09:26] sachinchauhan2889 commented on #7230
@mariobehling @maze-runnar @MeghalBisht @ranjitkshah

This issue is debuged.

- Before 15 feb:
Exhibitor have a column named contact(string type).
Users were not sure about this field. Some users fill emails in this. Those who fill emails are working fine. But others filled website or any other contact methods here.

- On 15 feb
 https://github.com/fossasia/open-event-server/pull/7745 PR changes c

[2021-05-19 09:32] maze-runnar commented on #1519
@ranjitkshah can we close this now?

[2021-05-19 10:07] sachinchauhan2889 commented on #7242
@mariobehling @maze-runnar @ranjitkshah @MeghalBisht

This issue is debugged.

We all know that all characters have their ASCII codes. Example A=97 etc.
So we have ASCII code for `line feed` character as 10, we all know this character as `\n` and `&#010;`
But in our rich text editor whenever we type '\n', it doesn't recognise this as a 'line feed' character. We need to add `<br>` for line break.
W

[2021-05-19 12:53] MeghalBisht commented on #7230
would be a better option.

[2021-05-19 13:35] #1519 closed

[2021-05-19 14:52] MeghalBisht commented on #7230
Solved by manually editing the production DB.

[2021-05-19 14:52] #7230 closed

[2021-05-19 14:52] sachinchauhan2889 commented on #7230
Manually done.

[2021-05-19 15:16] MeghalBisht commented on #7299
Works fine in Chrome & Firefox.
Why are you manually pressing reload?

[2021-05-19 15:24] #7293 closed

[2021-05-19 18:32] mimidotsuser commented on #7299
@MeghalBisht  I am able to replicate this.
Marking a session schedule as favorite does not increment the count. Also applies to undo action.

![Screenshot from 2021-05-19 21-11-46](https://user-images.githubusercontent.com/25152892/118864934-2013ee80-b8e9-11eb-96bb-41e0fa31bda7.png)

The count is tied to `favouriteCount` property of `session` model.  Favouriting a schedule is done under `UserFavou

[2021-05-19 18:35] iamdevvalecha commented on #7299
@mimidotsuser i will discuss this tommorow in meeting!

[2021-05-19 21:05] mimidotsuser commented on #6997
@jj5 are you still experiencing the issue?
I am not able to replicate the issue on my end (_using Ubuntu 18~Gnome +Firefox-86.0b9 with `network.http.referer.defaultPolicy` set to zero)_

[2021-05-20 02:48] maze-runnar commented on #7000
@ranjitkshah please give it a try. leave this part for now:
 `For existing slides that are on external pages, please use a script to download these slides and import them into the system and show them as uploaded slides.`

[2021-05-20 08:41] himanshujasuja1040 commented on #5158
Can I Try This ?

[2021-05-20 08:54] #6943 closed

[2021-05-20 08:54] #7242 closed

[2021-05-20 09:35] Talank commented on #4191
I would like to give it a try.

[2021-05-20 12:43] Adityachaturvedi2906 commented on #5439
Hey! this issue seems interesting, can I work on this? please guide me further on the same.

[2021-05-20 12:47] Adityachaturvedi2906 commented on #5260
Hey! this issue seems interesting, Can I work on this? Please guide me further on the same

[2021-05-20 13:17] iamdevvalecha commented on #5439
@Adityachaturvedi2906 yes it's open.

[2021-05-20 13:46] Adityachaturvedi2906 commented on #5439
Can you please guide me how can I start with this?

[2021-05-20 14:01] #5619 closed

[2021-05-20 16:08] Adityachaturvedi2906 commented on #6855
Hey! is this is still open?
It seems interesting, can you please assign me?

[2021-05-20 16:21] iamdevvalecha commented on #6855
@Adityachaturvedi2906 opened! please send pr. if u know how to solve.

[2021-05-20 16:21] Adityachaturvedi2906 commented on #6679
Hey! this issue seems interesting, Can I work on this? please guide me further on the same

[2021-05-20 16:28] MeghalBisht commented on #6679
@Adityachaturvedi2906  Send a PR if you know the solution. There is no need to ask and comment on every issue.

[2021-05-20 21:42] mariobehling commented on #7292
This is out of scope right now and Stripe is partnering with Amazon. So, we will be able to get support through Stripe anyways. Therefore closing it.

[2021-05-20 21:42] #7292 closed

[2021-05-20 21:43] mariobehling commented on #7280
We deleted this feature in the past because
a) The implementations keep changing and we do not have a lot of resources to continuously update these features.
b) It turns out less and less people are using these logins. Especially paying business users do not use these services a lot.
Therefore closing it.

[2021-05-20 21:43] #7280 closed

[2021-05-20 21:46] mariobehling commented on #7295
It is only possible to join Google Meet events for users who have a Google account. This is different to all other services that we currently support. We want to avoid people to be locked in and already have good alternatives to Google Meet implemented. Therefore closing it.

[2021-05-20 21:46] #7295 closed

[2021-05-20 21:49] mariobehling commented on #7299
This feature was not intended to work immediately. It actually works, but it only shows up a bit later on the site. This was the best implementation we could get considering we also want to have some caching. We can always improve this feature on the next version of the frontend. Fav count will actually increase, but it will not increase immediately. Therefore the feature can be considered working

[2021-05-20 21:49] #7299 closed

[2021-05-20 21:54] mariobehling opened #7308 "Order Process: Order steps are missing tax information"
When a user makes an order that has a tax, the tax amount is only shown in the first step of the order (the actual event page). Expected is that the amount is shown in the same way in consequent steps and the final order page.

Please implement it in the same way as it is on the event page. Please understand that there are two ways to add tax a) include the tax and b) add the tax on top. The organ

[2021-05-21 01:59] iamdevvalecha commented on #7308
on it.

[2021-05-21 22:16] sachinchauhan2889 commented on #6781
duplicate of https://github.com/fossasia/open-event-frontend/issues/6983

I have already solved in https://github.com/fossasia/open-event-server/pull/7823 on 12 march.

[2021-05-21 22:16] #6781 closed

[2021-05-22 05:04] iamdevvalecha commented on #7308
on it.

[2021-05-23 09:36] himanshujasuja1040 commented on #5547
I have once work on this type of concept of resizing image by user method. Can I catchup this oppurtunity to contribute ith your mentorship ?

[2021-05-23 11:14] Raunaksingh100 opened #7319 "Need padding in the mobile view(moto 4G)"
**Describe the bug**
Description button is overlapping the box in the mobile view see in the screenshot for a better understanding.

Steps to reproduce the behavior:
1. Go to 'https://eventyay.com/'
2. Click on 'Create event'
3. Scroll down to 'see in the mobile view'
4. See an error

**Screenshots**
![bug](https://user-images.githubusercontent.com/65535360/119258121-fc50f100-bbe5-11eb-85cf-1a9f28

[2021-05-24 04:12] rolandturner commented on #6803
@iamdevvalecha I'm not in a position to make decisions about visual style, I'm merely requesting a feature enhancement.

I suspect that the actual problem here is the lack of a visual style design and therefore decisions that are being made to reduce changes, rather than being user-centric. In particular:
- The [share icon](https://en.wikipedia.org/wiki/Share_icon) is more-or-less universal ([Goog

[2021-05-24 15:32] #7319 closed

[2021-05-24 17:06] #6866 closed

[2021-05-24 18:32] anandhu720 opened #7322 "Can add a transform(style) for cards"
**Is your feature request related to a problem? Please describe.**

By adding a transform style on mouse hovering cards will make website look better and attractive

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-05-24 18:47] MeghalBisht commented on #7322
Not needed.

[2021-05-24 18:47] #7322 closed

[2021-05-25 01:21] iamdevvalecha commented on #7155
@MeghalBisht di please, close this issue.

[2021-05-25 03:09] #7155 closed

[2021-05-25 03:41] gauravsinhaweb opened #7330 "Authentication Text Interface does not matches"
**Describe the bug**

Login and Register Text Interface have a different cursor property while hovering on it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Log in'
2. Hover on 'Login Text'
3. Click on 'New to site? Create Account
4. Hover on 'Register Text'

**Expected behavior**

while hovering over 'Login' and 'Register', Text Interface should have the same CSS cursor property i.

[2021-05-25 13:09] mariobehling opened #7331 "Scheduler: After "clearing filter" previous filter option is still highlighted"
When a filter is cleared in the scheduler the previous filter option is still highlighted. Expected: Filter option should not be highlighted.

Compare https://eventyay.com/e/da27740b/schedule

![Screenshot from 2021-05-25 15-07-07](https://user-images.githubusercontent.com/1583873/119503264-149e4880-bd6b-11eb-9547-09e710b69747.png)

[2021-05-25 20:46] mariobehling opened #7333 "Order Process: Attendee form not translated"
The attendee form elements are not translated on the order forms. Please make them translatable. They are already translated on the wizard. Also make "ticket holder" translatable.

Order Process Step 2

![Screenshot from 2021-05-25 20-13-51](https://user-images.githubusercontent.com/1583873/119566035-f5bfa680-bdaa-11eb-8939-cfcd8e44fd15.png)

Order Process Step 3

![Screenshot from 2021-05-25 22-5

[2021-05-25 21:44] mariobehling opened #7334 "Enable moderators of an event to access the event without getting a ticket"
Currently moderators also need a ticket to access an event. In contrast speakers do not need a ticket. While others systems handle this similarly users report that this is confusing them. Therefore please change it as follows:
* When accounts are invited as moderators they do not need a ticket to access the event and video rooms
* In the email that moderators receive please add the following sente

[2021-05-25 21:54] mariobehling opened #7335 "Add Event "Documents" to the system"
1. Add a "Documents" item in the organizer menu behind "Chat" and in front of "Exhibitors"
![Screenshot from 2021-05-25 23-46-54](https://user-images.githubusercontent.com/1583873/119573552-b9914380-bdb4-11eb-944e-933cf690979f.png)

2. On the page show a switch on/off button to enable or disable the feature
- When enabled show a) a field to give the document a name and b) show an upload button
- P

[2021-05-26 06:59] rajkumar100 opened #7339 "Add download icon on the "Downoad invoice" Button"
**Describe the bug**
there is no download icon on the "Download invoice" Button plz change to download icon see in the screesnhot.

**Screenshots**
![bug 1](https://user-images.githubusercontent.com/84830821/119616241-01988080-be1e-11eb-9231-bb139d63475a.PNG)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartph

[2021-05-26 07:00] Raunaksingh100 commented on #7339
i am working on this issue

[2021-05-26 07:01] rajkumar100 commented on #7339
go ahead!

[2021-05-26 07:08] Raunaksingh100 commented on #7335
i am working on this issue

[2021-05-26 09:48] mariobehling commented on #7339
This icon was chosen in order to differ from the button with the download icon next to it. Therefore closing this.

[2021-05-26 09:48] #7339 closed

[2021-05-26 10:05] mariobehling opened #7341 "Enable recording for previously created events"
Ensure recording is enabled and possible for the following events

1. - https://eventyay.com/e/ee5ba54b
2. - https://eventyay.com/e/e5718a94
3. - https://eventyay.com/e/881164f1
4. - https://eventyay.com/e/2fde0ada
5. - https://eventyay.com/e/04e3c470
6. - https://eventyay.com/e/432b66de
7. - https://eventyay.com/e/142b6187
8. - https://eventyay.com/e/f8f498f1
9. - https://eventyay.com/e/15603d0d

[2021-05-26 17:30] raj-ship-it commented on #6959
i am working on this issue

[2021-05-26 17:31] raj-ship-it commented on #7041
i am working on this issue

[2021-05-26 17:53] mariobehling opened #7345 "Create BBB recordings overview for admins and enhance admin video area"
* Change admin/video-channels. It should be admin/video/
* Create sub slug admin/video/channels and move current video channel info here
* Create sub slug admin/video/recordings and a table with the following overview of videos
   * Thumbnail (linking to video presentation page | Delete
   * Event Name (below icon links to a) Dashboard and b) View linking to public event page)
   * Owner (Show the

[2021-05-27 09:48] faisalkhandholpur commented on #7341
i can handle 7341 issue so please assign me this issue

[2021-05-27 10:26] #6749 closed

[2021-05-27 11:43] #7333 closed

[2021-05-27 12:06] #7331 closed

[2021-05-28 13:11] sandeep9889 commented on #7345
i want work on this issue

[2021-05-28 16:29] #6913 closed

[2021-05-29 09:44] Abhicodes-crypto commented on #7156
Hi, I am a beginner. Is this issue still open ? Can I work on this ?

[2021-05-29 11:10] Priyaraj17 commented on #7330
Hey, Make I work on this issue?

[2021-05-29 12:33] rajdama commented on #7335
Hi can you assign this to me, I can do it.

[2021-05-29 12:36] iamdevvalecha commented on #7335
@rajdama so please send pr. we don't assign issues.

[2021-05-29 12:39] rajdama commented on #7335
@iamdevvalecha ok I will send it.

[2021-05-29 15:07] rajdama commented on #7335
Can you please help me to locate this page on fossasia website.

[2021-05-29 15:09] iamdevvalecha commented on #7335
@rajdama use ember inspector.

[2021-05-30 03:14] rajatgupta24 commented on #7156
Hey @Abhicodes-crypto, yeah sure go ahead 😄👍🏻

[2021-05-30 05:55] rajdama commented on #7335
@iamdevvalecha Hey can you help me a bit as I am new to open source I am facing some issues, it would be great if you could help me.

[2021-05-30 06:12] iamdevvalecha commented on #7335
@rajdama join https://gitter.im/fossasia/open-event-frontend this channel & we have weekly meeting on tuesday you can ask doubts.

[2021-05-30 06:19] rajdama commented on #7335
Thankyou !

[2021-05-30 06:23] gauravsinhaweb commented on #7330
@Priyaraj17  yes

[2021-05-30 11:37] sachinchauhan2889 opened #7354 "BBB video Stream: End current BBB running meeting after updating video stream"
End current BBB running meeting after updating BBB video stream.
It is important to apply current changes to bbb meeting.

[2021-05-30 12:55] sachinchauhan2889 commented on #7341
manually done.

[2021-05-30 14:38] marcoag opened #7357 "Message when trying to create an event with a non verified account is not helpful"
**Describe the bug**

When creating an event with an account that has not verified the email the message shown is:
"Unknown Error has occurred."

This is very confusing for the user as it doesn't know what to do and it will think it's just the system that is not working. Instead a more informative message should be shown:

"Please confirm the verification email before creating an event"

It would

[2021-05-30 17:56] anshika-web commented on #7357
@marcoag can i work on this?

[2021-05-31 02:50] marcoag commented on #7357
Please go ahead, should be a fast fix ;)

[2021-05-31 05:24] tanay123456789 commented on #6460
working on this

[2021-05-31 06:34] iamdevvalecha commented on #7357
@marcoag it's working absolutely fine in eventyay as well as in my localhost

[2021-05-31 06:42] iamdevvalecha commented on #7357
here's the sr.
https://user-images.githubusercontent.com/71969867/120150946-4f8bfa80-c209-11eb-9a05-079bae65336f.mp4

[2021-05-31 06:42] iamdevvalecha commented on #7357
@marcoag sir,can you please attach the ss.

[2021-05-31 08:30] iamdevvalecha commented on #7357
@iamdevvalecha @marcoag can you please guide how to do this?

[2021-05-31 08:32] anshika-web commented on #7357
@marcoag @iamdevvalecha can you please guide how to do this?

[2021-05-31 13:48] MeghalBisht commented on #7357
The steps say to create a new event. Where did you create it? Create an event refers to publish an event.

[2021-05-31 14:51] iamdevvalecha commented on #7357
@MeghalBisht thanks, now able to reproduce.

[2021-05-31 15:26] maze-runnar commented on #5877
this issue is no more relavant.
![Screenshot from 2021-05-31 20-55-40](https://user-images.githubusercontent.com/56407566/120214855-a7028880-c252-11eb-9d43-bfbde55a1bf3.png)

[2021-05-31 15:26] #5877 closed

[2021-05-31 18:27] #6523 closed

[2021-05-31 18:40] #7357 closed

[2021-05-31 19:36] #6469 closed

[2021-06-01 12:27] maze-runnar commented on #6113
You should not use a robots.txt file as a means to hide your web pages from Google Search results. This is because, if other pages point to your page with descriptive text, your page could still be indexed without visiting the page. If you want to block your page from search results, use another method such as password protection or a noindex directive.

If your web page is blocked with a robots.t

[2021-06-01 14:19] #7334 closed

[2021-06-01 14:19] maze-runnar commented on #7334
As discussed permission issues are compliceated to implement right now.

[2021-06-02 15:44] MeghalBisht commented on #7330
Low priority

[2021-06-02 15:44] #7330 closed

[2021-06-02 16:15] #6999 closed

[2021-06-02 19:59] sachinchauhan2889 opened #7377 "Group Page: add infinity loader at groups edit page."
At group edit page, page size of events of any user is set to 25.
 It means only 25 events of an user will be loaded from backend.
Suppose user have 30 events. He create a group and start adding events. He get only 25 events from backend and he can only add events from these 25 events. What to do if he want to add events from that remaining 5 events.

Solution: add infinity loader for events at gr

[2021-06-03 06:35] tanay123456789 commented on #6460
There was something wrong that I did to the previous PR that's why I closed that one and created a new one

[2021-06-03 08:54] #6813 closed

[2021-06-03 09:23] salmanansari14 commented on #7156
Hello i'm new in open source also passionate contribution on open source organization **can i contribute on it please !_

[2021-06-03 09:46] Abhicodes-crypto commented on #7156
Hello @salmanansari14 , I'm already working on this issue.

[2021-06-03 09:52] salmanansari14 commented on #7156
@Abhicodes-crypto  greate keep it up !

[2021-06-03 12:22] progmatic-99 opened #7384 "Dropdown icon to the event creation steps to make it more user friendly"
So, right now in the event creation steps, on smaller screen sizes, it is hard to guess how to move between different steps and the dropdown is not easily recognizable.
![ss_1622637706](https://user-images.githubusercontent.com/42090582/120643668-11eed200-c494-11eb-8b4f-7610e1ed1f5c.png)

**Solution**
Add a dropdown icon, so that the UI becomes more user friendly and it is obvious that the dropdow

[2021-06-03 14:00] #6717 closed

[2021-06-03 14:14] #6679 closed

[2021-06-03 15:26] #6436 closed

[2021-06-03 15:43] #7156 closed

[2021-06-03 17:10] hongquan opened #7385 "Frontend dev server respond very slowly if using .env file from example"
**Describe the bug**

If running frontend server on a cloud VM, the server responds very slowy. If running on localhost, it is normal.

**To Reproduce**

1. Clone the _open-event-frontend_ source to a cloud server
2. Copy _.env.example_ file to _.env_
3. Update `API_HOST` setting in _.env_ to point to backend server
4. Update _docker-compose.yml_ to use `eventyay/open-event-frontend:development` i

[2021-06-03 19:04] #7377 closed

[2021-06-03 19:15] mariobehling commented on #7384
Yes, please make a PR.

Also please change the box item on the lower second box from "Team" to "Team Members".

[2021-06-03 19:21] #7202 closed

[2021-06-03 19:48] mariobehling opened #7386 "A star rating of a session by an organizer should be visible to the organizer"
After a user added the rating the ratings of the user should be visible to the user. So the number of stars the user gave here should be highlighted. This is not yet the case.

![Screenshot from 2021-06-03 21-46-15](https://user-images.githubusercontent.com/1583873/120703218-4c1c9b80-c4b5-11eb-984e-e7b72841dab2.png)

[2021-06-03 20:33] iamdevvalecha commented on #7384
@mariobehling @progmatic-99 working on this.

[2021-06-03 21:56] iamdevvalecha commented on #7386
on it.

[2021-06-04 05:35] tanay123456789 commented on #6122
working on this

[2021-06-04 05:53] progmatic-99 commented on #7384
@iamdevvalecha I mentioned in the issue itself, that i have a PR ready for this. :(

[2021-06-04 11:40] SamikshaSankar opened #7390 "Navbar and Adding top-button"
**Is your feature request related to a problem? Please describe.**
we make navbar in sticky
Adding top button

**Describe the solution you'd like**
we make navbar in sticky when we scroll down we can see navbar
Adding top button for directly go to the home section

[2021-06-04 15:18] prsmahajan commented on #6174
Hi, I would like to work on this issue, can you suggest me to get started?

[2021-06-04 15:19] prsmahajan commented on #7384
Hi, I would like to work on this issue, can you suggest me to get started?

[2021-06-04 15:36] MeghalBisht commented on #7390
This would be done in the next version.

[2021-06-04 15:36] #7390 closed

[2021-06-04 20:52] #7384 closed

[2021-06-04 21:04] MeghalBisht commented on #7384
@iamdevvalecha  From the next time, please only take up issues which are already occupied **after** 24 hours have passed and no update is provided by the previous commenter. I see @progmatic-99 already commented with the issue body. 😄

[2021-06-05 05:30] hpdang opened #7392 "Microlocation Video Rooms do not show on the event page after creating"
**Describe the bug**
Go to Video tab https://eventyay.com/events/75ac7f83/video/all
Create a Microlocation room with BBB
The room did not show on the list of Videos Room on the side panel

**Expected behaviour**

**Screenshots**

**Desktop (please complete the following information):**
 - Ubuntu 18.04, Chrome

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]
 -

[2021-06-05 05:53] hpdang opened #7393 "Reorder Speaker function does not work"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone

[2021-06-05 05:57] #7393 closed

[2021-06-05 07:33] mariobehling commented on #7392
This room needs to have a session in it in order to appear. Rooms without sessions do not appear. You need to 1. create sessions, 2. add them into the schedule, 3. publish the schedule. This is not a bug.

Please change the description on the video page as follows:

Microlocation video rooms are suitable for events with different tracks, rooms and sessions that are listed in a schedule. All microl

[2021-06-05 08:03] mariobehling opened #7394 "Enable admin to set specific event as start page instead of standard page"
Some event organisers might want to set up the system themselves for a specific event. In this case the specific event should be visible as a start page. Please add this option as follows:

1. In https://eventyay.com/admin/settings provide the option "Start Page" a) Use default start page b) Use event as start page with ID (Enter event ID here)
2. If the user chooses an event ID as start page show

[2021-06-05 08:12] mariobehling opened #7395 "Substitute text with "eventyay" to use "[app name]""
In the process of refining the system we have created different text and we have used 'eventyay' in some strings instead of "app name" which is set in https://eventyay.com/admin/settings. Please find any reference to eventyay in the system and change it to use the "app name" set by the administrator.

Please test and ensure that the app name is shown instead of html or other code for the user.

[2021-06-06 15:00] #6959 closed

[2021-06-06 20:51] iamdevvalecha commented on #7386
@mariobehling i need more info for this issue.

[2021-06-07 06:26] tanay123456789 commented on #6460
ANY OTHER PERSON CAN TAKE THIS ISSUE

[2021-06-07 06:27] tanay123456789 commented on #6122
any other person can take this issue

[2021-06-07 07:03] rajdama commented on #7395
I can do it

[2021-06-07 10:00] maze-runnar commented on #7386
Not able to reproduce. I am seeing my given rating for any session.

[2021-06-07 13:28] sachinchauhan2889 opened #7397 "User logout on refreshing page."
User logout after refreshing page on eventyay

https://user-images.githubusercontent.com/72552281/121024822-36171f80-c7c2-11eb-9a02-7f067afde035.mp4

[2021-06-07 13:32] sachinchauhan2889 commented on #7397
it is because `\notifications` endpoint return `status 500`.

It is giving 500, because any one notification is not able to generate.

Notification is not generated because notification is not generated.

Notification content is not generating because the data needed to load notification_content is deleted.

[2021-06-07 14:53] #7392 closed

[2021-06-07 18:50] Abhicodes-crypto commented on #7395
Hi, @mariobehling  I would like to work in this.

[2021-06-07 18:54] iamdevvalecha commented on #7395
@Abhicodes-crypto please send pr

[2021-06-08 14:34] #7153 closed

[2021-06-09 15:50] #7000 closed

[2021-06-09 16:10] #7011 closed

[2021-06-09 16:11] #6773 closed

[2021-06-10 04:26] Deepak-032 commented on #6122
I want to work on this issue. Please assign this to me!!

[2021-06-10 04:35] Deepak-032 commented on #5919
I want to work on this issue. Please assign this to me.

[2021-06-10 10:37] sachinchauhan2889 opened #7419 "Dashboard: Only one event is appearing in dashboard"
Only one event is appearing  in dashboard

[2021-06-10 12:07] #7419 closed

[2021-06-10 21:44] #7397 closed

[2021-06-12 03:03] Deepak-032 commented on #6122
I'm working on this issue..

[2021-06-13 12:27] sachinchauhan2889 opened #7431 "CFS: Not able to turn ON cfs for my event"
Not able to turn ON cfs for my event

https://user-images.githubusercontent.com/72552281/121807143-939ee680-cc70-11eb-9d55-bee1a261f67f.mp4

[2021-06-13 19:17] MeghalBisht commented on #7431
It is because of the empty announcement message.

[2021-06-14 09:50] mariobehling opened #7433 "Notifications: Do not show icon and notifications anymore"
Notifications are too buggy in the current system. Notifications are not an essential feature to use the system neither. Therefore we can hide notifications for now. Maybe comment out the feature entirely in the frontend? Please propose and implement a way to hide notifications and the notification icon.

[2021-06-14 11:01] Deepak-032 commented on #6855
I am not getting the issue can anyone please explain the issue in a better way!!

[2021-06-14 12:15] mariobehling opened #7434 "Only show "Level" widget if session have level option"
Currently the level widget also shows up if the level form field is not activated in the wizard. Please only show the level widget on the public event page, if levels are available.

Compare https://eventyay.com/e/82d2e0f2/schedule

![Screenshot from 2021-06-14 14-08-38](https://user-images.githubusercontent.com/1583873/121890692-e9c86400-cd1a-11eb-9dcd-69cc1150fd5b.png)

[2021-06-14 14:39] pc-beast commented on #7434
working on it.

[2021-06-14 19:44] MeghalBisht commented on #5037
Solved in #7043

[2021-06-14 19:44] #5037 closed

[2021-06-15 02:52] iamdevvalecha commented on #7433
on it.

[2021-06-15 14:36] mariobehling commented on #7431
We need an error message or something to indicate this for the user.

[2021-06-16 16:38] maze-runnar commented on #7386
if any one reproduces this feel free to open

![Screenshot from 2021-06-16 22-05-10](https://user-images.githubusercontent.com/56407566/122259044-58f6b180-ceef-11eb-8370-d600d9a83d1b.png)

[2021-06-16 16:38] #7386 closed

[2021-06-16 16:48] maze-runnar commented on #7431
I think we should just add an helper text, that `you need to add announcement to enable call for speakers` something like this.
or just check is_cfs_enables https://github.com/fossasia/open-event-server/pull/7997

[2021-06-17 02:13] #7395 closed

[2021-06-17 06:52] #7431 closed

[2021-06-17 14:04] #7434 closed

[2021-06-19 02:42] #7433 closed

[2021-06-19 13:48] SnehaSah2204 opened #7464 "E-mail confirmation and resend not working. I am not getting any e-mail for confirmation of my Gmail to book tickets"
**Describe the bug**
I am not receiving a confirmation E-mail on my registered e-mail id to.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://eventyay.com/
2. Sign up as a new user
3. scroll down and click on an event
4. It will show - Your account functionality is limited. To get full access to all features you need to verify your email by clicking on the confirmation link tha

[2021-06-19 13:48] SnehaSah2204 commented on #7464
I would like to work on this Issue.

[2021-06-19 17:33] SahilSunda commented on #7464
@SnehaSah2204 yeah go on, and if you need any help then please text me, I was also looking for some issues here but didn't get any. So if possible then please.

[2021-06-19 17:43] MeghalBisht commented on #7464
@SnehaSah2204 It works fine. Check you spam or any potential email blockers that you might have enabled.

[2021-06-19 20:00] iamdevvalecha commented on #7464
works fine check spam.

[2021-06-20 21:57] MeghalBisht commented on #7464
Closing as it is working. Reopen to continue the discussion.

[2021-06-20 21:57] #7464 closed

[2021-06-21 00:47] #6122 closed

[2021-06-21 13:16] #6761 closed

[2021-06-22 15:28] #7341 closed

[2021-06-22 16:40] khanjasir90 opened #7475 "Error in Readme.md"
cp .env.example .env does not work for Windows!
![1](https://user-images.githubusercontent.com/53305380/122966091-88516680-d3a6-11eb-9aa9-cbea03e9f39e.JPG)
copy .env.example .env works for Window!!!

[2021-06-22 16:43] khanjasir90 commented on #7475
can i work on this fix!

[2021-06-22 16:56] MeghalBisht commented on #7475
We recommend using linux. Also, this can be easily looked up! Hence, closing

[2021-06-22 16:56] #7475 closed

[2021-06-22 17:19] MeghalBisht opened #7476 "Add Group Events View Page"
Allow users to access a groups/view/:id page to view all events in a group.
Make this route accessible via the following tab in Group Section.

[2021-06-25 08:41] Deepak-032 commented on #5919
Please tell me the page on which you want to have the changes, I am unable to find it on the website.

[2021-06-25 12:00] hkumar0132 opened #7483 "Redirect users to /create after log in"
**Is your feature request related to a problem? Please describe.**
User visits the website (eventyay.com) and clicks on `Create Event`. If they are not logged in, they are redirected to the `/login` route. After they log in, they are redirected to `/`. I think it's better if they are redirected to `/create` instead of `/` at this point.

**Describe the solution you'd like**
If the user clicked `Cr

[2021-06-25 12:02] hkumar0132 commented on #7483
@mariobehling I would like to work on this issue if it helps improves the project.

[2021-06-25 12:57] hkumar0132 opened #7484 "Do not refresh if language selected is same as before"
**Is your feature request related to a problem? Please describe.**
If language is set to English and if I choose English from the dropdown, it refreshes the page and runs the `switchLanguage` function again, which is unnecessary.

**Describe the solution you'd like**
I would like to add an edge case that does not allow page refresh and return from the `switchLanguage` function if the newly selecte

[2021-06-25 12:58] hkumar0132 commented on #7484
Please let me know if I can work on this issue.

[2021-06-28 16:09] #7308 closed

[2021-06-28 17:50] MeghalBisht commented on #7484
Yes

[2021-06-28 18:03] hkumar0132 commented on #7484
Thank you, working on it.

[2021-06-29 01:39] #6893 closed

[2021-06-29 08:52] #7335 closed

[2021-06-29 09:24] hkumar0132 commented on #7484
#7496

[2021-06-29 12:48] #7484 closed

[2021-06-30 08:52] mariobehling opened #7497 "Follow group button overlapping on event page"
Please move the "Follow Group" button widget to the right bottom of the sidebar for now and avoid that it overlaps with other UI elements.

![Screenshot from 2021-06-30 10-47-49](https://user-images.githubusercontent.com/1583873/123931895-39509600-d991-11eb-8f32-8800698e7223.png)

[2021-06-30 08:59] mariobehling opened #7498 "Chat not working for some users"
The chat in events is not working for some users. It shows "Unable to login to chat. Please contact the administrator"

![Screenshot from 2021-06-30 10-58-34](https://user-images.githubusercontent.com/1583873/123932918-34401680-d992-11eb-8292-d5783ebf8560.png)

[2021-06-30 09:03] iamdevvalecha commented on #7497
on it.

[2021-06-30 09:16] #6273 closed

[2021-06-30 09:19] #6175 closed

[2021-06-30 09:19] #6174 closed

[2021-06-30 09:45] mariobehling commented on #5409
Dupllicate

[2021-06-30 09:45] #5409 closed

[2021-06-30 11:42] #4327 closed

[2021-06-30 11:43] mariobehling commented on #3519
Duplicate.

[2021-06-30 11:43] #3519 closed

[2021-06-30 12:12] auge8472 commented on #3519
I'm not addicted to my own ticket, when the work gets done at another place, so might it be. But to call it a "duplicate" of whatever, even it is 14 months older than [the only other one](https://github.com/fossasia/open-event-frontend/issues/5717) that [I can find](https://github.com/fossasia/open-event-frontend/issues?q=is%3Aissue+SEPA+) (opened by @mariobehling who closed *this* issue) is an *a

[2021-06-30 13:02] maze-runnar commented on #7498
can you please share the link for this event? This error usually appears if rocket chat token is missing.

[2021-07-01 11:35] ranjitkshah commented on #7345
left:
recording delete part

[2021-07-01 16:20] maze-runnar commented on #6274
this is completed, the only remaining part was done in https://github.com/fossasia/open-event-frontend/pull/7368/

[2021-07-01 16:20] #6274 closed

[2021-07-02 02:19] ranjitkshah commented on #3202
@maze-runnar Please check Is it already done or not?

[2021-07-02 02:37] maze-runnar commented on #3202
Yes it is.

[2021-07-02 02:37] #3202 closed

[2021-07-02 12:37] Shubham56-droid commented on #7483
i would like to work on this issue.

[2021-07-02 13:07] maze-runnar commented on #4567
As now sessions have their own page and they will redirect organizer to that page and he will see withdrawn status their. And redirection is also working.
![Screenshot from 2021-07-02 18-35-33](https://user-images.githubusercontent.com/56407566/124278915-7c169780-db64-11eb-998d-2cfefda52297.png)

[2021-07-02 13:07] #4567 closed

[2021-07-02 13:13] maze-runnar commented on #4589
@mariobehling grouping of tickets by order is already implemented. So the events are showing number of time orders has been made.
![Screenshot from 2021-07-02 18-41-38](https://user-images.githubusercontent.com/56407566/124279604-563dc280-db65-11eb-8b56-cfafbb256866.png)

Also https://github.com/fossasia/open-event-frontend/issues/4589#issuecomment-757417128.

[2021-07-05 04:27] #5919 closed

[2021-07-05 08:29] maze-runnar commented on #4662
I was thinking the same

[2021-07-05 13:36] #7345 closed

[2021-07-05 20:39] MeghalBisht commented on #7498
Steps to reproduce -
1. Add yourself in any chat room.
2.  Click on your user profile at top left.
3. Go to **My Account** -> **Security** -> **Enable 2 factor authentication via TOTP**
![Screenshot from 2021-07-06 02-03-00](https://user-images.githubusercontent.com/61330148/124515962-4f7dac80-ddfe-11eb-919c-7c2cd20210a7.png)

After enabling 2 factor TOTP, if you logout manually from Rocket Chat O

[2021-07-05 20:55] #7497 closed

[2021-07-06 10:59] mariobehling opened #7514 "Change upload limit from 10MB to 20 MB for documents and slides of speaker and exhibition"
The upload limit for documents and slides is currently 10 MB. Please change it to 20 MB.

[2021-07-06 21:57] MeghalBisht opened #7520 "Group Following Tab: Add Follow/Unfollow Buttons"
Allow user to follow or unfollow a group from the following tab itself.

[2021-07-07 12:35] MeghalBisht commented on #7498
Could not find any option in UI to reset the TOTP  or email (2FA) code for a particular user.
The only solution was to run a query to update the mongo DB directly.
Hence, solved manually.

[2021-07-07 12:35] #7498 closed

[2021-07-07 12:35] #7514 closed

[2021-07-07 16:55] mariobehling opened #7524 "Groups: Separate Upcoming and Past events on View and Edit page"
The groups page shows all events, past and upcoming, in the same section. Please create two sections a) Upcoming Events and b) Past Events on the Group view and Group Edit page.

![Screenshot from 2021-07-07 18-52-21](https://user-images.githubusercontent.com/1583873/124799425-d2188000-df54-11eb-97ff-b2c474bcb806.png)

[2021-07-07 17:07] mariobehling opened #7525 "Add Groups "About" section"
Please add a groups about option to groups and show this:

1. As a section (text) above the social icons.

![Screenshot from 2021-07-07 13-50-16](https://user-images.githubusercontent.com/61330148/124728530-4dfed200-df2d-11eb-8c01-5c1c32cda573.png)

2. Change the events listing to display the about text instead of the event listing and do not show a date here.

![Screenshot from 2021-07-07 19-50-5

[2021-07-07 17:13] mariobehling opened #7526 "Groups View and Edit Page: Sort events with newest on top"
The groups view and edit page should show the newest events on top.

![Screenshot from 2021-07-07 19-11-48](https://user-images.githubusercontent.com/1583873/124801620-5409a880-df57-11eb-8b64-cb264dac185d.png)

[2021-07-07 17:21] mariobehling opened #7527 "Groups: Implement "Announce Event" email for group followers"
For future events group owners should have the option to announce an event via email to group followers. There are different ways to make this user friendly, but for now the first step to implement this in the UI would to add an "Announce" button into the my groups view page.

This should work as follows:
1. Only future events can be announced.
2. Events can only be announced once. After the initi

[2021-07-07 17:58] mariobehling opened #7528 "Groups: Add option to upload group photo and show on top of pages and in groups overview"
Please add an option to add a group photo and a group logo and show as follows:
1. Photo on groups view page
2. Photo and logo on top of the group page. Implement it similar to events pages.

![Screenshot from 2021-07-07 19-55-16](https://user-images.githubusercontent.com/1583873/124806987-9635e880-df5d-11eb-9fb7-7ec9c594d152.png)
![Screenshot from 2021-07-07 19-50-59](https://user-images.githubus

[2021-07-07 18:07] mariobehling opened #7529 "Make size option into a backend function instead of frontend"
The frontend currently controls how big a document can be. This is a potential security issue as logged in users who are running their own client could be uploading lots of large files potentially. Therefore please make this feature into a backend configuration option.

This is a follow up to PR https://github.com/fossasia/open-event-frontend/pull/7522

[2021-07-08 01:36] #6416 closed

[2021-07-08 13:28] sachinchauhan2889 commented on #7529
looking

[2021-07-09 16:01] mariobehling opened #7538 "Admin Start Page: Show version of frontend and backend"
The admin start page currently shows a hard-coded version info.

1. Please show the info of the frontend and backend version and link to the commit of the version on Github.
2. Move the info below the content area and just above the footer.
3. Only show the info on the admin pages

![Screenshot from 2021-07-09 17-58-00](https://user-images.githubusercontent.com/1583873/125106130-96f68800-e0df-11eb

[2021-07-09 16:17] mariobehling opened #7539 "Simplify the admin sales page"
The sales page at https://eventyay.com/admin/sales/ has unused functionalities and pages that are not working as expected. We can simplify this as follows:

* Delete the left sidebar and its unsused pages (organizer, location, marketer, discounted events, revenue)
* To the Tickets Summary Page:
   * add column "Owner" show the name of the event owner here and link to the owner profile
   * Add col

[2021-07-09 16:30] mariobehling opened #7540 "Enable admin to change event payments to the status "resolved""
All invoices of the system are listed on https://eventyay.com/admin/sales/invoices. Currently there is no option of an admin to mark a payment as "resolved". This is necessary if the system owner wants to allow organizers to use the system free of charge. For now the easiest way to achieve this is by having status options in a Status column as a dropdown.

1. Therefore please implement:

- a Statu

[2021-07-09 16:56] mariobehling opened #7541 "Make Admin Groups page columns sortable and add column "Followers""
1. Currently the column "Owner" and "Number of Events" are not sortable on the groups admin page at https://eventyay.com/admin/groups/live. Please implement the sorting functionality.

2. Also implement a column "Followers" and show the number of followers of this group in the column.

[2021-07-09 17:03] mariobehling opened #7542 "Groups box on admin start page"
On the admin start page at https://eventyay.com/admin information in regards to groups is missing. Therefore please add a "Groups" box and include the following information on that page:

- Number of Groups: xx
- Number of Group Events: xx
- Number of All Followers: xx

![Screenshot from 2021-07-09 19-00-47](https://user-images.githubusercontent.com/1583873/125113049-636c2b80-e0e8-11eb-93ae-827019

[2021-07-10 03:53] #7529 closed

[2021-07-10 17:36] hkumar0132 commented on #7483
@Shubham56-droid Let me know if you are working on it or I will take it

[2021-07-11 15:56] #7354 closed

[2021-07-11 19:14] Deepak-032 commented on #7539
I am not able to access the page given in the link above. i.e. https://eventyay.com/admin/sales/

[2021-07-11 19:20] Deepak-032 commented on #7520
Can I work on this if you are not @MeghalBisht ?

[2021-07-12 07:17] MeghalBisht commented on #7539
Since you don't have admin rights on `eventyay.com` , you need to run the server locally in order to view admin pages.

[2021-07-12 08:29] MeghalBisht commented on #7520
PR is raised. Should be merged soon!

[2021-07-12 10:54] ranjitkshah commented on #7541
looking

[2021-07-12 10:54] ranjitkshah commented on #7542
looking

[2021-07-13 09:38] mariobehling opened #7554 "Invoice: Organisation and Reverse Charge info missing"
Please add the following information into the invoice PDF for organisations:
* Organisation (above payee name)
* "Reverse charge: Recipient of service is liable for VAT." (below "Note...")

[2021-07-13 10:12] sachinchauhan2889 commented on #7541
looking

[2021-07-13 10:50] #7524 closed

[2021-07-13 10:50] #7526 closed

[2021-07-14 04:57] #7541 closed

[2021-07-14 05:01] #7542 closed

[2021-07-14 11:12] #7528 closed

[2021-07-14 11:30] MeghalBisht commented on #4662
@mariobehling What is meant by contact form? Do we need contact link and email option similar to exhibitors? Or something as a contact organizer when ordering tickets.

[2021-07-14 11:45] #7525 closed

[2021-07-14 11:52] #7539 closed

[2021-07-15 09:47] mariobehling opened #7562 "Wizard Step 1: Simplify Online Events Section"
The online event options on wizard step 1 are no longer needed. We had added them originally before the integrated video option were available. Therefore please change this section as follows:
1. Delete Live Stream and Webinar options from frontend and backend.
2. Add the following text here: "You can add video meeting rooms or streams after you created a draft of the event."

![Screenshot from 20

[2021-07-15 11:34] mariobehling opened #7564 "Groups Configuration: Enhance Event Box on Overview Page and Add Events Tab on Group Edit Areas"
The teams tab is not yet added into the groups config options.

1. Please add the team tab behind the "Settings" tab on the group config pages.

2. On the groups overview page change the following:
* Change the blue "Manage" icon from the groups overview to a multiple person icon and on scroll-over show "Team Members"
* Add an events icon and direct the link to Edit Group "Events" tab.
* Change th

[2021-07-15 12:47] #7562 closed

[2021-07-15 17:25] mariobehling commented on #7394
The implementation does not yet work as expected. If the user clicks on the top left, the user gets directed to the standard start page. The current implementation for an event page as the front page is a forward to the specific event page. Is that already the solution we should go with? Other systems like Wordpress do not create a forward but instead they change the setting of the front page. Wha

[2021-07-15 17:30] mariobehling opened #7568 "Link properties on headings and top menu where there is no link on admin pages"
Admin pages and specifically on the settings page large parts, headings and the top menu have link properties even though they are not links. Check on https;//eventyay.com/admin/settings

[2021-07-16 07:58] mariobehling opened #7571 "Groups: Create and Edit Group page should be identical"
Currently the create group page and edit group page are different. Please make them identical. As much as possible this should be abstracted and use the actual same code.

![Screenshot from 2021-07-15 13-32-19](https://user-images.githubusercontent.com/1583873/125913168-35c886af-7a82-4a07-9a25-7a0ac8fffd71.png)

[2021-07-16 08:05] mariobehling opened #7572 "Admin Sales Page: Make Ticket number and Sales Number sortable through backened"
Tickets and Sales numbers on the admin sales page are computed properties and it is not easily possible to sort them on the frontend itself. Even if we could sort them here it could slow down the page due to potentially large lists.

The sorting is very important to the admin, because it enables the admin to identify top organizers.

Please implement a sorting / list order according to ticket sale

[2021-07-16 08:21] mariobehling opened #7573 "Admin Sales Page: Export table as CSV"
On the tickets summary page on https://eventyay.com/admin/sales/live please add an option to export the table as a CSV.

Additionally include the following as columns in the CSV:
* Owner Names
* Names and Emails of other organizers
* Event Creation Date

![Screenshot from 2021-07-16 10-16-42](https://user-images.githubusercontent.com/1583873/125916471-626007f5-198e-42d3-b587-b24eba3f22a6.png)

[2021-07-16 11:06] mariobehling opened #7575 "Add a View button for groups on the "My Groups" tab"
Add a View button for groups on the "My Groups" tab on https://eventyay.com/groups/list

![Screenshot from 2021-07-16 13-05-23](https://user-images.githubusercontent.com/1583873/125938447-13c5c1ca-cbe4-46ff-b01c-0d9cdd2089b7.png)

[2021-07-16 12:43] sachinchauhan2889 opened #7576 "VideoRoom Edit Page: get error when while adding moderators."
We get error when we

- [ ] Remove existing moderator and add moderator with same email.

[2021-07-16 12:56] ranjitkshah commented on #7573
Looking

[2021-07-16 20:50] #7575 closed

[2021-07-17 08:35] #4589 closed

[2021-07-17 08:46] maze-runnar commented on #7568
Can you please elaborate this a bit?

[2021-07-17 09:13] mariobehling commented on #7568
Scroll over over these areas and you will see the cursor changes for links.

[2021-07-17 11:23] #6490 closed

[2021-07-19 14:38] RitikaGarg-tech commented on #6979
Sir can i work on this issue...

[2021-07-20 02:52] rolandturner commented on #6979
You are free to work on any issue at any time.

[2021-07-20 11:34] mariobehling opened #7586 "Groups Edit Page: Add "View" button"
Add a "View" button same as on the organizer event pages to the groups edit pages on the top right. Open it on a new tab.

![Screenshot from 2021-07-20 13-32-40](https://user-images.githubusercontent.com/1583873/126317190-6af01eac-f9e5-4738-9c31-4838bf80f7e4.png)

![Screenshot from 2021-07-20 13-32-00](https://user-images.githubusercontent.com/1583873/126317210-a219a240-b61e-482f-a811-4e6631e494fc

[2021-07-20 11:41] #7540 closed

[2021-07-20 11:58] mariobehling opened #7587 "Search: Move search field to top on search pages"
Please move the search field to the top of the search page, but keep it expanded on that page.

![c4](https://user-images.githubusercontent.com/11625672/102060567-5c15c580-3e18-11eb-8a45-eaf3ffb14d38.JPG)

[2021-07-20 12:03] mariobehling opened #7588 "Search: Add option to search for Groups"
On meetup.com a user can search either for events on the calendar or for groups.

Please implement such a search filter option on the search page https://eventyay.com/explore of eventyay as well. Enable the user to search either for events or for groups. Change the left side bar accordingly and show the date option to display all groups with e.g. past and future events etc.

Ensure that the search

[2021-07-20 17:15] emily876 commented on #7587
Hello @mariobehling, can I work on this issue !!

[2021-07-20 17:45] MeghalBisht commented on #7587
Yes! Feel free to open a PR

[2021-07-21 06:23] emily876 commented on #7587
Thanks👍🏻

[2021-07-21 09:45] deo002 commented on #7586
looking

[2021-07-21 15:21] mariobehling opened #7593 "Show "Set Public Profile Name" Pop up for users without a public profile name after login"
For users who have not set a public profile name, after login display a pop up as follows, please:

2. You have not set a "Public Profile Name" yet. A public name is displayed on user profiles and video sessions instead of a fantasy name. You can change it later on your account page. Set your public name now [Show box here for "Public Profile Name"]. Save / Cancel"

2. Also change the text on the

[2021-07-21 20:13] mariobehling opened #7594 "Improve ticket cancellation interaction and add "Canceled Orders" tab"
When the user cancels a ticket
1. Refresh the page to show the updated ticket info immediately after a user canceled a ticket.
2. Add filter tabs
a) for "Canceled Orders" for upcoming event on the "current tab" and
b) for orders of events that are in the past add a subtab as well on the "past tab". Furthermore add a tab "Completed Orders" on the past tab as well.
3. As a matter of fact, when the u

[2021-07-22 05:57] Chandu-4444 commented on #7593
Hello, can I work on this issue? I'm a beginner and few clarification of doubts would help me a lot.

[2021-07-22 11:47] #7586 closed

[2021-07-22 15:24] #7571 closed

[2021-07-22 17:58] #3353 closed

[2021-07-23 15:12] #4662 closed

[2021-07-23 15:20] mariobehling opened #7601 "Groups: Add "Followers" page for Owners/Organizers"
The group information is implemented and following is possible. Group organizers do not have the possibility to view the members yet though. Therefore please

Implement the following:
- [x] Add a tab "Followers" behind the "Events" tab on the groups edit page for organizers
- [x]  * On this "Followers" page (for organizers) show a table of followers with user image (if made public), public profile

[2021-07-23 16:04] sachinchauhan2889 opened #7602 "Group Edit Page: Events are not removing from upcoming or past events while adding events to group."
Events are not removing from upcoming or past events while adding events to group.

![32](https://user-images.githubusercontent.com/72552281/126810285-e8a5c124-2a70-421f-afdc-b606c9289368.png)

[2021-07-23 16:06] sachinchauhan2889 opened #7603 "Group: Events sometimes disappear while going back and forth in group pages."
Events sometimes disappear while going back and forth in group pages.

![31](https://user-images.githubusercontent.com/72552281/126810244-be0ca193-8869-43e2-bf75-dae2bf803215.png)

[2021-07-24 06:18] emily876 commented on #7587
Hi @MeghalBisht, I'm not able to locate the file, being new to this. Is this is the path ...
app/components/tables/utilities/search-box.js
Please guide me a bit !!

[2021-07-24 07:56] #5315 closed

[2021-07-25 18:01] Atharvshukla commented on #7587
Hello, @mariobehling @MeghalBisht   Can I work on this issue.

[2021-07-26 13:48] #6803 closed

[2021-07-26 17:45] sachinchauhan2889 commented on #7588
looking

[2021-07-26 18:45] Atharvshukla commented on #7587
Hello @mariobehling @MeghalBisht  ,
while working on this issue I have reached to this level and brought the Search field in the desired location In the search page and also able to expand it but I am stuck on one thing that is as I have tried to make changes in the navbar file i.e all other pages also now having an extra Search field . I am attaching both the images  and I will be overwhelmed if

[2021-07-26 19:46] #7568 closed

[2021-07-26 19:52] #7394 closed

[2021-07-26 20:27] #7538 closed

[2021-07-26 22:32] ranjitkshah opened #7616 "session: scheduler not working for some browsers or devices"
**Describe the bug**
scheduler not working as expected for some browsers or devices

**To Reproduce**
Steps to reproduce the behaviour:
1. create event
2. add some sessions
3. go to scheduler
4. See error

**Expected behaviour**
 should show scheduler

**Screenshots**
![Screenshot from 2021-07-27 03-58-22](https://user-images.githubusercontent.com/61561415/127067453-2700e234-db0c-4408-a9a1-22385b2

[2021-07-27 03:22] maze-runnar commented on #7587
the search field would be shifted only be on explore page, not everywhere.

[2021-07-27 11:21] mariobehling opened #7619 "Group contact button: Center it and change color to blue"
The group contact button should be blue same as on event pages and centered.

![Screenshot from 2021-07-27 13-17-05](https://user-images.githubusercontent.com/1583873/127145451-64339cf0-06e1-4d56-b4a1-f8893ba859bc.png)

[2021-07-27 15:42] maze-runnar commented on #5157
https://github.com/fossasia/open-event-frontend/pull/5653#issuecomment-727718728

https://github.com/fossasia/open-event-frontend/pull/5653#issuecomment-873000810

[2021-07-27 15:42] #5157 closed

[2021-07-28 20:49] #7520 closed

[2021-07-28 21:14] #7483 closed

[2021-07-28 21:21] mariobehling commented on #7619
The group contact button should be blue not green.

[2021-07-29 08:18] Ritwik880 opened #7624 "Getting error:"
I am trying to contribute in this repo but it is not running on my local server:

![Screenshot (343)](https://user-images.githubusercontent.com/54446880/127457236-4ce39fc4-dfca-4be2-a309-2316e34f1c54.png)

[2021-07-29 09:10] MeghalBisht commented on #7624
It is recommend to setup the project on Linux or WSL.
If you still want to work on windows then try installing `gettext` using -
 "http://gnuwin32.sourceforge.net/packages/gettext.htm"

[2021-07-29 09:11] #7624 closed

[2021-07-29 13:35] sachinchauhan2889 opened #7626 "Groups: Refactor group file structure and add permissions"
- [ ] Currently file structure of group needs refactoring.
- [ ] Restrict other user to access groups.

[2021-07-29 17:29] #7619 closed

[2021-07-29 19:08] MeghalBisht opened #7630 "Group: Add Follower count on group view, event and group cards"
Show follower count on all group related pages

[2021-07-30 11:16] #7630 closed

[2021-08-01 10:57] ayushcse042 commented on #7587
looking

[2021-08-02 16:20] #2016 closed

[2021-08-03 16:55] maze-runnar commented on #3714
We have done this at almost every place. So it is kind of complete

[2021-08-03 16:57] #3714 closed

[2021-08-04 03:14] #4099 closed

[2021-08-04 03:29] maze-runnar commented on #4192
not needed.

[2021-08-04 03:29] #4192 closed

[2021-08-04 17:00] #6476 closed

[2021-08-04 17:02] maze-runnar commented on #6476
the frontend PR was complete, it was not merged due to some reason, so the issue is technically closed. if anyone can test that PR and merge that?

[2021-08-05 03:12] #7576 closed

[2021-08-05 08:41] ranjitkshah commented on #7554
Done  #https://github.com/fossasia/open-event-server/pull/8101

[2021-08-05 08:41] #7554 closed

[2021-08-05 09:49] #4689 closed

[2021-08-05 12:37] sachinchauhan2889 opened #7650 "Admin Sales Page: TabedNavigation and UIDropDown is not showing correct info."
TabedNavigation and UIDropDown is not showing correct info.

![1](https://user-images.githubusercontent.com/72552281/128350969-91efe4b9-66db-440f-8b93-679bf569aa25.png)

[2021-08-05 13:15] #7650 closed

[2021-08-06 03:30] maze-runnar commented on #6855
I have tried many ways, but this is the bets I can get -
![Screenshot from 2021-08-06 08-55-38](https://user-images.githubusercontent.com/56407566/128451818-fd5e688c-56d8-4ba8-998b-c05f45e92c36.png)
![Screenshot from 2021-08-06 08-55-41](https://user-images.githubusercontent.com/56407566/128451827-c139f7ac-bf57-4b08-9470-8dcc9992c7a5.png)
![Screenshot from 2021-08-06 08-55-44](https://user-images.

[2021-08-06 11:13] progmatic-99 commented on #6979
@rolandturner Are you still encountering this problem??
If not, then we can close this issue, as I am not able to reproduce this on my firefox browser on arch linux.

[2021-08-06 13:01] mariobehling opened #7655 "Resolve merge conflicts with Weblate"
There are merge conflicts on weblate and this is why we cannot merge translations. Please help to fix it.

Hosted Weblate / Open Event / Open Event Frontend
Could not merge the repository.
Weblate could not merge upstream changes while updating the repository.

First, rewinding head to replay your work on top of it...
Applying: Translated using Weblate (Bengali)
Using index info to reconstruct a b

[2021-08-06 14:25] #7587 closed

[2021-08-06 14:25] #7588 closed

[2021-08-06 14:38] #7527 closed

[2021-08-06 14:38] #7602 closed

[2021-08-06 14:38] #7603 closed

[2021-08-07 05:09] #7564 closed

[2021-08-07 15:02] khareyash05 opened #7661 "add contributing.md"
I would like to create a file contributing.md and add following -
1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream

[2021-08-07 15:50] maze-runnar commented on #7661
https://github.com/fossasia/open-event-frontend/blob/development/docs/installation/local.md

What is essential everything is already here, so no need for extra.

[2021-08-07 15:50] #7661 closed

[2021-08-08 00:51] rolandturner commented on #6979
It's definitely still wrong:
![Screenshot from 2021-08-08 08-46-42](https://user-images.githubusercontent.com/646827/128617250-5a7e8592-46dd-4e20-a053-6497fd4d980d.png)

Because there are no near-future events that I'm planning to register for, this screenshot was instead taken from https://eventyay.com/my-tickets/past , but the problem is unchanged.

Note that the overlay problem only arises for

[2021-08-09 14:39] mariobehling opened #7664 "Groups edit tabs not working and design inconsistent"
* Cannot click between tabs. Please fix it.
* Each page has a different design. Therefore please:
  * standardize the width of the content area
  * delete heading "Edit Group" and move other headings to the left on pages if it is centered (ensure all headings have the same style)
* On the groups overview page rename "Edit" to "Settings"

Compare https://test.eventyay.com/groups/edit/3/events

![Sc

[2021-08-09 14:57] mariobehling opened #7665 "Show full top right menu panel items on groups edit pages"
On the groups edit pages some menu items on the top right panel are missing, e.g. https://test.eventyay.com/groups/edit/3/settings. Please add them.

![Screenshot from 2021-08-09 16-54-50](https://user-images.githubusercontent.com/1583873/128727371-bfd8643f-5d8e-4811-928e-e977c96247d1.png)

![Screenshot from 2021-08-09 16-57-39](https://user-images.githubusercontent.com/1583873/128727551-24e4d2cd-

[2021-08-09 15:01] mariobehling opened #7666 "Change "Search Events" on top search box to "Search""
The top search box should show "Search" instead of "Search Events".

![Screenshot from 2021-08-09 17-00-59](https://user-images.githubusercontent.com/1583873/128728143-4bbe9442-4ae0-44ee-92b7-96cba6cfcfec.png)

[2021-08-09 18:01] mariobehling opened #7669 "Team page of a group shows all owners/organizers of all teams"
Accessing a teams page of a group as as an system admin shows all owners and organizers of all groups.

Expected: A teams page of a group should only show the owners and organizers of that specific group.

![Screenshot from 2021-08-09 19-59-08](https://user-images.githubusercontent.com/1583873/128752259-081b63d4-e134-4181-80b1-997c5b2b35c7.png)

[2021-08-09 19:09] #7666 closed

[2021-08-09 22:01] mariobehling opened #7673 "Some areas are not translatable"
Please make the following areas translatable. If Weblate shows up 100% translated, but areas are not really translated something is wrong. Compare https://hosted.weblate.org/projects/open-event/frontend/de/

1. On wizard step 1 the offline payment options.
![Screenshot from 2021-08-09 23-56-29](https://user-images.githubusercontent.com/1583873/128779795-7e23d9a4-a66d-4a1a-b08e-daec42767c4a.png)

2

[2021-08-09 22:31] mariobehling opened #7674 "On the groups followers page for owners/organizers add a search box"
Please enable the user to search the followers table. Add a search box on the right above the table.

Ensure the search uses the backend (instead of making a frontend search only).

![Screenshot from 2021-08-10 00-30-36](https://user-images.githubusercontent.com/1583873/128782475-0b2dee41-521d-4f61-a7b5-6e5d7b904bdb.png)

[2021-08-09 22:33] mariobehling opened #7675 "On the groups followers page for group owners/organizers add a CSV download of followers"
Please implement a CSV download of followers for owners/organizers.

![Screenshot from 2021-08-10 00-30-09](https://user-images.githubusercontent.com/1583873/128782659-e85e035b-1c0c-4558-989f-934877dbf977.png)

[2021-08-09 22:46] mariobehling opened #7676 "Group Team Page: Add option to resend invitation and to delete team member and show group owner in team table list"
1. Similar to the event organizers team page for the group team page implement the following options:
* Resend invitations
* Delete a team member

2. Also ensure that the group owner is listed in the list as the owner.

![Screenshot from 2021-08-10 00-43-47](https://user-images.githubusercontent.com/1583873/128783605-ae0f705a-c00b-4251-93d1-2662417e34de.png)

Compare event team page

![Screenshot

[2021-08-09 23:00] mariobehling opened #7677 "Groups Team Page: Add sub-page for permissions"
Similarly to the event team page for the group team page add a sub page for permissions.

![Screenshot from 2021-08-10 00-59-17](https://user-images.githubusercontent.com/1583873/128784780-511a8765-86b0-42e0-8424-3165afdb2ef8.png)

[2021-08-10 08:37] #7674 closed

[2021-08-10 12:13] MeghalBisht commented on #7673
Few points mentioned are already translatable, need to add translations from weblate.

[2021-08-10 13:20] mariobehling commented on #7673
Weblate frontend shows 100% translated for German, but these areas are not translated. Not sure, how to resolve this then?

[2021-08-10 13:55] #5807 closed

[2021-08-10 14:27] ranjitkshah commented on #7677
@pc-beast please take this up

[2021-08-10 16:29] mariobehling opened #7681 "Groups: Implement reinstatement of deleted groups by admin"
Administrators have the option to reinstate deleted events in the admin section. Please implement the same for groups. Administrators of the system should have the option to reinstate deleted groups in the relevant tab on https://eventyay.com/admin/groups/deleted.

![Screenshot from 2021-08-10 18-27-17](https://user-images.githubusercontent.com/1583873/128897267-5b245361-7f99-4658-ae42-3c8a17cffb1

[2021-08-10 16:47] mariobehling opened #7682 "Change default end time of tickets sales to same as end time of event"
Currently the default end time of ticket sales is matching the beginning of an event. Expected is: Default end time of sales should match end time of an event.

[2021-08-10 21:29] rijusougata13 commented on #7676
Hi, I would like to contribute in this. I have setup my local env. Can you help me where should I look and what are files I need to look into and modify to achive this .

[2021-08-11 06:59] #7682 closed

[2021-08-11 17:23] MeghalBisht commented on #7673
![Screenshot from 2021-08-11 22-50-31](https://user-images.githubusercontent.com/61330148/129074482-8c3f3ce2-cfbd-41b6-aca2-5c651e3e7219.png)

@mariobehling It is wrongly translated in weblate, can you check?

[2021-08-11 18:41] MeghalBisht opened #7687 "Group: Upcoming events are not loading"
Having upcoming events associated with my account, yet they dont appear in group edit form.
![Screenshot from 2021-08-12 00-12-06](https://user-images.githubusercontent.com/61330148/129085142-74d18983-cabb-4a03-9fac-b19ffb7fef2e.png)
![Screenshot from 2021-08-12 00-11-59](https://user-images.githubusercontent.com/61330148/129085156-1156c2cc-c266-48f4-bf91-0b6cb28a2f0e.png)

[2021-08-11 19:06] ranjitkshah commented on #7687
@MeghalBisht  I also faced it and explored it. it is due to pagination of event api. If In first fetch of  event there is no upcoming event then it wil show no upcoming events on first time, if we scroll and load  more events then it will show upcoming events if any upcoming events is present. we have to think other logic for fetching upcomings or past events

cc: @maze-runnar @sachinchauhan2889

[2021-08-12 02:56] maze-runnar commented on #7687
@ranjitkshah if the issue is due to what you are saying, try reducing `triggerOffset` from 1000 to 300. Because I am not able reprodce.

[2021-08-12 11:11] sachinchauhan2889 opened #7690 "Schedule Page: User not able to schedule session when Microlocation is hidden"
User not able to schedule session when Microlocation is hidden

[2021-08-12 11:28] sachinchauhan2889 opened #7691 "Group View Page: User able to remove other followers"
User able to remove other followers

[2021-08-12 11:37] #7626 closed

[2021-08-12 17:44] #7665 closed

[2021-08-12 18:09] sachinchauhan2889 opened #7694 "Groups Teams page: Sometime all invitations appears."
Sometimes we see all invitations on groups teams page

[2021-08-12 18:38] sachinchauhan2889 opened #7695 "Groups Edit Pages: Redirect to index page when we visit teams page of georups."
Redirect to index page when we visit teams page of georups.

![teams](https://user-images.githubusercontent.com/72552281/129250702-8d7bbca5-4f1f-4ad3-ba7a-730f534bec66.gif)

[2021-08-13 07:48] AdityaStark7 commented on #7695
Can I work on this issue ?

[2021-08-13 09:16] #7695 closed

[2021-08-13 15:47] maze-runnar commented on #7677
@pc-beast?

[2021-08-13 15:53] pc-beast commented on #7677
Working on it. Will share progress in the next meet.

[2021-08-13 15:54] maze-runnar commented on #7677
Cool :+1:

[2021-08-14 16:11] #7573 closed

[2021-08-14 16:34] maze-runnar commented on #6460
@MeghalBisht please look into it, if we can solve this soon and close this.

[2021-08-14 16:40] MeghalBisht commented on #6460
Currently we don't have this feature. Not sure how this would be done. Not a priority at the moment as well

[2021-08-14 16:43] maze-runnar commented on #6460
cool 👍🏻

[2021-08-15 10:53] Prashant-desune opened #7701 "Improvement in footer is indeed"

[2021-08-15 11:18] #7701 closed

[2021-08-15 11:30] Prashant-desune opened #7702 "Redesign The Footer"
Please Assigned This Task

[2021-08-15 11:42] #7694 closed

[2021-08-15 13:29] asb404 commented on #7669
Hey !! Can I start working on this issue ?

[2021-08-15 17:42] #7601 closed

[2021-08-15 19:25] salmanansari14 commented on #7702
I want to contribute

[2021-08-16 03:22] mariobehling commented on #7690
We need a pop up, when the user hides the microlocation.

On the final wizard step please add the following text.

"If you hide this microlocation you will not be able to schedule sessions in it. The location will still be available for online events without scheduled sessions, e.g. break-out or discussion rooms. Cancel / Ok"

[2021-08-16 03:35] mariobehling commented on #7664
Thanks for solving this. The following is missing:
1. On followers page the table is not aligned with above areas.

![Screenshot from 2021-08-16 05-34-03](https://user-images.githubusercontent.com/1583873/129508162-802e7b07-1958-4934-91c9-fa25d6da6dba.png)

2. Clicking across tabs does not work, e.g. try from Followers or Teams page.

[2021-08-16 07:24] #5820 closed

[2021-08-16 08:40] #7690 closed

[2021-08-16 11:00] mariobehling commented on #7702
No need

[2021-08-16 11:00] #7702 closed

[2021-08-16 11:37] mariobehling commented on #5850
Issues with the outcome so far below. Please resolve them.

- Paid registration is missing payment options
- Instead of "ticket" in the UI it should show "Registration"

[2021-08-16 11:44] mariobehling commented on #7673
It does not matter if it is wrong or not. As you can see in the UI, there is no translation at all.

E.g.

1. See on Weblate.

![Screenshot from 2021-08-16 13-42-15](https://user-images.githubusercontent.com/1583873/129558440-49dc842f-3105-4e9e-b680-d9fd7ec652e6.png)

2. See on the wizard UI

![Screenshot from 2021-08-16 13-44-10](https://user-images.githubusercontent.com/1583873/129558560-de41efe

[2021-08-16 13:37] ranjitkshah commented on #7675
Done in #7679

[2021-08-16 13:37] #7675 closed

[2021-08-17 13:35] #6979 closed

[2021-08-18 10:19] rolandturner commented on #6979
Note that this problem still exists as described above. If the ticket is closed because a fix has been accepted into the code but not put onto the live site then that's fine, but if it's expected that the ticket is not closed until the live site has been updated then this ticket should be reopened.

[2021-08-18 10:26] maze-runnar commented on #6979
Hey Ronald, changes are not deployed on live site yet.

[2021-08-18 16:56] Ayush2020012016 opened #7711 "glow effect on social media icons"
can I add glow effect on social media icons.

[2021-08-19 07:06] Ayush2020012016 opened #7713 "no recieving confirmation in email"
![eventaya2](https://user-images.githubusercontent.com/78146753/130023788-29880b5c-87af-4054-a12d-e32f365dd3e7.png)
when I pressed button them this message is shown
![eventaya1](https://user-images.githubusercontent.com/78146753/130023844-249c9566-1ed0-49e7-ad0f-04f1938564d9.png)

but there no confirmation coming at email.

[2021-08-19 07:31] pc-beast commented on #7713
Check your spam

[2021-08-19 10:16] #7713 closed

[2021-08-19 10:16] MeghalBisht commented on #7711
Not needed

[2021-08-19 10:16] #7711 closed

[2021-08-19 14:43] #5850 closed

[2021-08-20 01:43] #7572 closed

[2021-08-20 03:58] RiyaGupta89 commented on #7034
@mishari  Please share ss for describing more.

[2021-08-20 04:18] pc-beast commented on #7034
It looks duplicate of #6761 which are closed in #7467 @maze-runnar this could be closed now

[2021-08-20 05:57] progmatic-99 opened #7716 "add gitpod integration"
https://gitpod.io

[2021-08-20 06:31] #7034 closed

[2021-08-21 05:55] progmatic-99 commented on #7669
yes, go ahead.

[2021-08-21 09:53] progmatic-99 commented on #7016
I am not able to reproduce this.

[2021-08-22 09:41] nishant3721 commented on #7691
@sachinchauhan2889 Can I work on it!?

[2021-08-23 16:11] pc-beast opened #7718 "Organizers can not access group settings"
**Describe the bug**

I am not able to access the group settings as an organizer account(I have accepted the invite). Only admins and owners can access the groups page. I think there is some permissions issue there.

**Expected behavior**

Organizers should be able to access and change some settings as owners can. Right now organizers are being treated as normal users.

**Solution**
Please shift t

[2021-08-24 09:05] pc-beast commented on #7718
I am working on this

[2021-08-24 13:42] mariobehling commented on #7716
Why? What for? Please explain.

[2021-08-24 14:20] progmatic-99 commented on #7716
As there are many people who are starting out in open source, and they get stuck during the project setup. If they just open the project using gitpod.io, the project will build itself. So, they can start contributing & hacking right away. Since, we get a lot of queries regarding people not being able to setup the project locally. They can use this as this does those steps automatically.

[2021-08-24 16:58] vbejdo opened #7721 "Schedule list view: duplicated, empty sessions"
**Describe the bug**
List View for an event's schedule duplicates sessions or simply puts in empty slots in the schedule, some of which eventually remove themselves as the schedule fully loads; however, upon fully loading, the page often retains empty slots and duplicated sessions. Exactly _which_ sessions this occurs to does not seem to be consistent, but this behavior is easily and consistently

[2021-08-24 17:45] mariobehling commented on #7721
Thanks for reporting. Which browser do you use? Does it happen with all browsers?

[2021-08-24 17:51] vbejdo commented on #7721
Should have mentioned this - though I don't know the specs of the other folks that have reported this to me, I've tried Chrome (92.0.4515.131, stable) and Firefox (91.0) and it seems to occur across browsers.

[2021-08-25 07:32] mariobehling opened #7724 "Anonymous registration stick at password screen"
When an anonymous user gets a ticket and registers at the same time the screen gets stuck and nothing happens.

![Screenshot from 2021-08-25 09-31-19](https://user-images.githubusercontent.com/1583873/130746537-3a34ff3d-762d-46a8-b0da-ef5141471547.png)

[2021-08-25 10:26] mariobehling commented on #7721
So, this could be related to Emberjs and lazy loading. Though, it does not seems to happen for other events e.g. https://eventyay.com/e/fa96ae2c/schedule

Loading the entire schedule is difficult as some browsers slow down a lot when there are events with a lot of sessions like yours. Also, as we provide filter and search options which slow down the server response too much and become unusable if

[2021-08-25 13:32] mariobehling opened #7727 "Enhance and Fix One click sign up (Registration)"
- [x] Change "Registration for event." to "Registration"
- [x] Do not show headings "Name" and "Type"
![Screenshot from 2021-08-25 15-30-53](https://user-images.githubusercontent.com/1583873/130799621-e08e22a4-c315-40e2-a0d4-769a5fb66dd9.png)
- [x] Follow the order in the organizers wizard (e.g. free orders on top)
![Screenshot from 2021-08-25 15-29-52](https://user-images.githubusercontent.com/15

[2021-08-25 15:42] vbejdo commented on #7721
I should note that it also seems to occur on that event as well (an event whose schedule I've never loaded up before -- perhaps confirming your suspicions?) Thanks for following up.

[2021-08-30 03:36] mariobehling opened #7735 "Users of existing events are unable to change sessions because of "session may not be null error" or Test Slides instead of Slides shows up without form field"
1. Users are unable to change sessions. Error message `/data/attributes/slides/0/link: Field may not be null`. But: Slides are not enabled even in the Wizard. Therefore there should be no requirement for slides. This is the case for older existing sessions.
2. Newer events show at points the option "Test Slides" instead of "Slides". It seems this was wrongly implemented. The previous slides soluti

[2021-08-30 05:04] progmatic-99 commented on #7735
I am working on this.

[2021-08-30 07:05] #7721 closed

[2021-08-30 07:50] mariobehling commented on #7735
When I switch on slides for this event, the slide upload field does not appear neither.

![Screenshot from 2021-08-30 09-50-05](https://user-images.githubusercontent.com/1583873/131305025-344cc204-4a29-4f02-a96b-6b640bc792df.png)

[2021-08-30 08:05] mariobehling commented on #7735
Newly created sessions do not have this problem. However, for any session where the slide upload field should be visible it is not there.

[2021-08-30 08:18] thisisbillall opened #7736 "Bug : View button shows 404 not found"
**Describe the bug**

After creating a new group ,the view group button renders 404 page not found!
**To Reproduce**
Steps to reproduce the behaviour:
1. Click on your profile ,select Groups from the dropdown.
2. Click on Create Group
3. After adding name ,bio etc click Save .
4. Click view button beside your newly created group.
5. It shows 404 page not found

**Expected behaviour**

It should di