[2019-11-23 14:22] kushthedude commented on #3650
We don't also need to load tracks and micro-location on this page. Only the speaker and their related session should be enough. I will take a look at it

[2019-11-23 14:27] kushthedude commented on #3651
8 char password is currently appreciable. We can take a look at the following afterwards where we can judge the password quality also.
However, right now we need to focus our developer resources on high priority issues. We will have to come back to question another time and right now we are not able to solve issues like that. Thank you. Closing it, therefore.

[2019-11-23 14:27] #3651 closed

[2019-11-23 15:11] iamareebjamal commented on #3650
No, even they shouldn't be loaded

[2019-11-23 17:31] maze-runnar commented on #3651
Can you please suggest me any of the  currently opened issue , i should work on . I really want to resolve them .please !

[2019-11-23 17:39] kushthedude commented on #3651
There are many issues with label bug

On Sat, 23 Nov, 2019, 23:01 Sundaram Dubey, <notifications@github.com>
wrote:

[2019-11-23 21:13] iamareebjamal commented on #3650
So, there was a bug in docker itself. docker-proxy in docker 18 stopped listening on port 8080 (server) when there were a lot of requests, even though it continued to listen on 4200 (frontend) for some reason. So even when the worker restarted and was listening inside the container, the host connection on port 8080 got refused because docker-proxy stopped listening to 8080. Upgrading to docker 19

[2019-11-24 05:08] kushthedude commented on #3398
Not Reproducible in Current version. Please feel free to reopen if you experience the same again. Thanks

[2019-11-24 05:08] #3398 closed

[2019-11-24 05:39] maze-runnar commented on #3647
@mariobehling  @kushthedude  i want to work on this .
![Screenshot from 2019-11-24 11-04-10](https://user-images.githubusercontent.com/56407566/69490221-96799100-0eaa-11ea-8180-b23b1699389c.png)
Order section is showing time correctly . Do i only need to change attendee page?
![Screenshot from 2019-11-24 11-08-05](https://user-images.githubusercontent.com/56407566/69490246-d9d3ff80-0eaa-11ea-91b4-

[2019-11-24 07:22] #3628 closed

[2019-11-24 11:54] maze-runnar opened #3656 "side menu icon button should not be there"
**Describe the bug**
side menu icon button should not be there . go to https://eventyay.com/e/a74665c3/cfs/new-speaker . in desktop/computer there is no side menu but that side-menu icon button is visible in mobile view .

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://eventyay.com/e/a74665c3/cfs/new-speaker'
2. switch to mobile view
3. side menu icon is visible in mobile (no

[2019-11-25 05:21] mariobehling opened #3657 "Admin: Change Tab Sorting of "Events""
In the admin panel the standard tab shows "All Events" as the first standard tab. Please change the tab sorting at https://eventyay.com/admin/events/live as follows:
* Live Events
* Draft
* Past
* All Events
* Deleted Events
* Import

![Screenshot from 2019-11-25 13-19-25](https://user-images.githubusercontent.com/1583873/69514483-73241400-0f86-11ea-9336-c638778bdd66.png)

[2019-11-25 05:29] AuraOfDivinity commented on #3657
I'd like to take on this issue!

[2019-11-25 05:36] mariobehling commented on #3657
Please go ahead.

[2019-11-25 06:13] mariobehling commented on #3523
I tried connecting the Stripe Account. It is possible now to open and connect the account, but when I hit "Publish" it shows "Object not found."

[2019-11-25 06:20] mariobehling opened #3658 "Show only "Promoted to Front Page" posts on Front Page"
The front page sometimes shows events that are of less relevance and have incomplete information. We already show "Featured Events" on top of the page. Featured events are controlled through the admin interface. Please implement an additional button on the admin UI "Promote to Front" page at https://eventyay.com/admin/events/live to show events in the section "Upcoming Events"

![Screenshot from 2

[2019-11-25 06:21] mariobehling commented on #2965
Closing this in favor of https://github.com/fossasia/open-event-frontend/issues/3658

[2019-11-25 06:21] #2965 closed

[2019-11-25 08:45] Sahastracookcoder1 commented on #3658
I would like to work on this issue.. please

[2019-11-25 10:46] kushthedude commented on #3658
go ahead

[2019-11-25 15:06] ShubhamChaudharyy commented on #3657
I am unable to access that page @mariobehling  sir!!

[2019-11-25 16:05] kushthedude opened #3659 "Sessions & Speakers: TimeZone issues in Speaker and Session Proposals and Session Scheduler."
TimeZone issues in Speaker and Session Proposals and Session Scheduler.

Preceded by #3582.

The FOSSASIA page shows the event starts at 4pm. The event time in the wizard is: Start 9AM. I am using a browser in Germany.

Expected: Event time should show correct local time.
![Screenshot from 2019-10-30 12-35-15](https://user-images.githubusercontent.com/1583873/67855112-1f9ee180-fb12-11e9-838d-e483c

[2019-11-25 16:06] kushthedude commented on #3377
Succeded by #3659

[2019-11-25 16:06] #3377 closed

[2019-11-25 16:06] kushthedude commented on #3659
Will be taking look upon it.

[2019-11-25 16:12] kushthedude commented on #3657
@AuraOfDivinity Since a `high priority` issue, I will be working on it, please take a look at other bugs and issues so that you may get a GIST of EventYay and its workflow. Then you are free to work upon any of the `high priority labelled` bug.
Wish to see more contributions coming from you. Thanks

[2019-11-25 16:29] prateekj117 commented on #3523
@kushthedude What's the update on this?

[2019-11-25 16:40] prateekj117 commented on #3640
@kushthedude Not producible. @mariobehling Can you share more info on how to reproduce it.

[2019-11-25 21:13] #3657 closed

[2019-11-25 21:14] iamareebjamal commented on #3640
/v1/stripe-authorization throws 404

[2019-11-25 21:16] iamareebjamal commented on #3523
/v1/stripe-authorization throws 404

[2019-11-25 21:20] kushthedude commented on #3523
@iamareebjam since he was able to connect the account successfully then how
can authorisation throw 404

On Tue, 26 Nov, 2019, 02:46 Areeb Jamal, <notifications@github.com> wrote:

[2019-11-25 21:22] iamareebjamal commented on #3202
Why mark it as bug @kushthedude ?

[2019-11-25 21:24] kushthedude commented on #3202
Oh I misunderstood the issue, actually the rating column is misbehaving too. Also, what is the use of such rating where the attendees cant rate the session?

[2019-11-25 21:25] iamareebjamal commented on #3523
![](https://files.gitter.im/fossasia/eventyay-devops/oZb7/Screenshot-from-2019-11-25-19-35-19.png)

If I had the answer to it, I would have written that here instead

[2019-11-25 21:36] iamareebjamal commented on #3202
I don't know but you marked a bunch of enahncements and features from 3 months ago as bugs

[2019-11-25 21:37] kushthedude commented on #3202
I was just exploring the old issues and also closed some of them which are
either solved or not getting experienced

On Tue, 26 Nov, 2019, 03:06 Areeb Jamal, <notifications@github.com> wrote:

[2019-11-26 05:43] iamareebjamal commented on #3523
For a very strange and bizarre reason, the stripe authorization is not made when I connect to stripe, but when I publish the event. Any reason for this @kushthedude?

And I have confirmed it to be the case. Stripe authorization is not working

[2019-11-26 05:47] kushthedude commented on #3523
Stripe is not working on the development instance. As the keys are not flowing through the torii. But as eventyay is considered, stripe should work smoothly as its on production. I will check into it again later today

[2019-11-26 05:55] kushthedude commented on #3627
Not Reproducible on local neither production. Please feel free to re-open if you experience the following.
Thanks

[2019-11-26 05:55] #3627 closed

[2019-11-26 05:56] iamareebjamal commented on #3523
How can you just assume it is working?

I just confirmed the bug locally as well

[2019-11-26 06:04] iamareebjamal commented on #3523
Happening due to this: https://github.com/fossasia/open-event-server/pull/6277

Revert the decorators and confirm everything is working. Then, I'll make a minor release today

[2019-11-26 06:37] mariobehling opened #3661 "After-Event Email with unrelated events"
The after-event email includes the following:

"Thank You for participating in our event. We hope you enjoyed it. Please check the list of more upcoming events.
Here are the upcoming events: ..."

Please change this as follows.
* Only show "Thank You for participating in our event. We hope you enjoyed it. Please check out other upcoming events around you on eventyay.com"
* Take out the list of upc

[2019-11-26 08:13] mariobehling commented on #3347
This bug still exists. Getting error message as follows on live system:

Error: TransitionAborted
    at s (/fastboot/app/assets/vendor-5c235d65fc9a43607a9ca6638b92fa57.js:3396:35)
    at y (/fastboot/app/assets/vendor-5c235d65fc9a43607a9ca6638b92fa57.js:5237:17)
    at S (/fastboot/app/assets/vendor-5c235d65fc9a43607a9ca6638b92fa57.js:5247:12)
    at x (/fastboot/app/assets/vendor-5c235d65fc9a436

[2019-11-26 08:30] mariobehling opened #3662 "Changing Ticket Name results in "unexpected error""
For a ticket that has not been used, changing the ticket name should be possible. Currently it results in an unexpected error.

![Screenshot from 2019-11-26 09-29-07](https://user-images.githubusercontent.com/1583873/69612070-51329c00-102f-11ea-8785-4066ca1d7436.png)

[2019-11-26 10:07] iamareebjamal opened #3663 "Cropper resizes images before sending to server"
Event Wizard cropper resizes the image to 300px before sending to the server.

It should send original size image instead

[2019-11-26 11:08] paras151 commented on #3663
Can you add some images to illustrate this issue.

[2019-11-26 11:13] iamareebjamal commented on #3663
No

[2019-11-26 11:21] iamareebjamal opened #3664 "Frontend sends is_ticketing_enabled=false even when ticketing is enabled"
Same for is_map_shown.

When creating an event, if the user enters ticket information, is_ticketing_enabled is turned to true by frontend. This toggling is redundant as there is no switch for the admin to turn off ticketing per event on the event wizard. So, either add a toggle on frontend and map it to `is_ticketing_enabled` which allows the admin to toggle ticketing on or off. Or remove this par

[2019-11-26 11:42] iamareebjamal commented on #3664
@kushthedude @prateekj117 Please handle this one ASAP

[2019-11-26 12:18] maze-runnar commented on #3663
@iamareebjamal  i want to work on this .

[2019-11-26 12:19] iamareebjamal commented on #3663
Please go ahead

[2019-11-26 13:18] kushthedude commented on #3664
@iamareebjamal Regarding the `ticketing_is_enabled` is decided by the admin in the settings. And for the `ticketing_is_enabled(Event Schema)` there used to be a toggle for that which was removed in this https://github.com/fossasia/open-event-frontend/issues/2482 . I think there was no corresponding server change after this issue was resolved.

[2019-11-26 13:18] kushthedude commented on #3664
So it would be better if we remove the field from schema , What you say ?

[2019-11-26 14:04] iamareebjamal commented on #3664
Yes. But removing it from schema will break frontend currently, instead it should be made read only and sent from the server depending on whether there are tickets associated with the event or not

[2019-11-26 14:04] iamareebjamal commented on #3664
Also, the toggle for show map on the page needs to be shown always to the user

[2019-11-26 15:19] mariobehling opened #3666 "Cannot create ticket with name "Business Ticket" if former ticket with name "Business Ticket" was deleted"
Cannot create ticket with name "Business Ticket" if former ticket with name "Business Ticket" was deleted. Error message appears.

[2019-11-26 19:12] kushthedude commented on #3666
@iamareebjamal Isnt it duplicate of https://github.com/fossasia/open-event-server/issues/5871 ?

[2019-11-26 19:20] iamareebjamal commented on #3666
No

[2019-11-26 22:10] prateekj117 commented on #3664
We have two server PR's active for the check to be implemented on the server. [#6545](https://github.com/fossasia/open-event-server/pull/6545) and [#6555](https://github.com/fossasia/open-event-server/pull/6555).

[2019-11-26 22:13] prateekj117 commented on #3664
I think it's better to remove the field altogether. It would just require a small change in frontend as well.

[2019-11-26 22:30] mariobehling opened #3667 "Wizard Step 4/Call for Speakers: Invalid Error Message "End date must be before start date" Speakers and Sessions form"
Even though the dates are correct, the wizard step 4 (call for speakers) gives an error message as follows:

Expected: Only show error if end date is before start date.

![Screenshot from 2019-11-26 23-28-10](https://user-images.githubusercontent.com/1583873/69678037-b4124a80-10a4-11ea-9e25-5f0d85cd9bd7.png)

[2019-11-26 22:44] prateekj117 commented on #3667
@mariobehling @iamareebjamal @kushthedude Weird. Not producible.

[2019-11-26 22:47] iamareebjamal commented on #3664
OK

[2019-11-26 22:48] prateekj117 commented on #3664
@iamareebjamal Ok, taking it up.

[2019-11-26 22:50] iamareebjamal commented on #3664
You can take up the stripe auth one and continue on order API

[2019-11-26 22:51] prateekj117 commented on #3664
Ok.

[2019-11-26 22:53] kushthedude opened #3668 "ReadME: Use consistent netlify badge for ReadME"
**Is your feature request related to a problem? Please describe.**
Current Netlify Badge is too much different from other badges we are using in readME. Please pick a appropriate badge of netlify from shields.io and replace the same

[2019-11-27 03:53] maze-runnar commented on #3667
I think this problem occurs when you put at first wrong date and time in the, input and then correct it .

[2019-11-27 04:16] mariobehling commented on #3667
@prateekj117 I get it one out of three times.

[2019-11-27 06:00] kushthedude commented on #3667
@prateekj117 @iamareebjamal @maze-runnar I tried several times but was unable to recreate it. If anyone experiences it again, please comment on the issue the exact steps to reproduce so that we may be able to debug and fix it.

Also, This is not the case when you put the date&time again correct, the message goes away.

[2019-11-27 20:02] ABHIJITBURMAN commented on #3620
if this issue is still open can i take it?

[2019-11-28 08:20] mariobehling commented on #3667
It happens always currently.

![Screenshot from 2019-11-28 09-16-57](https://user-images.githubusercontent.com/1583873/69789188-52df9980-11c0-11ea-89ae-0ed9d00ced4f.png)

As you can see here in the screenshot. The time/date is correct.

[2019-11-28 08:54] iamareebjamal commented on #3667
This may be happening in particular locale, so Indians are not experiencing and it's happening in Germany. @kushthedude @prateekj117 Please see how can you change browser locale and try from Germany

[2019-11-28 09:03] maze-runnar commented on #3667
i have reproduced the issue @kushthedude  . @iamareebjamal . It is also showing invalid date while dates are correct .This  is happening when we first clear time which is in start time input box and then left it blank and click outside of it and then if we try to correct it , it's not happening .
![Screenshot from 2019-11-28 14-27-46](https://user-images.githubusercontent.com/56407566/69792149-0e6

[2019-11-28 09:15] maze-runnar commented on #3667
here is the step to reproduce error @kushthedude
https://youtu.be/qJGVElm72Og

[2019-11-28 09:33] kushthedude commented on #3667
Did you click outside the dialogue after changing date and time ? @maze-runnar I followed the same steps as yours and Error disappeared as soon as I migrated to next field

[2019-11-28 10:44] mariobehling opened #3669 "Wizard: Speaker's Call Field empty when editing even though field was formerly filled in - also results in error message"
In Wizard step 4 I regularly experience that the "Speaker's Call" field is empty when editing an existing Call for Speakers even though field was formerly filled in. When saving "publish" the system shows an error message. Trying to close and go to the wizard step 4 again results in the showing up of the text again (at times).

![Screenshot from 2019-11-28 11-41-16](https://user-images.githubuserc

[2019-11-28 11:39] iamareebjamal commented on #3667
@maze-runnar Please see what happens if the frontend check is removed. Does the server throw an error or it is sumitted correctly

[2019-11-28 11:41] kushthedude commented on #3667
Server throws the error.

On Thu, 28 Nov, 2019, 17:09 Areeb Jamal, <notifications@github.com> wrote:

[2019-11-28 11:54] maze-runnar commented on #3667
yes , server throws an error .

[2019-11-28 12:37] iamareebjamal commented on #3667
I am talking about when the dates are correct, does the server throw error even then?

If yes, then can you please paste the payload sent to the server

[2019-11-28 15:02] prateekj117 commented on #3523
@iamareebjamal So should we close this?

[2019-11-28 16:16] iamareebjamal commented on #3523
After it is confirmed to be solved

[2019-11-28 17:27] #3523 closed

[2019-11-28 18:16] himanshu010 commented on #3620
@ABHIJITBURMAN this issue has two parts, the second one is not resolved yet and you can take it.

[2019-11-28 21:32] kushthedude commented on #3667
No

[2019-11-28 21:37] kushthedude commented on #3667
@iamareebjamal @maze-runnar
https://drive.google.com/file/d/1GrgxaxL41fOhNB5nlUNb9muymiG-_bsd/view?usp=sharing
Please see if I am missing anything ?

[2019-11-29 03:30] maze-runnar commented on #3667
@kushthedude the error stays when the input box start showing invalid date inside it .once "invalid date" appears inside the box then error doesn't go away .
I am suggesting to delete all time that are previously present in input (delete in both at first ) then set the time .

[2019-11-29 06:02] kushthedude commented on #3667
How to delete the time from the input field?

On Fri, 29 Nov, 2019, 09:00 Sundaram Dubey, <notifications@github.com>
wrote:

[2019-11-29 06:08] #3664 closed

[2019-11-29 06:09] iamareebjamal commented on #3667
Then please send a PR to remove frontend validations while it is discussed how to properly check for errors

[2019-11-29 06:24] kushthedude commented on #3667
The time field was misbehaving a lot before and all the date and time issue
was fixed in #3383 , also I still didn't able to produce this error neither
local nor eventyay . There is also no way to remove the Time or Date
counterpart from the event wizard. If there need to be any specific step I
will check it?

On Fri, 29 Nov, 2019, 11:39 Areeb Jamal, <notifications@github.com> wrote:

[2019-11-29 06:31] iamareebjamal commented on #3667
Just remove the validation for now please

[2019-11-29 07:24] #3518 closed

[2019-11-29 13:12] kushthedude commented on #3663
@iamareebjamal What if the user uploads a too heavy image ? Loading the webpage will result in a decade then .

[2019-11-29 13:26] maze-runnar commented on #3663
But the maximum image size is 10mb .

[2019-11-29 13:35] kushthedude commented on #3663
Cool

On Fri, 29 Nov, 2019, 18:57 Sundaram Dubey, <notifications@github.com>
wrote:

[2019-11-29 14:17] iamareebjamal commented on #3663
Cap the max dimensions to 3000px

[2019-11-29 15:02] maze-runnar commented on #3663
Ok

[2019-11-29 18:19] kushthedude commented on #3658
@mariobehling As I can get from issue, We need to enable `Promote to Front Page` and those events should appear before the other events but in same `Upcoming Events Section` ?

[2019-11-29 19:56] mariobehling opened #3673 "Call for Speakers "Login" should direct back to "CfS" page"
It a speaker goes to the page of a call for speakers, they are requested to login. If the speaker logs in they are redirected to the frontpage.

EXPECTED: Instead they should be redirected back to the call for speakers page.

1. The call for speakers page:
![Screenshot from 2019-11-29 20-53-09](https://user-images.githubusercontent.com/1583873/69888139-a0582580-12ea-11ea-8832-0b4200b6a4fa.png)

2.

[2019-11-29 20:46] kushthedude opened #3674 "Gender Field: Gender Field is broken"
Gender field at every place renders with a `text box` and `dropdown`. Some recent PR broke it.

<img width="877" alt="Screenshot 2019-11-30 at 2 16 42 AM" src="https://user-images.githubusercontent.com/44091822/69889535-7cf79f80-1317-11ea-9b93-3b86f4a7cfb9.png">

[2019-11-29 21:05] #3674 closed

[2019-11-29 21:10] iamareebjamal commented on #3673
Right now, there is no functionality of redirecting to the last page user was on prior to login, which is a very bad UX. Simply adding the behaviour will solve this issue

[2019-11-29 21:14] iamareebjamal commented on #3640
Duplicate of #3523

[2019-11-29 21:14] #3640 closed

[2019-11-30 08:39] #3667 closed

[2019-11-30 12:22] kushthedude commented on #2396
Duplicate of #3673

[2019-11-30 21:45] ABHIJITBURMAN commented on #3668
@kushthedude can i work on this issue?

[2019-11-30 21:46] ABHIJITBURMAN commented on #3620
@himanshu010 ok

[2019-11-30 21:47] ABHIJITBURMAN commented on #3620
@himanshu010 2nd part means loaction and date input box?

[2019-12-01 08:25] kushthedude commented on #3673
We are using `Ember-Auth` for the all login related purpose and to the same, this feature is already implemented in the library. There is something wrong in our implementation, which may require some debugging.

[2019-12-01 09:01] himanshu010 commented on #3620
yess

[2019-12-01 09:28] TeAmP0is0N commented on #3564
Below you can see the whole code required to create a map, position it, place a marker and create a popup with the office address.
[code]
I used the (Leaflet library)[https://leafletjs.com/] to handle map displaying. In the example above, in the head section, I used the hosted version of the CSS and JS files, but you can download it on your server and host locally. In the body section, you can see

[2019-12-01 09:34] kushthedude commented on #3564
Please check how to use with Ember the above code is crude html and ajax.
Also we are not using any external script in our complete web app.

On Sun, 1 Dec, 2019, 14:58 Rohit Singh Rathaur, <notifications@github.com>
wrote:

[2019-12-01 10:03] iamareebjamal commented on #3673
Duplicate of #2396

[2019-12-01 10:03] #3673 closed

[2019-12-01 10:03] iamareebjamal commented on #3673
We don't close old issues or else conversation is lost as has been in some of the previous issues

[2019-12-01 10:07] iamareebjamal commented on #2396
This should have been closed in favor of #2370 as it has most conversation regarding the bug and was opened before. But since this has the most issues marked as duplicate, letting it be the parent issue

[2019-12-01 10:12] iamareebjamal commented on #2396
@kushthedude See PR https://github.com/fossasia/open-event-frontend/pull/2377 and create a corresponding fix along the lines

[2019-12-01 10:26] kushthedude commented on #2396
I wont be able to work on this until next week, Anyone can take this up if
they find a fix for the following.

On Sun, 1 Dec, 2019, 15:42 Areeb Jamal, <notifications@github.com> wrote:

[2019-12-01 11:55] iamareebjamal opened #3677 "Change user loading method"
Follow this guide to change user loading method to promise/async approach:

https://github.com/simplabs/ember-simple-auth/blob/master/guides/managing-current-user.md

[2019-12-01 11:56] iamareebjamal commented on #3677
sessionAuthenticated called before user is loaded is a root of most bugs in in fastboot

[2019-12-01 12:16] kushthedude commented on #3668
@ABHIJITBURMAN As a PR is already filed by @mohitm15, I suggest you look into some another `Beginner Friendly Issue`.
Thanks for contributing to FOSSASIA.

[2019-12-01 13:46] TeAmP0is0N commented on #3564
@kushthedude so, we can't use any external library. ie. leaflet?

[2019-12-01 14:05] iamareebjamal commented on #3564
We can, but we don't need interactive maps, just a static map with a marker. If it can be done without an entire library, it'd be preferred.

[2019-12-01 14:34] maze-runnar commented on #3663
@iamareebjamal  please take  a look at this .

[2019-12-01 14:34] maze-runnar commented on #3663
it states that If you're scaling or rotating your image, some degradation is expected and is unavoidable.
By default CroppieJS will save your cropped image at the viewport size.
For your large 1920x1080 images, your viewport size is (probably) smaller than the original image size so Croppie is reducing the pixel density of your exported images. Less pixels == less quality.

[2019-12-01 14:37] maze-runnar commented on #3663
So should i increase the value of port-size ?

[2019-12-01 14:48] mariobehling opened #3678 "Event still live even if unpublished"
If an event is published and then unpublished back into draft mode it still stays live. Compare: https://eventyay.com/e/a315169f

![Screenshot from 2019-12-01 15-46-13](https://user-images.githubusercontent.com/1583873/69915667-f85d6c00-1451-11ea-9596-173ac14c9bd9.png)

[2019-12-01 15:08] iamareebjamal commented on #3663
No, the answer is wrong

[2019-12-01 16:06] maze-runnar commented on #3663
when increases port size image quality increased -
![Screenshot from 2019-12-01 21-29-25](https://user-images.githubusercontent.com/56407566/69916528-12af3e00-1482-11ea-9207-00605b0d32a2.png)
otherwise -
![Screenshot from 2019-12-01 21-32-14](https://user-images.githubusercontent.com/56407566/69916568-8cdfc280-1482-11ea-8f97-fb4a9369683b.png)

[2019-12-01 16:41] iamareebjamal commented on #3663
Paste the dimensions of the image sent to server

[2019-12-01 16:41] iamareebjamal commented on #3663
And no, viewport size won't be increased

[2019-12-01 17:04] maze-runnar commented on #3663
from the discussion https://github.com/Foliotek/Croppie/issues/438 i have tried following two methods but not working at-all .
And also "Improve cropping quality after scale down" https://github.com/Foliotek/Croppie/issues/94 in croppie is still open .

[code]
this is also not working and not this too -

[code]

[2019-12-01 17:16] maze-runnar commented on #3663
[code]
for above -
![Screenshot from 2019-12-01 22-45-00](https://user-images.githubusercontent.com/56407566/69917453-4d1dd880-148c-11ea-93ab-1eba009addc6.png)

[2019-12-01 17:50] maze-runnar commented on #3678
But the user won't able to get this link after unpublishing the event any-way , only creator can get .
I am  suggesting  that unpublishing the event option should be like that once the creator unpublish the event(before the end date) then for publishing it again he have to talk to admin .

[2019-12-01 18:07] kushthedude commented on #3678
@prateekj117 @iamareebjamal I am not able to reproduce, As soon as event is unpublished it immediately goes into the draft state and is taken away from public pages. Can you guys please verify ?

[2019-12-01 18:14] maze-runnar commented on #3678
@kushthedude  , this issue basically states that  after unpublishing the event should not be visible at this link https://eventyay.com/e/a315169f too .

[2019-12-01 18:26] kushthedude commented on #3678
I cant see the event at this link, gives out 404

On Sun, 1 Dec, 2019, 23:44 Sundaram Dubey, <notifications@github.com> wrote:

[2019-12-01 18:27] iamareebjamal commented on #3678
Yup, @mariobehling it's 404

[2019-12-01 18:29] iamareebjamal commented on #3663
Send a PR and we'll see

[2019-12-01 19:14] maze-runnar commented on #3678
after unpublishing only the creator of event can see that event using the link

[2019-12-01 19:21] kushthedude commented on #3678
What is the issue in that then?

On Mon, 2 Dec, 2019, 00:44 Sundaram Dubey, <notifications@github.com> wrote:

[2019-12-01 19:22] maze-runnar commented on #3678
I think nothing :smile:

[2019-12-01 19:24] #3678 closed

[2019-12-02 11:10] khansultan1 opened #3679 "Switching from one profile tab to another the filled data is getting empty."
**Describe the bug**
When you filled your data in the profile section and switch from one tab to another the filled data is getting empty

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Account'
2. Click on 'Profile tab or default is profile'
3. fill the profile details
4. switch the tab to billing info
5. click to profile again
6. see the data is getting blank

**Expected behaviour*

[2019-12-02 12:04] maze-runnar commented on #3679
i think you are not clicking on update changes button , it's working fine for me .

[2019-12-02 12:14] khansultan1 commented on #3679
yes if you click on the update button it is working but it should auto-save when I switch to the different tab. hope will give a better user experience.

[2019-12-02 15:13] ridhishjain commented on #2433
@kushthedude Can I work on this issue?

[2019-12-03 05:56] ayushiitr2901 commented on #3677
Can I work on this issue?

[2019-12-03 21:18] ridhishjain commented on #3494
@kushthedude, as there is no-one assigned to this issue. I would like to work on this.
Can you assign it to me?

[2019-12-03 21:39] kushthedude commented on #3494
Go Ahead.

[2019-12-04 05:57] ridhishjain commented on #3494
@kushthedude I am having problem creating sessions for the dummy events I have created
![Screenshot (36)](https://user-images.githubusercontent.com/45514905/70116522-fa5d4000-1688-11ea-839c-ddb7ceaee938.png)
How to submit sessions?? and make them confirm?

[2019-12-04 06:36] ridhishjain commented on #3494
@kushthedude are you talking about this bug?
![Screenshot (38)_LI](https://user-images.githubusercontent.com/45514905/70118571-57a7c000-168e-11ea-8f52-7e399277b7b2.jpg)

the sessions are of the same event and yet event name is not rendered

[2019-12-04 13:10] ridhishjain commented on #2433
@kushthedude what about review?

[2019-12-04 13:21] ridhishjain commented on #3494
@kushthedude

[2019-12-04 18:47] maze-runnar commented on #3618
@kushthedude  @mariobehling  i am working on migrating all the modals to ES6 , is it ok ?

[2019-12-04 18:50] kushthedude commented on #3618
Go one by one, its not that easy you think. There are many dependency which
dont use ES6 Syntax and that is why the complete transition was done during
out summers. There are also many depreciations and other stuff which needs
to be handled out before jumping to ES6. Also, not to talk about the
warning encountered in Travis CI. Also this migration must also ensure if
anything is not broken in weba

[2019-12-04 18:54] kushthedude commented on #3618
A rather better approach will be handling the migration while solving a bug
related to same, as you did in case of image cropper.

On Thu, 5 Dec, 2019, 00:20 Kush Trivedi, <kushthedude@gmail.com> wrote:

[2019-12-04 18:59] maze-runnar commented on #3618
Ok , i will do one by one at the time of solving bug related to that .

[2019-12-05 07:32] mariobehling opened #3683 "On mobile view menu bar name shows "Open Event" instead of "Eventyay""
The software we develop is called "Open Event". However, the name can be configured in the admin section. On the life deployment we use the name "eventyay". This name shows up on the desktop page, but on the mobile page, the name Open Event shows up.

![Screenshot_20191205_082736_com android chrome](https://user-images.githubusercontent.com/1583873/70213579-f1787700-1739-11ea-8f09-2cb6eeb7c5d8.jpg

[2019-12-05 12:54] milekag01 commented on #3683
@mariobehling can I resolve this bug?

[2019-12-05 13:00] prateekj117 commented on #3683
@milekag01 Go ahead.

[2019-12-05 13:26] kushthedude commented on #3683
Duplicate of #3620

[2019-12-05 13:26] #3683 closed

[2019-12-05 13:30] kushthedude opened #3684 "Remove Settings as a Service and load it only there where it is needed"
We already had a long conversation about why `settings` should not be globally injected, As it is fetched at every page where it is not needed too.

[2019-12-05 13:58] kushthedude commented on #2689
@iamareebjamal @prateekj117 I think it would be better to remove this custom rendered table and use `Ember Tables` instead here too . Give your inputs ?

[2019-12-05 14:05] iamareebjamal commented on #2689
Very low priority

[2019-12-05 14:07] #3499 closed

[2019-12-05 14:09] kushthedude commented on #2689
A PR is already opened for that change. What should be done now?

On Thu, 5 Dec, 2019, 19:35 Areeb Jamal, <notifications@github.com> wrote:

[2019-12-05 14:37] iamareebjamal commented on #2689
If it works, merge it

[2019-12-06 02:13] mariobehling commented on #3677
Unfortunately we don't have the resources to run people through the steps to solve an issue. We have the chat channel where you can chat with others and there are sites like Stackoverflow. Please only claim an issue if you can actually work on the issue. Thanks.

[2019-12-06 02:16] mariobehling opened #3685 "Wizard: Event Description does not take line breaks and paragraphs"
Line breaks and paragraphs are deleted if users save an event. Some events show linebreaks. It is unclear why it still works for some.

Please ensure that line breaks and paragraphs work in all description forms in wizard step 1.

![Screenshot from 2019-12-06 02-58-00](https://user-images.githubusercontent.com/1583873/70289985-cf810200-17d6-11ea-8654-99ebeceeb9b5.png)

[2019-12-06 08:15] mariobehling opened #3686 "When signing up, it is possible to order 0 tickets"
The flow is like that
1. User filled in email
2. System asked to verify email first
3. After verification, user was proceeded to the payment page, but payment didnt show up
4. User ordered 1 ticket

Result: In organizer ticket overview it shows up as Quantity 0 tickets bought.

![Screenshot from 2019-12-06 09-14-38](https://user-images.githubusercontent.com/1583873/70307194-e8a2a680-1808-11ea-9d26

[2019-12-06 08:25] mariobehling opened #3687 "Tickets Organizer Page: Ticket with same ID listed 2 times"
Either there is a ticket listed twice or two tickets have the same ID. This bug appears on the organizer ticketing page.

![Screenshot from 2019-12-06 09-22-48](https://user-images.githubusercontent.com/1583873/70307881-61eec900-180a-11ea-8115-ad2cf9620721.png)

[2019-12-06 11:35] mariobehling opened #3688 "Canceled orders show up in notifications but not on overview page"
Canceled orders can be seen in the notifications panel, but they don't show up on the actual list of canceled tickets.

![Screenshot from 2019-12-06 12-33-58](https://user-images.githubusercontent.com/1583873/70320377-d7679300-1824-11ea-8a23-245936a16798.png)

[2019-12-06 11:37] maze-runnar commented on #3685
@iamareebjamal @mariobehling i want to take look of this.

[2019-12-06 17:03] kushthedude commented on #3685
Duplicate of #3419

[2019-12-06 17:03] #3685 closed

[2019-12-06 17:06] kushthedude commented on #3687
@mariobehling This behaviour is seen in `Tickets Page` and it indicates that `Order #XYZ` has two tickets associated with it and as you can see both the tickets have different `Ticket Buyer Name` .
Also, two tickets have the same order ID hence they are listed as-is.

cc: @iamareebjamal Please verify and close the issue.

[2019-12-06 17:16] kushthedude opened #3689 "Order Dashboard: Removing Billing Info if not filled from the Order Dashboard"
**Describe the bug**

`Order Dashboard` still shows the section for `Billing Info` even if it's not required. Please amend it with the latest behaviour.

**To Reproduce**

Steps to reproduce the behaviour:

1. Create a paid order without filling billing info
2. See the order
3. See error

**Expected behaviour**

The section should be not shown.

**Screenshots**

<img width="767" alt="Screenshot 20

[2019-12-06 17:29] mariobehling opened #3690 "Ticket Ordering Confirmation Email Directs to dead link at "api.eventyay.com..""
After a user receives an email, the user receives a confirmation email comes with a broken link.

In the test the email link is http://url4008.eventyay.com/wf/click?upn=jq3Y4iMptY{somehash}
It forwards to https://api.eventyay.com/generated/tickets/orders/tickets/pdf/c9e893{somehash} with a broken link.

EXPECTED: The link in the email should direct to the same link as on the downloads page in the

[2019-12-06 17:35] mariobehling opened #3691 "Buying Ticket with Credit Card with insufficient funds yields "Unexpected Error""
When a user buys a ticket with insufficient funds on their credit card, the error message that comes up is "Unexpected Error". Instead the correct error should appear. Please implement the correct error messages of failed stripe payments.

[2019-12-06 17:38] kushthedude commented on #3691
@iamareebjamal What should be the different error cases, As for every failed payment we here on frontend shows the `Unexpected Error` rather than the actual `Error Description` from the server .

[2019-12-06 17:43] maze-runnar commented on #3689
@kushthedude i want to work on this .

[2019-12-06 17:44] iamareebjamal commented on #3691
Then show the error description from server

[2019-12-06 17:45] iamareebjamal commented on #3687
Yes, this is Order ID, not Ticket ID

[2019-12-06 17:45] #3687 closed

[2019-12-06 17:47] kushthedude commented on #3689
Go ahead

On Fri, 6 Dec, 2019, 23:13 Sundaram Dubey, <notifications@github.com> wrote:

[2019-12-06 17:49] mariobehling opened #3692 "Canceled orders with invoice links to 404 page"
If an organizer cancels a ticket the user receives an email with "Click here to view/download the invoice." and a wrong link. The entire message is:

Please contact the organizer for more info
Message from the organizer: None
Click here to view/download the invoice.
Login to manage the orders at https://eventyay.com

![Screenshot from 2019-12-06 18-44-40](https://user-images.githubusercontent.com/

[2019-12-06 18:49] codedsun commented on #3692
@iamareebjamal Please shift this to open-event-server

[2019-12-07 11:43] kushthedude commented on #3688
@iamareebjamal I just noticed a very buggy behaviour rn,
- I paid a pending order with payment due and cancelled the order from the event dashboard.
**After the cancelling, The order showed up like this**
<img width="1331" alt="Screenshot 2019-12-07 at 5 12 43 PM" src="https://user-images.githubusercontent.com/44091822/70374068-d6ae2a00-1914-11ea-9891-39f05c9f7487.png">
<img width="1362" alt="Scre

[2019-12-08 12:14] codedsun commented on #3691
How can I reproduce this issue ?

[2019-12-09 06:49] codedsun opened #3693 "Pagination is broken in Message list of Admin panel"
**Describe the bug**
The pagination is currently broken for the messages section in admin panel. The website says it's showing all the items but the API returns only 20 items and per single hit, if no filters(page[size], page[number]) are given.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Messages section in the admin panel

**Expected behavior**
It should work properly

**Screens

[2019-12-09 16:53] kushthedude commented on #3693
Please provide Screenshots while reporting the issues.

[2019-12-09 16:55] codedsun commented on #3693
@kushthedude Ok, but you can reproduce the behavior by going to that section.

[2019-12-09 17:49] kushthedude commented on #3693
I am Afk, thats why asked for a gif or image illustration.

On Mon, 9 Dec, 2019, 22:25 Suneet Srivastava, <notifications@github.com>
wrote:

[2019-12-09 17:53] codedsun commented on #3693
@kushthedude have added when you commented to do so. Thanks

[2019-12-11 05:00] cweitat opened #3695 "Unable to add order as co-organiser"
**Describe the bug**
"Oops something went wrong. Please try again" error message appears when I try to add an free order.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the event backend > Tickets
2. Select Quantity '1' and click on 'Add Order'
3. Add 1 free ticket
4. "Oops something went wrong. Please try again" appear.

Donate works.

**Expected behaviour**
Everything should work.

[2019-12-11 05:04] cweitat opened #3696 "Unable to get ticket; 409 payload error when booking"
**Describe the bug**
409 payload error message shows when booking a ticket. This can be verified by multiple users.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to event (https://eventyay.com/e/d99b1f7e)
2. Select 1 Free ticket and click order now
3. 409 payload error message appears

**Expected behaviour**
Should display the information page

**Screenshots**

![image](https://user-im

[2019-12-11 05:27] #3691 closed

[2019-12-11 05:29] iamareebjamal commented on #3696
Ticket is sold out. Proper info should be shown in frontend

[2019-12-11 05:37] iamareebjamal commented on #3695
Duplicate of #3696

[2019-12-11 05:37] #3695 closed

[2019-12-11 07:02] cweitat commented on #3696
@iamareebjamal ticket is not sold out
![image](https://user-images.githubusercontent.com/11439477/70599084-4d099f80-1c27-11ea-909d-e8e5e07eb83d.png)

[2019-12-11 07:05] cweitat commented on #3695
How is this a duplicate?

[2019-12-11 07:40] iamareebjamal commented on #3695
Both use same endpoint

[2019-12-11 07:43] iamareebjamal commented on #3696
This is the error coming from backend. I am not jumping to any conclusion. Open the network panel and see for yourself. I never said it is not a bug. So not sure why you are triggered

![Screenshot from 2019-12-11 13-12-55](https://user-images.githubusercontent.com/3874064/70601414-fb0d4d80-1c17-11ea-8c9f-480a5207ab8d.png)

So, it's a bug from server. Either way, the backend is showing tickets are

[2019-12-11 12:02] snitin315 opened #3697 "Footer copyright shows Open Event instead of eventyay"
**Describe the bug**

Footer copyright shows Open Event instead of eventyay.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://eventyay.com/
2. Scroll down to 'bottom'
4. See error

**Expected behaviour**

copyright &copy; 2019 Eventyay Should be there instead of Open event.
**Screenshots**

![Screenshot from 2019-12-11 17-26-25](https://user-images.githubusercontent.com/4664714

[2019-12-11 18:52] mariobehling commented on #3493
The 409 error seems to appear alot. What should be done?

[2019-12-14 13:46] iamareebjamal opened #3699 "Add workbox caching and cache settings for 15 minutes"
https://developers.google.com/web/tools/workbox/

Settings is fetched again and again even when it changes rarely. Cache settings for 15 minutes using workbox. Invalidate the cache on auth changes

[2019-12-14 14:01] milekag01 commented on #3686
@ mariobehling I would like to work on this issue.

[2019-12-14 14:03] codedsun commented on #3686
Go on

On Sat, Dec 14, 2019, 7:31 PM Milek Agrawal <notifications@github.com>
wrote:

[2019-12-14 16:00] kushthedude commented on #3699
@iamareebjamal Shouldn't removing setting as a service fix this ? We will load settings only where it's used ? Or if we use workbox then there is no need to remove setting as a service since the it will be fetched from the cache ?

[2019-12-14 16:03] iamareebjamal commented on #3699
Both options work. Why not do both

[2019-12-14 19:27] #3689 closed

[2019-12-15 17:33] mariobehling opened #3702 "My Sessions: Shows past sessions in unscheduled session of past event in tab "Upcoming""
My Sessions: Shows past sessions in unscheduled session of past event in tab "Upcoming"
The private link is at https://eventyay.com/my-sessions/upcoming.
Furthermore the sessions shows up 4 x times.

EXPECTED: Even though the session is unscheduled, the system should take the time of the overall event. If the event is past the unscheduled session should also show up in the "past tab".

![Screensho

[2019-12-15 17:41] mariobehling opened #3703 "My Sessions: Past sessions show up several times"
Past sessions in the My Sessions tab show up several times. Expected: They should only show up once.

Private Link: https://eventyay.com/my-sessions/past

![Screenshot from 2019-12-15 18-34-54](https://user-images.githubusercontent.com/1583873/70866482-75b4d080-1f6a-11ea-8699-1b8aea030349.png)

[2019-12-15 18:16] kushthedude commented on #3504
Duplicate of #3703

[2019-12-15 18:16] #3504 closed

[2019-12-17 01:15] kushthedude opened #3704 "Remove/Replace abandoned add-ons getting used in our repository."
Currently, There are many abandoned add-ons getting used in our app.

Some of which are causing trouble while reading the `browser logs` due to the depreciated usage of codes.

There are other alternatives easily available for such addons.
Some of the abandoned add-ons are : ember-g-map, ember-cli-geo

This need not be done immediately but will be a longterm benefit.

[2019-12-19 01:21] kushthedude commented on #3702
@mariobehling What about having a tab for `Unscheduled`, It would make more sense as showing sessions with time & date = null in upcoming and past doesn't seem nice ?

[2019-12-19 08:29] Jaideep-97 commented on #3679
I would like to work on this issue

[2019-12-19 17:42] prateekj117 commented on #3564
@TeAmP0is0N You working on this?

[2019-12-19 17:57] kushthedude commented on #3564
I dont think he is.

On Thu, 19 Dec, 2019, 23:12 Prateek Jain, <notifications@github.com> wrote:

[2019-12-20 04:37] TeAmP0is0N commented on #3564
@prateekj117 I am trying but I am not able. If you want to solve this issue, then you can.

[2019-12-20 05:09] juhp opened #3706 "Add Session: "end of sentence.\nStart of sentence" converted to <sentence.Start> link"
**Describe the bug**
When submitting a session newlines are stripped and this can result in `some.word` links getting created...

**To Reproduce**
Steps to reproduce the behaviour:
1. CFP -> Submit Proposal -> Add Session
2. Enter Short Abstract with sentences split with a newline:

[code]

3. Press Submit
4. In the browser the text is reformatted into a single paragraph sentence with a link [abst

[2019-12-20 13:58] DinDev3 opened #3707 "Display location of the event in the "Getting Here" Map"
**Problem**
The "Getting Here" map always displays the North American map, regardless of the address of the event.

**Suggested Solution**
Drop a pin and display the proper location that's given as the address of the event location in the "Getting Here" map.

**Alternative Solution**
Re-centre the map to the country in which the event is expected to take place in.

---
Displayed below in the scree

[2019-12-20 14:00] prateekj117 commented on #3707
Duplicate of #3563.

[2019-12-20 14:00] #3707 closed

[2019-12-20 14:33] kushthedude commented on #3706
Hello @juhp , Actually this is expected behaviour as some short abstract can contain multiple paragraphs which will be easy to read for the organiser. You can always strip the newline by adding the space in the text editor.
If you need any more support, please feel free to ping us.
Thank You

[2019-12-20 14:42] kushthedude opened #3708 "Reveal the Custom Widget Form"
Please see #3598 #3599

[2019-12-20 16:57] #3706 closed

[2019-12-20 17:43] Aaryan-kapur commented on #3620
Hey can i take this up!?

[2019-12-21 00:16] mariobehling opened #3710 "Tax not added or calculated"
There is an option to add tax on top or include it in the ticket price. The option is no longer working in wizard step 1.

I added the tax in the ticket price manually: https://eventyay.com/e/fb25b5fd

Details can be added in wizard step 1.
![Screenshot from 2019-12-21 01-12-18](https://user-images.githubusercontent.com/1583873/71299775-94163400-238f-11ea-8ba1-ccb31d89a809.png)

No tax is added or

[2019-12-21 02:59] kushthedude commented on #3710
@mariobehling Did you add tax through `Editing the event` after the event was created ?

[2019-12-21 03:19] kushthedude opened #3711 "Sales Dashboard: Tax & Statuses of order not changing"
**Describe the bug**

Tax & Statuses of order not changing in the `Event Sales Dashboard`

**To Reproduce**

Steps to reproduce the behaviour:

1. Make any Placed Order
2. Convert it into Completed
3. See the Sales Dashboard

**Expected behaviour**

Correct changes and updated amounts must be shown.

**Screenshots**

<img width="1080" alt="Screenshot 2019-12-21 at 8 47 14 AM" src="https://user-ima

[2019-12-21 05:15] strypey opened #3712 "Compulsory donation expected on top of FOSSASIA 2020 ticket, then returned to blank ticket page"
**Describe the bug**

I just tried to register for the FOSSASIA 2020 Summit on Eventyay.com. It says the "Community Super Early Bird" ticket is available until 26 Dec, so I selected one of "Quantity" = 1 and clicked "order now" to pay. However, the system indicated it wanted me to enter a "donation ticket" amount of at least 119 SGD before proceeding. It seemed odd that I would need to pay for bot

[2019-12-21 13:28] maze-runnar commented on #3710
![Screenshot from 2019-12-21 18-57-14](https://user-images.githubusercontent.com/56407566/71308526-c1acbd00-2423-11ea-9473-1b3233ccfb14.png)
aftr saving and publishing once , when i again come to wizard page then tax info (previosly saved) is not visible

[2019-12-21 15:33] maze-runnar commented on #3710
![Screenshot from 2019-12-21 20-54-02](https://user-images.githubusercontent.com/56407566/71309957-35ef5c80-2434-11ea-9f83-d7e0d9823c85.png)
@mariobehling @kushthedude  i think it's not calculating , it's showing  always value "0" for
`{{format-number (sub ticket.ticketPriceWithTax ticket.price)}}`

[2019-12-21 16:08] kushthedude commented on #3710
This screenshot is for a different case, Although the issue is when you enable taxing while editing it does not work.

[2019-12-21 20:24] #3708 closed

[2019-12-21 20:25] #3697 closed

[2019-12-22 00:08] iamareebjamal opened #3714 "Upgrade to octane and convert to glimmer components"
Use https://github.com/ember-cli/ember-cli-update and codemods to update to latest version of ember, changing to octane mode and new template syntax (glimmer) as well

- [x] Upgrade to Ember 3.15.2
- [ ] Convert to Glimmer Components

[2019-12-22 01:46] snitin315 commented on #3620
@himanshu010  , If you approve I would like to work on this issue.

[2019-12-22 08:13] Gaurav-Punjabi commented on #3711
Can I work on this issue?

[2019-12-22 08:45] kushthedude commented on #3711
Go ahead

[2019-12-22 08:47] kushthedude commented on #3714
That will require a lot of changes, I suggest this change after we have overcome the `Priority: high` issues. Also, We have not also completed our migration to 3.10, As there is still depreciated code style and ES5 syntax in the app. Also, not to mention the abandoned packages which are still present in app too.
Hence labelling it as `later`.

[2019-12-22 09:08] kushthedude commented on #3712
Feel free to reopen if experienced again.
Thank You

[2019-12-22 10:56] iamareebjamal commented on #3714
In history of everything, there has never been a time in the timeline of a software project where all high priority bugs were solved. Neither is this long term, nor for later. Anyone who wants to upgrade it can do it. Yes, it will take a lot of code changes, does it matter?

[2019-12-22 10:58] kushthedude commented on #3714
Atleast we must complete the migration and remove the depreciations of code
style which were introduced in ember 3.10 and ES6 .

On Sun, 22 Dec, 2019, 16:26 Areeb Jamal, <notifications@github.com> wrote:

[2019-12-22 11:05] iamareebjamal commented on #3714
Will be automatically done through codemods

[2019-12-22 11:05] codedsun commented on #3714
@iamareebjamal I am new, is it for begginers?

[2019-12-22 11:07] iamareebjamal commented on #3714
Yes

[2019-12-22 13:58] #3656 closed

[2019-12-22 13:58] #3592 closed

[2019-12-22 14:02] #3506 closed

[2019-12-22 14:03] #3620 closed

[2019-12-22 17:37] uds5501 commented on #3688
@maze-runnar or @Reetam-Nandi you guys might want to try this.

[2019-12-22 18:42] maze-runnar commented on #3688
@uds5501 i am unable to reproduce it . the cancelled order is showing correctly -
![Screenshot from 2019-12-23 00-10-56](https://user-images.githubusercontent.com/56407566/71325851-cacb8600-2518-11ea-8cba-ea961b148255.png)
Can you please check once ?

[2019-12-23 02:49] kushthedude commented on #2732
Checkin onto it

[2019-12-23 03:59] kushthedude opened #3717 "Order Summary: There is no definition for `Pending` and `Cancelled` Orders"
**Describe the bug**

Order Summary: There is no definition for `Pending` and `Cancelled` Orders

**To Reproduce**

Steps to reproduce the behaviour:

1. Create any `Pending` or `Cancelled Order`
2. See the dashboard of order

**Expected behaviour**

Have the values for `Pending` & `Cancelled` orders with proper definitions.

**Screenshots**

<img width="1362" alt="Screenshot 2019-12-07 at 5 12 50

[2019-12-23 15:28] maze-runnar commented on #3688
@uds5501 @kushthedude once the order is cancelled , Cancel button is still enabled and on click shows the message "your order is cancelled" While it should be disable once order is cancelled ?

[2019-12-23 15:29] maze-runnar commented on #3688
Is it a valid issue to work on ?

[2019-12-23 16:16] maze-runnar commented on #3717
@kushthedude i can see the definition for pending if it's same you want to say .
![Screenshot from 2019-12-23 21-45-04](https://user-images.githubusercontent.com/56407566/71368281-8bab3c80-25cd-11ea-9f51-5c3026ac7361.png)

[2019-12-24 05:55] uds5501 commented on #3688
@maze-runnar It is a valid issue but make sure you open a new issue on this and work on that

[2019-12-24 17:53] maze-runnar opened #3719 "cancel order only once"
**Describe the bug**
once the order is cancelled , Cancel button is still enabled and on click shows the message "your order is cancelled" While it should be disable once order is cancelled ?

**To Reproduce**
Steps to reproduce the behaviour:
1. place a order
2. cancel it and see it in http://localhost:4200/events/{{event_id}}/tickets/orders/cancelled
3. in this section one can again click on can

[2019-12-24 18:08] #3663 closed

[2019-12-25 04:59] kushthedude commented on #3564
@prateekj117 Are you still working on it?

[2019-12-25 05:02] kushthedude commented on #3564
@iamareebjamal For the current version I am thinking to remove the `ember-g-map` and use Open Street Map for the current version. Later we can restore google map with much lighter add-on than `ember-g
-map`as it is  a bulky, verbose wrapper that reimplements the entire Google Maps API.

[2019-12-25 05:04] kushthedude commented on #3563
Closed in favour of #3564

[2019-12-25 05:04] #3563 closed

[2019-12-25 05:04] kushthedude commented on #3707
Duplicate of #3563

[2019-12-25 11:05] iamareebjamal commented on #3564
Sure, I agree, see which is better OSM or MapBox

[2019-12-25 11:28] #3717 closed

[2019-12-25 20:22] kushthedude opened #3725 "Session Speaker Form: `Sponsorship Required` should be a checkbox field"
**Describe the bug**

`Sponsorship Required` should be a drop-down field rather than `Text Input`.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'CFS Form'
2. Click on 'Sponsorship Required`
3. See error

**Expected behaviour**

`Sponsorship Required` should be a drop-down field with option:
- Yes
- No

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/7

[2019-12-25 20:24] kushthedude commented on #3725
@iamareebjamal Does the options: `Yes or No` are suffice?

[2019-12-26 02:34] iamareebjamal commented on #3725
Should be a checkbox

[2019-12-26 03:15] kushthedude commented on #3725
Cool.

On Thu, 26 Dec, 2019, 08:04 Areeb Jamal, <notifications@github.com> wrote:

[2019-12-26 03:17] #3514 closed

[2019-12-26 17:02] iamareebjamal commented on #3564
https://miguelcobain.github.io/ember-leaflet/docs/adding-layers

Supports both OSM and MapBox. MapBox WebGL is cheaper than layers aproach, but OSM is free. So, better option is to go for leaflet first and and MapBox WebGL if it is not enough

[2019-12-26 17:58] prateekj117 commented on #3564
@kushthedude Sure. Go ahead.

[2019-12-26 19:25] kushthedude commented on #3564
Above package is quite heavy, was looking for some other alternatives.

On Thu, 26 Dec, 2019, 23:28 Prateek Jain, <notifications@github.com> wrote:

[2019-12-27 01:25] snitin315 commented on #3668
@kushthedude  the issue seems to be inactive from a long time . I will like to take up this issue.

[2019-12-27 01:32] kushthedude commented on #3725
@maze-runnar Want to try this, It might be a good issue for getting in a bit depth of the `Open-Event`

[2019-12-27 01:34] kushthedude commented on #3668
Sure, Please use a badge of shields.io and you can find the project-id in current netlify-badge 👍

[2019-12-27 04:28] maze-runnar commented on #3725
thanks @kushthedude ,  i want to try this .

[2019-12-27 12:04] maze-runnar commented on #3725
@kushthedude i am getting trouble in finding file for    **allFields.speaker**
`{{#each allFields.speaker as |field|}}`     in  app/templates/components/forms/session-speaker-form.hbs
please help me with this .

[2019-12-27 12:42] iamareebjamal commented on #3564
How did you find out it's "quite heavy"? What is its size? Leaflet is the easiest way to use OSM. And we need this issue solved ASAP. Use this and then iterate to improve the solution.

[2019-12-27 12:42] #3668 closed

[2019-12-27 12:43] #3719 closed

[2019-12-27 14:39] snitin315 commented on #3711
@Gaurav-Punjabi are you working on this issue? If not can I take up this issue?

[2019-12-27 15:10] maze-runnar commented on #3725
![Screenshot from 2019-12-27 20-38-52](https://user-images.githubusercontent.com/56407566/71521994-efdd4180-28e8-11ea-84da-f3848c6e4316.png)
after this what i should do next  regarding action ?

[2019-12-28 05:28] Shaurya1234 opened #3730 "Author name missing after proposal submission"
**Describe the bug**
Initially, I could see my name as author after submission of proposal and the proposal was also in my session list. But due to unknown reason the proposal has been removed from my session.
On some investigation i found that the author name is missing in the session.

**Expected behaviour**

![image](https://user-images.githubusercontent.com/24893975/71539326-adefe200-2960-11ea

[2019-12-28 05:46] Shaurya1234 opened #3731 "Unable to submit call for proposal Open Tech Summit Day Thailand"
**Describe the bug**
On submission of proposal an error pops up 'Oops something went wrong.' On further analysis, i found the POST Request to API https://api.eventyay.com/v1/sessions returned a 422 response.
As per HTTP, 422 Unprocessable Entity response status code indicates that the server understands the content type of the request entity, and the syntax of the request entity is correct, but it

[2019-12-28 06:11] kushthedude commented on #3731
@Shaurya1234 Thanks for reporting this.

[2019-12-28 06:16] kushthedude commented on #3730
@Shaurya1234 Can you share the `edit speaker` and `edit session`, and check if all details are filled up or not? Please hide any sensitive info before sharing.

[2019-12-28 06:18] kushthedude opened #3733 "Event Creation: Call for Speaker is Broken"
**Describe the bug**

Call for Speaker is Broken.

**To Reproduce**

Steps to reproduce the behaviour:

- Create a Event.
- Fill up CFS with custom fields.
- Try to submit and see `undefined e.error` on console.

**Expected behaviour**

Fix up the CFS before the new release with hotfix for #3731

[2019-12-28 09:19] #3731 closed

[2019-12-28 09:20] iamareebjamal commented on #3733
Is this now fixed?

[2019-12-28 09:24] kushthedude commented on #3733
Nope, It is caused because of migration of Session form to ES6 but I forgot
to migrate the Mixins before it. I will fix it by evening and we can make a
release tonight.

On Sat, 28 Dec, 2019, 14:50 Areeb Jamal, <notifications@github.com> wrote:

[2019-12-28 11:16] kushthedude opened #3735 "Codacy: Improve Code Quality and Upgrade the grade to atleast A"
Codacy is grading the Project Code Style as B , improve the code quality upto atleast A

[2019-12-28 11:34] Shaurya1234 commented on #3730
Hi @kushthedude , as you can see edit speaker option is not available. Also as you can see my name from the session speaker is missing as i have mentioned earlier. Edit session button is available(1st screenshot) and all the details are there (2nd screenshot).
![image](https://user-images.githubusercontent.com/24893975/71543002-c5948e00-2993-11ea-979d-18ae0cf56532.png)

![image](https://user-image

[2019-12-29 12:47] edenyay opened #3739 "Organizer unable to add new speakers into new sessions"
**Describe the bug**
I failed to add speaker's info into the new session I've just added for the the FOSSASIA Summit 2020, even with organizer role. Email and other info disappeared, couldn't upload photo either.
![Screen Shot 2019-12-29 at 19 37 48](https://user-images.githubusercontent.com/32028823/71557031-fbf50a80-2a72-11ea-9edc-e6b639e8b745.png)

**Expected behavior**
Be able to add new sessi

[2019-12-29 14:09] iamareebjamal commented on #3739
@kushthedude Is this duplicate of #3731 ?

[2019-12-29 14:12] #3733 closed

[2019-12-29 18:35] iamareebjamal opened #3740 "Use ember-data-storefront instead of cached-shoe"
https://embermap.github.io/ember-data-storefront/

cached-shoe is deprecated https://github.com/ember-fastboot/ember-cli-fastboot/pull/718

[2019-12-29 20:04] #3542 closed

[2019-12-30 00:21] kushthedude commented on #3739
No, Also its been quite a time I have not used the following functionality. I will look into it today.

[2019-12-30 01:50] kushthedude commented on #3740
Sub issue for #3704

[2019-12-30 02:10] kushthedude commented on #3739
@iamareebjamal Please dont make release, let me  test it more with more number of fields.

[2019-12-30 05:25] Rishi007-web opened #3744 "Add social media icon"
Add a social media icon in the side navbar or in the navbar which helps new visitors to access Github profile easily and others as well.
Now, all social media links in the footer section. So, all new visitors cannot see social media profiles.
If we will make it on the top, it helps new visitors and it also good for this project as well.

I would like to work on this issue.

[2019-12-30 05:32] kushthedude commented on #3744
Social Media Profiles should be in footer only

[2019-12-30 05:32] #3744 closed

[2019-12-30 08:19] Dishebh opened #3746 "Navbar isn't fixed at top"
**Is your feature request related to a problem? Please describe.**

To create a new event, you have to scroll all the way up to the top to do so.
**Describe the solution you'd like**

It will be more convenient for the user (to create or browse events) if the navbar remains fixed at the top.

[2019-12-30 08:23] Dishebh opened #3747 "Update the name of Allahabad"
**Describe the bug**

Change the name of Allahabad to Prayagraj
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the [website](https://eventyay.com)
3. Scroll down to the footer section.
4. See bug under the location column

**Screenshots**

![Screenshot from 2019-12-30 13-53-17](https://user-images.githubusercontent.com/43489708/71573823-c51f0300-2b0b-11ea-8397-14459ae83d0f.png)

**Des

[2019-12-30 08:25] kushthedude commented on #3747
It is based on user filled location.

[2019-12-30 08:25] #3747 closed

[2019-12-30 17:07] maze-runnar commented on #3711
@kushthedude on ordering ticket it showing expired :confused: everytime
![Screenshot from 2019-12-30 22-33-52](https://user-images.githubusercontent.com/56407566/71592060-c1639e80-2b54-11ea-9340-64c536e75185.png)

[2019-12-30 21:27] #3740 closed

[2019-12-31 03:36] kushthedude commented on #3711
@maze-runnar Can you please elaborate a little ?

[2019-12-31 04:17] maze-runnar commented on #3711
@kushthedude ordering a ticket for any event, it is directly showing expired . I think it's broken . I was trying to look at the above issue when i faced this issue .

[2019-12-31 04:52] kushthedude commented on #3711
Open the issue on server with priority and also attach the stacktrace and
error shown in network tab.

On Tue, 31 Dec, 2019, 09:47 Sundaram Dubey, <notifications@github.com>
wrote:

[2019-12-31 08:30] kushthedude commented on #3735
@maze-runnar please dont write fixes untill the PR fixes the issue.

[2019-12-31 10:17] maze-runnar opened #3751 "Nearby events in footer is not working"
Nearby events in footer is not working .

**proposed change**
remove this section from the footer for the time

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Browser [e.g. stock browser, safari]
 - Version

[2020-01-01 06:14] kushthedude commented on #3751
It is working, See on eventyay.com

[2020-01-01 07:54] #3751 closed

[2020-01-01 13:08] maze-runnar commented on #3751
@kushthedude it's not working on eventyay too https://www.youtube.com/watch?v=_e24N7OXXyU

[2020-01-01 13:34] maze-runnar commented on #3711
@kushthedude it's working fine i think ,
First i make a complete order then the dashboard looks like -
![Screenshot from 2020-01-01 18-55-33](https://user-images.githubusercontent.com/56407566/71641895-d6613e80-2cc8-11ea-8652-3747267243e4.png)
then i cancelled the order and dashboard also updates values -
![Screenshot from 2020-01-01 18-59-36](https://user-images.githubusercontent.com/56407566/716

[2020-01-01 13:35] maze-runnar commented on #3711
If you are talking about different case , please let me know

[2020-01-01 18:13] maze-runnar opened #3752 "My-session: session is showing multiple times"
**Describe the bug**
My-session: session is showing multiple times

**Expected behaviour**
session should show only once

**Screenshots**
[![multiple session](http://img.youtube.com/vi/EMXLyCehYCM/0.jpg)](http://www.youtube.com/watch?v=EMXLyCehYCM "multiple session")

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

*

[2020-01-02 04:20] #3413 closed

[2020-01-02 04:24] #3584 closed

[2020-01-02 04:42] kushthedude commented on #3751
Oh sorry, A issue is already opened for this.

[2020-01-02 07:58] maze-runnar commented on #3751
@kushthedude the issue that is opened is #2232 , I saw there a huge discussion over this . So this section should be removed for the time from footer or not ?

[2020-01-02 11:23] kushthedude commented on #3752
GIF ?

[2020-01-02 12:31] maze-runnar commented on #3752
http://www.youtube.com/watch?v=EMXLyCehYCM

[2020-01-02 13:25] kushthedude commented on #3752
Only accepted and confirmed session should be shown in `My Session`.

[2020-01-02 20:50] iamareebjamal commented on #3752
This is a server issue. Please open it there as well. API should by default only return accepted and confirmed sessions

[2020-01-03 00:15] strypey commented on #3712
@kushthedude

I tried this. I got a lot further this time. I was able to pre-order a ticket and proceed to the order processing page. I filled out the required information and clicked 'pay now'. I entered my card info in the pop-up and it displayed a green tick and disappeared. Then nothing, the order page still seemed to be waiting for me to pay. I trick looking under 'my tickets' but there's not

[2020-01-03 04:44] kushthedude commented on #3712
@strypey I don't think I would be able to answer this.
cc: @iamareebjamal @mariobehling

[2020-01-03 08:09] #3459 closed

[2020-01-03 10:59] edenyay opened #3754 "Keywords search not working (sessions & speakers tabs)"
**Describe the bug**
Under the sessions, I cannot search for keywords such as speaker name or track name. The results either not appear at all, or only a limited results appear. Under the speakers table,  I cannot search for any keywords other than speakers' names.

**Expected behaviour**
Need to have search functions work again to filter/sort out sessions according to tracks, modify sessions, spe

[2020-01-03 14:31] kushthedude opened #3756 "Public Event Page: Speaker Image in Session detailed segment is blurred and pixelated"
**Describe the bug**

Speaker Image in Session detailed segment is blurred and pixelated.

**To Reproduce**

Steps to reproduce the behaviour:

1. Confirm a Speaker and Session Proposal
2. Go on public event page and click on session
3. Click on the session and see the speaker image
4. See error

**Expected behaviour**

Image should not be pixelated.

**Screenshots**

![919953116575_status_f9713d2

[2020-01-03 20:43] mariobehling opened #3757 "Not able to update speaker photo as event organizer and admin"
Trying to update a photo of a speaker on OpenTechSummit Sri Lanka 2020 is not possible.

![Screenshot from 2020-01-04 02-10-55](https://user-images.githubusercontent.com/1583873/71748199-d1061e80-2e97-11ea-8366-5719290dc5b3.png)

[2020-01-04 08:00] kushthedude opened #3758 "Event Dashboard: Editing Speaker/Session throws error"
**Describe the bug**

Editing Speaker throws error

**To Reproduce**

Steps to reproduce the behaviour:

1. Submit a proposal through CFS
2. Edit the Speaker Details as Admin through event dashboard
3. See error

**Expected behaviour**

The process should not throw an error.

[2020-01-04 10:08] #3757 closed

[2020-01-04 10:08] #3758 closed

[2020-01-04 14:27] iamareebjamal opened #3761 "Fallback to embedded iframe map if no API key"
If MAP_DISPLAY=embed is set or GOOGLE_API_KEY is not available or incorrect, then fallback to embedded iframe map

This will be first done only on event public page as it is high priority

Related: #3564

[2020-01-04 16:19] #3761 closed

[2020-01-04 19:26] #3756 closed

[2020-01-04 21:53] dilum1995 opened #3767 "Submitted sessions/proposals are missing under eventyay my sessions"
**Describe the bug**

Some of the submitted sessions(pending state) are missing once navigated to the My Sessions --> upcoming sessions.

I submitted 3 sessions/talk proposals for FOSSASIA Summit 2020 and all three were displaying in the My Sessions --> upcoming sessions as pending sessions. After this evening it only shows one session in My Sessions. **Two of the sessions which were there previou

[2020-01-05 15:42] kushthedude commented on #3752
No I got it wrong, All sorts of sessions should be displayed under `My Sessions` whether it be Accepted, Rejected or any.

[2020-01-05 15:53] kushthedude opened #3768 "Session & Speaker: User can change his session/speaker details after CFS is closed"
**Describe the bug**

User can change his session/speaker details after CFS is closed.

**To Reproduce**

Steps to reproduce the behaviour:

1. Submit a Proposal and Confirm it.
2. Wait for CFS to get closed and then edit your proposal.
3. See error

**Expected behaviour**

User should not have the right to edit the proposal once CFS is ended.

[2020-01-05 16:15] maze-runnar commented on #3752
But they are showing multiple times. That's what the issue was about .

[2020-01-05 16:16] codedsun opened #3769 "Error in uploading user profile image"
**Describe the bug**
The image upload for user is not working on eventyay.com as well on dev branch

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to account section
2. Upload a `jpeg` image
First time the error is shown, file not supported.
Repeat the process, the error is not shown and you can click on save changes

**Expected behaviour**
The error should be shown again if I am upload

[2020-01-05 16:17] kushthedude commented on #3752
I didnt close the issue .

On Sun, 5 Jan, 2020, 21:45 Sundaram Dubey, <notifications@github.com> wrote:

[2020-01-05 16:19] kushthedude commented on #3769
Does the error also occur on updating the profile pic too? If yes, can you
please retry and share the error message?

On Sun, 5 Jan, 2020, 21:46 Suneet Srivastava, <notifications@github.com>
wrote:

[2020-01-05 16:37] maze-runnar commented on #3752
oh! so i should create  another PR for this.

[2020-01-05 16:55] maze-runnar commented on #3769
@codedsun @kushthedude please take a look at this - https://youtu.be/G2k3jGE2pew
It's working fine .

[2020-01-05 17:18] kushthedude commented on #3767
@dilum1995 Can you please check if the sessions were actually submitted?
- Go to event page->Call For Speaker-> Your Submitted Sessions will be listed over there.

[2020-01-05 18:03] codedsun commented on #3769
@kushthedude @maze-runnar In this video your jpeg image is accepted, see this

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/20026440/71783936-a93bc580-3013-11ea-95f4-e971ec49b8e2.gif)

[2020-01-05 18:21] dilum1995 commented on #3767
@kushthedude,

Yes, I checked previously and all three sessions were there.

But yesterday it was only one session displaying here --> **event page->Call For Speaker-> Your Submitted Sessions**.

Today after clearing my cache and hard reloading. It is displaying two events now but still one is missing.

<img width="1680" alt="Screen Shot 2020-01-05 at 11 48 42 PM" src="https://user-images.githubus

[2020-01-05 18:36] maze-runnar commented on #3769
@codedsun  is right , for some jpeg images it's showing error message "File type not supported".

[2020-01-05 18:37] dilum1995 commented on #3767
@kushthedude

Here's a screenshot of Event --> Call for speakers FYR

<img width="1680" alt="Screen Shot 2020-01-06 at 12 05 40 AM" src="https://user-images.githubusercontent.com/23298579/71784310-59abc880-3018-11ea-8da5-e93ff394d6d3.png">

[2020-01-05 18:40] maze-runnar commented on #3769
![Screenshot from 2020-01-06 00-09-30](https://user-images.githubusercontent.com/56407566/71784374-f4a4a280-3018-11ea-892d-3839122672f5.png)

[2020-01-05 19:58] codedsun commented on #3769
@maze-runnar Also, for that image repeat the same process to upload, the error message is also not coming up

[2020-01-05 20:21] kushthedude commented on #3769
@maze-runnar @codedsun Can you please upload the jpeg not getting accepted or send me on gitter ?

[2020-01-06 03:08] maze-runnar commented on #3769
@kushthedude i have tried for this `Jpeg` image
![rdj](https://user-images.githubusercontent.com/56407566/71792682-aff02a00-305f-11ea-8f79-fa5051ba307a.jpeg)

[2020-01-06 03:10] maze-runnar commented on #3769
yes, the error message is not coming up and image is also not uploading .

[2020-01-06 03:58] maze-runnar commented on #3768
@kushthedude i want to work on this .

[2020-01-06 13:37] iamareebjamal commented on #3768
This is not a frontend bug. Open an issue on the server

[2020-01-06 13:38] kushthedude commented on #3768
Server should restrict the editing and we can hide the options on FE after
cfs is closed.

On Mon, 6 Jan, 2020, 19:07 Areeb Jamal, <notifications@github.com> wrote:

[2020-01-06 13:39] iamareebjamal commented on #3768
Yes, that is an enahncement of the frontend. The bug still needs to solve on backend

[2020-01-06 14:51] maze-runnar commented on #3768
@kushthedude i want to work on this.

[2020-01-06 15:34] #3769 closed

[2020-01-06 16:25] maze-runnar commented on #3752
@kushthedude on removing the `infinity loader` the sessions are rendering one time. So should i remove it ?
[code]

[2020-01-06 16:27] kushthedude commented on #3752
No there is no bug in infinity model as we are using at various different
places.
There must be bug in its implementation if you are saying it fixes without
it.

On Mon, 6 Jan, 2020, 21:55 Sundaram Dubey, <notifications@github.com> wrote:

[2020-01-06 16:29] maze-runnar commented on #3752
could there be any problem in model ?

[2020-01-07 20:42] kushthedude commented on #3767
Hey @dilum1995 , I tried making multiple sessions for different events but I was not able to replicate any error of this kind.
The sessions which were visible on `Event -> CFS` were only getting shown at My Sessions.
I suggest you to please try re-submitting the session and if you encounter any error, Please follow-up here.
Thanks.

[2020-01-07 21:24] #3767 closed

[2020-01-08 05:35] mariobehling opened #3773 "After-Event Email: Several identical mails sent out, if user has several sessions/roles"
If a user has several sessions and roles, e.g. speaker and event organizer, several after-event emails are sent out. Expected: Only send one email per email address.

![Screenshot from 2020-01-08 11-02-59](https://user-images.githubusercontent.com/1583873/71952996-c8e70f80-3206-11ea-916f-f9e332d70faf.png)

[2020-01-08 08:20] snitin315 commented on #3658
@mariobehling I am talking this issue.

[2020-01-08 08:24] kushthedude commented on #3773
@iamareebjamal server issue

[2020-01-08 09:32] mariobehling opened #3774 "User cannot enter billing info"
The user tried to buy a ticket for the FOSSASIA 2020 summit and tried to get in the billing information for an invoice that they need for tax purposes.

"But I was not able to fill it out. The Country-Field selection was empty and the website didn't accept anything to write into the field, but also didn't allow me to go further without that information. So I skipped the billing information and ask

[2020-01-08 13:24] mariobehling opened #3775 "Speaker submission/Session submission - same form areas differ: Implement abstraction layer"
![Screenshot from 2020-01-08 18-42-11](https://user-images.githubusercontent.com/1583873/71980654-9f4dd880-3246-11ea-88aa-5907f50d29fe.png)

The form "add a session" has the option to expand it below and add speaker details as well. The form "add a speaker" has the option to add session details below. These exact same features are implemented differently. Code is duplicate and the forms don't beha

[2020-01-08 13:26] mariobehling opened #3776 "Organizer cannot add more than one anonymous speaker or even submit a session for own name"
If an organizer tries to create a session or speaker without an email or using his/her own email the submission form simply shows "error". It is not possible to submit a session actually.

![Screenshot from 2020-01-08 18-42-11](https://user-images.githubusercontent.com/1583873/71981510-8f36f880-3248-11ea-8893-6dac62c95f3e.png)

[2020-01-08 13:30] mariobehling opened #3777 "Organizer Edit Speakers Form: Fields Missing and Fields are randomized"
If an organizer tries to edit the speakers form, some fields are missing, e.g. the speakers profile. Also form elements are randomized and listed in a chaotic way.

![Screenshot from 2020-01-08 19-00-12](https://user-images.githubusercontent.com/1583873/71981794-1d12e380-3249-11ea-9eda-89e8e1070ac7.png)

[2020-01-08 13:35] mariobehling opened #3778 "Speaker Form: Profile and other form elements disappear when editing"
When a speaker tries to edit the speaker profile form, form elements disappear and the form is chaotically ordered. Disappearing form element is for example "speakers bio".

E.g. tried to do it in the CFS of India Delhiday. https://eventyay.com/e/423d0650/cfs

[2020-01-08 20:19] kushthedude commented on #3778
@iamareebjamal When can we introduce the indexing of fields as there are no record of order of fields in db ?

[2020-01-08 20:30] iamareebjamal commented on #3778
As I asked previously in an older issue, first it needs to be defined that what should be the order of the fields?, and then how should existing fields be treated. Everything else can only be done afterwards.

[2020-01-08 20:48] kushthedude commented on #3778
These should be the orders -
**For Session Form**
<img width="219" alt="Screenshot 2020-01-09 at 2 17 02 AM" src="https://user-images.githubusercontent.com/44091822/72014603-32f2c980-3286-11ea-9740-8d64ff65cb05.png">

**For Speaker Form**
<img width="266" alt="Screenshot 2020-01-09 at 2 17 11 AM" src="https://user-images.githubusercontent.com/44091822/72014628-3f772200-3286-11ea-9a8c-90e87a1ac452.

[2020-01-08 21:03] #3774 closed

[2020-01-08 21:04] iamareebjamal commented on #3778
OK, then why can't they be sorted on frontend if there does not need to be a dynamic order?

[2020-01-08 21:10] kushthedude commented on #3778
Yes, this can be done making a property for orders

On Thu, 9 Jan, 2020, 02:34 Areeb Jamal, <notifications@github.com> wrote:

[2020-01-08 22:53] kushthedude commented on #3778
@mariobehling Can you please check again the missing fields issue ? IMO it was solved a week ago in https://github.com/fossasia/open-event-frontend/pull/3759

[2020-01-09 08:58] kushthedude opened #3780 "Attendee Form: Make country as a dropdown"
**Describe the bug**

Currently, Country Dropdown is unavailable in Attendee Form and is a text field.

**Expected behaviour**

Make appropriate changes and convert it into the dropdown with flags.

[2020-01-09 11:10] mariobehling opened #3781 "Organizer Session Page: Filter Option disappeared"
It was possible to filter sessions, e.g. according to track. This option disappeared now.

![Screenshot from 2020-01-09 16-39-55](https://user-images.githubusercontent.com/1583873/72062949-c962d180-32fe-11ea-8f7a-18149ac1f7a4.png)

[2020-01-09 12:08] uds5501 commented on #3658
@maze-runnar I'd recommend you to try and collaborate with @snitin315 on this one.
One of you can finish off the backend implementation and the other can take care of frontend ones. (You can use the featured event Pull Requests as a reference)

[2020-01-09 12:29] kushthedude commented on #3781
Duplicate of https://github.com/fossasia/open-event-server/issues/6717

[2020-01-09 12:29] #3781 closed

[2020-01-09 14:02] maze-runnar commented on #3658
thanks @uds5501 , i would like to work on frontend part .

[2020-01-09 14:13] kushthedude commented on #3679
We have a lot of issues right now rather than working on very fine details of UX. We can definitely come back to this once we get a stable system.
Thanks.

[2020-01-09 16:15] snitin315 commented on #3780
Can you point to the corresponding file?

[2020-01-09 16:16] kushthedude commented on #3780
You will find the form in templates.

On Thu, 9 Jan, 2020, 21:45 Nitin Kumar, <notifications@github.com> wrote:

[2020-01-09 18:18] #3778 closed

[2020-01-10 13:39] SARTHAK1SINGH commented on #3780
@kushthedude i would like to work on this issue. could you please assign me this.

[2020-01-10 13:46] kushthedude commented on #3780
We dont work here with assignment, if you want to work drop in a comment.
Mentor will give you the green sign if there is no one else working on it
already or has abondoned it.

On Fri, 10 Jan, 2020, 19:09 SARTHAK1SINGH, <notifications@github.com> wrote:

[2020-01-10 14:14] SARTHAK1SINGH commented on #3780
@snitin315  Are you still working on it or i give it a try.

[2020-01-10 14:31] snitin315 commented on #3780
You can work on this issue

[2020-01-10 16:54] maze-runnar commented on #3752
@kushthedude i am not getting this clearly , is it a server side issue . Because model is rendering sessions multiple times when used in `infinityModel=model` .
Can you please suggest me what to do :pray:

[2020-01-10 16:58] kushthedude commented on #3752
I didn't get time to investigate. The issue may or may not be due to the
infinityModel Lacking or some error in our implementation.
Can you look a further into it , as infinityModal has been serving quite
well in My Tickets,explore and index route.

On Fri, 10 Jan, 2020, 22:24 Sundaram Dubey, <notifications@github.com>
wrote:

[2020-01-10 17:01] maze-runnar commented on #3752
Yes , isee that infinityModal has been serving quite well in My Tickets that's why i have a doubt there could be a problem in model , perhaps.

[2020-01-10 17:58] maze-runnar commented on #3752
@kushthedude i tried that there could be a problem in session card so i remove that too but the actual problem is with model , it is returning every session twice .
![Screenshot from 2020-01-10 23-09-35](https://user-images.githubusercontent.com/56407566/72174881-bc2e0b80-3400-11ea-99aa-c36a75f7d613.png)
 and yes `infinity loader` is working fine.

[2020-01-10 17:59] maze-runnar commented on #3752
@uds5501 can you please help here .

[2020-01-10 18:12] maze-runnar commented on #3752
@kushthedude @uds5501 for the time can i use this
https://stackoverflow.com/questions/23731119/iterate-over-json-object-duplicates-in-handlebars

[2020-01-10 18:33] maze-runnar commented on #3752
one more question , why to show unscheduled sessions in upcoming sessions or mysessions , can i remove them from that section , or arrage them on the basis of there event endTime ?

[2020-01-10 19:14] maze-runnar commented on #3702
@kushthedude while working on my-session showing multiple times issue , i solved this . Can i open a PR for it ,
Implementation is as @mariobehling has said.when session is unscheduled, the system should take the time of the overall event. If event is past , session is also past.

[2020-01-10 19:23] kushthedude commented on #3702
Sure

On Sat, 11 Jan, 2020, 00:44 Sundaram Dubey, <notifications@github.com>
wrote:

[2020-01-10 19:29] kushthedude commented on #3702
Remember dont use an conditional in template, query should not return those
sessions .

On Sat, 11 Jan, 2020, 00:53 Kush Trivedi, <kushthedude@gmail.com> wrote:

[2020-01-10 19:29] maze-runnar commented on #3702
ok, i will keep that in mind .

[2020-01-10 19:30] maze-runnar commented on #3702
actually making changes in `open-event-frontend/app/routes/my-sessions/list.js`  .

[2020-01-10 20:20] kushthedude commented on #3730
@Shaurya1234 Please try once again, I hope the following issue has been solved with recent bug fixtures related to CFS.
Please feel free to ping us if by any chance you face it again

[2020-01-10 20:20] #3730 closed

[2020-01-10 21:07] Bhanu-mbvg commented on #3775
Hey, can I work on this issue?

[2020-01-11 00:01] kushthedude commented on #3780
@snitin315 @SARTHAK1SINGH The actual file to be changed is here
https://github.com/fossasia/open-event-frontend/blob/development/app/templates/components/forms/orders/order-form.hbs

[2020-01-11 00:04] kushthedude opened #3787 "Error Message: Unverified User Message should be above the segment in `account route`"
**Describe the bug**

Unverified User Message should be above the segment in `account route`.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to '/account'
2. See error

#### Screenshots

Current Behaviour :
<img width="1368" alt="Screenshot 2020-01-11 at 5 29 50 AM" src="https://user-images.githubusercontent.com/44091822/72194506-d9c89880-3433-11ea-9703-969cdf09e6eb.png">

Expected (I

[2020-01-11 02:59] mariobehling opened #3788 "When Organizer adds New Speaker, Sessions are Missing from Option "Choose from an existing session""
When an organizer adds new speaker, sessions are missing from the option "Choose from an existing session". Seems like the limit is the display of 20 sessions.

![Screenshot from 2020-01-11 08-26-43](https://user-images.githubusercontent.com/1583873/72197886-6b440480-344c-11ea-8756-591b84d19c07.png)

[2020-01-11 03:15] mariobehling opened #3789 "Editing a Speaker as an Organizer results in disappearing Linkedin link"
The Linkedin link disappears and has to be re-entered if a user or organizer edits a speaker.

![Screenshot from 2020-01-11 08-44-51](https://user-images.githubusercontent.com/1583873/72198076-aba48200-344e-11ea-8565-a4d49463f21b.png)

[2020-01-11 03:19] mariobehling opened #3790 "If two speakers are assigned to a session and one speaker is unassigned, the session does not appear anymore and the remaining speaker is deleted from the event"
If two speakers are assigned to a session and one speaker is unassigned, the session does not appear anymore and the remaining speaker is deleted from the event. The session still shows up in the speaker overview, but the session is no longer present in the session overview.

![Screenshot from 2020-01-11 08-46-54](https://user-images.githubusercontent.com/1583873/72198160-4ac97980-344f-11ea-81d2-a

[2020-01-11 14:15] edenyay commented on #3739
problem re-exists since yesterday: organizers can add new sessions but cannot speakers details.

[2020-01-12 02:53] edenyay opened #3794 "Automatic scaling feature for speakers photos"
**Is your feature request related to a problem? Please describe.**
When speakers upload their photos in the system, the photos are not automatically scaled to a define size e.g 300 x 300px. When speakers are accepted, their photos appear in different size.

**Describe the solution you'd like**
All uploaded photos scaled to a default size no matter what is the original size of the photo.

![Screen

[2020-01-12 09:50] hpdang opened #3795 "Ranking list of talks by rating"
Presently the list of talks are not ranked based on the internal rating. https://eventyay.com/e/a74665c3/sessions/s/all

Having highest quality talks on the top will attract more audience.

[2020-01-12 10:11] hpdang opened #3796 "Attendee Form: capture age group"
The current Attendee Form doesn't capture the age group, please add an additional required field in the form

Question: Select your age group
Answers: Dropdown (required)
- 19 or less
- 20 to 29
- 30 to 39
- 40 to 49
- 50 or above

[2020-01-12 11:18] maze-runnar commented on #3794
@edenyay i  want to work on this .

[2020-01-12 11:20] snitin315 commented on #3796
I will work on this issue.

[2020-01-12 11:22] maze-runnar commented on #3794
@kushthedude @edenyay want to work on this .

[2020-01-12 11:27] maze-runnar commented on #3794
@edenyay the image you are talking about is looking fine on https://eventyay.com/e/a74665c3/speakers . If you are talking of any other url , please specify ?
![Screenshot from 2020-01-12 16-55-15](https://user-images.githubusercontent.com/56407566/72218066-93228d80-355c-11ea-88d9-c6a5ef7b0994.png)

[2020-01-12 12:43] maze-runnar commented on #3794
@edenyay is it ok to use custom-css a little, all its need ?

[2020-01-12 13:19] kushthedude commented on #3794
Find the bug causing it rather than using css to change px

[2020-01-12 14:24] snitin315 commented on #3780
@kushthedude I encountered something strange which I wasn't able to figure out while solving the issue ,

## Case 1:
 When I added the `country dropdown` inside the `gender if block` the country field was broken. following are some respective screenshots -
**Code**
![Screenshot from 2020-01-12 19-23-37](https://user-images.githubusercontent.com/46647141/72219899-21a10a00-3571-11ea-9230-e0afd39d791

[2020-01-12 14:44] kushthedude commented on #3780
Check how the country field dropdown is implemented in Speaker-Session Form. You will get a GIST of what you need to do here.

Makes no sense, None of them is Long Text field.

Again makes no sense reason above.

Is country == gender ?

[2020-01-12 15:03] maze-runnar commented on #3794
@kushthedude  , i have checked from the semantic-ui git repo and found definition for `ui medium image` class . it is -
[code]

[2020-01-12 15:04] maze-runnar commented on #3794
if you want to see `ui medium image ` definition , you can find here :https://github.com/Semantic-Org/Semantic-UI/blob/master/src/definitions/elements/image.less

[2020-01-12 15:05] maze-runnar commented on #3794
[code]

[2020-01-13 03:53] kushthedude commented on #3658
@maze-runnar Any progress on this issue?

[2020-01-13 04:07] maze-runnar commented on #3658
@kushthedude i was  pfeety much involved involved in 'my session rendering multiple time' issue . if you please take a look at their it would be great . and i will satrt work on it too. Please give me some time .

[2020-01-13 04:55] maze-runnar commented on #3794
@kushthedude please take a look here too .

[2020-01-13 11:03] abhiandthetruth opened #3797 "Required field quantity of tickets not checked in the create event page if more than one ticket category is involved"
**Describe the bug**
During event creation if you have more than one category of tickets (eg. 'economy' and 'reserved') of any type(free or paid). Only the quantity of the first ticket is validated others are not.

**To Reproduce**
Steps to reproduce the behavior:
1. Login and go to the create event page.
2. Fill all the required details except ticket details.
2. Add a type(paid or free) of ticket

[2020-01-13 14:14] kushthedude commented on #3797
@iamareebjamal Same is the case with **Ticket Price Fields**.
@codedsun Can you please open a server issue to enforce the checks on the following quantities?

@abhiandthetruth Thank you for reporting the issue!

[2020-01-13 15:38] maze-runnar opened #3799 "for gender and country field validation is not working in speaker form"
**Describe the bug**
for gender field validation is not working in speaker form
**Additional context**

I am working on this.

[2020-01-13 16:48] kushthedude commented on #3797
Same is the case with Ticket Price Field

[2020-01-13 17:07] kushthedude opened #3800 "Speaker Model: Instagram field is present in custom form but not in speaker model"
Add Instagram field to the speaker as it is present in form mixin.
[code]

[2020-01-13 18:37] #3788 closed

[2020-01-13 20:32] iamareebjamal commented on #3794
Problem is with CSS, but try to use predefined CSS only

[2020-01-14 08:20] #3800 closed

[2020-01-14 09:29] abhiandthetruth commented on #3797
I have identified the problem. The problem is with the semantic ui. The identifier mentioned in the validation rule is limited to one element. Whenever a ticket is added the name of the input is the same 'ticket_quantity' for all tickets. When the ui checks for validation it stops at the first match of the identifier and validates it. [See here](https://github.com/Semantic-Org/Semantic-UI/issues/2

[2020-01-14 14:12] maze-runnar commented on #3752
@iamareebjamal it's a server side issue i think. That is returning every session twice. Please take a look here.

[2020-01-14 15:36] iamareebjamal commented on #3752
Paste the API link which is returning session twice

[2020-01-14 17:10] maze-runnar commented on #3752
http://open-event-api.herokuapp.com//v1/events/{event_identifier}/sessions{?sort,filter}
i think this, as list all events under the user and then list all sessions under that events.

[2020-01-15 00:21] snitin315 opened #3806 "bug: gender field validation not working in attendee form."
**Describe the bug**

`gender` field validation not working in `attendee form`.
**To Reproduce**
Steps to reproduce the behaviour:
1. Create an attendee form with `gender` field as `required`
2. buy ticket for same with empty gender field
3. See error

**Screenshots**

![Screenshot from 2020-01-15 05-43-42](https://user-images.githubusercontent.com/46647141/72394053-d64a4f80-375a-11ea-919d-aef52ae

[2020-01-15 05:43] #3799 closed

[2020-01-15 05:58] maze-runnar commented on #3780
@kushthedude @snitin315 i think the gender field implementation is wrong in the attendee form, i have worked recently with speaker form so i figure out some differences:
- `{{input type="hidden" id=(if field.isRequired (concat 'speaker_' field.fieldIdentifier '_required') (concat 'speaker_' field.fieldIdentifier)) value=data.speaker.gender}}` this line is missing in attendee form for both gender a

[2020-01-15 06:01] kushthedude commented on #3780
Country is rendering single time only in attendee?
Regarding the point of validation you mentioned, yes that's correct it should be done correctly as you did recently

[2020-01-15 06:07] maze-runnar commented on #3780
@kushthedude in my opinion ,as there is not any `{{#if (eq field.type 'select')}} {{/if}} block`  and as country field was previosly rendering as text , by adding drop-down we don't remove the existing text-field rendering for country. We are just adding a new drop-down so it is rendering both, drop-down and text field.

[2020-01-15 06:08] kushthedude commented on #3780
Once you make country a dropdown, it wont be regarded as a text field. Hence no issue of double rendering

[2020-01-15 07:15] maze-runnar commented on #3780
@kushthedude  on making country a required field it's not even rendering.
![Screenshot from 2020-01-15 12-44-33](https://user-images.githubusercontent.com/56407566/72413034-df581280-3794-11ea-8f89-17ca3c6cbca6.png)

[2020-01-15 07:19] maze-runnar commented on #3780
and Also in order-form.js there is no field for gender as for country:
[code]

[2020-01-15 10:00] maze-runnar commented on #3780
made everything workable -
![Screenshot from 2020-01-15 15-25-55](https://user-images.githubusercontent.com/56407566/72424061-61ebcc80-37ab-11ea-9e69-ff7c08b7c09d.png)
but i don't know why fields value is not there is attendees info section while i made only country section as like gender , but gender value was not showing there, even before i made changes:
![Screenshot from 2020-01-15 15-14-28](h

[2020-01-15 10:14] maze-runnar commented on #3780
@snitin315 @kushthedude can i create a PR for this, i will leave the vallidation part if @snitin315 will say as he has opened a seperate issue for that, @snitin315 please confirm.

[2020-01-15 10:16] abhiandthetruth commented on #3795
i am working on this issue

[2020-01-15 10:20] snitin315 commented on #3780
@maze-runner you can make the PR with validation as well.

[2020-01-15 10:21] maze-runnar commented on #3780
thanks @snitin315

[2020-01-16 03:42] kushthedude commented on #3752
The issue is due to the infinityModel. Reverting it until fixed.

[2020-01-16 06:57] maze-runnar commented on #3789
@kushthedude i want to work on this .

[2020-01-16 06:59] kushthedude commented on #3789
Did you reproduce on local?

[2020-01-16 07:01] maze-runnar commented on #3789
yes, it's an valid issue , but more than that i have a doubt, it's not saving the linkedin url , not only editing but when registering new-speaker.
![Screenshot from 2020-01-16 12-30-10](https://user-images.githubusercontent.com/56407566/72501118-0a596980-385c-11ea-9bb7-8b092fdca997.png)
Entered all four (github, facebook, twitter ,linkedin ) but showing only 3 .

[2020-01-16 09:21] #3806 closed

[2020-01-16 09:21] #3406 closed

[2020-01-16 09:21] #3780 closed

[2020-01-16 09:32] snitin315 opened #3812 "bug: css overflow of ticket table on small screen devices"
**Describe the bug**

If  `Ticket type text` is long then there is overflow of content outside the table.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to [https://eventyay.com/e/fb25b5fd](https://eventyay.com/e/fb25b5fd)
2. Scroll down to order ticket table.
2. Inspect responsiveness
4. See error

**Expected behaviour**
content must not overflow.

**Screenshots**
![Screenshot from 202

[2020-01-16 10:59] iamareebjamal commented on #3794
Center Crop it - https://stackoverflow.com/questions/11552380/how-to-automatically-crop-and-center-an-image

[2020-01-16 11:00] #3787 closed

[2020-01-16 11:02] kushthedude commented on #3794
What about the cropper then?

On Thu, 16 Jan, 2020, 16:29 Areeb Jamal, <notifications@github.com> wrote:

[2020-01-16 11:03] kushthedude commented on #3794
Or we use center crop for now, as release is also due with fixes for session form @iamareebjamal

[2020-01-16 11:04] iamareebjamal commented on #3794
You have to do both. Change in cropper won't fix old images

[2020-01-16 11:05] kushthedude commented on #3794
Actually we don't have a cropper for now in session speaker form!

On Thu, 16 Jan, 2020, 16:34 Areeb Jamal, <notifications@github.com> wrote:

[2020-01-16 11:06] iamareebjamal commented on #3794
You have to add that as well. Both have to be done

[2020-01-17 18:41] #3702 closed

[2020-01-17 19:38] codedsun opened #3815 "Promotional Code empty still calls server"
**Describe the bug**
The Apply promo code section while ordering tickets for an event hits the API even when the promocode text field is empty.

**To Reproduce**
1. Open the page for ordering ticket
2. Click on apply promocode
3. Click on tick without entering any value -Hits the API

**Expected behaviour**
Shouldn't hit api and should be handled client side.

**Screenshots**

![image](https://use

[2020-01-18 07:44] #3789 closed

[2020-01-18 07:46] #3796 closed

[2020-01-18 08:04] snitin315 opened #3817 "unable to order ticket"
**Describe the bug**

 Unable to order ticket for any event.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Any event
2. Click on 'Order Now'
3. See error

**Screenshots**
I Found theese two errors

![Screenshot from 2020-01-18 13-26-14](https://user-images.githubusercontent.com/46647141/72660661-9a331b00-39f6-11ea-8108-c677bf23d263.png)

![Screenshot from 2020-01-18 13-26-39](https:

[2020-01-18 08:22] maze-runnar commented on #3815
@codesun , i want to work on this.

[2020-01-18 08:43] maze-runnar commented on #3815
@codedsun so it should validate from client side when promotion code field is empty?

[2020-01-18 08:55] maze-runnar commented on #3817
Not a valid issue , i am able to order tickets ,
![Screenshot from 2020-01-18 14-24-51](https://user-images.githubusercontent.com/56407566/72661311-53e1ba00-39fe-11ea-9d21-04b6df5e99e1.png)

[2020-01-18 08:57] snitin315 commented on #3817
@maze-runner Thanks for confirming.

[2020-01-18 08:58] #3817 closed

[2020-01-18 09:13] maze-runnar commented on #3815
@codedsun , what about this solution -
make the submit promotional code button dissappear when there is not any promotionalCode,and i made frontend validation working too -
![Screenshot from 2020-01-18 14-42-45](https://user-images.githubusercontent.com/56407566/72661501-d10e2e80-3a00-11ea-9d9e-de38482245c2.png)

![Screenshot from 2020-01-18 14-38-57](https://user-images.githubusercontent.com/5640

[2020-01-18 09:14] kushthedude commented on #3658
@maze-runnar @snitin315 I am taking the issue, if you guys have not done much in here .

[2020-01-18 09:17] snitin315 commented on #3658
@kushthedude sure 👍

[2020-01-18 09:39] codedsun commented on #3815
See how it's working for other input fields. This also looks good to me.

[2020-01-18 09:42] maze-runnar commented on #3815
@codedsun can you please make me clear , what you mean by other input fields here?

[2020-01-18 09:43] #2396 closed

[2020-01-18 09:43] #3677 closed

[2020-01-18 09:47] codedsun commented on #3815
@maze-runnar - I meant that refer to the other input fields used in the project for taking reference. Rest it also looks good to me.

[2020-01-18 10:30] maze-runnar commented on #3794
@iamareebjamal @kushthedude i have implemented the cropper for  speaker form, it is working amazing :smile: and cropping the images to 300 x 300 px here is the full flow how it works -  https://youtu.be/JpGALKQ0O0w

[2020-01-18 10:33] kushthedude commented on #3794
Nope it is center cropping what if speaker wants to select some other side
than centwr

On Sat, 18 Jan, 2020, 16:00 Sundaram Dubey, <notifications@github.com>
wrote:

[2020-01-18 10:34] maze-runnar commented on #3794
no, it's not only center cropping, selected image is like that , it is same as wizard cropper.

[2020-01-18 10:35] kushthedude commented on #3794
Other example?

On Sat, 18 Jan, 2020, 16:04 Sundaram Dubey, <notifications@github.com>
wrote:

[2020-01-18 10:35] maze-runnar commented on #3794
![Screenshot from 2020-01-18 16-05-18](https://user-images.githubusercontent.com/56407566/72662369-5e0ab500-3a0c-11ea-9734-40f4237a3e0f.png)
![Screenshot from 2020-01-18 16-05-25](https://user-images.githubusercontent.com/56407566/72662370-5ea34b80-3a0c-11ea-8c3b-66bb4599bd0b.png)

[2020-01-18 10:38] maze-runnar commented on #3794
@kushthedude is it ok?

[2020-01-18 10:43] kushthedude commented on #3794
Video with cropper moving to all corners in four direction

On Sat, 18 Jan, 2020, 16:08 Sundaram Dubey, <notifications@github.com>
wrote:

[2020-01-18 10:46] maze-runnar commented on #3794
https://youtu.be/dwNEKSJfba8

[2020-01-18 10:47] kushthedude commented on #3794
Working nice, make the PR

On Sat, 18 Jan, 2020, 16:16 Sundaram Dubey, <notifications@github.com>
wrote:

[2020-01-18 10:47] maze-runnar commented on #3794
thanks :pray:

[2020-01-18 15:09] abhiandthetruth opened #3821 "Forward, previous button loaders don't appear quick enough in the edit event wizard"
**Describe the bug**

In the edit event wizard after the forward button is clicked the loader takes quite a while to appear. This may lead user to click the button multiple times and thus the user receives the confirmation message multiple times

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event and go to the Attendee form
2. Fill it and click forward.

[2020-01-18 15:27] kushthedude commented on #3821
That's the loading time, What can be done in this situation ?

[2020-01-18 15:44] abhiandthetruth commented on #3821
I don't know sir but this sure creates a lot of confusion for the users. I will like to find why does the loader take so much time to load(when it's sole purpose is to indicate loading) in the attendees form while it works fine in the sponsors form.

[2020-01-18 15:50] kushthedude commented on #3821
It takes more time in session/speaker form too, that is because for these
forms it has to query more data like each field associated with its
required and mandatory fields.

On Sat, 18 Jan, 2020, 21:14 Abhishek Singh, <notifications@github.com>
wrote:

[2020-01-18 16:13] abhiandthetruth commented on #3821
In my opinion there should be an indication to the user if it happens like to wait or something because he will end up hitting the button twice in most cases. Shall I work to do something or if the behaviour is  acceptable should I close th issue?

[2020-01-18 16:16] kushthedude commented on #3821
How will he hit the button twice, when we have a loader getting appeared.
The issue would have been valid when there was nothing going on while
loading=true

On Sat, 18 Jan, 2020, 21:43 Abhishek Singh, <notifications@github.com>
wrote:

[2020-01-18 16:16] #3821 closed

[2020-01-18 16:21] kushthedude opened #3823 "Restore all unit tests"
- All unit tests were removed as they were resulting into Temporary Timeout for CI.
- Restore the unit tests if it works

[2020-01-18 18:02] abhiandthetruth commented on #3821
Sorry but the loader wasn't appearing( at least in my system) that's why i
created the issue. Looks like it was system specific then. Thanks for your
time.

On Sat, Jan 18, 2020, 9:46 PM Kush Trivedi <notifications@github.com> wrote:

[2020-01-19 02:58] snitin315 commented on #2544
I am workin on this issue.

[2020-01-19 13:17] iamareebjamal commented on #3823
Mention the PR in which they were removed

[2020-01-19 13:41] kushthedude commented on #3823
@iamareebjamal #1127

On Sun, 19 Jan, 2020, 18:47 Areeb Jamal, <notifications@github.com> wrote:

[2020-01-19 14:39] #3823 closed

[2020-01-19 14:45] snitin315 commented on #3353
@iamareebjamal the `API Docs` link is broken .
![Screenshot from 2020-01-19 20-14-08](https://user-images.githubusercontent.com/46647141/72682911-693b0f00-3af8-11ea-8cc5-ce45221a93d1.png)

[2020-01-19 14:46] iamareebjamal commented on #3353
https://api.eventyay.com

[2020-01-19 18:37] maze-runnar commented on #3711
@kushthedude , please clear my doubts here ! So i would know it is valid to work or not. As i am not able to reproduce. https://github.com/fossasia/open-event-frontend/issues/3711#issuecomment-570053653

[2020-01-20 16:46] snitin315 opened #3826 "bug: Some validations are not working in wizard Steps."
**Describe the bug**
Country Field validation is not working in Wizard `basic details step`.
Microlocations field validation not working in `session Speakers form`

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an event.
2. Add a paid ticket.
3.Levae the country option blank.
4. Publish the event.
5. See Error.

**Expected behaviour**
The validation should work properly.

**Addition

[2020-01-20 16:48] snitin315 commented on #3826
Its Also not working while addng Tax Information. I will fix that too.
![Screenshot from 2020-01-20 22-16-47](https://user-images.githubusercontent.com/46647141/72744001-c0adad80-3bd2-11ea-924d-c83636b1a1f0.png)

[2020-01-20 16:53] snitin315 commented on #3826
Also validation not working for Microlocation in Session Speaker Form. I will fix this as well.
![Screenshot from 2020-01-20 22-20-56](https://user-images.githubusercontent.com/46647141/72744374-7973ec80-3bd3-11ea-9d03-8d53e9336241.png)

[2020-01-21 07:03] mariobehling opened #3827 "Access Code: Ticket does not show up"
The access code function is to enable ticket buyers to see hidden ticket (which is configured in the tickets wizard step 1). Currently adding an access code does not show the hidden ticket, when using the access code link.

![Screenshot from 2020-01-21 07-57-37](https://user-images.githubusercontent.com/1583873/72782595-6dfce180-3c24-11ea-9a93-20db8b976548.png)

[2020-01-21 09:54] kushthedude opened #3828 "Update gitignore to ignore the OSX trash"
- It is a pain to remove OS-X Trash everytime I create a commit. Or explore around the directories

[2020-01-21 10:01] #3828 closed

[2020-01-21 10:11] maze-runnar commented on #3827
@mariobehling @kushthedude working on it.

[2020-01-21 12:14] maze-runnar commented on #3827
I think ,  this is not a valid issue . It is working correctly as it is supposed to.
https://youtu.be/JU4IkxlTDAI
@mariobehling @kushthedude @snitin315 please varify?

[2020-01-21 14:58] snitin315 commented on #3826
Min Order Max order validation is also not Working in Step 1. I Will fix that too. User is able to set Min order greater than max order.
![Screenshot from 2020-01-21 20-25-55](https://user-images.githubusercontent.com/46647141/72815305-78eb5c80-3c8c-11ea-8194-341ed2021596.png)

[2020-01-21 15:02] snitin315 commented on #3827
@maze-runnar  It is a valid Issue.

[2020-01-21 15:05] maze-runnar commented on #3827
@snitin315 did you saw the video? Did you reproduce the same issue using same steps ?

[2020-01-21 15:11] snitin315 commented on #3827
## First I created a hidden ticket as you can see here -
![Screenshot from 2020-01-21 20-28-57](https://user-images.githubusercontent.com/46647141/72816411-198e4c00-3c8e-11ea-90cd-798275db00cc.png)

## Then I created an access code for the same -
![Screenshot from 2020-01-21 20-37-09](https://user-images.githubusercontent.com/46647141/72816217-d3d18380-3c8d-11ea-897c-56f6844f224a.png)

## Still th

[2020-01-21 15:16] maze-runnar commented on #3827
@snitin315 , i think you should enter the `access_code`(test) in `Enter Prootional code` section , please try this once and tell again .

[2020-01-21 15:30] abhichou4 commented on #3659
I would like to work on this @kushthedude @iamareebjamal
But when I tried adding sessions and speakers to my event, no 'Call for Speakers' is added.

 #h3 What I did

[2020-01-21 15:40] snitin315 commented on #3827
@maze-runnar  I did appplied access_code `test` in `Promotional code`  it showed me an error `Invalid Promotional Code` As it was supposed to produce.

The I created a discount code `discount` and entered it in the Promotional Code and it was the applied.
![Screenshot from 2020-01-21 21-06-02](https://user-images.githubusercontent.com/46647141/72818949-5ceab980-3c92-11ea-8306-988e589533dc.png)

[2020-01-21 15:42] snitin315 commented on #3827
@maze-runnar you can verify yourself for this event here [https://open-event-fe.netlify.com/e/643c10fb](https://open-event-fe.netlify.com/e/643c10fb)
Access Code = `test`
Discount Code = `discount`

[2020-01-21 15:42] snitin315 commented on #3827
Can you share link for your event as well?

[2020-01-21 15:54] kushthedude commented on #3827
No issues there was a bug in URL creator. Taken care !

[2020-01-21 15:56] abhichou4 commented on #3659
I would like to work on this @kushthedude @iamareebjamal
I tried reproducing the issue, but I get this error instead. I can't figure out what's wrong.

**Steps I did**
1. `ember server`
2. Made an event and enabled Sessions & Speakers.

**Expected**
Sessions, Speakers, Call for events on the event page

**Error**
![error](https://user-images.githubusercontent.com/39547012/72819408-37aa7b00-3c93-11

[2020-01-21 16:07] #3827 closed

[2020-01-21 17:29] snitin315 commented on #3521
Working on it.

[2020-01-22 11:09] kushthedude commented on #3752
Not a Frontend Issue

[2020-01-22 11:09] #3752 closed

[2020-01-22 11:13] kushthedude commented on #3795
Can not be worked until https://github.com/fossasia/open-event-frontend/issues/2959 is fixed and implemented correctly !

[2020-01-22 11:13] #3795 closed

[2020-01-22 11:37] #3658 closed

[2020-01-22 14:01] snitin315 commented on #3565
I am taking this issue.

[2020-01-22 14:58] #3826 closed

[2020-01-22 15:08] kushthedude commented on #3650
@iamareebjamal This may soon be a  frequent problem, As there are going to be a huge number of session/speakers for Summit-2020.
Proposed solutions:
- Implement Pagination in the Speakers/Session page instead of loading each of them.
- Implement an infinityLoader for the Speakers Page. And remove the extra information from the speaker column like `Micro location`, `Session Summary` as these proper

[2020-01-22 15:14] mariobehling opened #3833 "Admin no longer able to edit and save an event of another user"
In the wizard step 1 the system admin is no longer able to edit and save the event, e.g. the way we kept spam from the start page manually was to set events to private in wizard step 1.

![Screenshot from 2020-01-22 16-12-04](https://user-images.githubusercontent.com/1583873/72906241-2f554d00-3d32-11ea-94e9-34d6e9fb1790.png)

[2020-01-22 15:17] mariobehling opened #3834 "Deleting Events in Admin Panel does not delete them. They still show up in the live events in the admin panel"
Deleting Events in Admin Panel does not delete them. They still show up in the live events in the admin panel.

![Screenshot from 2020-01-22 16-16-30](https://user-images.githubusercontent.com/1583873/72906511-a25ec380-3d32-11ea-9f7d-12b728059ec1.png)

[2020-01-22 15:29] iamareebjamal commented on #3650
Or, implement infinity loader in speakers/sessions page. Don't use include in the list fetching phase. Only load session, track and microlocations when someone expands the speaker info section. Best of both worlds and minimal changes

[2020-01-22 17:27] kushthedude commented on #3834
Breaking into two issues:
- Super Admin should be able to delete any event.
- A reload of table action should be sent after deletion.

[2020-01-22 18:14] #3815 closed

[2020-01-22 18:18] #3834 closed

[2020-01-22 20:35] iamareebjamal opened #3837 "Integrate with embroider and enable code splitting"
https://github.com/embroider-build/embroider

https://github.com/embroider-build/embroider/tree/master/packages/router

- [x] Bower components ~~with fastbootShim transform~~ need to be replaced

Parent: #3634

[2020-01-22 20:36] kushthedude commented on #3837
Is it in production now ? It is still experimental .

[2020-01-22 20:38] iamareebjamal commented on #3837
Yes, still if the app builds, it doesn't matter

[2020-01-23 09:43] kushthedude opened #3839 "Omise Checkout is not accessible due to CSP"
Omise checkout script is blocked by CSP Policy.

[2020-01-23 10:39] kushthedude commented on #3833
@iamreebjamal Admin can edit, There is some issue in making event private. I will take a look

[2020-01-23 10:42] kushthedude commented on #3833
@iamareebjamal This a server issue, When I try to make a event private using admin rights See the error :
[code]

[2020-01-23 10:44] iamareebjamal commented on #3833
Only for private? Other fields in PATCH are working?

[2020-01-23 10:45] kushthedude commented on #3833
Yes only for private, Other changes I made for name,location,license were working fine.

[2020-01-23 12:42] maze-runnar commented on #3647
working on it .

[2020-01-23 13:16] kushthedude commented on #3776
It should have been solved with the new release.
Please re-open if still exists on production.

[2020-01-23 13:16] #3776 closed

[2020-01-23 13:17] kushthedude commented on #3739
@edenyay Solved with a new release made.
Please re-open if it occurs again on production.

[2020-01-23 13:17] #3739 closed

[2020-01-23 13:18] kushthedude commented on #3712
Not reproducible on production/development.

[2020-01-23 13:18] #3712 closed

[2020-01-23 15:03] iamareebjamal commented on #3714
@kushthedude This is not something to be done in long term. It is to be done ASAP to start using octane and to evaluate the use of ember. If you don't want to do it, fine. But please, don't change the priority.

[2020-01-23 15:04] kushthedude commented on #3714
I just changed it to important for long-term, not to be done later.

On Thu, 23 Jan, 2020, 20:33 Areeb Jamal, <notifications@github.com> wrote:

[2020-01-24 03:05] snitin315 commented on #3521
`minPrice` and `maxPrice` Validation is not working as well will fix that too.

[2020-01-24 07:35] snitin315 opened #3843 "attendee form: Countries are not rendering in dropdown."
**Describe the bug**
Countriues are not rendering in drop down in `Attendee Form`

![Screenshot from 2020-01-24 13-03-11](https://user-images.githubusercontent.com/46647141/73052026-1ff90f80-3eaa-11ea-947e-8874fc4e2cab.png)

**Additional context**
I will work on this issue.

[2020-01-24 07:56] #3843 closed

[2020-01-24 07:57] kushthedude opened #3845 "Public Page: Remove unnecessary queries on index page"
**Describe the bug**

We are fetching the complete list of speakers on index page.

**To Reproduce**
Steps to reproduce the behaviour:
Go to summit 2020 Index page, The single page takes more than 20 seconds.

**Expected Behaviour**
Only fetch the required data

[2020-01-24 10:47] maze-runnar opened #3847 "speaker page: speaker image is not properly showing in mobile devices"
**Describe the bug**
Speakers image is not showing properly for mobile devices and on desktop for some images their is a lot of empty spaces, in case of mobile devices.
![Screenshot from 2020-01-24 16-14-42](https://user-images.githubusercontent.com/56407566/73063384-aae70380-3ec4-11ea-938f-448853d1d011.png)

**Expected behaviour**
It should so properly , in case of desktop screen and mobile too.

[2020-01-24 10:47] #3794 closed

[2020-01-24 23:36] #3845 closed

[2020-01-25 12:22] snitin315 commented on #3434
I think this one is fixed in #3770

[2020-01-25 14:03] #3847 closed

[2020-01-25 17:35] snitin315 opened #3850 "bug: Able to save event without selecting a payment method for Donation Ticket"
**Describe the bug**

Currently user is able to save the event without selecting a payment method for Donation ticket.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an event.
2. Add a donation ticket
3. Save event.
4. See error

**Expected behaviour**

User must have to select a payment option in order to save a donation ticket.

**Additional context**

I will work on this issue.

[2020-01-25 19:19] maze-runnar opened #3851 "extravaluepath values in tickets/attendee on event dashboard"
extravalue paths in tickets/attendee on event dashboard
Expected Behaviour :
![Screenshot from 2020-01-23 19-22-36](https://user-images.githubusercontent.com/56407566/73126189-9d6d6e80-3fd5-11ea-9d8b-dc63a887bce8.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following informa

[2020-01-25 19:29] maze-runnar commented on #3711
@kushthedude i want to work on this, please take a look here too.

[2020-01-25 22:23] kushthedude commented on #3434
Fixed in #3770

[2020-01-25 22:23] #3434 closed

[2020-01-26 03:54] snitin315 commented on #3559
Fixed in #3611

[2020-01-26 07:29] snitin315 opened #3853 "Location-Input Form: Make country as dropdown."
**Describe the bug**
Make country as a `dropdown` instead of `text` in `location-input` form in `basic-details-steps` of `wizard`

**Screenshots**

![Screenshot from 2020-01-26 12-54-49](https://user-images.githubusercontent.com/46647141/73132053-a2650900-403b-11ea-819d-46d987ccfb79.png)

**Additional context**

Working on it.

[2020-01-26 10:33] kushthedude commented on #3853
Once we get an map API Provider it will be fixed

[2020-01-26 10:33] #3853 closed

[2020-01-26 10:44] #3851 closed

[2020-01-26 16:34] iamareebjamal commented on #3650
@kushthedude I find the infinity loader to be implemented in a very strange way. It only loads items when it is at the very bottom of the list, and rather than loading the items below the currently loaded items, it pushes all the items above. Any user would want to stay at the point they were at when loading happened. Secondly, even if I am at the bottom of the list, it doesn't load items until I

[2020-01-26 16:39] iamareebjamal commented on #3650
Ideally, user should not even notice that they have reached the end of the feed. It should be seamless. Compare facebook, https://twitter.com, https://newsgallery.com to the current implementation of speakers page

[2020-01-26 16:45] kushthedude commented on #3650
I will check but infinityLoader will load the items when you are at the
bottom of the list.

On Sun, 26 Jan, 2020, 22:09 Areeb Jamal, <notifications@github.com> wrote:

[2020-01-26 16:48] iamareebjamal commented on #3650
Check the sites above, everyone loads stuff when user is a little bit above the bottom so that they don't have to stare at the loader for 5 seconds. And also, the loader seems stuck until scrolled frivolously up and down a few times.

[2020-01-26 18:12] kushthedude commented on #3650
@iamareebjamal Are you referring to this https://github.com/ember-infinity/ember-infinity#cursor-based-pagination ?

[2020-01-26 18:13] iamareebjamal commented on #3650
No

[2020-01-26 18:15] iamareebjamal commented on #3650
See triggerOffset https://github.com/ember-infinity/ember-infinity#infinity-loader

[2020-01-26 18:19] kushthedude commented on #3650
<img width="265" alt="Screenshot 2020-01-26 at 11 48 46 PM" src="https://user-images.githubusercontent.com/44091822/73139677-6d39d480-4096-11ea-88bc-98298dfb4eb1.png">

[2020-01-26 18:44] kushthedude commented on #3650
@iamareebjamal I am unable to reproduce this, When the items load I am at the place where I was when items were not loaded. Also, I didn't need to scroll up and down .
I have enhanced the loader a bit to reduce the waiting time as at every loading it fetched the load spinner.

[2020-01-26 19:03] maze-runnar opened #3869 "Editing the tax info is not working in wizard"
**Describe the bug**
Editing the tax info is not working in wizard . If user has not initially created any tax information, then he would not be able to add it.

If organizer adds tax info when creating the event and later editing , this is working . But can't add tax info later after event is published and if no tax info was assed at that time.
**Additional context**
Working on it.

[2020-01-26 19:13] kushthedude commented on #3869
Duplicate of #3710

[2020-01-26 19:13] #3869 closed

[2020-01-26 20:37] #3559 closed

[2020-01-27 16:02] mohitm15 opened #3876 "Missing password validation in forgot password window"
**Describe the bug**

In forgot password window , validation is missing while setting new password. Also it lacks toggle icon.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'forgot password'
2. Click on 'link sent to your mail'
3. Type invalid password
4. See error

**Expected behaviour**

Have validations similar to sign up and login.

**Screenshots**

![Screenshot 2020-01-27 19:09

[2020-01-28 03:07] Rohithgilla12 commented on #3876
Can I take it up?

[2020-01-28 03:13] mohitm15 commented on #3876
I had already worked on it.

[2020-01-28 11:58] maze-runnar commented on #3710
@kushthedude , if we are adding the tax info at the time of creating an event then , we can later edit it succesfully but can't add any kind of tax info later. This is happening here exactly. can there be a problem in tax-modal or editing implementation?

[2020-01-28 18:30] bosecodes commented on #3876
Is this issue solved? I can work on it otherwise

[2020-01-28 19:02] mohitm15 commented on #3876
PR under review. Look for other issue

On Wed 29 Jan, 2020, 12:00 AM Somdev Basu, <notifications@github.com> wrote:

[2020-01-29 09:48] mariobehling opened #3890 "Wizard Step 1: Editing Description results in Unexpected Error"
When the user tries to edit the "Description" area in step 1 of the wizard an "Unexpected Error" appears. If the user refreshes the wizard and copy/pastes the info it works, but initially it always shows the error.

![Screenshot from 2020-01-29 10-46-58](https://user-images.githubusercontent.com/1583873/73345735-e434c000-4284-11ea-82cc-d2956b05d81e.png)

[2020-01-29 10:33] kushthedude commented on #3890
@iamareebjamal Same error which was shown in case for Private Events.
[code]

[2020-01-29 10:38] kushthedude commented on #3890
Also here are the relationships getting sent by frontend https://github.com/fossasia/open-event-frontend/blob/development/app/serializers/event.js

[2020-01-29 10:59] iamareebjamal commented on #3890
Yes, will fix this today on server as a workaround but it needs to be fixed in frontend mainly

[2020-01-29 11:00] iamareebjamal commented on #3890
See if removing those 2 relationships does not break anything and fixes the issue because they are computed relationships, not real

[2020-01-29 11:20] kushthedude commented on #3890
Checking

[2020-01-29 12:09] iamareebjamal commented on #3890
They should work even after removing manual linking. I'm not asking to remove if they are not used. I'm asking to remove knowing that they are used

[2020-01-29 17:10] maze-runnar commented on #2232
@kushthedude , i am stuck a bit while working on it at one place, can you please help me with any reference that how to return current city using ember-cli-geo

[2020-01-29 21:39] kushthedude opened #3896 "Admin Panel: Social Links not getting saved [Safari Specific]"
**Describe the bug**

Social Links are not getting saved from the Admin Panel.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to '/admin/contene'
2. Add Social Links
3. Save
4. See error

**Expected behaviour**

Social Links should get saved.

**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser: Safari

**Additional context**

Saving the content is working

[2020-01-29 21:45] kushthedude commented on #3896
Duplicate of #2669

[2020-01-29 21:45] #3896 closed

[2020-01-29 21:45] kushthedude commented on #2669
With eventyay getting stable and more smoother, I think this is the right time to pick up this issue and fix it once and for all.

[2020-01-30 09:00] iamareebjamal opened #3901 "Icons and modals not working"
Many payment icons are missing and no modals are working.

Culprit: https://github.com/fossasia/open-event-frontend/pull/3872

Try to order tickets: https://deploy-preview-3872--open-event-fe.netlify.com/e/93efcaec

Hence, reverting the PR

[2020-01-30 14:43] snitin315 opened #3913 "bug: use eventyay is hardcoded in footer."
**Expected behaviour**
Eventyay shoul be replaced with `{{settings.appname}}` So that footer shows `Open Event` or `Eventyay` accordingly.

**Screenshots**
![Screenshot from 2020-01-30 20-06-49](https://user-images.githubusercontent.com/46647141/73459159-5a781600-439c-11ea-955d-046a0cd8ac96.png)

![Screenshot from 2020-01-30 20-05-16](https://user-images.githubusercontent.com/46647141/73459186-653

[2020-01-30 14:58] amanbora commented on #3913
I would like to work on this issue, is it available ?

[2020-01-30 14:59] snitin315 commented on #3913
@amanbora  I have already made PR for this issue. You can check on some other issues.

[2020-01-30 15:33] #3839 closed

[2020-01-30 16:32] #3901 closed

[2020-01-30 17:26] iamareebjamal opened #3916 "Remove awaits in loop"
https://eslint.org/docs/rules/no-await-in-loop

[2020-01-30 21:46] kushthedude opened #3926 "Make the app compatible with Semantic-UI-Ember 3.0.4"
With upgrading semantic-UI-ember to 3.0.4, All the modals in the web-app are broke.

More information https://github.com/fossasia/open-event-frontend/issues/3901

[2020-01-31 01:17] snitin315 opened #3927 "bug: FE check for user role is not working."
**Describe the bug**
Front End check for `user_role` is not working in `add-user-role-modal`.

**Screenshots**

![Screenshot from 2020-01-31 06-30-33](https://user-images.githubusercontent.com/46647141/73504469-88d60f80-43f5-11ea-8edc-153d8556c224.png)

**Additional context**

Working on it.

[2020-01-31 04:57] kushthedude commented on #3916
@iamareebjamal There are places, where we can't remove the async-await wrap like :
[code]
[code]
It should be disabled or should we disable the rule to specific files ?

[2020-01-31 09:27] snitin315 commented on #3086
I would like to work on this issue.

[2020-01-31 09:43] gittysachin commented on #3916
Hi @iamareebjamal, Hi @kushthedude
I would like to work on this issue.

[2020-01-31 10:26] iamareebjamal commented on #3916
[code]

[code]

Besides all these changes will be handled by server in near future, looping to make requests is a poor pattern

[2020-01-31 16:57] maze-runnar commented on #3916
@iamareebjamal @kushthedude can i work on this?

[2020-01-31 17:00] kushthedude commented on #3916
Before getting started,keep in mine there are places where we need await so
you may need to modify the code to ensure async-await are intact

On Fri, 31 Jan, 2020, 22:27 Sundaram Dubey, <notifications@github.com>
wrote:

[2020-01-31 17:02] gittysachin commented on #3916
I'm working on this issue. You can please check on some other issues.

[2020-01-31 23:02] kushthedude opened #3940 "Remove duplicated imports and Apply no-relative-imports"
There have been a bunch of warnings while running the app due to the following.
References :
https://eslint.org/docs/rules/no-duplicate-imports
https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-relative-parent-imports.md

[2020-02-01 00:15] snitin315 commented on #3940
I will work on this issue.

[2020-02-01 01:19] snitin315 commented on #3940
@kushthedude there are 3 options for relative-imports -

Which one should be done?

[2020-02-01 02:58] mrsaicharan1 opened #3941 "Can't update CFS dates after event has been created"
**Describe the bug**
Not able to update CFS dates for any event.
`Uncaught (in promise) TypeError: Cannot read property 'forEach' of undefined`

**Expected behavior**
The details must be updated

**Additional Details**
Working on it

[2020-02-01 05:05] kushthedude commented on #3941
Will be fixed by https://github.com/fossasia/open-event-frontend/pull/3891

[2020-02-01 05:05] #3941 closed

[2020-02-01 09:13] amanbora commented on #3686
Is this issue available? I would like to work on this.

[2020-02-01 09:14] amanbora commented on #3684
I would like to work on this issue

[2020-02-01 09:20] snitin315 commented on #3686
Go Ahead.

[2020-02-01 09:29] iamareebjamal opened #3956 "Remove HTML sanitizer"
https://github.com/apostrophecms/sanitize-html#browser

It is meant to be used in node servers. Not browsers. It takes up a huge chunk of bundle as well.

As written in the repo, think, why do you need to sanitize HTML on client? That is the job of server. Besides I believe, we shouldn't even be storing HTML in backend. It should store markup like markdown, not DOM (#2493). Most people are not usi

[2020-02-01 10:07] iamareebjamal opened #3957 "Remove bower"
Bower is deprecated and holding us back from using embroider. Use yarn to pull in the packages instead of bower

Parent: #3837

https://bower.io/blog/2017/how-to-migrate-away-from-bower/

[2020-02-01 10:47] maze-runnar commented on #3957
working on it.

[2020-02-01 10:48] maze-runnar commented on #3957
@iamareebjamal , i am following this blog. is it correct?

[2020-02-01 11:19] maze-runnar commented on #3957
@iamareebjamal , i have followed the steps of this blog ,https://itnext.io/bower-to-yarn-migration-simple-steps-2a5ad0c43281. But i am not able to understand what after this. Where to make changes?

[2020-02-01 11:24] iamareebjamal commented on #3957
Search `bower` in the repo. Stop when no references are found

[2020-02-01 11:46] iamareebjamal opened #3968 "Revert ember-l10n to <4.0.0"
It is incompatible with fastboot

https://github.com/Cropster/ember-l10n/issues/59

Probably need a test of basic fastboot working

[2020-02-01 11:48] iamareebjamal opened #3969 "Add basic test for fastboot"
A basic test for fastboot must be written which fails if the change is not fastboot compatible.

If change crashes the fastboot server, it won't be able to handle request for homepage, so just curling localhost:4000/ should give basic idea that it is working or not

Parent: #3968

[2020-02-01 12:41] #3968 closed

[2020-02-01 13:02] #3969 closed

[2020-02-01 14:03] dependabot-preview[bot] opened #3976 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/fossasia/update-logs/22189384).

[2020-02-01 14:06] iamareebjamal commented on #3976
Please remove bower raven js and use sentry SDK

[2020-02-01 15:13] kushthedude commented on #3957
🔥

[2020-02-01 18:53] dependabot-preview[bot] opened #3978 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/fossasia/update-logs/22192307).

[2020-02-01 18:55] iamareebjamal commented on #3976
You'll not win this fight

[2020-02-01 20:01] kushthedude commented on #3978
Duplicate of #3976

[2020-02-01 20:01] #3978 closed

[2020-02-01 20:02] kushthedude commented on #3976
Is sentry even enabled for FE ?

[2020-02-01 20:06] iamareebjamal commented on #3976
Frontend throws so many errors that it exhausted the free plan on Sentry in 9 days where server is working with it for over 8 months.
Most of them are unnecessary 404s like fetching of microlocation which resulted in 5500 errors in 9 days. Sentry provides 5000 free events in 1 month. Hence, disabling sentry for frontend

[2020-02-01 21:51] #3927 closed

[2020-02-02 07:08] #3913 closed

[2020-02-02 12:47] #3890 closed

[2020-02-02 15:48] iamareebjamal commented on #3347
This needs to be fixed on priority @kushthedude @mrsaicharan1

[2020-02-02 15:49] kushthedude commented on #3347
@iamareebjamal I think this might have been fixed with the user redirection PR, if it is still present I will check into it.

[2020-02-02 15:50] iamareebjamal commented on #3347
Yes, you're correct. Please see if it is still present

[2020-02-02 17:42] kushthedude commented on #3347
Still present! But there is a new bug too, I will be opening an issue to address it.

[2020-02-02 18:39] kushthedude opened #3986 "Public Page: Speaker Section is broken"
Speaker Section on production is too much buggy, I don't know why is that. If that is due to upgradation of some dependency or anything else.

[2020-02-02 18:40] kushthedude commented on #3986
@iamareebjamal There is need for hotfix, some dependency upgrade or might be infinityloader is broke on speaker page.

[2020-02-02 19:35] iamareebjamal commented on #3986
It is broken when going from event page to speaker page. Revert infinity loader for now

[2020-02-02 19:50] iamareebjamal commented on #3986
Broke means without any money

[2020-02-02 20:02] kushthedude commented on #3986
I did test the loader yesterday, it was working perfectly on summit 2020. It is due to some dependency upgrade which has broken it.
What do you say I can debug it till tomorrow and let know which PR broke it?

[2020-02-02 20:59] kushthedude commented on #3986
Fixed in #3987

[2020-02-02 20:59] #3986 closed

[2020-02-03 07:55] kushthedude commented on #3976
@dependabot reopen

[2020-02-03 07:57] kushthedude commented on #3684
Go ahead

[2020-02-03 18:17] amanbora commented on #3684
@kushthedude where are the services injected? I'm unable locate them

[2020-02-03 18:34] amanbora commented on #3684
@kushthedude where are the services injected? I'm unable to locate them.

[2020-02-03 18:34] kushthedude commented on #3684
Please read more about ember and it's services. You will get the answer.

On Mon, 3 Feb, 2020, 23:47 Aman Bora, <notifications@github.com> wrote:

[2020-02-03 18:35] amanbora commented on #3684
Ok will get on it.

[2020-02-03 18:54] amanbora commented on #3684
Ok got it, so do you want me to inject `Services` in the components required or in the `initializer`?

[2020-02-03 18:56] amanbora commented on #3684
And what actually does the `Setting Service` does?

[2020-02-03 18:57] kushthedude commented on #3684
Please explore the project more with claiming good first issues before
moving into high priority. It makes no sense if you dont know the use cases
of app and directly jump into solving a major issue.

On Tue, 4 Feb, 2020, 00:26 Aman Bora, <notifications@github.com> wrote:

[2020-02-03 21:19] kushthedude opened #3991 "Infinity Loader Spinner is not centre aligned"
The loader spinner for infinityModel on Public Speaker Page is not centre-aligned and rather is left aligned.
Please align the spinner to centre.

[2020-02-03 21:39] hpdang opened #3994 "Event Creation: Unable to set an event image"
**Describe the bug**
When I created a new event, I tried to upload an event image, then clicked 'publish', the photo disappeared. I have tried several times.

The image that I uploaded: 4096x1885px, 2.5MB

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Create Event' > 'Basic Details'
2. Click on 'Select Event Image'
3. Click 'Publish'

**Screenshots**
After successful upload, it show

[2020-02-04 01:12] snitin315 commented on #3991
On it.

[2020-02-04 02:53] kushthedude commented on #3994
@iamareebjamal This is occurring due to https://github.com/fossasia/open-event-frontend/pull/3980
[code]

Why is this needed in serialiser ?
[code]

[2020-02-04 05:58] iamareebjamal commented on #3994
To not serialize the statistics

[2020-02-04 06:19] snitin315 opened #3996 "bug: Possible to add speaker without any information."
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to event-dashboard -> speaker
2. Click on add speaker
3. add speaker without any details
4. See error

**Expected behaviour**
At least name should be required to add a speaker.

**Screenshots**
![issue](https://user-images.githubusercontent.com/46647141/73719019-1d1cdb00-4744-11ea-90fd-d742233dc36f.PNG)

**Desktop (plea

[2020-02-04 06:23] kushthedude commented on #3996
Did you even refresh the page after changing tab, As the empty record is still in your cache?

[2020-02-04 06:24] kushthedude commented on #3996
Also, You won't be able to submit the form without adding necessary speaker details, Necessary server & frontend checks are already inforced for same. It is mainly because you clicked on `Add Speaker` and jumped to Speaker Tab.

[2020-02-04 06:25] snitin315 commented on #3996
Yes you are right . Having trouble with internet connection as well.

[2020-02-04 06:25] #3996 closed

[2020-02-04 06:26] kushthedude commented on #3996
There is an issue with Ember Table or it's implementation in our application, which once solved will also remove this behaviour.

[2020-02-04 06:37] kushthedude opened #3997 "Delete Event should be under settings page"
We already have an Event Settings Sub-tab in the Events View.

It would be better to move the functionality of Delete Event from Nav-Bar to the Event Settings Page with a proper description like loss of data, sessions, speakers info.

[2020-02-04 06:37] kushthedude commented on #3997
cc: @iamareebjamal If this would be a valid enhancement

[2020-02-04 06:40] kushthedude opened #3998 "Deleting/Restoring an event hangs the frontend"
Deleting/Restoring event makes the frontend hang and the request is not processed by the server. Ultimately, the Server needs to be restarted to fix the issue.

<img width="1119" alt="Screenshot 2020-02-04 at 12 09 20 PM" src="https://user-images.githubusercontent.com/44091822/73720141-48ed9000-4747-11ea-8649-e9a937d9d702.png">

[2020-02-04 06:44] kushthedude commented on #3998
@iamareebjamal I have not been able to debug this, server sends no response or the FE is not able to analyse the response.
Most probably this is happening after https://github.com/fossasia/open-event-frontend/pull/3980 . Please check if you can debug it.

[2020-02-04 06:46] iamareebjamal commented on #3998
If you can remove the serialization logic and it works, then it is because of the PR, if not. It isn't. This release constituted of 1 year worth of dependency upgrades, so some bugs were expected. Of course, testing was not done carefully on staging before making it live due to lack of resources

[2020-02-04 06:51] iamareebjamal commented on #3976
****

[2020-02-04 06:53] iamareebjamal commented on #3994
Simply add a try-catch as it is a purely optional change if they are present. And see if it works

[2020-02-04 06:55] kushthedude commented on #3998
Nope even not working before serialization, Some dependency upgrade might be.

[2020-02-04 07:06] kushthedude commented on #3994
Same error and loader gets stuck at this error

[code]

[2020-02-04 07:09] iamareebjamal commented on #3994
Then it is not due to that. If you caught the error, then it should not be thrown

[2020-02-04 07:10] kushthedude commented on #3994
Also once this error is thrown I again need to restart the server, as in
the case of delete/restore.

On Tue, 4 Feb, 2020, 12:39 Areeb Jamal, <notifications@github.com> wrote:

[2020-02-04 11:11] mariobehling opened #3999 "Event Speaker Images are not in Shape and Cut Off on Public Page"
This issue covers the public image display of speakers, e.g. see here https://eventyay.com/e/b97c6882

Speakers images are showing increased width instead of having the same width to height. When you download the image it is showing correctly though. But: On the html display in the browser the image is wider and it is partly cut off.

![Screenshot from 2020-02-04 12-08-19](https://user-images.gith

[2020-02-04 11:14] mariobehling opened #4000 "Speaker name too close to picture and text cannot be selected"
The design of the speakers has been changed and
* now the name of the speakers is very close to the images.
* Also the text and session name in the expanded speaker section cannot be selected anymore.
* The session used to link to the extended session description on the "sessions page". It is not linked now.

![Screenshot from 2020-02-04 12-12-21](https://user-images.githubusercontent.com/1583873/

[2020-02-04 14:14] mariobehling opened #4001 "Page design of event page distorted depending on screen resolution"
Changing the screen resolution distorts the public event page and results in different image ratios and displaced text.

Compare the same page in different resolutions as below.

Desired image ratio is 1:1.

![Screenshot from 2020-02-04 15-12-30](https://user-images.githubusercontent.com/1583873/73752286-f4efa500-4760-11ea-9ca4-b260f87c9eee.png)
![Screenshot from 2020-02-04 15-12-02](https://user-

[2020-02-04 14:29] mohitm15 commented on #4000
May I take up this issue?

On Tue 4 Feb, 2020, 4:44 PM Mario Behling, <notifications@github.com> wrote:

[2020-02-04 14:30] mohitm15 commented on #3999
May I take up this issue?

On Tue 4 Feb, 2020, 4:41 PM Mario Behling, <notifications@github.com> wrote:

[2020-02-04 14:33] snitin315 commented on #4000
@mohitm15 Go Ahead.

[2020-02-04 21:25] dependabot-preview[bot] opened #4002 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/fossasia/update-logs/22469525).

[2020-02-05 02:01] mariobehling opened #4003 "Forget Password: Don't open it in new tab"
Clicking forget password opens the next page in a new window. Expected: Open it in the same window.

![Screenshot from 2020-02-05 02-59-30](https://user-images.githubusercontent.com/1583873/73804347-cc4cc700-47c3-11ea-82ca-b05d9473936a.png)

[2020-02-05 02:03] mariobehling opened #4004 "Ticket buyer: Choosing Ticket holder same as ticket buyer makes the text light gray and hard to read"
Ticket buyer: Choosing Ticket holder same as ticket buyer makes the text light gray and hard to read.

![Screenshot from 2020-02-05 02-52-51](https://user-images.githubusercontent.com/1583873/73804373-e25a8780-47c3-11ea-8d4a-1f4fd615c8b9.png)

[2020-02-05 02:14] mariobehling opened #4005 "Ticket Email: Ticket Download not working. Wrong URL"
The ticket download email comes with a wrong URL to something like "https://api.eventyay.com/generated/tickets/orders/tickets/pdf/9bdedaa....".

It results in a page: "Not Found
The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again."

![Screenshot from 2020-02-05 03-13-13](https://user-images.githubusercontent.com/1583873/73804964-a

[2020-02-05 03:21] abhiandthetruth commented on #4005
I will be working on it.

[2020-02-05 03:22] abhiandthetruth commented on #4004
I will be working on it.

[2020-02-05 04:05] mariobehling commented on #4004
Please claim only one issue at a time.

[2020-02-05 04:06] mariobehling opened #4006 "Admin cannot delete spam"
Admin cannot delete spam event, e.g. https://eventyay.com/e/c040ea6d

Gives "unexpected error".

![Screenshot from 2020-02-05 05-04-42](https://user-images.githubusercontent.com/1583873/73809986-4174c800-47d5-11ea-9aa3-37e54b0b195b.png)

[2020-02-05 04:14] kushthedude commented on #4006
Duplicate of #3998

[2020-02-05 04:14] #4006 closed

[2020-02-05 04:35] kushthedude commented on #4003
Solving this issue will result in https://github.com/fossasia/open-event-frontend/issues/2753. What we can do is send a `refreshAction` as soon as forgot password is clicked.

[2020-02-05 06:39] codewithrikon commented on #4003
I can fix it

[2020-02-05 06:49] kushthedude commented on #4003
Go ahead.

On Wed, 5 Feb, 2020, 12:09 codewithrikon, <notifications@github.com> wrote:

[2020-02-05 08:10] marcoag opened #4007 "Page causes error when trying to edit my session through edit link"
**Describe the bug**
I'm trying to access to edit my session through the edit link:

https://eventyay.com/events/b97c6882/sessions/edit/6064

I get the following Error "the page you're trying to access has caused an error..."

**To Reproduce**
Steps to reproduce the behaviour:
1. Click on the link when logged in with a certain user

**Expected behaviour**
Either show me the edit session page or a

[2020-02-05 08:36] abhiandthetruth commented on #4004
ok sir.

[2020-02-05 09:51] maze-runnar commented on #4004
on oi.

[2020-02-05 11:40] abhiandthetruth commented on #4005
@kushthedude i may be wrong but this appears to be server issue.

[2020-02-05 12:32] kushthedude commented on #4004
@mariobehling The following is disabled as you chose `Ticket holder to be same as buyer` once you will uncheck the box it will become normal. Also changing it to regular textbox will not make sense since it's a disabled field.

[2020-02-05 12:35] kushthedude commented on #4007
@marcoag Can you please try again and share the network tab error with us ?

[2020-02-05 12:35] maze-runnar commented on #4004
@kushthedude, i had made the field readonly , that will not disable and user also will not able to override

[2020-02-05 12:45] kushthedude commented on #4007
You are accessing the wrong link https://eventyay.com/events/b97c6882/sessions/edit/6064 . The link should be https://eventyay.com/e/b97c6882/cfs/edit/6064 . Can you please tell which button redirected you to above link ?

[2020-02-05 12:51] kushthedude commented on #4005
@iamareebjamal

[2020-02-05 15:25] #4002 closed

[2020-02-05 16:42] mohitm15 commented on #4000
@snitin315 ok

[2020-02-05 17:46] maze-runnar commented on #4007
![Screenshot from 2020-02-05 23-15-02](https://user-images.githubusercontent.com/56407566/73867887-746a9a80-486d-11ea-92a1-342e35b6eedf.png)
![Screenshot from 2020-02-05 23-15-08](https://user-images.githubusercontent.com/56407566/73867891-76345e00-486d-11ea-9462-b6ad9c592a49.png)

[2020-02-05 18:50] maze-runnar commented on #4007
code for both links page are same , just implemented at different place.

[2020-02-05 19:07] maze-runnar commented on #4007
@kushthedude i have changed
[code]
 so now every session edit will redirect to  https://eventyay.com/e/b97c6882/cfs/edit/6064 type of url.
Should I create a PR?

[2020-02-05 21:28] dependabot-preview[bot] opened #4013 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/fossasia/update-logs/22592540).

[2020-02-05 21:59] kushthedude commented on #4007
Why to redirect both same? The issue is purely different from which you
mentioned.

On Thu, 6 Feb, 2020, 00:37 Sundaram Dubey, <notifications@github.com> wrote:

[2020-02-05 22:21] #3991 closed

[2020-02-06 01:36] kushthedude commented on #4007
@marcoag The link which you tried to access is limited to event organiser/co-organiser, If you were trying to edit the session using the following link then the error must have thrown. Also, please use the link I mentioned above or you may edit session by going to Public Event CFS Page, there you will see the name of your session.
Please confirm, if the link which you mentioned above is the redire

[2020-02-06 01:36] #4007 closed

[2020-02-06 07:55] #4013 closed

[2020-02-06 07:58] iamareebjamal commented on #3999
@mariobehling An issue was raised to make the images squared. Since the previously uploaded images were not of 1:1 aspect ratio, it was made to be center cropped on frontend. Newly uploaded photos will be 1:1

[2020-02-06 08:05] #3521 closed

[2020-02-06 16:58] iamareebjamal opened #4018 "Event Page shows error in fastboot mode"
And then loads correctly in client.

Error:

[code]

[2020-02-06 21:24] dependabot-preview[bot] opened #4021 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/fossasia/update-logs/22712160).

[2020-02-06 21:59] kushthedude commented on #4018
Solved ?

[2020-02-06 22:25] #4018 closed

[2020-02-06 22:26] #4021 closed

[2020-02-07 00:50] #2544 closed

[2020-02-07 01:09] #4004 closed

[2020-02-07 12:23] snitin315 commented on #3997
@kushthedude Sometihng like this?

![Screenshot from 2020-02-07 17-52-51](https://user-images.githubusercontent.com/46647141/74029454-bf51f280-49d2-11ea-8fc4-f3c87c2063cf.png)

[2020-02-07 12:26] kushthedude commented on #3997
Yes something like this, but can we get alignment like in the github settings?

[2020-02-07 12:29] snitin315 commented on #3997
Yes its possible to have alignment like this.

![Screenshot from 2020-02-07 17-58-14](https://user-images.githubusercontent.com/46647141/74029813-8bc39800-49d3-11ea-9760-849784cb0d02.png)

[2020-02-07 12:31] kushthedude commented on #3997
It will be appreciated then👍

On Fri, 7 Feb, 2020, 17:59 Nitin Kumar, <notifications@github.com> wrote:

[2020-02-07 12:50] kushthedude opened #4023 "Month filter not working in session public page"
Month filter is misbehaving in public session page

[2020-02-07 13:02] kushthedude commented on #3735
Fixed with recent dependencies upgrades and refactors.

[2020-02-07 13:02] #3735 closed

[2020-02-07 13:13] kushthedude opened #4024 "Remove deprecation `ember-data:evented-api-usage`"
Due to the following depreciation, it is very hard to read the travis logs. For every single test there are 10-15 depreciation of id `ember-data:evented-api-usage`

[code]

[2020-02-07 13:16] iamareebjamal commented on #3347
Status?

[2020-02-07 14:24] #4023 closed

[2020-02-07 18:43] Harshmaster commented on #3686
is this available ?? i would like to work on it .

[2020-02-07 18:43] Harshmaster commented on #3686
@snitin315

[2020-02-07 18:44] amanbora commented on #3686
I'm not receiving the verification mail, I'm running on localhost

[2020-02-07 18:45] amanbora commented on #3686
@Harshmaster I'm working on this issue right now, you can look into other issues :)

[2020-02-07 21:36] dependabot-preview[bot] opened #4026 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/fossasia/update-logs/22832601).

[2020-02-08 06:47] maze-runnar opened #4027 "In session speaker form add a new session should be checkbox"
**Describe the bug**
In session speaker form add a new session should be checkbox . Because once selecting a radio-button it is not possible to un-select it . So it should be checkbox as implemented in add a new speaker field.
In Add a newSession -
![Screenshot from 2020-02-08 12-13-20](https://user-images.githubusercontent.com/56407566/74080678-b9105480-4a6c-11ea-86d6-8df2d7539876.png)
In add a n

[2020-02-08 08:35] #4026 closed

[2020-02-08 12:43] snitin315 opened #4030 "Billing Info form: FE check not working for Company field"
**Describe the bug**

- FE check not working for company field
- `Tax ID or business ID` field not  marked as `*`

**Screenshots**
![Screenshot from 2020-02-08 18-10-46](https://user-images.githubusercontent.com/46647141/74085394-91d27b00-4a9e-11ea-95b7-62d2bec6a498.png)

**Additional context**

Up For Grabs

[2020-02-09 02:25] mohitm15 commented on #3999
@mariobehling  how to reproduce on local machine?

[2020-02-09 02:26] snitin315 commented on #3999
add speakers to your event.

[2020-02-09 03:02] mohitm15 commented on #4000
@snitin315 I am unable to find the corresponding stylesheet although I inspected through browser, should I use br in hbs file.

[2020-02-09 03:06] snitin315 commented on #4000
@mohitm15 Refer [#3819 ](https://github.com/fossasia/open-event-frontend/pull/3819)

[2020-02-09 04:59] #3997 closed

[2020-02-09 05:28] mohitm15 commented on #3999
Add infinitely many time to load after details for speaker, SEE

![screencapture-localhost-4200-events-2a67a7bf-speakers-create-2020-02-09-10_59_52](https://user-images.githubusercontent.com/35539313/74096908-208cd980-4b2b-11ea-95fe-5b1086a9bfec.png)

[2020-02-09 05:31] kushthedude opened #4032 "Improve the layout for Events Setting Page"
Currently, UI for Event/Settings is too much poor.
Improve it somewhat like how GitHub Settings looks.

[2020-02-09 07:32] Chaitanyassr opened #4034 "Can't get to the footer in browse events."
**Describe the bug**
Can't get to the footer of the browse events(page). As soon as i reach to the bottom, new event start loading(within a second) which makes it difficult to be at the bottom of the page. So a person cant access the bottom links on footer because of this problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on - browse events
2. Scroll down to reach the bottom
4. y

[2020-02-09 11:49] #4032 closed

[2020-02-09 11:52] kushthedude opened #4035 "Event identifier getting shown in Admin/User/Events"
Events table are misbehaving in `Admin/User/Events` section.

[2020-02-09 12:04] #3850 closed

[2020-02-09 12:05] kushthedude commented on #3850
Fixed in https://github.com/fossasia/open-event-server/pull/6789

[2020-02-09 12:18] #4035 closed

[2020-02-09 12:18] kushthedude opened #4037 "Accounts Section: Improve layout for Danger Zone"
Currently, UI for Danger-Zone in `Accounts Section` is too poor.
Please take reference from how the layout is implemented in `Events/Settings` Section, and do the same.

#### Expected :
<img width="1230" alt="Screenshot 2020-02-09 at 10 58 52 AM" src="https://user-images.githubusercontent.com/44091822/74101880-58644300-4b64-11ea-8524-f15f6c98cb2f.png">

[2020-02-09 12:27] snitin315 commented on #4037
On it.

[2020-02-09 12:34] kushthedude commented on #4037
Take the reference from above image and corresponding PR.

[2020-02-09 13:28] Chaitanyassr commented on #4001
on it.

[2020-02-09 19:53] #3347 closed

[2020-02-09 21:07] aknrg77 commented on #4030
On it

[2020-02-10 09:26] snitin315 commented on #4037
@kushthedude Current mobile view of event settings page is like below.

![Screenshot from 2020-02-10 14-53-34](https://user-images.githubusercontent.com/46647141/74137066-2c54ca80-4c15-11ea-8a9f-a2a46cc1c44f.png)

## Should we keep it this way? or we can do something like below -

![Screenshot from 2020-02-08 17-11-48](https://user-images.githubusercontent.com/46647141/74137166-57d7b500-4c15-11ea-

[2020-02-10 09:28] kushthedude commented on #4037
Make the changes in account section and then we can see the same for the
settings if looks good.

On Mon, 10 Feb, 2020, 14:56 Nitin Kumar, <notifications@github.com> wrote:

[2020-02-10 09:30] snitin315 commented on #4037
For Danger Zone it's will be like below -

![Screenshot from 2020-02-10 14-57-35](https://user-images.githubusercontent.com/46647141/74137517-fa903380-4c15-11ea-8803-d22e06002e2e.png)

![Screenshot from 2020-02-10 14-57-51](https://user-images.githubusercontent.com/46647141/74137449-d7fe1a80-4c15-11ea-8144-5e28c3a5b42a.png)

[2020-02-10 12:44] #4037 closed

[2020-02-10 13:35] snitin315 opened #4040 "Event Settings: Improve Mobile Alignment."
**Describe the bug**

#### 1. Mobile alignment needs improvement.

#### 2.  Also due to recent changes Transfer Ownership button is not working properly.

![Screenshot from 2020-02-10 14-53-34](https://user-images.githubusercontent.com/46647141/74153507-cb3dee80-4c36-11ea-8958-2146165bce23.png)

**Expected behaviour**

![Screenshot from 2020-02-10 19-04-47](https://user-images.githubusercontent.co

[2020-02-10 14:31] maze-runnar opened #4043 "ticket table is showing ticket name in ticket type column"
**Describe the bug**
ticket table is showing ticket name in ticket type column. Ticket Type are paid/free/donation .
![Screenshot from 2020-02-10 19-59-49](https://user-images.githubusercontent.com/56407566/74158459-21635f80-4c40-11ea-87f8-675a68c4550a.png)

**Additional context**
working on it

[2020-02-10 14:57] snitin315 opened #4045 "basic-details-step: Location and Links are required & FE checks are missing."
**Expected behaviour**

Correspondig fields should be marked as `*`.
FE checks should be present as well.

**Screenshots**

![Screenshot from 2020-02-10 20-26-20](https://user-images.githubusercontent.com/46647141/74160659-c0d62180-4c43-11ea-9ed3-480897c26436.png)

![Screenshot from 2020-02-10 20-26-30](https://user-images.githubusercontent.com/46647141/74160688-ca5f8980-4c43-11ea-98f1-49d2799a316

[2020-02-10 16:33] maze-runnar opened #4048 "cancelled oreder's attendees are not showing in table"
**Describe the bug**
cancelled oreder's attendees are not showing in table. Completed, expired are showing correctly but cancelled attendees are not showing correctly.
![Screenshot from 2020-02-10 22-01-35](https://user-images.githubusercontent.com/56407566/74169330-27157100-4c51-11ea-8002-ad0bd3a7b879.png)
![Screenshot from 2020-02-10 22-01-44](https://user-images.githubusercontent.com/56407566/7

[2020-02-10 16:59] maze-runnar commented on #4048
@kushthedude , i think this can be a server side issue.

[2020-02-10 17:18] #4045 closed

[2020-02-10 17:21] maze-runnar commented on #4048
@kushthedude attendee has not any status named `cancelled` . SO what i should do?

[2020-02-10 17:53] #4043 closed

[2020-02-10 18:15] maze-runnar commented on #4048
@kushthedude i think this can be a server side issue, there could be not any field for attendee like cancelled as  -
[code]
there is no filter so it should return all attendees , but still not showing cancelled orders attendees.

[2020-02-10 18:20] maze-runnar commented on #4048
@kushthedude Here cancelled orders attendee are not showing in all section too , I think cancelled section should be removed ?

![Screenshot from 2020-02-10 23-47-46](https://user-images.githubusercontent.com/56407566/74177555-f7ba3080-4c5f-11ea-950f-72e506e2a476.png)

[2020-02-10 18:42] #4040 closed

[2020-02-10 19:18] maze-runnar opened #4050 "create discount codes and create access code pages are broken"
**Describe the bug**
create discount page is not showing save button.
![Screenshot from 2020-02-11 00-45-33](https://user-images.githubusercontent.com/56407566/74181957-2b995400-4c68-11ea-9909-561c459cb78b.png)

**Additional context**

working on it .

[2020-02-10 20:02] mohitm15 opened #4052 "Button Alignment issue in Complete Order Page"
**Describe the bug**

Button Alignment issue in Complete Order Page in Mobile view.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Add order'
2. Add order
3. Complete the order details
4. See error

**Expected behaviour**

Should be aligned to center in mobile view.

**Screenshots**

![Screenshot 2020-02-11 00:57:21](https://user-images.githubusercontent.com/35539313/74185148-14f5fb

[2020-02-10 21:32] dependabot-preview[bot] opened #4055 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/fossasia/update-logs/22993442).

[2020-02-11 04:30] #4050 closed

[2020-02-11 09:14] #4055 closed

[2020-02-11 12:23] kushthedude commented on #3994
Ok, I made these changes. All things are working perfectly. The issue with restore is on the server-side and I will open an issue

[2020-02-11 12:44] iamareebjamal commented on #3994
That issue was solved by what you are reverting in this PR - https://github.com/fossasia/open-event-frontend/pull/4056

I asked you to wrap it in try catch or if statement

[2020-02-11 12:45] kushthedude commented on #3994
Try-Catch didn't work, thrown the same error. What should I put in condition for if ?

[2020-02-11 12:47] iamareebjamal commented on #3994
It's either impossible or you have found a bug in Google Chrome, please file a bug here https://bugs.chromium.org/p/chromium/issues/list

If you want to me check what's wrong, push the PR with try catch

[2020-02-11 14:57] #3994 closed

[2020-02-11 14:57] #3998 closed

[2020-02-11 14:59] snitin315 opened #4058 "Basic Details Step: can not save event as draft without filling location field."
**Describe the bug**

Self Explainatory.

**Expected behaviour**

Event should be saved as draft without location.

**Additional context**

On it.

[2020-02-11 17:33] #4058 closed

[2020-02-11 21:23] dependabot-preview[bot] opened #4061 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/fossasia/update-logs/23117484).

[2020-02-12 05:06] #4061 closed

[2020-02-12 06:37] iamareebjamal opened #4062 "Infinity Loader in speakers page not working"
https://eventyay.com/e/a74665c3/speakers

[2020-02-12 09:37] kushthedude opened #4064 "Write tests for infinityLoader and Public Pages"

[2020-02-12 10:05] #4062 closed

[2020-02-12 11:35] iamareebjamal opened #4066 "Make side panel in sessions and speakers page sticky"
After 2-3 scrolls, the side panel drops to the bottom of the page and becomes invisible

Use `position:sticky` - https://css-tricks.com/position-sticky-2/

[2020-02-12 18:08] amanbora opened #4068 "Email Verification mail not received"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Login
2. Enter credentials
3. Click on 'Send confirmation mail'

**Expected behaviour**

Mail received which redirects to the site

**Screenshots**
Click on the link

<img width="1388" alt="Screenshot 2020-02-12 at 11 37 18 PM" src="https://user-images.githubusercontent.com/33185170/74363495-ab522a80-4df0-11ea-84aa-6c48ab0

[2020-02-12 19:14] iamareebjamal commented on #4068
On which site did you try it?

[2020-02-12 19:37] iamareebjamal opened #4070 "Convert project to typescript"
Steps:

Current Focus:
- [ ] New classes should target typescript
- [ ] Conversion of utils, helpers and lastly models in typescript

Long Term focus (PRs not required now):

- [ ] Convert existing components and routes when working on them heavily
- [ ] Remove remaining part of JS

https://ember-cli-typescript.com/versions/master/docs/ts-guide/using-ts-effectively
https://v4.chriskrycho.com/typin

[2020-02-13 01:22] kushthedude commented on #4066
Duplicate of #3510

[2020-02-13 02:31] kushthedude opened #4075 "Restore Import Events section"
Import Events API is functional, we should now restore the FE support for import events section too.
Also convert the table to Ember-Table

[2020-02-13 06:03] kushthedude commented on #4075
@iamareebjamal I had some doubts regarding current importing/exporting API:
- Is it correct to import only speakers without their status like confirmed, accepted etc?
- Tickets are not getting imported from the zip.
- If we make the tickets import work, should all the current ticket holders be imported too?
- Event Export should be in `.zip` format rather than a folder?
- Should `Call For Speakers

[2020-02-13 06:33] iamareebjamal commented on #4075
The point of import export is to clone an event. Not clone orders.

It is

[2020-02-13 06:34] iamareebjamal commented on #4066
Let that issue be about the image sizes

[2020-02-13 06:35] kushthedude commented on #4075
A folder is getting exported.
<img width="298" alt="Screenshot 2020-02-13 at 12 05 28 PM" src="https://user-images.githubusercontent.com/44091822/74407947-251dfe80-4e59-11ea-9d46-c7ef0612dc13.png">

[2020-02-13 06:36] iamareebjamal commented on #3510
Why? How else can it be done? Magic? Custom CSS is not voodoo. CSS is CSS. Custom or not. The packages you use also use CSS you know

[2020-02-13 06:36] #4066 closed

[2020-02-13 06:37] iamareebjamal commented on #4075
Yes, the download is zip, that's what matters, you can't download a folder

[2020-02-13 06:41] kushthedude commented on #4075
What about these? If the goal is to clone, then all these stuff should get imported too?

[2020-02-13 06:41] iamareebjamal commented on #4075
Yes

[2020-02-13 06:51] kushthedude commented on #3510
If we can achieve the similar stuff using semantic ui classes then it must
be preferred before going to custom css. If css is last resort then it
should be fine.

On Thu, 13 Feb, 2020, 12:06 Areeb Jamal, <notifications@github.com> wrote:

[2020-02-13 07:17] iamareebjamal commented on #3510
https://semantic-ui.com/modules/sticky.html

This requires JS and hence will be reset on rerender. My solution is pure CSS hence better

[2020-02-13 12:25] maze-runnar commented on #4064
@kushthedude i want to work on this.
the will be added to integration/components/public ?

[2020-02-13 12:28] kushthedude commented on #4064
Acceptance/Public/speaker and Acceptance/Public/session

On Thu, 13 Feb, 2020, 17:55 Sundaram Dubey, <notifications@github.com>
wrote:

[2020-02-13 12:49] maze-runnar commented on #4064
@kushthedude how to write that dynamic url part in test? like for http://localhost:4200/e/a74665c3/speakers
[code]

[2020-02-13 12:50] maze-runnar commented on #4064
is it ok to use like - ```/e/:event_id/speakers ```

[2020-02-13 12:51] kushthedude commented on #4064
Create Ember Object

On Thu, Feb 13, 2020 at 6:20 PM Sundaram Dubey <notifications@github.com>
wrote:

[2020-02-13 12:53] maze-runnar commented on #4064
can you please provide any reference?

[2020-02-13 13:27] maze-runnar commented on #4064
@kushthedude is this ok -
[code]

[2020-02-13 13:28] kushthedude commented on #4064
Where is the event ?

On Thu, 13 Feb, 2020, 18:57 Sundaram Dubey, <notifications@github.com>
wrote:

[2020-02-13 13:29] kushthedude commented on #4064
Also how will this test check the infinityModel it is merely a test to
check the Public Route?

On Thu, 13 Feb, 2020, 18:58 Kush Trivedi, <kushthedude@gmail.com> wrote:

[2020-02-13 13:42] maze-runnar commented on #4064
@kushthedude in tests/helpers/stubs/services/-routing.js  ,
[code]
so can i use `/e/1/speakers` instead of `event_id` in url .
reference :
https://culttt.com/2015/07/20/transitioning-to-new-pages-in-ember/

[2020-02-13 16:57] iamareebjamal commented on #4064
You'll have to verify that it loads more speakers than 12 after scrolling it a bit

[2020-02-13 18:05] #4075 closed

[2020-02-13 18:27] #3510 closed

[2020-02-13 18:38] maze-runnar commented on #4048
@iamareebjamal please help me here in this issue.

[2020-02-13 19:41] iamareebjamal commented on #4048
What's the problem

[2020-02-13 21:34] dependabot-preview[bot] opened #4080 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/fossasia/update-logs/23363709).

[2020-02-14 00:38] #4080 closed

[2020-02-14 01:28] snitin315 commented on #3876
@mohitm15 are you still working on it,? Your PR is not updated from a long time.?

[2020-02-14 03:48] maze-runnar commented on #4048
https://github.com/fossasia/open-event-frontend/issues/4048#issuecomment-584258374
https://github.com/fossasia/open-event-frontend/issues/4048#issuecomment-584263026

[2020-02-14 06:25] snitin315 opened #4082 "LOCAL.md : API_HOST url to localhost:5000 instead of http://localhost:5000"
**Describe the bug**

To solve issues which involve both server and frontend changes -

```Please install and set it up first before changing the URL for API_HOST to localhost:5000 and proceeding to run the frontend.```

![Screenshot from 2020-02-14 11-46-25](https://user-images.githubusercontent.com/46647141/74506840-b73d0a00-4f20-11ea-98d7-9958018daf0b.png)

It should be ~~`localhost:5000`~~ `ht

[2020-02-14 07:10] #4082 closed

[2020-02-14 07:12] iamareebjamal commented on #4048
I can't understand those comments. That's why asked to explain

[2020-02-14 12:38] snitin315 opened #4084 "Transfer Ownership : Confirmation should be case sensitive"
**Describe the bug**

The confirmation for transfer event is not case sensitive.

![Screenshot from 2020-02-14 18-04-30](https://user-images.githubusercontent.com/46647141/74532313-eec5a980-4f54-11ea-9ebd-13a71d70d63e.png)

![Screenshot from 2020-02-14 18-06-11](https://user-images.githubusercontent.com/46647141/74532320-f1280380-4f54-11ea-873a-10ed87182c4d.png)

**Additional context**

If this is

[2020-02-14 13:04] snitin315 commented on #4084
@iamareebjamal @kushthedude Is this issue valid or this was done intentionally before?

[2020-02-14 13:05] kushthedude commented on #4084
Make event confirmation dialogue case sensitive too

[2020-02-14 13:07] snitin315 commented on #4084
And delete event too?

[2020-02-14 16:07] snitin315 opened #4086 "Speaker Form: Placeholder text missing for country field"
**Describe the bug**

In add speaker form country field doesn't have any placeholder text.

**Expected behaviour**

It should have a placeholder like `Select country`  like other dropdown fields in the form.
**Screenshots**

![Screenshot from 2020-02-14 21-30-55](https://user-images.githubusercontent.com/46647141/74547180-ba141b00-4f71-11ea-8f8f-f370a3133782.png)

**Additional context**

I will wo

[2020-02-14 16:16] #4084 closed

[2020-02-15 01:27] snitin315 opened #4088 "Same file present with two extensions utils/dictionary/filters.{js, ts}"
`filters.js` should be removed.

**Screenshots**

![Screenshot from 2020-02-15 06-51-37](https://user-images.githubusercontent.com/46647141/74579377-0e45ec00-4fc0-11ea-8781-a59466a9cc70.png)

![Screenshot from 2020-02-15 06-55-01](https://user-images.githubusercontent.com/46647141/74579387-21f15280-4fc0-11ea-93d1-a609384bb740.png)

**Additional context**

I will work on it if valid.

[2020-02-15 02:50] snitin315 commented on #3356
On it

[2020-02-15 06:14] iamareebjamal commented on #4088
Delete filters.ts

[2020-02-15 06:17] snitin315 commented on #2578
on it.

[2020-02-15 06:35] snitin315 commented on #2578
@kushthedude Correct me if I'm wrong , this will require server changes as well , As a new field will be added for country code?

[2020-02-15 06:35] kushthedude commented on #2578
No, there will be no server change

[2020-02-15 06:45] #4088 closed

[2020-02-15 06:51] #4086 closed

[2020-02-15 06:57] snitin315 commented on #2578
should i make changes to existing dictionary for countries or i can create a new one I just found..?
[code]

[2020-02-15 07:16] snitin315 commented on #2578
@kushthedude I just found a package [ember-phone-input](https://github.com/qonto/ember-phone-input) for same should we use it or I should update the existing dictionary manually?

[2020-02-15 07:19] kushthedude commented on #2578
We dont want to bloat our application with more dependency.

On Sat, 15 Feb, 2020, 12:46 Nitin Kumar, <notifications@github.com> wrote:

[2020-02-15 08:40] #3916 closed

[2020-02-15 10:30] maze-runnar commented on #4048
[code]
the above piece of code in routes is for returning all type of attendees for any order for an event. But what we get in return is only attendees of status - `expired, completed, placed, checkedin, checkedout` not `cancelled`. There is not any provision for attendees like `cancelled attendee`.

[2020-02-15 10:32] maze-runnar commented on #4048
I think `cancelled tab` should be removed from
![](https://user-images.githubusercontent.com/56407566/74169527-76f43800-4c51-11ea-9f73-4c888a46b460.png)

[2020-02-15 10:46] iamareebjamal opened #4092 "Add sentry fastboot integration"
Currently only client errors are reported through sentry, whereas production runs in fastboot mode and it is the major source of code ran and all events are dropped from there

[2020-02-15 10:48] iamareebjamal commented on #4048
Attendees are not cancelled. Orders are. And yes, there is cancelled state of an order

[2020-02-15 10:49] maze-runnar commented on #4048
Exactly, so what should i do here?

[2020-02-15 10:56] iamareebjamal commented on #4048
There's no reason to say exactly. Attendees are neither expired, completed, placed. Orders are

[2020-02-15 10:59] maze-runnar commented on #4048
But the cancelled orders are returning correctly in attendees section but not the cancelled orders, with same code as for completed and expired.

[2020-02-15 12:22] iamareebjamal commented on #3976
Fixed in #4091

[2020-02-15 12:22] #3976 closed

[2020-02-15 12:32] maze-runnar commented on #4064
what about this?

[code]

[2020-02-15 12:37] iamareebjamal commented on #4064
Only a PR and passing test will tell

[2020-02-15 13:07] kushthedude commented on #4064
Where are the speakers loaded from?

On Sat, 15 Feb, 2020, 18:07 Areeb Jamal, <notifications@github.com> wrote:

[2020-02-15 15:18] snitin315 commented on #2578
@kushthedude can I create a sub issue only for updating the dictionary with dialing codes for all countries?

[2020-02-15 15:20] kushthedude commented on #2578
Why not make a single PR for the complete issue?

On Sat, 15 Feb, 2020, 20:48 Nitin Kumar, <notifications@github.com> wrote:

[2020-02-15 15:25] snitin315 commented on #2578
Just a query , I have to implement drop down for all `Phone` fields present in the app.?

[2020-02-15 15:26] kushthedude commented on #2578
Mainly only in speaker form.

On Sat, 15 Feb, 2020, 20:55 Nitin Kumar, <notifications@github.com> wrote:

[2020-02-15 16:11] Dishebh commented on #4068
Is this issue valid?

[2020-02-15 17:37] Dishebh commented on #4034
@Chaitanyassr shall I try implementing the pages section just above footer, that shows the page wise results of the events happened / happening?

[2020-02-15 17:47] iamareebjamal commented on #4034
This is invalid issue

[2020-02-15 17:47] #4034 closed

[2020-02-15 17:48] iamareebjamal commented on #4034
Pick any other page which does not have infinite loading to see the footer

[2020-02-15 17:49] #4068 closed

[2020-02-15 18:26] adrijshikhar commented on #4024
@kushthedude i would like to work on this issue, can you help me out?

[2020-02-15 18:28] adrijshikhar commented on #3956
@iamareebjamal i would like to work on this, can you help me out?

[2020-02-15 18:29] iamareebjamal commented on #3956
You can start with beginner-friendly issues

[2020-02-15 18:31] adrijshikhar commented on #3956
people have already called dibs on most the issues. i will still explore.

[2020-02-15 18:32] adrijshikhar commented on #4001
@Chaitanyassr are you still working on this? i would like to work on this.

[2020-02-15 18:33] adrijshikhar commented on #4000
@mohitm15 are you still on the issue?

[2020-02-15 18:33] snitin315 commented on #4001
There is no sign of work done, you can go ahead with this.

[2020-02-15 18:34] Dishebh commented on #4034
For better UX, shouldn't the user be able to see the footer on each page (conveniently)?

[2020-02-15 18:34] adrijshikhar commented on #4001
ok

[2020-02-15 18:35] adrijshikhar commented on #4001
what is the desired image ratio on every screen?

[2020-02-15 18:39] iamareebjamal commented on #4034
Show me one site with infinite loader where footer is visible

[2020-02-15 19:22] Dishebh commented on #4034
Maybe try avoiding infinite loader, and implement something like which google search has...?

[2020-02-15 19:45] iamareebjamal commented on #4034
Nope

[2020-02-16 06:28] snitin315 commented on #2578
@kushthedude it should be implemented something like below ---

![Screenshot from 2020-02-16 11-55-16](https://user-images.githubusercontent.com/46647141/74600162-82ad8780-50b3-11ea-9dc4-60d7b691f67e.png)

[2020-02-16 10:52] iamareebjamal opened #4099 "Remove all sequentially awaited code"
After removing await from loops, it is time to remove all sequentially awaited code unless result of one call depends on the next.

If there are 4 requests and each take 5 seconds, they can be completed in 5 seconds, but right now they are taking 20 seconds. It's like deliberately making the site slow. Try to reduce multiple awaits in any function to a single await unless the result of an await is

[2020-02-16 18:46] adrijshikhar commented on #3505
@mariobehling I would like to work on this.

[2020-02-16 18:48] adrijshikhar commented on #4001
@mariobehling can you tell me desired image ratio?

[2020-02-16 18:55] iamareebjamal commented on #3505
Great, just 130 more issues for you to write this comment. Or you can actually work on some issue and send a PR

[2020-02-16 18:56] snitin315 commented on #4001
@adrijshikhar Refer [#3819 ](https://github.com/fossasia/open-event-frontend/pull/3819)

[2020-02-16 19:08] adrijshikhar commented on #4001
ok

[2020-02-16 19:23] adrijshikhar commented on #4001
how can I reproduce the bug?
should i add an event and then the speakers?

[2020-02-16 19:23] snitin315 commented on #4001
Yes

[2020-02-16 19:24] adrijshikhar commented on #4001
ok

[2020-02-16 19:38] adrijshikhar commented on #4001
i am unable to add an event. i entered all the fields and yet the publish button was disabled, and it was showing email unverified even when i have verified my email.
![Screenshot_20200217_010450](https://user-images.githubusercontent.com/41939219/74611454-ff774a80-5121-11ea-8260-06403164b5af.png)

[2020-02-16 19:40] iamareebjamal commented on #4001
How do you know you have verified email?

[2020-02-16 19:44] adrijshikhar commented on #4001
is there any other way to have my email verified?

[2020-02-16 19:46] snitin315 commented on #4001
What do you mean by other way? He asked a simple question , the ans should be straight and simple as well.

[2020-02-16 19:51] adrijshikhar commented on #4001
i am did not verify.

[2020-02-16 19:52] iamareebjamal commented on #4001
When you edit your comment after someone else commented, you should mention the edit explicitly

First you said - `even when i have verified my email` and now you edited to `clicked on verify my email and no email was sent.`

[2020-02-16 19:54] adrijshikhar commented on #4001
ok i will keep that in mind.

how can i have my email verified?

[2020-02-16 19:57] snitin315 commented on #4001
Are you sure you haven't received any mail.? Have you checked the spam folder ?

[2020-02-16 19:59] adrijshikhar commented on #4001
yes i checked the spam folder and all mail folder, but i haven't received the mail.

[2020-02-16 20:03] snitin315 commented on #4001
@iamareebjamal  I tried with reset password , and I didn't received any mail as well.

[2020-02-16 20:04] iamareebjamal commented on #4001
Yes, diagnosing the issue

[2020-02-16 20:07] snitin315 commented on #4001
Working fine in production.

[2020-02-16 20:14] iamareebjamal commented on #4001
Culprit - https://github.com/fossasia/open-event-server/issues/6845

[2020-02-16 20:19] iamareebjamal commented on #4001
Should've received the email now

[2020-02-16 20:22] snitin315 commented on #4001
Received

![Screenshot_2020-02-17-01-50-13-947_com google android gm](https://user-images.githubusercontent.com/46647141/74612077-0c973800-5128-11ea-8c63-fbe97e5dd044.jpg)

[2020-02-16 20:27] adrijshikhar commented on #4001
it says post request failed when I click on publish event

![Screenshot_20200217_015457asd](https://user-images.githubusercontent.com/41939219/74612162-e1611880-5128-11ea-81ae-520f1d1c4f66.png)

[2020-02-16 20:43] iamareebjamal commented on #4001
Need the error response

[2020-02-16 21:36] iamareebjamal opened #4100 "Fork or remove CSP"
1. It's impossible to work with
2. Isn't even enabled in production
3. Even if it was enabled, it would not have provided any security whatsoever - https://github.com/rwjblue/ember-cli-content-security-policy/issues/127#issuecomment-586752709

https://github.com/ember-cli/ember-cli/pull/5247 - Even ember-cli did it as well (Kudos)

[2020-02-17 05:12] amanbora commented on #4068
@iamareebjamal https://open-event-fe.netlify.com/  . Sorry for late response

[2020-02-17 05:23] amanbora opened #4101 "Asking to complete login Form"
**Describe the bug**

Login form is asking for credentials when requested for new user.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Login Page'
2. Click on 'New to site? Create Account '
3. See error

**Expected behaviour**

Login Credentials shouldn’t be asked in case of new user.

**Screenshots**

<img width="390" alt="Screenshot 2020-02-17 at 10 48 26 AM" src="https://user-ima

[2020-02-17 05:32] snitin315 commented on #4068
This issue is fixed.

[2020-02-17 05:33] snitin315 commented on #4101
Why a new user will be on a login page instead of sign up?

[2020-02-17 05:37] amanbora commented on #4101
@snitin315 the sign-up page is requested from login page. You can see there is link for sign-up.

[2020-02-17 05:38] amanbora commented on #4101
@snitin315 according to you there shouldn’t be 'create account' link on login page ?

[2020-02-17 05:43] snitin315 commented on #4101
I mean why will a new user will enter credential in login form.
Also this is a front-end check , you don't know if the email is nee or already registered until a POST request is sent to server.

[2020-02-17 05:45] amanbora commented on #4101
Yes I think you are right. Will close it.

[2020-02-17 05:45] #4101 closed

[2020-02-17 08:37] snitin315 opened #4102 "bug: https://open-event-fe.netlify.com NOT FOUND"
**Describe the bug**

Front end deployment is showing NOT FOUND error.

![Screenshot from 2020-02-17 14-06-57](https://user-images.githubusercontent.com/46647141/74636812-c628f400-518e-11ea-84ef-3aaefc70e2f5.png)

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to [https://open-event-fe.netlify.com](https://open-event-fe.netlify.com)
4. See error

[2020-02-17 08:39] snitin315 commented on #4102
Srever responded with a status code 404
![Screenshot from 2020-02-17 14-08-30](https://user-images.githubusercontent.com/46647141/74636970-143df780-518f-11ea-8a53-b7025675b18e.png)

[2020-02-17 09:24] iamareebjamal commented on #4102
Our free build minutes exceeded the free plan

[2020-02-17 09:59] iamareebjamal commented on #4102
https://open-event.netlify.com/

[2020-02-17 09:59] #4102 closed

[2020-02-17 10:06] snitin315 commented on #4102
Temporary or permanent?

[2020-02-17 10:08] iamareebjamal commented on #4102
Till we run out of build minutes again

[2020-02-17 10:10] snitin315 commented on #4102
Then I think this Needs to be updated in documentation as well.

[2020-02-17 11:23] adrijshikhar commented on #4001
i tried it again and it worked. Thanks

[2020-02-17 11:56] snitin315 opened #4103 "update netlify deployment link."
**Describe the bug**

Netlify deployment link changed recently.Should be updated in docs as well.

**Additional context**

on it.

[2020-02-17 12:08] maze-runnar opened #4104 "url segment in export section of an event is overflowing"
**Describe the bug**
url segment in export section of an event is overflowing

![Screenshot from 2020-02-17 17-35-43](https://user-images.githubusercontent.com/56407566/74652503-2c703f80-51ac-11ea-87c5-6d9d778dcc5c.png)
![Screenshot from 2020-02-17 17-36-02](https://user-images.githubusercontent.com/56407566/74652510-2e3a0300-51ac-11ea-9482-ac578e36e306.png)

**Expected behaviour**
![Screenshot fr

[2020-02-17 13:32] maze-runnar opened #4107 "number of revision is showing hardcoded `coming soon`"
**Describe the bug**
This feature is not completely available for roll out so it would pointless to diplay a dummy `no of revisions` as always `coming soon` so should be removed from the table (by comment out)
![Screenshot from 2020-02-17 19-02-13](https://user-images.githubusercontent.com/56407566/74658334-0cdf1400-51b8-11ea-9128-b22705b8e312.png)

**Additional context**
working on it.

[2020-02-17 15:37] kushthedude commented on #4107
Who told this is available to roll out.

[2020-02-17 15:37] #4107 closed

[2020-02-17 17:44] #4103 closed

[2020-02-17 18:47] maze-runnar opened #4113 "horizontal buttons are overflowing in mobile-view"
**Describe the bug**
![Screenshot from 2020-02-18 00-08-11](https://user-images.githubusercontent.com/56407566/74679509-06669180-51e4-11ea-898a-a1ec18fdd5b0.png)

**Additional context**
working on it.

[2020-02-18 08:02] adrijshikhar commented on #4001
when I add a speaker it throws an error that something went wrong.
i checked the network tab, it says `status code : 422 UNPROCESSABLE ENTITY`.
i only entered the required fields.
i will try with all entries.

[2020-02-18 08:04] adrijshikhar commented on #4001
with all entries it worked. thanks

[2020-02-18 15:28] kushthedude opened #4115 "Move to Zeit Now from Netlify for PR Deployments"

[2020-02-19 03:14] mariobehling opened #4117 "Implement alternative to in-page event burger menu icon on mobile"
Currently on event pages the menu of the event info is converted to a burger menu for n mobile views.

This is the second burger menu and users have to click to see Options.

Please implement a better alternative with an in page menu that can be accessed without additional clicks.

![Screenshot_20200219_110702_com android chrome](https://user-images.githubusercontent.com/1583873/74798501-e41a6400-

[2020-02-19 03:16] mariobehling opened #4118 "Ticket table on public event page not fully responsive"
On the public event page the ticket table is not adapted fully to mobile screens. Please implement the table for a good mobile user experience.
![Screenshot_20200219_110645_com android chrome](https://user-images.githubusercontent.com/1583873/74798652-46736480-5309-11ea-8c11-e21942e3a9a3.jpg)

[2020-02-19 03:32] snitin315 commented on #4118
Duplicate #3812

[2020-02-19 07:17] kushthedude commented on #4118
Duplicate of #3511

[2020-02-19 07:17] #4118 closed

[2020-02-19 07:17] kushthedude commented on #3812
Duplicate of #3511

[2020-02-19 07:17] #3812 closed

[2020-02-19 07:38] kushthedude opened #4119 "Application not building"
Application not building on local after updating branch with upstream

[2020-02-19 09:06] #4119 closed

[2020-02-19 12:00] maze-runnar commented on #4117
@mariobehling  any thoughts about this alternative  -
![Screenshot from 2020-02-19 17-29-55](https://user-images.githubusercontent.com/56407566/74832540-8ce2b680-533d-11ea-8331-33694a558424.png)

[2020-02-19 12:41] maze-runnar commented on #4117
@kushthedude is this kind of alternative will be good or not? Adding icons in top menu and adding pop-up info to them.

![Screenshot from 2020-02-19 18-03-39](https://user-images.githubusercontent.com/56407566/74835109-b05c3000-5342-11ea-9d76-4a997c8811b8.png)

[2020-02-19 12:42] kushthedude commented on #4117
Doesnt match our styling

[2020-02-19 12:42] maze-runnar commented on #4117
https://github.com/fossasia/open-event-frontend/issues/4117#issuecomment-588188709
i am saying like this one.

[2020-02-19 12:43] maze-runnar commented on #4117
this was just like an example.

[2020-02-19 13:02] mohitm15 commented on #4000
@adrijshikhar Yes

[2020-02-19 14:14] AyanChoudhary commented on #4003
@codewithrikon are you still working on this? If not I would like to do this.

[2020-02-19 14:16] snitin315 commented on #4003
@AyanChoudhary Therre is No sign of work done , you can go ahead with this.

[2020-02-19 16:11] AyanChoudhary commented on #4003
Can you help me with reproducing this error? I am not able to find the guest order form.

[2020-02-19 16:14] snitin315 commented on #4003
1. Got to  Login
2. Click on forgot password

[2020-02-19 16:17] AyanChoudhary commented on #4003
It opens in the same window. Is this error browser specific?

[2020-02-19 16:18] kushthedude commented on #4003
Without login, order tickets in the popup click forgot password.

On Wed, 19 Feb, 2020, 21:47 Ayan Choudhary, <notifications@github.com>
wrote:

[2020-02-19 16:20] AyanChoudhary commented on #4003
Did that. But the effect is the same. No new window appears.

[2020-02-19 16:24] maze-runnar commented on #4117
@kushthedude please tell if it is ok to create a PR for this issue or not With these changes ?

[2020-02-19 16:25] kushthedude commented on #4117
Use tabbed navigation and check how it looks

On Wed, 19 Feb, 2020, 21:54 Sundaram Dubey, <notifications@github.com>
wrote:

[2020-02-19 16:25] maze-runnar commented on #4117
ok

[2020-02-19 16:34] AyanChoudhary commented on #3790
I would like to work on this issue

[2020-02-19 16:35] snitin315 commented on #3790
Please claim one issue at a time.

[2020-02-19 16:42] maze-runnar commented on #4117
![Screenshot from 2020-02-19 22-11-34](https://user-images.githubusercontent.com/56407566/74854108-deeb0280-5364-11ea-9c16-b7e1d8cb8205.png)
![Screenshot from 2020-02-19 22-11-41](https://user-images.githubusercontent.com/56407566/74854120-e1e5f300-5364-11ea-8918-328ef218bc43.png)

[2020-02-19 16:42] maze-runnar commented on #4117
@kushthedude is it ok?

[2020-02-19 16:58] maze-runnar commented on #4117
@kushthedude tabbed navigation is looking cool but @mariobehling has stated in issue "Please implement a better alternative with an in page menu that can be accessed without additional clicks."
 That is souding confusing with this implementation.

[2020-02-19 17:25] AyanChoudhary commented on #4003
The issue is still there but surprisingly it wasn't coming up in my firefox, but is there in chrome

[2020-02-19 19:05] kushthedude commented on #4117
https://semantic-ui.com/collections/menu.html . See pop-up menu in here. Default tab should show current location and pop-up should contain other locations

[2020-02-20 05:07] xobs opened #4124 "Email Confirmation: Client thinks it's a phishing link"
**Describe the bug**
In order to verify an account, the system sends out a confirmation email with a link.  The user is supposed to click this link in order to match the address with the account.  However, the text of the link and the actual link itself do not match, and the actual link goes to a different domain from the originating address.

**To Reproduce**
Steps to reproduce the behaviour:
1.

[2020-02-20 05:32] iamareebjamal commented on #4124
Same as https://github.com/fossasia/open-event-server/issues/6654

@mariobehling Need to change the sendgrid setting of tracking https://sendgrid.com/docs/ui/account-and-settings/tracking/

[2020-02-20 05:41] #4113 closed

[2020-02-20 11:17] maze-runnar commented on #4117
that is not looking good and also need a click too for mobile view, tabbed navigation is better than that, and as it is everywhere used in the application.

[2020-02-20 11:18] maze-runnar commented on #4117
And also sometimes popup doesn't work and needs a page refresh.

[2020-02-20 11:45] maze-runnar commented on #4117
@kushthedude, what i should do next??

[2020-02-20 11:46] maze-runnar commented on #4117
I think this is better..

[2020-02-20 16:02] kushthedude opened #4126 "Docker Image is failing"
Docker Image is failing to build.
cc: @iamareebjamal
<img width="772" alt="Screenshot 2020-02-20 at 9 31 55 PM" src="https://user-images.githubusercontent.com/44091822/74954024-75ccc300-5428-11ea-94ca-c13e2ede4524.png">

[2020-02-20 16:05] iamareebjamal commented on #4126
Random errors in npm registry. Not our fault

[2020-02-20 16:05] #4126 closed

[2020-02-20 16:34] snitin315 opened #4127 "Ticket Dashboard: can drag and interchange columns of Attendees table"
**Describe the bug**

Able to drag and interchange columns of  Attendees table.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Event Dashboard > Tickets > Attendees
2. Try to drag and interchange columns
3. See error

**Expected behaviour**

Columns Should be fix

**Screenshots**

![captured](https://user-images.githubusercontent.com/46647141/74957312-61d79000-542d-11ea-8887-576a2441

[2020-02-20 18:35] kushthedude commented on #4127
Not an issue, rather should be viewed as an feature columns can be interchanges for better viewing experience.

[2020-02-20 18:35] #4127 closed

[2020-02-23 14:37] imrishabh18 commented on #3688
Close this PR the issue is already fixed.

[2020-02-23 14:45] snitin315 commented on #3688
First this is an issue not PR. Second provide reference where it fixed?

[2020-02-23 20:22] imrishabh18 commented on #3688
@snitin315  Yup, sorry for the mistake. Reference https://github.com/fossasia/open-event-frontend/pull/3720

[2020-02-23 20:37] kushthedude commented on #3688
Read the issue description again!

On Mon, 24 Feb, 2020, 01:52 Rishabh Gupta, <notifications@github.com> wrote:

[2020-02-26 22:33] Artistic18 commented on #4030
Is this issue still open?

[2020-02-28 07:30] #4052 closed

[2020-02-28 08:47] snitin315 commented on #3876
Looking into it.

[2020-03-02 15:25] mariobehling opened #4163 "Organizer: Scheduler not adjusting font color when background is bright"
The font color of the scheduler is always white. Expected would be that it was black if the background color was bright.

![Screenshot from 2020-03-02 16-24-21](https://user-images.githubusercontent.com/1583873/75689995-6f4d0f80-5ca2-11ea-9fa6-7082fb889409.png)

[2020-03-02 15:32] mariobehling opened #4164 "Wizard Step3/Scheduler: Rooms are not sortable"
Rooms cannot be sorted according to the location of moved up and down manually resulting in a confusing order.

Please implement the sorting option with an up/down arrow option same as it is done for ticketing in wizard step 1.

![Screenshot from 2020-03-02 16-31-13](https://user-images.githubusercontent.com/1583873/75690563-5ee96480-5ca3-11ea-94ef-bcfc1afc0ed9.png)

[2020-03-02 15:34] mariobehling commented on #4164
The schedule also displays them in a completely different order.

![Screenshot from 2020-03-02 16-34-33](https://user-images.githubusercontent.com/1583873/75690796-be477480-5ca3-11ea-8f71-864b72a2f948.png)

[2020-03-02 15:37] mariobehling opened #4165 "Scheduler: Search box missing"
In the previous version of the scheduler there was a simple search box to search for track, session title and speaker name. This search box is no longer there. For events with a lot of sessions it is important to have this box.

![Screenshot from 2020-03-02 16-36-02](https://user-images.githubusercontent.com/1583873/75691034-0c5c7800-5ca4-11ea-9c7c-bdd9ec3d9582.png)

[2020-03-02 15:45] snitin315 commented on #4165
Looking into it.

[2020-03-02 15:46] mariobehling opened #4166 "Scheduler: Implement scroll bar to always show "calendar""
Currently if a user scrolls events on the left hand side, the calendar on the right will disappear. It is difficult to drag and drop a session from the left into the main calendar view therefore. Please implement a scroll bar view on the left to keep the calendar showing at all times in the scheduler.

![Screenshot from 2020-03-02 16-44-56](https://user-images.githubusercontent.com/1583873/7569213

[2020-03-02 15:54] mariobehling opened #4167 "Scheduler: Page reloads for each event added/deleted + Changing two events quickly results in Error Page"
For each event that gets added or deleted the page refreshes. Expected: Only parts of the page that are changed should be loaded instead of the entire page.

If the user clicks two events that he/she wants to delete an error page appears.

![Screenshot from 2020-03-02 16-52-42](https://user-images.githubusercontent.com/1583873/75692889-7ece5780-5ca6-11ea-833d-e4b84daa4e43.png)

[2020-03-02 16:18] mariobehling opened #4168 "Scheduler: Making lots of edits results in loss of scheduled sessions in calendar"
When adding a lot of sessions quickly at one point there is a reload and a lot of sessions are suddenly not scheduled anymore.

Even adding only one session into the schedule sometimes is not stored.

![Screenshot from 2020-03-02 17-17-15](https://user-images.githubusercontent.com/1583873/75695074-d0c4ac80-5ca9-11ea-85b3-7e03d93ad51f.png)

[2020-03-02 19:57] mariobehling opened #4171 "Scheduler: Sessions disappear"
Sessions disappear when the page is reopened or refreshed, e.g. all Blockchain sessions in the FOSSASIA Summit event are not showing up on the scheduler or on the left-side "to be scheduled" sidebar of the scheduler.

![Screenshot from 2020-03-02 20-55-49](https://user-images.githubusercontent.com/1583873/75712569-6d964280-5cc8-11ea-8f87-db8ecff670c2.png)

[2020-03-03 21:15] iamareebjamal opened #4174 "Log every possible error and warning and improve error handling"
The error reporting story of Open Event ecosystem is a sad state. In both server and frontend, generic errors are just caught and shown to the user who are presented with `HTTP POST 409 https://akldjflksdfl...` or `An unexpected error occured`. No one is none the wiser. Devs cannot tell what was wrong and what caused the system to error out because there are no logs on both frontend or server. Ord

[2020-03-04 00:15] iamareebjamal commented on #4171
32 sessions got assigned a starts_at but no ends_at, hence they disappeared from both unscheduled and scheduled sessions. Reason X why allowing arbitrary PATCHes from client side is a bad idea. Anyway, unscheduled sessions should show sessions with either starts_at or ends_at null till it is known why they were assigned null ends at. This way at least they can be recheduled

[2020-03-04 00:15] #4171 closed

[2020-03-04 08:49] mariobehling opened #4180 "Scheduler: Sessions showing wrong length when dragging from unscheduled sessions (and shorter one on reload)"
Sessions that are dragged from the unscheduled sessions list are showing a longer time than they are actually are and they show a short time when the page is reloaded.

Session is dragged and dropped.
![Screenshot from 2020-03-04 09-43-41](https://user-images.githubusercontent.com/1583873/75861212-5c028700-5dfd-11ea-886e-0ec89af9146f.png)

Session is shorter after reload.
![Screenshot from 2020-03