[2020-09-03 18:58] #4962 closed

[2020-09-03 21:03] Neilblaze commented on #4961
Please assign me this issue @mariobehling !

[2020-09-04 02:14] #4961 closed

[2020-09-04 04:26] mariobehling opened #4971 "Browse Events: Map not displayed"
There is an error loading the map on browse events.

Compare https://eventyay.com/explore

![Screenshot from 2020-09-04 06-24-30](https://user-images.githubusercontent.com/1583873/92199434-76362400-ee77-11ea-8aff-6568ca384537.png)

[2020-09-04 04:28] iamareebjamal commented on #4971
This is Google Maps which we are not using right now. And there is no alternative to a location picker. So only urgent solution can be to remove it

[2020-09-04 04:36] mariobehling opened #4972 "Footer: Open Internal Links in same tab and change text"
Internal links on the footer are opening a new tab. Expected: They should open in the same tab:

Column 1
* Pricing -> link to /pricing

Column 3
* Browse Local Events -> Browse Events
* Get the eventyay App -> Attendee App
* Organizer App -> Organizer App

![Screenshot from 2020-09-04 06-29-01](https://user-images.githubusercontent.com/1583873/92199862-91556380-ee78-11ea-8c64-b513a4615202.png)

[2020-09-04 04:37] snitin315 commented on #4972
I will fix it.

[2020-09-04 04:40] snitin315 commented on #4609
Regarding `custom`, we can add an `other` option in the dropdown and allow the user to fill the corresponding URL.

[2020-09-04 05:15] mariobehling commented on #2302
Use of License of Event Data & Content on Wizard step 2 is still missing to finalize this issue.

[2020-09-04 06:01] Raunaksingh100 opened #4975 "Grey colour visible in the below of the event in mobile view"
**Describe the bug**
The white space or grey colour  visible in the below of the event  and this bug only visible in the mobile view see in the screenshot given  below for the better understanding

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://eventyay.com/e/19128bdf'
2. Click on 'inspect element '
3. See error

**Screenshots**
![open event front](https://user-images.githubu

[2020-09-04 06:08] #4972 closed

[2020-09-04 06:09] Raunaksingh100 commented on #4975
i am working on this issue

[2020-09-04 06:30] iamareebjamal commented on #4922
Incomplete so reopening

[2020-09-04 06:30] mariobehling opened #4978 "Speaker Profile Image vs. User Profile Image Should be Different"
Currently when a user submits a speaker profile for an event the system uses the account profile image. In an earlier version this was different. A speaker profile can be different from the user account profile image (even though it could be the same, it does not have to be).

Reasoning: There are different kinds of events, some formal, some less formal. A speaker might want to submit different im

[2020-09-04 06:42] iamareebjamal commented on #4978
AFAIK all of this is still true, we just choose the speaker image to be account image as default. Speakers can still edit it and it is different for all event. If there is a need to remove the account photo as the default image, it can be done but it'll be much worse user experience in my opinion.

[2020-09-04 06:47] mariobehling commented on #4971
Understood. I would say, then we have it rather removed. Agree.

[2020-09-04 06:48] mariobehling commented on #4978
Ahh ok. So, I misunderstood the way it works. All good then. Thank you!

[2020-09-04 06:48] #4978 closed

[2020-09-04 06:50] snitin315 commented on #4971
I will send a PR 👍🏻

[2020-09-04 07:03] iamareebjamal commented on #4971
I'm half done

[2020-09-04 07:14] snitin315 commented on #4971
Then go ahead 👍🏻

[2020-09-04 07:37] iamareebjamal commented on #4849
Sponsors section and othere are not linked. And the linked sections don't work from other URLs so reopening

[2020-09-04 07:38] #4971 closed

[2020-09-04 08:23] shantanumallik commented on #4849
This is possibly due to the sponsors section being added at a later date. I am looking into this issue and will push a fix shortly.

[2020-09-04 11:34] #2302 closed

[2020-09-04 12:47] mariobehling opened #4982 "Wizard Step 1: Spelling"
Should be:
You have linked your Stripe account successfully. Click here to disconnect your account.

[2020-09-04 12:53] mariobehling opened #4983 "Wizard Step 1 Basic Details: Enhance Image Display and Info"
Once images are uploaded it is difficult to understand where images are displayed. Please make the following changes therefore.
* [ ] Switch images - on the left the background image, on the right the logo
* [ ] Use width area as follows 75% for the background image, 25% for the logo
* [ ] Below the images show a small info: "Background Image", "Logo"

![Screenshot from 2020-09-04 14-49-51](https:

[2020-09-04 13:24] snitin315 commented on #4982
Looks simple and straight forward. I will send a fix.

[2020-09-04 13:36] #4982 closed

[2020-09-04 15:19] maze-runnar commented on #4741
I have uses default Semantic UI table, no extra css. This is from their side.

[2020-09-04 18:45] maze-runnar commented on #4716
the problem arises on account section of user because, <Widgets::Forms::ImageUpload> is set in 3 wide field.
If we move this field to center, or go more column then cropper is correctly positioned

[2020-09-05 05:38] bsanket16 opened #4989 "Email verification message on successful verification of users"
**Describe the bug**
The email verification message on successful verification says, 'Your email has been verified successfully! Please login to continue.'

**To Reproduce**
Steps to reproduce the behaviour:
1. Click on the email verification link sent to your mail address

**Expected behaviour**
case 1: If user verifies email after logging in the system - The message should not contain, 'Please l

[2020-09-05 07:57] amanprateek123 commented on #4001
If the issue is not assigned to anyone yet,then please assign this issue to me.I want to contribute in open source. And, since I am new to this repo, please guide me through

[2020-09-05 07:58] amanprateek123 commented on #4956
@bsanket16  If the issue is not assigned to anyone yet,then please assign this issue to me.I want to contribute in open source. And, since I am new to this repo, please guide me through

[2020-09-05 08:00] amanprateek123 commented on #2960
@mariobehling  If the issue is not assigned to anyone yet,then please assign this issue to me.I want to contribute in open source. And, since I am new to this repo, please guide me through

[2020-09-05 08:02] amanprateek123 commented on #3565
@Batey96  If the issue is not assigned to anyone yet,then please assign this issue to me.I want to contribute in open source. And, since I am new to this repo, please guide me through

[2020-09-05 08:19] mariobehling opened #4992 "Search: Location search shows a date"
When a user searches for a location the display is correct. However, it shows a date field for the current day, that has no purpose.

Please delete the field.

![Screenshot from 2020-09-05 10-17-29](https://user-images.githubusercontent.com/1583873/92301128-2c296d00-ef61-11ea-8f87-a7034259d182.png)

[2020-09-05 08:19] mariobehling commented on #2232
Closing this as the design has been changed.

[2020-09-05 08:19] #2232 closed

[2020-09-05 08:21] mariobehling commented on #4992
Closing as it might have been a filter setting. Not appearing anymore.

[2020-09-05 08:21] #4992 closed

[2020-09-05 08:27] mariobehling opened #4993 "Search: Show Event Name Box as standard search box instead of location box and provide filter option for online, location based and mixed event"
Currently the standard search box for events on https://eventyay.com/explore is "location". Expected: Standard Search box should be for event name.

Please implement:
* [ ] Show a standard search box "Event Name" above the filter box (instead of Location)
* [ ] Provide an option to choose between "Mixed Event", "Online", "Location based" and  similar to areas like `> Date`
* [ ] When location base

[2020-09-05 08:40] mariobehling opened #4994 "Frontpage Search: Show search results on separate page and simplify start page search box"
The start page search currently filters results in the featured event area.

Expected is:
* When performing the search, open results in the search page at https://eventyay.com/explore

Furthermore simplify the start page search:
* Only show search box for "Event Name" and "Search"
* Do not show location box
* Do not show date filter on front page

![Screenshot from 2020-09-05 10-35-39](https://use

[2020-09-05 10:20] amanprateek123 commented on #4222
@iamareebjamal  If the issue is not assigned to anyone yet,then please assign this issue to me.I want to contribute in open source. And, since I am new to this repo, please guide me through

[2020-09-05 10:27] #4876 closed

[2020-09-05 10:28] iamareebjamal commented on #4222
Go ahead

[2020-09-05 10:51] amanprateek123 commented on #4222
@iamareebjamal  Thank you for assigning me. But, can u please give me some guidence as I am new to this repo.

[2020-09-05 11:35] mariobehling opened #4995 "Footer: Change Event Blog URL"
Change Footer "Event Blog" entry to:
* "Event Blog" -> "Blog"
* URL: https://blog.eventyay.com

![Screenshot from 2020-09-05 13-33-59](https://user-images.githubusercontent.com/1583873/92304268-ba5f1c80-ef7c-11ea-843f-1b0cc6a8bc7c.png)

[2020-09-05 12:24] mariobehling opened #4996 "Schedule: Calendar View Errors"
After the last update the calendar reloads nicely on timezone changes. There are few issues with the display though.

* On two day events, it only displays one date as "day", "day"
* The first day does not display the view of sessions below each other
![Screenshot from 2020-09-05 14-21-18](https://user-images.githubusercontent.com/1583873/92304992-52f89b00-ef83-11ea-8887-7eac16693e81.png)
* Loadin

[2020-09-05 12:32] iamareebjamal commented on #4996
That is not day switcher, it's view switcher. Day switcher is on left. First view is timeline view, second is default (resource agenda), then it's multi-day view and week view

[2020-09-05 12:40] AbhipsaGuru1012 commented on #4995
@mariobehling Hi, can I work on this issue?

[2020-09-05 12:42] iamareebjamal commented on #4995
Go ahead

[2020-09-05 12:47] AbhipsaGuru1012 commented on #4995
Thank you. One quick question- do I need to make changes in the footer-main.hbs (https://github.com/fossasia/open-event-frontend/blob/development/app/templates/components/footer-main.hbs) file only?

[2020-09-05 13:45] #4995 closed

[2020-09-05 14:52] mariobehling commented on #4996
Ok, I got confused, because there is a 2 x day.

It is more logic in the "schedule".

![Screenshot from 2020-09-05 16-51-01](https://user-images.githubusercontent.com/1583873/92307634-09ff1180-ef98-11ea-9ee7-add6ca3acb97.png)

I also see that switching the days with the buttons on the left results in the second day starting at 0:00

![Screenshot from 2020-09-05 16-49-30](https://user-images.github

[2020-09-05 14:56] mariobehling commented on #4996
Ok, I got confused, because there is a 2 x day.

It is more logic in the "schedule".

![Screenshot from 2020-09-05 16-51-01](https://user-images.githubusercontent.com/1583873/92307634-09ff1180-ef98-11ea-9ee7-add6ca3acb97.png)

I also see that switching the days with the buttons on the left results in the second day starting at 0:00

![Screenshot from 2020-09-05 16-49-30](https://user-images.github

[2020-09-05 17:12] shantanumallik commented on #4849
I have updated the code to incorporate all the modifications that were made between PR generation and merge. All the errors seem to have been resolved.  Yet, the issue with the anchor tags not working when coming from other URLs remains. This has to do with the way ember handles anchor tags when transitioning from one view to another. This is a pertaining issue in the production version of the cod

[2020-09-06 01:53] iamareebjamal commented on #4849
I'll search what's the better option

[2020-09-06 14:45] Creatoon commented on #4994
hey @mariobehling can i work on this , if so then please guide me how do i gonna reach this?

[2020-09-06 14:49] Creatoon commented on #4993
@mariobehling  hello sir , i wanna work on this bug , please guide me how can i reach this.

thank you

[2020-09-06 16:14] iamareebjamal commented on #4993
Please take one bug at a time and only those which you think you can solve

[2020-09-06 16:14] iamareebjamal commented on #4994
Unfortunately, we don't have the bandwidth to guide on how to solve a particular bug. If we did, we would have done it ourselves

[2020-09-06 17:02] Creatoon commented on #4993
Yes sir,  I want to work on this issue only.
May I?

[2020-09-06 17:21] iamareebjamal commented on #4993
Go ahead

[2020-09-07 06:53] iamareebjamal commented on #4922
Checked. Working as expected

[2020-09-07 06:53] #4922 closed

[2020-09-07 07:38] amanprateek123 commented on #4975
@Raunaksingh100  You should change the height of image to 100%. I think , it will solve the UI disturbance. You can check it by increase the height in the inspection mode.

[2020-09-07 08:06] Raunaksingh100 commented on #4975
No,,
I fixed with this method  but the mentor says it's take so, many of media queries to fixed this simple issue ,

So , I fixed with margin-bottom
Read the conversation in my pr

[2020-09-07 08:22] Raunaksingh100 commented on #4975
@amanprateek123 i know this bug is fixed  by this method, i am  just discussing this issue with mentor and i forget to update pr
here my pr  #4976

[2020-09-07 09:49] maze-runnar commented on #4541
@iamareebjamal , Editing is working fine for me. No such problem as mentioned in the issue.
![Screenshot from 2020-09-07 15-18-41](https://user-images.githubusercontent.com/56407566/92374566-896a1d80-f11d-11ea-9b4b-b5e5ca56e423.png)

[2020-09-07 10:07] amanprateek123 commented on #4975
@Raunaksingh100 ok great.Sorry for misunderstanding. Can you please suggest me some issues in this project?

[2020-09-07 10:09] maze-runnar commented on #4542
the above-mentioned formatting error is due to there is no line break option in the text editor. @iamareebjamal  should I add a line break option in the editor?

[2020-09-07 10:25] iamareebjamal commented on #4542
Yes

[2020-09-07 10:26] iamareebjamal commented on #4542
But please focus on only high priority bugs so that we can move forward with current milestone and come back later to old milestones.

[2020-09-07 10:27] maze-runnar commented on #4542
Which issue next?

[2020-09-07 10:29] iamareebjamal commented on #4542
You can add delete option in this. Button is already added by me. Only action needs to be added. With a confirmation dialog https://github.com/fossasia/open-event-frontend/issues/4596

[2020-09-07 11:42] snitin315 commented on #4957
Working on it.

[2020-09-07 12:20] #4541 closed

[2020-09-07 12:35] iamareebjamal commented on #4957
Please complete the previous work from past milestones first. Or else they'll be dragged along the week.

[2020-09-07 13:46] mariobehling opened #4999 "Public Event Pages: Speakers Page Link even though No Speakers are Visible on Page"
There is a speakers page on some events even if there is no speaker defined, e.g. compare https://eventyay.com/e/5ac8e4d9/speakers and https://eventyay.com/e/c310c6ba.

Expected:
* Only show "Speaker Link" if speakers are defined
* Only show speaker page once accepted or confirmed sessions exist.

![Screenshot from 2020-09-07 15-45-02](https://user-images.githubusercontent.com/1583873/92394101-385

[2020-09-07 18:30] mariobehling opened #5003 "Public Schedule: Ensure time are in correct position in different screen resolutions"
The time is not displayed correctly in different screen resolutions.

![Screenshot from 2020-09-07 19-16-49](https://user-images.githubusercontent.com/1583873/92408888-183b6200-f13f-11ea-9513-8cb656c966cc.png)

Follow up to https://github.com/fossasia/open-event-frontend/pull/5002#issuecomment-688445164

[2020-09-07 19:51] mariobehling opened #5004 "Pricing table is missing some fields"
Compare the pricing table here https://docs.google.com/spreadsheets/d/1WTgOEtqmeGl-p2HCsBBNKJWC8Z_owwN8hpNoggezL4Y/edit#gid=0

[2020-09-07 20:12] mariobehling commented on #4741
Thanks for the update to the pricing page. I see that you added the page title and heading "Pricing" on the image instead of in the code. Please correct this and implement the heading in the code similar to the public event pages. As a matter of fact you could just copy code from elsewhere to achieve this. Thank you.

[2020-09-07 21:44] NirmalKumarJoshi commented on #4994
Hey @mariobehling Please assign this to me. I would like to work on it :)

[2020-09-08 04:29] iamareebjamal commented on #5003
Fixing it

[2020-09-08 04:31] iamareebjamal commented on #4994
Go ahead

[2020-09-08 04:45] #4989 closed

[2020-09-08 04:46] #4956 closed

[2020-09-08 04:50] rolandturner opened #5006 "Schedule display handles timezones inconsistently"
**Describe the bug**
When viewing an event schedule with the local timezone selected, times inside the event boxes are in local time, while times to the left of the event boxes are in the event's timezone.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://eventyay.com/e/8fa7fd14/schedule?date=2020-09-09
2. Click on the timezone pulldown to select a different timezone. In this ca

[2020-09-08 04:57] iamareebjamal commented on #5006
Hi, we have reverted back to remove the timing on left. We'll be implementing it correctly shortly. Revert should be live on production within an hour

[2020-09-08 06:55] mariobehling opened #5010 "Organizer Events Dashboard: Add status "Withdrawn" into sessions and speakers column in table"
On the events dashboard at https://eventyay.com/events/live in the speakers and sessions column the status "Withdrawn" and "Canceled" are missing. Please add them. Ensure it is also working on the other tabs like Draft etc.

![Screenshot from 2020-09-08 08-53-20](https://user-images.githubusercontent.com/1583873/92442960-0f837400-f1b1-11ea-816f-d2728dbdf0a4.png)

[2020-09-08 06:58] #5004 closed

[2020-09-08 07:04] iamareebjamal commented on #5010
Canceled is missing as well

[2020-09-08 07:08] maze-runnar commented on #4596
trying it.

[2020-09-08 08:39] mariobehling opened #5013 "Wizard Form: Simplify design"
Please simplify the design of the wizard as follows:

Wizard Step 1
* Simplify page by taking out 4 horizontal lines as shown below

![screencapture-open-event-frontend-git-fork-iamareebjamal-online-events-eventyay-vercel-app-create-2020-09-08-10_07_32](https://user-images.githubusercontent.com/1583873/92453237-4bbdd100-f1bf-11ea-886a-eabe65245ac1.png)

Wizard Step 3
* Add Custom Form Field - demo

[2020-09-08 09:02] mariobehling opened #5014 "Wizard Step 1: Move and simplify "Event Types""
In Wizard Step 1 please

1. Move "Event Types" right below "Event Name" and above "Venue/Location".
![Screenshot from 2020-09-08 11-00-27](https://user-images.githubusercontent.com/1583873/92455949-98ef7200-f1c2-11ea-9e02-1eb2b8e484c6.png)

2. Simplify the forms by moving them next to each other. There is also no need to have a box description outside of the box.
![Screenshot from 2020-09-08 10-54

[2020-09-08 09:39] rolandturner commented on #5006
OK, that's working, thanks,

[2020-09-08 09:44] rolandturner opened #5015 "For online only events, use local timezone by default when displaying schedule"
**Is your feature request related to a problem? Please describe.**
At present it's necessary for the user to change timezones to view the schedule in their local timezone. This makes sense for in-person only events (because the user is presumably planning to travel to the venue, in which case they'll be scheduling in the venue's local timezone), some sort of sense for hybrids (because it's not cle

[2020-09-08 10:12] mariobehling opened #5017 "Wizard Step 1 / Public Event Page: Description Cannot add Links"
For spam reasons I think we did not support links in the event description previously. However, it turns out that it is important for events to be able to add links into the description.

Therefore please provide the option to add links and linkify them in the public event page.

![Screenshot from 2020-09-08 12-10-00](https://user-images.githubusercontent.com/1583873/92463701-71050c00-f1cc-11ea-9a

[2020-09-08 10:32] mariobehling opened #5018 "Footer Pages Not Editable through Admin UI"
There are four footer pages, that were previously accessible and editable through the UI at https://eventyay.com/admin/content/pages. Please provide access and edit options here again.

Pages concerned are:
* Terms and Conditions
* Contact
* Refund Policy
* Privacy

![Screenshot from 2020-09-08 12-32-23](https://user-images.githubusercontent.com/1583873/92465787-5da77000-f1cf-11ea-93d7-069f6b7cd93

[2020-09-08 11:58] maze-runnar commented on #4596
@iamareebjamal, i am asking about an alternate implementation of delete. Click on edit and then remove that field -
![Screenshot from 2020-09-08 17-27-32](https://user-images.githubusercontent.com/56407566/92473812-bc351400-f1f8-11ea-81dd-176b4ed8ee06.png)

[2020-09-08 12:00] maze-runnar commented on #4596
I want this kind of logic, it's working with popObject but not with removeObject.
[code]

[2020-09-08 12:13] iamareebjamal commented on #4596
You have to use `deleteRecord` And you cannot edit args. They are read only

[2020-09-08 14:16] mariobehling opened #5019 "Contact Page: Add relevant information"
Add all relevant information to contact page at https://eventyay.com/contact as outlined [here](https://docs.google.com/document/d/1w9NIkXQJDTs0fvZmHdD2pjm-NnhC5Ys7eFmqgfGmZ5Q/edit#).

[2020-09-08 18:05] shashankcoc opened #5020 "Refund Policy blank"
Add some relevant content inside the Refund Policy --> https://open-event-frontend.now.sh/refunds

[2020-09-08 19:22] mariobehling commented on #5020
Addressed here https://github.com/fossasia/open-event-frontend/issues/5018

[2020-09-08 19:22] #5020 closed

[2020-09-08 19:38] AdityaArunSharma commented on #4817
The link that you have provided shows this
![Screenshot from 2020-09-09 01-06-56](https://user-images.githubusercontent.com/54372877/92520263-f32b1a00-f238-11ea-9ee2-964e93387d63.png)

Is this issue still open? Can I work on it?

[2020-09-08 23:20] iamareebjamal commented on #5018
Duplicate of #4564

[2020-09-08 23:20] #5018 closed

[2020-09-08 23:35] #4564 closed

[2020-09-09 05:58] maze-runnar commented on #5017
working on it.

[2020-09-09 06:58] mariobehling opened #5022 "Add Gitter and Telegram to footer and admin pages"
Add Telegram and Gitter.im to footer and admin pages here https://eventyay.com/admin/content

![Screenshot from 2020-09-09 08-56-38](https://user-images.githubusercontent.com/1583873/92565115-7ae54880-f27a-11ea-891f-617034898cb3.png)

[2020-09-09 07:23] jyotiranjankalta81 commented on #5022
please give me this project i can do it.

[2020-09-09 08:48] maze-runnar commented on #5022
we dont assign issues, just claim one and try to solve it.

[2020-09-09 09:02] iamareebjamal commented on #4611
Some points are remaining so reopening

[2020-09-09 09:37] iamareebjamal commented on #5015
This is now implemented and will be deployed in an hour, but you'll have to first mark the event online or mixed using the new option in the event wizard.

![image](https://user-images.githubusercontent.com/3874064/92582088-265bc080-f2ae-11ea-8a34-4a5751da8c7b.png)

[2020-09-09 09:42] iamareebjamal commented on #5019
Should this be closed now @mariobehling

[2020-09-09 09:51] #5015 closed

[2020-09-09 11:03] progmatic-99 commented on #5022
The telegram link should point to the fossasia group or eventyay ??

[2020-09-09 11:17] iamareebjamal commented on #5022
eventyay

[2020-09-09 15:26] kpfleming opened #5028 "Cookie policy top bar disappears quickly"
When visiting eventyay.com, with no existing cookies in the browser (for example in an incognito or private window), the cookie policy top bar is displayed... but only for a short time, and then the page refreshes itself and the top bar disappears. Sometimes the bar is visible for 3-5 seconds, sometimes only for one second. In either case, it is not displayed long enough for the user to read and u

[2020-09-09 18:19] gupta-piyush19 commented on #5022
@iamareebjamal I want to add this feature, please allow me to do and also please provide the link where the telegram icon would redirect.

[2020-09-09 18:25] iamareebjamal commented on #5022
https://t.me/eventyay

[2020-09-09 18:25] #4957 closed

[2020-09-09 18:42] gupta-piyush19 commented on #5022
I think this link is not working, please do check if there is any error from my side or the link is broken.

[2020-09-09 18:44] iamareebjamal commented on #5022
It's working

[2020-09-09 18:45] #4609 closed

[2020-09-09 18:46] #2960 closed

[2020-09-09 18:47] #4887 closed

[2020-09-09 18:55] mariobehling opened #5036 "Refund Policy: Only show if organizer has defined refund policy and don't prefill"
1. Refund policy should not be prefilled in the wizard step 2. There should be no entry "All sales are final. No refunds shall be issued in any case."

2. The refund button on the public ticket payment form should only appear if the organizer has filled in info.

![Screenshot from 2020-09-09 20-55-07](https://user-images.githubusercontent.com/1583873/92641282-cb8e8d00-f2de-11ea-9cbf-d2282b6b70a6.p

[2020-09-09 20:34] mariobehling opened #5037 "Admin: Add Action Column to send Password Reset and Activation link to users"
Sometimes users contact us and say, they have not received the account verification or password reset link.

Therefore on https://eventyay.com/admin/users/ please implement the following:
* add a column "Actions" with
  * a button to send a password reset email to the user
  * Only for Unverified Users show a button to resend the "Verification Email"

![Screenshot from 2020-09-09 22-31-12](https:/

[2020-09-09 21:05] dsnehasish74 commented on #5022
What should be the link for Gitter.im

[2020-09-09 21:17] mariobehling commented on #4960
Related to PR https://github.com/fossasia/open-event-frontend/pull/5000

The problem is that these changes always have some influence on areas that are not mentioned in the PR. I am no longer able to nullify (delete) admin social links at https://eventyay.com/admin/content, e.g. cannot delete the facebook link.

[2020-09-10 02:03] snitin315 commented on #5022
The links shouldn't be hardcoded and should be created, edited, updated by the admin only.

[2020-09-10 02:04] snitin315 commented on #5022
For more information, you can see how the Patreon link was added ->

https://github.com/fossasia/open-event-frontend/pull/4974
fossasia/open-event-server#7243

[2020-09-10 05:30] #5017 closed

[2020-09-10 07:37] snitin315 commented on #4947
I can't find the `extra details` section in the Event Dashboard, can you please share the URL?

[2020-09-10 08:03] #5019 closed

[2020-09-10 08:32] amanprateek123 commented on #5013
@mariobehling  I want to work on this issue. Please assign this issue to me.Also, as I am new to this repo, please guide me through.

[2020-09-10 08:36] snitin315 commented on #5013
@amanprateek123 Go ahead, you can find corresponding files in the `app/templates/components/forms/wizard` folder.

[2020-09-10 09:21] iamareebjamal commented on #4947
Second step in event wizard

[2020-09-10 09:22] mariobehling commented on #4652
So, here is a way, we could implement it:

- [ ] Add a button “Contact Organizers” next to “Refund button” below ticketing (only viewable by logged in users)
- [ ] Provide a contact form (dedicated page, pop-up or other suitable option / only viewable by logged in users)
- [ ] Send an email
  - [ ] to the owner and all organizers of the event
     - [ ] show all emails in “To” field, so the organi

[2020-09-10 09:54] maze-runnar commented on #4959
working on it.

[2020-09-10 09:57] maze-runnar commented on #4959
@iamareebjamal are Unpaid, Overdue, Paid, Failed, Refunding, Refunded these status are available on server side?

[2020-09-10 10:06] iamareebjamal commented on #4959
No

[2020-09-10 10:10] maze-runnar commented on #4959
So can I work on this issue right now or not.

[2020-09-10 10:25] iamareebjamal commented on #4959
You can, you'll need to add those states in the server. It is part of the same issue

[2020-09-10 12:20] mariobehling opened #5040 "Enable admins to change system roles of users from "Unverified" to "Verified""
Admins sometimes get contacted by users and there are issues beyond our control. We need to have the flexibility to change the system role. Therefore:

* Enable admins to change system roles of users from "Unverified" to "Verified" on https://eventyay.com/admin/users/.

[2020-09-10 12:40] amanprateek123 commented on #5013
Thank You @snitin315. First, I will familiar with the code and then update you soon!

[2020-09-10 12:41] mariobehling opened #5041 "Organization Group and Follow Feature"
- An organization can be one or several accounts
- The account in charge of an event is the “owner” of the organization
- Only owners are able to delete other accounts from an organization team
- Organizers can be contacted through the contact form in CC the sender should receive the same email
- All accounts that belong to an organizer will receive the email
- Replies will only be possible by ema

[2020-09-10 15:11] amanprateek123 commented on #5013
@mariobehling @snitin315  I did the given changes. But, please tell me that how can I see the Wizard 3 and Wizard 5 UI's as forward button is disabled and i couldn't enable it .

[2020-09-10 15:12] snitin315 commented on #5013
Please fill the required fields in form to enable the forward button.

[2020-09-10 15:24] amanprateek123 commented on #5013
@snitin315 Yes, I tried. But, there is a condition that I have to verify my email. and the verification link is not working.

[2020-09-10 15:34] snitin315 commented on #5013
Replace domain name with `localhost:4200` in verfication link

[2020-09-10 15:46] amanprateek123 commented on #5013
I did all the changes. Thanks for your help @snitin315 . Now,Can I make a PR for this issue?

[2020-09-10 15:48] snitin315 commented on #5013
Yes

[2020-09-10 15:54] amanprateek123 commented on #5013
@snitin Is there any template for the PR of @Fossasia?

[2020-09-10 16:03] snitin315 commented on #5013
You will see the template while creating the PR.

[2020-09-10 16:06] iamareebjamal opened #5042 "Show prefix from start in LinkInput"
The prefix remains to be `https://` for a predefined link until I start typing in the field. For example, for instagram it will be `https://` but when I start typing it becomes `https://instagram.com/`

It should be `https://instagram.com/` since the beginning.

_Originally posted by @iamareebjamal in https://github.com/fossasia/open-event-frontend/pull/5038#issuecomment-690411983_

[2020-09-10 16:07] #4960 closed

[2020-09-10 16:07] iamareebjamal commented on #5036
Fixed

[2020-09-10 16:07] #5036 closed

[2020-09-10 16:10] snitin315 commented on #5042
This is probably because we are using `observers`

[2020-09-10 16:11] iamareebjamal commented on #5042
Then the same function can be called on init. But let's move on. Enough time has been spent since last week on just 2 issues

[2020-09-10 16:18] mariobehling opened #5043 "Wizard Step 1/Public Event Page: Switched off map option still visiblta"
The map for a location is still visible even if the option has been deactivated. Please do not show the map when deactivated in the location view.
![Screenshot from 2020-09-10 18-19-05](https://user-images.githubusercontent.com/1583873/92761590-233a0080-f392-11ea-8ecd-b36f44cb55ea.png)

![Screenshot from 2020-09-10 18-16-24](https://user-images.githubusercontent.com/1583873/92761419-f5ed5280-f391-

[2020-09-10 16:25] mariobehling commented on #4888
Still need to remove the sponsor heading.

![Screenshot from 2020-09-10 18-24-44](https://user-images.githubusercontent.com/1583873/92762478-ede1e280-f392-11ea-9d71-e0a6bcb56179.png)

[2020-09-10 16:30] iamareebjamal commented on #5043
We discussed previously to remove this option in the future to reduce the complexity. Is it needed?

[2020-09-10 16:55] #5043 closed

[2020-09-10 17:13] #4888 closed

[2020-09-10 20:04] #4620 closed

[2020-09-11 13:36] hritikk7 commented on #4994
hello @mariobehling and @iamareebjamal can i work on this??

[2020-09-11 13:37] mariobehling opened #5051 "Sessions: Do not allow "Withdraw" session after session was held or when session is locked"
Sessions can be withdrawn after session was held or when session is locked.

Compare https://eventyay.com/e/8fa7fd14/session/6262
![Screenshot from 2020-09-11 15-35-44](https://user-images.githubusercontent.com/1583873/92932039-a320a300-f444-11ea-86ea-1b960ed6b347.png)

[2020-09-11 13:38] iamareebjamal commented on #4994
Yes

[2020-09-11 13:40] mariobehling commented on #4611
I think it is good enough for now and we can move to other topics. Can close it.

[2020-09-11 13:40] #4611 closed

[2020-09-11 13:43] mariobehling commented on #4805
As we changed the design of the menu I am closing this. We can follow up on this area later elsewhere.

[2020-09-11 13:43] #4805 closed

[2020-09-11 13:46] mariobehling commented on #4832
The implementation does not work for anonymous users. The linked page should be available openly on the web (without options to edit session details). Please give permissions to view this page for everyone. Therefore opening the issue.

Compare event here: https://eventyay.com/e/8fa7fd14/speakers and click on sessions without being logged in.

[2020-09-11 13:55] mariobehling opened #5052 "Public Schedule: Add link to specific session page"
The public schedule list has a list of sessions, but there is no link to the sessions page itself. Please add it next to the social links (e.g. Twitter as in image below) on the bottom of the session information.

Compare https://eventyay.com/e/16fa59c7/schedule

![Screenshot from 2020-09-11 15-52-45](https://user-images.githubusercontent.com/1583873/92933822-0d3a4780-f447-11ea-9fc2-8e9488df6218.p

[2020-09-11 14:07] mariobehling opened #5053 "Session Editing: Results in 404"
Editing and saving a session as an admin or organizer results in a 404 page.

Expected:
* Session should be saved
* a message should be shown "Your changes were saved."
* and after saving the user should be redirected to the session page (not the edit session page).

compare: https://eventyay.com/e/8fa7fd14/cfs/session/6258/edit

![Screenshot from 2020-09-11 16-06-49](https://user-images.githubuse

[2020-09-11 14:15] mariobehling opened #5054 "Public Session Page: Show social links, embed youtube or other video, add link to slides"
The public session page should show the following additional items similar to generated website: http://2019.fossasia.org/event/schedule.html#5227

* social links
* embed video, e.g. youtube
* link to slides

Example for a session page: https://eventyay.com/e/8fa7fd14/session/6258

![Screenshot from 2020-09-11 16-09-12](https://user-images.githubusercontent.com/1583873/92936104-fd703280-f449-11ea-

[2020-09-11 14:16] iamareebjamal opened #5055 "Anonymous users can't see linked session in speakers page"
The implementation does not work for anonymous users. The linked page should be available openly on the web (without options to edit session details). Please give permissions to view this page for everyone. Therefore opening the issue.

Compare event here: https://eventyay.com/e/8fa7fd14/speakers and click on sessions without being logged in.

_Originally posted by @mariobehling in https://github.

[2020-09-11 18:35] hritikk7 commented on #4994
i think i've resolved the issue you can verify in the ss
![capture2 0](https://user-images.githubusercontent.com/54003516/92960638-996e5e00-f48b-11ea-8962-2c95b9ba1b09.png)

[2020-09-12 04:21] iamareebjamal commented on #4994
Not really. Please read all the points in the issue description again carefully

[2020-09-12 06:49] hritikk7 commented on #4994
can you plss clarify what is lacking

[2020-09-12 07:00] iamareebjamal commented on #4994
The first point itself

[2020-09-12 11:29] mariobehling opened #5059 "Make Video Room Feature Accessible Depending on User Subscription and implement subscription invoicing"
The "Video Room Listing" Tab should only be accessible for organizers who get an add on package subscription of 10 USD/month for the specific event.

So, we need a functionality like "Upgrade for 10 USD/month to access this feature".

* Before an organizer pays show the page but show functionality in gray so an organizer cannot do anything except see the page
* There must be a button on the page "

[2020-09-13 11:05] mariobehling opened #5063 "Pricing: Link Missing on Menu on Mobile Views"
On mobile view there is no pricing in the menu for anonymous users.

![Screenshot from 2020-09-13 13-03-37](https://user-images.githubusercontent.com/1583873/93016471-b442ee80-f5c1-11ea-97e3-035a1b77ce43.png)

[2020-09-13 12:39] sarthakhanda commented on #5063
Please allow me to work on this issue!

[2020-09-13 12:41] maze-runnar commented on #5063
Go ahead

[2020-09-14 05:00] #5063 closed

[2020-09-14 12:04] sarthakhanda opened #5067 "Sidebar overlaps landing page."
**Describe the bug**

When I restore down the window & open the side-bar, it appears like this:
![bug1](https://user-images.githubusercontent.com/71185918/93082375-766fc400-f6ae-11ea-92ac-5bb5b55f526e.jpg)

but when i maximize the window it appears like this:
![bug2](https://user-images.githubusercontent.com/71185918/93082434-8daeb180-f6ae-11ea-867d-8f2e0ceaeceb.jpg)

The sidebar stays in view & t

[2020-09-14 12:07] maze-runnar commented on #4954
what is notify actually ?

[2020-09-14 12:14] iamareebjamal commented on #4954
Like this https://github.com/fossasia/open-event-frontend/issues/4604

[2020-09-14 12:57] mariobehling commented on #5067
You are testing the mobile version when you start in the small resolution. If you load the site in a standard resolution for desktop browsers it will be fine. Therefore closing it.

[2020-09-14 12:57] #5067 closed

[2020-09-14 14:02] iamareebjamal commented on #5053
The reason for this is that we transition to 404 if speaker call privacy is set to private. Hence, it is not a bug

[2020-09-14 16:01] maze-runnar commented on #4958
what exactly this means by format options?

[2020-09-14 19:04] mariobehling commented on #5053
I understand, but then we need two different URLs.

The above URL example is linked from the public speakers page. Then we need to go back to
a) a private session page that the speaker can edit
b) a public session page that is linked from the public speakers page

Compare as anonymous user and click on session https://eventyay.com/e/8fa7fd14/speakers

![Screenshot from 2020-09-14 21-02-44](https:/

[2020-09-14 19:18] mariobehling commented on #5053
So, I think we are thinking too complicated. Expected is this
1. Edit the page https://eventyay.com/e/8fa7fd14/cfs/session/6258/edit
2. Save the above page.
3. Show the saved page here: https://eventyay.com/e/8fa7fd14/session/6258

Currently when the page is saved it does not redirect to  https://eventyay.com/e/8fa7fd14/session/6258

[2020-09-14 21:03] iamareebjamal commented on #5053
This is another issue and is raised

OK, will do that

[2020-09-14 21:07] iamareebjamal commented on #5053
But the question remains, should the speaker even be allowed to edit their session or speaker details after CFS is closed or is private? Because eventyay.com/e/8fa7fd14/cfs/session/6258/edit is just for speakers. I'll make it redirect to the individual session/speaker page but the ability to edit these after CFS closing still is questionable

[2020-09-15 02:20] mariobehling commented on #5053
@iamareebjamal We have the "lock" feature for that. The organizer can lock a session and then it should not be editable. If the CfS is closed or not does not matter here.

In regards to the accessibility:
* The page should be accessible to the specific speaker and organizers always.
* It should be accessible to all users (including anonymous users) once the schedule is published.

[2020-09-15 08:09] mariobehling opened #5071 "Privacy popup links to not-existing page"
1. The privacy pop-up should stay there until a user clicks it to go away.
2. The link on the policy should direct to /privacy.

![Screenshot from 2020-09-15 10-19-17](https://user-images.githubusercontent.com/1583873/93184788-f5abd900-f73c-11ea-8694-d007f786fc0f.png)

[2020-09-15 09:03] maze-runnar commented on #4589
looking into it.

[2020-09-15 09:26] #4673 closed

[2020-09-15 09:41] iamareebjamal commented on #4589
Please fix pending PRs first

[2020-09-15 10:06] mariobehling opened #5072 "Feature: Add to Calendar"
Please add the feature
- [x] "Add to Calendar" to the system
- [x] Position it above the event links on the right hand side of a public event page
- [x] Also include a time in date box as below in the example

- [x] Google Calendar
- [x] iCal
- [ ] Yahoo
- [ ] Outlook

Compare: https://eventyay.com/e/16fa59c7

![Screenshot from 2020-09-15 12-04-12](https://user-images.githubusercontent.com/1583873

[2020-09-15 10:11] iamareebjamal commented on #5071
Duplicate of https://github.com/fossasia/open-event-frontend/issues/5028?

[2020-09-15 11:21] #5055 closed

[2020-09-15 11:21] #5052 closed

[2020-09-15 11:22] #5028 closed

[2020-09-15 11:22] #5071 closed

[2020-09-15 12:04] kpfleming commented on #5028
Thanks for the quick response!

[2020-09-15 13:35] gr8geek commented on #5072
@mariobehling  can i take up this issue and contribute
I

[2020-09-15 13:36] gr8geek commented on #5054
@mariobehling  can I takeup this issue

[2020-09-15 16:59] praveenalpha commented on #5072
i want to fix this issue......

[2020-09-16 06:50] #5053 closed

[2020-09-16 07:38] #5054 closed

[2020-09-16 07:54] iamareebjamal commented on #5072
Reference https://github.com/InteractionDesignFoundation/add-event-to-calendar-docs/blob/master/services/google.md

[2020-09-16 10:38] ashish009kum commented on #5013
can i apply for this issue
@mariobehling , @snitin315

[2020-09-16 13:31] maze-runnar commented on #5013
@ashish009kum go ahead, you will get help from above comments. app/templates/components/forms/wizard

[2020-09-16 19:40] mariobehling opened #5079 "Standardize user account deletion and enable admin to delete user ultimately"
Currently a user can be deleted or delete an account themselves. The idea was that after a grace period the account gets deleted finally. It should also be possible for admins to ultimately delete accounts that are marked for deletion in the user list admin area.

[2020-09-17 06:02] mariobehling commented on #5022
Thanks. There is still a small issue though. As soon as I enter the link "https://" switches to "https". So, the links do not work due to missing "://".

[2020-09-17 06:02] mariobehling commented on #5022
![Screenshot from 2020-09-17 08-00-42](https://user-images.githubusercontent.com/1583873/93426360-28c8a680-f8bc-11ea-9a4a-f36a7ecec03a.png)

[2020-09-17 06:30] iamareebjamal commented on #5022
This is a bug in LinkInput again. It's become too complex to track changes. Will reimplement it soon. Making it normal input for now

[2020-09-17 07:07] #5022 closed

[2020-09-17 10:54] mariobehling opened #5081 "Admin: Sort users according to signup date and ensure search for names and emails works"
On https://eventyay.com/admin/users/all please implement the following:
* sort users according to signup date with the last signups on the top
* ensure search works for
  * names
  * email addresses

![Screenshot from 2020-09-17 12-51-51](https://user-images.githubusercontent.com/1583873/93461277-d51e8300-f8e4-11ea-9911-cd14657c6c10.png)

[2020-09-17 18:45] mariobehling commented on #4958
Please let the admin in the system define the starting number or type of the invoice number. Create a field that comes before the number, e.g.

Invoice Format [OT2020-]00001
(Where OT2020- is the format entered by the admin.

[2020-09-18 07:34] mariobehling commented on #2759
As the ticket process has been adapted in a number of ways we can keep the way it is implemented for now and I am closing this issue therefore.

[2020-09-18 07:34] #2759 closed

[2020-09-18 09:02] mariobehling opened #5085 "Account: Hide Email Preferences of Users except for Admin"
We have a nice feature "email preferences". Currently this feature is not thought-through entirely and it is not tested in detail. We need to come back to this feature at a later time. Therefore please
* hide this feature from the user accounts for now
* hide the tab at https://eventyay.com/account/email-preferences
* Admins should still continue to see this tab and be able to test its functionali

[2020-09-18 09:06] mariobehling opened #5086 "Account: Hide "Applications""
Currently we have the tab "Applications" in the user account tab list. This feature is currently out of scope.

Therefore:
* Hide the application page and tab from user accounts at https://eventyay.com/account/applications
* Still show the tab to Admins

![Screenshot from 2020-09-18 11-03-33](https://user-images.githubusercontent.com/1583873/93579536-e1671680-f99e-11ea-8c8c-ebda83b846ca.png)

[2020-09-18 14:00] #5085 closed

[2020-09-18 14:00] #5086 closed

[2020-09-19 00:10] mariobehling opened #5094 "System Content: Standardize Pages - Terms, Privacy etc."
Our system pages should be improved. Please change the pages
* [ ] Pricing
* [ ] Contact
* [ ] Terms and Conditions
* [ ] Refund Policy
* [ ] Privacy
* [ ] Attendee App
* [ ] Organizer App

as follows:
* [ ] make all pages into a central content column
* [ ] show the page title over a header similar to the below image
* [ ] use the same header for all pages except the mobile pages. Use the source

[2020-09-19 05:03] 2580ayush2580 commented on #5081
Sir, I want to work on this.

[2020-09-19 12:05] shantanumallik commented on #4849
@iamareebjamal Do you have any update on which way is better to proceed with?

[2020-09-19 12:47] iamareebjamal commented on #4849
Does `href-to` works in this case?

[2020-09-19 12:51] mariobehling opened #5095 "Wizard Step 1: Ticket box - take out "Settings""
The word "Settings" is not needed in the ticket box. Please take out it and move the below content up.

![Screenshot from 2020-09-19 14-50-11](https://user-images.githubusercontent.com/1583873/93667602-8a893c00-fa87-11ea-8896-b44e382d7364.png)

[2020-09-19 13:14] mariobehling opened #5096 "Wizard Step 1: Simplify Ticket Feature "Absorb Fees", Make it Required instead of Optional, Fix Donation Ticket"
The ticket feature "absorb fees" is currently optional. It adds complexity to the invoicing that we want to avoid for the beginning. Therefore please change this feature to "Required" as follows:
1. Take out the tick box and change text
   * Absorb Fees ->  Tickets Absorb Fees
   * If unchecked fees will be passed on to the buyer. -> Platform fees will always be included in your ticket price. You

[2020-09-19 16:17] deytulsi18 commented on #5095
I want to solve this isssue.

[2020-09-19 16:18] deytulsi18 commented on #5095
please guide me this is my first issue.

[2020-09-19 23:23] mariobehling commented on #4944
Actually the question if this change is require or not is unclear. The most important information on the page are actually the events themselves. The headings are just additional information. We dont necessarily need them to stand out. Right now the design of the page seems ok. There are a number of more essential design changes that are needed. Issues have been opened for them. We need to focus o

[2020-09-19 23:23] #4944 closed

[2020-09-20 00:29] mariobehling opened #5100 "Session/Speaker: Distinguish Private and Public Info Pages/Views and Separate Them"
In previous iterations we focused on the views of the public information of sessions and speakers, e.g. shown on the schedule and public session page. However, the speaker can enter much more information than should be publicly available in their call for speakers response.

Right now we do not show to the speaker which information is public or privately shown to the review team. We also do not ha

[2020-09-20 00:31] mariobehling commented on #4560
Closing this in favor of https://github.com/fossasia/open-event-frontend/issues/5100

[2020-09-20 00:31] #4560 closed

[2020-09-20 00:37] mariobehling commented on #4975
Such a line is also present on other sites, e.g. eventbrite, but in green here on some pages. I dont think this is a bug. It might be even nice to have this at some point on the desktop page. Right now this seems to be a small thing compared to other issues maintainers need to review and as mentioned it does not seem like a bug really. Would be great if you could help to solve issues opened by mai

[2020-09-20 00:37] #4975 closed

[2020-09-20 03:14] mariobehling opened #5101 "Video Tab: Implement Feature "Add Jitsi Room" to Microlocations"
Organizers should have two options to add a video room
a) add a room manually anywhere on the Internet
b) add a Jitsi room with a button.

According to the Jitsi documentation here https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-iframe the following should be possible.

Open question is: In order to restrict access to rooms we could also add rooms into an 100% iframe on eventyay.com and

[2020-09-20 05:10] chetas411 commented on #5094
Do you mean to wrap up all the content including the header into a container element in all the pages from the first point given in the description?

[2020-09-20 07:24] mariobehling opened #5102 "Organizer Video Room Listing: Implement per session control"
Following the implementation of the Organizer Video Room Listing as in https://github.com/fossasia/open-event-frontend/issues/4886 please implement a control of video features per room.

Implement it as follows:

* Add a heading "**Session Video**"
* Below add a table to show the session information and track following the virtual rooms setting/config above
* Additionally here enable feature to ov

[2020-09-20 11:12] #4872 closed

[2020-09-20 11:37] ShubhankarKG opened #5104 "Search: Explore filters not working"
**Describe the bug**
The filters for the explore events isn't working as expected.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://eventyay.com/explore'
2. Click on any filter.
3. See error

**Expected behaviour**

Events are filtered as per selected filters.

**Screenshots**

![Screenshot from 2020-09-20 17-03-32](https://user-images.githubusercontent.com/50791000/93710321-5

[2020-09-20 13:12] maze-runnar commented on #5095
@deytulsi18  go to `app/templates/component/forms/wizard/basic-details.hbs` and delete the word sentence.

[2020-09-20 13:51] deytulsi18 commented on #5095
@maze-runnar did not get what you are saying to me.
can you please tell it again.

[2020-09-20 19:31] #5003 closed

[2020-09-21 08:41] mariobehling opened #5106 "Make contact name, phone and tax ID optional for invoice admin stetting"
On admin billing info https://eventyay.com/admin/settings/billing change:
* make contact name optional
* make phone optional
* make tax ID optional

[2020-09-21 08:44] mariobehling opened #5107 "Implement a global setting for event fees in admin area"
The current implementation of fees at https://eventyay.com/admin/settings/ticket-fees only works for specific currencies. Instead we need a global setting for all countries and currencies. Also fees should always depend on the country and not on the currency. Therefore please change the features as follows:

* Implement a global setting for ticket fees for all countries
* Make the country specific

[2020-09-21 08:48] iamareebjamal commented on #5106
@maze-runnar Please take this up

[2020-09-21 08:54] mariobehling opened #5108 "Organizer Payment Info: Add invoice currency to user account"
In https://eventyay.com/account/billing/payment-info we need an option for invoice currency. The currency chosen should be the currency that the system uses to calculate the monthly invoice.

Please offer the following currencies as an option: USD, EUR, SGD

[2020-09-21 10:01] mariobehling opened #5110 "Frontpage: Limit display of events based on the public ticket availability"
Do not show ticket on start page if an event does not have a public ticket available and does not show a public ticket because it:
- [x] does not have any available ticket on the start page and restricts remaining tickets with “access code”
- [x] limit sales time of ticket and no longer has a ticket on the public page
- [ ] limits the number of tickets and therefore no longer has a ticket on the p

[2020-09-21 10:29] maze-runnar commented on #5106
Ok

[2020-09-21 11:34] mariobehling commented on #4430
I think Google fonts would be the easiest thing to remove first.

[2020-09-21 12:31] mariobehling opened #5112 "Change ticket fee"
Change ticket fee to 3%. Looking at pricing for Eventbrite we are still below them in most countries https://www.eventbrite.com/support/articles/en_US/Troubleshooting/how-much-does-it-cost-for-organizers-to-use-eventbrite?lg=en_US

[2020-09-21 13:34] suyash-patil commented on #5013
@snitin315: Can we include this to documentation? I would like to work on this.

[2020-09-21 17:11] mariobehling opened #5115 "Online Event: Webinar URL results in "not a valid URL" when copying link from browser including https/https"
If an organizer adds a webinar URL and tries to save the event it will show "Not a valid URL".

Compare: https://eventyay.com/events/56caaccd/edit/basic-details

![Screenshot from 2020-09-21 19-09-45](https://user-images.githubusercontent.com/1583873/93798539-265ca880-fc3e-11ea-98ab-7fe5608e0a82.png)

[2020-09-21 17:17] mariobehling commented on #4624
Feature does not seem to work reliably. Creating a new ticket does not open ticket as expanded.

[2020-09-21 17:19] mariobehling opened #5116 "Wizard Step 2: Cannot change first option of social links (website)"
The social links section should
* allow the first link to change the option from website to something else, e.g. Twitter.
* have the option "Event Site" in the dropdown instead of "External Event URL"

There is no need to have two + buttons.
* A plus button can be anything website or social link. There is no need to distinguish between those.

Also there is an issue if a user chooses two websites:

[2020-09-21 17:35] mariobehling opened #5117 "Cannot Save Event Error "Tickets are required" even though ticket is there"
Cannot save existing published event as I receive the error message "cannot save event without ticket" even though there is a ticket added.

Compare https://eventyay.com/events/921345bd/edit/basic-details

![Screenshot from 2020-09-21 19-32-27](https://user-images.githubusercontent.com/1583873/93800920-8ef95480-fc41-11ea-94af-59d72c71fe8c.png)

[2020-09-21 18:12] mariobehling commented on #4624
Works suddenly with another event. Will observe this more.

[2020-09-21 18:12] #4624 closed

[2020-09-22 02:12] iamareebjamal commented on #5117
I can save it. When does the error show up?

[2020-09-22 03:07] #5117 closed

[2020-09-22 03:16] iamareebjamal commented on #5108
I think this should be de-escalated from urgent. As we don't have a single invoice for multiple events, we don't need to convert the amount into a single currency and it would require integrating a currency conversion tool and more work. Secondly, as we will not be using this currency currently, this will only confuse the users when they see invoice is not in the same currency they chose in the bi

[2020-09-22 03:22] #5106 closed

[2020-09-22 03:47] iamareebjamal commented on #5115
Please try again, I could add it

[2020-09-22 05:03] #5096 closed

[2020-09-22 05:24] mariobehling commented on #5115
Trying to add one here: https://eventyay.com/events/cf7e2dde/edit/basic-details

![Screenshot from 2020-09-22 07-24-00](https://user-images.githubusercontent.com/1583873/93846543-a3226d80-fca4-11ea-82dd-9305a58b3f00.png)

[2020-09-22 05:38] iamareebjamal commented on #5115
Worked

[2020-09-22 06:13] mariobehling commented on #5115
Ok, but the point is, it does not work for me, e.g. here https://eventyay.com/events/a8ee39a0/edit/basic-details#

I think it should work for all users.

[2020-09-22 06:15] iamareebjamal commented on #5115
I don't think it is a user based problem. Can you check that there are no spaces in the URL

[2020-09-22 06:26] mariobehling commented on #5108
Sorry, clicked Urgent by mistake.

[2020-09-22 07:17] mariobehling opened #5120 "Organizer Invoice Generation HTML to PDF template"
We need to generate a PDF invoice using an html template. Please see the following that we can use as a basis: https://s3-eu-west-1.amazonaws.com/htmlpdfapi.production/free_html5_invoice_templates/example1.zip

* Use system fonts
* Use system website name

Use the following fields:
* Product: {Event Name}
* Description: Plan: {Plan e.g. Early Access Plan}, Ticket Sales Period: {1st Month - Last Da

[2020-09-22 11:34] shantanumallik commented on #4849
@iamareebjamal it doesn't. Any anchor tag added to href-to is simply ignored.

[2020-09-22 14:13] mariobehling opened #5122 "Date Format: Delete Space before Commas everywhere"
In a number of places there is a space in front of a comma, which is against standards in US and British English. Therefore please change this to **no** space before a comma everywhere in the platform and specifically fix it in date displays, e.g. on:
* [ ] dates in front page
* [ ] dashboard of events https://eventyay.com/events
* [ ] all specific event dashboard https://eventyay.com/events/[even

[2020-09-22 21:12] #5112 closed

[2020-09-22 22:40] mariobehling opened #5123 "Public Event Page Menu: Moving to Sponsors, Organizers etc. requires two clicks"
To get to sections on the same page that are listed on the menu requires two clicks, e.g. sponsors or organizers.

Compare https://eventyay.com/e/16fa59c7

![Screenshot from 2020-09-23 00-38-17](https://user-images.githubusercontent.com/1583873/93944537-4b801280-fd35-11ea-8aea-c8253a3f1ed0.png)

[2020-09-23 03:17] iamareebjamal commented on #5120
@mariobehling Please check if this is fine

![I3a6171bb-1](https://user-images.githubusercontent.com/3874064/93962839-59f01d80-fd79-11ea-93b1-dc054aa68f7b.png)

[2020-09-23 05:26] shivalikadevi commented on #5116
i want to work on this issue

[2020-09-23 08:57] max-keviv commented on #5116
@mariobehling  can i get the link to that section

[2020-09-23 10:22] mariobehling commented on #5120
There is a difference between the invoice email and the actual invoice. Therefore the text does not need to be part of the invoice itself.

* No need to the text above the table
* No need for "Sales" column
* Description column should include "Amount Earned:..."
  * In dont understand what is Gross Revenue and Net Revenue in our system
  * Why does Net revenue has the format xxxx.xxx? I also see t

[2020-09-23 10:25] iamareebjamal commented on #5120
Gross Revenue is total amount earned. Net revenue is `gross - fee`

It reports as much digits as it needs to precisely show the sum of all amounts, I'll round it to 2 digits

[2020-09-23 10:29] mariobehling commented on #5120
Ok, then please only show "Gross Revenue" but instead use "Amount Earned:.." and the fee is shown in the "Fees" column.

[2020-09-23 10:33] mariobehling commented on #5120
According to what I see after checking other services in detail, they usually give 30 days as a due date. So, we should also follow that. Therefore please change due date to 30 days.

[2020-09-23 10:38] mariobehling commented on #5120
I just added payment info into my account at https://eventyay.com/account/billing/payment-info
We also need to show a tax ID for the consumer/organizer as required by tax offices in many countries.

[2020-09-23 10:51] iamareebjamal commented on #5120
PL

[2020-09-23 11:09] mariobehling commented on #5120
Here is the invoice format that we can use for now. It is inspired by others:
202009U-00001
Invoice Format: YYYYMMU-Running-Invoice-Number

![Screenshot from 2020-09-23 13-03-11](https://user-images.githubusercontent.com/1583873/94005109-0f34cc80-fd9e-11ea-9420-25f3d3a09405.png)

[2020-09-23 12:58] mariobehling commented on #4542
Unfortunately this is not yet working as expected. Line breaks often are not working.

[2020-09-23 13:48] iamareebjamal commented on #5120
@mariobehling Showing the auto incrementing ID in PDF will not be possible as we only get the new ID once we save the invoice in the database, and we don't want to save the invoice in database before generating PDF, because if due to any error, the PDF is not generated, then the invoice will be in an inconsistent state. We can use a randomly generated identifier instead of running invoice number

[2020-09-23 14:02] mariobehling commented on #5120
The problem is that most companies are required by law to have invoices that increment. That means in their books they need to have an invoice xxx001, xxx002, xxx003 etc. and it is not possible that they skip invoice xxx002. How to deal with that?

[2020-09-23 14:09] iamareebjamal commented on #5120
Will think of something. Implementing other things for now so that this does not block other progress

[2020-09-23 14:11] iamareebjamal commented on #5120
Even with DB autoincrementing keys, it may skip a number due to rollback of transactions, so I'm not sure how they implement it. Will search about it.

[2020-09-23 14:13] mariobehling commented on #5120
Rollback meaning e.g. if we have to reimburse or revert a transaction?

In such a case a new invoice would have to be created which would be negative. Not sure if that is what you mean.

[2020-09-23 14:18] mariobehling opened #5127 "Invoicing Process Implementation"
Implement the invoice process as follows:
1. On the first of the month an invoice gets generated as a PDF in the invoice area of event organizers account.  https://github.com/fossasia/open-event-frontend/issues/5120
a) This only includes organizers who run an active event (not other users or organizers who do not have an event "live").
b) And this includes organizers whose event is finished in the

[2020-09-23 15:32] iamareebjamal commented on #5120
No, I meant if there was a DB transaction error (technical), databases are rolled back to revert the changes made, this can lead to skipped numbers

[2020-09-23 16:20] iamareebjamal commented on #5120
Reference on why it is complex to reliably generate unique incrementing numbers without a gap in a multi process environment: https://stackoverflow.com/questions/31751744/spring-jpa-with-hibernate-fiscal-sequence-generation

[2020-09-23 17:06] #4954 closed

[2020-09-23 17:09] #4623 closed

[2020-09-23 17:09] #5095 closed

[2020-09-23 17:42] deytulsi18 commented on #5095
@iamareebjamal can you suggest me a first-timer issue for me to solve.

[2020-09-23 17:49] maze-runnar commented on #5095
@deytulsi18 https://github.com/fossasia/open-event-frontend/issues/5094, this is a good and easy issue, and give you a better idea too how to work with project.

[2020-09-23 17:50] deytulsi18 commented on #5095
@maze-runnar
Ok I'll try my best.
Thank you

[2020-09-23 23:07] datapythonista opened #5179 "Failing to add a url to a sponsor"
I'm adding a url to a sponsor in https://eventyay.com/events/<event-id>/edit/sponsors and the error "Not a valid url" is returned, and saving fails. I tried with different urls, including https://eventyay.com

Thanks!

[2020-09-23 23:15] datapythonista opened #5178 "Event description loses links, line breaks..."
I created an event with links, line breaks... The event description edition provides buttons to add those, so they should be supported. But once I save the event, the links are lost. And when I view the event, the line breaks are not respected, and all the texts are shown one next to the other, in a single paragraph.

[2020-09-24 00:28] iamareebjamal commented on #5120
This is final PDF:
![202009U-4d0f9362-1](https://user-images.githubusercontent.com/3874064/94087254-ed355b80-fe2a-11ea-9484-a5c662a91f6e.png)

[2020-09-24 01:57] #5120 closed

[2020-09-24 01:57] iamareebjamal commented on #5120
Merged as PR was getting large. Please reopen if more changes are required

[2020-09-24 07:16] mariobehling opened #5130 "Invoice should always show two digits for cent"
The invoices currently show currencies like 234.5 instead of 234.50. Please show two digits for e.g. Cents.

This will become more complicated as some currencies do not have Cents. But this is a first step to cover some main currencies.

![Screenshot from 2020-09-24 09-12-54](https://user-images.githubusercontent.com/1583873/94112971-7b6b0b00-fe46-11ea-9ee8-926b0490ea25.png)

[2020-09-24 08:19] mariobehling opened #5131 "Event Dashboard Info Box: Enhance it and fix issues"
The event dashboard needs some enhancements and fixes. Please change as follows:

* Delete row "number of revisions"
* Depending on event show
   * either "Location" - and show the address
   * "Online Event" - and show the links
   * "Location: To be announced" or
   * show both "Location" and "Online Event" rows for "Mixed Events" including data
* Fix social media names to start with a capital,

[2020-09-24 08:49] mariobehling opened #5132 "Ensure GDPR compliance"
As far as I can see we already ensure GDPR compliance. Below is a pdf with more details about GDPR that we can check step by step as well.
[Our-Company-Privacy-Policy.pdf](https://github.com/fossasia/open-event-frontend/files/5274664/Our-Company-Privacy-Policy.pdf)

[2020-09-24 09:09] mariobehling opened #5133 "Unable to delete draft event without orders"
As an organizer or admin I am not able to delete an event. Error messages:
* unexpected error or
* event is associated with orders and cannot be deleted (there is one expired order)

Compare: https://eventyay.com/events/5c97f24f/settings
![Screenshot from 2020-09-24 11-07-36](https://user-images.githubusercontent.com/1583873/94125194-58485780-fe56-11ea-8ae8-dfbe88231645.png)

[2020-09-24 12:27] iamareebjamal commented on #5130
![image](https://user-images.githubusercontent.com/3874064/94144940-6e263e80-fe8f-11ea-8d7e-e0a95648083b.png)

[2020-09-24 12:29] #5122 closed

[2020-09-24 12:30] #4983 closed

[2020-09-24 14:00] surajat17 commented on #4963
i am new to open source community can i work on this?

[2020-09-24 14:26] Raunaksingh100 commented on #5131
can i work on this issue

[2020-09-24 14:44] iamareebjamal commented on #5131
Go ahead

[2020-09-24 14:45] #5130 closed

[2020-09-24 14:47] #5115 closed

[2020-09-24 17:13] mariobehling commented on #5131
Thanks! I added some more details to the description in the issue.

[2020-09-24 18:16] mariobehling opened #5140 "Public Event Page: Social Links are Indented differently"
Please change the display of the social links text so that all links indent in the same way.

Compare https://eventyay.com/e/0917096d
![Screenshot from 2020-09-24 20-12-35](https://user-images.githubusercontent.com/1583873/94183437-b864eb00-fea2-11ea-9ad7-7318cd12df71.png)

[2020-09-24 18:34] mariobehling commented on #5116
There are some more details to this issue. I added them in the description. Thank you.

[2020-09-24 18:48] mariobehling opened #5142 "Wizard Step 2: Add YouTube, VK, Weibo etc. as options for social links"
A few options for social links are missing. Please add them to the wizard step 2 and show them also on the live event page, if used by the organizer.

Please add the following and include the logos on the public page where needed:
* YouTube https://youtube.com/
* Weibo https://www.weibo.com/u/
* VK https://vk.com/
* Xing https://www.xing.com

![Screenshot from 2020-09-24 20-42-06](https://user-ima

[2020-09-24 19:15] ShreyanshSrivastava commented on #5140
Hello Sir, I want to work on this issue.

[2020-09-25 02:58] mariobehling opened #5143 "Wizard Step 1: Map not loading, Address field issues, public page only shows address in one line"
The wizard step 1 location field has a few issues.
* Map is no longer loading even if enable
* Reset Map link deletes all data in address fields
* After saving and editing the form and reopening it the address fields only show up in the address line but on expansion they do not show up in the dedicated fields (stress, city, postcode, country)
* As a result the address on the public page also shows

[2020-09-25 05:54] iamareebjamal commented on #5143
We are not storing street, city, state country separately and making them separate will require great schema changes and the search will be complicated as well

Easier would be do store them comma separated and show each comma separated string in a new line

[2020-09-25 06:40] mariobehling commented on #5143
Ok, I see. Yes with comma could be the way to go.

I just remember that it used to work that way, but might have been in version 1.

In any case the data disappears at certain actions and this should not happen.

[2020-09-25 08:47] mariobehling opened #5147 "Invoices: Add invoice and reminder emails to platform"
Please add the [invoice email templates here](https://docs.google.com/document/d/1kokiTbAwpcpPkJLJrBOnRUS3mPLwPNH5RqMoZo5usms/edit#) to the system and send them automatically on the desired day to the "owner" of an event as follows:

- Invoice Email on 1st of each month (as defined in https://eventyay.com/admin/settings/billing)
- Invoice Reminder Email after 14 days
- Invoice Reminder Email after

[2020-09-25 09:28] maze-runnar commented on #4237
Actually, the search is working, rather than it's searching by identifier not by name.

[2020-09-25 09:29] maze-runnar commented on #4237
` const searchField = 'identifier';`

@iamareebjamal how can I use here  `const searchField = 'user.name';` something like this. As it is giving error.

[2020-09-25 16:41] #5140 closed

[2020-09-25 16:44] iamareebjamal commented on #4237
What's the error

[2020-09-25 17:20] maze-runnar commented on #4237
When entering text in input box, it shows some thing went wrong and on console it shows ember data error. And also you have told me previously that user.name this kind of nesting is not supported in backend

[2020-09-25 17:45] iamareebjamal commented on #4237
Yes, it needs to have custom nested format to search for user name. Check how is it possible in ember tables

[2020-09-26 08:48] mariobehling opened #5157 "Admin: By default sort users by last date joined with the most recent users showing up on top"
In https://eventyay.com/admin/users please
* sort according to the most recent user on the top (member since).
* show 50 users per page by default

Compare: https://eventyay.com/admin/users/all?sort_by=created-at&sort_dir=ASC

![Screenshot from 2020-09-26 10-45-17](https://user-images.githubusercontent.com/1583873/94336768-ce2ef900-ffe5-11ea-81ed-e4f516358468.png)

[2020-09-26 12:39] mariobehling opened #5158 "Email Templates: Standardize Email Templates"
We are following some different formats for email templates. Standardize email templates where needed.

Ressources, e.g.

- https://github.com/wildbit/postmark-templates
- https://postmarkapp.com/transactional-email-templates

[2020-09-26 14:13] edenyay commented on #4475
@iamareebjamal i tested with a new event, and it seems to me the issue has been fixed. The pricing (min-max) boxes still appear in red color for some reason, but other than that I was able to save/publish the event.

[2020-09-27 12:13] mariobehling opened #5161 "Public Event Page: Display Info for online, mixed etc. on header"
The header of events is currently only showing info related to locations. When the organizer chooses online, mixed, or to be announced the header shows a location icon but nothing else. Therefore please implement the following on the public event page header, when the organizer chooses:
* Online Event show "Online Event"
* Mixed Event show the info "In-Person Event and Online Event" + show the add

[2020-09-27 15:12] Raunaksingh100 commented on #5014
@mariobehling can you provide the link of this page??

[2020-09-27 18:39] mariobehling opened #5163 "Admin: Sales Dashboard Not Showing Events that are Selling Tickets"
The Admin Sales dashboards are not showing events that are selling tickets and which have generated sales.

Expected:
* All events should actually show up.
* Events that have not made a sale should show up with 0, but events that have made sales should show up accordingly.
* Latest events (with a newer date) should be on top of the list.
* The columns should be sortable where possible

Compare: ht

[2020-09-28 02:24] iamareebjamal commented on #4475
Hi @edenyay, can you please check on https://open-event-frontend-git-fork-maze-runnar-donation.eventyay.vercel.app/

Is the issue same as production or solved completely?

[2020-09-28 04:19] #5107 closed

[2020-09-28 04:40] shivalikadevi commented on #4542
I want to work in this  by adding span class and removing the break line from it.

[2020-09-28 04:44] HADES-01 commented on #5161
@mariobehling I would love to work this issue. Assign it to me.

[2020-09-28 06:04] #5142 closed

[2020-09-28 06:19] iamareebjamal commented on #5147
Did not add these in eventyay.com/admin/messages/list as:
- The page/setting does not work. We do not use the subject/bodies from here
- Will need a migration strategy, thus this must be handled in notifications milestone

BCC implementation is still left because there is no admin email setting and previously there was no BCC functionality in the platform, so that'll take some extra implementation

[2020-09-28 06:59] iamareebjamal commented on #5147
Last point left so reopening

[2020-09-28 08:59] #4811 closed

[2020-09-28 08:59] #1086 closed

[2020-09-28 11:05] maze-runnar commented on #5163
@iamareebjamal is this feature need to add in the backend too?

[2020-09-28 15:34] #5094 closed

[2020-09-28 15:37] iamareebjamal commented on #5163
We need to make it a table and show events by descending date

[2020-09-28 15:44] #4475 closed

[2020-09-28 15:46] mariobehling opened #5169 "Donation Ticket: Error Message missing"
After the recent PR there is no error message any longer as expected. Below is a screenshot how it was before (even though the message appears with the wrong numbers). However now the error message does not appear anymore

![Screen Shot 2020-06-17 at 16 02 03](https://user-images.githubusercontent.com/32028823/84878502-1ddf5980-b0b4-11ea-9499-3b370feedef0.png)

[2020-09-28 15:49] mariobehling commented on #5169
![Screenshot from 2020-09-28 17-44-11](https://user-images.githubusercontent.com/1583873/94454955-d4be9b80-01b2-11eb-826d-a96320a211c7.png)

When the second number is lower than the first one there should be an error message.

[2020-09-28 15:50] iamareebjamal commented on #5169
@maze-runnar Please take this up on priority. If this can't be solved, let's revert the PR for now

[2020-09-28 16:43] maze-runnar commented on #5169
ok

[2020-09-28 18:17] Devansh3712 commented on #3397
@mariobehling can i work on this issue?

[2020-09-29 00:03] iamareebjamal commented on #3397
Take up one issue at a time and as written in above comment, please write how will you solve it?

[2020-09-29 04:28] maze-runnar commented on #5169
the problem is not only in the donation ticket section, this is also in `Number of tickets allowed per order`. The validation function some time works, some time doesn't and sometimes wrong.
![Screenshot from 2020-09-29 09-56-14](https://user-images.githubusercontent.com/56407566/94512696-4b52ac00-023a-11eb-95cf-adde4384be05.png)
![Screenshot from 2020-09-29 09-56-00](https://user-images.githubuse

[2020-09-29 04:44] iamareebjamal commented on #5169
Yes this was the original issue with the previous issue as well. jquery dynamic validation just isn't good. And it is coupled so much with form components that it is impossible to migrate it step by step. Reverting the PR for now to revisit later

[2020-09-29 04:45] #5169 closed

[2020-09-29 05:45] #4999 closed

[2020-09-29 06:00] iamareebjamal opened #5173 "Event Wizard publishing with deleted tickets"
Sometimes the ticket display shows “there are no tickets” even though a free ticket is defined

[2020-09-29 06:30] AbhipsaGuru1012 commented on #5131
@iamareebjamal Hi, are there any files with social media links? If yes please share those

[2020-09-29 06:31] #5173 closed

[2020-09-29 06:32] iamareebjamal commented on #5131
There is no need for that

[2020-09-29 06:48] HADES-01 commented on #4917
@mariobehling I would love to work on this issue. Please assign it to me.

[2020-09-29 08:36] himanshujaidka commented on #5143
for the map what we have to add so that it will load fast?

[2020-09-29 10:18] mariobehling opened #5175 "Event Dashboard and Event Admin Dashboard: Sort Events according to Dates by Default"
To speed up organizers and admins usage of the platform please change the dashboard sorting:
* By default sort table according to oldest date first compare: https://eventyay.com/events/live?sort_by=starts-at&sort_dir=DSC
* Also sort in the same way on the admin dashboard: https://eventyay.com/admin/events/live?sort_by=starts-at&sort_dir=DSC

![Screenshot from 2020-09-29 11-55-17](https://user-imag

[2020-09-29 11:25] mariobehling opened #5176 "Attendee Page: Initializing Tickets showing up in "Completed List""
On the attendee page of events initializing tickets are showing up in the "Completed" List

Compare: https://eventyay.com/events/0917096d/tickets/attendees/completed

![Screenshot from 2020-09-29 13-22-08](https://user-images.githubusercontent.com/1583873/94552441-2b7db100-0257-11eb-9f44-acaf20927b9d.png)

[2020-09-29 13:14] SubhradeepSS commented on #4003
@iamareebjamal the issue is still open for codeheat? i guess it is fixed because the forgot password is not opening on new window.

[2020-09-29 13:50] SubhradeepSS commented on #4580
@iamareebjamal I want to work on this issue, but I am not able to find the login form mentioned in the issue description. Can you please tell me in which folder the login form is present in the repo?

[2020-09-29 14:57] mariobehling opened #5180 "Wizard Step 1: Event Subtopics "&" showing up as html format"
The event topics using "&" do not show up properly in wizard step 1.

![Screenshot from 2020-09-29 16-56-15](https://user-images.githubusercontent.com/1583873/94575745-d8b2f200-0274-11eb-8479-ebab18805b42.png)

[2020-09-29 15:01] mariobehling opened #5181 "Organizer: Add order no longer working"
The organizer can add an order in the organizer ticket section. This is currently not working.

Compare: https://eventyay.com/events/c8e221c2/tickets/add-order

![Screenshot at 2020-09-29 15-19-38](https://user-images.githubusercontent.com/1583873/94576187-5d9e0b80-0275-11eb-83b8-4f88629d2c00.png)

[2020-09-29 15:56] iamareebjamal commented on #5179
![Test-Event-Events-eventyay-Googl](https://user-images.githubusercontent.com/3874064/94582715-31e14c80-029a-11eb-8cce-2bd229095192.gif)

Hi, I tried adding the URL successfully. Do you type the URLs or copy-paste? I tried both with and without `https://`

Can you add some screenshots or a video?

[2020-09-29 15:57] iamareebjamal commented on #5179
As the https:// part is already a prefix, please ensure you are not typing `https://` in the field itself. When you paste the URL in the field, it is taken care of automatically

[2020-09-29 16:05] datapythonista commented on #5179
![Screenshot at 2020-09-29 17-02-43](https://user-images.githubusercontent.com/10058240/94583935-eddc5080-0275-11eb-8f0d-9c2cf904ef2b.png)

Now I'm having a different error. I do have a ticket created, and several orders.

[2020-09-29 16:07] iamareebjamal commented on #5179
Thank you. Let me check

[2020-09-29 16:13] datapythonista opened #5184 "Unable to add an order manually"
**Describe the bug**
I'm trying to add an order manually, but something is wrong with the screen, and I can't select a quantity or click on continue.

**To Reproduce**
1. Go to the management of my event
2. Click on adding an order and go to [this screen](https://eventyay.com/events/c8e221c2/tickets/add-order)
3. Unable to continue

**Screenshots**

![Screenshot at 2020-09-29 15-19-38](https://use

[2020-09-29 16:16] mariobehling commented on #5181
Duplicate of https://github.com/fossasia/open-event-frontend/issues/5184

[2020-09-29 16:16] #5181 closed

[2020-09-29 16:30] iamareebjamal commented on #5179
The above PR has most probably fixed the error, so can you please try https://open-event-frontend-h0ws9ciu8.vercel.app/ and check if you are still getting error while saving sponsors

[2020-09-29 16:41] mariobehling opened #5187 "Create Event: After Step 1 it "Next" jumps to Step 3"
When an organizer creates an event after the wizard step 1 the wizard jumps to step 3. Expected: After step 1 it should go to "Additional Information" step 2.

![Screenshot from 2020-09-29 18-39-54](https://user-images.githubusercontent.com/1583873/94587767-5978ea80-0283-11eb-97bb-b3f233036b08.png)

[2020-09-29 16:44] #5179 closed

[2020-09-29 16:47] mariobehling opened #5188 "Wizard Step 1: Adding date/time and then changing the timezone will change the date/time after saving event"
If the user is in a certain timezone and then enters date/time information in wizard step 1, the date/time does not get stored as entered. After the event is saved the date/time changes if the user is in a different timezone than the event they store.

![Screenshot from 2020-09-29 18-46-01](https://user-images.githubusercontent.com/1583873/94588479-3c90e700-0284-11eb-9aed-6a9deced21c6.png)

[2020-09-29 16:48] iamareebjamal commented on #5180
This is actually what is saved in the database and can be edited in admin section https://open-event-frontend-h0ws9ciu8.vercel.app/admin/content/events

[2020-09-29 18:05] mariobehling commented on #5180
What do you mean?

The issue is that the drop down menu shows "&amp;" instead of &.

[2020-09-29 18:08] mariobehling commented on #5161
Go ahead!

[2020-09-29 18:38] harshfulzele987 commented on #5133
Interested, please help me to understand these bug???

[2020-09-29 19:42] iamareebjamal commented on #5180
Yes, this is because it is written like that only

https://eventyay.com/admin/content/events

Select `Event SubTopic` "Business & Professional" and you'll find `Startups &amp; Small Business` written there. It can be edited from there

[2020-09-29 19:43] HADES-01 commented on #5161
@mariobehling Do you think I should create a helper function or just include the logic in the template ?

[2020-09-29 19:43] iamareebjamal commented on #5161
Create a computed property

[2020-09-29 20:32] iamareebjamal commented on #5178
Links were not lost when I tried but line breaks were stripped. So I have fixed that in the above PR

[2020-09-29 20:36] iamareebjamal commented on #5178
Example event with links and line breaks https://open-event-frontend-czssukq39.vercel.app/e/295ce8c5

[2020-09-29 20:39] datapythonista commented on #5178
If you write a link, they become links. But if you add a link with the link button, and the text is not the link itself, then they get lost.

[2020-09-29 20:49] #4542 closed

[2020-09-29 20:50] iamareebjamal commented on #5178
Yes, that is not intended to be text AFAIK, the textbox only takes a link for now.

[2020-09-29 21:00] mariobehling commented on #5178
So, the issue is this: When the organizers uses the link button feature and creates a link, then saves the event and then opens the public page, the link is not there.

Also when the organizers edits the event again the entered link disappeared.

![Screenshot from 2020-09-29 22-57-46](https://user-images.githubusercontent.com/1583873/94615051-64457680-02a7-11eb-8574-46e85ce40d31.png)

[2020-09-29 21:02] datapythonista commented on #5179
When are the PRs you're merging being released? Our event is on Thursday, but I'll give it a try again once released.

[2020-09-29 21:39] iamareebjamal commented on #5179
They're released about 15 minutes after merging, so this one is already live. The above URL I gave was also linked to production instance with the new changes so that could be used to test changes as well

[2020-09-29 22:00] #5178 closed

[2020-09-29 22:18] mariobehling opened #5195 "Tickets: Prevent deletion of tickets with sales"
Formerly it was not possible to delete tickets that had sales already. Currently there is nothing preventing organizers from deleting those tickets types in the wizard step 1 though.

The feature should again work like that:
* tickets that had sales should get an error message "Tickets that had sales cannot be deleted."
* it should not be possible to reduce the number of tickets below the number o

[2020-09-30 04:47] maze-runnar commented on #5187
it's working OK for me

[2020-09-30 04:59] maze-runnar commented on #5188
Actually it's taking time as current timezone and showing as real timezone.
For example - If I entered time 2:30 pm and selected UTC timezone. then it will show time 2:30 - (UTC +5:30) 9:AM

[2020-09-30 05:00] maze-runnar commented on #5188
Means it's showing timezone of selected time in your timezone's time.

[2020-09-30 05:01] iamareebjamal commented on #5188
Yes, that is wrong and needs to be fixed

[2020-09-30 05:01] iamareebjamal commented on #5187
Check while creating event, it jumps

[2020-09-30 06:59] iamareebjamal commented on #5180
Fixed using the above link

[2020-09-30 06:59] #5180 closed

[2020-09-30 07:57] maze-runnar commented on #5188
time is in Sat Oct 03 2020 01:30:00 GMT+0530 format on adding time of 8:pm in UTC. How to change it?

[2020-09-30 08:40] iamareebjamal commented on #5188
Using moment

[2020-09-30 13:09] mariobehling opened #5198 "Organizer Session Section: Changing Speaker of Sessions results in "Unexpected Error""
When are user tries to change the speaker of a session to another speaker they get 'unexpected error occured'
https://eventyay.com/events/0917096d/sessions/6364/edit

[2020-09-30 14:38] #5161 closed

[2020-09-30 14:46] maze-runnar commented on #5188
spend a lot of time, but still the same. But I have a doubt If we are changing the timezone and time both then it's not updating time. it's showing correctly. But if we previously selected IST, then changed the timezone to UTC. without updating time, then it's the time will update accordingly, but if we change time to then nothing changed.

[2020-09-30 15:19] iamareebjamal commented on #5188
OK, move on to next issue please. This is complex and needs prior knowledge about timezone. I'll explain in weekend

[2020-09-30 15:24] datapythonista opened #5200 "Send email to attendees"
I've been looking for a way to send an email with information to the attendees of my event, and I couldn't find it. Is this not implemented? Seems like a very basic feature to me.

[2020-09-30 15:37] mariobehling opened #5201 "Continuous Test of Website Availability and Speed"
Please propose and implement a way to continuously test the availability and speed of the website and to send out automated emails based on pre-set parameters.

[2020-09-30 16:03] mariobehling commented on #5200
Thank you. This feature is not on our roadmap currently. The reason is, that we want to focus on event management instead of mailing. We provide all the attendee data to the organizer though.

The truth is that people nowadays often say they did not receive a mail, it is in Spam etc. So, rather than focusing on providing email services which could require a support team, we focus on event manageme

[2020-09-30 16:03] #5200 closed

[2020-09-30 16:08] datapythonista commented on #5200
Exporting the data is very useful. Would be convenient to be able to send reminders, event instructions... to attendees, but thanks for the quick answer, I'll send a regular email.

[2020-09-30 19:15] HADES-01 commented on #5104
@mariobehling Would love to fix this bug. Please assign it to me.

[2020-09-30 22:47] Himanshunitrr commented on #4898
I will like to work on this issue. Please guide me.

[2020-09-30 23:26] Himanshunitrr opened #5207 "While creating an event the number of tickets can be set to a negative number."
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
Create an event and while typing the numbers of ticket (only by typing) set it to say -1.

**Expected behaviour**

It should be greater thatn 0

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the f

[2020-09-30 23:26] Himanshunitrr commented on #5207
I will also like to work on this issue.

[2020-09-30 23:30] Himanshunitrr opened #5208 "While creating an event and choosing sessions and speakers one can set Microlocations or Virtual Online Rooms to negative numbers"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
While creating an event when you will  be choosing Microlocations or Virtual Online Rooms. It can be set to negative number.

**Expected behaviour**

It should be greater than 0.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

[2020-09-30 23:54] Himanshunitrr commented on #4838
I will like to work on it.

[2020-10-01 00:02] Himanshunitrr opened #5209 "Sponsors level can also be a negative number."
**Describe the bug**

While creating an event one can make the level of sponsors to be a negative number
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

[2020-10-01 00:03] Himanshunitrr commented on #5209
I think that no where is the magnitude of number is being checked. I will like to work on this issue.

[2020-10-01 00:03] Himanshunitrr commented on #5208
I will like to work on this issue

[2020-10-01 00:14] Himanshunitrr commented on #4838
Where can be the relevant files for (https://github.com/fossasia/open-event-frontend/issues/4838) be found sir?

[2020-10-01 00:51] mariobehling opened #5210 "Invoice: Data of Seller is missing on invoice page"
The invoice page is missing the data of the seller, which was set in https://eventyay.com/admin/settings/billing

![Screenshot from 2020-10-01 02-48-46](https://user-images.githubusercontent.com/1583873/94754259-068d5900-0391-11eb-8667-fe9b6450849f.png)

[2020-10-01 00:55] mariobehling commented on #5210
Strange, on a second try the data is there.

[2020-10-01 01:00] Himanshunitrr commented on #5187
Yes, and sometimes it lands on the same page.

[2020-10-01 01:22] mariobehling opened #5211 "Invoice: Adjust invoice handling UI and Invoice Numbering"
Please make changes to the invoice as follows:

* Make invoice ID from 202010OU-1 to -> 202010OU-000001
* Instead of the download icon make the invoice ID into a link and open the linked PDF in a new window
* Take out the logo of the event from the event name column in table (accounting should be plain)
* Change Date to -> "Invoice Date"
* Add column "Due Date"
* It seems status "Due" and "Upcomin

[2020-10-01 01:31] mariobehling opened #5212 "Invoice: When user is not logged in to see invoice error page shows up"
When a user accesses the link to pay their invoice and the user is not logged in an error page shows up, that looks like the system has a problem stating "The page you were trying to access has caused an error.".

Expected: A message like "Please login to access this page." should appear instead with a link to the login page. After the login the user should be directed to the invoice page they tri

[2020-10-01 01:35] mariobehling opened #5213 "Invoice Review Page: Change button from Print to "Download""
The button on the review invoice page says "Print Invoice". The action of the button is to download the invoice though. It does not open the printer dialogue. Therefore please change it to "Download Invoice" and change the icon to show a download icon instead.

![Screenshot from 2020-10-01 03-33-27](https://user-images.githubusercontent.com/1583873/94756206-1c058180-0397-11eb-83ba-ef3e56a502cb.png

[2020-10-01 01:43] mariobehling commented on #5209
Thanks. This could be slightly confusing to the user, but it does not impact the usage of the system. Therefore I added priority low as the maintainers focus mainly on high priority issues. Maybe also check out those high priority issues. Thank you.

[2020-10-01 01:45] mariobehling commented on #5208
It is possible that a room is in the basement or even below. Therefore negative numbers are possible and can indicate a floor name. Hence closing this issue.

[2020-10-01 01:45] #5208 closed

[2020-10-01 01:48] mariobehling commented on #5207
It is a good issue to start working on the system, but for maintainers it is low priority as negative values will result in an error message when you try to save it. So, it does not impact the functioning of the system. However, would be great if you resolve this issue. Thank you!

[2020-10-01 02:00] aman-jaglan commented on #5213
I m working on it

[2020-10-01 02:07] snitin315 commented on #4838
@Himanshunitrr see past PRs.

[2020-10-01 05:21] naman360 commented on #5213
Can I work on it?

[2020-10-01 05:22] Raunaksingh100 commented on #5213
no it lead to duplicate work

[2020-10-01 05:33] himanshujaidka commented on #5212
I am workin on that

[2020-10-01 05:37] Raunaksingh100 commented on #5212
@himanshujaidka go ahead!!

[2020-10-01 05:56] himanshujaidka commented on #5212
@Raunaksingh100 pls tell me where is the file ?

[2020-10-01 06:57] maze-runnar commented on #5198
actually, it supports only one operation at a time. Means can't select two speakers at once, can't do deletion and selection of other speakers at the same time.
You have to delete speaker and save it, then again click on edit and add a speaker.
@iamareebjamal what can be done here?

[2020-10-01 07:11] maze-runnar opened #5216 "wizard session step: privacy selection showing error"
![Screenshot from 2020-10-01 10-10-45](https://user-images.githubusercontent.com/56407566/94778732-67458180-03e3-11eb-9255-e50b86ea7a8b.png)

*Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Browser [e.g. stock

[2020-10-01 07:47] bsanket16 commented on #4820
I would like to work on this issue.

[2020-10-01 08:23] vj-codes opened #5217 "Update all messages for hindi language"
**Is your feature request related to a problem? Please describe.**
Currently in [this file](https://github.com/fossasia/open-event-server/blob/development/app/translations/hi/LC_MESSAGES/messages.po) only some messages are translated from english to hindi .
Example messages after line [239 onwards](https://github.com/fossasia/open-event-server/blob/development/app/translations/hi/LC_MESSAGES/messa

[2020-10-01 08:27] snitin315 commented on #5213
@aman-jaglan commented first and it's been only few hours so you should ask him before working on it and creating a PR.

[2020-10-01 08:33] vj-codes commented on #5212
I would like to work on this

[2020-10-01 08:43] Raunaksingh100 commented on #5213
@snitin315 I commented first but I accidentally deleted my comment then @aman-jaglan add the comment

[2020-10-01 08:46] mariobehling commented on #5187
Trying with another account it redirects me to the frontpage. Needs to solved urgently.

[2020-10-01 08:48] Himanshunitrr commented on #5187
Will like to work on it.

[2020-10-01 09:04] Himanshunitrr commented on #5187
I am getting familiar with the source code. It will be very helpful if you can tell me the relevant files to save time.

[2020-10-01 09:12] #5216 closed

[2020-10-01 09:16] iamareebjamal commented on #5198
It should handle this by batching operations

[2020-10-01 09:20] snitin315 commented on #4820
Go Ahead.

[2020-10-01 09:32] vj-codes commented on #5212
@mariobehling hey I found the file to be edited for this issue ,  after the message is edited I have to replace the home button by login button and then how do I direct the user to invoice page again? Any hints 👀
Also is this a codeheat issue?

[2020-10-01 10:00] iamareebjamal commented on #5212
See create.js route

[2020-10-01 10:07] mayank0811 commented on #5157
I want to work on this issue.

[2020-10-01 10:13] Raunaksingh100 opened #5218 "The Save as draft button overlapping in mobile view"
**Describe the bug**
The save button is overlapping on the mobile view see in the screenshot for the better understanding

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://eventyay.com/create'
2. Click on 'inspect elment'
3. Scroll down to 'see save as draft button'
4. See error

**Screenshots**
![1](https://user-images.githubusercontent.com/65535360/94795319-d24e8280-03fa-11eb

[2020-10-01 10:13] Raunaksingh100 commented on #5218
i am working on this issue

[2020-10-01 10:16] Raunaksingh100 commented on #5157
go ahead !!

[2020-10-01 11:22] ricknjacky commented on #5201
Hi @mariobehling there are various ways out there to do the tasks mentioned above; Can you elaborate a bit more on this? Where is the enhancement expected and how you want it to be implemented. New to the organisation, so if you could help me a bit.

[2020-10-01 12:21] maze-runnar commented on #5198
how to use batch operation here -
[code]

[2020-10-01 12:24] mariobehling commented on #5218
Thanks for testing this and any improvement is welcome. For codeheat we focus on issues opened by maintainers. A list is here https://github.com/fossasia/open-event-frontend/issues?q=is%3Aissue+is%3Aopen+label%3Acodeheat Thank you!

[2020-10-01 12:34] ritikgarg655 commented on #591
I want to work on it. Please assign me.

[2020-10-01 13:27] vj-codes commented on #5217
@iamareebjamal hey so should I update the translations in this repo ?

[2020-10-01 14:15] #5213 closed

[2020-10-01 14:15] iamareebjamal commented on #591
Please send a PR, no need of assigning. Use ember-leaflet

[2020-10-01 14:17] iamareebjamal commented on #5198
We need to saved deleted and added speakers in a list and then when `save` is pressed, we add or delete the records. Check deletedTickets implementation in event wizard

[2020-10-01 15:03] chiraag-kakar commented on #4430
I am working on this issue @mariobehling

[2020-10-01 18:23] vj-codes commented on #5147
@iamareebjamal is the last point only left or more? I would like to work on this

[2020-10-01 23:47] iamareebjamal commented on #5147
2 points are left https://github.com/fossasia/open-event-frontend/issues/5147#issuecomment-699798106

However, they are a bit complicated. You can work on them if you want to but they are not beginner-friendly

[2020-10-01 23:56] iamareebjamal commented on #5212
@vj-codes Status? Please take one issue at a time. If you want to take up another issue, please comment on the older issue that it is free to be taken up by others. As it is high priority, we want to reduce contention over these issues so they are solved ASAP. Hence, if no codeheat participant has taken them up, we solve them ourselves. Thus, it should be very clear if a high priority issue is tak

[2020-10-02 00:56] himanshujaidka commented on #5212
@iamareebjamal I am working on that and hope so today I’ll make pr

[2020-10-02 00:57] iamareebjamal commented on #5212
@vj-codes had commented first so let her tell if she has already worked on it or not

[2020-10-02 01:17] #5210 closed

[2020-10-02 01:21] iamareebjamal commented on #5211
@mariobehling Currently it is `202010U-1` (`YYYYMMU-#ID`), not (`YYYYMMOU-#ID`) according to https://github.com/fossasia/open-event-frontend/issues/5120#issuecomment-697295034

So should it be `202010OU-000001` or `202010U-000001`

[2020-10-02 01:34] himanshujaidka commented on #5212
Okay sir

[2020-10-02 02:17] #5211 closed

[2020-10-02 06:08] mariobehling commented on #5211
Both are fine.

[2020-10-02 06:36] vj-codes commented on #5212
@iamareebjamal it's available from others then, sorry wasn't aware about the rules :)

[2020-10-02 06:56] mariobehling opened #5224 "Invoice: Complete data on PDF invoice"
Please complete the data set fields on the PDF invoice as follows:

Organizer
- [x] add field contact name e.g. Ms. Kathy Adriano
- [x] add tax ID for organizer

Supplier
- [x] Add contact name

Both Supplier and Organizer area:
- [x] Add line breaks for address e.g.:
 12 Eu Tong Sen Street #08-169
 Singapore 059819
 Singapore

[2020-10-02 08:46] iamareebjamal commented on #5224
Tax ID is already there (Tax Info field)

[2020-10-02 08:49] iamareebjamal commented on #5224
Contact name for organizer is there if they have saved it in their profile.
For admin, contact name should be displayed above company name or below?

[2020-10-02 12:44] #5212 closed

[2020-10-02 12:44] #5187 closed

[2020-10-02 14:44] mariobehling commented on #5224
Below company name.

[2020-10-02 14:44] mariobehling commented on #5224
Tax ID of the organizer (not the supplier. The supplier ones I saw already)

[2020-10-02 17:21] mayank0811 commented on #5157
I cannot access admin webpages due to lack of permission.
Also, does the sorting needs to be done in front-end or back-end?

[2020-10-02 18:41] AbhipsaGuru1012 commented on #5010
@iamareebjamal Hi, can I work on this issue?

[2020-10-03 00:13] #5224 closed

[2020-10-03 00:26] iamareebjamal commented on #5224
That is added to PDF if the organizer has filled in the tax info, else omitted

[2020-10-03 00:31] iamareebjamal commented on #5010
Yes, go ahead

[2020-10-03 01:04] iamareebjamal commented on #5157
You need to deploy the server locally and create a local super admin user

[2020-10-03 01:56] iamareebjamal commented on #5224
Please check the PDF now

[2020-10-03 06:31] BLasan commented on #5195
@mariobehling Can I work on this?

[2020-10-03 08:22] Raunaksingh100 commented on #5195
@BLasan go ahead!!

[2020-10-03 08:58] AbhipsaGuru1012 commented on #5010
@iamareebjamal should I add the withdrawn and canceled status to https://github.com/fossasia/open-event-frontend/blob/development/app/templates/components/ui-table/cell/cell-sessions-dashboard.hbs and https://github.com/fossasia/open-event-frontend/blob/development/app/templates/components/ui-table/cell/cell-speakers-dashboard.hbs files?

[2020-10-03 09:06] iamareebjamal commented on #5010
If that solves the issue, yes

[2020-10-03 17:18] daretobedifferent18 commented on #5184
I want to work on this issue

[2020-10-03 17:34] Raunaksingh100 commented on #5184
Go ahead !!

[2020-10-03 17:50] siddhantvirus commented on #5188
I want to take up this issue and before I do I want to clarify something :

1)You want to take the event time in UTC +0  and ask for the user to enter their local timezone.

or

2)  You want to accept the event time in the time zone the user specifies and then convert it to UTC +0 equivalent.

[2020-10-03 18:00] dsnehasish74 commented on #4818
I would love to work on it  can you please assign this to me?????

[2020-10-03 18:25] sb39 commented on #5147
@iamareebjamal I want to take this up

[2020-10-03 21:24] daretobedifferent18 commented on #5184
Could you pls help me how to login in as a admin locally?

[2020-10-03 22:15] iamareebjamal commented on #5184
Deploy the server locally

[2020-10-03 22:16] iamareebjamal commented on #5147
Please read above comment

[2020-10-03 22:19] iamareebjamal commented on #5188
If someone picked 22 September 9:00 AM while timezone is selected, or after they change the timezone, the time is set correctly. If someone changes the timezone after selecting the time, the time remains in the wrong timezone. The goal is to have the final time 22 September 9:00 AM in the selected timezone. Hopefully, that clears the bug

[2020-10-03 22:19] daretobedifferent18 commented on #5184
I have deployed it locally. But then if I am logging in
where will  I get page that is shown in issue description ?

[2020-10-03 22:21] iamareebjamal commented on #4818
Please send a PR

[2020-10-03 22:22] iamareebjamal commented on #5184
Create an event and go to manage event section.

[2020-10-04 03:06] dsnehasish74 commented on #4818
ok I am sending

[2020-10-04 04:50] dsnehasish74 commented on #4818
Can you help me on this after installing it in my local machine I tried to login but my email is not getting verified if click on the link to confirm my email it shows not found ...... plz help me with that without it how can I go to my desired page
![Screenshot (291)](https://user-images.githubusercontent.com/58779604/95007256-3d7e9b80-062b-11eb-9d12-16c8451597b7.png)

[2020-10-04 05:00] sb39 commented on #5147
@iamareebjamal I am ok with it not being a beginner-friendly, can I take this up

[2020-10-04 05:01] iamareebjamal commented on #4818
Change to URL to localhost:4200

[2020-10-04 05:02] iamareebjamal commented on #5147
Go ahead

[2020-10-04 06:28] sahilsaha7773 commented on #5175
I want to work on this

[2020-10-04 10:06] Soumi150 commented on #5184
@iamareebjamal  do l need to sign up on the open-event website after locally deploying it on my system ?

[2020-10-04 10:44] iamareebjamal commented on #5184
yes

[2020-10-04 13:37] ritvikkhanijo opened #5235 "error when the number of minimum tickets is less than maximum. No error when maximum is less than minimum."
**Describe the bug**
On creating a new event, when the number of tickets per order is less than maximum tickets, an error is shown, the error being "Minimum order should not be greater than maximum". Also, when we increase the number of minimum tickets, we can somehow end up having more minimum tickets than maximum tickets with no error.

**To Reproduce**
Steps to reproduce the behaviour:
1.  Go t

[2020-10-04 16:21] ruhci28 commented on #5163
Hii @iamareebjamal I want to work on this

[2020-10-04 17:15] Soumi150 commented on #5184
How to do email confirmation for open-event? The confirmation link sent in mail displays "not found" when clicked .

[2020-10-04 17:45] mariobehling opened #5238 "Switch buttons: Cannot unswitch buttons"
Switch buttons can only be switched "on".
* It is not possible to switch them off.
* When one button is switched on, the second button e.g. Promoted event is also switched on

Compare: https://eventyay.com/admin/events/

![Screenshot from 2020-10-04 19-42-37](https://user-images.githubusercontent.com/1583873/95022894-1e5b2a80-067a-11eb-9645-40dc70299080.png)

[2020-10-04 17:55] mariobehling commented on #5235
When the user clicks outside of the form area the behavior seems to go back to what is expected. However, the behavior should just work as expected when the numbers are changed.

![Screenshot from 2020-10-04 19-55-33](https://user-images.githubusercontent.com/1583873/95023137-970eb680-067b-11eb-8248-5e066d0b5a53.png)

[2020-10-04 18:52] mariobehling opened #5239 "Frontpage: Event Filter not working reliably"
Only events that fulfill certain criteria are shown on the front page. However, this filter does not seem to work reliably. As sometimes all kinds of events are showing up on the front page. After a refresh the filter is applied though.

It is difficult to replicated this issue as it appears without any obvious reason. A guess is that the connection is slow? Not sure.

![Screenshot from 2020-10-04

[2020-10-04 19:55] Soumi150 commented on #5235
I want to work on this issue.

[2020-10-04 21:11] chauhan0707 commented on #5238
Sir, can I plz work on this issue?

[2020-10-04 21:30] #5188 closed

[2020-10-04 21:32] iamareebjamal commented on #5184
Replace URL host to localhost:4200

[2020-10-05 01:13] Raunaksingh100 commented on #5238
Go ahead

[2020-10-05 06:26] iamareebjamal commented on #5163
@ruhci28 It is a bit involved and urgent so @maze-runnar would be working on it if you haven't started working on it?

[2020-10-05 07:22] himanshujaidka opened #5240 "Search field on frontpage confusing due to Wrong text"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'eventyay home page"
![Screenshot (91)_LI](https://user-images.githubusercontent.com/58654018/95050633-886ee080-0709-11eb-92ea-df0076f3f566.jpg)

2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS

[2020-10-05 08:32] maze-runnar commented on #4741
@mariobehling this has been done https://github.com/fossasia/open-event-frontend/pull/5152

[2020-10-05 10:40] #4741 closed

[2020-10-05 10:43] maze-runnar commented on #5163
@iamareebjamal after applying sort this is returning only one event, why? without sort it's returning all events.
[code]
![Screenshot from 2020-10-05 16-11-46](https://user-images.githubusercontent.com/56407566/95070338-9a5e7c80-0725-11eb-8890-905923798b93.png)

[2020-10-05 10:45] iamareebjamal commented on #5238
The problem is with ember-source > 3.20.3
I don't know what changed.

This was fixed in #4912 (#4873) but recent PRs of dependabot I merged added the bug again

So, we need a test which fails on later ember versions so that we don't accidentally merge the PR. I also explored options to use a different switch component but something was still not working.

So, we divide this issue in 3 steps:

- [

[2020-10-05 10:45] maze-runnar commented on #5163
And does this table needs to be changed like
![scrnli_10_5_2020_4-15-23 PM](https://user-images.githubusercontent.com/56407566/95070612-00e39a80-0726-11eb-99d7-ba933e069bb9.png)

[2020-10-05 10:49] iamareebjamal commented on #5163
Yes

[2020-10-05 10:50] iamareebjamal commented on #5163
Please write the API URL being sent to the server so I can debug

[2020-10-05 11:04] maze-runnar commented on #5163
http://127.0.0.1:5000//v1/admin/sales/by-events?sort=name

[2020-10-05 11:29] Soumi150 commented on #5240
I would like to work on this issue.

[2020-10-05 11:41] iamareebjamal commented on #5163
I'm getting multiple events using the same URL

[2020-10-05 12:41] iamareebjamal commented on #5163
@maze-runnar Please rebase server, I have fixed the API

[2020-10-05 13:05] chauhan0707 commented on #5238
So is this issue still open or not.

[2020-10-05 13:13] iamareebjamal commented on #5238
Green means open

[2020-10-05 19:02] AdityaTeltia commented on #5238
Can i work on it please ?

[2020-10-05 20:48] ArunTeltia commented on #5176
I am working on this

[2020-10-06 00:34] iamareebjamal commented on #5238
@chauhan0707 Are you working on it?

[2020-10-06 02:05] #5163 closed

[2020-10-06 02:58] iamareebjamal commented on #2794
Same as #5163 and fixed in #5243

[2020-10-06 02:58] #2794 closed

[2020-10-06 03:04] iamareebjamal commented on #4237
@maze-runnar Now you know how it is to be done, so please take this up

[2020-10-06 03:12] #5081 closed

[2020-10-06 03:14] iamareebjamal commented on #4832
Remaining issue opened in #5055 and fixed in #5070

[2020-10-06 03:14] #4832 closed

[2020-10-06 03:15] iamareebjamal commented on #4959
All points have been completed, so closing

[2020-10-06 03:15] #4959 closed

[2020-10-06 03:16] iamareebjamal commented on #5006
This was resolved but vertical timeline was reverted, so reopening that issue and closing this one

[2020-10-06 03:16] #5006 closed

[2020-10-06 03:19] iamareebjamal commented on #5127
All points completed, so closing

[2020-10-06 03:19] #5127 closed

[2020-10-06 03:23] iamareebjamal commented on #3419
Fixed in #5193
Duplicates: #4542 #5178

[2020-10-06 03:23] #3419 closed

[2020-10-06 03:26] iamareebjamal commented on #4580
Fastboot is disabled so now, this is not needed

[2020-10-06 03:26] #4580 closed

[2020-10-06 03:28] iamareebjamal commented on #5239
Fastboot is disabled now so it should be reliable now. Please reopen if experienced again

[2020-10-06 03:28] #5239 closed

[2020-10-06 04:59] chauhan0707 commented on #5238
@iamareebjamal sir how can I look into https://eventyay.com/admin/events/ and make any changes. I'm trying to change the code but I want to see the exact toggle switch problem. Sorry for this. Can u help me?

[2020-10-06 05:02] iamareebjamal commented on #5238
1. See above comments, the switch problem has been solved. Remaining 3 points need to be solved.
2. You are not admin of eventyay, you cannot access that page. Deploy the server locally and check admin pages

[2020-10-06 09:58] mariobehling commented on #5240
This issue will be part of a larger change of the search area. We will probably get rid of the entire field and simplify the search. Therefore tackling this issue separately from other search related issues is probably difficult and out of context.

[2020-10-06 10:00] mariobehling commented on #5240
I tried to make the issue title more clear. It is not perfect, but let's try to make the issue as clear as possible in the title already. Thank you.

[2020-10-06 12:42] Soumi150 commented on #5235
This issue seems to be fixed. @mariobehling and @iamareebjamal ,Please review this.

[2020-10-06 13:43] mariobehling opened #5254 "Admin Sales Page: Sorting issue and missing event on events listing"
Admin sales page shows event from 2017 on top when sorting according to newest event first (https://eventyay.com/admin/sales?per_page=50&search=&sort_by=starts-at&sort_dir=ASC). Also the event does not show up when searching it on the events list here https://eventyay.com/admin/events/ or here https://eventyay.com/admin/events/all.

![Screenshot from 2020-10-06 15-35-43](https://user-images.github

[2020-10-06 13:58] mariobehling opened #5256 "Admin Sales Page: Provide buttons, filters and date selection"
The admin sales page (https://eventyay.com/admin/sales) now shows events and their sales data. However, it is difficult to identify relevant events. Admins need to click through different pages to see which events are selling tickets. Also all events are listed by default - live, draft, past events, which possibly creates a load on the server.

Please enhance the usability therefore as follows:
1.

[2020-10-06 14:08] DhairyaBahl commented on #5256
I would like to work on this issue. Kindly assign this issue to me .

Thanks :)

[2020-10-06 16:18] himanshujaidka commented on #5240
okay @mariobehling

[2020-10-06 21:48] iamareebjamal commented on #5256
It is possible to filter across Live, Past, Draft Events and to filter across starts-at, but not possible to sort through tickets sold or sales because they are not properties of event but a summarized computation of related data - sum(event->orders.amount) and sum(event->ticket_holders) and even more difficult because they are filtered across order status as well

[2020-10-06 22:36] #5254 closed

[2020-10-07 02:47] maze-runnar commented on #4237
on adding any of other field here `const searchField = 'identifier';` instead of identifier it throws error.
for example - `const searchField='completedAt'` it shows error 404.

[2020-10-07 02:49] maze-runnar commented on #4237
I have also added following in models/order.js and added email in routes to search by email but again 404.
[code]

[2020-10-07 03:15] iamareebjamal commented on #4237
Why do you want to search via completedAt? Makes no sense.

About searching via email, as discussed last time, to search through related relationships, you need to create the filter like `{ has : { user : { email ... } }`. applySearchFilter function just adds scalar search fields. You have to add custom logic to add search filters for this table

Call me if you have doubts

[2020-10-07 03:23] #5235 closed

[2020-10-07 04:48] aman-jaglan commented on #5195
I'm working on this

[2020-10-07 05:47] bellaphan opened #5258 "Unable to proceed PAYPAL payment"
When I try to make a payment using Paypal and want to proceed to checkout, then this occur

<img width="1417" alt="Screen Shot 2020-10-07 at 12 07 38 am" src="https://user-images.githubusercontent.com/50802607/95236841-a8012880-0831-11eb-9723-bba297bdeed4.png">

<img width="1417" alt="Screen Shot 2020-10-07 at 12 07 10 am" src="https://user-images.githubusercontent.com/50802607/95236829-a5063800-0

[2020-10-07 06:07] Raunaksingh100 commented on #5195
No it lead to duplicate work

[2020-10-07 06:51] snitin315 commented on #5195
Its been 4 days he can work on it.

[2020-10-07 06:52] maze-runnar commented on #5258
@bellaphan, it's working fine-
![Screenshot from 2020-10-07 12-21-29](https://user-images.githubusercontent.com/56407566/95297252-bd10a280-0897-11eb-863d-c33cbca24b6c.png)

[2020-10-07 08:10] aman-jaglan commented on #5195
speak only when you confirm about things @Raunaksingh100

[2020-10-07 08:13] Raunaksingh100 commented on #5195
Y first Improve your coummication skills
Thanks

[2020-10-07 08:48] aman-jaglan commented on #5195
i'll show you my communication skills and background also if you drop your number @Raunaksingh100

[2020-10-07 10:03] iamareebjamal commented on #5258
@bellaphan Can you please paste the URL of the order?

[2020-10-07 10:04] iamareebjamal commented on #5195
Keep the conversation on topic

[2020-10-07 10:56] mariobehling opened #5260 "Organizer Invitations directs to "Register" instead of "Login" for Existing Accounts and then directs to Start Page"
When an event owner invites another organizer and the organizer is not logged in the following happens: The organizer clicks the link and is directed to a sign up page. There is an option "Login instead". It this option is chosen and the user logs in, the user is directed to the start page.

Expected: The invited user (organizer) should be directed to the login page, if the account of the user wit

[2020-10-07 11:02] mariobehling opened #5261 "Event Roles: Only one invite at a time possible"
In the event team tab it is possible to invite other oganizers. However it is only possible to invite one other user at a time. Another invite only works after refreshing the page.

![Screenshot from 2020-10-07 13-00-19](https://user-images.githubusercontent.com/1583873/95322791-57bfb000-089d-11eb-83e4-ae56bcfd2cf3.png)

[2020-10-07 11:16] mariobehling opened #5262 "Wizard Step 1: Should not be possible to save when Stripe is ticked without Stripe connected"
The Stripe payment in wizard step 1 can be activated and the event can then be saved. This should not be possible as the user has not connected to the Stripe gateway. It should only be possible to save the event with Stripe ticked on if the user has connected to their Stripe account.

Expected:
* [ ] Show an error message "You need to connect to your Stripe account, if you choose Stripe as a payme

[2020-10-07 11:29] mariobehling opened #5263 "Wizard Step 1: After Stripe connection Error Message "Authorization Code Required""
When adding Stripe and connecting it to an event as an organizer (not owner) there is an error message "Authorization Code Required", when the user tries to save the event.

Reloading the page resolves the error and the user can now save the event (even though actually the Stripe connection is saved already).

It is difficult to replicate the error and it is unclear what leads to the error specifi

[2020-10-08 01:37] iamareebjamal commented on #4092
Fastboot is disabled now

[2020-10-08 01:37] #4092 closed

[2020-10-08 11:41] sachinchauhan2889 commented on #5176
i want to work on this issue

[2020-10-08 14:45] swapnalshahil commented on #5218
I guess this issue is solved ..?

[2020-10-08 14:56] sansyrox commented on #4716
@iamareebjamal @maze-runnar , do we still have this issue?

[2020-10-08 15:03] iamareebjamal commented on #4716
Yes

[2020-10-08 15:44] sansyrox commented on #4716
![Screenshot 2020-10-08 at 9 03 20 PM](https://user-images.githubusercontent.com/29942790/95480619-b5d9b980-09a9-11eb-8fbc-508d4d8caa2d.png)

Is it a browser-specific or an os dependent behavior? As it's working correctly on Chrome OSX.

[2020-10-08 15:50] iamareebjamal commented on #4716
This is the file picker. Issue is about cropper dialog

[2020-10-08 15:58] sansyrox commented on #4716
Ah. Sorry, my bad. Cropper dialog is also working fine for me though.

![Screenshot 2020-10-08 at 9 26 47 PM](https://user-images.githubusercontent.com/29942790/95483607-14ecfd80-09ad-11eb-9570-1a9e7753f00d.png)

[2020-10-08 16:28] iamskab commented on #5133
Willing to work on this bug !
@mariobehling  Kindly assign me so that others can understand i'm working on this .

[2020-10-08 17:25] siddhantvirus commented on #5261
@mariobehling can the backend accept more than one invite at a time in the same request ?
Because making relevant changes in the frontend won't be of any use without that

[2020-10-08 17:47] iamareebjamal commented on #5133
They can see your comment. Please go ahead

[2020-10-08 18:32] iamareebjamal commented on #5261
It's not about invites being in the same request

[2020-10-08 18:42] mariobehling opened #5271 "Wizard Step 5: Error Message "speakers call data can't be after the event start date" even though call date is before event"
When an organizer plays around with the call date and chooses the wrong date an error message appears. When the organizers fixes it the error message still appears "speakers call data can't be after the event start date". Sometimes the error message does not appear even if the dates for "Call for Speakers" are after the event.

Compare: http://eventyay.com/events/e96320f3/edit/sessions-speakers
![

[2020-10-08 18:46] mariobehling opened #5272 "Wizard Step 5: Preselect "Public Option" for Call for Speakers"
For the buttons for call for speaker there are only two options - public or private. The option "public" should be pre-selected.

![Screenshot from 2020-10-08 20-44-35](https://user-images.githubusercontent.com/1583873/95500548-3ba83580-09a7-11eb-8c1b-69d4e5970d34.png)

[2020-10-09 03:08] Nanak360 commented on #5272
@mariobehling I would love to work on it. Would you please kindly assign me?

[2020-10-09 05:14] Nanak360 commented on #5272
I guess I fixed the bug but I would like to see it myself before making a pull request.
Can someone please tell me how do I reproduce this bug? I cannot even log in or create a new account in my Local build.

[2020-10-09 06:59] iamareebjamal commented on #5272
What's the error you're getting?

[2020-10-09 08:01] Nanak360 commented on #5272
I have made the necessary changes but I'm unable to see those changes.
What I want is to recreate the scenario so that I can see if the changes are alright or not.
Would you let me know how can I do so?

[2020-10-09 09:14] iamareebjamal commented on #5272
How are you unable to see those changes?

[2020-10-09 12:43] sachinchauhan2889 commented on #5176
@mariobehling @iamareebjamal i tried to regenerate this error on eventyay.com and on local host both but error is not regenerated. __Initializing tickets__ are not showing under __completed__ list tab. __Initializing__ tickets are listing under __all__ tab. Could you please tell how to regenerate this error. And __pending__ tab is not available. this is a new issue.
![01](https://user-images.githu

[2020-10-09 17:29] sachinchauhan2889 opened #5276 "Attendee Page: Pending tickets tab is not showing in attendee page of events"
**Describe the bug**

On the _attendees_ page of _events_,  __pending__ tickets  tab is not showing. _Pending_ tab contain list of pending tickets.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to _'www.eventyay.com'_ or _localhost:4200_
2. Login with your account
3. Go to _manage events_.
4. Go to _events dashboard_(if you are not having any event, create an event)
5. Go to _tickets_

[2020-10-09 17:30] sachinchauhan2889 commented on #5276
I am working on this issue

[2020-10-09 19:45] mariobehling opened #5277 "Ticket Order: User able to add invalid email"
A user could get a ticket and add an invalid email. Compare at https://eventyay.com/orders/d2b49133-ddc1-4f77-865e-f12cb8e24108/view

Expected:
* User should only be able to add valid emails
* Question: For the first ticket should we limit this and only allow the user to use their confirmed email for free tickets? How do other systems like eventbrite do it?

![Screenshot from 2020-10-09 21-44-14](

[2020-10-10 00:52] iamareebjamal commented on #5276
I can see pending tab
![image](https://user-images.githubusercontent.com/3874064/95641587-ec562800-0ac0-11eb-8e17-3d964db2d716.png)

[2020-10-10 01:09] Siddhant-K-code commented on #5217
@mariobehling can i work on this ?

[2020-10-10 01:25] iamareebjamal commented on #5277
This is the only way to ensure correct email. Because the email entered above by the user is a valid email address, it just doesn't exist

[2020-10-10 01:29] iamareebjamal commented on #5277
Eventbrite lets you order even free tickets on invalid emails

[2020-10-10 03:56] sachinchauhan2889 commented on #5276
@iamareebjamal sir, why this is not showing in chrome browser of ubuntu 20.04.01 LTS.

[2020-10-10 05:00] sachinchauhan2889 commented on #5276
@iamareebjamal @mariobehling i have checked on ubuntu chrome, ubuntu firefox, windows chrome, edge, android chrome. but i am not able to see pending tab anywhere. @iamareebjamal please use any of above lisited browser at windows or ubuntu and see the error.
![android](https://user-images.githubusercontent.com/72552281/95646139-19b3cd80-0ae3-11eb-9d95-86b47291ce9c.png)
![Edge](https://user-images.g

[2020-10-10 06:44] maze-runnar commented on #5272
working fine. I am not able to reproduce, tried much time.
![captured (2)](https://user-images.githubusercontent.com/56407566/95648010-b54c3a80-0af1-11eb-8040-e93eb7ea51b2.gif)

[2020-10-10 06:46] iamareebjamal commented on #5272
You must be talking about #5271, not this issue

[2020-10-10 06:48] maze-runnar commented on #5272
ok

[2020-10-10 10:55] #5271 closed

[2020-10-11 05:18] iamareebjamal commented on #5276
This is because it is only shown for admins

[2020-10-11 05:18] #5276 closed

[2020-10-11 05:46] Hackerbone commented on #5262
How do I replicate this bug in the website

[2020-10-11 06:37] maze-runnar commented on #5261
looking into it.

[2020-10-11 09:57] daretobedifferent18 commented on #5184
![Screenshot from 2020-10-11 15-24-14](https://user-images.githubusercontent.com/71120226/95675569-dc7c3800-0bd5-11eb-9551-672950650215.png)
@iamareebjamal  I found the file.
I think the bug for this issue is in this file where each loop is written.
because if I manually write range 1 -10 its is working correct but not working with this.record.minOrder ...
Could you please help me where this.recor

[2020-10-11 10:31] iamareebjamal commented on #5184
You have to use ticketlist component here. It has proper logic

[2020-10-11 14:17] #5262 closed

[2020-10-11 14:44] maze-runnar commented on #5261
can we just reload the page on every invite send, it would solve the issue?

[2020-10-11 15:28] iamareebjamal commented on #5261
Why, why can't we send multiple invites on same page. That's a workaround, not a fix

[2020-10-11 17:10] iamareebjamal commented on #5261
No, this shouldn't be the case here. After being sent, the model must be set to the initial state

[2020-10-12 10:43] sachinchauhan2889 commented on #4838
i am working on this issue

[2020-10-12 11:03] maze-runnar commented on #5261
In second attempt showing this error -

`{"errors": [{"status": 422, "source": {"pointer": "/data/relationships/role"}, "title": "Unprocessable Entity", "detail": "A valid relationship with role resource is required"}], "jsonapi": {"version": "1.0"}}`

[2020-10-12 12:30] maze-runnar commented on #5261
We can edit as many invites in one go, but even not possible to send a new invite after editing any invite.

[2020-10-12 14:01] iamareebjamal commented on #5261
That is not a technical limitation. But a result of poor coding. Let's schedule a work session tomorrow or on Wednesday and solve the speaker and this issue

[2020-10-12 14:30] maze-runnar commented on #5261
ok, tomorrow at 10 a.m.?

[2020-10-12 14:31] #4504 closed

[2020-10-12 14:32] iamareebjamal commented on #5261
OK

[2020-10-12 15:21] maze-runnar commented on #5277
can we use https://sendgrid.com/solutions/email-api/email-address-validation-api/ or https://mailboxlayer.com/ like service to validate an email address? But most of the sites don't validate emails in this way. They just let the user enter invalid email with correct format.

[2020-10-12 18:41] sachinchauhan2889 commented on #4838
@mariobehling  @iamareebjamal  @snitin315  please have a look at PR. Please review it.

[2020-10-13 06:38] #5261 closed

[2020-10-13 06:39] Ashutosh00710 opened #5295 "CODE OF CONDUCT is missing"
This repository has so many contributors and this is a very beautiful project. I think its must have its **_CODE OF CONDUCT_**  which will contain:
* Aim of the project
* Project Standards
* Maintainer responsibilities
* Criteria of accepting or denying a pull request

I think it may enhance the project documentation for the community.

[2020-10-13 08:42] #5295 closed

[2020-10-13 08:49] mariobehling opened #5299 "Video: Autogenerate underlying Jitsi Room and Phone numbers"
There is a way to autogenerate a Jitsi room with "additional information" such as phone numbers. An example of an implementation is available in the calendar chrome plugin at https://github.com/jitsi/jidesha.

Please implement this in a way that such "Additional Information" is added automatically into the field "Additional Information".

![Screenshot from 2020-10-13 10-49-11](https://user-images.

[2020-10-13 09:08] mariobehling opened #5300 "Wizard Step 5: Make Call for Speakers Optional"
The Call for Speakers is currently required for events with sessions and speakers. However, there are events that have sessions and speakers in a schedule, but they do not make a public or private call for speakers.

Therefore the Call for Speakers section should not be required. There should be a button "Enable Call for Speakers" similar to "Enable Organizer Info" on Wizard Step 1.

Please only p

[2020-10-13 09:09] iamareebjamal commented on #5299
https://jitsi.org/api/

[2020-10-13 09:33] maze-runnar commented on #5198
@iamareebjamal it's working on my development server.

[2020-10-13 09:34] maze-runnar commented on #5198
Added two spekers and it's working -
![Screenshot from 2020-10-13 15-03-50](https://user-images.githubusercontent.com/56407566/95843468-5db60500-0d65-11eb-9f8c-1ae598ee66da.png)

[2020-10-13 10:21] iamareebjamal commented on #5198
OK, then it's purely a server issue

[2020-10-13 11:03] iamareebjamal commented on #5198
@maze-runnar Please check if you are getting an error on applying the migration in https://github.com/fossasia/open-event-server/pull/7353

[2020-10-13 11:50] maze-runnar commented on #5198
bo I am not getting any error on applying migration.

[2020-10-13 12:08] #5198 closed

[2020-10-13 14:18] mariobehling opened #5303 "Wizard Error: Need to connect Stripe Account event though Stripe is connected"
The wizard shows an error message "You need to connect you stripe account...". Stripe is connected and events have not been changed.

Compare https://eventyay.com/events/5ac8e4d9/edit/basic-details

![Screenshot from 2020-10-13 16-16-45](https://user-images.githubusercontent.com/1583873/95872922-ad013300-0d6f-11eb-8f17-ae35fe8fa544.png)

[2020-10-13 17:47] #5303 closed

[2020-10-14 05:46] #2346 closed

[2020-10-14 06:05] mariobehling opened #5307 "Organizer Session Page: Dropdown menu results in internal scroll bar"
When an organizer clicks on status pending, accepting etc. in the last row of a page suddenly an internal scroll bar shows up and the dropdown menu appears below other page elements.

Expected: No internal scroll bar. Elements should be on top of below elements.

![Screenshot from 2020-10-14 08-02-37](https://user-images.githubusercontent.com/1583873/95949911-f004ea00-0df3-11eb-9d6d-fd0a3b75a7f5.p

[2020-10-14 06:25] mariobehling opened #5308 "Speaker Notification: HTML code in message and pop up not entirely visible"
The pop up notification box has some issues:
1. There is html code on the bottom of the message
2. The pop up is partly hidden
* behind an area that should be below on top and bottom
* buttons are hidden
* top area is hidden

Compare https://eventyay.com/events/5ac8e4d9/sessions/all
![Screenshot from 2020-10-14 08-22-29](https://user-images.githubusercontent.com/1583873/95951462-c0a3ac80-0df6-11eb

[2020-10-14 06:27] mariobehling opened #5309 "Speaker Notification: Show Email address"
For the speaker notification, please show
* The name and email address of the speaker above the subject in a non-editable way.
* Show it similar to how it is shown in email programs
* If there are several speakers of a session show several speakers
* Ensure several speakers receive the notification if there are
* Also show a CC box for the organizer to add any other relevant emails

![Screenshot f

[2020-10-14 06:41] mariobehling opened #5310 "Session Proposal Mail: Wrong session link"
Organizers and speakers receive a session mail with the wrong link after submission.

E.g.

Expected link is https://eventyay.com/e/5ac8e4d9/session/6377

[2020-10-14 06:41] pavnesh2019 commented on #5308
what are steps to reproduce this issue?

[2020-10-14 06:46] mariobehling opened #5311 "Pending Session Pages Publicly Accessible"
Sessions that are not in the state "Accepted" or "Confirmed" should not be public. Currently even sessions in "Pending/Draft" stage are public if someone knows the link, e.g. https://eventyay.com/e/5ac8e4d9/session/6377

[2020-10-14 07:51] sachinchauhan2889 commented on #5309
i am working on this

[2020-10-14 09:19] iamareebjamal commented on #5308
That is not an issue. Links are shown this way only. Link won't be shown if this is removed

For popup being hidden, we can make the size of the message textarea small, which will in turn hide some of the message

[2020-10-14 09:44] #5310 closed

[2020-10-14 10:43] maze-runnar commented on #5307
It is showing in that way when it is as the end of wondow not at end of table. Because semantic ui don't work in that way. Because for each cell the dropdown behaviour would be compressed then and be limited to that cell. it shows upside when it is at the end of wondow.
![Screenshot from 2020-10-14 16-11-18](https://user-images.githubusercontent.com/56407566/95978762-3d0aaf80-0e38-11eb-9637-4c351d

[2020-10-14 14:55] #4838 closed

[2020-10-14 15:33] maze-runnar commented on #5311
means that page shouldn't exist for this URL?

[2020-10-15 03:51] iamareebjamal opened #5315 "Add CfS enabled field in event"
It would be better if the announcement would not be deleted when it gets deactivated. Reason is: Organizers play around with features. Also they could click a field by accident. There are many reasons organizers would not want data (like the announcement) to be deleted. So, while deleting the announcement solves the current issue quickly it should not be a final fix.

As a matter of fact if we del

[2020-10-15 04:13] #5300 closed

[2020-10-15 11:18] sachinchauhan2889 opened #5318 "Organizer Session Page Table: Size of state button is less"
**Describe the bug**

In the Organizer Session Page Table, size of state button is less. Present space for button is sufficient for pending state but not for other state

.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'overview of event'
2. Click on 'sessions'
4. See error

#### Links
/events/:event_id/sessions/all

**Expected behaviour**

increase the size of state button.

**Desk

[2020-10-15 14:20] #5318 closed

[2020-10-15 14:47] iamareebjamal commented on #5101
Assuming this in the implementation: A room can have a single video stream linked. But a video stream can be linked to several rooms

[2020-10-16 05:39] namanjain007 opened #5326 "Unable to install watchman"
Hash Sum mismatch error is popping while installing (libssl-dev, autoconf, automake and libtool) packages.
any easier method to install on Debian/Ubuntu.

[2020-10-16 05:51] namanjain007 opened #5327 "Build failed on heroku"
`

-----> emberjs app detected

-----> Setting NPM_CONFIG_PRODUCTION to false to install ember-cli toolchain

-----> Fetching buildpack heroku/nodejs-v98

-----> Node.js detected

-----> Creating runtime environment

       NPM_CONFIG_LOGLEVEL=error

       NPM_CONFIG_PRODUCTION=false

       NODE_ENV=production

       NODE_MODULES_CACHE=true

       NODE_VERBOSE=false

-----> Installing binaries

[2020-10-16 05:54] iamareebjamal commented on #5326
Please use https://gitter.im/fossasia/open-event-frontend for support related questions

[2020-10-16 05:54] #5326 closed

[2020-10-16 05:56] iamareebjamal commented on #5327
Please use https://gitter.im/fossasia/open-event-frontend for support related questions

[2020-10-16 05:56] #5327 closed

[2020-10-16 11:36] Draco9421 commented on #5195
How can I publish an event it always ask me to confirm my email, but as I clicked on the email it sent it says NOT FOUND ?

[2020-10-16 17:18] iamareebjamal commented on #5195
Paste the confirmation link here

[2020-10-16 17:20] sachinchauhan2889 opened #5329 "Sponsors Table: Search feature is not working in sponsors table in events overview page"
**Describe the bug**

Event Overview Page: searching on sponsors in sponsors table is not working.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'overview of events'
2. try searching for any sponsor in sponsor table.
3. See error

**Expected behaviour**

search button must work.

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Browser: Chrome
 - Versi

[2020-10-16 18:57] #4399 closed

[2020-10-17 03:40] maze-runnar commented on #5195
@iamareebjamal I am using the condition `(ticket.attendees.toArray()).length > 0` for checking if it has sales, but in first attempt `(ticket.attendees.toArray()).length;` it always return 0, then return currect value.

[2020-10-17 05:04] rutujak24 commented on #5309
Can I please take this issue?

[2020-10-17 05:30] Soumi150 commented on #5131
The location part seems to have been fixed already. I would like to work on rest of the issue.

[2020-10-17 05:50] #5240 closed

[2020-10-17 05:52] iamareebjamal commented on #5195
This needs to be fixed on server, not frontend

[2020-10-17 05:54] maze-runnar commented on #5195
ok

[2020-10-17 09:06] terminator0309 commented on #5014
i want to work on this enhancement ...
I am new to open source projects and this issue looks fair to get started

[2020-10-17 09:08] Optider commented on #5329
@mariobehling @Orbiter @felixonmars Please let me know **shall I work on this**? Codeheat **label** is missing...

[2020-10-17 09:42] #4430 closed

[2020-10-17 09:46] iamareebjamal commented on #2849
Twitter, etc got loaded on pages which required it. Fonts and analytics have been fixed in #5333

[2020-10-17 09:46] #2849 closed

[2020-10-17 11:29] maze-runnar commented on #5176
[code]

even after applying this the table in completed section showing initialize.
@iamareebjamal this is happening when Ordering more than one tickets at a time, then some of it's tickets go to initialized state, but

 val  : {
            name : 'status',
            op   : 'ne',
            val  : 'initialized'
          }

from here they don't filter, so value coming is correct , but what's s

[2020-10-17 20:53] #5311 closed

[2020-10-18 05:49] terminator0309 commented on #5013
is this issue still open..?

[2020-10-18 05:57] terminator0309 commented on #5013
wizard 3 and 5 are not fixed, i want work on this issue... i am new to all this open source so this might be a good start for me :)

[2020-10-18 06:12] terminator0309 commented on #5013
![image](https://user-images.githubusercontent.com/57085155/96360060-f5856b80-1136-11eb-8431-4bf5266b8776.png)

is that ok.

[2020-10-18 06:21] terminator0309 commented on #5013
![image](https://user-images.githubusercontent.com/57085155/96360174-3e89ef80-1138-11eb-8369-287d1b4b5605.png)
and this.

[2020-10-18 08:05] abhpd commented on #5307
Making `overflow: visible` for `div id="ember1057"` solves the scroll bar issue. But my question is can we do that as the top bar of the table (thead) id="ember1058" is `position: static` and scroll down with the display?
![image](https://user-images.githubusercontent.com/34980034/96361829-b8c17080-1146-11eb-87d7-ecb7f0162665.png)

[2020-10-19 12:29] HeroicHitesh commented on #5260
@mariobehling I am working on it, assign it to me.

[2020-10-19 12:31] snitin315 commented on #5260
@HeroicHitesh feel free to send a PR.

[2020-10-19 15:52] hardhikgupta commented on #5277
I want to work on this issue.

[2020-10-19 17:04] HeroicHitesh commented on #5260
@mariobehling @snitin315 Which property is used to check if the invited user is already a user of the platform or not? I am able to change the route but unable to figure out which property contains this value. Can you tell me that property name or is there API documentation for the platform which I can refer, so that I can use that property name as a condition to switch routes between login and re

[2020-10-19 18:11] iamareebjamal commented on #5260
There is no such property because the user hasn't been logged in the system yet

[2020-10-19 18:16] HeroicHitesh commented on #5260
So on what basis will we direct the user to the login or register page while he clicks on the invite link?

[2020-10-19 18:21] iamareebjamal commented on #5260
That is the part of the problem. How will you detect that?

[2020-10-19 18:25] HeroicHitesh commented on #5260
I was going through the API docs and thought [this endpoint](https://api.eventyay.com/#users-get-user-details-for-an-access-code) can be useful. If I am going right, we can pass the payload i.e., token taken from URL of invite link as access_code to this endpoint and in the response, I was hoping to get such property. But if there is no such property, I think we can directly compare the email_id i

[2020-10-19 18:31] HeroicHitesh commented on #5260
I had 2 major doubts about this approach
1. Is the access_code same as this token we receive in the invite URL or something entirely different?
2. Is it compulsory to provide a role like `marketer` as shown in the API doc example, if yes, what role will we pass for users with no other roles?

[2020-10-19 20:04] iamareebjamal commented on #5260
No, access code is a different thing

[2020-10-20 02:29] aman-jaglan commented on #5260
can i work on this issue ?

[2020-10-20 03:34] HeroicHitesh commented on #5260
@aman-jaglan I am working on this. Also, what you changed in your PR is not correct. We need to switch between Login and Register based on a condition i.e., if the user is already registered or not.

[2020-10-20 03:37] aman-jaglan commented on #5260
okk brother @HeroicHitesh

[2020-10-20 05:13] garvitchittora commented on #5329
@sachinchauhan2889 @mariobehling @Orbiter @felixonmars can I work on it?

[2020-10-20 07:36] terminator0309 commented on #5013
@snitin315

[2020-10-21 12:03] mariobehling opened #5340 "Call for Speakers: Actions result in error messages at random"
The final step of the wizard results in a number of errors at random:
* [ ] Error: When trying to save an event with the "Call for Speakers" switched off, the message "Field cannot be null" appears.
* [ ] Error: When switching on Call for speakers,
   * [ ] the auto-inserted time is after an event time if the event is less than a month away resulting in the error message. Expected: Auto-inserted d

[2020-10-21 12:06] mariobehling opened #5341 "Speaker Edit shows error "call for speaker not issued yet" if there is no CfS"
If a user edits and saves a speaker on an event with an deactivated call for speakers an error message appears "call for speaker not issued yet". The form also moves back to the event instead of the speaker page after editing.

Compare: https://eventyay.com/e/1f720482/cfs/speaker/4885/edit

[2020-10-21 12:28] mariobehling opened #5342 "Organizer: Adding speaker without email results in sessions added to "my sessions" from organizer him/herself"
If an organizer adds a speaker "without email" the overview page shows the email of the organizer and sessions show up under "my sessions".

![Screenshot from 2020-10-21 14-26-34](https://user-images.githubusercontent.com/1583873/96719341-8ebbb880-13a9-11eb-8135-6586b939f021.png)

[2020-10-21 14:14] mariobehling opened #5343 "Public Schedule: Color area "jump difference" when extending area"
On the public schedules, if the user expands a session the color area "jumps" a bit. The size of the color area before and after the expansion is different. Expected: Area should always be the same.

Compare https://eventyay.com/e/8fa7fd14/schedule

![Screenshot from 2020-10-21 16-11-42](https://user-images.githubusercontent.com/1583873/96732283-70a98480-13b8-11eb-8926-7c0f62557fd9.png)

[2020-10-21 14:18] thrishik7 commented on #5123
@mariobehling  Can I work on this ?

[2020-10-21 14:20] mariobehling opened #5344 "Wizard Step 1: Organizer Info Links are not saved"
Links added to the organizer info get deleted on saving the event.

![Screenshot from 2020-10-21 16-18-48](https://user-images.githubusercontent.com/1583873/96732992-40161a80-13b9-11eb-9d1b-14ce3bd11438.png)

[2020-10-21 14:29] mariobehling opened #5345 "Scheduler: Allow 5 minute separation of sessions"
Currently sessions can only have 10 minute changes. While it would be nice to enable any kind of changes just like a Google calendar, enabling organizers to adjust sessions in a 5 minute space would be a good improvement for now.

![Screenshot from 2020-10-21 16-26-37](https://user-images.githubusercontent.com/1583873/96734136-81f39080-13ba-11eb-8a2c-f8baa5864530.png)

[2020-10-21 15:04] sachinchauhan2889 commented on #5343
Working on this issue

[2020-10-21 16:26] #5345 closed

[2020-10-21 16:48] mariobehling commented on #5123
Please go ahead. We need this as a priority now.

[2020-10-21 17:36] mariobehling opened #5347 "Footer/Internationalization: Show languages dropdown as written in their original way"
In the footer we have a language dropdown that shows all languages in English. Expected is that languages show up as they are written in their own language, e.g. German should be Deutsch, Vietnamese should be Tiếng Việt etc.
![Screenshot from 2020-10-21 19-32-24](https://user-images.githubusercontent.com/1583873/96756660-a8262a00-13d4-11eb-9c94-7035dbff0a06.png)

[2020-10-21 17:46] mariobehling opened #5348 "Weblate Integration: Failed Connection"
The connection with weblate is failing. We now have a few German events that are interested to use the system. It would be helpful if we could have more translation here for example. We are able to engage some translators. Being able to use weblate would be a great advantage.

The error on weblate is:

https://hosted.weblate.org/projects/open-event/frontend/#repository

[2020-10-21 17:48] FlashV998 commented on #5347
I want to work on this issue

[2020-10-22 05:26] pc-beast commented on #5347
I am working on this issue. Feel free to drop the PR if I haven't already : )

[2020-10-22 07:56] anjali1102 commented on #5344
Assigned me

[2020-10-22 10:17] iamareebjamal commented on #5348
Fixed

[2020-10-22 10:17] #5348 closed

[2020-10-22 10:44] thrishik7 commented on #5110
@mariobehling  Can I work on this?

[2020-10-22 12:57] #4815 closed

[2020-10-22 14:15] Abhijay007 commented on #5343
can I work on this issue

[2020-10-22 14:55] sachinchauhan2889 commented on #5343
I am working on this issue

[2020-10-22 16:19] maze-runnar commented on #5344
@anjali1102 just claim the issue and move on to work.

[2020-10-23 04:25] Abhijay007 commented on #5344
Can you please share some more details about it like a link to the page or where it is in the codebase?

[2020-10-23 04:27] maze-runnar commented on #5342
working on it

[2020-10-23 04:30] Abhijay007 commented on #5307
sir, can you please share the link to the page or location of the file in the codebase.

[2020-10-23 08:30] maze-runnar commented on #5133
it's working at the time. Not able to reproduce.

[2020-10-23 08:32] pc-beast commented on #5175
I would like to take over the issue if @sahilsaha7773 is not working on it.

[2020-10-23 08:40] iamareebjamal commented on #5344
Event creation wizard

[2020-10-23 08:43] #5343 closed

[2020-10-23 08:45] iamareebjamal commented on #5133
Did you create an order for an event and then tried deleting it after 15 minutes? The issue says there's an expired order associated with the event

[2020-10-23 08:46] iamareebjamal commented on #5175
No, please go ahead

[2020-10-23 08:46] maze-runnar commented on #5133
yes i have tried with expired order too

[2020-10-23 08:49] iamareebjamal commented on #5133
@mariobehling I was able to delete the linked event as well

[2020-10-23 09:02] spy-1234 commented on #5344
Assigned me the task

[2020-10-23 09:08] maze-runnar commented on #5341
How the user will reach to this link exactly if CFS is not enabled? I am not understanding the issue.

[2020-10-23 09:13] maze-runnar commented on #5344
@spy-1234 can't you see the above comment. https://github.com/fossasia/open-event-frontend/issues/5344#issuecomment-714605514
we don't assign issues , claim it and put your work. And if other has already claimed it, move to other issue

[2020-10-23 10:20] mariobehling opened #5364 "Public Event Page: Free Tickets - Show "Free" instead of $0.00"
In the column "Price" and "Subtotal" for free tickets show "Free" instead of $0.00.

![Screenshot from 2020-10-23 12-19-03](https://user-images.githubusercontent.com/1583873/96992333-09134680-152a-11eb-8aa9-568534feb250.png)

[2020-10-23 10:29] maze-runnar commented on #3669
This issue is fixed now I guess. I have tested it, working fine

[2020-10-23 12:15] iamareebjamal commented on #3669
Issue was non-consistent. So will wait for @mariobehling to confirm and close

[2020-10-23 16:24] Abhijay007 commented on #5364
Sir, can you tell me the location of the file where this code is written in the codebase.

[2020-10-23 16:37] daretobedifferent18 commented on #5238
I want to work on this issue if no one is working on it.

[2020-10-23 16:45] iamareebjamal commented on #5364
Please explore the website and codebase. You'll know where it is from

[2020-10-23 17:10] daretobedifferent18 commented on #4559
I want to work on this issue.

[2020-10-23 18:17] purnima143 commented on #5158
Can I try to work on this issue @mariobehling

[2020-10-24 12:44] ShreyanshSrivastava commented on #4816
@mariobehling Sir this issue seemed to be already solved, you can close this one.

[2020-10-24 15:24] #4505 closed

[2020-10-24 15:24] #4716 closed

[2020-10-24 15:24] #4837 closed

[2020-10-24 15:24] #4917 closed

[2020-10-24 15:27] iamareebjamal commented on #5308
One part is still unsolved

[2020-10-24 15:38] #5308 closed

[2020-10-25 18:09] #5340 closed

[2020-10-25 18:10] #5184 closed

[2020-10-25 18:23] maze-runnar commented on #5341
if CFS is closed or off then is it allowed to edit the speaker?

[2020-10-25 19:04] Draco9421 commented on #5364
He there
I have changed the column "Price" and "Subtotal" for free tickets to show "Free" instead of $0.00.

[2020-10-25 19:21] Draco9421 commented on #5364
Is this issue is already solved ?

[2020-10-25 19:22] iamareebjamal commented on #5364
No

[2020-10-25 20:10] mariobehling commented on #5341
Yes, as of now it should always be allowed to edit a speaker. We need to implement a "lock speaker" feature same as "lock session" later. If a speaker is not locked (which is not possible at the moment) the speaker should be editable.

[2020-10-25 20:27] mariobehling commented on #5329
I am unclear if we need a search feature for sponsors at this point of time. Maybe we just take out the search option here.

[2020-10-26 01:59] maze-runnar commented on #5341
If CFS Is closed, it will not show in side menu, And if it is not shown in side menu, how user will be able to edit?

[2020-10-26 03:31] maze-runnar commented on #5341
@iamareebjamal is it a server issue?

[2020-10-26 05:00] maze-runnar commented on #5341
[code]

this code in server state that can't edit speaker afrer closed CFS.

[2020-10-26 05:11] maze-runnar commented on #5341
[code]

[2020-10-26 07:33] maze-runnar commented on #5341
@iamareebjamal what need to be done here?

[2020-10-26 07:36] iamareebjamal commented on #5341
Allow the editing of the speaker

[2020-10-26 07:43] daretobedifferent18 commented on #4559
@Haider8 There is actually no view page for speaker that exists so do I have transit to same page for speaker view action as for session view page?

[2020-10-26 07:54] iamareebjamal commented on #4559
It needs to be created

[2020-10-26 09:56] #5329 closed

[2020-10-26 12:33] sansyrox commented on #5272
@iamareebjamal @maze-runnar , I believe this issue has been resolved?
<img width="1288" alt="Screenshot 2020-10-26 at 6 03 47 PM" src="https://user-images.githubusercontent.com/29942790/97172822-9a4a1d80-17b5-11eb-803b-884344d73fe7.png">

[2020-10-26 12:40] sansyrox commented on #5238
I'll be trying to solve this issue.

[2020-10-26 13:03] #5272 closed

[2020-10-26 13:03] iamareebjamal commented on #5272
Thanks @sansyrox

[2020-10-26 13:58] maze-runnar commented on #5133
@mariobehling confirm here please.

[2020-10-26 14:47] mariobehling commented on #5347
Unfortunately spelling is wrong in several languages. Also capital/non caps is not following any standard and languages are not sorted in any logical way. You could compare how this work e.g. on eventbrite, Wikipedia etc. For the sorting I also recommend we follow Wikipedia.

[2020-10-26 14:49] #5133 closed

[2020-10-26 14:51] mariobehling commented on #5133
Ok, hope the error is gone. As the screenshot shows it was there before.

[2020-10-26 17:00] Soumi150 commented on #5347
I am working on this.

[2020-10-27 04:09] maze-runnar commented on #5263
@iamareebjamal is it a server issue?

[2020-10-27 06:11] maze-runnar commented on #5258
@bellaphan has not cleared this issue yet or order url, And I am not able to reproduce.

[2020-10-27 07:15] pc-beast commented on #5157
i would like to work on this issue

[2020-10-27 08:18] #5258 closed

[2020-10-27 08:20] iamareebjamal commented on #5263
Not likely. It would always throw if it was server error

[2020-10-27 10:55] avanisingh0105 commented on #5143
is this issue resolved ?

[2020-10-27 10:56] avanisingh0105 commented on #5143
@mariobehling

[2020-10-27 11:41] iamareebjamal commented on #5143
Green means issue is open and not resolved

[2020-10-27 12:49] Bucky25 commented on #5344
@mariobehling  can u please elaborate about that issue as i am adding link is successfully showing and opening on local machine .

[2020-10-27 15:26] maze-runnar commented on #5344
Add link to a text, it's not working after saving.

[2020-10-27 15:51] maze-runnar commented on #5263
`Authorization Code Required` this error message is not present in frontend.
![scrnli_10_27_2020_9-16-03 PM](https://user-images.githubusercontent.com/56407566/97326102-a90a0080-1899-11eb-9779-f44e4710c6c2.png)

[2020-10-27 16:53] maze-runnar commented on #5263
[code]

the error is because when we first time set the authCode, it is not there.But after refreshing page it is there. So then it works

[2020-10-27 18:28] iamareebjamal commented on #5263
But why? It only happens sometimes

[2020-10-27 18:40] #5347 closed

[2020-10-27 23:03] #5013 closed

[2020-10-28 02:26] maze-runnar commented on #5263
I didn't get it yet though.

[2020-10-28 02:46] maze-runnar commented on #5256
working on this.

[2020-10-28 03:39] maze-runnar commented on #5256
there is no `event : belongsTo('event')` in `admin-sales-by-event`. How to get all that info from event?

[2020-10-28 10:44] Bucky25 commented on #5344
![Screenshot from 2020-10-28 16-11-33](https://user-images.githubusercontent.com/65112369/97425704-75ca7e80-1938-11eb-975c-73b1c997e6a2.png)
i have added these two links and are working fine so where's the bug can any body guide me

[2020-10-28 10:57] maze-runnar commented on #5344
you can't add a link like [this](https://en.wikipedia.org/wiki/The_Shawshank_Redemption). Means adding link to a text.

[2020-10-28 12:17] iamareebjamal commented on #5256
Most filtering like that will happen on server so need to add that functionality to server first

[2020-10-28 14:34] #4559 closed

[2020-10-28 21:39] hpdang opened #5407 "Sessions/Speakers: Call for speakers - private link does not work"
**Describe the bug**
When enable a call for speakers and set it as private, the private link does not work https://eventyay.com/e/ae73f280/cfs/86c7b3df-f604-4359-a182-52e5d2192ae0

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Sessions & Speakers', enable Call for Speakers and select private option
![Screenshot from 2020-10-28 22-35-30](https://user-images.githubusercontent.com/1658

[2020-10-28 22:05] hpdang opened #5408 "Sessions/Speakers: Call for Speakers - Public Page vs. User Page"
This issue has a low priority

1. Describe the problem: this is not a problem, it is rather a question

* Public page before user log-in, submitted session always shows No Session which is a bit confusing for the public
![Screenshot from 2020-10-28 22-58-58](https://user-images.githubusercontent.com/1658742/97501587-cd391080-1971-11eb-8bac-bb9a90c887be.png)

* User Log-In - this page is nice for u

[2020-10-28 22:11] hpdang opened #5409 "Sessions/Speakers: Enable 'Add a speaker' feature for speakers"
It looks like the 'Add a speaker' feature is only enabled for organizers. Is it possible to enable it for the proposal submitter so they can add additional speakers

[2020-10-28 22:22] mariobehling opened #5410 "Sign up process tells user "reset your password" and "forgot your password""
Something changed at one point in the sign up process. Instead of welcoming users who have just signed up, we tell them "reset your password" and direct them to a page "forgot your password".

Expected:

1. Users who sign up should receive an email: "Hello, thank you for signing up on eventyay.com. Now please verify your email address and set a password for your account. Please click here [link]."

[2020-10-28 22:35] mariobehling opened #5412 "Dates not translated"
It seems dates are not translatable? While most things seem to be translated well, dates always show up in English. Please make date strings translatable, e.g. days of the week.

![Screenshot from 2020-10-28 23-32-51](https://user-images.githubusercontent.com/1583873/97503865-20ad5d80-1976-11eb-9a65-93dbf7d802d5.png)

[2020-10-28 22:35] iamareebjamal commented on #5410
The message linked is not for signup, it is for resetting the password only. And the link is for resetting the password as well.

When users sign up, they get this email:
![image](https://user-images.githubusercontent.com/3874064/97503959-04bcb280-199c-11eb-8388-1bcb088311b7.png)

[2020-10-28 22:40] iamareebjamal commented on #5408
Yes we only show the submitted session of a particular user so it can only be shown to logged in user. For unauthenticated users, we can show, 'Login to submit sessions' instead of 'No sessions have been submitted'

[2020-10-28 22:41] mariobehling opened #5413 "Redirect user to the event they started to get a ticket after after completing the registration and logging in for the first time"
Currently when an unregistered user tries to get a free ticket they are required to go through the registration process. When they finished the process they are finally able to get a ticket. However, it would be better if they would be directed to the event itself after finally logging in for the first time (after the registration).

There please implement the following:
If a user register when th

[2020-10-28 22:48] #5407 closed

[2020-10-28 22:53] iamareebjamal commented on #5412
I'm not sure how that'll work. Dates are generated dynamically from timestamps using moment. Most of our translation is based on static strings here defined in https://github.com/fossasia/open-event-frontend/blob/development/translations/messages.pot. It won't be as simple

[2020-10-29 02:39] #5412 closed

[2020-10-29 07:06] hpdang commented on #5408
Yes **Login to show your submitted session** is much better than the current text. Please proceed with that if it does not take too much time to change. Thank you @iamareebjamal

[2020-10-29 07:14] hpdang commented on #5413
Yes, can we have the same flow for Speakers. Currently after a new user sign up to submit a session, user will be directed to **eventyay.com** page rather than a particular event itself.

[2020-10-29 07:21] iamraghs commented on #4222
can i solve this issue ...

[2020-10-29 09:45] ayush015 commented on #5410
I would like to try this out . if it is not assigned to anyone

[2020-10-29 10:54] mariobehling opened #5416 "Team Page: Enable Organizer to resend invitation"
* On the team page of an event please enable the organizer to resend an invitation.
* Add a button "Resend invitation" if the user has not accepted the invitation yet.

![Screenshot from 2020-10-29 11-46-19](https://user-images.githubusercontent.com/1583873/97559151-5a657f00-19dd-11eb-8e64-a98b73364f44.png)

[2020-10-29 11:00] mariobehling commented on #5410
Ok, I tried the following:
1. with an unregistered email, I tried to get a ticket.
2. Then message came up "enter your email". I entered the email.
3. I get the message "account is unverified" (for a never used email non existing in the platform)
![Screenshot from 2020-10-29 11-58-31](https://user-images.githubusercontent.com/1583873/97559770-29397e80-19de-11eb-8612-26ae37317b31.png)
4. I get the

[2020-10-29 12:46] iamareebjamal commented on #5410
OK, so this email is sent to people who register while ordering, not normal registration

[2020-10-29 13:36] maze-runnar commented on #5195
I am working  on it on server-side, And I am not getting this -

[code]

is there anything that need to be change in model?

[2020-10-29 13:47] iamareebjamal commented on #5195
Why will you get tickets in data? Override `before_delete_object` and check if ticket has any completed/placed orders

[2020-10-29 14:00] jeetintyagi commented on #4949
@iamareebjamal you mean '**@computed**' instead of **@observes** from _'@ember/object'_
correct me if i am wrong.

[2020-10-29 14:09] iamareebjamal commented on #4949
Progress here - https://github.com/fossasia/open-event-frontend/pull/5373

[2020-10-29 15:06] iamareebjamal commented on #5072
Other calendars left

[2020-10-29 15:28] maze-runnar commented on #5195
Added this in /open-event-server/app/api/tickets.py but not working -
[code]

[2020-10-29 15:34] iamareebjamal commented on #5195
Where is the get function? This is not ember JS, it is python

[2020-10-29 15:48] maze-runnar commented on #5195
[code]
this is not working too. even if I am using ` if True:  raise ForbiddenError({'source': ''}, 'Access Forbidden')`, it made no effect.

[2020-10-29 15:51] iamareebjamal commented on #5195
It may be so that before_delete_object is not being called because ticket is soft deleted. Try before_update_object

[2020-10-29 15:52] maze-runnar commented on #5195
ok

[2020-10-29 16:20] maze-runnar commented on #5195
how it will keep track of deleted ticket, added this ```
if (ticket.has_order_tickets):
                raise UnprocessableEntityError(
                    {'event_id': ticket.event.id},
                    "Don't delete a ticket that has sales",
[code]

[2020-10-29 16:43] iamareebjamal commented on #5195
I don't understand. I'll call you soon to understand

[2020-10-29 16:58] akash2408 commented on #5072
iam working on it

[2020-10-30 03:38] daretobedifferent18 commented on #5309
I am working on this issue. @mariobehling can you please tell me where can I see emails programs as you mentioned, so that I could proceed accordingly.

[2020-10-30 05:42] akashprasher commented on #5277
We can solve this issue by allowing users to get a ticket only if a user is logged-in. For logging a user requires to validate the email and we can collect that email from user details while getting a ticket. Otherwise checking the format of email can't solve this issue.

[2020-10-30 05:52] akashprasher commented on #5277
Let the email be the same as the user email(logged). If a user wants to use another email instead of default we can verify it. Just like an OTP system. We can provide an edit icon if the user wants to use another email otherwise, it stays at default.

[2020-10-30 06:00] akashprasher commented on #5277
**Just Like this**

![image](https://user-images.githubusercontent.com/42891970/97666158-1341c180-1aa3-11eb-9f78-29a8140071e6.png)

[2020-10-30 06:35] ShreyanshSrivastava commented on #5364
As there is no sign of work from 3-4 days, I would like to work on this issue

[2020-10-30 06:38] ShreyanshSrivastava commented on #5104
Event explore filters are working fine on localhost:4200/explore but I don't know why it is not working on the actual site of eventyay.
If someone can shed some light over this issue as why this might be happening it will be great to start then.

[2020-10-30 07:23] mariobehling commented on #5408
We need to consider logic:
If a speaker has not submitted sessions, then showing the message "Login to show your submitted sessions" does not make sense. It should be clear to a speaker and public that they can only see submitted sessions if they are logged in.

Therefore yes, @iamareebjamal only this message makes sense:
* 'Login to submit sessions'

[2020-10-30 07:24] Draco9421 commented on #5195
I can't find a way to pass this.totalOrder value from event.view.ticket->index.hbs to publish-bar.hbs can you help me on that ?

[2020-10-30 07:32] JainJai2305 commented on #4994
Hi, allow me to work on this issue

[2020-10-30 07:48] JainJai2305 commented on #4222
Hi, allow me to solve this issue

[2020-10-30 07:51] JainJai2305 commented on #4001
Hi, allow me to work on this issue, also is it necessary to participate in code heat first, or anyone can contribute ...

[2020-10-30 07:53] snitin315 commented on #4001
Go ahead. Anyone can contribute.

[2020-10-30 10:10] iamareebjamal commented on #4994
Don't spam on issues. Take one issue at a time

[2020-10-30 13:56] Kunal-2001 commented on #5416
Can I try to work on this ??

[2020-10-30 15:15] mariobehling opened #5430 "Delete Account: Admin and User themselves Not Able to Delete Account"
Trying to delete an account is not possible. Steps to reproduce:
1. User registers and buys a ticket
2. User order is canceled by organizer
3. User tries to delete account (without associated events or orders now) - not possible.
4. Admin tries to delete account in admin section - results in error message. Deletion is not possible.

Compare user account "Kathy Ho"
https://eventyay.com/admin/users/

[2020-10-30 18:27] #5430 closed

[2020-10-30 18:45] mariobehling opened #5433 "Account Registration: Get rid of intermediate step after account registration and login new user right away"
When a user registers an account, they have to enter email and password. Right after they register they receive a screen "You have been registered successfully, login...". Instead after a user registers they should be logged into their newly created account right away.

![Screenshot from 2020-10-30 19-43-28](https://user-images.githubusercontent.com/1583873/97745026-86215b80-1ae8-11eb-8b05-ecd9f83

[2020-10-30 21:42] #5410 closed

[2020-10-31 06:52] daretobedifferent18 opened #5435 "Speaker: Deleting Speaker from Dashboard does not remove the deleted speaker from the page"
**Describe the bug**

On deleting the speaker from dashboard, the deleted speaker is still shown unless we manually reload the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Manage Event and then Speaker
2. Click on delete option of any speaker
4. See error

**Expected behavior**

On deleting the speaker the page should show same behavior as on deleting the session i.e the speak

[2020-10-31 06:54] daretobedifferent18 commented on #5435
@mariobehling @iamareebjamal  can you please validate or approve this issue.

[2020-10-31 08:42] suryasiriki4 commented on #5413
@mariobehling Hi, l am a beginner in opensource, but I think I am good in web development. I understood what was the requirement. Can I start working on this? Any suggestions would be highly appreciated. Thank you.

[2020-10-31 08:57] suryasiriki4 commented on #5433
Hi @mariobehling, I want to do this, please assign me the task. thank you.

[2020-10-31 12:03] maze-runnar commented on #5433
@iamareebjamal is this need to be solve on server too?

[2020-10-31 13:48] iamareebjamal commented on #5433
No

[2020-10-31 14:04] iamareebjamal commented on #5413
This is now fixed in #5431

[2020-10-31 14:04] #5413 closed

[2020-11-01 04:20] #3669 closed

[2020-11-01 04:21] #3686 closed

[2020-11-01 04:27] #4003 closed

[2020-11-01 04:28] #4574 closed

[2020-11-01 09:47] mariobehling commented on #5147
We can follow up in remaining parts in a dedicated message/notification issue combining several similar issues.

[2020-11-01 09:47] #5147 closed

[2020-11-01 09:50] mariobehling commented on #5277
Of course OTP implmentation would be nice, but it is out of scope at the moment as this would mean we have to implement a gateway or take care of it ourselves.

For now, it would be nice if it is verified that the field has a real email. In the example it is not a real email name.something@gmail - is missing the .com for example. So, this is the issue to solve here. Thanks

[2020-11-01 09:51] #3356 closed

[2020-11-01 09:53] mariobehling commented on #3494
As implementation has changed this does not seem to appear anymore.

[2020-11-01 09:53] #3494 closed

[2020-11-01 09:56] mariobehling commented on #3565
This issue is not really a bug and works within the scope currently. A better implementation would be nice, but right now it is out of scope. Therefore closing it. Thank you.

[2020-11-01 09:56] #3565 closed

[2020-11-01 10:02] #4670 closed

[2020-11-01 10:03] mariobehling opened #5438 "Country Field in Billing Information: Only show country dropdown, do not automatically fill in random info - only country"
* [ ] Fix Country dropdown. It automatically shows data saved in the browsers instead of using the dropdown country option

Expected: Only show country options. Do not show other possible data saved in the browser.

![Screenshot from 2020-07-30 10-25-29](https://user-images.githubusercontent.com/1583873/88901228-d4f0f800-d250-11ea-8ba8-36f41ba0394a.png)

[2020-11-01 10:13] mariobehling commented on #5217
Thanks for this. For more translations we recommend to contribute through weblate. https://hosted.weblate.org/projects/open-event/ Please help us to make this more international. Thank you!

[2020-11-01 10:13] #5217 closed

[2020-11-01 10:56] mariobehling commented on #3376
Implementation has changed. Does not seem to be an issue anymore. Therefore closing it. Thanks!

[2020-11-01 10:56] #3376 closed

[2020-11-01 11:06] mariobehling commented on #3704
Thanks! A number of add-ons have been removed. If there are any specific add-ons left over, please open a dedicated issue.

[2020-11-01 11:06] #3704 closed

[2020-11-01 11:07] utkarsh147-del commented on #5299
I want to work on this issue.Please give this work to me and a chance for contribution

[2020-11-01 11:13] mariobehling commented on #4898
Issue seems to be resolved.

[2020-11-01 11:13] #4898 closed

[2020-11-01 11:17] mariobehling commented on #1823
No longer valid due to design change

[2020-11-01 11:17] #1823 closed

[2020-11-01 11:19] mariobehling commented on #3172
Closing this as we need to approach this differently with online events as another option now.

[2020-11-01 11:19] #3172 closed

[2020-11-01 11:40] mariobehling commented on #2191
Let's define this out of scope for now. Therefore closing it.

[2020-11-01 11:40] #2191 closed

[2020-11-01 11:41] #5364 closed

[2020-11-01 11:42] mariobehling commented on #4817
The issue is still open. The link is just a sample event where only admins have access to. You need to create your own event to test it.

[2020-11-01 11:49] Soumi150 commented on #5438
I am working on this.

[2020-11-01 12:21] mariobehling commented on #1186
This is nice, but we now define it out of scope for the current development.

[2020-11-01 12:21] #1186 closed

[2020-11-01 12:22] mariobehling commented on #2002
Yes, we want it but before we move on we will define this in dedicated issues. Also we want to have something that is independent of Google Captcha.

[2020-11-01 12:22] #2002 closed

[2020-11-01 12:23] mariobehling commented on #3129
Due to privacy issues we will have to find a different captcha method without Google.

[2020-11-01 12:23] #3129 closed

[2020-11-01 12:26] mariobehling commented on #2362
Due to refactoring this component now works different already, but map issues need to be taken care of still. Further errors need to be solved as part of other issues.

[2020-11-01 12:26] #2362 closed

[2020-11-01 12:35] mariobehling commented on #2957
As we have quick way now to change the state on the page itself, we can defer this enhancement. Therefore closing this issue.

[2020-11-01 12:35] #2957 closed

[2020-11-01 12:37] mariobehling commented on #3086
Already resolved as part of another issue.

[2020-11-01 12:37] #3086 closed

[2020-11-01 12:38] mariobehling commented on #3173
Already resolved.

[2020-11-01 12:38] #3173 closed

[2020-11-01 12:43] mariobehling commented on #3157
As parts of this have been implemented and other related issues are open closing this.

[2020-11-01 12:43] #3157 closed

[2020-11-01 12:44] mariobehling opened #5439 "Wizard Step 2/Event Page: Enhance Refund Options and Views"
Research Refund processes and functionalities and open issues for specific areas.

* [ ] Refund Policy in Wizard Step 2 for paid and donation tickets
![Screenshot from 2019-06-18 17-19-41](https://user-images.githubusercontent.com/1583873/59706374-a5279200-9200-11e9-80f0-eac1c36b3d08.png)
* [ ] Show Refund Policy during Check out similar to Eventbrite
* [ ] Show Refund Policy on Public Event Page

[2020-11-01 13:11] ayushontop commented on #5416
I wanna work on this issue , I am relatively new but I think I can do this .

[2020-11-01 13:50] mariobehling commented on #4222
@iamraghs Please go ahead.

[2020-11-01 13:59] mariobehling commented on #3547
Thanks, this is very important and a valid issue. It should be addressed within this issue https://github.com/fossasia/open-event-frontend/issues/4994

[2020-11-01 13:59] #3547 closed

[2020-11-01 14:00] ayushontop commented on #5416
should I add a button to resend email ? Or you have any idea?

[2020-11-01 16:42] mariobehling commented on #4447
Parts of this issue have been solved. Other parts will be solved as we transition to open street map.

[2020-11-01 16:42] #4447 closed

[2020-11-01 20:45] ankingcodes commented on #5438
Working on this.

[2020-11-01 22:31] mariobehling opened #5442 "Ticket box on public event page: When cost is 0 do not show $ sign as countries use different currencies"
Using a $ sign is not always suitable as countries use different currencies. When events offer free tickets only and no payment method has been chosen a dollar sign shows up before 0.00.

Expected: do not show as dollar sign when event orders are zero.

Compare https://eventyay.com/e/1f720482
![Screenshot from 2020-11-01 23-28-58](https://user-images.githubusercontent.com/1583873/97817081-51ed9c80

[2020-11-01 22:37] mariobehling opened #5443 "Public Speaker Page/Organizer Speaker Page: Make Speakers Sortable"
Currently there is no option to control the order of speakers on the public page. Sometimes important speakers are listed at the end of the speakers list. This is not good. We need a way to sort speakers. Therefore please implement the following:
* On the organizer speakers page provide the option to change the order of speakers. Use the same up and down arrow feature that is available on the tick

[2020-11-01 22:56] mariobehling opened #5444 "Logged in user logged out when verification link is used"
At the following flow the logged in user is logged out of the account when a verification link is used. Expected: User should stay logged in if it is the same user account that is using the verification link.

1. New unregistered User gets a ticket
2. User enters email and password.
3. User orders ticket. (user is now logged in)
4. User received welcome/verification mail and ticket mail
5. User cl

[2020-11-01 23:16] #5408 closed

[2020-11-02 03:54] Soumi150 commented on #5442
Working on this.

[2020-11-02 03:57] daretobedifferent18 commented on #5442
I am already working on this

[2020-11-02 04:41] daretobedifferent18 commented on #5442
I am already working on this issue

[2020-11-02 06:55] Yash-R commented on #5444
it think it's working completely fine when user order ticket, user just get the mail to see that ticket not a verification mail.

[2020-11-02 08:05] Yash-R commented on #5433
done please check the PR

[2020-11-02 08:05] iamareebjamal commented on #3018
Completed in https://github.com/fossasia/open-event-frontend/pull/5379

[2020-11-02 08:05] #3018 closed

[2020-11-02 08:20] #3647 closed

[2020-11-02 08:39] Yash-R commented on #5439
please assign this task to me @mariobehling

[2020-11-02 11:05] mariobehling opened #5448 "Public Event Pages: Do not show "Browse Events" and "Create Event""
We need to simplify the view on public event pages and let people focus on the event itself instead of focusing on the platform. Therefore on the public event pages (main page and all subpages):
* do not show Browse Events
* do not show Create events
(but keep it as is on other pages of the platform)

https://eventyay.com/e/1f720482
![Screenshot from 2020-11-02 12-01-35](https://user-images.github

[2020-11-02 11:13] mariobehling opened #5449 "Ticket Order: If there is only one ticket type, please pre-select '1' instead of '0'"
If there is only one ticket type, please pre-select 1 instead of 0. If there are more ticket types please leave the implementation as is for this case.

Compare https://eventyay.com/e/1f720482
![Screenshot from 2020-11-02 12-11-10](https://user-images.githubusercontent.com/1583873/97861908-cd843380-1d04-11eb-932e-b87e2f632ce1.png)

[2020-11-02 12:15] mariobehling opened #5450 "Orders Page: Deleted tickets still counting in number of ticket sales"
If an organizer has deleted tickets they should not count anymore to the number of sold tickets/orders or appear in the download CSV/PDF.

Currently deleted tickets do not show up in the list of orders/tickets anymore, which is correct. However:
1: on the overview page they are still counted
2: They show up in the CSV/PDF of orders and tickets, that organizers can download.

Compare: https://event

[2020-11-02 12:23] maze-runnar commented on #5450
on it

[2020-11-02 12:28] maze-runnar commented on #5450
@iamareebjamal I think this issue is related to issue that A organizer can delete tickets that has sales at the time.If organizer won;t be aable to delete ticket that has sales, then there will be no problem like this. Am I correct?

[2020-11-02 12:45] maze-runnar commented on #5450
And it is not count expired order sales So implementation is correct. Just need to restrict deletion of ticket that has sales. https://github.com/fossasia/open-event-frontend/issues/5195

[2020-11-02 12:57] mariobehling opened #5452 "Fix issue with brackets and commas across platform"
We have a number of places where there is no space in front of a bracket, e.g. as in "User(Email)", "Sales($) etc., or other places where there is a space in front of a comma, e.g. "Hello ," or no space after a comma, e.g. "organizer,co-organizer" etc.

- Please find all places where there is no space in front of a bracket and add a space. Expected is "User (Email)"
- Find all places where there i

[2020-11-02 13:02] mariobehling opened #5453 "Organizers Ticket/Order Page: Do not show $ or other currency for any 0.00 amount"
A number of places show a $ sign at places where the amount is 0.00, e.g. tickets or orders that are 0.00.

1. If any value is 0.00 please do not show the $ sign in the orders/tickets section and subpages of an event
2. Check any other places in the system, e.g. admin area to fix this - do not show any currency anywhere on the system if an amount is 0.00.

![Screenshot from 2020-11-02 13-58-42](ht

[2020-11-02 13:29] ishikalohia commented on #5452
Working on this.

[2020-11-02 13:30] mariobehling opened #5455 "Sponsors: Organizers wants to have bigger logos for main sponsors"
In our sponsors section we need an option to have a two column sponsor section with bigger logos. There could be a tick box "Large Image" to achieve this.

Question: Do we need an option in the sponsor form to show that large logos are in a two column area? Or can we do it in a way that if there are two large logos a third logo simply moves to the next line?

Compare: https://eventyay.com/e/1f7204

[2020-11-02 13:39] daretobedifferent18 commented on #5453
@mariobehling can I do fix this issue in same PR #5447 bcz the issue #5442 is similar to this issue.
If you say I can mention this issue in that PR #5447 only?

[2020-11-02 13:42] mariobehling opened #5456 "Login Box: Show info message when page directs to login page"
If a user wants to perform different actions, they need to login. However, there is no message usually like "You need to login to perform this action."

Please identify different cases when the login page shows up and add a message for the user, e.g.
* User verified by clicking verification link show "Thank you for verifying your email address. Please login to continue."
* User clicks "Create Even

[2020-11-02 14:14] Uyadav207 commented on #5456
Working on It.

[2020-11-02 14:39] maze-runnar commented on #5455
Using a checkbox for a big image and a small image in a single row can mess up the layout. Instead allowing two logos in a row is a better option.

[2020-11-02 14:50] mariobehling commented on #5455
Yes, I agree, but we need two logos in a row for top sponsors and three logos for other sponsors. How to achieve this in the sponsorship form? What is the easiest way?

[2020-11-02 15:26] maze-runnar commented on #5455
What is level in sponsor section? Can we classify based on it, means the min the level, the highr priority.
![scrnli_11_2_2020_8-55-59 PM](https://user-images.githubusercontent.com/56407566/97885777-d3523700-1d4d-11eb-9829-6af56026813a.png)

[2020-11-02 15:51] maze-runnar commented on #5455
we can add a checkbox which will fill the type box with input "Golden Sponsor" (read-only), and then can achieve 2 in a row.

[2020-11-02 17:49] iamareebjamal commented on #5450
Yes, but they should still not show up in CSV as having no sales as well.

[2020-11-02 17:49] mariobehling commented on #5455
Some events do not have Gold sponsor. Every event has their own types and definitions, but here is a way it could work:

On the top of the sponsorship step please provide a form to define level, types, columns and a plus sign to add one more level.

1. The structure of the row should be as follows:
Level [number here] | Type [text field] | Columns [dropdown number here - 1, 2, 3] | [+]
* Please im

[2020-11-02 18:00] iamareebjamal commented on #5453
Yes, please do it in the same PR

[2020-11-02 18:02] #5344 closed

[2020-11-02 18:12] iamareebjamal commented on #5455
We can just do this, if there are two sponsors, show them in 2 column. If there is one, we only show in 1. If there are 3 or more, we show in column with next moving on to next line. This can be done without any backend or DB changes easily with flexbox CSS

[2020-11-02 21:39] mariobehling commented on #5455
@iamareebjamal Well, this is the way it is right now or what is the difference? Basically the organizers are requesting to have sponsors who pay more for their sponsorship in a larger size.

[2020-11-02 22:15] mariobehling opened #5462 "Event Dashboard: Fix and Enhance Sponsorbox"
The sponsorbox has a few issues. Please change as follows:
* Delete the column "Options" and distribute the other rows in a nice way (all the buttons of options direct to the same area anyways, so no need anymore)
* Rename button "Add Sponsors" to "Edit"
* keep a space to the box edge for the previous / next buttons on the bottom of the box
* check how to make the style suitable, maybe the table s

[2020-11-02 22:19] iamareebjamal commented on #5455
Then, can we use the level to make the size larger? I'm afraid that we increase the complexity and it can be done in an easier way. We can use levels in this way - any sponsor who's paying more has different level than others. Right now, we use level for order. The sponsors with lower level appear in the above row and with increasing level, it is shown below each row. Now, we can use the same leve

[2020-11-02 22:49] mariobehling commented on #5455
@iamareebjamal Ok, sounds good and then we come back to the sponsor tab in future, cause I wish it would be a bit simpler from a user perspective. However, anything we change could add complexity as you correctly say.

[2020-11-02 23:00] #4816 closed

[2020-11-02 23:01] silenteyesoncode commented on #5456
Like to work on it

[2020-11-02 23:05] #4684 closed

[2020-11-02 23:43] mariobehling commented on #2578
Seems like low priority and out of scope now. Therefore closing it.

[2020-11-02 23:43] #2578 closed

[2020-11-03 01:09] mariobehling opened #5463 "Event Dashboard: Adding content of boxes results in large empty areas"
The way boxes are placed on the events dashboard results in large empty spaces once a box gets larger. Please change the boxes in a way that they are placed below each other without white spaces.

![Screenshot from 2020-11-02 15-48-36](https://user-images.githubusercontent.com/1583873/97935540-30171700-1d79-11eb-94ce-5df84a38e429.png)

[2020-11-03 03:41] sachinchauhan2889 commented on #5463
I am working on this issue

[2020-11-03 04:20] Tushardeepak commented on #5462
I am working on this

[2020-11-03 04:27] ayushontop commented on #5462
I am working on this

[2020-11-03 05:26] maze-runnar commented on #3688
@iamareebjamal @mariobehling cancelled orders are showing correctly -
![scrnli_11_3_2020_10-46-52 AM](https://user-images.githubusercontent.com/56407566/97952391-37fba900-1dc3-11eb-912b-6dec6fd06a14.png)

[2020-11-03 06:27] #3688 closed

[2020-11-03 06:27] iamareebjamal commented on #3688
Will reopen if reproduced

[2020-11-03 06:52] ayushontop commented on #5462
I am working on this

[2020-11-03 09:43] namanjain007 commented on #4817
The compare link provided is not working .

[2020-11-03 09:43] namanjain007 commented on #4817
Please tell how to reproduce the bug .

[2020-11-03 10:40] namanjain007 commented on #5456
can I work upon it ?

[2020-11-03 11:00] mariobehling opened #5468 "Reorder event dashboard boxes and rename them"
Reorder event dashboard boxes and rename them as below.

Please make the box order as follows:

Event Checklist - Overview
Sponsors - Tickets
Apps - Team Members

![Screenshot from 2020-11-03 11-58-40](https://user-images.githubusercontent.com/1583873/97977230-2b2f8300-1dcc-11eb-957b-396aa4bccc8c.png)

[2020-11-03 11:08] carrycooldude commented on #5468
I want to work on this issue @mariobehling

[2020-11-03 11:18] mariobehling opened #5469 "Simplify registration process"
Our current registration process is that ticket buyers need to add a password during the first registration and then confirm their email address through a link in the welcome mail.

How can we make it even easier to go the first steps? We want users to use the system as quickly as possible. So, we can move the "set password" to the step after they confirm their email address.

Please implement a p

[2020-11-03 12:37] Draco9421 commented on #5456
can I work on this

[2020-11-03 12:37] Draco9421 commented on #5456
I am working on it.

[2020-11-03 13:16] iamareebjamal commented on #5051
We discussed that we were still to allow edits after the session was held and to only prevent editing if session was locked?

[2020-11-03 13:32] iamareebjamal commented on #5469
This is easier for the user but incredibly difficult to implement on the backend because now we have multiple endpoints after email verification.

When we send users a verification email, It is a link to the verify page like `/verify?token=<token>`. The frontend doesn't know anything about the user or where it is to go after verification.

After verification, if we want to redirect to set password

[2020-11-03 13:43] #5448 closed

[2020-11-03 13:48] #4608 closed

[2020-11-03 13:50] #5463 closed

[2020-11-03 16:12] maze-runnar commented on #4613
Working fine for me.

[2020-11-03 16:31] iamareebjamal commented on #4613
Go back and forth a couple of times. It is a bug in ember but a bug nonetheless

[2020-11-03 18:27] #5468 closed

[2020-11-03 19:04] mariobehling opened #5474 "Event Dashboard: Unwanted Line Break in longer Event Titles"
There is an unneeded line break in longer event titles on the event dashboard. Expected line breaks should only happen to prevent the title to overlap other areas.
![Screenshot from 2020-11-03 20-02-25](https://user-images.githubusercontent.com/1583873/98029393-b5e5a180-1e0f-11eb-9576-1f789dd92ad9.png)

[2020-11-03 19:13] mariobehling opened #5475 "Integrate Project with Big Blue Button"
Offering integrated video features is a must for an event platform these days. There are two good options Jitsi and Big Blue Button. BBB has more moderation features which are important for conference events.

Please propose and implement ways to integrate BBB and open relevant sub issues on frontend and server project. Specifically we need the following:
* Integration with eventyay rooms = BBB ro

[2020-11-03 19:20] Chadha93 commented on #3397
by making changes in the glyphs for the Vietnamese fonts and can also test it against different country fonts
for example:-
passing the glyph attribute to a callback function and then referencing the required attribute once it is passed.
![ORIGINAL](https://user-images.githubusercontent.com/65453826/98030754-7e8aeb00-1e37-11eb-9e60-60e5dfde3453.png)
The idea snippet is provided above @iamareebjama

[2020-11-03 20:45] Gautam-Arora24 commented on #5474
May I work on this issue?

[2020-11-03 21:28] mariobehling commented on #5474
No need to ask. Just claim it and go ahead solving it.

[2020-11-03 21:45] mariobehling opened #5476 "Event Dashboard: Provide feature to directly generate web app from dashboard through an API"
On the event dashboard in the apps section implement the following feature:
* When the user clicks "Generate Web App" fill in all data and execute the website generator at https://open-event-wsgen.herokuapp.com
* Open the page of the website generator in a new tab
* Implement a missing API connection (if any) in https://github.com/fossasia/open-event-wsgen

[2020-11-03 22:42] mariobehling opened #5478 "Event Dashboard: Implement a graph to show ticket sales and general sales"
Please implement a ticket sales graph to view different ticket sales details include the following:
* Show ticket sales per ticket lines
* Show overall ticket sales
* Show gross sales
* Show net sales
* Provide option to choose time range for display

[2020-11-03 22:51] mariobehling opened #5479 "Orders/Attendee File Download: Implement download area for generated files"
When a user exports orders or attendees from large events the export file generation can take a long time. There is no UI info what is happening.

Please implement a kind of "download area" below the page heading to show files that are generated and a progress bar indicating that the file is generated.

The download area below the heading should stay for 24 hours. So, the user can come back later

[2020-11-04 08:32] #5474 closed

[2020-11-04 10:37] Subham142 commented on #5452
@ishikalohia  are you still working on it?

[2020-11-04 11:21] akash2408 commented on #5072
is there something wrong in my yahoo and icloud urls that i provided earlier in PR?

[2020-11-04 11:40] sarvangjain commented on #5478
My team would like to work on this issue.

[2020-11-04 12:17] Subham142 commented on #5452
@mariobehling just wanted to confirm the changes want are limited to the UI part or we can check the js code also for the space  and commas?

[2020-11-04 12:18] mariobehling commented on #5072
Please also add the `.ics` for the ical calendar.

[2020-11-04 16:27] iamareebjamal commented on #5072
@akash2408 Yes

[2020-11-04 16:29] iamareebjamal commented on #5072
@mariobehling There is `.ics` already. Which browser did you test it on? Maybe it is truncating the filename. I'd need to test it more. If confirmed, I'll remove the event name from the ICS file

[2020-11-04 16:30] iamareebjamal commented on #5452
JS is used to create the site's UI. UI === JS

[2020-11-04 16:30] akash2408 commented on #5072
can u tell me whats wrong is it not adding the events correctly or something else?

[2020-11-04 16:33] iamareebjamal commented on #5072
Yes, it is throwing error. Read the comments on the PR again. There is even an screenshot

[2020-11-04 17:17] akash2408 commented on #5072
thanks. i just see that outlook is throwing error in some events. but yahoo is working fine. i think so

[2020-11-04 18:06] akash2408 commented on #5435
iam working on it

[2020-11-04 19:35] Chadha93 commented on #5452
Still need time as newer commit causes conflict. I upstream updated it and trying to add more Fix in PR

[2020-11-05 00:15] mariobehling opened #5490 "Date and Time: Standardize it across system"
The date and time are using different formats in the system. Please identify different places for the date and time usage and standardize the date and time in all ways.

[2020-11-05 00:19] mariobehling opened #5491 "Date and Time translations using AM/PM"
Date and time are translated as they use AM/PM which is not used in other languages. Propose and implement a solution or translation across languages e.g. using 24h clock in other languages.

![Screenshot from 2020-11-05 01-17-43](https://user-images.githubusercontent.com/1583873/98181993-f115cc80-1f04-11eb-9883-12f7787437ba.png)

There are different time formats on the calendar page for example,

[2020-11-05 09:38] Gautam-Arora24 commented on #5490
Is this issue demanding to make the time formats same throughout the system. For eg. to use 12 hour or 24 hour format in the entire system?

[2020-11-05 11:30] mariobehling commented on #5490
No, times should be as used by people, e.g. in English most people will use AM/PM for the time. In this issue it should be addressed that there are different formats throughout the same language used, e.g. 6 Dec 2020, December 6, 2020 etc.

[2020-11-05 14:47] Shiwali735 commented on #3511
i wanna work on this issue, please assign this to me and i am new to this repo so guide me through.

[2020-11-05 15:26] #5442 closed

[2020-11-05 15:33] iamareebjamal commented on #3511
We don't have the bandwidth to guide individual people on how to solve an issue. Simply speaking, if we could so that, why wouldn't we already solve the issue ourselves. And we don't assign issues. If you think you can solve an issue, comment and claim and send a PR

[2020-11-05 16:01] Shiwali735 commented on #3511
Ok, sir thank you

On Thu, Nov 5, 2020, 21:03 Areeb Jamal <notifications@github.com> wrote:

[2020-11-05 16:11] daretobedifferent18 commented on #5453
@mariobehling this issue is being resolved by me with PR #5447 You can close this issue.

[2020-11-05 16:35] #5195 closed

[2020-11-05 16:46] daretobedifferent18 commented on #5123
I am working on this issue.

[2020-11-05 17:01] Siddhant-K-code commented on #5491
We Can Functionality Like this :
![image](https://user-images.githubusercontent.com/55068936/98271866-68576900-1fb6-11eb-825e-4d7448f05a44.png)

All Times will be With respect to `UTC`

using: https://www.timeanddate.com/worldclock/

[2020-11-05 17:05] Siddhant-K-code commented on #5490
@mariobehling You Want To fix issues like this :
![image](https://user-images.githubusercontent.com/55068936/98272507-2d096a00-1fb7-11eb-8a83-871482968708.png)

some are in MMMM/ DD and some in DD/MMMM ?

[2020-11-05 17:35] maze-runnar commented on #3790
this issue is solved now. It is not present in the system at this time.

[2020-11-05 18:41] #3790 closed

[2020-11-05 18:42] iamareebjamal commented on #5491
No

[2020-11-05 19:02] dhirensambyal commented on #5479
I can do this!!

[2020-11-06 00:11] Siddhant-K-code commented on #5491
then ?

[2020-11-06 02:36] iamareebjamal commented on #5491
Propose and implement a solution or translation across languages e.g. using 24h clock in other languages.

[2020-11-06 03:34] maze-runnar commented on #5176
@iamareebjamal, what is wrong here?

[2020-11-06 04:16] Soumi150 commented on #5438
@ankingcodes are you still working on this or I can pick this up ?

[2020-11-06 04:20] Soumi150 commented on #5491
Do you mean 10 am will be 10 heures in French and so on ?

[2020-11-06 04:30] iamareebjamal commented on #5491
No

[2020-11-06 05:01] Soumi150 commented on #5491
Working on this.

[2020-11-06 13:09] maze-runnar commented on #5444
I followed the steps, but it's working fine. Means ticket link is good, and verification link is not logging out.
![Screenshot from 2020-11-06 18-37-22](https://user-images.githubusercontent.com/56407566/98369674-4fef5900-205f-11eb-8181-4ccc4567916f.png)

[2020-11-06 13:27] maze-runnar commented on #5450
the organizer export that pdf/CSV that shows orders & attendees. So how a ticket that is deleted and bought can appear there. Because that is restricted. So if there is an order for a ticket that can't be deleted and if there is no order the ticket won't show up in pdf/CSV. And if there is no order and ticket deleted there is no issue because it's not there.

[2020-11-06 14:56] mariobehling opened #5509 "Docs: Add screenshot of ASCI in Readme to /docs/images folder and add it in Readme"
The Readme files shows an image that is hosted outside of the repository. Please add the image into the docs/images folder and add it into the Readme instead of the current image.

![Screenshot from 2020-11-06 15-55-14](https://user-images.githubusercontent.com/1583873/98380290-a8672c00-2048-11eb-907d-6e3247e821bf.png)

[2020-11-06 15:17] Raunaksingh100 commented on #5509
Working on this issue

[2020-11-06 16:20] mariobehling opened #5511 "Public Event Pages: Standardize width of sidebar and make it same as the footer"
On the public event pages the sidebar spacing is different to the footer left and right spacing. The frontpage has the same left and right spacing as the footer.

Expected is: that on the public event pages the left and right space needs to be same as on the footer. The central content column needs to have the same width as the central area of the footer.

![Screenshot from 2020-11-06 17-11-29](ht

[2020-11-06 16:27] sachinchauhan2889 commented on #5511
I am working on this issue

[2020-11-06 16:32] Raunaksingh100 commented on #5509
@mariobehling @iamareebjamal can you tell me what image is need to add in ### docs/images folder so then i add in readme file

i am little confused

[2020-11-06 16:42] mariobehling commented on #5511
Thanks, please also take care of the right side and fix the subpages too.

[2020-11-06 18:07] djcruz93 commented on #5476
I would like to work on this, claiming it.

[2020-11-06 21:00] #5433 closed

[2020-11-06 21:15] iamareebjamal commented on #5450
OK, I understand now

[2020-11-06 21:15] #5450 closed

[2020-11-06 21:46] #5452 closed

[2020-11-06 22:23] iamareebjamal commented on #5509
@mariobehling It's an autogenerated thumbnail of the linked videowhich we'll have to update every time we change the video. For example, we also don't store badges like [![Build Status](https://travis-ci.org/fossasia/open-event-frontend.svg?branch=development)](https://travis-ci.org/fossasia/open-event-frontend) and [![Deploy](https://www.herokucdn.com/deploy/button.svg)](https://heroku.com/deploy