[2020-12-23 08:57] mariobehling opened #6118 "Public Event Sidebar: Do not display icons in left menu"
The desktop page has a lot of UI icons and elements already. We need to ensure the UI is not overloaded. Therefore please do not show icons on the desktop side, but leave the icons on the mobile view.

![Screenshot from 2020-12-23 09-27-22](https://user-images.githubusercontent.com/1583873/102978709-374edb80-4505-11eb-9c93-1b36a24a55fb.png)

[2020-12-23 09:00] MeghalBisht commented on #6118
Following up

[2020-12-23 09:25] mariobehling opened #6119 "Standard Search only searches for name"
The standard search only searches for the name of an event. Is uses the parameter as in the example: https://eventyay.com/explore?event_name=summit

Expected is that the search is performed across all parameters, e.g. if someone searches for a speaker name all events with that speaker should show up.

[2020-12-23 09:29] Creatoon commented on #6119
working on it.

[2020-12-23 09:50] abhpd commented on #5307
No.

[2020-12-23 09:54] rithgan commented on #6111
I can work on this issue

[2020-12-23 09:59] mariobehling opened #6121 "Mobile Screens: Show Twitter Area as Collapsible/Extendable Area"
On mobile pages the Twitter area is diverting the attention of the user a bit. On the other hand the Twitter area potentially provides important updates for attendees of an event. Moving the Twitter area to the bottom of the page is not suitable as there are areas which load on scrolling. The best solution for now seems to be therefore as follows:
* change the Twitter area into a collapsible/exten

[2020-12-23 10:09] mariobehling opened #6122 "Mobile Views: Make Event Dropdown Menu Stay on Top When user Scrolls Down Further"
Many pages have this feature where a special menu stays on top of the page when a user scrolls down. Please implement the same thing for the drop-down event menu on public event pages.

When the user scrolls down keep the menu on top of the screen. When the user reaches the area "Tickets" show the menu item "Tickets" in the menu and so forth. Implement this on all public event pages for the mobile

[2020-12-23 10:15] iamareebjamal commented on #6119
Will be implemented once search backend is switched to redisearch, not solvable now

[2020-12-23 10:22] Creatoon commented on #6119
@iamareebjamal Ok sir , thanks for this information

[2020-12-23 10:54] ranjitkshah commented on #6122
working on it

[2020-12-23 11:56] daretobedifferent18 commented on #6122
@mariobehling could you pls tell any one page where this type feature is already present. I am unable to find it

[2020-12-23 12:52] daretobedifferent18 commented on #6111
@mariobehling also currenlty also date and time is not sorted properly.
![Screenshot from 2020-12-23 18-14-50](https://user-images.githubusercontent.com/71120226/102997710-bebf3d80-454b-11eb-84ad-bdb158df5225.png)

[2020-12-23 12:54] Creatoon commented on #6111
@daretobedifferent18 Check-In button is also covering emails , We should add a "word-break" class on the email cell.

[2020-12-23 13:31] daretobedifferent18 commented on #5982
@iamareebjamal @mariobehling I was looking for the solution to this problem and was not able to get to know why is this bug coming.
After working on it, I think the error was produced for me and this is the error msg I got
![Screenshot from 2020-12-23 18-59-17](https://user-images.githubusercontent.com/71120226/103000507-35ab0500-4551-11eb-977b-01424af70a7b.png)

[2020-12-23 13:31] #6118 closed

[2020-12-23 21:54] iamareebjamal commented on #6113
Search Engine point remaining

[2020-12-23 22:00] #6111 closed

[2020-12-24 04:44] mariobehling opened #6128 "Ticket Order for Free Tickets not Possible on Some Events"
Ticket order of free tickets on https://eventyay.com/e/2daa7007 is not possible for my account.

Please see screenshot below.

![Screenshot from 2020-12-24 05-42-09](https://user-images.githubusercontent.com/1583873/103061236-032df600-45ab-11eb-9576-28887508d989.png)

[2020-12-24 04:45] mariobehling commented on #6128
Also not possible for paid tickets.

![Screenshot from 2020-12-24 05-45-09](https://user-images.githubusercontent.com/1583873/103061305-3a9ca280-45ab-11eb-9f94-429f4e7a31af.png)

[2020-12-24 05:02] mariobehling opened #6129 "Ticket Buying Process: User suddenly redirected to Expired Ticket Page even though User has abandoned process"
When a user starts the ticket buying process the system keep it active for 15 minutes. After that it shows "Expired". When the user moves on to other places on the platform and abandons the ticket process and the speaker is on a completely different page, suddenly the "Expired Page" shows up completely out of contest.

Expected; A user should only be redirected to the "Expired Page" if they are on

[2020-12-24 06:13] iamareebjamal commented on #6128
"Missing required fields ['age_group', 'gender', 'job_title']"

But the attendee fields are not enabled and not required

[2020-12-24 06:13] yash345-spec commented on #5820
hey , i wanna assign on this work.  i wanna do this.

[2020-12-24 06:57] afzal442 commented on #6110
@iamareebjamal Any hint? Any reference? Thanks.

[2020-12-24 07:38] maze-runnar commented on #6129
looking into it

[2020-12-24 08:15] iamareebjamal commented on #6129
setTimeout should be cancelled on component unload

[2020-12-24 08:16] maze-runnar commented on #6129
ok

[2020-12-24 08:18] iamareebjamal commented on #6110
Check old PRs where empty role invites were fixed

[2020-12-24 08:22] afzal442 commented on #6110
Thanks, looking into this.

[2020-12-24 08:35] maze-runnar commented on #6128
it's higly unlikely because i thought some how it happened that field was not included but required. so i tried `{{# if field.isRequired}}{{field.fieldIdentifier}}{{/if}}` but the fields are not actually there they are not included not required somehow.

[2020-12-24 09:13] iamareebjamal commented on #6128
Server issue, not frontend

[2020-12-24 09:47] mariobehling opened #6131 "Virtual Events: Implement a different slide-in/out button for video sidebar"
Please implement a slide button in a more similar way to Gmail in style and position (next to screen edge), but make the slider button square with rounded corners. Also change the X closing button to an inverse < slider button.

Compare
![Screenshot from 2020-12-24 10-34-22](https://user-images.githubusercontent.com/1583873/103080017-48671d80-45d5-11eb-8faa-55426d603d5d.png)

![Screenshot from 202

[2020-12-24 09:50] nlok5923 commented on #6131
Working on it

[2020-12-24 09:51] #5842 closed

[2020-12-24 10:58] sachinchauhan2889 opened #6132 "Team Page: Organizer/Owner is not able to edit role-invite"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'team tab of event'
2. Try to edit the a role-invite.
3. See error

**Expected behaviour**

role-invite should be edit

**Screenshots**

![team issue](https://user-images.githubusercontent.com/72552281/103084331-bd9e1700-4604-11eb-8962-dbe5a1734206.png)

**Desktop (please complete the following information):**
all

*

[2020-12-24 11:16] afzal442 commented on #6132
Hi, I think we need to disable the edit part of email address as per previous issue. Thanks.

[2020-12-24 11:22] sachinchauhan2889 commented on #6132
you are talking about #6110. I think you haven't read that issue carefully. we need to disable editing of email of existing team member i.e. the member who accepted role invite must be non-editable.

[2020-12-24 11:30] mariobehling opened #6135 "Virtual Event: Streamline Participation and In-App Experience in Online Event"
What is the easiest way to create a full online event experience with schedule, speaker and event information pages? We already have these pages, but they are not included in the "video app experience" yet. We probably do not want to start replicating the pages. So, what is the easiest way to include these pages without getting into loops and confusing users?

Here is an approach. For the online e

[2020-12-24 12:33] iamareebjamal commented on #6132
Backend has removed the feature of editing role invite. It makes no sense. After accepting an invite, editing it makes no change. And before accepting, people can just delete and resend the invite

[2020-12-24 12:34] iamareebjamal commented on #6132
Relevant: https://github.com/fossasia/open-event-server/issues/7235

[2020-12-24 12:38] afzal442 commented on #6110
@iamareebjamal Sir, could I remove edit options for role-invite? Thanks.

[2020-12-24 12:45] iamareebjamal commented on #6135
We cannot show jitsi/BBB and the site itself in the iframe. Only one of them can be part of an iframe

[2020-12-24 12:57] iamareebjamal commented on #6110
I think so

[2020-12-24 13:08] afzal442 commented on #6110
I was also thinking this way while observing this issue over and over again. So for now, I draft a PR for this.

[2020-12-24 13:26] #5942 closed

[2020-12-24 14:08] maze-runnar commented on #6128
I have tried 2nd method too. But it's working fine in that case too.
created an event -> enabled attendee form -> make some fields required -> saved event -> editing attendee form in wizard again -> disabeld it -> ordering ticket -> working fine .

[2020-12-24 15:10] mariobehling opened #6138 "My Ticket Page: Add links and additional data"
On the my ticket page the tickets are missing some data and links. Please add the following:

Show all basic data
* from to time and date
* Online event or location or both for mixed events

Add links
* Link event name to event page
* Order number of order

Compare https://eventyay.com/my-tickets

![Screenshot from 2020-12-24 16-06-13](https://user-images.githubusercontent.com/1583873/103095923-8d

[2020-12-24 15:24] Soumi150 commented on #6138
Working on this.

[2020-12-24 17:03] chelsi-001011 commented on #6121
Is this issue open to work upon? I want to take it up.

[2020-12-24 21:19] mariobehling commented on #6135
Yes, true, but it does not have to be an iframe by itself. The question is how to get the UI experience for the user.

[2020-12-24 23:00] iamareebjamal commented on #6128
Checking what's the issue

[2020-12-24 23:09] #6129 closed

[2020-12-24 23:16] #6110 closed

[2020-12-24 23:16] #6132 closed

[2020-12-25 08:24] iamareebjamal commented on #6128
It is the second case, some fields were made required and form was disabled but fields remained required.

[2020-12-25 08:50] #6128 closed

[2020-12-26 05:10] #6138 closed

[2020-12-26 05:11] #6121 closed

[2020-12-26 08:00] himanshujaidka opened #6146 "Need Adjustment in elements while seeing in mobile view"
![Screenshot (111)](https://user-images.githubusercontent.com/58654018/103147749-3ffe1680-477e-11eb-925e-4312af8532cb.png)
**Describe the bug**

There should be a gap between these three buttons or need proper alignment

**Screenshots**

[2020-12-26 08:10] himanshujaidka commented on #6146
Working...

[2020-12-26 09:10] #5309 closed

[2020-12-26 09:39] takshch commented on #6106
I am working on this.

[2020-12-26 17:10] SARTHAK1SINGH commented on #5934
working on it.

[2020-12-26 18:32] mariobehling opened #6148 "My Tickets Page: Standardize Views similar to Frontpage and Add Ticket Names and Numbers in Order"
The my tickets page is now more similar to the frontpage. However colors and line spaces are different for no apparent reason. Therefore please change the following:
* Make font style and colors for all cards same as on frontpage (but keep full width for cards)
* Make spacing same as on frontpage (except for first line in order to keep the card height)
* Show number of tickets and ticket names of

[2020-12-26 21:07] mariobehling opened #6150 "Wizard Step 1: Ticket Error for "Ticket End Date" even though end date is before Event End"
Adding new tickets for an event here https://eventyay.com/events/fa96ae2c/edit/basic-details with the following dates of the event and end of ticket sales is not possible due to error message as below. Expected: It should be possible to sell tickets until the event ends.
Event End Date: 03-21-2021 23:59
Ticket End Date: 03-21-2021 23:00

Error Message:
* Ticket end date cannot be greater than even

[2020-12-26 21:24] chinmaym07 commented on #6148
Hey @mariobehling  can i work on this issue .?

[2020-12-27 01:30] nlok5923 commented on #6150
Working on it

[2020-12-27 03:04] maze-runnar commented on #6150
@mariobehling it's working. As far the error message is concern, changing it.
https://user-images.githubusercontent.com/56407566/103163013-1d233f00-481e-11eb-9f2a-6d6af1550ec7.mp4

[2020-12-27 04:03] iamareebjamal commented on #6150
@maze-runnar Change timezone to something else in all time related issues to reproduce them

[2020-12-27 04:04] #5934 closed

[2020-12-27 04:54] afzal442 commented on #6146
Taking up this.

[2020-12-27 06:23] himanshujaidka commented on #6146
FIFO, I think that u should know 🙄

[2020-12-27 06:35] MeghalBisht commented on #6150
I cannot reproduce the above error but I can **add a ticket end date after the event end date.**
Steps -
1. add a ticket with a date less than event end date
2. save & go to next step
3. click previous
4. change the ticket end date to a date longer than the event date
5. save the event again

Expected : the check for ticket date longer than event date should be performed every time someone edits t

[2020-12-27 08:16] himanshujaidka commented on #6148
I am working

[2020-12-27 11:00] afzal442 commented on #6146
@iamareebjamal Could I create a PR for this to enhance other things left as well?

[2020-12-27 12:20] himanshujaidka opened #6154 "Need little enhancement in mobile view"
**Describe the bug**

The font is not responsive in mobile view

**Screenshots**

![Screenshot (113)_LI](https://user-images.githubusercontent.com/58654018/103170672-0e637900-486c-11eb-8894-b6157026f00d.jpg)

[2020-12-27 12:31] himanshujaidka commented on #6154
@mariobehling I think it is the same as 6148 issue

[2020-12-27 12:35] himanshujaidka commented on #6148
@mariobehling sir
we have to make the both frontpage and ticket page the same? means in terms of font and color?

[2020-12-27 13:34] #6146 closed

[2020-12-27 13:43] Tanishka-Spontom commented on #5951
Is this issue still open?

[2020-12-28 04:30] maze-runnar commented on #6148
eventbrite shows number of attendeed with the ticket-

![Screenshot from 2020-12-28 09-58-33](https://user-images.githubusercontent.com/56407566/103189599-685b5180-48f3-11eb-808a-52450157d9ab.png)

[2020-12-28 04:55] Tanishka-Bansal commented on #5951
Is this issue still open?

[2020-12-28 07:34] himanshujaidka commented on #6148
are You working on this?

[2020-12-28 08:26] afzal442 opened #6157 "Mobile View: Search bar needs adjustment"
**Describe the bug**

The search bar currently doesn't cover the whole area of nav.

**Expected behaviour**

The search bar should cover the area of navigation.
**Screenshots**

![c2](https://user-images.githubusercontent.com/11625672/103200772-43c3a180-4914-11eb-83ef-b3403bb3109f.JPG)

[2020-12-28 08:41] maze-runnar commented on #6148
no you are.

[2020-12-28 08:42] himanshujaidka commented on #6148
if u r interested then we should collaborate

[2020-12-28 08:43] himanshujaidka commented on #6148
pls give your gitter id

[2020-12-28 11:52] Creatoon commented on #6117
@iamareebjamal  please review the PR.

[2020-12-28 12:17] afzal442 commented on #6157
@mariobehling plz verify this issue. Thanks.

[2020-12-28 14:24] robin025 commented on #6157
can i work on this..!!

[2020-12-28 14:46] afzal442 commented on #6157
I think this issue first needs to be verified and then later you can try. So, for now, explore other issues.

[2020-12-28 16:05] akshatsaxena11 commented on #6157
Please...Can I work on this one....!!

[2020-12-28 16:06] akshatsaxena11 commented on #6154
Can I work on this one..?

[2020-12-28 16:07] afzal442 commented on #6157
See above comment. Thanks.

[2020-12-28 17:23] Naman-1234 commented on #6148
@himanshujaidka  I would like to collaborate on this if you want

[2020-12-28 17:37] himanshujaidka commented on #6148
provide your gitter id

[2020-12-29 02:41] #5915 closed

[2020-12-29 03:46] maze-runnar commented on #5881
how to remove organizer from an event.
![Screenshot from 2020-12-29 09-16-03](https://user-images.githubusercontent.com/56407566/103257267-8342ca00-49b6-11eb-8a3e-0f2304f90f76.png)

[2020-12-29 03:53] iamareebjamal commented on #5881
Add the feature to do this

[2020-12-29 03:55] maze-runnar commented on #5881
then how this was possible. As mentioned in issue?

[2020-12-29 04:10] maze-runnar commented on #5881
[code]

[2020-12-29 05:19] iamareebjamal commented on #5881
That feature was removed because it was removing a role invite, which changes nothing as the error message shows above. You have to remove the role instead

[2020-12-29 05:35] nlok5923 opened #6165 "Event page: enhancement in additional info icon."
**Describe the bug**
Addition info icon in the event page should not be bigger then the font size.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any event page

**Expected behaviour**

Additional info icon will look good if it is circular as well as same size as of font.

**Screenshots**

![image](https://user-images.githubusercontent.com/56120084/103260916-77aacf80-49c5-11eb-8f3e-9

[2020-12-29 05:36] nlok5923 commented on #6165
i would like to work on it if it is valid.

[2020-12-29 11:33] #6135 closed

[2020-12-29 18:09] Bhavik-Ardeshna commented on #6165
I would like to work on this issue...

[2020-12-29 19:46] sachinchauhan2889 commented on #6104
@iamareebjamal sir, issue solved. Please close.

[2020-12-30 02:51] #6104 closed

[2020-12-30 05:29] mariobehling commented on #6157
No need.

[2020-12-30 05:29] #6157 closed

[2020-12-30 06:59] YashV1729 commented on #6165
Is it solved? I would also like to give it a try in resolving this issue.

[2020-12-30 07:26] mariobehling opened #6170 "Virtual Events: Add "Join Event" button for Online and Mixed Events"
Please implement the following
* Add a "Join Event" button next to the "Join Video" button on the right side bar and on the bottom area of public event pages.
* Direct the ticket holder to the public event page with the event side panel expanded.
* Also show the button for not-logged in users or users without a ticket, but for them when they click on it display a pop-up "You need to login or get a

[2020-12-30 07:55] HyperHarshad27 commented on #6170
May I do this?

[2020-12-30 08:46] Creatoon commented on #6154
working on this

[2020-12-30 09:25] Creatoon commented on #6154
@himanshujaidka In the development code , it is working just fine , page is responsive.

[2020-12-30 09:59] mariobehling opened #6171 "Virtual Event: Do not show sidebar panel after user has left the event"
When the user is on an event with the sidebar active and clicks on the top left logo "eventyay" they are leaving the event. When the user goes back to the event page afterwards it would be expected that the user has to join the event again by clicking on the "Join Video" or "Join Event" button. This means when the user visits the event page again (after leaving it) to some other outside event area

[2020-12-30 10:24] mariobehling opened #6172 "Virtual Events: Open "Join video" in same tab for "in-house" streams"
Please implement the following for "Join Video" links:
* Open "Join Video" in the same tab for streams "in-house" streams with our side panel. Show external streams in another tab.

Implement this in the following places:
1. On the right sidebar "Join Video" link
2. For the "Join Video" links in the schedule

[2020-12-30 10:24] Creatoon opened #6173 "Email overflows from the payee information block."
**Describe the bug**
Email overflows from the payee information block on the orders page.

**To Reproduce**
Steps to reproduce the behaviour:
1. Buy a ticket.
2. Then on order details page check out the payee information block on the bottom right side of the page.
3. Your email must be long enough to reproduce this behaviour.

**Expected behaviour**
The email shuld have been broken itself within t

[2020-12-30 10:25] Creatoon commented on #6173
working on this.

[2020-12-30 10:26] afzal442 commented on #6171
@mariobehling when the user clicks on close tab on side panel, it needs to redirect the page to event page. Hence closing the side panel. Isn't that?? Thanks.

[2020-12-30 10:29] afzal442 commented on #6172
Taking up this.

[2020-12-30 10:31] mariobehling opened #6174 "Virtual Events: Implement Zoom in iframe"
Zoom is currently not implemented to be used in an iframe. Please implement this feature.

An example of where this is implement is Wordpress. A plugin is here https://wordpress.org/plugins/video-conferencing-with-zoom-api/

Another relevant article could be this one here https://kloudless.com/blog/the-quarantine-chronicles-embedding-zoom-video-on-a-web-server/

[2020-12-30 10:32] afzal442 commented on #6172
@mariobehling do you mean external streams for links in the schedule??

[2020-12-30 10:34] mariobehling opened #6175 "Virtual Events: Add option to include MS Teams in an iframe"
It is possible to embed MS Teams on a website. Please add the option to include it in our solution as an iframe.

[2020-12-30 13:02] iamareebjamal commented on #6172
I don't even know what your question is

[2020-12-30 13:08] iamareebjamal commented on #6170
What's the difference between Join Video and Join Event

[2020-12-30 13:14] afzal442 commented on #6172
Actually I confused between external streams and inhouse streams! Plz elaborate.

[2020-12-30 13:17] mariobehling commented on #6170
Join Video directs to the Event Video Room itself, if it is configured. If it is not configured there would not be a "Join Video" button on the event pages.

Join Event shows up if the user has either or both added an Event Video Room and Session Video Rooms. Join Event directs to the event main page but includes the right side panel. It means the user is now actively participating in an event. (W

[2020-12-30 13:18] mariobehling commented on #6170
Sorry, I meant left-side panel.

[2020-12-30 13:19] afzal442 commented on #6146
@iamareebjamal sir u can close my PR if you have reviewed since it has resolved the same. Thanks.

[2020-12-30 13:39] iamareebjamal commented on #6172
Video Streams with jitsi or BBB channel are integrated streams, otherwise it is external stream

[2020-12-30 13:39] mariobehling opened #6177 "Virtual Events: Direct anonymous or non-ticket holders to event page with pop-up if they try to access video streams"
When a user who does not have a ticket for an event or an anonymous user tries to access a link of a video room (because they somehow have that link) currently there is a 404 page and a notification "unexpected error" that shows up.

Please change this as follows:
* Direct the user to the event page that is the "owner" of those video rooms and display a pop-up "You need to login or get a ticket fo

[2020-12-30 13:45] #5907 closed

[2020-12-30 13:52] himanshujaidka commented on #6170
Working

[2020-12-30 13:53] #6171 closed

[2020-12-30 15:07] mariobehling commented on #6122
This is not implemented on our app yet.

[2020-12-30 16:20] FlashV998 commented on #6122
I am working on it ,feel free to drop PR if I won't

[2020-12-30 16:25] himanshujaidka commented on #6170
@iamareebjamal sir, I got the logic but I need little help, that I want to know the name of the function that should be called after implementation of my logic

[2020-12-30 17:49] afzal442 commented on #6172
unable to fetch it for now. anybody can try this since it is a priority high issue.

[2020-12-30 20:16] mariobehling opened #6179 "Ticket Cancellations: Enable the organizers and users to cancel tickets of an order individually"
Currently it is possible that a user or organizer cancels an order of tickets and refunds orders outside of the system. It is not possible to cancel specific tickets of an order though.

This means if a user buys for example 5 tickets in an order the user would be able to cancel only the entire order. If a user buys 5 tickets in separate orders the user would be able to cancel each ticket individu

[2020-12-30 20:43] mariobehling opened #6181 "Security: Implement Two Factor Authentication"
What options exist for two factor authentication? As systems get hacked increasingly we also need to implement ways to keep open event secure.

Therefore please propose and implement two factor authentication. Research solutions and implement the best suited option according to feedback.

[2020-12-31 01:55] #6056 closed

[2020-12-31 02:27] HarryHuy commented on #6181
I think you should provide at least two options, a phone based along with an email based verification in case users cannot access to their phone.

For the phone based method, using SMS might be less efficient than application in the Worldwide range.

I see that privacyIDEA supports TOTP protocol which is supported by very popular Google Authenticator and Microsoft Authenticator app.

Here is a Nod

[2020-12-31 02:43] iamareebjamal commented on #6181
I vote for TOTP as we are not/should not require mobile numbers. It is a hassle, SMS are not free and prone to other attacks and not that secure. Mobile numbers are rotated a lot, and thus pose another security threat.
TOTP is easy to implement, free and safe

[2020-12-31 02:59] #6062 closed

[2020-12-31 03:34] #5854 closed

[2020-12-31 05:57] maze-runnar opened #6185 "ticket sometimes doesn't appear in my-ticket section"
**Describe the bug**

ticket sometimes doesn't appear in my-ticket section
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to my-tickets
2. refresh page
3. tickets are disappeared
**Expected behaviour**
they should show tickets

**Screenshots**
before refresh -
![Screenshot from 2020-12-31 11-25-54](https://user-images.githubusercontent.com/56407566/103396757-fa18c800-4b5a-11eb-857d-abbba

[2020-12-31 05:58] iamareebjamal commented on #6185
Same is happening in all lists. Like Manage Events, Manage Sessions, etc

[2020-12-31 06:56] sachinchauhan2889 commented on #6185
when this occur, console shows this.
![issue new](https://user-images.githubusercontent.com/72552281/103398585-5d0e5d00-4b63-11eb-9751-fd5dd7df9301.png)

[2020-12-31 08:03] mariobehling commented on #6185
Thanks, I am experiencing this regularly too on different lists.

[2020-12-31 08:13] mariobehling opened #6186 "Make video tab URL name consistent with tab name"
The video tab URL on event organizer menus is https://eventyay.com/events/[event ID]/videoroom/. The tab name is "Video". Please make this consistent and change the video URL to https://eventyay.com/events/[event ID]/video/ therefore.

![Screenshot from 2020-12-31 09-09-23](https://user-images.githubusercontent.com/1583873/103401199-3c84d980-4b48-11eb-893a-dbf7d100c029.png)

[2020-12-31 08:16] mariobehling opened #6187 "Video Tab: Icons disaligned when event or video room has a long name"
In the video tab overview first column the icons are disaligned when an event or video room name has a longer name. Please ensure the icons stay aligned.

![Screenshot from 2020-12-31 09-08-26](https://user-images.githubusercontent.com/1583873/103401316-98e7f900-4b48-11eb-8534-cff9dc6d85cd.png)

[2020-12-31 08:20] mariobehling opened #6188 "Virtual Event Side Panel: Footer overlaps it"
The footer on the schedule, speaker etc. page overlaps the virtual event side panel. Please fix it.

![Screenshot from 2020-12-31 09-00-41](https://user-images.githubusercontent.com/1583873/103401517-6a1e5280-4b49-11eb-8eef-76011f3c0a48.png)

[2020-12-31 08:31] ranjitkshah commented on #6188
working...

[2020-12-31 08:32] afzal442 commented on #6187
looking into this.

[2020-12-31 08:51] mariobehling opened #6190 "Organizer Video Tab: Ember Errors and Column Inconsistencies"
The organizer video tab still has some issues. Please resolve them:

* Clicking on the table heading, e.g. in the video source URL area results in an ember error and moves the "Additional Information" content to the "Password" column
* The column Video Source URL still shows "https". Please take it out and reduce a bit the width of URL box in column Video Source URL (We need the feature to enable

[2020-12-31 09:45] #6188 closed

[2020-12-31 10:00] #6172 closed

[2020-12-31 12:11] Sinha-09 commented on #4543
is it still open?

[2020-12-31 12:13] #6148 closed

[2020-12-31 12:13] #4996 closed

[2020-12-31 12:14] iamareebjamal commented on #4543
What does it look like?

[2020-12-31 16:30] maze-runnar commented on #6190
this kind of error is at most of places in tables.

[2020-12-31 20:15] mariobehling opened #6194 "Mobile View: Avoid bottom scroll bar"
In mobile view a numbers of pages have a bottom scroll bar. Please test this with an actual phone. It doesn't always show up on a browser.

![Screenshot_20201231_210317_com android chrome](https://user-images.githubusercontent.com/1583873/103424542-3b39c800-4bad-11eb-9ddd-b1c189c007d7.jpg)

[2021-01-01 03:29] #6186 closed

[2021-01-01 03:36] maze-runnar commented on #6185
@iamareebjamal i guess the problem is with `store        : this.authManager.currentUser`. it is used at 3 places(my-sessions, my-tickets and notifications) and all of them are not working.

[2021-01-01 03:38] iamareebjamal commented on #6185
I suspected this as well. However, `this.authManager.currentUser` is not undefined

[2021-01-01 03:38] iamareebjamal commented on #6185
For quick solution, disable caching user and see if it fixes it

[2021-01-01 03:52] maze-runnar commented on #6185
it worked.

[2021-01-01 03:55] maze-runnar commented on #6185
so should i create a PR with this quick solution or there would be any alternate?

[2021-01-01 04:04] iamareebjamal commented on #6185
Yes, please create a PR and later I'll think of a better way to cache the user

[2021-01-01 04:05] maze-runnar commented on #6185
ok

[2021-01-01 05:18] #6185 closed

[2021-01-01 07:34] mariobehling commented on #5100
Public vs. private session page still needs to be implemented.

[2021-01-01 08:25] mariobehling opened #6199 "Wizard Step 4 and Video: Extend sponsorship wizard step 4 with options for exhibitors, video and slides"
As we are progressing with online events we can now extend the sponsorship wizard step 4 to include options for exhibitors (that either are also sponsors or which are not sponsors) and prepare for video rooms. Therefore please implement the following:

Sponsorship Wizard Step 4: Implement the outlined changes and add options:
* Rename Sponsorship wizard step to "Sponsors and Exhibitors" in all are

[2021-01-01 14:20] Creatoon commented on #6194
working on it

[2021-01-01 15:44] ARKEOLOGIST commented on #1519
Deployed a fix for some of the files. Should reduce the magnitude of the issue.

[2021-01-01 15:56] mariobehling opened #6204 "Unexpected Error for Anonymous User moving between main page and event pages"
Simply clicking on an event and then moving back results in a display of "Unexpected Error".

![Screenshot from 2021-01-01 16-52-16](https://user-images.githubusercontent.com/1583873/103441963-0df32580-4c52-11eb-99c5-d584a1bdca05.png)

![Screenshot from 2021-01-01 16-55-10](https://user-images.githubusercontent.com/1583873/103441985-4e52a380-4c52-11eb-9aef-1bfaca800a24.png)

[2021-01-01 16:21] ARKEOLOGIST commented on #6194
@mariobehling Is it possible to mention some of the pages which have it? I'll have a look.

[2021-01-01 16:31] mariobehling opened #6206 "Implement "Exhibitions & Sponsoring" Page for Sponsors and Exhibitors"
At the moment only organizers are able to change the listing information of sponsors and exhibitors. Please add an email field for each sponsor or exhibitor to the wizard step 4 and the option to invite a sponsor/exhibitor to edit this entry. Please further implement:
* Show the entries for a sponsor in the drop-down menu under a link "Exhibitions & Sponsoring". Add the link below "My Sessions".
*

[2021-01-01 16:54] Creatoon commented on #6194
@mariobehling please review it

[2021-01-01 16:58] mariobehling opened #6208 "Event Roles: Implement Role "Moderator" for events with focus on online events/video rooms"
Please implement the role moderator for events. For the moment we focus on online events. The goal is to enable moderators to see the different event rooms in the same way as event organizers. To make this work we need the following:

1. Add option to invite moderators to the team page and on the team sub page add a column "Moderators" and the info about the role permissions.
2. Show moderators wh

[2021-01-01 17:19] Manish-bat commented on #6206
i wanna work on this issue.Please assign this to me and since in new to this to me and sice i am new to this repo .
So Please guide me through!

[2021-01-01 17:25] Manish-bat commented on #6206
There is no one.

[2021-01-01 19:41] mariobehling opened #6209 "Virtual Events: Jitsi Video Does Not Appear"
The Jitsi Video rooms do not appear in a virtual event for me as an admin user who regularly checks it with Chromium. Originally I thought it is just a temporary issue as it worked again, but now it only works if I open an anonymous browser window or use another browser.

Big Blue Button works however.

Maybe we should start to run the technical meetings with our system in order to identify issues

[2021-01-01 21:42] ranjitkshah opened #6210 "event: save as draft shows unexpected error"
**Describe the bug**
shows unexpected behaviour ( all required fields are filled ) please see the video
https://www.loom.com/share/475a4bb3abcd4c5c925ee6db2af44b23

**Expected behaviour**
it should save the event as a draft

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following i

[2021-01-02 03:54] iamareebjamal commented on #6209
I get this if I open the link as an anonymous user
![image](https://user-images.githubusercontent.com/3874064/103450429-51927180-4cdc-11eb-90cb-261cd77a82cc.png)

[2021-01-02 04:27] #6204 closed

[2021-01-02 05:57] Soumi150 commented on #6154
Working on this.

[2021-01-02 07:57] himanshujaidka opened #6214 "If the field will not be empty then why there is on-off button"
**Describe the bug**

The on-off switch should not be there if the field is mandatory

**Screenshots**

![Screenshot (118)](https://user-images.githubusercontent.com/58654018/103453270-39cbe500-4cfe-11eb-8d33-ba4005410b06.png)

[2021-01-02 09:55] himanshujaidka commented on #6199
Working

[2021-01-02 09:55] #5951 closed

[2021-01-02 12:01] Sachin21393 commented on #6209
plzz assign this bug to me i can solve it

[2021-01-02 12:12] #6177 closed

[2021-01-02 12:15] takshch commented on #6209
@mariobehling Now We can upload video on Github. Also we can use this feature for demonstration of "How to generate issue".
Please try to use video for issue demonstration.

[2021-01-02 12:57] mariobehling opened #6218 "Event Wizard: Numerous Unexpected Errors"
Trying to save an event in the wizard a number of unexpected errors show up.

Example event: https://eventyay.com/events/a315169f/edit/other-details

![Screenshot from 2021-01-02 13-56-31](https://user-images.githubusercontent.com/1583873/103457756-59650c80-4d02-11eb-87fd-88a05bcbd713.png)
![Screenshot from 2021-01-02 13-56-14](https://user-images.githubusercontent.com/1583873/103457757-59fda300-4

[2021-01-02 13:53] iamareebjamal commented on #6210
Same as #6218

[2021-01-02 13:53] #6210 closed

[2021-01-02 13:54] #6173 closed

[2021-01-02 14:02] #6218 closed

[2021-01-02 18:15] ranjitkshah commented on #5917
I think it's looking fine now or need any style changes? @mariobehling
![image](https://user-images.githubusercontent.com/61561415/103463711-53981700-4d54-11eb-9ab9-8a9aba9b84db.png)

[2021-01-02 19:53] iamareebjamal commented on #5917
See the unchecked point

[2021-01-02 23:58] Creatoon commented on #5636
@sachinchauhan2889 are you still working on this?

[2021-01-03 00:55] mariobehling opened #6220 "Top Menu Bar: Hide search box on wizard pages"
The search box on the top menu should be hidden on wizard pages. Please change it.

![Screenshot from 2021-01-03 01-53-20](https://user-images.githubusercontent.com/1583873/103469564-a5499d00-4d66-11eb-8bab-f837aaab2f6d.png)

[2021-01-03 02:34] afzal442 commented on #6220
Looking into this.

[2021-01-03 06:10] afzal442 commented on #6220
@iamareebjamal should I take out search bar from side bar?? thanks.

[2021-01-03 06:20] iamareebjamal commented on #6220
Which side bar?

[2021-01-03 06:21] afzal442 commented on #6220
I mean on nav bar, there is side bar.

[2021-01-03 06:23] #5100 closed

[2021-01-03 06:29] iamareebjamal commented on #6220
I don't understand anything you're saying

[2021-01-03 06:31] afzal442 commented on #6220
so then, should I remove search bar from top menu?

[2021-01-03 06:34] iamareebjamal commented on #6220
What does the issue say?

[2021-01-03 06:39] sachinchauhan2889 commented on #5636
No

[2021-01-03 06:45] afzal442 commented on #6220
Got it. Thanks Sir. Working.

[2021-01-03 10:23] mariobehling opened #6221 "Fix Session Table Columns for Small Resolutions and Larger Fonts"
If a user has browser options that show the font as larger in many resolutions the table on the sessions page is distorted a bit. Also if the user has a small resolution this can happen. Please help to make the table work in more resolutions. In your changes improve the following:

* Make the status button on the left, e.g. "Confirmed" into one line
* Make "Lock Box" square and avoid that it touch

[2021-01-03 10:32] amitsin6h commented on #6221
Working on this

[2021-01-03 10:34] mariobehling commented on #5682
Cannot see or verify where this appears. Please add info and reopen with more specifics and screenshot. Closing it for now.

[2021-01-03 10:34] #5682 closed

[2021-01-03 10:35] afzal442 commented on #6221
@amitsin6h Need collaboration!

[2021-01-03 10:53] mariobehling opened #6222 "Separate Private and Public Speaker and Session Info into two separate pages for Organizers/Speakers vs. Public"
The current implementation of the speakers and session info is confusing. As an organizer it is unclear if information is public or if the organizer is viewing personal speaker or session information.

The user interface of public pages should be incorporated into the public event pages. Private pages are part of the organizer interface. Therefore the content areas should be clearly separated as f

[2021-01-03 10:56] mariobehling commented on #5100
Unfortunately this issue has not been solved. As I have already reopened it before it seems it is not clear enough. Therefore I created a new issue with only the remaining parts open. Please follow up here asap. So, we do not loose the train of thought: https://github.com/fossasia/open-event-frontend/issues/6222

[2021-01-03 11:16] mariobehling commented on #6222
As an admin compare for example this page https://eventyay.com/events/ae73f280/speakers/5016/edit and this page https://eventyay.com/e/ae73f280/cfs/speaker/5016/edit. Why does the page with the public event heading even exist? Private and public features should be strictly separated.

![Screenshot from 2021-01-03 12-15-44](https://user-images.githubusercontent.com/1583873/103477263-6b57b580-4dbd-1

[2021-01-03 11:24] impaaras commented on #6221
can i work on this

[2021-01-03 11:27] mariobehling commented on #6222
Basically, in the initial idea we wanted to have a dedicated page for the speaker to see and edit their info for a specific event. At that time we did not have a dedicated page for the organizer neither. Well, it does not make sense to have two different pages for the speaker and organizer view. The organizer and speaker should see the same "private" information.

But the speaker should not see th

[2021-01-03 11:37] mariobehling commented on #6222
Part of the confusion steers from the fact that the view icon on the sessions overview page is linked to the public session page. After the changes just implemented with the public vs. private information this icon should probably link to a private overview page.

![Screenshot from 2021-01-03 12-33-36](https://user-images.githubusercontent.com/1583873/103477562-63e5db80-4dc0-11eb-974f-5236a2278dca

[2021-01-03 12:36] mariobehling commented on #6209
Not anonymous, as an admin user or organizer.

[2021-01-03 14:47] Draco9421 commented on #6220
can I work on it.

[2021-01-03 15:28] Draco9421 commented on #6165
working on it

[2021-01-03 17:50] #6220 closed

[2021-01-03 19:47] ritik307 commented on #6221
@mariobehling  I have some ideas on how to fix this issue. can I work on it?

[2021-01-03 20:11] ritik307 commented on #6187
@afzal442 you still working on it? If not would start looking into this.

[2021-01-03 21:36] mariobehling opened #6227 "Hide "Create Event" on Wizard Pages"
The wizard pages are already creating an event. So there is no need to show "Create Event" on the right area in the top menu bar on the wizard pages.

![Screenshot from 2021-01-03 19-45-41](https://user-images.githubusercontent.com/42090582/103481015-11c3ab00-4dfe-11eb-917b-71fa7382467b.png)

[2021-01-03 21:42] ranjitkshah commented on #6227
working

[2021-01-03 21:52] ranjitkshah commented on #6227
Its already resolved working fine @mariobehling
![image](https://user-images.githubusercontent.com/61561415/103489664-0db67e00-4e3c-11eb-93b2-aa4f38b82ba7.png)

[2021-01-03 23:53] Creatoon commented on #6221
@iamareebjamal @mariobehling Sir , please review this PR

[2021-01-04 02:50] HarryHuy opened #6230 "Cannot rename published event ticket"
**Describe the bug**
Cannot rename the published event ticket, the error message is meaningless in the user perspective.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to "http://[oevent-address]/events/[event-id]/edit/basic-details"
3. Scroll down to the ticket session
4. Alter the ticket name, then click `Save`

**Expected behaviour**
If ticket renaming isn't allowed, its textbox shou

[2021-01-04 05:00] #6227 closed

[2021-01-04 05:05] iamareebjamal commented on #6230
Please pull the latest changes from server upstream. It has been fixed a few days ago

[2021-01-04 05:05] #6230 closed

[2021-01-04 05:18] #6117 closed

[2021-01-04 05:24] HarryHuy commented on #6230
Great!

[2021-01-04 05:58] #6194 closed

[2021-01-04 07:17] iamareebjamal commented on #5952
It is fixed now AFAIK. Reopen if not

[2021-01-04 07:17] #5952 closed

[2021-01-04 08:27] #6131 closed

[2021-01-04 09:34] maze-runnar commented on #6214
the error is not due to this page. Please recheck, There were many unexpected errors in wizard since 2 days.

[2021-01-04 09:35] maze-runnar commented on #6214
closing it for now, reopen if reproduced. https://github.com/fossasia/open-event-server/pull/7561

[2021-01-04 10:46] sachinchauhan2889 commented on #6222
looking into this.

[2021-01-04 10:55] #3775 closed

[2021-01-04 11:36] mariobehling commented on #6222
@sachinchauhan2889 Thanks for the PR about the abstraction layer!

Now here we need a page a) for the sessions and b) for the speakers info. These "View" pages should be accessible from the organizer overview area through the view icon.

These pages should show all private and public data of a session/speaker.

![Screenshot from 2021-01-04 12-30-15](https://user-images.githubusercontent.com/158387

[2021-01-04 13:06] mariobehling opened #6231 "Video Panel Button: Further Enhance Design"
Please change the button on the side panel in a way so it looks more in sync with the platform as follows:
- position it so it looks like in the middle of the top bar.
- Change button to: width: 32px, height: 50px
- move the "eventyay" text to the right, so buttons do not overlap the text (also increase the area to the right side border, so it looks like positioned in the middle of the area even i

[2021-01-04 13:35] afzal442 commented on #6231
@Draco9421

[2021-01-04 13:57] Samridhi-98 commented on #5443
I would like to work on this issue please assign me.

[2021-01-04 14:00] JagjiwanChimkar commented on #6231
Can I work on this? Please assign this issue to me.

[2021-01-04 14:01] Samridhi-98 commented on #5443
working on this issue.

[2021-01-04 16:00] #6221 closed

[2021-01-04 16:03] himanshujaidka commented on #6214
No, no my point is different, I am saying that if a user is not able to skip that page i.e. session and speakers then why there is an on-off slide button

[2021-01-04 16:39] maze-runnar opened #6232 "Wizard Attendee step: can't read property customForms of undefined"
**Describe the bug**

Wizard Attendee step is throwing error on save. `can't read property customForms of undefined`
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to wizard step 3
2. Click on save
3. See error

**Screenshots**

![Screenshot from 2021-01-04 22-01-27](https://user-images.githubusercontent.com/56407566/103557631-7dc71180-4ed9-11eb-862f-13c096283db7.png)

[2021-01-05 01:43] Creatoon opened #6237 "Issue related to PR #6144"
This issue is the extension of the ISSUE  #6117  and PR  #6144

that pr (created by me) used to resolved the starting and ending time of the event being same, but this should only work for events created for same day, not for the events held for many days.

see the screenshot below , i am creating events for multiple days and i am not able to keep the start time and end time same.

![Screenshot_20

[2021-01-05 05:00] maze-runnar commented on #6232
looking into it

[2021-01-05 09:59] Saumyachitransh01 commented on #5857
Taking this up!

[2021-01-05 13:08] #6232 closed

[2021-01-05 14:33] afzal442 opened #6242 "Video Room: Need further enhancement"
**Is your feature request related to a problem? Please describe.**

When an organizer wants to cancel the edit of the video room and wants to go back to the earlier page, has to click on the back button. There is no cancel button currently.
**Describe the solution you'd like**

When an organizer wants to cancel the edit of the video room, can click the cancel and go back to the previous page.
**De

[2021-01-05 15:25] #6237 closed

[2021-01-05 15:31] #2436 closed

[2021-01-05 15:35] afzal442 commented on #6242
Working... plz Don't PR.

[2021-01-05 19:09] inomag commented on #6174
Hi there, can I work on this ?

[2021-01-06 06:14] himanshujaidka commented on #6214
@iamareebjamal sir, any updates about this issue?

[2021-01-06 09:26] maze-runnar commented on #4117
fixed in https://github.com/fossasia/open-event-frontend/pull/5998

[2021-01-06 09:26] #4117 closed

[2021-01-06 11:17] 2580ayush2580 opened #6248 "Improve menu-bar icon"
**Is your feature request related to a problem? Please describe.**

![f1](https://user-images.githubusercontent.com/56980422/103762353-2c846280-503e-11eb-961a-c26f930b0230.png)
**Describe the solution you'd like**

I think we should add a cross icon when the menu bar is open as shown in the image.

![f2](https://user-images.githubusercontent.com/56980422/103762393-3908bb00-503e-11eb-8d2e-e569ad20f

[2021-01-06 11:32] #3390 closed

[2021-01-06 11:49] 2580ayush2580 opened #6249 "Menu-bar has no close button available"
**Is your feature request related to a problem? Please describe.**

When I opened the menu bar and scroll down the content of right side and then I tried to close the menu bar then I have no option available to close the menubar.

![f3](https://user-images.githubusercontent.com/56980422/103764823-2f815200-5042-11eb-9ba1-918288679913.png)
**Describe the solution you'd like**

I think we should add

[2021-01-06 13:06] iamareebjamal commented on #6170
Working

[2021-01-06 13:22] Shubham-kumar799 commented on #6249
How about closing the menu bar when you click anywhere on the screen other than the menu. This can be done using javascript and css. I would like to work on this .  Can i go ahead?

[2021-01-06 13:29] afzal442 opened #6250 "Event Wizard Page: when event is cancelled, it doesn't reset the changes and saves the event later."
**Describe the bug**

When we create an event and edit our details like event name or on Sessions and Speakers page we write some tracks and later we cancel it. It still saves the event name, track name etc without saving it.
**To Reproduce**
Steps to reproduce the behaviour:
1. Create an event, write any event name, don't save it.
2. Click on next and goto Sessions and Speakers wizard and type th

[2021-01-06 13:36] sakshi006 commented on #6231
Can I work on this issue?

[2021-01-06 13:37] MeghalBisht commented on #6249
If you click somewhere outside the menu it will close.

[2021-01-06 14:33] iamareebjamal commented on #6209
Not able to reproduce

[2021-01-06 14:48] 2580ayush2580 commented on #6249
When I scroll down to the Footer section of the website.
If I click on the right side then it will not close the menu bar.

![f4](https://user-images.githubusercontent.com/56980422/103780104-8e52c580-505a-11eb-8d9e-a0f11f8345dd.png)

![f5](https://user-images.githubusercontent.com/56980422/103780848-8e06fa00-505b-11eb-9ef0-8abb96e59106.png)

As shown in the image if I tried to close the menu-bar b

[2021-01-06 15:51] Samridhi-98 commented on #5443
@mariobehling, I currently use Windows 10 and I am getting this error: gettext is not recognized as an internal or external command. I tried to install gettext without any success. I also tried this for installing gettext  https://mlocati.github.io/articles/gettext-iconv-windows.html
Still getting this error: gettext is not recognized as an internal or external command.
Please suggest a way to fix

[2021-01-06 17:02] Pihu1998 commented on #6214
Can I work on this issue please ?

[2021-01-06 17:06] himanshujaidka commented on #6214
i am working if it is not done then I’ll tell you

[2021-01-06 17:45] #5917 closed

[2021-01-06 18:13] himanshujaidka commented on #6214
@iamareebjamal sir, what to do with this, whether make this field compulsory or not?

[2021-01-06 18:21] iamareebjamal commented on #6214
no

[2021-01-06 18:24] himanshujaidka commented on #6214
okay

[2021-01-06 18:37] naveen8801 commented on #5575
is this issue open ?? , can i work on it ?

[2021-01-06 18:38] naveen8801 commented on #5575
@Raunaksingh100 @mariobehling  is this issue still open , i wanna work on it .

[2021-01-06 20:45] payalpatra opened #6256 "Hover Effect on text "Online Event""
Blue Hover Effect Can be added when a user clicks on the Online Event.

[2021-01-06 22:18] hpdang opened #6259 "Call for Speakers: Display wrong end date"
Organizers set CFS ends on 31 January 2021. On the page, it displayed 1 February 2021: https://eventyay.com/e/fa96ae2c/cfs
![Screenshot from 2021-01-06 23-16-45](https://user-images.githubusercontent.com/1658742/103825628-78063300-5075-11eb-95f6-f98840488912.png)

[2021-01-07 01:48] mariobehling opened #6261 "Virtual Events: Only show video rooms if sessions are scheduled and schedule is public"
If rooms are created and virtual channels were added on the video tab the video rooms show up in the event side panel. But: The video rooms should only show up if sessions are added into the rooms and if the schedule has been published.

![Screenshot from 2021-01-07 02-46-21](https://user-images.githubusercontent.com/1583873/103840922-d097f900-5092-11eb-80f9-4ba0d4e08e00.png)

[2021-01-07 01:51] mariobehling opened #6262 "Virtual Events: Jitsi Rooms not visible"
Jitis rooms regularly are not available in virtual events. Testing the source URL the rooms are there, but they do not show up on the platform. Then another time they do show up. Maybe caching issue?

![Screenshot from 2021-01-07 02-49-58](https://user-images.githubusercontent.com/1583873/103841137-35535380-5093-11eb-835e-2d9b157c1764.png)

![Screenshot from 2021-01-07 02-51-35](https://user-image

[2021-01-07 01:55] mariobehling opened #6263 "Virtual Events: Changing and Creating a BBB video room results in errors"
The Codeheat video event room was set to Jitsi. Changing it to Big Blue Button results in error message "ID field". Then deleting it and trying to set it again results in error "already exists" even though there is no room showing up.

Compare https://eventyay.com/events/a315169f/video/all

![Screenshot from 2021-01-07 02-53-41](https://user-images.githubusercontent.com/1583873/103841394-cc201000-

[2021-01-07 04:16] maze-runnar commented on #6259
looking into it

[2021-01-07 05:28] maze-runnar commented on #6259
@iamareebjamal I have tried to add time for speakersCall in timezoneObserver but this return undefined -
[code]

timezoneObserver: observer('data.event.timezone', function() {
    const { event } = this.data;
    console.log(event);
    const { oldTimezone } = this;
    this.oldTimezone = this.data.event.timezone;
    if (!oldTimezone || !this.oldTimezone || oldTimezone === this.oldTimezone) {retu

[2021-01-07 05:34] iamareebjamal commented on #6263
I could delete it and set new one up but looking into ID issue

[2021-01-07 05:36] iamareebjamal commented on #6262
Link to the room? Duplicate of #6209?

There is no error in the console which shows up any reason for failure. Did you try reloading? Does it work on reload or stays that way?

[2021-01-07 05:40] iamareebjamal commented on #6259
Use event.get

[2021-01-07 05:40] maze-runnar commented on #6259
ok

[2021-01-07 05:43] maze-runnar commented on #6259
it's returning proxy --
![Screenshot from 2021-01-07 11-13-12](https://user-images.githubusercontent.com/56407566/103855769-5dfe3c00-50d9-11eb-9812-7784bf1b2906.png)

[2021-01-07 05:44] iamareebjamal commented on #6259
await it

[2021-01-07 06:17] maze-runnar commented on #6259
await event.get('speakersCall') this is returning a class.
but await event.get('speakersCall').get('startsAt') or event.'speakersCall.get('startsAt') is returning undefined (while it's not undefined)

[2021-01-07 06:18] iamareebjamal commented on #6259
event.get('speakersCall.startsAt')

And is startsAt set?

[2021-01-07 06:28] maze-runnar commented on #6259
yes

[2021-01-07 06:36] maze-runnar commented on #6259
this is also giving `undefined` 😟.

[2021-01-07 06:44] #6261 closed

[2021-01-07 06:45] iamareebjamal commented on #6259
Call .startsAt on this class and see

[2021-01-07 06:48] iamareebjamal commented on #6259
Also, it doesn't need to be added in observer because you can't change the timezone on that page. You just need to set the time with event timezone, currently, it is taking local timezone

[2021-01-07 06:54] maze-runnar commented on #6259
i'm trying to add this change in basic-detail-step observer.

[2021-01-07 07:14] iamareebjamal commented on #6259
OK, but then there needs to be a better solution, because we cannot change everything this way. What if someone scheduled 5 sessions in IST and then changed timezone to SGT? There needs to be a better way

[2021-01-07 07:32] JagjiwanChimkar opened #6265 "Windows-10 users face local Setup/Installation."
**Is your feature request related to a problem? Please describe.**
   For Beginners, Windows-10 users face local Setup/Installation.
   Windows-10 users need to use WSL(Windows Subsystem for Linux) for Local.
   Which is currently not present in the guide for local installation.

**Describe the solution you'd like**
Add below point in the local installation guide (local.md file)
* For Windows-10 U

[2021-01-07 07:54] Creatoon commented on #6249
@2580ayush2580 You can simply swipe the menu to the left,  it will close automatically

[2021-01-07 07:59] #6256 closed

[2021-01-07 09:21] mariobehling commented on #6150
Issue is still there

[2021-01-07 09:25] mariobehling commented on #6150
![Screenshot from 2021-01-07 10-23-38](https://user-images.githubusercontent.com/1583873/103875280-833b7c00-50d2-11eb-9e4c-f653ba376e82.png)
![Screenshot from 2021-01-07 10-23-24](https://user-images.githubusercontent.com/1583873/103875284-846ca900-50d2-11eb-8a1c-62aea401712a.png)
![Screenshot from 2021-01-07 10-25-20](https://user-images.githubusercontent.com/1583873/103875392-a8c88580-50d2-11eb-

[2021-01-07 09:30] mariobehling opened #6269 "Ticket Sales: Confusing Sold Out Message Instead of Showing "Sold Out""
There is a sold out message when people try to buy a ticket that is sold it. Expected is, that the ticket would not be "bookable" instead there should be a message "Sold Out" in the area drop-down of the ticket number.

For the sold out message itself, if it is displayed anywhere it should show "Ticket [ticket name] sold out." instead of ticket 1865 sold out.

![Screenshot from 2021-01-07 10-16-42

[2021-01-07 09:38] iamareebjamal commented on #6265
We encourage people to use Linux instead

[2021-01-07 09:38] #6265 closed

[2021-01-07 09:39] iamareebjamal commented on #6150
Similar: #6259

[2021-01-07 10:07] 2580ayush2580 commented on #6249
@Creatoon Thank you so much.

[2021-01-07 10:07] #6249 closed

[2021-01-07 10:08] #6262 closed

[2021-01-07 10:50] afzal442 commented on #6248
Plz refer your gmail account.

[2021-01-07 11:01] 2580ayush2580 commented on #6248
2580ayush2580@gmail.com

[2021-01-07 11:13] 2580ayush2580 commented on #6248
2580ayush2580@gmail.com

[2021-01-07 11:15] afzal442 commented on #6248
Nope your gmail app

[2021-01-07 11:18] 2580ayush2580 commented on #6248
okay thank you much

[2021-01-07 11:18] #6248 closed

[2021-01-07 11:42] afzal442 commented on #6248
Hey did u register for today's event ie codeheat AMA??

[2021-01-07 12:57] naveen8801 commented on #6248
@2580ayush2580  can i work on this ?

[2021-01-07 13:48] SARTHAK1SINGH commented on #6269
Working on it.

[2021-01-07 14:55] mariobehling opened #6270 "Virtual Events: Avoid scroll bar in video meetings"
Video meetings have a scroll bar, which does not appear if we use Jitsi or BBB outside of eventyay.

![Screenshot from 2021-01-07 15-53-23](https://user-images.githubusercontent.com/1583873/103906774-aaa93d80-5100-11eb-9e53-c3d884b1db63.png)

[2021-01-07 15:16] ShubhamPatel33 commented on #6175
Hello sir i would like to take this issue.

[2021-01-07 15:37] ksraj123 commented on #6270
Yeah, I noticed this issue too.

Looking into this. Thanks

[2021-01-07 16:32] ashwinsabu commented on #6270
Looking into this.

[2021-01-07 17:48] #6270 closed

[2021-01-08 06:12] maze-runnar commented on #6190
looking into this.

[2021-01-08 07:51] sachinchauhan2889 opened #6273 "Access and Discount Code Page: Record in not unloading."
**Describe the bug**

Record created while creating new discount and access code is not unloading while exiting the page.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Discount page or Access Page'
2. Click on 'create new discount code'
3. come back to discount page without saving form.
4. See error

**Expected behaviour**

record must unload on exiting.

**Screenshots**

![newwww

[2021-01-08 07:51] sachinchauhan2889 commented on #6273
looking into this

[2021-01-08 09:05] iamareebjamal commented on #6273
This happens everywhere, not just here

[2021-01-08 09:09] #5857 closed

[2021-01-08 10:22] mariobehling opened #6274 "Access Code Functionality Not Working"
The access code functionality is not working and has a number of issues:
1. "Hidden Tickets" do not get saved in the wizard Compare https://eventyay.com/events/5ac8e4d9/edit/basic-details
![Screenshot from 2021-01-08 11-16-28](https://user-images.githubusercontent.com/1583873/104003746-21971280-51a3-11eb-9bfd-828294c9795e.png)
2. The old previous UI of the access code appears at times when creatin

[2021-01-08 10:26] mariobehling commented on #6274
Regarding point 2: It might be that I was trying this out while I was showcasing the feature and it was being deployed at the same time. However, point 1 is valid. I was not able to create access code tickets.

[2021-01-08 10:39] iamareebjamal commented on #6274
That PR was only about making the form same as Discount code form. It does not fix the access code (hidden ticket) feature in event basic detail. So, should this issue be taken up urgently?

Summary: Access Codes were broken and form was not similar to Discount Code Form. Now, Access Codes are still broken but form is similar to Discount Code Form

[2021-01-08 10:44] maze-runnar commented on #6190
here is how `state` column is changing  in admin event section or events/live of user:

- first click on header of roles column, `state` column changes to some <ember:xyz>
![Screenshot from 2021-01-08 16-10-11](https://user-images.githubusercontent.com/56407566/104006225-363bd080-51cc-11eb-9fe1-88835a9d41a7.png)

- second click on header of `roles` column again  `state` changes to normal
![Screens

[2021-01-08 11:22] iamareebjamal commented on #6190
Look at the click handlers of the headers and what they are doing

[2021-01-08 11:26] maze-runnar commented on #6190
ok

[2021-01-08 13:32] SARTHAK1SINGH commented on #6269
@MeghalBisht I already commented I am working on it. But still, you made a pull request. I solved it but now all my work has gone to waste. Please don't do this again 🙏.

[2021-01-08 13:57] iamareebjamal commented on #6269
Send a PR @SARTHAK1SINGH We'll merge yours instead. But don't wait too long

[2021-01-08 14:49] MeghalBisht commented on #6269
Hi, @SARTHAK1SINGH in that case, please send your PR and I'll close mine. 👍🏻

[2021-01-08 14:53] Bhavik-Ardeshna commented on #6231
Can I work on this issue

[2021-01-08 15:58] mariobehling commented on #6187
The icons are still not fitting into the design. As far as I see there are two options a) break any text that appears in front of the icons or b) position the icons right below the event or room name in the first row. @iamareebjamal What do you recommend?

![Screenshot from 2021-01-08 16-52-13](https://user-images.githubusercontent.com/1583873/104035469-7605b680-51d2-11eb-8dde-f6417a52a560.png)

[2021-01-08 16:02] mariobehling opened #6277 "Organizer Menu Tab: Change Order"
A number of users gave feedback about the logic of the organizer menu tab order. Please change the order of the menu tab to the following order: Overview, Tickets, Speakers, Sessions, Scheduler, Video, Team, Settings

![Screenshot from 2021-01-08 17-01-24](https://user-images.githubusercontent.com/1583873/104036001-28d61480-51d3-11eb-8c7f-5d3f11cc6721.png)

[2021-01-08 16:09] afzal442 commented on #6277
Looking into this.

[2021-01-08 16:35] mariobehling commented on #6187
The icon area seems to be even more buggy now. Clicking on the edit icon shortly shows up the "Add Video" icon and switching back and forth between pages also suddenly only shows the add video icon.

![Screenshot from 2021-01-08 17-33-41](https://user-images.githubusercontent.com/1583873/104040463-f549b900-51d7-11eb-84a3-388e72c08c2d.png)

[2021-01-08 16:40] iamareebjamal commented on #6187
The above issue is a different one

[2021-01-08 16:51] mariobehling commented on #6187
Ok, understand, but it appeared for me only after the last change and the question is how much smaller should we make issues that address a certain area? We need this video columns to work smoothly. It does not make sense to address challenges in the same area in one way and then in another way. These kind of issues are just too tiny. I think the problem is in this area is already apparent and if

[2021-01-08 16:55] iamareebjamal commented on #6187
This issue is much bigger and unrelated to the icons, because it is present in all the tables of the system. Moving back and forth breaks the table everywhere, not just here https://github.com/fossasia/open-event-frontend/issues/5176

So, even if we want to, we cannot fix it in the same PR as the icon one, and then, even the icon bug won't get resolved, because then the linked issue would be much

[2021-01-08 16:57] mariobehling commented on #6187
Yes, that is a big problem.

[2021-01-08 16:59] SARTHAK1SINGH commented on #6269
It's ok @MeghalBisht  go for it. I started working on another issue 👍

[2021-01-08 16:59] SARTHAK1SINGH commented on #6274
working on it.

[2021-01-08 17:01] iamareebjamal commented on #6269
We don't want this to happen. Please send a PR

[2021-01-08 17:59] afzal442 commented on #6277
Solved. Just PR is left.

[2021-01-08 18:01] afzal442 commented on #6187
In this case my solution would be better if u consider the icons position right below the event or room name in the first row. Thanks.

[2021-01-08 18:38] #6277 closed

[2021-01-08 19:16] SARTHAK1SINGH commented on #6269
@iamareebjamal  My changes were similar to Meghal. So now I started working on the new issue. Next time I'll try to make PR as soon as possible 👍 .

[2021-01-09 02:24] Creatoon commented on #6269
Only "SOLD OUT" would be nice to show, as i think alerting user with long messasge like this is not cool, what do you think.

[2021-01-09 03:35] afzal442 commented on #6187
Oops sorry for that.

[2021-01-09 04:37] maze-runnar commented on #6190
I just changed ```
 <t.head
        @sortFunction={{null}}
        @columns={{this.columns}}
        @enableReorder={{true}}
        @sorts={{this.sorts}}
        @onUpdateSorts={{action (mut this.sorts)}} as |h|>
[code]
 <t.head
        @columns={{this.columns}}
     as |h|>
[code]

[2021-01-09 05:14] iamareebjamal commented on #6269
Read the issue properly

[2021-01-09 05:55] chait04 commented on #6122
is this feature is only for mobile view

[2021-01-09 07:14] chait04 opened #6284 "sidebar overflow in event page"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://eventyay.com/e/f4fc71b8'
2. Scroll down to 'Tweets section'

**Screenshots**

![Screenshot (201)_LI](https://user-images.githubusercontent.com/59140343/104085781-0d711500-5278-11eb-8eae-29ff19c220d1.jpg)

**Additional context**

[2021-01-09 07:15] chait04 commented on #6284
in ipad view

[2021-01-09 07:51] coder34222 commented on #6284
<img width="196" alt="Screen Shot 2021-01-09 at 12 49 32 PM" src="https://user-images.githubusercontent.com/47316899/104086366-2201dd00-5279-11eb-95ef-c22521ca22c8.png">

Are you talking about this issue? overlapping of info icon and @codeheat?

[2021-01-09 07:59] chait04 commented on #6284
<strong>The whole tweet
![Screenshot (204)_LI](https://user-images.githubusercontent.com/59140343/104086515-aacf4780-527e-11eb-8fc7-71d0d60aea74.jpg)
 section  </strong>

[2021-01-09 08:00] coder34222 commented on #6284
How can i see it in ipad view on my laptop?

[2021-01-09 08:02] MeghalBisht commented on #6284
Everything works fine for me, please include more information or maybe a relevant screenshot

[2021-01-09 08:02] chait04 commented on #6284
press F12 and on top choose device

[2021-01-09 08:04] chait04 commented on #6284
This is how it looks in my machine in ipad view

![Screenshot (205)](https://user-images.githubusercontent.com/59140343/104086599-5ed0d280-527f-11eb-8017-8a1b2ba9869e.png)

[2021-01-09 08:05] iamareebjamal commented on #6284
Your issue is unclear. What exactly is the issue?

[2021-01-09 08:05] MeghalBisht commented on #6284
This is how it is meant to be I guess

[2021-01-09 08:07] coder34222 commented on #6284
I guess the issue is that in ipad view you cannot read the full tweet as you can not scroll horizontally

[2021-01-09 08:08] chait04 commented on #6284
<strong> This is laptop view and see the sidebar ( tweet section ) it is clearly visible while in ipad view it is in half </strong>
![Screenshot (207)](https://user-images.githubusercontent.com/59140343/104086658-c6871d80-527f-11eb-8f91-bcc3c108c4a4.png)

[2021-01-09 08:09] chait04 commented on #6284
yes .. thats the issue

[2021-01-09 08:09] coder34222 commented on #6284
https://user-images.githubusercontent.com/47316899/104086701-e3b9ed00-527b-11eb-89f9-5ed533c6b47a.mov

[2021-01-09 08:10] coder34222 commented on #6284
can i work on this issue?

[2021-01-09 08:11] Palash1999 commented on #6284
@coder34222 I am new to this community and would also like to help if it is okay with you.

[2021-01-09 08:12] MeghalBisht commented on #6284
Oh okay now I understand, the cropping of tweet continues until mobile view takes over at 767px

[2021-01-09 08:17] coder34222 commented on #6284
I followed the docker instructions to run open-event-frontend on my laptop, it is showing me this page when i run it on localhost:4200 , how can i go to eventyay page from here.

<img width="1440" alt="Screen Shot 2021-01-09 at 1 16 07 PM" src="https://user-images.githubusercontent.com/47316899/104086834-d7825f80-527c-11eb-97e2-03a5e79d8907.png">

[2021-01-09 09:06] iamareebjamal commented on #6284
Docker is for deployment, not development. Please use local installation steps

[2021-01-09 12:32] coder34222 commented on #6284
@iamareebjamal, i installed it again using local installation steps, and run it using 'yarn start' but still i am getting the same page. Do i have to navigate to reach the page of 'eventyay'?

[2021-01-09 13:22] MeghalBisht commented on #6284
@coder34222  Try to change the API_HOST to https://api.eventyay.com in .env

[2021-01-09 14:17] afzal442 commented on #6284
Ahem, I think u all didn't notice about codeheat challenge is what's all about. Find it from [here](codeheat.org). And try to start off with codeheat labelled issues and before that have a basic understanding of Ember js and all if not. Play around the codes, make changes and see the results but don't PR as long as it's not verified. For more details follow the guidelines given. Thanks. Enjoy codi

[2021-01-09 15:03] #6092 closed

[2021-01-09 16:59] avanisingh0105 commented on #6175
i am willing to know - what is the need of embedding ms teams/zoom iframe explicitly, if the virtual event were to be happen on ms teams/zoom then wouldn't the join video link be already  redirecting to ms teams/zoom???
#6175 #6174

[2021-01-09 22:59] Creatoon commented on #6208
Working

[2021-01-10 04:32] mariobehling opened #6286 "Wizard Step 5: Standardize Microlocations or Virtual Online Rooms Requirement"
Currently the wizard step 5 requires a room. However it only becomes apparent when the user tries to save the event. An error message appears then.

As a matter of fact a room is required for the scheduler, but it could possibly also be added at a later time. Therefore please take out the "Microlocations or Virtual Online Rooms" as a required field and ensure it is not required when the user saves

[2021-01-10 04:39] mariobehling opened #6287 "Not able to create a speaker due to Error "Field may not be null""
Trying to create a speaker on next months Codeheat event shows an error message "Field may not be null" even though I filled in all fields.

Compare
https://eventyay.com/events/f4fc71b8/speakers/create

![Screenshot from 2021-01-10 05-38-24](https://user-images.githubusercontent.com/1583873/104114569-26280c00-5306-11eb-8581-1a56d44c823c.png)

[2021-01-10 05:05] maze-runnar commented on #4589
if the tickets would be grouped in a manner described. How the cancel order will work?

[2021-01-10 05:53] mariobehling opened #6288 "Wizard Step 1: Calculation of min/max price for donation tickets not correct resulting in error message"
The minimum/maximum calculation is wrong, e.g. min 11 and max 1000 shows error messages on both fields. It seems the logic follows the digits, e.g. 11 and 2000 is working fine.

![Screenshot from 2021-01-10 06-16-17](https://user-images.githubusercontent.com/1583873/104115069-88cfd680-530b-11eb-9355-8e4687ac4d60.png)

[2021-01-10 06:22] maze-runnar commented on #6287
this is showing due to session field. If session field is not selected it is showing null error.

[2021-01-10 06:46] iamareebjamal commented on #6287
Sessions are relationship and not a field, so it is not possible for sessions to throw this error

[2021-01-10 06:48] iamareebjamal commented on #6287
Even though new session proposal is not chosen or any existing session is chosen, it is trying to save session with null title, hence the error

[2021-01-10 06:48] maze-runnar commented on #6287
in the session the title is causing error

[2021-01-10 08:06] Soumi150 commented on #6288
Working on this.

[2021-01-10 09:38] Draco9421 commented on #6286
can I work on this.

[2021-01-10 10:22] #6288 closed

[2021-01-10 12:37] serverwentdown commented on #6231
Actually, I recommend moving the sidebar button to the bottom left and instead of just an arrow, have some text (like "Event Rooms" or something like that) to explain what the arrow is.

[2021-01-10 13:18] farhanalws4u commented on #6284
could anyone please guide me. I am unable to run this project on my localhost. I followed these instructions [https://github.com/fossasia/open-event-frontend/blob/development/docs/installation/local.md](url). finally when I run the command yarn start, after completion of building nothing shows on my localhost:4200 only a blank page.

[2021-01-10 13:28] mariobehling opened #6292 "Public Event Page: Link event logo and text to event start page top"
Please implement the following: Link event logo and text on all event pages to event start page top.

![Screenshot from 2021-01-10 14-25-37](https://user-images.githubusercontent.com/1583873/104124235-04537700-5350-11eb-989a-50e53316c43e.png)

[2021-01-10 13:39] mariobehling opened #6293 "Speaker CfS Submission: Redirect speaker to private "view" page of session instead of public session page after editing"
A session and speaker view page for organizers have been implemented here https://github.com/fossasia/open-event-frontend/pull/6234

We need the same kind of page for speakers for sessions submitted to the CfS.

After a speaker adds a session they are currently being directed to the future public page of their session. Instead expected is:
1. After a speaker submits a session they should be redire

[2021-01-10 13:53] nlok5923 commented on #6292
Working on it.

[2021-01-10 14:38] Soumi150 commented on #6292
Working on this.

[2021-01-10 15:44] Jahnavi-Jonnalagadda commented on #5041
@mariobehling, an end-to-end organization web page should be created right?

[2021-01-10 15:45] 17sushmita commented on #6293
Working on this

[2021-01-10 16:26] mariobehling opened #6295 "Co-organizer invitation to inofficial event page URL instead of correct dashboard"
When a co-organizer accepts an invite they are directed to an inofficial event dashboard page URL instead of the correct manage event page URL, e.g.  https://eventyay.com/events/2120 instead of https://eventyay.com/events/2ddb81a2.

[2021-01-10 16:35] mariobehling opened #6296 "Event Dashboard: "Click here to add" for social links directs to the wrong wizard step"
If no social links are present a link on the event dashboard shows up "Click here to add". This link directs organizers to wizard step 1, but the option is on wizard step 2. Please fix the link.

![Screenshot from 2021-01-10 17-33-16](https://user-images.githubusercontent.com/1583873/104128831-16daaa00-536a-11eb-9579-22c54bf7f5d9.png)

[2021-01-10 16:45] #6296 closed

[2021-01-10 16:49] mariobehling opened #6298 "Wizard Step 2: Social Links option for "Event Site" missing and "Website" box missing"
In wizard step 2 and on the public event site the social links implementation does not work as expected. Please fix the following:
* The dropdown menu misses the option "Event Site"
![Screenshot from 2021-01-10 17-43-45](https://user-images.githubusercontent.com/1583873/104129207-15aa7c80-536c-11eb-8cc5-97cf8f2b4a8c.png)
* Event Site should show up as a box on the public page
* The dropdown menu o

[2021-01-10 16:59] ranjitkshah commented on #6298
#6082

[2021-01-10 17:20] Soumi150 commented on #6292
Sir, Please elaborate what is meant by text on event pages.

[2021-01-10 17:25] Soumi150 commented on #6298
Working on rest of the points.

[2021-01-10 17:32] iamareebjamal commented on #6298
As discussed previously in #5877, event site was from the wizard. Because that's a separate field than custom links decided to only show custom links.

https://github.com/fossasia/open-event-frontend/issues/5116#issuecomment-723430646

[2021-01-10 19:43] #5636 closed

[2021-01-10 20:52] mariobehling opened #6300 "Wizard Step 1: Make Billing Info required not possible"
Currently the billing info cannot be made required in wizard step 1. Please ensure this works again and test that it works when a user orders a ticket.

![Screenshot from 2021-01-10 21-52-17](https://user-images.githubusercontent.com/1583873/104135104-210e9f80-538e-11eb-9c82-9fb120516682.png)

[2021-01-10 21:17] mariobehling opened #6301 "Public Event Pages: Create a Page for Sponsors/Exhibitors"
Sponsors and exhibitors are now only listed on overview pages or planned to be listed on overview pages. Implement this after https://github.com/fossasia/open-event-frontend/issues/6199.

Please implement a dedicated page for sponsors or exhibitors as follows:
* Implement sponsors or exhibitors at the URL scheme such as `eventyay.com/e/[eventID]/[sponsor or exhibitor name]`
* Implement a page that

[2021-01-10 23:27] mariobehling opened #6302 "Wizard Step 1: Tax information country field opens without reason"
In Wizard step 1 on opening additional tax and information the pop up immediately jumps to the country and opens the dropdown list. Expected: The dropdown list should only open if the user clicks in the field.

![Screenshot from 2021-01-11 00-18-38](https://user-images.githubusercontent.com/1583873/104138320-a6e91580-53a3-11eb-9753-e5f8bc61f5a2.png)

[2021-01-10 23:35] mariobehling opened #6303 "Order Process: Add Info Box "Organizer Information""
In wizard step 1 an organizer has an option to add company. If an organizer adds the info, then show the company info in a box during the ordering process on the right hand side.

1. Add the info box below "Where and When" during ordering
2. Add the info box above "Payee Information" on the order page
3. If the organizer has not added that info then do not show the box

![Screenshot from 2021-01-1

[2021-01-10 23:49] mariobehling opened #6304 "Wizard Step 1: Donation Ticket cannot be moved up or down in ticket list"
Donation tickets cannot be moved in wizard step 1.

Compare https://eventyay.com/events/5ac8e4d9/edit/basic-details

![Screenshot from 2021-01-11 00-48-05](https://user-images.githubusercontent.com/1583873/104138798-cf264380-53a6-11eb-9dd2-e7ae1483fae8.png)

[2021-01-11 00:17] mariobehling commented on #4963
Thank you! Events that are listed in the section "Call for Speakers" seem to show up still even though the option is activated. Therefore reopening the issue.

[2021-01-11 00:26] mariobehling opened #6305 "Public Page: Ticket box alignment issue"
If there is tax or an error message below the box of a donation ticket, the content in the first and last columns of the ticket row moves down. Expected: It should stay aligned.

compare https://eventyay.com/e/5ac8e4d9

![Screenshot from 2021-01-11 01-23-14](https://user-images.githubusercontent.com/1583873/104139449-e582ce00-53ab-11eb-80d9-aa0b4977f44f.png)

[2021-01-11 00:48] mariobehling opened #6306 "Admin: Past Events show 505"
Past events and other filters on the events admin section are not showing up.

Compare https://eventyay.com/admin/events/past

![Screenshot from 2021-01-11 01-47-33](https://user-images.githubusercontent.com/1583873/104139962-0ef12900-53af-11eb-96dc-17e3f621b262.png)

[2021-01-11 02:12] nlok5923 commented on #6302
Working on it.

[2021-01-11 02:36] Soumi150 commented on #6303
Working on this.

[2021-01-11 02:45] Creatoon commented on #6305
@mariobehling Sir after fixing,

![Screenshot_2021-01-11 OpenTechSummit Europe eventyay(1)](https://user-images.githubusercontent.com/65965202/104143355-19c6b080-53e5-11eb-8ef2-118c99a356d8.png)

[2021-01-11 04:05] maze-runnar commented on #6306
I found no issue-
![Screenshot from 2021-01-11 09-34-31](https://user-images.githubusercontent.com/56407566/104146310-4502cd00-53f0-11eb-9ecf-460bb4ba291e.png)

[2021-01-11 04:16] maze-runnar commented on #6304
working for me
![captured](https://user-images.githubusercontent.com/56407566/104146749-c870ee00-53f1-11eb-9dcc-13c4942b6c8e.gif)

[2021-01-11 05:30] iamareebjamal commented on #6306
This is an issue in api.eventyay.com

[2021-01-11 05:33] #6080 closed

[2021-01-11 05:56] maze-runnar commented on #6302
on it

[2021-01-11 06:05] #6170 closed

[2021-01-11 06:18] Saumyachitransh01 commented on #6304
Taking this

[2021-01-11 06:36] #6302 closed

[2021-01-11 07:58] Creatoon commented on #6304
it is working just fine.

[2021-01-11 08:10] CadencePrestissimo commented on #6301
Can I work on this ?

[2021-01-11 08:10] #6300 closed

[2021-01-11 08:51] iamareebjamal commented on #6304
The error is coming up in moveTicket function

Cannot read property set of undefined

[2021-01-11 09:04] #4963 closed

[2021-01-11 09:45] maze-runnar commented on #6304
ok

[2021-01-11 09:59] #6305 closed

[2021-01-11 15:16] #6292 closed

[2021-01-11 15:17] #6287 closed

[2021-01-11 16:26] #6263 closed

[2021-01-11 16:44] #6295 closed

[2021-01-11 18:59] #6231 closed

[2021-01-11 19:27] mariobehling commented on #6306
Past events works now, but other filter pages are still showing the error.

[2021-01-11 21:56] mariobehling opened #6322 "Virtual Events: Enhance "Join Event" functionality and side panel style"
We can further improve the online event experience according to some user feedback. Please make the following changes:

* Make side panel event name into a link and take out external link icon
* Move right-side bar "Join Event" button above date on the right side bar to the top position
* Make "Join Event" button on right side bar full width of the side bar (similar to tweet area), make it into bl

[2021-01-12 00:11] mariobehling opened #6323 "Limit Time of Event Duration to Maximum 20 days to limit spam events"
There are several spam events that try to use the service to promote their own courses. They post an event duration that is several years. To limit these usages please implement a maximum event duration of 20 days.

![Screenshot from 2021-01-12 01-09-32](https://user-images.githubusercontent.com/1583873/104252766-21349b00-5473-11eb-8bbd-ea75906be82a.png)

[2021-01-12 00:22] mariobehling opened #6324 "Admin not able to delete spam events"
Even if the admin enters the name of a spam event such as "Learn best SQL Server training | SQL Server certification course | hkr trainings" the spam event is not deletable.

Expected: Actually an admin should be able to delete events even without a confirmation message. The confirmation message should only be there for normal users / organizers. The admin UI at https://eventyay.com/admin/events/l

[2021-01-12 00:23] nlok5923 commented on #6322
Working on it

[2021-01-12 00:32] mariobehling opened #6325 "Implement Mark Accounts as Spam"
Currently accounts that are associated with events cannot even be deleted by an admin, e.g. the account rahulroy5679909@gmail.com and creatoranita@gmail.com created a lot of spam events. Actually if we could delete these accounts they could re-register again.

A better way would be to enable the admin to make accounts as spam accounts and prevent them from logging in again.

Please implement the o

[2021-01-12 02:07] mariobehling opened #6327 "Update tagline on start page of platform"
Change tagline on start page from "The simplest way to create events." to -> "The open source event solution for virtual and in-person events."

[2021-01-12 02:07] nlok5923 commented on #6327
Working on it

[2021-01-12 02:27] nlok5923 commented on #6322
on it.

[2021-01-12 06:41] Jahnavi-Jonnalagadda commented on #6301
@mariobehling, Issue 6199 is still active, can we still implement this issue?

[2021-01-12 07:51] #6327 closed

[2021-01-12 09:02] mariobehling opened #6330 "Events Dashboard: Add URL box with copy feature and fix width issue"
The events dashboard content table on https://eventyay.com/events/live is not using the space well. On the right hand side there is space left in the table. The columns event name, date and tickets could be larger. Also a URL box similar to the video URL box would be useful. Therefore please change it as follows:
* Distribute the column width more efficiently so content does not break and use the

[2021-01-12 09:04] nlok5923 commented on #6330
working on it.

[2021-01-12 09:24] mariobehling opened #6331 "Specific Event Dashboard: Add URL Box"
The event dashboard shows a URL to the public page of the event. Please make change this to a box similar to the video URL box on the video tab.

![Screenshot from 2021-01-12 10-19-22](https://user-images.githubusercontent.com/1583873/104295037-43a0d580-54c0-11eb-90a9-bf5a10d932fa.png)

![Screenshot from 2021-01-12 10-01-40](https://user-images.githubusercontent.com/1583873/104295041-44396c00-54c0

[2021-01-12 09:25] Creatoon commented on #6331
Working

[2021-01-12 09:51] himanshujaidka commented on #6330
@nlok5923 Are you workin on this?

[2021-01-12 09:53] nlok5923 commented on #6330
@himanshujaidka u can work on it.

[2021-01-12 09:54] himanshujaidka commented on #6330
I am already workin on another, I saw your comment before that's why I am asking

[2021-01-12 10:00] mariobehling opened #6333 "Virtual Events: Move Big Blue Button minimize button to avoid overlap"
The eventyay sidepanel button is overlapping with the Big Blue Button side panel button when both are minimized. Please move the BBB sidepanel button further down below eventyay button using CSS.

![Screenshot from 2021-01-11 22-44-51](https://user-images.githubusercontent.com/1583873/104299270-4e119e00-54c5-11eb-8aa9-9e09b989d6d9.png)

[2021-01-12 10:12] nlok5923 commented on #6333
on it.

[2021-01-12 10:46] #6324 closed

[2021-01-12 10:55] iamareebjamal commented on #6333
That's not possible. External CSS (controlled by us) does not influence CSS in iframe. If we do it using JS, it messes up the UI of other elements of BBB, like the speaker indicator which is positioned according to the chat button

Simplest thing would be to move the side panel button below

[2021-01-12 10:56] Creatoon commented on #6323
working

[2021-01-12 11:00] iamareebjamal commented on #6323
This needs server change first

[2021-01-12 11:02] #6242 closed

[2021-01-12 11:06] nlok5923 commented on #6333
Working on it

[2021-01-12 11:19] afzal442 commented on #6333
Yes @nlok5923 . Sir has suggested in above comment.

[2021-01-12 11:28] Jahnavi-Jonnalagadda commented on #6322
@mariobehling, Will work on this issue.

[2021-01-12 11:42] Creatoon commented on #6323
Sir if we try to achieve this by adding a validate,  for ex - if differnce bw days is 20 then it will pass,if not an error will be generated,
Will it work?

[2021-01-12 12:01] nlok5923 commented on #6333
Sir i am not able to access the BBB room it says:
![image](https://user-images.githubusercontent.com/56120084/104311986-f80c1d00-54fb-11eb-9f9f-b91f69cf717b.png)

[2021-01-12 14:49] #6330 closed

[2021-01-12 15:26] afzal442 commented on #6333
@nlok5923 Could I try this? Thanks.

[2021-01-12 15:27] mariobehling commented on #6333
Ok, so, looks like moving the icon a bit would fit as well.

![Screenshot from 2021-01-12 16-23-13](https://user-images.githubusercontent.com/1583873/104334497-baef5d00-54f2-11eb-8b7b-a7cd6cc23304.png)

When you do this, please also change the position and area of the "eventyay" name on the top left back to its previous stage. This was changed here in this PR https://github.com/fossasia/open-event

[2021-01-12 15:29] afzal442 commented on #6333
Working on it....

[2021-01-12 15:33] afzal442 commented on #6333
Sorry, I think @nlok5923 was trying. I haven't got any reply. Will you work on it?

[2021-01-12 15:33] nlok5923 commented on #6333
ok @afzal442 you can take this.

[2021-01-12 18:06] mariobehling opened #6338 "Wizard Step 1: Dropdown event types etc. are not translatable"
The dropdown menus on the top of the event wizard step 1 are not translatable.

![Screenshot from 2021-01-12 19-00-04](https://user-images.githubusercontent.com/1583873/104354256-3bb95380-5509-11eb-95de-1f1b9fcb6631.png)

[2021-01-12 18:10] nlok5923 commented on #6338
Working on it.

[2021-01-12 18:14] mariobehling opened #6339 "Wizard Step 1: Settings Location, Online etc. menu not translatable"
Please make the settings menu for location, online etc. translatable.

![Screenshot from 2021-01-12 19-13-33](https://user-images.githubusercontent.com/1583873/104355046-62c45500-550a-11eb-9862-8287447379e9.png)

[2021-01-12 18:21] mariobehling opened #6340 "Wizard Step 2: Make license names in dropdown and info links translatable"
The licenses in the wizard step 2 dropdown and info box are not translatable.

![Screenshot from 2021-01-12 19-19-01](https://user-images.githubusercontent.com/1583873/104355688-5096e680-550b-11eb-8425-07def1db59e9.png)

[2021-01-12 18:59] himanshujaidka commented on #6338
What is meant by translatable?

[2021-01-12 19:01] afzal442 commented on #6339
working...

[2021-01-12 20:08] mariobehling commented on #6339
Seems it is now already added.

[2021-01-12 22:30] mariobehling commented on #6339
After checking again, the fields are not translatable yet. Therefore re-opening it.

[2021-01-12 23:07] mariobehling opened #6345 "On Wizard Attendee Form, Speaker and Session Forms: Many fields are not translatable"
Please make all form elements including text and other form fields translatable on attendee, speaker and session forms.

![Screenshot from 2021-01-13 00-00-54](https://user-images.githubusercontent.com/1583873/104385292-438ded80-5533-11eb-896a-31623e39dec1.png)
![Screenshot from 2021-01-13 00-00-31](https://user-images.githubusercontent.com/1583873/104385296-4688de00-5533-11eb-92e4-1e54b5d5e555.pn

[2021-01-12 23:13] mariobehling opened #6346 "Public Event Page: Make content on ticket box and "Join Event" button translatable"
Not all the content on the ticket box and neither the "Join Event" button are translatable on the public event page.

![Screenshot from 2021-01-13 00-11-52](https://user-images.githubusercontent.com/1583873/104385810-2f96bb80-5534-11eb-94fd-4f4c9e872f1b.png)
![Screenshot from 2021-01-13 00-11-28](https://user-images.githubusercontent.com/1583873/104385811-302f5200-5534-11eb-8866-5dbfacf3f8d9.png)

[2021-01-12 23:16] mariobehling opened #6347 "Wizard Step 1: Countries and Payment details are not translatable"
Please enable the translations of countries and content in the payment section of Wizard step 1.

![Screenshot from 2021-01-12 23-32-56](https://user-images.githubusercontent.com/1583873/104385872-51903e00-5534-11eb-8d85-dbd18d8bd3f5.png)

![Screenshot from 2021-01-12 23-34-20](https://user-images.githubusercontent.com/1583873/104385884-5654f200-5534-11eb-99b0-e63fd4fc8978.png)

[2021-01-12 23:25] mariobehling opened #6349 "Licenses in Wizard Step 2 on dropdown and popup are not translatable"
Please make the license info translatable.

![Screenshot from 2021-01-12 19-19-01](https://user-images.githubusercontent.com/1583873/104386604-cf087e00-5535-11eb-8d70-d6e720b26882.png)
![Screenshot from 2021-01-12 19-15-20](https://user-images.githubusercontent.com/1583873/104386609-d16ad800-5535-11eb-9545-f051f504b611.png)

[2021-01-12 23:29] mariobehling opened #6350 "Frontpage Header text no longer translatable and moved down"
After the recent changes the frontpage header text is no longer translatable. As it now uses two lines of text the "Create Event" button also moved down which makes the area look unnatural.

- [x] Please enable translations and
- [ ] move the text and button up a bit.

![Screenshot from 2021-01-13 00-28-09](https://user-images.githubusercontent.com/1583873/104386963-708fcf80-5536-11eb-808f-7e8aafb

[2021-01-13 00:23] iamareebjamal commented on #6349
Duplicate of #6340

[2021-01-13 00:23] #6349 closed

[2021-01-13 00:45] mariobehling commented on #6303
Actually the business information that should appear here are added in the wizard step 1 tax information pop up.

![Screenshot from 2021-01-13 01-44-19](https://user-images.githubusercontent.com/1583873/104391782-f3b62300-5540-11eb-8b29-6c2764bd8cef.png)

[2021-01-13 01:12] Creatoon commented on #6303
yes sir , from here i am getting the buisness details

[2021-01-13 02:10] nlok5923 commented on #6345
Working on it

[2021-01-13 04:07] nlok5923 commented on #6340
working on it.

[2021-01-13 04:12] Naman-1234 commented on #6347
Working on it

[2021-01-13 04:28] Soumi150 commented on #6346
Working on this.

[2021-01-13 06:43] Subham142 commented on #6350
Working on it

[2021-01-13 07:28] aarushi31 commented on #6350
Working on the issue.

[2021-01-13 07:30] Subham142 commented on #6350
@aarushi31  I'm working on this , can you let me try . I'll be happy to  refer you if i couldn't do it

[2021-01-13 07:40] aarushi31 commented on #6350
No problem. Go ahead.

On Wed, 13 Jan, 2021, 1:00 PM Subham Yadav, <notifications@github.com>
wrote:

[2021-01-13 07:41] aarushi31 commented on #6346
Working

[2021-01-13 08:04] maze-runnar commented on #6325
so there would be a column added is_blocked in user table?

[2021-01-13 09:13] himanshujaidka commented on #6350
still working?

[2021-01-13 10:33] Subham142 commented on #6350
I'm having a lot of network issue today
@aarushi31  you can work on it  otherwise @himanshujaidka  you can take it

[2021-01-13 10:34] himanshujaidka commented on #6350
Working

[2021-01-13 10:52] himanshujaidka commented on #6350
@iamareebjamal sir, pls add a code heat label, my pr is ready

[2021-01-13 11:54] Jahnavi-Jonnalagadda commented on #6199
@himanshujaidka, are you done working on this?

[2021-01-13 12:13] himanshujaidka commented on #6199
Would you like to collaborate?

[2021-01-13 12:17] Jahnavi-Jonnalagadda commented on #6199
There is another issue I've chosen which is in sync with this and have to be resolved after this issue is resolved. So would like to know when you will be able to complete this

[2021-01-13 13:31] iamareebjamal commented on #6323
Frontend check remaining

[2021-01-14 05:16] nlok5923 commented on #6338
on it

[2021-01-14 06:36] himanshujaidka commented on #6340
Working

[2021-01-14 08:52] maze-runnar commented on #5218
fixed so closing
![Screenshot from 2021-01-14 14-21-31](https://user-images.githubusercontent.com/56407566/104566645-dc2b8700-5673-11eb-9419-9cfb1ccb9210.png)

[2021-01-14 08:52] #5218 closed

[2021-01-14 10:31] MeghalBisht commented on #6322
taking this up!

[2021-01-14 12:12] mariobehling commented on #6350
Translations are already working after recent changes. Only position changes are needed now.

[2021-01-14 12:41] himanshujaidka commented on #6350
okay

[2021-01-14 13:29] himanshujaidka opened #6363 "Translations are not done properly"
![Screenshot (142)](https://user-images.githubusercontent.com/58654018/104596846-90400880-569a-11eb-827c-bd3cda4bd076.png)
**Describe the bug**

Translations should be done properly

[2021-01-14 13:37] mariobehling commented on #6363
For translations please refer to https://hosted.weblate.org/projects/open-event/frontend/ and add or improve translations here, please.

[2021-01-14 13:37] #6363 closed

[2021-01-14 13:38] himanshujaidka commented on #6363
okay

[2021-01-14 13:42] mariobehling opened #6364 "Virtual Events Sidebar: Only provide option to view sidebar for attendees with tickets"
When an anonymous users accesses a "Join Video" link they will get a pop up to login or to get a ticket. If the user presses "Cancel" the event page and the side panel  will show up even for anonymous users. Users using the "Join Event" link see another message and do not have the option "Cancel".

Expected is:
* That only the event page would be visible without the side panel.
* The pop up messag

[2021-01-14 13:54] afzal442 commented on #6364
Looking into this

[2021-01-14 14:42] afzal442 commented on #6364
@mariobehling I am not able find `cancel` button while trying to join event. Thanks

[2021-01-14 15:45] #6325 closed

[2021-01-14 15:50] mariobehling opened #6365 "Team Member: Fix button text and enable translation"
When an organizer wants to add a team member the button is wrong. Furthermore roles, e.g. here "organizer" is not translatable and on the overview page "Owner" must be translatable.

Expected: Instead of "Add Role" or "Edit Role" show "Add Team Member" or "Edit Team Member".

![Screenshot from 2021-01-14 16-46-40](https://user-images.githubusercontent.com/1583873/104614369-7990b600-5688-11eb-85bc-

[2021-01-14 16:02] afzal442 commented on #6365
Working...

[2021-01-14 16:26] mariobehling commented on #6365
Please only claim one issue at a time and do not comment on each single issue. Please follow our best practices https://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/

[2021-01-14 16:32] afzal442 commented on #6365
@mariobehling I have already mentioned on that issue that I am able to reproduce. So I think that comment makes sense. BTW thanks for the reminder.

[2021-01-14 16:55] mariobehling opened #6367 "Research and improve conformity with privacy and consent policies where required"
There have been a number of new laws in the EU and California. These require different privacy option, e.g. cookie choices and tracking options that we see on many websites. To ensure we conform to these laws please research and update the cookie announcement implementation where required. Check which cookies would require an additional consent and implement this if necessary.

I found a flask mod

[2021-01-14 17:41] #6323 closed

[2021-01-14 18:28] prateekshourya29 commented on #6365
Can I work on this? I'm new here and this issue doesn't seem to be an urgent one. I can work on this and it'll help me understand code base too.

[2021-01-14 18:52] afzal442 commented on #6365
Hello @prateekshourya29 I can understand you. But just wait for a couple of hours. Then you can happily take up this and explore things.

[2021-01-14 19:05] mariobehling opened #6370 "Wizard Step 1: Unexpected Error for unknown reason"
The wizard step 1 shows an unexpected error from time to time. Saving an event is not possible then or it shows not possible but still saves changes. It is unclear what happens exactly as all fields a filled in.

Please check with sentry if there are any reports that can be checked.

![unnamed (1)](https://user-images.githubusercontent.com/1583873/104636576-d9488a80-56a3-11eb-91e2-8e40d1793001.jpg

[2021-01-14 19:09] mariobehling opened #6371 "Role invite results in display in 404 page not found"
Inviting a new organizer results in 404.

![Screenshot from 2021-01-14 20-09-04](https://user-images.githubusercontent.com/1583873/104636917-5e33a400-56a4-11eb-8a69-725e385d86cf.png)

[2021-01-14 19:37] iamareebjamal commented on #6371
@mariobehling Can you please paste the link?

[2021-01-14 19:40] #6365 closed

[2021-01-14 19:52] mariobehling commented on #6371
http://url4008.eventyay.com/ls/click?upn=letbyYeOYcaRfmQNy3p4YdEx9WvL4QEw8rstrdNBjCvrIaTrcnjLjtSboAgOHQPzoNdP2z73UGHzTjQXQK-2FSMmYn9tlyP5aVaaIFX5Y5oF-2BuVhCoo-2FvW30Xw6YaICIY95Ixot1hihJJr1oOLk5ETjw-3D-3DU_gj_L5p4admKt6-2BbeUGbM2E1Z8qA1MCfUiREVGwAzMSYYpEqhPhTnD-2FyPrsDcSieTsmQ7QxCh-2BUzDs-2BhlV36f4JbaWqQU6sFHorCNY-2FgXwlLWMRLDVJ-2Bywu3lglP0LEMvJnmsxoRpRboWIwgEypoRYHkmv2ciJsjKpCHecA0fTgZLGN-2Bp4XJk7

[2021-01-14 19:53] mariobehling commented on #6371
I also see that this is http instead of https.

[2021-01-14 19:55] mariobehling commented on #6371
![Screenshot from 2021-01-14 20-54-47](https://user-images.githubusercontent.com/1583873/104642018-c38a9380-56aa-11eb-8322-309d394896f1.png)

[2021-01-14 19:58] iamareebjamal commented on #6371
Are you logged in with mb@mariobehling.de ID?

[2021-01-14 20:02] iamareebjamal commented on #6371
OK, so the issue is:

Event is draft, so you cannot access /e/ID route, but your invite is at that route as well, so it cannot be accepted till you visit that route.

What should we do here? Should we make role invite a top level route like /role-invite/ID instead of /e/ID/role-invites?

[2021-01-14 20:05] mariobehling commented on #6371
Yes, that sounds perfect.

[2021-01-14 20:16] prateekshourya29 commented on #6365
@afzal442 i think you have to update translation files also.

[2021-01-14 22:21] mariobehling opened #6376 "Organizer Session Overview Page and Speaker Overview Page: Link speaker photo and speaker or session name to view page"
Please link the left hand rows for name or title on the following organizer pages to the session view or the speaker view page:
* The image/speaker name on the speaker overview page should link to the speaker view page
* The session title should link to the session view page

Speaker overview page
![Screenshot from 2021-01-14 23-22-38](https://user-images.githubusercontent.com/1583873/104656338-6c

[2021-01-14 23:24] mariobehling opened #6377 "Attendee Form: Implement "Photo & video & text consent" in attendee form with tickbox"
As there are many online events nowadays, which are recorded, we need an option to announce that events are recorded when people order a ticket.

This means that people **must** accept that an event is recorded, photos are taken or text is copied in order to complete the order. Therefore please implement this as a field for the attendee form as follows:
* Add option "Photo & video & text consent"

[2021-01-14 23:28] mariobehling opened #6378 "Cookie Consent box is not translatable"
Please make the consent box on top of the website translatable.

![Screenshot from 2021-01-15 00-27-05](https://user-images.githubusercontent.com/1583873/104661312-9220c080-56c8-11eb-913a-be0686407d0d.png)

[2021-01-14 23:48] mariobehling opened #6379 "Attendee Form: Add user content to receive email"
Many organizers would like to be officially permitted to stay in touch with attendees. Therefore please add the following options to the attendee form:

For the agreement of a participant to receive emails after the event implement
* the text "We would like to share information with you after the event by email for example through personal emails by our team, newsletters or other electronic commun

[2021-01-14 23:52] mariobehling opened #6380 "Attendee Form: Add user consent option for sponsor sharing agreement"
Many organizers would like to be officially permitted to share contact information with event partners, such as sponsors. Therefore please add the following options to the attendee form:

For the agreement of a participant to share contact information with event partners
* the text "We would like to share information among event partners to provide you with the best possible experience and enable

[2021-01-15 00:07] iamareebjamal commented on #6378
It is dynamic text which can be changed here https://eventyay.com/admin/settings
Hence, not translatable.

It can be made translatable but then it won't be dynamic.

[2021-01-15 00:20] nlok5923 commented on #6376
Working on it.

[2021-01-15 04:07] Saumyachitransh01 commented on #6345
Taking this

[2021-01-15 06:13] afzal442 commented on #6376
Working on it.

[2021-01-15 07:41] maze-runnar commented on #6371
I am getting error on sending role-invite
![Screenshot from 2021-01-15 13-10-01](https://user-images.githubusercontent.com/56407566/104695653-1a3bb000-5733-11eb-90b9-caa405e00b5f.png)

[2021-01-15 10:44] #6222 closed

[2021-01-15 11:12] mariobehling opened #6385 "Public Event Page: Enhance location/online information"
On public event pages of mixed events, please change the following:
* Instead of "In-Person Event and Online Event ..[Address]" show "Online and In-Person Event at [Address]"

![Screenshot from 2021-01-15 12-05-43](https://user-images.githubusercontent.com/1583873/104718079-9aa9e300-572a-11eb-955c-07cee0788d6b.png)

[2021-01-15 11:13] himanshujaidka commented on #6385
Working

[2021-01-15 11:18] iamareebjamal commented on #6371
As always with any server error, try on local machine and find what's the error

[2021-01-15 11:42] mariobehling commented on #6385
@himanshujaidka This does not work out with the way you claim issues. Please only claim one issue at a time and work on a PR until it is ready and merged. More and more open PRs and WIP PRs block the progress of the project. Please follow best practices https://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/

We cannot accept your claim to work on this issue here and

[2021-01-15 11:47] himanshujaidka commented on #6385
ok, sir leaving this issue, but I am working on other open pr's also

[2021-01-15 12:02] nlok5923 commented on #6385
taking this up.

[2021-01-15 13:29] #6385 closed

[2021-01-15 16:08] #6303 closed

[2021-01-15 16:11] #6350 closed

[2021-01-16 09:55] mariobehling opened #6393 "Virtual Events: Implement before and after event changes opening/closing video rooms and un/publishing links"
How should access be granted to video rooms before and after an event?

1. Before event show the link for all users, but show a pop-up for
a) Ticket holders: Until 1 hour before the event with the message "You will be able to access the video room here 1 hour before the event starts." Starting from 1 hour before the event just give access to the video as of now.
b) Organizers should always be able

[2021-01-16 12:55] mariobehling opened #6394 "Change "Mixed" to "Hybrid" Events"
It is now common to call mixed online and offline events "Hybrid Events". Therefore in wizard step 1 and other places please rename "Mixed" to "Hybrid".

![Screenshot from 2021-01-16 13-53-02](https://user-images.githubusercontent.com/1583873/104812430-5f7ae300-5802-11eb-8bc7-6bdd6ee9e607.png)

[2021-01-16 13:02] nlok5923 commented on #6394
On it

[2021-01-16 13:06] himanshujaidka commented on #6199
drop this issue because it needs changes at server side

[2021-01-16 13:36] mariobehling opened #6396 "Event Dashboard Overview Box: Fix location and online info"
The dashboard shows "location" in the first line event for online and hybrid events. Please change this as follows. On the right-hand side show:
1. If the event is location based only show same as now.
2. If the event is online only show "Online evevent"
3. If the event is a hybrid event show "Online and in-person event at [address]."
4. If the event is "To be announced" show "To be announced".
![

[2021-01-16 13:38] afzal442 commented on #6396
working

[2021-01-16 14:00] #6394 closed

[2021-01-16 16:53] afzal442 commented on #6396
I have been also trying. I will be leaving this issue within 2 hrs from now if I am not, so someone else can work on this. Thanks

[2021-01-16 17:49] iamareebjamal commented on #6396
Please only comment when you have at least reproduced the bug

[2021-01-16 18:59] mariobehling opened #6397 "Public Event Page: Sponsors not visible"
Some sponsors were added to the FOSSASIA Summit but they are not visible on the public page.

Compare https://eventyay.com/e/fa96ae2c
Event Dashboard https://eventyay.com/events/fa96ae2c

![Screenshot from 2021-01-16 19-56-25](https://user-images.githubusercontent.com/1583873/104820468-214ae700-5835-11eb-8881-17e01a70c72f.png)

[2021-01-16 19:02] mariobehling commented on #6397
Ok, looks like it just take some time to get updated.

[2021-01-16 19:02] #6397 closed

[2021-01-16 19:03] #6364 closed

[2021-01-16 22:02] #6269 closed

[2021-01-16 22:40] #5881 closed

[2021-01-17 00:38] mariobehling opened #6399 "Search box in mobile View not working"
The top search bar is not working in mobile view. Please also change the following
* The magnifying glass icon should always stay where it is before the use clicks on it
* Tipping on the magnifying glass icon should result in the search being performed
* When the user clicks on the search area the keyboard should open automatically
* There should be no x icon. If the user clicks outside of the sea

[2021-01-17 01:00] #5040 closed

[2021-01-17 02:30] ranjitkshah commented on #6377
@iamareebjamal, not getting `acceptVideoRecording` field from backend
![image](https://user-images.githubusercontent.com/61561415/104829399-63a60f80-5899-11eb-9ff7-b0007e73246d.png)

[2021-01-17 07:48] terminator0309 commented on #6399
Trying this one... Feel free to drop your PR if one anyone else want to :)

[2021-01-17 08:15] devartstar commented on #5800
Can i start workng on this issue

[2021-01-17 16:59] mariobehling opened #6402 "Attendee Form: Add Instagram and Linkedin"
Instagram and Linkedin are missing as standard options on the atteendee form in the wizard. Please add them in the custom form section "Information to Collect".

![Screenshot from 2021-01-17 17-58-29](https://user-images.githubusercontent.com/1583873/104850162-c4f7ce00-58ed-11eb-8817-9e511ff6d522.png)

[2021-01-17 17:03] Naman-1234 commented on #6402
Working on it

[2021-01-17 17:04] afzal442 commented on #6402
Looking into this.

[2021-01-17 17:06] Naman-1234 commented on #6402
@afzal442  I am already working on it,So pls look into another one.

[2021-01-17 17:09] afzal442 commented on #6402
Alright! U can.

[2021-01-17 17:45] shivamsingh-07 commented on #3353
@iamareebjamal  Is this open and can I work on it ?

[2021-01-17 20:35] mariobehling opened #6403 "Public Event Page: Custom link boxes on right side bar are a bit out of place and distorted spacing of widgets"
Link boxes of custom links are a bit out of place and spacing with above and below section is not standardized.

Please adjust as follows
* make sure the spacing between buttons is equal and also works if buttons are moved to the next row in small resolutions
* ensure the widget have the the same spacing between each other
   * menu link box
   * date/time
   * "add to calendar"
   * icon boxes

[2021-01-17 22:50] mariobehling opened #6404 "Order form: Filling in shipping address and hitting enter results in reloading the page and all fields reset"
When a user orders a ticket where they have to fill in address fields, e.g. shipping address and then the user hits enter, the page reloads and all fields are reset.

Compare https://eventyay.com/e/19128bdf

![Screenshot from 2021-01-17 23-48-21](https://user-images.githubusercontent.com/1583873/104858355-b675da80-591e-11eb-9a71-fb7a1139ffce.png)

[2021-01-17 22:54] mariobehling opened #6405 "Order Form:"
When a user orders a ticket and does not choose the payment provider and then clicks "Proceed", the page scrolls up to the top and the erroneous area is out of sight of the user. Expected: The page should scroll up to the first point of an erroneous area. In this case it should not scroll at all in simply show the error message that already appears.

![Screenshot from 2021-01-17 23-51-15](https://

[2021-01-17 23:00] mariobehling opened #6406 "Order Form Stripe Payment: Increase button size"
The order button of the stripe button is not prominent enough. Please increase the size of the "Pay Now" button to the entire width of the sidebar.

Compare https://eventyay.com/e/19128bdf

![Screenshot from 2021-01-17 23-57-17](https://user-images.githubusercontent.com/1583873/104858504-0b662080-5920-11eb-88f5-5da53d9a655d.png)

[2021-01-17 23:12] mariobehling opened #6407 "Order Page: Fix wrong download option, billing icon and text"
Please change the order page as follows:

1. There is a non-functional download link for a ticket, that has not been paid for yet on the "Payment Page" of the order. The download link should only be at the final page (after the payment)
2. Please change "YOUR ORDER HAS BEEN PLACED SUCCESSFULLY. YOU CAN PAY FOR YOUR ORDER TO GET TICKETS." -> "YOUR ORDER HAS BEEN PLACED. PLEASE PAY FOR YOUR TICKETS

[2021-01-17 23:28] mariobehling opened #6408 "Call for speakers: Add soft closing date for submissions to wizard and CfS page"
As many events nowadays started to have a soft closing date and after this date still accept late submissions, we need this option in the wizard and public CfS page.

Please add the feature to the wizard and CfS page therefore.

Example: "The soft closing date for submissions is 1 February, 2021 6:59 AM (SGT). The final closing date of the Call for Speakers is Monday, 15 February, 2021 6:59 AM (SG

[2021-01-18 00:40] afzal442 commented on #6406
Working.

[2021-01-18 03:13] Naman-1234 commented on #6403
Working on it.

[2021-01-18 03:31] afzal442 commented on #6402
Working on it.

[2021-01-18 04:08] mariobehling opened #6412 "Paypal Payment not working Pop up closes without any action"
Paypal payment is not possible on this event https://eventyay.com/e/19128bdf. The paypal payment box simply closes when trying to make a payment.

![Screenshot from 2021-01-18 05-05-17](https://user-images.githubusercontent.com/1583873/104871354-2306ce80-594b-11eb-863f-f9069accd20e.png)

[2021-01-18 04:16] anurawat01 commented on #6405
@mariobehling I will love to work on this?
Can you please assign it to me?

[2021-01-18 05:22] mariobehling commented on #6412
An issue here could be that the event charges in INR and the account I used is not based in India.
https://developer.paypal.com/docs/location/india/domestic-and-crossborder/

Presenting the currency code based on the shipping address.
Any other method that identifies the consumer's country and presents the appropriate currency.

[2021-01-18 06:11] mariobehling opened #6413 "My tickets page: Canceling ticket results in unexpected error"
When canceling a ticket directly from the my tickets page, there is an error message "Unexpected Error". Then the ticket stays as is. Clicking on the order shows "Ticket Canceled".

However on the my tickets page should now show up in a tab "Canceled tickets" under "upcoming events". And if the event is in the past it should show up under "Canceled" for past events.

Now: If the user refreshes the

[2021-01-18 07:48] iamareebjamal commented on #6412
![image](https://user-images.githubusercontent.com/3874064/104886355-9c281500-598f-11eb-93f2-d3dcba602753.png)

Yes, that's the case

[2021-01-18 11:28] iamareebjamal commented on #6274
Remaining: https://github.com/fossasia/open-event-frontend/pull/6281#pullrequestreview-564814917

[2021-01-18 12:09] maze-runnar commented on #6371
it's working fine with local server.

[2021-01-18 12:50] mariobehling opened #6416 "Virtual Events: Implement video tab on/off switch similar to wizard switches and show pop-up"
The video event feature should be available for up to 25 people free of charge. Some online events might not want the video feature and they have the option to add details elsewhere. Organizers should therefore be able to switch the feature on and off.

Before we implement details of the invoice process, we need to give organizers the option to actually do switch the feature on and off and provide

[2021-01-18 13:23] shivamsingh-07 commented on #6413
@mariobehling Can I work on this issue? If I got stuck or need any help I'll let you know.

[2021-01-18 14:09] shivamsingh-07 commented on #6413
On clicking Cancel Ticket button, it is calling API with PATCH request which is giving a "403 Access Forbidden" error. But I think it should be calling API with DELETE request according to [API docs](https://api.eventyay.com/#orders-order-detail-patch).

![](https://user-images.githubusercontent.com/61000207/104923793-926bd500-59c2-11eb-8331-b1b46a29acba.png)

Correct me If I'm wrong. Also I can't

[2021-01-18 15:08] afzal442 commented on #6404
looking into it

[2021-01-18 15:41] shivamsingh-07 commented on #6413
After trying to reproduce the same bug on the development server, I got no errors. I think this might be a [server](https://github.com/fossasia/open-event-server) side issue.

![Screenshot](https://user-images.githubusercontent.com/61000207/104934078-b84ba680-59cf-11eb-8c56-835260a6ff20.png)

[2021-01-18 15:45] iamareebjamal commented on #6371
Cool, then continue with fix

[2021-01-18 16:15] Keshav04042001 commented on #6416
Oky sir,i got it.
I'll fix this, going through the codebase

[2021-01-18 17:26] sachinchauhan2889 commented on #6408
looking into this.

[2021-01-18 18:20] Rishikakanojia commented on #6407
I want to work on this issue.

[2021-01-18 21:52] Sloth-Panda commented on #6396
@mariobehling Do I always need to ask in an issue page and after getting assigned I work on that issue or if I directly solve the issue and send a pr that too is okay???

[2021-01-19 04:50] Aiswarika commented on #6405
Can i take this up?

[2021-01-19 05:05] anurawat01 commented on #6405
@Aiswarika
Same question I did ask but I got this in reply 😅 from github bot. I am also working on it.
We don't assign issues to external contributors. Please comment that you're working on the issue after checking that no one else is, and then send a pull request for it. Thank You!

[2021-01-19 06:59] maze-runnar commented on #6371
I am confused, a lot confused, about this issue and ticket-up down too. I will ask it in technical meeting.

[2021-01-19 08:47] iamareebjamal commented on #6371
OK

[2021-01-19 09:31] #6404 closed

[2021-01-19 09:31] #6405 closed

[2021-01-19 16:29] #6339 closed

[2021-01-19 16:29] #6340 closed

[2021-01-19 16:29] #6347 closed

[2021-01-19 16:54] mariobehling opened #6428 "Public Event Page: Large space above ticket box"
The public ticket page of an event shows a large space above the ticket box. The space does not exist in the rich text editor of the description. Possibly it is caused by invisible tags?

![Screenshot from 2021-01-19 17-52-11](https://user-images.githubusercontent.com/1583873/105066698-58143d80-5a7f-11eb-81e0-06dbee260b01.png)

[2021-01-19 16:55] himanshujaidka commented on #6428
Looking into it

[2021-01-19 16:57] mariobehling opened #6433 "First time user order cannot fill in all fields"
When a user signs up and gets a ticket for the first time it is ticked “The ticket holder is the same person the ticket buyer”. Then the custom field "Organisation" cannot be filled in.

[2021-01-19 17:22] mariobehling opened #6429 "After Order Message: Show message with line breaks on order page and in email"
The after order message in wizard step 1 shows line breaks, but on the final order page and in the attendee mail the order message does not have line breaks. Please ensure the after order message shows up in the same way with line breaks as set in the wizard.

![Screenshot from 2021-01-19 18-20-01](https://user-images.githubusercontent.com/1583873/105070167-31f09c80-5a83-11eb-8898-0d1d65e97551.png

[2021-01-19 17:25] nlok5923 commented on #6429
On it.

[2021-01-19 17:29] mariobehling opened #6430 "Add to Calendar adding 1 minute to end time for Google Calendar"
Adding an event to Google calendar adds 1 minute to the end time.

Compare https://eventyay.com/events/e366f5ca

![Screenshot from 2021-01-19 18-29-45](https://user-images.githubusercontent.com/1583873/105071007-5731da80-5a84-11eb-9683-98f67e61f1a7.png)

![Screenshot from 2021-01-19 18-25-43](https://user-images.githubusercontent.com/1583873/105070877-31a4d100-5a84-11eb-84d4-4bf75a0d5866.png)

[2021-01-19 17:46] himanshujaidka opened #6431 "Scrollbar needed in filter categories"
When a user wants to apply or see the filter details then the user has to move the main scroll-bar.

I think the scroll-bar should be there for scrolling the filters.

![Screenshot (146)](https://user-images.githubusercontent.com/58654018/105072968-67f64680-5aac-11eb-8b47-0306ed487f97.png)

[2021-01-19 17:50] himanshujaidka commented on #6428
![Screenshot (147)](https://user-images.githubusercontent.com/58654018/105073288-dfc47100-5aac-11eb-9386-5941c01c3b38.png)
@mariobehling It seems to work fine

[2021-01-19 17:51] #6433 closed

[2021-01-19 17:52] iamareebjamal commented on #6428
@mariobehling Event Link?

[2021-01-19 18:02] iamareebjamal commented on #6428
Not reproducible for me

[2021-01-19 18:55] MeghalBisht commented on #6379
Taking this up!

[2021-01-19 19:22] ranjitkshah commented on #6377
working

[2021-01-19 20:30] MeghalBisht opened #6436 "Draft Event: Settings Tab: Error - Could not fetch from the server"
**Describe the bug**

After creating an event and marking it as draft. When "Settings Tab" is navigated.
Error occurs : Could not fetch from the server

**To Reproduce**
Steps to reproduce the behaviour:
1. Create event and mark it as draft
2. Go to "Manage Event"
3. Go to "Draft Event"
4. Navigate to the "Settings Tab"
5. Error occurs

**Screenshots**

![Capture](https://user-images.githubusercon

[2021-01-19 20:47] Naman-1234 commented on #6431
Working on it

[2021-01-19 22:29] #6430 closed

[2021-01-19 23:55] mariobehling commented on #6431
Not needed as people can already scroll the entire page.

[2021-01-19 23:55] #6431 closed

[2021-01-20 00:06] mariobehling opened #6440 "Speaker CfS Submission: Redirect speaker to private "view" page of speaker profile after editing"
The speaker CfS submission does not have a private "view" page for a speaker's profile. We need the same kind of page for a speaker as it is available for organizers. This issue is a follow up to https://github.com/fossasia/open-event-frontend/pull/6426

* After a speaker submits a profile they should be redirected to a page with all the info they entered. This page should be very plain UI (same a

[2021-01-20 00:19] #6406 closed

[2021-01-20 00:25] iamareebjamal commented on #6412
Once I switched PayPal account to my email, it worked, so it is related to merchant account being in wrong country

[2021-01-20 00:26] iamareebjamal commented on #6412
https://www.paypal-community.com/t5/REST-APIs/CURRENCY-NOT-ALLOWED-INR/td-p/2276511

[2021-01-20 04:45] SAP-20 commented on #1519
Can i work on this to get first hand on experience in open source??

[2021-01-20 11:18] afzal442 commented on #6436
I think this was an Export page's issue from beginning. You can find this issue without drafting it.

[2021-01-20 12:00] himanshu007-creator commented on #6429
i would like to work on this issue.

[2021-01-20 12:10] himanshujaidka commented on #6431
but when there will be a lot of events and the user wants to match some event details then I think it may be caused some difficulty to cross-check the event details and filters

[2021-01-20 12:31] mariobehling opened #6443 "Multiple blockers in process from anonymous booking (first order) to deletion of the order and deletion of account"
1. When the user orders a ticket the first issue is, that the wrong email can shipw up for some reason mb@mariob... instead of mb@onte... (This could be happening for previously deleted accounts, or if a user was using the same browser in the past with another account?)
2. An unverified account with orders cannot be deleted. (Unexpected Error)
3. At the same time an order of an unverified account

[2021-01-20 12:43] mariobehling commented on #5851
In the past I think we discussed to disable this feature for first time ticket buyers, but use this option for all others. As this feature has been reverted for now I am re-opening it.

[2021-01-20 14:32] SARTHAK1SINGH commented on #6429
@mariobehling can we use rich text editor?

[2021-01-20 14:49] iamareebjamal commented on #6429
The issue is about displaying the message, how will you solve it by using a rich text editor?

[2021-01-20 17:19] alkatrivedi commented on #6429
Working

[2021-01-20 17:34] #6402 closed

[2021-01-20 17:56] #6407 closed

[2021-01-20 23:01] mariobehling opened #6446 "Event Calendar Sharing Feature: Add event link, event description and organizer message"
The share event calendar does not have a link to the public event page. Also the organizer message is missing.

Please implement the following

1. For online events in the "Location" field additionally add the URL to the public eventyay page
2. In the description:
    a) On top add "Join the event at {eventyay link to public event page}" e.g. "Join the event at https://eventyay.com/e/f4fc71b8"

[2021-01-21 05:08] Mr-codehunter commented on #6446
please assign me to solve the this issue.
--
 Deepak Kumar

[2021-01-21 05:18] Mr-codehunter commented on #6446
On Thu 21 Jan, 2021, 10:39 AM github-actions[bot], <notifications@github.com>
wrote:

Ok firstly i will check the issue and the send a pull request.

--
 Deepak kumar

[2021-01-21 10:13] mariobehling opened #6450 "CfS: Add private/public badge into edit form"
When a speaker fills in the forms for the call for speakers they do not see any information in the forms what information is public and what is private. Please add a private or public badge for each form field similar to the edit form: a) into the CfS session and speaker form and b) into the create session/create speaker form of organizers.

![Screenshot from 2021-01-21 10-56-36](https://user-imag

[2021-01-21 10:34] #6371 closed

[2021-01-21 10:42] #6440 closed

[2021-01-21 12:37] mariobehling opened #6454 "Attendee Form: Simplify form, fix order, show helper text"
The attendee form in the wizard and public form are not ordered in the same way. Instead of alphabetical order they should be ordered according to content logic. Furthermore the implementation of address fields in Home Address, Billing Address, Shipping Address, Work Address is not complete as it is missing city, country etc. and it would be helpful if the helper text was visible in the wizard its

[2021-01-21 14:25] #6429 closed

[2021-01-21 14:38] #6293 closed

[2021-01-21 15:05] mariobehling opened #6459 "Admin: Move "Social Media" tokens and account info to dedicate admin tab"
On the admin page at https://eventyay.com/admin/settings we have a number of social media accounts listed. The page is a bit long now. Please move the accounts to a dedicated tab and the URL https://eventyay.com/admin/settings/social-media

![Screenshot from 2021-01-21 16-03-03](https://user-images.githubusercontent.com/1583873/105369040-70f92c00-5c02-11eb-91d4-583ca70325ab.png)
![Screenshot from

[2021-01-21 15:10] mariobehling opened #6460 "Cookie Policy: Internationalization"
The cookie policy should be available in different languages.

Therefore please
* implement language tabs or a similar way on the cookie policy box in the admin menu (https://eventyay.com/admin/settings), where we can add the translation.
* implement support to show the required translation that a users has chosen when the cookie policy is shown.

![Screenshot from 2021-01-21 16-06-49](https://use

[2021-01-21 15:21] mariobehling opened #6461 "Speaker Edit Form: Gender field entry disappears."
In the CfS speaker details the entry for the field "Gender" regularly disappears after some time and the speaker has to enter the Gender again.

When the user fills in the field and saves it, it is there. Also when the user enters the form again it is still there. However, a few minutes later or when the user has a new session a few hours later and opens the edit speaker form page again the field

[2021-01-21 15:27] aryangulati commented on #6301
Can you assign me this issue @mariobehling

[2021-01-21 17:37] #6331 closed

[2021-01-21 21:34] #6377 closed

[2021-01-21 21:34] #6379 closed

[2021-01-21 21:34] #6380 closed

[2021-01-22 08:39] Soumi150 commented on #6454
Working on this.

[2021-01-22 13:48] #6399 closed

[2021-01-22 14:21] chetas411 commented on #6345
Working on this one!

[2021-01-22 14:28] iamareebjamal commented on #6443
Orders cannot be deleted, only cancelled

[2021-01-22 17:10] MeghalBisht commented on #6454
1. Hide the following address options but keep the standard form field "Address". For now we will not use the address options such as:

@iamareebjamal These fields need to be removed from the server as well?

[2021-01-22 17:46] iamareebjamal commented on #6454
No, just remove from the frontend fields

[2021-01-22 17:52] Draco9421 commented on #6446
can I work on it ?

[2021-01-23 02:54] #6306 closed

[2021-01-23 04:04] #6304 closed

[2021-01-23 09:02] SheldonnC commented on #6459
Sir may I work on this issue?

[2021-01-23 11:17] iamvaishnav commented on #6450
Can I work on it?

[2021-01-23 12:40] afzal442 commented on #6333
@mariobehling plz also add a codeheat label here. Thanks.

[2021-01-23 12:40] #6333 closed

[2021-01-23 13:54] afzal442 commented on #6459
@iamareebjamal sir how to access admin page??

[2021-01-23 13:57] iamareebjamal commented on #6459
By setting up server locally

[2021-01-23 14:43] chetas411 commented on #6345
@mariobehling  for this issue some translations are missing but how to view changes in localhost if I make changes in .po files .
I have read that .po files are compiled to .mo files but  how to check that in localhost on my machine?

[2021-01-23 19:05] mariobehling opened #6469 "CfS: Session and Speaker view pages link to sessions or speakers page respectively and add spacing"
The Cfs session view pages and speaker view page already list the speaker or sessions respectively.

1. Please link them to the CfS view page instead of only displaying the name of the session or speaker.
2. Increase the white space below the bottom of the form on the view page.
3. Increase the white space below the bottom on the form on the edit page of sessions and speakers.

![Screenshot from 2

[2021-01-23 22:16] mariobehling opened #6471 "Sign up: Show "Thank you/Info" message and redirect to the previous page"
After signup there is no message what happened for the user and what they have to do next. Therefore please implement the following after the signup process to enter email and password:
1. Show a popup "Thank you for signing up on eventyay.com. We have sent an email with a verification link to you. Please go to your email account and verify your email to get full access to the system. We are loggi

[2021-01-23 22:55] mariobehling opened #6472 "Discount and Access Code: Make URL into a URL box and change the "actions icons" from vertical to horizontal"
To improve the access and discount code overview please change the following:
1. Make the URL into a URL box like on the video area
2. Change the "actions icons" from vertical to horizontal.

![Screenshot from 2021-01-23 23-52-13](https://user-images.githubusercontent.com/1583873/105616329-64c5c800-5dd6-11eb-8378-4d2473168617.png)

[2021-01-23 23:05] mariobehling opened #6473 "Discount and Access Code: Create a CSV code upload option and option to delete all unused discount codes"
A request by users with a lot of discount codes was to
1. provide an option to upload a list with many CSV codes.
2. provide an option to upload a CSV and update existing codes
3. If something goes wrong here users also want to be able to delete unused discount codes.
4. And to check which codes have been used please test that the codes show up in the orders and tickets CSV that organizers can dow

[2021-01-24 00:18] afzal442 commented on #6472
Working on this

[2021-01-24 03:07] iamareebjamal commented on #6473
When they have access to REST API, they can already create discount codes dynamically, without a new API which handles CSV files, which would be less robust and more error prone

[2021-01-24 03:17] afzal442 commented on #6469
looking into this

[2021-01-24 06:41] afzal442 commented on #6469
@iamareebjamal sir, in the list is first one about linking name of the session or speaker of overview page to the CfS view page??

[2021-01-24 11:01] mariobehling opened #6476 "Discount/Access Code: Implement "Start now" and "When sales end" by default"
Many organizers only want a simple way to create discount and access code and choose the dates of validity. Therefore please implement the dates for codes to be valid as below "Start now" and "When sales end" by default.

![Screenshot from 2021-01-24 11-57-11](https://user-images.githubusercontent.com/1583873/105628149-73929600-5e3b-11eb-8aee-10804d833fcf.png)

[2021-01-24 16:05] #6446 closed

[2021-01-24 17:18] Naman-1234 commented on #6471
Working on it

[2021-01-24 17:30] Draco9421 commented on #6471
can I work on it.

[2021-01-24 17:35] Naman-1234 commented on #6471
@Draco9421 , I am working on this, So pls find another issue to work on

[2021-01-24 17:38] Draco9421 commented on #6471
Ohk bro no problem.

[2021-01-24 18:21] mariobehling opened #6479 "Virtual Events: Add option to stream video from Vimeo and Youtube in a room"
Instead of sharing video from Jitsi or Big Blue Button organizers should also have the option to stream video to a room from Vimeo or Youtube. Please add this option in the video tab of organizers. Implement it in the same way as BBB, Jitsi, and the custom option. When the user opens the room autoplay the option.

For the future we also need this feature to be available when we implement session s

[2021-01-25 13:27] chetas411 commented on #6346
@mariobehling This translation is working fine here

![Codeheat Ask Me Anything - February Edition _ eventyay - Google Chrome 25-01-2021 18_53_44_LI](https://user-images.githubusercontent.com/65273718/105711744-f8b2a380-5f3e-11eb-8157-1660a96e783f.jpg)

[2021-01-25 14:58] maze-runnar commented on #3693
fixed https://github.com/fossasia/open-event-frontend/pull/6254

[2021-01-25 14:58] #3693 closed

[2021-01-25 19:01] mariobehling opened #6484 "Speakers Form: Only show desired languages as an option"
The CfS offers all languages, but organizers usually only want a few languages, e.g. in countries where two languages are used or International events that take place in a mixture English and French for example.

Please propose and implement a way to only show the appropriate languages in the session form.

![Screenshot from 2021-01-25 19-20-50](https://user-images.githubusercontent.com/1583873/10

[2021-01-25 21:56] iamareebjamal commented on #6322
Remaining: If the attendee already participates in the event (meaning they already have the side-panel as part of their UI), but the panel is minimized the button "Join Event" should always expand the side panel

[2021-01-25 21:59] mariobehling opened #6487 "Virtual Events: Hide "Embed" option on Jitsi Calls"
The embed option in Jitsi is a feature that we do not really want here as it would allow others to embed a call elsewhere. Please try to hid the functionality. Can this be achieved even without having access to Jitsi itself, e.g. with CSS?

![Screenshot from 2021-01-25 22-52-36](https://user-images.githubusercontent.com/1583873/105771470-e47f9e00-5f60-11eb-976a-708c328c2c1e.png)

[2021-01-25 22:54] mariobehling commented on #6209
Trying to narrow this issue down:

It appears to happen when a user on Chromium/Chrome tries to access an event for the second time. The first time it works and requests the user to accept that the browser gets access to mic and camera. When the user tries to access the room again at a later time these requests do not show up even they should show up. When using a Jitsi room that is not under even

[2021-01-25 23:00] mariobehling commented on #6209
The anonymous browser show the usage of the mic in the browser, but the normal browser with the blank Jitsi screen is missing the mic icon. It somehow did not give the permission again for the same service (that it gave before in the first test).

![Screenshot from 2021-01-25 23-58-35](https://user-images.githubusercontent.com/1583873/105776763-768ba480-5f69-11eb-8dfd-2333619a533d.png)
![Screensho

[2021-01-25 23:21] #5811 closed

[2021-01-26 00:11] mariobehling commented on #6443
In whatever way we define it, currently users can hardly ever achieve to delete their account. Even for past events it will block users. The entire process from getting a ticket to verifying and then participating in an event and finally deleting an account is not working as expected and we have a lot of users who want this. In order to have a service that people trust we need to enable people to

[2021-01-26 01:03] iamareebjamal commented on #6443
If you use autofill, it may have filled that email in the order form

The button shouldn't even be enabled for any account with orders, unverified or not

Any order created by non-admin/organizer account could not be cancelled, verified or not. Fixed here - https://github.com/fossasia/open-event-server/pull/7667

If the user transfers the ownership, then yes

Yes

[2021-01-26 01:04] iamareebjamal commented on #6443
Tested

[2021-01-26 01:05] iamareebjamal commented on #6443
Reopening for verification

[2021-01-26 01:07] iamareebjamal commented on #6443
Transfer the ownership to another user

[2021-01-26 01:39] mariobehling opened #6489 "Orders Page: Add ticket cancellation box"
Please add a box on the bottom of order pages as follows:
* Heading (gray same as attendee info box): Ticket cancellation
* Text: You can cancel this order with the button below. This will void all tickets in this order.
* Add button "Cancel Order"

![Screenshot from 2021-01-26 02-38-25](https://user-images.githubusercontent.com/1583873/105787892-acd41e80-5f7f-11eb-8385-cc5e9b4f9619.png)

![Screen

[2021-01-26 01:55] mariobehling opened #6490 "CfS: Add option to invite another speaker by email"
Currently the option to add more speakers to a session is missing. Only the organizer can do this at the moment.

On the bottom of a session form please add the option to "Invite additional speaker by email". This should work as follows:
1. The speaker of a session adds an email to the form
2. The additional speaker receives and email "{Name of first speaker] has invited you to a session submissio

[2021-01-26 03:18] maze-runnar commented on #6489
on it

[2021-01-26 04:47] Creatoon commented on #6487
Working.

[2021-01-26 05:34] maze-runnar commented on #6476
on it

[2021-01-26 05:37] maze-runnar commented on #6476
it is already set to start now and end date of event.
![Screenshot from 2021-01-26 11-05-51](https://user-images.githubusercontent.com/56407566/105804757-99987180-5fc6-11eb-8deb-a0e3c5ed04cd.png)

[2021-01-26 06:05] iamareebjamal commented on #6476
This is static, we want an option so that even if we change the event dates, it stays till the end

[2021-01-26 06:07] maze-runnar commented on #6476
ok

[2021-01-26 06:28] mariobehling opened #6493 "Ticket Invoice: Do not show Organizer Message in invoice"
The ticket invoice should not show the organizer message. It is an invoice and should only show relevant invoice information.

![Screenshot from 2021-01-26 07-26-34](https://user-images.githubusercontent.com/1583873/105808490-1700b980-5fa8-11eb-9ed9-59f884648bab.png)

[2021-01-26 08:24] maze-runnar commented on #6476
so working would like, if a user selects option of while sales end for any access code/discount code then it's value would be changed whenever event.endsAt would changes?

[2021-01-26 13:37] #6450 closed

[2021-01-26 13:38] iamareebjamal commented on #6476
No, no need of changing value. It should just work till the end of the event

[2021-01-26 14:28] Draco9421 commented on #6493
Is this issue is solved ?

[2021-01-26 14:30] #6493 closed

[2021-01-26 14:53] Draco9421 commented on #6490
can I work on it.

[2021-01-26 14:56] mariobehling commented on #6490
There is still an old PR from you that is not finished. What do you need in order finish it? Please follow up in the PR or gitter chat.

[2021-01-26 14:59] Draco9421 commented on #6490
ok

[2021-01-26 15:04] iamareebjamal commented on #6490
:ocean:

[2021-01-26 21:16] mariobehling commented on #6473
To clarify this with our partner, updating the codes via the REST API would then work as follows:

1. Delete complete code list via the REST API (as a kind of loop over all codes)
2. Add new code via the REST API for discount code XYZ to ticket type ABCD

This means that there would be no CSV upload via the REST API, but "known" methods such as Delete and Create that can be used.

But we would sti

[2021-01-26 21:42] iamareebjamal commented on #6473
If new codes are to be added, there is no need to delete complete code list, just add new codes using the API

Currently, there is no restriction on preventing deletion of used discount codes. Should this be added to the existing API such that any discount code which was used in an order cannot be deleted, or a new API should be created just for this use case to delete all discount codes which are

[2021-01-26 22:47] mariobehling opened #6497 "My tickets: Prevent cancellation of tickets of past event"
In the past event section tickets of past events can be canceled. As the events are already over this does not make sense. Therefore:
1. Please delete the option of cancelling tickets of past events on the my tickets page and on the order page.
2. Ensure that the tickets of past events do not prevent the deletion of user accounts in the user settings.

![Screenshot from 2021-01-26 23-42-14](https:

[2021-01-26 22:49] mariobehling opened #6498 "My tickets: Sort ticket list by event date"
The tickets in the my tickets page are not sorted according to date. Please sort them by date with the oldest events first (closest to the current date).

![Screenshot from 2021-01-26 23-42-14](https://user-images.githubusercontent.com/1583873/105916400-211aca80-6031-11eb-9c17-a4aee5515ee6.png)

[2021-01-26 23:01] mariobehling opened #6499 "Order cancellation email: Wrong text"
The order cancellation email states that a ticket has been "cancelled by the organizer" even if the user has cancelled it her/himself.

Please change the email as follows:

=========================================================

Subject: Your order for {event name} has been cancelled ({order number})

Hello,

Your order {order number} for {event name} has been cancelled.

The information about

[2021-01-27 02:33] mariobehling opened #6500 "CfS: Deadline in wizard different to deadline on public event page"
At the FOSSASIA Summit the deadline on the wizard shows 11:59 SGT and the deadline on the public CfS page shows the next day 6:59 SGT. I filled in the CfS while in another timezone. Did the system confuse my browser time?

Compare https://eventyay.com/e/fa96ae2c/cfs

![Screenshot from 2021-01-27 03-30-21](https://user-images.githubusercontent.com/1583873/105934310-3d7a2f80-6050-11eb-81ec-a9dec4158

[2021-01-27 02:34] Soumi150 commented on #6498
Working on this.

[2021-01-27 02:35] iamareebjamal commented on #6500
Yes, it is again the timezone issue

[2021-01-27 09:31] iamvaishnav commented on #6499
Working on it

[2021-01-27 11:45] maze-runnar commented on #6499
this should be only when user canceled ticket or any of user/organizer cancels the order.
[code]

[2021-01-27 11:47] samik-rathore commented on #1519
I would like to work on this issue, if no one is already on it.

[2021-01-27 13:19] #6472 closed

[2021-01-27 13:45] #6498 closed

[2021-01-27 15:39] mayan-sharma opened #6504 "Add "checkbox" type for custom form field in attendee form section."
Currently, there are two options: "Text" and "Number" for the custom form field type in the information to collect section in the attendee form while creating an event.

I would like to add a "Checkbox" type to get the consent of an attendee to receive emails for other events, etc.

![Screenshot (47)](https://user-images.githubusercontent.com/41385368/106014016-0c970a80-60e3-11eb-8eb8-e97a293dbd56

[2021-01-27 15:57] MeghalBisht commented on #6504
duplicate of #5833

[2021-01-27 16:02] #6504 closed

[2021-01-27 16:07] mayan-sharma commented on #6504
Thanks for telling, I didn't see that before.

[2021-01-27 17:12] akash2408 commented on #6298
what is remaining in this issue? can anyone tell?

[2021-01-27 19:20] SAEb-ai commented on #6484
@mariobehling Can you please provide me the link of the sessions form in this repo??

[2021-01-27 21:42] mariobehling commented on #6286
@mayan-sharma mentioned:

[2021-01-27 21:48] mariobehling commented on #6286
Closing it after clarification of @iamareebjamal

[2021-01-27 21:48] #6286 closed

[2021-01-28 05:55] nishihere19 commented on #6490
Can I work on the issue? Also, correct me if I am wrong, we need the invite option below the ticket ordering section right?

[2021-01-28 06:27] mariobehling opened #6507 "Timezone issue prevents changing existing event"
Trying to change an existing event suddenly gives an error message that the time of the ticket is longer than the event. This is not correct as per the below screenshots.

https://eventyay.com/events/a805baab
![Screenshot from 2021-01-28 07-23-06](https://user-images.githubusercontent.com/1583873/106098949-329bc980-613a-11eb-9076-fd301e2e6942.png)
![Screenshot from 2021-01-28 07-22-27](https://use

[2021-01-28 13:47] sachinchauhan2889 opened #6509 "Event Overview Page: No. of speakers is not showing."
**Describe the bug**

At event overview page, in sessions and speaker box "no. of speakers" is not displaying.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Event overview page'
2. See error

**Expected behaviour**

they must show a number of speakers.

**Screenshots**

![new issue](https://user-images.githubusercontent.com/72552281/106146967-53493b00-619d-11eb-9918-e7d9be727fad.pn

[2021-01-28 15:05] mariobehling opened #6510 "Online Event Sidebar: Align text and buttons"
The text and buttons on the online event sidebar are not aligned. Please align them according to the "video box". At the same time avoid that the minimize arrow button [<] does not overlap any text.

![Screenshot from 2021-01-28 16-00-00](https://user-images.githubusercontent.com/1583873/106157066-98ac3f00-6182-11eb-95bb-3404a1071f63.png)

[2021-01-28 15:29] MeghalBisht commented on #6454
What is meant by the "Helper Text"?

[2021-01-28 18:02] #6509 closed

[2021-01-28 18:05] iamareebjamal commented on #6413
Fixed by https://github.com/fossasia/open-event-server/pull/7667

[2021-01-28 18:05] #6413 closed

[2021-01-28 18:07] iamareebjamal commented on #6507
Duplicate of #6150

[2021-01-28 18:07] #6507 closed

[2021-01-28 18:19] aditee-singh opened #6512 "Create Event : Field may not be null error while creating event."
**Describe the bug**

I have filled all the required fields but on pressing next I get 'Field may not be null' error. Screenshots for the same are attached below. Also, my e-mail is not verified.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Create Event'
2. Fill the required fields
3. Scroll down to bottom
4. Press Next

**Expected behaviour**

It should take you to the next page
*

[2021-01-28 23:30] mariobehling opened #6516 "Organizer Session Page: Changing Status results in disappearing sessions and required manual reload"
When an organizer accepts sessions they disappear from the list and the organizer needs to refresh the page without certain filters in order for sessions to become visible again.

![Screenshot from 2021-01-29 00-28-37](https://user-images.githubusercontent.com/1583873/106211470-26128200-61c9-11eb-947a-b3f70c688b91.png)

[2021-01-28 23:36] mariobehling opened #6517 "Public Session Page: Do not show edit, withdraw and status"
The public session page has edit, withdraw and status info / options. As we have these feature now available on dedicated for the speakers, please delete these info and options on the public session pages.

Compare https://eventyay.com/e/fa96ae2c/session/6694

![Screenshot from 2021-01-29 00-34-34](https://user-images.githubusercontent.com/1583873/106212021-fdd75300-61c9-11eb-9313-2310c9ff3b12.png

[2021-01-29 01:27] iamareebjamal commented on #6516
If you are on pending page and change session to accepted, it won't be visible in pending page

[2021-01-29 01:41] #6487 closed

[2021-01-29 02:36] #6517 closed

[2021-01-29 03:50] #6497 closed

[2021-01-29 06:00] mariobehling opened #6521 "Organizer Speaker/Session Page: Colors of status badge differ"
The colors of the status badges e.g. "Accepted" differ between the speaker overview page and the session overview page of organizers.

Please use the same colors everyhwere.

![Screenshot from 2021-01-29 06-58-43](https://user-images.githubusercontent.com/1583873/106237723-a9e76100-61ff-11eb-9360-c635cd199a70.png)
![Screenshot from 2021-01-29 06-58-26](https://user-images.githubusercontent.com/158

[2021-01-29 06:02] Naman-1234 commented on #6521
Working on it.

[2021-01-29 06:59] Creatoon commented on #6510
working

[2021-01-29 07:04] ranjitkshah commented on #6510
@Creatoon 🙁

[2021-01-29 07:06] Creatoon commented on #6510
ok now your pr is showing up, previously not, go on

[2021-01-29 09:37] Naman-1234 commented on #6521
@mariobehling  Sir sorry for disturbance but could you please provide the link for same.

[2021-01-29 10:48] mariobehling opened #6523 "Organizer Session Overview: Re-add rating columns to all session tables"
The organizer session overview page does not have the column for ratings anymore. Please re-add rating columns to all session tables and ensure the feature works.

The feature was originally implemented here https://github.com/fossasia/open-event-frontend/pull/3198

![Screenshot_2019-08-01 Confirmed Sessions AddOwnerEvent Events Open Event](https://user-images.githubusercontent.com/25428397/622706

[2021-01-29 10:58] afzal442 commented on #6523
Looking into it. Once I m done. I will share a screenshot here.

[2021-01-29 11:04] afzal442 commented on #6521
@Naman-1234 Steps to reproduce: First create a session, then add a speaker there. Then make sure you click on accepted button on session overview page. After that, you can see that speaker on speaker overview page as rejected or accepted depending upon your cgoice.

[2021-01-29 11:13] Naman-1234 commented on #6521
@afzal442  , Thank you so much for guiding me.

[2021-01-29 11:22] afzal442 commented on #6523
@mariobehling sir I think rating column is already there.

[2021-01-29 12:15] sachinchauhan2889 commented on #6500
looking into this.

[2021-01-29 17:19] mariobehling opened #6529 "Verification Link Signup issue"
Several speakers are reporting a sign up issue and get browser errors as below.

![0135e749-6c0d-4a99-b0ab-465f331036da](https://user-images.githubusercontent.com/1583873/106306486-6ec84a80-625e-11eb-8ff6-ca565e344e8f.jpeg)
![photo4944972002129717599](https://user-images.githubusercontent.com/1583873/106306494-6f60e100-625e-11eb-8652-804ffb2e8708.jpg)

[2021-01-29 18:20] mariobehling opened #6530 "Not able to send accepted emails to speakers through system"
![Screenshot from 2021-01-29 19-20-07](https://user-images.githubusercontent.com/1583873/106312521-13e72100-6267-11eb-8378-f4e2b5800f36.png)

[2021-01-29 18:41] mariobehling opened #6531 "Sesssion notification Emails: Adjust info in "From" field"
The from field in the notification emails currently shows "Some Name emailaddress@emaildomain.com". Please change it to "`Some Name <emailaddress@emaildomain.com>`".

![Screenshot from 2021-01-29 19-39-09](https://user-images.githubusercontent.com/1583873/106314384-f5365980-6269-11eb-8f55-253673362941.png)

[2021-01-29 18:45] himanshujaidka commented on #6531
I think the both the cases are same?

[2021-01-29 18:49] mariobehling commented on #6531
Ok, it was not showing because of Markdown conversion. Now showing the desired version.

[2021-01-29 18:51] mariobehling opened #6532 "Speaker Notifications: Correct link to CfS session view page instead of public session page"
Session link in speaker notifications should show to "Private Speaker CfS View Page" instead of the public page.

![Screenshot from 2021-01-29 19-48-14](https://user-images.githubusercontent.com/1583873/106315182-2f542b00-626b-11eb-8783-778dca52e28a.png)

[2021-01-29 18:51] afzal442 commented on #6523
@mariobehling sir 'sortby' is not working.

[2021-01-29 18:54] himanshujaidka commented on #6531
Working

[2021-01-29 19:19] mariobehling opened #6533 "Public Speaker Page: Lazy Loading of speakers very slow"
On the Public Speaker Page the lazy loading of speakers can be very slow taking more than a minute event or even sometimes the loading never stops and continues for ever without showing images. Please check and ensure the loading happens faster.

Compare https://eventyay.com/e/fa96ae2c/speakers

![Screenshot from 2021-01-29 20-17-29](https://user-images.githubusercontent.com/1583873/106317863-367d

[2021-01-29 19:41] #6530 closed

[2021-01-29 19:45] iamareebjamal commented on #6500
Duplicate of #6259

[2021-01-29 19:52] mariobehling opened #6534 "Public Event Page: Left Sidebar not longer moving down on scroll down"
One of the recent changes changed the behavior of the left sidebar. The left sidebar used to move down when the user scrolls down the page. This behavior disappeared. Please re-instate this sidebar behavior.

Compare https://eventyay.com/e/fa96ae2c/

![Screenshot from 2021-01-29 20-50-07](https://user-images.githubusercontent.com/1583873/106320876-c1f8c800-6273-11eb-809d-49f35c13bc48.png)

[2021-01-29 19:59] mariobehling commented on #6533
As a matter of fact the page currently does not load more than 24 speakers in total.

[2021-01-29 20:03] iamareebjamal commented on #6533
There are only 24 accepted/confirmed speakers

[2021-01-29 20:09] sachinchauhan2889 opened #6535 "Add Order Page: Availability of ticket not loads and throw error in console"
**Describe the bug**

At add order tab of event overview page. There is an error in console related to availability of tickets. due to this there is no call at availability end point of server.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'event dashboard'
2. Click on 'tickets'
3. Go to 'add order'
4. See error

**Expected behaviour**

ticket availability must loads.

**Screenshots

[2021-01-29 20:39] #6535 closed

[2021-01-29 21:05] mariobehling commented on #6533
There is a continuous loading icon. Then this is the issue.

[2021-01-29 21:45] #6499 closed

[2021-01-29 22:16] mariobehling commented on #6461
Issue still happening. Sometimes the gender fields disappears, sometimes it stays. Then the "view" page also shows some cryptic info, e.g. here "Female" was filled in and the view page shows "st1407".

Compare https://eventyay.com/events/fa96ae2c/speaker/5138

![Screenshot from 2021-01-29 23-14-46](https://user-images.githubusercontent.com/1583873/106332959-03936e00-6288-11eb-9016-7598fb61ccac.png

[2021-01-29 22:34] iamareebjamal commented on #6461
Value stored in backend is st1407
![image](https://user-images.githubusercontent.com/3874064/106334187-26d21380-62b0-11eb-8098-9eb1b7ae5631.png)

Any chance the user used API to store the info and not frontend? Gender is simple text field, anything can be stored in it

[2021-01-30 01:26] #6150 closed

[2021-01-30 01:26] #6259 closed

[2021-01-30 01:26] #6500 closed

[2021-01-30 02:41] afzal442 commented on #6521
@Naman-1234 R u able to find that??

[2021-01-30 09:10] nayanvayada commented on #5609
I wanna work on this issue plz aasign this to me

[2021-01-30 09:27] afzal442 commented on #6521
@akash2408 I was waiting for this comment. I already had the solution. Thanks.

[2021-01-30 09:32] mariobehling opened #6541 "Organizer Session/Speaker Page: Make buttons and title into a link"
The action buttons and titles are not links. This means the organizer cannot simply open them in a new tab. Please change them into links. The titles should link to the organizer "view" page.

Please also make the speaker image into a link to the speaker "View" page for the organizer.

![Screenshot from 2021-01-30 10-30-26](https://user-images.githubusercontent.com/1583873/106352835-76333680-62e6-

[2021-01-30 09:34] afzal442 commented on #6541
Working

[2021-01-30 09:37] codedsun opened #6543 "Registration Page Hangs browser up for 2-3 seconds"
**Describe the bug**
When the user tries to register itself and toggles between Enter Password and Re-Enter Password field the browser hangs for 2-3 second

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Login, New to Site - Create Accounr
2. Enter the email
3. Now toggle between fields - Hangs

Also when I return from another tab to registration field tab, it hangs.

**Expected behav

[2021-01-30 09:39] amnindersingh12 commented on #6534
Greetings sir, I am working on this issue.

[2021-01-30 11:00] Naman-1234 commented on #6521
@afzal442 , Yeah I fixed it now, Was about to Push them right now but then someone has already done a PR, So I didn't do the PR.

[2021-01-30 11:39] afzal442 commented on #6521
@Naman-1234 this platform is for collaborative team work and at the same time it is contest for us.

[2021-01-30 12:47] mariobehling opened #6544 "Notify Speakers: Change "Reply-to" to actual organizers instead of eventyay"
The first iteration of the submission system used eventyay.com emails. This was good to get it up and running.

Moving to the next iteration we now need this feature to specifically support communication with organizers. Speakers who receive an email from the submission system should no longer reply to eventyay but instead directly to the organizers of the event.

Therefore please change the follo

[2021-01-30 14:40] afzal442 commented on #6541
@mariobehling sir, I tried it out with various ways but failed to make speaker image into a link to the speaker "View" page. Thanks

[2021-01-30 14:40] afzal442 commented on #6541
Everything else works fine

[2021-01-30 16:27] mariobehling opened #6546 "Organizer Area: Speaker View Page shows links even if field was left empty"
There are social media links showing up on the speaker view pages accessible by organizers. If speakers leave the field empty these links show up even though they should not show up.

![Screenshot from 2021-01-30 17-23-54](https://user-images.githubusercontent.com/1583873/106361871-10fc3700-6320-11eb-9f3b-991747708bdf.png)

[2021-01-30 16:45] #6532 closed

[2021-01-30 18:16] Creatoon commented on #6546
@mariobehling Sir not reproducable

![Screenshot_2021-01-30 Aayush Dubey Brom Bones Events Open Event](https://user-images.githubusercontent.com/65965202/106364477-43745700-6355-11eb-830c-f988fbfc154c.png)

[2021-01-30 19:09] #6376 closed

[2021-01-30 19:09] #6541 closed

[2021-01-30 19:13] iamareebjamal commented on #6543
Please check on production. localhost dev site uses ember debug mode which is excruciatingly slow. Thus, this is only an issue if this happens on production as well.

Which I checked and it didn't happen. Let me know if you reproduce it on prod, I'll reopen

[2021-01-30 19:21] mariobehling opened #6549 "Organizer Speaker Overview Page: Add filter "Without Session""
In the system it is possible to submit a speaker profile, but not submit a session. These speakers without session are difficult to isolate as there is no filter.

1. Please add a **filter "Without Session"** in the menu of organizer speaker overview pages therefore.

![Screenshot from 2021-01-30 20-16-06](https://user-images.githubusercontent.com/1583873/106365867-9b509500-6338-11eb-8f8a-4769ba35

[2021-01-30 19:39] Creatoon commented on #6549
Working.

[2021-01-30 19:45] mariobehling opened #6551 "Organizer Session Rating: Rating some session results in unexpected error"
Rating some session results in an unexpected error. It also shows sometimes two rows of stars then.

![Screenshot from 2021-01-30 20-42-50](https://user-images.githubusercontent.com/1583873/106366407-fcc63300-633b-11eb-810f-e55a18a3327f.png)

[2021-01-30 20:14] #6531 closed

[2021-01-30 20:24] #6510 closed

[2021-01-30 23:09] mariobehling opened #6552 "Implement a simple way to contact other participants"
1. Add a link "Participants & Chat" to the event side panel
2. Add a page with a list and search box of participants on the participants page. On this page also show an area "Chats" which should show an area with previous chats. (Take inspiration from Whatsapp).
3. When a participant clicks on a participants open an area on the right with basic participant info and two options
  a) Chat
  b) Video

[2021-01-30 23:42] mariobehling opened #6554 "Public Event Page: Speaker images not using content area fully"
The speaker images in the content area of the public event page and the speaker page are not fully using the content area. The result is that there is a blank area to the right of the speaker area in the content area.

Please increase the size of the speaker images proportionally so they the speaker images fill the space of the middle area on both the public event page (for featured speakers) and

[2021-01-31 02:27] nlok5923 commented on #6554
On it.

[2021-01-31 07:16] Atri22 commented on #6549
can I work with this

[2021-01-31 08:10] astromanish opened #6557 "language button show "english" for all language"
**Bug Description**
On changing the language from the language button in the footer section. The language of the webpage is changed but the button still showing "English" for every language which can be confusing sometimes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Footer Section
2. Click on any language other than English
3. You notice that the language of the page in changed to

[2021-01-31 08:29] codedsun commented on #6543
@iamareebjamal - This happens on production as well

[2021-01-31 08:59] Naman-1234 commented on #6557
Working on it.

[2021-01-31 09:00] Naman-1234 commented on #6554
Working on it.

[2021-01-31 10:01] Draco9421 commented on #6471
@ranjitkshah are you working on this issue ?

[2021-01-31 10:28] Draco9421 commented on #6557
can I work on it.

[2021-01-31 10:29] akash2408 commented on #6554
can i work on it ?

[2021-01-31 10:35] Draco9421 commented on #6557
@Naman-1234 are you working it ?

[2021-01-31 11:02] Nidhijain2 commented on #6557
I want to work on it

[2021-01-31 11:26] Naman-1234 commented on #6554
@akash2408  , I am already working on it, So pls find another find another issue.

[2021-01-31 11:31] Naman-1234 commented on #6557
@mariobehling  and @astromanish Sir, Not able to reproduce the issue as in my laptop it is coming alright, As you can see in the screenshot below:
.Pls tell me if I am going wrong with something.

![Screenshot (900)](https://user-images.githubusercontent.com/63748249/106382470-d361e180-63e5-11eb-8c3d-79d667897942.png)

[2021-01-31 11:46] akash2408 commented on #6554
@Naman-1234 Please take one issue and solve it.
Don't claim each and every issue.

[2021-01-31 11:50] Naman-1234 commented on #6554
@akash2408  , I have left off and commented the same on the previous issue, as the issue was not reproducing in my laptop, and currently working on this one only,

[2021-01-31 11:52] akash2408 commented on #6554
Ohk thanks

On Sun, Jan 31, 2021, 17:20 Naman-1234 <notifications@github.com> wrote:

[2021-01-31 13:57] kross9924 opened #6561 "Create Event Page: Placeholder for Event Header Image and Event Logo not vertically centred."
Placeholders for both event header image and event logo are not vertically centred.
@mariobehling @iamareebjamal Is it intentional or an Issue?

![Screenshot from 2021-01-31 18-42-36](https://user-images.githubusercontent.com/47144465/106385200-fe9ffd00-63f4-11eb-9819-b7059169a84c.png)

[2021-01-31 18:32] leoshrey commented on #6543
Hi @codedsun, Are you sure that it isn't any freezing issue with your version of browser?
Because I am not facing this issue on either sides.
Please try fixing this issue by:

- Going to Safari -> Preferences -> Autofill
and uncheck all checkboxes.
- If issue still persists, then try updating your browser with latest version.
- If you are facing this issue again then, try clearing your browser coo

[2021-01-31 19:23] iamareebjamal commented on #6533
Loading indicator issue is fixed. Slow loading remaining and not an easy issue to fix

[2021-01-31 19:36] iamareebjamal commented on #6533
Previously, we were loading 9 speakers instead of 21, then it showed more loading states than currently. Now, we are loading 21, which is much more data and thus even if it requires less loading, it takes more time. It is a tradeoff, so what should be done?

[2021-01-31 20:20] #6533 closed

[2021-01-31 22:16] #6554 closed

[2021-01-31 23:10] mariobehling commented on #5810
Google maps is still there. Compare https://eventyay.com/e/fa96ae2c

Therefore re-opening it.

[2021-01-31 23:44] #5810 closed

[2021-02-01 06:59] Creatoon commented on #6521
Working

[2021-02-01 08:07] #6403 closed

[2021-02-01 08:10] iamareebjamal commented on #6428
We need to truncate leading newlines/breaks in the rich text editor

[2021-02-01 08:18] maze-runnar commented on #6549
looking into it

[2021-02-01 09:31] #6521 closed

[2021-02-01 11:04] mariobehling opened #6566 "Organizer Session Page: Enable Organizer to set session to Pending and enable to change "Withdraw""
The initial idea for defining the states of the sessions was to not allow resetting the state of sessions to "Pending" or allowing changes to the "Withdrawn" status. However, after some time users report that they need to be able to change this as they did change session by mistake or need to correct the status of speakers who withdrew by mistake.

Therefore please allow setting the status back to

[2021-02-01 12:03] leoshrey commented on #6471
Hi, As I can see this issue is open from 9 days. So, if no one is working on this issue then I would like to proceed for the same.

[2021-02-01 15:06] akash2408 commented on #6346
working on it

[2021-02-01 18:45] #6549 closed

[2021-02-01 18:49] iamareebjamal commented on #6471
A draft PR is created for this

[2021-02-02 04:02] maze-runnar commented on #6566
looking into this

[2021-02-02 04:42] #6516 closed

[2021-02-02 04:58] #6546 closed

[2021-02-02 05:16] #6461 closed

[2021-02-02 08:58] Kunal-2001 commented on #6561
@kross9924 There is a icon above both the placeholders. Not sure why it's not showing for you

[2021-02-02 09:05] iamareebjamal commented on #6561
Yup

![image](https://user-images.githubusercontent.com/3874064/106577002-d682dc00-6563-11eb-8fbf-2a4f86cd77af.png)

[2021-02-02 09:05] #6561 closed

[2021-02-02 09:14] dhruvin1831 commented on #6534
@iamareebjamal @mariobehling  I have found the bug and a possible solution, the sticky element is sticking to its nearest ancestor that has a scrolling mechanism. Overflowing of a parent container is inhibiting the sticky behavior of the sidebar.

I am a beginner and want to start with this.

[2021-02-02 09:29] iamareebjamal commented on #6534
Go ahead

[2021-02-02 15:58] mariobehling opened #6586 "Speaker Info: Link to sessions invalid (undefined)"
On the speakers page the link to the sessions of speakers is invalid and shows a 404. As a matter of fact the URL is already wrong, e.g. https://eventyay.com/e/undefined/session/6672.

Reproduce: On https://eventyay.com/e/fa96ae2c/speakers
1. Click on a speaker, e.g. Kushal Das
2. Scroll to the session
3. Click on the link -> error

![Screenshot from 2021-02-02 16-55-52](https://user-images.github

[2021-02-02 16:53] ritik307 opened #6587 "Button Alignment Issue"
**Description**

There is no space between the `Ticketing System` Field and the buttons below it.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'http://localhost:4200'
2. Click on `CREATE EVENT`
3. Scroll down to `Ticketing System`

**Expected behaviour**

There should a proper margin between the `Ticketing System` area and its corresponding buttons.

**Screenshots**

![open-event-i

[2021-02-02 17:39] leoshrey commented on #6587
yes, I also think there should be some margin between these two, @mariobehling what do you think?

[2021-02-02 22:21] faraz16iqbal commented on #6587
Can I work on this issue?

[2021-02-03 00:28] #6586 closed

[2021-02-03 04:18] pushpak25w commented on #6512
This bug was not reproduced for me.

[2021-02-03 06:16] afzal442 commented on #6587
Working

[2021-02-03 06:24] tanay123456789 commented on #6587
working on this issue.

[2021-02-03 06:27] tanay123456789 commented on #6298
Is there any more issues in it then let me know.

[2021-02-03 08:08] mariobehling opened #6593 "New session email to organizers uses CfS link and needs text improvements"
The "new session" email to organizers uses the CfS link of the session which is used for speakers. When changing this email, please also enhance the email. So expected is: It should use the organizer session link.

1. Current email and link:
Hi office@fossasia.org,
The event FOSSASIA Summit 2021 has received a new session proposal.
Visit this link to view the session: https://eventyay.com/e/fa96ae

[2021-02-03 08:10] himanshujaidka commented on #6593
Working

[2021-02-03 10:16] mariobehling opened #6594 "Public Speaker's Page: Change speakers list from 3 column to 4 column layout"
The public speakers page has a 3 column layout. Speakers are also prominent enough if we have a 4 column layout similar to the reorder page of speakers. Please change the layout on the public speakers page to 4 column, e.g. here https://eventyay.com/e/fa96ae2c/speakers (but leave it at 3 columns on the event start page for now). Adjust the size of images and area as needed.

![Screenshot from 2021

[2021-02-03 10:26] afzal442 commented on #6594
Looking into it

[2021-02-03 10:35] #5443 closed

[2021-02-03 10:57] Raunaksingh100 opened #6595 "Back to top button for quick navigate to top"
**Is your feature request related to a problem? Please describe.**
we can add Back to top button for quick navigate to top and this button help to quick navigate to top especially in desktop. You can add here the Back to top button see in the screenshot for the better understanding.

**Additional context**
![12](https://user-images.githubusercontent.com/65535360/106737452-b246fe00-663c-11eb-866b-a

[2021-02-03 12:12] afzal442 commented on #6594
I wonder if you need like this as a screenshot below
![c1](https://user-images.githubusercontent.com/11625672/106745460-238bae80-6647-11eb-8528-2b6dc5a5cfeb.JPG)

@mariobehling sir plz tell. Thanks

[2021-02-03 12:29] iamareebjamal commented on #6594
Please show right side panel as well in the screenshot

[2021-02-03 12:43] ritik307 commented on #6587
@afzal442 good to hear that

[2021-02-03 12:52] afzal442 commented on #6594
Thanks Sir, have a look
![c2](https://user-images.githubusercontent.com/11625672/106749613-c1ce4300-664c-11eb-842b-dd97ff0e8216.JPG)

[2021-02-03 13:16] iamareebjamal commented on #6594
Go ahead

[2021-02-03 14:56] leoshrey commented on #6587
Can I work on it if no one is doing ?

[2021-02-03 17:34] sachinchauhan2889 commented on #6593
looking into this.

[2021-02-03 21:15] kenkirito commented on #6587
can i work on this

[2021-02-03 21:19] kenkirito commented on #6595
can i work on this

[2021-02-04 07:31] ritik307 commented on #6587
@afzal442 is already working on this issue

[2021-02-04 13:07] Samridhi-98 opened #6601 "Bug in hCaptcha regarding verification"
### Describe the bug

While the human verification process in **hCaptcha** there is a bug regarding the selection of extra images of the not specified type.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://eventyay.com/register
2. Click on the 'I am Human' checkbox, select all the required images with 1-2 extra images(different type).
3. Click on the check button to verify as a

[2021-02-04 13:15] iamareebjamal commented on #6601
Please raise this issue with hcaptcha https://www.hcaptcha.com/reporting-bugs

[2021-02-04 13:15] #6601 closed

[2021-02-04 16:18] mariobehling opened #6603 "Organizer Dashboard: Menu and spacing to screen edge issue"
A recent change resulted in an issue with the heading and spacing of areas. They are no longer spaced well to the edge of the screen. Please reinstate the previous design.

Now

![Screenshot from 2021-02-04 17-15-20](https://user-images.githubusercontent.com/1583873/106922077-f43f7500-670c-11eb-9b60-04b5c96caabe.png)

Before

![Screenshot from 2021-02-04 17-16-30](https://user-images.githubusercon

[2021-02-04 16:21] afzal442 commented on #6603
looking into it

[2021-02-04 16:47] afzal442 commented on #6603
@mariobehling sir, I observed this issue. It is due to adding new style after fixing left side bar movement.

[2021-02-04 18:34] mariobehling opened #6608 "Public Speaker Info shows session time and date even though schedule is not published yet"
If users click on the speaker they will see the date and time of their scheduled session. This should not appear yet, if the schedule is still unpublished.

Compare https://eventyay.com/e/fa96ae2c

![Screenshot from 2021-02-04 19-31-55](https://user-images.githubusercontent.com/1583873/106938935-e2b39880-671f-11eb-8017-4b996265a94c.png)
![Screenshot from 2021-02-04 19-31-08](https://user-images.gi

[2021-02-04 19:44] rijusougata13 commented on #6595
can you assign me ?

[2021-02-04 19:49] kenkirito commented on #6595
Working on issue

[2021-02-05 01:47] #6603 closed

[2021-02-05 01:48] #6566 closed

[2021-02-05 01:50] iamareebjamal commented on #6529
Fixed

[2021-02-05 01:50] #6529 closed

[2021-02-05 01:52] iamareebjamal commented on #6378
Made static and translatable

[2021-02-05 01:52] #6378 closed

[2021-02-05 01:53] #6298 closed

[2021-02-05 01:54] iamareebjamal commented on #5982
Error fixed

[2021-02-05 01:54] #5982 closed

[2021-02-05 02:09] #6512 closed

[2021-02-05 02:10] #6489 closed

[2021-02-05 02:15] #6443 closed

[2021-02-05 05:53] #6587 closed

[2021-02-05 05:54] #6459 closed

[2021-02-05 07:55] mariobehling opened #6613 "CfS: Speaker can unassign themselves"
In the CfS there a speaker somehow unassigned himself from a session. How did this happen? How can this be prevented?

![Screenshot from 2021-02-05 08-49-49](https://user-images.githubusercontent.com/1583873/107005360-e54dd680-678f-11eb-9538-d0e7ce21e2d4.png)

[2021-02-05 08:39] maze-runnar commented on #6551
on this.

[2021-02-05 10:02] mariobehling commented on #6613
I got the same outcome when I try to add a session for opentap and try to create the session and add a speaker at the same time. It results in an "unexpected error". I try again and it fails again.

After several times trying and switching off the additional speaker trying to save it with another speaker it also shows Unexpected error.

Then giving up and checking on the sessions tab of the organi

[2021-02-05 10:20] #6613 closed

[2021-02-05 10:52] maze-runnar commented on #6551
![Screenshot from 2021-02-05 16-15-04](https://user-images.githubusercontent.com/56407566/107024587-3c729c00-67ce-11eb-8258-ac9dbde61f37.png)

[code]
![Screenshot from 2021-02-05 16-19-40](https://user-images.githubusercontent.com/56407566/107024582-3aa8d880-67ce-11eb-9c7c-0f3b69ab4750.png)

[2021-02-05 10:52] maze-runnar commented on #6551
@iamareebjamal does it need to be fixed on server or frontend?

[2021-02-05 12:07] iamareebjamal commented on #6551
Server

[2021-02-05 12:10] Creatoon commented on #6551
@iamareebjamal yes sir i am also facing the same issue in pr #6537 , should i wait till this issue is resolved, thanks

[2021-02-05 14:17] maze-runnar commented on #6551
problem is here when destroying the feedback.
if using this, no error is appearing
[code]

[2021-02-05 14:33] mariobehling opened #6617 "Organizer: Not able to create a speaker and session at the same time"
As an organizer I am not able to create a speaker and session at the same time. It results in Unexpected Error.

Compare https://eventyay.com/events/fa96ae2c/speakers/create

![Screenshot from 2021-02-05 15-30-54](https://user-images.githubusercontent.com/1583873/107046897-742a1580-67c7-11eb-8504-2839e6172f45.png)

[2021-02-05 14:34] iamareebjamal commented on #6551
@maze-runnar Please check if this fixes the issue https://github.com/fossasia/open-event-server/pull/7712

[2021-02-05 14:34] mariobehling commented on #6617
The issue seems to be that the speaker cannot be created.

![Screenshot from 2021-02-05 15-33-59](https://user-images.githubusercontent.com/1583873/107047011-9f146980-67c7-11eb-8c38-d58ac528b364.png)

Still seems to be same issue as it was here https://github.com/fossasia/open-event-frontend/issues/6613

[2021-02-05 14:37] maze-runnar commented on #6551
ok

[2021-02-05 15:07] maze-runnar commented on #6551
yes it fixed the issue🔥

[2021-02-05 16:26] iamareebjamal commented on #6617
Reverted https://github.com/fossasia/open-event-server/pull/7711

[2021-02-05 16:27] #6617 closed

[2021-02-05 16:32] #6551 closed

[2021-02-06 01:05] #6471 closed

[2021-02-06 06:05] #6154 closed

[2021-02-07 10:52] mariobehling opened #6627 "Organizer Session/Speaker Page: Form elements missing for Create Speaker/Session"
When there is no session or speaker yet at all, there is no way for the organizer to create one as form elements do not show up.

Compare https://eventyay.com/events/bf972bef/sessions/create
![Screenshot from 2021-02-07 11-50-01](https://user-images.githubusercontent.com/1583873/107144338-d6575780-693a-11eb-8731-10dc28bd5da2.png)
![Screenshot from 2021-02-07 11-49-27](https://user-images.githubuse

[2021-02-07 11:01] mariobehling commented on #6627
Ok, after I switch on "Call for Speakers" it works. But, when I reload the Wizard with the Call for Speakers, now the CfS is switched off even though I just switched it on. It does not seem to be a caching issue as it is persistent even with hard reload.

[2021-02-07 11:09] mariobehling opened #6628 "Public Event Page: Spacing above date widget area too large"
The space above the date widget area on public event pages is too big.

This was just solved a few days ago and now the issue is back. It must be a recently merged PR.

Expected:
1. The space between the "Join Event" and the date should be the same as with areas below.
2. The space should be consistent no matter if the date has two or three lines.

![Screenshot from 2021-02-07 10-47-33](https://us

[2021-02-07 11:17] mariobehling opened #6629 "Virtual Event Side Panel: Minimize Button overlaps text"
The minimize side panel button overlaps the date and speakers button. Please ensure the right side of the date does not overlap.

![Screenshot from 2021-02-07 12-14-44](https://user-images.githubusercontent.com/1583873/107144866-58954b00-693e-11eb-84fd-2527723ae132.png)

[2021-02-07 11:19] astromanish commented on #6629
Can I work on it?

[2021-02-07 11:26] mariobehling opened #6630 "Public Schedule: Clicking "Join Event" on session expands session and forwards"
The "Join Video" button on a public schedule first expands the session and then directs the user to the video. This is a bit confusing. Expected: Do not expand the area when the user clicks on "Join Video". (But still expand if the user clicks elsewhere in the area).

![Screenshot from 2021-02-07 12-23-17](https://user-images.githubusercontent.com/1583873/107145095-af4f5480-693f-11eb-951c-c56aca9f

[2021-02-07 11:27] astromanish commented on #6629
@mariobehling Sir can you please provide ways to reproduce such a situation.

[2021-02-07 11:38] Naman-1234 commented on #6630
Working on this

[2021-02-07 12:13] afzal442 commented on #6628
Looking into this

[2021-02-07 13:03] yksolanki9 commented on #5977
Working on it!

[2021-02-07 13:42] rolandturner opened #6632 "Very slow response, possible cross-origin problem"
**Describe the bug**
Delays during event signup are intermittently very long (tens of seconds, minutes). I did capture a screenshot of a console log suggesting that there's a cross-origin problem, but it's not clear how this could have occured.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to eventyay.com
2. Click on FOSSASIA 2021 Summit
3. Beside Community Ticket set Quantity to 1
4.

[2021-02-07 14:04] afzal442 commented on #6628
@mariobehling  sir, plz have a look
![c1](https://user-images.githubusercontent.com/11625672/107148851-7a60f300-697b-11eb-83f8-45e589207f00.JPG)

[2021-02-07 14:27] AhwiniMirajkar commented on #3609
I want to work on this

[2021-02-07 15:15] iamareebjamal commented on #6628
Send PR

[2021-02-07 16:13] mariobehling opened #6634 "Session Info Form: Add options for links to sessions"
The session info form already has a number of fields. However there are no options to add social links and a website.

1. Similarly to speakers  please add options for the following links:

- Website
- GitHub
- Gitlab
- Facebook
- Twitter
- Instagram
- Linkedin

2. On the form add the form fields above the "comment" form field.
3. On the session area in the schedule show these links as an icon.

!

[2021-02-07 16:36] #6428 closed

[2021-02-08 02:44] maze-runnar commented on #6627
on it

[2021-02-08 03:41] maze-runnar commented on #6627
-  https://github.com/fossasia/open-event-frontend/issues/5768#issuecomment-734097652

Sessions and speakers forms are not showing fields because the fields are not saved. When the below are of form is not loading and it is saved then the session and speaker forms are showing no field.

[2021-02-08 04:10] iamareebjamal commented on #6627
In that case, please show a message in the form section "Please enable session/speaker form to create a session/speaker"

[2021-02-08 04:40] mariobehling opened #6636 "Public Schedule: All button only shows first day of event"
On a public schedule if the user presses "All" the schedule will only show the first day of the event.

Compare https://eventyay.com/e/fa96ae2c/schedule

![Screenshot from 2021-02-08 05-39-11](https://user-images.githubusercontent.com/1583873/107176598-203e4d00-69d0-11eb-920a-cb83e56d6fcc.png)

[2021-02-08 05:17] #6627 closed

[2021-02-08 06:03] #6628 closed

[2021-02-08 06:29] maze-runnar commented on #6636
on this

[2021-02-08 06:35] maze-runnar commented on #6636
on clicking all the page is showing all sessions of event, just the buttons dissappeared.

[2021-02-08 06:56] iamareebjamal commented on #6636
Yes

[2021-02-08 11:36] Creatoon commented on #6634
working

[2021-02-08 11:38] Creatoon commented on #6634
@iamareebjamal sir speaker details form also not have gitlab option, should i also add this in speaker form.

[2021-02-08 12:27] Creatoon commented on #6634
Working

[2021-02-08 18:12] FlashV998 commented on #6630
@mariobehling can you tell me how to regenerate this ? i mean how to get to the public schedule

[2021-02-08 18:26] Artistic18 opened #6643 "Extra social link button"
**Describe the bug**
Extra social media link button with no information and does not link to any social media platform. It appears only if we go back to home page and again go to the event page.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to eventyay.com
2. Click on FOSSASIA 2021 Summit
3. Go back to the previous page by clicking the back button on browser.
4. Go to FOSSASIA 2021 Sum

[2021-02-08 18:48] AJOO7 opened #6644 "inconsistency in view for mobile"
when u tryto create a event  on a mobile screen then the buttons as shown in scrnshoot which were of minimal size extend  horizontally.[
![issue2](https://user-images.githubusercontent.com/67185443/107266931-3699e680-6a6c-11eb-91be-9d0e799cfc51.PNG)
![issue1](https://user-images.githubusercontent.com/67185443/107266953-3d285e00-6a6c-11eb-9cbc-7f7ee6b10381.PNG)

](url)

[2021-02-08 18:59] AJOO7 opened #6645 "confirmation pop up"
even after confirming account through the main account the pop up is still showing up on every new session creation
![issue3](https://user-images.githubusercontent.com/67185443/107268227-ddcb4d80-6a6d-11eb-8992-b2acad9b86fe.PNG)

[2021-02-08 19:13] Naman-1234 commented on #6644
@AJOO7 , Can you please provide the solution you want , I mean do you want them in a row, only smaller or something else?

[2021-02-08 19:24] AJOO7 commented on #6644
@Naman-1234 it should remain the same size as the size is very optimal on bigger screens

[2021-02-08 20:08] Naman-1234 commented on #6644
Ok, Working on this one.

[2021-02-08 23:55] mariobehling opened #6648 "Public Chat: Add chat option to event"
Please add a chat option to the event. Due to our current tech stack it will not be possible to quickly add an integrated chat for all event participants to the system. However, we can try to integrate an external chat in an iframe.

Therefore please implement the following:
1. Add a menu item "Chat" behind the video tab in the organizer menu
![Screenshot from 2021-02-09 00-51-41](https://user-ima

[2021-02-09 00:06] mariobehling commented on #6643
This can happen when the organizer deletes an entry and the cache still has the box stored for a few minutes. It should not persist permanently. It if it is still there please try Ctr + Shift + R. If it did not go away please reopen that issue here.

[2021-02-09 00:06] #6643 closed

[2021-02-09 00:56] mariobehling opened #6649 "Improve Organizer Exhibitor Page"
Please also implement the following in the organizer exhibitor page:
1. Extra Links (e.g. exhibitors said they would like to add a blog or newsletter)
2. Change the "State" to work similarly to the session state: In the overview add move the column to the very left front. Do not show the "State" in the edit form of the exhibition
![Screenshot from 2021-02-09 01-52-54](https://user-images.githubuse

[2021-02-09 01:05] iamareebjamal commented on #6484
@mariobehling What should be the appropriate languages?

[2021-02-09 01:07] #6608 closed

[2021-02-09 09:13] takshch commented on #6106
Testing are remaining. I am working on it.

[2021-02-09 09:56] #6636 closed

[2021-02-09 13:03] #6544 closed

[2021-02-09 14:14] MeghalBisht commented on #6634
on it.

[2021-02-09 16:52] Akashrajpoots14 commented on #6587
I want to work on this issue

[2021-02-10 05:34] #6634 closed

[2021-02-10 07:05] mariobehling opened #6655 "Organizer Session Page: Search not working"
The search on the organizer session page does not work. Please ensure sessions, speakers, tracks are included in the search.

![Screenshot from 2021-02-10 08-03-59](https://user-images.githubusercontent.com/1583873/107476741-c1670800-6b76-11eb-94c5-9baccc717395.png)

[2021-02-10 07:30] surender534 commented on #6059
I want to work on this issues

[2021-02-10 15:51] mariobehling opened #6659 "Organizer Message: Linkify URL on Order Page"
The organizer message on the order page does not show links as clickable links. Please make them clickable.

Compare https://eventyay.com/orders/15e6aa99-d1a4-4cd9-9115-1ccbdb618c7c/view

![Screenshot from 2021-02-10 16-43-04](https://user-images.githubusercontent.com/1583873/107533539-5392fe80-6bbf-11eb-8e7b-0a799cceb2bc.png)

[2021-02-10 15:53] mariobehling opened #6660 "Ticket Order Page: Ticket order number show 0"
The ticket order number on some ticket order pages show 0.

https://eventyay.com/orders/15e6aa99-d1a4-4cd9-9115-1ccbdb618c7c/view

![Screenshot from 2021-02-10 16-52-27](https://user-images.githubusercontent.com/1583873/107534769-7245c500-6bc0-11eb-9d04-3274b251eb10.png)

[2021-02-10 15:59] mariobehling opened #6661 "Organizer Sessions Page: Speaker Email "Notify" Message"
Please resolve the following for the notficiation email of speakers
- If there are more organizers, it does not show all reply-to addresses. Expected: The user should be able to use the mouse to move the text to the right in the same line.
- If an organizer gets deleted from an event, the organizer still shows up as a reply-to address even though the organizer was already deleted.

![Screenshot fr

[2021-02-10 16:14] Deek9399 commented on #6659
Is this a good first issue/beginner friendly? I would like to work on it.

[2021-02-10 16:59] iamareebjamal commented on #6660
Duplicate of #5667

[2021-02-10 16:59] #6660 closed

[2021-02-10 17:00] iamareebjamal commented on #6660
Also duplicate of #4613

[2021-02-10 18:02] roshnaeem commented on #6659
@mariobehling can you please share the link of order page?

[2021-02-10 18:07] roshnaeem commented on #6659
@mariobehling,  i can't login or register to the page. Is there some issue going on?

[2021-02-11 04:52] afzal442 commented on #6629
@mariobehling sir plz have a look if you need like this as below

![c1](https://user-images.githubusercontent.com/11625672/107603503-f6488d00-6c52-11eb-8fe5-957a629124b2.jpg)

[2021-02-11 05:28] #6479 closed

[2021-02-11 07:56] igarg2001 commented on #6661
Please assign me this issue

[2021-02-11 08:29] #6661 closed

[2021-02-12 01:25] #6655 closed

[2021-02-12 07:15] iamdevvalecha opened #6679 "unable to check-In/Out attendee"
**Describe the bug**

when i was solving issue of check-in management milestone of support.eventyay project
and try to check-in the attendee but, when i
click on check in :- An unexpected error has occurred.
this is what happens and when i refresh this it's shows error.
![photo_2021-02-12_12-37-55](https://user-images.githubusercontent.com/71969867/107739728-8cea7c00-6d2f-11eb-9bea-e4a966f9ddf7.jp

[2021-02-12 15:56] mariobehling opened #6681 "Exhibition: Implement reorder feature"
The exhibition sorting is currently in random order. Please implement a sorting mechanism similar to the reorder speakers functionality.

![Screenshot from 2021-02-12 16-45-51](https://user-images.githubusercontent.com/1583873/107790624-43ac2380-6d53-11eb-88e3-edb39fa0552c.png)

[2021-02-13 05:00] mariobehling opened #6685 "Organizer Speaker Info: CC Email not delivered"
Speakers can be notified by email, but there is also a CC field to send an email elsewhere. The CC email does not seem to work.

![Screenshot from 2021-02-13 05-58-31](https://user-images.githubusercontent.com/1583873/107842060-c0291b80-6dc0-11eb-92b5-c5661a26e0f1.png)

[2021-02-13 05:44] mariobehling opened #6686 "Organizer Speaker Info: Only allow one email address of "event owner" in the Reply-to email"
The reply-to field in the speaker notification emails has one field. Currently all organizers are filled in. However Sendgrid only support one emails. Therefore please only keep the event owner in this email reply-to field.

![Screenshot from 2021-02-13 06-38-13](https://user-images.githubusercontent.com/1583873/107842880-d89c3480-6dc6-11eb-824e-9394b9b7f94d.png)

[2021-02-13 07:15] #6685 closed

[2021-02-13 12:13] PrithvirajMajumder commented on #6686
can i work on this ?

[2021-02-13 15:27] mariobehling commented on #6686
As a matter of fact, there is an issue that only one person can be in the reply-to area due to limits of Sendgrid. Therefore please change to one email allowed in the reply-to address only.

[2021-02-13 18:29] AJOO7 opened #6691 "Hover effect on event cards"
the site is very plain and minimal interactive ,so adding hover related effects on the event card which are most importatnt part of the page ,will increase more interaction from user side

[2021-02-14 07:40] mariobehling opened #6693 "Invoice Email: Amount not showing two digits after dot"
In the invoice emails the invoice amount shows only one digit after the dot, e.g. 180.6 USD instead of 180.60 USD.

![Screenshot from 2021-02-14 08-26-16](https://user-images.githubusercontent.com/1583873/107871260-318bcb80-6ea0-11eb-82da-16edd7bd6e4a.png)

[2021-02-14 08:00] mariobehling commented on #6691
out of scope

[2021-02-14 08:00] #6691 closed

[2021-02-14 08:14] #5760 closed

[2021-02-14 08:17] #5832 closed

[2021-02-14 08:28] #6659 closed

[2021-02-14 08:35] mariobehling opened #6694 "My Schedule: Enable user to get personal schedule added to calendar"
Instead of the overall calendar users should have the option to only save their personal "my schedule" to their calendar. We already have the my schedule feature upcoming. Please add the option to "add it to the calendar".

[2021-02-14 09:06] mariobehling opened #6695 "Public Schedule: Clicking on any button on a session expands the session"
On the public schedule the session clicking on any button on a session expands the session area. Expected is that the button does what it should do specifically, but the session area should only be expanded when the "standard" session area is clicked.

![Screenshot from 2021-02-14 10-03-35](https://user-images.githubusercontent.com/1583873/107872700-4e2e0080-6eac-11eb-98d8-de04f40666a2.png)

[2021-02-14 09:06] mariobehling commented on #6630
Closing this in favor https://github.com/fossasia/open-event-frontend/issues/6695

[2021-02-14 09:06] #6630 closed

[2021-02-14 09:09] mariobehling commented on #6686
As this issue description was specified and the issue now blocks all speaker emails from getting sent out it has become an urgent priority issue.

[2021-02-14 11:37] #6454 closed

[2021-02-14 14:02] mariobehling commented on #6686
Email in reply-to still shows all organizers in frontend even though only "event owner"receives it now.

[2021-02-14 14:10] mariobehling commented on #6644
Design can be improved but this is ok for the moment and out of scope as we focus on other areas. Thanks.

[2021-02-14 14:10] #6644 closed

[2021-02-14 14:10] mariobehling commented on #6645
I think this does not happen continuously. Might be a caching issue and will disappear when you continue to use the system.

[2021-02-14 14:10] #6645 closed

[2021-02-14 17:56] sakshi-1604 commented on #6694
I am on it

[2021-02-15 03:33] maze-runnar commented on #6681
looking into this.

[2021-02-15 07:13] akash2408 commented on #6416
working on it

[2021-02-15 10:42] mariobehling opened #6707 "CfS: Private submission feature no longer working"
The private submission feature in call for speakers is no longer working. The buttons do not show up to submit a proposal and speaker profile.

![Screenshot from 2021-02-15 11-40-12](https://user-images.githubusercontent.com/1583873/107936278-bea75100-6f82-11eb-94da-8cb43a839371.png)

![Screenshot from 2021-02-15 11-43-18](https://user-images.githubusercontent.com/1583873/107936492-04fcb000-6f83-1

[2021-02-15 12:34] mariobehling opened #6711 "Scheduler: Decrease the height of the left side bar for unscheduled sessions and rename to "Not Yet Scheduled""
The left side bar of the scheduler page is extending beyond the bottom of the calendar area of the scheduler. Please change the following to improve the area:
* Match the height of the left side bar with the bottom of the calendar area of the scheduler
* Rename "Unscheduled Sessions" to "Not Yet Scheduled Sessions"

Compare https://eventyay.com/events/fa96ae2c/scheduler

![Screenshot from 2021-02-

[2021-02-15 12:36] nlok5923 commented on #6711
On it

[2021-02-15 12:39] Naman-1234 commented on #6711
Working on it.

[2021-02-15 13:54] mariobehling opened #6713 "Schedule: Add list and calendar button to schedule page"
The system has two ways to display the schedule a) as a list and b) as a calendar.

Therefore please add a calendar button and a list button for the two different views directly next to the "Schedule" heading.

Compare
* Schedule https://eventyay.com/e/8fa7fd14/schedule
* Calendar https://eventyay.com/e/8fa7fd14/calendar

[2021-02-15 14:15] MeghalBisht commented on #6713
on it.

[2021-02-15 14:49] mariobehling opened #6715 "CfS: "Edit Speaker Details" button not available after CfS is closed"
After the CfS is closed on the CfS site the "Edit Speaker Details" button is no longer available. Expected: For speaker that are already in the system the button should still be available.

Compare https://eventyay.com/e/fa96ae2c/cfs
![Screenshot from 2021-02-15 15-47-17](https://user-images.githubusercontent.com/1583873/107960796-5b7ae600-6fa5-11eb-88d8-9eb019698fc3.png)

[2021-02-15 15:16] rajatgupta24 commented on #6715
Hi sir,
I would like to work on this but I'm new here so can you please guide me how to get started on this.

[2021-02-15 15:20] subodhk01 commented on #6711
@mariobehling Can I work on this issue?

[2021-02-15 15:25] subodhk01 commented on #6681
@mariobehling Can I work on this issue?

[2021-02-15 15:33] maze-runnar commented on #6681
@subodhk01 pick another please.

[2021-02-15 15:33] subodhk01 commented on #6284
Can I work on this issue?

[2021-02-15 15:50] Naman-1234 commented on #6711
@subodhk01 , I am already working on this, So pls find another issue.

[2021-02-15 16:15] subodhk01 commented on #6707
Looking into it

[2021-02-15 16:42] mariobehling opened #6717 "Admin: Add Groups Tab in Menu"
We now have the groups feature but an admin does not have any way to control the feature. Please add a page with a table for admins and add a menu item behind "Users". The tables should have the following columns:

- Groups with buttons View, Edit, Delete
- Owner
- Number of events
- Created
- Public URL

Add two sub tabs:
- Live
- Deleted

![Screenshot from 2021-02-15 17-40-07](https://user-image

[2021-02-15 16:43] subodhk01 commented on #6707
@mariobehling Can you elaborate more on the issue, coz everything related to CfS seems to be working fine with me.

<img width="677" alt="Screenshot 2021-02-15 at 10 13 34 PM" src="https://user-images.githubusercontent.com/19875783/107973270-0e196b80-6fdb-11eb-9044-82600bab386f.png">

[2021-02-15 17:18] sakshi-1604 commented on #6717
I am on it

[2021-02-15 17:24] JatinAgrawal94 commented on #6534
Is this issue Still open ? As the sidebar is working perfectly file on the website.

[2021-02-15 18:09] rudrani1964 commented on #6715
Hi @mariobehling  can work on this issue?

[2021-02-15 18:11] rudrani1964 commented on #6717
Hey @mariobehling I would like to work on this, can you assign this to me?

[2021-02-15 18:15] rudrani1964 commented on #6717
Even I'm quite new here, please guide me to get  started with this.

[2021-02-15 18:33] Naman-1234 commented on #6711
@mariobehling , Sir sorry to disturb you but may you please help me in reproducing issue, I have been trying to reproduce it but didn't get anything. I opened your mentioned url (https://eventyay.com/events/fa96ae2c/scheduler) but it gives the following error on both local as well as real website. Please guide me if and where I am going wrong or is this issue related to server. Screenshots are giv

[2021-02-15 19:21] #5763 closed

[2021-02-15 19:22] #6686 closed

[2021-02-15 19:29] iamareebjamal commented on #6717
Stop spamming. We don't have the bandwidth to guide contributors. Please only comment if you know how to fix the issue

[2021-02-15 21:57] mariobehling opened #6721 "Exhibitor Page: Add Twitter Widget"
Please add a twitter widget in the central column above the exhibitor video in full width if the exhibitor has added a twitter account.

Compare: https://eventyay.com/e/fa96ae2c/exhibition/14

![Screenshot from 2021-02-15 22-55-16](https://user-images.githubusercontent.com/1583873/107996618-15437800-6fe1-11eb-89d5-0586e40b1543.png)

[2021-02-15 22:10] mariobehling opened #6722 "Public Schedule: Using any filter resets the timezone choice of the user"
If the user sets a certain timezone the choice will be reverted to the event timezone when a filter is added, e.g. a track or day.

Compare https://eventyay.com/e/8fa7fd14/schedule

![Screenshot from 2021-02-15 23-08-54](https://user-images.githubusercontent.com/1583873/107997404-f80fa900-6fe2-11eb-80ce-2c006d89bcb0.png)

[2021-02-15 23:04] ranjitkshah commented on #6694
on it

[2021-02-16 02:27] sakshi-1604 commented on #6722
I am on it

[2021-02-16 05:39] #6715 closed

[2021-02-16 05:57] iamareebjamal commented on #6694
@Tlazypanda need to implement server part for this

[2021-02-16 09:05] #6681 closed

[2021-02-16 09:52] #6721 closed

[2021-02-16 11:36] iamareebjamal commented on #6711
You don't have access to other's events. Create your own

[2021-02-16 11:39] Naman-1234 commented on #6711
Ok sir.

[2021-02-16 13:21] MeghalBisht commented on #6649
Point 1 left

[2021-02-16 14:23] iamdevvalecha commented on #6679
![Screenshot (14)](https://user-images.githubusercontent.com/71969867/108075640-99a10400-7090-11eb-9210-034bd30c887b.png)

Error while attendee checking IN/OUT Error: Attempted to handle event `becameError` on <attendee:22964> while in state root.loaded.updated.uncommitted.
@iamareebjamal

[2021-02-16 16:06] preeti13456 commented on #6722
I have found one solution but don't know where to do the changes. Can you please provide some guidance regarding same?

[2021-02-16 17:12] #6695 closed

[2021-02-16 22:41] mariobehling opened #6736 "Session Editing: Changes of speakers to existing session results in error"
Speakers are reporting they cannot make changes to their session and speaker profiles after the CfS is closed. Expected: Speakers should be able to change sessions and profiles except if the session is locked.

This was reported by different speakers. One speaker had his session still pending after the CfS was closed. Could this be related to the permissions where we do not accept a submission aft

[2021-02-16 23:04] mariobehling opened #6737 "Public Event Page: Standardize headings, add spacing and add button to view more speakers"
The headings on the public event page and a few other things should be standardized and the style improved. Therefore please change the following:

1. Change the headings on the public event pages as follows
- Tickets -> H2
- Featured Speaker -> H2
- Sponsors, e.g. Silver Sponsor -> H3
- Getting Here -> H2
- Address -> H2

2. Add spacing above H2 headings, maybe around 40px.
3. Add a blue button b