[2019-04-27 13:49] shreyanshdwivedi commented on #2799
@kushthedude I think you didn't get my point. I said that this issue can be addressed once #2461 is merged because total tax will be calculated in that PR which can be passed on to checkout page and it can be easily displayed on the checkout page.

[2019-04-27 14:07] kushthedude commented on #2799
Oops my bad @shreyanshdwivedi 😅

[2019-04-27 15:53] uds5501 commented on #2822
@kushthedude that sounds good

[2019-04-27 17:42] uds5501 opened #2826 "Improving UI in Order Form and Payment Method"
**Describe the bug**

- If a paid ticked is introduced, make sure at least one payment option is introduced
- In an order page, if no payment option is there, remove the payment order section

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/56853186-e35fae00-6941-11e9-88bc-083b87816a83.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubu

[2019-04-27 17:57] uds5501 commented on #2578
@kushthedude can i have a look at it now?

[2019-04-27 23:00] kushthedude commented on #2578
Sure buddy

On Sat, 27 Apr 2019 at 11:27 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-04-28 01:58] kushthedude commented on #2826
@uds5501 Name of issue seems vague as compared to description , Please change the name to `Improving UI in Order Form and Payment Method ` , If you think so 😅

[2019-04-28 02:07] kushthedude opened #2828 "Improving `Error Message` in` Login Form`"
**Is your feature request related to a problem? Please describe.**

No , not related to a problem .
When you try to `Login` with Invalid Credentials , the `Error Message` generated is same for all cases .

**Describe the solution you'd like**

I prepare to add, If a registered user tries to `Login` show him `Password Error` and if a new user tries Give him `Register Message`

**Screenshot**

<img

[2019-04-28 02:11] kushthedude commented on #2828
@CosmicCoder96 @uds5501 Should we do it?

[2019-04-28 02:32] kushthedude opened #2829 "Cell Sorting not working and UI Enhancements in Section in `Admin/Messages`"
**Describe the bug**

`Cell Sorting` is not functional in `Admin/Messages`

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Admin/Messages'
2. Click on 'Sort Icon'
3. See error

**Expected behaviour**

Fix the bug

**Screenshots**

<img width="1140" alt="Screenshot 2019-04-28 at 8 01 01 AM" src="https://user-images.githubusercontent.com/44091822/56857482-ce0f7180-698b-11e9-90cd-4a2c

[2019-04-28 02:37] mohitm15 opened #2830 "UI enhancement for the nav-bar"
**Is your feature request related to a problem? Please describe.**
 An enhancement to add icons for the settings and profile section similar to the logout section.

**Describe the solution you'd like**
Added the respective icons to enhance the UI

**Screenshots**
![Screenshot 2019-04-28 08:06:23](https://user-images.githubusercontent.com/35539313/56857557-9d7c0780-698c-11e9-9ae3-a4ced05521ac.png)

[2019-04-28 05:57] uds5501 commented on #2826
@kushthedude you are right, changed the title accordingly

[2019-04-28 05:57] uds5501 commented on #2828
@kushthedude go ahead

[2019-04-28 07:31] ritikamotwani commented on #2830
No, this is not required.

[2019-04-28 07:31] #2830 closed

[2019-04-28 07:32] ritikamotwani commented on #2817
@kushthedude this is not required. Close the PR as well.

[2019-04-28 07:41] kushthedude commented on #2817
@ritikamotwani Sure

[2019-04-28 07:41] #2817 closed

[2019-04-28 09:56] ritikamotwani commented on #2815
No, it's not required.

[2019-04-28 09:56] #2815 closed

[2019-04-28 10:00] ritikamotwani commented on #2804
1. There is no column title for Cell Actions.
2. Sessions view Property doesn't exist , Hence view and edit redirect to same page

No need to change these two things.
Just change the first point in your issue in the the PR.

[2019-04-28 10:02] kushthedude commented on #2804
@ritikamotwani , View Session was redirecting to route Edit , i have fixed that and now it redirects to `MySession.view` , What is the point in making the route same for both edit and view ?

[2019-04-28 10:14] ritikamotwani commented on #2804
@kushthedude no both will go to the same route.
Just fix the hidden part of confirm session rest nothing is required.

[2019-04-28 11:50] #2221 closed

[2019-04-28 12:08] kushthedude commented on #2804
@ritikamotwani , But in admin section both redirects to different route , Can you please confirm me once 😅 ?

[2019-04-28 13:41] kushthedude opened #2832 "No field for phone number for Speaker in `Speaker Edit`"
**Describe the bug**

When you see speaker column in `Events/Speakers`, there is the column for the phone but in edit form, there is no field for phone

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Events/Speakers'
2. See error

**Expected behaviour**

Add Speaker Phone Field or remove phone column

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/5686

[2019-04-29 16:19] kushthedude opened #2835 "Disable Discount Code creation if there are no tickets added"
**Is your feature request related to a problem? Please describe.**

`Discount Codes` are created if there are no tickets for event too .

**Describe the solution you'd like**

 Disable `Code Creation` when there are no tickets**Describe alternatives you've considered**

**Additional context**

Working upon it

[2019-04-29 21:18] #2819 closed

[2019-05-01 02:30] mariobehling opened #2839 "Standardize font and fix image on payment page"
* The font on the payment page had different sizes.
* The payment image on the bottom left is squeezed.

Expected:
* Please use the same font size/style in the different boxes. The bottom left box should use the same size as others.
* Show the bottom left image correctly
* Take out spaces in front of colon e.g. "From : Thursday, March 19th 2020, 9:30 AM (+08)
To : Sunday, March 22nd 2020, 5:00 PM

[2019-05-01 05:08] uds5501 commented on #2839
Looking into it

[2019-05-01 05:54] uds5501 opened #2840 "Orders cannot be created or viewed"
**Describe the bug**

On creating an order, we are getting an error saying can't inject service, moreover, we can't view/edit an order either.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to event
2. Create new order
3. See error

**Expected behaviour**

It should work normally

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/57007062-711df080-6c03-11e9-97

[2019-05-01 05:56] uds5501 commented on #2840
@CosmicCoder96 Please look into it

[2019-05-01 06:08] uds5501 commented on #2840
@CosmicCoder96 Ignore this, I did not upgrade the dependencies, that's why it was happening

[2019-05-01 06:08] #2840 closed

[2019-05-01 12:10] kushthedude opened #2842 "`Submit Button` does not work in `Create Session`"
**Describe the bug**

`Submit Button` is not working under `Create Session`

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Events/Session'
2. Click on `Create Session` above the table
3. Fill the details and click on `Submit`
4. See error

**Expected behaviour**

`Submit` should work as expected

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/57016492

[2019-05-01 12:19] kushthedude opened #2843 "Extra Blank Speaker in `Create Session`."
**Describe the bug**

When you create a session and Choose the `Speaker ` from the dropdown , There is a blank drop-down.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Create Session'
2. Click on 'Select Speaker'
4. See error

**Expected behavior**

Fix the bug

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/57016709-48185280-6c39-11e9-9df0-603456e645

[2019-05-01 12:32] kushthedude commented on #2842
@uds5501 @shreyanshdwivedi Can you guys please check once, As of now its working fine for me now.

[2019-05-01 17:30] mohitm15 commented on #2843
@kushthedude this covers in #2458.

[2019-05-01 18:07] mohitm15 opened #2845 "Typo in languages drop-down"
**Describe the bug**

Typo in the languages dropdown

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to home page
2. Click on 'languages'
3. See error

**Expected behaviour**

Fix the typo

**Desktop (please complete the following information):**
 - OS:  Ubuntu 18.04
 - Browser : chrome
 - Version : 71.0398

**Additional context**

Working

[2019-05-01 18:18] mohitm15 opened #2847 "Languages added in the drop down are not sorted"
**Describe the bug**

The languages added latest in the drop down of languages are not sorted as some of them were added latest.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Home page'
2. Click on 'English button'
3. See error

**Expected behaviour**

Should be in sorted order

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Browser : Chrome
 - Versi

[2019-05-02 05:55] uds5501 commented on #2842
@kushthedude I can still replicate this error :/

[2019-05-02 07:39] mariobehling opened #2849 "Only access external services on pages that really need them"
Many pages access external services like maps.gstatic.com, Google usercontent, twitter platform, license.net on pages that don't display any related info. Actually only very few pages should require external services.

Please check different pages and get rid of calls to external pages on pages that don't need any info from those services.

![Screenshot from 2019-05-02 15-36-11](https://user-image

[2019-05-02 07:41] mariobehling opened #2850 "Substitute license.net buttons with stored buttons."
We should not connect to external services if it is not absolutely necessary. Therefore please substitute the license.net buttons with locally stored buttons. These assets should be part of the system.

![Screenshot from 2019-05-02 15-36-11](https://user-images.githubusercontent.com/1583873/57061783-c683fb80-6cf0-11e9-89eb-bac173b71471.png)

[2019-05-02 12:44] kushthedude commented on #2842
@uds5501 Will look into tomorrow , and will solve it if I find it 😄

[2019-05-02 13:48] ritikamotwani commented on #2832
@kushthedude , the session-speaker form is a custom form. The organizer can or cannot keep the phone number as a compulsory field.
This is not required .
Please close the issue and the PR.

[2019-05-02 13:52] kushthedude commented on #2832
@ritikamotwani  , i know this fact but the point was ,the speaker table has well designated column for Phone and if phone was to be kept as an optional than that column should be removed. What you think about it?

[2019-05-02 13:58] ritikamotwani commented on #2832
Yeah there has to be a column but the the field has to be decided by the organizer.

[2019-05-02 13:58] #2832 closed

[2019-05-02 19:31] #2753 closed

[2019-05-02 19:39] #2813 closed

[2019-05-03 08:48] mariobehling opened #2852 "Tickets that are unpaid are showing up as placed. Expected: Should show up as "Pending" and Expire after 1 day"
Tickets that are unpaid are showing up as placed. Expected: Should show up as "Pending" and Expire after 1 day.

This issue shows in
* Organizer Ticket Page
* My Tickets Page: https://eventyay.com/my-tickets/upcoming

![Screenshot from 2019-05-03 16-48-22](https://user-images.githubusercontent.com/1583873/57127527-48dcf000-6dc3-11e9-9d56-e3f835ade6de.png)

[2019-05-03 08:50] mariobehling opened #2853 "Ticket Orders that are Paid should show up on top of My Tickets Page"
The tickets that are paid should show up on the top. Any other tickets "Placed" or "Pending" should show up below.

![Screenshot from 2019-05-03 16-49-29](https://user-images.githubusercontent.com/1583873/57127610-8e99b880-6dc3-11e9-91f8-1bb0f2f803a4.png)

[2019-05-03 08:53] shreyanshdwivedi commented on #2853
@mariobehling we are changing the UI of `My Tickets` section according to https://github.com/fossasia/open-event-frontend/issues/2821. A PR is also opened on the issue which will itself separate the completed and open tickets. Then this issue will be irrelevant

[2019-05-03 08:54] mariobehling opened #2854 "Able to book more discounted tickets than allowed"
Even if the organizer only allows 1 Discount Ticket. The discount ticket code still works after 1 ticket was sold.

Expected: Discount Tickets should only work for the number of tickets specified.

E.g.:
* if the user chooses to buy two tickets, only one ticket should be discounted, if only one discount ticket is left.
* if all discount tickets are already sold out, the discount option should not

[2019-05-03 09:27] mariobehling opened #2855 "Cannot edit FOSSASIA 2020 event: Error Message - ticket sales-ends-at should be before event ends-at"
Cannot edit FOSSASIA 2020 event: Error Message - ticket sales-ends-at should be before event ends-at.

Ticket sales dates are ending before the actual event ends. So error message is wrong.

![Screenshot from 2019-05-03 17-26-23](https://user-images.githubusercontent.com/1583873/57129374-c35c3e80-6dc8-11e9-85ae-846af419f30d.png)

[2019-05-03 09:29] mariobehling opened #2856 "Invoice Company Data in Wizard Step 1 not saved permanenty"
Invoice Data in Wizard Step 1 is missing when accessing Wizard again. It also does not show up on invoice, e.g. https://eventyay.com/events/a315169f/edit/basic-details

![Screenshot from 2019-05-03 17-28-21](https://user-images.githubusercontent.com/1583873/57129457-05858000-6dc9-11e9-93f9-f4ef021e4ee4.png)

[2019-05-03 12:07] mohitm15 commented on #2855
Should I take this

[2019-05-03 12:38] kushthedude commented on #2854
Lookin into it

[2019-05-03 12:39] kushthedude commented on #2856
Looking into it

[2019-05-03 12:51] kushthedude commented on #2852
@shreyanshdwivedi Can you take care of this as well in you PR regarding open orders?

[2019-05-03 14:37] shreyanshdwivedi commented on #2852
@kushthedude this issue requires proper implementation as the unpaid tickets are required to expire after 1 days. So, I'll suggest that we should keep both the PRs separate.
I'm a bit busy this week so if you want you can take it up and open a separate PR for this issue.

[2019-05-03 15:02] kushthedude commented on #2852
@shreyanshdwivedi Cool i will look into it

[2019-05-03 15:54] mariobehling commented on #2852
Expected is:
1. Ticket orders that use online payment methods (credit card, paypal) should be labeled as "pending" until they are paid and expire after 1 day.
2. Ticket orders that use offline payment methods (bank, cheque) should be labeled as "Placed" once the user has hit the button "order". These user need to pay offline. This is only the case if the organizer has specified offline payment.

[2019-05-03 16:10] kushthedude opened #2857 "Maximum Number of Tickets should be greater than Minimum"
**Describe the bug**

When you change the additional setting of a ticket and set max and min tickets per order, the following error occurs

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Event Wizard' of `Existing Event`
2. Click on 'Ticket Setting'
3. Set Minimum Tickets Greater than maximum
4. See error

**Expected behaviour**

Fix the bug

**Screenshots**

![image](https://user-

[2019-05-03 16:11] kushthedude commented on #2852
Noted @mariobehling , Will do as expected 😄

[2019-05-03 20:08] kushthedude commented on #2669
@mariobehling @CosmicCoder96 I think we should tag the issue with high priority, since we have made ‘next.eventyay.com’ into production and now this bugs exists on the ‘eventyay.com’ , we cant overlook body overflow, links issue in safari and others too in safari , as safari is also one of the most used browser

[2019-05-04 05:08] uds5501 commented on #2852
@kushthedude We can make this a scheduled task handled at server side. How about I take this up on server side?

[2019-05-04 05:55] kushthedude commented on #2852
@uds5501 not sure what @mariobehling and @CosmicCoder96 want, but if they agree. You may go on server side and i will take care here

[2019-05-04 07:45] mariobehling opened #2858 "Support Singup Emails in Other Languages than English"
If a user is signing up in a specific language e.g. uses Thai, then the signup email should also have Thai on the top of the email and English (as a backup) below.

[2019-05-04 08:53] mariobehling opened #2859 "Add Omise Payment Gateway for Thailand"
Omise is important for our Thai event. Please add it.

More: https://www.omise.co/

[2019-05-04 08:57] kushthedude commented on #2859
@mariobehling , @CosmicCoder96 is taking care if it and the issue has been transferred to server

[2019-05-04 09:03] mariobehling commented on #2859
We need both frontend and backend and we need several people to start working on it. We cannot leave everything to @CosmicCoder96.

Frontend part 1. Please add it to:
* Wizard Step 1
* Payment Gateways when buying tickets

Frontend part 2. Please add it to:
* Admin UI with fields to add keys

[2019-05-04 09:15] kushthedude commented on #2859
I will be working on it . @uds5501 want to join ?

[2019-05-04 14:24] mohitm15 commented on #2857
@kushthedude This is vague issue pal. Check below
![Screenshot 2019-05-04 19:53:45](https://user-images.githubusercontent.com/35539313/57180462-6a62d800-6ea6-11e9-96c6-9f737f5ba0bb.png)

[2019-05-04 14:33] kushthedude commented on #2857
@mohitm15 What you say about this
![image](https://user-images.githubusercontent.com/44091822/57180575-992d7e00-6ea7-11e9-8119-76e2003bbc44.png)
![image](https://user-images.githubusercontent.com/44091822/57180576-9cc10500-6ea7-11e9-83bf-b21439e5fb71.png)

[2019-05-04 14:34] kushthedude commented on #2857
@uds5501 @shreyanshdwivedi Can anyone of you check the following bug by editing an `Existing Event` ?

[2019-05-04 14:47] mohitm15 commented on #2857
@kushthedude If you even do it for 'Existing element', it is non-reproducible. What is the meaning to set min-max orders first correctly and then editing it incorrectly? :laughing: :

[2019-05-04 15:03] kushthedude commented on #2857
Let others check , btw what if i dont set it initially and then set it , i
think you didnt get the concept of existing event .

On Sat, 4 May 2019 at 8:17 PM, Mohit Maroliya <notifications@github.com>
wrote:

[2019-05-04 17:54] uds5501 commented on #2859
@kushthedude Sure, we can handle the frontend part

[2019-05-04 18:03] uds5501 commented on #2857
@kushthedude it's working fine in old events too.
![image](https://user-images.githubusercontent.com/21087061/57183040-dce2b080-6ec4-11e9-8892-93f6005bdb97.png)

![image](https://user-images.githubusercontent.com/21087061/57183040-dce2b080-6ec4-11e9-8892-93f6005bdb97.png)

[2019-05-04 18:31] kushthedude commented on #2857
What about the ss i have shown than🤔 , i am afraid its Mac specific bug

On Sat, 4 May 2019 at 11:33 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-05-04 18:32] uds5501 commented on #2857
@kushthedude I used the exact specs you set there in an existing event. Yet it was working fine

[2019-05-04 20:42] uds5501 opened #2860 "Add Omise Keys column in Admin UI"
Add Omise Key Columns similar to paypal credentials

- Add mode, test and live keys (public and secret)

Parent Issue- #2859
**Additional context**

Working on it

[2019-05-04 21:06] uds5501 commented on #2860
Server PR - fossasia/open-event-server#5860

[2019-05-05 02:31] kushthedude opened #2862 "Addition of Omise Gateway in Event Wizard"
See Parent Issue -: #2859

**Additional Context**

Working on it

[2019-05-05 08:06] kushthedude opened #2863 "`Search Event` not working on Public Index Page , Clear Filters not working too"
**Describe the bug**

The search bar has become buggy on Index Page.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Index Page'
2. Search for any Event by name
3. See error and try to `Clear Filters` its not working too

**Expected behaviour**

Fix the Search Bar

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/57190659-7f894680-6f3a-11e9-8204-600006df

[2019-05-05 17:26] mariobehling opened #2865 "Don't show "Save as Draft" in Wizard once event is published"
Once an event is published the option "Saved as Draft" is very confusing. Clicking it will result in unpublishing the event. Don't show the option "Save as Draft" once the event is published. Only show the option "Save as Draft" if an event is in the stage "Unpublished.

![Screenshot from 2019-05-06 01-08-16](https://user-images.githubusercontent.com/1583873/57197770-fd326e00-6f9d-11e9-8846-e6d0d9

[2019-05-05 17:41] uds5501 commented on #2865
Working on it

[2019-05-06 11:07] uds5501 commented on #2839
@CosmicCoder96 Please close this

[2019-05-06 11:09] uds5501 commented on #2856
@mariobehling This is working fine.

A sample SS from current rollout of eventyay:
![image](https://user-images.githubusercontent.com/21087061/57221588-6d340900-701d-11e9-9a8f-52a422aab507.png)

[2019-05-06 11:24] kushthedude commented on #2856
+1 Same here on my local

[2019-05-06 15:33] mariobehling opened #2867 "Preview Button uses link to last Discount Ticket Link"
The preview link on the organizer page uses a link to the last configured Discount Code Ticket Link instead of the plain link.

E.g. it uses
https://eventyay.com/e/39a15c6e?code=openxlab

Instead it should use
https://eventyay.com/e/39a15c6e

![Screenshot from 2019-05-06 23-31-40](https://user-images.githubusercontent.com/1583873/57236267-3da1f280-7057-11e9-9ada-65d3f96c518f.png)

[2019-05-06 16:57] #2865 closed

[2019-05-06 19:13] #2668 closed

[2019-05-06 19:14] #2821 closed

[2019-05-07 07:19] #2804 closed

[2019-05-07 07:20] #2822 closed

[2019-05-07 07:27] #2685 closed

[2019-05-07 09:46] kushthedude commented on #2867
On It

[2019-05-07 12:54] kushthedude opened #2869 "Discount Of Other Event is getting applied on some different event"
**Describe the bug**

Discount Of Other Event is getting applied on some different event

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Create a Discount for some `X` Event'
2. Apply it on some `Y` Event
3. See error

**Expected behaviour**

Error should be given `Discount Not Valid`
**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/57300843-3f21f800-70f

[2019-05-07 13:02] #2860 closed

[2019-05-07 18:24] uds5501 commented on #2869
@kushthedude Working on it? If not, i may have found a solution :sweat_smile:

[2019-05-07 18:29] kushthedude commented on #2869
Go on

On Tue, 7 May 2019 at 11:54 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-05-07 18:58] kushthedude commented on #2689
@harsh-jindal Still on it or should i make a try ?

[2019-05-07 19:19] kushthedude commented on #1554
@pradeepgangwar How do i run coverage tests ?

[2019-05-07 19:23] harsh-jindal commented on #2689
@kushthedude You can go ahead.

[2019-05-07 20:17] kushthedude commented on #1186
@CosmicCoder96 @ritikamotwani Do we need to add system images or should be left blank?

[2019-05-07 20:20] kushthedude commented on #1175
@CosmicCoder96 @niranjan94, should it be done now ?

[2019-05-08 03:30] #2869 closed

[2019-05-08 07:04] uds5501 commented on #2845
@CosmicCoder96 @mariobehling Please add 'beginner friendly' tag on this issue

[2019-05-08 08:07] kushthedude commented on #2845
@uds5501 No use of the tag , A pr has already been opened on it

[2019-05-08 11:36] kokoye2007 opened #2875 "Tax and License is Choose or not show error bug"
**Requirement popup**

**To Reproduce**
1.Basic Details page
2. Edit and Add info
3. when click "Next" or "Publish" button
4. Tax 779 not found
5. License of Event Data & Content is use or not, not found

![Screenshot from 2019-05-08 18-05-49](https://user-images.githubusercontent.com/3091754/57373184-c5097600-71bd-11e9-89c8-5814d5088be9.png)

[2019-05-08 14:57] CosmicCoder96 commented on #2458
Fixed in https://github.com/fossasia/open-event-frontend/pull/2874

[2019-05-08 14:57] #2458 closed

[2019-05-08 14:57] CosmicCoder96 commented on #2843
Fixed in https://github.com/fossasia/open-event-frontend/pull/2874

[2019-05-08 14:57] #2843 closed

[2019-05-08 17:10] #2863 closed

[2019-05-08 17:32] kushthedude opened #2877 "Add Tooltip for Event Bar for Mobile View"
**Is your feature request related to a problem? Please describe.**

There is no description for `Event Bar` in mobile view, We only get to see `Icons` which are not clear about the appearance or functionality

**Describe the solution you'd like**

Add Tooltip

#### Screenshot
<img width="1440" alt="Screenshot 2019-05-08 at 11 01 41 PM" src="https://user-images.githubusercontent.com/44091822/573952

[2019-05-09 07:31] mohitm15 commented on #2877
@kushthedude not a prior work as the icons used are standard icons which makes them self descriptive.
What's your views @CosmicCoder96 ?

[2019-05-09 07:49] kushthedude commented on #2877
Already discussed

On Thu, 9 May 2019 at 1:01 PM, Mohit Maroliya <notifications@github.com>
wrote:

[2019-05-09 08:09] uds5501 opened #2879 "Deleted Tickets being listed in manage events"
**Describe the bug**

In the manage-events/Tickets column, the tickets which have been deleted are also being listed.

![image](https://user-images.githubusercontent.com/21087061/57437562-aa87d900-725f-11e9-9e70-bb6afa33334e.png)
![image](https://user-images.githubusercontent.com/21087061/57437578-b1aee700-725f-11e9-81ee-d3aded26269a.png)

**Expected behaviour**

The deleted tickets shouldn't be l

[2019-05-09 11:06] kushthedude commented on #2879
@uds5501 I think a issue is opened regarding the `Deleted Tickets` 😕

[2019-05-09 14:59] kushthedude commented on #1911
@shubham3211 @uds5501 @CosmicCoder96 I have seen the similar issue in Badgeyay repo and can proceed with the change of package , As ember notify dont give us a unique id and the PR has not been merged untill now , I think moving to a different package could be a good option . Please give your views .

[2019-05-09 16:59] kushthedude opened #2880 "'Publishing Event' again throws error"
**Describe the bug**

`Publishing Event` throws `Unexpected Error`

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Event/View'
2. Click on 'Publish , Unpublish'
3. See error

**Expected behaviour**

Fix the error

**Screenshots**

<a href="https://imgflip.com/gif/30jvjw"><img src="https://i.imgflip.com/30jvjw.gif" title="made at imgflip.com"/></a>
**Desktop (please complete the fol

[2019-05-09 16:59] kushthedude commented on #2880
@uds5501 Is it reproducible to UBUNTU ?

[2019-05-09 17:28] uds5501 commented on #2879
@kushthedude issue number?

[2019-05-09 17:43] kushthedude commented on #2722
@uds5501 Why have we implemented this , A paid order can be cancelled too ?

[2019-05-09 17:45] uds5501 commented on #2722
@kushthedude how do you propose to refund the money post cancellation?

[2019-05-09 17:49] kushthedude commented on #2879
My bad ignore it , Go On

[2019-05-09 18:14] kushthedude commented on #2722
@uds5501 AFAIK PayTM and Paypal both have refund API based on the payment token , And I propose to add two categories of ticket Refundable and non Refundable , Since with this PR the user cant cancel his order nor the organiser . Regarding the short term go i can agree it can work but cant be a perfect solution buddy

[2019-05-09 21:58] uds5501 commented on #2880
@kushthedude No

[2019-05-10 07:02] kushthedude commented on #2880
Did you see gif?

On Fri, 10 May 2019 at 3:28 AM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-05-10 08:16] CosmicCoder96 commented on #2513
Use a different approach to tackle this without changing the image upload widget.

[2019-05-10 08:28] CosmicCoder96 commented on #2857
Can't reproduce it on safari.

[2019-05-10 08:28] #2857 closed

[2019-05-10 08:30] CosmicCoder96 commented on #2839
closed in https://github.com/fossasia/open-event-frontend/pull/2841

[2019-05-10 08:30] #2839 closed

[2019-05-10 08:34] #2744 closed

[2019-05-10 08:36] CosmicCoder96 commented on #2482
Featured events have been now implemented.

[2019-05-10 08:44] #2795 closed

[2019-05-10 08:52] #2808 closed

[2019-05-10 08:54] #2862 closed

[2019-05-10 09:05] #2711 closed

[2019-05-10 09:06] #2541 closed

[2019-05-10 09:41] kushthedude commented on #2880
@CosmicCoder96 Can you please check it out on safari ?

[2019-05-10 14:51] #2632 closed

[2019-05-10 14:54] #2877 closed

[2019-05-10 18:36] shreyanshdwivedi commented on #2853
As the issue related to UI of `My Tickets` is closed now (https://github.com/fossasia/open-event-frontend/issues/2821), I'll be working on this in upcoming few days

[2019-05-10 19:25] kushthedude opened #2884 "Addition of CODE OF CONDUCT"
Recently i came across many open source organisation such as ‘Pallet’ , ‘Swift’ , ‘Fox Dev ‘ .
All of the repo had a ‘COC’ file .
I propose to add a similar but more reliable COC for our repos .
All the views are welcome here

[2019-05-10 19:27] kushthedude commented on #2884
@CosmicCoder96 @iamareebjamal @mariobehling ,
I think we should add a covenant based COC file in our repositories .
Please give your valuable opinions.

[2019-05-11 06:43] mohitm15 opened #2885 "Incompatibilty of added cell-actions buttons in mobile view and typo error"
**Describe the bug**

The cell-actions buttons added for session confirmation are not compatible with the mobile view and a typo error in languages drop-down

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to create session'
2. create session
3. View the session card
4. Switch to mobile view
5. See error

**Expected behaviour**

Buttons should be horizontal for mobile view.

**Desktop (p

[2019-05-11 09:29] shreyanshdwivedi commented on #2853
@mariobehling can you please recheck if this issue persists or not? Since the PR https://github.com/fossasia/open-event-frontend/pull/2823 got merged, the completed and pending tickets are already separated. I think this issue needs to be closed now

[2019-05-11 09:30] shreyanshdwivedi commented on #2867
@kushthedude any update on this?

[2019-05-11 09:40] shreyanshdwivedi commented on #2801
@kushthedude if you are busy with some other issues, I would like to take this up

[2019-05-11 09:41] shreyanshdwivedi commented on #2835
@kushthedude are you still working on it?

[2019-05-11 10:10] kushthedude commented on #2801
Feel free to take it

On Sat, 11 May 2019 at 3:10 PM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-05-11 14:11] uds5501 commented on #2513
@CosmicCoder96 okay, on it

[2019-05-11 17:16] #2885 closed

[2019-05-11 17:41] kushthedude commented on #2669
@CosmicCoder96 @pradeepgangwar What about it?

[2019-05-11 18:17] uds5501 commented on #2852
@kushthedude can I take over?

[2019-05-11 18:19] kushthedude commented on #2852
@uds5501 did half work , will be pushing soon ,😅

[2019-05-11 18:22] uds5501 commented on #2852
Oh, can I take care of the state change part on the backend?

[2019-05-11 19:01] kushthedude commented on #2852
Just a question, Is there really need to handle it on backend , Cant we do all on frontend ?

[2019-05-11 19:03] uds5501 commented on #2852
@kushthedude How will you set the status to `expired` automatically after a day on the frontend?

[2019-05-11 19:06] kushthedude commented on #2852
Cool , 👍 Go on

[2019-05-11 20:12] kushthedude opened #2889 "No Section For `Confirmed Sessions`"
**Is your feature request related to a problem? Please describe.**

In `Admin/Sessions` There is no tab for `Confirmed Sessions`

**Describe the solution you'd like**

Create a tab for `Confirmed Sessions`

**Additional context**

On it

[2019-05-11 20:38] mohitm15 opened #2891 "Missing currencies corresponding to countries in drop-down"
**Describe the bug**

Some of the currencies are missing in the dropdown corresponding to the countries under the ticket section.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'create event'
2. Click on 'ticket section
3. Compare both drop-downs
4. See error

**Expected behaviour**

Add missing currencies

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04

[2019-05-11 21:06] kushthedude commented on #2796
@CosmicCoder96 I think its server issue , Please transfer it

[2019-05-11 21:24] mohitm15 commented on #2842
@kushthedude Any updates?

[2019-05-11 21:30] kushthedude opened #2893 "Dummy Button under `Tickets/Orders`"
**Describe the bug**

`Resend Confirmation` is a dummy button associated with no action.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Tickets/Order'.
2. Click on 'Mail Icon'.
3. See error.

**Expected behaviour**

Create an action associated with `Confirmation.

**Screenshots**

<img width="1170" alt="Screenshot 2019-05-12 at 2 53 51 AM" src="https://user-images.githubuserconten

[2019-05-11 21:31] kushthedude commented on #2842
@mohitm15 I cant reproduce , If you can reproduce , please ask @uds5501 if it still exists

[2019-05-11 22:45] mohitm15 opened #2894 "Adding list of ISD codes for the phone field"
**Is your feature request related to a problem? Please describe.**

Addition of list having ISD codes  corresponding to the country's abbreviation in the phone field

**Describe the solution you'd like**

added a drop-down list

**Additional context**

working on it

[2019-05-11 23:33] mohitm15 opened #2896 "Missing popup message/tool-tip in toggle eye"
**Describe the bug**

Since toggle eye icon is implemented but still the icon is very confusing, so added the missing tooltip just like  <b> implemented in gmail </b>

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'log in'
2. Click on 'toggle eye'
3. See ambiguity

**Expected behaviour**

A tooltip like in Gmail should be implemented

**Screenshots**

Gmail implementation snapshot
![

[2019-05-12 03:38] CosmicCoder96 commented on #2896
don;t want it, it's not aesthetic.

[2019-05-12 03:38] #2896 closed

[2019-05-12 03:43] #2513 closed

[2019-05-12 03:55] ritikamotwani commented on #2894
Duplicate of https://github.com/fossasia/open-event-frontend/issues/2578

[2019-05-12 03:55] #2894 closed

[2019-05-12 23:51] kushthedude opened #2898 "Show Descriptive Message when No Session or Speaker is Present"
**Is your feature request related to a problem? Please describe.**

Rather than Displaying Empty Statistics, Provide More descriptive messages when Speaker or Session is not added or present.

[2019-05-13 06:32] CosmicCoder96 opened #2900 "Deploy master branch automatically on Hetzner server"
Currently, the docker image has to be pulled from the docker hub, and the container is restarted to deploy the new commits. This process needs to be automated.

[2019-05-13 06:36] CosmicCoder96 opened #2901 "Set up deployment of development branch on Netlify"
Remove the failing Heroku deployment and replace it with Netlify

[2019-05-13 07:07] CosmicCoder96 opened #2903 "Google Maps widget does not work on netlify deployments"
Google Map API keys are not defined as variables when site is deployed on netlify.

[2019-05-13 07:11] #2901 closed

[2019-05-13 07:27] CosmicCoder96 commented on #2903
Was a misconfiguration in the netlify dashboard, fixed now.

[2019-05-13 07:27] #2903 closed

[2019-05-13 08:14] mariobehling opened #2904 "Admin Users Page 50"
The admin users page shows a 500 error: https://eventyay.com/admin/users/deleted

![Screenshot from 2019-05-13 10-14-32](https://user-images.githubusercontent.com/1583873/57605874-ed9bc200-7567-11e9-9019-c756d5543218.png)

[2019-05-13 08:22] mariobehling opened #2905 "Admin Mail Logs page at shows error"
Mail Logs page at https://eventyay.com/admin/reports/system-logs/mail-logs displays error messages when sorting. It also shows more than 10 messages even though 10 is set as default.

![Screenshot from 2019-05-13 10-20-26](https://user-images.githubusercontent.com/1583873/57606244-c72a5680-7568-11e9-9b6b-beb92ffbdea4.png)

[2019-05-13 15:02] CosmicCoder96 opened #2906 "Ticket downloads not working after refactor on server"
Tickets download's protected endpoint is not working correctly.

[2019-05-13 15:47] #2906 closed

[2019-05-13 20:15] mariobehling opened #2908 "Move any image assets in the documentation to repository"
The image in the Readme is loading from https://storage.googleapis.com/eventyay.com/assets/branding/frontend_branding.png

Please move it to the /docs/image/ folder and store all images in the documentation in the repo itself.

[2019-05-13 20:16] mariobehling commented on #2884
FOSSASIA has a code of conduct. We should not keep a CoC in the repos. This has been discussed before at other times. Please separate politics and code. Thanks.

[2019-05-13 20:16] #2884 closed

[2019-05-13 20:17] kushthedude commented on #2908
On it

[2019-05-13 21:37] kushthedude commented on #697
Working on it

[2019-05-13 21:59] mohitm15 commented on #697
@kushthedude needed to ask first pal

_Sent from my VIBE K6 Power using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-05-13 22:01] kushthedude commented on #697
No one is assigned an no one did some notable work and you already have
some unmerged PRs with changes requested on them .

On Tue, 14 May 2019 at 3:29 AM, Mohit Maroliya <notifications@github.com>
wrote:

[2019-05-13 22:02] mohitm15 commented on #697
@kushthedude so what l am waiting for confirmation to be get assigned

_Sent from my VIBE K6 Power using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-05-13 22:50] #2889 closed

[2019-05-14 01:35] mariobehling commented on #2584
This is out of scope as we are using pagination and this would be more of an advanced feature. However, we would need to check if this is really necessary. Right now we need to focus on actually fixing the bugs and getting the actual functionalities working. Therefore closing this.

[2019-05-14 03:18] uds5501 commented on #2905
Will have a look at it

[2019-05-14 06:18] #2853 closed

[2019-05-14 06:42] CosmicCoder96 opened #2912 "In order wizard,loading state is not used properly to disable forms and page"
The loading state should be used to disable the various fields while a request is being processed on the backend.

[2019-05-14 06:52] CosmicCoder96 opened #2913 "Increase the delay while triggering invoice print function"
Sometimes, print dialog is triggered before all the elements are initialised for printing.

[2019-05-14 07:18] CosmicCoder96 opened #2914 "Use Web API createObjectURL to serve files using blob received from server"
Current implementation causes problems with file encoding in the production environment.

[2019-05-14 08:02] #2914 closed

[2019-05-14 09:11] shreyanshdwivedi commented on #2867
@mariobehling I'm unable to reproduce on my local.
@uds5501 @mrsaicharan1 please check if you can reproduce this on your local?

[2019-05-14 09:15] mrsaicharan1 commented on #2867
@shreyanshdwivedi Can't reproduce this. Works fine locally.

[2019-05-14 10:26] kushthedude commented on #2867
@shreyanshdwivedi Use a Discount Code in public page of event and than use
previewbutton for the event , you will se the error

On Tue, 14 May 2019 at 2:45 PM, Saicharan Reddy <notifications@github.com>
wrote:

[2019-05-14 11:37] shreyanshdwivedi commented on #2867
@kushthedude please elaborate the steps

[2019-05-14 11:58] kushthedude commented on #2867
- Create a discount code for the event
- Apply the discount code on tickets.
- go to manage events and click on preview .
- you will see the discount code is still applied .

Mind if i takeover i have made some change in local if you say so
@shreyanshdwivedi 😅

On Tue, 14 May 2019 at 5:07 PM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-05-14 17:51] #2908 closed

[2019-05-14 18:23] shreyanshdwivedi commented on #2867
@kushthedude please go ahead

[2019-05-14 19:55] mariobehling opened #2920 "Only allow "Publish Event" If the Event has Relevant Info"
A user should always be able to save a draft with basic info. However in order to publish an event the following info should be required:
* Name of Event
* Location
* Dates
* At least one Ticket exists

Show an error message if the event does not have sufficient data to get published.

Please delete the option to show events from other platforms using a URL for now

[2019-05-14 19:55] shreyanshdwivedi commented on #2920
on it

[2019-05-14 20:54] mariobehling opened #2921 "Email not send for Ticket Orders"
Users don't receive an email with their order and PDF.

Expected: After a user orders a ticket, they should receive a PDF. If the attendee is a different person with a different email, the attendee should also receive an email.

[2019-05-14 23:03] mohitm15 opened #2922 "Capitilize 't' in 'Youtube' in all webpages of the app"
**Describe the bug**

 Currently `YouTube` is written as `Youtube` on the frontend. The `t` in YouTube must be capitalised as per the `YouTube` standards.

 **Expected behaviour**

 `t` in `YouTube` needs to be capitalised.

 **Screenshots**
![Screenshot 2019-05-15 04:14:06](https://user-images.githubusercontent.com/35539313/57737799-96fac900-76ca-11e9-8749-c70680a57679.png)

 **Additional context

[2019-05-14 23:16] #2845 closed

[2019-05-14 23:49] uds5501 commented on #2920
@shreyanshdwivedi should I handle the server part of this issue?

[2019-05-15 01:08] mrsaicharan1 commented on #2921
This is mostly a server side issue. Will solve this today.

[2019-05-15 01:35] uds5501 commented on #2921
@mrsaicharan1 I have been working on it for a while now, do you mind if I take over?

[2019-05-15 01:36] mrsaicharan1 commented on #2921
Sure, no problem. Meanwhile, Can I take the server part of this ? https://github.com/fossasia/open-event-frontend/issues/2920

[2019-05-15 01:41] uds5501 commented on #2921
@mrsaicharan1 No problem, go ahead!

[2019-05-15 02:17] uds5501 commented on #2921
@iamareebjamal Please send this issue to server side

[2019-05-15 03:45] #2922 closed

[2019-05-15 04:08] #767 closed

[2019-05-15 04:09] #2867 closed

[2019-05-15 04:38] iamareebjamal commented on #2920
Is the ticketing condition necessary? By default, it is allowed that the ticketing system be disabled

[2019-05-15 07:14] ritikamotwani commented on #2842
@uds5501 , it's working fine for me.
Could you please check again?

[2019-05-15 07:15] uds5501 commented on #2842
@ritikamotwani it's working fine via CFS, but I can't add a session using the add-session form in event\session tab. Is that working as well?

[2019-05-15 07:17] ritikamotwani commented on #2842
I didn't check it for cfs but checked it for events/{event_identifier}/sessions/create form.

[2019-05-15 07:24] uds5501 commented on #2842
@ritikamotwani Then I will close this issue for now and reset my browser, maybe it would work

[2019-05-15 08:23] #2842 closed

[2019-05-15 09:15] mariobehling commented on #2920
@iamareebjamal Our experience is that some spammers used this options. There are ways to deter them differently, but that requires more work and the benefit is small. So, for now, we should disable the option to switch off the ticketing system.

[2019-05-15 09:16] #1796 closed

[2019-05-15 09:21] mariobehling commented on #2482
@mohitm15

Yes, please remove it for now.

@CosmicCoder96

Yes, it will stop spam bot insterest, cause they are not able to add a link and increase their ranking in that field. There might also be an issue with other links, but let's see how this helps.

Also, currently we focus on income. At a later point we can re-evaluate if we want to add this option again, but for now we need to focus on peop

[2019-05-15 09:22] mariobehling commented on #2920
This is also related to this issue: https://github.com/fossasia/open-event-frontend/issues/2482

[2019-05-15 09:51] shreyanshdwivedi commented on #2920
@uds5501 actually there is not much to do in front-end for this issue, so I'll handle the server part too. 😅

[2019-05-15 10:06] uds5501 commented on #2920
@shreyanshdwivedi Sure

[2019-05-15 11:25] mrsaicharan1 opened #2925 "Link Print Invoice to server route"
**Describe the bug**
The `Print Invoice` button must be linked to the the server route which handles invoice serving as a PDF.

**Expected behaviour**
Should not give a screenshot of the window. Serve as a PDF similar to tickets

**Additional context**
Working on this. Waiting for corresponding serve PR to be merged https://github.com/fossasia/open-event-server/pull/5886

[2019-05-15 17:19] uds5501 commented on #2852
@kushthedude your PR is awaited

[2019-05-15 17:23] kushthedude commented on #2852
@uds5501 did your pr got merge?

On Wed, 15 May 2019 at 10:49 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-05-15 17:30] uds5501 commented on #2852
@kushthedude The PR will get merged, already approved. But it won't affect your PRs though, so you may push em whenever you feel like it :smile:

[2019-05-15 17:34] kushthedude commented on #2852
Cool ,

On Wed, 15 May 2019 at 11:00 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-05-15 19:12] CosmicCoder96 commented on #2904
@uds5501 @kushthedude @shreyanshdwivedi Can you reproduce this locally?

[2019-05-15 19:13] kushthedude commented on #2904
@CosmicCoder96 I was able to get this error when i had two superusers . Needed to remove one and it was fine then.

[2019-05-15 19:13] uds5501 commented on #2904
@CosmicCoder96 No, I can't.

[2019-05-15 19:14] shreyanshdwivedi commented on #2904
@CosmicCoder96 I also can't reproduce this locally

[2019-05-15 19:16] CosmicCoder96 commented on #2904
Hmm, I can't either, but this might be a clue. If anyone finds what's wrong please claim this, can't access this page in production at all.

[2019-05-15 19:21] CosmicCoder96 commented on #2904
Docker container logs:

[code]

[2019-05-15 19:51] uds5501 commented on #2904
@CosmicCoder96 this is an error at flask JSON rest API level.

[2019-05-15 19:52] CosmicCoder96 commented on #2904
@uds5501 Yes, also it is data dependent which is worrisome, probably Unicode related.

[2019-05-15 19:54] uds5501 commented on #2904
@CosmicCoder96 have a look at this , see if it helps

https://github.com/fossasia/open-event-server/issues/5661#issuecomment-470048751

[2019-05-15 20:00] CosmicCoder96 commented on #2904
@uds5501 I have tried that before, its a partial fix, more of a hack. On going deeper in the source code I was able to conclude it was a validation issue. Schema rejected the value it was getting. In some cases it was bad URLs which were 'supposed' to be URLs but contained spaces etc. Hence it couldn't become a list, but of course the data was there, so your solution forces the data into the list

[2019-05-15 20:40] CosmicCoder96 commented on #2904
@uds5501 @mariobehling a non-friendly unicoded single inverted comma in FOSDEM's (event id 711) code of conduct, three rouge users with emails of format abx@xyz (created in legacy due to lack of email validation were causing it). I have modified the CoC of FOSDEM, and deleted the fake users and events from production DB. Hence resolved now.

[2019-05-15 20:40] #2904 closed

[2019-05-15 21:33] mariobehling opened #2927 "Tables resulting in internal scroll bars and mobile view loosing table headers"
Internal scroll bars should be avoided. Please implement tables in a way that there is no scroll bar. Also ensure mobile views show table headers e.g. on https://eventyay.com/events/live

![Screenshot from 2019-05-15 23-17-21](https://user-images.githubusercontent.com/1583873/57811140-c7457480-7769-11e9-9d3c-4397d074ac72.png)

![Screenshot from 2019-05-15 23-31-53](https://user-images.githubuserco

[2019-05-15 21:52] shreyanshdwivedi opened #2928 "Transfer the ownership of your events to another organizer."
**Is your feature request related to a problem? Please describe.**

We are implementing feature to provide ability to a user to delete his/her account. If the user is associated with any event, he/she must be given choice to transfer the events to other organizers associated with the event. (Just like in GitHub)

**Describe the solution you'd like**

Something similar to `Github's Danger Zone`
![d

[2019-05-16 03:12] uds5501 commented on #2904
@CosmicCoder96 do we have any check to take care of these unicodes in text fields for now?

[2019-05-16 03:16] CosmicCoder96 commented on #2904
Yeah the new API will reject any data by default which does not fulfil validations.

[2019-05-16 03:20] uds5501 commented on #2928
@shreyanshdwivedi I have did some work regarding change in organisers. See if this is of any help.
https://github.com/uds5501/open-event-server/tree/change-organiser

If you say, I can help.in this issue

[2019-05-16 09:49] iamareebjamal commented on #2928
This should be transferred to the server

[2019-05-16 12:17] shreyanshdwivedi commented on #2928
@uds5501 as you've worked on server for this issue, you can handle server side if you want :)
I'll work on the front-end part to make it similar to GitHub danger zone.

[2019-05-16 13:24] kushthedude commented on #2927
@CosmicCoder96 Regarding this, as we are using `ember table` and I think there is no way to customize the width of columns

[2019-05-16 20:50] mariobehling opened #2929 "Create an app section for the Attendee and Organizer app on the front page and mobile app pages"
Please create sections for the mobile attendee app and organizer app on the start page.

Also create a landing page for the apps:
a) at /mobile-app for the attendee app (e.g. compare to https://www.eventbrite.com/eventbriteapp/) and b) at /organizer-app for the organizer app (e.g. compare to https://www.eventbrite.com/l/Organizer-check-in-app/)

[2019-05-16 22:03] kushthedude commented on #2929
On it

[2019-05-17 05:38] uds5501 commented on #2852
@kushthedude The PR has been merged at the server side, please push your PR here

[2019-05-17 06:06] kushthedude commented on #2852
Half of work is done , but i wont be able to push the pr today .

On Fri, 17 May 2019 at 11:08 AM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-05-17 07:40] liveHarshit opened #2932 "User redirected to home screen after authentication"
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Speaker session without login
2. Login
3. All previous pages lost

**Expected behaviour**
User should continue from the last session.

**Desktop (please complete the following information):**
 - OS: Ubuntu 19
 - Browser Chrome

[2019-05-17 10:41] mariobehling opened #2933 "Event Editing Buggy, Date Errors, Deleted Tickets Suddenly available again"
The editing of events is still buggy. Error messages appear and suddenly the error is gone. A common error when changing the date/time is that other fields are changed suddenly as well. Also the event sometimes cannot be saved. A message appears something like "start date should be before ticket sale ends". The dates are set in a logic way, but errors still stay. Another issue is that deleted tick

[2019-05-17 10:46] mariobehling opened #2934 "Events Dashboard showing URL in ticket field"
There should not be a URL in the ticket field.

![Screenshot from 2019-05-17 12-45-38](https://user-images.githubusercontent.com/1583873/57923165-c879bd00-78a1-11e9-80cc-ecc20ce7e11a.png)

[2019-05-17 10:47] shreyanshdwivedi commented on #2934
On it

[2019-05-17 10:49] mariobehling opened #2935 "Ticket Sales are coming in with invalid date"
The ticket sales for the Open Tech Summit Europe are showing "invalid date".

![Screenshot from 2019-05-17 12-49-01](https://user-images.githubusercontent.com/1583873/57923308-3b833380-78a2-11e9-9e8f-aa687539a359.png)

[2019-05-17 10:56] mariobehling opened #2936 "Download Tickets has file name "Tickets" instead of Event Name with details"
The file download at "Download Tickets" should have the file name as follows:
* [EventName]_Tickets_[OrderNumber].pdf

![Screenshot from 2019-05-17 12-54-37](https://user-images.githubusercontent.com/1583873/57923637-235fe400-78a3-11e9-91b0-9f317a47c214.png)

[2019-05-17 11:30] #1860 closed

[2019-05-17 11:36] CosmicCoder96 commented on #2934
@shreyanshdwivedi just reverting #2937 will do.

[2019-05-17 11:37] mariobehling opened #2938 "Organizer Dashboard Ticket Section: Date Column missing"
It is important for organizers to view tickets according to the date. The Date Column in the Orders and Attendees table is missing though.

E.g. here: https://eventyay.com/events/39a15c6e/tickets/orders/completed

![Screenshot from 2019-05-17 13-35-59](https://user-images.githubusercontent.com/1583873/57925548-e3036480-78a8-11e9-9cc7-ad58d6e0dd40.png)

[2019-05-17 11:42] shreyanshdwivedi commented on #2938
We haven't found any way to store completed date and time of tickets. Till it is resolved, addition of Date and Time column will be of no use.
You can see `Invalid date` below tickets.

[2019-05-17 12:26] pradeepgangwar commented on #2936
There is one more problem here. When using Firefox download tickets does not work. I ordered a ticket but was not able to download ticket in my local development environment.

I will try fixing this.

[2019-05-17 13:13] #2934 closed

[2019-05-17 15:16] ritikamotwani commented on #2932
Duplicate of : https://github.com/fossasia/open-event-frontend/issues/2396 and https://github.com/fossasia/open-event-frontend/issues/2370

Redirecting to the previous route is yet to be implemented for some routes.

[2019-05-17 15:16] #2932 closed

[2019-05-17 15:22] ritikamotwani commented on #2891
Opened without checking the documentation of PayPal and stripe.

[2019-05-17 15:22] #2891 closed

[2019-05-17 15:23] ritikamotwani commented on #2847
Not required for now.

[2019-05-17 15:23] #2847 closed

[2019-05-17 15:34] #2936 closed

[2019-05-17 15:39] CosmicCoder96 opened #2940 "Enable autodeploy on dockerhub"
In the current set up, environment variables set in the docker hub fail to pass to the docker environment in which the app is being built. Hence the generated image is not usable.

[2019-05-17 17:08] #2913 closed

[2019-05-18 03:55] CosmicCoder96 commented on #2938
@shreyanshdwivedi #2935 is resolved now.

[2019-05-18 04:15] shreyanshdwivedi commented on #2938
I'll open a PR today itself.

[2019-05-18 06:17] #2940 closed

[2019-05-18 06:25] mariobehling opened #2944 "Implement different VAT Tax Options"
Eventbrite shows a way to deal with the different tax options in Europe. We also need to implement this. Specifically we need to implement who (from which country) and how they should be charged.

https://www.eventbrite.co.uk/support/articles/en_GB/How_To/how-to-charge-vat-on-tickets-and-provide-attendee-tax-invoices?lg=en_GB

![Screenshot from 2019-05-18 08-24-21](https://user-images.githubuserco

[2019-05-18 06:28] CosmicCoder96 opened #2945 "Orders: Buyer info is missing after successful order"
![image](https://user-images.githubusercontent.com/17252805/57965612-21685480-7979-11e9-97df-6c68c7d6e7f6.png)

[2019-05-18 07:22] uds5501 commented on #2945
@CosmicCoder96 This issue is simple. This happens because the user has no name. and we are using the logged in user as the ticket buyer.
Also related : #2700
Current workaround could be that the user who bought the ticket saves a name in his profile. In the meanwhile we investigate further

[2019-05-18 09:01] #2938 closed

[2019-05-18 13:32] mariobehling opened #2947 "Events Dashboard: Move buttons to first column and improve design"
In the events dashboard at https://eventyay.com/events/live please move the buttons in the column "Actions" to the front below the name in horizontal order. Increase the size of the buttons and improve logic. Show 4 buttons:
* Event Dashboard button
* View Event button -> to public event page
* Edit Event

Don't show the "delete event button" in the dashboard.

![Screenshot from 2019-05-18 13-46-5

[2019-05-18 13:37] mohitm15 commented on #2947
@mariobehling on it

[2019-05-18 14:23] mariobehling opened #2949 "Orders Page: Move Actions to first column below existing info"
The actions column of the Orders Page cannot be sorted and it is not required that it has its own column. Please
* move it to the front row
* below the existing info
* increase the size of the icons
* make it in horizontal order

![Screenshot from 2019-05-18 16-20-07](https://user-images.githubusercontent.com/1583873/57971047-36e57a80-7989-11e9-83d7-c37d035f5c9c.png)

[2019-05-18 14:30] uds5501 commented on #2949
@mariobehling On it

[2019-05-18 16:26] kushthedude commented on #2947
@mohitm15 workin on it?

[2019-05-18 16:42] mariobehling opened #2951 "Event Organizer Orders Page: Expired Orders Showing up as Placed Orders"
Placed Orders are orders that are paid through offline methods. If an event has cheque payment for example an order can be made with a choice "placed order". The user can then pay it offline, at the event or transfer it outside of the system.

Currently orders are showing up in events that are expired and are not placed.

Pending orders should expire and just get move to the category "Expired" aft

[2019-05-18 16:54] shreyanshdwivedi commented on #2951
On it

[2019-05-18 16:59] #2945 closed

[2019-05-18 17:31] mariobehling opened #2952 "Create Session and Create Speakers Form have unlabeled input fields"
There are unlabeled input fields in the create sessions and create speakers form.

![Screenshot from 2019-05-18 19-30-32](https://user-images.githubusercontent.com/1583873/57973083-88026800-79a3-11e9-941e-2fe96126b963.png)

[2019-05-18 17:32] uds5501 commented on #2952
Looking into it

[2019-05-18 17:36] mariobehling opened #2953 "Implement a tick box for organizers/admin to override Email requirement"
When a speaker registers they have to enter an email. It must be possible to override this requirement for organizers/admins, e.g. if a VIP speaker does not want to sign up himself. Please implement a small tick box below the Email Field as follows. Only show this option for organizers/admins (not for speaker who submit this through the online form):
* [ ] Do not require email for this speaker.

!

[2019-05-18 17:42] uds5501 commented on #2952
@mariobehling Could you send a screen shot of custom registration form of the event?

[2019-05-18 17:59] shreyanshdwivedi commented on #2951
Just to clarify. Currently we are labeling all the orders with `paymentMode` as `bank`, `cheque`, `onsite` or `free` tickets as `Completed` tickets instantaneously. Here's what I'm planning to implementing -
 - Free orders will be labelled as `Completed` at the time of order
 - Orders with payment mode `bank`, `cheque`, `onsite` will be labeled as `Placed`
 - Orders with stripe/paypal as payment o

[2019-05-18 18:16] mohitm15 commented on #2953
@mariobehling on it

[2019-05-18 18:50] uds5501 commented on #2951
@shreyanshdwivedi Actually I was going to apply these changes in #2852 as @kushthedude  is a little busy. I think that this PR requirements will be covered in covered in that issue itself. As far as the expiry time is concerned, I made a scheduled task with specs of 24 hours. Maybe changing the duration would solve that too?

[2019-05-18 18:52] shreyanshdwivedi commented on #2951
Yeah. I was looking into it and found out that scheduled task is already there with a period of 1 day. Also, it was not much of the change so I made it locally. If you allow, I can push it in 5 minutes :sweat_smile:

[2019-05-18 18:53] uds5501 commented on #2951
Oh, in that case sure, go ahead @shreyanshdwivedi

[2019-05-18 19:26] uds5501 commented on #2929
@kushthedude still on it?

[2019-05-18 19:37] uds5501 commented on #2677
@CosmicCoder96 This must have been taken care of when you fixed the rogue emails. Please close this.

[2019-05-18 20:11] kushthedude commented on #2929
Yeah

On Sun, 19 May 2019 at 12:56 AM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-05-18 20:55] mariobehling opened #2956 "Add a "Order Form" Builder to collect User/Attendee/Byuer Info in Wizard Step 2"
Many event management have an Order Form. Please implement the same in Wizard Step 2 when users create an event.

Please compare the form builder of other systems e.g. here:
* https://www.eventbrite.com/support/articles/en_US/How_To/how-to-collect-information-from-all-event-attendees
* https://www.eventbrite.com/support/articles/en_US/How_To/how-to-create-custom-questions-for-attendees
* https://w

[2019-05-19 05:31] uds5501 commented on #2956
@mariobehling We have a customizable order form, right? Should the addition of new fields and custom form be placed in that only?

[2019-05-19 05:45] mariobehling commented on #2956
@uds5501 There is no form builder for - ticket buyers - yet. The form we have at checkout is only covering basic data.

[2019-05-19 10:25] kushthedude commented on #2953
@mohitm15 Status ?

[2019-05-19 10:27] kushthedude commented on #2944
Lookin on it !

[2019-05-19 11:17] kushthedude commented on #2952
@mariobehling @uds5501 To check the `unlabelled input field` , I enabled to collect all fields data and i cant see any unlabelled field in it .
<img width="699" alt="Screenshot 2019-05-19 at 4 45 59 PM" src="https://user-images.githubusercontent.com/44091822/57981483-ab85eb00-7a55-11e9-8bd6-d8e114e6988d.png">
<img width="654" alt="Screenshot 2019-05-19 at 4 46 07 PM" src="https://user-images.githu

[2019-05-19 11:19] kushthedude commented on #2956
@uds5501 Can I take FE implementation ?

[2019-05-19 14:30] uds5501 commented on #2952
@shreyanshdwivedi can you recreate this issue?

[2019-05-19 14:30] uds5501 commented on #2956
@kushthedude I was kind of hoping to take this one myself :sweat_smile:

[2019-05-19 15:17] mariobehling opened #2957 "Implement changing of submissions as bulk similar to Gmail"
Gmail has a feature to change emails in bulk. Please implement the same for sessions on the left hand side of the table.

![Screenshot from 2019-05-19 17-15-56](https://user-images.githubusercontent.com/1583873/57984206-d2462080-7a59-11e9-8b46-d7d5d3a8b7d9.png)

Gmail Bulk changes:

![Screenshot from 2019-05-19 17-16-47](https://user-images.githubusercontent.com/1583873/57984216-ea1da480-7a59-11e9

[2019-05-19 15:25] shreyanshdwivedi commented on #2957
Will work on it

[2019-05-19 15:30] mariobehling opened #2958 "Redesign Sessions Page and Add Lock/Unlock Column"
Please redesign the sessions page as follows:
* Add a button in front for bulk changes
* Take out "short abstract" column
* Move the actions icons below "Title" and increase the size
* Add a column "Track"
* Add a column "Type" e.g. to distinguish workshops and talks
* Add column with an icon to lock/unlock a session (this feature will lock a session and associated speaker which will prevent her/h

[2019-05-19 15:31] mariobehling opened #2959 "Research Rating Systems and Implement Ratings of Sessions"
Systems such as papercall.io provide a rating system. Please research how other systems implement ratings of sessions and propose and implement a rating of sessions.

![Screenshot from 2019-05-19 17-26-11](https://user-images.githubusercontent.com/1583873/57984422-f3a80c00-7a5b-11e9-8448-fe37e2a55771.png)

[2019-05-19 15:34] shreyanshdwivedi commented on #2958
As i am working on implementation of bulk changes, I'll take this up too

[2019-05-19 15:43] mariobehling opened #2960 "Implement a Tab "Team" and move Functionality of Team Section in Event Dashboard here"
The team dashboard has an invite and overview feature section. Please improve the team feature as follows:

1. Change the dashboard to only show the information, but without providing functionality. Instead provide a link to the "Team Tab" to edit this.

2. Move the functionality to the "Team Tab" after the "Speakers Tab"

![Screenshot from 2019-05-19 17-36-50](https://user-images.githubuserconten

[2019-05-19 16:13] mariobehling commented on #2956
@uds5501 Please also check out how other e.g. eventbrite are showing the information that is collected in those add on forms and implement it in Open Event. Thank you!

[2019-05-19 16:45] mariobehling commented on #2952
The screenshot is in the issue. Please activate all input fields in the final wizard step and see if you can recreate this.

[2019-05-19 16:47] kushthedude commented on #2952
@mariobehling i did the same and posted the ss above , all the fields have an input label

[2019-05-19 17:42] CosmicCoder96 commented on #2900
closed in #docker

[2019-05-19 17:42] #2900 closed

[2019-05-19 17:49] CosmicCoder96 commented on #2952
@mariobehling Seems like this is a legacy data issue, which event was this?

[2019-05-19 19:43] uds5501 opened #2963 "Step 1: Show existing order form in new event wizard"
## Implement the changes:
- Create new event wizard step
- Show the existing attendee form in the new step

Parent Issue : #2956

[2019-05-19 19:46] uds5501 commented on #2960
@mariobehling Once done with the step 1 of order form addition, i can take this up!

[2019-05-19 20:49] shreyanshdwivedi commented on #2958
I'm opening a sub-issue on server for implementing `locking a session` feature. It'll involve adding a new attribute `isLocked` to session which will be initially set to false. And handling a PATCH request to update it.
@mariobehling can I proceed?

[2019-05-20 08:17] mariobehling opened #2965 "Front Page: Upcoming Events/Call for Speakers - only show up to 12 events and limit to events with pics and online payments"
The front page often shows events that are not relevant and even test events that are empty. Please change the front page listing as follows.

In the section Upcoming Events and Call for Speakers:
a) only show up to 12 events per section
b) only show events that:
* Have a picture
* Have online payments
* Sold at least 5 paid tickets processed through online payment

![Screenshot from 2019-05-20 10

[2019-05-20 08:30] mariobehling opened #2966 "Public Event Page should show beginning and end date if event is over several days"
If an event is taking place over several days the event only shows the beginning date. Please show beginning and end date if the event is happening over several days.

![Screenshot from 2019-05-20 10-28-30](https://user-images.githubusercontent.com/1583873/58007271-37e1ed80-7aea-11e9-87a3-745c2a6f85f7.png)

[2019-05-20 08:48] mariobehling opened #2967 "Start Page Events should show City and Country"
If a street address is defined the events on the start page do not show the city and country of an event. Expected is: Show city and country.

![Screenshot from 2019-05-20 10-46-46](https://user-images.githubusercontent.com/1583873/58008453-b93a7f80-7aec-11e9-8f22-ca844b4870f4.png)

[2019-05-20 08:54] CosmicCoder96 commented on #2967
@mariobehling What about the street address? Should it still be there if city and country is shown?

[2019-05-20 08:55] CosmicCoder96 commented on #2960
@uds5501 I am breaking this up into sub-issues, will be working on some of them, you can take the rest.

[2019-05-20 09:03] CosmicCoder96 opened #2968 "Create UI for Teams Tab within Event Dashboard [UI-only]"
Parent #2960

Design a UI for the teams Tab, without making any changes to the existing manage roles section.

[2019-05-20 09:44] #2949 closed

[2019-05-20 09:57] #2967 closed

[2019-05-20 10:41] mariobehling opened #2970 "Front page: Show Most Used Event Cities in "Locations" Bottom Menu area"
The locations menu is currently empty. Please show the most active event cities here automatically.

![Screenshot from 2019-05-20 12-39-37](https://user-images.githubusercontent.com/1583873/58015831-84cebf80-7afc-11e9-8f00-bb136b24741f.png)

[2019-05-20 12:36] mariobehling opened #2971 "Call for Speakers Not working - Fields description disappeared in Wizard and Public Form"
Call for Speakers Not working - Fields description disappeared in Wizard and Public Form

![Screenshot from 2019-05-20 14-35-19](https://user-images.githubusercontent.com/1583873/58021960-ab94f200-7b0c-11e9-9780-dccfd87d343a.png)

[2019-05-20 12:46] mariobehling opened #2972 "Call for Speakers does not store text and dates correctly"
Creating a call for speakers does not work properly. The text and the dates are not stored correctly. Trying several times will finally store the correct value, but it does not always work right away.

![Screenshot from 2019-05-20 14-44-32](https://user-images.githubusercontent.com/1583873/58022585-0da22700-7b0e-11e9-9947-d1119a2a477c.png)

[2019-05-20 12:50] mariobehling opened #2973 "After adding Personal Details to Call for Speakers Pop up for Session Details does not show up"
Users are left clueless what to do after they add their personal details in a call for speakers. Expected is, that the pop up opens with the info "Please add your session details".

At least the below pop up should open, but it does not.

![Screenshot from 2019-05-20 14-47-36](https://user-images.githubusercontent.com/1583873/58022818-94ef9a80-7b0e-11e9-9d2b-8d1029105020.png)

[2019-05-20 13:03] mariobehling opened #2974 "Cannot change event cause of Ticket Sales End Message"
At times a ticket sales ends error message comes up, which sometimes suddenly disappears. In any case just leave it to the organizers when they want to sell a ticket (even if the event has ended). Get rid of the ticket sales end error, please.

![Screenshot from 2019-05-20 15-01-36](https://user-images.githubusercontent.com/1583873/58023498-375c4d80-7b10-11e9-979f-666434887229.png)

[2019-05-20 13:19] mariobehling opened #2975 "Notifications Panel does not show "Unread Messages""
Unread messages are not showing up in the Unread Messages page.

![Screenshot from 2019-05-20 15-16-09](https://user-images.githubusercontent.com/1583873/58024508-9cb13e00-7b12-11e9-997c-6b660bc1974c.png)

[2019-05-20 13:20] shreyanshdwivedi commented on #2975
Will work on it.

[2019-05-20 13:21] mariobehling opened #2976 "Notification Messages should be Paginated and Page should have "Mark All as Read" button"
Notification Messages in the "All" tab are currently not paginated. This could result in superlong pages that crash the browser and system, if users have thousands of messages e.g. from ticket sales. Please implement paginated pages and a button "mark all as read".

![Screenshot from 2019-05-20 15-17-45](https://user-images.githubusercontent.com/1583873/58024608-dda95280-7b12-11e9-8e32-860886a1437

[2019-05-20 13:40] mariobehling opened #2977 "Wizard Step 3: Speakers Form Resort and Re-add fields"
Speakers form elements are resorted and some are missing. Please add them.

Please ensure the following form elements are available in this order

- Name *
- Email *
- Photo
- Organisation
- Position
- Address <-
- Country
- City
- Short biography
- Long biography
- Speaking experience
- Sponsorship required
- Gender
- Where did you heard about our event?
- Mobile
- Website
- Facebook
- Twitter
-

[2019-05-20 13:45] mariobehling opened #2978 "Wizard Step 3: Session Details not as expected"
Please re-add speaker details and sort as follows in the speakers form:

- Title *
- Subtitle
- Short abstract
- Long abstract
- Comments
- Track *
- Session type
- Level
- Language
- Slides
- Video
- Audio

![Screenshot from 2019-05-20 15-47-15](https://user-images.githubusercontent.com/1583873/58026428-c79d9100-7b16-11e9-8a6c-f676630e22d5.png)

[2019-05-20 13:47] uds5501 commented on #2978
@mariobehling Taking this

[2019-05-20 13:47] uds5501 commented on #2977
@mariobehling While I work on #2978 I will take this one too!

[2019-05-20 13:48] mariobehling commented on #2977
Added a screenshot. Please see the details.

[2019-05-20 13:50] CosmicCoder96 commented on #2978
@uds5501 @mariobehling Nothing to do codewise, it will already be sorted for new events generated using the new system, we can just manually edit database for the important events on old system.

[2019-05-20 13:50] CosmicCoder96 commented on #2977
@uds5501 @mariobehling Nothing to do codewise, it will already be sorted for new events generated using the new system, we can just manually edit database for the important events on old system.

[2019-05-20 13:52] uds5501 commented on #2977
@CosmicCoder96 In that case please take care of it!

[2019-05-20 13:53] uds5501 commented on #2974
@CosmicCoder96 Can we auto update the ticket sales-end date as we change the dates of events? or should we remove the checks entirely?

[2019-05-20 13:58] CosmicCoder96 commented on #2977
@mariobehling @uds5501 Some of the missing fields were never created in the new system, so some of them from list don't exist. I will be taking this one as the approach would have to be legacy data compatible to tackle this. More discussion might be needed.

[2019-05-20 14:00] CosmicCoder96 commented on #2976
@mariobehling Will an infinity loading style like facebook notifications do?

[2019-05-20 14:07] uds5501 commented on #2973
@mariobehling will be taking this one!

[2019-05-20 15:08] prateekj117 commented on #2972
@mariobehling On it.

[2019-05-20 17:44] kushthedude commented on #2973
@uds5501 May i take this one as you have some issues to work on ?

[2019-05-20 17:57] uds5501 commented on #2973
@kushthedude Already started the work :sweat_smile:

[2019-05-20 17:58] kushthedude commented on #2973
Thats Great !!

[2019-05-20 18:01] kushthedude commented on #2966
Lookin on it

[2019-05-20 18:21] uds5501 commented on #2973
@CosmicCoder96 @mariobehling Suppose a user successfully enters the speaker details, what exactly do we want the behaviour to be after that?
Another modal popping up saying, 'please enter session details' and pointing to the submit proposal button?

[2019-05-20 18:25] shreyanshdwivedi commented on #2957
@mariobehling just to clarify. Here is what I'm planning to do. I'll add a checkbox which on being clicked will show the action buttons beside the checkbox in horizontal position and if a user applies any action, it'll be applied for all the sessions.
@uds5501 @kushthedude can you please suggest a good position for the checkbox? I don't find any appropriate place design wise.

[2019-05-20 21:50] kushthedude commented on #2957
@shreyanshdwivedi As far as I can see , the session tab is already to much congested , What you can do is provide a `List Icon` near search bar which on click will show a `Dropdown` with `Select` and `Select All` after one of them is selected , You can make `Checkbox` appear adjacent to `Action Buttons`

[2019-05-20 23:45] kushthedude commented on #2975
@shreyanshdwivedi can you reproduce it ?

[2019-05-21 03:01] CosmicCoder96 opened #2981 "Speaker form: Add instagram and address custom form fields to event wizard."
A sub-requirement for parent issue #2977
These fields were never created in the next-gen previously.

[2019-05-21 03:46] #2981 closed

[2019-05-21 03:49] CosmicCoder96 commented on #2974
@uds5501 Remove any and all checks from both FE + server for now.

[2019-05-21 04:02] mrsaicharan1 commented on #2959
I'll be working on this.

[2019-05-21 05:41] #2951 closed

[2019-05-21 08:40] prateekj117 commented on #2966
@kushthedude Still on it? If not, I would like to take this up.

[2019-05-21 08:41] prateekj117 commented on #2970
@mariobehling On it.

[2019-05-21 09:31] uds5501 commented on #2974
@CosmicCoder96 Alright, I will make it work!

[2019-05-21 09:54] #2799 closed

[2019-05-22 05:56] CosmicCoder96 opened #2985 "Unable to see tax details for existing events in edit wizard"
Even when an event has tax details already associated with it, none of the information is visible in the event wizard.

[2019-05-22 06:37] #2985 closed

[2019-05-22 08:30] #2855 closed

[2019-05-22 13:17] kushthedude commented on #2880
@ritikamotwani @uds5501 This was solved by recently merged PR of @iamareebjamal Regarding updation of dependencies, No need to keep it open now

[2019-05-22 13:17] #2880 closed

[2019-05-22 14:01] kushthedude commented on #2865
@CosmicCoder96 The PR merged above only removes the button from `Basic-Details` button is still present in other wizards .

[2019-05-22 15:20] anhanh11001 opened #2989 "Cannot scroll down to finish editting event"
**Describe the bug**
I was trying to edit an event in this screen but I couldn't find any finish button and this seems to be a section below "Choose payment method" that can be scrolled down, but I couldn't

Please see screenshots
**Screenshots**
<img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.15752-9/61068642_2413796892016318_4143830665323872256_n.png?_nc_cat=107&_nc_ht=scontent-ams3-1.xx&oh=

[2019-05-22 15:26] kushthedude commented on #2989
I think its your machine issue , Try to restart the server and FE

[2019-05-22 16:04] kushthedude commented on #2016
@prateekj117 On it ?

[2019-05-22 16:11] CosmicCoder96 commented on #2865
@kushthedude please remove it from other places in a separate PR. Just mark
it as a follow up to this one.

On Wed, 22 May 2019 at 10:01 PM, Kush Trivedi <notifications@github.com>
wrote:

[2019-05-22 16:16] kushthedude commented on #2865
@CosmicCoder96 Already made a PR please review it 😄

[2019-05-22 16:18] #2929 closed

[2019-05-22 16:19] prateekj117 commented on #2016
@kushthedude Go ahead.

[2019-05-22 16:27] prateekj117 commented on #2972
@mariobehling I cannot replicate this error locally. It's saving the `start_at` and `ends_at` in UTC. And no error in storing the text as well. @uds5501 @mrsaicharan1 @shreyanshdwivedi Can you guys please check locally as well and let me know.

[2019-05-22 16:59] prateekj117 commented on #2667
@CosmicCoder96 This looks like a server side issue.

[2019-05-22 17:09] kushthedude commented on #2253
@uds5501 Are we good to close ?

[2019-05-22 17:18] prateekj117 commented on #2798
@kushthedude I just wasted half an hour on this issue and realized later you already did a PR for it without claiming it. Even @uds5501 didn't take it up when I didn't reply for so many days. This is exactly why you always claim an issue first. And if the other person doesn't reply, then comment on it that you are taking it over due to inactivity.

[2019-05-22 17:22] prateekj117 commented on #2661
@CosmicCoder96 We can close this now.

[2019-05-22 17:25] kushthedude commented on #2661
@CosmicCoder96 I am still experiencing it

[2019-05-22 17:28] kushthedude commented on #2661
I get it , Its covered in PR made by @niranjan94

[2019-05-22 17:29] prateekj117 commented on #2798
@kushthedude No, don't close the PR. You must have given much more time to the issue now than me. Just comment from next time that you are taking over the issue due to inactivity.

[2019-05-22 17:29] kushthedude commented on #2798
@prateekj117 Will take care next time 😄

[2019-05-22 17:29] prateekj117 commented on #2661
@kushthedude Ya, so we can close the issue now?

[2019-05-22 17:30] kushthedude commented on #1282
@uds5501 @shreyanshdwivedi Are you able to face it ?

[2019-05-22 17:32] prateekj117 commented on #2709
@kushthedude Not facing this issue. Are you still able to reproduce it?

[2019-05-22 17:37] prateekj117 commented on #1282
@uds5501 I don't think this problem still persists in the system. I am also not facing the similar event-copyright error.

[2019-05-22 17:39] kushthedude commented on #2709
@prateekj117 See #2945

[2019-05-22 17:39] #2709 closed

[2019-05-22 17:46] kushthedude commented on #2966
@prateekj117 Working on it

[2019-05-22 20:51] shreyanshdwivedi commented on #2975
@kushthedude @mariobehling no. I'm also not able to reproduce it. I just ordered a ticket and viewed the notifications in the panel.
![Screenshot_2019-05-23 Unread Notifications Open Event](https://user-images.githubusercontent.com/25428397/58208003-79001a80-7d01-11e9-9421-268e2cc65ee0.png)

[2019-05-22 20:54] uds5501 commented on #2989
@anhanh11001 please send the console logs?

[2019-05-22 20:54] uds5501 commented on #2253
@kushthedude  I guess.

[2019-05-22 20:54] #2253 closed

[2019-05-22 21:01] shreyanshdwivedi commented on #2953
Taking this up due to inactivity

[2019-05-22 21:45] kushthedude commented on #2953
@shreyanshdwivedi If you have not done much on it , I wanted to take it 😅

[2019-05-23 03:00] shreyanshdwivedi commented on #2953
@kushthedude sure. Please go ahead :)

[2019-05-23 03:04] shreyanshdwivedi commented on #2959
@mrsaicharan1 I'll like to work on this alongside you. I think we are trying to give admin/organizer the functionality to rate a session here. Right?
I'm opening a sub-issue on server to add a new field `rating` in `session schema`.

[2019-05-23 05:50] uds5501 commented on #2974
@CosmicCoder96 This can be closed now

[2019-05-23 05:54] uds5501 commented on #2965
@CosmicCoder96 Taking over.

[2019-05-23 06:59] #2925 closed

[2019-05-23 07:00] #2958 closed

[2019-05-23 07:08] anhanh11001 commented on #2989
@uds5501 I think I can't get you any logs because this bug I get when I try the website as a normal user. I'm actually planning to make an event.

[2019-05-23 07:11] CosmicCoder96 commented on #2974
Fixed in https://github.com/fossasia/open-event-server/pull/5941

[2019-05-23 07:11] #2974 closed

[2019-05-23 07:12] uds5501 commented on #2989
@anhanh11001 hit F12 in your chrome browser when the page loads . Is there anything in red, unusual error like? screenshot that

[2019-05-23 07:16] CosmicCoder96 opened #2991 "Edit session proposal route still not using custom forms."
The fields available while filling a session proposal form and while editing it are different, possibly because custom form fields are not used.

[2019-05-23 07:17] anhanh11001 commented on #2989
Found it
[code]

[2019-05-23 07:56] #2991 closed

[2019-05-23 10:40] kushthedude commented on #2959
@shreyanshdwivedi @mrsaicharan1 As the `Rating System` has to be included , Have you guys planned a roadmap ` How are we going to implement it` ? I have some idea for it , As we developed a similar sort of thing for our gymkhana

[2019-05-23 10:59] kushthedude opened #2993 "Order Summary Improvements and Making it similar to EventBrite"
There is scope for several improvements in Tax Modal generated at `Order Checkout` -:

* [x] Include `Ticket Price` in row of every ticket
* [x] For a `Free Ticket` adding tax does not make any sense , Remove the `Column for Free Ticket`.
* [x] Fix the alignment issue in `Order Checkout`
* [x] Remove the `Discount Column` if no `Discount Code` is applied
* [ ] Show `Subtotal` inclusive of `Individ

[2019-05-23 14:34] kushthedude commented on #2993
@CosmicCoder96 @uds5501 @shreyanshdwivedi What you guys think about it ?

[2019-05-23 16:48] mohitm15 commented on #2966
@kushthedude I think its similar to #2650

[2019-05-23 16:50] kushthedude commented on #2966
@mohitm15 both are different

On Thu, 23 May 2019 at 10:18 PM, Mohit Maroliya <notifications@github.com>
wrote:

[2019-05-23 18:22] uds5501 commented on #2965
@CosmicCoder96 This issue will be requiring too many additional calls for different elements of event proxy. Do we need to take it as a priority right now?

[2019-05-24 04:24] CosmicCoder96 commented on #2965
No not a priority.  I have something else in mind, filtering which is
already there already makes the api call really slow for some reason. We
need to take a different approach to decrease load times on front page.
Let’s discuss it in the next meeting.

On Fri, 24 May 2019 at 2:22 AM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-05-24 04:50] CosmicCoder96 opened #2994 "Cannot place order after refactor"
Received this:
{"errors": [{"status": 403, "source": {"pointer": ""}, "title": "Access Forbidden", "detail": "You cannot update a non-pending order"}], "jsonapi": {"version": "1.0"}}

@shreyanshdwivedi Fix this and test with free and paid orders both locally. Then test with orders of payment through check for both guest and non-guest accounts.

[2019-05-24 04:55] shreyanshdwivedi commented on #2994
On it

[2019-05-24 05:46] uds5501 commented on #2965
@CosmicCoder96 Sure.

[2019-05-24 05:56] #2661 closed

[2019-05-24 06:18] shreyanshdwivedi opened #2995 "my-tickets: no tickets shown in upcoming open list"
**Describe the bug**

Previously, we were using `placed` status for pending tickets but now we have changed it to `pending` status. This needs to be updated as follows -
 - Completed and Placed tickets must be placed in the upcoming completed list
 - Pending tickets must be in the upcoming open list

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `My Tickets > Upcoming`
2. Click on `O

[2019-05-24 06:41] uds5501 opened #2996 "Querying an event in manage event section hangs at loading"
**Describe the bug**

When you try querying for any event or sorting at any level in manage event table, it hangs at the loading screen

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Manage event page
2. Type any event name in the search box
3. See error

**Expected behaviour**

It should work normally

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/5830

[2019-05-24 07:07] uds5501 opened #2997 "Pending order page doesn't load properly"
**Describe the bug**

The pending order page doesn't load properly.

**Expected behaviour**

It should load all the elements without any error

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/58309019-ac859680-7e20-11e9-8cd2-ecd06c09e8a1.png)

**Additional context**

On it with @mrsaicharan1

[2019-05-24 07:08] uds5501 commented on #2997
@CosmicCoder96 suggested priority : Urgent

[2019-05-24 13:49] #2994 closed

[2019-05-24 16:17] CosmicCoder96 opened #2999 "Paypal button throws error"
Can't get property 'POST' of undefined.

[2019-05-24 16:19] CosmicCoder96 commented on #2997
Fixed in https://github.com/fossasia/open-event-frontend/pull/2998

[2019-05-24 16:19] #2997 closed

[2019-05-24 16:19] CosmicCoder96 commented on #2995
Fixed in https://github.com/fossasia/open-event-frontend/pull/2998

[2019-05-24 16:19] #2995 closed

[2019-05-24 16:25] CosmicCoder96 opened #3001 "Pending and initialising orders don't show up in open orders of my-tickets"
Only placed orders are visible.

[2019-05-24 17:17] #2996 closed

[2019-05-24 17:21] CosmicCoder96 opened #3004 "Orders: Status colours inconsistent, too many in-template logic for handling them"
Order colors are not following a consistent color scheme across various routes and components, the logic of computing the corresponding color should be exported to a helper.

[2019-05-24 17:46] #3004 closed

[2019-05-24 17:46] #2999 closed

[2019-05-24 18:13] #3001 closed

[2019-05-24 19:45] CosmicCoder96 opened #3006 "Livereload is not working"
Live reload used to work before, now it says a 404 while fetching live-reload.js.
This slows down development flow.

[2019-05-24 22:48] mrsaicharan1 opened #3008 "Tax is not shown on the pending page"
**Describe the bug**
Whenever we try to place an order pertaining to a certain event which has tax associated with it, the tax is not being shown on the pending page.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any event with tax
2. Click on 'Order now'
3. See Error

**Expected behaviour**
The correct amount must be shown.
**Screenshots**
<img width="1242" alt="Screenshot 2019-05-

[2019-05-25 00:04] kushthedude commented on #3008
@mrsaicharan1 This follow the `International Guidelines` if you amount gets a decimal place less than 0.5 , It will rounded to the the corresponding number and in case of greater than 0.5 it will get rounded to next integer ,
See this i have made `Tax = 2.5 % `
<img width="900" alt="Screenshot 2019-05-25 at 5 31 17 AM" src="https://user-images.githubusercontent.com/44091822/58361792-b1912700-7eae-

[2019-05-25 11:05] prateekj117 commented on #2390
@CosmicCoder96 This seems like a temporary fix, though I think that this issue is of the server as @uds5501 commented above. Can you please transfer this to the server so that I can do the permanent fix there.

[2019-05-25 11:16] uds5501 commented on #2390
@prateekj117 this is an issue at the front-end only. Happening due to incorrect model relationships at ember model levels. The server side relations are working fine, I have verified

[2019-05-25 11:17] prateekj117 commented on #2390
@uds5501 Thanks for the info. In that case, I will look into it.

[2019-05-25 12:23] prateekj117 commented on #2077
@kushthedude Taking this over due to inactiveness.

[2019-05-25 12:23] kushthedude commented on #2077
@prateekj117 go on

[2019-05-25 13:50] #3008 closed

[2019-05-25 18:06] shreyanshdwivedi opened #3010 "stripe setup raising errors"
**Describe the bug**

After recent dependency update, I disconnected my stripe connection from one if the events and tried to reconnect it.
It is raising this error on FE -
[code]
And on network response tab this is the error -
[code]

**Additional context**

I tried to find out root cause and read somewhere that it is related to dependency.

[2019-05-25 19:34] kushthedude commented on #3010
<img width="999" alt="Screenshot 2019-05-26 at 1 01 53 AM" src="https://user-images.githubusercontent.com/44091822/58373831-15b8f700-7f52-11e9-9f83-476da3445863.png">
Issue with `Connect With Stripe` and Jquery dependancy has been depreciated too

[2019-05-25 20:57] shreyanshdwivedi opened #3012 "Transfer the ownership of your events to another organizer."
We are implementing feature to provide ability to a user to delete his/her account. If the user is associated with any event, he/she must be given choice to transfer the events to other organizers associated with the event. (Just like in GitHub)

![github](https://user-images.githubusercontent.com/25428397/58374541-ad701280-7f5d-11e9-82fd-33afed63c980.png)

**Additional context**
Server issue: htt

[2019-05-25 20:59] kushthedude commented on #3012
@shreyanshdwivedi Can i take this ?

[2019-05-25 21:01] shreyanshdwivedi commented on #3012
I'm working on it @kushthedude
Will be pushing the PR soon

[2019-05-25 22:47] kushthedude commented on #2794
Since the PR related to it closed , I will be working on in now

[2019-05-26 07:15] niranjan94 commented on #3010
@kushthedude the deprecation warning is _not_ related to this error at all. We can safely ignore the warning as far as the stripe issue is concerned.

[2019-05-26 07:17] kushthedude commented on #3010
@niranjan94 , actually as soon as i click on Connect With Stripe the console flashes this warning and server logs dont show anything, so thought it might be the reason

[2019-05-26 08:04] niranjan94 commented on #3010
@shreyanshdwivedi could you tell me when the error occurs ? I tried it on a fresh event (during event creation) and stripe connects properly.

Steps to reproduce would be helpful in solving this.

[2019-05-26 08:07] shreyanshdwivedi commented on #3010
@niranjan94 I disconnected stripe on an already existing event and then tried to reconnect, which caused this error

[2019-05-26 08:27] niranjan94 commented on #3010
Lemme try that

[2019-05-26 11:24] niranjan94 commented on #3010
@shreyanshdwivedi I'm unable to reproduce this. Could you try again and give a complete stack trace this time (from the console) pointing to the exact line and file the error is being thrown from ?

[2019-05-26 11:25] kushthedude commented on #3010
@niranjan94 , whenever i try to create an event and click connect with
stripe , i get error and nothing happens .

On Sun, 26 May 2019 at 4:54 PM, Niranjan Rajendran <notifications@github.com>
wrote:

[2019-05-26 11:31] niranjan94 commented on #3010
@kushthedude a bit more information about the error would be helpful. all the developers should make it a point to report an error along with a complete stacktrace. Frontend is weird in a way that something that works on one's browser may not always work the same on someone else's. So a stacktrace would be really helpful to nail the bug.

[2019-05-26 11:32] kushthedude commented on #3010
@niranjan94 i provided the console logs above and whenever i try to click
on connect with stripe that depreciation warning comes.

On Sun, 26 May 2019 at 5:01 PM, Niranjan Rajendran <notifications@github.com>
wrote:

[2019-05-26 11:35] niranjan94 commented on #3010
@kushthedude your screenshot contains only the deprecation logs. Which like I said can be ignored. Without any issue _for now_. a deprecation warning is just a _warning_ that something we are using will be removed in the future versions. deprecations by definition will not break anything.

So, we need to look for errors (red). And also, console logs, paste them as text and not screenshot please. E

[2019-05-26 11:36] kushthedude commented on #3010
Will provide more info .

On Sun, 26 May 2019 at 5:05 PM, Niranjan Rajendran <notifications@github.com>
wrote:

[2019-05-26 12:39] kushthedude commented on #3010
@niranjan94 Had the same buggy issue on safari which was tweaking with keys , Tried with chrome its working fine and @shreyanshdwivedi I checked adding stripe to a pre-existing event , Its working great too

[2019-05-26 14:50] niranjan94 commented on #3010
Thanks for the update @kushthedude 😄
Closing this issue for now.

[2019-05-26 14:50] #3010 closed

[2019-05-26 14:52] mrsaicharan1 commented on #2944
@kushthedude As you're busy with 2-3 issues , I'd like to take this due to inactivity :)

[2019-05-26 15:04] mrsaicharan1 opened #3016 "Call for Speakers page Error"
**Describe the bug**
The cfs event has an error when its trying to be accessed.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any event with Call for Speakers.
2. Click on **Call for Speakers.**
3. See error

**Expected behaviour**
The CFS page must open as usual

**Error log**

`Error while processing route: public.cfs.index – "undefined is not an object (evaluating 'transition.par

[2019-05-26 15:48] mrsaicharan1 commented on #3016
@CosmicCoder96 @niranjan94 What are we using
`let hash = transition.params['public.cfs'].speaker_call_hash` for in CFS?

In `app/routes/public/cfs/index.js`

[2019-05-27 00:53] kushthedude commented on #2944
Cool

[2019-05-27 00:57] shreyanshdwivedi commented on #2953
@kushthedude any update?

[2019-05-27 01:00] kushthedude commented on #2953
Will be pushing PR soon

On Mon, 27 May 2019 at 6:27 AM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-05-27 01:03] kushthedude commented on #3016
@mrsaicharan1 Are you on it ?

[2019-05-27 01:06] mrsaicharan1 commented on #3016
Yup.

On Sun, 26 May 2019 at 8:03 PM, Kush Trivedi <notifications@github.com>
wrote:

[2019-05-27 01:07] kushthedude commented on #3016
Cool , Go on :)

[2019-05-27 01:30] shreyanshdwivedi commented on #2972
@prateekj117 any update?

[2019-05-27 04:09] CosmicCoder96 opened #3018 "Switch from ember-model-tables to Ember tables"
Ember-model-tables are quite rigid, as even the querying is handled by them. We have over customised and tweaked them to make sorting, and searching work. The future updates may or may not be compatible with our custom changes. Also as the app grows we need more flexibility while querying the API.

Reference:
https://opensource.addepar.com/ember-table/latest/docs/

The reactor will be one table at

[2019-05-27 04:13] kushthedude commented on #697
@ritikamotwani The PR merged above is not the proper fix ,There is still a lot of extra space in the table areas , Respective PR just removes an additional container , and nothing else .
Please reopen the issue.

[2019-05-27 04:16] ritikamotwani commented on #697
@kushthedude , I was about to.
You can take a look at the PR (https://github.com/fossasia/open-event-frontend/pull/3015) description it says Partially resolves.
Merging the PR closed the issue. :)

[2019-05-27 04:18] kushthedude commented on #697
I responded too fast 😅

On Mon, 27 May 2019 at 9:46 AM, Ritika <notifications@github.com> wrote:

[2019-05-27 04:19] #3006 closed

[2019-05-27 18:43] kushthedude commented on #2976
@CosmicCoder96 Can I implement Pagination ?

[2019-05-27 18:51] kushthedude commented on #2927
Working on it

[2019-05-28 01:40] kushthedude opened #3020 "endsAtDate attribute defined in Event Models is buggy"
**Describe the bug**

My event start and end date were June 27,2019 and June 30,2019 respectively
Data stored in startsAtDate and endsAtDate were 6/27/2019 and 07/01/2019 respectively

**To Reproduce**

Steps to reproduce the behaviour:

Check the `event.endsAtDate` it would give a result greater than one day .

**Expected behaviour**

Find the cause of the bug and Fix it.

[2019-05-28 02:23] kushthedude opened #3022 "Failing Build of Development Branch"
After the integration of `Live Reload ` in the app according to PR #3007 , Some test are failing .
<img width="1000" alt="Screenshot 2019-05-28 at 7 50 30 AM" src="https://user-images.githubusercontent.com/44091822/58446239-9b3cd280-811d-11e9-9323-2bfcaec58b55.png">

[2019-05-28 02:34] mrsaicharan1 opened #3023 "Integration of AliPay Frontend"
**Describe the Feature**
This serves as a parent issue alluding to the frontend implementation of the AliPay Payment Gateway.
This issue includes the settings inclusion of AliPay Gateway, basic-wizard-setup inclusion and linkage of the frontend to the server.

**Additional context**
Working on this.

[2019-05-28 05:01] uds5501 opened #3025 "Event Scheduler not working"
**Describe the bug**

On putting any session on the table, their is a network error, apparently due to session id not being captured

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Scheduler'
2. Put any session on the scheduler
3. See error

**Expected behaviour**

This error shouldn't occur

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/58452085-af8bca

[2019-05-28 05:19] niranjan94 commented on #3025
@uds5501 always add the stacktrace as plaintext with all bug reports. If it a network request, also add information on the payload that was sent to the server and the response. (from the browser's dev tools)

[2019-05-28 05:22] uds5501 commented on #3025
This is the stack trace :
![Screenshot from 2019-05-28 10-50-51](https://user-images.githubusercontent.com/21087061/58452867-95072000-8136-11e9-89f6-754ac524cd49.png)
Apparently the errors is that we aren't able to capture the session Id properly

[2019-05-28 05:35] CosmicCoder96 commented on #3025
@uds5501 Check what changed in the scheduler in the refactor upgrade, this
was working before.

On Tue, May 28, 2019 at 1:22 PM Uddeshya Singh <notifications@github.com>
wrote:

[2019-05-28 06:15] uds5501 commented on #3025
@CosmicCoder96 I restored it to the version before the refactor. Apparently, the error existed there too. The changes which took place where only using ES5 getters.

[2019-05-28 06:42] uds5501 commented on #3025
Update: The problem lies in `this.updateSession(start, end, resourceId, $(ui.helper).data('serverId'));` in the drop action. `$(ui.helper).data('serverId')` isn't fetching anything.

@niranjan94 @CosmicCoder96

[2019-05-28 06:46] kushthedude commented on #3025
@uds5501 AFAIK i did highlight the type error on the server channel , but during that time, i dont know why did we ignore it?

[2019-05-28 06:48] uds5501 commented on #3025
@kushthedude
point 1 - Server Channel. It's clearly a frontend issue.
point 2 - Too many issues at a time and not reported on github itself (AFAIK)
point 3 - Triage would be way more helpful right now :)

[2019-05-28 07:52] mariobehling opened #3026 "Existing users are required to confirm account again and receive error page"
Existing users and admins are required to confirm their account again.

![Screenshot from 2019-05-28 09-49-58](https://user-images.githubusercontent.com/1583873/58460555-3342b800-812e-11e9-819b-4175fa81bbd2.png)

When user receives a confirmation link and clicks on it s/he receives an error page.

![Screenshot from 2019-05-28 09-38-15](https://user-images.githubusercontent.com/1583873/58460546-2cb

[2019-05-28 08:16] CosmicCoder96 commented on #3022
it hasn't really been affected by livereload, other PRs are also randomly failing. @niranjan94 Can you help with this? I am not sure what's causing random TimeOuts on acceptance tests which requires login.

[2019-05-28 08:19] CosmicCoder96 commented on #2952
Fixed now.

[2019-05-28 08:19] #2952 closed

[2019-05-28 08:23] CosmicCoder96 commented on #2856
Fixed now. Was an issue with legacy data.

[2019-05-28 08:23] #2856 closed

[2019-05-28 08:24] CosmicCoder96 commented on #2676
duplicate of https://github.com/fossasia/open-event-frontend/issues/2794

[2019-05-28 08:24] #2676 closed

[2019-05-28 08:24] CosmicCoder96 commented on #2667
@uds5501 Was this resolved by your PR to the dependency?

[2019-05-28 08:26] uds5501 commented on #2667
@CosmicCoder96 I will check and let you know

[2019-05-28 08:30] CosmicCoder96 commented on #1902
Has been resolved.

[2019-05-28 08:30] #1902 closed

[2019-05-28 08:31] CosmicCoder96 commented on #2141
duplicate of https://github.com/fossasia/open-event-frontend/issues/2794

[2019-05-28 08:31] #2141 closed

[2019-05-28 08:56] uds5501 commented on #2989
@anhanh11001 Can you still face this issue? I can't reproduce this on my local. Can you please tell me the steps how did you came across this error?

[2019-05-28 09:05] uds5501 commented on #2667
@CosmicCoder96 my PR did not handle this, so yes, it's still there

[2019-05-28 09:19] mrsaicharan1 commented on #3016
@shreyanshdwivedi @uds5501  What are we using
`let hash = transition.params['public.cfs'].speaker_call_hash` for in CFS?

[2019-05-28 09:46] anhanh11001 commented on #2989
It's normal now. I think I can close this, but I'm not sure the problem is fixed. Initially, I created the event from the open-event-orga android app and then I tried to edit some information in the website.

[2019-05-28 09:46] #2989 closed

[2019-05-28 09:54] mariobehling opened #3027 "Mark Ticket as "Checked In" on my ticket page ones it is checked in"
There is no way to see if a ticket is checked in or not. Please show tickets as status "Checked In" on the my ticket page: https://eventyay.com/my-tickets/

![Screenshot from 2019-05-28 11-48-31](https://user-images.githubusercontent.com/1583873/58469164-4611b880-813f-11e9-9eee-1441bb6bbcef.png)

[2019-05-28 10:01] uds5501 commented on #3027
@mariobehling will take a look

[2019-05-28 10:08] uds5501 commented on #3027
@mariobehling shall I have a look?

[2019-05-28 13:03] kushthedude commented on #3022
Sure

On Tue, 28 May 2019 at 1:46 PM, Abhinav Khare <notifications@github.com>
wrote:

[2019-05-28 14:26] mrsaicharan1 commented on #3016
@CosmicCoder96    ` const hash = transition.params['public.cfs'].speaker_call_hash;`
Can you tell me what the hash is used for?

[2019-05-28 15:10] shreyanshdwivedi commented on #3027
Will work on it

[2019-05-28 18:23] shreyanshdwivedi commented on #1890
@uds5501 @CosmicCoder96 after the change of order flow recently, I don't think this issue is relevant anymore. The order flow is working fine for now. Please verify

[2019-05-28 18:29] shreyanshdwivedi commented on #2975
@CosmicCoder96 @uds5501 @kushthedude  I'm unable to reproduce this issue on my local. Please verify is this issue persists or we can close this issue

[2019-05-28 18:33] kushthedude commented on #2975
@shreyanshdwivedi
We can verify it on `Eventyay` , Did you get the notification when i acceptance my invite as `Co-Organizer` for your event ? , If you are not sure. , I will create an Proposal and you can check if you get the `Notification` under the panel .

[2019-05-28 20:44] CosmicCoder96 commented on #3025
@uds5501 I was able to fix this, but it's not the ideal solution -- more of a workaround. Using global Jquery selectors insteadd of importing it fixes this. After dependency upgrades, something about the way Jquery is injected in the app has changed. Not sure which one caused this yet, but working on it.

Reference: https://github.com/emberjs/ember-jquery/issues/8

[2019-05-28 20:51] CosmicCoder96 commented on #2927
@kushthedude Check out the components for table cells, inside ui-table, there are template files.

[2019-05-28 20:52] #2852 closed

[2019-05-28 20:53] CosmicCoder96 commented on #2852
Irrelevant now, default status has been changed to pending.

[2019-05-28 20:53] CosmicCoder96 commented on #2674
Duplicate of #2171

[2019-05-28 20:53] #2674 closed

[2019-05-28 20:55] kushthedude commented on #2927
@CosmicCoder96 What i was planning to do here was ,`In Manage Events ` we have shifted the `Cell Action` column beneath the Event Name , I was planning to do such thing for `Admins/Events` too , What you say about it ? And regarding the `Loose Table Headers` , I have something which can partially solves it .

[2019-05-28 21:05] CosmicCoder96 commented on #2481
@kushthedude it was because of some unrefactored legacy data, it is fixed now.
![image](https://user-images.githubusercontent.com/17252805/58512284-4ce80c00-81cf-11e9-9c8d-4ea0ebb56e31.png)

[2019-05-28 21:05] #2481 closed

[2019-05-28 21:27] shreyanshdwivedi commented on #2920
@CosmicCoder96 please review the PR opened for this issue and reply to this comment https://github.com/fossasia/open-event-frontend/pull/2926#issuecomment-493275005

[2019-05-28 21:54] mrsaicharan1 commented on #2171
@CosmicCoder96 How do I pass the Maps keys? I couldn't find a way to test the fix.

[2019-05-28 21:55] kushthedude commented on #2171
@mrsaicharan1 When you are getting keys for maps api you get an option to select for maps too , that key is only used for maps too in the .env file

[2019-05-28 23:36] kushthedude commented on #3022
@CosmicCoder96 I checked it out , Its very random, Two of my PR's were failing `Travis due to acceptance test which required login` , but as soon as I rebased them `Travis Build Passed` ,
Similarly in our `Development Branch` yesterday after you merged PR related to `Live reload` the build failed and after a new commit today `Build is Passing`

[2019-05-29 06:23] mariobehling opened #3033 "Cannot Edit Event "Object Not Found" error message on wizard step 1"
On the event wizard step 1 I receive an error "Object Not Found". Even if I don't change anything I am not able to edit the event.

![Screenshot from 2019-05-29 08-16-38](https://user-images.githubusercontent.com/1583873/58534273-17e9b280-81eb-11e9-864d-359c623a9de3.png)

[2019-05-29 07:37] #3025 closed

[2019-05-29 09:11] niranjan94 commented on #3022
@CosmicCoder96 will take a look at this locally later tonight (IST)

[2019-05-29 13:52] #3016 closed

[2019-05-29 14:12] #2973 closed

[2019-05-29 15:39] CosmicCoder96 commented on #3033
Resolved in #3034

[2019-05-29 15:39] #3033 closed

[2019-05-29 15:40] CosmicCoder96 opened #3037 "Stripe dialog always shows USD"
On FE, it ignores the currency of the event, and always shows the default currency which is US$.

However, the charge is still made in the correct currency.

[2019-05-29 15:50] #2614 closed

[2019-05-29 16:06] #3037 closed

[2019-05-29 17:30] #2171 closed

[2019-05-29 19:38] kushthedude commented on #2396
@CosmicCoder96 Its duplicate of #2370 ,

[2019-05-29 20:21] shreyanshdwivedi commented on #2975
@kushthedude I didn't receive a notification when you accepted the invitation. However every time you were accepting/rejecting a proposal, it came to my notification panel. I don't remember if I read it earlier or not but it is showing in my read msgs.

![Screenshot_2019-05-30 All Notifications eventyay](https://user-images.githubusercontent.com/25428397/58588142-a5c1ae00-827c-11e9-9657-d5e13453a4

[2019-05-29 20:51] kushthedude opened #3039 "CFS is BROKE AGAIN"
CFS is broke due to the recent merged PR's Again .
Attaching the stack trace :-
<img width="1440" alt="Screenshot 2019-05-30 at 2 20 32 AM" src="https://user-images.githubusercontent.com/44091822/58590336-8711e600-8281-11e9-889e-7e1f3407ab17.png">

#### Additional Context -:
Working On It with Priority

[2019-05-30 04:05] shreyanshdwivedi commented on #2975
@uds5501 @mrsaicharan1 can you please verify if this issue persist or not?

[2019-05-30 05:58] #3039 closed

[2019-05-30 07:02] iamareebjamal commented on #2077
@prateekj117 What's the status? Please take on one issue at a time and complete it in one day at max

[2019-05-30 07:04] prateekj117 commented on #2077
@iamareebjamal Was not able to solve this one. Couldn't find what the problem was exactly. Anyone else is free to take this one up.

[2019-05-30 07:05] kushthedude commented on #2077
@iamareebjamal @CosmicCoder96 I have had a quick tweak for the above issue #2387  , Which could fix it thereafter only , As the error is in `Ember-UI-Time-Selector` , For the period until we find a proper solution we can use it .

[2019-05-30 07:10] kushthedude commented on #2975
@shreyanshdwivedi Just verified on `eventyay` , Getting `Unread Notification` as expected , @CosmicCoder96 Request you to close the following
<img width="1040" alt="Screenshot 2019-05-30 at 12 39 45 PM" src="https://user-images.githubusercontent.com/44091822/58615189-134ef800-82d8-11e9-94cf-01a59b6644be.png">

[2019-05-30 15:15] onechiporenko commented on #3018
Hi, @CosmicCoder96. I glad that you have used `ember-models-table` and I'm interesting which  difficulties you get while working with it. It's sad that you are going to switch table-component and I want to understand what was going wrong and improve `models-table` to make it better/user friendly/easy to use etc. Anyway good luck to you with your awesome project!

[2019-05-30 17:35] uds5501 commented on #3026
@CosmicCoder96 This is happening to me at the local level too.

The verification link is supposed to be of this format, if I am correct, `http://localhost:4200/verify?token=WyJhYmNAYWJjLmNvbSIsICJDM0I3MkEiXS5aTHBmVXJObTFuUzU3Tzk0V2RqWmZVMnIwamM%3D`

but it's showing the same error link

[2019-05-30 17:58] uds5501 commented on #3026
@CosmicCoder96 Pushing the solution for the verification page error. I can't recreate this recurring verification request though

[2019-05-30 22:38] mrsaicharan1 commented on #3022
What was the reason for this?

[2019-05-30 22:41] kushthedude commented on #3022
@mrsaicharan1 TBH , Still not known ,Failing was 'random' but the issue could be with `Assert(login)` as all the failing test cases were related to with `Login`

[2019-05-31 04:47] kushthedude opened #3043 "Sessions not listed under Speaker on Public Page"
**Describe the bug**

`Session` of the Speaker are not getting listed under `Its Heading` on `Public Pages`

**To Reproduce**

Steps to reproduce the behaviour:

- Create an `Speaker and Session`
- Check on `Event Public Page` under `Speaker Sub-Heading`
- See Error

**Expected behaviour**

Proper Listing should be their

**Screenshots**

<img width="1264" alt="Screenshot 2019-05-31 at 10 17 32 AM

[2019-05-31 05:23] kushthedude commented on #2600
Taking this due to inactivity

[2019-05-31 14:32] CosmicCoder96 commented on #2905
Was due to legacy data, cleared now.

[2019-05-31 14:32] #2905 closed

[2019-06-01 09:51] shreyanshdwivedi commented on #2975
@CosmicCoder96 please close this issue. It isn't reproducible

[2019-06-03 05:37] prateekj117 commented on #2370
@CosmicCoder96 @uds5501 Would like to work on this.

[2019-06-03 05:48] kushthedude commented on #2370
@prateekj117 feel free to work upon AFAIK. , no one is assigned for now

[2019-06-03 06:07] kushthedude commented on #2058
@CosmicCoder96 I would like to solve it please assign me

[2019-06-03 06:11] kushthedude opened #3049 "Session is getting created without Speaker Details"
**Describe the bug**

Session is getting created without Speaker Details

#### Steps to reproduce the behaviour:

- Try to create session without choosing any speaker

**Expected behaviour**

Throw the error

**Screenshots**

<img width="1440" alt="Screenshot 2019-06-03 at 11 38 45 AM" src="https://user-images.githubusercontent.com/44091822/58779705-5b319000-85f4-11e9-96d0-4d5a9f8c701d.png">

[2019-06-03 06:32] uds5501 commented on #3049
@kushthedude This is an intended feature.

[2019-06-03 06:51] kushthedude commented on #3049
@uds5501 Can you provide more details?

[2019-06-03 06:53] uds5501 commented on #3049
@kushthedude AFAIK, an organiser can make a session without any speaker (it was always intended, it was my PR due to which this flow broke for a while) .
- A session may have no speaker
- A speaker has to be associated with a session.

Of course, @CosmicCoder96 @shreyanshdwivedi can correct me if I am wrong

[2019-06-03 07:42] shreyanshdwivedi commented on #3049
I agree with what @uds5501 is stating here.

[2019-06-03 07:43] anhanh11001 opened #3051 "Links to privacy policy and terms page is not working"
**Describe the bug**
Please add a privacy policy and terms&conditons pages. Currently, the URL: https://eventyay.com/privacy-policy/ and https://eventyay.com/terms/ is redirecting to a Error 404 page

**Additional context**
Based on the mobile meeting discussion yesterday: https://docs.google.com/document/d/169tq2sr7lF_RnWnXA7hGVEIhQsrHT9tQjB32hHdlUL8/edit

[2019-06-03 07:45] shreyanshdwivedi commented on #3051
@anhanh11001 do you have any policy/terms and condition draft currently?

[2019-06-03 07:45] anhanh11001 opened #3052 "Map is not working in some event"
**Describe the bug**
In some events, map displayed in the main page doesn't show any particular location. Example attached below

**Screenshots**
<a href="https://ibb.co/dmN8cvf"><img src="https://i.ibb.co/CPjRtyw/fadsf.png" alt="fadsf" border="0"></a>

[2019-06-03 07:47] anhanh11001 commented on #3051
I don't. @mariobehling do we have the drafts before?

[2019-06-03 07:48] kushthedude commented on #3051
@shreyanshdwivedi Do we need them ? I have the ss of legacy pages , Can implement them

[2019-06-03 07:48] #3049 closed

[2019-06-03 07:49] shreyanshdwivedi commented on #3052
@anhanh11001 maybe the location is mentioned by user manually and google map doesn't find such location. Can you check if such location exists?

[2019-06-03 07:53] kushthedude commented on #3051
@CosmicCoder96 @mariobehling Can static pages be fine for now ? As i created for `Cookie Policy` ?

[2019-06-03 07:54] shreyanshdwivedi commented on #3051
@kushthedude if it is discussed in the meeting, I think it is intended to be implemented. And static pages should be fine in this case

[2019-06-03 07:57] kushthedude commented on #3051
@anhanh11001 Do we need page for `Cookie Policy` too ?

[2019-06-03 08:01] anhanh11001 commented on #3051
For the frontend, I don't know. But for the mobile apps, it is not needed because I think cookie is only for the web. The problems were that these redirect to no where, and it could risk the app from being uninstalled in the play store, that what I heard

<img src="https://i.ibb.co/F8zjRF7/61645483-1124715231063224-12504548174200832-n.jpg" width="300">           <img src="https://i.ibb.co/QpZ5mT8/

[2019-06-03 08:04] anhanh11001 commented on #3052
@shreyanshdwivedi I'll check it again, but initially, the location "Enschede, Netherlands" do exist

[2019-06-03 08:05] anhanh11001 commented on #3052
Ex: https://eventyay.com/e/5f6d3feb this is not working as well, and it shows a gray screen. I'm not sure if this is because of Google Map API or our implementation

[2019-06-03 08:08] kushthedude commented on #3051
@shreyanshdwivedi @anhanh11001 Taking this on PRIORITY ,

[2019-06-03 08:10] kushthedude commented on #3052
@anhanh11001 AFAIK, The following is `neither the API error now implementation` , Case could be this when the `Organizer` entered the location , Without the map rendering the location he clicked `Publish` , If you are the owner please try once again

[2019-06-03 13:09] #2975 closed

[2019-06-03 14:38] anhanh11001 opened #3056 "Tracks and Session Types are not loaded on editting sessions"
**Describe the bug**
When user edit the session for proposal, sessions and tracks are not loaded so that user cannot change it

**Screenshots**
<img src="https://i.ibb.co/hBw17pt/s.png" alt="s" border="0">
<img src="https://i.ibb.co/1JRyvGP/sss.png" alt="sss" border="0">

[2019-06-03 14:40] anhanh11001 commented on #3052
Yes, that's probably the case, when I edit the event and let the image render, it shows the image properly now.

[2019-06-03 14:42] anhanh11001 commented on #3052
So I will still open this issue as this is still somewhat a problem if anyone has idea to improve this. Otherwise, let me know and I'll close this issue

[2019-06-03 14:44] shreyanshdwivedi commented on #3056
On it

[2019-06-03 17:10] mrsaicharan1 opened #3057 "Ability to provide donation ticket"
Describe the feature
Related server issue https://github.com/fossasia/open-event-server/issues/5991

Our system requires the option of adding a donation ticket which users can purchase for a specific event.

Additional context
Working on it.

[2019-06-04 01:45] kushthedude commented on #3051
@anhanh11001 Refer to #3054 , And it may be closed

[2019-06-04 04:39] prateekj117 commented on #2082
@CosmicCoder96 @mrsaicharan1 I would like to take this up.

[2019-06-04 05:57] shreyanshdwivedi commented on #3043
@kushthedude any update on this?

[2019-06-04 06:48] kushthedude commented on #3043
Will push the commits , as it is occuring in some case , so i need to check for some more use case

[2019-06-04 06:54] uds5501 commented on #2082
@prateekj117 actually I was looking into it, if I require any help, will let you know!

[2019-06-04 08:52] kushthedude commented on #3043
@shreyanshdwivedi I made the changes on my local , But the issue is the `Details Column` sometimes open and sometimes not,Can you confirm me this please ?

[2019-06-04 09:00] kushthedude opened #3061 "Speaker Image not visible on Session Public Page"
**Describe the bug**

Speaker Image not visible on Session Public Page

**To Reproduce**

Steps to reproduce the behaviour:

- Add a speaker image with a session associated with it.
- Go to `Event Public Page` and check the `Image` under `Sessions Tab`

**Expected behaviour**

Show `Speaker Image` .

**Screenshots**

<img width="1440" alt="Screenshot 2019-06-04 at 2 14 47 PM" src="https://user-ima

[2019-06-04 09:49] uds5501 opened #3062 "validations of create discount codes and access codes not working"
**Describe the bug**

Try creating a discount code for any event, it's showing no response on hitting save

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to event
2. Fill discount code details
3. click save
4. See error

**Expected behaviour**

It should get saved

**Screenshots**

![Screenshot from 2019-06-04 15-16-33](https://user-images.githubusercontent.com/21087061/58869613-2dc0118

[2019-06-04 13:26] shreyanshdwivedi commented on #2968
@CosmicCoder96 can I take this up?

[2019-06-04 13:27] shreyanshdwivedi commented on #2957
@CosmicCoder96 as we are going to switch to ember-table, it'll be better to wait till it is finalized

[2019-06-04 13:29] mariobehling opened #3064 "Events Dashboard: Clicking on Past, Draft Tab etc. not working as expected"
Clicking on the tabs e.g. Past only results in a delayed action and it is very slow.

![Screenshot from 2019-06-04 15-27-45](https://user-images.githubusercontent.com/1583873/58882867-93f96400-86dd-11e9-9edc-e5845b84e05f.png)

[2019-06-04 14:12] Anupam-dagar commented on #2953
@kushthedude @shreyanshdwivedi I would like to take this up.

[2019-06-04 14:23] kushthedude commented on #3064
@CosmicCoder96 I think its related to the #2726 , As we had the discussion regarding the loader appearance during switching of tabs

[2019-06-04 14:24] kushthedude commented on #2953
@Anupam-dagar I will be pushing PR in an hour for it

[2019-06-04 14:26] kushthedude commented on #2953
@Anupam-dagar You can look into #3022 , For issues assigned to me I have PR's already opened 😅

[2019-06-04 14:26] Anupam-dagar commented on #3061
I would like to take this up as the issue creator currently has 2 other issues assigned.

[2019-06-04 14:31] kushthedude commented on #3061
Feel free to work upon @Anupam-dagar

[2019-06-04 14:35] #3062 closed

[2019-06-04 14:38] #3056 closed

[2019-06-04 14:40] #2966 closed

[2019-06-04 14:42] #2798 closed

[2019-06-04 15:01] kushthedude commented on #2953
@shreyanshdwivedi @Anupam-dagar I implemented the following feature on FE , but saw if Email is not sent to the Server , The server sends an `Unprocessable Entity` , If you want to do the server side changes please do them .

[2019-06-04 15:27] CosmicCoder96 opened #3065 "Edit Discount Codes doesn't work."
Reported during testing of eventyay.

Undefined paymentCurrency causes the error to be thrown.

[2019-06-04 15:48] CosmicCoder96 commented on #2777
Fixed with refactor.

[2019-06-04 15:48] #2777 closed

[2019-06-04 15:49] CosmicCoder96 commented on #2968
@shreyanshdwivedi Will start working on it next week, app is still not stable enough for these refactors.

[2019-06-04 21:48] #3065 closed

[2019-06-04 22:25] #2978 closed

[2019-06-04 22:26] #2977 closed

[2019-06-04 22:32] mariobehling commented on #2993
How is this done in Eventbrite? Please check and let's learn from that.

[2019-06-04 22:42] mariobehling commented on #3057
No, this is not correct. And this is not a requirement.

The only requirement is "donation ticket". Please also stop using "NGO" events. This term is misleading.

[2019-06-04 22:43] mariobehling commented on #3057
Also, we don't know what is your exact idea. The way you formulate it, is unclear. Keep things simple. We only need an option donation tickets.

[2019-06-04 22:59] mariobehling commented on #3012
Please change the role of the event creator (organizer) to "event owner" to make the roles in the system clearer as well.

[2019-06-04 23:16] mariobehling commented on #2677
Was

[2019-06-04 23:16] #2677 closed

[2019-06-04 23:26] #2826 closed

[2019-06-04 23:41] shreyanshdwivedi commented on #2953
@kushthedude I'll take a closer look on server

[2019-06-05 00:05] kushthedude commented on #2953
@shreyanshdwivedi that’d be great👍

[2019-06-05 02:10] prateekj117 commented on #2944
@mrsaicharan1 May I work on it's server side implementation?

[2019-06-05 02:11] mrsaicharan1 commented on #2944
Sure go ahead.

On Tue, 4 Jun 2019 at 9:10 PM, Prateek Jain <notifications@github.com>
wrote:

[2019-06-05 03:59] mrsaicharan1 commented on #2859
@uds5501 Let's try to finish this asap. I'll work on the server part of this and we can collaborate to implement this.

[2019-06-05 04:00] kushthedude commented on #2859
@mrsaicharan1 i think its already done

On Wed, 5 Jun 2019 at 9:29 AM, Saicharan Reddy <notifications@github.com>
wrote:

[2019-06-05 04:12] uds5501 commented on #2859
@mrsaicharan1 sure.

@kushthedude nope.

[2019-06-05 04:34] uds5501 commented on #2082
@mariobehling , this is how they are handling it on their public ticket page
![image](https://user-images.githubusercontent.com/21087061/58930434-fa7f9000-8778-11e9-84fd-664fa27eb742.png)

and this is how checkout is handled
![image](https://user-images.githubusercontent.com/21087061/58930485-3dd9fe80-8779-11e9-887b-24e517001dd2.png)

I will redesign both in our project and push the new pr accordi

[2019-06-05 06:46] kushthedude opened #3070 "Offline Tickets to show in sold tickets"
**Describe the bug**

Offline Tickets to show in sold tickets

**To Reproduce**

Steps to reproduce the behaviour:
- Buy any ticket with offline mode of payment.
- The following quantity is not shown in Event Statistics

**Expected behaviour**

Please Consider Placed Tickets as Sold to avoid chaos

**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser: Chrome
 - Version:

[2019-06-05 06:57] kushthedude opened #3071 "Time-Zone error in Sessions tab of eventyay"
Time Stored in Submission Date for Eventyay is not storing correct time according to the setted time-zone , On the other hand `Last Modified` is storing data correctly .

#### Screenshot :
<img width="1440" alt="Screenshot 2019-06-05 at 12 22 43 PM" src="https://user-images.githubusercontent.com/44091822/58936291-06754d00-878d-11e9-8727-f4e92a1787ac.png">

[2019-06-05 07:53] kushthedude commented on #3071
@Anupam-dagar Interested in it ?

[2019-06-05 07:55] shreyanshdwivedi commented on #3012
@mariobehling I'll add a role as `event_owner` on server and make it the default role of user creating event

[2019-06-05 07:55] Anupam-dagar commented on #3071
@kushthedude sure I would like to take this up. Thanks :D

[2019-06-05 10:41] prateekj117 commented on #3012
@shreyanshdwivedi May I work on adding the new role `event_owner` and changing the default role to be `event_owner`.

[2019-06-05 11:14] shreyanshdwivedi commented on #3012
@prateekj117 actually I have already started working on it. Will be opening a PR soon

[2019-06-05 11:18] #2787 closed

[2019-06-05 11:25] kushthedude commented on #2875
Not Reproducible !

[2019-06-05 11:25] #2875 closed

[2019-06-05 11:27] kushthedude commented on #2718
Duplicate of #2927

[2019-06-05 11:27] #2718 closed

[2019-06-05 11:28] kushthedude commented on #2579
Duplicate of #2669

[2019-06-05 11:28] #2579 closed

[2019-06-05 13:17] #2029 closed

[2019-06-05 13:19] kushthedude commented on #2771
@uds5501 Is it still present ?

[2019-06-05 13:27] kushthedude commented on #2475
Refer to https://github.com/fossasia/open-event-frontend/pull/2476#issuecomment-491972121

[2019-06-05 13:27] #2475 closed

[2019-06-05 13:30] kushthedude commented on #2296
Refer To:- https://github.com/fossasia/open-event-frontend/pull/2501#issuecomment-480705729

[2019-06-05 13:30] #2386 closed

[2019-06-05 13:39] kushthedude commented on #1125
@CosmicCoder96 Quick Filter Search is working now, Therefore closing it

[2019-06-05 13:39] #1125 closed

[2019-06-05 14:26] uds5501 commented on #2771
@kushthedude Yes it does. But to get this done, I need to wait for mentor's reply

[2019-06-05 15:20] uds5501 commented on #2082
This is how Eventbrite is handling it on their public ticket page, will be implementing this in a new PR
![image](https://user-images.githubusercontent.com/21087061/58930434-fa7f9000-8778-11e9-84fd-664fa27eb742.png)

[2019-06-05 17:48] iamareebjamal commented on #2771
@uds5501 Go ahead

[2019-06-05 17:51] uds5501 commented on #2771
@iamareebjamal Perfect! I will get this done as soon I take down two issues in hand, won't take long!

[2019-06-05 19:15] uds5501 opened #3074 "Ordering ticket with taxes throws Unhandled Promise Rejection"
**Describe the bug**

Tax information not being saved in edit event steps

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an event
2. Save it without tax
3. Edit it and add tax information
4. See error

**Expected behaviour**

Tax information should be saved

**Screenshots**

![Screenshot from 2019-06-06 00-40-48](https://user-images.githubusercontent.com/21087061/58983189-df059b00-8

[2019-06-05 23:55] kushthedude commented on #3074
@uds5501 I am not able to get the following error ?

[2019-06-05 23:59] kushthedude commented on #3074
<img width="1440" alt="Screenshot 2019-06-06 at 5 29 27 AM" src="https://user-images.githubusercontent.com/44091822/58997872-1425e380-881c-11e9-94e8-5956ae806353.png">

[2019-06-06 03:05] kushthedude opened #3075 "Speaker Tab issues on Public Event Pages"
**Describe the bug**

- There are some issues for `Speaker Tab` on `Public Event Pages` :
    - If there is more than one speaker , Speaker Image of only one speaker loads up until we click the `Speaker Tab` again .
    - When you want to go to `Info Tab` from `Speaker` it throws a error and this exist only for transition from `Speaker to Info Tab`

**Expected behaviour**

Fix them

**Screenshots*

[2019-06-06 03:06] kushthedude commented on #3075
@uds5501 @shreyanshdwivedi Can you please check the reproducibility ?

[2019-06-06 04:01] kushthedude opened #3076 "UI Accordion content not visible in Speakers"
When you click the `Speaker Photo` in the `Public Event Speaker Tab Item`, `Accordion Content` does not comes out as expected

[2019-06-06 04:02] #3076 closed

[2019-06-06 05:28] uds5501 commented on #3074
@kushthedude Try making an event without tax. Then add tax in edit event. Tell me what you see

[2019-06-06 05:31] kushthedude commented on #3075
@CosmicCoder96 @niranjan94 The following sub error of the issue is due the dependancy `Ember-Scroll-To` which uses `jquery` and is creating issue when we try to move from `Speaker To Info/Ticket/Getting Here` , Please tell should I change the package or any other solution you can see ?

[2019-06-06 05:34] kushthedude commented on #3074
@uds5501
<img width="1440" alt="Screenshot 2019-06-06 at 11 02 53 AM" src="https://user-images.githubusercontent.com/44091822/59009302-a7760d80-884a-11e9-8b45-40c803072f3a.png">
 I was able to do it successfully
Rather I am getting this error when I try to buy tickets of that event -:

<img width="1296" alt="Screenshot 2019-06-06 at 11 03 30 AM" src="https://user-images.githubusercontent.com/44091

[2019-06-06 05:34] kushthedude commented on #3074
@shreyanshdwivedi Can you please check on your local too ?

[2019-06-06 05:50] #3061 closed

[2019-06-06 06:07] shreyanshdwivedi commented on #3074
@uds5501 @kushthedude I'm unable to reproduce it on my local. Both the frontend and server are synced.

[2019-06-06 06:08] uds5501 commented on #3074
@kushthedude @shreyanshdwivedi should I attach a gif?

[2019-06-06 06:09] kushthedude commented on #3074
@uds5501 My both repo are already in sync with development

[2019-06-06 06:10] kushthedude commented on #3074
@shreyanshdwivedi can you check the following please ?

[2019-06-06 06:11] uds5501 commented on #3074
@kushthedude okay weird, I can't reproduce this now locally either.

[2019-06-06 06:11] kushthedude commented on #3074
@uds5501 Can you check the above i stated ?

[2019-06-06 06:12] shreyanshdwivedi commented on #3074
@kushthedude yes I'm getting similar `Unhandled promise error`

[2019-06-06 06:13] kushthedude commented on #3074
@uds5501 Can you change the PR title and Screenshot if you can also reproduce the following ?

[2019-06-06 06:13] uds5501 commented on #3074
@kushthedude @shreyanshdwivedi order placed successfully:

![image](https://user-images.githubusercontent.com/21087061/59010837-42251b00-8850-11e9-8538-191a4e7fb0d5.png)

[2019-06-06 06:13] kushthedude commented on #3074
Where is tax in it ?

[2019-06-06 06:15] uds5501 commented on #3074
@kushthedude weird, the tax ain't getting saved. again
![image](https://user-images.githubusercontent.com/21087061/59010895-84e6f300-8850-11e9-9f83-a822d5e14ec1.png)

[2019-06-06 06:17] kushthedude commented on #3074
@uds5501 Can you please clear the cache of browser once and try again ?

[2019-06-06 06:17] uds5501 commented on #3074
@kushthedude cool, trying.

[2019-06-06 06:20] uds5501 commented on #3074
@kushthedude No errors faced even with a tax:

![image](https://user-images.githubusercontent.com/21087061/59011127-3ede5f00-8851-11e9-9242-2d706732ade8.png)

[2019-06-06 06:21] kushthedude commented on #3074
@uds5501 Was the even newly created ?

[2019-06-06 06:22] uds5501 commented on #3074
@kushthedude Yes.

[2019-06-06 06:22] kushthedude commented on #3074
Weird @shreyanshdwivedi You are able to reproduce the `Unhandled Promise Rejection` , Right ?

[2019-06-06 06:29] shreyanshdwivedi commented on #3074
Yes @kushthedude

[2019-06-06 06:30] kushthedude commented on #3074
@uds5501 It would be great if you could change `PR Title`

[2019-06-06 06:51] kushthedude commented on #2802
@uds5501 @shreyanshdwivedi I think the following error is not present after the refactor , Can you please check if its still there ?

[2019-06-06 06:53] kushthedude commented on #2834
Closed by #2833

[2019-06-06 06:53] #2834 closed

[2019-06-06 13:04] kushthedude commented on #2953
@shreyanshdwivedi Did you check for the server ?

[2019-06-06 13:14] shreyanshdwivedi commented on #2953
@kushthedude was waiting for the FE PR. Will check this today only
However, I guess email is a required attribute so it is expected error. Still will try to get more info

[2019-06-06 17:25] shreyanshdwivedi commented on #2802
@kushthedude I don't find any ticket with `Invalid date Invalid date` on my local

[2019-06-06 17:31] shreyanshdwivedi commented on #2953
@kushthedude speaker has required and non-nullable field `email` which is obviously raising the error you encountered. I'm not able to think of a way to encounter this.
I've a work-around though - Before creating the speaker object, we can check if the person creating it is organizer, we'll update the null email of the speaker to that of organizer's email. This will also give us a way to find out

[2019-06-06 17:50] uds5501 commented on #2802
@kushthedude it's working fine here
![image](https://user-images.githubusercontent.com/21087061/59054575-99a7a300-88b1-11e9-9ce1-c06b8e230d27.png)

[2019-06-06 18:14] kushthedude commented on #2802
Yeah Same, Closing it henceforth !

[2019-06-06 18:14] #2802 closed

[2019-06-06 18:38] #2912 closed

[2019-06-07 03:06] kushthedude commented on #2953
@shreyanshdwivedi , I can think why its non-nullable , As if the session of the speaker gets rejected or accepted , It needs to be informed , What I can do is pass a dummy email from FE ?
@uds5501 ?

[2019-06-07 03:08] shreyanshdwivedi commented on #2953
As I suggested above, instead of dummy email we should add email of the organizer who added the speaker. @kushthedude

[2019-06-07 03:13] kushthedude commented on #3022
@niranjan94 I did gather some SS of random build failures in PR's
### 1-:

<img width="1440" alt="Screenshot 2019-06-05 at 5 10 31 PM" src="https://user-images.githubusercontent.com/44091822/59079132-db5f3a80-88ff-11e9-99da-7556713e12aa.png">

### 2 -:
<img width="1440" alt="Screenshot 2019-06-07 at 8 41 23 AM" src="https://user-images.githubusercontent.com/44091822/59079187-182b3180-8900-11e9-829

[2019-06-07 05:04] Anupam-dagar commented on #2993
@kushthedude since the issue is divided into 6 parts, I would like to take 1 or 2 of them to resolve.

[2019-06-07 05:06] kushthedude commented on #2993
@Anupam-dagar It would be great if you can help me with subtotal part

[2019-06-07 05:09] Anupam-dagar commented on #2893
Due to inactivity, I would like to take this up.

[2019-06-07 05:58] #3071 closed

[2019-06-07 06:00] #2058 closed

[2019-06-07 07:23] anhanh11001 commented on #3051
@kushthedude but #3054 is also closed and I'm not sure if the problem is fixed now

[2019-06-07 07:27] kushthedude commented on #3051
@anhanh11001 Actually the following can be added whenever the admin wants by going to `Admin/Pages` in the WebApp

[2019-06-07 07:35] anhanh11001 commented on #3051
So by admin you means Mario or someone?

[2019-06-07 07:36] kushthedude commented on #3051
Yes

[2019-06-07 07:47] anhanh11001 commented on #3051
@mariobehling sir please take a look. So the admin can add the privacy/terms page by themselves. So can you get anyone in the admin team to do it?

[2019-06-07 10:26] kushthedude opened #3082 "Attendee Checkin/Checkout returns 422"
**Describe the bug**

Attendee Checkin/Checkout returns 422

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to `Tickets/Attendee`
2. Click on `Checkin/Checkout` more than once
3. See error

**Expected behaviour**

Proper Message should be displayed

**Screenshots**

<img width="1440" alt="Screenshot 2019-06-07 at 3 55 40 PM" src="https://user-images.githubusercontent.com/44091822/59098

[2019-06-07 10:27] kushthedude commented on #3082
@shreyanshdwivedi @uds5501 Is it reproducible ?

[2019-06-07 10:29] kushthedude commented on #3052
@anhanh11001 Actually the scene is due to connection speed or whatever, until the image loads on map , The location coordinates are not setted properly on ` Ember-G-Map API`  we are using , So it may sometimes cause the bug .  Please reopen if you face anymore issue . Thanks

[2019-06-07 10:29] #3052 closed

[2019-06-07 12:20] kushthedude opened #3083 "Same Discount Code is not able to be applied for two differents"
**Describe the bug**

Currently if you create two same discount codes for two events , You will see it is invalid for one of the event

**To Reproduce**

Steps to reproduce the behavior:

- Create Discount Code X for Event A
- Create Discount Code X for Event B
- Apply X to B
- See Error

**Expected behavior**

Same Discount Should be able to apply

#### Screenshot

<img width="1440" alt="Screensh

[2019-06-07 12:25] kushthedude commented on #3076
Will cover in #3075

[2019-06-07 14:10] mariobehling opened #3084 "Most "Past Sessions" are missing"
Past sessions are missing: https://eventyay.com/my-sessions/past

![Screenshot from 2019-06-07 16-09-26](https://user-images.githubusercontent.com/1583873/59110154-bfc75480-893e-11e9-87d7-fa664cb79749.png)

[2019-06-07 14:17] mariobehling opened #3085 "Fix Integration with Website Generator"
The website generator currently does not work with the application. Please test and fix the integration: https://github.com/fossasia/open-event-wsgen

[2019-06-07 14:19] uds5501 commented on #3082
@kushthedude it's working fine on my local system.

[2019-06-07 14:21] mariobehling opened #3086 "Better Implementation of Mobile Apps Pages"
Please make an enhanced version of the mobile apps pages. Compare below.

Attendee App

- Eventyay: https://eventyay.com/attendee-app
- Eventbrite: https://www.eventbrite.com/eventbriteapp/

Organizer App
- Eventyay: https://eventyay.com/organizer-app
- Eventbrite: https://www.eventbrite.com/l/Organizer-check-in-app/

[2019-06-07 14:24] kushthedude commented on #3082
@uds5501 Actually tried , On both Mac and Ubuntu and was reproducible to both , I will still check once more

[2019-06-07 14:28] kushthedude commented on #3085
@CosmicCoder96 @shreyanshdwivedi I was not able to generate website using `WS Gen` , Whenever I try the following i get the error `Zip Invalid`

### Logs :
[code]

[2019-06-07 17:50] Anupam-dagar commented on #3084
I would like to take this up.

[2019-06-07 17:55] Anupam-dagar commented on #2993
@kushthedude I guess for free tickets, writing "Not Applicable" in tax column will be much better.

[2019-06-07 21:01] mrsaicharan1 commented on #3026
@CosmicCoder96 Is this happening on production?I can confirm that it works locally

[2019-06-07 21:46] mrsaicharan1 opened #3088 "Switching between dev, staging and Production(Admin Settings)"
**Describe the bug**
Whenever an admin user attempts to switch between dev, staging and production radio buttons, the UI does not reflect the changes. If I move from production to development, it still stays on production.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Admins Settings'
2. Click on 'System' tab
3. Switch between production an dev. Hit on save.

**Expected behaviour**

[2019-06-08 02:20] mrsaicharan1 opened #3335 "Admin Translations downloads error"
**Describe the bug**
Downloading admin translations gives the following error
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin Panel`
2. Click on 'content'
3. Click on download translations

**Expected behavior**
Should download zip file

**Additional details (please complete the following information):**
 - MacOS Mojave

**Additional context**
Working on it

[2019-06-08 04:37] #3088 closed

[2019-06-08 05:11] uds5501 commented on #2993
@kushthedude just saying, can you please take a look at how is this implemented in eventbrite and post a screen shot of the same?

[2019-06-08 05:18] kushthedude commented on #2993
@uds5501 I have seen the one in eventbrite , Regarding the SS here are they :-

### FREE -:
<img width="1440" alt="Screenshot 2019-06-08 at 10 46 28 AM" src="https://user-images.githubusercontent.com/44091822/59142353-b55a9880-89da-11e9-9837-ef9112a21ff1.png">

### Paid-:
<img width="1440" alt="Screenshot 2019-06-08 at 10 47 36 AM" src="https://user-images.githubusercontent.com/44091822/59142367-e

[2019-06-08 05:19] kushthedude commented on #2993
And I have incorporated similar changes in #3079  -:
`Like when there is no Discount , There is no column of Discount Code, Ordering of columns and etc`

[2019-06-08 05:19] uds5501 commented on #2993
@kushthedude and what about the exclusive taxes? just put these on top so that breaking down this issue into subissue would become easier!

[2019-06-08 05:20] kushthedude commented on #2993
Can you elaborate ?

[2019-06-08 05:24] uds5501 commented on #2993
@kushthedude there can be total 2 use cases in which this issue should be broken down.
- The case where taxes are inclusive.
- The case where taxes are added on top of the ticket price.

AFAIK, eventbrite handled both the cases differently. We are just refining according to the case 1 which, I don't think should be the case if we are aiming a likelihood to the source.

@shreyanshdwivedi  views?

[2019-06-08 05:28] kushthedude commented on #2993
;

I think you got the wrong idea , For the case 2 , When tax is added on the ticket price , We show a column price of ticket and Subtotal( which does not count the tax in it ) ,

And as far as point 1 Considered I was thinking to open a new issue and in subscript of ticket we can say` All Tax Inclusive`
@uds5501 What you say ?

[2019-06-08 07:47] kushthedude opened #3090 "Show Remaining Tickets On Tickets Page if Opted-Out"
**Is your feature request related to a problem? Please describe.**

As EventBrite, Show the number of remaining ticket which are available for sale in the tickets public page

**Describe the solution you'd like**

Provide a toggle option if you want to show `Remaining Tickets` of the following on public page or not .
Parent : #2993
**Additional context**

<img width="1440" alt="Screenshot 2019-06-

[2019-06-08 07:54] kushthedude commented on #3090
@shreyanshdwivedi @uds5501 Any better suggestion ?

[2019-06-08 08:22] uds5501 commented on #3090
@kushthedude I think it is already implemented :sweat_smile: .
we can hide the tickets from public page if we want

[2019-06-08 08:26] kushthedude commented on #3090
@uds5501 you misunderstood , i was going to show number of tickets remaining for sale , dude

[2019-06-08 10:21] Anupam-dagar commented on #2993
@kushthedude can you post a screenshot for the payment dialogue

[2019-06-08 10:25] uds5501 commented on #3090
@kushthedude OH! Sorry, my bad! Mind if I implement it?

[2019-06-08 10:30] kushthedude commented on #3090
@uds5501 Actually its a minor work for FE , it would be great if you could
add a field regarding it on server

On Sat, 8 Jun 2019 at 3:55 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-06-08 10:31] uds5501 commented on #3090
@kushthedude you mean, something similar like "Show Remaining Quantity" ?

[2019-06-08 10:34] kushthedude commented on #3090
Like a boolean like isticketingenabled . If the checkbox is ticket we may
display on public page

On Sat, 8 Jun 2019 at 4:01 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-06-08 10:36] Anupam-dagar commented on #2893
@kushthedude can you point out to the original confirmation which is sent on order?

[2019-06-08 10:56] kushthedude commented on #3070
@CosmicCoder96 Please transfer it to server

[2019-06-08 15:13] #2976 closed

[2019-06-08 15:14] #2600 closed

[2019-06-08 16:03] uds5501 commented on #3043
@kushthedude only confirmed or accepted speakers will be listed. Can you confirm that it is happening in these cases or not after the schedule has been published for the event

[2019-06-08 16:07] kushthedude commented on #3043
Checked that , All sessions were confirmed and schedule was published

[2019-06-08 16:08] kushthedude commented on #3043
@uds5501 Actually before this we need to solve the issue in speaker tab #3075 , Session Listing is no good if the accordion is not opening for any of the speakers

[2019-06-08 17:38] mrsaicharan1 commented on #2944
@prateekj117 Status of the server PR?

[2019-06-08 17:40] shreyanshdwivedi commented on #2953
@CosmicCoder96 @niranjan94 should we proceed this way?

[2019-06-08 17:48] prateekj117 commented on #2944
@mrsaicharan1 Will make it by tomorrow.

[2019-06-08 22:50] mrsaicharan1 commented on #2759
@kushthedude I'll be taking this due to inactivity.

[2019-06-09 05:15] prateekj117 commented on #2944
@mrsaicharan1 Can you give me a little background on how should we go about implementing this?

[2019-06-09 05:26] prateekj117 commented on #3082
@kushthedude working fine in my local as well.

[2019-06-09 07:48] CosmicCoder96 commented on #2366
Fixed after removing validations.

[2019-06-09 07:49] CosmicCoder96 commented on #2077
Fixed after removing validations.

[2019-06-09 07:50] #1829 closed

[2019-06-09 10:49] prateekj117 commented on #2944
@CosmicCoder96 Can you give me a little background on how should we go about implementing this?

[2019-06-09 11:30] kushthedude commented on #2944
@prateekj117 You can take idea from eventbrite how they differentiate tax rate on the basis of location, @mrsaicharan1 I dont think there is much of a server work on the following

[2019-06-09 11:38] kushthedude commented on #2584
@shreyanshdwivedi Will you still be implementing `Infinity-Loader` ?

[2019-06-09 11:40] kushthedude commented on #2482
Duplicate of #2920

[2019-06-09 11:41] kushthedude commented on #3083
@uds5501 @shreyanshdwivedi Can you check reproducibility ?

[2019-06-09 14:00] #2169 closed

[2019-06-09 14:08] shreyanshdwivedi commented on #2482
@kushthedude this issue will automatically be closed once my PR related to it will be merged. The issue you mentioned has a few more points.
I'll suggest you to reopen it

[2019-06-09 14:09] shreyanshdwivedi commented on #2584
@CosmicCoder96 mentioned that he'll be working on it in his scrum.

[2019-06-09 14:11] kushthedude commented on #2584
👍

On Sun, 9 Jun 2019 at 7:39 PM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-06-09 18:51] uds5501 commented on #3083
@uds5501 Yes it is. I will take a look at it.

[2019-06-10 01:17] mrsaicharan1 opened #3095 "Adding the option of invoice monitoring & payment reminders (Admin)"
**Describe the feature**
**Parent issue**
Related server issue https://github.com/fossasia/open-event-server/issues/6021
The FE requires an option in the admin dashboard to customise emails for payment reminders, frequency of payment reminders and related features.

Reference:
https://www.eventbrite.com/support/articles/en_US/Troubleshooting/understanding-eventbrite-fee-invoices?lg=en_US

Workflow

[2019-06-10 03:27] shreyanshdwivedi commented on #2953
@kushthedude we discussed this is meeting and we can proceed by adding organizers email

[2019-06-10 03:40] prateekj117 commented on #2944
@kushthedude I tried, couldn't find that step. There is no option for tax in create event. Can you tell me where to find it exactly?

[2019-06-10 05:06] kushthedude commented on #2953
@shreyanshdwivedi Thanks for confirming

[2019-06-10 05:26] kushthedude commented on #2944
@prateekj117 Please see this https://www.eventbrite.co.uk/support/articles/en_GB/How_To/how-to-charge-vat-on-tickets-and-provide-attendee-tax-invoices?lg=en_GB

[2019-06-10 05:48] uds5501 commented on #2082
Labelling later because current PR implementation takes extra network request. Will discuss it with @CosmicCoder96 and then work further on it.

[2019-06-10 06:15] kushthedude commented on #1797
Duplicate of #275

[2019-06-10 06:15] #1797 closed

[2019-06-10 06:49] #2584 closed

[2019-06-10 07:57] kushthedude commented on #2552
@shreyanshdwivedi I think it's not only due to the empty track field, But Case is also same with track field filled

[2019-06-10 07:58] #2859 closed

[2019-06-10 08:50] hpdang commented on #2771
![Screenshot from 2019-06-10 10-49-50](https://user-images.githubusercontent.com/1658742/59184055-8fb1c880-8b6d-11e9-9db6-3b6df41047cb.png)

[2019-06-10 13:11] kushthedude commented on #3084
I would like to fix the following

[2019-06-10 13:39] #3043 closed

[2019-06-10 13:40] #2707 closed

[2019-06-10 13:40] mariobehling opened #3098 "Fix and improve event filters / browse events search"
The page https://eventyay.com/explore offers different ways to search for events. Please simplify the search options as follows:
* Add options show "All Categories" and "All Event Types"
* provide a tick box for filters
* move date filters to first position
* add filter option for Call for Speakers "Open", "Closed" and "Not Available"
* add filter option "Free" or "Paid"

![Screenshot from 2019-06

[2019-06-10 14:02] mariobehling opened #3099 "Call for Speakers Section direct Event Links to "Call for Speakers" page"
On the front page in the call for speakers section please direct the listed events in that section directly to the "Call for Speakers" page of the event.

![Screenshot from 2019-06-10 16-00-42](https://user-images.githubusercontent.com/1583873/59200739-2d6ebd00-8b99-11e9-9daf-f50e62f03b0d.png)

[2019-06-10 14:09] mariobehling opened #3100 "Add link "Show more Call for Speakers" below section on start page"
Please implement a link to the "browse page" with a filter set to "Call for Speakers". Link should be below the Call for Speakers section. This is related to https://github.com/fossasia/open-event-frontend/issues/3098

[2019-06-10 14:15] shreyanshdwivedi commented on #3099
I'll work on this

[2019-06-10 15:01] mrsaicharan1 commented on #3100
I'd like to take this.

[2019-06-10 15:55] kushthedude commented on #3098
On it

[2019-06-10 16:09] kushthedude commented on #3098
@mariobehling Can you please clarify the following, If we need a tickbox to `Show or Hide Filter Section` or the way we are selecting filters

[2019-06-10 16:41] CosmicCoder96 commented on #2288
Duplicate of #2560

[2019-06-10 16:41] #2288 closed

[2019-06-10 16:53] #3099 closed

[2019-06-10 16:56] #3084 closed

[2019-06-10 17:05] prateekj117 commented on #2970
@mariobehling @CosmicCoder96 So, after working on the server PR for some time, I realized that the 'location_name' column in events table is saving the whole address, while the 'searchable_location_name' is saving nothing. So, there is no way to return most-used-locations, and also no way to extract city-name from the address. Also, we need a new model on the server to solve this issue. I had a co

[2019-06-10 18:02] Anupam-dagar commented on #3082
I am able to reproduce it, the issue can be elaborated as the user can be checked in or checkout out, but the page need a refresh to do it in subsequent turns. Attaching a GIF for the same.

[2019-06-10 18:09] kushthedude commented on #3082
@Anupam-dagar Facing same on my local !

[2019-06-10 18:12] kushthedude commented on #3082
@Anupam-dagar Would you like to take it ?

[2019-06-10 18:16] Anupam-dagar commented on #3082
@kushthedude yes, I'll take this up.

[2019-06-11 04:53] prateekj117 commented on #2944
@kushthedude It is not reproducible this way. Can you please check and let me know if I am missing something here.

[2019-06-11 06:04] #1803 closed

[2019-06-11 06:10] CosmicCoder96 opened #3105 "SMTP encryption settings don't persist after setting them"
The encryption mode settings of SMTP are always null even after explicitly setting them in the admin wizard.

[2019-06-11 06:14] kushthedude opened #3106 "Add twitter URL Trimming , Which is going 422 in CFS"
Currently, when you enter a `Twitter URL` of your profile in CFS, The system expects pattern with `Complete HTTPS Protocol` which makes it throw `422` , Enable trimming in `Twitter URL` so that it's comfortable to use.

[2019-06-11 06:43] #3027 closed

[2019-06-11 06:46] CosmicCoder96 commented on #2828
Actually, credentials are incorrect is sufficient for now.

[2019-06-11 06:46] #2828 closed

[2019-06-11 07:00] #3105 closed

[2019-06-11 07:15] mariobehling opened #3108 "Admin Area: Add Test Email Settings"
We need to be able to test the email settings. Please add an option to send a test email into the admin section in https://eventyay.com/admin/settings.

Create a test email in the system that will get send out.

![Screenshot from 2019-06-11 09-14-33](https://user-images.githubusercontent.com/1583873/59251155-68203600-8c29-11e9-9730-e5616e902fbf.png)

[2019-06-11 07:17] prateekj117 commented on #3108
@mariobehling On it.

[2019-06-11 07:23] Anupam-dagar commented on #3106
I'll take this up.

[2019-06-11 07:24] kushthedude commented on #3106
@Anupam-dagar Already did changes pushing in a minute

[2019-06-11 07:26] kushthedude commented on #3108
@prateekj117 I think @CosmicCoder96 assigned himself on it

[2019-06-11 07:29] uds5501 commented on #3070
@kushthedude do you mind if I work on this?

[2019-06-11 07:34] prateekj117 commented on #2829
@kushthedude I would work on this.

[2019-06-11 07:41] prateekj117 commented on #2972
@CosmicCoder96 Was this also fixed after removing validations or not?

[2019-06-11 08:37] kushthedude commented on #2829
@prateekj117 Sure, But ask @shreyanshdwivedi once, as in the previous meeting he said he will see it.

[2019-06-11 08:38] shreyanshdwivedi commented on #2829
@CosmicCoder96 mentioned in last weekly meeting that he'll work on it

[2019-06-11 08:55] prateekj117 commented on #2829
@shreyanshdwivedi Oh, Ok.

[2019-06-11 09:00] kushthedude commented on #3070
@uds5501 Go on , I will close my server PR

[2019-06-11 10:57] kushthedude opened #3110 "Event Dashboard: Filter Options not working under `tickets/orders`"
#### Description:-
`Filter Options` given under `Tickets/Orders` are just dummy buttons without any action associated with them.
Fix the following by defining `Filter Options`

#### Screenshot :-
![image](https://user-images.githubusercontent.com/44091822/59266675-d1259f00-8c65-11e9-8dc0-661b62570c1c.png)

[2019-06-11 11:21] kushthedude commented on #2694
@prateekj117 I can still experience it
![image](https://user-images.githubusercontent.com/44091822/59267929-18f9f580-8c69-11e9-8e4b-e4e90486f6e1.png)
Can you have a look ?

[2019-06-11 11:23] prateekj117 commented on #2694
@kushthedude Ok, will have a look into it.

[2019-06-11 20:01] mariobehling opened #3113 "Front Page: Featured Event not showing up"
Adding OpenTechSummit China as a featured event does not make the event show up on the front page.

![Screenshot from 2019-06-11 21-59-54](https://user-images.githubusercontent.com/1583873/59302514-6b9cd700-8c94-11e9-82fb-ba37ed5963cf.png)

![Screenshot from 2019-06-11 22-01-27](https://user-images.githubusercontent.com/1583873/59302557-81120100-8c94-11e9-96d2-54c671113d75.png)

[2019-06-11 20:32] mariobehling opened #3114 "Move Profile info the menu "Settings" as the first tab and merge it with "contact info""
Profile is currently its own page/area. This is not necessary. Please
* Move it into the settings area.
* Merge it with contact info
* Add it as the first tab user the tab name "User Details"

Compare: https://eventyay.com/settings/contact-info and https://eventyay.com/profile

Additionally change "Email-Preferences" to "Email Preferences" in the menu.

![Screenshot from 2019-06-11 22-30-49](https

[2019-06-11 20:38] mrsaicharan1 commented on #3114
I'd like to take this.

[2019-06-11 20:43] mariobehling opened #3115 "Wizard Step 1: Company data should be possible to be added without ticking "Send Tax Invoice""
The tax invoice data of a registered company can only be added if the field "Send Tax Invoice.." is ticked. Expected: It should be possible to enter the data even if the field is not ticked.

![Screenshot from 2019-06-11 22-41-02](https://user-images.githubusercontent.com/1583873/59305336-5aef5f80-8c9a-11e9-88c2-f68b72f968ca.png)

[2019-06-11 20:57] mrsaicharan1 commented on #3114
Will be dividing this into two PRs! Would be easier that way :)
1. Moving profile from its own page area to settings module
2. Merging Contact info with profile

[2019-06-11 21:16] mariobehling opened #3117 "Create a tab "Billing" as the second tab in the Settings Menu"
Create a tab "Billing" as the second tab in the Settings Menu (Compare: https://eventyay.com/settings/contact-info). Add a submenu similar to the "Tickets" submenu of events with the following pages:
* Payment Information (Add fields for the following information: Contact Name, Phone, Email, Country, Tax ID, Registered Entity or Company, Business Address, City, ZIP Code, Additional Info)
* Invoice

[2019-06-11 21:23] mariobehling opened #3118 "Create a list of invoices in the Billing sub tab "Invoices""
In the billing subtab there should be the following invoices with different areas:
1. Ticket Invoices
* Upcoming Events
* Past Events
2. Organizer Invoices
* Overdue Invoices
* Upcoming Invoices
* Paid Invoices

Please refer to the following screenshot for the expected table view:

![Screenshot from 2019-06-11 22-57-43](https://user-images.githubusercontent.com/1583873/59307903-d1429080-8c9f-11e9-

[2019-06-11 21:25] prateekj117 commented on #3117
@mariobehling Would be taking this one.

[2019-06-11 21:28] mariobehling opened #3119 "Rename "Settings" to "Account""
Please rename "Settings" to "Account" in the settings tab and the drop-down menu.

Reason: We are storing more info than just "settings" in that area. Therefore "Account" is a more appropriate name.

[2019-06-11 21:30] prateekj117 commented on #3119
On it.

[2019-06-11 21:38] mrsaicharan1 commented on #3118
Will do this as this is a sub issue of https://github.com/fossasia/open-event-frontend/issues/3095

[2019-06-12 02:40] shreyanshdwivedi commented on #3115
On it

[2019-06-12 02:41] shreyanshdwivedi commented on #3113
Will take a look

[2019-06-12 03:54] shreyanshdwivedi commented on #3113
I'm unable to reproduce it on my local.
@uds5501 @mrsaicharan1 @kushthedude can you guys please confirm?

[2019-06-12 05:42] uds5501 commented on #3119
@prateekj117 Let me take this one while you are working on #3117. Thanks

[2019-06-12 05:52] prateekj117 commented on #3119
@uds5501 Let's keep this issue open for newbies.

[2019-06-12 05:52] kushthedude opened #3122 "Improvements in Browse Events Section"
**Describe the bug**

- [x] Mobile View does not redirect to the browse events section.
- [x] No pagination in the section.
- [x] Hide `Filters` for the mobile view as done in `Event Brite`.
- [ ] Add an Option to `Hide/Unhide` Map for Small Screens

[2019-06-12 06:31] uds5501 commented on #3119
@prateekj117 not really, it's in milestone 3 so I'll get it done :sweat_smile:

[2019-06-12 06:49] uds5501 commented on #3113
@shreyanshdwivedi Is it a pagination error?

[2019-06-12 06:50] kushthedude commented on #3113
Can't be , And not only `Featured` ,I cant see Open Event China on `Upcoming Events` too , I think bymistake it has been made private

[2019-06-12 06:51] shreyanshdwivedi commented on #3113
I tried it with more than 10 events on local. It worked well
However will check there is any limit in no. of featured events

[2019-06-12 06:53] uds5501 commented on #3113
This seems to be most probable reason @mariobehling

[2019-06-12 08:16] iamareebjamal commented on #3117
@prateekj117 Please first complete existing issues you've taken

[2019-06-12 08:30] prateekj117 commented on #2077
@CosmicCoder96 @kushthedude I am still facing this issue.

[2019-06-12 08:40] kushthedude commented on #2077
@CosmicCoder96 The following error was not due to the validations, It was the error in our `UI Time Selector` which is not yet optimized for the Time, As the `end` attribute which we are using in `Time Picker` makes it set Hours to `00` again, We can have two options here -:
- `Remove the End Validator in Time Selector Widget`
- `Use different Time Selector for our webapp`

[2019-06-12 09:01] mariobehling opened #3126 "Admin: Add "Billing" Subtab in Admin Settings"
Invoices for events (not for ticket buyers!) need to have an Invoice Address of the Eventyay Platform provider (FOSSASIA). We can keep this information in the settings under the subtab "Billing". Please:
1. Add the subtab billing next to the tab "ticket fees" (https://eventyay.com/admin/settings/ticket-fees)
2. Create a heading "Invoice Handling" and provide fields for:
  * Invoice sent out - Drop

[2019-06-12 09:13] shreyanshdwivedi commented on #3126
On it

[2019-06-12 09:30] kushthedude commented on #3126
@shreyanshdwivedi this will also need changes in server side if we are providing this info

[2019-06-12 10:11] kushthedude commented on #3117
@prateekj117 As I can see, The following addition of information needs to be linked with the `User Data` and currently I don't see such attributes defined in `User Schema` ,We need to add the fields for the following information first so that the system can persist the data provided by the User in `Accounts` Settings .
It would be great if you can introduce the following fields on the server and I

[2019-06-12 10:34] mariobehling opened #3127 "Admin: User filters not using all column content"
User filters does not use the content of all columns, e.g. a search with "Gmail" does not yield any result. Expected: It should show all results of users using Gmail. Also add filter for other columns like event etc.

Compare: https://eventyay.com/admin/users/all

![Screenshot from 2019-06-12 12-32-44](https://user-images.githubusercontent.com/1583873/59344431-5f556000-8d0e-11e9-830f-782e358732fd.

[2019-06-12 10:37] uds5501 commented on #3127
taking a look at it

[2019-06-12 10:44] shreyanshdwivedi commented on #3126
@kushthedude as this issue is labelled in Milestone 4, I'll open sub issues and work on it

[2019-06-12 10:44] mariobehling opened #3128 "Admin: Implement Email Threshholds"
Currently the system is open for very simple attacks, e.g. a user can just request an email reset 1000 times. Please implement a threshhold page in the admin message tab (compare: https://eventyay.com/admin/messages/list)

Add a column on the right to "Options".

Add the following:
Threshold
* Number of email reset messages per hour: [number here]
* Number of email contact organizer messages per h

[2019-06-12 10:45] shreyanshdwivedi commented on #3128
I'll work on this as I'm working on server side too

[2019-06-12 10:45] uds5501 commented on #3127
@CosmicCoder96 @shreyanshdwivedi After the migration to the new tables, this functionality would be affected, right?

[2019-06-12 10:50] mariobehling opened #3129 "reCAPTCHA: Implement Captcha for sensitive activities"
Please implement a Recaptcha for the following activities:
* Password Reset
* First login failed (the second and following requests should have a recaptcha)

Add the Recaptcha Credentials settings into the System Tab in the Admin section below the social credentials.

![Screenshot from 2019-06-12 12-46-52](https://user-images.githubusercontent.com/1583873/59345484-7eed8800-8d10-11e9-9aef-535cd5493

[2019-06-12 10:52] kushthedude commented on #3129
On it

[2019-06-12 10:52] mariobehling opened #3133 "Repatcha: Implement Captcha for sensitive activities"
Please implement a Recaptcha for the following activities:
* Password Reset
* First login failed (the second and following requests should have a recaptcha)

Add the Recaptcha Credentials settings into the System Tab in the Admin section below the social credentials.

![Screenshot from 2019-06-12 12-46-52](https://user-images.githubusercontent.com/1583873/59345484-7eed8800-8d10-11e9-9aef-535cd5493

[2019-06-12 11:17] uds5501 commented on #3075
@kushthedude I did the exact transitions you specified in this Issue and the errors don't seem to be occuring anymore

[2019-06-12 11:19] kushthedude commented on #3075
First one was solved by recent pr by @shreyanshdwivedi , For dependency one - :
- go to speaker tab , Hold for about 1-2 sec.
- Try to go back to info tab and see error

[2019-06-12 11:23] uds5501 commented on #3075
@kushthedude Followed the steps, can't reproduce.
@ritikamotwani @shreyanshdwivedi @mrsaicharan1 Can you please verify?

[2019-06-12 11:40] mrsaicharan1 commented on #3117
I'd like to take this so that this doesn't create a blocker for me https://github.com/fossasia/open-event-frontend/issues/3118.

[2019-06-12 11:41] kushthedude commented on #3117
@mrsaicharan1 You can handle the invoice part , As the following is related with #3118

[2019-06-12 11:43] mrsaicharan1 commented on #3117
@kushthedude I can't go ahead with https://github.com/fossasia/open-event-frontend/issues/3118 if this isn't implemented. So will do it

[2019-06-12 12:19] mariobehling opened #3130 "Billing: Add monthly billing email for event organizers to list of emails"
Currently there is no billing email for event organizers. Please add a billing email to the system and add it in the list of emails at https://eventyay.com/admin/messages/list

Only send the email to users who need to pay anything.

![Screenshot from 2019-06-12 14-11-08](https://user-images.githubusercontent.com/1583873/59350729-21ac0380-8d1d-11e9-9e2f-02f0fc9b2904.png)

[2019-06-12 12:21] uds5501 commented on #3130
On it

[2019-06-12 12:53] kushthedude commented on #3126
@shreyanshdwivedi Since you are already implementing some functionalities , Can i divide it into some sub-issues and work on them ?

[2019-06-12 12:55] shreyanshdwivedi commented on #3126
@kushthedude I think you're already working on Captcha thing which is in Milestone 3. I'll suggest you to give that issue priority as this issue is in Milestone 4

[2019-06-12 13:03] mariobehling opened #3132 "List Events Invoices, Provide Filters and Actions"
Please improve the invoice section as follows:

* Change https://eventyay.com/admin/sales/status to https://eventyay.com/admin/sales/invoices
* Provide filters, e.g. for date and names
* Provide actions to change status, e.g. from paid to unpaid or processing

![Screenshot from 2019-06-12 14-57-14](https://user-images.githubusercontent.com/1583873/59353411-34293b80-8d23-11e9-944a-288f71572dec.png)

[2019-06-12 13:06] kushthedude commented on #3132
Will look into it

[2019-06-12 14:03] niranjan94 commented on #3129
@kushthedude also create a backend ticket for this and link it to this issue.

[2019-06-12 14:08] kushthedude commented on #3129
@niranjan94 I have created the issue you insisted but why is there need of server , As I was reading about ember-cli-g-captcha, We can just define two actions in our components , `OnSuccess` and `OnExpiry` ?

[2019-06-12 14:09] niranjan94 commented on #3129
@kushthedude it is not enough for just the frontend to check. The `reCaptchaResponse` returned by it _must_ be verified by the backend.

[2019-06-12 14:11] kushthedude commented on #3129
@niranjan94 I think the following should also be included in the following issue https://github.com/fossasia/open-event-frontend/issues/2002

[2019-06-12 14:12] kushthedude commented on #2002
Try to read docs @NamanZelawat

[2019-06-12 14:12] niranjan94 commented on #3129
@kushthedude yep. it should be.

[2019-06-12 14:12] #2694 closed

[2019-06-12 14:18] kushthedude commented on #2077
@niranjan94 Can you please have a look here too ?

[2019-06-12 15:12] anhanh11001 commented on #3051
@mariobehling Here is the issue I mentioned, it was closed but it wasn't fixed. I think you (the admin or someone with authorities) can add the privacy/terms pages

[2019-06-12 15:31] liveHarshit commented on #3133
@iamareebjamal I think also for Android: https://github.com/fossasia/open-event-android/issues/1943

[2019-06-12 15:34] iamareebjamal commented on #3133
Marking duplicate

[2019-06-12 15:34] #3133 closed

[2019-06-13 03:35] shreyanshdwivedi commented on #2920
This issue requires server side implementation. Please transfer it to serve @CosmicCoder96

[2019-06-13 03:36] shreyanshdwivedi commented on #2972
@prateekj117 if you are willing to work on it, you can proceed.

[2019-06-13 04:07] prateekj117 commented on #2972
@shreyanshdwivedi I already have taken some issues, so I would be working on then rn.

[2019-06-13 05:07] uds5501 commented on #3122
@kushthedude are you working on other two issues?, the hiding filters and map hide/unhide part?

[2019-06-13 05:09] prateekj117 commented on #2944
@uds5501 @mrsaicharan1 Need some help here.

[2019-06-13 05:11] kushthedude commented on #3122
@uds5501 No , Feel free if you want to take it

[2019-06-13 05:13] uds5501 commented on #3122
@kushthedude Okay, will take a look

[2019-06-13 05:58] iamareebjamal commented on #2920
It also requires frontend part, so instead, open a server issue in parallel to this

[2019-06-13 06:39] uds5501 opened #3136 "Filter removal from explore page in mobile devices"
This is a sub issue of #3122 focussing on:
- Toggle Filters for the mobile view as done in Event Brite.

[2019-06-13 08:07] mariobehling opened #3138 "Verified User marked as Unverified and requested to validate email"
A verified user is getting a request to verify.

Did not get the email? Please click here to resend the confirmation mail.

![Screenshot from 2019-06-13 10-05-32](https://user-images.githubusercontent.com/1583873/59414978-ee23b480-8dc2-11e9-9d04-cf332d5b4e52.png)

[2019-06-13 10:29] kushthedude commented on #3051
@iamareebjamal Do we need to reopen the PR too ?

[2019-06-13 10:40] kushthedude commented on #3138
@mariobehling It would be great, If you could tell the exact routes you visited when you got the following message, As the following issue is still open in https://github.com/fossasia/open-event-frontend/issues/3026, else  I am still trying if I find the cause of the error

[2019-06-13 10:44] kushthedude commented on #3136
@uds5501 Change the issue description, We don't need to hide filters, We need a toggle as Eventbrite as done to show/hide filters

[2019-06-13 10:49] kushthedude commented on #3136
@uds5501 Change the issue description, We don't need to hide filters, We need a toggle as Eventbrite as done to show/hide filters
![image](https://user-images.githubusercontent.com/44091822/59426791-b59dce00-8df6-11e9-90ff-8ebeba86fd8a.png)

Please try to implement `Map Section` as done eventbrite, If not possible we can leave the following for the later, As for hide/unhide Map Toggle would look v

[2019-06-13 11:12] iamareebjamal commented on #3051
@CosmicCoder96 Please complete this on eventyay.com

[2019-06-13 12:26] uds5501 commented on #3136
It is to be done in just mobile screens, correct?
As for the map view, i think I will be leaving that for now.

[2019-06-13 12:42] kushthedude commented on #3136
Yes for just mobile devices

[2019-06-13 12:53] kushthedude commented on #3136
@uds5501 But as Eventbrite shows a completely different window, On clicking of more filters, I think such component is not provided by `Semantic UI`, So I would suggest if you can have a `Side Bar` toggle, just as we have for `Login Buttons` in mobile view

[2019-06-13 13:54] uds5501 commented on #3136
@kushthedude I am not so sure If the complete makeover would be suggested when things are working fine :sweat_smile: . I guess we should ask @CosmicCoder96 for his views on the suggested UI and if the connected PR would work fine or not

[2019-06-13 17:09] kushthedude opened #3139 "Pagination and Right Link Redirection in mobile device for Explore Events"
Sub Issue of #3122

[2019-06-13 17:11] kushthedude opened #3140 "Side Filter Bar Enhancements"
Subissue of #3098

- Addition of All Event Type and Categories.
- Repositioning of Filters

[2019-06-13 18:22] CosmicCoder96 commented on #2444
Will be fixed in #3018

[2019-06-13 18:22] #2444 closed

[2019-06-13 19:44] uds5501 commented on #3113
@mariobehling @CosmicCoder96 This issue can be closed if it's confirmed that OpenTechSummit China is a privately listed event, that's the only reason why it might not be showing up on the index page.
Otherwise, one can always find them listed on `explore` tab, on which, it is listed.

[2019-06-14 04:30] uds5501 opened #3141 "Implement addition of placed orders and tickets in event stats"
Sub issue of #3070
Implement placed orders addition in sold tickets in

- Event sales page
- Sold tickets (manage events table)

[2019-06-14 06:57] #3119 closed

[2019-06-14 07:08] mariobehling commented on #3090
This issue was not in Milestone 3 and it is low priority as we have lots of pressing issues. We have little resources of mentors to review low priority issues. Therefore closing this.

[2019-06-14 07:08] #3090 closed

[2019-06-14 07:19] #3106 closed

[2019-06-14 08:02] mariobehling commented on #2082
@uds5501 There is an additional challenge in that issue. The ticket display must show tax a) either included in the price (in the EU, many Asian countries etc.) or b) added to the tax (in the US). Users have the option to decide on the way things are displayed in the "Add Tax Information" popup. Please take this into account when implementing.

![Screenshot from 2019-06-14 09-59-23](https://user-i

[2019-06-14 12:36] mrsaicharan1 opened #3142 "Merge profile with "Contact info" (Settings)"
**Describe the feature**
Related parent issue https://github.com/fossasia/open-event-frontend/issues/3114

**Expected behaviour**
Contact info should be under profile, rather than having a separate tab

**Additional context**
Working on this.

[2019-06-14 16:25] #3139 closed

[2019-06-14 16:26] #3082 closed

[2019-06-15 08:20] #3141 closed

[2019-06-15 08:21] #3113 closed

[2019-06-15 08:23] CosmicCoder96 commented on #3064
To be tackled with #3018

[2019-06-15 08:51] CosmicCoder96 opened #3145 "Session speaker form templates are over-cluttered"
There is an if-else-if pattern all over the templates to generate the speaker, session form. This makes it difficult to develop, review, debug and error-prone to any changes. All of this controlling logic should be moved to a helper or mixin.

[2019-06-15 08:53] CosmicCoder96 commented on #2801
@shreyanshdwivedi is there a PR for this?

[2019-06-15 08:55] shreyanshdwivedi commented on #2801
Currently not. I'm fixing one of my WIP PR. Will work on it by tonight
However if you want to work on it, you may proceed @CosmicCoder96

[2019-06-15 14:45] #697 closed

[2019-06-15 14:48] #3136 closed

[2019-06-15 14:54] #2771 closed

[2019-06-15 17:29] uds5501 commented on #2829
@CosmicCoder96 @shreyanshdwivedi `Recipient` sort is failing because there is no such field in the database. It's only a hybrid property.

[2019-06-16 06:53] CosmicCoder96 commented on #2933
Was fixed when validations were removed.

[2019-06-16 06:53] #2933 closed

[2019-06-16 07:50] CosmicCoder96 commented on #2370
Duplicate of #2396

[2019-06-16 07:50] #2370 closed

[2019-06-16 07:53] CosmicCoder96 commented on #1911
No, exceptions should be caught at specific instances.

[2019-06-16 07:53] #1911 closed

[2019-06-16 10:04] #3022 closed

[2019-06-16 15:17] kushthedude commented on #2927
@CosmicCoder96 @niranjan94 Since the loose headers are solved , And for Events Table Scroll, In Mobile View, I was thinking to implement a `Card Stack` View for events in devices with less screen size, So that user don't need to scroll the complete table for details as done in EventBrite , Should I proceed with the following?

[2019-06-16 15:49] niranjan94 commented on #2927
@kushthedude not right now. This is not a priority. There are other more important bugs pending fixing. And moreover, You already have 5 PRs open as of now. Please work on getting those merged before taking up any new issues.

[2019-06-16 16:00] niranjan94 commented on #3075
@uds5501 I can verify that this issue is indeed reproducible on eventyay.com

---

@kushthedude please see why the element is coming as undefined. Changing package is not a valid solution.

[2019-06-16 16:02] kushthedude commented on #3075
@niranjan94 Thanks for verifying, I will check it .

[2019-06-16 20:11] CosmicCoder96 opened #3149 "Populate searchableLocationName while saving event locations"
Currently `searchableLocationName` of event model is not used, hence it's not able to refer to events by the city.

Ideally, it should contain the name of the city.

Sub-issue of #2970

[2019-06-16 20:16] CosmicCoder96 commented on #2970
I don't understand what you mean by now way, if searchable location is not being populated then it needs to : #3150

[2019-06-17 07:04] mrsaicharan1 commented on #3130
@uds5501 Post the screenshot of the billing email template here as well.

[2019-06-17 08:03] mrsaicharan1 commented on #3126
@CosmicCoder96 In which model should "Invoice Contact", timezone, invoice sent out date etc.  be going into? Do we require a new model for it?

[2019-06-17 09:30] mrsaicharan1 commented on #3126
Will keep the invoice formats as a sub-issue to this to make it simpler for implementing it.

[2019-06-17 12:04] #3149 closed

[2019-06-17 12:15] mariobehling opened #3153 "Cancelled Order notifications should have link to the order page itself"
Cancelled Order notifications currently don't link to the cancelled ticket or order itself for
a) ticket buyer - Expected: It should link to order page itself.
b) organizer - Expected: It should link to the cancelled order page in the organizer ticket area

![Screenshot from 2019-06-17 14-11-40](https://user-images.githubusercontent.com/1583873/59603675-53044500-910a-11e9-9d55-0e47a64a9119.png)

[2019-06-17 13:03] kushthedude commented on #3070
@pradeepgangwar the issue is not resolved, above pr just explicitly adds the stat rather providing the check .

[2019-06-17 14:29] uds5501 commented on #3070
@kushthedude The scope of this particular issue was to reflect placed orders in sold ticket stats. As far as the checks are concerned, that is a server issue and a new issue should be opened requiring those changes.
As far as FE is concerned and this particular issue is concerned, this issue is solved.

[2019-06-17 14:29] #3070 closed

[2019-06-17 14:52] uds5501 commented on #2953
@kushthedude are you working on it?

[2019-06-17 14:54] kushthedude commented on #2953
I think I told you about it yesterday @uds5501

On Mon, 17 Jun 2019 at 8:22 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-06-17 15:00] uds5501 opened #3154 "Send only completed/placed order notifications"
**Describe the bug**

Ticket cancellation notifications are being sent while only completed/placed order ticket-holders must receive the notification regarding their order status.

**Screenshots**

![Screenshot-from-2019-06-17-14-09-56](https://user-images.githubusercontent.com/21087061/59614622-c1fb9100-913e-11e9-9867-466e9361fa03.png)

[2019-06-17 15:04] uds5501 commented on #3075
@kushthedude I think I have a lead regarding this.
Once you reach the speakers tab in https://eventyay.com/e/433e7b16, hovering over the info tab gives you this link: `https://eventyay.com/e/433e7b16/speakers#info` . Which means the session is not being captured correctly.

See here :

https://github.com/fossasia/open-event-frontend/blob/7cbf3fedfbf481314975185c9daac410fefa6a8e/app/templates/compo

[2019-06-17 15:04] uds5501 commented on #3154
@CosmicCoder96 Please add it to milestone 4

[2019-06-17 15:37] mariobehling opened #3155 "Create a notification and ensure Mail is working as expected"
When an order is created, but the user aborts the order or does not pay, the user should receive an email after the order time is finished.

There is already an email in the admin message section listed. The user should also receive a notification in that case. Please activate options by default.

Please also change this system message

to

* Subject: Your order for {event_name} has expired. Visit

[2019-06-17 15:38] mariobehling commented on #3154
On second thoughts, while we don't want to tell people that tickets they did not order were canceled, the actual thing we want is to tell people, that "orders have expired". Please rather change the message for ticket orders that were completed to:

"Thank you for your interest in the [event name here]. Your order order has expired. Visit the [event name here] order page <with a link to the page>

[2019-06-17 15:51] prateekj117 commented on #3155
@mariobehling I will take this one.

[2019-06-17 16:36] uds5501 commented on #3155
@prateekj117  I am already working on an issue related to this so I think I will implement this alongside . Thanks :D

[2019-06-17 16:36] prateekj117 commented on #3155
@uds5501 Cool.

[2019-06-18 05:57] shreyanshdwivedi opened #3156 "Implement checks for ratings of sessions by event organizer/owner"
**Is your feature request related to a problem? Please describe.**

This is a followup issue for https://github.com/fossasia/open-event-frontend/issues/2959
 - There is a typo in feedback shema
 - There should be checks that feedback can be updated/created only by owner/organizer of the event.

**Additional context**

Working on it
Related FE PR - https://github.com/fossasia/open-event-frontend/pu

[2019-06-18 05:58] shreyanshdwivedi commented on #3156
@CosmicCoder96 please transfer this to server.

[2019-06-18 16:31] kushthedude commented on #3153
@iamareebjamal  Please transfer it to server

[2019-06-18 17:17] #3142 closed

[2019-06-18 17:41] mariobehling opened #3157 "Implement Refund Functionality and Policy"
Research Refund processes and functionalities and open issues for specific areas.

* [ ] Refund Policy in Wizard Step 1 for paid and donation tickets
![Screenshot from 2019-06-18 17-19-41](https://user-images.githubusercontent.com/1583873/59706374-a5279200-9200-11e9-80f0-eac1c36b3d08.png)
* [ ] Show Refund Policy during Check out similar to Eventbrite
* [ ] Show Refund Policy on Public Event Page

[2019-06-18 19:01] kushthedude commented on #3157
Looking into it

[2019-06-18 19:08] kushthedude commented on #3157
Server Side Issue : https://github.com/fossasia/open-event-server/issues/6065

[2019-06-19 08:54] mariobehling opened #3159 "Event maps showing wrong location"
When people create a new event, they usually have a wrong map location.

![Screenshot from 2019-06-19 10-53-45](https://user-images.githubusercontent.com/1583873/59751349-a4cedb80-9280-11e9-97ef-8881720ad31a.png)

[2019-06-19 19:21] #3108 closed

[2019-06-19 19:27] kushthedude commented on #3159
@CosmicCoder96 @mariobehling Please see this https://github.com/fossasia/open-event-frontend/issues/3052#issuecomment-499836852

[2019-06-19 22:06] mariobehling opened #3161 "Move registration time limit to admin settings and set standard to 15 minutes"
Organizers should not have an option to set a time limit on the registration. Please move the time limit to https://eventyay.com/admin/settings and set the standard to 15 minutes. Apply the time limit for all events.

* Keep it out of wizard step 2
* Keep it out of event order forms e.g. here: https://eventyay.com/events/a315169f/tickets/order-form

![58038155-d3a44580-7b4c-11e9-8b24-89fc7c5dfd7c]

[2019-06-19 23:26] kushthedude commented on #3161
On it

[2019-06-19 23:27] kushthedude commented on #3161
On it

[2019-06-20 09:54] kushthedude opened #3164 "Event Wizard: CSS body overflow in Tax Info Modal"
**Describe the bug**

CSS Body Overflow in `Tax Info Modal`

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Create Event'
2. Click on 'Add Tax Information'
3. Scroll down to 'Business Name'
4. See error

**Expected behaviour**

No Overflow

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/59809185-0775b500-931d-11e9-99d4-0affc538b43b.png)

**Video**

htt

[2019-06-20 11:00] #275 closed

[2019-06-20 17:06] #3057 closed

[2019-06-20 18:43] Anupam-dagar commented on #3132
@CosmicCoder96 How can I see invoices in this section? I did some orders but the invoices section is still empty.

[2019-06-21 06:10] mrsaicharan1 opened #3166 "Account/Billing Info is accessible without authentication"
**Describe the bug**
Account/Billing info for a user does not redirect to the login page when unauthenticated.

**To Reproduce**
Steps to reproduce the behaviour:
Go to '/account/billing-info'

**Expected behaviour**
Page should redirect to login page when unauthenticated
Page should be visible to users who are logged in

**Main Context**
![auth-mixin](https://user-images.githubusercontent.com/251

[2019-06-21 09:57] shreyanshdwivedi opened #3168 "Deleted orders not visible to admin"
**Describe the bug**

When an organizer deletes an order, it is invisible to admin too

**Expected behaviour**

The deleted order should not be visible to organizer but it should be visible to admin

**Additional context**

Up for grabs

[2019-06-21 13:04] kushthedude commented on #3168
@shreyanshdwivedi How we are planning to do it , Adding a new tab just for order would seem bad , Any idea  or suggestion?

[2019-06-21 13:06] mrsaicharan1 commented on #3168
<img width="509" alt="Screenshot 2019-06-21 at 6 35 55 PM" src="https://user-images.githubusercontent.com/25197147/59924491-76edc080-9453-11e9-9146-35a43b123f56.png">
Adding a new tab for deleted orders and including them in the `all` tab is all that is required.

[2019-06-21 13:10] kushthedude commented on #3168
So we will just add an order tab, Without relating any order to its corresponding event , And showing orders of all events at once? @mrsaicharan1 Don't you think it is not proper solution?

[2019-06-21 13:59] #3166 closed

[2019-06-21 14:19] #2963 closed

[2019-06-21 15:38] uds5501 commented on #3153
@kushthedude This requires minor adjustments only, will take this up.

[2019-06-21 23:40] mrsaicharan1 commented on #3168
Admin will always be able to see all orders related to all events. And yeah, if you would've observed closely, to view a list of orders on the admin side, you have to select the event prior to that. Please try to explore a little more.
<img width="509" alt="Screenshot 2019-06-21 at 6 35 55 PM" src="https://user-images.githubusercontent.com/25197147/59956143-1a6abf80-94ac-11e9-8664-1b656dc053af.png

[2019-06-22 11:19] #3140 closed

[2019-06-22 18:15] mariobehling opened #3172 "Show Sales "Events by Location" according to City only"
On the Sales "events by location" page only show the city as a location (https://eventyay.com/admin/sales/locations).

![Screenshot from 2019-06-22 20-12-50](https://user-images.githubusercontent.com/1583873/59967463-66f4e000-952a-11e9-8120-f9f086bfb852.png)

[2019-06-22 18:17] prateekj117 commented on #3172
@mariobehling On it.

[2019-06-22 19:28] mariobehling opened #3173 "Rename and Enhance "Admin Sales Fees""
1. Please rename fees in admin sales section to "revenue" (https://eventyay.com/admin/sales/fees).
2. Enhance section as follows:
* Implement information as a table
   * with sortable columns similar to other tables in the admin area
![Screenshot from 2019-06-22 20-22-35](https://user-images.githubusercontent.com/1583873/59967530-91936880-952b-11e9-8840-aca968f20ed9.png) include
   * a search bar

[2019-06-23 01:52] kushthedude opened #3174 "Event Wizard : Donation Ticket Price is not visible due to lack of space"
**Describe the bug**

Donation Ticket Price is not visible due to lack of space
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Create Event'
2. Click on 'Donation Ticket'
3. Scroll down to 'Price'
4. See error

**Expected behaviour**

Price should be visible
**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/59970582-8e2dca80-9587-11e9-902a-8157aeebd995.png)

[2019-06-23 01:56] kushthedude opened #3175 "Event Dashboard : Include the presence of custom attendee form in Event Checklist"
**Is your feature request related to a problem? Please describe.**

Event Checklist shows no details about custom attendee form.

**Describe the solution you'd like**

Add details about it

**Additional context**

![image](https://user-images.githubusercontent.com/44091822/59970592-1dd37900-9588-11e9-8b3b-52f2ecb1f9cd.png)

[2019-06-23 01:59] kushthedude opened #3176 "Attendee Form: Make gender field a dropdown instead of textbox"
**Describe the bug**

`Gender Field` is currently a textbox in `Attendee Form`.

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to 'Gender Field'
2. See error

**Expected behaviour**

 Please make it a dropdown as done in `Speaker Form`
**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/59970620-96d2d080-9588-11e9-8de7-bef2bd098504.png)

**Desktop (please compl

[2019-06-23 02:00] kushthedude commented on #3173
Can be done after merging #3014 or will create merge conflicts .

[2019-06-23 02:22] mrsaicharan1 opened #3177 "Add details for admin invoice billing details"
**Describe the feature**
Related front-end PR:https://github.com/fossasia/open-event-frontend/pull/3152
We need model additions for admin invoice billing info in settings so that the organisers can pay their invoice to the admin.

**Additional context**
Working on it.

[2019-06-23 02:22] #3177 closed

[2019-06-23 03:25] kushthedude commented on #3172
@prateekj117 I request you to please refrain from pushing the PR for the following, PR is #3014, is almost done, It will be merged in a day , After the pagination is done you can just change the value of a column for the following

[2019-06-23 03:28] uds5501 commented on #3175
@kushthedude can I take care of this one ?

[2019-06-23 03:29] kushthedude commented on #3175
Sure

[2019-06-23 03:33] kushthedude opened #3179 "Event Wizard: Rename `Ticket Form` to `Attendee Form`"
**Describe the bug**

In the event wizard, Please change the name to attendee form.
**To Reproduce**

Steps to reproduce the behaviour:
1. Go to 'Create Event'
2. Click on 'Attendee Form'
3. See error

**Expected behaviour**

Please Rename It

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/59971232-b6242a80-9595-11e9-810c-9b2b417bace0.png)

**Desktop (please complete

[2019-06-23 03:52] kushthedude commented on #3075
@uds5501 Can you please verify it on local if this exists? I think it has been solved after dependancy upgrade PR by @CosmicCoder96

[2019-06-23 04:57] CosmicCoder96 commented on #2970
Event locations are fully implemented now, both on FE, Server.

[2019-06-23 04:57] #2970 closed

[2019-06-23 05:01] CosmicCoder96 commented on #3172
@kushthedude in that case, just do it in PR#3014 itself, thanks!

[2019-06-23 05:23] #3174 closed

[2019-06-23 05:40] kushthedude commented on #3172
Cool ,

[2019-06-23 06:01] uds5501 commented on #3075
@kushthedude yes, it's working fine now. Hence closing the issue.

[2019-06-23 06:01] #3075 closed

[2019-06-23 06:51] #2082 closed

[2019-06-23 07:36] #3114 closed

[2019-06-24 07:39] prateekj117 commented on #3176
@kushthedude On it.

[2019-06-24 07:46] kushthedude commented on #3176
@prateekj almost done the following , Can you please take some else?

On Mon, 24 Jun 2019 at 1:09 PM, Prateek Jain <notifications@github.com>
wrote:

[2019-06-24 08:51] kushthedude commented on #3051
Added on the `eventyay.com`
![image](https://user-images.githubusercontent.com/44091822/60005044-64f66280-968b-11e9-895f-6893c3d3d818.png)

[2019-06-24 11:08] iamareebjamal commented on #3051
@kushthedude It's blank and URL contains capital letters

[2019-06-24 11:09] kushthedude commented on #3051
I didn’t check them , sorry for ignorance

On Mon, 24 Jun 2019 at 4:38 PM, Areeb Jamal <notifications@github.com>
wrote:

[2019-06-24 11:34] kushthedude opened #3181 "Admin: undefined route in `Admin/User'"
**Describe the bug**

No route is defined for `Accounts Link` in `Admin/Users`

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Admin/Users'
2. Scroll down to 'User Links'
3. See error

**Expected behaviour**

Define the route properly so that admin can see user details

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/60015821-08527200-96a2-11e9-9c10-082

[2019-06-24 11:36] prateekj117 commented on #3181
Can I take this?

[2019-06-24 11:39] kushthedude commented on #3181
@prateekj117 Be my guest !

[2019-06-24 11:39] kushthedude commented on #3181
But I am seriously confused at one point, The following route error can be easily removed with changing route name, As we have recently merged `Contact-Info` with ` Profile` but do we need to show this information for every to admin? Isn't it a breach to their private details like `Phone Numer`? @prateekj117 What do you say?
@shreyanshdwivedi @uds5501 Please give your thoughts too.

[2019-06-24 13:52] uds5501 commented on #3181
@kushthedude Yes we do need to show the information. The user is admin after all so he must have an access to all this information.

[2019-06-24 16:10] mariobehling opened #3183 "Wizard Step 1: Keep ticket buttons in one row"
Tickets buttons should not move to another line after a ticket is created.

![Screenshot from 2019-06-24 18-09-27](https://user-images.githubusercontent.com/1583873/60034613-56b83e80-96ab-11e9-91e4-ad98625a77c0.png)

[2019-06-24 16:19] mariobehling opened #3184 "Order Quantity for Donation Tickets Missing and Donation Ticket of 0 USD should not be possible / minimum amount not working"
1. Order Quantity for Donation Tickets is missing. Expected: Donation tickets could also be limited if e.g. the venue has limited space.

![Screenshot from 2019-06-24 18-17-52](https://user-images.githubusercontent.com/1583873/60035210-94699700-96ac-11e9-9bdd-42310cd948bc.png)

2. Donation ticket of 0 USD is possible even though minimum amount of 1 USD is defined in the ticket settings. In any cas

[2019-06-24 16:31] mariobehling opened #3186 "Wizard: "Save Draft" and "Publish Button" disappeared"
The buttons "Save Draft" and "Public Button" disappeared when clicking through the wizard. This could be because nothing was changed. However, the buttons should always appear in order to avoid confusion of the user.

Expected:

All steps should have a button:
* Save Draft
* Publish

If the user has not filled in sufficient information to publish an event, there should be a prompt "You need to fil

[2019-06-24 16:38] kushthedude opened #3187 "Event Wizard: Transition between various steps not working as expected"
**Describe the bug**

The transition between steps of `Event Wizard` is not working smoothly.

**To Reproduce**

Steps to reproduce the behaviour:

- Go to `Edit Event`.
- Go to `Session and Speaker Step`.
- Go to `Sponsor Step`
- Go back to `Session and Speaker Step`, See Error

**Expected behaviour**

The transition should be smooth, It may happen if the user has left some information in `Sponso

[2019-06-24 16:40] mariobehling opened #3188 "Event Dashboard: Attendee Form Missing"
A button to edit the "Attendee Form" is missing in the event box. Please add it.

![Screenshot from 2019-06-24 18-36-41](https://user-images.githubusercontent.com/1583873/60036324-430ed700-96af-11e9-8b6f-525d0c7a3672.png)

[2019-06-24 16:41] kushthedude commented on #3188
Duplicate of #3175

[2019-06-24 16:42] kushthedude commented on #3175
@uds5501 Are you working on it? , Or should I push the changes ?

[2019-06-24 16:43] mariobehling opened #3189 "Wizard: Attendee Form - Add descriptive info"
The attendee form in the wizard is missing information where the data is kept. Please add the following:

The attendee form by default collects the name and email of an attendee. You also have the option to collect additional information such as contact data, position, organization and more. This information will be available together with the ticket information in a CSV file in the ticket section

[2019-06-24 16:57] uds5501 commented on #3175
@kushthedude I am on it, will push it tonight itself.

[2019-06-24 17:43] Anupam-dagar opened #3192 "Unexpected error when clicking on session and speaker from other tabs while editing event."
**Describe the bug**

An unexpected error occurs while in edit view of event, first click on attendee form tab then on session and speakers to see the error.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'edit event'
2. Click on session and speakers
3. Click on attendee form
4. Click again on session and speakers
5. See error

**Expected behaviour**

There shouldn't be any unexpected

[2019-06-24 17:49] uds5501 commented on #3192
@Anupam-dagar I tried traiging the issue and it showed the following behaviour.

Click any tab (Basic Details, Attendee, Sponsorship) causes this error to happen. Please update the description.

[2019-06-24 17:54] Anupam-dagar commented on #3192
@uds5501 I guess I'll close this issue then, it's duplicate of https://github.com/fossasia/open-event-frontend/issues/3187

[2019-06-24 17:54] #3192 closed

[2019-06-25 05:15] uds5501 commented on #3132
@mrsaicharan1 @Anupam-dagar can I help with a sub-issue or two?

[2019-06-25 12:09] shreyanshdwivedi commented on #3186
On it

[2019-06-25 14:13] #3175 closed

[2019-06-25 15:33] shreyanshdwivedi commented on #2959
The final structure which is expected from this issue -
we should rather try an option where we give any role that has the right to rate
   - the option to choose any star from 1 to 5

Also then we can have two more column showing
   - average rating
   - number of people who rated

Columns - `| Rate session | Avg Rating | No. of people rated |`

[2019-06-25 15:44] shreyanshdwivedi opened #3195 "Add required columns to 'Manage Events/Sessions' for rating"
Sub-issue of https://github.com/fossasia/open-event-frontend/issues/2959

We give any role that has the right to rate
   - the option to choose any star from 1 to 5

Also then we can have two more column showing
   - average rating
   - number of people who rated

Columns Required - `| Rate session | Avg Rating | No. of people rated |`

**Additional Context**
On it

[2019-06-25 15:47] uds5501 commented on #3188
Closed in #3191

[2019-06-25 15:47] #3188 closed

[2019-06-25 16:15] #3183 closed

[2019-06-25 17:49] kushthedude commented on #3195
@shreyanshdwivedi I suggest you take this following feature on hold, Ember-Table refactor for `Manage-Events` will be ready in 2-3 days, I don't think we should at least, for now, make a change in manage-events model table, What you say ?

[2019-06-25 17:57] shreyanshdwivedi commented on #3195
If @CosmicCoder96 feels the same, I can put a hold on it.

[2019-06-25 18:09] CosmicCoder96 commented on #3195
@shreyanshdwivedi If you are creating a separate cell component, then you can just go ahead, I am using the existing cell-components.

[2019-06-25 19:32] prateekj117 opened #3196 "Admin/Users {{#link-to}} doesn't transition to route"
**Describe the bug**
{{#link-to}} doesn't transition to route in Admin/Users

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'admin/users/{user_id}/account'.
2. Click on 'Applications'
3. See error

**Expected behaviour**
{{#link-to}} should transition to route in Admin/Users

**Screenshots**
![Screenshot from 2019-06-26 00-42-07](https://user-images.githubusercontent.com/31065687/601

[2019-06-25 19:45] prateekj117 opened #3197 "Empty UI segment in Admin/Users Profile"
**Describe the bug**
Empty UI segment in Admin/Users Profile

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'admin/users/{user_id}/account/profile'
2. See error

**Expected behaviour**
Should not be empty. It should show users info.

**Screenshots**
![Screenshot from 2019-06-26 01-11-24](https://user-images.githubusercontent.com/31065687/60128226-c283cf80-97af-11e9-8126-546dacc582a7.

[2019-06-25 19:48] prateekj117 commented on #3196
@CosmicCoder96 When clicked on icon, console shows that model described might be null or empty, though when I checked it wasn't.
![Screenshot from 2019-06-26 01-18-09](https://user-images.githubusercontent.com/31065687/60128452-56ee3200-97b0-11e9-8b5a-c4f58799d9e3.png)

[2019-06-26 04:08] shreyanshdwivedi commented on #3197
Will take a look

[2019-06-26 06:42] mrsaicharan1 commented on #3196
Will have a look

[2019-06-26 10:08] CosmicCoder96 commented on #3051
[https://eventyay.com/privacy-policy](https://eventyay.com/privacy-policy)
[https://eventyay.com/terms](https://eventyay.com/terms)

Both seem to be working, remove the links @anhanh11001 added have a trailing slash on them which is not required. It may be closed.

[2019-06-26 11:25] uds5501 commented on #3154
@CosmicCoder96 @mrsaicharan1 @shreyanshdwivedi as discussed on the gitter channel, I don't think this issue is of relevance  anymore.
So, should I close it?

[2019-06-26 11:52] uds5501 opened #3199 "Step 2 : Allow addition of custom fields in the attendee-form"
Parent Issue : #2956

This issue is focused on implementing a basic custom question addition in the attendee forms just like event-brite.

Proposed addition in the custom-fields model:
- Question Prompt : To let organisers add details about the custom question
- IsCustomQuestion : To separate the default fields from these custom fields.

[2019-06-26 11:53] prateekj117 commented on #3199
@uds5501 May I work on it's server side implementation?

[2019-06-26 11:56] uds5501 commented on #3199
@prateekj117 thanks for the help but I have already prepared both server and backend PRs. I will be pushing both of them tonight.

[2019-06-26 13:09] iamareebjamal commented on #3051
Weren't working when I checked. However, why a trailing slash breaks the URL? Please open an issue to fix that