[2019-03-26 17:34] mohitm15 commented on #1996
@cweitat Can I now work on it. Clarify where to change the address.
![Screenshot from 2019-03-26 23-03-37](https://user-images.githubusercontent.com/35539313/55019659-58765580-501b-11e9-9952-55bdb1d3431f.png)
Please confirm this and direct me about the html file. I didn't found it on open event frontend

[2019-03-26 18:31] maulkin commented on #2142
For info, the following seems to be the flow on submit (minus the OPTIONS calls):
POST https://eventsap.../v1/sessions - 201 CREATED
Payload:
`{"data":{"attributes":{"title":"test2","subtitle":null,"starts-at":null,"ends-at":null,"short-abstract":"abstract goes here","long-abstract":null,"language":null,"level":null,"comments":"Test comment","state":null,"slides-url":null,"video-url":null,"audio-u

[2019-03-26 19:58] kushthedude opened #2397 "Clicking on 'Call For Speakers' section should redirect to 'Call For Speakers' section"
**Is your feature request related to a problem? Please describe.**

No , Just an enhancement:
- When Call for Speakers is open for an event . It is displayed on the index page of WebApp.
- When you click on the event card you should get redirected to the 'call for speaker'   section of that given amount

**Describe the solution you'd like**

Clicking on the event card should redirect to 'Call For

[2019-03-26 20:23] kushthedude opened #2398 "Unresponsive UI of Tickets Table"
**Describe the bug**

When the 'info section' of a event is decreased in size , Event name, ticket type and many details disappear and UI worsens

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'Click on any event card'
2. Click on 'Info in side bar'
3. Resize the window
4. See error

**Expected behavior**

UI should be intact

**Screenshots**

![UI](https://user-images.githubusercont

[2019-03-26 20:25] kushthedude commented on #2398
@CosmicCoder96 I was using the site on the phone using Chrome Simulation , Many tables in the WebApp needs a workaround as they are not modified for a small screen.

[2019-03-27 02:35] #1996 closed

[2019-03-27 02:36] CosmicCoder96 commented on #2398
This is responsive,  horizontal tables can't remain intact on vertical screens.

[2019-03-27 02:36] #2398 closed

[2019-03-27 02:37] CosmicCoder96 commented on #2397
No it just means that the given event has CFS open. People can browse it with that in mind.

[2019-03-27 02:37] #2397 closed

[2019-03-27 02:37] CosmicCoder96 commented on #2395
You are using the legacy version. Wrong repo.

[2019-03-27 02:37] #2395 closed

[2019-03-27 02:39] #2388 closed

[2019-03-27 02:40] #2392 closed

[2019-03-27 02:41] #2382 closed

[2019-03-27 02:54] uds5501 commented on #2396
@thanostx looking into it

[2019-03-27 04:26] Anupam-dagar opened #2399 "Fix responsiveness of filter options on home page."
**Describe the bug**

The filter options on home page isn't responsive. The search bar gets cut for smaller screens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/'
2. Switch to responsive mode.
3. See error

**Expected behavior**

I suggest moving search bar and buttons in different lines for mobile screens.
**Screenshots**

![Screenshot from 2019-03-27 09-51-31](https://user-imag

[2019-03-27 04:29] kushthedude commented on #2398
Should not this be something to be worked , like if user try to acces on phone all he can see is the ugly columns?

[2019-03-27 04:38] kushthedude commented on #2399
@Anupam-dagar have a look at #2247

[2019-03-27 04:40] kushthedude commented on #2396
@uds5501 i was lookin into it and when we click on login/signup it directly lands us to the login default page and it dont have any memory from which login was called.

[2019-03-27 04:42] Anupam-dagar commented on #2399
@kushthedude Your issue and my issue are for sure referencing the same component but not the same issue.

[2019-03-27 04:43] kushthedude commented on #2399
I think responsiveness is left out intentionally :)

On Wed, 27 Mar 2019 at 10:12 AM, Anupam Dagar <notifications@github.com>
wrote:

[2019-03-27 04:54] uds5501 opened #2400 "422 Payload error on ordering a free ticket"
**Describe the bug**

A 422 Empty payload error is raised whenever trying to order a free ticket
(Error: Ember Data Request PATCH http://127.0.0.1:5000/v1/orders/33696a48-fad5-4eb9-8d68-96a65cc3aabd returned a 422 Payload (Empty Content-Type) [object Object] Oops something went wrong. Please try again)

**To Reproduce**
![ezgif com-video-to-gif (9)](https://user-images.githubusercontent.com/210870

[2019-03-27 06:04] uds5501 opened #2402 "Admin/sales statistics not being rendered"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin/Sales
2. Click on Locations
3. See error

**Expected behavior**

The non rendered stats should display a zero instead

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/55053993-2947fe80-5084-11e9-9dee-85b4c6218a4a.png)

**Desktop (please complete the following information):**
 - OS: [

[2019-03-27 06:39] uds5501 opened #2404 "Maximum orderable tickets is not being shown as set"
**Describe the bug**

Currently, maximum number of orders for a ticket if set is `x` then the number of orders in the drop down on frontpage is being shown as `x-1`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a ticket
2. Go to event page
3. See error

**Expected behavior**

The number of maximum orders for a user should be as set up in the ticket-detail

**Screenshots**

![image](

[2019-03-27 07:42] kushthedude commented on #2402
@uds5501 This is due to the currency parser it will get included in #2376 as the issue created here is due to the 'currency-symbol' attribute , And i am lookin for a once and for all fix for it :) , You may close it

[2019-03-27 07:47] kushthedude commented on #2400
@uds5501 Will you please check into it as i am not able to see this error?

[2019-03-27 07:52] kushthedude commented on #2400
See into this
![issue](https://user-images.githubusercontent.com/44091822/55058819-2b658980-5093-11e9-94b8-ec25cc52c225.gif)

[2019-03-27 08:15] uds5501 commented on #2400
@kushthedude there has been a database migration recently done by me. Update your database and try again

[2019-03-27 08:18] uds5501 commented on #2402
@kushthedude this is not exactly basic currency parsing as I have given my argument in the PR itself :)

[2019-03-27 08:22] mohitm15 commented on #2395
Okay

[2019-03-27 09:07] Anupam-dagar opened #2406 "Can't restore a deleted event"
**Describe the bug**

On restoring a deleted event, `an unexpected error has occured appears`. The console shows a `422 Unprocessable Entity` error. I have synced my server and upgraded the migrations.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/admin/events/deleted'
2. Click on 'restore event'
3. See error

**Expected behavior**

Event should get restored.
**Screenshots**

**Add

[2019-03-27 09:26] uds5501 commented on #2406
@Anupam-dagar Event Restoration is working fine for me. Any particulars which were in your event which you would like to share?

[2019-03-27 09:29] uds5501 opened #2407 "CFS event-card on index should link to event's cfs page"
**Describe the bug**

The event-cards under Call for speakers should directly link to event's call for speaker page instead of the main page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Index
2. Click on any CFS event
3. See error

**Expected behavior**

The car should link to the CFS page of the event

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubun

[2019-03-27 09:43] kushthedude commented on #2407
see #2397 they are same . :0

[2019-03-27 09:49] uds5501 commented on #2407
...okay, closing it now

[2019-03-27 09:49] #2407 closed

[2019-03-27 09:51] kushthedude commented on #2400
@uds5501 I tried it after updating database and its workin perfectly fine.

[2019-03-27 09:53] kushthedude commented on #2406
Workin fine for me too :)

[2019-03-27 10:49] kushthedude opened #2408 "Number Of Speakers not getting updated under tickets overview"
**Describe the bug**

Number Of Speaker shown under tickets overview is not appropriate and its not getting updated as soon as some speaker is getting confirmed.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Manage Events'
2. Click on 'View Event'
3. Scroll down to 'See under general info'
4. See error

**Expected behavior**

Number of speakers should get updated.

**Screenshots**

[2019-03-27 11:08] uds5501 commented on #2408
@kushthedude this will be resolved after #2381 is merged :)

[2019-03-27 12:52] harsh-jindal opened #2409 "Add tooltip to event overview when in mobile view"
**Describe the bug**

Currently in mobile view the user has no info on the icons on the top.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Event overview'

**Expected behavior**

Add tooltip to event overview when in mobile view
**Screenshots**

![Screenshot 2019-03-27 at 6 19 50 PM](https://user-images.githubusercontent.com/31013104/55077255-464cf380-50bd-11e9-808f-13ba181e9eb9.png)

[2019-03-27 15:05] harsh-jindal opened #2411 "Link the respective count of events/sessions to their corresponding type in Admin"
**Describe the bug**

Currently only number of various types of events/sessions is shown.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin'

**Expected behavior**

It would be better if the user can click on for example the number of draft events and be taken to that page.
**Screenshots**

![Screenshot 2019-03-27 at 8 32 10 PM](https://user-images.githubusercontent.com/31013104/55

[2019-03-27 15:17] ritikamotwani commented on #2411
Not a priority right now.
Please check version1

[2019-03-27 15:17] #2411 closed

[2019-03-27 15:43] maulkin commented on #2142
A further follow up. For some reason, the session isn't being linked with any speakers on creation, which is why the api returns a 403 when it tries to update it. It does seem that no speakers are associated with the session.

[2019-03-27 16:13] uds5501 commented on #2142
@maulkin could you try querying for a session with `speakers` in the include argument?

[2019-03-27 17:00] kushthedude opened #2412 "Incorrect amount of Tickets under 'Fees section'"
**Describe the bug**

Incorrect number of tickets are displayed under fee summary section.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Admin/Sales/Fees'
2. Scroll down to 'Tickets'
4. See error

**Expected behavior**

It should show correct number of tickets

**Screenshots**

<img width="978" alt="Screenshot 2019-03-27 at 10 26 17 PM" src="https://user-images.githubusercontent.c

[2019-03-27 17:01] kushthedude commented on #2412
@uds5501 Can you please verify the issue 😅 ?

[2019-03-27 17:15] uds5501 commented on #2412
@kushthedude  as discussed and stated by @shreyanshdwivedi , it's ticket sales and has already been resolved, kindly update your repository :)

[2019-03-27 17:46] kushthedude commented on #2412
Oops

[2019-03-27 18:16] harsh-jindal opened #2413 "Add class unstackable to table of Manage Roles and Tickets in Overview in mobile view"
**Describe the bug**

Currently the table in Manage Roles and Tickets stacks vertically in mobile view but it can viewed horizontally as the number of columns are less.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Overview'
2. 'Decrease browser screen size'
4. See error

**Expected behavior**

Add class unstackable to table of Manage Roles and Tickets in Overview in mobile view
**Sc

[2019-03-27 18:30] kushthedude commented on #2413
See #2398 .

[2019-03-27 18:42] harsh-jindal commented on #2398
@CosmicCoder96 @kushthedude  I think tables with less than 4 columns can be shown horizontally as it would provide better user interface.

[2019-03-27 18:45] kushthedude commented on #2398
@harsh-jindal I think responsiveness of Mobile UI is included in GSOC and the solution you provided actually worsens UI in some phones as table extends the confined boundary .

[2019-03-27 18:54] harsh-jindal commented on #2398
@kushthedude Cool I'll close #2413 . Let this issue be resolved during GSOC period.

[2019-03-27 18:54] #2413 closed

[2019-03-27 18:55] kushthedude commented on #2398
@harsh-jindal Great but just making table class unstackable is not valid fix 😅

[2019-03-27 19:00] harsh-jindal commented on #2398
@kushthedude Yeah.. I know that, I thought it would work where the number of columns were less than four. Will have to come up with better implementations anyways for the remaining tables. So will fix it that time.

[2019-03-27 20:13] maulkin commented on #2142
@uds5501 :

`{"data": {"type": "session", "attributes": {"created-at": "2019-03-27T20:04:43.911646+00:00", "average-rating": null, "starts-at": null, "video-url": null, "slides-url": null, "signup-url": null, "short-abstract": "", "long-abstract": null, "is-mail-sent": false, "level": null, "comments": "", "language": null, "title": "test4", "audio-url": null, "submitted-at": "2019-03-27T20:04:45+

[2019-03-27 20:33] Anupam-dagar opened #2415 "Enhance navbar to include signup instead of create event when user hasn't logged in."
**Is your feature request related to a problem? Please describe.**

Currently the navbar include create event event when the user isn't logged in. There is no sign up button in the navbar. This might be design choice but I guess it can be changed. On looking on the other similar websites eventbrite and meetup, I saw all of them list signup in the navbar along with login. Also currently reaching si

[2019-03-27 21:14] mohitm15 opened #2417 "Uneven Spaces Between the buttons"
**Describe the bug**

 Spaces between the four buttons mentioned in the screenshot is not uniform shown under tickets overview.

 **To Reproduce**

 Steps to reproduce the behavior:

 1. Go to 'Manage Events'
 2. Click on 'View Event'
 3. Scroll to right top corner'
 4. See error

 **Expected behavior**

 All buttons should be aligned properly

 **Screenshots**
 ![Screenshot from 2019-03-28 02-34-

[2019-03-27 22:04] CosmicCoder96 commented on #2384
Sponsor logos are not squares.

[2019-03-27 22:04] #2384 closed

[2019-03-27 22:16] CosmicCoder96 commented on #2415
No major changes in the core UI yet which are not present in the legacy. People are more likely to create at create event and use the system when the button is right there.

[2019-03-27 22:16] #2415 closed

[2019-03-27 22:17] CosmicCoder96 commented on #2409
Not required.

[2019-03-27 22:17] #2409 closed

[2019-03-27 22:19] #2404 closed

[2019-03-27 22:47] #2380 closed

[2019-03-28 02:21] CosmicCoder96 commented on #2417
intentional. The groups of buttons are categorized as Viewing, Editing, Deleting actions.

[2019-03-28 02:21] #2417 closed

[2019-03-28 02:21] CosmicCoder96 commented on #2408
2381 is merged.

[2019-03-28 02:21] #2408 closed

[2019-03-28 02:22] CosmicCoder96 commented on #2406
Working fine here, recheck and close if you can't repeat it.

[2019-03-28 02:26] CosmicCoder96 commented on #2386
@kushthedude Before you make a PR do propose a solution that you think would be fit to display horizontal tables on a vertical screen and share a deployment link of it, maybe we can use it all across the app then :)

[2019-03-28 06:20] mohitm15 opened #2418 "Typo in the readme file"
**Describe the bug**

Typo in the readme file.-Repetition of a word.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'readme file'
2. Scroll down to 'contribution best practices'
3. See error

**Additional context**

  I am working on it

[2019-03-28 06:26] mohitm15 commented on #2417
@CosmicCoder96 I am talking that the space between preview and (unpublish+copy) is not the same as that of (unpublish+copy) and delete

[2019-03-28 06:26] mohitm15 commented on #2417
@CosmicCoder96 what are your views??

[2019-03-28 07:41] #2418 closed

[2019-03-28 07:48] CosmicCoder96 commented on #2406
Tested it, event restored successfully.

[2019-03-28 07:48] #2406 closed

[2019-03-28 08:05] CosmicCoder96 commented on #2400
@uds5501 I know why this is happening, but what's interesting is nothing has changed on the server. It's a failed validation for the amount to be greater than zero. I wonder what changed on the frontend.

[2019-03-28 08:10] uds5501 commented on #2400
@CosmicCoder96 Actually. One thing has, after the recent migration, the `amount` is supposed to be non-null but the patch request for a free ticket is passing a request with no amount parameter. I tried adding it but nothing changed

[2019-03-28 08:14] CosmicCoder96 commented on #2400
Let's follow the discussion here. https://github.com/fossasia/open-event-server/issues/5724

[2019-03-28 08:14] #2400 closed

[2019-03-28 08:22] Anupam-dagar commented on #2406
@CosmicCoder96 I am going to setup the server again, I guess somewhere migrations problem happened.

[2019-03-28 08:24] CosmicCoder96 opened #2421 "Speaker call is referenced even when it is null on public page"
![image](https://user-images.githubusercontent.com/17252805/55141663-df3f4580-5175-11e9-9fbd-fb50afc1c646.png)

[2019-03-28 08:32] CosmicCoder96 opened #2424 "Uncaught 404 on public event page routes if speakers-call is absent"
![image](https://user-images.githubusercontent.com/17252805/55142240-1f52f800-5177-11e9-8685-fd9353b998ad.png)

[2019-03-28 10:44] mohitm15 commented on #2417
@CosmicCoder96 Should I reopen this? and work on it

[2019-03-28 11:19] ritikamotwani commented on #2417
@mohitm15 this is not a priority at the moment. The spacing is kept similar to version1.
Please browse through other issues.

[2019-03-28 11:23] mohitm15 commented on #2417
@CosmicCoder96  okay

[2019-03-28 11:36] ritikamotwani commented on #2417
@mohitm15 no need to create it.
We'll reopen the issue if required.

[2019-03-28 11:49] mohitm15 commented on #2417
@ritika sure and don't forget to label it 😅

[2019-03-28 12:42] CosmicCoder96 opened #2425 "Creation of Discount code fails for ongoing event"
If an event is ongoing, the default values of the create-discount code form result in a 422.

[2019-03-28 13:10] kushthedude commented on #2412
@uds5501 I updated the repo but still its here

[2019-03-28 13:33] mohitm15 commented on #2417
@ritikamotwani Should I reopen it??

[2019-03-28 15:02] Haider8 opened #2427 "Wrong message on explore route when there is no event"
**Describe the bug**

```No events found for selected filters``` is shown when there is no event, and **neither any filters applied**.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Browse Events' page
2. See error (make sure you don't have any events)

**Expected behavior**

Should show something like this ```No Upcoming Events Found``` or ```No Events Found```.

**Screenshots**

![

[2019-03-28 17:44] Haider8 commented on #2427
@shreyanshdwivedi @mrsaicharan1 What should i write in the condition if i want to know there is any event or not. Please help :)

[2019-03-28 18:56] mohitm15 commented on #2427
Should I work on this issue?

[2019-03-28 19:05] mohitm15 commented on #697
@mariobehling @niranjan94 Should I take this issue

[2019-03-28 19:10] Haider8 commented on #2427
No, i am working on it

On Fri, Mar 29, 2019, 12:26 AM Mohit Maroliya <notifications@github.com
wrote:

[2019-03-29 03:42] CosmicCoder96 commented on #2424
Closed in #2423

[2019-03-29 03:42] #2424 closed

[2019-03-29 04:01] ritikamotwani commented on #2427
Let's not over complicate things -- this is a very trivial case, and not factually incorrect.

[2019-03-29 04:01] #2427 closed

[2019-03-29 04:02] #2425 closed

[2019-03-29 05:23] #2421 closed

[2019-03-29 14:22] Haider8 opened #2428 "No drop-down for protocol in website input field in call for speaker form"
**Describe the bug**

This field has validation, which require the users to enter the protocol manually whether it is ```https``` or ```http```. Therefore, ```example.com``` will not be accepted and ```https://example.com``` will be accepted. Instead of this we can give the users a drop-down for specifying the protocol, which will be easier for them.

**To Reproduce**
Steps to reproduce the behavi

[2019-03-30 05:19] greenkeeper[bot] opened #2430 "An in-range update of ember-exam is breaking the build 🚨"
## The devDependency [ember-exam](https://github.com/trentmwillis/ember-exam) was updated from `2.0.3` to `2.1.0`.

🚨 [View failing branch](https://github.com/fossasia/open-event-frontend/compare/development...fossasia:greenkeeper%2Fember-exam-2.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-exam is a devDepen

[2019-03-30 11:00] mohitm15 commented on #777
@niranjan94 Is this issue is open to work on??

[2019-03-30 19:42] kushthedude commented on #2390
@Haider8 Progress?

[2019-03-30 20:02] mohitm15 opened #2431 "Unresponsive event card image"
**Describe the bug**

  On resizing the window, the image of the event card disappears. Two screenshots are attached below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Open event'
2. Click on 'Browse events.'
3. Resize the window'
4. See error

**Expected behavior**

 It should display the image of the event card.

**Screenshots**

When fullscreen:
![Screenshot from 2019-03-31 01-

[2019-03-30 20:38] mohitm15 opened #2432 "Wrong default text on create event"
**Describe the bug**

 The default value in the time textfield while creating the event is '<b>invalid date</b>'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Open Event'
2. Click on 'create event'
3. Scroll down to 'starts and ends section'
4. See error

**Expected behavior**

The default value should be '<b>invalid time</b>'

**Screenshots**

![3](https://user-images.githubusercon

[2019-03-30 21:00] kushthedude commented on #2431
Displaying image with all the events details on such a small screen would make the UI look very compact and ugly hence it is recommended.

[2019-03-30 23:47] kushthedude opened #2433 "Clear Filter gets highlighted on No Param Passes"
**Describe the bug**

When there are no parameters in search bar on startup page and After clicking search , Clear Filter gets highlighted .

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'Start-Up Page'
2. Click on 'Search'
4. See error

**Expected behavior**

Unless some parameter is passed ,Clear-Filter should not get highlighted.

**Screenshots**

<img width="1085" alt="Screensho

[2019-03-31 00:26] kushthedude commented on #2302
@harsh-jindal specifying a category of event is must so there is no need to make these fields null 😄

[2019-03-31 05:19] bhawesh96 opened #2435 "Error on opening any event page"
**Describe the bug**
On opening any event's page, error thrown is -> `Cannot read property 'toISOString' of null`. Upon debugging, `event.schedulePublishedOn` is being `null`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.eventyay.com'
2. Click on Any of the listed events
4. See error in console

**Expected behavior**
Event page should load event details

**Screenshots**
![Scree

[2019-03-31 05:47] Haider8 commented on #2390
Yes, working on it. Was stuck in some college work.

On Sun, Mar 31, 2019, 1:12 AM Kush Trivedi <notifications@github.com wrote:

[2019-03-31 10:38] Haider8 opened #2436 "Admin page: Not showing last-accessed for users in local time"
**Describe the bug**

Last-Accessed for users is shown in GMT and not in the local time which is incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin' page.
2. Click on 'Users' tab.
3. See error.

**Expected behavior**

Should show last-accessed in local time.

**Screenshots**

For example, see the last-accessed column for ```super-admin```, time is ```8:11 AM``` but it sh

[2019-03-31 10:52] Haider8 opened #2834 "Does not create event even when start-date before end-date for dates having little difference"
**Describe the bug**

For dates with small difference, for example, ```start-date``` is 3 April 2019 and ```end-date``` is 4 April 2019 with both having time 00:00, it still shows the error message that ```start-date``` should be smaller then ```end-date```.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Event' page.
2. Fill form with dates mentioned above in bug description.

[2019-03-31 13:39] mohitm15 commented on #2433
@kushthedude I think this has been already working. If you click on search bar without any parameter is passes, clear filter buttons <b>did not </b> get highlighted. It gets highlighted only after you pass a parameter and search for it.
![ezgif com-optimize](https://user-images.githubusercontent.com/35539313/55289751-3fd5b900-53e8-11e9-9dc7-d13ddb936b40.gif)

[2019-03-31 13:47] kushthedude commented on #2433
@mohitm15 Refer #2434

[2019-03-31 14:29] mohitm15 opened #2437 "Incorrect Message for email verification"
**Describe the bug**

  Incorrect message is popped to the new user while verifying the new user's acoount.

**Expected behavior**

Correct message should be displayed

**Desktop (please complete the following information):**
 - OS: Ubuntu 16.04
 - Browser: Chrome
 - Version :71.0.3578.98

**Additional context**

Working on it (please go through the comment)

[2019-03-31 14:30] mohitm15 commented on #2437
While going through the code I found this linting error so didn't able to add a screenshot.

[2019-03-31 15:49] #2435 closed

[2019-03-31 16:35] harsh-jindal commented on #2302
@kushthedude Event Type is not a required field.

[2019-03-31 17:11] prateekj117 opened #2440 "Wrong button spacing in events page"
**Describe the bug**
Buttons are not correctly spaced.

**Screenshots**

![Screenshot from 2019-03-31 22-39-08](https://user-images.githubusercontent.com/31065687/55292260-0ca22280-5406-11e9-9baa-32ed733327bb.png)

**Additional context**
Working on it.

[2019-03-31 17:21] mohitm15 commented on #2440
@prateekj117 this is intentional

[2019-03-31 17:23] prateekj117 commented on #2440
@mohitm15 Are you sure? I don't get why it would be intentional.

[2019-03-31 17:26] mohitm15 commented on #2440
REFER: https://github.com/fossasia/open-event-frontend/issues/2417

[2019-04-01 02:38] kushthedude opened #2442 "Enhance UI for TicketFlow"
**Describe the bug**

As Ticket-Flow was implemented as Eventyay V.1 , Phase - 1 and Phase - 2 are completed according to #1994 but there are many bugs created due to it .
Some are enlisted below :-
1.) When a unregistered user orders tickets or create an order, A random password is generated after this and the credentials of that users are stored in database as done in #2003,
This should be avoid

[2019-04-01 02:39] kushthedude commented on #2442
@CosmicCoder96 @ritikamotwani Your reviews on it ?

[2019-04-01 02:47] CosmicCoder96 commented on #2442
This should be avoided as if that user wants to register for the Site , He needs to get his old password .

The user is also mailed a link to reset his password simultaneously. So he can always use it to sign in later. It seems you haven't set up test mail server correctly.

You can make the UI enhancements. Logic shouldn't change.=

[2019-04-01 02:48] ritikamotwani commented on #2440
@prateekj117 this is not a priority right now.
The spacings are kept same as version1.
Please browse through other issues.

[2019-04-01 02:48] #2440 closed

[2019-04-01 02:50] kushthedude commented on #2442
@CosmicCoder96 Dont you think a guest session type of thing would be more beneficial ,
If user only want tickets for some concert or some seminar he can simply checkout with details providing his email and phone number.😅

[2019-04-01 02:51] #2312 closed

[2019-04-01 02:56] CosmicCoder96 commented on #2442
umm @kushthedude isn't that what he is exactly doing now?
He provides an email, contact info and checks out.

[2019-04-01 02:57] CosmicCoder96 commented on #2442
We send him the tickets and a separate mail for logging in later if he wants to. We don't enforce setting up a password if he just wants to buy a ticket.

[2019-04-01 02:58] kushthedude commented on #2442
@CosmicCoder96 Just assume user comes to just buy tickets again and then rather than just checking out he will see the dialogue box which was implemented in phase-2 .

[2019-04-01 03:02] CosmicCoder96 commented on #2442
@kushthedude we have other plans for that later, during gsoc. We will make it similar to eventbrite, currently orders api requires JWT authentication -- not an option to do it like that. The orders api requires refactoring.

[2019-04-01 03:15] #2402 closed

[2019-04-01 09:13] prabhupant opened #2455 "Inactive users shows deleted users"
**Describe the bug**

When logged in as an admin, in the users tab under inactive users, deleted user is shown in place of inactive user

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin > Users
2. Click on inactive users
3. Scroll down
4. See error

**Expected behavior**

only inactive users must be shown

**Screenshot**

![inactive shows deleted](https://user-images.githubusercon

[2019-04-01 09:40] prabhupant opened #2460 "Active users shows inactive users too"
**Describe the bug**

in the active users section under the users tab in admin, inactive users are also shown with the active users

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

only active users should be shown

**Screenshot**

![active shows inactive](https://user-images.githubusercontent.com/197

[2019-04-01 11:07] mrsaicharan1 opened #2443 "admin:Translations download button not functional"
**Describe the bug**
The button in the admin panel for translations download must be functional

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin Panel'
2. Click on 'Contents tab'
3. Click on Download Translations button
4. No action occurs

**Expected behavior**
The translations must be downloaded in a zipped format.

**Additional context**
I'm working on it

[2019-04-01 11:32] #2437 closed

[2019-04-01 11:51] kushthedude opened #2444 "Currency-Symbol not getting rendered or breaking the page"
**Describe the bug**

Correct Currency-Symbols parser on the basis of event is not getting rendered at some places extension of #2376

**To Reproduce**

Steps to reproduce the behaviour:

1.) Admin/Sales/By Organizer , If we change the '$' to currency parser build gets broken.
2.) Admin/Sales/By Location , If we change the '$' to currency parser build gets broken.
3.) Events/View/Tickets/Discount

[2019-04-01 12:28] kushthedude commented on #2444
@CosmicCoder96 just a simple suggestion why dont you guide me in solving this rather than you yourself solve this🙄

[2019-04-01 13:01] CosmicCoder96 opened #2446 "Remove Jquery warning from builds"
Jquery needs to be explicitly added in package.json as future versions of ember won't include it.

Warning log:

[code]

[2019-04-01 13:03] prateekj117 commented on #2446
@CosmicCoder96 May I work on this issue?

[2019-04-01 13:12] prateekj117 commented on #2362
@Anupam-dagar If you haven't spent much time on it, may I work on this issue?

[2019-04-01 13:24] CosmicCoder96 commented on #2223
Fixed in https://github.com/fossasia/open-event-frontend/pull/2376

[2019-04-01 13:24] #2223 closed

[2019-04-01 13:25] #2446 closed

[2019-04-01 13:33] #2394 closed

[2019-04-01 13:35] #2069 closed

[2019-04-01 13:37] #2108 closed

[2019-04-01 13:42] mohitm15 opened #2448 "Icon not visible on hovering button"
**Describe the bug**

While hovering the login with facebook button, the facebook icon is neligibly visible

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'login'
2. Hover on' Login with Facebook'
3. See error

**Expected behavior**

the icon should be visible while hovering over the button

**Screenshots**

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/35539313/

[2019-04-01 15:16] mariobehling commented on #2444
@kushthedude Thanks for finding out about the issue. People in the community are free to follow their interests. Some people like to teach others, some like to focus on solving code issues themselves and things sometimes change. Right now our focus is to make this project stable, so the next release will work and the main time of devs should go into solving issues rather than teaching others.

The

[2019-04-01 15:19] mohitm15 commented on #2444
@mariobehling absolutely correct sir ,😃

On Mon 1 Apr, 2019, 8:46 PM Mario Behling, <notifications@github.com> wrote:

[2019-04-01 15:23] kushthedude commented on #2444
@mariobehling Thanks for the guide , I have read the blogs of FOSSASIA written by many dev's working on the current project ,Need to say they were really helpful in understanding the details about the project and the tech used in here and I really enjoy working with the community here . FOSSASIA is my first Open-Source organisation . I will work on other major bugs now and I am really looking forw

[2019-04-01 15:39] kushthedude opened #2450 "Implement Toggle 'eye icon' for Hide/Show password in Register-Form"
**Is your feature request related to a problem? Please describe.**

Yes , As a toggle switch is implemented in Login Form to show/hide password , Implement the same as in register form .

**Describe the solution you'd like**

Implement toggle for hide/show

**Additional context**

I am working

[2019-04-01 17:15] #2450 closed

[2019-04-01 17:56] uds5501 commented on #2431
@mohitm15 Kindly refer to the following lines of code:

[code]
this specifically mentions that the images should be displayed in the card only if the screen is wide enough for support. Also, as @kushthedude states, it would make the UI feel pretty squashed.

[2019-04-01 17:57] uds5501 commented on #2428
@Haider8 does the validation test pass on `www.example.com`?

[2019-04-01 18:01] uds5501 commented on #2432
@mohitm15 Bug non reproduce-able.

![image](https://user-images.githubusercontent.com/21087061/55349032-46425e80-54d6-11e9-9c4a-a9641e972faa.png)

[2019-04-01 18:53] #2172 closed

[2019-04-01 20:37] Anupam-dagar commented on #2362
sure

On Mon, Apr 1, 2019 at 6:42 PM Prateek Jain <notifications@github.com>
wrote:

--
Anupam Dagar
Pre Final Year Undergraduate Student
Department of Information Technology, IIIT Allahabad
GitHub Campus Expert
Overall Coordinator, Geekhaven - Technical Society of IIIT Allahabad
IIIT Allahabad
+91-8222018881
LinkedIn <https://www.linkedin.com/in/anupam-dagar-356b39129/> || Facebook
<https://www.f

[2019-04-01 23:05] Haider8 commented on #2428
@uds5501 No
![Screenshot_2019-04-02_04-32-56](https://user-images.githubusercontent.com/43299408/55365063-b6fe7080-5500-11e9-8c81-e0a9bfb5b0e4.png)

[2019-04-02 09:22] Haider8 commented on #2428
@uds5501 Can we change the validation rules in order to support ```http```, ```https``` and ```www``` and drop ```dropdown``` in that case?

[2019-04-02 09:24] Haider8 commented on #2390
@uds5501 @prabhupant I think this issue is not there anymore

[2019-04-02 10:05] mohitm15 commented on #2448
@mariobehling Can I add a custom CSS file because its working fine.

[2019-04-02 16:57] mohitm15 opened #2456 "Wrong storage instruction during file upload"
**Describe the bug**

Incorrect instruction is written on the session page during uploading the file

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'create event'
2. Click on 'Create session'
3. Scroll down to 'select a file' button
4. See error

**Expected behavior**

 storage instruction should be corrected

**Screenshots**

![Screenshot 2019-04-02 22:25:23](https://user-images.gith

[2019-04-02 17:26] mohitm15 opened #2458 "Selecting a null value from drop down table"
**Describe the bug**

Displays an option for a null value in the drop-down table if no speaker is created before and we are adding a new speaker.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create event'
2. Click on 'Create session'
3. Scroll down to 'Choose a speaker '
4. See error

**Expected behavior**

 It should not provide null value in the drop-down table if no speaker is s

[2019-04-02 17:42] #2456 closed

[2019-04-02 19:52] mohitm15 commented on #2456
👍

[2019-04-02 21:18] uds5501 commented on #2399
@Anupam-dagar Are you working on this or can I try my hand on this one?

[2019-04-02 21:31] mohitm15 commented on #2399
@Anupam-dagar not only search bar is getting cut but also the content is coming out of the boundary of the card. Should I create issue for that and start working on that part??

[2019-04-02 21:32] kushthedude commented on #2399
@mohitm15 @uds5501 Refer this
https://github.com/fossasia/open-event-frontend/issues/2247#issuecomment-469095512

[2019-04-02 21:34] mohitm15 commented on #2296
Should I take over this issue @prateekj117 ??

[2019-04-02 21:41] mohitm15 commented on #2008
@Anupam-dagar should I worked on it

[2019-04-03 02:34] prateekj117 commented on #2296
@mohitm15 No, will work on this.

[2019-04-03 03:40] CosmicCoder96 commented on #2431
Images on small screens are hidden intentionally.

[2019-04-03 03:40] #2431 closed

[2019-04-03 08:09] shreyanshdwivedi opened #2462 "Free orders return a 422 status code due to null amount."
**Describe the bug**

Placing a free order results in a status of 422 because it fails the validation specified in the schema.

**To Reproduce**
Steps to reproduce the behavior:
 - Order a free ticket

**Expected behavior**

The order must be successfully placed

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu 18.04
 - Browser [e.g. chrome, safari] Firefox Mozilla

[2019-04-03 10:12] kushthedude opened #2464 "Typo in 'Order Summary' and wrong reference for 'Events Link'"
**Is your feature request related to a problem? Please describe.**

A typo and non understandable language for Events Link Reference.
**Describe the solution you'd like**

Correct the Typo

**Additional context**

![image](https://user-images.githubusercontent.com/44091822/55471310-1060bf80-5627-11e9-84bf-541ef0d0cb1f.png)

[2019-04-03 10:16] mohitm15 commented on #2464
I think it is written correct @kushthedude

[2019-04-03 10:20] kushthedude commented on #2464
Whats the spelling of registration @mohitm15

[2019-04-03 10:27] mohitm15 commented on #2464
Oh ..I was checking whether sentence is meaningful or not ..😁
Go for it..

[2019-04-03 10:28] kushthedude commented on #2464
Lol 😆

[2019-04-03 10:35] mohitm15 commented on #2460
@prabhupant Can you clarify steps to reproduce it

[2019-04-03 11:10] mohitm15 opened #2466 "Incorrect storage instruction during image upload"
**Describe the bug**
   Refer the issue #2456 but it is in the case of the image upload

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Event'
2. Click on 'Sponsors'
3. Scroll down to 'Image upload section'
4. See error

**Expected behavior**

  Fix typo

**Screenshots**

![Screenshot 2019-04-03 16:31:48](https://user-images.githubusercontent.com/35539313/55474860-e8298e80-562f

[2019-04-03 11:20] mohitm15 commented on #2458
@CosmicCoder96 Please review it

[2019-04-03 11:39] mohitm15 opened #2468 "Different currency symbols in sales amount while previewing an event"
**Describe the bug**

Different currency symbols appeared in the sales amount in `overview` section and in viewing `tickets` section. In the gif below (US$ in first window and then ₹ in second window).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create event and publish it'
2. Click on 'Overview section'
3. Scroll down to 'sales amount currency symbol'
4. Click on 'Tickets section

[2019-04-03 11:42] shreyanshdwivedi commented on #2468
@mohitm15 I think there is already an issue open for this - https://github.com/fossasia/open-event-frontend/issues/2444

[2019-04-03 11:45] #2466 closed

[2019-04-03 11:47] shreyanshdwivedi commented on #2412
@kushthedude there is already a PR open for this - https://github.com/fossasia/open-event-frontend/pull/2369

[2019-04-03 14:25] kushthedude commented on #2468
Its a long due issue @mohitm15 which is handled in #2444 , You may close it

[2019-04-03 15:22] kushthedude commented on #2412
@shreyanshdwivedi Not a issue

[2019-04-03 15:22] #2412 closed

[2019-04-03 15:39] #2464 closed

[2019-04-03 16:04] #2468 closed

[2019-04-03 16:42] #2318 closed

[2019-04-03 16:51] prateekj117 opened #2470 "Login success should redirect to the last page user wanted to access."
**Describe the bug**
Say a logged out user click on create event, user is redirected to login page, which on success redirects to home page.

**Expected behavior**
Login success should redirect to the last page user wanted to access.

**Additional context**
Working on it.

[2019-04-03 18:01] prateekj117 commented on #2362
@CosmicCoder96 @iamareebjamal Need some help in this. As default behaviour of <button> is type="submit", but it's specified everywhere type="button". also we did set preventDefault as true in the form. Any idea why this is still an issue?

[2019-04-03 18:40] Haider8 commented on #2436
@CosmicCoder96 In the file ```app/routes/admin/users/list.js```, i made the changes on lines ```37``` and ```62``` by setting this line to ```val  : moment().subtract(1, 'Y').toISOString(true)```. The value is true for utcOffset. I have read about this [here](https://momentjs.com/docs/#/displaying/as-iso-string/).

But the problem is not solved by this. Can you please point out what am i missing h

[2019-04-03 22:11] shreyanshdwivedi commented on #2455
Thanks @prabhupant
I'm working on it :)

[2019-04-03 23:20] kushthedude opened #2471 "Implementation of Exact Message with Specific Pop-up , Whenever a attendee checks-in or checks-out ."
**Is your feature request related to a problem? Please describe.**

- No , not related to a problem , but an enhancement if mentors would like to consider.
- Whenever an attendee checkouts , There should specific pop-up like "Attendee Checkout Successfully" which should be in red dialogue box.
- Whenever an attendee is checked in Dialogue box should say "Attendee checked-in successfully"

**Descri

[2019-04-03 23:21] kushthedude commented on #2471
@CosmicCoder96 @iamareebjamal , Your feedback ?

[2019-04-03 23:46] kushthedude commented on #2470
Don't you think its similar to #2396  , But a more general implementation !

[2019-04-04 06:31] uds5501 commented on #2390
@Haider8 It is still there :)
![image](https://user-images.githubusercontent.com/21087061/55533655-9d5f5380-56cf-11e9-8fc0-fae395dd99ed.png)

[2019-04-04 07:10] #2297 closed

[2019-04-04 07:30] CosmicCoder96 commented on #2470
Duplicate of #2396 - will be fixed when it is solved.

[2019-04-04 07:30] #2470 closed

[2019-04-04 07:31] CosmicCoder96 commented on #2471
Proceed -- and box should be green to denote success, not red.

[2019-04-04 13:47] prateekj117 commented on #2296
@mohitm15 Go ahead.

[2019-04-04 14:04] mohitm15 commented on #2296
@prateekj117 Sure

[2019-04-05 08:10] kushthedude commented on #2370
Copy of #2396  , Please see #2470

[2019-04-05 10:03] uds5501 commented on #2460
@prabhupant This has been resolved in #2459

[2019-04-05 10:10] uds5501 opened #2474 "Disable the fields and the buttons if the user is unverified"
**Is your feature request related to a problem? Please describe.**

No, but a feature that is worth consideration.
Currently a user may create an event and upon submission, maybe greeted with an error that he/she can't create an event and lose all the data.

I propose that we show a "You are unverified and unverified users can't publish an event" and disable the fields and the save draft and forwa

[2019-04-05 10:18] uds5501 commented on #2474
@CosmicCoder96 Please let me know if it's a valid enhancement for the project or not?

[2019-04-05 10:19] CosmicCoder96 commented on #2474
Just disabling the buttons is enough.

[2019-04-05 10:19] uds5501 commented on #2474
Understood, pushing a PR!

[2019-04-05 15:14] Anupam-dagar opened #2475 "Change notification icon from mail to bell."
**Describe the bug**

Currently the notification icon has a `mail` as its icon which is more appropriate for messages rather than notifications. `bell` icon is more suitable for notifications.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/'
2. See error

**Expected behavior**

The notification icon should be bell icon.

**Screenshots**

![Screenshot from 2019-04-05 20-41-28](https:

[2019-04-05 15:22] Anupam-dagar opened #2477 "Implement toggle password in settings."
**Describe the bug**

In settings `Password` section, there isn't any option to toggle show password similar to one present in `Login` and `Signup`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/settings/password'
2. See error

**Expected behavior**

There should be a toggle button to toggle visibility of password for all the 3 fields.

**Screenshots**

![Screenshot from 2019-04-05

[2019-04-06 08:15] prateekj117 commented on #1519
@srv-twry May I work on this.

[2019-04-06 10:31] mohitm15 commented on #2477
@Anupam-dagar you can also add toggle eye icon instead of button

[2019-04-06 10:33] Anupam-dagar commented on #2477
@mohitm15 Button is added on purpose, I don't think adding 3 eye icons is a good idea, also all 3 icons will function the same way. In regards to the eye icon instead of text in current button, it doesn't fits well, since an eye icon adjacent to save button will be confusing to users so as to what it functions, people will get to know about it only after clicking it.

[2019-04-06 10:50] mohitm15 commented on #2477
@Anupam-dagar Okay ..no problem
 But mention here too that you had opened a PR for that. I think you write the issue no incorrectly in the PR
:smiley_cat:

[2019-04-06 10:51] Anupam-dagar commented on #2477
@mohitm15 Thanks for pointing it out, I had missed a space in the issue no mentioned in PR.

[2019-04-06 11:04] mohitm15 opened #2479 "Wrong icon for Re-Cropping of Profile Image"
**Describe the bug**

  Re-crop option and Delete option, both are showing delete icon (bin) in the profile page option.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Your Profile'
2. Scroll left to 'your profile image'
3. See error

**Expected behavior**

  Icon for `Re-crop` should be different

**Screenshots**

![Screenshot 2019-04-06 16:32:50](https://user-images.githubuserconte

[2019-04-06 12:27] mariobehling opened #2481 "No. of Sent Mails on Admin Dashboard incorrect"
The admin dashboard on the test site shows a negative number of emails sent.

Compare: https://next.eventyay.com/admin

![Screenshot from 2019-04-06 20-16-13](https://user-images.githubusercontent.com/1583873/55669466-5ed1c080-58aa-11e9-977e-82d61b339d04.png)

[2019-04-06 12:34] mohitm15 commented on #2481
@mariobehling should I work on this issue???

[2019-04-06 12:37] mariobehling opened #2482 "Hide option "use ticketing system" to prevent spam and require tickets to make event live"
Please hide the option "use ticketing system" and only show the option with tickets. Only allow to save an event if a ticket has been added.

![Screenshot from 2019-04-06 20-37-42](https://user-images.githubusercontent.com/1583873/55669598-d8b67980-58ab-11e9-9868-59f6e5b44982.png)

Background:

The option "use ticketing system" is a nice feature to add events of external websites. The options has

[2019-04-06 12:42] mariobehling opened #2483 "Refresh Dashboard once event has been deleted"
When a user deletes their own event the dashboard still shows the event even though it has been deleted.

Expected: The dashboard page should refresh after the event is deleted to reflect the status on the site.

Compare: https://next.eventyay.com/events/live

[2019-04-06 13:08] mohitm15 commented on #2482
@mariobehling means by default only show the ticketing system and remove the sliding radio button.

[2019-04-06 13:57] kushthedude commented on #2483
@mariobehling i think i made this issue and made a PR too in #2259 but people said it is not reproducible should i reopen the PR ?
@CosmicCoder96

[2019-04-06 14:03] kushthedude commented on #2482
@mohitm15 No , It means until the ticketing module is not active by the admin dont let the user publish event and user should use ticketing in his events by default if not than user should just should be able to make draft .
I would like to work upon it.

[2019-04-06 14:10] kushthedude opened #2484 "The eye toggle function should be reversed"
**Is your feature request related to a problem? Please describe.**

No, not a bug but a feature request , Like in google login box , When password is unhidden Eye is shown and when password is hidden Eye with dash is shown .

**Describe the solution you'd like**

I would like to make it implement for open event too

**Describe alternatives you've considered**

No alternatives are available for thi

[2019-04-06 14:10] kushthedude commented on #2484
I am on it

[2019-04-06 14:13] kushthedude commented on #2481
Should not this be okay cause , its test server and the functionality is working well on actual frontend 😕

[2019-04-06 14:32] mohitm15 commented on #2484
@kushthedude  I think this is working fine.
When you want to see the password , you click the open eye.
When you want to hide the same , you click the closed eye.
It is different from google sign in

[2019-04-06 14:34] mohitm15 commented on #2484
There are more issues to work upon bro!!

[2019-04-06 14:34] kushthedude commented on #2484
Thats what i am saying to implement like google - sign in ,Not different from it bro

[2019-04-06 16:59] Anupam-dagar commented on #2484
@kushthedude This was a design choice from my side. I put up an open eye signifying that you click on it to show password and an slash eye signifying that you click on it to hide password.
Still if this has to be implemented, I guess its better to wait for mentors review.
CC: @CosmicCoder96 @ritikamotwani

[2019-04-06 17:06] Anupam-dagar opened #2485 "Save changes directly for toggling inputs in modules section of admin settings."
**Is your feature request related to a problem? Please describe.**

Currently in modules section if user wants to enable or disable the `ticketing`, `payments` and `donations` module, user needs to click on the save button to save the changes. For the inputs like toggle inputs, it's much better and user friendly if we save the changes on input change.

**Describe the solution you'd like**

Save ch

[2019-04-06 18:10] mohitm15 commented on #2484
@Anupam-dagar Agreed with you. That's what I am saying earlier :smile:

[2019-04-06 18:11] kushthedude commented on #2484
@CosmicCoder96 What you think about it should it be done like google or left?

[2019-04-06 19:33] Anupam-dagar opened #2488 "No indication for dropdown in mobile view."
**Describe the bug**

In `my sessions`, `my tickets` etc. pages, there are tabbed views such as `Upcoming sessions`, `Past Sessions` etc. On a large screen these are very much visible but on mobile screens they are converted into a dropdown which appears `on click`. This dropdown doesn't appear as a dropdown leading to difficulty in finding the other options. A down arrow in front of the tab in mo

[2019-04-06 19:51] Anupam-dagar opened #2490 "Add bottom margin to number of entries in manage events."
**Describe the bug**

The number of entries text in `manage events` doesn't have a bottom margin and is almost touching the bottom border.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/events/live'
2. Scroll down to 'showing x-y of y entries'
3. See error

**Expected behavior**

Add a bottom margin to improve the UI.

**Screenshots**

![Screenshot from 2019-04-07 01-18-19](https://

[2019-04-06 20:24] iamareebjamal opened #2493 "Prepare for markdown"
Currently, the server stores raw HTML for description in various places, which is insecure and difficult to show on mobile devices. Also, rich content based on HTML is always a bad idea since supported things can change and not every HTML element is feasible.

The plan is to get rid of all HTML from the server and change it to markdown. This will be done on incremental basis starting with posts wi

[2019-04-06 20:27] kushthedude commented on #2493
@iamareebjamal This is major change in our webApp and would require more time and work force , How are we planning to make it

[2019-04-06 20:31] harsh-jindal opened #2494 "Fix mobile UI of speakers page"
**Describe the bug**

Currently the export as CSV and add speaker buttons are not aligned correctly.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Speakers'
2. Click on mobile view on console
4. See error

**Expected behavior**

The buttons should be displayed as in Sessions.
**Screenshots**

![Screenshot 2019-04-07 at 1 59 01 AM](https://user-images.githubusercontent.com/31013104/55

[2019-04-06 20:43] iamareebjamal commented on #2493
This is literally the first step, a proposal. There is no guarantee that this will even go through or be accepted. And even after being accepted, depending on priority of other issues, may not be implemented completely this GSoC, we'll see. However, I don't see it that big of a change. Implementing a rich text editor is not mandatory for this issue, just handling non-html data from server is impor

[2019-04-06 20:55] harsh-jindal opened #2496 "Remove cancel action from expired orders"
**Describe the bug**

Currently cancel order action is available to expired orders.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Tickets'
2. Click on 'Orders'
3. Scroll down to '....'
4. See error

**Expected behavior**

Cancel Order option should not be shown for expired orders.
**Screenshots**

![Screenshot 2019-04-07 at 2 23 06 AM](https://user-images.githubusercontent.com/310131

[2019-04-07 03:34] kushthedude commented on #2296
@mohitm15 If you have not made some significant progress can i please push my PR , If you dont mind ?  😅

[2019-04-07 03:47] #2490 closed

[2019-04-07 04:01] CosmicCoder96 commented on #2484
It’s fine the way it is for now - I don’t like the way eye icon is implemented anyway. I will be changing it soon.

[2019-04-07 04:01] #2484 closed

[2019-04-07 04:04] mrsaicharan1 opened #2498 "No License check for ticket"
**Describe the bug**
The presence of a License for an event is not present. Hence it shows up as
*Under the License _*.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to any event without a license
2. Scroll to the end.

**Expected behavior**
a check needs to be present so that it shows suitable information about the license(if present)

[2019-04-07 04:10] #2498 closed

[2019-04-07 04:20] kushthedude commented on #2484
@CosmicCoder96 cool 😆

[2019-04-07 04:34] ritikamotwani commented on #2448
@mohitm15 , no you cannot add a custom CSS file for a change this trivial.

[2019-04-07 05:16] prateekj117 opened #2500 "Make text input fields remember previously entered data"
**Describe the bug**
Input field like email should show previously entered value for ease.

**Expected behavior**
A dropdown should be shown of previously entered values.

**Additional context**
Working on it.

[2019-04-07 05:20] mohitm15 commented on #2296
@kushthedude NO  .. I was busy in BTP. Soon push a PR ??... Plenty of issues are there bro!! :smiling_imp:

[2019-04-07 05:21] kushthedude commented on #2296
Due to inactivity on this i solved the issue but forgot to push my branch , No problem but there are plenty of issues for you too , If you have not done work on it .

[2019-04-07 05:25] prateekj117 commented on #2296
@kushthedude It's a really bad practice to work on the PR in spite of the fact that someone else has claimed the issue. It leads to a waste of time of two people working on the same issue. Plus it leads to confusion. As the issue was claimed by @mohitm15, I would suggest him to work on it.

[2019-04-07 05:42] CosmicCoder96 commented on #2500
Input fields where ? More context please.

[2019-04-07 05:42] prateekj117 commented on #2500
@CosmicCoder96 For example when entering Email.

[2019-04-07 05:50] prateekj117 commented on #1519
@CosmicCoder96 May I work on this?

[2019-04-07 05:54] kushthedude commented on #2500
@CosmicCoder96 I think @prateekj117 wants to refer to feature like *autocomplete* which is available in html forms ?

[2019-04-07 05:56] kushthedude commented on #2428
@Haider8 Still on it?

[2019-04-07 05:58] prateekj117 commented on #2474
@uds5501 May I work on this issue if you haven't spent much time on it.

[2019-04-07 05:58] CosmicCoder96 commented on #2500
Entering email where ? If you mean like this in general then its taken care of in production environment. It doesn't work on localhost due to unconfigured cookie-policy.
![image](https://user-images.githubusercontent.com/17252805/55679371-35ae4000-593d-11e9-90b7-629f6aba1e16.png)
If that is what you meant you may close this issue else elaborate further.

[2019-04-07 05:59] uds5501 commented on #2474
@prateekj117 I have made the local changes already and will be pushing a PR soon, actually a bit caught up in college work and mid sems

[2019-04-07 05:59] prateekj117 commented on #2500
@CosmicCoder96 Yes, this is what I meant. Ok, understood.

[2019-04-07 06:00] #2479 closed

[2019-04-07 06:03] prateekj117 commented on #2474
@uds5501 No issue. :+1:

[2019-04-07 06:04] kushthedude commented on #2296
Cool

On Sun, 7 Apr 2019 at 10:55 AM, Prateek Jain <notifications@github.com>
wrote:

[2019-04-07 06:04] #2500 closed

[2019-04-07 06:06] prateekj117 commented on #2390
@uds5501 If you haven't spent much time on it, May I work on this issue?

[2019-04-07 06:08] prateekj117 commented on #2455
@shreyanshdwivedi If you haven't spent much time on it, may I work on this issue?

[2019-04-07 06:12] uds5501 commented on #2493
@iamareebjamal I wanted to see if I understood what you are proposing so I will be taking an example of Event Description. Kindly correct me anywhere when I am wrong.

As a user, if I enter:
"This is going to be a great event" , then it will be regarded as a simple text and will be initialised with: `is_raw_html=True` and `is_markdown=False` and it will be handled by our API as such.

But if I ent

[2019-04-07 06:13] uds5501 commented on #2390
@prateekj117 Go for it!

[2019-04-07 06:17] kushthedude commented on #2493
@uds5501 , I think what you wrote is more or less correct as Raw HTML will be handled by *is_raw_html* and only rich text format is to be supported by an additional field added *is_markdown*

[2019-04-07 08:22] Anupam-dagar opened #2503 "Trim email input before during login."
**Describe the bug**

Currently the email input isn't trimmed during login, i.e `admin@fossasia.com` and `admin@fossasia.com ` are two different emails due to which user can't sign in. This is a problem as user might eventually the password. I had to reset my password on next.eventyay.com yesterday.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/login'
2. Click on 'add a whitespace

[2019-04-07 08:51] shubham3211 opened #2505 "Wrong re-crop icon on create event page"
**Describe the bug**
Wrong re-crop icon on create event page

**Screenshots**
![reCrop](https://user-images.githubusercontent.com/19900978/55681137-56c46000-5940-11e9-9370-eb70a902a643.png)

**Additional context**
I am working on it

[2019-04-07 08:59] #2505 closed

[2019-04-07 09:00] iamareebjamal commented on #2493
Yes

[2019-04-07 09:32] prateekj117 commented on #2362
@CosmicCoder96 Can you please guide me on this.

[2019-04-07 09:52] Anupam-dagar opened #2506 "Payment section stays even when ticketing is disabled."
**Describe the bug**

Payment section stays even when the ticketing is disabled and thus leading to error on form submission.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/create'
2. Enable ticket system
3. Add a paid ticket.
4. Disable ticketing system.
5. See error.

**Expected behavior**

Payment section should also get hidden.
**Screenshots**

![ezgif com-video-to-gif (4)](http

[2019-04-07 10:46] prateekj117 commented on #2390
@uds5501 This problem doesn't seem to persist on my system.

[2019-04-07 10:54] uds5501 commented on #2390
Please try makin an event from a super user, and one from a new user and
let me know the results.

On Sun, 7 Apr 2019, 16:16 Prateek Jain, <notifications@github.com> wrote:

[2019-04-07 11:20] prateekj117 commented on #1805
@CosmicCoder96 May I work on this issue?

[2019-04-07 11:22] prateekj117 commented on #2016
@mariobehling May I work on this issue?

[2019-04-07 11:25] prateekj117 commented on #2390
@uds5501 Yes, you are right. The problem persists.

[2019-04-07 12:23] mariobehling opened #2508 "Changing language results in direction to "localhost""
Clicking on other languages on the bottom right language menu results in redirection to localhost.

![Screenshot from 2019-04-07 20-22-50](https://user-images.githubusercontent.com/1583873/55683496-01557680-5973-11e9-9b2f-40876008e2aa.png)

[2019-04-07 12:24] mariobehling commented on #2508
Ahh, working now.

[2019-04-07 12:24] #2508 closed

[2019-04-07 12:26] mariobehling opened #2509 "Comment out "login with Facebook" which is not working"
The FB login is not working. Also we have not tested and established the flow of how to add FB to an existing account. Please comment out the login with FB functionality for now.

Only allow login with Email for now.

[2019-04-07 12:46] harsh-jindal commented on #2509
@mariobehling I am working on it.

[2019-04-07 14:37] uds5501 opened #2513 "No margin between image pickers once images are picked"
**Describe the bug**

Once the images have been uploaded, there is virtually no space between the images in the creation form in mobile view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /create
2.  Upload images
3. See error

**Expected behavior**

There should be space between both the images

**Screenshots**

![Screenshot from 2019-04-07 20-07-19](https://user-images.githubusercon

[2019-04-07 14:44] #2506 closed

[2019-04-07 15:23] #2432 closed

[2019-04-07 15:23] #2430 closed

[2019-04-07 15:24] CosmicCoder96 commented on #2448
This button is being commented out for now.

[2019-04-07 15:24] #2448 closed

[2019-04-07 17:46] mohitm15 commented on #2448
@CosmicCoder96 okay

[2019-04-07 18:52] uds5501 opened #2516 "Remove ticket table if there is no ticket in the event"
**Describe the bug**

Currently, we have a ticket table in the Tickets section of event-overview. which renders an empty table when event has no tickets.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event with no tickets
2. Go to event overview
3. Scroll down to Tickets
4. See error

**Expected behavior**

If there are no tickets to show, simply pass a message stating "There are

[2019-04-07 19:37] kushthedude commented on #2516
Why dont we leave this @uds5501 as if you are thinking for tickets , than sponsors need to be made optional too . ?

[2019-04-07 19:48] uds5501 commented on #2516
@kushthedude Look at the sponsors table. It has already been handled. Besides, an empty table with only the headers makes no sense either :)

[2019-04-07 22:48] kushthedude opened #2519 "Minor bug in 'Links and Social Media' for event"
**Describe the bug**

Whenever a external event url is added for a event it is not getting shown in event overview section.

**To Reproduce**

Steps to reproduce the behaviour:

1. Add an 'External Event URL'
2. Go to 'Event Overview'
3. Scroll down to 'General Info'
4. See error

**Expected behaviour**

All links should be shown .

**Screenshots**

*Event Details*
![image](https://user-images.git

[2019-04-07 22:48] kushthedude commented on #2519
On it

[2019-04-07 23:04] kushthedude opened #2520 "Typo in 'Bug_Report' Template of new issue"
**Expected behavior**

Correct the typo for behaviour which is written as 'behavior' .

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/55691066-7e0a4400-59b7-11e9-8495-9280949c42d3.png)

[2019-04-08 02:13] mohitm15 opened #2522 "Uneven width of box components in sponsors page"
**Describe the bug**

The description textbox and the logo upload box are not equally wide.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'create event'
2. Click on sponsors
3. See error

**Expected behavior**

 Both components should be equally wide

**Screenshots**

![Screenshot 2019-04-08 07:41:58](https://user-images.githubusercontent.com/35539313/55694457-ed8d2d00-59d1-11e9-841b

[2019-04-08 04:45] kushthedude opened #2524 "Addition of ‘Mark As Unread’ in notification panel"
**Is your feature request related to a problem? Please describe.**

Not related to a problem , just an enhancement if mentors will approve.
Currently there is only ‘Mark As Read’ option available in notification panel ,I would like to add ‘Mark As Unread’ option in panel too so that user can remind himself for some work or some undue notification.

**Describe the solution you'd like**

Addition of

[2019-04-08 04:46] kushthedude commented on #2524
@CosmicCoder96 Your thoughts on it ?

[2019-04-08 04:49] kushthedude commented on #2232
@CosmicCoder96 regarding the dynamic ‘Nearby Events’  , as this needs user location and a constraint on number of events to be displayed on basis on distance . Should I push a PR with only two changes ? As the featured events and event location functionality , i am planning to do it in GSOC , Or should i wait untill location functionality is implemented ?

[2019-04-08 05:08] uds5501 commented on #2519
@kushthedude It is meant to be like that. That space is for additional social media links only , the "external event link" is accommodated in the main event page itself

[2019-04-08 05:09] mrsaicharan1 opened #2525 "Event placeholder image too pixelated"
**Describe the bug**
The default placeholder image for an event is of a low resolution and gets blurred when we navigate to the event page

**Screenshots**
![Screenshot from 2019-04-08 16-00-45](https://user-images.githubusercontent.com/25197147/55699843-55e80880-59ea-11e9-871a-e24e4966b938.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any event
2. See the blurry image.

**Expec

[2019-04-08 05:12] kushthedude commented on #2519
@uds5501 but on the event page other social links are also handled and i dont think it would be left intentional, just imagine a admin has to go all the way to event pagefor external link and he can see other links in overview . Doesnt makes sense 🙄

[2019-04-08 05:18] mrsaicharan1 commented on #2525
@CosmicCoder96 Any suggestions for a new placeholder?

[2019-04-08 05:22] mohitm15 commented on #2525
@mrsaicharan1 maybe this is not a priority..it can be changed anytime 😃

[2019-04-08 05:23] mrsaicharan1 commented on #2525
Agreed

[2019-04-08 05:23] #2525 closed

[2019-04-08 05:35] ritikamotwani commented on #2524
This is not required.

[2019-04-08 05:35] #2524 closed

[2019-04-08 05:44] mrsaicharan1 opened #2808 "Date Filter not working for events"
**Describe the bug**
The filter on the events list page is not functioning properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Browse events' tab
2. Try to put in a value in the field above the Date column.
3. See the error message `Unexpected Error Occurred`

**Screenshots**
![Screenshot from 2019-04-08 16-31-10](https://user-images.githubusercontent.com/25197147/55701114-94cc8

[2019-04-08 05:45] mohitm15 commented on #2509
@harsh-jindal sir if you are busy ,should I push PR , l had already made changes😃

[2019-04-08 05:45] ritikamotwani commented on #2519
@kushthedude check the working of v1.
![image](https://user-images.githubusercontent.com/22127980/55701135-96ed1680-5a04-11e9-8d85-3a84a83b2a0a.png)
![image](https://user-images.githubusercontent.com/22127980/55701142-9c4a6100-5a04-11e9-9e81-54e783c64cd4.png)
Not required for now.

[2019-04-08 05:45] #2519 closed

[2019-04-08 05:47] kushthedude opened #2526 "Commenting out ‘Revision Section’ in event overview"
**Is your feature request related to a problem? Please describe.**

Not a problem but a enhancement, Since ‘Revision’ section under events overview is hardcoded to 6 and that module is not fully functional , as we commented out the Facebook Oauth in #2509 .

**Describe the solution you'd like**

I propose to show a coming soon box or commenting it out.

[2019-04-08 06:44] #2520 closed

[2019-04-08 06:47] kushthedude commented on #2526
@CosmicCoder96 @ritikamotwani What you guys think ?

[2019-04-08 06:53] shreyanshdwivedi commented on #2455
@prateekj117 @uds5501 I'll be updating it by tonight.

[2019-04-08 07:08] CosmicCoder96 opened #2527 "Write an integration test for session-color Helper"
Parent  issue #1554

[2019-04-08 07:13] uds5501 commented on #2527
@CosmicCoder96 Shall I have a go at this?

[2019-04-08 07:18] CosmicCoder96 commented on #2527
@uds5501 Please proceed.

[2019-04-08 07:20] mohitm15 opened #2528 "Whitespace missing between textfield and buttons on basic details page"
**Describe the bug**

Whitespace missing between textfield and buttons on basic details page under the ticketing system

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'create event''
2. Scroll down to 'Ticketing section'
3. See error

**Expected behaviour**

 A line break should be present there.

**Screenshots**

![Screenshot 2019-04-08 12:15:40](https://user-images.githubuserconten

[2019-04-08 07:22] CosmicCoder96 commented on #2528
It has been discussed before -- dont' need it.

[2019-04-08 07:22] #2528 closed

[2019-04-08 07:25] mohitm15 commented on #2528
@CosmicCoder96 Just consider the changes

[2019-04-08 07:35] Anupam-dagar opened #2531 "Phone number in contact info field of settings accepting text data"
**Describe the bug**

Currently the phone number field in contact info section of settings accepts text input also. Phone numbers should only be digits.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/settings/contact-info'
2. Add textual phone number
3. See error

**Expected behaviour**

Phone number field should accept only numerical data.

**Screenshots**

![ezgif com-video-to-gi

[2019-04-08 07:40] CosmicCoder96 commented on #2531
@Anupam-dagar this issue has been opened before, still is.

[2019-04-08 07:40] #2531 closed

[2019-04-08 07:44] Anupam-dagar commented on #2531
My bad, I'll keep a note of it.

[2019-04-08 07:46] Anupam-dagar commented on #2531
@CosmicCoder96 I found this https://github.com/fossasia/open-event-frontend/issues/2345, but it is closed. Please reopen that issue.

[2019-04-08 07:51] Anupam-dagar opened #2532 "Minor button text inconsistency in sponsor section of create event."
**Describe the bug**

By default when sponsors are enabled, one sponsor is shown to the user to be added. The button below says `Add another sponsor`. But in case all the sponsors are removed by clicking `remove` button, the button still says `Add another sponsor`, in this case it should say `Add sponsor`.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/events/<event_num>/edit/spons

[2019-04-08 07:59] CosmicCoder96 commented on #2345
@Anupam-dagar Proceed.

[2019-04-08 08:28] #2494 closed

[2019-04-08 10:12] #2527 closed

[2019-04-08 13:53] mohitm15 opened #2535 "Incorrect heading in the sessions page"
**Describe the bug**

A typo in the sessions page

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to create event
2. Click on 'sessions page'
3. See error

**Expected behaviour**

 `session ` corrected to `sessions`

**Screenshots**

![Screenshot 2019-04-08 06:45:50](https://user-images.githubusercontent.com/35539313/55729567-00384e00-5a34-11e9-9bf2-45bd47a4099c.png)

**Desktop (please c

[2019-04-08 15:25] NamanZelawat commented on #2002
@CosmicCoder96  I would also like to work on this issue can you guide how to get started?

[2019-04-09 00:26] kushthedude commented on #1911
@uds5501
if you are not workin on it , i would like to give it a look

[2019-04-09 00:33] shubham3211 commented on #1911
@kushthedude I would work on this issue if https://github.com/aexmachina/ember-notify/pull/105 gets merged.

[2019-04-09 01:38] kushthedude commented on #1911
@CosmicCoder96 cant we move to ember cli notification from ember notify?

[2019-04-09 02:53] #2485 closed

[2019-04-09 04:11] #2503 closed

[2019-04-09 05:05] CosmicCoder96 commented on #2482
@mariobehling It will hardly prevent any spam events from being created. The user can just enter some garbage values -- for free tickets -- doesn't require any significant effort. The event will go live anyway then.

[2019-04-09 05:06] #2526 closed

[2019-04-09 06:09] shreyanshdwivedi commented on #2458
@mohitm15 any update?

[2019-04-09 07:07] kushthedude commented on #275
@CosmicCoder96 Regarding this issue , this issue is browser specific as only happening on chrome and firefox , Can we use other scroller package for ember ?

[2019-04-09 07:10] mohitm15 opened #2541 "Aligning the options to preview, edit event boxes horizontally in mobile view"
**Is your feature request related to a problem? Please describe.**

The icons of the boxes shown in the previewing the event are shown vertically taking a lot space in the mobile view.

**Describe the solution you'd like**

To align them horizontally

**Describe alternatives you've considered**

We can also use drop down menu for this thing

**Screenshot**
https://photos.app.goo.gl/4a4H58WeBhqxJPv

[2019-04-09 07:11] mohitm15 commented on #2541
@CosmicCoder96 what are your thoughts??

[2019-04-09 07:17] mohitm15 commented on #2458
@shreyanshdwivedi busy during last 2-3 days but started working on it. Soon push a PR 😃

[2019-04-09 07:38] CosmicCoder96 commented on #2541
@mohitm15 make them horizontal only for the mobile view. No dropdowns.

[2019-04-09 07:42] mohitm15 commented on #2541
@CosmicCoder96 sure l will make them horizontally

[2019-04-09 13:04] kushthedude opened #2544 "When scrolling to a target , The target name should get highlighted ."
**Describe the bug**

In the sidebar when user clicks on Scrollable objects and button doesn't highlights their heading

**To Reproduce**

Steps to reproduce the behaviour:

1. View any event
2. Click on *Scrollable object like Tickets or Getting Here* .
3. They dont get highlighted and info is highlighted rather.

**Expected behaviour**

They should be highlighted as 'info'
**Screenshot**

![imag

[2019-04-09 15:04] kushthedude commented on #1797
@mariobehling @CosmicCoder96 I think this is duplicate of #275

[2019-04-09 16:53] Anupam-dagar opened #2546 "Password reset shows unexpected error instead of wrong current password."
**Describe the bug**

While changing password if current password is incorrect, the error `Unexpected error. Password did not change.` shows up. User should be notified `Wrong current password` if wrong password is entered by the user.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/settings/password'
2. Enter wrong current password and new passwords
3. Click on save
4. See error

*

[2019-04-09 18:29] Anupam-dagar opened #2548 "Show applied filters too in browse events while filtering events."
**Describe the bug**

~~Currently only a message `No results found for the selected filters` is shown to the user~~Currently applied filters aren't shown to the user in browse events section. It will be better to show the applied filters so that user can know which all filters were applied.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/explore'
2. Select filters which don't yield

[2019-04-09 19:02] shreyanshdwivedi opened #2550 "Admin Users: Status of deleted users is either active or inactive"
**Describe the bug**

Currently, the status of deleted users is either `Active` or `Inactive`. It never shows `Deleted`.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `Admin > Users`
2. Click on `Deleted Users`
3. . See error

**Expected behaviour**

The status of deleted users must be `Deleted` or `Inactive` only

**Screenshots**

![Screenshot_2019-04-10 Deleted Users Administratio

[2019-04-09 19:40] shreyanshdwivedi commented on #2550
@CosmicCoder96 should the status be `Inactive` only? Or it should be `Deleted`?

[2019-04-10 00:03] kushthedude opened #2552 "Cant submit proposal through CFS , Infinite loader appear"
**Describe the bug**

When 'Track Field' is left empty in 'call for speaker', an infinite loader appears

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Call For Speaker'
2. Submit a session with track field empty
3. See error

**Expected behaviour**

It should say, Unexpected error occurred or scroll to that field.

**Screenshots**

![image](https://user-images.githubusercontent.c

[2019-04-10 02:08] kushthedude commented on #2073
@mrsaicharan1 I think its resolved you may close it

[2019-04-10 02:10] kushthedude commented on #1890
@Haider8 Are you on it?

[2019-04-10 02:52] #2073 closed

[2019-04-10 02:58] #2483 closed

[2019-04-10 03:00] #2455 closed

[2019-04-10 03:07] #2546 closed

[2019-04-10 03:10] #2535 closed

[2019-04-10 05:18] CosmicCoder96 opened #2555 "Scheduler: For events with greater than 20 sessions only partial sessions show up"
This might be due to implicit pagination carried out by the server -- restricting scheduled and unscheduled to 10 sessions each.

[2019-04-10 05:20] shreyanshdwivedi opened #2557 "Discount code status is incorrect"
**Describe the bug**

Currently, the `Status` in `Discount Code` is incorrect. It retrieves data from server using a parameter `is_active` which is always `True` and so the status is always `Active`. I think it will be better to use `validTill` parameter of discount codes on frontend to dynamically calculate its status. In the screenshot attached that the validity of the discount code is expired,

[2019-04-10 06:01] Anupam-dagar opened #2558 "Inconsistency in slides text while viewing session."
**Describe the bug**

While submitting a session, a user can either upload the slides or provide a link to the slides.
In both the cases the text shown under slides is `Download`, this text is helpful for viewer to know about the slides but one will on first impression think that slides will get downloaded on clicking it which is not true.

Change the text to `Link to Slides` when user has provide

[2019-04-10 06:07] #2443 closed

[2019-04-10 06:38] CosmicCoder96 opened #2559 "Scheduler is timezone sensitive"
Considering a case, where an event is located in Singapore, someone in Germany is using the scheduler to schedule sessions and someone from Australia is viewing it. That's three timezones. To avoid this at all places of next-gen open event UTC timezone was used, however, the Fullcalendar scheduler in its current state makes the sessions aware of timezone context and they all appear at different pl

[2019-04-10 06:43] pradeepgangwar commented on #2455
Correctly fixed by #2554

[2019-04-10 06:50] #2555 closed

[2019-04-10 07:11] kushthedude commented on #2248
@CosmicCoder96 Should i close the issue too?

[2019-04-10 07:16] ritikamotwani commented on #2248
Yes.

[2019-04-10 07:16] #2248 closed

[2019-04-10 07:41] #2532 closed

[2019-04-10 07:42] #2496 closed

[2019-04-10 08:00] Anupam-dagar opened #2562 "Can't add slides with url in a session."
**Describe the bug**

If a user tries to add a slide by providing url, the slide url is not getting saved. On the server, the slides_url parameter is missing from the request for external slides only. For an uploaded file it is working fine.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/e/<event-id>/cfs/edit/<session-id>'
2. Provide slides with link.
3. Submit
4. See error

**Expe

[2019-04-10 08:02] #2559 closed

[2019-04-10 08:13] CosmicCoder96 commented on #275
@kushthedude yes, an alternative package would be a good choice.

[2019-04-10 08:21] kushthedude commented on #275
Should i look into it?

[2019-04-10 09:40] mrsaicharan1 opened #2566 "[parent]Implement additional date filters"
**Describe the bug**
There are certain filters missing such as past events, events for the next month etc. Implementing them would aid in navigating through various missed events/upcoming events based on dates.

**Additional context**
Working on past events and next month events

[2019-04-10 09:52] ritikamotwani commented on #2566
We really do not need additional filters right now.
Replicating v1 is the priority right now.

[2019-04-10 09:52] #2566 closed

[2019-04-10 10:35] prateekj117 commented on #275
@CosmicCoder96 It's happening in Chrome for me.

[2019-04-10 11:14] iamareebjamal commented on #2509
@mariobehling Now, it is implemented completely, but not reflected on the production server. I don't have access to the FB app to make necessary changes. So we can comment it out, or just add app settings and it will start working

[2019-04-10 15:40] mrsaicharan1 commented on #152
Will be taking this up. @CosmicCoder96 As soon as new routes are added, they should show up in 3 columns right? Is it fine if we use Semantic UI view cards for this (https://semantic-ui.com/views/card.html)

[2019-04-10 19:50] harsh-jindal opened #2567 "Fix UI bug in Messages in Admin Panel"
**Describe the bug**

Sort icon for Recipients appears on next line. This makes the UI look odd.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Admin'
2. Click on 'Messages'
4. See error

**Expected behaviour**

Increase the column size to prevent the scroll icon from going to next line.
**Screenshots**

![Screenshot 2019-04-11 at 1 17 42 AM](https://user-images.githubusercontent.com

[2019-04-11 01:42] kushthedude commented on #591
@CosmicCoder96 Do we need this as on V.1 also there is google map rather than Open Street Map?

[2019-04-11 01:52] kushthedude opened #2568 "In 'Guest Order Form' clicking on sign-in makes a unnecessary scroll"
**Describe the bug**

Order a ticket as a guest, and enter the email of a pre-existing user and then click on sign-in.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Any Events Ticket'
2. Order Some tickets
3. Enter Email of a preexisting user, click on sign-in without filling the password field.
4. See error

**Expected behaviour**

No scroll should be there
**Screenshots**

<a h

[2019-04-11 02:00] kushthedude commented on #2428
@Haider8 ?

[2019-04-11 02:43] kushthedude commented on #2568
@CosmicCoder96 I was looking into it and I am unable to find the culprit causing this scroll.

[2019-04-11 06:59] kushthedude commented on #2171
Workin on it

[2019-04-11 07:05] shreyanshdwivedi opened #2569 "Expired status is not present for Access Codes"
**Describe the bug**

Currently, the `Status` in `Access Code` has only `Active` and `Inactive` values. There should be an `Expired` status for access codes which has crossed there validity date.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `Events/View/Tickets/`
2. Click on `Access Codes`
3. See error

**Expected behaviour**

There should be a new status - `Expired`.

**Screenshot

[2019-04-11 07:21] Anupam-dagar opened #2570 "Don't allow user to edit session details after the event has passed or the session is approved."
**Describe the bug**

Currently the user can edit the session after the session getting approved. The user can also edit the session after the event has been passed.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'my sessions'
2. Click on 'edit session'
3. See error

**Expected behaviour**

User shouldn't be allowed to edit the session after session getting approved or the event has

[2019-04-11 07:26] Anupam-dagar opened #2572 "Change the session status from pending to rejected if the event has passed."
**Describe the bug**

Currently if the user's session is in pending state till the event has happened, it still shows pending after the event has passed. A better label will be rejected since the user's session wasn't accepted till the event.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'my sessions after event has passed'
2. Click on 'an older session'
3. See error

**Expected beh

[2019-04-11 07:36] #2345 closed

[2019-04-11 08:10] #2522 closed

[2019-04-11 08:11] #2471 closed

[2019-04-11 08:19] #2562 closed

[2019-04-11 08:21] CosmicCoder96 commented on #2558
https://github.com/fossasia/open-event-frontend/pull/2565#issuecomment-482017397

[2019-04-11 08:21] #2558 closed

[2019-04-11 08:29] shubham3211 opened #2573 "Cannot edit deleted users"
**Describe the bug**
Edit button is there in deleted users

**Expected behaviour**
Cannot edit deleted users

**Screenshots**
![u](https://user-images.githubusercontent.com/19900978/55942410-f5630080-5c61-11e9-81cc-a6a56a312792.png)

**Additional context**
I am working on it

[2019-04-11 08:32] ritikamotwani commented on #2570
In our use case, the opposite of this proposed change is a requirement. When a session is approved, people are always given feedback regarding that. They continue to improve their session. They often upload the session slides at the last moment or keep changing them.
After the event has passed, speakers who were a no-show may need to be removed from the session, or the speaker may want to correct

[2019-04-11 08:32] #2570 closed

[2019-04-11 08:32] shubham3211 opened #2574 "Phone number not validated"
**Describe the bug**
Phone number not validated on speaker create page

**Expected behaviour**
Phone number should be validated

**Screenshots**
![ps](https://user-images.githubusercontent.com/19900978/55942631-73270c00-5c62-11e9-8308-df965321e681.png)

**Additional context**
I am working on this

[2019-04-11 08:37] #2173 closed

[2019-04-11 08:41] kushthedude commented on #2574
@shubham3211 I think there was some PR related to it

[2019-04-11 08:46] ritikamotwani commented on #2573
The edit button should not be there in deleted users, instead of the edited button it should have a button to restore the user.
Remove the edit button if the user is deleted.

[2019-04-11 08:58] shubham3211 opened #2575 "Deleted user status should be deleted"
**Describe the bug**
Deleted user status should be deleted

**Expected behaviour**
Deleted user status should be deleted

**Screenshots**
![u1](https://user-images.githubusercontent.com/19900978/55944328-fdbd3a80-5c65-11e9-8bdd-9209130e4740.png)

**Additional context**
I am working on it

[2019-04-11 09:27] shreyanshdwivedi commented on #2575
@shubham3211 there is already an issue for this. https://github.com/fossasia/open-event-frontend/issues/2550
Please close this issue :)

[2019-04-11 10:29] kushthedude opened #2577 "When user changes his email , A confirm E-mail pop-up should appear ."
**Is your feature request related to a problem? Please describe.**

No, Just a minor enhancement, when a user changes his email, A confirm email popup should appear or there should be a button to change his email, Where there is validation for old email.

**Screenshot**
![image](https://user-images.githubusercontent.com/44091822/55950516-bf7a4800-5c72-11e9-9397-91beba6adf0a.png)

**Additional cont

[2019-04-11 10:31] kushthedude commented on #2577
@CosmicCoder96 What are your thoughts on it ?

[2019-04-11 10:40] kushthedude opened #2578 "Implementation of country code Drop-Down"
**Is your feature request related to a problem? Please describe.**

No, I would like to implement a dropdown for country code for mobile numbers with their flag .

**Describe the solution you'd like**

Implement the drop-down

**Additional context**

Would like to work on it.

[2019-04-11 10:42] kushthedude opened #2579 "Body overflow in Create Event Section"
**Describe the bug**

On the Create Event form there is body overflow.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Create Event'
2. See error

**Expected behaviour**

There should be no overflow

**Screenshots*

![image](https://user-images.githubusercontent.com/44091822/55951264-75926180-5c74-11e9-94ae-ed3f66d8919d.png)

**Desktop (please complete the following information):**

[2019-04-11 10:43] kushthedude commented on #2579
@CosmicCoder96 This error is caused due to some recently merged PR, What should be done, Should I solve it or Find the changes which are causing it

[2019-04-11 10:43] kushthedude commented on #2579
@uds5501 @shreyanshdwivedi Can you reproduce it?

[2019-04-11 11:07] kushthedude opened #2580 "Unverified User can't create event , After changing permissions"
**Describe the bug**

After changing permissions from `Admin/Permission`, When I allow an unverified user to publish an event , The user cant publish event

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Admin/Permission'
2. Permit Unverified user to create and publish event
3. Go to event creation
4. See error

**Expected behaviour**

Settings should get updated as the Admin chang

[2019-04-11 11:38] CosmicCoder96 commented on #2579
@kushthedude
Which PR caused this ? Can you pinpoint it. Consider it a high priority.
Event wizard was working fine AFAIK

On Thu, 11 Apr 2019 at 6:43 PM, Kush Trivedi <notifications@github.com>
wrote:

[2019-04-11 11:42] #2575 closed

[2019-04-11 12:32] mrsaicharan1 commented on #152
@CosmicCoder96  If we are generating them dynamically, on what basis should we be segregating them(General Info, Account Management etc..)?

[2019-04-11 13:47] kushthedude commented on #2579
@CosmicCoder96 lookin into it 👍

[2019-04-11 13:54] Anupam-dagar opened #2581 "Show a relevant message instead of speaker and session numbers when session and speakers and sponsors aren't enabled."
**Describe the bug**

Currently in the event overview section, if the session and speakers and sponsors aren't enabled for the event, the overview still shows the details about different number of sessions and speakers submitted. When they aren't enabled, it should show "session and speakers not enabled".
Similarly for sponsors, it should show "No sponsor added yet."

**To Reproduce**
Steps to rep

[2019-04-11 15:04] shreyanshdwivedi opened #2584 "Implement pagination for My Tickets section"
**Is your feature request related to a problem? Please describe.**

Currently, pagination is not implemented in `My Tickets` section. When tickets are queried only 20 tickets are returned at max.

**Describe the solution you'd like**

I will like to implement pagination for `My Tickets` section

**Additional context**

Working on it

[2019-04-11 15:31] kushthedude commented on #2578
@CosmicCoder96 Should it be done?

[2019-04-11 17:26] shubham3211 opened #2586 "Deleted sessions are not visible on event session page"
**Describe the bug**
Deleted sessions are not visible on event session page like the admin session page

**Expected behaviour**
Deleted sessions should be visible on event session page like the admin session page

**Screenshots**
![e](https://user-images.githubusercontent.com/19900978/55977660-f8cfa980-5cac-11e9-8a21-1a1030bd414e.png)
![a](https://user-images.githubusercontent.com/19900978/5597766

[2019-04-11 17:32] mohitm15 opened #2587 "Typo in the system-form."
**Describe the bug**

A typo in the system form. A word is missing more specifically.

**Expected behaviour**

typo should be corrected.

**Additional context**

I am Working

[2019-04-11 17:35] shubham3211 commented on #2586
@CosmicCoder96  Is this a valid issue?

[2019-04-11 18:18] shubham3211 opened #2589 "Event image not visible on my-session page"
**Describe the bug**
Event image not visible on my-session page

**Expected behaviour**
Event image should be visible on my-session page

**Screenshots**
![sm](https://user-images.githubusercontent.com/19900978/55981436-4c91c100-5cb4-11e9-98d2-a7631acd5530.png)

**Additional context**
I am working on it

[2019-04-11 21:00] mohitm15 opened #2591 "UI for the user profile page"
**Is your feature request related to a problem? Please describe.**

The UI seems to be very cohesive between the image upload instruction and User name.

**Describe the solution you'd like**

- To minimize the image upload instruction which introduces a line break between.

**Describe alternatives you've considered**

- To enchance the UI for user name ,family name and email.

**Screenshot**
![Scr

[2019-04-11 21:00] mohitm15 commented on #2591
@CosmicCoder96 What are your views??

[2019-04-11 21:11] shubham3211 opened #2592 "Add asterisk after label on settings/contact-info"
**Describe the bug**
Add asterisk after label on settings/contact-info

**Screenshots**
![r](https://user-images.githubusercontent.com/19900978/55993267-48719d80-5ccc-11e9-9cd0-e7b2caae9e6c.png)

**Additional context**
I am working on it

[2019-04-11 21:53] shubham3211 opened #2595 "Improve UI of user ticket list"
**Describe the bug**
Improve UI of user ticket list

**Screenshots**
![userTicket](https://user-images.githubusercontent.com/19900978/55995455-29760a00-5cd2-11e9-852d-fc5eec4bf0c9.png)

**Additional context**
I am working on it

[2019-04-11 22:02] mohitm15 commented on #2595
@shubham3211 what improvements does it requires??

[2019-04-11 22:35] mohitm15 opened #2597 "Aligning the options horizontally in sponsors section"
**Is your feature request related to a problem? Please describe.**

Aligning the options horizontally in the sponsors section as they are vertical and taking a lot of space in mobile view. Similar to #2541 but in sponsors section

**Describe the solution you'd like**

Make them horizontal

**Describe alternatives you've considered**
 drop-down table but not preferred as earlier discussed in #2541

[2019-04-11 23:07] mohitm15 opened #2600 "Overlapped components of scheduler page in mobile view"
**Describe the bug**

the various components like buttons, tables are not in organized structure i.e. not properly aligned and overlapping each other

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'create and publish event'
2. Click on 'Schedules'
3. See error

**Expected behaviour**

 Should be aligned properly.

**Screenshots**

![Screenshot 2019-04-12 04:28:54](https://user-images

[2019-04-11 23:07] mohitm15 commented on #2600
Just once check whether it is browser dependent or not.

[2019-04-12 02:18] kushthedude commented on #2600
@mohitm15 the scheduler needs a complete makeover so any pr or issue related to scheduler is vague

[2019-04-12 02:23] kushthedude commented on #2541
There should not he multiple PR and multiple issues for such a trivial change

[2019-04-12 02:30] CosmicCoder96 commented on #2600
@kushthedude Who told you that? @mohitm15 Proceed -- use only semantic UI classes.

[2019-04-12 02:30] CosmicCoder96 commented on #2597
Don't open a new issue for each table. Do it all across the app in one PR.

[2019-04-12 02:30] #2597 closed

[2019-04-12 02:31] #2595 closed

[2019-04-12 02:32] #2592 closed

[2019-04-12 02:35] kushthedude commented on #2600
@CosmicCoder96 I was lookin into roadmap and , The scheduler needs to be redesigned as more or less google calendar type , thats why said it .

[2019-04-12 02:35] #2574 closed

[2019-04-12 02:38] CosmicCoder96 commented on #2600
@kushthedude Leave the moderation of issues to the mentors. Thanks!

[2019-04-12 02:40] kushthedude opened #2601 "Use Similar Semantic-UI Classes for import event section as in other section"
**Describe the bug**

Currently Import Event Section doesn't use `Semantic UI Classes`

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Manage Event'
2. Click on 'Import'
3. Scroll down to 'Previous Event'
4. See error

**Expected behaviour**

Use `Semantic-UI`

**Screenshots**

<img width="1031" alt="Screenshot 2019-04-12 at 8 07 34 AM" src="https://user-images.githubusercontent.co

[2019-04-12 02:51] ritikamotwani commented on #2586
No, it's not required.
Check version1.

[2019-04-12 02:51] #2586 closed

[2019-04-12 02:51] #2581 closed

[2019-04-12 02:53] #2550 closed

[2019-04-12 02:55] #2548 closed

[2019-04-12 02:56] #2569 closed

[2019-04-12 02:57] #2557 closed

[2019-04-12 03:38] CosmicCoder96 commented on #2584
@shreyanshdwivedi Implement it like I have done it for events on the home page. (Lazy-infinity-loading)
Reference: next.eventyay.com

[2019-04-12 05:44] ritikamotwani commented on #2579
@kushthedude , I can't reproduce the issue.
Can you please confirm?

[2019-04-12 05:47] kushthedude commented on #2579
@ritikamotwani As i mentioned this overflow is present on safari and not in chrome .

[2019-04-12 05:49] ritikamotwani commented on #2577
No, not required for now.

[2019-04-12 05:49] #2577 closed

[2019-04-12 05:52] ritikamotwani commented on #2578
Sure, Go Ahead
But open a PR only if it's completely done, don't open a WIP PR for it.

[2019-04-12 05:53] kushthedude commented on #2578
Ok, No WIP PR 😅

[2019-04-12 09:22] mohitm15 commented on #2600
@CosmicCoder96 sure I will proceed.
@kushthedude thanks for your views.

[2019-04-12 09:46] kushthedude opened #2602 "Location Field Should be implemented like name ."
**Is your feature request related to a problem? Please describe.**

The Location which is a required field is implemented wrongly in Basic detail form , As name is required when user clicks submit , It scrolls back to name ,Similar should be implemented for Location .

**Describe the solution you'd like**

Implement Location field similar to name field

**Additional context**

I am working on it

[2019-04-12 09:47] kushthedude commented on #2602
@ritikamotwani @CosmicCoder96 I observed when we dont fill location button is absent to submit , I propose to implement location field like name like when its empty and we try to submit , We get redirected to the field with a tooltip

[2019-04-12 09:53] uds5501 commented on #2580
@kushthedude Can't replicate

[2019-04-12 10:06] kushthedude commented on #2580
Yeah it was my wrong it was caused due to location empty

[2019-04-12 10:06] #2580 closed

[2019-04-12 10:48] shreyanshdwivedi opened #2603 "UI issues in Sessions state section"
**Describe the bug**

There are few discrepancies in `Sessions` state section -
_`Admin > Sessions`_
- ~~The `Accepted` and `Pending` state have same label color~~
 - ~~There is no filter for `Confirmed` sessions~~
 - The deleted sessions  is not having `Deleted` state.
 - ~~There is delete icon in the `Deleted Sessions`~~
 - The `All` filter is not showing deleted sessions. Wherever `All` filter

[2019-04-12 10:52] prateekj117 opened #2604 "Only one of the options should be selected in ticket description"
**Describe the bug**
Only one of the options should be selected in ticket description

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Event'
2. Click on 'Free Ticket'
3. Scroll down to 'Ticket Description'
4. Both options can be selected

**Expected behaviour**
Only one of the option should be selected.

**Screenshots**
![Screenshot from 2019-04-12 16-11-47](https://user-images

[2019-04-12 14:06] harsh-jindal opened #2607 "Clicking on View Session in notification panel redirects to Not defined page"
**Describe the bug**

View sessions on notification panel does not redirect to correct page.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Notification panel'
2. Click on 'View Session'
3. Scroll down to '....'
4. See error

**Expected behaviour**

It should redirect to correct url
**Screenshots**

![Screenshot 2019-04-12 at 7 34 15 PM](https://user-images.githubusercontent.com/3101

[2019-04-12 14:17] harsh-jindal opened #2608 "Provide http/https in front of website/social link url in edit/view speaker page"
**Describe the bug**

Currently it is just an text field.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Speakers'
2. Click on 'Edit Speaker'
3. Scroll down to '....'
4. See error

**Expected behaviour**

We should provide http/https option as it is given in other places.
**Screenshots**

![Screenshot 2019-04-12 at 7 44 48 PM](https://user-images.githubusercontent.com/31013104/560439

[2019-04-12 15:09] #2516 closed

[2019-04-12 15:12] kushthedude commented on #2608
@harsh-jindal this issue is already opened and someone is working on it

[2019-04-12 15:13] kushthedude commented on #2608
Please see #2428

[2019-04-12 15:16] harsh-jindal commented on #2608
@kushthedude Cool I'll close this issue. Lot of issues, hard to find if something is already opened.

[2019-04-12 15:16] #2608 closed

[2019-04-12 15:16] harsh-jindal commented on #2428
@Haider8 You can add this for social media links too in the speaker.

[2019-04-12 15:50] shubham3211 opened #2609 "User Links should not be visible if user is deleted"
**Describe the bug**
User Links are there even if user is deleted

**Expected behaviour**
User Links should not be visible if user is deleted

**Screenshots**
![u5](https://user-images.githubusercontent.com/19900978/56050087-93d98980-5d68-11e9-9ce9-40076fe4ab08.png)

**Additional context**
I am working on it

[2019-04-12 15:55] uds5501 commented on #2609
@shubham3211 Why exactly?

[2019-04-12 15:57] uds5501 commented on #2603
@shreyanshdwivedi I think we can leave accepted session's colour as is because it was not there in v1.0?

[2019-04-12 16:40] uds5501 opened #2610 "Submitted sessions are showing no count"
**Describe the bug**

Currently, in admin/events table, the submitted sessions are showing no count.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an event
2. Go to admin/event
3. See error

**Expected behaviour**

It should show the proper count of the same

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/56052622-8b388180-5d6f-11e9-8d17-bedb1cecb6e3.p

[2019-04-12 17:06] shubham3211 commented on #2609
@uds5501  I am getting the error
![u55](https://user-images.githubusercontent.com/19900978/56053902-018ab300-5d73-11e9-8517-8d96f7780838.png)
I think we should wait for mentors reply that whether I should make a server issue or make the user link disappear.

[2019-04-12 17:54] harsh-jindal opened #2612 "Add badge to state in admin events"
**Describe the bug**

Currently theres is no badge at state in admin events.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Admin'
2. Click on 'Events'
3. Scroll down to '....'
4. See error

**Expected behaviour**

Add badge to state in admin events. This will enhance the UI.
**Screenshots**

![Screenshot 2019-04-12 at 11 24 18 PM](https://user-images.githubusercontent.com/31013104/5

[2019-04-12 18:01] harsh-jindal opened #2613 "Add slider to different tokens in System Settings in Admin"
**Describe the bug**

Currently all the tokens are shown for various social media.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Admin'
2. Click on 'Settings'
3. Scroll down to 'system'
4. See error

**Expected behaviour**

It would be better if a slider is provided for the tokens.
**Screenshots**

![Screenshot 2019-04-12 at 11 29 06 PM](https://user-images.githubusercontent.com/310

[2019-04-12 18:24] shubham3211 opened #2614 "cursor should be pointer when user hover over completed"
**Describe the bug**
When user click on completed he is redirected to orders/all so the cursor should be a pointer.

**Expected behaviour**
cursor should be pointer when user hover over 'completed'

**Screenshots**
![c](https://user-images.githubusercontent.com/19900978/56058126-30f2ed00-5d7e-11e9-85af-a0427a5e950f.png)

**Additional context**
I am working on it

[2019-04-12 18:36] shubham3211 commented on #2614
@CosmicCoder96 I think the link should be removed as the user can click on view orders to see the orders.

[2019-04-13 01:53] gofreddo opened #2616 "Heroku cannot overwrite directory '/app/tmp/cache/node/cache/bower_components' with non-directory"
**Describe the bug**
When I git push heroku master it gets to:

remote: -----> Caching build
remote:        - node_modules
remote:        - bower_components
remote: cp: cannot overwrite directory '/app/tmp/cache/node/cache/bower_components' with non-directory

[2019-04-13 04:50] prateekj117 commented on #2428
@Haider8 Any progress on this issue?

[2019-04-13 04:58] prateekj117 commented on #2584
@shreyanshdwivedi May I work on this issue?

[2019-04-13 05:02] kushthedude commented on #2428
@prateekj117 its been a week i asked him about the progress , i think he is not active .

[2019-04-13 05:02] kushthedude commented on #2428
@CosmicCoder96 should i takeover?

[2019-04-13 05:03] uds5501 commented on #2428
@kushthedude go ahead then

[2019-04-13 05:04] uds5501 commented on #2541
@mohitm15 mind if I take over?

[2019-04-13 05:06] kushthedude commented on #2541
@uds5501 he has already did this change in one place, i think it would be better if @mohitm15 do it all across the app 😅 .

[2019-04-13 05:42] ritikamotwani commented on #2612
Not required.
It's not in v1

[2019-04-13 05:42] #2612 closed

[2019-04-13 05:42] prateekj117 commented on #2610
@uds5501 May I work on this issue?

[2019-04-13 05:44] ritikamotwani commented on #2613
The slider would solve no purpose as leaving those settings blank is not recommended.

[2019-04-13 05:44] #2613 closed

[2019-04-13 05:47] ritikamotwani commented on #2603
Have you compared the two versions?

[2019-04-13 05:49] ritikamotwani commented on #2609
Check how it's handled on version1 and proceed.

[2019-04-13 05:51] uds5501 commented on #2610
@prateekj117 I already am working on it :)

[2019-04-13 05:54] ritikamotwani commented on #2602
No, it's not required. Discussions regarding the location field are ongoing. First of all it is not a required field if you want to save your event and not publish it. And also we intend to hold online events which won't require a location. So any kind of refactoring would be out of scope for this issue. Hence closing it.

[2019-04-13 05:54] #2602 closed

[2019-04-13 05:56] Anupam-dagar opened #2618 "404 error on refreshing edit speaker details page."
**Describe the bug**

On refreshing the page while editing the speakers details, the page gives a 404 error.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/e/`<event-id>`/cfs/edit/1'
2. Refresh the page
3. See error

**Expected behaviour**

Page shouldn't throw 404 error.

**Additional context**

I am working on this issue.

[2019-04-13 05:57] Haider8 commented on #2428
I was working on it. Was busy

On Sat, Apr 13, 2019, 10:33 AM Uddeshya Singh <notifications@github.com
wrote:

[2019-04-13 06:00] ritikamotwani commented on #2604
Check the behavior on legacy.
The visibility of tickets and their description are exclusive to each other.

[2019-04-13 06:00] #2604 closed

[2019-04-13 06:05] kushthedude commented on #2428
No problem go ahead

On Sat, 13 Apr 2019 at 11:27 AM, Haider Ali <notifications@github.com>
wrote:

[2019-04-13 06:06] kushthedude commented on #2602
No problem will close the pr too

[2019-04-13 06:18] uds5501 opened #2620 "Name input accepting special characters"
**Describe the bug**

Currently Name inputs are accepting special characters which should not be the case

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to User Profile
2. Type any alphanumeric name
3. Submit it
4. See error

**Expected behaviour**

It should not accept the names containing special characters.

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061

[2019-04-13 06:19] uds5501 commented on #2620
@pradeepgangwar @CosmicCoder96 @ritikamotwani Before working on it, I would like to confirm if this validation would be necessary

[2019-04-13 06:20] uds5501 commented on #2618
`e//cfs/edit/1`? I think that should be throwing a 404 or was it a typo? @Anupam-dagar

[2019-04-13 06:27] Anupam-dagar commented on #2618
I entered it in markdown comment syntax. Fixed. Thanks for pointing it out.

[2019-04-13 06:40] uds5501 opened #2622 "External Ticket URL not being used"
**Describe the bug**

Currently, If I switch off the ticketing for the event and decide to provide an external link instead, It's not being shown on the event page like it should've been as in v1

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an event with a ticket link and ticketing disabled
2. Go to event page
3. See error

**Expected behaviour**

It should be showing a button red

[2019-04-13 06:41] Anupam-dagar commented on #2428
Hey @Haider8 By yesterday night there wasn't a PR opened for this and no comments for you so I decided to resolve it out. I saw your comment now only. Can you take over another issue for now.

[2019-04-13 06:43] kushthedude commented on #2428
@Anupam-dagar atleast you should have informed here before opening a PR related to this issue as i was already in the queue and today you just open a PR from nowhere , that should not prevail , as someone might have already solved it and due to some issues he couldnt push the PR

[2019-04-13 07:08] prateekj117 opened #2624 "Tax Rate should not be negative or more than hundred"
**Describe the bug**
As Tax rate is given in percent, tax rate field should not allow negative or more than 100 values.

**Expected behavior**
Tax Rate field does not allow negative or more than 100 Value.

**Screenshots**
![Screenshot from 2019-04-13 12-38-03](https://user-images.githubusercontent.com/31065687/56076010-05591c80-5de9-11e9-8da5-ba2ce9f9c41c.png)

**Additional context**
Working on i

[2019-04-13 07:18] mohitm15 opened #2625 "Event information box is not visible in mobile view"
**Describe the bug**

Event information box is not visible in mobile view while it is visible in desktop view.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'create and publish event'
2. Click on orders and place order
3. Confirm the order
4. Switch to mobile view
5. See error

**Expected behaviour**

 Should be visible in mobile view too.

**Screenshots/GIF**
Desktop view:
![Screen

[2019-04-13 07:21] uds5501 opened #2626 "Make the Dropdowns bold if they have been previously selected"
**Describe the bug**

The Event type, topic and sub-topic should be in bold if they have been selected before so that they can remove the ambiguity whether they have been selected or not

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Edit event route
2. Scroll down to selected event types
3. See error

**Expected behaviour**

They should be written normally as in Event Licenses

**Sc

[2019-04-13 07:23] uds5501 commented on #2625
@mohitm15 It has been designed when I redesigned it. So, I don't think that would be necessary. Although do take @CosmicCoder96 views, It can always be redesigned again!

[2019-04-13 07:24] prateekj117 opened #2627 "Clicking on add links should redirect to links part of the basic detail page"
**Describe the bug**
On the event page, on clicking option to add links, it should open that part of the basic detail page.

**Expected behaviour**
Direct links and social media feed is present on clicking the button.

**Screenshots**
![Screenshot from 2019-04-13 12-47-46](https://user-images.githubusercontent.com/31065687/56076168-46523080-5deb-11e9-8c0a-b856a2e0eec1.png)

**Additional context**

[2019-04-13 07:40] uds5501 commented on #2627
@prateekj117  Just to clarify, do you mean opening that section of the page?

[2019-04-13 07:41] mohitm15 commented on #2625
@CosmicCoder96 What are your views??

[2019-04-13 07:41] prateekj117 commented on #2627
@uds5501 Yes.

[2019-04-13 07:55] prateekj117 opened #2628 "Functionality to add multiple organizers for an Event"
**Describe the bug**
As an Event can have more than one organizer, we should add an option to have multiple organizers for an event.

**Additional context**
Working on it.

[2019-04-13 08:01] mohitm15 commented on #2626
@uds5501 are you talking for the drop -down table for these textfields??

[2019-04-13 08:09] uds5501 commented on #2628
@prateekj117 IMO, there is already a feature for having multiple co organizers and  the organiser can get the option to pass his organizer status to another co organiser.  So, maybe we should just keep the organiser unique otherwise Co-organiser role will not really have any sense

[2019-04-13 08:10] uds5501 commented on #2626
@mohitm15 dropdown tables?

[2019-04-13 08:25] kushthedude opened #2630 "Implement Speaker column similar to Session section"
**Describe the bug**

Currently, Speaker only shows no of speakers, I propose to implement it like Session section

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Admin/Events/All'
2. See error

**Expected behaviour**

The table should provide all the specific details as session column.

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/56076899-abaa1f80-

[2019-04-13 08:29] kushthedude commented on #2625
@mohitm15 See on top Event Information is displayed but there is no Margin to reduce the items

[2019-04-13 08:32] mohitm15 opened #2631 "Incorrect cover heading for sessions page in mobile view"
**Describe the bug**

Incorrect cover heading for sessions page in mobile view. The title is Sessions but it was showing Tickets

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'create and publish'
2. Click on 'Overview : sessions '
3. Click on Tickets page
4. Switch to mobile view
5. Return back to sessions page
6. See error

**Expected behaviour**

Title should be changed to session

[2019-04-13 08:35] shreyanshdwivedi commented on #2603
@ritikamotwani @uds5501 I'm unable to open CFS for event on next.eventyay.com but as can be seen in the screenshot attached, we are using green colored tick to change the state of session from `Pending` to `Accepted` and blue colored tick for `Accepted` to `Confirmed. Considering this in mind, I though to change the `Accepted` to green and `Confirmed` to blue.
Your views on this?

[2019-04-13 08:38] mohitm15 commented on #2626
@uds5501 the functionality of text field is fine but I have a doubt in the drop-down table?? As soon as you click on text field the watermarked text disappears which is fine and also if you select any value from the drop-down table, the selected options get bold too,  then what changes you are telling?

[2019-04-13 08:39] kushthedude opened #2632 "External Event URL is not shown in Manage Events"
**Describe the bug**

When a event has external ticket URL, Its details are not shown in `Manage Events` Section

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Admin/Events/All'
2. See error

**Expected behaviour**

Add `External Event URL` under this column

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/56077100-a1892080-5df5-11e9-8eec-7a2f18bb33c8.

[2019-04-13 08:40] uds5501 commented on #2626
@mohitm15 To make my point clear, I am just looking to make Event Type, topic and subtopic's UI to be exactly like Licenses where I don't need to select another option to make it bold

[2019-04-13 08:41] mohitm15 commented on #2631
@CosmicCoder96 this thing also happening when you overview the event in mobile view .so I will fix the same too

[2019-04-13 09:10] mohitm15 opened #2633 "Alignment of the submit button at center in mobile view"
**Is your feature request related to a problem? Please describe.**

Currently, the save button is at left side on profile update and contact info page.

**Describe the solution you'd like**

To enhance UI, align to center in mobile view like in desktop view

**Screenshots**
1.
![Screenshot 2019-04-13 14:32:26](https://user-images.githubusercontent.com/35539313/56077436-d6977200-5df9-11e9-8643-5ee6

[2019-04-13 09:10] mohitm15 commented on #2633
@CosmicCoder96 what are your reviews

[2019-04-13 09:22] harsh-jindal opened #2634 "Add search to country dropdown"
**Describe the bug**

Currently the user has to scroll through various countries to select his country.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Buy ticket'
2. Click on 'Enable ticketing Info'
3. Scroll down to 'Country'
4. See error

**Expected behaviour**

Make the dropdown a search dropdown
**Screenshots**

![Screenshot 2019-04-13 at 2 49 12 PM](https://user-images.githubuse

[2019-04-13 09:34] kushthedude commented on #2631
Not reproducable

[2019-04-13 09:39] kushthedude commented on #2631
![image](https://user-images.githubusercontent.com/44091822/56077808-106a7780-5dfe-11e9-8252-f363adf4886c.png)

[2019-04-13 11:23] kushthedude commented on #2579
@CosmicCoder96 After trying it on other Mac , I came across that it's a browser specific issue which exist only on Mac safari , What should be done ?

[2019-04-13 11:36] kushthedude opened #2636 "Notify user when he enters same old password as new password"
**Is your feature request related to a problem? Please describe.**

When a user changes his old password, Notify the user that he has entered the same old password as new password

**Describe the solution you'd like**

Notify user he has entered the same old password as new password

**Additional context**

![image](https://user-images.githubusercontent.com/44091822/56079180-7c54dc00-5e0e-11e9-9a7

[2019-04-13 11:51] kushthedude opened #2637 "Adding required asterisk to the password section"
**Is your feature request related to a problem? Please describe.**

Addition of required asterisk to password section.
**Describe the solution you'd like**

Adding `Class Required`

[2019-04-13 11:53] mohitm15 commented on #2637
What's this

[2019-04-13 11:53] kushthedude commented on #2637
Check now @mohitm15

[2019-04-13 11:57] kushthedude commented on #2636
@CosmicCoder96 @ritikamotwani Should the validation be done ?

[2019-04-13 11:59] kushthedude commented on #2634
@harsh-jindal I think this dropdown is the standard dropdown of Moment.js, Modifying it would not be appropriate I think. Still take a review from @CosmicCoder96

[2019-04-13 13:05] mohitm15 commented on #2625
Agreed !!

[2019-04-13 13:10] ritikamotwani commented on #2633
No, it's not required.

[2019-04-13 13:10] #2633 closed

[2019-04-13 13:10] kushthedude commented on #2625
Close the issue than 😅

[2019-04-13 13:18] mohitm15 commented on #2625
However, I am trying to make the title box visible and soon push PR :smile_cat:

[2019-04-13 13:50] CosmicCoder96 commented on #2636
@kushthedude proceed.

[2019-04-13 13:51] CosmicCoder96 commented on #2636
@kushthedude Also open an issue for the same on the server. API should reject it too.

[2019-04-13 13:57] #2626 closed

[2019-04-13 13:59] #2622 closed

[2019-04-13 14:00] #2637 closed

[2019-04-13 14:06] #2610 closed

[2019-04-13 14:06] uds5501 commented on #2630
@kushthedude  just use the events/dashboard speaker component that I made and re route it to admin/events. That should do

[2019-04-13 14:06] mohitm15 commented on #2631
@kushthedude I think you misinterpreted it. What I am saying is that if you first went to sessions section and then go to ticket section, now you return to sessions page again the title remains the same and needs to be changed.

[2019-04-13 14:08] #2607 closed

[2019-04-13 14:08] #2589 closed

[2019-04-13 14:09] mohitm15 commented on #2631
This is vague

[2019-04-13 14:19] kushthedude commented on #2631
Not reproducible

[2019-04-13 14:22] CosmicCoder96 commented on #2634
@harsh-jindal You can add the search class, also the list of countries is not derived from moment.js, moment.js is for time-related thing.

[2019-04-13 14:22] kushthedude commented on #2631
@uds5501 Can you please confirm it ?

[2019-04-13 14:23] kushthedude commented on #2634
@CosmicCoder96 Sorry, My bad

[2019-04-13 14:43] #2474 closed

[2019-04-13 14:57] uds5501 opened #2639 "No url validation on sponsor websites"
**Describe the bug**

Currently, the sponsor website links are not being validated at all

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Sponsor addition
2. Write any gibberish in sponsor url
3. See error

**Expected behaviour**

The sponsor url should be checked if the url is correct or not

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/56081390-7bca3e

[2019-04-13 15:00] uds5501 commented on #2631
@mohitm15 I did this exact same thing but I could not reproduce this error.
Did you try clearing the cookies and perform this sequence again?
And if there is any other reproduce able pattern, kindly do let me know

[2019-04-13 15:08] CosmicCoder96 commented on #2616
Hi @gofreddo Thanks for reporting.
This should fix it.
[code]
Reference: https://devcenter.heroku.com/articles/nodejs-support#cache-behavior

Do revert if it still persists. Thanks!

[2019-04-13 15:11] CosmicCoder96 commented on #2631
Reopen if someone can verify it.

[2019-04-13 15:11] #2631 closed

[2019-04-13 15:12] CosmicCoder96 commented on #2628
There is an entire section called manage roles, you can make various organziers, coorganzers from there.

[2019-04-13 15:12] #2628 closed

[2019-04-13 15:14] CosmicCoder96 commented on #2625
It was intentional.

[2019-04-13 15:14] #2625 closed

[2019-04-13 15:16] CosmicCoder96 commented on #2620
Leave it for now, will rethink it later.
https://www.w3.org/International/questions/qa-personal-names
Too much overhead.

[2019-04-13 15:16] #2620 closed

[2019-04-13 15:23] #2573 closed

[2019-04-13 17:07] shreyanshdwivedi commented on #2603
@ritikamotwani I've updated the list of bugs to be solved. Can you verify once if these needs fixing?

[2019-04-13 18:32] mohitm15 commented on #2591
@CosmicCoder96
But with using the `ui hidden divider` the username and family name are coming in capital irrespective of what written in text field
![Screenshot 2019-04-14 00:02:10](https://user-images.githubusercontent.com/35539313/56083887-872c6280-5e48-11e9-83bf-0a66da3829f8.png)

[2019-04-13 18:48] uds5501 opened #2642 "Global Filter not working in event/overview|Sponsors"
**Describe the bug**

The global filter is not working for event/overview's sponsor table

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Event/Overview
2. Check global filter
3. See error

**Expected behaviour**

Global Filters should work for the sponsors table

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/56084024-a9bf7b00-5e4a-11e9-89db-7923084aab79

[2019-04-14 03:41] kushthedude commented on #2630
Lemme try it

[2019-04-14 06:37] kushthedude commented on #2624
@prateekj117 Change the name of issue its misleading

[2019-04-14 06:40] kushthedude commented on #2481
@CosmicCoder96 How do i replicate this issue on my local?

[2019-04-14 09:04] uds5501 commented on #2460
@CosmicCoder96 Please close this?

[2019-04-14 09:17] uds5501 commented on #2591
@mohitm15 use :
`<div class="ui hidden divider">
</div>`
Instead of `<br>`

[2019-04-14 09:37] uds5501 commented on #2458
@mohitm15 I have a solution ready on my local, if you allow, I can take over and immediately push the PR!

[2019-04-14 09:46] uds5501 commented on #2221
@CosmicCoder96 This is working fine, kindly verify and close if can't reproduce

[2019-04-14 12:09] mohitm15 commented on #2458
I had to made changes locally but waiting for mentor's review @uds5501

[2019-04-14 12:11] mohitm15 commented on #2591
@uds5501 l had used the same 😅😅... l

[2019-04-14 12:11] mohitm15 commented on #2591
div tag

[2019-04-14 12:57] mohitm15 opened #2646 "No alert message when user enters same current and new password."
**Describe the bug**

When a user enters the same current password to the new password field, it does not warn regarding that both the password are same. Instead, it saves the old password.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'settings'
2. Click on 'password'
3. Enter your current password in all the 3 fields.
4. See error.

**Expected behaviour**

  It should alert the us

[2019-04-14 14:19] kushthedude commented on #2646
I think opened this issue please dont increase the issue count

[2019-04-14 14:20] kushthedude commented on #2646
See #2636 , I request you please dont create issues which already exist

[2019-04-14 14:22] #2646 closed

[2019-04-14 14:25] mohitm15 commented on #2636
@kushthedude Can I take over this as I had made changes locally ..just need to push

[2019-04-14 14:38] mohitm15 commented on #2591
@CosmicCoder96 review this now

[2019-04-14 14:38] kushthedude commented on #2636
@mohitm15 how did you solved it from frontend , it needs changes from api too ?

[2019-04-14 14:39] kushthedude commented on #2636
See https://github.com/fossasia/open-event-server/issues/5794

[2019-04-14 15:00] mohitm15 commented on #2636
@kushthedude yes , thanks for mentioning

_Sent from my VIBE K6 Power using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-04-14 16:14] Anupam-dagar commented on #2221
@uds5501 I guess this issue was at my machine only at that time probably because of messed up migrations. This issue is good to be closed.
CC: @CosmicCoder96

[2019-04-14 17:09] mohitm15 opened #2648 "Showing alert message while activating access code and vice-versa"
**Is your feature request related to a problem? Please describe.**

Showing alert message box while activating or deactivating the access code like implemented for discount code.

**Describe the solution you'd like**

  Currently a simple update alert get appeared. Wanted to add a message dialog box which will be popped just like in activating/deactivating discount code.

**Describe alternatives y

[2019-04-14 17:10] mohitm15 commented on #2648
@CosmicCoder96 @ritikamotwani your reviews??

[2019-04-14 17:39] prateekj117 commented on #2628
@CosmicCoder96 I know but shouldn't it be there on the Basic Details Page as well.

[2019-04-15 04:39] kushthedude commented on #2648
It should be like this only , every table you see have a option to delete and edit , and adding a addition popup after the user clicks delete would modify or change the design, thats why i think it should be left as it is ,
Still take you reviews from mentors

[2019-04-15 07:57] Anupam-dagar opened #2649 "Ticket sales end doesn't change on event date change."
**Describe the bug**

Currently while creating an event, ticket sales end date is set to the start date of the event. But if the event dates get changed then the ticket sales end date still remains the same. It might happen the event is over but the sales is open till late time after the event.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an event
2. Change the event start date.
3

[2019-04-15 08:06] Anupam-dagar opened #2650 "Show event end date on the event page."
**Describe the bug**

Currently only the start date of the event is shown on the event page. An event can be of single day or of 3 days. It will be better for the user to know the end date of the event.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/e/event-id'
2. See error

**Expected behaviour**

Event end date should be shown to the user.

**Screenshots**

![Screenshot from 2019

[2019-04-15 08:16] shreyanshdwivedi commented on #2458
@mohitm15 mentor's review for what? Atleast tag a mentor if you have any query. It has been 13 days since you open this issue, please push a PR

[2019-04-15 08:18] Anupam-dagar opened #2651 "Show event has passed label on the events which are over."
**Describe the bug**

Currently if the event is over then during filtering of event in the browse events, there is no way to distinguish other than checking dates for a user to know if the event is over or not. A label with text `event has passed` will be better for the user.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/explore'
2. Filter for an event which is over.
3. See error

[2019-04-15 08:37] shreyanshdwivedi commented on #2603
@ritikamotwani @CosmicCoder96 can you please verify the issue now? I'll update my PR accordingly

[2019-04-15 08:52] mrsaicharan1 opened #2652 "Download Tickets Button should send JWT Auth Headers"
**Describe the bug**
Related  Discussion: https://github.com/fossasia/open-event-server/pull/5790
Currently, the tickets are prone to a vulnerability issue where any person with the tickets link is able to access it. Thereby, we're refactoring the ticket flow to prevent this. We have implemented the access-control check on the server. In addition, the `Download Tickets` button must route to the ti

[2019-04-15 09:04] shreyanshdwivedi opened #2653 "No check for CFS and Ticket end date"
**Describe the bug**

Currently, the CFS end date and ticket end date can be more than the event end date. Proper error must be raised on such cases

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `Create Event`
2. Create an event with a ticket having end date greater than the event end date
3. Open CFS with end date more than the event end date
4. See error

**Expected behaviour**

P

[2019-04-15 09:54] Anupam-dagar commented on #2653
@shreyanshdwivedi I am already working on this issue as opened by me in #2649

[2019-04-15 09:58] shreyanshdwivedi commented on #2653
@Anupam-dagar I think your issue solely focuses on the changing of ticket sales-ends-at date once the end date of event changes. Title and description states this only. Whereas my event is more of server issue and focuses on checking and raising errors at time of event creation. I'll be opening a PR on server for this

[2019-04-15 10:23] shreyanshdwivedi commented on #2653
@pradeepgangwar please transfer this issue to server :)

[2019-04-15 10:25] uds5501 commented on #2458
@mohitm15 if you aren't planning to push a PR, mind if I do?

[2019-04-15 10:30] uds5501 commented on #2603
@shreyanshdwivedi The updated list looks good. Push a PR and the discussion can take place there.

[2019-04-15 10:42] kushthedude commented on #2653
@open-event-bot move to fossasia/open-event-server

[2019-04-15 10:43] kushthedude commented on #2653
@open-event-bot move to fossasia/open-event-server

[2019-04-15 10:52] uds5501 opened #2655 "Create integration test for header-date helper"
Parent issue : #1554

Working on it.

[2019-04-15 11:31] Anupam-dagar opened #2657 "Show past events in browse events."
**Describe the bug**

Currently once the event is over, it isn't shown anywhere else except the user who created it and the admin. It is better for a user to know which events happened in the past.

**Expected behaviour**

A past events tab which shows all the past events.
**Additional context**

I am working on this.

[2019-04-15 12:35] Anupam-dagar opened #2659 "Filter upcoming events on the basis of their end date and time."
**Describe the bug**

Currently the events are being filtered on the basis of end date only. If an event is single day event of 2hrs, then the vent will get removed from upcoming events on the next day. The event should not be shown in upcoming events if it is over.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an event.
2. Set event start time and end time for a small period.
3. A

[2019-04-15 12:56] ritikamotwani commented on #2650
No, it's not required.
It's neither on legacy nor on eventbrite.

[2019-04-15 12:56] #2650 closed

[2019-04-15 12:56] prateekj117 opened #2660 "Wrong UI of vertical menu on bottom of event page."
**Describe the bug**
In the Event Detail Page, when we scroll to the bottom, the vertical menu shifts to the bottom of the Page.

**Expected behaviour**
The vertical menu should not shift.

**Screenshots**
![Screenshot from 2019-04-15 17-47-21](https://user-images.githubusercontent.com/31065687/56134328-ff5f6900-5fab-11e9-96de-9de3a3665a71.png)

**Additional context**
Working on it.

[2019-04-15 12:59] prateekj117 opened #2661 "Message to upgrade caniuse-lite when starting the server"
**Describe the bug**
Whenever the server is started, it shows an error to upgrade caniuse-lite

**Expected behaviour**
No such error should be displayed.

**Screenshots**
![Screenshot from 2019-04-15 17-48-20](https://user-images.githubusercontent.com/31065687/56134518-5e24e280-5fac-11e9-907b-416ed31036e4.png)

**Additional context**
Working on it.

[2019-04-15 13:00] prateekj117 commented on #2661
@CosmicCoder96 I just need to upgrade the dependency in this case, right?

[2019-04-15 13:00] ritikamotwani commented on #2651
No, not required.
Not on legacy or eventbrite.

[2019-04-15 13:00] #2651 closed

[2019-04-15 13:17] #2655 closed

[2019-04-15 13:21] kushthedude commented on #2660
Not reproducible, Indeed the sidebar remains attached to the top whenever you scroll down to the bottom and I think its an enhancement, The error shown in your screenshot is not reproducible

[2019-04-15 13:24] #2630 closed

[2019-04-15 13:25] ritikamotwani commented on #2603
@shreyanshdwivedi , there should be a deleted icon in the deleted sessions for permanently deleting the record. Check legacy.

[2019-04-15 13:31] prateekj117 commented on #2660
@uds5501 Can you please also test it?

[2019-04-15 13:38] CosmicCoder96 commented on #2652
https://github.com/fossasia/open-event-server/pull/5790#pullrequestreview-226648856

[2019-04-15 13:38] #2652 closed

[2019-04-15 14:56] uds5501 commented on #2660
@prateekj117 I can't recreate it either :sweat_smile:

[2019-04-15 16:17] mohitm15 commented on #2660
@prateekj117 Non-reproducible too here!

[2019-04-15 16:26] kushthedude commented on #2458
I think there is already a issue for this

[2019-04-15 17:05] #2642 closed

[2019-04-15 17:09] #2488 closed

[2019-04-15 17:16] #2460 closed

[2019-04-15 17:20] #2639 closed

[2019-04-15 18:30] #2603 closed

[2019-04-15 18:32] CosmicCoder96 commented on #2657
Don't need it, a feature-set identical to legacy is the priority

[2019-04-15 18:32] #2657 closed

[2019-04-15 19:44] shubham3211 opened #2667 "Deleted speakers are visible in sessions"
**Describe the bug**
Deleted speakers are visible in sessions

**Expected behaviour**
Deleted speakers should not be visible in sessions

**Screenshots**
![speaker1](https://user-images.githubusercontent.com/19900978/56160500-f343cd80-5fe4-11e9-9f30-74ab52041b92.gif)

**Additional context**
I am working on it

[2019-04-15 19:48] shubham3211 opened #2668 "Session should not be clickable if it has no speaker"
**Describe the bug**
Session is clickable even if it has no speaker

**Expected behaviour**
Session should not be clickable if it has no speaker

**Screenshots**
![session](https://user-images.githubusercontent.com/19900978/56160670-69483480-5fe5-11e9-9acb-e63d21d2a50e.gif)

**Additional context**
I am working on it

[2019-04-16 02:55] #2634 closed

[2019-04-16 04:19] kushthedude opened #2669 "Various Bugs in Safari ."
**Describe the bug**

Many issues are there in MacOS Safari which are not present in other browser, Some of which are -:
- Any link given in input by user is not getting saved .
- User cant add Social Links , External Event URL , TicketURL .
- Unnecessary Body Overflow in Event creation Wizard as stated in #2579

**To Reproduce**

Steps to reproduce the behaviour:

- Try to add any link given by u

[2019-04-16 04:20] kushthedude commented on #2669
@CosmicCoder96 As stated in the issue all this issues are genuine and has been verified by @pradeepgangwar too .
I have been trying to figure out what is the issue happening in safari which is creating such bugs , Please guide me if you have something

[2019-04-16 06:23] mariobehling opened #2670 "Avoid Top progress bar which shows for lazy loading"
When more items on the page are loaded the top blue bar also shows loading again. This makes the site appear even slower.

![Screenshot from 2019-04-16 13-19-49](https://user-images.githubusercontent.com/1583873/56186787-d04c0480-604a-11e9-9816-dc94fb81a940.png)

[2019-04-16 06:25] mohitm15 commented on #2670
@mariobehling what should be the expected behaviour according to you??

[2019-04-16 07:02] #2477 closed

[2019-04-16 07:09] uds5501 commented on #2670
@mariobehling looking into it

[2019-04-16 07:14] uds5501 commented on #2544
@kushthedude they are being highlighted correctly. I don't see the error there

[2019-04-16 07:16] ritikamotwani opened #2672 "Add a flag infront of the country code in the dropdown of order-form"
**Describe the bug**
A country flag should be present with it's name in the dropdown to select your country in the order-form as in session-speaker-form.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the orders form.

**Screenshots**
Implementation to be like:
![image](https://user-images.githubusercontent.com/22127980/56189425-879c4780-605a-11e9-912a-bdc772faa257.png)

**Desktop (p

[2019-04-16 07:19] uds5501 commented on #2672
@ritikamotwani can I take this up?

[2019-04-16 07:32] mariobehling opened #2674 "Events Listing not updated according to map area"
On the page https://next.eventyay.com/explore changing the map area does not change the listed events. Expected: Only events oin the map area should be shown.

![Screenshot from 2019-04-16 13-44-25](https://user-images.githubusercontent.com/1583873/56190464-76503c80-6054-11e9-8190-274251fbfdd1.png)

[2019-04-16 07:53] kushthedude commented on #2544
@uds5501 try to click on getting here , you will see info is highlighted not the getting here

[2019-04-16 07:54] mariobehling opened #2676 "Pagination missing from Admin Sales Tab"
The admin sales tab does not have pagination (https://next.eventyay.com/admin/sales). Expected: When there are a lot of events the different sub menu tabs should be paginated. It would not be possible to load thousand of events.

[2019-04-16 08:04] mariobehling opened #2677 "Admin: System Notification Mail Tab showing server error"
In the Admin section https://next.eventyay.com/admin/reports/system-logs/activity-logs clicking on the mail tab in the: System Notifications shows an "500 Internal Server Error".

![Screenshot from 2019-04-16 15-02-53](https://user-images.githubusercontent.com/1583873/56192580-e5c82b00-6058-11e9-9445-7717e2a7896f.png)

[2019-04-16 08:05] kushthedude commented on #2674
Duplicate of #2171  , PS -: I am working on #2171

[2019-04-16 08:06] kushthedude commented on #2676
I think some one is already on it #2167

[2019-04-16 08:07] mariobehling opened #2679 "Admin: In the Logs show newest entries first and show 100 entries as standard"
In the Admin Section in the Logs (https://next.eventyay.com/admin/reports/system-logs/activity-logs) show newest entries first and show 100 entries as standard. Currently it shows the oldest entries first.

![Screenshot from 2019-04-16 15-05-30](https://user-images.githubusercontent.com/1583873/56192744-40618700-6059-11e9-8efa-873fa562e6fc.png)

[2019-04-16 08:08] shreyanshdwivedi commented on #2679
I'll like to work on it

[2019-04-16 08:09] kushthedude commented on #2677
Its working
<img width="1235" alt="Screenshot 2019-04-16 at 1 38 19 PM" src="https://user-images.githubusercontent.com/44091822/56192876-fecadf00-604c-11e9-960d-17eaa46dbccc.png">

[2019-04-16 08:18] kushthedude opened #2680 "User section events table is not up-to-date with other tables of such type"
**Describe the bug**

If you see the events table of a specific user , The event table shown over there is not up to date with other.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Admin/Users/Events'
4. See error

**Expected behaviour**

Table should be like other events table

**Screenshots**

#### Current
<img width="1440" alt="Screenshot 2019-04-16 at 1 32 47 PM" src="https://

[2019-04-16 08:22] kushthedude commented on #2670
@mariobehling I checked it out and yup thats persisting when the items are loaded , a refresh happens again . @uds5501 If you are not taking it up , May i take it ?

[2019-04-16 09:10] #2509 closed

[2019-04-16 09:19] kushthedude commented on #2578
@ritikamotwani A little query , I was searching for some ember package for country code dropdown but found none should i create a manual `.js` file in dictionary?

[2019-04-16 09:35] uds5501 commented on #2670
@kushthedude Actually I am working on it

[2019-04-16 09:36] kushthedude commented on #2670
Cool

On Tue, 16 Apr 2019 at 3:05 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-04-16 10:10] uds5501 commented on #2670
@kushthedude this error is not reproduce able on my system. so if you can rectify it, please go ahead and work on it :)

[2019-04-16 10:11] kushthedude commented on #2670
@uds5501 check on next.eventyay.com once

[2019-04-16 14:08] harsh-jindal opened #2684 "Place the save button in Messages in Admin at the bottom"
**Describe the bug**

Currently the button is at top right corner and it looks odd.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Admin'
2. Click on 'Messages'
3. Scroll down to '....'
4. See error

**Expected behaviour**

It should be placed at bottom left corner as other pages
**Screenshots**

![Screenshot 2019-04-16 at 7 33 49 PM](https://user-images.githubusercontent.com/3101310

[2019-04-16 14:12] harsh-jindal opened #2685 "Disable Save of Ticket Fees without adding a field"
**Describe the bug**

Currently the user can click on save without adding a field.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Admin'
2. Click on 'Settings'
3. Scroll down to 'Ticket Fess'
4. See error

**Expected behaviour**

Save should be shown only when new field is added
**Screenshots**

![Screenshot 2019-04-16 at 7 38 22 PM](https://user-images.githubusercontent.com/31013104

[2019-04-16 14:37] harsh-jindal opened #2688 "Allow user to search in Language field of Create Page in Admin"
**Describe the bug**

Currently the user has to scroll through the languages.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Admin'
2. Click on 'Content'
3. Scroll down to 'Pages'
4. See error

**Expected behaviour**

Allow user to search in the dropdown.
**Screenshots**

![Screenshot 2019-04-16 at 8 07 34 PM](https://user-images.githubusercontent.com/31013104/56218859-4c623e80-6083-

[2019-04-16 14:42] harsh-jindal opened #2689 "Add scroll to Add event topic in Admin to avoid overflow."
**Describe the bug**

Currently if we keep adding event topics the div keeps adding it to the bottom.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Admin'
2. Click on 'Content'
3. Scroll down to 'Events'
4. See error

**Expected behaviour**

The div length should be fixed and it should be scrollable after it.
**Screenshots**

![Screenshot 2019-04-16 at 8 09 26 PM](https://user-image

[2019-04-16 14:46] harsh-jindal opened #2690 "Fix Bug in System Images in Admin"
**Describe the bug**

Currently a black page appears if there are no system images.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Admin'
2. Click on 'Content'
3. Scroll down to 'System Images'
4. See error

**Expected behaviour**

A text saying "No system images available" should be displayed.
**Screenshots**

![Screenshot 2019-04-16 at 8 14 04 PM](https://user-images.githubusercont

[2019-04-16 14:54] kushthedude commented on #2690
@harsh-jindal Rather than adding no system image , You should add some sample images .

[2019-04-16 14:59] harsh-jindal commented on #2690
@kushthedude System Image is for Event Subtopics. When you add a subtopic to Event topic system image is created. So if you have not added any event subtopic for a event topic. "No system images or No event subtopics" should be displayed as a message.

[2019-04-16 15:07] uds5501 commented on #2670
@kushthedude the issue exists on next.eventyay.com but not on my local repo

[2019-04-16 15:10] kushthedude commented on #2690
Oh i though you were referring to `Travel & Outdoor ` Section , My bad

[2019-04-16 15:23] kushthedude opened #2692 "Toggle checkbox not clearly visible"
**Describe the bug**

Currently at some of the places old checkbox is present, Which is barely present in white background

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'setting/email-preference'
2. See the Checkbox

**Expected behaviour**

I propose to change the checkbox to the new design used in event wizard

**Screenshots**

<img width="1277" alt="Screenshot 2019-04-16 at 8 52

[2019-04-16 15:44] prateekj117 opened #2694 "Empty space in Event Details Page after License Info"
**Describe the bug**
An empty space is present in Mobile view in the Event Detail Page.

**Expected behaviour**
Empty space should not be there.

**Screenshots**
![Screenshot from 2019-04-16 21-02-16](https://user-images.githubusercontent.com/31065687/56224107-a6b3cd00-608c-11e9-812b-9bbca4ec2736.png)

**Additional context**

Working on it.

[2019-04-16 16:39] #2692 closed

[2019-04-16 16:44] mohitm15 opened #2698 "Implementing the same url dropdown in website textfield of adding speakers"
**Is your feature request related to a problem? Please describe.**
 Adding a url dropdown of `https://or http://` in the website text field of add speaker page like implemented in the external link of create event page.

**Describe the solution you'd like**

To implement it to a drop down of urls like in external link section of create event page.

**Screenshot**
current behaviour
![Screenshot 201

[2019-04-16 16:45] mohitm15 commented on #2698
@CosmicCoder96 @ritikamotwani reviews required.

[2019-04-16 16:58] kushthedude commented on #2698
@mohitm15 It is duplicate of another issue

[2019-04-16 17:00] kushthedude commented on #2698
Please check the issues before creating a new one #2428

[2019-04-16 17:23] #2698 closed

[2019-04-16 18:06] Anupam-dagar commented on #2650
@ritikamotwani The end date is there on eventbrite
https://www.eventbrite.com/e/angelhack-2019-bangalore-tickets-58778720736
![Screenshot from 2019-04-16 23-35-30](https://user-images.githubusercontent.com/21174572/56233324-7413cf80-60a0-11e9-904b-484ece249cf2.png)

[2019-04-17 03:54] ritikamotwani commented on #2648
@mohitm15 this is not required for now.
The buttons have a uniform design in the app.

[2019-04-17 03:54] #2648 closed

[2019-04-17 03:57] #2672 closed

[2019-04-17 03:58] #2688 closed

[2019-04-17 04:00] #2587 closed

[2019-04-17 05:49] uds5501 opened #2701 "Link overflow issue in small mobile screens"
**Describe the bug**

The event link is overflowing out of the container in view event tab in small mobile view

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to event view
2. Go to mobile view
3. See error

**Expected behaviour**

It should not be overflowing

**Screenshots**

![Screenshot from 2019-04-17 11-16-05](https://user-images.githubusercontent.com/21087061/56263940-7f97e280-61

[2019-04-17 06:35] mohitm15 commented on #2346
@Anupam-dagar Are you still on this issue?

[2019-04-17 06:39] Anupam-dagar commented on #2346
This issue needs to be closed by @cosmiccoder96

On Wed, 17 Apr 2019, 12:05 Mohit Maroliya, <notifications@github.com> wrote:

[2019-04-17 06:44] uds5501 commented on #2346
@Anupam-dagar Actually leave it open, just ask @CosmicCoder96 to add a later label on it

[2019-04-17 07:39] kushthedude opened #2702 "Making UI similar to contact info in setting"
**Describe the bug**

UI of `Admin/User/Contactinfo` should be same like `setting/contactinfo`

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Admin/User/Setting/ContactInfo'
2. See error

**Expected behaviour**

Fix them up

**Screenshots**

#### Before

<img width="1204" alt="Screenshot 2019-04-17 at 1 01 54 PM" src="https://user-images.githubusercontent.com/44091822/56269638-bcb

[2019-04-17 09:04] prateekj117 opened #2703 "Date filtering option not available in Mobile Mode"
**Describe the bug**
Date filtering option UI disappears in Mobile Mode in the Index Page

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'localhost:4200'
2. Turn to Mobile view
3. Scroll down to 'Search option bar'
4. See error

**Expected behaviour**
Date filtering option should be available for Mobile View as well.

**Screenshots**
![Screenshot from 2019-04-17 14-30-38](https://use

[2019-04-17 09:04] #2660 closed

[2019-04-17 09:47] kushthedude commented on #2703
Replica of a closed issue , Not needed now close it

[2019-04-17 09:48] kushthedude commented on #2703
Please see #2247

[2019-04-17 09:50] prateekj117 commented on #2703
@iamareebjamal @CosmicCoder96 @ritikamotwani Seems like an important as well as easy issue to me, so won't take that much of time, your views on this?

[2019-04-17 10:07] uds5501 commented on #2703
@prateekj117 kindly see mentor's opinion

https://github.com/fossasia/open-event-frontend/issues/2247#issuecomment-469095512

[2019-04-17 10:15] prateekj117 commented on #2399
@uds5501 If you haven't done much work on it, I would like to take it up.

[2019-04-17 10:17] uds5501 commented on #2399
@prateekj117 Go ahead

[2019-04-17 12:23] uds5501 opened #2706 "Event Topic not being displayed in event edit form"
**Describe the bug**

The event topic is not being shown in the edit form even after selection

**Expected behaviour**

It should store event topic

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu16.04
 - Browser [e.g. chrome, safari] Chrome

**Additional context**

Up for grabs!

[2019-04-17 12:24] uds5501 commented on #2706
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/21087061/56287333-ac1b2100-6139-11e9-8fb7-1f91eb742121.gif)

[2019-04-17 12:36] uds5501 opened #2707 "Username changing along with Ticket Buyer Name"
**Describe the bug**

When ordering a ticket, the ticket buyer name is changing along with the user name on top

**To Reproduce**
![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/21087061/56287987-66f7ee80-613b-11e9-9cb6-532db87d3cfe.gif)

**Expected behaviour**

The User name shouldn't be changing at all

**Desktop (please complete the following information):**
 - OS: [e.g.

[2019-04-17 14:12] kushthedude commented on #2707
Try to refresh it will not occur

[2019-04-17 14:16] uds5501 commented on #2707
@kushthedude this shouldn't happen in the first place :sweat_smile:

[2019-04-17 14:17] kushthedude commented on #2707
I had been observing this issue but as soon as i go to homepage after order the username changes automatically , But cool go ahead 👍

[2019-04-17 14:22] uds5501 opened #2708 "Create integration test for ticket-attendees helper"
Parent issue : #1554

Working on it.

[2019-04-17 14:43] kushthedude opened #2709 "Ticket Buyer Name not getting shown"
**Describe the bug**

After ordering ticket if you go and check ticket from `My Tickets` , No buyer name is provided.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'My Tickets'
2. Click on 'Any Ticket'
3. Check the `Ticket Buyer` Name

**Expected behaviour**

Solve the error

**Screenshots**

<img width="1288" alt="Screenshot 2019-04-17 at 8 06 05 PM" src="https://user-images.gith

[2019-04-17 18:09] kushthedude opened #2711 "UI Enhancement in `Create Page` Form"
**Is your feature request related to a problem? Please describe.**

- Currently there is no `Label Class` for field of form .
- Place and Language should be made required field .
- Addition of `Place Holders` in the field boxes

**Describe the solution you'd like**

Implementing all the described enhancement

**Additional context**

I am on it

[2019-04-18 05:09] uds5501 commented on #2649
@Anupam-dagar Can I take over?

[2019-04-18 08:29] kushthedude opened #2715 "Extra `S` is hardcoded in Events Cards"
**Describe the bug**

When you see event card , in the event category and subcategory , There is an extra hardcoded `S` .

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Homepage' .
2. Observe Event Card and See error .

**Expected behaviour**

Remove the hardcoded `S` its creating confusion in the type of event

**Screenshots**

<img width="1440" alt="Screenshot 2019-04-18 at 1 49

[2019-04-18 09:35] prateekj117 opened #2718 "Ticket column heading are confusing in Mobile view"
**Describe the bug**
In column names in large screen view becomes confusing in Mobile view.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'http://localhost:4200/e/{event_id}'
2. Scroll down to 'Tickets'
3. See error

**Expected behaviour**
Open for discussion.

**Screenshots**
![Screenshot from 2019-04-18 15-02-21](https://user-images.githubusercontent.com/31065687/56351717-5f901e00

[2019-04-18 09:36] prateekj117 commented on #2718
@CosmicCoder96 @ritikamotwani What according to you should be the desired behavior. In my opinion, this whole block shouldn't be present in Mobile View.

[2019-04-18 09:46] mohitm15 opened #2719 "Missing required asterisk label in the location field"
**Describe the bug**

 Required asterisk label in the location field is missing in the basic details form.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'create event'
2. See error

**Expected behaviour**

 Include the required label.

**Screenshots**

![Screenshot 2019-04-18 15:07:42](https://user-images.githubusercontent.com/35539313/56352472-f1e4f180-61ec-11e9-9314-cf2183395a01.p

[2019-04-18 09:47] kushthedude commented on #2719
No changes in location field yet @mohitm15

[2019-04-18 09:47] kushthedude commented on #2719
see #2602

[2019-04-18 10:03] kushthedude commented on #1519
@shreyanshdwivedi Are you still on it ?

[2019-04-18 10:05] prateekj117 commented on #1519
@kushthedude I have already asked.

[2019-04-18 10:07] prateekj117 opened #2721 "Allow Event Creator to edit the heading of first Social Link"
**Describe the bug**
Event Creator is not allowed to edit the heading of first social link, while allowed to edit the heading of other social links.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'localhost:4200/create'
2. Scroll down to 'Links and Social Media'
3. See error

**Expected behaviour**
User should be able to edit heading of the first external link. In fact, maybe select

[2019-04-18 10:08] prateekj117 commented on #2721
@CosmicCoder96 @ritikamotwani What should be the expected behavior according to you? My opinion is to provide a dropdown to select from a list of Social Media.

[2019-04-18 10:14] uds5501 commented on #2719
@mohitm15 It's not a required field. If some one doesn't want to publish an event yet, they would draft it and location field isn't necessary at that time :)

[2019-04-18 10:22] Anupam-dagar commented on #2649
@uds5501 I'll continue working on it.

[2019-04-18 10:50] iamareebjamal commented on #1519
I don't have any knowledge of the frontend

[2019-04-18 10:52] shreyanshdwivedi commented on #1519
@prateekj117 go ahead !!

[2019-04-18 11:07] uds5501 opened #2722 "option to cancel the order being shown in completed order"
**Describe the bug**

Currently if we have an order which has been paid for and is complete, we still get an  option to cancel the order which should not be the case

**To Reproduce**
Steps to reproduce the behaviour:
1. Complete an order which brings the net amount down to 0 (maybe with a discount code)
2. Go to Event/Tickets/Order
3. See error

**Expected behaviour**

It should not have a cancel

[2019-04-18 11:23] kushthedude commented on #2721
@prateekj117 Its based on `EventYay V.1` No change should be made into it

[2019-04-18 11:26] kushthedude commented on #2670
So should i take it @uds5501

[2019-04-18 11:56] kushthedude opened #2723 "Discount code is getting created without selecting ticket types"
**Describe the bug**

While creating `Discount Codes` if we dont select the `Ticket Type` , The discount code is still created .

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to 'Discount Code Creation Form'
2. Submit form without selecting` Ticket Type`

**Expected behaviour**

Solve the this issue .

**Screenshots**

<img width="1252" alt="Screenshot 2019-04-18 at 5 22 44 PM" src="h

[2019-04-18 16:38] kushthedude opened #2724 "Event time should be specific with `Start and End` Date & Time"
**Is your feature request related to a problem? Please describe.**

Currently when you go to `Manage Events` and you see that Event End and Start date, time are shown in one column if a user want to sort on end and start basis , He cant do it .

**Describe the solution you'd like**

Make separate column for `End Date` and `Start Date`

**Screenshot**

<img width="1263" alt="Screenshot 2019-04-18 a

[2019-04-18 16:42] uds5501 commented on #2670
@kushthedude go ahead

[2019-04-18 21:05] CosmicCoder96 commented on #2719
⬆️ comments are correct.

[2019-04-18 21:05] #2719 closed

[2019-04-18 21:06] kushthedude commented on #2724
@CosmicCoder96 Should it be done ?

[2019-04-18 21:07] #2715 closed

[2019-04-18 21:19] #2591 closed

[2019-04-18 21:22] CosmicCoder96 commented on #2721
@prateekj117 It can be an enhancement later down the line, right now we are not intent on this.

[2019-04-18 21:33] CosmicCoder96 commented on #2724
@kushthedude no

[2019-04-18 21:33] #2724 closed

[2019-04-18 22:10] mohitm15 opened #2727 "Adding placeholders as label in both search boxes on managing events page"
**Is your feature request related to a problem? Please describe.**

Adding `search event here` as watermark(placeholder) in both the search boxes as currently nothing is mentioned here and a new user only come to know after giving input to them on the manage event page.

**Describe the solution you'd like**

To add placeholder on both search boxes like the given in the search box on the same page.

[2019-04-18 22:10] mohitm15 commented on #2727
@CosmicCoder96 What are your thoughts?

[2019-04-18 22:54] mohitm15 commented on #2444
@shreyanshdwivedi I would like to take this referenced from #2468  as its been 15 days from now and PR is pushed.

[2019-04-18 23:04] mohitm15 opened #2729 "Typo in discount code page"
**Describe the bug**

Typo in the discount page button

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'publish event'
2. Click on 'tickets.'
3. Scroll down to 'discount codes'
4. See error

**Expected behaviour**

 button text should be similar to access code

**Desktop (please complete the following information):**
 - OS: Ubuntu18.04
 - Browser chrome
 - Version: 71.0398

**Addition

[2019-04-19 00:01] mohitm15 opened #2731 "Payee information is not visible in mobile view"
**Describe the bug**

Payee information is not visible in mobile view while same is visible in desktop view.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'create event'
2. Click on 'tickets'
3. Place order successfully
4. Go to completed order in mobile view.
5. Compare with desktop view
6. See error

**Expected behaviour**
Should be visible in mobile view.

**Screenshots**

Deskto

[2019-04-19 00:54] mohitm15 opened #2732 "Incorrect ticket price is shown on view attendees page"
**Describe the bug**

 On the ticket price column, the total price for the order is shown in place of the individual ticket price.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Create and publish event'
2. Click on 'tickets<<add order'
3. Place order successfully'
4. Go back to tickets<<attendees.
5. See error

**Expected behaviour**

On the ticket price column, individual ticket p

[2019-04-19 01:16] mohitm15 opened #2733 "No drop-down for gender option in speaker form"
**Describe the bug**

Although gender option ask to select a value from the option but no drop-down table is present.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'manage event'
2. Click on 'view'
3. Click on speakers and create it.
4. Scroll down to gender option
5. See error

**Expected behaviour**

A drop-down should be made available.

**Screenshots**

![Screenshot 2019-04-19 0

[2019-04-19 02:57] CosmicCoder96 commented on #2444
@mohitm15 No, please work on a different issue. This is not ready to be worked on.

[2019-04-19 03:00] CosmicCoder96 commented on #2729
Not a typo.

[2019-04-19 03:00] #2729 closed

[2019-04-19 03:01] CosmicCoder96 commented on #2733
This issue has been already opened. Duplicate.

[2019-04-19 03:01] #2733 closed

[2019-04-19 03:08] CosmicCoder96 commented on #1925
@uds5501 Open both server and frontend PRs for this ASAP.

[2019-04-19 03:16] CosmicCoder96 commented on #2731
Deliberate.

[2019-04-19 03:16] #2731 closed

[2019-04-19 03:38] ritikamotwani commented on #2727
No, not required for now.

[2019-04-19 03:38] #2727 closed

[2019-04-19 03:43] ritikamotwani commented on #2703
@prateekj117 , it's not required.
It's a design choice.

[2019-04-19 03:43] #2703 closed

[2019-04-19 05:00] mohitm15 commented on #2733
@CosmicCoder96 So should I work on that issue.

[2019-04-19 05:07] Anupam-dagar opened #2735 "Capitalise the h in Github in all webpages of the app."
**Describe the bug**

Currently `GitHub` is written as `Github` on the frontend. The `h` in GitHub must be capitalised as per the `GitHub` standards.

**Expected behaviour**

`h` in `Github` needs to be capitalised.

**Screenshots**

![Screenshot from 2019-04-19 10-37-10](https://user-images.githubusercontent.com/21174572/56407844-1db8b380-628f-11e9-968e-c8442cc4782d.png)

**Additional context**

[2019-04-19 05:53] prateekj117 opened #2737 "Having more than two sponsors shows same id error in sponsor-step"
**Describe the bug**
If an event has more than two sponsors, console error shows id already on use.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Create Event'
2. Add more than two sponsors.
3. Publish/Draft the Event.
4. Come back to edit the sponsor's page in the event.
5. See the error.

**Expected behaviour**
Should not show any such error.

**Screenshots**
![Screenshot from 20

[2019-04-19 05:55] prateekj117 commented on #2737
@CosmicCoder96 @ritikamotwani I tried to debug it by searching which elements have id 'sponsor_url' and I think it is due to inputId being the same in all sponsors.
![Screenshot from 2019-04-19 11-24-10](https://user-images.githubusercontent.com/31065687/56409254-d4b82d80-6295-11e9-9314-aba71f705f4f.png)

[2019-04-19 07:09] uds5501 commented on #1925
@CosmicCoder96 on it

[2019-04-19 08:20] mariobehling opened #2739 "Implement Omise Payment Gateway"
For the OpenTechSummit in Thailand we need local payment gateways. The most popular one is omise. Please implement it.

[2019-04-19 08:30] prateekj117 commented on #2739
@mariobehling On it.

[2019-04-19 08:45] uds5501 commented on #2732
@mohitm15 Just change the Ticket Price column to "Order Amount" because that is what it signifies IMO.

CC: @CosmicCoder96

[2019-04-19 08:51] #2735 closed

[2019-04-19 09:04] ritikamotwani commented on #2737
Handled by https://github.com/fossasia/open-event-frontend/pull/2742/files

[2019-04-19 09:04] #2737 closed

[2019-04-19 09:24] mohitm15 commented on #2732
@uds5501 @CosmicCoder96 Okay :+1:

[2019-04-19 09:33] prateekj117 commented on #2584
@shreyanshdwivedi Any update on this?

[2019-04-19 09:43] shreyanshdwivedi commented on #2584
@prateekj117 I was busy with something else. I'll push a PR soon, maybe by tonight

[2019-04-19 10:22] kushthedude commented on #2739
@prateekj117 How you are planning to implement ?

[2019-04-19 10:30] uds5501 opened #2744 "UI issue in Speaker Card"
**Describe the bug**

Ther is a divider even  in case of no social media links or User description object in the Speaker Card

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Event/Speakers
2. Speaker Card with no social media link
3. See error

**Expected behaviour**

The header should not be present in case of no social media link

**Screenshots**

![Screenshot from 2019-04-19 15-54-

[2019-04-19 10:42] kushthedude opened #2745 "Implement Social Link in Event Wizard as EventYay V.1"
**Is your feature request related to a problem? Please describe.**

Currently Social link only offers a hardcoded `External Event Link` but in V.1 there were two extra column for Facebook and Twitter .

**Describe the solution you'd like**

I propose to add two extra column for Twitter And Instagram in addition to Hard Coded `Event Link`

**Screenshot**

<img width="715" alt="Screenshot 2019-04-19

[2019-04-19 12:01] kushthedude commented on #2745
@uds5501 @CosmicCoder96 What you think about it ?

[2019-04-19 12:23] kushthedude commented on #2723
@CosmicCoder96 @pradeepgangwar How do validate checkbox , I checked out `Ember-Validations` docs and there were nothing related to checkbox . Any help on it.

[2019-04-19 12:30] prateekj117 commented on #2016
@CosmicCoder96 @uds5501 May I work on this issue?

[2019-04-19 12:39] kushthedude commented on #2016
@prateekj117 Please complete the previous issues you are on before taking a next one

[2019-04-19 13:06] uds5501 commented on #2745
@kushthedude IMO, It's kind of redundant . We should let user handle a twitter and facebook field on his/her own convenience. besides, an additional twitter field alongside the existing ones can be confusing

[2019-04-19 13:08] kushthedude commented on #2745
Yeah was thinkin same , closing it

[2019-04-19 13:08] #2745 closed

[2019-04-19 15:23] robinclart commented on #2739
Hi @mariobehling, @prateekj117 and @kushthedude. Feel free to ping me if you need help with anything.

[2019-04-19 16:28] uds5501 opened #2749 "Past Events being shown under "Upcoming Events""
**Describe the bug**

In the Upcoming events section, the past events are also being shown

**Expected behaviour**

They should not appear

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/56433352-31dfcd80-62ee-11e9-9e40-b8ef9247c434.png)

**Additional context**

Looking into it

[2019-04-19 17:55] #2749 closed

[2019-04-19 19:18] kushthedude commented on #2749
Why did you close it ?

[2019-04-19 19:20] uds5501 commented on #2749
@kushthedude Because they are actually ongoing events. Which is allowed to be shown conditionally

[2019-04-19 20:03] kushthedude commented on #2749
Cool

On Sat, 20 Apr 2019 at 12:50 AM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-04-19 20:42] uds5501 commented on #2568
@kushthedude I can confirm that this behaviour happens at literally any form that requires validation if that field fails to confirm the validation rule

[2019-04-19 20:44] kushthedude commented on #2568
@uds5501 i think its due to some package which we are using to scroll and due to this the side bar scroll is buggy too in various browsers . I think using another package could be a option but i am not sure changing a package is appreciable.

[2019-04-19 20:51] uds5501 commented on #2568
I think I found the error.
In `app/mixins/form.js`

[code]

@kushthedude If you allow, I would like to go on and fix this one

[2019-04-19 20:52] kushthedude commented on #2568
Damn i didnt look into mixins , cool push the PR dude

[2019-04-19 20:52] uds5501 commented on #2568
@kushthedude Thanks

[2019-04-19 20:53] kushthedude commented on #2568
@uds5501 but there is an issue in it

[2019-04-19 20:54] uds5501 commented on #2568
@kushthedude Yes, how do we know if it has been passed via a modal or an controller form

[2019-04-19 20:54] kushthedude commented on #2568
If you just change this value , then there are many other forms in which invalid authentication , scroll back to the error field , so need to find some other way i think

[2019-04-19 21:00] kushthedude commented on #2568
Lets think some other way @uds5501

[2019-04-19 21:05] uds5501 commented on #2568
@kushthedude I got it. I will push a PR and explain there!

[2019-04-19 21:06] kushthedude commented on #2568
Go on

On Sat, 20 Apr 2019 at 2:35 AM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-04-19 21:30] kushthedude commented on #2636
@shreyanshdwivedi Did your PR got merge ? so that it can be done on frontend too

[2019-04-19 21:57] kushthedude opened #2753 "Reset Password screen goes not responding"
**Describe the bug**

`Reset Password ` screen goes not responding until refresh is clicked .

**To Reproduce**

Steps to reproduce the behaviour:

- Go to `Guest Order Form`.
- Enter Email of `Existing User`.
- Click `Reset Password`.
- See Error

**Expected behaviour**

Solve the issue

**Screenshots**

<img width="1273" alt="Screenshot 2019-04-20 at 3 16 50 AM" src="https://user-images.githubus

[2019-04-19 21:58] kushthedude commented on #2753
@uds5501 @shreyanshdwivedi @pradeepgangwar Can you please check if its reproducible ?

[2019-04-19 22:29] #2568 closed

[2019-04-19 22:31] #1805 closed

[2019-04-19 22:48] shreyanshdwivedi commented on #2636
@kushthedude yes, my PR on server is merged. Refer https://github.com/fossasia/open-event-server/pull/5821

[2019-04-20 00:07] mohitm15 commented on #2753
@kushthedude it is non-reproducible.

[2019-04-20 01:19] mohitm15 commented on #2733
@CosmicCoder96 Any updates sir otherwise we can reopen the issue.

[2019-04-20 01:21] mohitm15 commented on #2732
@CosmicCoder96 what are your views?

[2019-04-20 01:31] mohitm15 opened #2755 "To place all the editing tool in a same row above text area in mobile view"
**Is your feature request related to a problem? Please describe.**

Currently, the `undo` and `redo` options form another row which uses extra space and degrades the UI so I want to add a feature which places all the editing tool in a row above text area in mobile view

**Describe the solution you'd like**
To place them horizontally in a single row.

**Scrrenshot**
![Screenshot 2019-04-20 06:54:48

[2019-04-20 05:08] uds5501 commented on #2753
@kushthedude Reproducible :+1:

[2019-04-20 05:31] uds5501 opened #2756 "Remove extra space from cfs/speaker form in mobile view"
**Describe the bug**

There is extra space in cfs speaker form which needs to be cleared

**Expected behaviour**

This space should be cleared

**Screenshots**

![Screenshot from 2019-04-20 10-55-58](https://user-images.githubusercontent.com/21087061/56453170-a866e480-635b-11e9-88b4-54b0c648ba6f.png)

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6] galaxy s5

[2019-04-20 05:46] uds5501 opened #2757 "Button alignment issue in CFS submit proposal modal"
**Describe the bug**

The buttons need to be on different levels in mobile view in submit proposal modal.

**Expected behaviour**

These buttons should either be small or on different levels.

**Screenshots**

![Screenshot from 2019-04-20 11-07-07](https://user-images.githubusercontent.com/21087061/56453271-9ede7c00-635d-11e9-803f-9f70f24a4346.png)

**Smartphone (please complete the following info

[2019-04-20 05:54] kushthedude commented on #2753
Thanks @uds5501 will look into it

[2019-04-20 08:12] uds5501 commented on #2756
Will be resolved by #2746

[2019-04-20 08:12] #2756 closed

[2019-04-20 09:48] kushthedude opened #2759 "Addition of `Cancel Order` button in `Order Checkout` Page"
**Is your feature request related to a problem? Please describe.**

Currently in the `Order Checkout` page there is no `Cancel Order` Button

**Describe the solution you'd like**

Add a `Cancel` Button which routes to `Events Page`

**Additional context**

Working on it

[2019-04-20 10:26] kushthedude opened #2760 "UI enhancement in `/profile`"
**Is your feature request related to a problem? Please describe.**

- I suggest to give a line-break between `Photo Instruction` and `First Name`
- Complete name should be in one line

 **Screenshot**
<img width="1271" alt="Screenshot 2019-04-20 at 3 49 47 PM" src="https://user-images.githubusercontent.com/44091822/56456077-d3196300-6384-11e9-82f2-bfd41a7ab2e1.png">

**Additional context**

On it

[2019-04-20 10:31] mohitm15 commented on #2760
Similar to #2591 @kushthedude

[2019-04-20 10:33] uds5501 opened #2761 "Radio buttons in Update System Roles don't work"
**Describe the bug**

The checkbox to provide Admin access don't show initial sate.
(Also, there should be space between the save button and modal's lower boundary)

**Expected behaviour**

The initial state of the user's admin access should be shown

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/56456114-6f436a00-6385-11e9-9aff-b41df1064b6c.png)

**Desktop (please c

[2019-04-20 10:58] kushthedude commented on #2760
@mohitm15 If the name is long enough it will automatically get into next line
<img width="1440" alt="Screenshot 2019-04-20 at 4 27 26 PM" src="https://user-images.githubusercontent.com/44091822/56456389-373e2600-6389-11e9-8832-67603b4e6551.png">

[2019-04-20 11:24] mohitm15 commented on #2760
But here it is not going into next line

[2019-04-20 11:26] kushthedude commented on #2760
Didnt you see family name automatically got shifted to next line . And i
dont think a person will name himsef more than 26 letters 😆

On Sat, 20 Apr 2019 at 4:54 PM, Mohit Maroliya <notifications@github.com>
wrote:

[2019-04-20 11:33] mohitm15 commented on #2760
But the creator wants something to be distinguished between name or family name, that's why created another field for family name. Otherwise, what is the need of that, you can simply write your full name in the name field , no matter how long it is.

Ok lets leave it to the mentors @CosmicCoder96 @ritikamotwani

[2019-04-20 11:43] prateekj117 commented on #2718
@CosmicCoder96 Any update on this?

[2019-04-20 11:56] mohitm15 opened #2763 "Typo in the notification invitation message"
**Describe the bug**

Currently, one user gets the notification-<b>You've been invited to be `a` attendee at TEST EVENT2.</b> But for attendees and for organizer, it should be changed to-<b> You've been invited to be `an` attendee at TEST EVENT2.</b> according to standards.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'notification panel.'
2. Scroll down.
4. See error.

**Expected

[2019-04-20 14:42] kushthedude commented on #2739
@prateekj117 Progress on it ?

[2019-04-20 14:49] prateekj117 commented on #2739
@kushthedude
@iamareebjamal told me to work on it later on.

[2019-04-20 14:56] kushthedude commented on #2739
@iamareebjamal Since the issue is labelled with a `High Priority` , Should not we work on it ?
And if you are not working on it @prateekj117 I would like to take care of it

[2019-04-20 15:01] CosmicCoder96 commented on #2739
@prateekj117 thanks for the interest in this issue, I’ll be taking care of it for now as it’s a priority for us.

@robinclart thank you so much for offering to help, will be in touch if we need it :)

[2019-04-20 15:07] prateekj117 commented on #2396
@uds5501 Working on it?

[2019-04-20 15:08] uds5501 commented on #2396
@prateekj117 a PR is already opened  in #2370

[2019-04-20 15:10] CosmicCoder96 commented on #2718
@prateekj117 not a priority for now. The tables in the entire app need to be refactored. We will have to think more about it and get more feedback from other mentors before proceeding.

[2019-04-20 15:11] #2761 closed

[2019-04-20 15:34] #2624 closed

[2019-04-20 15:46] #2702 closed

[2019-04-20 15:47] #2627 closed

[2019-04-20 15:52] #2708 closed

[2019-04-20 15:52] #2760 closed

[2019-04-20 17:06] #2680 closed

[2019-04-20 22:00] kushthedude commented on #1519
@prateekj117 Updates ?

[2019-04-21 07:03] prateekj117 commented on #1519
@kushthedude Busy on some other issue, feel free to take this up.

[2019-04-21 07:48] kushthedude commented on #1519
Cool @prateekj117

On Sun, 21 Apr 2019 at 12:33 PM, Prateek Jain <notifications@github.com>
wrote:

[2019-04-21 08:32] #2757 closed

[2019-04-21 11:42] Anupam-dagar opened #2768 "event roles labels inline"
**Describe the bug**

Currently the event roles are listed as a bulleted list which wastes a lot of space in user table.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/admin/users/all'
2. See error

**Expected behaviour**

List them inline so that they look good as labels.

**Screenshots**

![Screenshot from 2019-04-21 17-11-51](https://user-images.githubusercontent.com/21174572/56

[2019-04-21 22:31] kushthedude commented on #1519
@shreyanshdwivedi I had been looking in components but , I looked 10-15 files with no closure action. , Are you sure they are still in our app ?

[2019-04-22 09:13] uds5501 opened #2770 "Numbering error in event roles"
**Describe the bug**

There is numbering error in event roles in manage events dashboard.

![image](https://user-images.githubusercontent.com/21087061/56493439-ba3bb980-650c-11e9-9f4b-f99389fae243.png)

**Expected behaviour**

It should be numbered properly

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu 16.04
 - Browser [e.g. chrome, safari] Chrome

**Additional

[2019-04-22 09:15] uds5501 commented on #2668
@shubham3211 if you  have not devoted much time on this, can I take over?

[2019-04-22 11:06] shubham3211 commented on #2668
@uds5501 I am working on it, I will submit a pr by today.

[2019-04-22 13:51] prateekj117 commented on #2759
@kushthedude Any update on this? In case you haven't done much work on it, can I take this one up?

[2019-04-22 13:51] prateekj117 commented on #2753
@kushthedude Any update on this? In case you haven't done much work on it, can I take this one up?

[2019-04-22 13:51] prateekj117 commented on #2636
@kushthedude Any update on this? In case you haven't done much work on it, can I take this one up?

[2019-04-22 13:54] prateekj117 commented on #2709
@kushthedude Any update on this? In case you haven't done much work on it, can I take this one up?

[2019-04-22 17:41] uds5501 opened #2771 "400 being encountered after accepting a role-invite"
**Describe the bug**

When a user accepts a role-invite, he/she encounters a 400 error.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Role-invite while the user is logged in
2. Enter the invite token
3. See error

**Expected behaviour**

It should've worked without any error

**GIF**

![ezgif com-video-to-gif (4)](https://user-images.githubusercontent.com/21087061/56514713-ab2c2a00-

[2019-04-22 17:42] uds5501 commented on #2771
The error trace :
![Screenshot from 2019-04-22 23-09-42](https://user-images.githubusercontent.com/21087061/56514886-1fff6400-6554-11e9-9b0b-cd2afba40858.png)

[2019-04-22 19:16] uds5501 commented on #2771
@pradeepgangwar @CosmicCoder96 @ritikamotwani @iamareebjamal
The role-invite I accepted was of `Moderator` but since he won't have co-organisers access, he won't be able to access the event's details.

How about we also pass a "Role" name in the `role-invite/accept-invite` and if the accepted role is of other than organiser / co-organiser we simply re route them to the public page of the event?

[2019-04-22 19:48] uds5501 commented on #2679
@shreyanshdwivedi If you haven't spent much time on it, I would love to take over!

[2019-04-22 23:40] kushthedude commented on #2759
@CosmicCoder96 , Regarding this I don't think just adding a `Cancel Order` button which leads us to event details will work, Like when a `Guest User` creates an order, we create his records immediately but if that user clicks on `Cancel Order` , His data should also get destroyed from the Database .
How do I identify the user is coming from `Guest Order Form`?
@ritikamotwani @pradeepgangwar Please

[2019-04-22 23:42] kushthedude commented on #2636
@prateekj117 Sorry for my delay, I saw the comment from @shreyanshdwivedi today itself will be pushing a PR soon

[2019-04-23 00:16] kushthedude opened #2774 "Min Password length is Set Different on Frontend and Api"
**Describe the bug**

When the user tries to change his password in `/Settings/Password`, The password length in the frontend is 6 but the length accepted by API is 8

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Setting/Password'
2. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/56542016-f1e94680-658a-11e9-8716-607ef4f37bec.png)

**Deskto

[2019-04-23 00:37] kushthedude commented on #2636
Closing in favor of https://github.com/fossasia/open-event-server/pull/5821
@CosmicCoder96 If you think this should be done in the form of tooltip too, I may work on it , Closing the issue for now

[2019-04-23 00:37] #2636 closed

[2019-04-23 06:55] #2755 closed

[2019-04-23 06:57] #2399 closed

[2019-04-23 06:58] #2774 closed

[2019-04-23 08:09] shreyanshdwivedi commented on #2679
@uds5501 I completely forgot about this. Will push a PR by tonight

[2019-04-23 09:01] CosmicCoder96 opened #2777 "Index route model interferes with Cache Shoe and returns incorrect loading substate"
Ember Fastboot renders some client requests and appends their results to the HTML body when the application is served in production using ember Fastboot. However it is not yet compatible with ember-data, hence ember Cached Shoe is used, which takes care of circular JSON otherwise returned by Ember- Data. The `_loadEvents` function on index route fails to register this request, bypassing Cached Sho

[2019-04-23 09:57] Anupam-dagar opened #2779 "Inconsistency in facebook icon in connect with facebook button"
**Describe the bug**

In the `connect with facebook` button present in application settings, the icon isn't visible in normal state. It is slightly visible in hover state.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/settings/applications'
2. See error

**Expected behaviour**

The icon should be visible in normal state too.

**Screenshots**

![Screenshot from 2019-04-23 15-26-39]

[2019-04-23 11:28] Anupam-dagar opened #2781 "Typo in fee remove modal."
**Describe the bug**

While removing a fee from ticket fees section present in settings, the modal prompt for `Are you sure you would like to remove this ticket?`. It should prompt for `Are you sure you would like to remove this event fee?`

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/admin/settings/ticket-fees'
2. See error

**Expected behaviour**

It should prompt for `Are you

[2019-04-23 11:39] benzea opened #2783 "Only load third party services after opt-in by the user"
**Describe the bug**

For privacy reasons it is desirable to only load third party content (e.g. Facebook. Google Maps, Twitter), if the user has opted in. A simple solution would be to provide options to globally disable these features.

However, many users might still like these integrations. As such, hiding them behind some (client side) javascript so that the third party services are only acce

[2019-04-23 11:42] benzea commented on #2783
The vital thing here is that there is not a single HTTP request to those services unless the user has chosen that such a request should happen.

[2019-04-23 11:55] kushthedude commented on #2779
@Anupam-dagar Please update your repo as the following part is already commented from the complete app

[2019-04-23 12:03] mohitm15 commented on #2779
@Anupam-dagar similar to #2448

[2019-04-23 12:42] kushthedude commented on #2783
@CosmicCoder96 Do we need such implementation?

[2019-04-23 13:18] prateekj117 commented on #2753
@CosmicCoder96 @iamareebjamal Can I take this up?

[2019-04-23 13:19] prateekj117 commented on #2709
@CosmicCoder96 @iamareebjamal Can I take this up?

[2019-04-23 13:19] kushthedude commented on #2753
Im still on it

On Tue, 23 Apr 2019 at 6:48 PM, Prateek Jain <notifications@github.com>
wrote:

[2019-04-23 13:20] kushthedude commented on #2709
Im still on it

On Tue, 23 Apr 2019 at 6:49 PM, Prateek Jain <notifications@github.com>
wrote:

[2019-04-23 14:40] #2781 closed

[2019-04-23 16:18] uds5501 commented on #2142
@iamareebjamal @CosmicCoder96 Please transfer this issue to server

[2019-04-23 17:47] iamareebjamal commented on #2709
7 days are enough for getting a chance. No contributor should be left with no task. @kushthedude You have taken up a lot of issues, please share either this one or others with contributors with currently no issues to solve

[2019-04-23 17:48] kushthedude commented on #2709
Proceed.

On Tue, 23 Apr 2019 at 11:17 PM, Areeb Jamal <notifications@github.com>
wrote:

[2019-04-23 18:02] kushthedude commented on #2709
@iamareebjamal Actually , I was busy with some other work ,
@prateekj117 you can look into other issues opened by me and i have not done work on them like #2544 , #2723 , and there are plenty of other .

[2019-04-23 20:34] kushthedude opened #2787 "`Cookie Policy` page throws 404"
**Describe the bug**

When a User try to see `Cookie Policy` given on the link, It throws a 404

**To Reproduce**

1.) Click Here beneath the `Dialogue Box`

![image](https://user-images.githubusercontent.com/44091822/56613642-ad19ea00-6634-11e9-98a4-e884accf71df.png)

2.) See Error

**Expected behaviour**

A Proper Cookie Policy Page

**Screenshots**

![image](https://user-images.githubuserconten

[2019-04-23 20:35] kushthedude commented on #2787
@iamareebjamal @CosmicCoder96 Should it be created or later ?

[2019-04-23 20:40] kushthedude commented on #2709
@prateekj117 Can you reproduce it?

[2019-04-23 21:16] #2768 closed

[2019-04-23 22:51] kushthedude opened #2788 "Addition of `Mark As Read` or `Cross Icon` in notification dropdown"
**Is your feature request related to a problem? Please describe.**

Currently in the `Notification Dropdown`, There is only `Mark All As Read` option available,
I propose to add `Cross Icon ` with every notification to mark an individual notification as Read.

**Describe the solution you'd like**

Add a `Cross icon` or `Mark as Read` text in notification dropdown.

[2019-04-24 02:35] CosmicCoder96 commented on #2788
Not required for now.

[2019-04-24 02:35] #2788 closed

[2019-04-24 02:36] #2706 closed

[2019-04-24 02:37] #2679 closed

[2019-04-24 02:37] #2779 closed

[2019-04-24 02:41] #2428 closed

[2019-04-24 02:44] #2649 closed

[2019-04-24 02:47] #2722 closed

[2019-04-24 02:53] #2701 closed

[2019-04-24 03:10] #2684 closed

[2019-04-24 03:20] #1925 closed

[2019-04-24 04:33] kushthedude commented on #2787
@CosmicCoder96 @pradeepgangwar , should i create the cookie policy page as in V.1

[2019-04-24 06:23] uds5501 commented on #2578
@kushthedude Can I take over?

[2019-04-24 06:35] kushthedude commented on #2578
@uds5501 I am waiting for reply from @ritikamotwani as i am not able to find a package for the dropdown with mobile code , So implementing a new dictionary is acceptable or not?

[2019-04-24 06:37] uds5501 commented on #2578
@kushthedude I guess it is

[2019-04-24 06:38] kushthedude commented on #2578
Sure i will give it a try will notify you by tommorow,if I would be able to complete it😄

[2019-04-24 07:49] #2723 closed

[2019-04-24 08:52] shreyanshdwivedi opened #2792 "Admin: No significance of Kubernetes Server Logs in reports"
**Describe the bug**

It is not a bug basically but Kubernetes Server Logs present in Reports have no significance bcoz they are not implemented

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `Admin > Reports`
2. See error

**Expected behaviour**

Adds coming soon to `Kubernetes Server Logs`

**Screenshots**

![Screenshot_2019-04-24 Kubernetes Server Logs Reports Administration Open

[2019-04-24 10:24] shreyanshdwivedi commented on #2667
@shubham3211 if you haven't spent much time on it, I'll like go take this up.

[2019-04-24 10:29] shubham3211 commented on #2667
@shreyanshdwivedi I am working on it.

[2019-04-24 13:02] kushthedude commented on #2600
@mohitm15 Should i takeover ?

[2019-04-24 13:29] mohitm15 commented on #2600
@kushthedude sorry bro but I'm working on it

_Sent from my VIBE K6 Power using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-04-24 13:42] kushthedude commented on #2600
No issue buddy , Go on

On Wed, 24 Apr 2019 at 6:59 PM, Mohit Maroliya <notifications@github.com>
wrote:

[2019-04-24 15:39] mariobehling opened #2794 "Admin Sales Tab Not Showing all Events and Missing Pagination"
The admin sales tab at https://next.eventyay.com/admin/sales only shows two events and does not have pagination implemented.

![Screenshot from 2019-04-24 23-18-28](https://user-images.githubusercontent.com/1583873/56671493-57524a00-66e7-11e9-89e3-feb3551232b2.png)

[2019-04-24 15:42] kushthedude commented on #2794
@YogeshSharma0201 What about your PR regarding the pagination ?

[2019-04-24 15:44] kushthedude commented on #2794
@CosmicCoder96 Its been more than 2 months since the PR related to Admin Sales pagination is in WIP state what should be done ?

[2019-04-24 15:51] mariobehling opened #2795 "Admin Event Tab / All Events Tab missing Session Information"
The admin events tab and events tab are e.g. at https://next.eventyay.com/admin/events/past are missing session information. It shows "0" for different statuses.

![Screenshot from 2019-04-24 23-48-18](https://user-images.githubusercontent.com/1583873/56673990-d21d6400-66eb-11e9-9d89-03f19b978d9d.png)

[2019-04-24 15:56] kushthedude commented on #2795
Lookin into it

[2019-04-24 16:00] kushthedude opened #2796 "Ambiguity in 'Events/Overview' Sales Section"
**Describe the bug**

Sales total shown in `Event/Overview` is different in Overview and Each Ticket section.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to `Events/Overview`
2. See error
3. Refer to Screenshot

**Expected behaviour**

Ambiguity should not be there

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/56674706-1272e700-66d8-11e9-9c41-5e4c946

[2019-04-24 16:05] kushthedude opened #2797 "UI issue in `Add Order Form`"
**Describe the bug**

When you see the `Ticket Quantity ` Dropdown in `Add Order` section there is UI issue in it

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Event/Ticket'
2. Click on 'Add Order'
3. Scroll down to 'Ticket Quantity'
4. See error

**Expected behaviour**

The dropdown should not be bounded by the ticket table

**Screenshots**

![image](https://user-images.githubus

[2019-04-24 16:26] mariobehling opened #2798 "Event Wizard Step 1: Add Tax Info - Increase height and show all info"
The tax info in the wizard step 1 ..
a) .. needs a scrollable field. Please increase the height of the field to minimize the need for scrolling.
b) Show all the tax info including company details once the field has been saved.

![Screenshot from 2019-04-25 00-19-38](https://user-images.githubusercontent.com/1583873/56676385-bd8f9a80-66f0-11e9-97bc-e6a71a9530aa.png)

![Screenshot from 2019-04-25 00

[2019-04-24 16:28] prateekj117 commented on #2798
@mariobehling Looking into it.

[2019-04-24 16:29] mariobehling opened #2799 "Tax Info: Show tax in event ticket section and checkout information"
Please show the tax percentage and the tax sum in the ticket section of the event page and the checkout information (if tax info has been added) as well as in the invoice PDF.

* Show
a) a subtotal
b) tax and
c) Grand Total

![Screenshot from 2019-04-25 00-24-04](https://user-images.githubusercontent.com/1583873/56676904-dc426100-66f1-11e9-88b3-ef818e62e9dd.png)

[2019-04-24 16:30] shreyanshdwivedi commented on #2799
Working on it

[2019-04-24 17:00] mariobehling opened #2800 "Export: Event export API and Zip not working "Network Error""
Trying to access the API through export page and downloading the zip results in "Network Error" e.g. at https://next.eventyay.com/events/45da88b7/export

[2019-04-24 17:01] prateekj117 commented on #2800
@mariobehling Looking into it.

[2019-04-24 22:20] kushthedude opened #2801 "Quantity in `Tickets/Orders` only show type of tickets sold"
**Describe the bug**

Quantity column in `Tickets/Orders/All` shows number of type of ticket bought in the order , It should show the quantity of tickets sold during the order

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Tickets/Orders/All'
2. See error

**Screenshots**

<img width="1282" alt="Screenshot 2019-04-25 at 3 50 13 AM" src="https://user-images.githubusercontent.com/44

[2019-04-24 22:46] kushthedude opened #2802 "Invalid date shown in `Event/Tickets/Orders/All'"
**Describe the bug**

Invalid date is shown at the place of `Order Completion `

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to 'Events/Tickets/Order'
2. See error

**Expected behaviour**

An actual date and time should be shown .

**Screenshots**

<img width="1310" alt="Screenshot 2019-04-25 at 4 14 59 AM" src="https://user-images.githubusercontent.com/44091822/56698813-d3ad5300-671

[2019-04-24 22:55] kushthedude commented on #2661
@prateekj117 Still on it buddy ?

[2019-04-24 23:20] kushthedude opened #2804 "UI issue in Sessions Table"
**Describe the bug**

1.)When there is new proposal and when you need to confirm the dialogue opened is half hidden.
2.)There is no column title for `Cell Actions`.
3.)Sessions view Property doesn't exist , Hence view and edit redirect to same page

**To Reproduce**

Steps to reproduce the behaviour:
1. Create a new proposal
2. Go to Sessions table to accept the proposal
3. See error , `With Email

[2019-04-25 00:33] kushthedude commented on #1860
@shreyanshdwivedi Still on it ?

[2019-04-25 04:57] uds5501 commented on #2798
@prateekj117 can i please take over while you are focusing on the network error issue?

[2019-04-25 05:04] kushthedude commented on #2639
@CosmicCoder96 @uds5501 I think this needs to be reopened , As i am still able to replicate it

[2019-04-25 05:38] kushthedude commented on #2795
@CosmicCoder96 @iamareebjamal shouldnt this be handled on server ?

[2019-04-25 05:40] uds5501 commented on #2670
@CosmicCoder96 Now that lazy loading has been taken out of play from index, does this issue still needs to be addressed?

[2019-04-25 05:42] kushthedude commented on #2670
@uds5501 there are several more places where this issue is still happening .

[2019-04-25 05:43] uds5501 commented on #2670
@kushthedude where else are we using lazy loading?

[2019-04-25 06:19] kushthedude commented on #2670
Not about lazy loading but there several places where tables get loaded after getting load once

[2019-04-25 09:46] #2770 closed

[2019-04-25 17:58] mrsaicharan1 commented on #2800
@CosmicCoder96 Please transfer this to the server as it's a server side issue.

[2019-04-25 22:34] kushthedude commented on #2795
@mrsaicharan1 Should not this be handled on server?

[2019-04-26 00:30] mrsaicharan1 commented on #2795
This is a combined issue. Will take up the FE and the server side implementation of this.

[2019-04-26 00:31] kushthedude commented on #2795
@mrsaicharan1 Since the value recorded for submitted should be the total of everything , And This needs to be changed on server

[2019-04-26 00:32] kushthedude commented on #2795
Can you open the issue and fix it up on Server

[2019-04-26 00:37] kushthedude opened #2810 "Typo in error message of `Edit Session`"
**Describe the bug**

When there is something wrong while editing session the error message thrown contains some numbers , Which might have been used for testing purpose

**Screenshots**

<img width="989" alt="Screenshot 2019-04-26 at 6 06 34 AM" src="https://user-images.githubusercontent.com/44091822/56776365-91a41000-67e9-11e9-8aa6-e1ded7436f6b.png">

[2019-04-26 00:42] kushthedude opened #2812 "Space issue in notification generated after `Acceptance of proposal`"
**Is your feature request related to a problem? Please describe.**

No space between `Rejected`

**Screenshot**

<img width="1253" alt="Screenshot 2019-04-26 at 6 10 22 AM" src="https://user-images.githubusercontent.com/44091822/56776468-345c8e80-67ea-11e9-8211-e93d53734c67.png">

[2019-04-26 08:11] #2810 closed

[2019-04-26 08:17] #2792 closed

[2019-04-26 08:19] #2690 closed

[2019-04-26 14:39] shreyanshdwivedi commented on #2614
@shubham3211 please update the PR associated with the issue

[2019-04-26 14:40] shreyanshdwivedi commented on #2609
Working on it

[2019-04-26 15:17] shreyanshdwivedi commented on #2609
@ritikamotwani according to v1, we have to show only the sessions, events of deleted users, right? Currently, I both the links are working fine.
Do we need to remove `Tickets` and `Settings` for deleted users?

[2019-04-26 15:25] shreyanshdwivedi commented on #2799
Currently there is WIP PR on the same issue. This issue can be addressed once it is merged. https://github.com/fossasia/open-event-frontend/pull/2461
CC: @CosmicCoder96 @mariobehling

[2019-04-26 16:18] shubham3211 commented on #2609
@shreyanshdwivedi open link in new tab
![session1](https://user-images.githubusercontent.com/19900978/56821806-f6547e80-686c-11e9-959c-3e3fef4ef006.gif)

[2019-04-27 01:36] kushthedude commented on #2221
@Anupam-dagar You can close the issue 😄

[2019-04-27 01:48] kushthedude opened #2813 "Enable Sorting on basis of Ticket Price in `Event/Ticket/addorder/"
**Is your feature request related to a problem? Please describe.**

Currently in `Add Order` under `Event/Tickets` , There should be sorting on the basis of Ticket Price
**Describe the solution you'd like**

Enable the Sorting of the basis of Ticket Price

[2019-04-27 02:27] kushthedude opened #2815 "Addition of colour labels to `Event State`"
**Is your feature request related to a problem? Please describe.**

Currently there is no label for `Event State` under `Admin/Events`

**Describe the solution you'd like**

Add `Labels` as added in `Session State`

**Screenshot**
<img width="1100" alt="Screenshot 2019-04-27 at 7 57 05 AM" src="https://user-images.githubusercontent.com/44091822/56843712-15c9c680-68c2-11e9-977e-244289919045.png">

[2019-04-27 04:31] kushthedude opened #2817 "Show `End Date` in `Event Cards`"
**Is your feature request related to a problem? Please describe.**

Not related to a problem but an enhancement which can be considered on the line . Currently the event cards only feature the `Event Start Date & Time` , I propose to add `Event End Date & Time` too

**Describe alternatives you've considered**

Add `EndsAt` attribute in `Event Cards`

[2019-04-27 04:48] mohitm15 commented on #2817
similar to #2650

[2019-04-27 04:52] kushthedude commented on #2817
@mohitm15 It was on event detail and i am planning to add on event-card , If @CosmicCoder96 say i will close it 😄

[2019-04-27 04:56] mohitm15 commented on #2817
@kushthedude Ok pal :+1:

[2019-04-27 05:16] mohitm15 opened #2819 "Incorrect error message for access code"
**Describe the bug**

Incorrect message when an error was encountered while creating the access code

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'manage event'
2. Edit the event
3. Click on 'create access code'
4. See error (while an error occurs)

**Expected behaviour**

Instruction should be corrected

**Desktop (please complete the following information):**
 - OS:Ubuntu 18.04

[2019-04-27 06:16] kushthedude commented on #1860
@shreyanshdwivedi Still on it ?

 ?

[2019-04-27 06:19] kushthedude commented on #275
Looking into it

[2019-04-27 07:31] uds5501 commented on #2815
@kushthedude not required. the states are handled in the tabs itself

[2019-04-27 07:34] kushthedude commented on #2815
Dont you think stating a event state with just published isn’t looking mice , since in session tabs a label indicating state has been implemented , same could look and depict a great UI for events table .
Still we can always for @CosmicCoder96 review on it😄

[2019-04-27 07:37] shreyanshdwivedi commented on #1860
@kushthedude go ahead. But open a PR once it is completed.

[2019-04-27 07:38] kushthedude commented on #1860
Cool 👍

On Sat, 27 Apr 2019 at 1:07 PM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-04-27 08:22] mariobehling opened #2821 "Unfinished Ticket Orders should show up as "Open Orders" in My Ticket Tab"
Unfinished Ticket Orders should show up as "Open Orders" in My Ticket Tab at https://next.eventyay.com/my-tickets/upcoming

![Screenshot from 2019-04-27 16-20-24](https://user-images.githubusercontent.com/1583873/56847012-ad520800-6908-11e9-9ca6-e4202e4edd1f.png)

[2019-04-27 08:23] shreyanshdwivedi commented on #2821
Looking into it

[2019-04-27 08:24] mariobehling opened #2822 "Import Tab: Event Import showing up even though no event was imported into the account"
Import Tab: Event Import showing up even though no event was imported into the account https://next.eventyay.com/events/import . This even happens on new accounts.

![Screenshot from 2019-04-27 16-23-44](https://user-images.githubusercontent.com/1583873/56847044-f0ac7680-6908-11e9-985b-db445372107c.png)

[2019-04-27 08:43] kushthedude commented on #2822
@mariobehling it was just a text message given

[2019-04-27 11:11] kushthedude commented on #2787
@uds5501 @shreyanshdwivedi @CosmicCoder96 @pradeepgangwar Do you think a page should be created

[2019-04-27 13:47] kushthedude commented on #2799
@shreyanshdwivedi I think that PR is different than this issue , We need to show the Tax on checkout page according to this issue and that PR shows Tax on Ticket List , You may continue on this .