[2020-03-04 09:12] iamareebjamal commented on #4124
Have disabled click tracking

[2020-03-04 09:12] #4124 closed

[2020-03-04 10:08] iamareebjamal opened #4181 "Integrate ember-cli-babel-polyfills"
ember-cli-babel is not including polyfills for latest features like Promise.allSettled. This is breaking the app on browsers like Safari 12.

Integrate https://github.com/pzuraq/ember-cli-babel-polyfills to solve the issue

[2020-03-04 16:29] mariobehling opened #4183 "Scheduler: Taking out session using the X button needs to be clicked 2 times to get the expected action"
Scheduler: If the user wants to take out a session clicking the X button must be performed twice to get the expected action.

The session stays on the page when the user clicks one time. The user needs to click again to get the session back into the "unscheduled" sidebar.

![Screenshot from 2020-03-04 17-27-08](https://user-images.githubusercontent.com/1583873/75900731-a99ee400-5e3d-11ea-8f28-bef9

[2020-03-05 09:26] iamareebjamal opened #4191 "Add cypress tests for viual regression testing"
Lots of things break everyday because there are not enough tests

[2020-03-05 09:28] iamareebjamal opened #4192 "Add test for ember data query which broke on 3.16.2"
Ember Data query function broke on 3.16.2, so add a test which breaks the build on broken dependency

[2020-03-07 10:16] mariobehling opened #4202 "Ticket Payment Page: Change "Owner" to "Organizer""
On the ticket payment page "Owner" should be shown as "Organizer".
![Screenshot from 2020-03-07 11-15-50](https://user-images.githubusercontent.com/1583873/76141488-22cc5000-6065-11ea-8012-10842ff86cf8.png)

[2020-03-07 10:34] iamareebjamal opened #4203 "Error while saving event, no property key on undefined"
[code]

Reported on gitter, happens when saving details on event basic details page

[2020-03-07 11:10] #4203 closed

[2020-03-07 15:22] #4202 closed

[2020-03-07 21:54] kushthedude commented on #4192
Won't this be covered in the infinityLoader test? Only infinityLoader is broke with the data 3.16+

[2020-03-07 22:12] iamareebjamal commented on #4192
https://github.com/iamareebjamal/ember-data-bug

[2020-03-10 10:42] mariobehling opened #4212 "Event Overview/Admin Overview: Enable "Open in Tab" on buttons"
Currently the buttons to view, edit or delete an event on the overview pages of organizers or admins only permit to do the action. It is not possible to open the actual links in a tab. Please change this behavior as it would make things much easier for organizers/admins.

Compare: https://eventyay.com/events/live
![Screenshot from 2020-03-10 11-36-39](https://user-images.githubusercontent.com/1583

[2020-03-10 10:46] mariobehling opened #4213 "Events with Incomplete Date (without tickets) getting published and shown on start page"
Even though events don't have tickets, they still get published by organizers. The publication is actually blocked when the user tries to publish an event from the wizard, but there are somewhere other ways to publish an event even if the data is not sufficient.

E.g. on the top right of the event page there is a "Publish" button, that seems to work in some cases even if the data is not sufficient

[2020-03-10 12:20] iamareebjamal commented on #4212
View, Edit Links can be added since they are being taken to a new page, but unfortunately not delete link

[2020-03-10 17:42] amanbora commented on #4166
I would like to work on this issue for gsoc 2020

[2020-03-10 17:52] snitin315 commented on #4166
You can work on this issue but not for GSOC 2020.

[2020-03-10 17:54] amanbora commented on #4166
@snitin315 which issues are available for gsoc 2020 ?

[2020-03-10 17:55] snitin315 commented on #4166
Have you even checked the official gsoc website?

[2020-03-10 17:57] amanbora commented on #4166
@snitin315 yes

[2020-03-10 17:57] snitin315 commented on #4166
Did you find fossasia on the organisations list?

[2020-03-10 17:59] amanbora commented on #4166
@snitin315 no 😅. Sorry my bad
I would still try to work on this issue tho

[2020-03-10 18:01] snitin315 commented on #4166
Go ahead

[2020-03-11 00:42] #3876 closed

[2020-03-12 00:48] kushthedude opened #4220 "Add https://open-event-frontend.now.sh/ in the description URL of the repository"
Cc : @iamareebjamal

[2020-03-12 06:01] #4220 closed

[2020-03-12 06:17] iamareebjamal opened #4222 "No error shown when image upload fails"
No error is shown to the user when image upload fails and it also shows new image instead of old image, which is really confusing

[2020-03-14 08:14] Dishebh commented on #3529
@kushthedude is the issue still up for grabs?

[2020-03-14 08:18] kushthedude commented on #3529
Yes it is.

On Sat, 14 Mar, 2020, 13:44 Dishebh Bhayana, <notifications@github.com>
wrote:

[2020-03-14 08:19] Dishebh commented on #4030
@snitin315 if it is up for grabs, can I take it?

[2020-03-14 08:19] snitin315 commented on #4030
Sure, Go ahead.

[2020-03-14 09:50] Dishebh commented on #3529
Cool, working on it.

[2020-03-14 10:24] serverwentdown opened #4230 "GitHub URL validator different from server validator"
**Describe the bug**

The GitHub Profile validator is different from the server implementation: entering "github.com/profile" is valid on the frontend but throws a server error on the server, without explanation.

**To Reproduce**
Steps to reproduce the behaviour:
1. Register for an event
2. Enter a URL without "https://"
3. Frontend says it's valid
4. Submit the form
5. A server error occurs

**E

[2020-03-14 10:31] serverwentdown commented on #4230
I can send a PR but what should be the correct behaviour?

[2020-03-14 13:15] iamareebjamal commented on #4230
Hi @serverwentdown, it is an issue in server https://github.com/fossasia/open-event-server/issues/6765

We need to made the URL validator more lenient there. There was an incomplete PR on server, which can be a reference point. Thanks

[2020-03-15 11:31] Dishebh commented on #3957
@iamareebjamal if it is up for grabs, can I take it?

[2020-03-15 12:19] iamareebjamal commented on #3957
Yes

[2020-03-16 06:06] kushthedude commented on #4230
Using the computedURLsegmenter in the form will be the solution as it is used in other URL Inputs.

[2020-03-16 06:08] #3529 closed

[2020-03-16 07:11] iamareebjamal commented on #4230
It's a bug in server, not frontend

[2020-03-16 09:31] Dishebh commented on #4115
@kushthedude is the issue still valid?

[2020-03-16 09:51] Dishebh commented on #1823
Is the issue still valid? If yes, can I take it?

[2020-03-16 10:44] iamareebjamal commented on #1823
How will you show nearby events?

[2020-03-16 10:52] iamareebjamal commented on #4115
Done

[2020-03-16 10:52] #4115 closed

[2020-03-16 16:33] Dishebh commented on #1823
I was thinking of showing all the events related to what are now just placeholders. Something like, if we click on FOSSASIA, then the query passed will be `event_name=fossasia`. I know, nothing related to the nearby events, though.

[2020-03-16 18:30] iamareebjamal commented on #1823
Where will the query be passed? Is there an API for similar events?

[2020-03-16 20:04] Dishebh commented on #2689
Can I work on the issue, if it is still valid?

[2020-03-16 20:17] Dishebh commented on #4027
@maze-runnar can I take the issue?

[2020-03-16 20:23] Dishebh commented on #1823
I was talking about the query passed in the search bar😅, like when you search for the fossasia in the main search bar present in the homepage, you can see that the page responds to the query of `event_name=fossasia`.

[2020-03-16 21:32] iamareebjamal commented on #1823
Then it's not nearby events

[2020-03-16 22:01] iamareebjamal commented on #2689
Are you deliberately looking for low priority issues? Please take high priority ones. The issue literally has a label saying it is low priority

[2020-03-16 22:01] iamareebjamal commented on #4027
You haven't even finished https://github.com/fossasia/open-event-frontend/pull/4235

[2020-03-17 10:57] Dishebh commented on #4181
@iamareebjamal can I work on this one?

[2020-03-17 11:16] iamareebjamal commented on #4181
Yes

[2020-03-17 11:16] mariobehling opened #4237 "Organizer Event Ticket Order Overview: Search not working, Date Sorting according to day instead of day, month, year"
On the Organizer Event Ticket Order Overview page:
* the search not working
* the Date Sorting according is according to day instead of day, month, year. This means currently e.g. 18th February is in front of 15th of March.

![Screenshot from 2020-03-17 19-14-08](https://user-images.githubusercontent.com/1583873/76851193-d4e4f280-6883-11ea-85e3-c4d66968a687.png)

[2020-03-18 02:31] mariobehling opened #4238 "Public Schedule: Times of sessions are displayed wrongly"
The session times are displayed wrongly even though I am in the same time zone of the event.

![Screenshot from 2020-03-18 10-30-03](https://user-images.githubusercontent.com/1583873/76919368-9ee75300-6903-11ea-8727-4cb2cd9988fc.png)

[2020-03-18 09:24] Dishebh commented on #4181
How do I test my localhost on cross browser platforms?

[2020-03-18 10:43] iamareebjamal commented on #4181
Send the PR

[2020-03-18 19:22] aryasoni98 opened #4240 "Redesign footer area"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-03-18 19:31] #4240 closed

[2020-03-19 19:13] Dishebh opened #4243 "Add default language for the web page"
**Describe the bug**

If a page doesn't specify a lang attribute, a screen reader assumes that the page is in the default language that the user chose when setting up the screen reader. If the page isn't actually in the default language, then the screen reader might not announce the page's text correctly.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g.

[2020-03-20 08:01] Dishebh commented on #3419
Is the issue valid? Unable to reproduce it.

[2020-03-20 13:55] iamareebjamal commented on #3419
What did you to reproduce it? And please either close your PRs or complete them before working on other issues

[2020-03-20 14:50] Dishebh commented on #3419
Roger.

[2020-03-20 15:31] iamareebjamal commented on #3419
Roger
What did you do to reproduce it?

[2020-03-20 15:50] Dishebh commented on #3419
Created an event and added some paragraphs in event description.They were still distinguishable even after saving it.

[2020-03-20 15:54] iamareebjamal commented on #3419
Show the screenshot of event page

[2020-03-20 17:08] Dishebh commented on #3419
![Screenshot from 2020-03-20 22-37-18](https://user-images.githubusercontent.com/43489708/77188105-804bac80-6afb-11ea-8b0b-dd20e5381c64.png)

[2020-03-21 07:00] kushthedude commented on #4243
I dont get the issue ? What does it want as a final result ?

[2020-03-21 10:16] snitin315 opened #4253 "chore: integrate pretteier & pre-commit hooks"
**Is your feature request related to a problem? Please describe.**

Integrate prettier for code formatting with pre-commit hooks.

**Describe the solution you'd like**

Self Explanatory.

**Additional context**

Please verify if its valid or not.

[2020-03-21 20:10] Dishebh commented on #4243
https://developer.paciellogroup.com/blog/2016/06/using-the-html-lang-attribute/

[2020-03-22 04:53] #4243 closed

[2020-03-22 04:53] kushthedude commented on #4243
We already of localisation no sense of this.

On Sun, 22 Mar, 2020, 01:40 Dishebh Bhayana, <notifications@github.com>
wrote:

[2020-03-23 13:05] iamareebjamal opened #4256 "Integrate Sentry APM tracing"
https://docs.sentry.io/performance-monitoring/getting-started/?platform=javascript

[2020-03-25 08:41] ibnjunaid commented on #4256
@iamareebjamal i wanna work on this issue.

[2020-03-25 09:01] Dishebh commented on #4256
No need of assigning, you can take and work on the issue. Go through the readme file and get familiar with the code base of the project. You can ping on the gitter channel, for any doubts and difficulties you face.

[2020-03-25 12:26] #4100 closed

[2020-03-29 06:49] ashutoshgoswami05 commented on #4000
i am a beginner margin-top:0.5rem works on  @snitin315

[2020-03-29 06:50] snitin315 commented on #4000
Why not open a PR and move the discussion there?

[2020-03-29 23:40] #4030 closed

[2020-03-31 18:24] #4253 closed

[2020-04-01 11:35] BLasan commented on #4238
@mariobehling  Can I work on this?

[2020-04-01 11:37] iamareebjamal commented on #4238
Yes

[2020-04-03 07:45] BLasan commented on #4238
I cannot find any issues with dates. The time zones are within the braces

![Screenshot from 2020-04-03 13-12-49](https://user-images.githubusercontent.com/43112139/78336525-1cba8800-75ad-11ea-85b4-4f67f3095f75.png)

[2020-04-03 12:30] iamareebjamal commented on #4238
Because you are in India and the event timezone is in India as well. Change the event timezone to Singapore

[2020-04-03 12:31] iamareebjamal commented on #4238
And your screenshot is of event card and issue is about sessions

[2020-04-09 01:39] iamareebjamal opened #4306 "Restore rounded corners"
https://github.com/fossasia/open-event-theme/commit/0206df77b4d535b35a8fd4ddbabdb0f36adb0d12

There's a lot of research on why rounded corners are better in UI. Flat design with square corners makes Open Event look unfinished and drab. Not to say that a lack of theme color is not helping. Hence, I think rounded corners should be restored. Except Microsoft's UI, which is still not a golden standard

[2020-04-09 02:38] snitin315 commented on #4306
+1 for round corners. I will work on this one.

[2020-04-14 00:21] iamareebjamal commented on #4306
Any updates @snitin315 ?

[2020-04-14 01:09] snitin315 commented on #4306
i will make PR today.

[2020-04-14 04:13] kushthedude commented on #4306
Updating to semantic UI 3.0.4 should make corners round. Deploy preview of https://github.com/fossasia/open-event-frontend/pull/3872 had rounded corners for buttons.

[2020-04-14 04:33] iamareebjamal commented on #4306
That's because it breaks the project, not fixes the rounded corner thing. Proper fix is to revert this commit https://github.com/fossasia/open-event-theme/commit/0206df77b4d535b35a8fd4ddbabdb0f36adb0d12

[2020-04-16 11:51] BLasan commented on #4237
@mariobehling Can I work on this?

[2020-04-16 15:43] iamareebjamal commented on #4237
Yes

[2020-04-19 04:22] BLasan commented on #4237
@mariobehling Can you put the url?

[2020-04-19 10:51] iamareebjamal commented on #4237
You'll have to create an event and see the event management section

[2020-04-19 22:16] iamareebjamal opened #4327 "Moving forward with CSS framework"
Unfortunately, like most of the stack chosen for the project rewrite, Semantic-UI has been deprecated as well. A fork with name fomantic UI lives on, but all package maintainers are dropping support for semantic UI anyway and there is no semantic-UI-ember package. Right now, we don't have enough resources to do a whole rewrite of the UI of the application, but we can't continue to choke on unmaint

[2020-04-21 18:55] kushthedude commented on #4327
I really like the tailwind approach. But don't you think we should more rely on any frontend framework, we can give [bulma](https://bulma.io) a try.
Designing all the CSS component will need a team of great designers which we rather lack in community.

[2020-04-21 19:18] iamareebjamal commented on #4327
I like bulma as well. The problem with bulma is same as with semantic UI. It can stop being maintained anytime. So I would be comfortable going forward with a CSS framework which is extremely popular like bootstrap, material, or any other. Bulma is great because it looks refreshingly different from bootstrap default theme but it's nothing which can't be done by changing some bootstrap defaults to

[2020-04-22 16:14] kushthedude opened #4338 "`caniuse-lite is outdated` warning while running server"
**Describe the bug**

`caniuse-lite is outdated` warning is given when server is started

**Expected behaviour**

No warning should be given. Update the caniuse-lite to latest version

[2020-04-24 08:03] aman-earthian commented on #4338
hey @kushthedude,  I want to work on this issue.

[2020-04-24 08:51] kushthedude commented on #4338
Sure go ahead

On Fri, 24 Apr, 2020, 13:33 aman-earthian, <notifications@github.com> wrote:

[2020-04-26 04:41] #4338 closed

[2020-04-27 00:27] #2616 closed

[2020-04-27 00:34] #2296 closed

[2020-04-27 00:42] iamareebjamal commented on #3085
Already fixed AFAIK

[2020-04-27 00:42] #3085 closed

[2020-04-27 00:43] iamareebjamal commented on #958
Too broad. It's difficult tracking parent issues. They become detached after some time. An issue for tests is already open, so closing

[2020-04-27 00:43] #958 closed

[2020-04-27 00:44] iamareebjamal commented on #888
Complete AFAIK. And we'll add more if needed.

[2020-04-27 00:44] #888 closed

[2020-04-27 00:48] iamareebjamal commented on #1176
Parent Issue says it is implemented, hence it is duplicate

[2020-04-27 00:48] #1176 closed

[2020-04-27 00:52] iamareebjamal commented on #2609
This is a server issue. Why should frontend even receive something from server if it is deleted

[2020-04-27 00:59] iamareebjamal commented on #1322
Done already

[2020-04-27 00:59] #1322 closed

[2020-04-27 01:01] iamareebjamal commented on #1274
Not a priority

[2020-04-27 01:01] #1274 closed

[2020-04-27 01:02] iamareebjamal commented on #695
Fixed already. Another issue is open for OAuth integrations

[2020-04-27 01:02] #695 closed

[2020-04-27 01:05] iamareebjamal commented on #1175
Already possible in the tickets section and not a priority

[2020-04-27 01:09] #1175 closed

[2020-04-27 01:10] iamareebjamal commented on #3618
Already done AFAIK

[2020-04-27 01:10] #3618 closed

[2020-04-27 01:28] iamareebjamal commented on #2659
This shouldn't even be handled on frontend, this should be provided by the server

[2020-04-27 01:29] iamareebjamal commented on #2669
Please reopen if you want to work on it. It is getting difficult for people to look at which issues to work on.

[2020-04-27 01:29] iamareebjamal commented on #2669
Please reopen if you want to work on it. It is getting difficult for people to look at which issues to work on.

[2020-04-27 01:29] #2669 closed

[2020-04-27 01:30] #2721 closed

[2020-04-27 01:30] iamareebjamal commented on #2721
Not needed for now

[2020-04-27 01:31] iamareebjamal commented on #2858
Server issue, not frontend

[2020-04-27 01:39] iamareebjamal commented on #3445
Closing all child issues. Please only reopen when you have the capacity to work on them

[2020-04-27 01:39] #3445 closed

[2020-05-01 05:30] #3957 closed

[2020-05-06 17:38] Vansh1067 commented on #4099
i want to do this

[2020-05-06 18:12] iamareebjamal commented on #4099
Go ahead

[2020-05-06 18:23] AdityaKG-169 commented on #4306
As I see this issue is still open and is not assigned to anyone, can I work on this issue?

[2020-05-06 18:40] iamareebjamal commented on #4306
Yes

[2020-05-06 22:50] Deeksha2501 commented on #4306
Yes , rounded corners are better
I want to work on this issue

[2020-05-07 04:43] naman360 commented on #2433
Can I work on this issue?

[2020-05-07 04:59] iamareebjamal commented on #2433
Yes

[2020-05-07 05:01] iamareebjamal commented on #4306
@AdityaKG-169 asked first, so maybe if he can't do it, you may take it up

[2020-05-07 09:31] Deeksha2501 commented on #4306
@AdityaKG-169 ok :)

[2020-05-07 09:32] Deeksha2501 commented on #4306
@iamareebjamal 0k :)

[2020-05-07 09:32] Deeksha2501 commented on #4306
@AdityaKG-169 Any updates?

[2020-05-07 17:11] dsnehasish74 commented on #4306
I am a beginer . can I work on it????

[2020-05-08 03:52] #4048 closed

[2020-05-08 03:53] snitin315 commented on #4104
Was it fixed ???

[2020-05-08 03:55] iamareebjamal commented on #4104
No

[2020-05-08 04:00] iamareebjamal commented on #4306
@Deeksha2501 You can work on the issue

[2020-05-08 05:03] Deeksha2501 commented on #4306
Thank you! I will start doing it!!!

[2020-05-08 17:59] creatorpiyush commented on #3278
Can I take this issue if no one is working on it?

[2020-05-08 18:00] creatorpiyush commented on #1519
Can I take this issue if no one is working on it?

[2020-05-08 18:03] nlok5923 opened #4367 "Open event and create event text looks small in mobile view"
**Is your feature request related to a problem? Please describe.**
when opening website in mobile the "create event" and "open event" text looks very small.

**Describe the solution you'd like**
a slight increase in font size of those text.

**Describe alternatives you've considered**
increase font size
**Additional context**
![Screenshot_20200508-232701_2](https://user-images.githubusercontent.co

[2020-05-08 18:39] iamareebjamal commented on #3278
Yes

[2020-05-08 18:39] iamareebjamal commented on #1519
#4347 is already open, so just fix it

[2020-05-09 06:16] snitin315 commented on #4367
Not a priority

[2020-05-09 18:49] #2433 closed

[2020-05-10 10:30] naman360 commented on #4306
Can I work on this issue?

[2020-05-10 10:32] iamareebjamal commented on #4306
@Deeksha2501 Any progress?

[2020-05-10 11:12] naman360 commented on #4306
[https://github.com/fossasia/open-event-theme/pull/11](https://github.com/fossasia/open-event-theme/pull/11)
Where are the changes need to be done then?

[2020-05-10 13:13] iamareebjamal commented on #4306
Use `0.2.1-rounded` version of `@open-event/theme`

[2020-05-10 20:19] icoderharshit commented on #4306
has this issue been resolved ? or can I work upon it, making it look more appealing.

[2020-05-10 20:22] Deeksha2501 commented on #4306
@iamareebjamal I am getting an error,
I was not able to run the code in my local machinery , maybe some version mismatch

[2020-05-11 08:30] naman360 commented on #4306
@iamareebjamal so should I start working now on this issue?

[2020-05-11 08:45] iamareebjamal commented on #4306
Yes

[2020-05-11 08:49] naman360 commented on #4306
Does `site.overrides` file needs to be changed?

[2020-05-11 09:51] iamareebjamal commented on #4306
No

[2020-05-11 09:51] iamareebjamal commented on #4306
https://github.com/fossasia/open-event-frontend/issues/4306#issuecomment-626326188

[2020-05-11 11:55] Elgayar commented on #4104
I would like to work on this issue.

[2020-05-11 12:07] iamareebjamal commented on #4104
Go ahead

[2020-05-11 13:18] kushthedude commented on #4367
They are quite visible in any mobile device but we can come later on such UI Tweaks once we have solved major bugs in our project.
Thanks!

[2020-05-11 13:18] #4367 closed

[2020-05-11 17:18] naman360 commented on #4306
Do I need to `gulp build` too?

[2020-05-11 17:19] iamareebjamal commented on #4306
https://github.com/fossasia/open-event-frontend/issues/4306#issuecomment-626598447

[2020-05-11 17:20] naman360 commented on #4306
Okay creating a PR

[2020-05-13 11:57] atulgawhane commented on #4256
i want to work on this issue

[2020-05-13 12:09] Dishebh commented on #4256
Go ahead.

[2020-05-14 03:48] sanjeevyadav6360 commented on #4165
i want to do this

[2020-05-14 04:35] Anand-Kumar-Singh commented on #3397
I want to work on this issue

[2020-05-14 05:09] iamareebjamal commented on #4165
Go ahead

[2020-05-14 05:19] sanjeevyadav6360 commented on #4165
Thank you sir

On Thu, 14 May 2020, 10:39 Areeb Jamal, <notifications@github.com> wrote:

[2020-05-14 05:31] iamareebjamal commented on #3397
How will you solve this?

[2020-05-15 13:07] Anand-Kumar-Singh commented on #4256
I wanna to work on this issue. Please assign this to me and i am new please guide me

[2020-05-15 13:49] Dishebh commented on #4256
No need of assigning. Go ahead with the issue. Start with the readme of the repo.

[2020-05-17 14:57] mariobehling opened #4383 "Admin not able to edit or delete events"
![Screenshot from 2020-05-17 16-55-36](https://user-images.githubusercontent.com/1583873/82152097-66121e80-985f-11ea-9118-1abd62ce7884.png)

There are test events on the system that clutter the front page. Admins are not able anymore to delete these events, e.g. https://eventyay.com/admin/events/live?search=vit%20tbi%20demo

[2020-05-17 15:15] sandeepbise commented on #4238
can i solve this one?

[2020-05-17 15:24] iamareebjamal commented on #4383
I can't find the event now and strange because not reproducible locally for other events. Will diagnose more

[2020-05-17 15:29] sandeepbise commented on #4168
I will fix this bug can i do this one?

[2020-05-17 15:30] iamareebjamal commented on #4238
Go ahead

[2020-05-17 15:31] iamareebjamal commented on #4168
It's advanced

[2020-05-17 15:33] sandeepbise commented on #4222
can i solve this one

[2020-05-17 15:38] iamareebjamal commented on #4222
Go ahead

[2020-05-18 12:50] #4104 closed

[2020-05-18 20:36] iamareebjamal opened #4385 "Add tax not working for created event"
There are various errors on Event Basic Details Page

- [x] Add tax is not working
- [x] Added tax is not shown correctly on event page

[2020-05-18 21:01] iamareebjamal commented on #4385
Some issues in allSettled refactoring

[2020-05-19 22:01] iamareebjamal commented on #3956
HTML-sanitizer has been relaced with dompurify

180 KB -> 16 KB

Reopening to completely remove sanitizer from frontend

[2020-05-20 08:45] RohitSharma3012 commented on #3278
If this task is free can I join the work ?

[2020-05-20 20:14] #4383 closed

[2020-05-21 20:12] THE-VR7 commented on #4256
I am not able to understand what is the issue, can you please explain it .

[2020-05-21 20:25] iamareebjamal commented on #4256
There is a link in the issue description, please read it

[2020-05-22 22:14] #4306 closed

[2020-05-23 11:20] iamareebjamal opened #4398 "Enabling Show more Options in Discount Code creation lags"
1. Go to `http://localhost:4200/events/<event_id>/tickets/discount-codes/create`
2. Click on `Show more Options`
3. Wait for 5 seconds
4. Options show up

Expected:
There should be no delay at all

[2020-05-23 12:16] sparsh-99 opened #4399 "[Enhancement] Add specific error in Registration validation"
**Is your feature request related to a problem? Please describe.**

To reproduce the error:
1. Type any random email without any '@' or '.com/.in etc'
2. Password should be of 8 characters.
3. When you submit, it will show 'Unexpected Error Occurred'

But doesn't show which type of error or which important thing I missed in which specific input.

![Screenshot (466)](https://user-images.githubuserc

[2020-05-23 21:21] iamareebjamal opened #4401 "Replace Promise.allSettled by RSVP.allSettled"
Promise.allSettled is not polyfilled, replace with RSVP.allSettled

Parent: #4181

[2020-05-23 21:21] iamareebjamal commented on #4181
Superseded

[2020-05-23 21:21] #4181 closed

[2020-05-25 15:34] mohak852 commented on #4401
Sir, I have submitted pull requested for this You can check that

[2020-05-25 19:12] iamareebjamal opened #4403 "Unverified message adds unnecessary gap between header and image"
For users who are already verified

![image](https://user-images.githubusercontent.com/3874064/82838404-ba657000-9ee9-11ea-821a-cb4a467cb301.png)

[2020-05-25 22:47] #4403 closed

[2020-05-26 05:39] CosmicCoder96 commented on #4398
can't seem to reproduce it, it's happening almost instantaneously. Tried with empty events, and heavily populated events, is there anything else required to reproduce it?

[2020-05-26 06:25] CosmicCoder96 opened #4407 "Event export page GET URL is surrounded by an unnecessary extra box"
![image](https://user-images.githubusercontent.com/17252805/82867001-00c1cb80-9ef8-11ea-8c2f-335f6e614c9c.png)

[2020-05-26 07:22] EmperorYP7 commented on #4401
Sir, do review my pull request. I'll be glad to have your guidance on this.

[2020-05-26 08:24] iamareebjamal commented on #4398
Just noticed it happens only when DevTools are open. Not a high priority but still curious why?

[2020-05-27 21:40] #4385 closed

[2020-05-29 08:01] codeboy5 commented on #4407
Can I take this up ?

[2020-05-29 10:51] iamareebjamal commented on #4407
Go ahead

[2020-05-29 20:06] sparsh-99 commented on #4407
I want to work on the issue

[2020-05-29 20:13] sparsh-99 commented on #4407
@CosmicCoder96 Where I can find this issue? In which folder as it a long codebase!

[2020-05-31 08:36] Harshad-droid commented on #4407
Hi, I want to work on this issue. Can I take this up?

[2020-06-01 16:23] partha0047 commented on #4407
I want to work on this issue

[2020-06-02 11:31] mariobehling opened #4430 "Remove external dependencies e.g. Google fonts, maxcdn etc."
The API web service uses external dependencies. In order to avoid sharing our data with external services we need to avoid and remove external services as much as possible.

Compare https://api.eventyay.com

![Screenshot from 2020-06-02 13-29-40](https://user-images.githubusercontent.com/1583873/83515273-60f6d580-a4d5-11ea-86ad-1317d5e2091f.png)

[2020-06-02 16:42] g4rry420 commented on #4399
Hello @sparsh-99  Can I work on this issue ?

[2020-06-02 16:44] sparsh-99 commented on #4399
@g4rry420 Sure! Go ahead

[2020-06-02 17:34] g4rry420 commented on #4399
@sparsh-99 Questions: The error you are proposing , is it showing on the login  or registration page ? Because I reproduce the same situation you asked above, registration is doing well but the Login page is showing error.

[2020-06-02 20:08] sparsh-99 commented on #4399
Yes, Login page

[2020-06-05 10:30] iamareebjamal commented on #3710
Fixed

[2020-06-05 10:30] #3710 closed

[2020-06-07 03:20] edenyay opened #4447 "Unable to display/pull out event's location from Google map"
**Describe the bug**
Unable to display/pull out event/venue's location from Google map when creating an event

**Expected behaviour**
event/venue's location automatically popped up

**Screenshots**

![Screen Shot 2020-06-07 at 10 13 30](https://user-images.githubusercontent.com/32028823/83959532-19db5c80-a8a8-11ea-8965-25674ef93381.png)
![Screen Shot 2020-06-07 at 10 12 48](https://user-images.git

[2020-06-12 02:12] Ritwik880 opened #4463 "Adding slider to play the series of photos"
**Is your feature request related to a problem? Please describe.**
To make a page look more organized  sliders can continuously run or play the series of photos without the need to click anything on the part of the site visitor. This website design tool helps to create an organized and more interactive page.

**Describe the solution you'd like**
One of the functions of sliders is to create pages t

[2020-06-12 07:56] iamareebjamal commented on #4463
Is this a copypasta?

[2020-06-12 09:08] Ritwik880 commented on #4463
No, absolutely not.

[2020-06-12 09:28] snitin315 commented on #4463
https://t3terminal.com/blog/enrich-your-website-with-multipurpose-typo3-sliders/

https://www.google.com/amp/s/avengering.com/en/using-the-slider-yes-no/amp/

[2020-06-12 09:31] iamareebjamal commented on #4463
Closing as irrelevant to the project

[2020-06-12 09:31] #4463 closed

[2020-06-13 10:35] amit2699 commented on #4407
@iamareebjamal  I want to work on this issue

[2020-06-13 10:57] prateekj117 commented on #4407
@amit2699 Go ahead.

[2020-06-13 11:29] amit2699 commented on #4407
Thanks a lot for letting me work on this

On Sat, 13 Jun 2020, 4:28 pm Prateek Jain, <notifications@github.com> wrote:

[2020-06-13 11:37] ShreyanshSrivastava commented on #4407
I have solved the issue and created the corresponding pull request, please review it.

[2020-06-13 11:41] prateekj117 commented on #4407
@shreyanshdwivedi You should always ask to work on an issue first. An open source workflow cannot ever sustain for a project where no one knows who is working on what. Plus the main reason behind asking before working is to make sure no two developers are working on the same issue thus saving developer time.

[2020-06-13 13:09] amit2699 commented on #4407
Can I do some enhancement in the Fossasia's Eventyay website ???

On Sat, 13 Jun 2020, 5:11 pm Prateek Jain, <notifications@github.com> wrote:

[2020-06-13 14:06] ShreyanshSrivastava commented on #4407
I regret for this and will keep in mind from the next time.

[2020-06-13 14:25] amit2699 commented on #4256
@iamareebjamal  Can I work on this issue...

[2020-06-13 14:26] amit2699 commented on #4256
issue labelled #4256

[2020-06-15 09:37] ShreyanshSrivastava opened #4468 "No margin between the Unpublish and Copy button on Event Overview Page"
**Describe the bug**
There is no margin between the Unpublish and Copy button on Event Overview Page.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to manage or create an event.
2. Scroll down to the bottom and publish your event.
3. You will be directed towards the event overview page.
4. In the top-right section, on that page, you will be able to see these buttons.

**Expected behavi

[2020-06-15 09:42] ShreyanshSrivastava commented on #4468
I want to work on this issue.

[2020-06-15 09:50] snitin315 commented on #4468
I think this is intentional.

[2020-06-15 09:56] ShreyanshSrivastava commented on #4468
Can somebody confirm this, please!?

[2020-06-15 14:34] iamareebjamal commented on #4468
No, this bugged me a lot. Please fix this

[2020-06-16 08:48] ShreyanshSrivastava commented on #4468
I have linked a pull request which seems to solve the issue, I request to review it.

[2020-06-17 07:42] #4468 closed

[2020-06-17 07:43] #4407 closed

[2020-06-17 09:05] edenyay opened #4475 "Counting error with the price of donation ticket"
**Describe the bug**
There has been some error when we set the price for donation ticket. Sometimes it works, some time it just doesn't. Need to change the numbers up and down a few times.

**Expected behaviour**
Able to set prices donation ticket normally (as long as min price is smaller than max price)

**Screenshots**
![Screen Shot 2020-06-17 at 16 02 03](https://user-images.githubusercontent.c

[2020-06-17 09:16] Ritwik880 opened #4476 "website loading speed:"
**Is your feature request related to a problem? Please describe.**
The website takes approximately 10-11 seconds to load the whole content.

**Describe the solution you'd like**

Minify CSS :
Compacting CSS code can save many bytes of data and speed up downloading, parsing, and execution time.

Avoid CSS @import:
Using CSS @import in an external stylesheet can add additional delays during the load

[2020-06-17 11:58] iamareebjamal commented on #4476
These are not the reason why site takes a long time to load. The choice of ember JS's way of loading everything on the page upfront instead of asynchronously like every sane JS frontend does, and client side rendering which takes 3X more time than server side rendered pages is the reason for this slow loading speed.

Since, unfortunately, we can't change it to server side rendering, the partial so

[2020-06-17 14:38] Rachit420 commented on #4401
I am new to github and want to contribute. Can i work on this issue?

[2020-06-17 18:07] manutvikash commented on #4401
I am new to github can I work in this ?

[2020-06-17 23:41] #4401 closed

[2020-06-18 15:02] khushboogupta13 commented on #4256
I wanna work on this issue, since I am contributing for the first time can someone guide me through this?

[2020-06-18 15:04] khushboogupta13 commented on #4222
can i work on this issue? since I am contributing for the first time can someone guide me through this please?

[2020-06-19 16:01] khushishikhu commented on #4475
may i work on this issue?

[2020-06-19 16:14] khushishikhu commented on #4475
@edenyay may i work on this issue

[2020-06-19 16:55] iamareebjamal commented on #4475
Go ahead

[2020-06-21 04:16] mariobehling commented on #4476
Closing this as reasons are explained.

[2020-06-21 04:16] #4476 closed

[2020-06-21 04:18] mariobehling opened #4481 "Featured events no longer on start page"
A number of upcoming events are no longer listed on the start page in the section Upcoming or Featured Events.

![Screenshot from 2020-06-21 06-14-09](https://user-images.githubusercontent.com/1583873/85216612-e9ef8700-b386-11ea-9894-20647f5a1f83.png)

See featured events at https://eventyay.com/admin/events/live

![Screenshot from 2020-06-21 06-13-41](https://user-images.githubusercontent.com/158

[2020-06-21 04:35] iamareebjamal commented on #4481
This has happened because people registered too many recent events and featured events are filtered from upcoming events and now the furthest upcoming event is in July 30th 2020, so no featured event past that are showed.

1. Featured Events should be queried separately and not just filtered from upcoming events
2. How should spam events be handled in upcoming events? All these events have tickets

[2020-06-21 11:56] mariobehling commented on #4481
Ok, agree to 1.

The idea to only show events with tickets came up because spam events before did not have tickets. Here is another idea: We only show events on the start page in the "Upcoming Events" section that are a) either promoted or b) have sold at least 8 paid tickets using an online payment method (not suitable for offline payments.) What do you think?

[2020-06-21 17:14] iamareebjamal commented on #4481
Makes sense

[2020-06-21 18:47] himanshujaidka opened #4483 "notification box is not disappeared by its own after giving wrong input until we press OK."
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://open-event-frontend.now.sh/'
2. Click on 'Enter Location'
3. Enter the wrong 'Location'
4. Then notification box comes and it will not disappear although we move on
until we press 'OK' it will not disappear by its own
5

. See error

**Expected behavior**
Notification box should be disappeared when the user m

[2020-06-21 18:47] himanshujaidka commented on #4483
![Screenshot (696)](https://user-images.githubusercontent.com/58654018/85232608-c0356f00-b41d-11ea-87e1-779922d76cc1.png)

[2020-06-21 21:12] kushthedude commented on #4483
That is not a notification box, it is google-maps API warning box as the keys are not configured & site is unable to list the location.

[2020-06-21 21:12] #4483 closed

[2020-06-23 07:57] iamareebjamal commented on #4222
Go ahead

[2020-06-27 17:42] ShubhamChaudharyy commented on #4166
can i take up this issue? @amanbora if you are not working on this!

[2020-06-27 17:43] amanbora commented on #4166
@ShubhamChaudharyy go ahead

[2020-06-29 17:56] Rudresh22 commented on #4256
Hello, I want to work on this issue, but I am unable to understand what the issue is. Can someone guide me through this?

[2020-06-29 18:44] iamareebjamal opened #4501 "Event Wizard sponsors page error while switching"
While switching sponsors page repeatedly in event wizard, it throws an error

[2020-06-29 19:12] #4501 closed

[2020-06-29 20:44] iamareebjamal commented on #3650
Closing now as issue is solved. Will reopen if UX is bad

[2020-06-29 20:44] #3650 closed

[2020-06-29 20:58] #3199 closed

[2020-06-29 21:42] mariobehling opened #4504 "Tax Information Country Field offers Autofill of other information"
The country field in the tax info offer overlapping auto complete info, if this info is saved in the browser. Expected: The field should not allow autocompletion of data other than the country name.

![Screenshot from 2020-06-29 23-39-21](https://user-images.githubusercontent.com/1583873/86058969-1def3a00-ba62-11ea-9d7c-5c9da6dca138.png)

[2020-06-29 21:43] mariobehling opened #4505 "Tax information pop up in Wizard step 1 showing up towards bottom of screen"
The tax pop up in the wizard step on should show up more towards the top of the screen and it should have a "close" x icon on its top right.

![Screenshot from 2020-06-29 23-39-21](https://user-images.githubusercontent.com/1583873/86059088-5c84f480-ba62-11ea-8ea4-08af90c97aa1.png)

[2020-06-29 21:48] mariobehling opened #4506 "Wizard Step 4 Sessions and Speakers: Customize Speaker Form Left Column Text Disappeared"
The text in the left column of the customize speaker form is no longer visible.

![Screenshot from 2020-06-29 23-45-45](https://user-images.githubusercontent.com/1583873/86059399-f51b7480-ba62-11ea-8092-ed9595bf7b39.png)

[2020-06-29 21:58] mariobehling commented on #4506
This does not seem to happen at all events, but for example for the OpenTechSummit Thailand: https://eventyay.com/events/026ad713/edit/sessions-speakers

[2020-06-30 12:34] iamareebjamal commented on #4506
Found the cause. Fixing

[2020-06-30 13:41] #4506 closed

[2020-06-30 13:56] ShreyanshSrivastava commented on #4505
I don't think we will need a close button at the top right because the cancel button is already serving the purpose of it. Tax pop up is an issue on which I want to work on.

[2020-06-30 17:43] iamareebjamal commented on #4506
Deployed

[2020-06-30 19:54] ShreyanshSrivastava commented on #4504
I want to work on this issue

[2020-06-30 20:18] mariobehling opened #4511 "Add Pro-Event Features for Call for Speakers"
Add the following feature details
* [ ] Add Pro-Event Cost option with a tab under https://eventyay.com/admin/settings/
* [ ] Add option to upgrade event to Pro-Event by admins in table at https://eventyay.com/admin/events/
* [ ] Create "Pro Event" option in event wizard
* [ ] Create "Upgrade to Pro Event" for existing events similar to papercall

Implement Limits of Standard Events vs. Pro Event

[2020-07-01 00:26] snitin315 commented on #4504
go ahead

[2020-07-01 04:07] maze-runnar commented on #4505
@ShreyanshSrivastava please claim one issue at a time and complete that before claiming the next.

[2020-07-01 05:28] ShreyanshSrivastava commented on #4504
I have opened a PR please review it.

[2020-07-01 13:41] ShubhamChaudharyy opened #4513 "Unable to Setup project on Local System."
What i did.
installed ember CLI.
Yarn install.

What now i am facing...
Steps to reproduce the behaviour:
When i execute yarn or yarn install this error throws up.
when comes to (5/5) refreshing packages...

![Screenshot (205)](https://user-images.githubusercontent.com/43263087/86250566-5f045d00-bbce-11ea-9611-83b28eb81a4d.png)
![Screenshot (206)](https://user-images.githubusercontent.com/43263087

[2020-07-01 14:33] codebreakeragr8 commented on #4256
@iamareebjamal I would like to work on this issue.
P.S- The link provided in the issue statement is not working.

[2020-07-01 15:55] iamareebjamal commented on #4513
Install python and node 12, or easiest - Use Linux instead of Windows

[2020-07-01 15:56] iamareebjamal commented on #4256
Fixed

[2020-07-01 16:33] ShubhamChaudharyy commented on #4513
will node v14.4.0 throw err?

[2020-07-01 16:38] ShreyanshSrivastava commented on #4513
Yes, it will show an error. You can use v12.13.0, it worked for me.

[2020-07-01 17:50] codebreakeragr8 commented on #4256
ok

[2020-07-02 19:35] Haider8 opened #4519 "No custom form data showing on attendee ticket holder's information"
**Describe the bug**

No custom form data showing on attendee ticket holder's information

**To Reproduce**
Steps to reproduce the behaviour:
1. Create event with custom forms
2. Complete order for that event by filling in custom form
3. Scroll down to 'Ticket Holder's Information'
4. See error in custom form field

**Expected behaviour**

It should show us filled custom form data

**Screenshots**

[2020-07-02 20:29] iamareebjamal commented on #4519
Please add a screenshot as well

[2020-07-02 21:34] iamareebjamal opened #4520 "Event Wizard sessions page error while switching"
While switching speakers, sessions page repeatedly in event wizard, it throws an error

See #4501

[2020-07-02 22:34] #4520 closed

[2020-07-03 14:20] mariobehling opened #4522 "Session Status Missing Feature "Canceled Session" and Missing Option to Revert from "Confirmed" back to "Accepted" (with different colors)"
Currently sessions can have the status accepted, confirmed or rejected. Also when they are submitted they have a dedicated status or a status session rejected.

However, organizers could mistakenly mark a session "confirmed". In that case they are not able to revert a session to "accepted".

Another thing that happens is, that speakers cancel a session for some reason. In that case organizers curr

[2020-07-04 12:07] mariobehling opened #4525 "Possible to publish events without ticket and minimum requirements through Event Dashboard"
There are events that dont have a ticket, but they get published to the front page, e.g. https://eventyay.com/e/b303a673 (I added a ticket and unpublished it). I wonder how this happens as the wizard will show an error message, that an event cannot be published without a ticket.

However, there is a "Publish" option on the event dashboard. It is possible to publish an event here without a ticket o

[2020-07-04 13:16] iamareebjamal commented on #4525
I think they add a ticket and then remove it.

[2020-07-04 14:35] mariobehling opened #4526 "Start Page not scrollable on mobile"
The start page is not scrollable on Android mobile v10 chrome.

This happens once the event search bar loads.

![Screenshot_20200704_163111_com android chrome](https://user-images.githubusercontent.com/1583873/86514749-37063b00-be14-11ea-8c13-8b8bee3f24bd.jpg)

[2020-07-04 14:38] mariobehling commented on #4526
After further testing it turns out none of the pages is scrollable.

[2020-07-05 17:42] anilmaurya61 commented on #4519
i wanna work on this issue. Please assign this to me and since i'm new to this repo so please guide me through.

[2020-07-05 17:53] ParvathiRajpal commented on #4000
May I know whether the issue is still open or has anyone fixed it?

[2020-07-05 18:05] iamareebjamal commented on #4000
Still open

[2020-07-05 18:07] ParvathiRajpal commented on #4000
okay..thanks

[2020-07-06 06:14] edenyay opened #4529 "Unable to complete a ticket order using discount code"
**Describe the bug**
Event link: https://eventyay.com/e/643cfffb
Discount code: FOSSASIA
The error appears at the last step of the payment process.
Screenshot of the error

![Screen Shot 2020-07-05 at 23 07 05](https://user-images.githubusercontent.com/32028823/86561244-6b036c80-bf8a-11ea-87ee-692c53efa4b6.png)

**Desktop (please complete the following information):**
 - OS: Mac OS 10.14
 - Browse

[2020-07-06 06:18] edenyay opened #4530 "Unable to apply discount code for more than 1 ticket"
**Describe the bug**
Event link: https://eventyay.com/e/643cfffb
Discount code: FOSSASIA (set to 10 times use)
Cannot select more than 1 discounted ticket even though the number of discount had been set to 10.
Screenshot of the error

![Screen Shot 2020-07-05 at 23 11 22](https://user-images.githubusercontent.com/32028823/86561525-08f73700-bf8b-11ea-98dc-a8cd0ac6e3bf.png)

**Desktop**
OS: Mac OS 1

[2020-07-06 06:24] iamareebjamal commented on #4530
Max ticket quantity per order is set to 1 (Show more options in Discount Code detail page)

[2020-07-06 06:26] #4530 closed

[2020-07-06 06:56] edenyay commented on #4530
ah totally forgot about this. Thanks Areeb!

[2020-07-06 08:12] #4529 closed

[2020-07-06 08:55] iamareebjamal commented on #4529
Deployed

[2020-07-06 15:54] khushishikhu commented on #2346
may I work on this issue?

[2020-07-07 01:46] kushthedude commented on #2346
Go ahead and make sure to check if the issue still exists, as we have upgraded the semantic-ui version recently.

[2020-07-07 11:10] khushishikhu commented on #2346
![Capture](https://user-images.githubusercontent.com/65439761/86771437-d5daa380-c06f-11ea-8cde-29115241de61.PNG)

@kushthedude  sir i have made changes by inspecting in padding and i worked even responsive but vendor.css isn't in the development branch.
can you please help me find where i should make this change in code. so that i can make a PR

[2020-07-07 12:07] iamareebjamal commented on #2346
vendor.css is the compiled file. Not the source file. You don't make changes in compiled code, it is autogenerated

[2020-07-07 21:32] iamareebjamal commented on #2956
Completed

[2020-07-07 21:32] #2956 closed

[2020-07-08 14:35] Haider8 commented on #4526
Also not working on Firefox

[2020-07-08 14:49] iamareebjamal commented on #4526
@Haider8 Please use git bisect to find since when did this problem start

[2020-07-08 20:17] iamareebjamal commented on #4526
Bug added here: https://github.com/fossasia/open-event-frontend/commit/68c699679643f25dfd7f161fa37398db037f3822

https://github.com/fossasia/open-event-frontend/pull/4354

[2020-07-11 06:39] hpdang opened #4541 "Text Formatting Error: Code of Conduct"
This feature is not related to a problem. It means to create convenience for event organizers.
When organizers **Edit Basic Details** of an event, they can add a Code of Conduct, however it is not possible to do any formatting.

![Screenshot from 2020-07-11 08-35-08](https://user-images.githubusercontent.com/1658742/87218351-1416e200-c352-11ea-992f-90e73b35a142.png)

### Describe the solution you'

[2020-07-11 07:16] hpdang opened #4542 "Text Formatting Errors: Event Description Field"
**Describe the bug**
This bug is related to text formatting under event description field.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Edit Event' on 'https://eventyay.com/e/8fa7fd14'
2. Click on 'Basic Details'
3. Scroll down to 'Description'
4. When copy and paste text from another source or even type in the text, often it caused formatting errors. For example, two screenshots

[2020-07-11 07:56] hpdang opened #4543 "Order A Free Ticket: Confusing buying process"
**The system required users to log-in before they can place a free order, the following scenarios currently exist**

### Registered Email
- Users log-in with a register email, system asks them to fill in a password or request a new password. After user log-in, they can place the order. This seems to be ok.
- Users type in a wrong email that is already in the system, it is not possible to edit emai

[2020-07-11 07:59] dev-sankhadip commented on #4238
Hi @iamareebjamal i want to work on this. Although i didn't get this issue correctly, can you please describe?

[2020-07-11 08:00] iamareebjamal commented on #4238
The session time set by the organizer is different from the one displayed in session list

[2020-07-11 08:35] hpdang opened #4544 "Unable to Pay: Paypal integration does not seem to work"
### Unable to Pay for a donation/paid ticket with Paypal

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://eventyay.com/e/8fa7fd14'
2. Click on 'Donation Ticket'
3. Fill in all details and select Paypal
4. The system is unable to connect to Paypal, See screenshot

![eventyay-paypal-error](https://user-images.githubusercontent.com/1658742/87220220-4c262100-c362-11ea-9ff9-f17ebb3

[2020-07-11 10:01] hpdang opened #4545 "Missing notification emails after an order was made"
Once an order was made successfully, buyer did not receive a notification email. Organizer also did not receive a notification email that a new order has been received.

**To Reproduce**
1. Go to 'https://eventyay.com/e/8fa7fd14'
2. Order a free ticket
3. Check email, no notification.

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Browser: chrome and chromium

[2020-07-11 10:08] hpdang commented on #4542
Similar ticket https://github.com/fossasia/open-event-frontend/issues/4541

[2020-07-11 10:12] hpdang opened #4546 "Event Creation: form filling error"
This is a minor error happened during the event creation process

**To reproduce**
1. Go to 'Edit Event' on 'https://eventyay.com/e/8fa7fd14'
2. Click on 'Basic Details'
3. Scroll down to 'Event Topic'

**Selection was made and reflected on the live page**
![Screenshot from 2020-07-11 12-19-26](https://user-images.githubusercontent.com/1658742/87222089-23595800-c371-11ea-9f0e-84f01275a9ba.png)

**

[2020-07-11 10:46] iamareebjamal commented on #4544
Fixed on server and cause of the issue linked

[2020-07-11 10:46] #4544 closed

[2020-07-11 10:49] mariobehling commented on #4541
Furthermore it should be possible here to add a link into the box where users can find more info.

[2020-07-11 10:57] iamareebjamal commented on #4545
Discussed this before with Mario. There is no bug from our end, GMail is blocking emails with PDF attachments https://app.sendgrid.com/suppressions/blocks

Since we don't get a callback about email delivery being successful or not, should we remove attachments from order emails?

[2020-07-11 17:48] lopeselio opened #4547 "Page is not scrollable on mobile View as well as phone."
**Describe the bug**
The page cannot be scrolled on mobile view

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://eventyay.com/'
2. Scroll down to see events on mobile view or one phone.
3. Page is not scrollable on phone and also in mobile view in Chrome as well as safari

**Expected behaviour**
The user should be able to scroll down to see more events
![1](https://user-images

[2020-07-11 17:51] lopeselio commented on #4546
Can I work on this @mariobehling ?

[2020-07-11 18:45] iamareebjamal commented on #4547
Duplicate of #4526

A fix is in works

[2020-07-11 18:45] #4547 closed

[2020-07-11 18:46] iamareebjamal commented on #4546
One developer is already working on it, You can take other issues

[2020-07-12 04:01] ruhci28 commented on #4256
Hye is anyone working on this issue? If not can I tackle this issue .?

[2020-07-12 10:23] #4519 closed

[2020-07-12 10:23] iamareebjamal commented on #4256
Go ahead

[2020-07-12 17:19] iamareebjamal commented on #4546
Happens only with names with `&` in it. Seems like a library issue, which isn't maintained anymore

[2020-07-12 19:20] iamareebjamal commented on #4546
It is an issue with the library, it does not generate proper key for values with spaces it seems. I don't think fixing and maintaining a dead library is a good choice. @Haider8 Please use https://ember-power-select.com/ for just event sub topics and topics for now

[2020-07-13 09:21] mariobehling opened #4551 "Icons of social media services are no longer on public event page"
Social Media Services used to have a logo icon on public event pages. They are no longer there, e.g. https://eventyay.com/e/45da88b7/

![Screenshot from 2020-07-13 11-19-10](https://user-images.githubusercontent.com/1583873/87287871-e9b45880-c4fa-11ea-9e40-4bea5899628a.png)

[2020-07-13 11:18] Haider8 commented on #4551
@iamareebjamal Can I work on this

[2020-07-14 12:55] mariobehling commented on #3679
For now we request the user to use the save button to ensure any changes are saved. Not considering this a bug at the moment. It could be a feature request, but is out of scope at the moment. Closing this therefore.

[2020-07-14 12:55] #3679 closed

[2020-07-14 14:09] mariobehling commented on #3399
This needs to be taken care of by content managers not by developers.

[2020-07-14 14:09] #3399 closed

[2020-07-14 20:02] Haider8 opened #4559 "View action for speaker not working in dashboard"
**Describe the bug**

View action is taking us to edit but it should take us to view like for sessions.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an event first
2. Then create speaker and session for that event
3. Now go to event overview page (e.g http://localhost:4200/events/e1e58b51)
4. Click on `Speakers` tab
5. Now click on `View` in `Actions` column. See the bug

**Expect

[2020-07-14 20:03] iamareebjamal commented on #3357
Fixed in #4427 and #4428

[2020-07-14 20:03] #3357 closed

[2020-07-14 20:09] Haider8 opened #4560 "Feature: Custom form info for sessions and speakers"
**Is your feature request related to a problem? Please describe.**

Right now we are not showing complex custom form info for speakers and sessions. So, it should be shown.

![Session Details](https://i.imgur.com/P8PUzoM.png "No custom form info for session")

**Describe the solution you'd like**

Show custom form info for both session and speaker details

**Describe alternatives you've considered

[2020-07-15 08:00] #4551 closed

[2020-07-15 08:33] mariobehling opened #4564 "Footer Pages not showing up on Admin Content Area and Not editable"
On the footer of eventyay.com there are pages for terms and references, contact, refund policy etc. These pages should show up on the content area of admins here https://eventyay.com/admin/content/pages, but they are not available here anymore.

Please show the pages here and make them editable.
![Screenshot from 2020-07-15 10-30-31](https://user-images.githubusercontent.com/1583873/87522984-98d16

[2020-07-15 17:19] #4546 closed

[2020-07-16 06:23] #4545 closed

[2020-07-16 06:54] hpdang commented on #4543
@iamareebjamal is there any progress here Areeb?

[2020-07-16 06:55] iamareebjamal commented on #4543
Yes I'm currently working on it. Will be completed in an hour or so

[2020-07-16 08:01] mariobehling opened #4567 "Organizer receiving session proposal that was deleted should show message "deleted""
![Screenshot from 2020-07-16 09-55-09](https://user-images.githubusercontent.com/1583873/87643556-4dcd5b80-c74b-11ea-905c-f06702660287.png)

Steps:
1. An organizer receives an email "New Session Proposal"
2. The organizer clicks on the link, e.g. https://eventyay.com/events/5ac8e4d9/sessions/6259
3. The organizer logs into the system
4. Bug A: The organizer is directed to the front page.
5. The or

[2020-07-16 17:58] #4543 closed

[2020-07-17 05:24] ayushsatyam146 commented on #4165
Have you done this?

[2020-07-17 10:59] Haider8 opened #4573 "Event hash-tags coming out of the containing box"
**Describe the bug**

Event hash-tags are not coming properly inside the containing box

**To Reproduce**
Steps to reproduce the behaviour:
1. First create event of type `#HobbiesSpecialInterest`, `#CampTreatRetreat` and `#AnimeComics`
2. Go to home page
3. Scroll down to the event created in step 1
4. See error

**Expected behaviour**

Hash tags should properly come inside the containing box

**S

[2020-07-17 14:14] kushthedude commented on #4513
Try the above-mentioned steps & let us know if it still fails.
Thanks

[2020-07-17 14:14] #4513 closed

[2020-07-17 16:29] #4027 closed

[2020-07-17 20:10] himanshuvarandani commented on #4399
Hello @sparsh-99 can I work on thus issue?

[2020-07-17 20:12] sparsh-99 commented on #4399
Sure @himanshuvarandani , go ahead!!

[2020-07-17 21:13] mariobehling opened #4574 "Editing Call for Speakers Date and Time results in null/invalid field"
Editing an existing event date/time call for speakers on wizard step 4 results in an invalid field and cannot be saved, e.g. here https://eventyay.com/events/5ac8e4d9/edit/sessions-speakers

![Screenshot from 2020-07-17 23-12-58](https://user-images.githubusercontent.com/1583873/87831204-13ff7080-c883-11ea-82f8-e0690d58049b.png)

[2020-07-17 21:30] mariobehling opened #4575 "Organizer: Creating a session or speaker through the organizer UI without filling it in creates an empty speaker or session"
When an organizer fills in details of a speaker or a session in the organizer area an empty session or speaker will be created. Deleting this speaker or session will show an error message on the bottom of the screen, but it will actually delete the empty session or empty speaker.

Activating below field will create an empty session, if the organizer does not enter data and does not actually save i

[2020-07-18 09:25] mariobehling commented on #3768
Looking into this again, I see that this is not an issue. We already resolved this as we added the option to "lock a session" into the session area.

![Screenshot from 2020-07-18 11-23-52](https://user-images.githubusercontent.com/1583873/87849470-46dc4f80-c8e9-11ea-994c-7ed140b5d250.png)

Therefore closing this issue. We need to test in detail if the "lock session" feature is working everywhere a

[2020-07-18 09:25] #3768 closed

[2020-07-18 09:41] Haider8 commented on #2898
@mariobehling Can I start working on this?

[2020-07-18 10:20] mariobehling commented on #3725
I think for now we can give the people the option to fill in details what they require. Therefore closing this.

[2020-07-18 10:20] #3725 closed

[2020-07-18 10:22] mariobehling commented on #3777
Here is a proposed order for the speaker form:

- Name
- Email
- Position
- Organisation
- Address
- City
- Country
- Mobile	number
- Gender
- Short Biography
- Long Biography
- Speaking Experience
- Photo
- Website
- GitHub
- Facebook
- Instagram
- Linkedin
- Twitter
- Heard From
- Sponsorship Required

[2020-07-18 10:26] iamareebjamal commented on #3778
More discussion in #3585 and #3777

[2020-07-18 10:27] iamareebjamal commented on #3777
More discussion in #3585 and #3778

[2020-07-18 10:28] mariobehling commented on #3777
Here is the proposed order for the session form:

- Title
- Subtitle
- Track
- Session Type
- Short Abstract
- Long Abstract
- Language
- Level
- Slides
- Audio
- Video
- Comments

Please note it should be:
* Comments, not "Comment"
* Slides, not "Slide".

[2020-07-18 10:32] iamareebjamal commented on #2442
The details of the issue are mention in #4543 and fixed in #4569

Guest mode buying will disallow the user to manage its tickets later on, so for now, this is the way to go

[2020-07-18 10:33] iamareebjamal commented on #3427
This is now fixed as new Order API has been integrated in the website with no calculation made on frontend, as it should have been

[2020-07-18 10:33] #3427 closed

[2020-07-18 10:34] iamareebjamal commented on #3278
This is now fixed in #4569 and details of issue are mentioned in #4543

[2020-07-18 10:34] #3278 closed

[2020-07-18 10:35] iamareebjamal commented on #2898
@Haider8 Please check #4574 and #4575

[2020-07-18 14:26] Haider8 commented on #4574
@iamareebjamal I couldn't see the issue. Can you please take a look at it

![edit-speaker-session-datetime](https://user-images.githubusercontent.com/43299408/87854501-1e2b7880-c930-11ea-9fc7-ec3cc9f8509c.gif)

[2020-07-18 18:48] iamareebjamal commented on #4574
Can't reproduce it myself as well. Please move on to next issue

[2020-07-19 01:25] iamareebjamal opened #4578 "Speaker Edit Route does not exist"
CFS edit route is session edit route which is also used for speaker edit route and when we reload the page, it loads session edit page.

Separate session and speaker edit pages

[2020-07-19 03:11] #3777 closed

[2020-07-19 15:04] akash-arelli commented on #4564
@mariobehling  I would like work on this issue. I am a beginner. Please guide me through.

[2020-07-19 17:19] iamareebjamal commented on #4564
This is not a beginner level bug

[2020-07-19 17:30] iamareebjamal opened #4580 "Email and Password submitted as GET query params in fastboot"
In fastboot mode, before the hydration happens(which, it being ember, takes multiple seconds), if user submits email and password in login form, the page reloads with email and password as query parameters as form submission happens with those 2 fields. This is a severe issue. The login button and form should

- [ ] Change to at least POST, so that fields are not sent in the URL
- [ ] The login bu

[2020-07-20 03:35] #4575 closed

[2020-07-20 11:15] #4578 closed

[2020-07-20 17:30] mariobehling commented on #3442
Implemented during orders rewrite.

[2020-07-20 17:30] #3442 closed

[2020-07-20 17:33] mariobehling commented on #2968
Closing this as UI changes are taken care of in other issues.

[2020-07-20 17:33] #2968 closed

[2020-07-20 17:36] mariobehling commented on #2783
It is already specified in other issues, that we should get rid of using third party services and rather load libraries locally. So, lets focus efforts there.

[2020-07-20 17:36] #2783 closed

[2020-07-20 17:38] mariobehling commented on #2670
Process has already been improved.

[2020-07-20 17:38] #2670 closed

[2020-07-20 17:40] mariobehling commented on #2689
Such areas will be addressed as part of other issues.

[2020-07-20 17:40] #2689 closed

[2020-07-20 17:41] mariobehling commented on #2184
At the moment external services are out of scope and will not be implemented further.

[2020-07-20 17:41] #2184 closed

[2020-07-20 17:42] mariobehling commented on #2153
Out of scope at the moment.

[2020-07-20 17:42] #2153 closed

[2020-07-20 17:47] #1423 closed

[2020-07-20 18:00] mariobehling opened #4584 "Session Form: There is no must for "Track" to be required (wizard step 4)"
The session forms always show "track" to be required, but some events dont even have tracks. Tracks could be required by the organizer, but they should not be required by the system.

![Screenshot from 2020-07-20 19-58-05](https://user-images.githubusercontent.com/1583873/87970094-8b234780-cac3-11ea-8416-d26d517663b6.png)

[2020-07-20 18:07] mariobehling opened #4585 "Wizard Step 1: If organizer does not enter location, there is no error message indicating why event cannot be saved"
When creating an event some people want to try out things. If data is required to save a draft or publish an event an error message should indicate what is going wrong. Currently an organizer does not get an error message when he/she tries to save an event without a location. It is required to add a location to save an event, but the user does not receive this info.

Expected: Add an error message

[2020-07-20 18:14] mariobehling opened #4586 "Session and Speakers form in Wizard Step 4 have a few fields pre-selected which are not necessary to be pre-selected"
Session and Speakers form have a few fields pre-selected even for new events (wizard step 4). Only pre-select the following by default (but let the organizer decide if they and how they want to change it except for the fields required by the system as below).

Speakers Form
- Name (Required)
- Email (Required)
- Position
- Organization
- Short Bio
- Photo
- Website

Session Form
- Title (Required)

[2020-07-20 18:43] mariobehling opened #4587 "Call for Speakers: Show option below CfS instead of pop-up"
Currently the CfS provides a pop-up. Instead of a pop-up show the options below the CfS:
1. Show info "No session have been submitted." (as long as there are no existing sessions)
2. Show the button "Add Speaker Details" (in the same way as of now, but below the CfS)
3. Show the option "Submit Session" also below the CfS, but if the user has not added speaker details yet, show an error message "Yo

[2020-07-20 18:58] mariobehling opened #4588 "Submitted Sessions showing up 4 times in "My Sessions""
Sessions that are submitted show up four times in the my sessions tab at https://eventyay.com/my-sessions/upcoming

Expected:
* Sessions should only show up once
* The session tab should list the name of the session and provide a) the link to the session form as of now and b) to the event page

![Screenshot from 2020-07-20 20-56-50](https://user-images.githubusercontent.com/1583873/87975268-adb95e

[2020-07-20 19:03] mariobehling opened #4589 "My Events: If user bought several tickets the event shows up several times in "My Events" - Expected Ticket Info should show up and Tickets should be Grouped"
My Events: If user bought several tickets the event shows up several times in "My Events" (https://eventyay.com/my-tickets/ or https://eventyay.com/my-tickets/past) - Expected:
1. On the ticket box/tab on the overview page, the ticket info itself should show up including info on ticket holder and ticket type (including the link to the ticket)
2. Tickets should be grouped within the same event tab

[2020-07-20 19:08] iamareebjamal commented on #4584
This is strange because I couldn't find any event without tracks with sessions enabled. If this is indeed intended to be optional, it'll need changes in backend as well because currently it assumes session to always have a track and might break some things when making it optional

[2020-07-20 19:11] iamareebjamal commented on #4588
Same as #3703

[2020-07-20 19:13] mariobehling opened #4590 "Organizer Sessions Tab: View and edit option directing to "my-sessions/...""
The view and edit options on the "sessions tab" of organizers direct to a link "my-sessions...". Expected: The link structure to view and edit sessions as an organizer should be in the structure of https://eventyay.com/events/[event-ID]/sessions/[session-ID]

![Screenshot from 2020-07-20 21-08-42](https://user-images.githubusercontent.com/1583873/87976618-b743c600-cacd-11ea-9fb2-fd889417e9c2.png)

[2020-07-20 19:16] #2898 closed

[2020-07-20 19:19] mariobehling opened #4591 "Organizer Sessions Tab: Locked Session can be edited, if speaker uses "edit" link"
Organizers have the option to lock sessions, so the speaker does not do further edits, e.g. change the topic of an event. Editing is nevertheless still possible if the speaker remembers the link to edit a session.

Below session is locked, but can be edited through the "edit" link.

![Screenshot from 2020-07-20 21-18-34](https://user-images.githubusercontent.com/1583873/87977196-a182d080-cace-11ea

[2020-07-20 19:23] iamareebjamal commented on #4590
Edit option leads to `https://eventyay.com/events/<event_id>/sessions/edit/<session_id>` but view option indeed leads to my-sessions. Should the my-session URL be changed to https://eventyay.com/events/[event-ID]/sessions/[session-ID] for user/speaker as well? If not, same view will be shown at 2 different URLs, leading to maintainence issues

[2020-07-20 19:28] mariobehling opened #4592 "Event Dashboard: Show "View" instead of "Preview" for Live Events, Delete "Copy" Feature"
The event dashboard shows "Preview" for live events. Expected:
* Show "View"
* Open event link in new tab
* Only show "Preview" for unpublished events

Furthermore, we have a lot of features in the system. To keep the system more simple, for now:
* comment out the feature "Copy an Event" from the top right dashboard.
(We could come back later to this feature, but for now we dont have resources to

[2020-07-20 19:30] iamareebjamal commented on #4591
Need to diagnose if this is allowed on server as well. If not, then it is purely a frontend issue. Or else, it needs to be fixed on server

[2020-07-20 19:54] mariobehling commented on #4591
I tried it again with different accounts. It seems it is working. Not sure, why it worked before. Maybe I was trying with two admin accounts.

[2020-07-20 19:54] #4591 closed

[2020-07-20 20:02] mariobehling commented on #4590
Yes, agree. I understand that you want to change the personal URL as well for maintenance issues. I think it would be more suitable than the current version, cause an organizer should not have a session of a speaker of an event under the "my sessions" URL.

And we need to consider this even further, cause the edit sessions form also show up in a URL related to the CfS, e.g. https://eventyay.com/e/

[2020-07-20 20:05] mariobehling commented on #4588
ahh ok.

[2020-07-20 20:05] #4588 closed

[2020-07-20 20:07] mariobehling commented on #4584
Yes, this is the case because most of the events on the platform using the session form are run by us and these events are bigger. However, a lot of smaller events dont have tracks. Maybe if changes take a lot of time, do other issues first that have a larger impact to improve the system. But, ultimately "tracks" should not be required.

[2020-07-20 20:09] mariobehling commented on #4574
Save the event and go back to the form afterwards, please. Also try as an admin on this event: https://eventyay.com/events/5ac8e4d9/edit/sessions-speakers

[2020-07-21 01:06] iamareebjamal commented on #4591
Yes, admin is allowed to edit it anyway. Maybe we need an indicator in UI if something is being edited as an admin

[2020-07-21 01:13] iamareebjamal commented on #4590
I think we keep all URLs for organizer same as most of the things are same and use CFS URL for speaker edit as it is a different view even if most things are same. This will mean that speakers will not be able to see the admin view even if there's a bug in the UI.

So, for organizers - https://eventyay.com/events/0917096d/sessions/edit/6255
For users - https://eventyay.com/e/0917096d/cfs/edit/sess

[2020-07-21 01:17] iamareebjamal opened #4593 "Add indicator in UI if item is allowed to be edited as an admin"
Issues like #4591 show that there is a confusion sometimes why something is being allowed to happen and it seems like a bug, only to later realize that it was allowed because of admin functionality. So if there is any admin override in the UI, there should be an indicator for that. This is to be taken later on as it is an enhancement over current system and not an urgent requirement

[2020-07-21 05:22] iamareebjamal commented on #4522
Will the cancelled session be visible to users in session list/detail view?

[2020-07-21 10:11] mariobehling commented on #4522
Yes, I think the status can also be visible in the user view. At the moment I would not know why not. However the only action users can do after the CfS closes is "withdraw". They cannot change to another status apparently.

I am still unclear if we should also add the status "Draft". A draft status talk would be a talk that is not yet submitted (before the "pending status"). However, if we have t

[2020-07-21 11:05] mariobehling opened #4595 "Ticket Email: Create a better Text Email for confirmed ticket orders"
We need a better ticket email. An HTML email would require a number of changes, but we can already create a better text email to improve things in the first step. An Email sample below.

 Questions:
* What if the user bought several tickets, what link do we provide?
* Would it be possible to create a link string to provide the option "Add to my calendar", e.g. Google, Outlook, iCal

---

SUBJECT:

[2020-07-21 14:44] mariobehling opened #4596 "Cannot remove or delete custom question"
In case there is a typo an event an organizer would like to be able to edit the custom form. Also sometimes the organizer tries out this feature and just wants to be able to delete a custom form field as well.

Please provide the option to edit or delete a custom form field.
* In attendee form (Wizard step 2)
* In speaker and session form (Wizard step 5)

![Screenshot from 2020-11-01 10-29-32](htt

[2020-07-21 14:47] mariobehling opened #4597 "Attendee Form: Editing the form sometimes suddenly shows field of organizer custom forms"
Attendee Form: Editing the form sometimes suddenly shows field of organizer custom forms, e.g. compare https://eventyay.com/events/a2b1a68e/edit/attendee

![Screenshot from 2020-07-21 16-46-10](https://user-images.githubusercontent.com/1583873/88069434-bc5a5100-cb71-11ea-8df7-b31e391574e1.png)

[2020-07-21 17:04] iamareebjamal commented on #4522
Draft status is already there but don't know if it is implemented correctly

[2020-07-21 17:06] iamareebjamal commented on #4597
I don't understand "Organizer Custom Form", did you mean "Speaker Custom Form"?

[2020-07-21 17:14] iamareebjamal commented on #4596
Before this, we'll need server side checks to ensure no one can delete existing fields. So, only fields which are allowed to be edited and deleted are custom form fields. This is necessary because the pre-existing fields are of a certain type for a reason. If this is too restrictive, then we should allow deletion of non-custom fields if they are not fixed, but allow editing of only custom fields.

[2020-07-21 21:09] #4597 closed

[2020-07-22 04:00] ruhci28 commented on #4256
Hii , @iamareebjamal  can you guide me how should I proceed . I set up the project on my local machine .

[2020-07-22 04:21] iamareebjamal commented on #4256
The steps are written in the link in issue description

[2020-07-22 04:41] ruhci28 commented on #4256
can you tell me which file i have to change

[2020-07-22 04:44] ruhci28 commented on #4256
Does i have to change app/utils/sentry.js .?

[2020-07-22 05:44] iamareebjamal commented on #4256
sentry.ts

[2020-07-22 07:40] #3703 closed

[2020-07-22 07:47] mariobehling commented on #4597
Yes, sorry. You are right.

The forms of wizard step 4, suddenly shows up as part of the form in wizard step 2.

[2020-07-22 07:51] mariobehling commented on #4596
Yes, absolutely. We only allow editing of custom fields. We dont allow it for the standard fields. Ultimate goal would be to have it working similar to Google forms, where a user can edit a field without data loss, but of course you cannot delete it and expect the data to stay complete.

[2020-07-22 08:11] mariobehling commented on #2959
Closing this. We can follow up on next steps here https://github.com/fossasia/open-event-frontend/issues/3202

[2020-07-22 08:11] #2959 closed

[2020-07-22 08:20] mariobehling commented on #3659
Seems it has been solved already. Closing it therefore.

[2020-07-22 08:20] #3659 closed

[2020-07-22 10:31] #4585 closed

[2020-07-22 10:38] snitin315 commented on #4592
Taking this up.

[2020-07-22 11:37] iamareebjamal commented on #4590
@Haider8 View Session URL - /e/<event_id>/sessions<session_id>

[2020-07-22 13:42] #4586 closed

[2020-07-22 13:58] ruhci28 commented on #4256
ok Thanks

[2020-07-22 14:01] mariobehling opened #4604 "Session Status Change: Send Status Change with Email"
When the status of submissions is changed by organizers or speakers themselves, e.g. from Pending to Accepted, the organizer should have the option to send speakers an automated email about the status change. There should be a pop up when the organizer selects "Send Email" with two sections a) the standard section as below and b) with a field where the organizer could add additional information.

[2020-07-22 14:06] Anurag-Srivastava-21 commented on #4000
can i fix it ?

[2020-07-22 14:47] ParvathiRajpal commented on #4000
Sorry I am still working on this issue.

[2020-07-22 15:24] mariobehling opened #4605 "Forms: Keep data saved when switching on/off Forms in Wizard step 1, 2, and 3"
Switching off the options in the wizard in step 1, 2 or 3 results in the data being erased.

Expected: Keep the data saved in the system, but don't show it publicly if the page/option is switched off in the wizard.

[2020-07-22 15:33] mariobehling opened #4606 "Attendee Form: Separate Required (System) fields and show them in dedicated table even if "Attendee Form" button is set to "off""
Even though the attendee form is turned off by the organizer in wizard step 2, the ticket buyer actually needs to provide name and email.

Therefore, please separate these required fields in the table from the non-required field and show a small dedicated (separate) table below the following text even if the custom form is switched off.

![Screenshot from 2020-07-22 17-26-38](https://user-images.g

[2020-07-22 15:40] mariobehling opened #4607 "Attendee Form Design Issue: "custom form" option shows up even if Feature is turned "off" + Info text unreadable"
1) The attendee form in wizard step 2 can be switched on or off.
Expected: The custom form option should only be visible if the attendee form is switched on.

 2) The text below "information about attendee form" is not readable as the grey color is to bright on many screens.

![Screenshot from 2020-07-21 16-28-59](https://user-images.githubusercontent.com/1583873/88196906-07dc3000-cc42-11ea-89cd-b

[2020-07-22 15:54] mariobehling opened #4608 "Call for Speakers: Only show Twitter Widget on Event Pages that are listed on the left side bar"
The twitter sidebar widget shows up on all kinds of pages and even on the speaker submission pages (session page and speaker page).

Expected: Only show twitter widget on the event pages linked on the left hand side, e.g.:
Show: https://eventyay.com/e/0917096d

Do not show on:
https://eventyay.com/e/0917096d/cfs/edit/session/6255
https://eventyay.com/e/0917096d/cfs/edit/speaker/4763
https://eventy

[2020-07-22 16:21] mariobehling opened #4609 "Forms: Social Media - Only request to fill in short form, e.g. username for link specification"
Make social media links on all forms in a way that users only need to add their username or other short forms.

Relevant Forms:
* Wizard step two social links
* Attendee Forms
* Speaker submission forms
* Speaker profile form

E.g. show as follows
Twitter https://twitter.com/___________
Github https://github.com/___________
Linkedin https://www.linkedin.com/____________
Instagram https://instagram

[2020-07-22 16:27] mariobehling opened #4610 "Basic Event Info External Links: Simplify Form by offering dropdown options"
Currently the Form for social event links in the wizard step 1 requires the user to fill the name of a social media service.

Expected:
1. Offer a dropdown menu of all kinds of social media services and require the user to only fill in the user name.
2. Change the name "External Event URL" to "Website"

![Screenshot from 2020-07-22 18-23-07](https://user-images.githubusercontent.com/1583873/882022

[2020-07-22 16:44] mariobehling opened #4611 "Basic Event Details: Enable option Online Events or Mixed Event"
With an increasing number of online events that don't have a location, we should also offer the possibility to run events without a location or event with a location and an online presence (mixed events).

Therefore please change the basic details wizard as follows:
* create 4 buttons
  * Venue
  * Online event
  * Mixed event
  * To be announced

![Screenshot from 2020-08-09 06-06-43](https://use

[2020-07-22 17:23] mariobehling opened #4612 "Simplify footer and change to 4 column instead of 5 column"
The current features of the footer would need more attention and resources, while not giving a lot of benefit. There are a number of bugs in this area. But actually a simpler footer would also serve its purpose. Therefore please simplify the footer as follows:

* Change 5 columns to 4 column
* Left align columns
* Heading "Connect With Us" -> capital W in with, capital U in us
* Provide options in

[2020-07-22 17:46] mariobehling commented on #2008
Closing this in favor of https://github.com/fossasia/open-event-frontend/issues/4604.

[2020-07-22 17:46] #2008 closed

[2020-07-22 19:44] mariobehling opened #4613 "Ticket Order Page shows 0 Tickets bought instead of 2 Tickets"
The order pages do not seem to show the correct numbers of tickets bought. A user who bought 2 tickets has 0 tickets showing on his order page, e.g. here https://eventyay.com/orders/89e637e6-a281-41d5-9153-6b24f7defa3b/view

![Screenshot from 2020-07-22 21-42-12](https://user-images.githubusercontent.com/1583873/88221177-5c90a280-cc64-11ea-9510-3ae5567f8da2.png)

[2020-07-22 20:04] mariobehling opened #4614 "Organizers: Ticket Overview Page shows "Completed" and jumps to "Initializing" status when reloaded"
1. As an organizer click on a completed ticket link in the organizers overview page of ticket orders
2. See the ticket order
3. Use the back button on the browser
4. The ticket order overview page shows up again, but the same tickets that are completed suddenly show up as "initializing".

E.g. check the page here https://eventyay.com/events/5ac8e4d9/tickets/attendees/completed

![Screenshot from 2

[2020-07-22 20:15] mariobehling opened #4615 "Forms: Store all data, Prevent data loss in altered forms and export all forms data in the relevant CSVs"
If an existing form is changed the question remains what happens to the data that was entered into the form before it was changed? We should handle this similar to Google forms/spreadsheets.

1. Firstly all form data should be kept in the database and it should be added to the exported CSV of attendees, orders and speakers exports.

![Screenshot from 2020-07-22 22-09-39](https://user-images.github

[2020-07-22 22:23] iamareebjamal commented on #4000
It's been 17 days, @Anurag-Srivastava-21 you can go ahead

[2020-07-22 22:31] iamareebjamal commented on #4613
![Screenshot from 2020-07-23 04-00-33](https://user-images.githubusercontent.com/3874064/88235745-1bff4c00-cc99-11ea-930e-7313fba1c4eb.png)
Showing 2 for me

[2020-07-23 07:15] mariobehling commented on #4613
Ok, I understand. Here are the steps:
1. Go to https://eventyay.com/events/5ac8e4d9/tickets/attendees/completed
2. Click on Ticket 89e637e6-a281-41d5-9153-6b24f7defa3b
3. Click "back" in browser and click on the second ticket 89e637e6-a281-41d5-9153-6b24f7defa3b
4. Click back a few times and check the tickets again -> They will show sometimes 1 ticket, 0 ticket or 2 tickets.

[2020-07-23 08:01] mariobehling opened #4617 "Admin Social Links (System): Change Google+ Icon to Google Groups Icon and add Instagram"
1. We still use Google Groups icon on the footer links. Please change it to Google Groups and take out the "+" sign.
2. Please add Instagram as an additional social link option

Admin link for footer is: https://eventyay.com/admin/content

![Screenshot from 2020-07-23 10-02-10](https://user-images.githubusercontent.com/1583873/88264154-96e15a80-cccb-11ea-8884-8bbb366ce591.png)

![Screenshot from 2

[2020-07-23 08:28] mariobehling opened #4618 "Forms: Disable Browser Autofill Option for Country Fields in Forms"
Several forms have a country fields. If the browser has stored data it provides autofill options. This distorts the view and functionality of the country form fields. Please deactivate autofill option in browsers for country fields in:
* [ ] Attendee form
* [ ] Billing Information of Attendees during ticket payment process
* [ ] Billing Information in Tax (Wizard Basic Details Step 1)
* [ ] Billin

[2020-07-23 08:30] snitin315 commented on #4618
Taking on this.

[2020-07-23 08:32] mariobehling opened #4619 "Forms: Gender Fields need to be clicked twice"
Gender fields in attendee form (and speakers form) need to be clicked twice before the input is accepted (at Chrome, possibly other browsers as well).

Expected: One click should be sufficient.

![Screenshot from 2020-07-23 10-33-16](https://user-images.githubusercontent.com/1583873/88266714-f0e41f00-cccf-11ea-8745-b69446699253.png)

[2020-07-23 08:35] mariobehling opened #4620 "Order Page: Card image when using Stripe Payments not showing"
The should be a small card image when users pay with Stripe. It is missing.

![Screenshot from 2020-07-23 10-16-44](https://user-images.githubusercontent.com/1583873/88266863-3bfe3200-ccd0-11ea-81d0-d743fa1874be.png)

[2020-07-23 13:54] mariobehling opened #4621 "Publish/Unpublish: Show pop-up to confirm choice"
Publishing or unpublishing an event is a bit step. Therefore we should have a confirmation pop-up if someone publishes or unpublishes an event on the event dashboard here:

![event-nav](https://user-images.githubusercontent.com/46647141/88275853-b09a9600-ccfb-11ea-85a7-aa26387180f5.gif)

1. If an organizer wants to publish an event here, please show a pop up with the following text:
This will publ

[2020-07-23 14:44] ruhci28 commented on #4256
Hii @iamareebjamal  i am making changes in /app/sentry.ts according to the guiding link . does i am going right .?

[2020-07-23 14:49] snitin315 commented on #4620
I found the issue, will send a fix.

[2020-07-23 17:21] mariobehling opened #4622 "Notification/Reminder for "Ticket Sales Period" ending or has ended"
A common problem of organizers is that they are not always aware of their ticket sales period. Sometimes ticket sales end and organizers do not realize it.

Therefore we should have a reminder message and notification for "ticket sales period ending".

* [ ] Send ticket sales ending message
   * [ ] a) 7 days before they expire
   * [ ] b) 24 hours before they expire
* [ ] Send tickets sales has e

[2020-07-23 17:56] mariobehling opened #4623 "Tickets: Take out "Ticket Group" from Ticket Settings and add pop-up to "Hide Ticket" instead"
The ticket group option makes sense logically, but users who are new to the system do not understand it even though it is similar to Eventbrite. The ticket group option in the ticket settings allows organizers to define ticket access through a specific code.

### Please change the feature as follows:
* Take out the ticket group option UI from the ticket settings
* Add a pop-up to when the user cli

[2020-07-23 18:00] mariobehling opened #4624 "Ticket Creation: Show ticket box "Expanded" with all Settings"
Organizers are often not aware about all ticket settings and choose the standard settings which are not always suitable for them.

Therefore we should help them to be aware of all settings. Currently we only show the basic options when an organizer creates a ticket. Instead, please:
* When an organizer creates a ticket and clicks on one of the blue ticket boxes show the expanded ticket including a

[2020-07-23 18:11] mariobehling opened #4626 "Display of Error Message too Short and often not Easy to be Seen"
Error Message often appear as a pop up on the bottom of the page and they disappear to fast. The user is also not able to copy error messages.

Please suggest and implement a better way for error messages, that:
* Do not disappear until the user has resolved them (if the user is able to resolve them at all)
* Do not show up as a pop up, but instead show up on the page itself where the user sees th

[2020-07-23 19:32] #4592 closed

[2020-07-24 02:38] ruhci28 commented on #4609
HIi @mariobehling  i want to work on this issue

[2020-07-24 02:41] ruhci28 commented on #4619
Hii @mariobehling  can i work on this issue.?

[2020-07-24 03:11] snitin315 commented on #4609
Go ahead.

[2020-07-24 04:07] mariobehling commented on #4619
Hi, no need to ask if no-one else is working on things. Please go ahead and make a PR for any solution. Thanks

[2020-07-24 06:21] snitin315 commented on #4621
I will take this up.

[2020-07-24 10:33] ruhci28 commented on #4609
![Screenshot 2020-07-24 at 4 00 51 PM](https://user-images.githubusercontent.com/59759735/88382924-156ef280-cdc7-11ea-87c2-ea26564c2dfc.png)
Hii @snitin315 is i am going right .?

[2020-07-24 10:50] ruhci28 commented on #4610
![Screenshot 2020-07-24 at 4 18 16 PM](https://user-images.githubusercontent.com/59759735/88384092-667fe600-cdc9-11ea-8322-fb1ff63f3e6a.png)
Hii @mariobehling  I changed the name "External Event URL" to "Website"

[2020-07-24 11:43] ruhci28 commented on #4609
Hii @snitin315 do I have to create an account to create an event locally

[2020-07-24 11:45] snitin315 commented on #4609
Yes

[2020-07-24 11:47] snitin315 commented on #4609
Looks like expected behavior for basic-details step. We have separate fields for Github and etc links in attendee , speaker forms too as mentioned in Issue description.

[2020-07-24 11:49] ruhci28 commented on #4609
okay I will change those to

[2020-07-24 12:01] ruhci28 commented on #4609
Hii @snitin315  i created an account but the gmail validation link is not working . and the attendee , speaker form are blocked .

[2020-07-24 12:02] ruhci28 commented on #4609
![Screenshot 2020-07-24 at 5 31 52 PM](https://user-images.githubusercontent.com/59759735/88389188-9af89f80-cdd3-11ea-9c45-ed704c3ccbdd.png)

[2020-07-24 12:03] snitin315 commented on #4609
You need to enter required details and click on Forward (at bottom ) to move to next step.

[2020-07-24 12:04] ruhci28 commented on #4609
after feeling all the details also the forward button is disable

[2020-07-24 12:04] ruhci28 commented on #4609
Email verfication link is not working .

[2020-07-24 12:05] ruhci28 commented on #4609
it giving response of Not found

[2020-07-24 12:25] snitin315 commented on #4609
Probably you have `eventyay.com` in your verification link, try changing it to `localhost:4200`

[2020-07-24 13:11] ruhci28 commented on #4609
Thanks, it worked

[2020-07-24 14:00] vinay-code123 commented on #4542
i will like to do

[2020-07-24 16:35] chetan-v commented on #4587
@mariobehling please give the instruction to reproduce it.
and I want to work on it.

[2020-07-25 01:57] iamareebjamal commented on #4587
Reproduction steps are given in the issue itself

[2020-07-25 06:54] Neilblaze commented on #4617
@mariobehling Can assign me this issue please? Also, is the redirection link for Instagram social link this - `https://www.instagram.com/fossasia/` since there aren't any Eventyay instagram page?

[2020-07-25 06:55] Neilblaze commented on #4617
@mariobehling Can you assign me this issue please? Also, is the redirection link for Instagram social link this - `https://www.instagram.com/fossasia/` since there aren't any Eventyay instagram page?

[2020-07-25 07:12] chetas411 commented on #4612
hey @mariobehling  Can i work on this issue?

[2020-07-25 08:54] iamareebjamal commented on #4612
Yes

[2020-07-25 10:01] snitin315 commented on #4626
We can disable auto-hiding of these notifications by setting `closeAlert: null`, or we can increase the time duration by default it's 2.5 seconds`
https://github.com/adopted-ember-addons/ember-notify#examples

[2020-07-25 10:44] iamareebjamal commented on #4626
This should follow the UX where if a user hovers over the message, the message timer stops and message does not dismiss until the user removes the mouse from the message. Secondly, message size and position should be changed more appropriately

[2020-07-25 11:28] chetas411 commented on #4612
I am getting an error with ember-cli while deploying the project locally on my pc.
DEPRECATION: ember-cli-babel 5.x has been deprecated. Please upgrade to at least ember-cli-babel 6.6. Version 5.2.8 located
please help

[2020-07-25 11:37] snitin315 commented on #4612
It's a warning ignore it.

[2020-07-25 13:28] chetas411 commented on #4612
I run the command ember serve but it's not working it's showing building but taking very long time and still not start running on localhost

[2020-07-25 13:52] ruhci28 commented on #4609
![Screenshot 2020-07-25 at 7 17 42 PM](https://user-images.githubusercontent.com/59759735/88458419-91db0180-ceab-11ea-93ed-715ec571580a.png)
![Screenshot 2020-07-25 at 7 08 18 PM](https://user-images.githubusercontent.com/59759735/88458422-956e8880-ceab-11ea-91cb-484b66eb1729.png)
![Screenshot 2020-07-25 at 5 59 43 PM](https://user-images.githubusercontent.com/59759735/88458458-d1095280-ceab-11ea-

[2020-07-25 20:19] iamareebjamal commented on #4609
This is not what Mario meant. He meant that twitter field should have `https://twitter.com/@` as fixed part and rest username to be filled by user. Similar with Instagram and others with fixed part of URL being already present. What possible use could we have for providing a dropdown for Instagram with option of youtube.com? That'll create even more confusion

[2020-07-26 03:29] ruhci28 commented on #4609
Thansks @iamareebjamal  for the review . I will make it as expected.

[2020-07-26 04:24] #4617 closed

[2020-07-26 06:20] chetas411 commented on #4612
Do I also  need to change the background color to the color shown in the screenshot ?
Also I am a beginner so just want to confirm that I have to work on the files named **_footer-main.hbs_** and _**footer.scss**_ to make the code changes?

[2020-07-26 06:34] iamareebjamal commented on #4612
No change in color required

[2020-07-26 06:39] chetas411 commented on #4612
Ok, please confirm I have to make changes only in the files _**footer-main.hbs**_ and _**footer.scss**_ ?

[2020-07-26 06:48] iamareebjamal commented on #4612
Wherever the changes are required to make footer 4 columned

[2020-07-26 06:48] ruhci28 commented on #4609
can anyone help me with this
![Screenshot 2020-07-26 at 12 16 35 PM](https://user-images.githubusercontent.com/59759735/88473329-ffce0a00-cf39-11ea-9614-e7fa4b0644e2.png)

[2020-07-26 07:11] edenyay commented on #2442
Hi @iamareebjamal, I think there is something we need to enhance in the ticket flow after switching from pdf attachments to link in the confirmation email.

2 issues I have encountered today:

1. When click on the link on confirmation email to view ticket/order, ticket buyer will be directed to eventyay login page (if they are not logged in eventyay). After they login, nothing appears. They then n

[2020-07-26 07:12] snitin315 commented on #4609
This is maybe due to recent change in schema, please try rebasing your branch with `development` again.

[2020-07-26 07:21] iamareebjamal commented on #2442
Can you please paste the link in which nothing was appearing? I tested that it was redirecting to order overview page.

For 2nd issue as well I'd need a link, you shouldn't be able to see the order info of another user unless you're an organizer or admin

[2020-07-26 07:21] iamareebjamal commented on #4609
You need to run `python manage.py db updgrade` for migrating the database schema

[2020-07-26 07:42] snitin315 commented on #4609
From the screenshot it seems she is using hosted development api.

[2020-07-26 08:18] edenyay commented on #2442
Here is the confirmation link https://eventyay.com/orders/4d47182c-a793-45ac-b0f6-df3386823f7d/view sent to my email. And here is the [screencast](https://youtu.be/TbXrBq5jIK4) of the issue.

Oh i got it. have checked it again. You are right, because i was logged in as an organizer so I was able to see the ticket purchased by that attendee.

[2020-07-26 08:43] iamareebjamal commented on #2442
I have reproduced the first issue. Will fix it, thanks

[2020-07-26 08:46] iamareebjamal commented on #4609
Hmm, yeah. Seems like a migration issue

[2020-07-26 08:54] iamareebjamal commented on #4609
Try now

[2020-07-26 08:56] snitin315 commented on #4609
I can access this page without any errors.
 https://open-event-frontend.now.sh/admin/content

[2020-07-26 08:59] snitin315 commented on #4609
Wait, I dont have an admin account still I can access that route.

I cant access /admin
But i can acess /admin/settings

[2020-07-26 09:10] snitin315 commented on #4609
The same behavior on production. Needs to fix it ASAP.
/cc @iamareebjamal

[2020-07-26 09:21] iamareebjamal commented on #4609
It's working fine https://api.eventyay.com/v1/settings

[2020-07-26 09:25] iamareebjamal commented on #4609
You can see the page but can't make any modifications as there are server side authorization checks on place. However, raise a separate issue for this bug

[2020-07-26 09:29] snitin315 opened #4639 "A non admin user can see some admin pages"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/admin/settings`

4. See error

**Expected behavior**

Users should not be able to see any of the admin pages.
![Screenshot at 2020-07-26 14-58-11](https://user-images.githubusercontent.com/46647141/88475759-75dd6b80-cf50-11ea-837b-7494ae0a0b9c.png)

**Screenshots**

![Screenshot at 2020-07-26 14-55-31](https://user-

[2020-07-26 09:38] chetas411 commented on #4612
I am not able to find the file that contains data which is passing in the handlebar expressions in _**footer-main*.hbs*_ file as i need to add the new content for the intended footer.

[2020-07-26 10:56] snitin315 commented on #4612
You can use the GitHub search feature.

[2020-07-26 10:58] iamareebjamal commented on #4522
State and Colors:

Draft:
![image](https://user-images.githubusercontent.com/3874064/88477315-b8a54080-cf5c-11ea-82e2-1d378a5c211b.png)

Accepted:
![image](https://user-images.githubusercontent.com/3874064/88477327-cc50a700-cf5c-11ea-9963-463cfe5171ee.png)

Confirmed:
![image](https://user-images.githubusercontent.com/3874064/88477332-d96d9600-cf5c-11ea-824c-d66fb1d77896.png)

Rejected:
![image](h

[2020-07-26 11:49] ruhci28 commented on #4609
It's Working now

[2020-07-26 12:07] ayushsatyam146 commented on #4608
I would like to work on this issue @mariobehling.
Can you please explain about the twitter widget thing, It's not clear from the screenshot posted.
In the example https://eventyay.com/e/0917096d widget is on right.
From my understanding, I think that we need the twitter widget on left instead of right on the event pages.

[2020-07-26 12:09] iamareebjamal commented on #4608
No

[2020-07-26 12:13] ayushsatyam146 commented on #4608
What does No mean
I can't work on this or something else

[2020-07-26 12:14] iamareebjamal commented on #4608
No

[2020-07-26 12:15] ayushsatyam146 commented on #4608
okay but can I work on this

[2020-07-26 12:17] iamareebjamal commented on #4608
Yes

[2020-07-26 12:17] ayushsatyam146 commented on #4608
Thanks, also can you mention the pages where the widget is needed

[2020-07-26 12:18] iamareebjamal commented on #4608
Already mentioned in the issue

[2020-07-26 12:19] ayushsatyam146 commented on #4608
Thanks, will try my best

[2020-07-26 17:55] iamareebjamal commented on #4522
To be implemented for speakers

[2020-07-27 04:23] iamareebjamal opened #4641 "Revert session state if change fails"
If session edit request in admin panel fails, the session state must be reverted back to what it was to prevent confusion as the actual session state on server will not be changed. The change in local objects should by default only be commited when `save` has succeeded, and local changes visible only when explicitly stating so, but it wouldn't be ember-data without controversial design choices

[2020-07-27 04:48] #4641 closed

[2020-07-27 09:52] #4590 closed

[2020-07-27 10:47] Haider8 commented on #4003
@iamareebjamal After removing target blank the window freezes because of `.ui.dimmer` css which sets the background color to `rgba(0, 0, 0, 0.85)` but I couldn't figure out why it's happening. Can you please take a look at it.

[2020-07-27 10:48] iamareebjamal commented on #4003
This seems like a bug in semantic UI. Move to another issue

[2020-07-27 10:48] iamareebjamal commented on #4003
Focus on newly opened issues

[2020-07-27 13:36] ruhci28 commented on #4609
![Screenshot 2020-07-27 at 7 03 10 PM](https://user-images.githubusercontent.com/59759735/88547825-e1503780-d03b-11ea-829a-2bb439bb89c9.png)
Hii @iamareebjamal  and @snitin315  i think i should remove the dropdown . Can anyone suggest me how can i make this type of input without a dropdown.

[2020-07-27 13:39] snitin315 commented on #4609
Please create a PR and lets move the discussion there.

[2020-07-27 13:39] ruhci28 commented on #4609
okay

[2020-07-27 16:37] ruhci28 commented on #4607
Hii @mariobehling  i made the following changes .
![Screenshot 2020-07-27 at 10 02 53 PM](https://user-images.githubusercontent.com/59759735/88567371-04d3ac00-d055-11ea-98ea-48a2e3b9b555.png)
1.) I change the text color of text below Information about attendee form .
2.) I also made the custom form field input visible when the attendee form is turn on .
![Screenshot 2020-07-27 at 10 06 48 PM](http

[2020-07-27 17:54] ruhci28 commented on #4623
Hii, I want to work on this issue

[2020-07-27 23:15] #4212 closed

[2020-07-28 03:35] #4607 closed

[2020-07-28 08:32] Haider8 commented on #3956
@iamareebjamal Can I work on this?

[2020-07-28 08:35] iamareebjamal commented on #3956
Not a priority now. Work on newly raised issues.

[2020-07-28 08:56] mariobehling opened #4649 "Ticket Form: Pre-fill tickets with standard ticket data"
When an organizer creates a ticket, please pre-fill the ticket form with standard content as follows:
* Free Ticket: In field ticket name "Free Ticket", in field quantity "100"
* Paid Ticket: In field ticket name "Standard Ticket", in field quantity "100"
* Donation Ticket: In field ticket name "Donation Ticket", in field quantity "100", in field minimum "1", maximum "10000"

Just as now, the fiel

[2020-07-28 09:02] mariobehling opened #4650 "Wizard Step 1 Basic Details: "Require Billing Info" change button to tickbox"
The billing info has a radio button. It should be a tickbox to enable organizers to disable the requirement if they want.

![Screenshot from 2020-07-28 10-59-30](https://user-images.githubusercontent.com/1583873/88643338-dd66f880-d0c1-11ea-8590-c42605bc6249.png)

[2020-07-28 09:02] snitin315 commented on #4649
I will take this up.

[2020-07-28 10:53] #4650 closed

[2020-07-28 12:51] edenyay opened #4652 "Implement Organizer Contact Form"
**Is your feature request related to a problem? Please describe.**
Currently if the organizers don't publish their contact in the event listing, the attendees won't be able to contact them even after they purchase the ticket and get the confirmation email.

**Describe the solution you'd like**
Add a link into the confirmation email where attendees can reach out to organizers via a contact form (or

[2020-07-28 13:48] mariobehling commented on #4652
We need to implement a form to achieve this.

@edenyay  The next question is who receives the email? Is it the organizer only or all co-organizer? How does Eventbrite handle this?

[2020-07-28 13:52] mariobehling commented on #4652
Also: Does the organizer have the option to answer from within the system or simply replies by email in Eventbrite? How should we do this? It is better to handle less communication through our platform and rather use standard emails.

E.g. maybe instead of a form we could also consider providing a custom temporary email address for each event. Emails to this email address would then be forwarded t

[2020-07-28 16:01] Haider8 commented on #4621
@snitin315 Can I please take this issue in case you haven't started working on this?

[2020-07-28 16:02] snitin315 commented on #4621
Sure, go ahead :+1:

[2020-07-29 07:41] ruhci28 commented on #4623
HIi, using a didUpdate method on checkbox opens the pou up on every update . does anyone have better alternative of didUpdate .

[2020-07-29 08:18] Haider8 commented on #4525
@iamareebjamal I want to work on this issue

[2020-07-29 08:20] iamareebjamal commented on #4525
Go ahead

[2020-07-29 08:20] iamareebjamal commented on #4525
But first work on pending featured event PR. Call for speaker section is also missing in that

[2020-07-29 09:18] mariobehling commented on #4639
Confirming this for the following strings:
/admin/sessions/all
/admin/content
/admin/settings

Furthermore, it is even possible for those users to perform some actions.

[2020-07-29 09:36] mariobehling opened #4657 "Front Page: Call for speakers not showing up"
Events with an open call for speakers are not showing up on the front page. Right now the Nextcloud event should be showing up here for example.

![Screenshot from 2020-07-29 11-34-43](https://user-images.githubusercontent.com/1583873/88783814-8f202b00-d18f-11ea-8b7c-711e5b781adc.png)

This is similar to https://github.com/fossasia/open-event-frontend/issues/4481

[2020-07-29 09:40] iamareebjamal commented on #4639
Those actions will be rejected by the server. I have verified this. If any action is being allowed, this is serious and server needs to be fixed. Please mention the actions as then only frontend fix won't be sufficient

[2020-07-29 09:41] iamareebjamal commented on #4657
Same as #4481, will be fixed in #4653

[2020-07-29 10:06] #4587 closed

[2020-07-29 10:26] iamareebjamal commented on #4621
Colors are still not changed

[2020-07-29 10:55] #4619 closed

[2020-07-29 10:55] Haider8 commented on #4621
Will send a separate PR

[2020-07-29 16:53] ruhci28 commented on #4237
Hii @iamareebjamal the searchbar seems to be working fine . what is the issue with search bar .

[2020-07-29 20:53] iamareebjamal commented on #4237
Where are you checking the search bar?

[2020-07-29 21:20] mariobehling opened #4660 "Basic Details Wizard Step 1: Change "Name" to "Event Name", change "Owner..." to "Organizer...""
1. Change "Name" to "Event Name" in the wizard form (step 1).

![Screenshot from 2020-07-29 23-18-40](https://user-images.githubusercontent.com/1583873/88854740-08506a00-d1f2-11ea-88a1-4adff33018c2.png)

2. Change Owner
a) Add owner information to -> Add Organizer or Group Information
b) Owner Name to -> Organizer or Group Name
c) Owner Description to -> About the Organizer or Group

![Screenshot

[2020-07-29 22:03] mariobehling opened #4662 "Create "Organizer/Group Profiles" Feature"
For future features like recurring events it is important to keep the set up process simple. A feature that can help here is the "Group Profile" feature. An group page needs to provide the feature "follow group" and show events on the group page.

Please provide the option of group features as follows:

**1. Private Pages**
- [x] Add "Group" in the dropdown menu above "Manage Events" using the slu

[2020-07-29 22:28] mariobehling opened #4663 "Implement Pro-Features and Restrictions for Non-Paying Users"
What are pro features? Pro features can be a variety of features. Certainly pro features are features that result in additional cost of running the platform. Therefore implement the following as pro feature:

Sending out emails results in additional overhead as well as cost of using email services. Therefore make the following emails part of pro features:
* Sending out acceptance or rejection emai

[2020-07-30 00:19] snitin315 commented on #4660
Taking on this.

[2020-07-30 04:24] snitin315 commented on #4621
@Haider8 can I implement the color part? only If you haven't started working on it.

[2020-07-30 04:44] iamareebjamal commented on #4621
@snitin315 Go ahead

[2020-07-30 04:45] #4660 closed

[2020-07-30 05:26] #4621 closed

[2020-07-30 08:39] mariobehling opened #4670 "Payment Form: Billing Information Correct Sorting, do not make required and fix Country dropdown"
The payment form in the Billing Information tab (https://eventyay.com/account/billing/payment-info) needs to be fixed:
* [x] Add a helper text above the form as follows: "The information you provide here will be added to your invoices. Please ensure you have the correct information added here as it is not possible to regenerate invoices with different information at a later time."
* [x] Correct Fo

[2020-07-30 09:48] Raunaksingh100 commented on #4670
can i work on this issue???? @mariobehling

[2020-07-30 09:50] sarthakhanda commented on #4670
please me to work on this issue!

[2020-07-30 10:04] sarthakhanda commented on #4670
please allow me to work on this issue!

[2020-07-30 10:08] creatorpiyush commented on #4256
Hii, anyone working on this project. If not, can I .?

[2020-07-30 10:14] snitin315 commented on #4670
Go Ahead

[2020-07-30 10:25] iamareebjamal commented on #4256
Go ahead

[2020-07-30 11:53] Haider8 commented on #4657
Yes, both Nextcloud Conference 2020 and OpenTechSummit Thailand are visible after #4653 fix.

[2020-07-30 12:03] #4481 closed

[2020-07-30 12:06] #4657 closed

[2020-07-30 12:14] amit2699 commented on #4670
Can I work on this as well.....

[2020-07-30 13:28] snitin315 commented on #4670
No, it will lead to duplucate work. Please check on some other issues.

[2020-07-30 14:03] mariobehling opened #4671 "Wizard: Simplify UX by separating step 1 into two steps"
The wizard step one has increase complexity over time. A number of fields are not necessary to publish an event. We can simplify the user experience by adding a step 2 and moving some of the form elements to step 2. Please implement it as follows:

* Add a step two with the heading "Additional Info and Settings"
* Move the following fields to step 2:
  * Links and Social Media
  * Listing Privacy

[2020-07-30 14:06] mariobehling opened #4672 "Ticket Forms (Basic Details): All tickets are expanded when user edits "Basic Details""
When editing an event all ticket types are expanded. Expected: Tickets should only be expanded if the user clicks the settings symbol to expand them. And tickets should also be expanded when they are created, but they should not be expanded when the user revisits the wizard to edit details.

Follow up to https://github.com/fossasia/open-event-frontend/issues/4624

![Screenshot from 2020-07-30 16-0

[2020-07-30 14:24] snitin315 commented on #4608
I will fix it.

[2020-07-30 15:06] himanshujaidka commented on #4672
Assign this issue to me @mariobehling

[2020-07-30 15:07] amit2699 commented on #4670
Okay sure No problem

[2020-07-30 15:47] mariobehling commented on #4672
Go ahead. Simply make a PR when ready. We dont have a dedicated policy assigning issues to new devs.

[2020-07-30 16:24] mariobehling opened #4673 "Wizard: Make Event Saving, Draft Mode, Publishing Clearer"
**1. When event is created and still unpublished (Draft Mode)**
* _Requirement_ for saving a draft is only
  1. to have an event name
* show buttons:
  * Discard (only when event was never saved - when creating the event: It does not save the event and discards any data that was entered. After that direct user back to dashboard of all events. If user has saved an event previously, there is no "Dis

[2020-07-30 17:34] himanshujaidka commented on #4672
ok @mariobehling

[2020-07-30 17:44] mariobehling opened #4676 "Test and ensure event data is only changed after organizer hits save button"
In the past a number of fields changed even if an organizer did not hit the "save" button on the event wizard. Please test and ensure changes to the event, e.g. tickets that get changed and deleted, are only stored after the event organizer hits the save button.

[2020-07-30 18:01] sarthakhanda commented on #4670
- [ ] Do not make fields required in this form (let the users decide what they need)
- [ ] Fix Country dropdown. It automatically shows data saved in the browsers instead of using the dropdown country option

not sure how to fix these two. Any suggestions? @snitin315

[2020-07-30 18:09] snitin315 commented on #4670
First try to complete the first two items in the list and create PR. Then we can discuss more.

[2020-07-30 18:25] himanshujaidka commented on #4671
It is beginner-friendly issue to

[2020-07-30 18:36] himanshujaidka commented on #4671
I'm working on it

[2020-07-30 19:52] himanshujaidka commented on #4671
I have created new option but how to link it with the main form? @mariobehling

[2020-07-31 03:14] #4525 closed

[2020-07-31 03:15] #4672 closed

[2020-07-31 06:39] Aaishpra commented on #4611
@mariobehling can i work on this?

[2020-07-31 06:40] mariobehling opened #4684 "Edit Session Option for Speakers missing from Session Page"
On the session page the "Edit Session" option should be available when a speaker visits their session page, e.g. compare https://eventyay.com/e/1442/sessions/6255

![Screenshot from 2020-07-31 08-27-10](https://user-images.githubusercontent.com/1583873/89007660-73d92b00-d309-11ea-8294-822fd7a9cd33.png)

[2020-07-31 06:48] mariobehling opened #4685 "Standardize URLs and edit URLs"
URLs are not well standardized in the system. Many system show a "node" and provide an option to edit a node by attaching `/edit`.

Please implement the same for URLs in the system such as
* Organizer session change https://eventyay.com/events/0917096d/sessions/edit/6255 to https://eventyay.com/events/0917096d/sessions/6255/edit
* Speaker session change https://eventyay.com/e/0917096d/cfs/edit/ses

[2020-07-31 07:42] Haider8 commented on #4684
@iamareebjamal Can I work on this

[2020-07-31 08:28] iamareebjamal commented on #4684
Yes

[2020-07-31 08:53] snitin315 commented on #4611
Yes

[2020-07-31 09:08] mariobehling commented on #4612
Some small items are remaining
* Left align columns
* Heading "Connect With Us" -> capital W in with, capital U in us
* Provide options in the admin content area for each column here https://eventyay.com/admin/content (no hardcoding of links instead give the admin the option to change it)

[2020-07-31 09:10] iamareebjamal commented on #4612
I think last point should be handled in #4564

[2020-07-31 09:41] snitin315 commented on #4612
I agree, last point should be handled there.

[2020-07-31 09:41] snitin315 commented on #4612
I will fix the alignment and here.

[2020-07-31 13:28] iamareebjamal opened #4689 "Change tests from assert.ok to specific test cases"
assert.ok is not fit for any checking except those returning booleans, it was copy-pasted without checking actual use cases. When a test fails, it is important to know what was expected and what was actual value, but assert.ok tells you:

Expected: true
Actual: false

🤷

Replace assert.ok with specific methods like `assert.dom(element).includesText` which will tell what the actual value and expect

[2020-07-31 14:33] iamareebjamal commented on #3711
Working fine as mentioned above

[2020-07-31 14:33] #3711 closed

[2020-07-31 14:34] iamareebjamal commented on #3926
Already done in #4354 and that introduced the scrolling bug

[2020-07-31 14:34] #3926 closed

[2020-07-31 14:41] iamareebjamal commented on #4213
Duplicate of #4525. Opposite actually

[2020-07-31 14:41] #4213 closed

[2020-07-31 14:42] iamareebjamal commented on #4398
Bug in Ember Core. Can't do anything about it

[2020-07-31 14:42] #4398 closed

[2020-07-31 14:48] iamareebjamal commented on #3940
Fixed in #4096

[2020-07-31 14:48] #3940 closed

[2020-07-31 14:50] iamareebjamal commented on #4573
Duplicate of #2346

[2020-07-31 14:50] #4573 closed

[2020-07-31 14:53] iamareebjamal commented on #3497
Fixed in #4653

[2020-07-31 14:53] #3497 closed

[2020-07-31 14:55] iamareebjamal commented on #3598
The old component was too complicated and a new simpler component is now used.

[2020-07-31 14:55] #3598 closed

[2020-07-31 14:56] iamareebjamal commented on #3495
Fixed in #4038 and duplicate of #3347

[2020-07-31 14:56] #3495 closed

[2020-07-31 14:58] chetas411 commented on #4612
Please review my PR to this issue:
https://github.com/fossasia/open-event-frontend/pull/4690

[2020-07-31 15:18] iamareebjamal commented on #3168
Deleting orders is a mistake. Adds too much complexity. Order can be cancelled, so no use of deleting. Hence, the issue is obsolete. We'll prevent deleting order in future as well

[2020-07-31 15:18] #3168 closed

[2020-07-31 15:23] iamareebjamal commented on #2732
It is now calculated on server and it doesn't make sense to separate ticket price. How to distribute discounted money? How to distribute tax? In future, discount code will be applied to individual tickets, then it'll be more complex to handle. It is fine as it is

[2020-07-31 15:23] #2732 closed

[2020-07-31 15:28] iamareebjamal commented on #3496
Verified what was mentioned above. This is the drawback of DB driven approach where everything in API is a row in a database and every field is a column. It should have been properly migrated when the feature was implemented, but now nothing can be done. Events prior to the migration won't show owner, events after the migration will

[2020-07-31 15:28] #3496 closed

[2020-07-31 15:42] divs4debu commented on #4689
@iamareebjamal  can i work on this issue

[2020-07-31 15:44] iamareebjamal commented on #4689
Go ahead. See this for reference https://github.com/fossasia/open-event-frontend/pull/4686/files#diff-27a6a4f44820c18fbe4f53e645a5a20fR15

[2020-07-31 17:20] #4612 closed

[2020-07-31 17:33] sarthakhanda commented on #4670
@mariobehling @snitin315 I've linked a PR regarding this issue. Please review it so i can proceed to the remaining issues.

[2020-07-31 18:35] #4639 closed

[2020-07-31 19:08] Haider8 commented on #3505
@iamareebjamal I think this issue doesn't exist anymore. Please take a look

![onsite-placed-order](https://user-images.githubusercontent.com/43299408/89068575-27383300-d38f-11ea-9125-6fed6e74edb4.gif)

[2020-07-31 19:10] iamareebjamal commented on #3505
Thanks

[2020-07-31 19:10] #3505 closed

[2020-07-31 19:56] Haider8 commented on #4676
@iamareebjamal Tested thoroughly and looks like the problem is only with ticket deletion

[2020-08-01 09:44] KKVANONYMOUS commented on #4620
@mariobehling I want to work on this

[2020-08-01 10:07] Aaishpra commented on #4611
![image](https://user-images.githubusercontent.com/66299533/89099061-593aab00-d40a-11ea-8e51-4760a7ac0cd3.png)
I wanted to add the checkbox in front of the Location and Online Events field but to add it in front i will have to change the display of the labels from block to inline but i was unable to find the code in open-event-frontend.css
@snitin315 can you help me with this
And another question

[2020-08-01 11:08] mariobehling opened #4696 "Admin: Make Events Sortable According to Featured and Promoted Event"
In the admin section at https://eventyay.com/admin/events/ events cannot be sorted according to featured and promoted events. Please implement this.

![Screenshot from 2020-08-01 13-05-04](https://user-images.githubusercontent.com/1583873/89100548-0c4dd900-d3f8-11ea-99f9-56b806649571.png)

[2020-08-01 11:34] mariobehling opened #4697 "Front Page: Standardize Logic and Admin Control to list events (promoted, featured, cfs etc.) on start page"
We have tried different ways to control events automatically that we want to show up on the front page. It is time to standardize a logic how events show up on the front page.

**1. Featured Events**

This is easy. Any event that is switched to "Featured Event" by admins is listed here.

**2. Upcoming Events**

Cat a)
* [x] up to 21 events should be listed here
* [x] admins should have the option

[2020-08-01 16:11] divs4debu commented on #4685
working on it

[2020-08-02 03:05] #4256 closed

[2020-08-02 03:12] divs4debu commented on #4685
I have completed for sessions end point. Currently working for basic-details.

[2020-08-02 03:13] snitin315 commented on #4670
Github has a nice feature to link PRs to issues. Please use it.

[2020-08-02 04:46] Aaishpra commented on #4611
@snitin315 i wanted to ask if we are going to make the location field disappear then shouldn't it be removed from the required class

[2020-08-02 05:06] snitin315 commented on #4611
Yes it won't be a required field then, but either of the field must be present to publish the event.

[2020-08-02 10:17] Aaishpra commented on #4611
@snitin315
I wanted to add the checkbox in front of the location field but to do so i think i would have to change the display from flex to inline
,but i couldn't find the css file to do so
![image](https://user-images.githubusercontent.com/66299533/89120777-88b6e980-d4d6-11ea-9ed0-48e6d9e26c25.png)
can you please try to help me by telling where would i have to add the css code to make the display

[2020-08-02 10:23] snitin315 commented on #4611
We use Ember.js, inspecting is a good idea but it wont help much in this case. Also No need to cahnge CSS.
Find the corresponding file inside templates folder and you will know what to do next.

[2020-08-02 12:22] mariobehling opened #4702 "Reminder Email: Implement email to finish creation of an event"
Add an email and notification to remind organizers to finish their event setup. Eventbrite has a similar feature to compare.

Subject of Email:
`Your event [Event Name] has not been published`

Text:

[code]

![Screenshot from 2020-08-02 14-12-07](https://user-images.githubusercontent.com/1583873/89122814-c57ce380-d4ca-11ea-89f0-e2ca1449b0ca.png)

[2020-08-02 12:28] Aaishpra commented on #4611
Sure thanks for helping out.

[2020-08-02 12:40] snitin315 commented on #4702
It shoupd be transferred to server repo.

[2020-08-02 14:39] chetas411 commented on #4618
Please review my PR @mariobehling @snitin315 @iamareebjamal

[2020-08-03 04:13] edenyay commented on #4652
After sending the form. there was a notice saying that organizers will reply in some days. Then I logged back to organizer account of that event (like 10 mins after), no notification popped up. Not sure if we need to wait for 24 hrs or something. Will update on this.

![Screen Shot 2020-08-03 at 11 09 02](https://user-images.githubusercontent.com/32028823/89145188-329b8200-d57a-11ea-89e1-6f3ee909b

[2020-08-03 09:30] edenyay commented on #4652
@mariobehling as the organizer, I receive an no-reply email within in like 10 minutes from eventbrite containing the email of the attendee (as they have provided that into the contact form earlier). And this is the end of eventbrite's role. The organizers can choose to contact the attendees directly or to ignore it. Not sure if co-organizer also receives same email. More tests need to be done to c

[2020-08-04 08:11] edenyay commented on #4604
hi @mariobehling, follow up on the issue with discussed during open-event meeting, I've tried out papercall.io. And the flow as below:

1. Organizer's dashboard where they can change the status of the session - the TWO far end buttons: to notify a specific speaker or notify all speakers whose sessions accepted.

![Screen Shot 2020-08-04 at 15 00 51](https://user-images.githubusercontent.com/320288

[2020-08-04 10:12] #4618 closed

[2020-08-04 13:48] #4676 closed

[2020-08-04 15:11] mariobehling commented on #4604
Ok, makes sense to do it that way. So, a good implementation would be:
a) Separate "Changing Status" and "Sending Email"
b) Implement a column for "Notify"
c) Open a pop similar to the above where organizers can change a custom message
d) Once the notification has been sent show "Sent" in the notification column and an icon or button next to it "Resend"

In further development (in separate issue)

[2020-08-04 16:33] iamareebjamal opened #4706 "Session save throwing error when submitting"
Session saving does not work after changes in serializer to delete complex-field

Wrap it in try catch

[2020-08-04 18:05] iamareebjamal commented on #4604
@mariobehling There is a major blocker in terms of adding different types of emails for different state changes. @divs4debu told me about it on call. The database will need to be migrated and notification types will be needed to change and there are a lot of compatibility issues.

This is because current implementation uses `SESSION_ACCEPT_REJECT` as email key and the same is used as action in mes

[2020-08-04 18:07] iamareebjamal commented on #4608
@snitin315 Status?

[2020-08-04 18:09] iamareebjamal commented on #4685
eventyay.com/events/5ac8e4d9/edit/basic-details to eventyay.com/events/5ac8e4d9/basic-details/edit will require major architectural changes as each section is nested under edit route and has specific code calls under this route. Is this change very necessary @mariobehling ?

[2020-08-04 18:10] #4706 closed

[2020-08-04 18:16] iamareebjamal commented on #4684
The session is locked. That's why it is uneditable

[2020-08-05 00:19] snitin315 commented on #4608
Wip.

[2020-08-05 02:58] mariobehling commented on #4685
Ok, lets move it to lower priority and discuss this later. It was just confusing to me to see different structures like sessions/edit/6255 and cfs/edit/session/6255. I dont understand why similar functionality has a different URL structure.

[2020-08-05 02:59] mariobehling commented on #4685
But it seems @divs4debu is able to make this work. So, please proceed as you see fit.

[2020-08-05 06:56] ArunTeltia commented on #4702
How to reproduce this error ?

[2020-08-05 09:04] iamareebjamal commented on #4526
Root cause of problem: https://github.com/Semantic-Org/Semantic-UI/issues/6449

[2020-08-05 09:20] Haider8 commented on #4526
Okay. How to fix it now? Fomantic UI?

[2020-08-05 09:21] iamareebjamal commented on #4526
I have fixed it

[2020-08-05 09:22] iamareebjamal commented on #4526
For modals we need a workaround but for now, I am going to merge #4538. Please test after merging and report any issues so we can fix it or revert it

[2020-08-05 09:23] #4526 closed

[2020-08-05 10:16] mariobehling opened #4711 "Publish/Unpublish: Colors not as before after update to fomantic UI"
Publish/Unpublish: Colors not as before after update to fomantic UI. The colors are expected as below and implemented in PR https://github.com/fossasia/open-event-frontend/pull/4668

![Screenshot at 2020-07-30 10-29-16](https://user-images.githubusercontent.com/46647141/88882955-a70bb380-d250-11ea-9614-3d4a762c289d.png)

![Screenshot at 2020-07-30 10-29-03](https://user-images.githubusercontent.co

[2020-08-05 10:18] snitin315 commented on #4711
I will take a look at this.

[2020-08-05 10:22] mariobehling opened #4712 "Wizard Step 3 and Step 4: Not possible to save draft"
The wizard in step 3 and 4 cannot save the event as expected.

In step 3 e.g. https://eventyay.com/events/921345bd/edit/sponsors is shows "Fill in required fields", whereas the option to use the form is switched off (but it was switched on and off before).

In step 4 there is not event an error message, but pressing "Save Draft" does not result in any action, e.g. at https://eventyay.com/events/92

[2020-08-05 12:12] snitin315 commented on #4711
It's not due to fomantic UI update. This bug was introduced in #4674 .

Sending a fix.

[2020-08-05 12:33] snitin315 commented on #4608
@iamareebjamal I am unable publish an event with speaker-and-session on.
![Screenshot at 2020-08-05 18-00-18](https://user-images.githubusercontent.com/46647141/89413042-bd7ca800-d745-11ea-8fd6-379dc0143248.png)

[2020-08-05 12:37] iamareebjamal commented on #4608
That's because the array was added in the component and tickets are being deleted in the mixin which is common to all the steps
https://github.com/fossasia/open-event-frontend/pull/4692/files#diff-fb7ee4f92b345d827ec7615d16a3c08dR235

[2020-08-05 12:49] #4711 closed

[2020-08-05 14:06] snitin315 commented on #4702
Its not an error. Its a feature you have to implement it.

[2020-08-05 14:27] ArunTeltia commented on #4702
oh okay so can i use nodemailer for adding this feature to send the message to the organizer who haven't finish thier setup?

[2020-08-05 14:43] snitin315 commented on #4702
Not actually, see how other mails are sent. (in open-event-server repository)

[2020-08-05 15:08] ArunTeltia commented on #4702
Okay

[2020-08-05 17:50] maze-runnar opened #4716 "Cropper modal in event-create wizard is not correctly positioned"
**Describe the bug**
Cropper modal in event-create wizard is not correctly positioned

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://eventyay.com/create
2. Click on select event image
3. See error

![Screenshot from 2020-08-05 23-19-24](https://user-images.githubusercontent.com/56407566/89446424-237f2480-d772-11ea-99d2-5bb8dda9ff6e.png)
![Screenshot from 2020-08-05 23-19-29](

[2020-08-05 20:54] mariobehling opened #4717 "Front Page: Question Marks instead of Location Search Box"
The front page shows questions marks at the area of the location search box for events.

This could have happened after the update to fomantic or after deactivating Google Maps APIs that might still have been active in the system.

As this is right in the middle of the front page, we should try to get this issue resolved asap.

![Screenshot from 2020-08-05 22-47-37](https://user-images.githubuserc

[2020-08-06 04:26] iamareebjamal commented on #4717
This happened previously as well and also doesn't happen always

[2020-08-06 09:21] Haider8 commented on #3999
@iamareebjamal Can I work on this issue

[2020-08-06 11:49] Aaishpra commented on #4611
@snitin315 Do we also need to provide link validations in webinar and live streaming fields under online events section

[2020-08-06 14:43] Haider8 commented on #3999
There will be issue in showing older images. For example, if I set `.thumbnail-square` CSS to `min-height: 100%` rather than `height: 300px`

![speaker-images](https://user-images.githubusercontent.com/43299408/89545505-11a88a80-d821-11ea-9708-6fe7ae453079.png)

[2020-08-06 15:02] iamareebjamal commented on #3999
Yes, that's what I wrote earlier. Please move to a different issue

[2020-08-06 15:34] kootox opened #4729 "I cannot see/modify my event schedule"
**Describe the bug**
I cannot see/modify my event schedule due to error on fullcalendar.js (as it seems)

**To Reproduce**

1. Go to scheduler page on your event (on eventyay.com)
2. No calendar is viewable and stacktrace present in console

**Expected behavior**
Should have the calendar to see / modify event schedule

**Stacktrace**
Uncaught TypeError: Cannot read property 'footprint' of undefine

[2020-08-07 06:42] maze-runnar commented on #4712
working on it.

[2020-08-07 10:05] maze-runnar commented on #4717
@iamareebjamal the PlacesAutocomplete is not working at the time, so can we make this field as a  normal Input field instead of `<Widgets::Forms::PlacesAutocomplete/>`  this issue will also resolve permanently.

[2020-08-07 10:06] iamareebjamal commented on #4717
Yes

[2020-08-07 11:53] snitin315 commented on #4608
https://eventyay.com/e/0917096d/cfs/edit/session/6255
https://eventyay.com/e/0917096d/cfs/edit/speaker/4763
https://eventyay.com/e/0917096d/cfs/new-session

and
- `/e/:id/speakers`
- `/e/:id/sessions`

[2020-08-07 13:34] iamareebjamal commented on #4608
Sessions and Speakers page both have the left panel

[2020-08-07 13:34] #4717 closed

[2020-08-07 13:34] #4712 closed

[2020-08-07 13:41] snitin315 commented on #4608
Cfs have the left panel too

[2020-08-07 13:45] snitin315 commented on #4608
I get it.

[2020-08-07 16:04] ikartikgautam commented on #4626
Hii, Can i take this up and fix this ? please assign it to me. Thank you

[2020-08-07 16:16] snitin315 commented on #4626
Go ahead

[2020-08-08 15:49] iamareebjamal opened #4730 "Nested popups and modals broken"
Since https://github.com/fossasia/open-event-frontend/pull/4538, nested popups and dialogs(modals) are broken. So, we need to backport the fomantic UI bug fix to our fork and revert the change unfortunately

[2020-08-09 06:51] vikramroy622 commented on #2346
is this issue is open. do i work on this ?

[2020-08-09 06:54] vikramroy622 commented on #4596
mai i work on this isue ??

[2020-08-10 09:18] KKVANONYMOUS commented on #4620
@mariobehling  I was unable to reproduce the issue, since I'm new to the platform, so can you please explain me how were you able to do that?

[2020-08-10 09:47] mariobehling commented on #4729
@kootox Thank you! The milestone of this week is to fix issues in the scheduler. Depending on how we progress possibly also next week. If you find anything else in the Scheduler, please let us know. You can also talk to us here https://gitter.im/fossasia/open-event-frontend

[2020-08-10 09:50] mariobehling opened #4734 "Scheduler: Display timezone on public event schedule"
With the move to online events and people joining an event in different timezones displaying the timezone would be super helpful. Therefore, please:

1. Implement timezone info on top right on the public event pages.
2. In a second step add a drop down menu to change the timezone and display the correct event time and date in the timezone choosen by the user.

[2020-08-10 10:47] mariobehling opened #4735 "Ticket Order: Getting stuck at email form field when starting order as anonymous user"
When a user is not logged in and starts an order as an anonymous user an email form field appears. After the user adds the email a white overlay appears and nothing happens.

Expected: The user should be able to login or get a message to sign up if he/she is not yet registered.

Tested on Chromium on this event https://eventyay.com/e/16fa59c7

![Screenshot from 2020-08-10 12-43-59](https://user-im

[2020-08-10 10:49] iamareebjamal commented on #4735
Yes, it is duplicate of #4370 which I'm currently fixing

[2020-08-10 10:49] #4735 closed

[2020-08-10 10:58] snitin315 commented on #4620
Create an event -> enable payment by stripe -> buy a ticket -> pay via stripe -> See Error

[2020-08-10 13:11] iamareebjamal opened #4736 "CFS page broken"
CFS page is broken. Can't add new session or speaker detail. It takes back to the same page

[2020-08-10 15:19] #4730 closed

[2020-08-10 20:45] imrishabh18 commented on #4736
Hi @iamareebjamal I am new to open source and want to contribute. Can you explain more about the issue and guide me in this as I am begineer in this?

[2020-08-11 10:58] sualko opened #4740 "Google Maps JavaScript API error: ApiNotActivatedMapError"
**Describe the bug**

I'm not able to add speaker details at the @nextcloud conference page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://eventyay.com/e/0917096d/cfs
2. Click on "Add speaker details"
3. Nothing happens

**Expected behavior**
I can add some speaker details.

**Stacktrace**

JS console after clicking on the "Add speaker details" button (I modified the tokens i

[2020-08-11 11:40] iamareebjamal commented on #4740
This is a duplicate of #4736. We are working on it

[2020-08-11 11:40] #4740 closed

[2020-08-11 12:24] iamareebjamal commented on #4736
Caused by #4728

[2020-08-11 12:31] #4736 closed

[2020-08-11 13:39] mariobehling opened #4741 "Pricing Page: Create a pricing page with info in the central column"
As the service gets more reliable we will be able to cover our cost through pro-features that users would like to pay for. Therefore please implement a pricing page at /pricing

Relevant examples of pricing pages are https://www.eventbrite.co.uk/organizer/pricing/ and https://www.papercall.io/pricing.

* [x] Change the pricing link on the footer to the page.
![Screenshot from 2020-09-03 18-43-45](

[2020-08-11 17:52] #4604 closed

[2020-08-12 05:48] srijanandi commented on #4741
I want to contribute in this issue!

[2020-08-12 19:59] iamareebjamal commented on #777
Changed in #1582

I still think rooms on left hand and time on top would be a better UI. Reasons are as follows:

There are constant hours in a day. So when you switch to events, you won't see different amount of columns, just different amount of rows (rooms). Right now, every event has a different scheduler view which is difficult to grasp for a beginner.
Current view is too congested to be easy

[2020-08-13 07:12] iamareebjamal opened #4753 "Sessions public and detail page conflicting"
/sessions/<all|today|...> and /sessions/<id> are conflicting URLs and should be separated.

Move /sessions/<id> to /session/<id>

[2020-08-13 07:16] iamareebjamal opened #4755 "Scheduler page error getting track color and obsolete action"
Two errors while loading scheduler page in organizer view:

- session.track.color invalid as session is proxy (Hail ember codemods)
- Action allowDrop does not exist in controller

[2020-08-13 07:24] #4729 closed

[2020-08-13 08:07] #4753 closed

[2020-08-13 08:43] #4755 closed

[2020-08-13 09:10] iamareebjamal commented on #4729
Fixed and deployed. Please try again

[2020-08-13 09:28] kootox commented on #4729
Thanks a lot, that's better, but unfortunately not fully functional.
On https://eventyay.com/e/16fa59c7/schedule I have a fucked up schedule (I have the same on the admin side, but succeeded on putting approximately the right hours)
On https://eventyay.com/e/16fa59c7/sessions/all we can see the correct hours (I guess hours are GMT and not Paris time as everything is 2 hours shifted)

[2020-08-13 09:30] kootox commented on #4729
Deprecation warning: value provided is not in a recognized RFC2822 or ISO format. moment construction falls back to js Date(), which is not reliable across all browsers and versions. Non RFC2822/ISO date formats are discouraged and will be removed in an upcoming major release.

[2020-08-13 09:32] iamareebjamal commented on #4729
Yes, but that is another issue. I will take a look at that. Can you please open a new issue with expected and actual outcomes? Thanks

[2020-08-13 09:41] kootox opened #4760 "Sessions are not properly displayed on scheduler and program"
**Describe the bug**
The sessions are not properly displayed on scheduler and program, probably due to non ISO dates

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://eventyay.com/e/16fa59c7/schedule, the sessions are fucked up and do not display at the proper time
2. In the js console you can see "Deprecation warning: value provided is not in a recognized RFC2822 or ISO format.

[2020-08-13 09:42] kootox commented on #4729
Ok, created #4760

[2020-08-13 12:33] iamareebjamal commented on #4760
The time saved for session "Gérez vous cours à distance et vos Webinars avec Big Blue Button" is `2020-09-22T10:30:00+00:00` which in Paris time is `2020-09-22T12:30:00+02:00` so it is correctly shown in the sessions screen

![image](https://user-images.githubusercontent.com/3874064/90134628-145e2f00-dd8f-11ea-8f09-aca9377267b1.png)

But it is incorrectly shown in scheduler (hence the confusion) a

[2020-08-13 12:39] kootox commented on #4760
So there is a huge mixup because in scheduler (i don't know how to schedule manually otherwise), I put it at 10h30 (local time)

[2020-08-13 12:46] iamareebjamal commented on #4760
Yes, I'll be fixing it today hopefully to remove all inconsistencies

[2020-08-13 12:47] kootox commented on #4760
thank you very much

[2020-08-13 12:49] tasneemkoushar commented on #4734
May I work on this issue?

[2020-08-13 13:25] iamareebjamal commented on #4734
Go ahead

[2020-08-13 14:17] tasneemkoushar commented on #4734
Thank you, I will start working on it.

[2020-08-14 01:52] #4165 closed

[2020-08-15 04:21] mishari opened #4777 "Order amount not changing on selecting tickets"
After selecting ticket, not being able to press the "order" button feels like a bug. There's no way of knowing what one has to do to order

If registration is required, then the order box shouldn't be displayed, or there should be text under the box that says "please login before ordering"

[2020-08-15 09:30] maze-runnar commented on #4696
taking it up.

[2020-08-15 16:40] maze-runnar commented on #4697
I am taking this one.

[2020-08-15 17:36] #4696 closed

[2020-08-15 17:45] iamareebjamal commented on #4697
This is not as high priority, please pick a bug from scheduler milestone

[2020-08-16 17:09] supermario123789 opened #4776 "comma need to added"
**Describe the bug**
just need to add comma in it pz see in the screenshot given below

**Screenshots**
![l](https://user-images.githubusercontent.com/69764410/90339868-a37a7980-e011-11ea-91bd-65ca90ad89b3.png)

**Additional context**
I fixed this issue and  make a pr for this
@mariobehling  @iamareebjamal plz review on this
@prateekj117

[2020-08-16 17:10] supermario123789 commented on #4776
### I already create a pr for this

[2020-08-16 21:42] iamareebjamal commented on #4776
No

[2020-08-16 21:42] #4776 closed

[2020-08-16 23:56] iamareebjamal commented on #4760
The issue started in #4554 when ember-source was upgraded from 3.19.0 to 3.20.0

There is no mention of any breaking change in their docs so I don't know how things keep breaking on each ember upgrade.

Will revert for now and diagnose more closely why it broke

[2020-08-17 01:03] iamareebjamal commented on #4760
Actually, with ember-source, jquery got updated to 3.15.0 in the above commit, which contains the following breaking change - https://blog.jquery.com/2020/04/10/jquery-3-5-0-released/

In fullcalendar, they were using unclosed HTML tags which are now unsupported in jquery 3.5.0, this caused the error in #4729 and fixed in #4757

So, reverting jquery to 3.14.1 and removing the patch as well as it i

[2020-08-17 01:08] iamareebjamal opened #4778 "Upgrade to jquery 3.15.0 with workaround"
jquery was reverted to 3.14.1 because of https://github.com/fossasia/open-event-frontend/issues/4760#issuecomment-674606028 but the changes are done in yarn.lock which can be easily overridden. So, latest version of jquery must be used with instructions mentioned here -

https://jquery.com/upgrade-guide/3.5/

[2020-08-17 04:00] iamareebjamal commented on #3450
Not reproducible

[2020-08-17 04:00] #3450 closed

[2020-08-17 04:06] mishari commented on #4777
Can you please check here:

https://eventyay.com/e/8ccaf0b0

![image](https://user-images.githubusercontent.com/503018/90356390-985b3400-e079-11ea-8227-92c3927fb36e.png)

The price doesn't update and I cannot click "order now"

[2020-08-17 04:21] iamareebjamal commented on #4777
Yes there seems to be an issue for this event. Thanks for reporting. We'll take a look

[2020-08-17 04:36] #4760 closed

[2020-08-17 04:36] #4167 closed

[2020-08-17 04:36] #4168 closed

[2020-08-17 04:36] #4183 closed

[2020-08-17 04:36] #4446 closed

[2020-08-17 04:36] #4778 closed

[2020-08-17 04:37] iamareebjamal commented on #777
The above UI was due to a bug. This has been solved a long time ago

[2020-08-17 04:37] #777 closed

[2020-08-17 04:40] iamareebjamal commented on #4238
Still not fixed in expanded view

[2020-08-17 04:41] iamareebjamal commented on #4760
Scheduler and timezone issue in scheduler is now fixed. Will be deployed in an hour or so. The session timing in expanded view will be fixed soon. It is tracked in #4238

[2020-08-17 04:57] #4777 closed

[2020-08-17 05:14] iamareebjamal commented on #4760
Deployed. Please check @kootox

[2020-08-17 05:17] iamareebjamal commented on #4777
Deployed. Please check @mishari

[2020-08-17 05:20] maze-runnar commented on #4734
@tasneemkoushar are u still working on it?

[2020-08-17 06:20] kootox commented on #4760
Everything is back to normal and working fine. Lots of thanks

[2020-08-17 06:30] Raunaksingh100 opened #4781 "The Date of the event is overlapping to navbar in mobile view"
**Describe the bug**
The date of the Event is overlapping to Nav bar and user Cannot read the date of the event properly

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://eventyay.com/e/d414fc2c'
2. changed to mobile view  'iphone5/se and galaxy fold'
3. See error.

### Screenshots for desktop
![now open event](https://user-images.githubusercontent.com/65535360/90363711-c728d88

[2020-08-17 06:34] Raunaksingh100 commented on #4781
i am working on this issue

[2020-08-17 07:34] hpdang commented on #3999
We can't do anything for the old events, close for now. It wont happen in newly created events.

[2020-08-17 07:34] #3999 closed

[2020-08-17 09:48] tasneemkoushar commented on #4734
I am on it, and I need a little help.

[2020-08-17 09:49] tasneemkoushar commented on #4734
During installation, just before launching the project on my local server 4200, the process stucks and page loads and say "build fail".

[2020-08-17 15:36] Raunaksingh100 commented on #4781
@iamareebjamal  Thanks
can i use margin:bottom with the media query to fixed that bug
### LIke margin-bottom: -20px;
using the margin in negative is this Good or Bad plz reply

[2020-08-18 00:45] #4180 closed

[2020-08-18 00:48] iamareebjamal opened #4788 "Scheduler time limiting is wrong"
If an event starts at 21 June 7 PM and ends at 23 June 9 PM, all days show the scheduler from 7 PM onwards only.

Only the first day should be limited by 7 PM (minTime) and the last day should be limited by 9 PM (maxTime) and days in between should have all hours available

[2020-08-18 01:04] iamareebjamal commented on #801
Solved long ago

[2020-08-18 01:36] #4788 closed

[2020-08-18 02:17] #4163 closed

[2020-08-18 05:46] #4166 closed

[2020-08-18 06:38] #4238 closed

[2020-08-18 22:21] mariobehling commented on #4777
Works for me. Thanks for reporting!

[2020-08-18 22:23] iamareebjamal opened #4798 "All sessions not visible in scheduler"
Only 20 sessions are loaded in the scheduler in public section

[2020-08-18 23:00] mariobehling opened #4800 "Organizer: Sessions List Page - Make table sortable in all columns and show 25 sessions by default"
The sessions list page of organizers does not let them sort table rows. It also only shows 10 rows by default, e.g. https://eventyay.com/events/16fa59c7/sessions/all

Please change as follows:
* show 50 sessions by default
* Make the table sortable by
  * [ ] Speakers
  * [ ] Rating
  * [ ] Track
  * [ ] Type
  * [ ] Submission
  * [ ] Date
  * [ ] Last Modified
  * [ ] Lock Session

[2020-08-18 23:04] mariobehling opened #4801 "Organizer: Session List Page - Type column showing date instead of type"
The type column shows the submission date instead of the session type. If no type is present it should be empty, e.g. here https://eventyay.com/events/16fa59c7/sessions/all

![Screenshot from 2020-08-19 01-00-59](https://user-images.githubusercontent.com/1583873/90573879-ce9ecd80-e1b7-11ea-8d06-b0e19a29fc50.png)

[2020-08-18 23:12] mariobehling opened #4802 "Public Event Page missing web link icon, e.g. globe or similar"
Each link on the right side bar of an event has an icon. If there is no social media icon an event should have a link icon or globe icon, e.g. check https://eventyay.com/e/16fa59c7

![Screenshot from 2020-08-19 01-10-18](https://user-images.githubusercontent.com/1583873/90574321-ec206700-e1b8-11ea-9a3f-6e04974a0124.png)

[2020-08-18 23:17] mariobehling opened #4803 "Organizer Speaker List Page - Unswitching "Featured" Speaker not unselecting button"
When an organizer "unswitches" the featured speaker button the button does "not" actually unswitch (even though the action is executed). It shows unswitched though when the page is refreshed, e.g. check at https://eventyay.com/events/16fa59c7/speakers/all?per_page=25

![Screenshot from 2020-08-19 01-14-02](https://user-images.githubusercontent.com/1583873/90574567-8ed8e580-e1b9-11ea-82bd-041d70b32

[2020-08-18 23:20] mariobehling opened #4804 "Public Event Page/Scheduler: Speakers page of an event is not listed in the left side menu"
The speakers page of an event is not listed in the left side menu, if no "Featured Speakers" are selected by the organizers. The page exists e.g. here https://eventyay.com/e/16fa59c7/speakers, but the page is not listed as part of the event in the menu itself, e.g. compare here https://eventyay.com/e/16fa59c7.

![Screenshot from 2020-08-19 01-18-04](https://user-images.githubusercontent.com/158387

[2020-08-18 23:26] mariobehling opened #4805 "Public Event Page Scheduler: Sessions - On scroll over show additional event information, basic speaker info and link to speaker profile"
Scrolling over a session to show additional event information on the public schedule is present in the website generated version. Please implement the same.

Show
* additional event information
* basic speaker info and
* link to speaker profile

![Screenshot from 2020-08-19 01-24-50](https://user-images.githubusercontent.com/1583873/90575103-f93e5580-e1ba-11ea-8e8e-fddf0b2e05e8.png)

[2020-08-18 23:30] mariobehling opened #4806 "Public Event Schedule: Avoid in page scroll bar of schedule"
The schedule currently uses an inpage scroll bar. Instead of a scroll bar please extend the height of the page, e.g. here https://eventyay.com/e/16fa59c7/schedule

![Screenshot from 2020-08-19 01-28-47](https://user-images.githubusercontent.com/1583873/90575335-7669ca80-e1bb-11ea-89c5-ca20f1427e6e.png)

[2020-08-18 23:49] mariobehling opened #4807 "Scheduler: Implement schedule page and subviews tracks and rooms in list view"
The website generator offers a schedule view with the subpages "tracks" and "rooms", e.g. https://sched.eventyay.com/FOSSASIASummit/schedule.html. Please implement something similar as sorting options/views as follows:

* [x] Schedule view is same as now here e.g. https://eventyay.com/e/8fa7fd14/schedule **_DONE ALREADY_**
* [ ] Tracks view - all sessions are sorted in list view according to date,

[2020-08-18 23:55] mariobehling opened #4808 "Scheduler: Public Sessions Page Enhance it and fix date bug"
The public session page needs to be enhanced and fixed as follows:
* the top of the page shows "today" as an option for the date, instead it should show the days of the event as an option
* for the display of the sessions, please use the full width of the middle content area
* In the top right of the middle content area, please add an option to sort the sessions by a) Title (alphabetically), b) Sp

[2020-08-19 00:24] iamareebjamal commented on #4804
Hmm, I don't think that's part of `Scheduler`, it's a separate bug

[2020-08-19 00:25] #4798 closed

[2020-08-19 00:27] iamareebjamal commented on #4801
Showing type for me
![image](https://user-images.githubusercontent.com/3874064/90578382-d2931580-e1e0-11ea-8bcc-3f88d0b887c3.png)

[2020-08-19 00:38] iamareebjamal commented on #4800
That'll make the site very slow and also put a huge load on server. There is already an option to choose number of items per page. If important, default can be switched to 20

speakers, rating, track
These are one-to-one or one-to-many resources linked to a session. Sorting by speaker doesn't translate to anything on the server. For supporting that, we'll have to write custom special query to supp

[2020-08-19 01:00] iamareebjamal commented on #4805
I went back to 1 year ago's commit and it still doesn't show any additional information on hover. Also, no such code is present in the repo. What was the implementation like? When was this possible?

[2020-08-19 01:06] snitin315 commented on #4802
I will fix it.

[2020-08-19 06:36] mariobehling commented on #4805
Sorry, I was mistaken. This feature is already working on the speakers page, but it is not working here. I changed the issue description and lowered the priority.

[2020-08-19 06:37] mariobehling opened #4811 "Public Speakers Page loading twice"
The public speakers page seems to be loading first only partly showing only the first speaker and then it loads again fully, e.g. compare here https://eventyay.com/e/16fa59c7/speakers

[2020-08-19 06:42] mariobehling commented on #4801
It seems "track" was not loaded and then the submission column loaded twice and type moved one row. Cannot replicate it now even though the screenshot shows the issue appeared. Closing it therefore.

[2020-08-19 06:42] #4801 closed

[2020-08-19 06:47] mariobehling commented on #4800
Thanks for outlining what is needed.

Ok, 20 sounds good then, but 25 is currently an option. So, maybe go with that?

Regarding sorting, I think we ultimately need it, but as it requires more effort let's not do it now.

[2020-08-19 07:12] mariobehling opened #4812 "Public Speakers Page/Scheduler Links, Add Weekdays, Add links to Scheduler Section, Correct Font Color"
* Add the weekday to the date/time info
e.g. add "Tuesday, " before "22 Sep 2020"
* Fix color display of font - show the font in white with dark background and in black with bright background (same as in organizer schedule)
* Link the session name to the session link in the schedule (not the session page, but the schedule itself), same as in the website generated version

![Screenshot from 2020-08

[2020-08-19 07:21] mariobehling opened #4813 "Public Speaker Page: Speaker who does Not have session in speaker list"
The last speaker on the event list does not have a session and schedule information. As there is no session there is not a session that is accepted or confirmed (maybe there was one before and he has withdrawn?).

Expected: The speaker should not show up on the speakers page without an accepted or confirmed session.

Compare to https://eventyay.com/e/16fa59c7/speakers

![Screenshot from 2020-08-19

[2020-08-19 07:31] mariobehling opened #4814 "Organizers View: Speakers and Session Page Names Inconsistent and Accepted Session info missing in table"
* Organizers speakers page not showing "session info" on the Accepted Session of Berengère Mathieu on https://eventyay.com/events/16fa59c7/speakers/all
* And it shows Bérangère Mathieu on https://eventyay.com/events/16fa59c7/sessions/all but Berengère Mathieu on https://eventyay.com/events/16fa59c7/speakers/all - There is a difference in the second letter "e" in Berengère

![Screenshot from 2020-0

[2020-08-19 07:37] mariobehling opened #4815 "Public Session Page: Speaker Name Not Shown in Overview Mode"
In the overview mode, where the sessions are not expanded the speaker names are not shown. Please show the speaker name here as well.

Compare here https://eventyay.com/e/16fa59c7/sessions/all

![Screenshot from 2020-08-19 09-37-03](https://user-images.githubusercontent.com/1583873/90606050-8f946a80-e1ff-11ea-9765-c58e64464bd5.png)

Expected similar to website generator.

![Screenshot from 2020-08

[2020-08-19 10:42] mariobehling opened #4816 "Public Event Page Sponsor Listing - Show logos in same size and open in new tab"
On the public event pages logos are currently adjusted to the same width. Some logos are optimized to width, others are optimized to height and even other logos are optimized to squares.

Expected is that
* logos are portrayed in the same combined dimensions of Width x Height.
* and that sponsor links open in new tabs

Compare: https://eventyay.com/e/16fa59c7

![Screenshot from 2020-08-19 12-35-36

[2020-08-19 10:55] mariobehling opened #4817 "Event Dashboard: Sponsor Box - Sorting not working"
The sponsor box show different sponsors and the option to sort them alphabetically. The page refreshes when the user resorts sponsors, but the sponsors do not get actually get sorted.

Compare https://eventyay.com/events/16fa59c7

![Screenshot from 2020-08-19 12-55-39](https://user-images.githubusercontent.com/1583873/90626481-4fdb7c00-e21b-11ea-8149-866cd46b213e.png)

[2020-08-19 11:27] mariobehling opened #4818 "Organizer Event Dashboard: Apps Box Set Link to Website Generator and Android Apps in Stores"
The apps box currently has dead links on the organizer's event dashboard and simply providing buttons with links here does not seem suitable as the user needs more details. Therefore please redesign the box and change content as follows:

* in box create section "**Organizer Android App**"
  * include images with links to the app in Play store and Fdroid
  * add descriptive text as follows "Organi

[2020-08-19 11:57] iamareebjamal commented on #4811
This is an ember bug and we can't do anything about it. Either we need to disable server side rendering which will make the site slower or ember will have to implement content hydration in a better way

[2020-08-19 12:02] iamareebjamal commented on #4812
Our schedule page is implemented using fullcalendar, so it is not possible to link to any event.

Since, the sessions page will look more like website generator schedule as mentioned in #4808, we'll link to that page instead as mentioned in #4000

[2020-08-19 12:06] iamareebjamal commented on #4814
These are 2 different speakers. The one with accepted session is on page 2

[2020-08-19 12:06] #4814 closed

[2020-08-19 12:13] mariobehling commented on #4814
Thanks for identifying this. Very confusing.

[2020-08-19 15:22] #1554 closed

[2020-08-19 18:50] blossom2017 commented on #3508
Seeing that there had been no recent activity on the issue, I picked it up. Hope it's okay @roshnet @prateekj117 .

[2020-08-19 19:18] prateekj117 commented on #3508
@blossom2017 Go ahead.

[2020-08-20 06:03] iamareebjamal commented on #4806
The calendar will have to have a static height or the scrollbar will never show. For eg, here - https://eventyay.com/events/b548bcfc/scheduler which will make it difficult to schedule events from unscheduled box

So we can increase the height but not make it expanded always

[2020-08-20 08:47] snitin315 opened #4820 "Call for Speakers Page: both button says edit speaker details"
**Describe the bug**

Both buttons say `Edit Speaker Details`
**To Reproduce**
Steps to reproduce the behavior:
1. Go to call for speakers page
2. See error

**Expected behaviour**

one button should be `Edit session details`
**Screenshots**

![Screenshot at 2020-08-20 14-13-53](https://user-images.githubusercontent.com/46647141/90748307-a3b79500-e2ef-11ea-960a-e16cdd39952f.png)

**Desktop (please

[2020-08-20 09:03] snitin315 commented on #4820
Oh, both buttons correspond to different speakers.

[2020-08-20 09:05] snitin315 commented on #4820
Then we should display the speaker's name on button.

[2020-08-20 09:56] blossom2017 commented on #3508
@prateekj117  On a side note, it may be useful to add descriptive errors as received from server in other scenarios as well - restoreEvent(), toggleFeatured() and togglePromoted(). Should I create a bug and add logging for these as well ?

[2020-08-20 10:08] snitin315 commented on #4816
Taking this up.

[2020-08-20 10:13] mariobehling commented on #4820
Actually only the user account of the specific speaker should have access to their own "speaker details". So, only show one speaker detail button, but only show the button of the specific account.

Except maybe for organizers and admins?

In any case speaker A should not be able to edit information of speaker B.

[2020-08-20 10:19] iamareebjamal commented on #3508
Another issue is opened up for it. We need to make a generic error handler to not repeat the same error handling everywhere

[2020-08-20 10:32] mariobehling opened #4821 "Organizer Speakers List Page: Enhance column organization"
The speakers list page should follow the same style as the sessions list page. There are also a few other possibilities to enhance it. Therefore please change it as follows:
* Move the "Actions" view, edit, trash icons into the column "Name" and show them below the speaker name (same as the sessions page)
* Make the icons into "real links" so they can be opened in the browser in a new tab (e.g. us

[2020-08-20 10:33] blossom2017 commented on #3508
sounds good !

[2020-08-20 10:45] mariobehling opened #4822 "Organizer Speakers List Page: Clicking between filter options like All, Accepted, Confirmed etc. results in Speakers Feature button changes"
The feature button position changes if the organizer clicks around and changes the filter like All, Accepted, Rejected etc.

Compare https://eventyay.com/events/16fa59c7/speakers/all

![Screenshot from 2020-08-20 12-42-19](https://user-images.githubusercontent.com/1583873/90760962-f2126700-e2e2-11ea-8885-bd1514e3d6e6.png)

[2020-08-20 10:59] iamareebjamal commented on #4822
Can't reproduce but will check more thoroughly in August Sprint

[2020-08-20 11:22] #4802 closed

[2020-08-20 12:29] snitin315 commented on #4821
Taking this up.

[2020-08-20 13:08] blossom2017 commented on #4817
Can I work on this?

[2020-08-20 13:31] iamareebjamal commented on #4817
Go ahead

[2020-08-20 13:32] #3508 closed

[2020-08-20 13:57] snitin315 commented on #4815
Taking this up.

[2020-08-20 14:15] progmatic-99 opened #4825 "Create recommended installation steps for docker using docker-compose"
The current docs for installation using docker contains ```docker``` commands which should be changed to ```docker-compose``` commands.

[2020-08-20 14:16] progmatic-99 commented on #4825
I have already resolved this issue. Waiting for one of the reviewers to comment so that i can create a PR.

[2020-08-20 15:29] snitin315 commented on #4813
Taking this up.

[2020-08-20 16:05] snitin315 commented on #4610
Taking this up.

[2020-08-20 18:27] iamareebjamal commented on #4821
2 points remaining

[2020-08-20 18:29] snitin315 commented on #4821
Will send a PR.

[2020-08-20 18:54] #4813 closed

[2020-08-20 22:32] #4000 closed

[2020-08-20 22:33] iamareebjamal opened #4832 "Link sessions in speaker list to sessions page"
The session used to link to the extended session description on the "sessions page". It is not linked now.

Parent Issue: #4000

[2020-08-20 22:33] iamareebjamal commented on #4000
3rd point continuing in #4832

[2020-08-21 14:42] mariobehling opened #4837 "Organizer Session Notifications: Message Box if Off-Screen"
When an organizer tries to send a notification email to a speaker the message is off-screen in some resolutions and cannot be accessed fully or scrolled to the right position.

![Screenshot from 2020-08-21 16-40-35](https://user-images.githubusercontent.com/1583873/90902788-48f46b00-e3cd-11ea-9c22-c45818c8434d.png)

[2020-08-21 14:47] mariobehling opened #4838 "Organizer Session Page Table: Distribute Columns more evenly and correct time info"
The organizer session page table (e.g. https://eventyay.com/events/16fa59c7/sessions/all) has its rows distributed in a way that squeezes some while others have too much space. Please change as follows:
* Make columns distribute more evenly to fit the content, e.g. extend the date/time columns and reduce the width of the "lock" and "notify" column
* Also reduce the spacing between the "title" and

[2020-08-23 18:59] mariobehling opened #4849 "Public Event Pages: Organizer Menu Item does not go to "Organizer Section""
The organizer menu item should specifically link to "Organized by.." section on the public event page. Currently it directs to "#owner", e.g. https://eventyay.com/e/16fa59c7#owner, but this does not scroll the page to the "organizer section". It should rather use the tag "#organizer" instead of "#owner" anyways.

![Screenshot from 2020-08-23 20-55-46](https://user-images.githubusercontent.com/1583

[2020-08-23 19:31] iamareebjamal opened #4850 "Session Items in Featured Speaker List not showing"
https://eventyay.com/e/a74665c3/

For brief period of rendering, `session.track.color` is undefined, when it is being loaded from API. After #4845, the helper doesn't handle undefined colors and throws an error, this prevents sessions to be shown in featured speaker list

[2020-08-23 20:00] #4850 closed

[2020-08-23 20:26] shantanumallik commented on #4849
@mariobehling May I work on this issue?

[2020-08-23 20:33] shantanumallik commented on #4806
@mariobehling @iamareebjamal Is this issue available to work on? I’d like to work on it.

[2020-08-23 22:37] mariobehling opened #4852 "Scheduler/Sessions/Tracks Page: Add Overview of tracks and rooms and make them into filters"
The generated website schedule has a rooms and tracks list on the right sidebar, which can also be used as filters, e.g. here http://2019.fossasia.org/event/schedule.html.

Step 1:
Firstly implement such an overview on the schedule and sessions/tracks page on the right side bar.
Take out the links and twitter badge on these pages from the sidebar.

Step 2:
In a second step implement the rooms and

[2020-08-24 00:26] snitin315 commented on #4849
Yes go ahead.

[2020-08-24 03:41] maze-runnar commented on #4806
@shantanumallik please claim one issue at a time. This is an urgent issue so I am taking it up.

[2020-08-24 04:01] shantanumallik commented on #4806
@maze-runnar okay. Go ahead. This seems like a pretty easy fix though. Maybe something on the lines of expanding the calendar on hover to view in full size. This will eliminate the scrollbar issue without having the static height problem as @iamareebjamal pointed out.

[2020-08-24 06:02] edenyay opened #4855 "Call for Speakers - private link displays error"
**Describe the bug**
Event's link https://eventyay.com/e/316d7b71
Private call for speakers link: https://eventyay.com/e/316d7b71/cfs/a1ab5727-36e6-4118-82a6-6f8aa7c0efad
Not sure what was the cause of the issue?
Error message received:

`Error: TransitionAborted
    at e (/fastboot/dist/assets/@ember/application/instance.js:247:15)
    at E (/fastboot/dist/assets/rsvp.js:485:15)
    at _ (/fastbo

[2020-08-24 06:58] #4806 closed

[2020-08-24 08:11] #4855 closed

[2020-08-24 09:46] mariobehling commented on #4610
Related to https://github.com/fossasia/open-event-frontend/issues/4609

[2020-08-24 10:13] mariobehling opened #4857 "Wizard 1 Basic Event Details/Public Page: Event logo from Form not displayed on event page"
In the create event wizard step 1 an event logo can be added. However, the logo is not shown anywhere.

Please add the logo on top of the event page in front of the event description as in the example below.

Compare live site https://eventyay.com/e/8fa7fd14 to the below image.

![Screenshot from 2020-08-24 12-06-23](https://user-images.githubusercontent.com/1583873/91033023-0c11b980-e603-11ea-814

[2020-08-24 10:17] mariobehling opened #4858 "Public Page: Avoid Linebreaks in date/time and event title"
The event date/time sometimes has line breaks even if there is still sufficient space. Please avoid line breaks if there is enough space.

![Screenshot from 2020-08-24 12-15-20](https://user-images.githubusercontent.com/1583873/91033428-a245df80-e603-11ea-969d-760a8720e097.png)

[2020-08-24 15:12] 1209simran commented on #4858
May I work on this issue?

[2020-08-24 15:25] snitin315 commented on #4858
Go ahead

[2020-08-24 16:02] kejriwalShivam commented on #4857
I would like to work on this issue @mariobehling

[2020-08-24 16:28] iamareebjamal commented on #4857
Go ahead

[2020-08-24 19:40] raghavchugh21 commented on #4837
Starting my work on the issue, kindly share the acceptance tests.

[2020-08-24 20:10] VipulKhandelwal1999 commented on #4838
Starting my work on the issue, kindly share the acceptance tests.

[2020-08-24 20:18] iamareebjamal commented on #4838
There are none

[2020-08-24 20:19] iamareebjamal commented on #4837
There are none

[2020-08-24 20:22] VipulKhandelwal1999 commented on #4838
Sir, Then why this issue is still open.

On Tue, Aug 25, 2020, 1:48 AM Areeb Jamal <notifications@github.com> wrote:

[2020-08-24 20:35] iamareebjamal commented on #4838
Because it isn't solved

[2020-08-24 20:38] VipulKhandelwal1999 commented on #4838
Ok Sir Thanks For Your Your Response.

On Tue, Aug 25, 2020, 2:06 AM Areeb Jamal <notifications@github.com> wrote:

[2020-08-25 00:35] #4734 closed

[2020-08-25 06:26] maze-runnar commented on #4805
where these addition informations are actually needed, on schedule page in calender view?

[2020-08-25 07:12] #4781 closed

[2020-08-25 07:12] #4857 closed

[2020-08-25 07:12] #4858 closed

[2020-08-25 07:16] iamareebjamal commented on #4805
Yes, but please finish https://github.com/fossasia/open-event-frontend/issues/4832 and https://github.com/fossasia/open-event-frontend/issues/4852 before as they are more high priority

[2020-08-25 07:30] Raunaksingh100 commented on #4781
@iamareebjamal can you tell me what is wrong in my pr ??

[2020-08-25 07:30] iamareebjamal commented on #4781
Told already

[2020-08-25 08:44] raghavchugh21 commented on #4852
I'll work on this issue

[2020-08-25 08:46] raghavchugh21 commented on #4852
can I work on this issue?

[2020-08-25 09:08] mariobehling opened #4866 "Public Speakers and Schedule Page: No Lazy Loading, it Slows Down Users Too Much"
Public speakers page and schedule pages should have not lazy loading as it slows down the usage of the site too much, e.g. compare here https://eventyay.com/e/8fa7fd14/speakers

[2020-08-25 09:20] mariobehling opened #4868 "Publish Schedule: Not possible to publish schedule, eternal loading icon"
It seems it is not possible to publish a schedule as the loading icon is showing up without progress.

Compare: https://eventyay.com/events/8fa7fd14/scheduler
![Screenshot from 2020-08-25 11-18-39](https://user-images.githubusercontent.com/1583873/91156830-e351f880-e6c4-11ea-8582-dbbd25532334.png)

[2020-08-25 10:41] maze-runnar commented on #4852
Do i have to remove existing all right section?

[2020-08-25 11:04] Raunaksingh100 opened #4872 "Event Logo : The logo is overlapping to the navbar"
**Describe the bug**
### The logo of the image overlapping to navbar and  the Width of the logo is two larger
### infact,, it covers HALF of  the content
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://eventyay.com/e/c310c6ba'
2. Click on 'inspect element in iphone 5s  and the galaxy fold '
3. See error

### Screenshots
![issue =1](https://user-images.githubusercontent.com/655

[2020-08-25 11:04] Raunaksingh100 commented on #4872
### i am working on this issue

[2020-08-25 11:38] mariobehling opened #4873 "Switch buttons no longer working as expected anywhere"
The switch buttons do not work in any area as expected. They cannot be moved.

![Screenshot from 2020-08-25 13-37-28](https://user-images.githubusercontent.com/1583873/91169806-3bdec100-e6d8-11ea-971a-38dd82c34084.png)

[2020-08-25 11:40] mariobehling commented on #4873
And they all appear switched on when loading second, third etc. page of a table list page.

... even if they are not really switched on.

![Screenshot from 2020-08-25 13-39-40](https://user-images.githubusercontent.com/1583873/91170004-8bbd8800-e6d8-11ea-8a5c-0b6f76744290.png)

[2020-08-25 14:14] mariobehling opened #4876 "Schedule Calendar View: Changing Timezone can Result in Disappearing Sessions from Schedule"
If a user changes the timezone to a time that is not covered in the original calendar time the sessions disappear from the calendar view.

Compare https://eventyay.com/e/16fa59c7/schedule

![Screenshot from 2020-08-25 16-12-23](https://user-images.githubusercontent.com/1583873/91185337-fe852e00-e6ed-11ea-880e-63fee1c3ba63.png)

[2020-08-25 14:59] mariobehling commented on #4852
@maze-runnar Just follow this order:
* event links
* tracks
* rooms
* twitter

[2020-08-25 18:35] blossom2017 commented on #4817
I tried but couldn't get much clue. I will not be able to work on it.

[2020-08-25 21:36] iamareebjamal commented on #4876
Yes, the scheduler implementation is buggy. I couldn't find a way to re-render the calendar on change of timezone. Will look again if it is possible or there is another workaround

[2020-08-25 21:46] iamareebjamal commented on #4866
It will slow down even more if lazy loading is removed. Last time it crashed the server every time the speaker page was loaded: https://github.com/fossasia/open-event-frontend/issues/3650

It is a trade-off, I'll look into if there is any way to improve user experience but realistically, we can't remove lazy loading. I'll check how many items can we load in one go, but that is a trade-off as well,

[2020-08-25 21:53] #4868 closed

[2020-08-26 06:15] maze-runnar commented on #4807
@iamareebjamal if rooms and track filter is implemented on session page, then is this issue really needed? Why there is a need of separate rooms page, if session can show tracks?

[2020-08-26 07:13] iamareebjamal commented on #4807
Yes, this is what we discussed in the meeting if you remember. Single page will display all data by default sorted by time, and there'll be an option to group by room and track on the same page

[2020-08-26 07:14] iamareebjamal commented on #4807
Filtering by track and room is different than group by feature. See the difference in schedule, track and room page in the link attached to the issue to get the difference

[2020-08-26 07:38] #4649 closed

[2020-08-26 08:56] maze-runnar commented on #4807
so in group by it will take all events-sesssons that are going to held in same room and group them together?
But is there any feature available on server side?

[2020-08-26 10:32] iamareebjamal commented on #4807
Just using `sort` in API can make this work. Think

[2020-08-26 12:13] maze-runnar commented on #4805
@mariobehling  showing this much info will cause this problem and will need a lot fixing I guess. I think you should narrow down the info numbers.
![Screenshot from 2020-08-26 17-40-53](https://user-images.githubusercontent.com/56407566/91302018-71140d80-e7c3-11ea-8cd9-ae03ef910c6a.png)

[2020-08-26 12:18] iamareebjamal commented on #4805
This is to be shown on hover. But the priority of this issue is way less than others in the list

[2020-08-26 13:30] maze-runnar commented on #4807
on which page it would be implemented?

[2020-08-26 13:30] maze-runnar commented on #4807
And still confused about this part.

[2020-08-26 13:41] maze-runnar commented on #4807
I have seen it, and I get the difference but still a little confusion. Aren't we implementing same thing again and again? means there is still filter by room & tracks on those pages too .

[2020-08-26 20:52] iamareebjamal commented on #4807
Filter and grouping is different. Call me in the morning. You need to look closely what's the difference in Room, Schedule and Track pages

[2020-08-26 20:56] iamareebjamal opened #4882 "Reimplement sessions route to not reload page on filter"
I see whenever we change a filter or date the page goes up to the top of the page. How can we go to the top of the event page heading instead, e.g. here the heading "Sessions"?

_Originally posted by @mariobehling in https://github.com/fossasia/open-event-frontend/pull/4879#issuecomment-680685934_

[2020-08-27 06:42] #4852 closed

[2020-08-27 07:16] iamareebjamal commented on #4611
I don't understand this

[2020-08-27 09:17] mariobehling commented on #4611
Instead of the previous tickboxes, where you can add a URL. In this tickbox show something like this:
* [ ] Details will be shared later.___________________________________

In the "_________" the organizer can add some text/message.

In the final display it would show:
" Details will be shared later. [Message of organizer here]

[2020-08-27 12:39] mariobehling opened #4884 "Organizer Event Dashboard: Add column "Tickets""
On the organizer dashboard at https://eventyay.com/events a column "Tickets" would be useful to enable organizers to get a good overview of the current state of the event. Implement this on all filter pages - live, past, draft.

Therefore, please add a ticket column with information on the number of tickets sold and the list of different tickets.
Add the column in between "Roles" and "Sessions".

[2020-08-27 14:31] mariobehling opened #4885 "Organizer Manage Event Overview Dashboard: Link logo and event name to specific event dashboard"
The manage event dashboard has a nice table.

* On the table please link the logo and event name to the specific event dashboard (of the event itself).
* Slightly increase the space between the logo and event name
* Slightly decrease the space between the event name and the below buttons

![Screenshot from 2020-08-27 16-29-57](https://user-images.githubusercontent.com/1583873/91455746-c4996080-e88

[2020-08-27 14:35] snitin315 commented on #4885
I will take this up.

[2020-08-27 15:14] mariobehling commented on #4885
Thanks. Added some more small details FYI.

[2020-08-27 16:23] mariobehling opened #4886 "Organizer Video Room Listing: Implement tab for adding URLs, Access Control and Access Info to Virtual Video Rooms"
One idea for future development is to include video rooms. In the meantime we can already match our existing sessions (workshops, talks etc.) with online rooms that are used by organizers, e.g. Jitsi channels and streams (e.g. YouTube). Organizers should be able to add a link and a Pin to inform speakers and event attendees. An advanced feature would be here to only show this data depending on acc

[2020-08-27 16:54] mariobehling opened #4887 "Wizard Final Step: Change "Microlocations" to "Microlocations or Virtual Online Rooms""
As we have more and more online events it is important to ensure that users understand that "Microlocations" and "Online Rooms" are the same form fields. Therefore in the final wizard step please change the heading "Microlocations" to "Microlocations or Virtual Online Rooms".

![Screenshot from 2020-08-27 18-51-22](https://user-images.githubusercontent.com/1583873/91471691-b2c1b880-e896-11ea-86b0-

[2020-08-27 17:06] mariobehling opened #4888 "Public Event Page: Add menu tab "Sponsors""
If an organizer has activated "Sponsors" in the event creation wizard and added sponsors, please show a tab "Sponsors" on the left hand-side of the public page.

1. Implement the sponsors menu tab above the menu item "Organizers".
2. Change the heading of the "Sponsors" section to match the heading level and style of "Organizers".

![Screenshot from 2020-08-27 19-04-10](https://user-images.githubu

[2020-08-27 17:36] mariobehling commented on #4816
Cannot verify that this issue has been solved as outlined in the issue. Therefore reopening it.

[2020-08-28 02:37] mariobehling opened #4897 "Payment Gateway Monitoring: Propose and Implement Solution"
Issues with payment gateways often go unnoticed until we receive an email from a partner that has problems. For example the Paypal SDK has issues every other months. As the number of payments increase this could have a large effect. Therefore please propose and implement a monitoring process.

Possible solutions:
* [ ] Automatic orders tests
* [ ] Automatic emails to system admins stating the numb

[2020-08-28 03:02] iamareebjamal commented on #4897
Linked https://github.com/fossasia/open-event-server/issues/6872

[2020-08-28 04:18] hpdang opened #4898 "Organizer: Unable to cancel a confirmed session"
**Describe the bug**
Organizer is unable to cancel a confirmed session. There are two issues:
- Interface issue: Cancel option is unseen
- Functional issue: When click on "Cancel", the system showed an error message "unexpected error has occurred"

**Screenshots**
![session-cancel](https://user-images.githubusercontent.com/1658742/91520364-68bbef80-e8f5-11ea-8bdb-9ee71e413281.png)

[2020-08-28 04:57] hpdang opened #4899 "Public Event Page: Enhance filter feature"
Go to session tab on this public page https://eventyay.com/e/8fa7fd14/sessions?track=Projects%20%26%20People and select a filter

**Filter mode is not so visible**
After I selected a filter, after few seconds I already forgot that the filter was on and which filter I have selected. Highlighted grey color is not catchy to human eyes. The clear filter icon looks too prominent and negative. If we mus

[2020-08-28 04:58] iamareebjamal commented on #4898
I clicked on it and it got canceled. Please recheck

[2020-08-28 05:02] iamareebjamal commented on #4899
@maze-runnar Please change the minus icon to grey. And increase opacity of selected filter from 0.05 to 0.1 and similarly of hover opacity as well

[2020-08-28 06:31] #4899 closed

[2020-08-28 08:25] maze-runnar commented on #4611
@iamareebjamal for online events there would be a section like this?
![Screenshot from 2020-08-28 13-54-56](https://user-images.githubusercontent.com/56407566/91538898-24047880-e936-11ea-9516-382fd83aa1f7.png)

[2020-08-28 08:28] iamareebjamal commented on #4611
Not yet. Just simple text fields. I'm working on this one. Server part is complete. Doing the frontend part now. Please take up https://github.com/fossasia/open-event-frontend/issues/4671, or other high priority issues

[2020-08-28 08:29] mariobehling commented on #4866
20 items sounds good. You are right, we need to find a trade-off, but at one point we would also upgrade the server.

[2020-08-28 08:41] iamareebjamal commented on #4866
It's not just a problem of the server spec, for huge events, the response becomes like 1-2 MB which takes some time to transfer. If we need to really load it all at once, we can make a mechanism that caches the response for some time like 10 minutes. That will solve the time and load issue but I think the UX can be improved a lot so loading everything at once won't be necessary.

You'd notice that

[2020-08-28 09:02] mariobehling opened #4902 "Schedule Builder: Add Unlimited Numer of "Breaks", Define Breaks in Create Event Wizard"
Currently an organizer needs to create "Breaks" like a session with a speaker. This does not make sense. We also need a number of breaks in a schedule of an event usually.

A way to achieve this feature is a) to create the break categories with a dedicated time in the event wizard and b) to add those "breaks" in the schedule builder.

Therefore please implement this as follows:

1. Add a category

[2020-08-28 16:53] git-anurag-hub commented on #4884
Can you explain more about what should be under the "Tickets" section. Like how much details about what.

[2020-08-28 17:13] iamareebjamal commented on #4884
I think the issue is pretty clear

[2020-08-29 04:13] iamareebjamal commented on #4873
Problem happening since https://github.com/fossasia/open-event-frontend/pull/4746

[2020-08-29 04:26] iamareebjamal commented on #4803
Duplicate of #4873

[2020-08-29 04:26] #4803 closed

[2020-08-29 05:07] #4873 closed

[2020-08-29 08:29] mariobehling commented on #4888
We now have "Supported By" and "Sponsors". Only need "Supported By"

![Screenshot from 2020-08-29 10-28-04](https://user-images.githubusercontent.com/1583873/91632635-78653200-e9e2-11ea-8c29-c7f4680a3e11.png)

[2020-08-29 11:31] maze-runnar commented on #4716
This was issue with fomantic, As project is switched back to semantic this is solved.

[2020-08-29 12:22] indavarapuaneesh commented on #4888
can I look into this issue?

[2020-08-29 12:28] snitin315 commented on #4888
Yes

[2020-08-29 12:41] iamareebjamal commented on #4716
There are still other places where modals don't display correctly on screen

[2020-08-29 16:52] indavarapuaneesh commented on #4888
can you review it and give it feedback?

[2020-08-29 16:53] indavarapuaneesh commented on #4888
@snitin315  can review it and give feedback?

[2020-08-30 02:19] #4606 closed

[2020-08-30 06:25] hpdang commented on #4898
this is related to role permissions of organizer team: event owner, organizer, coorganizer, moderator. I am added this to the next milestone.

[2020-08-30 06:35] hpdang opened #4917 "Interface error when organizer uploads speaker's image"
**Describe the bug**
Interface error when organizer uploads speaker's image

**To Reproduce**
- Event organizer goes to an existing session and adds additional speakers into the session e.g. https://eventyay.com/events/8fa7fd14/sessions/6275/edit
- Upload the speaker's photo

**Screenshots**
![Screenshot from 2020-08-29 15-50-23](https://user-images.githubusercontent.com/1658742/91652792-bb82dc00-

[2020-08-31 12:19] iamareebjamal opened #4920 "Change sessions and schedule URL structure"
/sessions -> /schedule
/schedule -> /calendar

[2020-08-31 12:19] #4920 closed

[2020-09-01 07:00] mariobehling opened #4922 "Only show schedule and calendar on public page once organizer published it"
After our recent changes the schedule info is live even if the organizer has not published it. Please only show calendar and schedule page once published in the scheduler by the organizer.

[2020-09-01 10:49] maze-runnar commented on #4822
It's correct, not changing, not able to reproduce this.

[2020-09-01 10:52] maze-runnar commented on #4822
Actually when featured speaker is turned off, and after changing tab we came back to same page it switch back to on in UI but it's no actually on, after refreshing the page it returned to off.

[2020-09-01 11:11] iamareebjamal commented on #4822
I recently fixed it. Can you confirm it on latest development branch?

[2020-09-01 11:56] maze-runnar commented on #4822
yeah the issue is resolved.

[2020-09-01 12:00] maze-runnar commented on #4876
is it fixed? working correctly on my local.

[2020-09-01 12:57] iamareebjamal commented on #4876
No it isn't fixe

[2020-09-01 12:58] iamareebjamal commented on #4822
Fixed in #4912

[2020-09-01 12:58] #4822 closed

[2020-09-01 13:14] maze-runnar commented on #4884
taking this up.

[2020-09-01 13:15] maze-runnar commented on #4884
I am on it

[2020-09-01 13:58] iamareebjamal commented on #4884
@maze-runnar This issue is neither high priority, nor in the current milestone. Please read meeting notes again

[2020-09-01 14:10] indavarapuaneesh opened #4931 "Not able to crop the image for the uploaded image while creating the event"
**Describe the bug**

When I tried to upload a photo while trying to create an event, I am unable to crop the uploaded image.
**To Reproduce**
Steps to reproduce the behavior:
1. login to create an event
2. Click on create an event
3. upload photo larger than recommended

**Expected behavior**

should be able to crop the photo which is bigger than recommended.
**Screenshots**

![bug](https://user-

[2020-09-01 14:13] iamareebjamal commented on #4931
What is the error you're getting

[2020-09-01 14:14] indavarapuaneesh commented on #4931
not able to crop the image. can't see the whole cropping window. Can't displace it.

[2020-09-01 14:24] #4671 closed

[2020-09-01 14:29] iamareebjamal commented on #4931
Duplicate of #4716

[2020-09-01 14:29] #4931 closed

[2020-09-01 21:49] iamareebjamal opened #4934 "Redirect from /sessions to /schedule"
After #4918, the sessions URL throws 404, whereas to avoid breaking change, it should redirect to /schedule page

[2020-09-01 22:08] #4934 closed

[2020-09-02 01:57] #4610 closed

[2020-09-02 02:24] mariobehling opened #4936 "Wizard Step 2: Add to event checklist on dashboard"
The wizard step 2 is not yet part of the event checklist box on the specific event dashboard.

Please add it here with info

* Additional Information
  * Links, social media, privacy, code of conduct

![Screenshot from 2020-09-02 04-17-36](https://user-images.githubusercontent.com/1583873/91924716-bbb9ec00-ecd3-11ea-959c-49979f6c36fd.png)

Related to forms but could also go into the dashboard mile

[2020-09-02 02:29] snitin315 commented on #4936
I will add it.

[2020-09-02 02:56] maze-runnar commented on #4673
working on it.

[2020-09-02 07:59] bsanket16 opened #4937 "Footer - Pricing Link Not Found"
The pricing link under 'use open event' section in the footer is not working.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://support.eventyay.com/pricing/'
2. Click on 'pricing tab'
3. File not found error

**Expected behaviour**

Either the link should be removed or we can redirect to homepage.
If we have the pricing page update the link.

**Screenshots**

![screencapture-s

[2020-09-02 08:31] mariobehling commented on #4937
There is already a PR for pricing https://github.com/fossasia/open-event-frontend/pull/4919

[2020-09-02 08:31] #4937 closed

[2020-09-02 08:42] Raunaksingh100 commented on #4872
old pr closed due to some file changed corrupt by me i will  update it

[2020-09-02 09:11] #4936 closed

[2020-09-02 17:11] AemieJ opened #4944 "Restructure headings within events landing page"
**Is your feature request related to a problem? Please describe.**
In the events landing page, when I am scrolling through it I can't locate the main headings on those pages. At a point, I saw 3 cards in a row, then 2 cards, and then 1 and thought it was a bug however there was a new main heading separating them. It is really hard to locate it and I think we need better segregation for the main he

[2020-09-02 17:25] maze-runnar commented on #4673
@mariobehling , state of event is set to draft by default so how to implement` discard.` How to know event was never saved, because it's state is already set to draft

[2020-09-02 21:47] mariobehling commented on #4673
As long as an event is not saved in the first step of the wizard, the event is not saved and therefore any information entered can be discarded. Pressing discarded in that case will bring the user back to the event dashboard.

[2020-09-02 21:49] mariobehling commented on #4673
I updated the description as follows

  * Discard (only when event was never saved - when creating the event: It does not save the event and discards any data that was entered. After that direct user back to dashboard of all events. If user has saved an event previously, there is no "Discard" possible anymore, then show "Cancel" and send user back to specific event dashboard.)

[2020-09-02 23:24] iamareebjamal commented on #4673
@maze-runnar If `event.id` is null, the event is not saved

[2020-09-03 02:04] Creatoon commented on #4944
hey @AemieJ, I want to work on this issue, please guide me the link of the landing page so I can understand it better.

thank you

[2020-09-03 02:43] Creatoon commented on #4944
ok @AemieJ mam no problem, I saw the open issue with no PR attached that's why I started looking to solve it. please go on with your PR.
thank you

[2020-09-03 02:44] #4885 closed

[2020-09-03 05:23] iamareebjamal opened #4947 "LinkInput crashing after recent changes"
1. Open extra details in Event Dashboard
2. Social Link component won't be rendered
3. See errors in console

[2020-09-03 05:27] iamareebjamal commented on #4947
The component should be refactored to computed properties instead of observers in future

[2020-09-03 05:28] iamareebjamal opened #4949 "Refactor LinkInput to computed properties"
The component should be refactored to computed properties instead of observers in future

_Originally posted by @iamareebjamal in https://github.com/fossasia/open-event-frontend/issues/4947#issuecomment-686262194_

[2020-09-03 05:32] iamareebjamal commented on #4596
Delete Implementation remaining as it was more involved. For now, organizers can remove the field inclusion which is almost same as deletion

[2020-09-03 05:39] #4947 closed

[2020-09-03 06:32] maze-runnar commented on #2302
working on it.

[2020-09-03 07:01] iamareebjamal commented on #2302
Please finalize #4942 first

[2020-09-03 07:33] mariobehling opened #4950 "Admin: Add Tab System Messages to Admin Settings Section"
Add tab "System Messages" behind the sub tab "System" into the settings section of the admin menu and add options for admin to receive certain messages.

Include link to the event and event dashboard in the emails.

* [ ] Email when new event is created
* [ ] Email when ticket is sold
* [ ] Email when password is reset (include username and email address of user)
* [ ] Email when an event is finis

[2020-09-03 08:07] bsanket16 opened #4951 "Footer section renders in the middle of the page on lower versions IE"
**Describe the bug**
I believe, IE (Internet Explorer) fails to recognize HTML5 tags.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/' on IE 11, 10, 9, 8
2. See bug

**Expected behaviour**
Footer should render at the bottom

**Screenshots**
![IE-Support-open-event](https://user-images.githubusercontent.com/66514052/92088444-848a2e80-edea-11ea-96ce-aca0f3d675e6.gif)

**Desktop**
 -

[2020-09-03 08:09] snitin315 commented on #4951
Internet Explorer is officially dead.

[2020-09-03 08:12] #4951 closed

[2020-09-03 09:51] mariobehling opened #4954 "Invoices/Sales Admin Overview: Implement subtabs and add info about invoice status"
The admin overview on the system sales need to be improved to ensure a smooth sales and invoicing process that can be taken care of by sales staff. Therefore:

* [ ] Separate the admin/sales tab into 2 subtabs - Orders and Invoices
* [ ] Move the sidebar table "Invoices" (https://eventyay.com/admin/sales/invoices) to its dedicated tab
* [ ] Make table sortable according to each column
* [ ] Enhanc

[2020-09-03 13:22] bsanket16 opened #4956 "Add new link button should be disabled (If no input) while adding new links during creation of an event."
**Describe the bug**
While adding links in the Links and social media section, I feel that the add button should be disabled until the input field contains some links/text.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/create'
2. Click on add (+) button

**Expected behaviour**
Add new link button should be disabled until some link or text is provided.

**Screenshots**
![ezgif com-

[2020-09-03 13:22] mariobehling commented on #3132
Closing in favor of https://github.com/fossasia/open-event-frontend/issues/4954

[2020-09-03 13:22] #3132 closed

[2020-09-03 13:26] mariobehling commented on #2442
We have diverted from the original issue description and the ticket code has been re-implemented in some ways. For any problems please refile in a dedicated issue.

[2020-09-03 13:26] #2442 closed

[2020-09-03 13:28] mariobehling commented on #3095
Closing in favor of https://github.com/fossasia/open-event-frontend/issues/4954

[2020-09-03 13:28] #3095 closed

[2020-09-03 13:30] mariobehling commented on #1994
Currently implemented in a good way. Therefore closing this.

[2020-09-03 13:30] #1994 closed

[2020-09-03 13:39] mariobehling opened #4957 "Wizard Step 2: Implement a Refund Text Box and add info on public event page"
There are potentially a number of ways we can implement a refund. For now the easiest way is to:
* add a text box where the user can add information for a refund policy in Wizard Step 2 (above privacy).

![Screenshot from 2020-09-03 16-56-43](https://user-images.githubusercontent.com/1583873/92131697-91b51680-ee06-11ea-8f43-b5cade655ea7.png)

In Wizard step 2 add a helper text icon here, that show

[2020-09-03 13:43] mariobehling commented on #4614
Can no longer reproduce it. Seems fixed. Therefore closing it.

[2020-09-03 13:43] #4614 closed

[2020-09-03 13:53] iamareebjamal commented on #4956
Check which component it is using Ember Inspector extension and read the relevant component's code

[2020-09-03 13:55] mariobehling opened #4958 "System Invoice Information of Platform needs Logo Option"
Please add options for the invoice format to the admin section as follows

* Logo (enable image upload here)
* Show Logo on invoices send to event organizers

Compare https://eventyay.com/admin/settings/billing

![Screenshot from 2020-09-03 15-54-38](https://user-images.githubusercontent.com/1583873/92124254-d4262580-edfd-11ea-86b4-4aed76bd7062.png)

[2020-09-03 13:56] mariobehling commented on #3126
Closing in favor of https://github.com/fossasia/open-event-frontend/issues/4958

[2020-09-03 13:56] #3126 closed

[2020-09-03 14:05] mariobehling opened #4959 "Organizer Invoice Tab: In overview table add Invoice date and Pay with Paypal or Credit Card (Stripe)"
In the organizer invoice tab we need to have additional options:
* [x] Change main tab name from "Billing Info" to "Billing"
* [x] On Invoice Page implement filters: Unpaid, Overdue, Paid, Failed, Refunding, Refunded
* [x] For the invoice use company data provided in payment info
* [x] In invoice # column provide the invoices as downloadable PDF
* [x] Add a column "Date" after "Event Name"
* [x] M

[2020-09-03 14:58] bsanket16 commented on #4956
I am on it. 👍 @iamareebjamal

[2020-09-03 15:18] mariobehling commented on #4609
The recent changes resulted in only covering very few social media services. Services that were previously covered in this feature are no longer covered, e.g.

- GitHub
- Gitlab
- Vimeo
- Blog
- Flickr
- Any other major social media platform
- Custom (User should be able to add own detail here)

Please add other major services and enable the user to use "Custom".

E.g. = example. It does not mean

[2020-09-03 15:22] snitin315 commented on #4609
I will update

[2020-09-03 16:11] mariobehling commented on #4652
A contact form would be a good idea now. As we are starting to charge for the event we need attendees to be able to contact organizers through a form. So, at least after we have the invoicing system live we should provide a way to contact organizers.

[2020-09-03 16:29] mariobehling opened #4960 "Social System Links functionality URL and Form bugs after Recent Changes in Admin Section"
Recently the social system links functionality was updated and now there are issues with each form field:
* Every field now requires a URL even though the URL field is already preceding
* blogs.fossasia.org should not be there as this is the admin should be able to add any domain here. So only show https:// or http:// as an option
* Please also add https://www.patreon.com as an option

Compare htt

[2020-09-03 16:39] snitin315 commented on #4960
PR here #4955

[2020-09-03 16:49] mariobehling commented on #4741
Thanks for adding the pricing table! Please also complete the remaining parts of this issue including link on footer, header, tagline, link for not logged in users on top menu bar.

The table has a variance in the thickness of the table lines. Please make it even as well. See below.

![Screenshot from 2020-09-03 18-47-04](https://user-images.githubusercontent.com/1583873/92143859-25421380-ee16-11e

[2020-09-03 17:04] mariobehling opened #4961 "Footer: Fix links in Footer Column "Plan Events""
Please change the links in the footer column plan events as follows:

- Online Registration -> http://support.eventyay.com/event-setup/How-can-I-create-an-event.html
- Sell Event Tickets -> http://support.eventyay.com/event-setup/How-to-sell-tickets.html
- Event Management Software -> http://support.eventyay.com/

[2020-09-03 17:46] mariobehling opened #4962 "Admin: API URL hardcoded"
The API URL is suddenly hardcoded in the admin section. Compare https://eventyay.com/admin/settings

![Screenshot from 2020-09-03 19-45-33](https://user-images.githubusercontent.com/1583873/92149301-20815d80-ee1e-11ea-9305-0f500f9946ec.png)

[2020-09-03 17:53] mariobehling opened #4963 "Admin: Provide Option "Not to show on Frontpage""
We already have the option to promote an event to the top on the listing of the front page. We also need the option to not show an event on the frontpage, if there is a reason for this.

Therefore:
* [ ] on the table at https://eventyay.com/admin/events/live implement an additional column on the very right with a slider option "Not on Frontpage".
* [ ] If this option is chosen the options "Feature

[2020-09-03 18:07] iamareebjamal commented on #4960
@snitin315 That fix should not be needed at all. The changes in LinkInput component should be backward compatible and thus the new prefix mode should only be applied selectively in the places it is required. Not everywhere else. I am reverting the PRs for now. Please propose a backward compatible solution which only works on opt-in basis