[2019-06-26 13:09] #3051 closed

[2019-06-26 13:10] iamareebjamal commented on #3051
Also, the title of the pages is always `Pages`, bad for SEO. Please open an issue to fix that as well

[2019-06-26 17:27] kushthedude opened #3201 "CI: All tests related to login are failing again"
All Tests related to Log-In/Log-Out are failing again.
Reference #3200 , #3182

[2019-06-26 17:57] niranjan94 commented on #3201
@kushthedude this not really a useful issue to open. Please do some research. And post your finding and possible causes along with this issue.

[2019-06-26 17:58] niranjan94 commented on #3201
And I don't see any CI fails on the development branch. So, could you clarify what you mean ?

[2019-06-26 18:02] kushthedude commented on #3201
The upcoming PRs are getting a acceptance test failure , Happened with two
of my PRs had to rebase them or needed to push a test commit so that CI
gets passed , I have mentioned the reference PRs in which the following is
failing
@niranjan94

On Wed, 26 Jun 2019 at 11:28 PM, Niranjan Rajendran <
notifications@github.com> wrote:

[2019-06-26 18:07] niranjan94 commented on #3201
@kushthedude again you're only telling `"The upcoming PRs are getting a acceptance test failure"`.

But what is required from you (as a contributor) is information such as:

- failed test cases
- if you were able to reproduce it locally
- If you have any theories as to why it could occur.
- Possible fixes

[2019-06-26 18:49] #3156 closed

[2019-06-26 22:50] mariobehling opened #3202 "Add detailed rating info to overview session table"
The overview session table already has columns for ratings. Please add an (i) icon in the rows Avg ratings and Number of Ratings. On scroll over on these icons show:
* on avg ratings - the distribution of ratings e.g. 1 star - 3, 2 star - 0, 3 star - 4 etc.
* Number of ratings: The names of who gave how many stars

![Screenshot_2019-06-26 Session Sessions Order Events Open Event(1)](https://user-i

[2019-06-26 22:51] #3189 closed

[2019-06-27 04:26] shreyanshdwivedi commented on #3202
Can be worked upon after https://github.com/fossasia/open-event-frontend/issues/3195 is completed

[2019-06-27 05:21] uds5501 commented on #3187
I will take a look at this one.

[2019-06-27 08:38] shreyanshdwivedi commented on #3197
@prateekj117 when you fixed the `app/controllers/admin/users.js` according to this comment - https://github.com/fossasia/open-event-frontend/pull/3193#pullrequestreview-253790501, you fixed this issue. Can you please check on your `route-admin-accounts` branch if this issue exists?

[2019-06-27 12:53] kushthedude opened #3203 "Rename Profile to Accounts in User Dropdown for Mobile View"
Since we renamed profile to accounts in website , we forgot to rename it in mobile view .

[2019-06-27 12:58] #3179 closed

[2019-06-27 13:49] kushthedude opened #3204 "`Ticket Ordering` segment is broke ."
**Describe the bug**

`Ticket Ordering` segment is broke on WebApp, Showing an extra price column and orientation is messed up.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'eventyay.com'
2. Click on 'Any Event'
3. See error

**Expected behaviour**

Fix the orientation and extra column

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/60271705-743a1200-99

[2019-06-27 14:22] kushthedude opened #3206 "Donation Ticket: Ticket Min and Max quantity changing with Min and Max Price of Ticket"
**Describe the bug**

Ticket Min and Max quantity changing with Min and Max Price of Ticket

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Event Wizard'
2. Create a 'Donation Ticket'
3. Change min and max price
4. See the min and max buying quantity of ticket
5. See error

**Expected behaviour**

This should not be happening

**Screenshots**

![image](https://user-images.githubuse

[2019-06-27 14:25] mrsaicharan1 commented on #3206
@kushthedude Please follow up on the latest PRs. https://github.com/fossasia/open-event-frontend/pull/3194 fixes this too.

[2019-06-27 14:25] #3206 closed

[2019-06-27 14:33] #3204 closed

[2019-06-27 17:08] uds5501 commented on #2972
@CosmicCoder96 I think this is working fine now.  Please take a look.

[2019-06-27 17:16] prateekj117 commented on #3197
@shreyanshdwivedi No, it's still there.

[2019-06-27 18:27] shreyanshdwivedi commented on #3197
Weird!!. I check after pulling your PR. It worked
@uds5501 @mrsaicharan1 @kushthedude can you guys please check?

[2019-06-27 18:52] mariobehling opened #3207 "Ticket Page: Address light gray instead of standard color"
On the ticket page that users see after they order the address information has another color/different CSS compared to other areas on the page. Please use the same CSS as other similar areas.

![Screenshot from 2019-06-27 20-48-48](https://user-images.githubusercontent.com/1583873/60292405-53c48480-991d-11e9-9fbf-478c56005d40.png)

[2019-06-27 18:56] mariobehling opened #3208 "Order Invoice PDF not suitable for long names and addresses"
Long names and addresses in the order invoice PDF and going over the edge. Please improve the design of the invoice to be suitable for long names and addresses.

![Screenshot from 2019-06-27 20-44-46](https://user-images.githubusercontent.com/1583873/60292682-f8df5d00-991d-11e9-89b3-a0d1753b9690.png)

[2019-06-27 19:16] uds5501 commented on #2552
@kushthedude taking this one.

[2019-06-27 19:51] Eagle732 commented on #3203
Hii, I have sent a pull request for the above issue please have a review. I want to start contributing to this repo.

[2019-06-28 04:23] uds5501 opened #3212 "Change route name from sales/status to sales/invoice"
This is a sub issue of #3132

To be done : Change https://eventyay.com/admin/sales/status to https://eventyay.com/admin/sales/invoices

[2019-06-28 04:46] uds5501 commented on #3023
Closed in #3047

[2019-06-28 04:46] #3023 closed

[2019-06-28 06:07] uds5501 commented on #3126
Implementing  user's billing information under this parent issue itself.

[2019-06-28 06:11] uds5501 opened #3214 "Implement Billing Info for a user (account/billing-info/payment-info)"
Sub issue of #3126

To be done:
![image](https://user-images.githubusercontent.com/21087061/60321140-8e6c0280-9999-11e9-833f-243a292c28f7.png)

- Implement fields for user billing details in account tab
- Add fields following the server PR : fossasia/open-event-server#6103

[2019-06-28 08:23] kushthedude commented on #3201
@niranjan94, At that time all the tests related to login/logout were failing, Problem was CI was not able to assert login and expected and actual URL were diverting, Right now I don't see any such failures now, Could be an issue with CI at that time, I will close the issue might be it was a temporary bug.
Next Time I will post complete stack-trace if I encounter any of such bugs.

PS: I didn't mak

[2019-06-28 08:23] #3201 closed

[2019-06-28 13:16] kushthedude opened #3216 "Test: Write Tests for `Admin System Forms`"
**Is your feature request related to a problem? Please describe.**

Parent Issue #1554

[2019-06-28 16:27] uds5501 commented on #3187
@CosmicCoder96 @niranjan94
I took a look at this issue and seems like this is happening similar to the error here : emberjs/data#3077 .
To try and see if it happens only with our `getOrCreate` method or if it can be recreated using other methods.

I tried using

[code]
and could still face this error.

I maybe looking at the wrong thing during the debugging, maybe the error wasn't caused by this b

[2019-06-28 16:29] niranjan94 commented on #3187
It is you must use set ... so use set and see.

[code]

[2019-06-28 16:33] kushthedude commented on #3187
@niranjan94 It was of no good after this now getting
![image](https://user-images.githubusercontent.com/44091822/60357145-7a9fbb00-99f0-11e9-8541-edee621015ec.png)

[2019-06-28 16:35] uds5501 commented on #3187
I tried that too, faced the same error as @kushthedude . Didn't understand where the `call` object came into picture

[2019-06-28 16:40] kushthedude commented on #3187
@uds5501 I found the getOrCreate method , Its an custom function defined here
[code]

[2019-06-28 16:43] uds5501 commented on #3187
Yes, I found it too, in the EventMixin . May help in understanding what's going on

[2019-06-28 19:03] #3164 closed

[2019-06-29 05:36] uds5501 commented on #3168
@mrsaicharan1 I will be taking a look at this one today.

[2019-06-29 05:58] kushthedude commented on #3186
@shreyanshdwivedi are you able to reproduce this?

[2019-06-29 11:25] #3181 closed

[2019-06-29 11:37] #3207 closed

[2019-06-29 11:40] #3212 closed

[2019-06-29 16:28] shreyanshdwivedi commented on #3186
@kushthedude yes when I don't fill in the location and I jump to last stage by clicking on the `Session and Speakers` heading, the publish button disappeared. Do u want to take over?

[2019-06-29 17:32] shreyanshdwivedi commented on #2796
@kushthedude can you still verify if this exists? Try for a new event and new orders as our order flow changed alot after you reported this issue

[2019-06-29 17:36] shreyanshdwivedi commented on #3196
@prateekj117 @mrsaicharan1  this issue is non-existent. Please check and inform so that issue can be closed

[2019-06-29 17:39] kushthedude commented on #3186
#2606 , @shreyanshdwivedi it was because of fact , we have no validation for location field and rather we have implemented an if/else for it , Should I reopen it ?

[2019-06-29 17:42] shreyanshdwivedi commented on #2893
@kushthedude I think that button is removed from the table. Please check and close this issue

[2019-06-29 17:45] shreyanshdwivedi commented on #3186
We want something like your PR only. Can you please start discussion on gitter so that others might involve too?

[2019-06-30 05:41] uds5501 commented on #3196
@shreyanshdwivedi It is existent on my system

[2019-06-30 05:49] mrsaicharan1 commented on #3196
@prateekj117 There is no such thing as `Applications` in Admin/Users. Could you please tell me where this is persistent?

[2019-06-30 05:52] prateekj117 commented on #3196
Go to `/admin/users/{user_id}/account`

[2019-06-30 06:00] mrsaicharan1 commented on #3196
@prateekj117 Gotcha. I will solve this but please change the issue reproduction info.

[2019-06-30 06:26] uds5501 commented on #3203
Closed in #3210

[2019-06-30 06:26] #3203 closed

[2019-06-30 06:32] uds5501 commented on #3186
@kushthedude The validation on location will force the organiser to  give a location even when there is none ( especially when the user is trying to put up a draft event )

[2019-06-30 17:00] kushthedude opened #3219 "Public Event Page: Speaker Image not visible in `Session Accordion`"
**Describe the bug**

Speaker Image not visible in `Session Accordion`

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Event/Session'
2. Click on 'Any Session'
3. Scroll down to 'Speaker Image'
4. See error

**Expected behaviour**

`Speaker Image` should appear

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/60399717-976df700-9b86-11e9-9bc3-e9f99a484be

[2019-07-01 04:47] #3196 closed

[2019-07-01 07:17] #3216 closed

[2019-07-01 12:08] mariobehling commented on #3115
PR has been reverted. Please provide a new solution.

[2019-07-01 12:13] shreyanshdwivedi commented on #3115
@mariobehling the PR isn't reverted. Instead the PR opened by @kushthedude  reverting my PR was closed.

[2019-07-01 17:13] #3219 closed

[2019-07-01 17:14] #3197 closed

[2019-07-01 17:26] kushthedude commented on #3197
closed this in #3222

[2019-07-01 20:00] prateekj117 commented on #3115
I guess this issue is solved. We should close this one.

[2019-07-01 21:00] CosmicCoder96 opened #3223 "Replace all ember model tables inside admin area with ember tables"
Once #3169 is merged, using that as reference replace all the tables in the app with ember tables.

Parent issue #3018

[2019-07-01 22:27] #2850 closed

[2019-07-02 06:20] shreyanshdwivedi opened #3225 "Add event owner at relevant places"
**Is your feature request related to a problem? Please describe.**

This is a follow-up issue of https://github.com/fossasia/open-event-server/issues/6001
A new role - `owner` is being introduced. The code should be refactored at relevant positions to accommodate the change

Please report any bug related to this feature here.

**Additional context**

On it

[2019-07-02 13:49] kushthedude commented on #3225
@shreyanshdwivedi Have you made a note of the errors which are incurring in the FE due to the introduction of a new role, If yes can you please state all those places too?

[2019-07-02 13:52] shreyanshdwivedi commented on #3225
@kushthedude this issue is to report any discrepancies observed by you, me, @uds5501, @mrsaicharan or any of us.
@uds5501 can you comment the issue you found here, please?

[2019-07-02 13:53] kushthedude commented on #3225
@shreyanshdwivedi, The things I noticed rn,
- In `Manage Events` Table, Roles are not getting rendered.
- Since you have introduced a new role, For all the old events make the `Organiser` to `Event Owner`

[2019-07-02 13:55] shreyanshdwivedi commented on #3225
@uds5501 reported the issue you mentioned on my server PR @kushthedude. Thanks for commenting here
I've made changes locally. Will push it soon

[2019-07-02 13:58] kushthedude opened #3227 "Event Dashboard: Remove the `Order Form` from `Event/Tickets` as we already have an `Attendee Form`"
**Is your feature request related to a problem? Please describe.**

As we have already added `Attendee Form` in our `Event Wizard`, I think there is no use of `Order Form` in the `Ticket Dashboard`.

**Describe the solution you'd like**

Remove the `Order Form` from `Event/Tickets` as we already have an `Attendee Form`

**Additional context**

Will do if found required

[2019-07-02 13:59] kushthedude commented on #3227
@uds5501 @shreyanshdwivedi Do you find it valid?

[2019-07-02 16:35] uds5501 commented on #3227
@kushthedude to be honest, there is no harm in keeping it either.
@CosmicCoder96 @niranjan94 your views?

[2019-07-03 07:07] #3012 closed

[2019-07-03 07:55] CosmicCoder96 commented on #3064
Resolved in #3018

[2019-07-03 07:55] #3064 closed

[2019-07-03 08:55] kushthedude commented on #3227
?

[2019-07-03 16:51] CosmicCoder96 opened #3231 "Make billing information mandatory for paid orders"

[2019-07-03 17:04] kushthedude commented on #3227
@CosmicCoder96 @niranjan94 ?

[2019-07-03 20:07] mariobehling opened #3232 "Orders: Sorting of Date Incorrect"
Sorting according to dates in "Orders" table does not work. It does not sort it according to date and time.

![Screenshot from 2019-07-03 22-07-41](https://user-images.githubusercontent.com/1583873/60621814-fe85e880-9dde-11e9-8557-8488bb085bc2.png)

[2019-07-03 20:27] mariobehling opened #3233 "Make Orders and Attendee View in Ticket Tab Logical"
The orders and attendee tab show "All" orders immediately. This is not necessary as the organizer usually cares less about expired tickets. They want to see the orders that are completed and placed.

Therefore change the orders and attendee tab as follows:
* Show "Completed" in front
* Move "All" to the last place
* Take out "Pending" from the organizer view. It is not relevant for them.

![Screen

[2019-07-03 20:49] shreyanshdwivedi commented on #3233
On it

[2019-07-03 21:02] mariobehling opened #3234 "Expired Orders showing up as Placed in My Tickets"
Expired Orders are showing up as Placed in My Tickets and when clicking on them they show up as paid with Paypal.

![Screenshot from 2019-07-03 22-00-32](https://user-images.githubusercontent.com/1583873/60624811-8c190680-9de6-11e9-8bc5-c06098543de0.png)

![Screenshot from 2019-07-03 22-27-20](https://user-images.githubusercontent.com/1583873/60624816-90452400-9de6-11e9-9e82-290168646036.png)

[2019-07-04 00:58] mrsaicharan1 commented on #3232
Would like to work on this.

[2019-07-04 06:02] kushthedude commented on #3234
Will look into it

[2019-07-04 09:59] kushthedude commented on #3227
@uds5501 Since it has been added to a milestone-7, So we can remove it or if you say have it discussed in meetings .

[2019-07-04 12:39] kushthedude commented on #3234
@shreyanshdwivedi Can you look on it, Since you will be migrating the labels task to the server , I hope it can be solved during the following .

[2019-07-04 12:43] shreyanshdwivedi commented on #3234
@kushthedude I'll be working on adding checks on status of order and that too on server. I don't think this issue is related to server.

[2019-07-04 13:07] uds5501 commented on #3187
@kushthedude @shreyanshdwivedi
 I couldn't replicate this error in our test deployment: https://open-event-fe.netlify.com/

Could you please check if you could replicate it there.

[2019-07-04 13:10] kushthedude commented on #3187
Not Reproducible on event-yay too

[2019-07-04 13:11] kushthedude opened #3236 "Tax Modal : Make Company Details in Tax Modal optional"
After refactoring of tax modal, We forgot to make the `company information` optional.

[2019-07-04 13:14] shreyanshdwivedi commented on #3227
I think we should discuss it in the meeting this weekend

[2019-07-04 16:34] kushthedude opened #3238 "Ticket List : Make Ticket Ordering Wizard compatible with mobile view"
Parent Issue #2927

[2019-07-04 17:22] #3238 closed

[2019-07-04 17:24] #3236 closed

[2019-07-04 20:02] kushthedude opened #3240 "Ember Table: Overlapping Components of Ember Table in `Manage Events`"
Various Components are overlapping in `Manage Events` Section

[2019-07-04 22:11] #3233 closed

[2019-07-04 23:20] CosmicCoder96 opened #3242 "Ember tables: Manage event table date sort support"
Support for date sort was missed in PR #3169

Also, `sorts` needs to be initialized to avoid null comparisons.

[2019-07-04 23:26] CosmicCoder96 commented on #3232
@mrsaicharan1 I will take care of this one in ember tables PR.

[2019-07-04 23:27] mrsaicharan1 commented on #3232
Yeah sure

On Fri, 5 Jul 2019 at 4:56 AM, Abhinav Khare <notifications@github.com>
wrote:

[2019-07-05 06:47] #3242 closed

[2019-07-05 07:12] CosmicCoder96 opened #3244 "Move queryParam and other initializations of ember table controller into a mixin"

[2019-07-05 10:45] uds5501 commented on #2893
@kushthedude I will take care of this one.

[2019-07-05 11:36] #3244 closed

[2019-07-06 21:51] #3240 closed

[2019-07-06 21:52] #3176 closed

[2019-07-06 21:57] #3100 closed

[2019-07-07 08:01] #2927 closed

[2019-07-07 17:05] Anupam-dagar commented on #3098
@CosmicCoder96 All parts of this issue has been completed and merged. This issue can be closed now.

[2019-07-08 18:05] prateekj117 commented on #3186
@uds5501 I don't see the harm in making it compulsory to enter location even in case of saving draft as the owner can edit the location later on while publishing.

[2019-07-08 18:17] kushthedude commented on #3186
Actually there are online events too , and some events just get the event on air and decide location after the response thats why it should not be compulsory , waiting for @mariobehling response for the location dropdown thing

[2019-07-08 18:53] CosmicCoder96 opened #3247 "Add ember tables on all event ticket routes [/events/tickets]"
parent issue #3018

[2019-07-08 19:03] CosmicCoder96 opened #3248 "Add ember tables on event speakers route"
parent issue #3018

[2019-07-08 21:21] kushthedude opened #3249 "Public Page: `Show More Call For Speakers` not working"
**Describe the bug**

`Show More Call For Speakers` button is not working

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Index Page'
2. Click on the following button
3. See error

**Expected behaviour**

All `CFS` with `Open` should get loaded

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/60843471-62038200-a1f4-11e9-85e8-971330bc3679.png)

[2019-07-08 21:34] #3249 closed

[2019-07-09 04:08] shreyanshdwivedi commented on #3248
@CosmicCoder96 I'm adding ember table in event session route in this PR - https://github.com/fossasia/open-event-frontend/pull/3198

[2019-07-10 15:01] uds5501 commented on #3227
@kushthedude can I take this one if you are working on something else?

[2019-07-10 15:49] kushthedude commented on #3227
Pushing it

On Wed, 10 Jul 2019 at 8:31 PM, Uddeshya Singh <notifications@github.com>
wrote:

[2019-07-10 17:07] kushthedude opened #3254 "Event Wizard: Show Payment Options when only Donation Tickets are there."
**Describe the bug**

Show Payment Options when only Donation Tickets are there.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Basic Detail Wizard'
2. Click on 'Donation Ticket'
3. See error

**Expected behaviour**

Show Payment Options .

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822/60989305-3e127e80-a363-11e9-962f-b53827876b57.png)

**Desktop (pl

[2019-07-10 17:28] kushthedude commented on #3234
@shreyanshdwivedi @uds5501 @mrsaicharan1 I tried to place 6-7 orders with PayPal, And for my goodness, none of them changed to `Placed`, Initially, they were `Pending` and then they changed the status to `expired`.
There is no chance for `Online Order` to go to Placed, AFAIK `Placed` is only used for tickets with offline payment.
Any Idea?

[2019-07-10 19:02] #3184 closed

[2019-07-11 07:31] mrsaicharan1 opened #3259 "Issue with tax on donations(separate fee)"
**Describe the bug**
Whenever the tax is configured to be set as a separate fee on top of the price, due to the variable price of donations, the tax is pointing to a negative value. This is most likely due to the computed property which was written in general for paid & free tickets, without keeping donation tickets in mind.

**To Reproduce**
Steps to reproduce the behaviour:
1. Add tax and donati

[2019-07-11 07:49] iamareebjamal opened #3262 "Error after logging in"
Logged in my account, visited home page and this

Environment: production

[code]

[2019-07-11 13:06] #3259 closed

[2019-07-11 23:44] CosmicCoder96 commented on #3262
@niranjan94 In such scenarios, fastboot often bypasses the default error handlers of the app, I assume something is wrong with the production configuration, can you please take a look?

[2019-07-12 00:00] kushthedude commented on #2482
@shreyanshdwivedi I can publish the event without ticket information now also, That's why re-opened the issue.

[2019-07-12 00:02] shreyanshdwivedi commented on #2482
@kushthedude you need to handle this on server to raise appropriate errors.

[2019-07-12 00:03] kushthedude opened #3265 "Wizard: Show Draft button not appearing in Step 3 & 4"
Parent Issue: #3186

- As far as `Location Field` is considered, We need discussion for it, As an event can also be Online or Have `Location` To-Be-Decided on the basis of the response.

[2019-07-12 00:06] kushthedude commented on #2482
@shreyanshdwivedi Should I transfer it or create a new issue?

[2019-07-12 00:12] shreyanshdwivedi commented on #2482
Creating a subissue will be better

[2019-07-12 00:20] #3231 closed

[2019-07-12 00:27] #3227 closed

[2019-07-12 03:34] kushthedude commented on #3074
Closing, for now, Not being able to face it for quite a few days.
If anyone still faces the issue, Please report and reopen, Thanks.

[2019-07-12 03:34] #3074 closed

[2019-07-12 06:26] uds5501 opened #3269 "Deleting orders trigger notifications and emails"
**Describe the bug**

When an organiser deletes a placed / completed (free) / cancelled order, it triggers appropriate email and notifications.

**To Reproduce**
Steps to reproduce the behaviour:
1. Make any order (for eg. cancellation of an order)
2. Go to organiser dashboard and delete the ticket
3. Refresh the page to see the notification

**Expected behaviour**

No email/notification should be

[2019-07-12 07:36] mrsaicharan1 opened #3270 "Maps do not shift to vicinity of the area"
**Describe the bug**
The maps on the explore page are working but, when a location is searched for, the pin is on the location but the map component does not span to that area.

For example, when we search for Singapore, the pin drops on Singapore but the map area is bounded to the USA.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Explore Page'
2. Search for a location

**Expected

[2019-07-12 10:05] #3269 closed

[2019-07-12 11:57] CosmicCoder96 opened #3273 "Netlify and docker deployments are failing"
gettext dependency is not getting downloaded.

[2019-07-12 14:57] #3214 closed

[2019-07-12 20:39] CosmicCoder96 opened #3274 "Production environment: Unhandled errors crash fastboot server"
Caused by authManager.js where an 'await' is not inside a try-catch block

[2019-07-13 08:10] #3273 closed

[2019-07-13 08:35] #3274 closed

[2019-07-13 12:00] Anupam-dagar commented on #3173
@CosmicCoder96 I guess this also needs to be converted to ember table so that search and sort can be implemented in it. Can you confirm? Currently the table is using normal html table syntax.

[2019-07-13 12:07] kushthedude commented on #3173
This can be managed in #2794

[2019-07-14 02:27] mrsaicharan1 opened #3278 "Show appropriate error when order has free tickets(unverified user)"
**Describe the bug**
When an unverified user orders a free ticket, the server side works fine but the error message on FE is irrelevant.

**To Reproduce**
Steps to reproduce the behaviour:
1. Order a free ticket from any event with a new email(unauthenticated)
2. The order does not go through(expected) but error message should be appropriate

**Expected behaviour**
Should show up as unverified use

[2019-07-14 06:37] kushthedude opened #3279 "Account Section : Billing Info updation gives multiple notification on success or error"
#### Description:

Fill up the `Billing Info` in the `Accounts Section` and submit, See multiple notifications for a single click

**Expected behaviour**

Single notification for the single key press

**Screenshots**

<img width="1440" alt="Screenshot 2019-07-14 at 11 59 56 AM" src="https://user-images.githubusercontent.com/44091822/61180169-e6f4fe00-a62f-11e9-9a69-d7f117eb12b9.png">

[2019-07-14 07:21] uds5501 commented on #3234
Fixed on db level

[2019-07-14 07:21] #3234 closed

[2019-07-14 07:23] uds5501 commented on #3187
Not reproduce able on deployements

[2019-07-14 07:23] #3187 closed

[2019-07-14 07:26] #3115 closed

[2019-07-14 07:30] #2482 closed

[2019-07-14 07:39] #3026 closed

[2019-07-14 07:39] #3138 closed

[2019-07-15 06:42] uds5501 opened #3282 "Add integration tests for form components"
Create integration tests for forms various form components.
Parent Issue : #1554

List of tests to be added (to be expanded):

- User Payment Information Form
- Login Form
- Registration Form
- Reset Password Form
- User Profile Form

[2019-07-15 07:37] mrsaicharan1 opened #3284 "Implement payment workflow for event invoice"
**Is your feature request related to a problem? Please describe.**
The last step in the event invoice workflow is payment functionality. As soon as the event invoice is calculated & made available to the organizer, the payment option will enable the organizer to pay the platform fees.

**Describe the solution you'd like**
The workflow will be similar to that of placing an order.

[2019-07-16 11:26] liveHarshit opened #3366 "Enable stripe in dev instance"
Not able to configure stripe for debug server

[2019-07-17 02:22] #3254 closed

[2019-07-17 03:08] #3282 closed

[2019-07-17 05:32] kushthedude opened #3287 "Docs: GetText Linkage error in MacOS"
After the refactor of dependencies, When I installed the Open-Event-FE again on my local machine recently, Get-Text was not getting automatically linked which is resulting in some of the warnings and manual grabbing of various dependencies for `Ember-l10n`, Highlight the issue in Local Installation with its solution

[2019-07-17 10:31] uds5501 commented on #2796
@shreyanshdwivedi @kushthedude This issue doesn't seem to be existing anymore. Tried several orders here, seems to be working fine:

![Screenshot from 2019-07-17 15-55-41](https://user-images.githubusercontent.com/21087061/61368498-9db0e280-a8ab-11e9-80fd-b17dd1f35311.png)

[2019-07-17 12:07] kushthedude commented on #2796
Will check back today.

[2019-07-17 20:09] ShridharGoel opened #3289 "Compulsory phone number when updating profile details"
**Describe the bug**
Phone number is set as a compulsory field when updating profile details.

**Screenshot**
![Compulsory phone number](https://user-images.githubusercontent.com/35566748/61408095-e5ac2580-a8fc-11e9-9a07-5c825df3c231.png)

[2019-07-17 22:21] shreyanshdwivedi commented on #3289
On it

[2019-07-18 05:55] kushthedude commented on #2796
@uds5501 @shreyanshdwivedi  It's still there, See this

![image](https://user-images.githubusercontent.com/44091822/61432630-a3abcf80-a94e-11e9-8809-9b24cdb9bae0.png)

I think in the `Ticket Summary` section its showing order value in spite of individual ticket subtotal.

[2019-07-18 10:06] uds5501 commented on #2796
@kushthedude Regarding this, something caught my eye. How come this event has `Free` tickets in placed orders section? I am assuming that it's gonna cost `INR 0` yet it has placed orders which shouldn't be there coz the free orders just get to completed state AFAIK. Is there a particular ambiguity in this ticket? Because otherwise all the calculation actually checks out

[2019-07-18 11:39] kushthedude opened #3290 "Rename `Organised By` to `Owned By` on Event Public Page"
Rename `Organised By` to `Owned By` on Event Public Page

#### Screenshot :

![image](https://user-images.githubusercontent.com/44091822/61454526-c5bd4600-a97e-11e9-801b-da1ba539908c.png)

[2019-07-18 14:58] uds5501 opened #3291 "Add 'billing information' header to avoid confusion"
**Is your feature request related to a problem? Please describe.**

No, Just an enhancement would be great to add a "Billing Information" header between ticket details and billing information details to avoid confusion.

**Current Status**
(Break required after second ticket's email and the beginning of billing information field, company)
![Screenshot from 2019-07-18 20-23-52](https://user-images.

[2019-07-18 22:58] CosmicCoder96 opened #3292 "Discount code failure"
![image](https://user-images.githubusercontent.com/17252805/61497607-035fb480-a9fb-11e9-9f2b-c585070a8280.png)

[2019-07-19 05:20] mrsaicharan1 opened #3293 "Event Export non-functional"
**Describe the bug**
Exporting an event isn't working due to wrong logic pertaining to URL fetching and downloads.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Event Dashboard'
2. Export the event (Press start, wait... and download)
3. See error

**Expected behaviour**
Event Exports should work

**Screenshots**
<img width="1279" alt="Screenshot 2019-07-19 at 10 49 12 AM" src="http

[2019-07-19 07:03] uds5501 opened #3295 "Billing Information not being displayed in the orders"
**Describe the bug**

After the billing information was made compulsory, it should be shown in the paid orders like it used to show.

ex :
![image](https://user-images.githubusercontent.com/21087061/61515789-12595d80-aa21-11e9-9a62-4046316f8738.png)

Currently it is being show like this :
![image](https://user-images.githubusercontent.com/21087061/61515861-3a48c100-aa21-11e9-8da9-f8558b753f44.png)

[2019-07-19 16:57] NickSneo commented on #3290
Hey, I am new to Open Source World, I want to take this issue as my first Contribution. Please guide and help in fixing this issue

[2019-07-20 04:42] uds5501 opened #3298 "Broken thumbnails being shown for event images"
**Describe the bug**

Broken thumbnail images (fallback images) are being shown in order-cards and index page. Instead of broken images, the actual event logo and picture should be shown

See the screenshots :
![image](https://user-images.githubusercontent.com/21087061/61574062-bea94b80-aad6-11e9-9f21-949dbbb29e28.png)
![image](https://user-images.githubusercontent.com/21087061/61574068-d41e7580-a

[2019-07-20 04:45] kushthedude commented on #3298
#### Stack-Trace :

![image](https://user-images.githubusercontent.com/44091822/61574089-4d1dcd00-aad7-11e9-8c5e-d45f443c47d3.png)
  @uds5501 See it , Might be the server issue !

[2019-07-20 04:48] prateekj117 commented on #3298
@kushthedude Paste the networks tab request and response to the API request of images.

[2019-07-20 04:51] kushthedude commented on #3298
Nothing on networks or console @prateekj117

[2019-07-20 05:16] prateekj117 commented on #3298
@uds5501 Not facing this issue. The server response seems alright as well. My both backend and frontend are updated.

![Screenshot from 2019-07-20 10-44-09](https://user-images.githubusercontent.com/31065687/61574298-658fe680-aadb-11e9-93a9-b85cba968921.png)

[2019-07-20 05:26] kushthedude commented on #3290
@NickSneo Get familiar with codebase, read the ReadMe file and make a PR, It is just a typo which you have to solve, Can be a perfect issue for you.

[2019-07-20 06:17] #3287 closed

[2019-07-21 06:51] prateekj117 opened #3299 "Change endpoint for discount code and access code."
Frontend issue for https://github.com/fossasia/open-event-server/issues/6027

**Describe the bug**
Change endpoint for retrieving discount code using event_id as in https://github.com/fossasia/open-event-server/pull/6208.

**Expected behaviour**
Discount code and access code logic should work properly.

[2019-07-21 07:37] shreyanshdwivedi commented on #2366
@kushthedude can you please state the error faced by you?

[2019-07-21 08:30] kushthedude commented on #2366
@shreyanshdwivedi see the issue description and screenshot

[2019-07-21 08:44] shreyanshdwivedi commented on #2366
You mentioned that user is unable to set end time before start time. Is that an issue? I think user should not be allowed to add end time before start time

[2019-07-21 08:56] mrsaicharan1 commented on #2366
I agree with this.

On Sun, 21 Jul 2019 at 2:14 PM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-07-21 09:08] kushthedude commented on #2366
Nope, Set a start time and start date; Change the end date and see the end
time you are restricted to set end time before start time but you are on
different days . Thats the bug @shreyanshdwivedu @mrsaicharan1

On Sun, 21 Jul, 2019, 14:26 Saicharan Reddy, <notifications@github.com>
wrote:

[2019-07-21 22:35] #3291 closed

[2019-07-21 23:17] CosmicCoder96 opened #3300 "Flask JWT extended: Incorrect login test failing after refactor. Travis is failing"
Error response structure has changed.

[2019-07-22 04:55] CosmicCoder96 opened #3303 "Refator manage events table with new conventions"
Since the first ember table PR was merged as a starting point, some guidelines have been established with which to proceed with the rest of the tables for optimum output.

Thus, this original table needs to be updated to make use of the new helpers and follow conventions.

[2019-07-22 08:36] prateekj117 commented on #3299
@mariobehling @uds5501 Please add the tag of high priority and add it to this week milestone.

[2019-07-23 08:52] #3300 closed

[2019-07-24 17:08] Hsuya1100 commented on #3289
can I work on this issue

[2019-07-24 17:09] mrsaicharan1 commented on #3289
@Hsuya1100 Go ahead.

[2019-07-24 19:18] uds5501 commented on #2920
I will break this in some sub-issues which can be worked upon immediately.

[2019-07-25 10:17] uds5501 commented on #3298
@prateekj117 @mrsaicharan1 I am facing this issue after starting celery on my system, can you please let me know if it is reproducible after this?

[2019-07-26 03:32] CosmicCoder96 opened #3306 "Role invites acceptance breaks in production environment"
Transition aborted is thrown, app crashes.

[2019-07-26 10:21] kushthedude opened #3307 "Custom Form : Buggy Fields in custom forms"
**Describe the bug**

Some of the fields of custom forms are misbehaving when setting to required.
**To Reproduce**
Steps to reproduce the behaviour:
1. Create an event with `Gender Field` of `Attendee Form` as a required field.
2. Try to place an order of the following event
3. Scroll down to 'Gender on Order Page'
4. See error

**Expected behaviour**

Remove the bugs
**Screenshots**

![image](ht

[2019-07-26 10:22] kushthedude commented on #3307
@uds5501 @mrsaicharan1 Can you please confirm the reproducibility of the following?

[2019-07-26 18:46] shreyanshdwivedi commented on #3278
Will work on it

[2019-07-26 18:48] shreyanshdwivedi commented on #3225
I don't think any bug related to event owner is found till now. @uds5501 @mrsaicharan1 @kushthedude can u guys confirm this?
I'll close the issue once confirmed maybe

[2019-07-26 19:34] uds5501 commented on #3225
@shreyanshdwivedi I couldn't find any after the one I reported earlier.

[2019-07-26 21:55] kushthedude commented on #3306
@CosmicCoder96 I just tried it and I think perhaps, Its due to CSP which we have not yet configured on the FE
![image](https://user-images.githubusercontent.com/44091822/61983461-11768c00-b01e-11e9-8e73-dafb52d8855b.png)

If its the cause, I was thinking to fix it using the `cli-csp module provided by ember-cli` , Should I try?

[2019-07-27 09:53] kushthedude opened #3309 "Index Page: Add a condition for display of `Show More Call of Speakers`"
**Is your feature request related to a problem? Please describe.**

No, Displaying of the following `hyperlink` should be when the number of `CFS` is greater than some specific integer

**Describe the solution you'd like**

Add a Logical Condition check for the following.

#### Screenshot:

Since only 1 CFS is there, The page still shows `Show More Call of Speaker`
![image](https://user-images.git

[2019-07-28 06:10] anhanh11001 opened #3310 "Not being able to pay with Stripe"
**Describe the bug**
Not being able to pay with Stripe. Nothing happens when clicking on Pay Now Button

**Desktop (please complete the following information):**
Chrome

**Additional context**
[code]

[2019-07-28 07:10] #3248 closed

[2019-07-28 07:49] CosmicCoder96 commented on #3298
reopen , if it reoccurs.

[2019-07-28 07:49] #3298 closed

[2019-07-28 07:52] CosmicCoder96 commented on #3127
Fixed with admin wizard refactor of tables.

[2019-07-28 07:52] #3127 closed

[2019-07-28 09:54] kushthedude commented on #3310
@anhanh11001 On local or eventyay ?

[2019-07-28 12:51] anhanh11001 commented on #3310
eventyay. Try it yourself

[2019-07-28 13:30] mrsaicharan1 opened #3312 "Implement route for review-invoice(event-invoice)"
**Is your feature request related to a problem? Please describe.**
*sub-issue*
As soon as the event invoice tables have been merged, the `pay` button should route the organizer to a page where he can review the event invoice information & pay for it.
This page will also have options to pay via payment gateways.

[2019-07-28 13:33] mrsaicharan1 opened #3313 "Integrate PayPal component for Event Invoice Billing"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
*sub issue*
As soon as the event invoice payment has been authorized & becomes successful, the user must be redirected to the route where he can view the confirmed payment for the invoice.

[2019-07-28 14:36] kushthedude opened #3314 "Events List: Events Table is broke"
**Describe the bug**

Events Table is broke after the recent commits.

![image](https://user-images.githubusercontent.com/44091822/62008102-06814000-b173-11e9-8922-634e2f52cece.png)

**Additional Details**

Debugging it on priority

[2019-07-28 15:43] kushthedude commented on #3314
Will be fixed in #3304 , As new conventions have not been modified for `First Ember Table`

[2019-07-28 15:43] #3314 closed

[2019-07-28 15:58] kushthedude opened #3315 "Admin Area: Fix bugs arisen due to introduction of Ember-Tables"
**Describe the bug**

After the introduction of `Ember Tables` in `Admin Area`, Various small bugs have arisen:
- CSS Overflow.
- Event Name not rendering in Sessions.
- Extra containers in various places.
- Session State missing

**Additional Details**

I will fix them all in follow up PR

[2019-07-29 07:38] liveHarshit opened #3318 "Discunt codes are not working"
![Screenshot from 2019-07-29 13-08-16](https://user-images.githubusercontent.com/27783786/62030114-fc5a5280-b201-11e9-951e-fbf82fd67316.png)
![Screenshot from 2019-07-29 13-08-06](https://user-images.githubusercontent.com/27783786/62030116-fc5a5280-b201-11e9-9113-f4fc93614f34.png)

[2019-07-29 07:51] prateekj117 commented on #3318
@liveHarshit That's due to #3299

[2019-07-29 09:56] #3318 closed

[2019-07-29 10:03] liveHarshit commented on #3310
Same error:
[code]

[2019-07-29 16:49] uds5501 opened #3319 "Implementation of PayTM Payment Gateway"
**Is your feature request related to a problem? Please describe.**

This is the frontend part for implementation of PayTM payment gateway focusing on boosting sales in India.

The corresponding server issue is : fossasia/open-event-server#6247

[2019-07-29 17:19] uds5501 opened #3320 "Addition of PayTM keys in payment gateways"
Parent Issue : #3319
Implement PayTM enabling once the server issue has been taken care of

[2019-07-29 20:38] CosmicCoder96 commented on #3223
Fixed in #3246

[2019-07-29 20:38] #3223 closed

[2019-07-29 21:19] #3292 closed

[2019-07-29 21:20] #3303 closed

[2019-07-29 22:49] anhanh11001 opened #3322 "Unable to create paid ticket with price less than 1 (money unit)"
**Describe the bug**
Unable to create paid ticket like 0.3USD, 0.5 EUR. The minimum amount is 1USD(..)

**Screenshots**
<img src="https://i.ibb.co/x85CrRw/Capture.png" alt="Capture" border="0">

[2019-07-30 03:09] #3315 closed

[2019-07-30 04:16] #3293 closed

[2019-07-30 04:42] ritikamotwani commented on #3319
Hi @uds5501 ,
I don't understand the need for PayTM at this stage. The app has some major bugs which should be fixed first. Instead of introducing more and more new features shouldn't the existing things work first.
Also PayTM is not something which is feasible either. Things like Google Pay would make more sense in the later stage.

[2019-07-30 05:01] mrsaicharan1 commented on #3319
@ritikamotwani It was discussed in our last meeting with regards to deliverables. So the thing is that we wanted to go ahead with paytm because of the proper development docs & workflow integration .

In addition, the main thing is that it was also required to work with android apps so as to make it agnostic w.r.t that,
we went with paytm for India. Is that okay?

https://developers.google.com/pay

[2019-07-30 05:07] CosmicCoder96 commented on #3319
@mrsaicharan1 regarding last meeting : we settled on google pay right ?
Clarify two things: I’m confused now as to where we stand .

In the weekly meeting did we decide for google Pay. (Yes/No)

And secondly,
‘Required to work with android apps’
Google pay does not support android apps ?

On Tue, 30 Jul 2019 at 10:31 AM, Saicharan Reddy <notifications@github.com>
wrote:

[2019-07-30 05:13] mrsaicharan1 commented on #3319
@CosmicCoder96
Yes.
It does support it but it would have to be implemented separately for android, not on the server-side.

[2019-07-30 05:22] #3295 closed

[2019-07-30 05:27] ritikamotwani commented on #3319
Hi @mrsaicharan1
I just asking @uds5501 to fix the bugs assigned to him before jumping to new features.

Further I saw the meeting notes right now and I see you've changed them at 8:46am (IST) today. So, how was it decided in the meeting if you've changed the meeting notes after the meeting. And also as I had seen after the meeting, Google wallet was written there, wasn't it?

[2019-07-30 05:32] mrsaicharan1 commented on #3319
Yes, I had changed it but I meant to say that it was decided in the meeting that payment gateways were one of the deliverables which we had, not that we decided that paytm was finalized.

[2019-07-30 05:33] mrsaicharan1 commented on #3319
@CosmicCoder96 @ritikamotwani Can you specify what we could proceed with?

[2019-07-30 06:04] #3307 closed

[2019-07-30 08:37] gabru-md opened #3324 "GitHub URL: Update the GitHub URL Pattern"
**Describe the bug**

I am trying to register as a speaker for an event and, I have to add my GitHub URL in my speaker profile. But it shows that the GitHub URL is invalid.

**To Reproduce**
Steps to reproduce the behaviour:
1. Register as a speaker for an event on eventyay.com

**Expected behaviour**

Since my profile id `https://github.com/gabru-md` hence it must validate it.

**Screenshots**

!

[2019-07-30 08:39] prateekj117 commented on #3324
@gabru-md Looking into it.

[2019-07-30 08:47] gabru-md commented on #3324
sure!

[2019-07-30 09:05] iamareebjamal commented on #3262
Is this not released yet?

[2019-07-30 09:16] mrsaicharan1 commented on #3154
Please re-open if error is reproducable.

[2019-07-30 09:16] #3154 closed

[2019-07-30 09:45] kushthedude commented on #3262
It has been released .

On Tue, 30 Jul, 2019, 14:36 Areeb Jamal, <notifications@github.com> wrote:

[2019-07-30 09:49] kushthedude commented on #3324
@gabru-md it would be great of you could help with event name too.

[2019-07-30 09:50] kushthedude commented on #3324
@gabru-md please write www as you have done in facebook id , should solve the issue

[2019-07-30 09:53] gabru-md commented on #3324
still shows invalid.
If I input `https://github.com/gabru` then it works.
It fails for `https://github.com/gabru-md`.
![asda](https://user-images.githubusercontent.com/25414121/62119804-00f43900-b2de-11e9-9e03-67b983da70fa.PNG)

[2019-07-30 10:02] iamareebjamal commented on #3262
It is still happening

[2019-07-30 10:13] kushthedude commented on #3322
@anhanh11001 Are decimal prices of tickets been observed on any other platform ?

[2019-07-30 11:03] iamareebjamal commented on #3310
@CosmicCoder96 Please check

[2019-07-30 12:03] kushthedude commented on #3299
Please refer to `Gitter Conversation`.

[2019-07-30 12:09] prateekj117 commented on #3299
@CosmicCoder96 The access-code changes were not done in the previous PR. When entering the Promotional Code, it checks for both the access-codes and discount-codes. Working on the access-code part.

[2019-07-30 12:21] kushthedude commented on #3324
@prateekj117 Can I push its PR, As it is a `priority:high` and you are solving other issues?

[2019-07-30 12:26] prateekj117 commented on #3324
@kushthedude Go ahead.

[2019-07-30 14:57] hpdang commented on #2552
experienced similar problem, on chrome, Ubuntu 18.04.1

[2019-07-30 15:00] kushthedude commented on #2552
@CosmicCoder96 I would like to give it one more try. Will push the PR by tonight.

[2019-07-30 20:29] #3299 closed

[2019-07-30 20:58] #3324 closed

[2019-07-30 21:11] CosmicCoder96 opened #3329 "Loader on login form is not working"
The form is not going into the loading state while processing.

[2019-07-30 21:21] CosmicCoder96 commented on #3329
Reappeared, was an isolated incident

[2019-07-30 21:21] #3329 closed

[2019-07-31 03:44] #3159 closed

[2019-07-31 03:44] #3270 closed

[2019-07-31 03:47] #3098 closed

[2019-07-31 04:45] CosmicCoder96 opened #3330 "The relationship user.salesAdminEvents, and user.marketerEvents malfunction"
There is no propert support for them on the API server yet, they are delaying the admin users page significantly as they directly try to fetch all events associated to the user, remove them.

[2019-07-31 08:15] #3330 closed

[2019-07-31 08:25] CosmicCoder96 opened #3332 "Empty String is sent for twitter, github etc. URLs in session-speaker forms sometimes"
It results in a 422 on server.

[2019-07-31 09:04] shreyanshdwivedi commented on #3322
@anhanh11001 I agree to @kushthedude
I don't think we need this

[2019-07-31 09:57] mrsaicharan1 commented on #3322
@anhanh11001 I'll fix this but I believe this is a server side related fix.

[2019-07-31 10:00] #3332 closed

[2019-07-31 10:14] CosmicCoder96 commented on #3310
@anhanh11001 @liveHarshit Which event did you try it for?
Tried for fossasia summit 2020 on eventyay:
got the gateway:
![image](https://user-images.githubusercontent.com/17252805/62204093-1e8ed480-b3aa-11e9-96cf-e5047264d316.png)

[2019-07-31 11:57] CosmicCoder96 commented on #3335
@kushthedude @uds5501 It's never ~lupus~  CORS.
When there is an internal error on serve, it fails to return anything, which throws a CORS exception, as 500 is not an acceptable status code.

[2019-07-31 12:20] liveHarshit commented on #3310
I have tried for the same: FOSSASIA Summit. Let me check again.

[2019-07-31 12:36] kushthedude commented on #3335
Closed in #3336

[2019-07-31 12:36] #3335 closed

[2019-07-31 13:05] kushthedude commented on #3310
@CosmicCoder96 Tried for summit 2020

![image](https://user-images.githubusercontent.com/44091822/62214054-e3989b00-b3c1-11e9-839a-6a64bb917949.png)

[2019-07-31 13:10] liveHarshit commented on #3310
@CosmicCoder96 Same
![Screenshot from 2019-07-31 18-40-10](https://user-images.githubusercontent.com/27783786/62214414-a7b20580-b3c2-11e9-930e-993671347614.png)

[2019-07-31 13:51] unnawut opened #3337 "Pressing Pay Now button leads to a standstill"
**Describe the bug**
Pressing "Pay Now" on the order summary page does not cause any change on the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://eventyay.com/e/aac5bcc7
2. Pick one Early Bird ticket
3. Press "Pay Now"
4. Fill in the billing form
5. Chose "credit card" as payment method
6. Click "Proceed to checkout"
7. Click "Pay Now"

At this point after clicking, noth

[2019-07-31 13:57] iamareebjamal commented on #3337
Duplicate of #3310

[2019-07-31 13:57] #3337 closed

[2019-07-31 14:35] mrsaicharan1 commented on #3309
@kushthedude Can I take this?

[2019-07-31 14:46] kushthedude commented on #3309
Sure

[2019-07-31 16:50] #2552 closed

[2019-07-31 17:52] kushthedude opened #3339 "Introduce Ember Tables in `Admin/Messages`"
Parent Issue: #3018

[2019-08-01 04:00] #3322 closed

[2019-08-01 08:49] uds5501 opened #3343 "Design bugs in pending order page"
**Describe the bug**

There are certain discrepancies in the design as mentioned below
- For Omise checkouts, the payment button is being shown at wrong location.
- For stripe and paypal option, the buttons are being shown twice (see screen shot)

**Expected behaviour**

They should follow the design pattern as expected.

**Screenshots**

![Screenshot from 2019-08-01 14-14-01](https://user-images.

[2019-08-01 18:39] #3343 closed

[2019-08-02 02:32] mrsaicharan1 commented on #2366
I've tried what you've mentioned here but I haven't experienced any issue. Let's close this for now & reopen if anyone else experiences this.

[2019-08-02 02:34] mrsaicharan1 commented on #2366
event dates which are not being set
Ex:
start: 23/7 5:00 PM
end: 24/7 4:30 PM

[2019-08-02 02:58] mrsaicharan1 commented on #2077
@Anupam-dagar This is functional now. I can confirm this.

[2019-08-02 03:14] kushthedude commented on #2077
@mrsaicharan1 Please try this on event wizard step-1.

On Fri, 2 Aug, 2019, 08:28 Saicharan Reddy, <notifications@github.com>
wrote:

[2019-08-02 07:46] mariobehling opened #3346 "Deleted draft event results in notifications and shows up in draft on admin"
This might be an issue after migrations. A deleted draft event resulted in notification "event is over" and an email "event is over". Furthermore it showed up as draft in admin/events.

Ensure that a deleted event is actually deleted and does not result in system actions anymore.

[2019-08-02 07:46] #3312 closed

[2019-08-02 07:48] hpdang opened #3347 "Error message after accepting a role-invite"
I saw there was a similar bug but with different error message https://github.com/fossasia/open-event-frontend/issues/2771

**Describe the bug**
After accepting an co-organizer role invitation, the following message showed up. However, the acceptance worked. I was able to access the event page.

![Screenshot from 2019-08-02 09-32-20](https://user-images.githubusercontent.com/1658742/62353190-56149

[2019-08-02 08:24] edenyay opened #3348 "Error message when trying to accept a role-invite"
**Describe the bug**
When attempting to accept an invite role, i experienced a similar bug to #3347 but with different error message and cannot access the event after.

**Screenshots**
![Screen Shot 2019-08-02 at 14 52 26](https://user-images.githubusercontent.com/32028823/62355554-6b54e580-b539-11e9-9a1c-d824817c9862.png)

**Desktop (please complete the following information):**
 - OS: MacOS Moja

[2019-08-02 10:27] uds5501 commented on #3346
Taking a look into it

[2019-08-02 10:44] kushthedude commented on #3347
Taking a look on it

[2019-08-02 13:52] shreyanshdwivedi commented on #3313
I'll open a PR for completed payment page by tonight as review page is merged now. @mrsaicharan1 then you can move forward to integrate payment gateway

[2019-08-02 13:55] shreyanshdwivedi commented on #2953
As @kushthedude mentioned in his last PR that this issue can be worked upon, I'll be working on this since the corresponding server PR is already merged

[2019-08-02 14:01] mrsaicharan1 commented on #3313
Yeah! Will do that right away.

On Fri, 2 Aug 2019 at 7:22 PM, Shreyansh Dwivedi <notifications@github.com>
wrote:

[2019-08-02 18:25] shreyanshdwivedi opened #3349 "Implement paid route for event invoice"
**Is your feature request related to a problem? Please describe.**

Parent Issue - #3284
_Sub Issue_

As soon as the event invoice payment has been authorized & becomes successful, the user must be redirected to the route where he can view the paid payment for the invoice.

[2019-08-03 08:30] #3346 closed

[2019-08-03 19:21] iamareebjamal opened #3353 "Implement refresh token based authentication"
API: https://api.eventyay.com
API Docs - https://root-m29xfdiov.now.sh/

Add a check box - `Remember Me`

If the user checks it, they will not be logged out from the site. All needed info on how to implement it is present in Authentication Section of the API doc above. If any doubt, ask me.

[2019-08-03 20:48] kushthedude commented on #3319
@mrsaicharan1 @CosmicCoder96  I suggest implementing GPay would suffice as far as android is considered, They can confirm the payment from the default UPI app they are using as done by many Indian apps.

[2019-08-04 04:58] uds5501 commented on #3353
Will take a look into it

[2019-08-04 06:00] kushthedude opened #3354 "Event Dashboard: Show `Settings` only to `Event Owners`"
**Is your feature request related to a problem? Please describe.**

Currently, Event Role of every kind is able to see the following settings which should not be the case.

**Describe the solution you'd like**

Hide the tab for the non-admin users.

**Additional context**

I will work on it

[2019-08-04 07:40] #3290 closed

[2019-08-04 07:41] mrsaicharan1 commented on #3225
If any issue comes up, please reopen

[2019-08-04 07:41] #3225 closed

[2019-08-04 07:52] #3348 closed

[2019-08-04 07:52] #3306 closed

[2019-08-04 07:58] CosmicCoder96 opened #3356 "Redirect a role invitee to login page instead of register if his/her mail is already in system"

[2019-08-04 09:16] liveHarshit opened #3357 "Wrong included tax information"
Tax details from API: https://open-event-api-dev.herokuapp.com/v1/events/bb9f5cc4/tax
On frontend: https://open-event-fe.netlify.com/e/bb9f5cc4

Tax should calculate in decimal. Like 90.90+9.10

[2019-08-04 14:42] kushthedude commented on #3357
@liveHarshit That was because we used an integer for ticket price and tax before, I will fix it

[2019-08-04 15:00] kushthedude commented on #3262
@CosmicCoder96

[2019-08-04 15:05] kushthedude commented on #2972
@uds5501
Happens due to the removed validations, As soon as we change the start time or date, the End date is reset automatically.

[2019-08-04 15:09] kushthedude commented on #2077
Still, present in the `Event Wizard`

[2019-08-05 10:49] mariobehling opened #3359 "Emails: Not showing "from Name" specified in admin settings"
On eventyay in the email settings the from name specified is "Eventyay". However the emails received do not show the name. They only show the from email.

![Screenshot from 2019-08-05 12-48-04](https://user-images.githubusercontent.com/1583873/62459371-76995280-b77f-11e9-8ce7-cd7191cd2f77.png)

[2019-08-05 10:50] shreyanshdwivedi commented on #3359
On it

[2019-08-05 20:40] mrsaicharan1 opened #3360 "Removing profile picture doesn't work"
**Describe the bug**
The profile picture remains as it is when we click on to confirm delete for the profile picture.
related issue server: https://github.com/fossasia/open-event-server/issues/6171
**To Reproduce**
Steps to reproduce the behaviour:
Try removing a pre-set profile picture.

[2019-08-06 14:31] kushthedude opened #3362 "Event Dashboard: Use Ember Table for sponsors"
Parent Issue: #3018

[2019-08-07 19:21] shreyanshdwivedi opened #3364 "Add stripe test key fields to payment-gateway-form"
Follow-up issue of https://github.com/fossasia/open-event-server/issues/6321

**Describe alternatives you've considered**

Add stripe test keys to the payment-gateway-form

**Additional context**

On it

[2019-08-08 07:01] #2953 closed

[2019-08-08 08:40] #3364 closed

[2019-08-08 12:41] uds5501 opened #3367 "Billing Information not provided error showing on buying paid tickets"
**Describe the bug**

Recent server changes require follow up client changes to counter this error.
![Screenshot from 2019-08-08 18-06-16](https://user-images.githubusercontent.com/21087061/62703925-e28dec00-ba07-11e9-95a8-c1c420c5d6a3.png)

**Additional context**

Working on it

[2019-08-08 12:45] shreyanshdwivedi commented on #3366
@liveHarshit are you on local dev instance?
If yes, you need to enable stripe on `Settings` > `Payment Gateways` > `Enable Stripe`

[2019-08-08 12:54] liveHarshit commented on #3366
I haven't set it locally. And how can I check with the Android locally? It needs to create an event first on the API.

[2019-08-08 18:30] uds5501 commented on #3367
Closed in fossasia/open-event-server#6310

[2019-08-08 18:30] #3367 closed

[2019-08-09 03:06] #3360 closed

[2019-08-09 03:10] CosmicCoder96 commented on #3366
Done, and entered key values too.

[2019-08-09 03:10] #3366 closed

[2019-08-09 04:38] mrsaicharan1 commented on #2669
This is not a priority right now, as discussed in the meeting.

[2019-08-09 05:41] kushthedude opened #3368 "FE Validation for Country not present in FE."
**Describe the bug**

FE Validation for Country not present in FE.

**To Reproduce**

Steps to reproduce the behaviour:

- Make any paid order.
- Don't fill country and see 422 rather than FE validation error

**Expected behaviour**

Add Validation.

[2019-08-09 07:06] liveHarshit commented on #3366
@iamareebjamal @CosmicCoder96 Please suggest me how to create an event with stripe payment option in dev instance:
![image](https://user-images.githubusercontent.com/27783786/62760748-554ba580-baa2-11e9-8448-f38b8f954ecc.png)

[2019-08-09 07:58] #3195 closed

[2019-08-10 08:18] #3368 closed

[2019-08-10 14:42] uds5501 commented on #3354
@kushthedude which settings are you talking exactly?

[2019-08-10 15:21] shreyanshdwivedi commented on #3354
@uds5501 settings on manage events page.
@kushthedude can you please open a PR for this today itself?

[2019-08-10 15:25] CosmicCoder96 opened #3372 "Fastboot: window.ga is not defined"

[2019-08-10 17:17] #3372 closed

[2019-08-10 17:18] #3320 closed

[2019-08-11 07:03] kushthedude commented on #3354
I will open one today

[2019-08-11 07:32] uds5501 commented on #2829
Refactoring to Ember tables. hence closing.

[2019-08-11 07:32] #2829 closed

[2019-08-11 08:44] #3349 closed

[2019-08-11 09:57] Parth910 opened #3374 "For Event Registration: Can Not Edit Email"
**Describe the bug**
when we register for any event email is compulsory but we can not edit an email

**Expected behaviour**
An email is provided already
or
we can edit or add email manually

**Screenshots**

![Screenshot from 2019-08-11 15-00-46](https://user-images.githubusercontent.com/31615065/62832465-2113e880-bc4c-11e9-8653-12f43cb6a65e.png)

**Desktop (please complete the following informat

[2019-08-11 09:58] shreyanshdwivedi commented on #3374
@Parth910 I'll take a look at it if you are not working on this

[2019-08-11 09:59] Parth910 commented on #3374
@shreyanshdwivedi I am working on this

[2019-08-11 10:00] shreyanshdwivedi commented on #3374
Okay, so order is associated with an user and if you change the email we'll have to verify the email again to ensure it is not a spam order.
Therefore I think email should not be allowed to be. updated in the order section. You can visit your profile and update it if you want

[2019-08-11 10:05] Parth910 commented on #3374
yes but what if my email is not showing in order section, how can I add?

[2019-08-11 10:50] kushthedude commented on #3374
Email is compulsory, and the email in ticket buyer is uneditable unless you are using a guest account for placing order.
Please give exact steps since tue following part was never buggy.

[2019-08-11 11:02] Parth910 commented on #3289
@ShridharGoel  we have to set this field compulsory or remove compulsory field?

[2019-08-11 11:14] Parth910 opened #3375 "Add input also at selecting quantity of tickets"
When we select no. of tickets at registration of event there is a dropdown for quantity. sometimes it is frustrating when there is large no of tickets

**solution**
we can add input option also so, that user can manually add a number of tickets

**screenshot**
![rsz_1screenshot_from_2019-08-11_16-39-45](https://user-images.githubusercontent.com/31615065/62833133-2c204600-bc57-11e9-8c44-285699137ab

[2019-08-11 11:15] ShridharGoel commented on #3289
@Parth910 This field should not be compulsory.

[2019-08-11 11:19] Parth910 commented on #3289
@ShridharGoel  Ok, Thanks

[2019-08-11 12:02] kushthedude commented on #3375
@Parth910 The pattern is standard and making it an input field has a lot of consequences, And the number of tickets buyable at a time is also decided by the organiser. Many events do provide their email address for bulk orders, No one makes the bulk order without discussing with event owner. Thanks.

[2019-08-11 12:02] #3375 closed

[2019-08-11 12:10] kushthedude commented on #3374
Closing the following, Please give exact steps to reproduce. As the email here should be given during registration and it should be non-editable as is.
Thanks

[2019-08-11 12:10] #3374 closed

[2019-08-11 12:21] kushthedude opened #3376 "Guest Order: Not responding page after going back from guest order form"
**Describe the bug**

Not responding page after going back from the guest order form

**To Reproduce**

Steps to reproduce the behaviour:

1.)  Logout of your account, Make a guest order with an ID already registered.
2.) When prompted to enter the password, Try to go back and see a non-responding page.
3.) See error

**Expected behaviour**

The page should be responding with no email.

**Screensh

[2019-08-11 12:50] ShridharGoel opened #3377 "Sessions showing wrong date and time"
**Describe the bug**

Session scheduled at 7 PM, 11 Aug is showing as 12:30 AM, 12 Aug in the `Sessions` section while in the `Schedule` it's shown correctly.

This seems to be due to the unnecessary addition of 05:30 in the time.

[2019-08-11 12:51] shreyanshdwivedi commented on #3377
I also faced this. Will take a look at this today

[2019-08-11 16:39] msk4862 opened #3379 "Appropriate error message is showing only on first click on ordering a free ticket from an unverified account."
**Describe the bug**
Appropriate error messege is showing only first time on ordering a free ticket from an unverified account.
If we click on the "order now" button again then its showing an unappropriate error message.

**To Reproduce**
Steps to reproduce the behaviour:
1. Login from an unverified account
2. Click on an event
3. Click on order now button for free ticket then an appropriate messa

[2019-08-11 17:30] kushthedude commented on #3379
Duplicate of #3278

[2019-08-11 17:30] #3379 closed

[2019-08-11 18:47] #3339 closed

[2019-08-12 08:48] shreyanshdwivedi commented on #3357
@kushthedude if you are busy somewhere, I would like to take this up

[2019-08-12 10:06] kushthedude commented on #3357
Sure

[2019-08-12 17:24] uds5501 opened #3380 "Update payment dictionary to include PayTM acceptance of the currencies"
Sub-issue of #3319

**Describe the solution you'd like**

Add `paytm: true/false` to ensure scalability in case PayTM gateway starts accepting more currencies in future.

**Additional context**

Working on it

[2019-08-12 18:10] #3380 closed

[2019-08-12 20:02] CosmicCoder96 opened #3382 "Discount codes experiencing similar date-time-picker bug as event wizard"

[2019-08-13 05:29] #3289 closed

[2019-08-13 05:29] mrsaicharan1 commented on #3289
Fixes in #3378

[2019-08-13 07:10] uds5501 opened #3384 "Enabling Paytm not being stored in the database"
**Describe the bug**

Enable PayTM checkbox isn't working but keys are being saved properly.

**Screenshots**

While saving :
![image](https://user-images.githubusercontent.com/21087061/62921820-6a3c7780-bdc7-11e9-8029-24827980486e.png)

After a refresh :
![image](https://user-images.githubusercontent.com/21087061/62921835-74f70c80-bdc7-11e9-92a5-62b3d0510757.png)

[2019-08-13 07:23] mrsaicharan1 opened #3386 "Google ReCaptcha Config Not Working"
**Describe the bug**
Google Recaptcha does not work.

**To Reproduce**
Steps to reproduce the behaviour:
1. Try enabling Google Recaptcha and enter keys into it
2. Doesn't get saved to DB.

[2019-08-13 08:58] shreyanshdwivedi opened #3388 "Add PayTM as a payment option on order checkout page"
**Is your feature request related to a problem? Please describe.**

As we are moving forward with PayTM on backend, we should start with FE integration

**Describe the solution you'd like**

- Add PayTM on event creation page as a payment method
- Add PayTM on order pending page (if paytm is selected as a payment method)

**Additional context**

On it

[2019-08-13 09:47] shreyanshdwivedi opened #3389 "Error on manage event session page"
**Describe the bug**

Error `Unhandled promise rejection Error: "Assertion Failed: Cannot call get with 'count' on an undefined object."` appears on loading of session page

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `Manage Events > Event`
2. Click on `Sessions`
3. See error

**Expected behaviour**

Sessions should load properly

**Additional context**

On it

[2019-08-13 10:07] mariobehling opened #3390 "Admin Settings: Missing info where Captcha is used"
The admin settings page at https://eventyay.com/admin/settings contains the option to switch on Captcha. The info on where the Captcha feature is used is missing. Please add a table with the page and functionality that uses the Captcha feature below the config option.

![Screenshot from 2019-08-13 11-23-38](https://user-images.githubusercontent.com/1583873/62933604-e08aab00-bdc2-11e9-8439-8f52b713

[2019-08-13 10:23] #3384 closed

[2019-08-13 10:47] kushthedude opened #3391 "Admin Area: Addition of Test Client Id in stripe"
Addition of field for `Stripe_Test_Client_ID` as referred in https://github.com/fossasia/open-event-server/issues/6345

[2019-08-13 10:49] shreyanshdwivedi commented on #3391
If you're on server issue, I would like to take this

[2019-08-13 10:50] kushthedude commented on #3391
Both done will push the FE change too.

[2019-08-13 11:00] #2920 closed

[2019-08-13 11:00] #3118 closed

[2019-08-13 11:15] #3386 closed

[2019-08-13 11:27] shreyanshdwivedi opened #3393 "Event invoices not visible on being fetched correctly from server"
**Describe the bug**

Event invoices are being fetched from server accurately but are not displayed on FE

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `Account`
2. Click on `Billing Info > Invoices`
3. See error

**Expected behaviour**

Event invoices should be displayed correctly

**Additional context**

On it

[2019-08-13 12:13] NamanZelawat commented on #3086
I would like to work on this issue.

[2019-08-13 12:47] #3265 closed

[2019-08-13 13:30] shreyanshdwivedi commented on #3389
Fixed in https://github.com/fossasia/open-event-server/pull/6360

[2019-08-13 13:30] #3389 closed

[2019-08-13 13:57] CosmicCoder96 opened #3394 "Replace refreshRoute with unloadRecord in Ember tables"
To take care of cases, where record is still visible after calling destroy on it.

[2019-08-13 14:33] kushthedude opened #3395 "Order Form: Optimise Omise Icon for Proper UI"
Omise image is clearly a lot bigger than it should be supposed to. Refactor it accordingly.
![image](https://user-images.githubusercontent.com/44091822/62950327-6b8c9500-be05-11e9-8a8e-fd51b063c4ca.png)

[2019-08-13 14:35] #2993 closed

[2019-08-13 14:46] kushthedude commented on #2239
The build is passing, Hence closing the issue

[2019-08-13 14:46] #2239 closed

[2019-08-13 14:49] CosmicCoder96 commented on #2618
Fixed in #3333

[2019-08-13 14:49] #2618 closed

[2019-08-13 15:12] #2893 closed

[2019-08-13 16:48] anhanh11001 opened #3397 "Vietnamese fonts doesn't look good in Eventyay"
**Describe the bug**
Please try to update Vietnamese font, (better if someone can also can test different countries font in Eventyay besides English)

**Screenshots**
<img src="https://i.ibb.co/cg2z3Lw/vn-font.png" alt="vn-font" border="0">

**Desktop (please complete the following information):**
 Chrome

[2019-08-13 16:51] anhanh11001 opened #3398 "Call for Speakers not issued in Eventyay"
**Describe the bug**
While my event is shown in Eventyay  Call for Speakers list, when I clicking on it, an error showing "Call for Speakers has not been issued yet". It is still working fine in other clients (Android app)

**To Reproduce**
Try my event here https://eventyay.com/e/e0eedcbd in the main page

**Screenshots**
<img src="https://i.ibb.co/ZWzHZ9k/68628688-817210238673756-438708261064854

[2019-08-13 16:57] shreyanshdwivedi commented on #2796
@kushthedude any update on this issue?

[2019-08-13 17:14] anhanh11001 opened #3399 "Empty refund policy page"
**Describe the bug**
Refund policy page is empty

**Screenshots**
<img src="https://i.ibb.co/KbgPq9J/67884228-437081670225819-6367273713351524352-n-1.png" alt="67884228-437081670225819-6367273713351524352-n-1" border="0">

[2019-08-13 17:47] #3391 closed

[2019-08-13 18:36] uds5501 opened #3401 "Add links to view appropriate invoice pages in billing invoice table"
Sub issue : #3284
Add links to view appropriate invoice pages

- due status = "Review invoice payment" page
- paid status = "Payment completion" page

[2019-08-13 19:12] kushthedude commented on #3399
@anhanh11001 This also needs to be filled up by @mariobehling under `Admin/Pages`.

[2019-08-13 19:25] kushthedude commented on #2796
@shreyanshdwivedi I will test this issue again, Will close if found nothing.

[2019-08-13 20:44] #3394 closed

[2019-08-14 02:57] anhanh11001 opened #3405 "Sometimes, eventyay page doesn't show anything but error message"
**Describe the bug**
Sometimes, when going to eventyay.com, I got this error. It is occasional, not really often. If I open an icognito or another browser then the page is working normally

**Screenshots**
<img src="https://i.ibb.co/BNpKnJn/image.png" alt="image" border="0">

**Desktop (please complete the following information):**
Chrome

[2019-08-14 03:20] #3232 closed

[2019-08-14 04:00] kushthedude commented on #3405
Duplicate of #3262

[2019-08-14 04:00] #3405 closed

[2019-08-14 05:54] #3393 closed

[2019-08-14 05:58] kushthedude opened #3406 "Attendee List: Only render required fields and some of the fields are not rendering."
Since we are rendering all fields in `attendee list` due to this many incomplete fields are getting shown.
Also, some of the select fields are not getting rendered fix them.
![image](https://user-images.githubusercontent.com/44091822/62997638-9834c100-be86-11e9-8f14-08f151d12738.png)

[2019-08-14 06:31] uds5501 opened #3408 "Implement event invoice pdf downloads"
Link download invoice button to the PDF extraction endpoint.

[2019-08-14 08:40] uds5501 opened #3409 "Tickets are required for publishing event error even when tickets are present"
**Describe the bug**

"Tickets are required for publishing event" is popping up even when tickets are present.
Error:
![image](https://user-images.githubusercontent.com/21087061/63006907-3c296700-be9d-11e9-940b-0e85cd422015.png)

Tickets :
![image](https://user-images.githubusercontent.com/21087061/63006922-45b2cf00-be9d-11e9-8e65-181fed1762da.png)

**Additional context**

Working on it

[2019-08-14 10:21] #3401 closed

[2019-08-14 10:40] shreyanshdwivedi opened #3411 "Event invoices are not fetched properly in /review route"
**Describe the bug**

Currently, we use filter to get a particular event invoice. Also we are not redirecting request from review to paid even if it is paid

[code]

**Expected behaviour**

We can use proper GET API to fetch invoice

**Additional context**

On it

[2019-08-14 10:49] mrsaicharan1 commented on #3411
@shreyanshdwivedi I've already fixed this in my payment PR.

[2019-08-14 11:04] mrsaicharan1 opened #3413 "Checks required for sandbox/live Paypal API routing"
**Describe the bug**
By default, PayPal is being routed to the live API. In a dev/staging env, it should be routed to the sandbox API. Checks need to be present to route the request to the respective PayPal API.

[2019-08-14 15:05] NamanZelawat commented on #3395
I would like to work on it.

[2019-08-14 15:07] kushthedude commented on #3395
Go on

On Wed, 14 Aug, 2019, 20:35 Zelawat, <notifications@github.com> wrote:

[2019-08-14 15:13] NamanZelawat commented on #3395
ok

[2019-08-14 15:19] CosmicCoder96 opened #3415 "Attendees table search is not working"
Search field results in infinite loading.
Should be switched to ember table.

[2019-08-14 16:54] #3415 closed

[2019-08-14 17:17] shreyanshdwivedi commented on #3262
Closed in favor of https://github.com/fossasia/open-event-frontend/pull/3412
Open it if faced again

[2019-08-14 17:17] #3262 closed

[2019-08-14 17:19] shreyanshdwivedi commented on #3186
@kushthedude if this issue is solved can you close it

[2019-08-14 17:20] shreyanshdwivedi commented on #3279
@kushthedude can you open a PR for this is it is still reproducible?

[2019-08-14 17:54] #3161 closed

[2019-08-15 05:39] NamanZelawat commented on #3395
@kushthedude  how can I create a dummy database to access the payment method section as ticketing is not enabled in the cloned repo.

[2019-08-15 06:01] kushthedude commented on #3395
Set up `Open Event Server`, since the Heroku Deployment won't give you access to omise

[2019-08-15 06:02] kushthedude commented on #3279
Still reproducible but can't get the exact culprit

[2019-08-15 06:05] NamanZelawat commented on #3395
yes, I am running an open event server parallel with the ember serve but I don't know how to operate open event server can you suggest how can I get familiar with open event server.

[2019-08-15 10:48] shreyanshdwivedi opened #3417 "Decimal discount code is being rounded off on events/tickets/discount-codes"
**Describe the bug**

If we set a decimal discount code on `events/<identifier>/tickets/discount-codes` it is being rounded off to integer value.
I set the discount to 10.5% but it is showing 11%

![Screenshot_2019-08-15 Discount codes Tickets taxCalculation Events Open Event](https://user-images.githubusercontent.com/25428397/63090223-3d7b9200-bf78-11e9-8a72-73e8c7b0ac36.png)

**Expected behaviou

[2019-08-15 11:18] kushthedude commented on #3395
Read the `ReadMe` and if you set up `Open Event Sever` properly, You must have created a database for local usage stated under step-3 and a super-admin stated under step-4

[2019-08-15 11:52] kushthedude opened #3418 "Speaker Form : Show `Email Override` checkbox only to Admin."
Currently, the `Checkbox` is getting shown to the speaker itself which is not the working expected.
Only show the following to `Super Admin` or `Admin`.

[2019-08-15 11:53] shreyanshdwivedi commented on #3418
Workin on it? If yes, please assign yourself

[2019-08-15 13:05] ShridharGoel opened #3419 "Unable to add line breaks in event description"
**Describe the bug**
Adding line breaks in event description doesn't work. It still appears in the same line in the event page.

**To Reproduce**
Try adding multiple paragraphs in event description.

[2019-08-15 13:07] ShridharGoel opened #3420 "Page keeps loading after accepting a session"
**Describe the bug**
After accepting a session, page keeps showing the loading message until refreshed.

[2019-08-15 14:39] NamanZelawat commented on #3395
okay, thanks for help.

[2019-08-15 16:50] CosmicCoder96 commented on #3418
show it to event organizer, coorganizer, owner as well.

[2019-08-15 17:01] #3247 closed

[2019-08-15 20:24] #3279 closed

[2019-08-15 21:41] kushthedude opened #3425 "Multiple Success Message in `Admin/Settings/Billing`"
**Describe the bug**

Multiple Success Message on submission of form in `Admin/Settings/Billing`.

![image](https://user-images.githubusercontent.com/44091822/63128784-7c8b0100-bfd3-11e9-9f14-cc99b421c9df.png)

[2019-08-15 21:49] #3425 closed

[2019-08-15 21:49] #3408 closed

[2019-08-16 07:39] #3411 closed

[2019-08-16 13:13] kushthedude opened #3427 "Donation Ticket: Messed up `Ticket Price`"
**Describe the bug**

Messed up `Ticket Price` associated with donation ticket.

**To Reproduce**

Steps to reproduce the behaviour:

1. Enter a `Donation Ticket` price greater than the `Max Value`.
2. Now change the donation price of the ticket within the limits.
3. Place the order and see the `Order Value`
4. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/44091822

[2019-08-16 14:15] prateekj117 commented on #3417
@shreyanshdwivedi Is it client-side or happening on server?

[2019-08-16 15:20] shreyanshdwivedi commented on #3417
It is client side. I think I'll take a look for the reason and fix it

[2019-08-16 17:56] #3409 closed

[2019-08-16 18:51] shreyanshdwivedi commented on #3357
This can be fixed once https://github.com/fossasia/open-event-server/pull/6366 is merged

[2019-08-16 20:09] kushthedude opened #3428 "Remove Model Table from `Admin/Sales`"
Parent Issue #3018

[2019-08-16 21:13] #2077 closed

[2019-08-16 21:13] #2366 closed

[2019-08-16 21:13] #2972 closed

[2019-08-16 21:13] #3020 closed

[2019-08-16 21:13] #3382 closed

[2019-08-16 21:45] kushthedude commented on #3186
Nope, A validation is still required, Since with the recent pr made by @uds5501 restricts `saving draft` without location too, I think we are good to add validation and then we can close it there after

[2019-08-17 08:48] Anupam-dagar commented on #3417
@shreyanshdwivedi so the input isn't accepting decimal values as valid value. See below.
![Screenshot from 2019-08-17 14-18-18](https://user-images.githubusercontent.com/21174572/63209067-e3a2d580-c0f9-11e9-8071-21c9102bff50.png)

[2019-08-17 11:04] Anupam-dagar opened #3431 "validation issue while enabling CFS"
**Describe the bug**

While enabling CFS, if one of the field is empty and we click outside, it gives the expected validation error but this error won't go even on filling up the correct values. Also the error message is wrong for CFS end time.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/events/event_id/edit/sessions-speakers'
2. Enable session & speakers
3. Empty the end date v

[2019-08-17 13:38] liveHarshit opened #3434 "jpeg format is not supported for speaker image"

[2019-08-17 14:15] liveHarshit opened #3435 "Schedule is not updating with event's time"
**Describe the bug**
The schedule is not updating when event time is edited.

![image](https://user-images.githubusercontent.com/27783786/63212816-6db56300-c127-11e9-955e-8ef48456bd61.png)
![image](https://user-images.githubusercontent.com/27783786/63212820-786ff800-c127-11e9-92b9-2f4f0bd0f9b6.png)

[2019-08-17 21:35] shreyanshdwivedi opened #3436 "Sessions Table: Refreshing table after an action leads to discrepancies [Events/Session]"
**Describe the bug**

When a user removes a rating on session page (event overview > sessions), refresh it and then move to 'Manage Events', data is missing in the table

**To Reproduce**
Steps to reproduce the behaviour:
- Visit the `Events/Sessions` Page.
- Refresh the page on `Sessions Table`, Unexpected `NavBar` Appears.
- Pagination and sort filter don't even work on the table.

**Expected be

[2019-08-17 23:12] kushthedude opened #3437 "Fix the multiple notification issue across the web-app"
It is been too long since on every click we receive a notification.
Fix the issue for good once.
![image](https://user-images.githubusercontent.com/44091822/63218161-797a4700-c172-11e9-8755-e6d7005d0d70.png)

[2019-08-17 23:23] #3313 closed

[2019-08-17 23:27] kushthedude commented on #2796
Still Present, Not able to debug it
The ss is of my latest event
![image](https://user-images.githubusercontent.com/44091822/63218241-957ee800-c174-11e9-8b93-872fbf8fd101.png)

[2019-08-18 07:46] CosmicCoder96 commented on #3284
Finished.

[2019-08-18 07:46] #3284 closed

[2019-08-18 07:47] CosmicCoder96 commented on #3110
Fixed with orders table refactor

[2019-08-18 07:47] #3110 closed

[2019-08-18 08:32] shreyanshdwivedi commented on #3186
@uds5501 I think your FE checks handle this. If info is missing while publishing it, it raises an error, right?

[2019-08-18 09:06] uds5501 commented on #3186
Yes. It raises an error for that

[2019-08-18 10:42] liveHarshit opened #3439 "Uneven image sizes in the featured speaker section"
https://eventyay.com/e/a8b7e1b2
![image](https://user-images.githubusercontent.com/27783786/63223436-e6252e00-c1d2-11e9-99ce-f3bdc5a060b3.png)

[2019-08-18 11:02] mrsaicharan1 commented on #3439
@liveHarshit This is not a bug. Rather a feature where the cropping tool should be integrated with the speaker image.  These are in alignment with Semantic UI. Closing this therefore.

[2019-08-18 11:02] #3439 closed

[2019-08-18 11:03] liveHarshit commented on #3439
But there is no cropping tool integrated.

[2019-08-18 11:05] mrsaicharan1 commented on #3439
That's my point. It's a feature which is not of priority here in FE right now. As soon as the high priority issues are taken care of, we'll have a look at this. Letting this stay closed for now.

[2019-08-18 11:13] mrsaicharan1 commented on #3435
It won't update because the scheduler time is independent and it won't be altered automatically. Organisers would have to reschedule it manually. This is not a bug. @uds5501 @shreyanshdwivedi do you agree?

[2019-08-18 11:13] #3435 closed

[2019-08-18 11:13] uds5501 commented on #3435
@mrsaicharan1 No, it's not.

[2019-08-18 11:15] liveHarshit commented on #3435
How organizer cut the UI into the half after changing time, if there is no session in the remaining time.

[2019-08-18 11:16] liveHarshit commented on #3435
It's a bug IMO. The schedule should update according to event time if there is no session.

[2019-08-18 11:17] liveHarshit commented on #3435
@CosmicCoder96 Your opinion?

[2019-08-18 12:28] liveHarshit opened #3440 "Not able to sign up while registering a free ticket from new email"
**Describe the bug**
Not able to sign up while registering a free ticket from the new email. It directly throws an error instead of opening a signup page and send a verification email.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://eventyay.com/e/a8b7e1b2
2. Try to register a free ticket with a new email
3. See error
4. Related issue with android: https://github.com/fossasia/

[2019-08-18 12:34] mrsaicharan1 commented on #3440
This is not a front-end issue. In addition, this is expected.
Please check it @CosmicCoder96 @uds5501 @shreyanshdwivedi

[2019-08-18 12:34] #3440 closed

[2019-08-18 12:45] liveHarshit commented on #3440
@mrsaicharan1 Actually it's a bug either frontend side or server-side. Attendees are reporting it to me. Please do not close all issue without any feedback. What if you share your event link and a new user is trying to register for a ticket. Test it.

[2019-08-18 13:01] shreyanshdwivedi commented on #3440
@liveHarshit this is an intended feature to avoid spam. It was well discussed and then implemented.

[2019-08-18 13:08] liveHarshit commented on #3440
You are not getting the issue. The error is displaying without sign up. User should redirect to the sign up.

[2019-08-18 13:52] mrsaicharan1 commented on #3440
@liveharshit I've discussed this issue with @CosmicCoder96, @uds5501,
@shreyanshdwivedi and @anupamdagar in our previous meeting while we were
running the issues down(was a part of a subissue). I believe that feedback
is enough.

On Sun, 18 Aug 2019 at 6:38 PM, Harshit Khandelwal <notifications@github.com>
wrote:

[2019-08-18 15:03] hpdang opened #3441 "Not able to load all sessions (Organizer View)"
Organizer was not able to view all submitted sessions. The system only display the first page. When try to view the second page, it kept loading without result
![Screenshot from 2019-08-18 17-00-17](https://user-images.githubusercontent.com/1658742/63226472-01476c00-c1da-11e9-8247-1c4bfe351009.png)

**To Reproduce**
Steps to reproduce the behaviour:
Go to Event Dashboard > Sessions > Next Page

Te

[2019-08-18 15:12] Anupam-dagar commented on #3377
This is difficult to resolve unless the scheduler issue is resolved. Also as per my findings, I was not able to find a root cause in frontend. @shreyanshdwivedi can you take a look at it once.

[2019-08-18 17:39] shreyanshdwivedi commented on #3440
@liveHarshit this is more of a feature request than a bug I suppose. We will definitely consider this but it cannot be of priority rn. We are working to make system stable currently

[2019-08-18 17:40] liveHarshit commented on #3440
Yes, that is a point :+1:

[2019-08-18 18:05] #3362 closed

[2019-08-18 18:55] shreyanshdwivedi opened #3442 "Integrate order calculation API to FE"
**Is your feature request related to a problem? Please describe.**

Currently, we are implementing a new API on the server to handle tax and discount calculation for an order. Once it is merged on the server, FE should be changed accordingly
Server PR - https://github.com/fossasia/open-event-server/pull/6366

**Describe the solution you'd like**

When user selects tickets and applies discount code

[2019-08-19 06:09] kushthedude commented on #3436
@CosmicCoder96 These are the list of bugs associated with the current sessions table.

[2019-08-19 06:12] kushthedude commented on #3420
Duplicate of #3436

[2019-08-19 06:20] ShridharGoel commented on #3420
@kushthedude I don't see this mentioned anywhere in that issue.

[2019-08-19 06:32] kushthedude commented on #3420
See point number 5

[2019-08-19 06:38] ShridharGoel commented on #3420
Okay, but when I had used it for my event, the button was working. The problem was that it kept showing the reloading circular progress bar but on refreshing the page, the session showed as accepted.

[2019-08-19 06:44] kushthedude commented on #3420
Don't worry, It will be solved in #3436 .

[2019-08-19 07:22] shreyanshdwivedi commented on #3436
@kushthedude is the new session table even merged to production?

[2019-08-19 07:22] shreyanshdwivedi commented on #3420
@ShridharGoel are you facing this on eventyay.com?

[2019-08-19 07:31] kushthedude commented on #3436
@shreyanshdwivedi , I didnt check the issue opened by @shridhargoel was in regards of eventyay or local.
BTW the edits I made are getting faced on local.

[2019-08-19 07:33] kushthedude commented on #3420
@shreyanshdwivedi Please reopen if the issue is in regards of productions.

[2019-08-19 07:38] ShridharGoel commented on #3420
Yes.

[2019-08-19 08:02] shreyanshdwivedi commented on #3436
Why did u edit the issue title? What bug?
The earlier title was way more clear about the issue faced.
Also please involve into more discussion before closing the issue. I'm opening the issue reported by @ShridharGoel as it isn't related to this issue. This issue is faced on local and too after performing an action and moving to a new table. Please revert the title back to what it was for clarity

[2019-08-19 08:03] shreyanshdwivedi commented on #3420
Isn't related to issue mentioned by @kushthedude
This is production issue

[2019-08-19 08:44] #3130 closed

[2019-08-19 10:34] kushthedude commented on #3436
Session acceptance is not working and all the details enlisted in the issue
description are very well reproducible with current implementation, also
the sort headers are dummy .

On Mon, 19 Aug, 2019, 13:32 Shreyansh Dwivedi, <notifications@github.com>
wrote:

[2019-08-19 10:53] shreyanshdwivedi commented on #3436
@kushthedude please let me know if you understand that the session table itself isn't buggy and let's avoid creating any sort of confusion for now.
- Session acceptance is working perfectly fine on local. Checked just now
- Session rating working fine.
- Data missing appears as soon as `All` is clicked (as happens in few other tables too)
- The only bug which we faced is the one mentioned in this

[2019-08-19 11:03] uds5501 commented on #3436
I can confirm this @shreyanshdwivedi

You are right here, I have been working with even-invoice tables and can see this issue popping up there.

[2019-08-19 22:54] #3436 closed

[2019-08-19 23:40] shreyanshdwivedi commented on #3186
@uds5501 I think then we are good to close this issue, right?

[2019-08-19 23:48] shreyanshdwivedi commented on #3441
@CosmicCoder96 I think once the ember tables are pushed to production, this issue will be solved automatically as the session table is refactored now.

[2019-08-20 05:59] kushthedude opened #3445 "Replace Model Table with Ember Table in `Add Order`"
Parent Issue #3018

[2019-08-20 08:05] uds5501 opened #3446 "Prepare Modal Designs for Paytm checkout"
**Is your feature request related to a problem? Please describe.**

Modal designs are required for paytm checkout and we have to design them manually.

On pending order page, Link these 2 modals with the "Pay with Paytm" option.

- Paytm Payment Options Modal
  * Should contain one wallet option (for now)
  * Space for entering registered mobile number
- OTP checkout
  * Space for entering receive

[2019-08-20 09:07] shreyanshdwivedi opened #3449 "Introduce refreshModel to the session table"
**Describe the bug**

As we have a way to refresh our ember table now, we should introduce it to session table too

**Expected behaviour**

After an action, the table should be refreshed

**Additional context**

On it

[2019-08-20 10:19] Anupam-dagar opened #3450 "Sessions not appearing in scheduler"
**Describe the bug**

Currently after publishing the schedule on scheduling a session in scheduler, the session can no longer be seen in the scheduler and under the publish schedule button. Also this allows scheduling a new session at the same time and same venue as the previous session.
On clicking any button in the menu navbar i.e speaker or session, the sessions appear under the publish schedul

[2019-08-20 11:28] #3449 closed

[2019-08-20 17:24] vishakhanihore commented on #3395
@kushthedude @CosmicCoder96 Can I work on this issue?

[2019-08-20 17:27] vishakhanihore commented on #2835
@shreyanshdwivedi Can I work on it ?

[2019-08-20 17:50] kushthedude commented on #3441
Solved with Ember Tables

[2019-08-20 17:50] #3441 closed

[2019-08-20 17:51] kushthedude commented on #3420
Solved after Ember Tables

[2019-08-20 17:51] #3420 closed

[2019-08-20 20:46] #3388 closed

[2019-08-20 23:03] iamareebjamal opened #3454 "Stripe Client ID is not being saved"
https://open-event-fe.netlify.com/admin/settings/payment-gateway

Stripe Test Client ID is not getting saved, hence cannot enable stripe

[2019-08-20 23:10] shreyanshdwivedi commented on #2835
Go ahead @vishakhanihore

[2019-08-20 23:27] shreyanshdwivedi commented on #3186
@kushthedude what validation and where? Please elaborate

[2019-08-21 08:12] kushthedude commented on #2835
Ticket are required to publish event hence closing it.

[2019-08-21 08:12] #2835 closed

[2019-08-21 11:13] kushthedude commented on #3454
I knew it, will take a look

[2019-08-21 13:49] #3454 closed

[2019-08-21 14:35] CosmicCoder96 opened #3456 "add a custom field adder widget/component"
Add a widget for adding a custom field for complex custom forms

[2019-08-21 14:43] CosmicCoder96 opened #3457 "sort options missing from admin sessions"

[2019-08-21 19:29] #3186 closed

[2019-08-21 20:05] shreyanshdwivedi opened #3459 "stripe test keys not being retrieved in dev instance"
**Describe the bug**

As we are using stripe test keys for dev instance, but the torii still fetched stripClientId instead of stripeTestClientId

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `Create Event`
2. Add a paid ticket
3. Try to connect stripe
4. See error

**Expected behaviour**

Stripe should be connected without error

**Additional context**

On it

[2019-08-21 20:38] #3457 closed

[2019-08-21 21:39] kushthedude opened #3460 "Admin Session: Sort using State is not working"
**Describe the bug**

Sort using State is not working

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Admin/Sessions'
2. Sort using `SessionState`
4. See error

**Expected behaviour**

No error should be thrown

**Screenshots**

<img width="510" alt="Screenshot 2019-08-22 at 3 09 00 AM" src="https://user-images.githubusercontent.com/44091822/63470406-3a0d6c80-c48a-11e9-9f01-7801a30

[2019-08-22 03:24] CosmicCoder96 opened #3462 "Add missing API server detail field in admin settings"
`static_domain` field is not defined in the current form.

[2019-08-22 04:44] #3462 closed

[2019-08-22 06:11] #3446 closed

[2019-08-22 06:32] mrsaicharan1 opened #3464 "Alipay naming convention bugs"
**Describe the bug**
There are some minor bugs related to AliPay which halt the whole workflow. Controller actions & model fields naming mismatch.

**Expected behaviour**
AliPay should be functional as expected

[2019-08-22 14:48] mariobehling opened #3467 "Speaker CSV download directs to localhost"
http://localhost/static/media/exports/677/csv//RG84OVJwWE/speakers-817dsomethingseomthing.csv

Speaker download page of events directs to localhost.

![Screenshot from 2019-08-22 16-46-25](https://user-images.githubusercontent.com/1583873/63524604-98733300-c4fc-11e9-92c3-d4b2cdf857fc.png)

[2019-08-22 19:58] uds5501 opened #3468 "Add integration tests for new modals"
This is a follow up for the addition of integration tests for new modal components to increase the test coverage.

[2019-08-22 20:06] #3464 closed

[2019-08-23 17:11] CosmicCoder96 opened #3470 "Add model for customForm options"
Server-side support is being added for complex custom forms

[2019-08-23 17:43] shreyanshdwivedi opened #3472 "pagination/searching/sorting doesn't work in billing invoice table"
**Describe the bug**

The pagination/searching/sorting in event invoice table in billing info isn't working

**Expected behaviour**

It should work fine

**Additional context**

On it

[2019-08-24 20:06] uds5501 opened #3475 "Link checkout modals to server endpoints"
The skeleton models need to be linked with the newly implemented server endpoints.

[2019-08-25 07:51] mrsaicharan1 commented on #3145
Fixed with session-speaker PR

[2019-08-25 07:51] #3145 closed

[2019-08-25 16:57] kushthedude opened #3477 "Event Dashboard: overlapping columns in `Tickets/Attendees`"
**Describe the bug**

Overlapping columns in `Tickets/Attendees`

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Events/Ticket/Attendee'
2. Try to resize
3. See error

**Screenshots**

<img width="1013" alt="Screenshot 2019-08-25 at 10 26 34 PM" src="https://user-images.githubusercontent.com/44091822/63653206-6c1f1700-c787-11e9-90b9-ae6e6df55430.png">

[2019-08-25 17:05] kushthedude opened #3478 "Ticket Dashboard: Overlapping columns in `Tickets/Discount-Codes`"
**Describe the bug**

Overlapping columns in `Tickets/Discount-Codes`

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Events/Ticket/Discount-Codes'
2. Try to resize
3. See error

**Screenshots**

<img width="916" alt="Screenshot 2019-08-25 at 10 34 27 PM" src="https://user-images.githubusercontent.com/44091822/63653300-860d2980-c788-11e9-82d9-b8f6d666f566.png">

[2019-08-25 17:14] #2567 closed

[2019-08-25 17:15] kushthedude commented on #2601
Will be fixed when `Importing Events` becomes functional.

[2019-08-25 17:15] #2601 closed

[2019-08-25 17:19] kushthedude commented on #1923
Duplicate of #2191

[2019-08-25 17:20] #1923 closed

[2019-08-25 17:21] kushthedude commented on #1282
Closing since unable to face on local
cc: @CosmicCoder96

[2019-08-25 17:21] #1282 closed

[2019-08-26 22:38] kushthedude opened #3483 "Speakers Table: Show `sort action` buttons in Speakers Table"
**Is your feature request related to a problem? Please describe.**

No, Add sort buttons in `Name` and `Email` column of `Speakers Table`.

### Expected
<img width="1095" alt="Screenshot 2019-08-27 at 4 07 18 AM" src="https://user-images.githubusercontent.com/44091822/63728132-390c7e80-c880-11e9-92ad-ef3be6a97186.png">

### Actual
<img width="1067" alt="Screenshot 2019-08-27 at 4 07 57 AM" src="ht

[2019-08-27 07:30] liveHarshit commented on #2475
@kushthedude It should re-open now according to @mariobehling and @iamareebjamal as discussed in the meeting.
https://github.com/fossasia/open-event-organizer-android/pull/1920#pullrequestreview-278763417

[2019-08-27 14:13] mariobehling opened #3484 "Admin: Add option to add/edit Google map keys/secret"
The admin settings page currently does not have an option to add or change the map keys. Please add this option here: https://eventyay.com/admin/settings

[2019-08-27 18:37] kushthedude commented on #3484
On it

[2019-08-27 18:37] kushthedude commented on #3484
@CosmicCoder96 Please transfer it to `Server`.

[2019-08-27 20:50] CosmicCoder96 commented on #3484
@kushthedude why transfer? This will certainly require changes on FE too.
Create a new issue on server ?

On Tue, 27 Aug 2019 at 2:37 PM, Kush Trivedi <notifications@github.com>
wrote:

[2019-08-28 13:38] fcartegnie opened #3486 "Changing Timezone breaks definitively date selection"
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Create Event'
2. Click on 'Start Date', set Date, set Time
3. Change timezone to other (Asia/Tokyo)
4. State is now unfixable, keeps setting invalid dates on any input

[2019-08-28 15:55] mariobehling opened #3487 "Admin User: Sorting and Email search missing"
From the user admin page the sorting of users according to table headers and the search according to email address is not working at https://eventyay.com/admin/users/all.

![Screenshot from 2019-08-28 17-50-08](https://user-images.githubusercontent.com/1583873/63871862-f7cdb900-c9bc-11e9-9d40-2db036251c90.png)

[2019-08-29 07:34] CosmicCoder96 opened #3492 "Server returns 409 : Ticket already sold out, even though tickets are remaining"
![image](https://user-images.githubusercontent.com/17252805/63919905-a8fc3f80-ca0d-11e9-9dc3-a50b20b31769.png)
{"errors": [{"status": 409, "source": {"pointer": "/data/attributes/ticket_id"}, "title": "Conflict", "detail": "Ticket already sold out"}], "jsonapi": {"version": "1.0"}}

Either the statistic is incorrect on frontend or it's wrong on the server.

[2019-08-29 07:41] #2796 closed

[2019-08-29 07:58] CosmicCoder96 opened #3493 "Display a specific error message if server returns a 409/422."
If a server returns a 409/422, it is an expected error, as server is aware of what is wrong and maybe helpful for the user. Refactor all cases where a generic error message is being displayed for now.

[2019-08-29 08:11] mariobehling commented on #3484
This is also a potential security risk as someone else could be able to get the key. This key needs to be implemented on the server side. Could you open an issue, please?

[2019-08-29 09:50] iamareebjamal commented on #3484
Frontend Google Map keys will always be accessible to the client. They are completely secure to be included in frontend. In fact, the JS library of Google Maps requires accessing the key to download JavaScript. Instead, the Google Map API key should be restricted to eventyay.com to secure it.

[2019-08-29 17:28] kushthedude commented on #3484
@iamareebjamal Currently, keys are retrieved from `.env`, We would need a field in the server at least to store them.

[2019-08-30 00:43] iamareebjamal commented on #3484
And how are you going to use them in frontend to load the Maps SDK?

[2019-08-30 00:45] iamareebjamal commented on #3484
And once it is loaded on frontend, anyone can see it. So there's no security aspect here. Just the convenience to be able to change the key, which will require changes on how to load the Map SDK on frontend. Please detail how will you do it?

[2019-08-30 06:01] kushthedude opened #3494 "Admin Area: Sessions with same event not rendering event name"
**Describe the bug**

Sessions with same event not rendering event name

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'admin/session'
2. See error

**Expected behaviour**

Solve the bug

**Screenshots**

<img width="1440" alt="Screenshot 2019-08-30 at 11 29 55 AM" src="https://user-images.githubusercontent.com/44091822/63996569-ab4bc000-cb19-11e9-9dfa-cd1d328a1dd5.png">

[2019-08-30 06:02] kushthedude commented on #3494
cc: @CosmicCoder96

[2019-08-30 10:11] mariobehling opened #3495 "Organizer: Event Invitation results in "Transition Aborted" error"
If a user invites someone as an organizer it shows "Transition Aborted" error.
[code]

[2019-08-30 10:16] mariobehling opened #3496 "Event Dashboard: Does not show "Owner" and all "organizers" etc."
The event dashboard should show the "Owner" and all other roles. Currently only some invited users are shown.

![Screenshot from 2019-08-30 12-15-38](https://user-images.githubusercontent.com/1583873/64013384-f799fe80-cb1f-11e9-8cf3-83133f80e0a8.png)

[2019-08-30 10:35] mariobehling opened #3497 "Admin: Live Events not showing up as Featured when option is chosen"
Some events are not showing up as featured event though option is chosen. Compare: https://eventyay.com/admin/events/live?per_page=100

![Screenshot from 2019-08-30 12-33-34](https://user-images.githubusercontent.com/1583873/64014530-a6d7d500-cb22-11e9-9fd1-46499725f08b.png)

[2019-08-30 11:03] shreyanshdwivedi commented on #3496
I think this section only shows the users invited and who accepted the invitation.
And the owner might not be showing because it may be an event before the refactor. The Role Invite table might not be included in the refactor because this is the only place where it is rendered.

[2019-08-30 13:35] fcartegnie opened #3498 "Inviting a second "Owner" breaks ownership"
**Describe the bug**

If you invite a second owner, you lose partial ownership

**To Reproduce**
- Invite a member as "Owner"
- The other member accepts the invite, and has full access
- Go back to manage event, you own event dissapeared from your listing
- Access by url, the edit is available

Meanwhile, access is not totally lost as through the URL you can access edit
https://eventyay.com/events

[2019-08-30 14:17] shreyanshdwivedi commented on #3498
@fcartegnie the `owner` role is meant to be exclusive to 1 user only. An event can have only one owner. However, you can invite users to be organizers, co-organizers, etc.
Please check out https://blog.fossasia.org/allowing-event-owner-to-transfer-an-event-in-eventyay/ for more info on ownership of the event.

[2019-08-30 14:24] shreyanshdwivedi commented on #3498
But thanks for reporting this security bug. We'll take a look at this

[2019-08-30 16:18] #3431 closed

[2019-08-30 16:22] #3395 closed

[2019-08-30 18:51] mrsaicharan1 commented on #3492
@CosmicCoder96 I found the root cause of the issue.
There's random entries of John Doe with every order we place.
Locally, I created an event with a maximum of 5 tickets. I placed an order with 3 tickets. After the completion of the order, two other ticket holders named John Doe showed up as well.

[2019-08-30 18:53] mrsaicharan1 commented on #3492
@CosmicCoder96 Why might this be happening?
The server logic looks fine here.

[2019-08-30 20:00] mrsaicharan1 commented on #3492
@CosmicCoder96 I've fixed the server side query for this. Please transfer this.

[2019-08-31 02:53] mrsaicharan1 commented on #3319
All the sub-issues have been solved here itself. Closing therefore

[2019-08-31 02:53] #3319 closed

[2019-08-31 04:00] #3486 closed

[2019-08-31 04:02] #3472 closed

[2019-08-31 04:02] #3468 closed

[2019-08-31 04:06] #3428 closed

[2019-08-31 04:12] #3417 closed

[2019-08-31 04:57] kushthedude opened #3499 "Event Dashboard: Events are getting sorted by `ID` not their name."
**Describe the bug**

In `Manage Events` and `Admin/Events` , Events are getting sorted by `ID` not their `Name`.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Manage Events or Admin/Events'
2. Sort using `Name`
3. See error

**Expected behaviour**

Sorting should be done by `Name`

**Screenshots**

<img width="1440" alt="Screenshot 2019-08-31 at 10 27 13 AM" src="https://user-im

[2019-08-31 05:45] Anupam-dagar commented on #3497
I will take this up

[2019-09-01 08:57] amreshk005 commented on #3477
@kushthedude may I take this issue??

[2019-09-01 09:15] kushthedude commented on #3477
Go on

[2019-09-01 09:35] imskr commented on #3487
I would like to work on this issue!

[2019-09-01 11:57] shreyanshdwivedi commented on #3487
@imskr there is already a PR for this issue. Maybe you can try out some beginner friendly issues first

[2019-09-01 12:57] imskr commented on #3483
I want to work on this issue!

[2019-09-01 12:59] kushthedude commented on #3483
Go ahead

[2019-09-01 13:39] IshaGupta18 commented on #3483
I would like to work on this one @kushthedude ! Can you guide me to the link of the file?

[2019-09-01 13:48] IshaGupta18 commented on #2544
@kushthedude I am taking a shot at this one!

[2019-09-01 14:02] IshaGupta18 commented on #3478
I can take a shot at it!

[2019-09-01 14:03] imskr commented on #3483
@IshaGupta18 It's already taken by me! Please look at another issue.

[2019-09-01 14:06] IshaGupta18 commented on #3483
@imskr alright, I actually did write a comment to claim it, but apparently it didn't get submitted, go ahead with this one!

[2019-09-01 14:07] kushthedude commented on #2544
@IshaGupta18 go ahead

On Sun, Sep 1, 2019 at 7:18 PM Isha Gupta <notifications@github.com> wrote:

[2019-09-01 14:07] kushthedude commented on #3478
@IshaGupta18 Go ahead

On Sun, Sep 1, 2019 at 7:32 PM Isha Gupta <notifications@github.com> wrote:

[2019-09-01 14:08] IshaGupta18 commented on #2544
I am facing a couple of problems while setting up the repo, whom can I contact to resolve those problems?

[2019-09-01 14:10] kushthedude commented on #2544
@IshaGupta18 Send your query in gitter channel

On Sun, Sep 1, 2019 at 7:38 PM Isha Gupta <notifications@github.com> wrote:

[2019-09-01 15:36] uds5501 commented on #2544
@IshaGupta18 Please join the open-event-frontend and open-event-server gitter channels for any query.

[2019-09-01 15:37] IshaGupta18 commented on #2544
Okay, thanks a lot both!

On Sun, Sep 1, 2019, 9:06 PM Uddeshya Singh <notifications@github.com>
wrote:

[2019-09-02 14:22] CosmicCoder96 opened #3502 "Integrate complex field value fields in attendee, speaker, session"

[2019-09-02 14:31] #3122 closed

[2019-09-03 00:58] mariobehling opened #3504 "My Sessions: Displays Sessions twice"
Accepted sessions are displayed twice on the My Sessions page at https://eventyay.com/my-sessions/upcoming

![Screenshot from 2019-09-03 02-49-17](https://user-images.githubusercontent.com/1583873/64137123-8cd61500-cdf6-11e9-8ec3-31fda321ee20.png)

[2019-09-03 01:05] mariobehling opened #3505 "Unpaid Placed Order: Payment area shows "paid with Paypal""
Placed orders are orders that could be e.g. paid onsite. The final order page should show "To be paid onsite" or "to be paid by wire transfer" etc. (whatever method was chosen). Currently it shows Paypal as a payment method used on the order page even though Paypal was not used.

![Screenshot from 2019-09-03 03-05-52](https://user-images.githubusercontent.com/1583873/64137318-c52a2300-cdf7-11e9-9d

[2019-09-03 05:06] kushthedude commented on #3505
@CosmicCoder96 @mariobehling This is very ambiguous, can you see `subtotal` and `quantity` is 0 while there is an `Order Amount` ! Also the order link is not protected, I am able to access this.

<img width="1233" alt="Screenshot 2019-09-03 at 10 35 09 AM" src="https://user-images.githubusercontent.com/44091822/64145463-87002400-ce36-11e9-8a0a-dedaeaa74b70.png">
Also, Can this be anyway related to

[2019-09-04 17:26] mariobehling opened #3506 "Call for Speakers Signup Form: "Don't require this email" possible for everyone"
On the Call for Speakers Signup Form, it should only possible for organizers to use "Don't require this email". Right now every speaker can just use this option.

![Screenshot from 2019-09-04 19-23-19](https://user-images.githubusercontent.com/1583873/64277117-ddaa5280-cf49-11e9-948a-047a739fa501.png)

[2019-09-04 18:32] #3502 closed

[2019-09-05 07:21] kushthedude commented on #3418
Duplicate of #3506

[2019-09-05 07:21] #3418 closed

[2019-09-06 20:10] prateekj117 opened #3508 "Proper error message should be displayed when deleting an event"
**Describe the bug**
When deleting an event associated with orders, it should show the correct error message as it gets from the server.

**Additional context**
On it.

[2019-09-07 14:17] PragatiVerma18 commented on #3353
I wish to work on this issue. May I?

[2019-09-07 14:27] PragatiVerma18 opened #3510 "The sidebar is not sticky and the images on speakers page are all of different sizes."
**Is your feature request related to a problem? Please describe.**
The sidebar on the speakers and session page is not visible throughout the page. It disappears in the middle and suddenly appears at the end of the page. Also, the images of speakers are all in uneven sizes and some of them do not have captions and others have which makes it look odd.

**Describe the solution you'd like**

I would

[2019-09-07 14:36] PragatiVerma18 opened #3511 "The table with ticket details is not responsive in phone."
**Is your feature request related to a problem? Please describe.**
The table with ticket details on the events page is not responsive in mobile phone view and there is an overflow on the x-axis of the entire page on the phone due to same reason.

**Describe the solution you'd like**

I would like to use bootstrap or Bulma to make the tables more responsive and better looking.

**Describe alternati

[2019-09-07 14:42] kushthedude commented on #3511
No, We are using `Ember` and for the `UI and Container` purposes we are using `Semantic UI` which is way better than `BootStrap`, Also the following issue is on phones with small screen sizes. If you can fix it with some `UI Classes` please proceed

[2019-09-07 14:44] kushthedude commented on #3510
Some don't have caption because the latter has not entered the following detail. Also restricting images to a default size may pixelate some, That's why they should appear in natural pixels so that they can be clear in all resolutions. Regarding the sidebar, we already have some bugs and high priority issues, So we can look upon UI later on. Thanks

[2019-09-07 14:57] PragatiVerma18 commented on #3511
Okay!! I would be working on it.

[2019-09-07 17:47] iamareebjamal commented on #3353
Go ahead

[2019-09-07 18:07] CosmicCoder96 commented on #3510
Issue with sidebar is valid, please work on that @PragatiVerma18 if you are interested.

[2019-09-07 18:38] PragatiVerma18 commented on #3510
Okay, I would be working on that. Thank you.

[2019-09-07 20:32] #3498 closed

[2019-09-07 23:37] mariobehling opened #3513 "Call for Speakers: Instead of "Add Session Details" there should be only "Add Session""
It could be confusing to show add session details. The button is actually to add an entirely new session. Therefore please change "Add Session Details" to "Add Session" in Call for Speakers.

![Screenshot from 2019-09-08 01-35-04](https://user-images.githubusercontent.com/1583873/64481276-2deb1400-d1d9-11e9-9fa6-008e80dcaa20.png)

[2019-09-07 23:40] mariobehling opened #3514 "Call for Speakers: Show existing sessions and info on page instead of on popup"
If user has not submitted a session or speaker details it currently shows "Submit Proposal". This is correct.

If a user has already submitted speaker and session info, please show the info on the page itself instead of on the popup.

Integrate the popup content in the page.
![Screenshot from 2019-09-08 01-35-04](https://user-images.githubusercontent.com/1583873/64481290-7f939e80-d1d9-11e9-8dd0-66

[2019-09-08 08:11] skarthikeyan96 commented on #3513
I would like to work on the bug. @mariobehling

[2019-09-08 08:26] prateekj117 commented on #3513
@skarthikeyan96 Go ahead.

[2019-09-09 13:51] saksham2410 commented on #3483
As there is no PR for about a week, I am claiming it.

[2019-09-09 13:53] IshaGupta18 commented on #3483
I think it would be good to ask @imskr if he is working on it or not, if he isn't, then only you should claim it.

[2019-09-09 14:03] saksham2410 commented on #3478
@IshaGupta18 Any progress ?

[2019-09-09 14:17] IshaGupta18 commented on #3478
Yes, I am working on it, if I am unable to solve it, I'll let you know.

On Mon, Sep 9, 2019, 7:36 PM Saksham Gupta <notifications@github.com> wrote:

[2019-09-09 19:53] shreyanshdwivedi commented on #3513
@skarthikeyan96 are you still working on this? If you need any help, feel free to ping us here

[2019-09-09 20:07] skarthikeyan96 commented on #3513
@shreyanshdwivedi I am working on it. I will raise the PR by end of the day

[2019-09-09 20:18] imskr commented on #3483
@saksham2410 I'm working on it. Waiting for 15th sept to make PR as for codeheat

[2019-09-09 20:22] shreyanshdwivedi commented on #3483
@imskr you don't need to wait for 15th Sept to make your contributions counted in CodeHeat. We'll make sure that all the contributions made since beginning of Sept is counted.
Please make a PR asap and if you are busy then let others try

[2019-09-10 12:30] may55 commented on #3427
@kushthedude  Can I work on this?

[2019-09-10 13:13] kushthedude commented on #3427
@may55 Thats not a good first issue, also I dont think you will be able to solve it. Please start with some beginner issues so that you may get the gist of workflow

[2019-09-10 13:14] may55 commented on #3427
@kushthedude Okay! Thanks

[2019-09-10 17:57] mariobehling commented on #3231
This should not have been done. I think we discussed this. This should be an option for organizers to make it mandatory, but it should not be mandatory for all events.

[2019-09-10 18:33] mariobehling opened #3518 "Wizard Step 1/Order Page: Make Billing Info either Mandatory or Optional and change fields"
The billing info is always collected even if the organizer does not want to collect this information. Also there are some discrepancies of the fields and collection data. Therefore please change the following:
1. In Wizard step 1: Add a button "Require billing info from ticket buyer." to enable the organizer to make this optional
![Screenshot from 2019-09-10 20-24-29](https://user-images.githubuse

[2019-09-10 21:06] kushthedude commented on #3518
Will take look into it

[2019-09-11 08:23] auge8472 commented on #3518
Distinguish private persons and companies in the section for billing informations. There are countries where it is not common for private persons to be forced to give a Tax ID to pay an order and additionally they have no Company name and ID at all.

[2019-09-11 09:06] amreshk005 commented on #3513
@skarthikeyan96 are you working on this if not can I take it?

[2019-09-11 09:07] auge8472 opened #3519 "Add payment method SEPA Bank Transfer"
Currently only the payment methods credit cards and PayPal are available (dependig what event organisers selects). In Europe it's common to pay with bank transfers via the [SEPA system](https://en.wikipedia.org/wiki/Single_Euro_Payments_Area).

Please add this payment method.

[2019-09-15 14:07] siriuswapnil commented on #3513
@shreyanshdwivedi is this issue still open? I would like to work on it.

[2019-09-15 14:34] shreyanshdwivedi commented on #3513
@siriusswapnil I think someone opened a PR for this issue. You can checkout other issues

[2019-09-15 15:37] siriuswapnil commented on #3513
@shreyanshdwivedi okay. Will do

[2019-09-15 18:44] kayyjayy007 commented on #3478
I want to work on this issue

[2019-09-15 18:47] kayyjayy007 commented on #2797
I want to work on this issue. Please assign this to me.

[2019-09-15 18:51] kushthedude commented on #2797
Go ahead

[2019-09-15 19:24] codedsun opened #3521 "Frontend check for min order and max order in ticketing system"
**Describe the bug**
Their should be a frontend side check of minimum order and maximum order in ticketing system while creating any event

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'create an event'
2. fill the info
3. Add a ticketing system
4. Minimum order value has no check of less than 1 and max order doesn't has check of greater than min order

**Expected behaviour**
it sho

[2019-09-15 19:38] codedsun commented on #3521
@shreyanshdwivedi Shall i proceed?

[2019-09-15 19:44] shreyanshdwivedi commented on #3521
@codedsun I think the issue is valid. Just one question, were you able to create event with this faulty min and max numbers or server returned proper error message?

[2019-09-15 19:46] codedsun commented on #3521
server returned msg, but we should not be hitting the server when client side can handle this.

[2019-09-15 19:47] codedsun commented on #3521
@shreyanshdwivedi Also, can we have issues to beautify or improve the website UI?

[2019-09-15 19:49] shreyanshdwivedi commented on #3521
Agreed. Pls proceed

Currently, we are focusing on solving bugs only. The UI comes later. Please find out bugs and fix them for now

[2019-09-15 21:18] iharshit009 commented on #3406
I would Like to take on this Issue...

[2019-09-15 21:37] iharshit009 commented on #3278
should i take this issue?

[2019-09-15 21:37] mrsaicharan1 commented on #3278
Go ahead

On Mon, 16 Sep 2019 at 3:07 AM, HARSHIT JAIN <notifications@github.com>
wrote:

[2019-09-15 22:38] kushthedude commented on #3406
Read Fossasia's Best Practices and see the PRs made

[2019-09-16 00:21] kushthedude commented on #3450
@Anupam-dagar I was not able to reproduce the same .

[2019-09-16 09:07] mariobehling opened #3522 "After-Event Mail: Separate Email Template of Speaker and Owner/Organizer"
There is an after-event message, that should not go to the speaker and organizer at the same time. Instead there should be
a) a message to the owner and organizers
b) a message to the speaker
These message should be differently and don't include upcoming events.

1. Please implement a message to the "Owner, Organizer"
Subject: {eventname} is over. Thank you for using Eventyay!
Email: Hi {email}, y

[2019-09-16 18:50] codedsun commented on #3521
@shreyanshdwivedi Please help me regarding to how to add a check for maximum order value >= minOrder value. I am not able to understand the validation rule placed here

[code]

[2019-09-17 00:45] mariobehling opened #3523 "Wizard Step 1: Cannot save (Publish) after adding Stripe - Error "Object not found""
After adding Stripe payment gateway in wizard step 1, it is not possible to publish the event as it shows "Object Not Found"

![Screenshot from 2019-09-17 02-43-01](https://user-images.githubusercontent.com/1583873/65002646-2fad8980-d8f5-11e9-8b68-241aae4a9b0a.png)

[2019-09-17 02:34] kushthedude commented on #3523
Looking into it

[2019-09-17 07:32] mariobehling opened #3524 "Admin Messages: Options not saved"
Changing options in https://eventyay.com/admin/messages/list to which mails should be delivered does not work. When the admin changes the options a message "Object saved" appears. When the user reloads the page, it shows that the options were not saved.

![Screenshot from 2019-09-17 09-05-09](https://user-images.githubusercontent.com/1583873/65020760-15dc6880-d92e-11e9-9a59-64c97a74f1be.png)

[2019-09-17 15:24] Hardik500 commented on #3483
I would like to work on it if there is no problem

[2019-09-17 15:29] Hardik500 commented on #3356
I would like to take on this issue but could you please give me a hint on how to proceed.

[2019-09-17 15:31] shreyanshdwivedi commented on #3483
@Hardik500 please proceed

[2019-09-17 15:31] codedsun commented on #3521
@shreyanshdwivedi @kushthedude Any inputs?

[2019-09-17 15:43] shreyanshdwivedi commented on #3521
@codedsun I think the best place to add the check will be where we are getting data to create the event. Add a check just before hitting server. There are many checks implemented similarly.
Validation rules will not be helpful as you are using two different entities here.

[2019-09-18 09:00] kushthedude opened #3526 "Nav Bar: Profile Tab not working in mobile view"
**Describe the bug**

Profile Tab is not working in Mobile Row
**To Reproduce**
Steps to reproduce the behaviour:-
- Open eventyay on mobile.
- Login and try to open profile tab through mobile side menu.

**Expected behaviour**

Link the tab properly

**Additional context**

Only for beginners

[2019-09-18 09:46] kushthedude opened #3527 "Stripe not working on Development Instance"
**Describe the bug**

Stripe is not working on development or testing instance

**To Reproduce**

Steps to reproduce the behaviour:

- Enter Stripe Test Keys and check.

**Expected behaviour**

Fix up Stripe

**Additional context**

It must be due to some keys related issue as some test fields were introduced newly and a thorough testing was not done

[2019-09-18 09:49] shreyanshdwivedi commented on #3527
@kushthedude this is duplicate of https://github.com/fossasia/open-event-frontend/issues/3459
Why did you open a new issue?

[2019-09-18 09:54] kushthedude commented on #3527
I tried switching the Stripe from test to production, This was not also working.Anyway, It can be handled in #3459

[2019-09-18 09:54] #3527 closed

[2019-09-18 09:54] kushthedude commented on #3527
Duplicate of #3459

[2019-09-18 09:58] kushthedude opened #3528 "Admin Settings: Improve RegEx for API & FE URL in FE Settings"
- Current RegEx implemented in `Admin/Settings` Form doesn't support `localhost` URL, which makes testing of some APIs difficult.
- Improve `RegEx` so that `localhost` or `127.0.0.1/xyz` may be supported.

[2019-09-18 10:16] kushthedude opened #3529 "Attendee Landing Page: Change the Semantic Class for the Image used"
Current Image used in the `Attendee App Landing` is much larger than it should be. Change the class used for image and fix up.

<img width="1411" alt="Screenshot 2019-09-18 at 3 44 21 PM" src="https://user-images.githubusercontent.com/44091822/65140053-52da5500-da2b-11e9-8e50-9da173b800af.png">

[2019-09-18 10:56] BhuwanChandra commented on #3529
@kushthedude Sir, I would like to work on it.

[2019-09-18 11:12] BhuwanChandra commented on #3526
@kushthedude Sir, I would like to work on this issue.

[2019-09-18 11:26] TanviKumar commented on #3529
I'd like to work on this issue!

[2019-09-18 11:39] Dilshaad21 commented on #3524
@mariobehling can I take this issue

[2019-09-18 11:45] Dilshaad21 commented on #3506
@kushthedude @mariobehling can I work with this issue.

[2019-09-18 11:49] Dilshaad21 commented on #3506
If I am not wrong you are saying that speakers should not be allowed to use this option or make it mandatory for them to enter email.

[2019-09-18 12:22] kushthedude commented on #3529
Go ahead @TanviKumar

[2019-09-18 12:24] kushthedude commented on #3526
@BhuwanChandra Please Go ahead

[2019-09-18 12:25] kushthedude commented on #3506
@Dilshaad21 Yes, Speaker should not be allowed to use this `Functionality`

[2019-09-18 18:13] Neelrayal commented on #2433
Can I work on this issue?

[2019-09-18 18:23] Neelrayal commented on #3529
Can I work on this issue??

[2019-09-18 19:16] BhuwanChandra commented on #3526
@kushthedude Sir, I have installed the project locally on my machine but it looks like all the things are working fine on mobile view or I am not able to get the exact problem. Can you please help me to understand the problem.

[2019-09-19 00:40] kushthedude commented on #2433
Go on

On Wed, 18 Sep, 2019, 23:43 Neelrayal, <notifications@github.com> wrote:

[2019-09-19 00:41] kushthedude commented on #3529
Please FOSSASIA's Best Practices , as the issue is already claimed by other.

On Wed, 18 Sep, 2019, 23:53 Neelrayal, <notifications@github.com> wrote:

[2019-09-19 00:41] kushthedude commented on #3526
Read the issue description

On Thu, 19 Sep, 2019, 00:46 Bhuwan Chandra, <notifications@github.com>
wrote:

[2019-09-19 12:45] iamareebjamal opened #3530 "Change the default API URL in .env.example for beginners"
Beginners only wanting to work on frontend don't understand that you need to run server as well (and they should not have to). Hence, the API URL should be replaced to Dev Heroku instance instead.

[2019-09-19 13:13] Dilshaad21 commented on #3530
@iamareebjamal can I take this issue. I faced the same problem while running it in my system.

[2019-09-19 17:40] #3530 closed

[2019-09-19 17:41] #3513 closed

[2019-09-19 17:42] #3477 closed

[2019-09-19 17:46] CosmicCoder96 opened #3532 "Ember tables: Add a delay for search query network request trigger"
Currently, each keystroke triggers a new query while searching on the table as the query param is directly bound to it, instead update the query param after a certain delay of 1 or 2 seconds.

[2019-09-19 17:49] #3478 closed

[2019-09-20 05:28] ani-sha commented on #3499
Can I work on this issue? @kushthedude

[2019-09-20 05:45] kushthedude commented on #3499
@ani-sha Sure, Go ahead.

[2019-09-20 07:43] Ritesh-Ag commented on #3526
Sir, can you please explain the which mobile side menu are you referring to?

[2019-09-20 10:50] kushthedude commented on #3526
@Ritesh-Ag @BhuwanChandra
<img width="701" alt="Screenshot 2019-09-20 at 4 19 17 PM" src="https://user-images.githubusercontent.com/44091822/65321675-72f04c80-dbc2-11e9-9420-08bdc2c262b8.png">
Please refer to this
--

[2019-09-20 21:33] BhuwanChandra commented on #3526
@kushthedude Sir, Is the problem related to not hiding of sidebar itself on clicking on any link of the sidebar?

[2019-09-21 12:51] SuperGops7 commented on #3532
Can I work on this issue?

[2019-09-21 13:02] SuperGops7 commented on #3528
Can I work on this?

[2019-09-23 10:53] kushthedude commented on #3528
Go On

[2019-09-25 04:39] codedsun commented on #3521
@shreyanshdwivedi @CosmicCoder96 I added a custom check
[code]
and added to the rule of ticketMaxOrder, but it's not working..Tell me where I am wrong

[2019-09-25 11:11] codedsun commented on #3521
@kushthedude please help!

[2019-09-25 12:39] kushthedude commented on #3521
Why not open a PR and move the discussion there ?

On Wed, 25 Sep, 2019, 16:41 Suneet Srivastava, <notifications@github.com>
wrote:

[2019-09-25 18:25] amreshk005 commented on #3483
@Hardik500 are you working on it? if not can I take this issue

[2019-09-25 19:05] Hardik500 commented on #3483
Sorry I wasn't able to get the time for this issue.
@amreshk005 you can go for it.

[2019-09-26 05:28] Reetam-Nandi commented on #3526
@kushthedude @BhuwanChandra Can I claim this?

[2019-09-26 05:41] kushthedude commented on #3526
Go ahead

[2019-09-26 05:46] uds5501 commented on #3526
@Reetam-Nandi For any doubts, hit us up on the gitter channel.

[2019-09-26 16:09] kushthedude opened #3537 "ReadME: Remove `CodeCov` Badge"
Since the `CodeCov` always show `unknown`, Please remove the badge from the `ReadME` file, As it looks odd.

[2019-09-26 16:28] tmwlsh commented on #3537
@kushthedude can i do this?

[2019-09-26 16:30] kushthedude commented on #3537
Sure

On Thu, 26 Sep, 2019, 21:58 TMWLSH, <notifications@github.com> wrote:

[2019-09-27 02:35] shiv-1998 commented on #3537
Hey! since no PR had been raised I thought of giving it a try..

[2019-09-28 12:57] rkpattnaik780 commented on #3504
I would like to work on this issue.

[2019-09-29 21:34] nishantwrp commented on #3537
@kushthedude I'd like to work on this issue!

[2019-09-30 11:21] amreshk005 commented on #3487
@shreyanshdwivedi  is this issue is still open?

if it is still open I would like to work on it.

[2019-09-30 12:59] shreyanshdwivedi commented on #3487
@amreshk005 there is a PR for this issue. Please look for another issue

[2019-09-30 13:39] kushthedude commented on #3537
Go on

[2019-09-30 15:12] amreshk005 commented on #3202
@mariobehling @shreyanshdwivedi can I work on this issue? if it's still open.

[2019-09-30 17:19] amreshk005 commented on #3529
@TanviKumar are you working on this issue? if not can I proceed?

[2019-10-01 10:53] Reetam-Nandi commented on #3528
Can I claim this?

[2019-10-01 15:19] #3483 closed

[2019-10-01 17:39] hpdang opened #3541 "Export As CSV is not possible for sessions"
**Describe the bug**
Log-in as an event organizer, unable to download sessions data using Export as CSV function. Click Export as CSV, an error message came up.

**Desktop**
 - OS: Ubuntu 18.04.2
 - Browser: Chrome

**Screenshots**
![Screenshot from 2019-10-01 19-35-44](https://user-images.githubusercontent.com/1658742/65985914-1a069b00-e483-11e9-92ef-aafb41ede166.png)
![Screenshot from 2019-10-01

[2019-10-01 17:39] hpdang commented on #3541
@iamareebjamal hi Areeb, could you please look into this issue?

[2019-10-01 18:15] iamareebjamal commented on #3541
Doing so

[2019-10-02 07:52] iamareebjamal opened #3542 "Make API_URL configurable"
Currently, once the project is built (into docker image per se), there is no way to change the API URL. It is not intuitive to rebuild the entire image or project just to change the API URL.

Also, building the frontend image takes more resources than building server image. It can take up to 4-6 GB RAM!

Make it so that API_URL can be changed at runtime. This is important so that the same image ca

[2019-10-02 09:31] sharmaaditya570191 commented on #3542
Hi @iamareebjamal I would like to take this up. Could you please guide me how to get started on this?

[2019-10-02 13:18] iamareebjamal commented on #3542
It's not that simple. It's more about making changes in the JS environment handling than docker. It's not a beginner-friendly issue, so, in order for you to take it up, you need to understand the problem by building the image and seeing the current implementation and understanding what can be done. There is little to guide in this issue, because if we knew exactly what should be done, we would hav

[2019-10-02 16:13] sharmaaditya570191 commented on #3542
Thanks @iamareebjamal . I will try finding the solution by building the docker image.

[2019-10-02 18:42] kushthedude commented on #3542
I will take a look

[2019-10-03 00:54] Batey96 opened #3544 "Reference to undefined variable(event_name) in landingPage"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'app/templates/index line 2'
4. See error

**Expected behaviour**

A value of null or any other value should be assigned to the variable eventName when initialized.

**Additional context**

[2019-10-03 02:24] amreshk005 commented on #2797
@kushthedude If this still open can I work on it?

[2019-10-03 02:35] kushthedude commented on #2797
Sure

[2019-10-03 16:28] cnebs commented on #3499
Could I help with this?

[2019-10-03 16:28] cnebs commented on #3499
@kushthedude

[2019-10-03 17:22] uds5501 commented on #3528
Considering that the claim has been inactive for 2 days, @Reetam-Nandi you can start off on this one. Do ping for any help / concern

[2019-10-03 18:03] rkpattnaik780 commented on #3495
Can I work on this issue?

[2019-10-03 22:16] kushthedude commented on #3504
Go ahead

[2019-10-04 10:28] rkpattnaik780 commented on #3504
Hey @kushthedude , I am unable to reproduce this bug locally. Creating a session is giving the following error in console :
![Screenshot from 2019-10-04 15-54-24](https://user-images.githubusercontent.com/23582438/66200857-94236380-e6bf-11e9-824f-f280ef770ab6.png)
And this error message in the response :
    {"errors": [{"detail": "Not a valid URL.", "source": {"pointer": "/data/attributes/slides-

[2019-10-04 18:59] nik72619c commented on #3508
Anybody working on this?

[2019-10-05 11:12] TomerPacific commented on #3532
@CosmicCoder96 , still relevant?

[2019-10-05 11:16] TomerPacific commented on #3529
@kushthedude , let me know if this issue becomes available again. I see that almost three weeks have passed since it has been assigned to @TanviKumar (and others have requested before me to work on this issue), but if no one applies, I will happily help.

[2019-10-05 11:17] TanviKumar commented on #3529
Please go ahead and take this issue, apologize for the delay as I'm traveling

[2019-10-05 11:53] kushthedude commented on #3529
@TomerPacific If @amreshk005 or @Neelrayal dont reply. You may take the issue.

[2019-10-05 15:42] Hudda commented on #3406
@kushthedude I would like to work on this.

[2019-10-05 15:50] Batey96 opened #3547 "Quick Filter triggers a Get Request with empty values"
**Describe the bug**

When the search button on the homepage gets clicked with empty search event and search location,a request is made to the server.
**To Reproduce**
Mouse focus on the event input and location input tabs without typing anything,click the search button and view the search bar
**Expected behaviour**
No search should be triggered with empty event names and Location.

**Screenshots*

[2019-10-05 15:54] kushthedude commented on #3406
Go on

On Sat, 5 Oct, 2019, 21:12 Anshul Hudda, <notifications@github.com> wrote:

[2019-10-06 07:30] vandanmshah commented on #3526
@kushthedude Is anyone is working on it? If no then I would like to pick it up..

Thanks..

[2019-10-06 07:31] vandanmshah commented on #3524
@kushthedude Is anyone is working on it? If no then I would like to pick it up..

Thanks...

[2019-10-06 11:58] Hardik500 commented on #3529
I no one is working on this. I would like to take on this issue.

[2019-10-07 00:06] kushthedude commented on #3537
https://github.com/fossasia/open-event-frontend/pull/3546#issuecomment-537827419

[2019-10-07 00:06] #3537 closed

[2019-10-07 02:53] mecm1993 commented on #3522
Interesting, I would like to work on this issue.

[2019-10-07 20:14] GautamGottipati commented on #3278
Can I take this issue if no one is working on it?

[2019-10-07 20:53] prateekj117 commented on #3278
@GautamGottipati Go ahead.

[2019-10-07 21:56] GautamGottipati commented on #3278
I am new to this community and open-source, can I get some help like which file to hunt, to resolve this issue.

[2019-10-08 05:58] TomerPacific commented on #3529
@kushthedude , since neither @amreshk005  or @Neelrayal  have replied and three days have passed, I am taking this issue.

[2019-10-08 06:02] kushthedude commented on #3529
Cool

On Tue, 8 Oct, 2019, 11:28 Tomer Ben-Rachel, <notifications@github.com>
wrote:

[2019-10-08 10:52] TomerPacific commented on #3529
@kushthedude ,
I created a [PR](https://github.com/fossasia/open-event-frontend/pull/3549).

Let me know if you prefer the image to be large:

![large](https://user-images.githubusercontent.com/23402988/66388558-14530d00-e9cf-11e9-9bf9-a36d7555f5e0.jpg)

[2019-10-08 16:26] asha15 commented on #3514
@mariobehling  Shall i work on this?

[2019-10-10 14:17] soumyajit4419 commented on #3526
I want to work on this issue

[2019-10-11 09:19] nik72619c commented on #3508
@prateekj117 ?

[2019-10-11 10:19] uds5501 commented on #3526
@soumyajit4419 @vandanmshah there is already a PR opened for this.

[2019-10-11 14:51] JoaoJesus94 commented on #3499
Hey, can I help with this issue? Can do it in a couple of minutes

[2019-10-12 06:22] geetchoudhary commented on #2544
@kushthedude , Can I work on this? I see that almost six weeks have passed since it has been assigned to @IshaGupta18.

[2019-10-13 02:42] kushthedude commented on #2544
Sure go on

On Sat, 12 Oct, 2019, 11:52 Geet Choudhary, <notifications@github.com>
wrote:

[2019-10-15 09:31] roshnet commented on #3508
Hi, I see this issue has been inactive for quite some time. I'd like to take this up, please.

[2019-10-15 09:45] prateekj117 commented on #3508
@roshnet Go ahead. @nik72619c Sorry, wasn't active for a few days, you can look into some other issues.

[2019-10-15 09:58] iamareebjamal opened #3555 "Invalid requests from frontend"
This is a parent issue describing some invalid queries generated from frontend which raise errors on the server

These issues should be fixed on priority. What's stranger is that all URLs are http, not https (maybe because being terminated by cloudflare)

Secondly, all of the URLs are from unauthenticated users

[code]

1. http://api.eventyay.com/v1/events/1107/attendees?fields%5Bevent%5D=id&field

[2019-10-15 10:54] kushthedude commented on #3555
@iamareebjamal Is it just me or the event doesn't have `ticket price and `ticket quantity` ?
<img width="1190" alt="Screenshot 2019-10-15 at 4 24 25 PM" src="https://user-images.githubusercontent.com/44091822/66825643-47197a00-ef68-11e9-9e80-9106757d4dbf.png">

[2019-10-15 11:05] iamareebjamal commented on #3555
For more magic. click on owner. And a wild ticket magically appears

[2019-10-15 11:07] kushthedude commented on #3555
Yes , a VVIP ticket appears. Seems like the JS validations are useless as
you said.

On Tue, 15 Oct, 2019, 16:35 Areeb Jamal, <notifications@github.com> wrote:

[2019-10-15 11:11] Nikhil-Vats commented on #3532
@CosmicCoder96 Can I work on this?

[2019-10-15 11:12] Nikhil-Vats commented on #3522
@mariobehling Can I work on this?

[2019-10-15 11:36] kushthedude commented on #3555
So the following issue is due to the `Unability of rendering of Currency Symbol`

[2019-10-15 11:37] kushthedude commented on #3555
A hot fix for this can be to render `Currency Code` at place of `Currency Symbol` until we have not tested all the symbols ?
@iamareebjamal Your views

[2019-10-15 11:48] iamareebjamal commented on #3555
That is another issue than the failures I have listed in the first comment. Open another issue and send a PR for same.

The operation errors listed in the issue will not be solved by it

[2019-10-15 12:16] kushthedude opened #3556 "Public Ticket List: `Unability of rendering of Currency Symbol`"
So the following issue is due to the `Unability of rendering of Currency Symbol`

_Originally posted by @kushthedude in https://github.com/fossasia/open-event-frontend/issues/3555#issuecomment-542169132_

[2019-10-15 21:46] kushthedude opened #3559 "Public Page: Add `:` between TimeZone Details and also add UTC"
**Is your feature request related to a problem? Please describe.**

Currently, we are showing timezone as `0530` without any prefix nor `:` between the digits, which may be confusing.

**Describe the solution you'd like**

Add the prefix `UTC` and also add `:` to distinguish between hours and minutes.

**Screenshot**

<img width="803" alt="Screenshot 2019-10-16 at 3 16 39 AM" src="https://user-ima

[2019-10-15 22:21] nik72619c commented on #3559
I'd work on this one

[2019-10-15 22:25] kushthedude commented on #3559
Please proceed

[2019-10-15 22:55] kushthedude opened #3560 "readME: Update ReadME for local installation as there is change in `.env`"
**Describe the bug**

Since now the `.env.example` points to `heroku server`, Change the readME if the user wants to work on server too.

**Current**
[code]

Change it according to latest

[2019-10-16 00:02] harry-wood opened #3563 "google API key for geocoding exceeded usage limits"
The eventyay.com google API key for geocoding has exceeded its usage limits. When creating an event, filling in the "Location" field, it's showing error message "This page can't load google maps correctly" :

<img width="417" alt="Screenshot 2019-10-16 at 00 32 42" src="https://user-images.githubusercontent.com/227525/66878043-05142680-efb0-11e9-9cf0-01b3f3d0b605.png">

This in turn **prevents the

[2019-10-16 04:16] theaquarium commented on #3560
Should I just switch them and say that the default is now on Heroku and say that if someone wants to work on both frontend and backend, they should set it up and change the API_HOST to localhost?

[2019-10-16 04:33] invisiblegeek1 commented on #3559
I will do this one

[2019-10-16 09:27] nik72619c commented on #3559
could you please write how would the above date look like exactly ?

[2019-10-16 10:31] iamareebjamal opened #3564 "Switch to OpenStreetMaps or MapBox depending on the key provided at runtime"
Maps functionality should work with OSM or MapBox depending on the key provided at runtime.

Parent Issue: #3563
See Also: #591

[2019-10-16 10:32] iamareebjamal commented on #3563
Opened #591 and #3564 as child issues

[2019-10-16 10:32] iamareebjamal commented on #591
Yes, we need it

[2019-10-16 10:39] kushthedude commented on #3563
Point to note: We are using `Ember-g-map` which significantly reduces our task for map. And for OSM there is no package support for ember so it would have to be done from scratch.

[2019-10-16 10:44] iamareebjamal commented on #3563
Again, let's not to dependency based development where if there is no dependency for a thing, we are ont going to develop for it. It has been extremely detremental for server and making it client agnostic because of this approach of frontend.

And it makes for a worse user experience as well. It takes 7 seconds to load eventyay.com, where it could takes just shy of a second. A lot of those problem

[2019-10-16 10:52] iamareebjamal commented on #3563
https://github.com/asennikov/ember-g-map

We are not using 90% of its features, we are just showing a map. You know how easy is it?

[code]

We are pulling in entire dependency to replace 1~2 lines of code.

Besides, this issue is about geocoding, which ember-g-map does not even provide, it's just a map renderer

[2019-10-16 10:53] kushthedude commented on #3563
Very well said, our app is already bloated with too many dependancies.

[2019-10-16 11:06] #3556 closed

[2019-10-16 11:33] harry-wood commented on #3563
Are you sure? I tried that. Something was preventing me creating an event ("Save draft" button). Anyone else managing to create events at the moment?

[2019-10-16 11:55] kushthedude commented on #3563
Yes, When you will click on the following, Address dialogue will be expanded and you can enter address manually.
<img width="1281" alt="Screenshot 2019-10-16 at 5 24 15 PM" src="https://user-images.githubusercontent.com/44091822/66916885-d80c5600-f039-11e9-9a02-adb6dfe6402e.png">

**PS: I tried making an event live, its working**

[2019-10-17 06:54] #3560 closed

[2019-10-17 08:25] nik72619c commented on #3559
Him could you please help me with the file to make the changes ?

[2019-10-17 19:00] codedsun commented on #3529
@kushthedude @TomerPacific Can i work on this issue?

[2019-10-17 19:34] TomerPacific commented on #3529
@codedsun , there is a PR open, waiting for @kushthedude  to review it.

[2019-10-18 13:40] #3526 closed

[2019-10-19 08:09] akshat0047 commented on #3406
I would like to work on this issue @kushthedude @prateekj117

[2019-10-19 08:17] kushthedude commented on #3406
Go on, make sure you check the closed pr.

On Sat, 19 Oct, 2019, 13:40 AKSHAT PANDE, <notifications@github.com> wrote:

[2019-10-19 13:30] Batey96 opened #3565 "Too many steps to update profile image"
**Is your feature request related to a problem? Please describe.**

For an update(change) of profile image,the user is forced to first delete(and confirm delete) the present image before uploading another.The steps(3 steps) here are:
**1)Delete**
**2)confirm Delete**
**3)file select**
**4)Update the change**

**present state**

![touchedbug](https://user-images.githubusercontent.com/24868289/67145

[2019-10-19 14:11] Batey96 opened #3566 "unresponsive ticket type buttons on create event page"
**Describe the bug**

The ticket type buttons on the the create event page do not align properly on mobile devices.
We could either manage the space and fit all the buttons or present them as modalized options or stack them.In any case.

**Screenshot**
![unresponsivetick](https://user-images.githubusercontent.com/24868289/67146325-e3ea5900-f281-11e9-9967-aa92e88cfb30.png)

@CosmicCoder96  @kushthe

[2019-10-21 06:28] Semicolon10 commented on #3559
May I start on working this

[2019-10-21 17:46] mariobehling commented on #3126
Still missing:

* Invoice Format [Format Options here] (please resarch how to do it)
* Logo (enable image upload here),

[2019-10-22 07:22] maze-runnar opened #3568 "start date and time should be "before" end date and time"
** start date and time should be "before" end date and time **
At first entering end date before start date it is showing error correctly but after correcting it , it is not removing that warning and warning is "start date and time should be after date and time" while it should be "

".
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to "https://eventyay.com/"
2. Click on 'create event'
3

[2019-10-23 14:41] himanshu010 opened #3569 "event-card should respond to hover"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-10-23 15:37] snitin315 commented on #3569
I will work on this issue #3570

[2019-10-23 17:42] himanshu010 commented on #3569
Done!

[2019-10-23 19:56] DaKeiser commented on #3559
Can I take this isssue ?

[2019-10-23 21:46] kushthedude commented on #3559
@nik72619c any progress

[2019-10-23 22:12] DaKeiser commented on #3559
@kushthedude why can't we have IST/some other timezone name instead of having **+5:30 UTC** thing. Adding a **+5:30 UTC** makes it look a bit clumsier

![issue](https://user-images.githubusercontent.com/42712983/67438045-0e386f80-f610-11e9-88a3-5ccb07a80483.jpg)

I have tried both the methods as shown in the screenshot above and I personally find IST/ any other timezone depiction better than expli

[2019-10-24 07:56] SundaramDubey opened #3572 "Date and location section of search for events is not appearing in mobile view ."
**Date and location section of search for events is not appearing in mobile view .**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to main page in mobile view and full screen pc then you can see it like below .

![Screenshot from 2019-10-24 13-16-21](https://user-images.githubusercontent.com/43514004/67464841-aca0f100-f661-11e9-8ed4-56cb39f367b7.png)
![Screenshot from 2019-10-24 13-16-

[2019-10-24 15:33] DaKeiser commented on #3559
The below screenshot is the solution you are trying to ask for

![issue](https://user-images.githubusercontent.com/42712983/67500633-9e25fa00-f6a0-11e9-8bf7-9774defd7aa2.png)

This is the solution I think would look better

![issue2](https://user-images.githubusercontent.com/42712983/67501231-8e5ae580-f6a1-11e9-8722-24e851db0472.png)

If you approve I can send the PR for any one of the change righ

[2019-10-24 17:09] kushthedude commented on #3572
https://github.com/fossasia/open-event-frontend/issues/2247#issuecomment-469095512

[2019-10-24 17:09] #3572 closed

[2019-10-24 17:10] kushthedude commented on #3569
Not a priority.

[2019-10-24 17:10] #3569 closed

[2019-10-24 17:12] kushthedude commented on #3568
@maze-runnar Please give proper steps to reproduce. I am not able to reproduce this behaviour.

[2019-10-24 17:14] kushthedude commented on #3566
Fitting button in one line would make UI too ugly.
Also to display each ticket in a row just for a screen size for <468px would result in too much space utilisation. Hence the current look is fine IMO.
Also, we have quite a lot of issues to solve before getting to such minor UI makeovers.
Thanks

[2019-10-24 17:14] #3566 closed

[2019-10-24 17:54] SundaramDubey commented on #3568
Go on create event then fill start and end dates first time wrong means start time  > end time then it shows up the message "start date and time should be "after" end date and time " while it should be "start date and time should be "before" end date and time " and then fill start and end time correctly but it still shows invalid date in time section of ends .

[2019-10-24 17:56] maze-runnar commented on #3568
Go on create event then fill start and end dates first time wrong means start time > end time then it shows up the message "start date and time should be "after" end date and time " while it should be "start date and time should be "before" end date and time " and then fill start and end time correctly but it still shows invalid date in time section of ends .

[2019-10-24 18:02] kushthedude commented on #3568
Hmm Error message is incorrect, But the error disappears when I set the right time. So you just need to change the error message .

[2019-10-24 18:11] kushthedude commented on #3568
Definitely, go ahead :+1:

[2019-10-24 20:17] DaKeiser commented on #1519
@kushthedude can I take this issue ?

[2019-10-24 20:20] kushthedude commented on #1519
Sure, go ahead.

On Fri, 25 Oct, 2019, 01:47 Sai Rithwik, <notifications@github.com> wrote:

[2019-10-24 21:57] diegofreemind commented on #3494
@kushthedude this should be visible in the first column? (like 'Fisrt Event')

[2019-10-24 22:31] kushthedude commented on #3494
Yes

[2019-10-25 03:40] maze-runnar opened #3574 "Send test email box is not properly showing in mobile view"
**Describe the bug**
Send test email is not responsive
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'http://localhost:4200/admin/settings'
2. Click on 'Send Test Email '
3. the input box is not correctly showing for moble device .

**Expected behaviour**
Email box should be responsive for mobile device also .

**Screenshots**
![Screenshot from 2019-10-25 08-58-16](https://user-image

[2019-10-26 00:28] kushthedude commented on #3574
Closed by mistake. Go ahead

[2019-10-26 02:36] maze-runnar commented on #3574
ok

[2019-10-26 06:11] DaKeiser commented on #3559
@kushthedude can I send a PR now ?

[2019-10-26 08:53] maze-runnar opened #3577 "Use toggle switch instead of a button in show map"
**Use toggle switch instead of a button in show map**
I want to use a toggle swictch instead of show/hide map button in mobile view  .
![Screenshot from 2019-10-26 14-16-55](https://user-images.githubusercontent.com/56407566/67616954-dc83fc00-f7fb-11e9-8c7a-48f3d594587b.png)

**Additional context**
I want to work on this if you say so.

[2019-10-26 20:02] DaKeiser commented on #3434
Hey @liveHarshit can you tell me the steps to reproduce. I think it seems to be working.

[2019-10-27 07:03] liveHarshit commented on #3434
Try to add a speaker in your event with a jpeg format image.

[2019-10-27 08:13] maze-runnar commented on #3577
@uds5501  can i go ahead with this ?

[2019-10-27 10:18] DaKeiser commented on #3434
@liveHarshit I don't think I'm facing that issue. I have replaced a jpeg with a jpeg

![issue](https://user-images.githubusercontent.com/42712983/67633054-1541d500-f8d1-11e9-9172-ef660f2ea06d.gif)

[2019-10-27 14:12] maze-runnar opened #3578 "improving arrangements of button in table"
**Describe the bug**
improving arrangements of button in table

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'http://localhost:4200/admin/sessions/all'
2. switch to mobile view
3. Scroll right in table
4. See error
![Screenshot from 2019-10-27 14-09-46](https://user-images.githubusercontent.com/56407566/67635908-711c5600-f8f1-11e9-9d4a-24a508705d97.png)
**Expected behaviour**
I want

[2019-10-27 14:18] maze-runnar commented on #3577
@kushthedude  @uds5501  can i go ahead with this ?

[2019-10-28 11:54] #3528 closed

[2019-10-28 19:02] mariobehling commented on #3577
Current implementation is sufficient. We can think this through later again maybe, but right now we should focus on more major issues. Therefore closing it.

[2019-10-28 19:02] #3577 closed

[2019-10-29 02:52] maze-runnar commented on #3577
I am understanding what you are saying But @mariobehling i have already implemented it and it's working fine . Beside this the name of the action name is toggle map that's why i think it should be a toggle switch .
And i have already fix this -
![Webp net-gifmaker](https://user-images.githubusercontent.com/56407566/67733661-053b0a00-fa25-11e9-82f9-d3cfab34bd77.gif)

[2019-10-29 02:57] kushthedude commented on #3577
Button looks a lot great than toggle. No need for the change.

On Tue, 29 Oct, 2019, 08:22 maze-runnar, <notifications@github.com> wrote:

[2019-10-29 12:06] maze-runnar opened #3580 "Donation tickets price section's entries are not visible in mobile"
**Describe the bug**
Donation tickets price section's entries are not visible .
Steps to reproduce the behaviour:
1. Go to 'https://eventyay.com/e/ab2d63fe'
2. Go to Donation ticket's price section
3. See error , value in the entry is not visible

**Expected behaviour**
Entry should be visible to user
**Screenshots**
![Screenshot from 2019-10-29 13-18-02](https://user-images.githubusercontent.com/

[2019-10-30 02:27] #3456 closed

[2019-10-30 06:19] kushthedude commented on #3580
Duplicate of #3511

[2019-10-30 06:19] #3580 closed

[2019-10-30 06:40] maze-runnar commented on #3580
This is not diplicate @kushthedude #3511 state the responsiveness while i state only about donation ticket price section not responsive ness. #3511 screen shot not even include the donation ticket section.

[2019-10-30 06:50] kushthedude commented on #3580
It will be fixed with #3511 since both the issue are related to responsiveness, one is for table and other for the field. Hence, there is no need to open a seperate issue for both.
You may make a PR for #3511 as no one is working on it 😄

[2019-10-30 07:14] geetchoudhary commented on #3559
@nik72619c, are you still working on this?
If not @DaKeiser, you can proceed with your PR.

[2019-10-30 08:04] maze-runnar commented on #3580
thank you @kushthedude  sir

[2019-10-30 08:58] maze-runnar commented on #3580
Do i need to claim the issue at #3511 ?

[2019-10-30 08:59] kushthedude commented on #3580
Just drop a comment at #3511 , I dont think anyone's working on it lately

On Wed, 30 Oct, 2019, 14:28 maze-runnar, <notifications@github.com> wrote:

[2019-10-30 09:02] maze-runnar commented on #3580
ok :slightly_smiling_face:

[2019-10-30 09:03] maze-runnar commented on #3511
I am taking this issue .

[2019-10-30 11:39] mariobehling opened #3582 "Wrong Event Time on public page"
The FOSSASIA page shows the event starts at 4pm. The event time in the wizard is: Start 9AM. I am using a browser in Germany.

Expected: Event time should show correct local time.
![Screenshot from 2019-10-30 12-35-15](https://user-images.githubusercontent.com/1583873/67855112-1f9ee180-fb12-11e9-838d-e483ca401950.png)

Wizard time of the same event:
![Screenshot from 2019-10-30 12-38-25](https://u

[2019-10-30 12:01] maze-runnar commented on #3582
i want to work on this sir.

[2019-10-30 13:48] kushthedude commented on #3582
@maze-runnar You already have issue assigned to you, Please complete those before.

[2019-10-31 10:00] maze-runnar opened #3584 "Rename google plus entry to google groups from admin social link page"
Remove google plus entry from admin/content/social link page.
![Screenshot from 2019-10-30 10-00-11](https://user-images.githubusercontent.com/56407566/67937204-25202880-fbf3-11e9-90a3-d7e92acb3bd1.png)

**Additional context**
If this is necessary , i am working on this.

[2019-10-31 10:24] mariobehling opened #3585 "Call for Speakers: Does not show all form fields in Speaker and Session page"
In the wizard it is possible to enable/disable form fields for speakers and sessions. The form does not actually show the fields that are enabled in the speakers and session form.

Here is the wizard form. A lot of form fields are enabled, e.g. Github. But: They dont show up in the form of the speaker.

![Screenshot from 2019-10-31 11-19-33](https://user-images.githubusercontent.com/1583873/679387

[2019-10-31 11:14] kushthedude commented on #3584
Renaming it to `Google Groups` will make sense imo

[2019-10-31 11:27] kushthedude commented on #3585
Checking it, As the CFS issues were solved way back but by seeing the order of fields in session form, I think the issue is related to legacy.
@mariobehling Can you please the event name ?

[2019-10-31 11:50] maze-runnar commented on #3584
Thanks sir , it means that i have to change google plus entry to google groups.

[2019-10-31 12:01] mariobehling commented on #3585
It is not related to legacy. The event was setup as a fresh event. Please try testing it.

[2019-10-31 12:02] mariobehling commented on #3585
Also, save the event and edit it. There is also the questions if editing event is possible and if the fields change accordingly.

[2019-10-31 12:38] kushthedude commented on #3585
I got the issue for rendering, but in session the fields are jumbled which
will have to be fixed manually as it was earlier for OTS Thailand.

On Thu, 31 Oct, 2019, 17:32 Mario Behling, <notifications@github.com> wrote:

[2019-10-31 16:18] prateekj117 commented on #3585
@mariobehling Looking into it.

[2019-11-01 08:33] iamareebjamal commented on #3582
@kushthedude Update?

[2019-11-01 11:48] maze-runnar commented on #3390
@mariobehling  can you please describe this issue more clearly ?
"Please add a table with the page and functionality that uses the Captcha feature below the config option" . What this line exactly means ?

[2019-11-02 10:07] DaKeiser commented on #3582
@kushthedude Can I take this issue ? I guess https://github.com/fossasia/open-event-frontend/pull/3581 would solve the issue temporarily by mentioning the reference of the timezone. Meanwhile I will look into this issue.

[2019-11-02 18:15] iamareebjamal commented on #3582
No, that won't fix the issue. Wrong time is sent on the server, so it is stored incorrectly in the DB

[2019-11-02 18:22] kushthedude commented on #3582
The issue is not related to different locations, server is sending wrong
time. Need to debug from server.

On Sat, 2 Nov, 2019, 23:45 Areeb Jamal, <notifications@github.com> wrote:

[2019-11-02 18:26] iamareebjamal commented on #3582
server can't send wrong time. It doesn't process time at all. It returns whatever is stored in DB, so there is either a bug in event creation/edit form or event POST method (unlikely)

[2019-11-02 18:33] kushthedude commented on #3582
I will check the creation process and data getting sent to db and get back
to you.

On Sat, 2 Nov, 2019, 23:56 Areeb Jamal, <notifications@github.com> wrote:

[2019-11-03 09:19] CosmicCoder96 commented on #152
I guess no one uses sitemaps anymore, in a way the time itself was the pull request for this issue. 🌟

[2019-11-03 09:19] #152 closed

[2019-11-03 09:21] CosmicCoder96 commented on #698
Dummy sections removed, tables replaced, we no longer use Kubernetes, pages API works.

[2019-11-03 09:21] #698 closed

[2019-11-03 09:25] #2047 closed

[2019-11-03 09:26] CosmicCoder96 commented on #3484
Obsolete now as we are shifting away from Google Maps

[2019-11-03 09:26] #3484 closed

[2019-11-03 09:29] #3578 closed

[2019-11-03 09:47] #3574 closed

[2019-11-03 09:53] #3544 closed

[2019-11-03 09:54] #2797 closed

[2019-11-03 09:55] #3568 closed

[2019-11-03 12:06] kushthedude opened #3589 "Ticket Dashboard: Table CSS Overflow on Small Device Screens"
**Describe the bug**

Table CSS Overflow on Small Device Screens.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to 'Event/{event.id}/tickets'
2. See the screen with device `width < 690px`
3. See error

**Expected behaviour**

Fix the CSS Overflow

**Screenshots**

<img width="549" alt="Screenshot 2019-11-03 at 5 38 13 PM" src="https://user-images.githubusercontent.com/44091822/680848

[2019-11-03 13:20] snitin315 commented on #3589
@kushthedude I would like to work on this issue.

[2019-11-03 13:26] kushthedude commented on #3589
Sure, go ahead

On Sun, 3 Nov, 2019, 18:50 Nitin Kumar, <notifications@github.com> wrote:

[2019-11-03 13:54] kushthedude opened #3590 "Upgrade `caniuse` to remove warning"
`Browserslist: caniuse-lite is outdated. `

[2019-11-03 14:43] kushthedude opened #3592 "Event Dashboard: Weird vertical displacement on Unpublishing Event"
**Is your feature request related to a problem? Please describe.**

 Weird vertical displacement on `Unpublishing Event`

**Describe the solution you'd like**

Fix the displacement of the page .

[2019-11-03 16:47] snitin315 commented on #3589
I have fixed it by setting the css overflow property to scroll.
![Screenshot from 2019-11-03 22-16-23](https://user-images.githubusercontent.com/46647141/68088713-b4456e80-fe87-11e9-9a2d-10418ef5f4c9.png)
![Screenshot from 2019-11-03 22-16-34](https://user-images.githubusercontent.com/46647141/68088715-bc9da980-fe87-11e9-811c-0bb75aedf6ef.png)

[2019-11-03 17:22] maze-runnar commented on #3592
@kushthedude  i want to work on this .

[2019-11-03 17:24] mariobehling commented on #3585
When a new speaker submits speaker info for the first time, it still does not show all the fields. Please test with an event that shows all fields (enable all fields in wizard step 4 and test it please).
Compare https://eventyay.com/e/a74665c3/cfs/new-speaker

[2019-11-03 17:27] iamareebjamal commented on #3585
@mariobehling This fix has not been deployed yet. You can try it out on the dev instance

[2019-11-03 17:32] kushthedude commented on #3585
@iamareebjamal the session issue is still not solved

[2019-11-03 17:33] kushthedude commented on #3592
Sure go ahead

On Sun, 3 Nov, 2019, 22:52 Sundaram Dubey, <notifications@github.com> wrote:

[2019-11-03 17:34] prateekj117 commented on #3585
@kushthedude Can you please provide screenshots, I will have a look at it right away.

[2019-11-03 17:39] mariobehling opened #3594 "Speaker Editing Session: Results partly seeing admin menu"
If a speaker accesses talks through "My Sessions" (https://eventyay.com/my-sessions) and tries to edit his/her proposal the speaker sees the admin menu accesses links as the following example:
* https://eventyay.com/events/950/speakers/edit/4157
* https://eventyay.com/events/950/sessions/edit/5594
After saving the speaker sees the admin menu of the event and has access to the scheduler.

Expected:

[2019-11-03 17:42] iamareebjamal commented on #3585
@kushthedude Which fields are missing?

I can see comment, level, session type, short abstract, slide, title and track enabled. All of which are present in the form

[2019-11-03 17:48] kushthedude commented on #3585
https://github.com/fossasia/open-event-server/issues/6273

[2019-11-03 17:49] kushthedude commented on #3585
The order and the issue which I told you earlier to fix the order manually .

[2019-11-03 17:58] prateekj117 commented on #3585
@kushthedude So unordered, not missing, right?

[2019-11-03 17:59] kushthedude commented on #3585
Yup.

On Sun, 3 Nov, 2019, 23:28 Prateek Jain, <notifications@github.com> wrote:

[2019-11-03 18:01] prateekj117 commented on #3585
@iamareebjamal Ya, they are unordered. I will see if I am able to find the bug causing it.

[2019-11-03 18:05] kushthedude commented on #3585
Actually there is no bug for this, all the new events getting created are
with correct order in fields.
I have mentioned a link to issue where this was occurring before and it was
solved by manually correcting the order in DB

On Sun, 3 Nov, 2019, 23:31 Prateek Jain, <notifications@github.com> wrote:

[2019-11-03 18:06] prateekj117 commented on #3585
It was happening at my local machine as well. There must be a reason that they are rendered unordered. @iamareebjamal Need your insight.

[2019-11-03 18:10] mariobehling opened #3595 "Discount Code Orders possible even though number of discounted tickets exhausted"
Organizers have the option to limit discount tickets. Even though the number is exhausted users can still get discounted tickets. This should not be possible.

Replicate: Go to event dashboard, click on "Tickets" choose "Discount" on the left sidebar and create a discount code. Use this discount code and try to buy tickets after you ordered the number of max. discount tickets. It will still work.

[2019-11-03 18:25] mariobehling opened #3596 "Rename "Print Invoice" to "Download Invoice""
On the ticket order page the print invoice is actually a download invoice button.

Please change it accordingly.

![Screenshot from 2019-11-03 19-23-43](https://user-images.githubusercontent.com/1583873/68090047-9e2bb400-fe6f-11e9-8d3f-6822cc42e16d.png)

[2019-11-03 18:32] iamareebjamal commented on #3585
Because there is no order defined in the backend, so they are returned in the order of IDs. That is another issue and should be solved by allowing the admin to reorder the fields. Fixing it in the DB is a workaround. Let's create another issue for that

[2019-11-03 18:32] #3585 closed

[2019-11-03 18:37] JanPokorny opened #4446 "Scheduler is somewhat broken"
**Describe the bug**
Hi, just tried out EventYay, the version at eventyay.com. The scheduler seems broken -- some sessions disappeared when reloading the scheduler, and when moving sessions, some disappear and some even duplicate. The broken state even persists page reloads.

**To Reproduce**
Steps to reproduce the behavior:
1. I'm not really sure what I did wrong, just registered and placed some

[2019-11-03 19:57] #3596 closed

[2019-11-03 20:44] #3590 closed

[2019-11-03 22:30] prateekj117 opened #3598 "Improvements in Add New Custom Form Widget"
**Describe the bug**
`Add Custom Field` Widget needs some improvements:
 - Add another Custom Field Button Available even when Session and Speakers are
   turned off.
 - When clicked, there is no way to delete the row/field if someone doesn't
   want to add a custom field. And when sessions and speakers are enabled, and
   someone clicked the `Add Custom Field` button, but don't want to submit a

[2019-11-04 01:29] kushthedude commented on #3598
@prateekj117 Except for the UI enhancements, Is the custom form feature working as expected?

[2019-11-04 03:30] prateekj117 commented on #3598
@kushthedude Not sure. Will test that. Add urgent as well as we are planning for the next release soon. We should atleast solve the display of `true` before the release.

[2019-11-04 03:52] kushthedude commented on #3598
Ohh, custom widget will be released in next release too 😩

[2019-11-04 03:54] prateekj117 commented on #3598
Not sure. @iamareebjamal Need your insight. I was thinking to atleast solve the obvious errors before the release.

[2019-11-04 03:57] kushthedude commented on #3598
We cant make next release until its properly tested or another idea is to comment the widget for now just for this release and make it usable until next release.
@iamareebjamal ?

[2019-11-04 04:03] iamareebjamal commented on #3598
Hide it for now

[2019-11-04 05:01] kushthedude opened #3599 "Hide Custom Widget temporarily"
See Chat here https://github.com/fossasia/open-event-frontend/issues/3598

[2019-11-04 06:20] maze-runnar commented on #3592
i have find the reason ,
![Screenshot from 2019-11-04 11-47-07](https://user-images.githubusercontent.com/56407566/68102469-eb079d00-fef8-11e9-9459-d64935ca1ba8.png)
but i need some help . why it is there ?

[2019-11-04 06:29] maze-runnar commented on #3592
Same problem is in export tab also .
THis is showing an extra div while {{unverified-user-message}} is not present there .

[2019-11-04 06:29] maze-runnar commented on #3592
So i added a condition to check if {{unverified-user-message}} is present or not .

[2019-11-04 06:51] iamareebjamal commented on #3598
And the same approach should be followed in future. Hidden in prod and visible in dev until completely tested and ready

[2019-11-04 07:35] maze-runnar opened #3602 "show more call for speaker button is visible while there is only one CFS is present"
**Describe the bug**
show more call for speaker button is visible while there is only one CFS is present
**Expected behaviour**
the button should be visible when number of call for speaker event is greater than 3

**Screenshots**
![Screenshot from 2019-11-04 12-55-52](https://user-images.githubusercontent.com/56407566/68105162-ad5c4180-ff03-11e9-908a-0603f6ed37ca.png)

**Additional context**
I am

[2019-11-04 15:07] kushthedude commented on #3602
Duplicate of #3309

[2019-11-04 15:07] #3602 closed

[2019-11-04 15:36] snitin315 opened #3603 "Weird Alignment of ticketing system buttons on small screen"
**Describe the bug**
The ticketing system buttons(i.e. free ticket, paid ticket ,donation ticket) on the create event page have weird alignment on small screens. The boundaries of donation ticket and free ticket button are overlapping.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/create'
2. Scroll down to 'Ticketing system'
3. Inspect and See error

**Expected behaviour**
The don

[2019-11-04 22:29] #3599 closed

[2019-11-05 01:57] maze-runnar commented on #3602
I saw that #3309 is opened by you .
Can i go ahead with that if you say so?

[2019-11-05 01:59] kushthedude commented on #3602
Sure

On Tue, 5 Nov, 2019, 07:27 Sundaram Dubey, <notifications@github.com> wrote:

[2019-11-05 02:11] maze-runnar commented on #3309
I am working on it .

[2019-11-05 14:14] damn-dvlpr commented on #3559
@kushthedude Sir, Is this issue closed or can i start working upon it?

[2019-11-05 14:48] damn-dvlpr opened #3604 "Cluttered footer"
**Describe the bug**
This is not particularly a bug, but an UI enhancement.

The footer looks very cluttered as of now, both in desktop and mobile view.

[2019-11-05 14:52] damn-dvlpr commented on #3604
I would like to work upon this.

[2019-11-05 14:52] snitin315 opened #3605 "Manage Event Dashboard : css overflow of search-box on small screen devices"
**Describe the bug**

There is css-overflow of search-box on small screen devices in manage event dashboard .
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Manage events section  under profile tabs.
![Screenshot from 2019-11-05 20-18-40](https://user-images.githubusercontent.com/46647141/68217944-825c1580-0009-11ea-825d-1537bbbe91d0.png)
'
2. Click on 'Manage Events'
3. Now inspect

[2019-11-05 15:21] DaKeiser commented on #3559
@damn-dvlpr I have already sent a PR. Waiting for a review

[2019-11-05 16:30] maze-runnar commented on #3309
@kushthedude i want to use following helper for application of greater than with if

where i should keep this fuction ?

[2019-11-05 16:33] maze-runnar commented on #3309
if there is any other way to use greater than ( > ) with if statement , please help me with it !

[2019-11-05 20:04] kushthedude commented on #3604
Can you be a little more specific ?

[2019-11-05 23:55] kushthedude opened #3608 "CI: Travis Builds are failing"
Travis Builds are failing due to `login/logout` timeout .

All acceptance tests related to `Login` are failing .

[2019-11-06 00:24] kushthedude commented on #3605
Fix it in #3593

[2019-11-06 01:32] snitin315 commented on #3605
@kushthedude  can you point me to the corresponding file??

[2019-11-06 02:01] kushthedude commented on #3608
cc:- @CosmicCoder96

[2019-11-06 06:07] damn-dvlpr commented on #3604
The footer looks very big, we can clean it up a little up by diving the Categories section into 2 or more columns.

[2019-11-06 06:14] kushthedude commented on #3604
The footer seems nice with 4 column layout, Can you please give what you
proposing since making it two column will make it look overcluttered and
ugly.

On Wed, 6 Nov, 2019, 11:37 Naimish Rastogi, <notifications@github.com>
wrote:

[2019-11-06 06:14] ketul08 commented on #3559
@kushthedude  can i work on it ?

[2019-11-06 22:32] kushthedude commented on #3608
Fixed on development server

[2019-11-06 22:32] #3608 closed

[2019-11-07 04:00] mariobehling commented on #3604
Improving this is relevant. However right now we need to focus our developer resources on high priority issues. We will have to come back to design questions another time and right now we are not able to solve issues like that. Thank you. Closing it therefore.

[2019-11-07 04:00] #3604 closed

[2019-11-07 04:06] mariobehling commented on #3582
Accessing the site from different timezones shows a different event time. It seems the system takes the time from browser through IP. And there is a conflict in the logic somewhere as the event time should be displayed according to the event time zone instead of the user's time (or the browser).

Same problem with timezone applies to ticket sales time. If I enter ticket sales end 23.59 for the eve

[2019-11-07 04:21] ImShashikant commented on #3582
Hi @mariobehling, may I work on this issue?

[2019-11-07 04:24] kushthedude commented on #3582
@mariobehling I have tried to access the same from different timezones,
time is consistent
 As @iamareebjamal said wrong time is getting stored to Db which I will
check again

On Thu, 7 Nov, 2019, 09:51 Shashikant, <notifications@github.com> wrote:

[2019-11-07 07:24] iamareebjamal commented on #3582
It is even stored incorrectly in the DB, so it is not just the matter of frontend shifting timezone
event.starts-at is tored as "2020-03-19T08:00:00+00:00" in DB
Which is 4 PM in Singapore Time (+8). So, if it meant to be 9 AM Singapore time, it should be stored as "2020-03-19T01:00:00+00:00" in DB. So it is an issue with saving event wizard

[2019-11-07 07:25] kushthedude commented on #3582
Okay, so it is confirm that event time is not changing with ip location.
its issue with time stamp getting saved by event wizard.

On Thu, 7 Nov, 2019, 12:54 Areeb Jamal, <notifications@github.com> wrote:

[2019-11-07 07:27] iamareebjamal commented on #3582
@kushthedude It may be doing it according to the browser timezone as well, so it might be a bug there too. IP location != browser timezone. Even if you use VPN, your browser will show same timezone. But as @mariobehling and I both see 4 PM, it is most likely not depending on the timezone of the user

[2019-11-07 07:52] iamareebjamal commented on #3582
When loading the event wizard, it initially shows 8 and 16 to me and then changes it to 13:30 and 21:30. +5:30, so the bug is in the event wizard. First, of all, it should not convert to the user timezone, but the event timezone which is selected in the dropdown, so Singapore. Then, when sending the time to server, it sends the time adjusting to local timezone again, where it should adjust to even

[2019-11-07 08:05] iamareebjamal opened #3609 "Automate test account creation in tests"
@iamareebjamal All the tests related to `Login` are failing again, I have restarted the build for development branch if it doesn't correct up. I will open an issue and debug it.
PS: The following failure has no related to this PR, Hence it's safe to merge.

_Originally posted by @kushthedude in https://github.com/fossasia/open-event-frontend/pull/3606#issuecomment-550061511_

Steps taken to fix it

[2019-11-07 17:36] maze-runnar commented on #3309
@kushthedude  @uds5501 please help me with this ?

[2019-11-07 23:57] kushthedude commented on #3309
Implement a computed function in controller.

On Thu, 7 Nov, 2019, 23:06 Sundaram Dubey, <notifications@github.com> wrote:

[2019-11-08 11:34] #3589 closed

[2019-11-08 11:36] kushthedude commented on #3605
Fixed in #3593

[2019-11-08 11:36] #3605 closed

[2019-11-08 13:59] maze-runnar opened #3612 "Search box is not looking normal"
**Describe the bug**
Search box is looking weird .
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'http://localhost:4200/events/195ea1ec/tickets/add-order'
2. See error
![Screenshot from 2019-11-01 17-56-48](https://user-images.githubusercontent.com/56407566/68481572-98faaa80-025d-11ea-8426-4d295ea1caa0.png)
![Screenshot from 2019-11-01 17-56-45](https://user-images.githubusercontent.

[2019-11-08 14:26] kushthedude commented on #3612
To solve overflow, we have done this. Also, no issue in the first one since on small screens it would be difficult to touch on the following.

[2019-11-08 14:26] #3612 closed

[2019-11-08 14:42] maze-runnar commented on #3612
So it should be modified in 3rd image . take a look at 3rd image please.

[2019-11-08 14:43] maze-runnar commented on #3612
3rd image is from the same website from another webpage .and both are Looking differ that's why i think one of these should be change

[2019-11-08 14:47] kushthedude commented on #3612
Its due to space constraint and class differences .

[2019-11-08 14:47] kushthedude commented on #3612
Improving this is relevant. However, right now we need to focus our developer resources on high priority issues. We will have to come back to design questions another time and right now we are not able to solve issues like that. Thank you. Closing it, therefore.

[2019-11-08 14:51] prateekj117 commented on #3612
@kushthedude If the issue is relevant, don't close it. Just mark it with low priority.

[2019-11-08 14:55] kushthedude commented on #3612
https://github.com/fossasia/open-event-frontend/issues/3604#issuecomment-550680096

[2019-11-08 15:06] maze-runnar commented on #3612
I will get back to it later :smile:

[2019-11-08 15:51] Rajchowdhury420 opened #3613 "Vulnerability : Cookie No HttpOnly Flag"
**Description of The Bug**
A cookie has been set without the HttpOnly flag, which means that the cookie can be accessed by JavaScript. If a malicious script can be run on this page then the cookie will be accessible and can be transmitted to another site. If this is a session cookie then session hijacking may be possible.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click o

[2019-11-09 09:16] maze-runnar commented on #3510
@kushthedude  if no one is working  on it , can i go ahead with this issue ?

[2019-11-09 10:24] kushthedude commented on #3510
Sure but refrain from using custom css

On Sat, 9 Nov, 2019, 14:46 Sundaram Dubey, <notifications@github.com> wrote:

[2019-11-09 10:28] geetchoudhary commented on #3559
This issue has been assigned to someone else, you can look for other issues to solve.

[2019-11-09 10:51] DaKeiser commented on #3559
@geetchoudhary I have submitted the PR long ago. Can you look into it? Thanks :)

[2019-11-09 10:55] kushthedude commented on #3559
I know your PR is long due, Actually we are facing some issues in Time
Widgets recently, Hence I have not reviewed it. Once, the issue is solved
be assure it will be moved forward. In the meantime you may contribute to
other issues.
Thanks for the wait.

On Sat, 9 Nov, 2019, 16:21 Sai Rithwik, <notifications@github.com> wrote:

[2019-11-09 10:59] maze-runnar commented on #3510
Ok

[2019-11-09 12:28] Rajchowdhury420 commented on #3613
@mariobehling @CosmicCoder96 Please Review

[2019-11-09 22:28] mariobehling commented on #3523
Error is: Missing url param: "client_id". (Looked for: property named "clientId".. Please try again

[2019-11-09 22:30] mariobehling commented on #3523
![Screenshot from 2019-11-09 23-27-37](https://user-images.githubusercontent.com/1583873/68535836-f7508780-0348-11ea-81eb-95bc2a7c9929.png)

[2019-11-09 22:43] kushthedude commented on #3523
We debugged the cause for it development env and it was due to clientID not
flowing.
The following didnt occur on production at that time, will check into it
again.

On Sun, 10 Nov, 2019, 04:00 Mario Behling, <notifications@github.com> wrote:

[2019-11-10 07:33] iamareebjamal commented on #3559
Why add UTC when the time is shown in event timezone? Makes no sense

[2019-11-10 07:46] iamareebjamal commented on #3582
@kushthedude Update?

[2019-11-10 09:06] SimranArora123 opened #3616 "Event card should respond to hover"
I would like to share my idea of adding animation i.e **the event card should respond to hover**
for example in the gif shown below we can replace the arrow with some text which will describe the events .

![GIF-191110_122208-1](https://user-images.githubusercontent.com/52946773/68540483-dfb0e780-03b8-11ea-97ef-56a459fc483c.gif)

[2019-11-10 09:09] prateekj117 commented on #3616
@SimranArora123 This seems like a good idea. Though we have some other important bugs in the system right now. Meanwhile, if you like you can go ahead with this issue. @iamareebjamal Can you mark this with appropriate tags?

[2019-11-10 09:13] SimranArora123 commented on #3616
Okay i will work on this.

[2019-11-10 09:28] iamareebjamal commented on #3616
Hi, this is not relevant right now. There are other UI bugs we'd like to focus on before enhancements. Moreover, for design changes, we need to take opinions of other team members. So, it'd be great if you take up issues right now rather than enhancements

[2019-11-10 09:28] #3616 closed

[2019-11-10 09:56] SimranArora123 opened #3617 "Spacing between the text in event card"
In the event card there is **less spacing** between the last line (hashtag) and the boundary.
![Screenshot (142)](https://user-images.githubusercontent.com/52946773/68542045-b3ec2c80-03cd-11ea-8170-f6bca639b2f4.png)

**Additional context**
I will work on this issue.

[2019-11-10 11:09] kushthedude commented on #3617
Improving this is relevant. However, right now we need to focus our developer resources on high priority issues. We will have to come back to design questions another time and right now we are not able to solve issues like that. Thank you. Closing it, therefore.

[2019-11-10 11:09] #3617 closed

[2019-11-10 11:09] kushthedude commented on #3613
@iamareebjamal ?

[2019-11-10 11:16] iamareebjamal commented on #3613
No indication which cookie. Do we have to guess it now?

If a malicious script is run on `this page` - which page?
If a malicious script is run, it'll simply get the tokens stored in localstorage and send to its server. JWT tokens used for auth are being stored in local storage, not cookies

Exactly, you haven't even told the name of the cookie you are mentioning and are speculating `if this is se

[2019-11-10 11:28] kushthedude opened #3618 "Migrate to ES6 syntax for the webapp"
We have already introduced ES6 in various places in our app.

It would be great if we could completely migrate our app to ES6 syntax during code heat.

**Point to remember:**
- Before making any PR for the migration, Each and Every functionality for the following component should be tested as we have less coverage for code. We need to make sure no functionality break during the following.

[2019-11-10 12:06] #3594 closed

[2019-11-10 13:19] SimranArora123 opened #3620 "Some things are not visible on small screen"
There are two things which are not visible on small screen:
1. The heading **"EVENTYAY"** on the top-left side is not visible.(nav bar)
2. The **"ENTER LOCATION"** and **"ALL DATE"** input boxes are missing.

![Screenshot_20191110-184310_Samsung Internet](https://user-images.githubusercontent.com/52946773/68544577-b0b36980-03ea-11ea-8d97-983f14d64f6e.jpg)

[2019-11-10 17:44] iamareebjamal commented on #3613
Will reopen if required info is added

[2019-11-10 19:09] maze-runnar commented on #3510
@kushthedude Sticky means , side bar should move side by side with scroll  or it should be fixed at top , i just get confused :smile:

[2019-11-11 04:00] kushthedude commented on #3510
Side bar should always be stick to top.

On Mon, 11 Nov, 2019, 00:39 Sundaram Dubey, <notifications@github.com>
wrote:

[2019-11-11 04:01] maze-runnar commented on #3510
Ok

[2019-11-11 04:53] kushthedude commented on #3620
Hmm, We need to remove `Open Event` and replace it.

Regarding the second point which you said, its not needed right now its a design choice we opted for the present

[2019-11-11 04:54] kushthedude commented on #3613
Closing for now. Thanks

[2019-11-11 04:54] #3613 closed

[2019-11-11 05:24] SimranArora123 commented on #3620
@kushthedude what should we  write in the place of open event?

[2019-11-11 05:27] kushthedude commented on #3620
See how it is done in wide screen, we should display application baje e
entered in settings.

On Mon, 11 Nov, 2019, 10:54 SimranArora123, <notifications@github.com>
wrote:

[2019-11-11 18:20] SimranArora123 opened #3622 "Problem in the size of table in small screen"
In the column (subtotal) the information are not inside the box
![Screenshot_20191111-233745_Samsung Internet](https://user-images.githubusercontent.com/52946773/68610508-ed13c200-04dd-11ea-9ae4-ea039ab1216f.jpg)

i will work on this issue.

[2019-11-12 04:32] maze-runnar commented on #3622
Duplicate #3511

[2019-11-12 04:38] snitin315 commented on #3622
Fix it in #3583

[2019-11-12 12:59] maze-runnar commented on #2689
i am working on this.

[2019-11-12 18:13] uds5501 commented on #3622
Closing as duplicate of #3511. @SimranArora123 if you find any new issue please feel free to report it!

[2019-11-12 18:13] #3622 closed

[2019-11-12 18:17] uds5501 commented on #3565
This does look good. have you prepared the PR? @Batey96

[2019-11-12 18:50] prateekj117 commented on #3523
@kushthedude Are you working on this? This seems urgent.

[2019-11-13 03:18] kushthedude commented on #3523
Yes, I am still on it.
On Wed, 13 Nov, 2019, 00:20 Prateek Jain, <notifications@github.com> wrote:

[2019-11-13 06:54] #3309 closed

[2019-11-14 09:01] kushthedude commented on #3518
Frontend PR is ready for the same, hope it will be closed by weekend.

[2019-11-14 12:00] maze-runnar commented on #3532
@kushthedude i was just watching this issue . I found that

is not workin perhaps , i have changed the value of  _**this.debounceDataLoadTime**_ but that does not made any difference .(open-event/app/components/ui-table-server.js) . please help me if i am missing something .

[2019-11-14 14:06] sharmaaditya570191 opened #3623 "Development branch deployment link not working"
**Describe the bug**
Deployment link(https://opev-event-fe.netlify.com) for development branch of open-event-frontend is not working.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to README.md.
2. Click on https://opev-event-fe.netlify.com.
4. See error

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Browser: Firefox
 - Version: 70.0.1

**Additional Context**

[2019-11-16 07:35] himanshu010 opened #3625 "There is css-overflow of subtotal tab on small screen devices in tickets"
**Describe the bug**

There is css-overflow of subtotal tab on small screen devices in tickets .

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Homepage'
2. Click on 'any of the ticket'
3. Scroll down to 'tickets section'
4. Now inspect in responsive mode for small screens
5. See error

**Expected behaviour**

The table should have a scroll property on overflow
**Screenshots**

![Sc

[2019-11-16 08:43] snitin315 commented on #3625
Duplicate #3511

[2019-11-16 08:54] himanshu010 commented on #3625
yess you are right.
Closing it as duplicate of #3511

[2019-11-16 08:54] #3625 closed

[2019-11-16 11:46] himanshu010 commented on #3620
I will work on this issue

[2019-11-16 15:59] sharmaaditya570191 opened #3627 "Server error when getting a list of event invoices"
**Describe the bug**
Server returns 500 internal server error if we try to access event invoices under Account-->Billing Info.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Account after logging in from your account.
2. Click on Billing Info tab.
3. Go to Invoices tab.
4. See error

**Expected behaviour**
A list of event invoices if they exist otherwise a message displaying "No even

[2019-11-16 17:02] maze-runnar opened #3628 "Export as drop down is not proper in mobile view"
Export as drop down is not proper in mobile view
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'http://localhost:4200/events/e377db2d/tickets/orders/completed'
2. switch to mobile view
**Screenshots**
![Screenshot from 2019-11-01 17-52-47](https://user-images.githubusercontent.com/56407566/68996487-cb8d4e80-08c0-11ea-8c66-dfaef31a245f.png)

![Screenshot from 2019-11-01 17-52-52](http

[2019-11-16 17:24] nishantwrp commented on #3529
@kushthedude I'd like to work on this issue

[2019-11-16 18:05] nishantwrp opened #3631 "Organizer app landing page: The image in the organizer app landing app is too large"
**Describe the bug**

Image used in the `Organizer App` Landing is much larger than it should be.

**Screenshots**

![Screenshot_20191116_231105](https://user-images.githubusercontent.com/36989112/68997193-a4874a80-08c9-11ea-8751-2f49799d6627.png)

**Desktop (please complete the following information):**
 - OS: Manjaro Linux
 - Browser : Firefox

[2019-11-16 19:21] prateekj117 opened #3632 "Send event timing in event timezone to server"
**Describe the bug**
Make frontend send event timings in event timezone and render time correctly on the event basic details page.

**Additional context**
Look https://github.com/fossasia/open-event-frontend/issues/3582 for more details.

[2019-11-16 20:39] #3623 closed

[2019-11-16 20:49] iamareebjamal opened #3634 "Use route based chunking to reduce JS"
Right now, megabytes of unneeded JS are loaded for the user to access eventyay.com

For a user to see the landing page with few images and cards of events, 6-8 MB of JS is not needed. Every 3rd party library and component with Admin Panel code is loaded for a single read only page.

Bundles should be split by route and only loaded on the routes where they are needed

[2019-11-16 20:53] sharmaaditya570191 opened #3635 "Add scroll to top button for long pages"
**Is your feature request related to a problem? Please describe.**
It will take time to scroll pages like event browsing if there are large number of events.

**Describe the solution you'd like**
A scroll to top button will enhance user experience by allowing users to scroll to top on a single click.

**Additional context**
I am working on this.

[2019-11-17 00:46] snitin315 commented on #3634
I @iamareebjamal  , can I work on this issue??

[2019-11-17 00:53] snitin315 commented on #3631
I guess `display: flex , align-items: center` will make it look better,

[2019-11-17 00:54] snitin315 commented on #3631
@nishantwrp  , can I work on this issue?

[2019-11-17 01:37] iamareebjamal commented on #3634
Yes

[2019-11-17 02:40] maze-runnar commented on #3532
@iamareebjamal can you please clear my doubt , described above .

[2019-11-17 08:27] nishantwrp commented on #3631
@snitin315 Sure!

[2019-11-17 08:48] iamareebjamal commented on #3532
Try making debounceValue to 20000, so you can confirm it is not changing anything

[2019-11-17 08:53] sharmaaditya570191 commented on #3627
Hi @iamareebjamal . Could you please tell how to resolve this?

[2019-11-17 08:57] iamareebjamal commented on #3627
By debugging the server

[2019-11-17 09:05] sharmaaditya570191 opened #3638 ""Passwords do not match" displayed when no password is entered"
**Describe the bug**
"Passwords do not match" is displayed for Re-enter password field when no password is entered on **Register** page.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Register page.
2. See error

**Expected behaviour**
Live check of re-enter password field should be done only if password field is not empty.

**Screenshots**
![Screenshot from 2019-11-16 17-20-45](http

[2019-11-17 09:22] kushthedude commented on #3635
Can think about this at later period of time.

[2019-11-17 09:22] #3635 closed

[2019-11-17 09:24] maze-runnar commented on #3638
@sharmaaditya570191 i didn't find it .
![Screenshot from 2019-11-17 14-51-56](https://user-images.githubusercontent.com/56407566/69005563-e22bb800-0949-11ea-8f8c-52fbd65db2e8.png)

[2019-11-17 09:27] maze-runnar commented on #3638
I think first you entered any password then erase it that't why it is showing password didn't match .

[2019-11-17 11:29] maze-runnar commented on #3532
i made it 20000 too ,but it doesn't make a difference .

[2019-11-17 11:30] kushthedude commented on #3532
Try using setTimeout before the following. We just need a delay before
calling the search function.

On Sun, 17 Nov, 2019, 16:59 Sundaram Dubey, <notifications@github.com>
wrote:

[2019-11-17 11:30] maze-runnar commented on #3532
ok

[2019-11-17 11:32] maze-runnar commented on #3532
can you please tell me in which function to use setTimeOut ?

[2019-11-17 11:42] sharmaaditya570191 commented on #3638
Hi @maze-runnar . Yes this was the case but as I have deleted both it should update.

[2019-11-17 11:52] maze-runnar commented on #3638
You will find this pattern on every page. IMO this is not a bug .

[2019-11-17 11:55] iamareebjamal commented on #3532
There's already debounce function there, no use of setTimeout

[2019-11-17 11:58] maze-runnar commented on #3532
Why the debounce is not working then?

[2019-11-17 12:48] sharmaaditya570191 commented on #3638
Ok @maze-runnar then I should close the issue.Thanks for your input.

[2019-11-17 12:48] #3638 closed

[2019-11-17 14:13] iamareebjamal commented on #3532
That, you need to debug and find out. Welcome to software development

[2019-11-17 14:14] maze-runnar commented on #3532
Thanks :smile:

[2019-11-17 16:39] #3603 closed

[2019-11-17 18:47] maze-runnar commented on #3532
@kushthedude  i have used this condition that if search parameter is greater than 2 then search will occur , it will give user time to search and table will not be appear/disapper after each keystroke.

[code]

[2019-11-17 18:50] maze-runnar commented on #3532
I have tried "settimeout"  too but it is returning OOPs :smile:
![Screenshot from 2019-11-17 23-29-21](https://user-images.githubusercontent.com/56407566/69012185-0793e280-0999-11ea-86e1-a7962a264101.png)

[2019-11-18 09:06] maze-runnar commented on #3532
@kushthedude  please check if it fine, so that i can proceed with it .

[2019-11-18 12:05] kushthedude commented on #3631
Not Required as of current scope. Thanks please look into other bugs .

[2019-11-18 12:05] #3631 closed

[2019-11-18 12:31] kushthedude commented on #3634
Isnt it same as #2849 ?

[2019-11-18 12:39] iamareebjamal commented on #3634
No, that's about calling external services. You may not remove JS and still not call any external services

[2019-11-18 12:58] kushthedude commented on #3564
@iamareebjamal I was thinking to implement a toggle for the following in the Admin panel. How does that sound?

[2019-11-18 13:07] iamareebjamal commented on #3564
First fields need to be added in settings and a field to select which one is enabled

[2019-11-19 02:21] kushthedude commented on #3564
Yes, thats what I am thinking in place of checking the key provided at
runtime.

On Mon, 18 Nov, 2019, 18:37 Areeb Jamal, <notifications@github.com> wrote:

[2019-11-19 04:02] mariobehling opened #3640 "Wizard: Clicking "Forward" on Existing Events shows "Object not found""
No matter if the user changes or does not change anything in the event wizard, clicking forward on previously existing events results in "Object not found" error message. The user is not able to change the event.

![Screenshot from 2019-11-19 11-57-56](https://user-images.githubusercontent.com/1583873/69115678-5ee2a180-0ac4-11ea-837f-d75006b97aa4.png)

[2019-11-19 06:11] iamareebjamal commented on #3564
environment variables as they are used right now

[2019-11-19 13:06] kushthedude commented on #3640
@prateekj117 Can you please check the reproducibility ?

[2019-11-19 17:50] #3437 closed

[2019-11-19 22:11] #3632 closed

[2019-11-19 22:45] iamareebjamal opened #3642 "Admin Search allows for server DOS"
Another problem with providing a lot of power with JSON:API is that it comes with a lot of responsibility on client side. A client can easily self DOS server with queries which it thinks are innocuous. This is what admin search does now.

First of all, it sends search filter events on every keystroke, an issue for which is already opened #3532

But that is not the main issue. Let's say I search fo

[2019-11-20 14:06] iamareebjamal commented on #3642
#637 is the first PR to introduce `include` parameter in filters if I am right

[2019-11-20 15:39] niranjan94 commented on #3642
@iamareebjamal very good point and this is something that has really gone out of hand.

**Possible solution:**

1. Add a debounce to the keyword search. No use making a request for every keystroke.
2. Disable include. It has always been quite hard to manage. If FE needs more info, let it use the specific relationship's endpoint instead. That way clients will be forced to think and download only th

[2019-11-20 16:18] iamareebjamal commented on #3642
Yes, agree on all 3.

1. Debounce was set but not working, so @prateekj117 suggested to only search on enter, which will reduce even more queries for the time being.
2. Agree. Besides, for open event, we don't have many models where include is helpful. For eg, session, speakers and tracks info can and should be loaded separately with paging. It's not like facebooks need of loading post with actors

[2019-11-20 18:40] #3582 closed

[2019-11-20 18:49] kushthedude commented on #3642
@prateekj117 Did you debug why it is not working ?

[2019-11-21 20:48] #3532 closed

[2019-11-21 22:03] mariobehling opened #3647 "Changing date of ticket sales results in date change of ticket bought"
Please try this:
1. Change the end of sales date of tickets
2. Observe the date tickets have been bought in "Orders" and "Attendees"
Result the date will change to the date when you changed the ticket sales date.

Expected: The attendees/orders list should always show the date orders were made.

![Screenshot from 2019-11-22 06-01-21](https://user-images.githubusercontent.com/1583873/69380634-d6dfe

[2019-11-22 04:49] sharmaaditya570191 opened #3648 "New account creation with same email is allowed"
**Describe the bug**
The system currently allows to create 2 accounts with same email id.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Register page.
2. Create new account with same registered email id.

**Expected behaviour**
2 accounts with same email id should not be allowed.

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Browser: Firefox
 - Ver

[2019-11-22 04:50] sharmaaditya570191 commented on #3648
Hi @iamareebjamal . Should we keep only 1 email id per account?

[2019-11-22 04:55] prateekj117 commented on #3648
Hey @sharmaaditya570191. Yes definitely we keep only 1 email id per person. No two accounts should have the same emails. But we do already have a checker for that. Can you please share the screenshot of the two users rows with same email id.

[2019-11-22 05:55] iamareebjamal commented on #3648
This is not a frontend issue

[2019-11-22 15:14] sharmaaditya570191 commented on #3647
Hi @mariobehling . I am unable to reproduce the error on my system.In the process I get the following error on clicking view button to view the event I created. Could you please guide me on this?
![Screenshot from 2019-11-22 20-48-38](https://user-images.githubusercontent.com/42587159/69437020-80fc4e00-0d68-11ea-9fb0-206b574b4874.png)
![Screenshot from 2019-11-22 20-48-54](https://user-images.gith

[2019-11-23 04:46] iamareebjamal opened #3650 "Speakers Page also DOSes the server"
https://eventyay.com/e/3689bc98/speakers (DO NOT OPEN!!! It will crash the server)

When accessing speakers page, the frontend sends query to acess all sessions of all speakers in separate queries, then all tracks of all all those sessions, and then all microlocations of all those tracks. All of this happens without include, so there are 1000s of requests handled by the server within seconds.

If

[2019-11-23 06:58] maze-runnar opened #3651 "A proper regex for passwords"
Go to "https://open-event-fe.netlify.com/account/password"
Reset the password , now there is only a single restriction that the password length should be greater than 8 . I think there should be a proper regex for that .
It is not showing any error for setting "////////" as a password .
![Screenshot from 2019-11-23 12-26-44](https://user-images.githubusercontent.com/56407566/69474883-8dc28580-0dec